[2021-12-07 17:48] #2865 closed

[2021-12-07 17:50] davidiseminger commented on #2878
Thanks for your comment, @JayPat65. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-07 17:50] #2878 closed

[2021-12-07 17:55] davidiseminger commented on #2896
Good point! I've tried to clarify that distinction in that section, to make it clearer about Premium vs shared capacities. There is still the concept of shared (non-Premium) capacities.

[2021-12-07 17:55] #2896 closed

[2021-12-07 17:57] davidiseminger commented on #2902
Thanks for your comment, and apologies for the delay. R packages and versioning is managed by the engineering team as their bandwidth and priority allow. Your best bet is to find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-07 17:57] #2902 closed

[2021-12-07 18:01] davidiseminger commented on #2904
You're right! Sorry about that, I've updated that sequence in the article.

[2021-12-07 18:01] #2904 closed

[2021-12-07 18:04] davidiseminger commented on #2908
This has been updated in the document, and in recent releases of Power BI Desktop. Thanks!

[2021-12-07 18:04] #2908 closed

[2021-12-07 18:07] davidiseminger commented on #2935
Thanks for the comment! We've fixed the YES/NO issue for MariaDB. On the support for DQ, those have been checked recently and are up to date. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2021-12-07 18:07] #2935 closed

[2021-12-07 18:09] davidiseminger commented on #2959
The article has been reviewed for accuracy, so I believe it's correct. Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom of the article page.

[2021-12-07 18:09] #2959 closed

[2021-12-07 18:09] davidiseminger commented on #2971
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-07 18:09] #2971 closed

[2021-12-07 18:11] davidiseminger commented on #2981
Thanks for your comment! This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. If you learn from the community or support that this article does indeed need updated, feel free to reopen this with the information and refere

[2021-12-07 18:11] #2981 closed

[2021-12-07 20:57] davidiseminger commented on #2984
Hi @KerryWang94 and thanks for your comment. I think that's fairly self-evident, that an OData source must have an OData service.

[2021-12-07 20:57] #2984 closed

[2021-12-07 20:58] davidiseminger commented on #2986
This has been fixed - thanks!

[2021-12-07 20:58] #2986 closed

[2021-12-07 21:04] davidiseminger commented on #2988
It states that this is possible in the first paragraph.

[2021-12-07 21:04] #2988 closed

[2021-12-07 21:07] davidiseminger commented on #2990
Thank you for your input, I've reworded that sentence for clarity.

[2021-12-07 21:07] #2990 closed

[2021-12-07 21:08] davidiseminger commented on #2992
Thanks for your comment, @djpirra. This looks like a support request rather than documentation feedback, especially for this article. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-07 21:08] #2992 closed

[2021-12-07 21:10] davidiseminger commented on #2996
I believe you're asking how to ungroup a group you've created - you simply select the group, and choose the Ungroup button.

[2021-12-07 21:10] #2996 closed

[2021-12-07 21:11] davidiseminger commented on #3001
We've updated the article to show (and highlight) the currently supported version.

[2021-12-07 21:11] #3001 closed

[2021-12-07 21:17] davidiseminger commented on #3010
I've updated the documentation for terminology about on-premises data gateway (personal mode). For your questions about the feature itself (whether it requires a gateway at all, which one) you can ask (again) in the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom of the arti

[2021-12-07 21:17] #3010 closed

[2021-12-07 21:18] djpirra commented on #2992
Hi David,

Thank you for your comment.
I really believe that this information would be valuable to have on the
technical documentation and available for all of the infrastructure and
networking architects and in order for them to make reliable and timely
decisions.
Obtaining support from the community is great but now always considered by
customers as a trusted source specially regarding networkin

[2021-12-07 21:19] davidiseminger commented on #3015
This issue has been fixed, thanks!

[2021-12-07 21:19] #3015 closed

[2021-12-07 21:22] davidiseminger commented on #3016
I don't see the passage you're referring to in this article, it may have been updated since you posted.

[2021-12-07 21:22] #3016 closed

[2021-12-07 21:23] davidiseminger commented on #3017
We've updated that screen shot. Thanks!

[2021-12-07 21:23] #3017 closed

[2021-12-07 21:24] davidiseminger commented on #3023
Thanks for your recommendation, we'll look at adding that information in the next refresh of the content.

[2021-12-07 21:24] #3023 closed

[2021-12-08 00:10] maggiesMSFT commented on #3456
Hi, @rjagdon -- thanks so much for your comments! We're working on the update.

[2021-12-08 00:10] #3456 closed

[2021-12-08 00:18] davidiseminger commented on #3043
You're right! Thanks for pointing that out, I've updated the article and it will update with the next build, likely tomorrow.

[2021-12-08 00:18] #3043 closed

[2021-12-08 00:22] davidiseminger commented on #3030
I've added a link to the Security whitepaper article, which goes into detail about such matters.

[2021-12-08 00:22] #3030 closed

[2021-12-08 00:24] davidiseminger commented on #3032
I'm not sure what you mean by "1st party / internal" subscriptions. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 00:24] #3032 closed

[2021-12-08 00:26] davidiseminger commented on #3037
Sorry about that typo, it's been fixed in the article.

[2021-12-08 00:26] #3037 closed

[2021-12-08 00:26] davidiseminger commented on #3044
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 00:26] #3044 closed

[2021-12-08 00:29] davidiseminger commented on #3069
Thanks for pointing that out! Fixed the issue, it'll show up in the next Docs build.

[2021-12-08 00:29] #3069 closed

[2021-12-08 00:31] davidiseminger commented on #3086
Yes, Premium Per User is a Premium subscription. Hope that helps.

[2021-12-08 00:31] #3086 closed

[2021-12-08 00:33] davidiseminger commented on #3199
Updated!

[2021-12-08 00:33] #3199 closed

[2021-12-08 00:33] davidiseminger commented on #3176
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 00:33] #3176 closed

[2021-12-08 00:34] davidiseminger commented on #3175
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 00:34] #3175 closed

[2021-12-08 00:38] davidiseminger commented on #3214
Thanks for the suggestion. It's in another part of the article, but I also added a link for how to do so in the Next Steps section.

[2021-12-08 00:38] #3214 closed

[2021-12-08 09:51] mjonkus opened #3468 "Unclear how to use field 'TimePoint' in the updated Utilization report"
Power BI Capacity Utilization And Metrics was recently updated and has a new field - 'TimePoint'

But it is not clear in the app what is the purpose of the field. In the documentation of this page, recent changes to the report are not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcddef48-ab1d-cdd2-900a-9b9f3

[2021-12-08 13:05] KesemSharabi commented on #3468
Hi @mjonkus,

Thank you for your comment. I'll update the [Use the Gen2 metrics app](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-metrics-app) article in the following days and add some information about the timepoint page.

In the meantime you can find all the information in the app's internal help.

Hope this helps,

Kesem

[2021-12-08 13:08] KesemSharabi commented on #3467
Thanks for your comment, @SudeshSharma.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2021-12-08 13:08] #3467 closed

[2021-12-08 18:02] davidiseminger commented on #3348
I've added a note about large datasets and Premium capacities. Thanks for your post.

[2021-12-08 18:02] #3348 closed

[2021-12-08 18:09] davidiseminger commented on #3339
Thanks for your post! We've updated the textbox description. We're investigating the comment about tile refresh and its implication for the article, too.

[2021-12-08 18:09] #3339 closed

[2021-12-08 18:13] davidiseminger commented on #3087
Thanks for your comment. A PPU or Premium capacity works for Premium. I've added clarification in the article.

[2021-12-08 18:13] #3087 closed

[2021-12-08 18:15] davidiseminger commented on #3089
We're in the process of updating all connector documentation and will update accordingly. Meanwhile, you might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 18:15] #3089 closed

[2021-12-08 18:16] davidiseminger commented on #3100
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests. While what you found might work, it may not be a supported scenario.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can als

[2021-12-08 18:16] #3100 closed

[2021-12-08 18:24] davidiseminger commented on #3112
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-08 18:24] #3112 closed

[2021-12-08 18:28] davidiseminger commented on #3120
Thanks for the clarification! I've updated that in the article.

[2021-12-08 18:28] #3120 closed

[2021-12-08 18:33] davidiseminger commented on #3129
This is great! Thanks for taking the time to post this alternative, I've added it to the article.

[2021-12-08 18:33] #3129 closed

[2021-12-08 19:17] davidiseminger commented on #3102
Hello @AnooshaGarimella - the documentation is correct. Impala is supported, and a gateway is required, as described.

This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 19:17] #3102 closed

[2021-12-08 23:15] davidiseminger commented on #3101
Thanks for your post @rosscouldrey and the follow-up @vtitte2020. The whitepaper is in the process of being updated, and that passage will be corrected. Meanwhile, to be clear, the Power BI Data Sources article is correct.

[2021-12-08 23:15] #3101 closed

[2021-12-08 23:16] davidiseminger commented on #3238
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-08 23:16] #3238 closed

[2021-12-08 23:19] davidiseminger commented on #3241
Hello @DistinctiveJay -- yes, Power BI Desktop must be updated manually. With recent versions, if you open Desktop and it's not current, you'll be alerted that a more recent version is available.

Power BI Desktop gets updated every month, with added functionality and improvements. Keep coming back for the updates, and check out the following article, which provides pointers to each update: https:

[2021-12-08 23:19] #3241 closed

[2021-12-08 23:22] davidiseminger commented on #3242
Thanks for your feedback. Many of the data sources in Power BI Desktop and the Power BI service are similar, but there are some data connectors that are only available in Desktop. For a full list of data connectors for Desktop, please see the following article: https://docs.microsoft.com/power-bi/connect-data/desktop-data-sources

[2021-12-08 23:22] #3242 closed

[2021-12-08 23:24] davidiseminger commented on #3255
Thanks for your post. There is no hidden or undocumented shortcut keys. You can use keyboard-based menu navigation to get to its menu-item or ribbon-item button.

[2021-12-08 23:24] #3255 closed

[2021-12-08 23:25] davidiseminger commented on #3268
Thanks for your comment, @federiconasta. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-08 23:25] #3268 closed

[2021-12-08 23:30] davidiseminger commented on #3287
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-08 23:30] #3287 closed

[2021-12-08 23:33] davidiseminger commented on #3131
Great point! I've made that change, thanks for taking the time to clarify that - the update will appear in the next build of our Docs, likely tomorrow.

[2021-12-08 23:33] #3131 closed

[2021-12-08 23:35] davidiseminger commented on #3148
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-08 23:35] #3148 closed

[2021-12-08 23:37] davidiseminger commented on #3183
Thanks for your comment. We're in the process of updating and shifting our connector content to reside in the Power Query docs exclusively, and this update / convergence will occur when that is complete. Thanks again.

[2021-12-08 23:37] #3183 closed

[2021-12-08 23:39] davidiseminger commented on #3185
Thanks for your comment! We've updated that passage and removed those date-based references.

[2021-12-08 23:39] #3185 closed

[2021-12-08 23:41] davidiseminger commented on #3186
Hi Chris, and thanks for your question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

If you do learn, through community or support, that it also applies for MCA, let us know here (or a new post) and we'll be happ

[2021-12-08 23:41] #3186 closed

[2021-12-09 02:37] ShenSilva opened #3469 "Power BI Report Server"
How can i open PowerBI Report Server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f2a19e-3613-9ec0-8818-8f76d3c7eef9
* Version Independent ID: 0b8ebf11-af44-2556-db7c-766d5f844c98
* Content: [How to configure Power BI report scheduled refresh - Power BI](https://docs.microsoft.com/en-us/power-bi/report-server/confi

[2021-12-09 02:41] maggiesMSFT commented on #3469
Hi, @ShenSilva -- have you checked out this article yet?
https://docs.microsoft.com/en-us/power-bi/report-server/install-report-server
It may help. Thanks!

[2021-12-09 05:36] erapade commented on #2988
@davidiseminger:  I can’t see that it’s described in the first section. The documentation describes how to connect to one Cube and one Excel file, but not two Cubes. IE what about if also Budget would have been a Cube (not an Excel file). This is not addressed at all and not listed as a limitation

[2021-12-09 07:49] KesemSharabi commented on #1852
Hi @TravisKale,

Can you please post a snippet of the log containing this event (DeleteDatasetRows)?

Thanks,

Kesem

[2021-12-09 07:56] IsmaelRDeMelo opened #3470 "The PowerBI 'Button > Navigator' isn't working, when I click on it, nothing happens"
[Insira comentários aqui]

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 99728831-9577-faee-e82a-8def045dadea
* Version Independent ID: 99728831-9577-faee-e82a-8def045dadea
* Content: [The new Format pane in Power BI Desktop (preview) - Power BI](https://docs.microsoft.com/pt-br/power-bi/fundamentals/desk

[2021-12-09 08:51] rushirvk94 opened #3471 "Incremental refresh :-While peforming Join/Merge works on Partition basis"
Hi Team ,Myself Rushikesh Power BI support Engineer and recently I worked on case 2108120050001721 for which we created ICM https://portal.microsofticm.com/imp/v3/incidents/details/264421215 there we came to know from Product Team that while performing join/Merge operation on 2 tables which have incremental refresh policy enabled ,power bi service performs join on the basis of unique column used i

[2021-12-09 11:49] v-jastanek opened #3473 "Dataflow refresh - Orchestration"
[Enter feedback here]
**Current docs statement:**
Using dataflows in the same workspace allows straightforward orchestration. If you have dataflows A, B and C in a single workspace, and chaining like A > B > C, then if you refresh the source (A), the downstream entities also get refreshed. However, if you refresh C, then you'll have to refresh others independently.

**Scenario to be covered in doc

[2021-12-09 15:51] mberdugo commented on #3470
Thanks for your comment, @IsmaelRDeMelo, I've assigned this to the author for review.

[2021-12-09 15:55] mberdugo commented on #3471
Thanks for your comment, @rushirvk94
I've assigned this issue to the doc author for review.

[2021-12-09 15:58] mberdugo commented on #3473
Thanks for your comment, @v-jastanek
I've assigned this issue to the doc author for review.

[2021-12-09 17:55] Sh5678 commented on #3468
Thank you for planning to update the doc.. Since its not yet published, can you share the same in your reply here?

[2021-12-09 18:07] davidiseminger commented on #3285
Thanks for pointing this out! I've added that (and others) to the tables in that article.

[2021-12-09 18:07] #3285 closed

[2021-12-09 18:08] davidiseminger commented on #3024
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2021-12-09 18:08] #3024 closed

[2021-12-09 18:11] davidiseminger commented on #3027
Thanks for your feedback - that limitation in the article has been removed.

[2021-12-09 18:11] #3027 closed

[2021-12-09 18:16] MattWoodEQR opened #3474 "Hyperlinks take users to outdated docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4810006b-6245-ccd5-0d2d-9b1089eb06ab
* Version Independent ID: fe970573-f765-75dc-048e-40ef64cf4285
* Content: [Power BI Premium Per User - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-premium-per-user-faq)
* Content Source: [powe

[2021-12-09 18:22] davidiseminger commented on #3078
Thanks for the insights and suggestions! I've added those steps to this tutorial.

[2021-12-09 18:22] #3078 closed

[2021-12-09 18:24] Minewiskan commented on #3471
@rushirvk94 - Rushikesh, could you be more clear on what exactly you want clarified in the docs? I can't tell from the ICM and from your description what the issue is, and where, and why any changes to the docs would help clarify the issue.
Thanks

[2021-12-09 18:26] davidiseminger commented on #3127
Thanks for your comment! I've updated the article to reflect this limitation.

[2021-12-09 18:26] #3127 closed

[2021-12-09 18:35] davidiseminger commented on #3136
Thanks for your comments! I've corrected that entry for PostreSQL, and will review your other question for inclusion in our content.

[2021-12-09 18:35] #3136 closed

[2021-12-09 18:39] davidiseminger commented on #3218
Sorry for the confusion. I've adjusted that sentence to make it clearer.

[2021-12-09 18:39] #3218 closed

[2021-12-09 18:40] #3219 closed

[2021-12-09 18:44] davidiseminger commented on #3229
Thanks for your comment. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2021-12-09 18:44] #3229 closed

[2021-12-09 18:48] davidiseminger commented on #3230
Thanks for your comment. I don't see in the (current) article where it states this limitation. If you can specify the passage, I'll be happy to confirm and update.

[2021-12-09 18:48] #3230 closed

[2021-12-09 18:52] Minewiskan commented on #3471
Moving to internal channels.

[2021-12-09 18:52] #3471 closed

[2021-12-09 19:00] maggiesMSFT commented on #3470
Hi, @IsmaelRDeMelo -- this sounds like a bug. Can you check the support site, https://powerbi.microsoft.com/en-us/support/?
Also, the December release of Power BI Desktop is coming soon. Perhaps if this isn't working for you, the new release will work.
THanks!

[2021-12-09 19:00] #3470 closed

[2021-12-09 21:01] IsmaelRDeMelo commented on #3470
Hi,

I really really really loved the fact you answered to this question that I made in a desperate act of hope, haha
I found the solution, I just needed to press ‘Ctrl + click’, I apologize for the incovenient 😊

Bests Regards,
Ismael Rodrigues

De: Maggie ***@***.***>
Enviado:quinta-feira, 9 de dezembro de 2021 16:00
Para: ***@***.***>
Cc:Ismael ***@***.***>; ***@***.***>
Assunto: Re: [Microsoft

[2021-12-09 22:31] maggiesMSFT commented on #3470
@IsmaelRDeMelo -- oh, of course, because you are in Power BI Desktop! I should've thought of that. Glad you figured it out!

[2021-12-09 23:56] wgbrown opened #3475 "Use of Group policy to restrict uncertified visuals"
This (subject in title) is incorrect and does not work.  Please remove the section on group policy in PBI desktop ability to limit use of uncertified visuals.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bf91c4-cbf2-0b4c-2532-4ade0d56afee
* Version Independent ID: 687beece-c5e9-070f-9794-fc6569bb09b0
* Content: [Or

[2021-12-10 08:36] Bafff opened #3476 "Update documentation regarding users using social identities"
Hi!

Can you be more clear in docs regarding does @gmail/outlook/aol email accounts are supported or not because in our experience we just cannot even get successful login in PowerrBI working for those external users?

See discussion here: https://community.powerbi.com/t5/Service/Work-or-School-Account-required-when-sharing-with-hotmail/m-p/2202492

---
#### Document Details

⚠ *Do not edit this s

[2021-12-10 16:50] davidiseminger commented on #3474
Thanks for your comment, I've assigned the content owner to review.

[2021-12-10 16:51] davidiseminger commented on #3475
I've assigned this to the content author to review.

[2021-12-10 16:57] davidiseminger commented on #3476
Thanks for your comment, and for the links to the community discussion. I'll look into this and update the article with any results or definitive answers we find.

[2021-12-10 17:01] davidiseminger commented on #3280
Thanks for your comment. We're in the process of updating the connector articles and will take this into consideration as we make that move.

Meanwhile, you can visit this article for the most updated content on connecting to Oracle. https://docs.microsoft.com/en-us/power-query/connectors/oracledatabase

[2021-12-10 17:01] #3280 closed

[2021-12-10 17:03] davidiseminger commented on #3288
Thanks for posting! I've updated that article to reflect the new maximum.

[2021-12-10 17:03] #3288 closed

[2021-12-10 17:12] davidiseminger commented on #3311
Thanks for your clarifications. I've updated the article to reflect these.

[2021-12-10 17:12] #3311 closed

[2021-12-10 17:13] davidiseminger commented on #3322
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-12-10 17:13] #3322 closed

[2021-12-10 19:08] georgedarakji commented on #1852
@KesemSharabi below is a screenshot. I am pulling the audit log using the API and this is what I am getting in the screenshot.
![image](https://user-images.githubusercontent.com/57322126/145628362-9d637409-040a-458a-a517-493a7325066e.png)
@TravisKale please jump in if you can and provide a snippet too

[2021-12-10 22:55] jasonhendrix opened #3477 "Is Mailchimp deprecated?"
This page shows that Mailchimp is supported.  However, another page (https://docs.microsoft.com/en-us/power-query/connectors/mailchimp) shows that it is deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Conten

[2021-12-11 15:33] paulinbar commented on #3477
Hi @jasonhendrix, thanks for your observation. I am forwarding it along to the doc owner for consideration.

[2021-12-12 06:31] mberdugo commented on #3423
This tutorial has been updated and will be published in the next few days.
https://docs.microsoft.com/power-bi/developer/visuals/unit-tests-introduction

[2021-12-12 06:31] #3423 closed

[2021-12-12 10:01] RonaiBertalan commented on #3468
Hi !
I really tried to find that "internal help" but could not so I'll check back here later to find the info about what I am supposed to enter for the timepoint field.
Thanks in advance!
Bertie

[2021-12-12 13:31] KesemSharabi commented on #1852
Thanks @TravisKale, I'm pulling the engineering team to look into this and will update you shortly.

[2021-12-12 15:35] #3392 closed

[2021-12-12 15:35] #3376 closed

[2021-12-12 15:35] #3369 closed

[2021-12-12 15:36] #3357 closed

[2021-12-12 15:36] #3291 closed

[2021-12-13 11:36] olam-MCA opened #3479 "Wrong rule on Roles in the new workspaces Power BI : MEMBER need a PRO LICENSE even if Workspace is in PREMIUM"
Hi,
Roles in the new workspaces in Power BI - Workspace role :
in the matrix : View and interact with an item. (5) => All Roles
Mention (5) Even if you don't have a Power BI Pro license, you can view and interact with items in the Power BI service if the items are in a workspace in a Premium capacity.
is Wrong :
A member that havent a PRO license cant access to the Worksapce even if the Workspace

[2021-12-13 13:14] paulinbar commented on #3479
Hi @olam-MCA, thanks for your comment. My initial testing indicates that this is indeed the case. I am forwarding your comment along to the doc owner. Thanks!

[2021-12-13 16:28] itsnotaboutthecell opened #3480 "Clarity for on-demand refresh"
"Datasets workload - scheduled refresh, on-demand refresh, background query (after refresh)"

From the above line, can you please clarify if the line "on-demand refresh" includes the REST API and process events via XMLA commands. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e7d18dd-7459-baea-2c12-fc47ffcd

[2021-12-13 18:39] maggiesMSFT commented on #3480
Hi, @itsnotaboutthecell -- thanks for your question! Referring you to the author and closing this issue.

[2021-12-13 18:39] #3480 closed

[2021-12-13 22:13] NikhilPodishetti opened #3481 "Missing Action setting for Button (for Drill through)"
Hi, that was an awesome experience using the new format pane. But, here is the thing - I liked the new option to navigate / bookmark pages for buttons but I am using Drillthotugh to buttons which I usually select through the action setting, but now in the new format pane, I couldn't see that. Can anyone explain how can I do that using the new Action pane?

---
#### Document Details

⚠ *Do not edit

[2021-12-13 22:20] maggiesMSFT commented on #3481
Hi @NikhilPodishetti -- good catch, thanks for asking! A new release of Power BI Desktop should be coming out this week, and it'll feature updates to the Format pane. Check it out and see if that answers your questions!

[2021-12-13 22:20] #3481 closed

[2021-12-13 22:38] NikhilPodishetti commented on #3481
Thank you. That's all I need :)

[2021-12-14 01:40] maggiesMSFT commented on #3479
Hi, @olam-MCA -- I've confirmed with the product team that the documentation is correct as written. If you're seeing something else, please report a bug on the support site!
https://powerbi.microsoft.com/en-us/support/
thanks!

[2021-12-14 01:40] #3479 closed

[2021-12-14 01:42] maggiesMSFT commented on #3469
Hi, @ShenSilva -- closing this issue for now. Feel free to open another issue if you still have a question. Thanks!

[2021-12-14 01:42] #3469 closed

[2021-12-14 11:48] otravers opened #3482 "Link to JavaScript Filters is deprecated"
The section on CUSTOMDATA() mentions JavaScript filters but points to a deprecated page:
https://github.com/Microsoft/PowerBI-JavaScript/wiki/Filters#page-level-and-visual-level-filters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8345d077-5dab-e3b0-4109-facb509c8b68
* Version Independent ID: c666ff4f-6f8d-28b6-c4cf-

[2021-12-14 12:38] mberdugo commented on #3482
Thanks for your comment, @otravers .
This page is currently undergoing a complete update. It might take a while before it is live with all the changes.
In the meantime, if you need help with this issue, you can try contacting [support](http://support.powerbi.com/).

[2021-12-14 12:38] #3482 closed

[2021-12-14 16:47] WoodenArch commented on #3468
Hi,
I think the internal help is supposed to be the example that is provided in the field - not that it works.
@KesemSharabi could you provide a TimePoint entry that would work for us until you refresh the documentation?

Thanks,
Martin

[2021-12-14 17:09] mjonkus commented on #3468
I used the example provided in the field to get it working. But not sure
how to put alternative format for my locale.

On 2021-12-14, Tue at 18:47, WoodenArch ***@***.***> wrote:

--
-
Pagarbiai
Mindaugas Jonkus

[2021-12-14 18:51] RonaiBertalan commented on #3468
Thanks for trying everyone! Additonal question: what does that Timepoint field do?

[2021-12-15 02:36] mitchonfire opened #3483 "A stated limitation has an undocumented workaround "Guest users can't use Power BI desktop to connect to service datasets in the Power BI service""
**RE: Considerations and Limitations "Guest users can't use Power BI desktop to connect to service datasets in the Power BI service"

A workaround which I managed to figure out:**

1) Guest can author a report in PBI Desktop against the XMLA Endpoint of the external tenant's Dataset using "Analysis Services" datasource provider (replace "/myorg/" with "/tenantname.onmicrosoft.com/")

**NOTE**: _th

[2021-12-15 14:03] KesemSharabi commented on #3483
Hi @mitchonfire,

Can you please indicate which document this relates to?

Thanks,

Kesem

[2021-12-15 15:16] anna907 opened #3484 "Navigation bar title text saying Preview, but feature is apparently in GA?"
[Enter feedback here]
Hello

Looking at the document https://docs.microsoft.com/en-us/power-bi/admin/service-premium-backup-restore-dataset

On the left side there is the navigation pane - in the Title text for this doc it says 'Preview'. According to my understanding this feature is in GA already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-12-15 21:07] mitchonfire commented on #3483
Hi Kasem,

Strange how the comment lost it's context, anyway was feedback for :
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-azure-ad-b2b#considerations-and-limitations

On Thu, 16 Dec 2021 at 00:03, Kesem Sharabi ***@***.***>
wrote:

[2021-12-16 03:04] maggiesMSFT commented on #2741
Hi, @AeliusRuivus and @haydnr -- sounds like you were able to connect via email, so I'm closing this issue. Thanks so much for the in-depth and cordial conversation!

[2021-12-16 03:04] #2741 closed

[2021-12-16 03:19] maggiesMSFT commented on #2389
Hi, @haider392 -- sorry for the extended delay! You're right that Premium has different size limits, so I've added a link to https://review.docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is?branch=pr-en-us-6976#large-datasets from this article.
However, I was able to confirm that the 250 MB limitation for keeping the Excel experience instead of importing the data is correct.
Thanks!

[2021-12-16 03:19] #2389 closed

[2021-12-16 09:38] paulinbar commented on #3123
Hi Bob, a while back we had an inquiry from a customer regarding the deprecation of the graph security connector. In our article we point to your documentation where there is a note, but apart from saying they should use another connector, there is no guidance or recommendation. Is there further information that you can give or is that it? Thanks,
Paul
@bezhan-msft

[2021-12-16 14:52] lordneeko opened #3485 "PBI Flow Connector documentation: This documentation needs an example on how to export a single visual by name"
The document provides how to get the "bookmark name" and the "page name' from the url, but i can find nothing on the internet to tell me how to use the "visual name" optional field to extract just a single visual.  I need this because the connector doesn't currently allow me to export (underlying or summary) data to a csv or xlsx so when I need to archive something I cannot do it, so I want to arc

[2021-12-16 16:02] mberdugo commented on #3484
Thanks for your comment, @anna907 .
I've assigned this issue to the doc author to confirm and update.

[2021-12-17 06:14] PaulKlerkx opened #3486 "Another Issue plus fix for Power BI Desktop Store Version."
Hi,
Not an Issue, just another entry for your page.  We had the following issues with the Power BI Desktop store version.

SYMPTOMS
 - starting Power BI gives the message " Hmmmm... can't reach this page.  ms-pbi.pbi.microsoft.com's server IP address could not be found.
 - Application event log message - The description for Event ID 1 from source MSOLAP$AnalysisServicesWorkspace_0822eaf6-5c17-4ef6

[2021-12-17 10:43] GraemeSMiller opened #3487 "Power BI Emedded Paginated Report - Docs Out Of Date"
"Power BI dataset is not supported as a datasource."

Doesn't Power BI Embedded now support Power BI Dataset as a data source for embedded reports https://powerbi.microsoft.com/en-us/blog/power-bi-december-2021-feature-summary/#post-18168-_Toc89785252?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d53eef67-91ce-691f-5

[2021-12-17 17:14] davidiseminger commented on #3485
Thanks for your comment. We’ve forwarded your feedback to the writer, who will respond to this thread. Thanks!

[2021-12-17 17:24] davidiseminger commented on #3486
Thanks for your comment, @PaulKlerkx - great idea! I've added your work-around to that article, should show up in a day or two. Thanks!

[2021-12-17 17:24] davidiseminger commented on #3486
Fixed!

[2021-12-17 17:24] #3486 closed

[2021-12-17 17:25] davidiseminger commented on #3487
Thanks for your comment, @GraemeSMiller. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2021-12-17 18:17] lordneeko commented on #3485
Thank you @davidiseminger  I've also run into some major bugs with this connector, but I cannot find where I can report those.

[2021-12-17 20:06] maggiesMSFT commented on #3485
Hi, @lordneeko -- thanks for your comment! I'm checking with the product group about your initial comments, and I'll let you know what I hear back.
For the major bugs, I recommend contacting https://powerbi.microsoft.com/en-us/support/.
Thanks!

[2021-12-17 20:18] maggiesMSFT commented on #3460
Hi, @chrismanuel1993 -- thanks for asking! I've added this sentence to the article, to clarify:

- External users can't subscribe themselves to reports or dashboards. Only people in an organization can subscribe external users, if the content is in a Premium capacity workspace or app.

The change will be live this afternoon Pacific time, Dec 17, 2021.
Thanks!

[2021-12-17 20:18] #3460 closed

[2021-12-18 19:08] mberdugo commented on #3487
Thanks for bringing this to my attention, @GraemeSMiller. You are correct.
This page will be updated (hopefully this week) to reflect the change.

[2021-12-19 07:40] mberdugo commented on #3487
Hi @GraemeSMiller, I just checked with the developers and it appears that there have been some hurdles and this change has been postponed to mid January. As of now, Power BI dataset is still not supported as a datasource. I'll update the page when it becomes relevant. Thanks again for your question.

[2021-12-19 07:40] #3487 closed

[2021-12-20 09:35] KesemSharabi commented on #3483
Hi @mitchonfire,

Thanks for letting me know which article you're referring to. I'll look into the the workaround you suggested, keep you posted re updating the article.

Thanks,

Kesem

[2021-12-20 09:50] KesemSharabi commented on #3474
Hi @MattWoodEQR,

Can you please specify which hyperlink/s you're referring to?

Thanks,

Kesem

[2021-12-20 10:00] KesemSharabi commented on #3463
Hi @oussama70,

Sorry to here that you find this article confusing. Did you look at the Premium Gen2 articles. The original Power BI Premium capacities will shortly be phased out, see [Plan your transition to Power BI Premium Gen2](https://docs.microsoft.com/power-bi/admin/service-premium-transition-gen1-to-gen2). Due to this reason, we'll not be updating the Premium articles.

I suggest that you

[2021-12-20 10:04] KesemSharabi commented on #3390
Hi @elfohl,

I added the [National cloud supportability](https://docs.microsoft.com/power-bi/admin/service-premium-transition-gen1-to-gen2#national-cloud-supportability) section to the [Plan your transition to Power BI Premium Gen2](https://docs.microsoft.com/power-bi/admin/service-premium-transition-gen1-to-gen2) article.

Once again, thank you for your comment and for getting involved.

Kesem

[2021-12-20 10:04] #3390 closed

[2021-12-20 10:10] #3265 closed

[2021-12-20 10:34] GraemeSMiller commented on #3487
@mberdugo That is a pity it has been pulled. We were about to start implementing it. Thanks for letting us know. Look forward to Mid Jan

[2021-12-20 11:05] floemmel opened #3490 "Confusing metrics in table"
On the bottom of the page there is a table outlining the limitations. This shows the CPU time per minute, however in all the capacity metrics it is calculated per 30 seconds. Therefore in e.g. a P1 capacity you have 120s CPU for a 30 seconds interval, in this table it says however that you have 240 per Minute. While of course both is correct, this is confusing and should be aligned in my opinion.

[2021-12-20 11:17] #3090 closed

[2021-12-20 11:41] KesemSharabi commented on #3475
Hi @wgbrown,

Can you please confirm which version of Power BI Desktop you're using?

Thanks,

Kesem

[2021-12-20 19:24] Didierma92 opened #3491 "Apply security filter in both directions."
Hi folks,
I can see that we should apply Apply security filter in both directions. in this doc : but what for ? and what usage for not activating security filter in both directions checkbox in the relation definition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7bffc1-7691-53e6-c582-c17b3f4c03da
* Version Independ

[2021-12-20 21:30] mitchonfire commented on #3483
Great, thanks Kasem.

On Mon, 20 Dec 2021 at 19:35, Kesem Sharabi ***@***.***>
wrote:

[2021-12-20 22:09] maggiesMSFT commented on #3490
Hi, @floemmel --thanks for letting us know! Assigning to the author for consideration.

[2021-12-20 22:10] maggiesMSFT commented on #3491
Hi, @Didierma92 -- thanks for your question! Assigning to the author for consideration.

[2021-12-21 08:35] KesemSharabi commented on #3484
Hi @anna907,

Thank you for your comment and for pointing this out. I removed 'preview' from the table of contents, see [Backup and restore datasets with Power BI Premium](https://docs.microsoft.com/power-bi/admin/service-premium-backup-restore-dataset).

Thanks,

Kesem

[2021-12-21 08:35] #3484 closed

[2021-12-21 09:32] olam-MCA commented on #3479
Hello, Thank you for your answer.
I persist by checking on my side with other users of my organization :
User U1 : Get Proc license
Workspace WS1 : Premium Kind ( Diamond )
U1 is added as "Member" on WS1.
U1 trying to access to WS1 he have a msg : "Upgrade to a PRO License to access "

a) Is it a transient issue ?
b) User must NOT be added as member as he get a PRO License ?
c) This page contain a

[2021-12-21 09:35] grzegorzwierzbicki opened #3492 "Minor correction"
This is a minor correction.
Command **Set-MsolCompanySettings** is part of the MSOL PowerShell module - not Azure AD PowerShell module

_If you want to disable all self-service sign-ups, change a setting in Azure Active Directory named AllowAdHocSubscriptions by using Azure AD PowerShell commands. Follow the steps in this article to Set MsolCompanySettings. This option turns off self-service sign-

[2021-12-21 13:59] anna907 opened #3493 "The definition of Power BI PaaS Embedded"
[Enter feedback here]

Looking at this doc - in the Considerations and Limitations, this text
"The visual isn't supported for PaaS embedded scenarios, nor in Sovereign Cloud scenarios"

I am having hard time finding any definition for this 'PaaS embedded' in Power BI documentation. I find only definitions for 'app owns data' or 'embed for your customer' scenarios but not a word about 'PaaS embedde

[2021-12-21 16:11] paulinbar commented on #3123
Hi @bkinnan2, at long last I have it definitively that there is no guidance regarding what to use in the Graph Security connector's place. I have suggested that at least that should be made explicit in the deprecation notice, but I am not sure the notice will be changed. In any event, the [Power BI Community]( https://community.powerbi.com) might be a good place to possibly find others who are in

[2021-12-21 16:11] #3123 closed

[2021-12-21 16:13] paulinbar commented on #3453
Hi @georgedarakji, thanks for your input again. As we discussed, the article has been updated and should be more informative now.
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#workspaces

[2021-12-21 16:13] #3453 closed

[2021-12-21 16:16] paulinbar commented on #3493
Hi @anna907, thanks for your feedback about the definition of Pass embedded. I have forwarded it along to the owner of that content for consideration.
Again, thanks for your time in reaching out to us!

[2021-12-21 16:19] paulinbar commented on #3492
Hi @grzegorzwierzbicki, thanks for your observation. I'm passing it on to the owner of that content for action.

[2021-12-21 20:51] wgbrown commented on #3475
Hi, I have word that this was fixed..  I work at MS and my customer
reported this and was acknowledged as a bug  at the time.  I noticed the
doc was still the same but heard that this was resolved.  I'm waiting for
the customer to test now.

I'll escalate via support if it is repoed

Thanks - close this for now

On Mon, Dec 20, 2021 at 3:41 AM Kesem Sharabi ***@***.***>
wrote:

[2021-12-22 04:48] maggiesMSFT commented on #3479
Hi, @olam-MCA -- I've confirmed with the product team again that the documentation is correct as written. They encourage you to report a bug on the support site!
https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2021-12-22 08:38] mberdugo commented on #3493
Hi @anna907, thanks for your question. I checked and the limitation is for "embed for your customers".
I'll notify the the author of this document to clarify. @maggiesMSFT

[2021-12-22 16:45] ChiliGuy opened #3494 "What happened to button actions?"
I'm using the new formatting pane... I've added a button to my report and I want to set the button to drill through to another page. However, there is nowhere I can find the "Action" selection like there was in the old format! Where did it go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99728831-9577-faee-e82a-8def0

[2021-12-23 01:40] maggiesMSFT commented on #3494
Hi, @ChiliGuy -- have you downloaded the latest version of Power BI Desktop? A lot of formatting options weren't in the November version of the Formatting pane, but button actions are there in the December version, version 2.100.785.0 64-bit (December 2021)
Check it out 😁

[2021-12-23 01:40] #3494 closed

[2021-12-23 01:53] maggiesMSFT commented on #3493
Thanks, @anna907 and @mberdugo ! Updating the article to replace "PaaS embedded" and a link to a related article. Update should be live tomorrow Thurs Dec 12, or Mon Dec 17 at the latest, depending on holiday schedules.

[2021-12-23 01:53] #3493 closed

[2021-12-23 01:54] maggiesMSFT commented on #2747
Hi, @SQLGuyJPS -- of course you're so right! Article has been updated in the meantime. Thanks!

[2021-12-23 01:54] #2747 closed

[2021-12-23 01:57] maggiesMSFT commented on #2746
Thanks, so much, @VsabGit -- you're right, and the Limitations and considerations section has been updated accordingly. Thanks!

[2021-12-23 01:57] #2746 closed

[2021-12-23 02:00] maggiesMSFT commented on #2707
Hi, @Piquet65 -- I believe the brackets and underscores are correct now. Please do let me know if not.
Thanks!

[2021-12-23 02:00] #2707 closed

[2021-12-23 07:21] gigatt-jm opened #3495 "Apply Query Changes Later in Power BI Service"
[Hi,  I'm wondering if it is possible to apply the query changes made on Power BI Desktop LATER on Power BI SERVICE by pressing the "Refresh Now" button on the Power BI Service webpage.
I edited the query on Power BI DESKTOP and selected "Close" (instead of "Close & Apply"), and then saved and uploaded the pbix file to Power BI Service. After pressing the "Refresh Now" button on Power BI Service,

[2021-12-23 10:08] paulinbar commented on #3483
Hi @mitchonfire, I am engaging the product team to discuss your workaround.
Thanks!

[2021-12-23 10:28] paulinbar commented on #3444
Hi @embeau,
I tried again with this version (2.100.785.0 64-bit (December 2021)), and I still see the alt text box. Have you tried the current version? In the meantime I am closing this issue, but if you have the current version and still don't see the alt text field, please open this issue again. Thanks!

![image](https://user-images.githubusercontent.com/54644589/147226920-1a95a276-790e-42ed-beb

[2021-12-23 10:28] #3444 closed

[2021-12-23 10:39] paulinbar commented on #3429
Hi @elimuhub7407,
I haven't heard back from you in quite a while about what your issue/question about the document you referred to is, so in the meantime I am closing this issue. If your question/comment is still relevant, please feel free to reopen the issue and to provide more detail. Thanks!

[2021-12-23 10:39] #3429 closed

[2021-12-23 10:42] paulinbar commented on #3425
@teddybercovitz, do you have any idea why this might be happening? Thanks,

[2021-12-23 10:44] paulinbar commented on #3476
Hi @Bafff , I will take this up with the product team. Thanks.

[2021-12-23 10:49] paulinbar commented on #3419
Thanks for your comment question @joeltorby.
@rosode, can you comment?

[2021-12-23 10:57] paulinbar commented on #3394
Hi @anshulbb, it's been awhile since we requested bit more info so that we can move forward in addressing your issue. Since we haven't heard back from you, I am going to close this issue for the meanwhile. Please feel free to reopen the issue though if it is still relevant, but please provide a bit more context. Thanks!

[2021-12-23 10:57] #3394 closed

[2021-12-23 11:01] paulinbar commented on #3252
Hi @avloon, do you remember which tenant setting you used to solve the issue?
@yardenalbeck

[2021-12-23 11:05] mitchonfire commented on #3483
Great news Paul, thanks, please don’t disable the functionality :P

Regards
Duncan Mitchell

On Thu, 23 Dec 2021 at 20:08, Paul Inbar ***@***.***> wrote:

[2021-12-23 11:23] teddybercovitz commented on #3425
I recommend opening a support ticket. Note that there are 2 Project apps: Microsoft Project Web App<https://appsource.microsoft.com/en-US/product/power-bi/pbi_msprojectonline.pbi-microsoftprojectwebapp> & Microsoft Project for the Web<https://appsource.microsoft.com/en-US/product/power-bi/microsoftcorporation1619756240314.pbi_msprojectfortheweb>. For "Project web app" I Also recommend download the

[2021-12-23 11:56] paulinbar commented on #3116
Hi @IrkenCR , well I see the Azure Information protection pricing info still isn't available on the Azure Information Protection site. I have escalated the issue and will continue to monitor. Right now the link on our page just goes to the Azure Information Protection page (which is live). The problem now is that the Pricing info link on that page is broken. That is what has been escalated. So in

[2021-12-23 11:56] #3116 closed

[2021-12-23 17:10] mberdugo commented on #3495
Thanks for your question, @gigatt-jm .

I'm assigning this to the author to investigate and possibly update the document with this information.
In the meantime, you might find the answer by searching the Power BI community support page:
https://community.powerbi.com/

Please understand that things might take longer than usual because of the holidays.

[2021-12-23 20:57] mihart commented on #3492
Hi @grzegorzwierzbicki ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-12-23 20:57] #3492 closed

[2021-12-23 22:04] ozhug commented on #3468
yes this field need clarity as the example shown does not work, and a second on what is the Timepoint field and what does it do?

[2021-12-24 13:05] sdg002 opened #3496 "Push dataset schema documentation missing"
Hi All,
I am evaluating the suitability of Push datasets for a customer. I was unable to find any documentation which would confidently tell me what aspect of the Tabular model is supported and what is not.

## Links I have looked at
[Link to Microsoft docs on Push datasets](https://docs.microsoft.com/en-us/rest/api/power-bi/push-datasets/datasets-post-dataset)

[Link to Microsoft docs on step by

[2021-12-26 08:40] paulinbar commented on #3425
Hi @jonnunez, if what Teddy suggests doesn't work, then please try open a support ticket. Thanks.
[support page](https://support.powerbi.com)

![image](https://user-images.githubusercontent.com/54644589/147403127-371d5e05-ea79-4256-aecc-63a0c9befa15.png)

[2021-12-26 08:40] #3425 closed

[2021-12-27 19:54] paulinbar commented on #3419
Hi @joeltorby.
I checked with the product team and they said that unfortunately that data isn't currently available through an API. It's in their backlog, but there isn't yet any firm idea about when they'll be able to provide that functionality.
I would suggest you go to https://ideas.powerbi.com/ideas/, and add this as an idea there that others can vote on. This might help move the API up in the

[2021-12-27 19:54] #3419 closed

[2021-12-28 10:03] KesemSharabi commented on #3475
Hi @wgbrown,

I'm happy to fix the doc but am trying to verify that this is indeed incorrect. The engineering team asked me to check the Power BI Desktop version, as part of this verification.

Perhaps you can send me an internal mail so that we can avoid getting support involved?

Thanks,

Kesem

[2021-12-28 12:00] #3226 closed

[2021-12-28 12:02] #2993 closed

[2021-12-28 12:03] #2850 closed

[2021-12-28 12:06] #3475 closed

[2021-12-28 18:20] georgedarakji commented on #1852
Hi @KesemSharabi. I can see that the DeleteDatasetRows activity was added to the documentation but it is still not clear what this activity represents. It will be great if you can explain it in the Notes field. Does it represent rows getting deleted as a result of a dataset refresh or what exactly is it? Thank you

[2021-12-28 21:07] nstraw opened #3497 "Overloading score (aka Magars Magic Measure)"
Hi doc team, would it be possible to have the exact formula of the "overloading score" (aka "Magars Magic Measure" in the dataset) ? Also how the severity of an overload event is calculated ? Any help would be very much appreciated. Thanks! Nicolas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f52eeb-717d-9a67-b775-

[2021-12-28 23:39] paulinbar commented on #3497
Hi @nstraw, I'm forwarding your request on to the owner of the doc you mentioned for further consideration. Thanks for reaching out to us!

[2021-12-29 13:23] paulinbar commented on #3450
Hi @lbendlin, I've updated the doc to be precise. The word "owner" was  indeed problematic. The updated doc should go online later today. Thanks for providing your feedback and helping us improve the docs!

[2021-12-29 13:23] #3450 closed

[2021-12-29 13:34] paulinbar commented on #3409
Hi @externalperjohanssoniig, I've update the doc in accordance with your comment. The updated doc will be online in a day or two. Thanks for providing your feedback on all these issues!

[2021-12-29 13:34] #3409 closed

[2021-12-29 13:49] #3169 closed

[2021-12-30 16:40] shayanjafari opened #3498 "typo in https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-slicers"
[Enter feedback here]
Hi
I hope you're doing well

I think there's a typo in the text of this page which I highlighted it with yellow color in the attached picture . slicers is mistyped sliders .

Best Regards
<img width="481" alt="typo" src="https://user-images.githubusercontent.com/72691297/147771089-128250be-44d7-420d-b36e-78fb04beaef0.PNG">

---
#### Document Details

⚠ *Do not edit this secti

[2021-12-30 19:02] shayanjafari opened #3499 "typo in https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-slicers"
[Enter feedback here]
Hi
I hope you're doing great

I recognized a type in the aforesaid page which I have highlighted with green color in the attached picture ( BI is typed B I ) . Sorry I couldn't find a better color to show the typo .
<img width="508" alt="type 2" src="https://user-images.githubusercontent.com/72691297/147780814-a4472446-1a3c-45b7-a077-3ec6d4f23971.PNG">

Best Regards

---
####

[2021-12-30 20:13] shayanjafari commented on #3499
found another type on this same page , highlighted in yellow in the attached picture .
<img width="489" alt="typo 3" src="https://user-images.githubusercontent.com/72691297/147785084-ce456bd3-236d-4234-82a4-e5fbc9c62415.PNG">

[2022-01-03 14:34] paulinbar commented on #3499
Hi @shayanjafari, thanks for the sharp eyes! I'm forwarding your comment on to the doc owner for further action.

[2022-01-03 14:35] paulinbar commented on #3498
Hi @shayanjafari, thanks for the feedback! I'm not sure whether this one should be slicers or sliders. I'm forwarding your comment on to the doc owner for consideration.

[2022-01-03 17:34] maggiesMSFT commented on #3499
Thanks, @shayanjafari ! Fixing now, changes will be live this afternoon Jan 3, 22, Pacific Time.

[2022-01-03 17:34] #3499 closed

[2022-01-03 18:05] maggiesMSFT commented on #3498
Hi, @shayanjafari -- yes, I think in that sentence, "slider" should be "slicer," although both are used in the article. Thanks! Fixed, change will be live this afternoon Jan 3 Pacific time.

[2022-01-03 18:05] #3498 closed

[2022-01-03 19:11] maggiesMSFT commented on #3458
Hi, @danievalle -- not hearing back from you, I'm closing this issue. If you're still having trouble:
- Try downloading the latest version of Power BI Desktop, December version 2.100.785.0 64-bit (December 2021).
- If that doesn't help, try contacting support, https://powerbi.microsoft.com/en-us/support/
Good luck!

[2022-01-03 19:11] #3458 closed

[2022-01-03 22:39] chrisweis opened #3500 ""Feature this app" documentation doesn't align with Power BI Service functionality"
Hello,

The "Feature an app" section of this page doesn't seem to be relevant to the current Power BI Service.  Maybe the feature was retired, not yet deployed, or requires a setting change before the "Feature this app on Home" menu option appears?  Would be great if you could take a look at that section and confirm.

https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-featured-con

[2022-01-04 00:56] maggiesMSFT commented on #3500
Hi, @chrisweis --

**Feature this app on Home** functionality is still there. Do note: You don't feature it from the app itself. You feature it in the workspace from which the app was created. I just took this screenshot in the public service:
![image](https://user-images.githubusercontent.com/12401230/147995045-8e99473a-9bca-46c9-a55d-d5510d71ee4e.png)

Two possibilities why you're not seeing it:

[2022-01-04 00:56] #3500 closed

[2022-01-04 01:08] maggiesMSFT commented on #3442
Great point, @Piquet65 ! Deleting it now. Change will be live tomorrow afternoon Jan 4, 2022 Pacific time.

[2022-01-04 01:08] #3442 closed

[2022-01-04 01:37] maggiesMSFT commented on #3420
Hi, @angoo-atea -- got somewhat of an answer for you. The product team says:
"There is no limitation as such but with huge amounts of data – we have seen timeouts happening because the data ingestion is very slow."
And they suggest opening a support case so they can debug: https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2022-01-04 01:37] #3420 closed

[2022-01-04 02:08] maggiesMSFT commented on #3485
Hi, @lordneeko -- here's the reply from the product group:
"The Export to File connector in Power Automate is really just no-code (user interface) way to interact with the export API.
With that said, any of the docs that explain how to use the export API also apply to the Power Automate connector. The following doc touches on both filters and visual names. Looking through this doc, there are two w

[2022-01-04 02:08] #3485 closed

[2022-01-04 03:48] chrisweis commented on #3500
Maggie, you're right!  I confirmed I was misunderstanding that the "Feature this app on Home" is within the workspace, not within the app.  Thanks so much, and thanks for making this great improvement so quickly!

[2022-01-04 04:18] maggiesMSFT commented on #3363
Hi, @PAPutzback -- sorry for the delay in responding! I'm checking with the product team and will get back to you.

[2022-01-04 04:29] maggiesMSFT commented on #3359
Hi, @chrisweis -- yay, we fixed it already, and probably should've closed your comment a while ago! Now it says:
- The Power BI app for Microsoft Teams is available to Commercial Cloud and US Government Community Cloud (GCC) customers.

Thanks!

[2022-01-04 04:29] #3359 closed

[2022-01-04 05:13] maggiesMSFT commented on #3352
Hi, @charrington2 -- yes, good point. Do read this article, https://docs.microsoft.com/en-us/power-bi/consumer/end-user-personalize-visuals, which talks about the report consumer experience with personalizing visuals. It does mention one way to preserve personalization: create personal bookmarks.
I'm updating this article to mention personal bookmarks. Changes will be live tomorrow afternoon, Jan

[2022-01-04 05:13] #3352 closed

[2022-01-04 22:05] nomanali1424 opened #3501 "it"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers)
*

[2022-01-05 09:02] Scurry-DLG opened #3502 "Azure Cost Manager Connector Missing"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3
* Content: [Connect to Azure Cost Management data in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-azure-cost-management

[2022-01-05 09:04] #3502 closed

[2022-01-05 12:04] KingR1 opened #3503 "Which way of export to choose?"
It's a bit unclear what methods to choose when I have paginated report and I need to export only single page.

When I am using [Export Power BI report to file](https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-to) then I can pass into `PowerBIReportExportConfiguration` names of pages to export.
When I'm using [Export paginated report to file](https://docs.microsoft.com/en-us/powe

[2022-01-05 13:31] gjongeneel commented on #3380
Hi @rosode, very curious to learn what the possibilities will be for CSP partner with Azure Plan customers to give their customers access to what is now called the 'Emissions Impact Dashboard'. At this moment, this functionality is clearly lacking and we've got a growing number of customers requesting these insights. As we have just migrated a lot of them from EA to CSP, it is a bad message that w

[2022-01-05 15:04] KesemSharabi commented on #3503
Hi @KingR1,

We're looking into this and will get back to you shortly.

Thanks,

Kesem

[2022-01-05 15:08] KesemSharabi commented on #3501
Hi @nomanali1424,

Are you trying to leave documentation feedback, or is this a mistake?

Thanks,

Kesem

[2022-01-05 15:18] KesemSharabi commented on #3468
Hi @mjonkus, @Sh5678, @RonaiBertalan, @WoodenArch and @ozhug,

We updated the documents that deal with installing and using the Power BI Premium Gen2 utilization and metrics app:
* [Install the Gen2 metrics app](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app)
* [Use the Gen2 metrics app](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-metrics-app)

We als

[2022-01-05 15:21] KesemSharabi commented on #3451
Hi @OxfordPowerBI,

I updated the [Install the Gen2 metrics app](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app?tabs=1st) article.

Hope this helps,

Kesem

[2022-01-05 15:25] KesemSharabi commented on #3039
Hi @jgibbycsc,

I updated the [Install the Gen2 metrics app](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app?tabs=1st) article.

Hope this helps,

Kesem

[2022-01-05 15:29] #2498 closed

[2022-01-05 15:35] nomanali1424 commented on #3501
I was trying to leave it...

On Wed, 5 Jan 2022, 8:38 pm Kesem Sharabi, ***@***.***> wrote:

[2022-01-05 18:14] ARock22 opened #3504 "Dataflow Limitations Correction - Multiple Credentials for Single Data Source"
Microsoft Team,

It appears there's an issue with the Dataflows Limitations page, specifically in the [Dataflow authoring section](https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-features-limitations#dataflow-authoring). Based on an error I'm facing, it appears dataflows cannot support multiple credentials for **any** single data source. The current description says t

[2022-01-05 19:32] maggiesMSFT commented on #3363
Hi, @PAPutzback -- The product team asks that you enter a support ticket at https://powerbi.microsoft.com/en-us/support/, "as it may be related to a known bug to be fixed in the Jan release of Power BI Report Server."
Also, just to clarify, when you say "PBI Desktop for RB" -- I'm assuming you mean Power BI Report Builder, https://docs.microsoft.com/en-us/power-bi/paginated-reports/report-builder-

[2022-01-05 19:32] #3363 closed

[2022-01-05 21:21] Melsize opened #3505 "Shared Power BI Dataset refresh is gets paused incorrectly due to inactivity"
We have several Power BI Datasets that have been created to use along with other data sources.   Since there are not any reports that singularly use these datasets, they mistakenly get automatically paused.  Is there something that can be done to prevent this from happening since these datasets are being used compositely in other reports?

---
#### Document Details

⚠ *Do not edit this section. It

[2022-01-05 21:47] ADNewsom09 opened #3506 "The Timepoint part of first connection is inaccurate"
entering a value like 01/01/2022 is not accepted as the instructions state. Not sure what value it is expecting (or what it's purpose is)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcddef48-ab1d-cdd2-900a-9b9f3500a06f
* Version Independent ID: 42ce0182-3006-4271-7981-a9f8a984ca53
* Content: [Install the Premium Gen

[2022-01-05 21:48] ADNewsom09 commented on #3506
![image](https://user-images.githubusercontent.com/10566610/148294362-e19a2f49-2a2b-4e8e-96b2-4d58ec79c44c.png)

[2022-01-05 21:50] ADNewsom09 commented on #3468
That linked portion still doesn't provide a value that works for me on initial connection.

[2022-01-05 22:31] maggiesMSFT commented on #3324
Hi, @vcarazo -- Thanks for your comment! I think we do this already, or I'm misunderstanding what you're asking for. For example, the Change Log entry for September, https://docs.microsoft.com/en-us/power-bi/report-server/changelog#september-2021, lists:
**Power BI Report Server**
- Version: 1.12.7981.11681 (build 15.0.1107.166), Released: December 6, 2021
**Power BI Desktop** (optimized for Power

[2022-01-05 22:48] maggiesMSFT commented on #3341
Hi, @LucaFontana -- Good question, sorry for the delay! I'm checking with the product team and will report back.
Thanks!

[2022-01-06 01:06] maggiesMSFT commented on #3308
Hi, sorry for the delay! OK, I've checked with the product team. They say:
"Not currently and no current ETA, though we’re definitely aware of the ask. "
You can also enter your feedback here:
https://ideas.powerbi.com/ideas/
Thanks!

[2022-01-06 01:06] #3308 closed

[2022-01-06 02:35] #3298 closed

[2022-01-06 03:00] maggiesMSFT commented on #3341
Hi, @LucaFontana -- right you are! Belatedly, updating the article with your feedback. Changes should be live tomorrow afternoon Jan 6 Pacific time.
Thanks!

[2022-01-06 03:00] #3341 closed

[2022-01-06 03:00] maggiesMSFT commented on #3266
Hi, @daviduber1 -- right you are! Belatedly, updating the article with your feedback. Changes should be live tomorrow afternoon Jan 6 Pacific time.
Thanks!

[2022-01-06 03:00] #3266 closed

[2022-01-06 03:00] maggiesMSFT commented on #2891
Hi, @tangi12 -- belatedly, I'm updating this article based on your feedback! Changes should be live tomorrow afternoon Jan 6 Pacific time.
Thanks!

[2022-01-06 03:00] #2891 closed

[2022-01-06 03:01] maggiesMSFT commented on #2916
Hi, @Didierma92 -- good point! Belatedly, I'm updating the article and including your feedback. Changes should be live tomorrow afternoon Jan 6 Pacific time.
Thanks!

[2022-01-06 03:01] #2916 closed

[2022-01-06 04:47] Andywareaus opened #3508 "The "Xero template app" is no longer working.."
The "Xero template app" is no longer working..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b8c79-ddc0-a0d6-3f60-f0d53d3dbca4
* Version Independent ID: b490a2a1-c55b-db04-964f-2cd0e1107509
* Content: [Connect to Xero with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-t

[2022-01-06 08:35] sdg002 opened #3509 "Is there a JSON schema that can help me validate the data model of a PUSH dataset?"
I am evaluating PUSH datasets for my customer. I can immediately see that the model specification for PUSH dataset is somewhat different from regular datasets. E.g. No support for calculated columns.

It would be very helpful to have a JSON schema from Microsoft which can help me validate if an existing SSDT model can be used for a PUSH dataset.

If Microsoft can produce a consistent schema , then

[2022-01-06 11:25] mberdugo commented on #3506
Thanks for your comment, @ADNewsom09 .
I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2022-01-06 11:46] mberdugo commented on #3508
Thanks for your comment, @Andywareaus.
I've assigned this issue to the doc author to look into.

[2022-01-06 19:02] maggiesMSFT commented on #2961
Hi, @MartinMcAndrew -- the article has been updated a few times since you wrote this. I hope you find it improved!

[2022-01-06 19:02] #2961 closed

[2022-01-06 19:16] maggiesMSFT commented on #2960
Hi, @valenciajdev -- sorry for the delay! I'm going to assume your question got answered, given you were asking about the Release Plan. If not, feel free to ask again!

[2022-01-06 19:16] #2960 closed

[2022-01-06 19:40] maggiesMSFT commented on #2991
Hi, @JerrySmithLu -- hearing no further from you, I'll assume @MattRudy answered your question. If not, feel free to resubmit your question.

[2022-01-06 19:40] #2991 closed

[2022-01-06 19:42] maggiesMSFT commented on #2998
Hi, @Rmatey -- yes, you're right. We updated the article a while ago, but I didn't get back to you until now. Thanks!

[2022-01-06 19:42] #2998 closed

[2022-01-06 19:49] maggiesMSFT commented on #2998
Hi, @Rmatey -- you're right! Sorry for the delay, I have fixed it. Update will be live this afternoon Jan 6 Pacific time. Thanks so much for catching that!

[2022-01-06 19:55] maggiesMSFT commented on #2918
Hi, @chrisweis -- sorry for the delayed response! Of course, in the meantime we've been updating this page regularly. Thanks for your attention!

[2022-01-06 19:55] #2918 closed

[2022-01-06 20:50] maggiesMSFT commented on #3048
Hi, @annatagithub -- given my delayed response, you've probably already resolved this issue. If not, I recommend creating a support issue.
Good luck!

[2022-01-06 20:50] #3048 closed

[2022-01-06 21:04] chrisweis opened #3511 "Power BI usage metrics and "My Workspace" are unclear in this document"
Hello,

In this page and section...
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-modern-usage-metrics#update-usage-metrics-report-credentials

...it seems like the steps don't consider when My Workspace is being used.  Do the steps still apply?  Does a "Note:" need to be added to clarify how My Workspace works or applies for Usage Metrics?  Or does a limitation need to be ad

[2022-01-06 22:12] maggiesMSFT commented on #3511
Hi, @chrisweis -- interesting question! I'll ask and get back to you.
Thanks!

[2022-01-06 22:52] maggiesMSFT commented on #1845
Good idea, @ZacharyGoldman and @ElectricLlama ! I've added "target page" and "source page" liberally throughout the article. Hope that helps! Changes should be live tomorrow afternoon Jan 7 Pacific time

[2022-01-06 22:52] #1845 closed

[2022-01-06 22:55] maggiesMSFT commented on #1871
Hi, @dhruvinushah -- still a valid question. Reassigning it to new article owner.

[2022-01-06 23:09] maggiesMSFT commented on #1902
Hi, @tyvich -- sorry for the delayed response! Reading through https://community.powerbi.com/t5/Service/quot-App-Reshare-quot-permissions-keep-coming-back/m-p/958148#M89212 and trying it myself, I'm not seeing this behavior.
If it's still an issue, I suggest creating a support ticket at https://powerbi.microsoft.com/en-us/support/

[2022-01-06 23:09] #1902 closed

[2022-01-06 23:31] maggiesMSFT commented on #2064
Hi, @alwweb -- belatedly, thanks for your comment. This article has been updated since your comment and looks up to date now.
Thanks!

[2022-01-06 23:31] #2064 closed

[2022-01-07 05:09] chrisweis commented on #3511
Hi @maggiesMSFT, I created this matrix to try to understand the current state. Hope it's helpful: https://lnkd.in/gG9wKKeU

[2022-01-07 07:44] vcarazo commented on #3324
Hi @maggiesMSFT,

 As you said the version of Power BI Desktop is already showed alongside with the version of power BI Report Server. I was **not** talking about Power BI Desktop.

I was talking about **Report Builder**, the software client we use to create **paginated reports** (https://www.microsoft.com/es-es/download/details.aspx?id=53613).

So in the example you wrote I would like to see:

-

[2022-01-07 09:36] rjagdon opened #3512 "Set up more than 24 subscriptions for dashboards and reports"
As tested in Power BI Service Premium P2, you can set up and run more than 24 subscriptions. The document mentions this as a limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e35489ab-e39e-b7be-588d-38f26ccf5442
* Version Independent ID: f5145d5d-afbc-f3f0-7275-1186b60890d0
* Content: [Subscribe to reports and

[2022-01-07 13:15] anna907 opened #3513 "Text fix for this document"
[Enter feedback here]
Hello

Please check the texts in the first highlighted purple Note textbox. It says:
"Power BI Premium recently released a new version of Premium, called Premium Gen2, which is currently in preview."

-->Power BI Gen2 has been GA for a while now so could you please fix this in the doc as well.

Thanks again,
Anna

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-07 17:17] davidiseminger commented on #3509
Thanks for your comment, @sdg002. Looks like this is product feedback or a feature request, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com

[2022-01-07 17:17] #3509 closed

[2022-01-07 17:18] davidiseminger commented on #3512
Thanks for your comment, @rjagdon. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-01-07 17:22] davidiseminger commented on #3513
Thanks for your comment, @anna907 and you're right. That update must have slipped through. I've fixed that, will be updated in the next day or so. Thanks!

[2022-01-07 17:22] #3513 closed

[2022-01-07 17:51] maggiesMSFT commented on #3324
Good point, @vcarazo ! I'll run this by the devs who own maintaining this page.
Thanks!

[2022-01-07 18:07] Koi999 opened #3514 "Update Excel libraries for the OLE DB provider - Community post link"
Community post link supplied is old (2016).  Please could the link be reviewed for relevancy?  Thank you

I have the same issue as the post initiator after downloading the latest Analyze in Excel update 6 Jan 2022, however the actions described in the community post have not helped me determine whether Excel libraries are up to date or not.

---
#### Document Details

⚠ *Do not edit this section.

[2022-01-07 18:25] maggiesMSFT commented on #3514
Hi, @Koi999 -- thanks for your question! I'll check and get back to you.

[2022-01-07 18:44] kchan-hdr opened #3515 "The 2 "notes" are contradictory."
[Enter feedback here]

The 2 notes are contradictory. In the "Register an Azure AD app", "Manual registration" tab, the notes under "An embed for you customers application with a service principal", _If you choose this option, after you register your Azure AD app you'll have to add Power BI permissions to it_.

Further down, in "Change your Azure AD app's permissions", a second note says, _Azure A

[2022-01-07 22:19] maggiesMSFT commented on #3324
Hi, @vcarazo -- here's their response:
"The problem is the Report Builder release is not tied to a PBIRS release like the other bits. The version number changes out of band from the releases of Desktop and RS. We have a list of those versions as they are released here:
https://docs.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-change-log
I added a link to the Report Builder chan

[2022-01-07 22:19] #3324 closed

[2022-01-07 23:35] maggiesMSFT commented on #3514
Hi, @Koi999 -- Good point about the community link. Here's a recent article: https://docs.microsoft.com/en-us/analysis-services/client-libraries?view=asallproducts-allversions#download-the-latest
I've added this link to the article. Change should be live next Mon Jan 10 afternoon Pacific time.
Thanks, hope that helps!

[2022-01-07 23:35] #3514 closed

[2022-01-08 01:57] maggiesMSFT commented on #3236
Hi, @mittaltripti -- Good point! Yes, the docs are out of date. Updating now, change will be live Mon afternoon Jan 10, Pacific time.

[2022-01-08 01:57] #3236 closed

[2022-01-08 02:00] maggiesMSFT commented on #3511
Hi, @chrisweis -- this doesn't address all of your questions/comments, but I did find this out:
Your My Workspace is based on the classic workspace technology, so it has the usage metrics reports for classic workspaces.
So the other Usage Metrics article, https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-usage-metrics, is more accurate for My Workspace.
I'm adding that to both ar

[2022-01-08 17:42] gregorvilkner opened #3517 "there's no streaming datasets tile in the Create section of powerbi for me"
what happened? i only get "Pick a published dataset" and "Paste or manually enter data". what happened to streaming datasets?

[2022-01-08 17:52] gregorvilkner commented on #3517
argh. found the New button in the workspace. all good.

powerbi UI/UX team - this is bad UI. I want to "create" a streaming dataset. this should be in "create". no?

[2022-01-08 18:30] VitalyMCT opened #3518 "SAP Connector for Microsoft .NET 3.0 - New Versions and Impact on PBI"
The SAP website now has SAP Connector versions newer than those referenced in the article. Are these appropriate to use for Power BI? Should we always be using the latest versions with Power BI?

![image](https://user-images.githubusercontent.com/1765732/148655519-e6e418a8-d16f-49ce-881f-2f444eadc4b1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-01-09 07:18] #3503 closed

[2022-01-09 07:28] mberdugo commented on #3515
Hi @kchan-hdr, thanks for pointing this out. I'll look into it, and get back to you.

[2022-01-09 13:46] mberdugo commented on #3515
The misleading note has been removed. Thanks again, @kchan-hdr , for noticing and pointing this out.

[2022-01-09 13:46] #3515 closed

[2022-01-10 07:52] angoo-atea commented on #3420
@maggiesMSFT - thanks for following up. Parallel to this I did open a support case, the answer was that large lists are not supported. The page should be updated accordingly.

[2022-01-10 08:15] externalperjohanssoniig commented on #3409
Hi paulinbar, the doc is still not updated.

From: Paul Inbar ***@***.***>
Sent: den 29 december 2021 14:35
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Per Johansson (External) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Prerequisites - Enrollment permissions (Issue #3409)

You don't often get email from ***@***.******@***.***>. Learn why this is important<http

[2022-01-10 08:43] paulinbar commented on #3409
Hi @externalperjohanssoniig, strange, I made that change... I'll check out what's going on. Thanks for calling it to my attention!

[2022-01-10 09:04] domedellolio opened #3519 "Reading Properties field from EventHub using streaming dataflow"
Hi there,

I would like to know if there is any possibility to read fields different from _Payload_ using streaming dataflow and Event Hub.
Actually we're trying to read _Properties_ field because our application do not contain subject into body, which is stored outside.
Documentation do not mention anything regards this.

Any clues?
Thanks

---
#### Document Details

⚠ *Do not edit this section.

[2022-01-10 15:30] #3517 closed

[2022-01-10 17:46] #3511 closed

[2022-01-10 21:30] mihart commented on #3445
Thanks for your comment, @DougAtClir . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-01-10 21:30] #3445 closed

[2022-01-10 21:31] mihart commented on #3439
Hi @rootsmusic ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-01-10 21:31] #3439 closed

[2022-01-10 21:34] mihart commented on #3438
Hi again @rootsmusic ,
Thank you for your question.  You can still submit ideas using ideas.microsoft.com and questions to community.powerbi.com.
All the best,
The DOCS team

[2022-01-10 21:34] #3438 closed

[2022-01-10 21:41] mihart commented on #3426
Hi @rsbuckles ,
Thank you for your suggestion.  You are absolutely right!  We've made updates and set the TOC to republish.  For the breadcrumbs, unfortunately, we can't change the actual file names. I'm hoping that having "consumer" and "end user" as part of file names and having "business user" within the articles, no matter how a customer searches for this content, they will find it.
All the be

[2022-01-10 21:41] #3426 closed

[2022-01-10 21:50] MarcRohde opened #3520 "Missing White Paper content."
There doesn't appear to be any content in the White Paper section of this doc. There are 'related links' but no content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba640c4-798e-c1f5-0a4d-134334c37e0d
* Version Independent ID: f63ad1a5-01a9-45e4-d4fc-aff071dc9ca1
* Content: [Plan deployment to migrate to Power BI -

[2022-01-10 21:57] peter-myers commented on #3520
Hi @MarcRohde - thanks for your feedback. There is content in this article - perhaps it was a server or browser glitch? Please retry accessing this article. #please-close

[2022-01-10 21:57] #3520 closed

[2022-01-11 01:43] maggiesMSFT commented on #3420
Hi, @angoo-atea -- I checked with the product team again, and I've added this sentence to the Considerations section:
- Very large lists may be slow or may time out altogether.
Thanks!

[2022-01-11 08:12] joeltorby commented on #3419
Thanks for the help @paulinbar! Here is the idea: https://ideas.powerbi.com/ideas/idea/?ideaid=1f746d06-af72-ec11-b820-0003ff4569ae

If anyone out there is reading this, please give it an upvote!

[2022-01-11 14:21] bertsawicki opened #3522 "Pricing per core per hour for Power BI premium Autoscale"
How do we determine what the cost will be for the additional core usage?  In the Azure pricing calculator, the only item is Power BI embedded.  Can we get a price per core per hour please or add it to the Azure Calculator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ebe672-8784-bd46-2637-d8cf157ff676
* Version Ind

[2022-01-11 15:11] leinoaa opened #3523 "Supported data sources for dataflow and dataset rules"
Hi!

Is it really so, that data source rules for Premium Capacity aren't supported in deployment pipelines? At least it isn't included in the list "Data source rules can only be defined for the following data sources:".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b120d7-3f8f-8bc7-2987-21dbf1090ff2
* Version Indepe

[2022-01-11 16:36] mihart commented on #3522
Thanks for your comment, @. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-01-11 16:36] #3522 closed

[2022-01-11 16:37] mihart commented on #3523
Thanks for your comment, @leinoaa . This issue has been assigned to the doc author for review.

[2022-01-11 23:21] Chris-Burgess-ACTGOV opened #3524 "Power BI Operations table anomalies"
Hi
duplicates in the Operations Available table on this page:

**Operation name	        Friendly name**
CreateTemplateApp:	Created workspace for Power BI template app
CreateTemplateApp:	Created Power BI template app

**DeleteGoal:	                Deleted Power BI goal
DeleteGoal:	                Deleted Power BI goal**

DeleteTemplateApp:	Deleted workspace for Power BI template app
DeleteTemplateA

[2022-01-12 00:36] antrogers opened #3525 "Snowflake Connector Snowflake Driver"
Hi, this page does not reference the requirement to install the Snowflake ODBC driver? I'm trouble shooting with a colleague and I'm not entirely sure it's still required?

Original posts indicated it was required: https://powerbi.microsoft.com/en-au/blog/power-bi-enables-connectivity-to-snowflake/

If no longer required for current version it'll probably be useful to include a reference to the ve

[2022-01-12 00:46] kfollis commented on #3524
Thanks for the feedback @Chris-Burgess-ACTGOV! I'm assigning a writer to investigate and correct the issues you've flagged. "Deleted Power BI goal" is definitely a duplicate. For the others, I'm not sure as there are some fine nuances - I suspect that the friendly name was updated in UI and added to docs without removing the previous entry. We'll compare to UI and correct - thanks for doing the le

[2022-01-12 02:51] Chris-Burgess-ACTGOV commented on #3524
Thanks @kfollis will monitor and consume as it evolves :)

[2022-01-12 03:51] rootsmusic opened #3526 "link to "Try asking the Power BI Community""
Under "Next steps", the link to "Try asking the Power BI Community" should direct to https://community.powerbi.com/t5/Desktop/ArcGIS-Maps-for-Power-BI-Preview-Discussion/td-p/72947

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf2c48a-66f7-6c38-286e-ae429fc34883
* Version Independent ID: 033ec0fc-5c72-8cf2-20fb-1c7a3

[2022-01-12 05:18] mihart commented on #3525
Thanks for your comment, @antrogers . This issue has been assigned to the doc author for review.

[2022-01-12 05:19] mihart commented on #3526
Thanks for your comment, @rootsmusic . This issue has been assigned to the doc author for review.

[2022-01-12 07:28] djpirra opened #3527 "Add explanation on the support for Storage accounts using Private Endpoints"
In the current requisites it is mentioned that blob storage with Firewall rules are not supported.
I have tried to add a storage account with open firewall but using private endpoint and I got access denied on Power BI while trying to setup the storage connection.
Is it because of the private endpoint?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-01-12 14:49] KesemSharabi commented on #3527
Hi @djpirra,

I'll look into this issue and get back to you.

Thanks,

Kesem

[2022-01-12 15:28] JustinScroggins opened #3528 "Power BI sample data missing from DevKit"

[2022-01-12 15:30] assaf-grth opened #3529 "Should the multi-geo feature be used for disaster recovery?"
Should the Multi-Geo support for Power BI Embedded be used for disaster recovery purpose?
It means that if I have an application which is spread across two regions, both regions should contain the embedded resource configured with the multi geo feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52b044c-543a-212c-

[2022-01-12 16:59] welyson1 opened #3530 "Example of how to limit the rows in the table"
[**Table**
Values: Virtualization (data windowing) by using Window of 500 rows at a time
This topic needs more clarification, maybe even an example. The limitation in the table is necessary for cases where you want to export only X rows]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c8354c-2d95-1329-7c28-79f3cb3c3c8

[2022-01-12 17:13] #3528 closed

[2022-01-12 20:44] mihart commented on #3464
Hi @rootsmusic ,
I've added a step for selecting Projection and a brief description of the 3 options.  For more detail, I also added a link to ESRI's very excellent PDF on map projections.  When I asked the shape map PM about Coordinate Reference System, he responded that our projections are 2-dimensional and that the referenced article (on Coordinate Reference System) dealt with 3-dimensional. I'

[2022-01-12 20:44] #3464 closed

[2022-01-12 20:46] mihart commented on #3512
Hi @rjagdon ,
Looks like you found a bug.  Our PMs were able to replicate your experience and have notified the engineers.  We've decided to keep the reference to 24 in the article until the engineering team decides whether to enforce the limit or not.
Thank you
The DOCS team

[2022-01-12 20:46] #3512 closed

[2022-01-12 21:09] rootsmusic opened #3531 "coordinate reference system"
[EPSG:3857](https://epsg.org/crs_3857/WGS-84-Pseudo-Mercator.html) was a version of the World Geodetic System 1984 datum that Microsoft developed.  Is this the version required by Shape Map's coordinate reference system for my custom map (TopoJSON file)?  Since this version was based on a "_Pseudo_-Mercator" projection, is it compatible with Shape Map's projection setting?  Thanks.

---
#### Docum

[2022-01-13 03:44] jeeunyoo opened #3532 "Please remove "Downloading a PBIX file after deployment isn't supported." under "Considerations and limitations""
[Enter feedback here]
Under "Considerations and limitations" it states that "Downloading a PBIX file after deployment isn't supported."
However, users are **able to download the PBIX files after deployment**  & I have confirmed that I can reproduce this.
I have **confirmed** with the MS Dev team that the download feature is currently **not yet activated** and the plan is to block the download feat

[2022-01-13 04:58] chrisweis commented on #3511
@maggiesMSFT, you're awesome, thanks so much!!

[2022-01-13 05:16] Chris-Burgess-ACTGOV commented on #3524
Oh No now im like a dog with a bone. Checking my audit logs the operations below are missing from the www

AddTile
CreateGatewayClusterUser
DeleteTile
EditTile
GatewayClusterSSOTestConnection
GenerateCustomVisualWACAccessToken
GetAllGatewayClusterDatasources
GetAlmPipelinesAsAdmin
GetDataflowUsersAsAdmin
GetDatasetUsersAsAdmin
GetGatewayClusters
GetGatewayClusterStatus
GetGatewayInstallerPrincipal

[2022-01-13 11:18] KesemSharabi commented on #3527
Hi @djpirra,

This is probably happening because Power BI doesn't know how to resolve your private endpoint.

If you need more help with this issue, try the [Power BI Community]( https://community.powerbi.com) or our [support page](https://support.powerbi.com).

Thanks,

Kesem

[2022-01-13 14:52] mberdugo commented on #3529
Thanks for your comment, @assaf-grth. I’ll look into this and get back to you.

[2022-01-13 14:58] mberdugo commented on #3530
Thanks for your comment and suggestion, @welyson1.
I've assigned this issue to the doc author for review.

[2022-01-13 15:08] mberdugo commented on #3531
Thanks for your comment, @rootsmusic .
I've assigned this issue to the doc author for review.

[2022-01-13 15:13] mberdugo commented on #3532
Thanks for your question, @jeeunyoo .
I've assigned this issue to the doc author for clarification.

[2022-01-15 08:48] georgedarakji commented on #1852
@KesemSharabi @kfollis any update regarding my last post please?

[2022-01-15 17:30] marzoq opened #3535 "الل"

[2022-01-15 17:30] #3535 closed

[2022-01-15 18:03] marzoq opened #3536 ".https://c.yemhis.org/index.php?gid=2021-06-26-17794"
[https/c.yemhis.org/index.phpgid=-2021-7-22-14758](revert-5-https/c.yemhis.org/index.phpgid=-1)

[2022-01-15 18:03] marzoq commented on #3536
.https://c.yemhis.org/index.php?gid=2021-06-26-17794

[2022-01-16 14:45] paulinbar commented on #3536
Hi @marzoq, I believe this issue was opened by mistake as it doesn't seem to relate to Power BI documentation, so I am closing it. Please feel free to open it again if you opened it intentionally, but please provide a bit more information so that we can determine the nature of your request. Thanks!

[2022-01-16 14:45] #3536 closed

[2022-01-17 20:44] Jennifer-CH opened #3537 "Visualization"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers)
*

[2022-01-17 20:45] Jennifer-CH opened #3538 "Narratives"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrative)
* Content S

[2022-01-18 07:41] #3538 closed

[2022-01-18 07:41] #3537 closed

[2022-01-18 09:27] Quorthon1965 opened #3539 "Incomprehensible!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deda0833-832f-1984-4ca3-1b59b93bfc58
* Version Independent ID: 78c23031-0096-8c95-e693-73c2ccbbc70d
* Content: [Query folding guidance in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/guidance/power-query-folding)
* Content So

[2022-01-19 01:43] peter-myers commented on #3539
Thanks @Quorthon1965 for the feedback. We’re closing this issue as there’s nothing specific to address, but will consider your sentiment in our next update. #please-close

[2022-01-19 01:43] #3539 closed

[2022-01-19 11:49] #3463 closed

[2022-01-19 11:50] #3468 closed

[2022-01-19 11:51] #3474 closed

[2022-01-19 11:53] KesemSharabi commented on #3501
Hi @nomanali1424,

Can you please state what your doc feedback is?

[2022-01-19 13:24] KesemSharabi commented on #3532
Hi @jeeunyoo,

The fact that you can download the PBIX file after deployment doesn't mean it's supported. As the dev team stated, downloading the PBIX after deployment isn't supported because we can't guarantee the results. If it's working for you that's great, but it may not work for someone else with a different configuration.

I hope this explanation clarifies why we'll leave this limitation do

[2022-01-19 13:31] KesemSharabi commented on #3524
Hi @Chris-Burgess-ACTGOV,

Thanks for flagging out the duplications and all the missing operations. I'll do some investigations and try to update the table shortly.

[2022-01-19 13:47] KesemSharabi commented on #3523
Hi @leinoaa,

I'm not sure where the statement 'data source rules for Premium Capacity aren't supported in deployment pipelines' comes from.

Can you please explain where you saw this?

Thanks,

Kesem

[2022-01-19 13:54] KesemSharabi commented on #3506
Hi @ADNewsom09,

Thanks you for your comment.

As stated in the document, the timepoint fields are only used for internal purposes ([Run the app for the first time](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app?tabs=1st#run-the-app-for-the-first-time); step 4).

![image](https://user-images.githubusercontent.com/54834915/150143880-0fd6afa5-4d8b-4429-9335-f0e5aa547872.p

[2022-01-19 14:43] leinoaa commented on #3523
Hi!

On this page: https://docs.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-get-started#step-4---create-deployment-rules

Under the section "Supported data sources for dataflow and dataset rules" Premium Capacity isn't explicitly stated as a supported data source for which you can define data set rules. And based on my testing & docs the issue seems to be that we are talking a

[2022-01-19 15:33] Anoni-Mouse opened #3541 "How do we update this product using SCCM?"
[Enter feedback here]
Hello
I'm fine with the page, but it doesn't mention anything regarding an enterprise-wide solution like SCCM. Clearly we cannot deploy these updates on machines singularly. How do we update this product using SCCM?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540c095a-44b8-bd64-6bb2-81fd

[2022-01-19 23:38] LastThird opened #3542 "Does guidance around incremental refresh still apply if Power Platform Dataflows connector is used?"
Under [Considerations for when not to set incremental refresh](https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-premium-features#considerations-for-when-not-to-set-incremental-refresh)...

...Does this guidance still apply now that the Power Platform Dataflows connector supports query folding?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-01-20 02:03] Jason-ky-c opened #3543 "Ambiguous Refreshing"
Hello,

I find the article ambiguous with the refreshing.

The article states the following can be refreshed for Business User:

- Dashboard
- Report

The following can't be refreshed or not explicitly stated for Business User:

- Apps
- App workspace
- Datasets.

My problem is I would like to give Business Users the freedom to refresh manually the report with updated values. Which supposedly they

[2022-01-20 11:46] rjagdon opened #3544 "Unable to view a dataflow or dataset in VIEWER role."
The viewer workspace role indicates that View and Interact with an item is permissible, however, dataflows and datasets are not viewable in Power BI Service. - https://powerbi.microsoft.com/fr-ch/blog/announcing-the-new-viewer-role-for-power-bi-workspaces/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad65c63-c38d-5e

[2022-01-20 11:53] bernatagulloesbrina opened #3545 "Where do I buy the licence"
I am an organization and I want to buy a PPU licence -- where do I go?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 4810006b-6245-ccd5-0d2d-9b1089eb06ab
* Version Independent ID: fe970573-f765-75dc-048e-40ef64cf4285
* Content: [Power BI Premium por usuario - Power BI](https://docs.microsoft.com/es-es/po

[2022-01-20 13:54] mberdugo commented on #3541
Thanks for your question, @Anoni-Mouse .
I've assigned this issue to the doc author to look into.

[2022-01-20 13:56] mberdugo commented on #3542
Thanks for your question, @LastThird
I've assigned this issue to the doc author for review.

[2022-01-20 13:58] mberdugo commented on #3543
Thanks for your comment, @Jason-ky-c
I've assigned this issue to the doc author for review and clarification.

[2022-01-20 14:00] mberdugo commented on #3544
Thanks for your comment, @rjagdon
I've assigned this issue to the doc author for review and clarification.

[2022-01-20 14:07] mberdugo commented on #3545
Thanks for your question, @bernatagulloesbrina .
I've assigned this issue to the doc author.

[2022-01-21 11:10] anique9999 opened #3546 "How to disable "Power BI Desktop infrastructure update" preview feature"
[Enter feedback here]
Is there any command-line options during installation for disabling "Power BI Desktop infrastructure update" preview feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2102c86-5037-0609-9dd3-a1487732df3f
* Version Independent ID: 73cfef71-a511-5ba2-b7b1-fa02a58a9e15
* Content: [Get Power BI

[2022-01-21 17:58] davidiseminger commented on #3546
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests / how-tos.
Your best venue for getting an answer to your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom

[2022-01-21 17:58] #3546 closed

[2022-01-22 06:26] Hyamyam opened #3547 "[Japanese ver] The chart of the limitations that are dependent on the capacity size is old"
Hi authors,

Greetings!
The chart of the limitations that are dependent on the capacity size is old.
There is information of model refresh parallelism in Japanese ver.

// English ver
![image](https://user-images.githubusercontent.com/73410575/150627671-4845ff3f-0e3d-49d2-8044-69362ff74825.png)

// Japanese ver
![image](https://user-images.githubusercontent.com/73410575/150627691-e0422fc5-0fe5-462

[2022-01-23 11:59] KesemSharabi commented on #3523
Hi @leinoaa,

Premium capacity isn't a data source. [Premium](https://docs.microsoft.com/power-bi/admin/service-premium-what-is) is a Power BI license that offers more than the free subscription and is aimed at enterprises. Capacity is the type of license you buy and it is divided into [SKUs](https://docs.microsoft.com/power-bi/admin/service-premium-what-is#subscriptions-and-licensing).

Once you

[2022-01-23 12:03] KesemSharabi commented on #3497
Hi @nstraw,

Thank you for your great feedback!

I added the [How is the overload score calculated?](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-faq#how-is-the-overload-score-calculated-) entry to the [Power BI Premium Gen2 FAQ](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-faq#how-is-the-overload-score-calculated-) article.

I hope this helps clarify matters.

[2022-01-23 12:06] KesemSharabi commented on #3490
Hi @floemmel,

We recently updated the table at the bottom of the [Limitations in Premium Gen2](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-what-is#limitations-in-premium-gen2) section.

Hopefully this update helps clarify matters.

Thanks,

Kesem

[2022-01-23 12:12] KesemSharabi commented on #3152
Hi @shogo0729,

I updated the table in the [Capacity nodes](https://docs.microsoft.com/power-bi/admin/service-premium-what-is#capacity-nodes) section, and the footnote that talks about purchasing SKUs greater than 100 GB. This footnote now reads:

"SKUs greater than 100 GB are not available in all regions. To request using these SKUs in regions where they're not available, contact your Microsoft a

[2022-01-23 12:34] KesemSharabi commented on #3545
Hi @bernatagulloesbrina,

Please follow the instructions in [Purchase a Power BI Premium capacity for an existing organization](https://docs.microsoft.com/power-bi/admin/service-admin-premium-purchase#purchase-a-power-bi-premium-capacity-for-an-existing-organization).

Thanks,

Kesem

[2022-01-23 12:36] bernatagulloesbrina commented on #3545
I don't want to buy premium capacity, I want to buy premium per user by
myself

El dom, 23 ene 2022 13:34, Kesem Sharabi ***@***.***>
escribió:

[2022-01-23 12:46] KesemSharabi commented on #3545
Hi @bernatagulloesbrina,

In [Using Premium Per User (PPU)](https://docs.microsoft.com/power-bi/admin/service-premium-per-user-faq#using-premium-per-user--ppu-) it states that:

"You can get a trial version of Premium Per User (PPU) through Microsoft 365, as long as your organization has not restricted PPU licenses. Trials are enabled through the portal, similar to how Power BI Pro licenses are in

[2022-01-23 13:11] paulinbar commented on #3547
Hi @Hyamyam, yes, it looks like the translated versions (not only the Japanese version) haven't yet been updated with recent changes to the article. I am forwarding your comment on to the owner of the doc for consideration. Thanks for calling our attention to the issue!

[2022-01-23 14:38] bernatagulloesbrina commented on #3545
it would be nice to get a link to this "Power BI pricing" right there when
you read the virtues of ppu, as it's the first decent result when googling
purchase power bi premium per user

El dom, 23 ene 2022 a las 13:46, Kesem Sharabi ***@***.***>)
escribió:

--

Bernat Agulló

Partner & Data Enthusiast

***@***.***

+34 637 93 42 76

Balmes, 177

08006 Barcelona

[2022-01-23 15:53] DougAtClir opened #3548 "Display a left-formatted string in Power BI leads to the "To turn on Q&A...""
I am trying to dispay left-formatted postal address as text in Power BI.  This should be a straight-forward task.  This is turning into a major effort.  First: we had to create a custom view in our database because DAX text functions could not find text columns in our database.  Second: The only visual that supports text is a "Card" that cannot display left-justified text.  If we try to add the st

[2022-01-23 15:59] DougAtClir opened #3549 "Need to directly answer the question "How do I turn on Q&A in Power BI Desktop?"."
The text does not directly answer the basic question: "How do I turn on Q&A in Power BI Desktop".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8e2480-703a-1417-c5d9-8d019669f45a
* Version Independent ID: 17a9f60e-b9b6-8426-2176-86b5ec3cb68f
* Content: [Q&A for Power BI business users - Power BI](https://docs.micros

[2022-01-23 16:57] DougAtClir opened #3550 "Need to address the question "How do I enable Q&A in Power BI Desktop?"."
While you have a header for this topic, this document does not directly address the question: How would I enable Q&A in Power BI Desktop?.

It looks like you have to publish a report to Power BI on Office 365 before you can use it in Power BI Desktop.  Is this true?  Can I not use Q&A for Direct Query datasets?

These questions are not answered in a clear way at all.

---
#### Document Details

⚠

[2022-01-23 22:37] nstraw commented on #3497
Hi @KesemSharabi,

Thank you so much for the new entry in the FAQ!

The information is very clear and truly helpful, it will be very appreciated by our team and customers, and the whole community I'm sure! It surely clarifies the way we should monitor and optimize our Gen2 capacities :)

Nicolas

[2022-01-23 22:53] rootsmusic opened #3551 "link for Power BI Community"
Under "Next steps", the link should be https://community.powerbi.com/t5/Custom-Visuals-Development/bd-p/CustomVisualsDevelopmentDiscussion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ef433-9857-720a-bb18-66897b27a44e
* Version Independent ID: 6ded7bc0-6f88-272f-7735-0a9e33d78c81
* Content: [Developing custom visu

[2022-01-23 23:39] paulinbar commented on #3551
Hi @rootsmusic, thanks for suggesting the more accurately targeted link. I am forwarding it on to the doc owner.

[2022-01-23 23:42] paulinbar commented on #3550
Hi @DougAtClir. I am forwarding you comments along to the doc owner for consideration. Thanks for reaching out to us with your feedback!

[2022-01-23 23:43] paulinbar commented on #3549
Hi @DougAtClir, thanks for this one too. Also forwarding this one along.

[2022-01-23 23:46] paulinbar commented on #3548
Hi @DougAtClir. Thanks for providing the context of what you were trying to do. I am forwarding your comment on to the doc owner so that they can figure out how best to address the issue you raised.

[2022-01-24 04:24] shogo0729 commented on #3152
Thank you so much Kesem!
Confirmed the revision!!

From: Kesem Sharabi ***@***.***>
Sent: Sunday, January 23, 2022 9:12 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Shogo Ota ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] [Update request] Annotation of P4/A7 & A8/P5 SKU (#3152)

Hi @shogo0729<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgith

[2022-01-24 04:48] Chris-Burgess-ACTGOV opened #3552 "PowerBI datasource Reference to REST API output (datasource Type)"
Hi Team
am consuming the 'definitive list' of Power BI datasources and want to marry them up to the datasource information that i extract using the Admin REST API's .
I can then provide more context and intel around connection and datasource issues and the like.

Unfortunately the Data Sources in the  web list dont necessarily align with the 'datasources.datasourceType' that the API's produce:

eg

[2022-01-24 10:09] paulinbar commented on #3552
Hi @Chris-Burgess-ACTGOV, I am forwarding your request along to the doc owner for further consideration. Thanks for reaching out to us!

[2022-01-24 10:19] Mardurolla opened #3553 "It should be 'Premium per Capacity' not 'Premium capacity'"
This is a suggestion for improving the wording in order to help with the understanding and logic of the text. Where you state 'A PPU license does not allow for e-mail subscriptions to external users. The content must be hosted in a **Premium capacity** to subscribe external users.' you must have meant to say 'Premium **_per_** **C**apacity' as in the name of the License type (not the mental of phy

[2022-01-24 10:28] mberdugo commented on #3551
Thank you, @rootsmusic, for bringing this link to my attention. I've replaced it and it should be live in a few days.

[2022-01-24 10:28] #3551 closed

[2022-01-24 16:13] nathanwlee1 opened #3554 "Additional questions - Gen 2 workload settings"
Have some follow up questions about the workload settings and its implications.

- **AI** – What is the impact on our capacities when enable this workload?

- **Query Memory Limit (%)** - How this setting is related to CPU utilization?  Can we limit CPU usage by using this setting?  Or can we prevent long running queries using this setting?

- **Query Timeout (seconds)** - Is this setting applicab

[2022-01-24 17:35] maggiesMSFT commented on #3553
Hi, @Mardurolla -- I'm pretty sure it's correct as is. We use that wording, "Premium capacity," literally 595 times in 183 different files. A capacity needs to be a "Premium capacity" to support Premium features.
Assigning to the author for visibility.
Thanks!

[2022-01-24 17:37] maggiesMSFT commented on #3554
Hi, @nathanwlee1 -- thanks for your questions! Assigning to the author to investigate.

[2022-01-24 18:33] nstraw commented on #3497
Hi @KesemSharabi,

just to follow-up, I've tried to "recalculate" the overload score using the formula but it did not match, can you help me getting the right formula ?

I tried [ThrottleTime] x [ThrottledOperations] (from [Throttled_by_Artifact_and_Hour], inside the Capacity Metrics Dataset)

Thanks again for your help!

Nicolas

![image](https://user-images.githubusercontent.com/35227452/1508426

[2022-01-24 18:55] Mardurolla commented on #3553
That’s OK Maggie,
I was just pointing it out to help with understanding the products, not least to myself. It’s not the only place and time when product names make things really confusing. I was a “Microsoft Select” admin myself, in MS Dublin (Leopardstown) back in 1994-’95. I then successfully but arduously convinced the company that I’ve been with for 14 years in late ‘90’s to 2012 to stay on ‘S

[2022-01-24 19:08] maggiesMSFT commented on #3553
Hi, @Mardurolla -- thanks so much for taking the time to write up your explanation! I'm reopening this issue so the author @KesemSharabi sees it. Once it's closed, it might fall off his radar.

[2022-01-24 19:13] andrewtuplin opened #3555 "Missing Known Limitations"
- Python Script source isn't supported by the Power BI Enterprise Data Gateway, so if you'd like to use this feature, don't count on being able to keep your data refreshed.  This is pretty massive limitation.

- Deploying to Power BI Service is incredibly slow. Typically publishing reports doesn't take a ton of time (20-30 seconds). I have a very small report getting about 200 rows from a Python S

[2022-01-24 21:05] aanyoti commented on #3486
Thank you, this fixed my issue.

[2022-01-24 21:24] ALau2088 opened #3556 "Sample data set for drill down example"
Hi, could you provide the sample .pbix file used in the example for explaining drill down here https://docs.microsoft.com/en-us/power-bi/consumer/end-user-drill so I can follow along by working through the example?

[2022-01-24 21:55] Chris-Burgess-ACTGOV commented on #3552
Thanks @paulinbar
@davidiseminger there may be an anomoly in the 'web' datasource type - gateway (required) should be 'no'?

Cheers
Chris

[2022-01-24 22:15] maggiesMSFT commented on #3555
Hi, @andrewtuplin -- thanks for your feedback! Assigning to the author to review.

[2022-01-24 22:31] maggiesMSFT commented on #3556
Hi, @ALau2088 -- good question! I can't tell by looking at the images. Assigning to the author to help out.
Thanks!

[2022-01-24 23:26] otarb commented on #3555
Hello @andrewtuplin

- When refreshing data, Power BI On-Premise Gateway is for Power BI Service getting On-Premise data sources like databases, OData, ODBC, web, etc. However, for R script, it's not a specific data source. You can only use Personal Gateway to make Power BI Service get your On-Premise server and assign an account with relevant permission to execute the R script.

- Can you share m

[2022-01-25 04:00] rjagdon opened #3557 "Power BI Dataflows are accessible in Power BI Desktop even without workspace access"
Even without viewer access, you can still access the PBI dataflows data and use it for reporting. It looks like a security issue. However, you cannot perform a refresh using the same credentials. It looks like a security issue.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad65c63-c38d-5ec7-0386-45ff2602e2a6
* Version

[2022-01-25 06:29] mberdugo commented on #3529
Hi @assaf-grth, sorry for the delayed response.
This is the answer I received:
Multi-Geo is for compliance (data residency), and performance.
Multi-geo is not necessary for Disaster recovery.
Power BI automatically takes care of high availability, failover and disaster recovery.
See  [Power BI high availability, failover, and disaster recovery FAQ](https://docs.microsoft.com/en-us/power-bi/admin/s

[2022-01-25 10:48] Mardurolla commented on #3553
Thank you. I was going to remove my reply this morning, for being too long and crabby. I left it for now as you seem to say that it may be useful. Otherwise, please take it down. In general, I would make sure that nouns and verbs used for naming products [or functionality], are kept clearly distinct from when they are used for their actual meaning. I admired the most wonderful [American] technical

[2022-01-25 10:48] #3553 closed

[2022-01-25 18:53] RonaiBertalan commented on #2601
Hi!
I am currently trying solve this by putting Start-Sleep commands between API calls in the powershell script. Where can I read the exact limitation limits? It's a bit slow to develop this way because when I hit the limit,
I can't continue testing for an unknown amount of time. Thanks in advance!

[2022-01-25 19:02] m-hn opened #3558 "Good, but insufficient information"
[Enter feedback here]
Something that should be simple is not - I'm looking to embed a PBI report for distribution - The document does not explain how to do this in Outlook, or Yammer, or Teams. While these are not PBI issues, the user's problem has not been solved here.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719

[2022-01-25 19:04] mihart commented on #3557
Thanks for your comment, @rjagdon . This issue has been assigned to the doc author for review.

[2022-01-25 19:06] mihart commented on #3558
Thanks for your comment, @m-hn . This issue has been assigned to the doc author for review.

[2022-01-26 07:33] assaf-grth commented on #3529
Hi @mberdugo thank you for the details
My question is about the power bi embedded service, not power bi
The embedded resource is a resource I configure in my subscription for usage in power bi
Are they the same as far as I concern?

[2022-01-26 11:21] Bafff commented on #3476
Hi!

Any news?

[2022-01-26 15:13] nathanwlee1 opened #3559 "Clarification with 'continue the deployment' message"
Hi

I have a question relating to the 'continue the deployment' message, a customer is raising an issue with this message continuing to show in an infinite loop (i.e. when they press continue it continues to display)

I am confused by the wording in the docs here,
_"If you continue with the deployment, you'll loose the data in the target stage. You can use this option if the changes you made to th

[2022-01-26 16:27] mberdugo commented on #3529
Hi @assaf-grth. The differences in responsibility for the service, versus Premium are described [here](https://docs.microsoft.com/en-us/power-bi/admin/service-admin-failover#am-i-responsible-for-the-availability-of-my-power-bi-solution-). I believe that answers your question.

If it doesn't, you can also find help in the Power BI Community, found at https://community.powerbi.com. If not, you can g

[2022-01-26 17:24] parulbansal2009 commented on #3476
@Bafff I read about the issue via a different channel too. One of our customers opened an ICM. This seems to be a bug which should be fixed soon. If you don't see a fix in few days, I would recommend that you open a ticket regarding this.

[2022-01-26 17:48] GitWesDone opened #3560 "Missing Bing Maps Tenant setting"
This article should include the Bing Maps tenant setting announced here:
https://powerbi.microsoft.com/en-us/blog/power-bi-november-2021-feature-summary/#post-17912-_Toc87473943

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb228f2-d033-a44b-5570-da815663e246
* Version Independent ID: 1260b40c-f6bf-3e23-b60f-69667534

[2022-01-27 07:30] KrishnamrajuNalimela opened #3562 "OData feed URL not working"
Hello Team,

The mentioned OData feed URL in one of the screenshot is not working in this page. The updated link is "https://services.odata.org/v2/northwind/northwind.svc/"

Kindly check and update the page/screenshot.

Thank you,
Krishnamraju
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29bfbd4

[2022-01-27 09:19] #3529 closed

[2022-01-27 15:03] #3152 closed

[2022-01-27 15:55] nstraw commented on #3497
Hello @KesemSharabi,

I understand your point and the approximations will work for us.

I was just curious about this measure (name and formula), I took a chance ;)

Thanks anyway for your time and all the valuable infos.

Nicolas

[2022-01-27 15:55] #3497 closed

[2022-01-27 16:23] mberdugo commented on #3560
Thanks for your suggestion, @GitWesDone
I've assigned this issue to the doc author for review and consideration.

[2022-01-27 20:30] LastThird commented on #3542
I can actually confirm that it *does* work, because I've been doing it 😉

[2022-01-27 22:45] Hyamyam commented on #3547
Thanks @KesemSharabi

I've checked the description is revised in Japanese.
one more thing, recently the description has been updated in English.

![image](https://user-images.githubusercontent.com/73410575/151455668-16c46f72-96ea-486a-911d-e842cb634972.png)

"Analysis Services" to "dataset workloads"

but the description is old in Japanese.
I recommend the description should change from "Analysis

[2022-01-28 00:20] wetnurseyang opened #3563 "Please add more detail on what will happen in the azure subscription associated with Premium capacity auto scale"
Understand the need of an azure subscription when configuration PBI Premium capacity Gen 2 auto scale. But can we provide more detail of what azure resource would be created there when auto scale happens, anything customer should do or shouldn't do against the resource?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-01-28 05:43] rjagdon commented on #3544
May I follow up on this?

[2022-01-28 18:45] davidiseminger commented on #3563
Thanks for your comment, @wetnurseyang. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-01-28 18:47] davidiseminger commented on #3162
Thanks for your request - we've added that information to the article.

[2022-01-28 18:47] #3162 closed

[2022-01-28 18:52] davidiseminger commented on #3196
Thanks for your feedback. We've updated the article to reflect where Manage relationships can be found. Also, you must have a model loaded for the Manage relationships to be active.

[2022-01-28 18:52] #3196 closed

[2022-01-28 18:53] davidiseminger commented on #3216
Thanks for your feedback. As noted (now) in the article, for new functionality use the Azure Cost Management connector for Power BI.

[2022-01-28 18:53] #3216 closed

[2022-01-28 19:03] davidiseminger commented on #3233
Thanks for that info @troydavidcook -- I've added that to the Tip, should be updated in the next day or so. Thanks!

[2022-01-28 19:03] #3233 closed

[2022-01-28 19:08] davidiseminger commented on #3325
Thanks for your feedback, we've updated that article to reflect.

[2022-01-28 19:08] #3325 closed

[2022-01-28 19:09] davidiseminger commented on #3333
Assigning to the article owner.

[2022-01-28 19:11] davidiseminger commented on #3338
Thanks for your comment, we've updated the article. Should reflect in the live documentation in a day or so.

[2022-01-28 19:11] #3338 closed

[2022-01-28 19:16] davidiseminger commented on #3477
Thanks for your comment, I've updated that article to reflect that it's deprecated.

[2022-01-28 19:16] #3477 closed

[2022-01-28 19:18] davidiseminger commented on #3491
Thanks for posting – note that we can only answer feedback related to the documentation and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2022-01-28 19:18] #3491 closed

[2022-01-28 19:18] davidiseminger commented on #3495
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2022-01-28 19:18] #3495 closed

[2022-01-28 22:23] maggiesMSFT commented on #3544
Hi, @rjagdon -- are you asking if you can provide more information, or if we can provide more information? If the former, please do! If the latter, we're working on it.
Thanks!

[2022-01-29 14:41] rbakerpage opened #3566 "Not all imported visuals work with the new format pane"
I was unable to change the number of rows and columns on the chiclet slicer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99728831-9577-faee-e82a-8def045dadea
* Version Independent ID: 99728831-9577-faee-e82a-8def045dadea
* Content: [The new Format pane in Power BI Desktop (preview) - Power BI](https://docs.microsoft.

[2022-01-31 04:21] rjagdon commented on #3544
Thanks for working on this. I am looking for further information. Will wait for your outcome.

[2022-01-31 13:23] paulinbar commented on #3566
Hi @rbakerpage, thanks for reaching out to us with your comment. I believe the Chiclet slicer is a Microsoft-developed custom visual, is it not? Yes, I can see that it might be helpful to know which properties can't be edited, both for the out-of-the-box visuals and also for custom visuals. In any event, I am forwarding your feedback on to the owner of the article for further consideration. Thanks

[2022-01-31 20:39] maggiesMSFT commented on #3566
Hi, @rbakerpage -- thanks for asking! I just installed the cliclet slicer to check it out. I can change rows and columns -- it's under General in the Format pane.
![image](https://user-images.githubusercontent.com/12401230/151869276-bd018141-7819-4563-83ee-56da783c0412.png)
Hmmm, I am using the Feb 2022 version of Power BI Desktop, 2.102.243.0 64-bit (February 2022). That may not be publicly avail

[2022-01-31 20:39] #3566 closed

[2022-02-01 12:04] KesemSharabi commented on #3547
Hi @Hyamyam,

Translating articles from English to other languages may take time. I suggest that you revisit this page at a later time to check if the updates have been translated.

Thanks,

Kesem

[2022-02-01 12:20] KesemSharabi commented on #3506
Hi @ADNewsom09,

I amended the timepoint fields in [Run the app for the first time](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app?tabs=1st#run-the-app-for-the-first-time) (step 4) to say the following:

![image](https://user-images.githubusercontent.com/54834915/151967312-8f41940b-95b7-44d5-a9d1-d6b63f517c28.png)

Thanks for pointing this out!

Kesem

[2022-02-01 12:46] KesemSharabi commented on #3559
Hi @nathanwlee1,

I started an email thread for this.

Thanks,

Kesem

[2022-02-01 12:46] #3559 closed

[2022-02-01 17:52] ALau2088 commented on #3556
@maggiesMSFT @mihart - Hi there. Just wanted to follow up on this. Thanks!

[2022-02-01 22:09] JoelLeichty opened #3567 "Azure Storage Security Documentation is Confusing"
Comments after spending a month trying to make this work:

1. There doesn't seem to be any documentation about an "Azure Blob Data Contributor" role, nor could we find it in the Azure Portal.
2. The sentence structure above is kind of a mess and can be read in many different ways. The user needs two roles? Both roles related to the storage account, or one role is related to the user? Also "an stor

[2022-02-01 23:07] Hyamyam commented on #3547
Hi @KesemSharabi ,
Thank you for your answer. got it.
I'll wait the translation is updated.

[2022-02-01 23:07] #3547 closed

[2022-02-02 00:09] jgibbycsc opened #3568 "Using custom connector with Dataflow produces "Path is invalid" and "There was an error in the OAuth popup window""
If Custom Connectors are not supported in Dataflows, please state that in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 137ea074-f635-5cd9-6e94-f6bc12ac2452
* Version Independent ID: 4ce609b2-adfa-8575-4e4a-9cc285028043
* Content: [Use custom data connectors with the on-premises data gateway - Power

[2022-02-02 03:20] rjagdon opened #3570 "Sensitivity Label"
According to documentation, Sensitivity Labels are inherited for items meeting the following conditions :
1.	A new item is deployed
2.	An item is deployed to an empty stage
3.	The source item has a label with protection and the target item doesn’t. There is a pop-up window asking for consent to override the target label.

Based on testing, even if conditions 1 and 2 are met, the Sensitivity Labels

[2022-02-02 07:24] KesemSharabi commented on #2845
Hi @ericleigh007,

Apologies for the very late reply. As per the [Create parameters](https://docs.microsoft.com/power-bi/connect-data/incremental-refresh-overview#create-parameters) section, `RangeStart` and `RangeEnd` are set automatically by the service as per this statement:

*After the model is published to the service, RangeStart and RangeEnd are overridden automatically by the service to que

[2022-02-02 08:16] KesemSharabi commented on #3506
Hi @ADNewsom09,

Another update, the *Timepoint* and *Timepoint2* fields are now automatically populated so you don't need to enter any values.

Thanks,

Kesem

[2022-02-02 09:31] KesemSharabi commented on #3330
Hi @cloudloudeu,

Apologies for the late reply.

There are no restrictions on the Azure subscription (however it cannot be a trial subscription).

As mentioned in [Configure an Azure subscription to use with Autoscale](https://docs.microsoft.com/power-bi/admin/service-premium-auto-scale#configure-an-azure-subscription-to-use-with-autoscale), you need to have contributor rights.

Hope this helps,

[2022-02-02 10:53] magpiesss commented on #931
I have no doubt this is too late for @code-po8 but leaving this to benefit future explorers...

I had the same troubles as described above - I couldn't add my service principal using the Admin Portal > Workspaces > Access email field. The step we were missing (which I couldn't find in any official tutorials from microsoft) was step 3 in this article: https://powerbi-cli.github.io/content/servicepr

[2022-02-02 13:03] KesemSharabi commented on #3545
Hi @bernatagulloesbrina,

I added the [How can I purchase a PPU license?](https://docs.microsoft.com/power-bi/admin/service-premium-per-user-faq#how-can-i-purchase-a-ppu-license-) section to the [Power BI Premium Per User](https://docs.microsoft.com/power-bi/admin/service-premium-per-user-faq) article.

![image](https://user-images.githubusercontent.com/54834915/152158931-7a2e6330-8c08-4db3-a09b-2

[2022-02-02 13:21] KesemSharabi commented on #3570
Hi @rjagdon,

Thank you for this information, I'll investigate further and change the document if that is needed.

Kesem

[2022-02-02 13:34] KesemSharabi commented on #3567
Thanks for your comment, @JoelLeichty.

I've assigned this issue to the doc author for review.

[2022-02-02 13:40] KesemSharabi commented on #3568
Thanks for your comment, @jgibbycsc.

I've assigned this issue to the doc author for review.

[2022-02-02 15:47] floemmel opened #3571 "Power BI Embedded Support for BYOK"
As far as I know, Power BI Embedded capacities are also supported by BYOK. However this is not stated anywhere in the documentation. It would be great if you could amend this.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e9a86dc-4be4-d0a2-644d-cb20e3af74fb
* Version Independent ID: d08af8bc-fb3e-e443-715

[2022-02-02 17:29] KesemSharabi commented on #3570
Hi @rjagdon,

As this is being investigated by our engineering team, I'll close this GitHub issue.

Thanks,

Kesem

[2022-02-02 17:29] #3570 closed

[2022-02-02 22:30] jopebeni opened #3574 "Question about data refresh when migrating from Gen1 to Gen2"
Question about data refresh when migrating from Gen1 to Gen2

During the switch from Gen 1 to Gen 2 premium, what is the impact on refreshes that are active at that time? Will the migration wait for all active refreshes to complete or kill any active refresh operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e

[2022-02-02 23:23] jlukosky opened #3575 "Spelling: presistProperties should be persistProperties"
Small item: the word "presistProperties" should be spelled persistProperties.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c4c3363-db7e-fa34-3ade-dc56ab85fbdd
* Version Independent ID: 71959fd9-4aff-cec0-9f14-93ae3923d8be
* Content: [Power BI visual interactions - Power BI](https://docs.microsoft.com/en-us/

[2022-02-03 07:54] mberdugo commented on #3575
Hi @jlukosky. Thanks for pointing out my typo. It's good to know that someone is reading these articles so carefully!
I fixed it and it should be live in the next day or so.

[2022-02-03 07:54] #3575 closed

[2022-02-03 12:51] mberdugo commented on #3574
Hi, @jopebeni. Thanks for your question.
I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2022-02-03 12:54] mberdugo commented on #3571
Thanks for your comment, @floemmel.
I've assigned this issue to the doc author to look into.

[2022-02-03 16:01] mibrahim1976 opened #3576 "DAX for date range returning data from date slicer"
Hi All,
i need your help,  i am trying to return the max(date) from the main table "Test" according to the Date slicer filter.
Please find the attached photo which shows three different dates, i created measure to return (min_Date and max_Date) based on filter Date, i created summarize table from "Test" table as i need to have the possibility to display values from Test table based on selected dat

[2022-02-03 18:30] MartinaPoddana opened #3577 "UTC_Offset - add a note "numeric value""
Hi,
I would like to ask to add a comment for Offset in section https://docs.microsoft.com/en-us/power-bi/admin/service-premium-install-gen2-app?tabs=1st#run-the-app-for-the-first-time point 4.
Our Customers are entering characters like "UTC" instead of an actual number.

Please add
"**Note:** Set the offset to a **numerical value** without time zone reference
Should you experience Capacity Metric

[2022-02-04 10:43] nathanwlee1 opened #3578 "Clarify the requirement for MS Teams between 2 doc pages"
On this page (https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-collaborate-microsoft-teams#requirements)
![image](https://user-images.githubusercontent.com/60522406/152514738-0e864a21-3651-40c5-bc08-b4aba7c99ddf.png)

However on this page (https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-collaborate-microsoft-teams#requirements)
![image](https://user-images.gi

[2022-02-04 19:37] davidiseminger commented on #3270
Hello @kpuls -- I've confirmed that this does indeed work in the MS Store version of Power BI Desktop. At this point I believe you should pursue some support with what you're trying to achieve. Thanks too for your suggestion.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-02-04 19:37] #3270 closed

[2022-02-04 19:38] davidiseminger commented on #3576
Thanks for your comment, @mibrahim1976 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com

[2022-02-04 19:39] davidiseminger commented on #3577
Thanks for your comment, @MartinaPoddana . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-04 19:40] davidiseminger commented on #3578
Thanks for your comment, @nathanwlee1. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-04 19:46] davidiseminger commented on #3473
Thanks for the comment, I've added your suggestion. Will show up in the next update of the docs.

[2022-02-04 19:46] #3473 closed

[2022-02-04 19:53] davidiseminger commented on #3476
Thanks for your comment. This is, indeed, an issue with the product rather than the documentation itself. Feel free to pursue the fix (via the ICM) and once that fix is in place, we'll be happy to update the documentation as appropriate.

[2022-02-04 19:53] #3476 closed

[2022-02-04 19:55] davidiseminger commented on #3496
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2022-02-04 19:55] #3496 closed

[2022-02-04 19:56] Bafff commented on #3476
@davidiseminger can you confirm that with the fix (I still would need to know what ICM means) I would receive back the ability to create guest users accounts in my AAD and grant them access to my PowerBI?

[2022-02-04 19:56] davidiseminger commented on #3518
Thanks for your comment. The documentation shows which version is currently supported in Power BI; other updates from external vendors (such as SAP) are not necessarily immediately supported. We update our documentation as support for more recent versions is tested and established.

[2022-02-04 19:56] #3518 closed

[2022-02-04 19:58] davidiseminger commented on #3542
Thanks for your comment, and the clarification. I've updated the documentation to reflect the current behavior. The update should be reflected in the documentation in the next day or so. Thank you!

[2022-02-04 19:58] #3542 closed

[2022-02-04 20:20] davidiseminger commented on #3562
Thanks for your comment. I've added a note just below that image, letting people know that the link may change from what's in the image, including the current link. That should have better longevity. Thanks!

[2022-02-04 20:20] #3562 closed

[2022-02-04 20:22] maggiesMSFT commented on #3578
Hi, @nathanwlee1 -- thanks for pointing that out!
I updated the wording in https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-collaborate-microsoft-teams#requirements per your suggestion.
And I clarified the wording in the requirements section of https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-microsoft-teams-app#requirements. The requirements aren't the same,

[2022-02-04 20:22] #3578 closed

[2022-02-05 12:00] KrishnamrajuNalimela commented on #3562
Thank you for the update.

Regards,
Krishnamraju

On Sat, 5 Feb 2022 at 1:51 AM, David Iseminger ***@***.***>
wrote:

[2022-02-05 16:04] mibrahim1976 commented on #3576
Thanks @davidiseminger , i just open a ticket https://community.powerbi.com/t5/Desktop/Calculate-max-date-value-from-date-range/td-p/2321185

[2022-02-06 21:53] ronssssss opened #3579 "PowerQuery in Excel and PowerBI"
I've been told that PowerQuery is the same in both apps. In that case they should have the same list of data source connections.

The PowerBI documentation lists **160 sources**
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-sources

While Excel documentation only lists **40 sources**
https://support.microsoft.com/en-us/office/import-data-from-data-sources-power-query-be4330b3

[2022-02-06 22:02] ronssssss opened #3580 "Please sort the lists of sources alphabetically in each catory"
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-sources
Please sort the lists in each category alphabetically, to make it easier to locate specific entries without resorting to find feature, ie
68.	Adobe Analytics
69.	appFigures (Beta)
70.	Asana (Beta)
71.	Assemble Views
72.	Automation Anywhere
73.	Automy Data Analytics (Beta)
74.	Azure DevOps (Boards only)
75.	Azure DevOps Ser

[2022-02-06 22:17] ronssssss opened #3581 "Why are Azure entries in to sub categories?"
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-sources
.
I'll prefix this by saying the only thing I know about Azure is that it is a cloud Database.

Azure has a category, with 16 entries.
.
Then the next category, "Online Services Data Sources" lists 2 more "Azure" entries
74.	Azure DevOps (Boards only)
75.	Azure DevOps Server (Boards only)
.
I'm curious why they are not par

[2022-02-06 22:20] ronssssss opened #3582 "Misplaced entries?"
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-sources
.
Just curious why
137.	ODBC
138.	OLE DB

are in the "other" category rather than "DB" category?

[2022-02-07 02:18] ChessGeekBoy opened #3583 "Typo"
![image](https://user-images.githubusercontent.com/81440771/152714568-1d3f6ec3-8dd4-48bc-840b-c8f6dabc7ce3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ea19ca3-9587-e7d0-2b47-5255911eeffc
* Version Independent ID: 50fa187c-94cb-6c82-e2ff-193dd0f0f762
* Content: [Embed Power BI report in a Power BI embedded anal

[2022-02-07 07:41] paulinbar commented on #3579
Hi @ronssssss, thanks for your comment. I am passing it on to the doc owner for consideration.

[2022-02-07 07:43] paulinbar commented on #3580
Thanks for your suggestion @ronssssss. Passing it on to the doc author for consideration.

[2022-02-07 07:45] paulinbar commented on #3581
Hi @ronssssss, thanks for your question. Forwarding it along to the doc owner.

[2022-02-07 07:46] mberdugo commented on #3583
Thanks for pointing out this typo, @ChessGeekBoy . I fixed it and it should be published in the next day or so.

[2022-02-07 07:46] #3583 closed

[2022-02-07 07:47] paulinbar commented on #3582
Hi @ronssssss, thanks for your question. Sending on to the doc author for consideration.

[2022-02-07 09:02] Hyamyam opened #3584 "The number of limits of Model refresh parallelism has not been updated."
Hi authors,

Recently the number of limits in English version has been changed.
But the description in Japanese version has not been changed yet.

![image](https://user-images.githubusercontent.com/73410575/152756869-175a83d9-38d3-4795-b6d9-2e56caa95acb.png)

Please kindly modified it.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-02-07 12:20] marclelijveld opened #3585 "Sample Excel files are broken"
[Sample Excel](https://docs.microsoft.com/en-us/power-bi/create-reports/sample-datasets?WT.mc_id=DP-MVP-5003435&#download-sample-excel-files) files are broken, due to discontinuing Power View in Excel.

When opening the Excel files, the following error shows:
![image](https://user-images.githubusercontent.com/38921736/152787002-8ec2b05b-10a8-4afa-968f-8aa89b0f0217.png)
I think updating the files,

[2022-02-07 18:00] olam-MCA opened #3586 "POWERPBI ONLINE - Pipeline Rules on Dataflow with Replace Datasource : Target Gateway cant be Modified"
Hello,

My issue : POWERPBI ONLINE - Pipeline Rules on Dataflow with Replace Datasource : Target Gateway cant be Modified

I created a pipeline with Rules Modifying Datasource connexion.

=> Pipeline :
--------------
From Worskpace 1 WS1(DEV) to Workspace 2 (Test) =WS2(PROD)
WS1 use A Dataflow and a Datasource DS
pipeline Rules : modify DS connection from
Source : DS1 = Host-dev ( Hostes on A Gate

[2022-02-07 22:27] maggiesMSFT commented on #3584
Hi, @Hyamyam -- I'll check to see what our localization turnaround time is. Looks like most recent update was Jan 31, 2022, so I'm sure the update is imminent!
cc @KesemSharabi

[2022-02-08 00:17] maggiesMSFT commented on #3586
Hi, @olam-MCA - are you referring to a specific article? If so, I don't see it listed. If it's a general question, try asking the Power BI community, https://community.powerbi.com/

[2022-02-08 01:50] maggiesMSFT commented on #3584
Hi, @Hyamyam -- good catch! The files were just handed off to the Localization team. Updates should be live in about 5 days.
cc @KesemSharabi

[2022-02-08 01:50] #3584 closed

[2022-02-08 02:11] maggiesMSFT commented on #3585
Hi, @marclelijveld -- I appreciate the feedback! I've been debating this very question. Currently the only option is to just remove links to the Excel files altogether. Would that be better than leaving them up, with an explanation about the PV sheets?
I could delete the PV sheets; then the Excel file will open to blank worksheets, because the data is all in Power Pivot.
One plus for keeping the P

[2022-02-08 08:20] KesemSharabi commented on #3577
Hi @MartinaPoddana,

The only value you should enter in the UTC_Offset field is 0. I though that was clear, but as per your comment, it isn't. I'll amend the article to make that clearer.

Hopefully this field will soon be automatically populated.

Thanks,

Kesem

[2022-02-08 08:29] olam-MCA commented on #3586
your Right, It is not a Documentation issue. thk you

[2022-02-08 08:43] MartinaPoddana commented on #3577
@KesemSharabi ,
Thank you.  Customers tend to do strange things sometimes.

I actually understood that Cx can use numerical value.
During first month of Gen2, there used to be comment somewhere that offset “does not work yet”. Since that comment disappeared, I assumed that they could use anything between -12 to +12.
Actually the whole of Release Notes section has disappeared from the app :) .

![i

[2022-02-08 09:19] KesemSharabi commented on #3577
Hi @MartinaPoddana,

The app is constantly changing and evolving, as we want to bring the best customer experience we can to you. In the future we will try to remove all the unneeded fields.

Think about it like this - the main thing is to install the app properly. Once installed, you should be able to make all your inquiries in the app.

Hope this helps,

Kesem

[2022-02-08 09:22] MartinaPoddana commented on #3577
Thank you Kesem.

[2022-02-08 09:31] #3451 closed

[2022-02-08 09:35] KesemSharabi commented on #3333
Hi @aislingdeery1,

I updated the [Enable the enhanced compute engine](https://docs.microsoft.com/power-bi/transform-model/dataflows/dataflows-premium-features?tabs=gen2#enable-the-enhanced-compute-engine) section, with two tabs, one for Gen2 and another for Gen2.

Thanks for pointing out that this needed updating.

Kesem

[2022-02-08 09:35] #3333 closed

[2022-02-08 09:37] #3039 closed

[2022-02-08 10:17] marclelijveld commented on #3585
Hey @maggiesMSFT,
Relevant and good questions for sure! Maybe it would be possible to remove the PV elements from the sheets, but leave the files there, as folks can still use it as demo data. Not having the PV error contributes to a positive experience I think, rather than having (unsupported) content. Though, people might be confused when they open the files and sheets are empty. Maybe just add

[2022-02-08 10:29] PriyankaChaudhariNitor opened #3590 "Power Bi REST API Python huge report export .pbix"
Now, I'm trying to retrieve the .pbix file with REST API (Export report URL)

I have around 900MB file size.
[https://api.powerbi.com/v1.0/myorg/reports/<report_id>/Export]()

but maybe because of its huge size, the request runs for 5mins and returns below error response

{
    "Message": "An error has occurred."
}

can anyone suggest a workaround or any other way to export this huge file?

**This

[2022-02-08 14:49] roconnor39 opened #3591 "Count of throttling tooltip"
I cannot see in the documentation where the definition of "count of throttled windows" appears.   This appears on the tooltip of the Overloaded minutes per hour visual within the performance app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f52eeb-717d-9a67-b775-c17c5cf916e4
* Version Independent ID: 2c804bb2-1cf3-

[2022-02-08 20:09] stensjoberg opened #3593 "Steps for conditional formatting outdated in Hyperlinks in Tables page"
This page is outdated, the steps to apply conditional formatting have changed. I would suggest linking to this page with the new guidance: https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-conditional-table-formatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* V

[2022-02-08 22:17] SirArtisanAzalea opened #3594 "No Instructions for Rating Apps in AppSource"
There's no information in this document on rating an app. I've attempted to rate an app via AppSource and am told to download and use the app first (I have). I cannot rate through the Service either. How do you rate an app?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e83a4fd-44f3-4fe6-9237-3cc56f3965cd
* Version I

[2022-02-09 09:28] #3577 closed

[2022-02-09 12:24] KesemSharabi commented on #3574
Hi @jopebeni,

I double checked this with the engineering department and can confirm that during the migration from Gen1 to Gen2, there should be no impact on data refresh.

Hope this helps,

Kesem

[2022-02-09 12:24] #3574 closed

[2022-02-09 12:36] KesemSharabi commented on #3563
Hi @wetnurseyang,

Thanks for identifying this gap!

I updated the procedure in [Configure an Azure subscription to use with Autoscale](https://docs.microsoft.com/power-bi/admin/service-premium-auto-scale#configure-an-azure-subscription-to-use-with-autoscale), and added a clarification note to [Enable Autoscale in the Power BI Admin portal](https://docs.microsoft.com/power-bi/admin/service-premium

[2022-02-09 12:36] #3563 closed

[2022-02-09 12:54] KesemSharabi commented on #3594
Thanks for your comment, @SirArtisanAzalea.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2022-02-09 12:55] KesemSharabi commented on #3593
Thanks for your comment, @stensjoberg.

I've assigned this issue to the doc author for review.

[2022-02-09 12:58] KesemSharabi commented on #3590
Thanks for your comment, @PriyankaChaudhariNitor.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-02-09 12:58] #3590 closed

[2022-02-09 12:59] KesemSharabi commented on #3591
Hi @roconnor39,

Thanks for your comment. I'll look into it and get back to you shortly.

[2022-02-09 20:57] maggiesMSFT commented on #3585
Yes, I like it! I'll share with some other folks on the team and put it on the backlog.
Thanks!

[2022-02-09 21:34] maggiesMSFT commented on #3593
Hi, @stensjoberg -- good idea! Adding it to the backlog.

[2022-02-10 08:11] Abhra1992 opened #3596 "Gateways - Update Datasource - Using OAuth Access Token"
I am unable to update an on-premises gateway datasource credentials using OAuth Access Token.

[code]

I get the error HTTP 400:
[code]

I believe this error is due to the fact that my token contains characters `-`, `_` and `.`, which are not valid in standard base64.
I have tried using base64 url decoding with padding as well - many different combinations, but I always get the same error.

What i

[2022-02-10 10:05] SerenaPisati opened #3597 "Emissions Impact Dashboard for Microsoft 365 link NOT working"
Click the following link to get to the app: [Emissions Impact Dashboard for Microsoft 365](https://aka.ms/microsoft-365-emissions).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d621bc5e-d39c-3641-9385-24ead7ddb4f7
* Version Independent ID: d621bc5e-d39c-3641-9385-24ead7ddb4f7
* Content: [Connect to the Emissions Impa

[2022-02-10 10:06] paulinbar commented on #3597
Hi @SerenaPisati, thanks for the alerting me. Let me check this out..

[2022-02-10 10:08] paulinbar commented on #3597
Hi again @SerenaPisati, can you try this link? https://appsource.microsoft.com/en-us/product/power-bi/coi-sustainability.emissions_impact_dashboard_microsoft_365
I will see about updating the doc in the meantime.

[2022-02-10 10:10] SerenaPisati commented on #3597
Thank you Paul!

It looks like it's working.

Serena

From: Paul Inbar ***@***.***>
Sent: Thursday 10 February 2022 10:09
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Serena Pisati ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Emissions Impact Dashboard for Microsoft 365 link NOT working (Issue #3597)

Hi again @SerenaPisati<https://nam06.safelinks.protection.outl

[2022-02-10 10:16] paulinbar commented on #3597
Great! Thanks again for pointing this out Serena!
@SerenaPisati

[2022-02-10 10:32] paulinbar commented on #3597
@SerenaPisati, I fixed the link on the docs page, and it should be live in about 15 minutes.
Closing the issue now. Thanks again!

[2022-02-10 10:32] #3597 closed

[2022-02-10 11:09] tmhui94 opened #3599 "May I know how long it will take effect after the access had been configured?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db2f3b5-305f-2803-012a-04154b58acb2
* Version Independent ID: 3bf41b0d-cd66-9782-1d2c-d1d79319048c
* Content: [Give users access to the new workspaces - Power BI](https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-give-access-new-wor

[2022-02-10 14:58] GitWesDone opened #3600 "PowerBI Service Tag insufficient for network isolation"
PowerBI service tag does not include all of the endpoints necessary for an Azure Firewall rule to allow access to all necessary endpoints to render the Power BI portal.   This should include all the service tags necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0a5167-9181-bcb4-091c-9e603d2cf296
* Version Ind

[2022-02-10 15:56] mberdugo commented on #3596
Thanks for your question, @Abhra1992 .
I've assigned this issue to the doc author to look into regarding the correct format.

[2022-02-11 12:44] shayanjafari opened #3601 "Explanation for RevenueTY field"
[Enter feedback here]
Hi

I wanted to know what exactly "TY" in RevenueTY field in this report stands for .
I know that RevenueTY = CALCULATE ( [ TotalRevenue ] , FILTER ( Scenario , Scenario [ Scenario ] = "Actual" ) ) ; But i couldn't understand the "TY" meaning from that .

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-02-11 18:53] valenciajdev opened #3602 "Meaning of sandbox technology for R scripts security"
[Under the R scripts security section: _[https://docs.microsoft.com/en-us/power-bi/visuals/service-r-visuals#r-scripts-security](https://docs.microsoft.com/en-us/power-bi/visuals/service-r-visuals#r-scripts-security)_ please detail what do we mean by _sandbox_ technology, whom has access to it and how it protects against security risks]

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-02-11 20:15] davidiseminger commented on #3599
Hello there @tmhui94 -- This looks like a support request rather than documentation feedback, plus you didn't reference the article you're asking about, which makes it difficult to determine what you're asking.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-02-11 20:15] #3599 closed

[2022-02-11 20:16] davidiseminger commented on #3600
Thanks for your comment, @GitWesDone . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-11 20:17] davidiseminger commented on #3601
Thanks for your comment, @shayanjafari . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-02-11 20:17] #3601 closed

[2022-02-11 20:19] davidiseminger commented on #3602
Thanks for posting @valenciajdev  – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests. In general, sandbox means an environment where you can test work, and develop solutions outside of a production environment.

Your best venue for getting a more specific answer or feedback on your question is from the community (https

[2022-02-11 20:19] #3602 closed

[2022-02-12 08:26] romanzdk opened #3604 "Power BI REST API - documentation structure"
Power BI API documentation is very unfriendly and illegible.

E.g. https://docs.microsoft.com/en-us/rest/api/power-bi/datasets

Table of content of "In this article" contains only "Required scopes" which does not make much sense nor it is useful. The same applies for all other APIs, not only Datasets.

[2022-02-13 08:33] KesemSharabi commented on #3596
Moved to email.

[2022-02-13 08:33] #3596 closed

[2022-02-13 10:05] KesemSharabi commented on #3591
Hi @roconnor39,

Thank you for pointing out that there's no definition for 'count of throttled windows'. This really should be renamed to *Overloaded Minutes*. The value is displayed in multiples of half a minute.

We'll shortly change the name in the tooltip so that it doesn't cause any further confusion.

Thanks,

Kesem

[2022-02-13 18:06] paulinbar commented on #3604
Hi @romanzdk, thanks for your feedback. I know that the REST APIs dealing with datasets have been undergoing some work recently, so it is possible some of what you are seeing is the result of that, but in any event I am forwarding your comment along to the person who monitors the REST API documentation. Thanks again for reaching out!

[2022-02-14 00:58] jotsap opened #3605 "Considerations and Limitations - Repeat Bullets"
Under Sonsiderations and Limitations, the last 3 bullets are repeated earlier in the list. In other words these items are listed twice

BULLET 3 AND 9:
There may be times when using Analyze in Excel that you get an unexpected result, or the feature doesn't work as you expected. See [Troubleshoot Analyze in Excel](https://docs.microsoft.com/en-us/power-bi/collaborate-share/desktop-troubleshooting-a

[2022-02-14 06:53] KesemSharabi commented on #3591
Hi @roconnor39,

Just to update you, the change is already live:

![image](https://user-images.githubusercontent.com/54834915/153814396-6485891f-0fe8-4561-8084-1b14742a9ee5.png)

Thanks,

Kesem

[2022-02-14 20:49] #2065 closed

[2022-02-14 20:50] mihart commented on #2417
Closed because very old.

[2022-02-14 20:50] #2417 closed

[2022-02-14 20:50] mihart commented on #2694
Not enough info. Closed.

[2022-02-14 20:50] #2694 closed

[2022-02-14 20:51] mihart commented on #2700
Page has been updated often since this issue was created. Closing.

[2022-02-14 20:51] #2700 closed

[2022-02-14 20:52] mihart commented on #2702
Author never responded. Very old. Closing.

[2022-02-14 20:54] mihart commented on #2730
Author never responded and issue is more than 1 year old. Closing.

[2022-02-14 20:54] #2730 closed

[2022-02-14 20:54] mihart commented on #2787
No reply. Closing.

[2022-02-14 20:54] #2787 closed

[2022-02-14 20:56] mihart commented on #2697
Older than 1 year. Closing.

[2022-02-14 20:56] #2697 closed

[2022-02-14 20:57] mihart commented on #2057
Old issue and article has been heavily updated. Closing.

[2022-02-14 20:57] #2057 closed

[2022-02-14 20:58] mihart commented on #2124
More than 1 year old git issue from internal. Closing.

[2022-02-14 20:58] #2124 closed

[2022-02-14 20:59] mihart commented on #2133
Older than 1 year. Article updated. PM never responded. Closing.

[2022-02-14 20:59] #2133 closed

[2022-02-14 21:03] mihart commented on #3576
add tag

[2022-02-14 21:03] #3576 closed

[2022-02-15 02:49] mihart commented on #3605
Thanks for your comment, @jotsap. I've updated the article and set it to republish.

[2022-02-15 02:49] #3605 closed

[2022-02-15 02:54] mihart commented on #3594
Thanks for your comment, @SirArtisanAzalea . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-02-15 02:54] #3594 closed

[2022-02-15 02:56] mihart commented on #3556
Hi @ALau2088 ,
Thank you for your question. We're about to change the way drilling works and will be updating the article.  When that happens I'll see if I can add a link to the sample being used.  In the current version, the sample came from a PM who did not save it.
All the best,
The DOCS team

[2022-02-15 03:01] mihart commented on #3543
Hi @Jason-ky-c ,
Refreshing definitely is a complex topic and I'll try to clear up ambiguity in the articles. To answer your question about a workaround, you might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Sup

[2022-02-15 03:01] #3543 closed

[2022-02-15 03:02] mihart commented on #3531
Thanks for your comment, @rootsmusic. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-02-15 03:02] #3531 closed

[2022-02-15 03:13] mihart commented on #3530
Hi @welyson1 ,
Thank you for your suggestion.  I've contacted the PM and will add the info when they respond.

[2022-02-15 03:17] mihart commented on #3526
Hi again @rootsmusic :-)
Thank you for pointing that out.  I've updated the article and set it to republish tomorrow.

[2022-02-15 03:17] #3526 closed

[2022-02-15 03:22] #3556 closed

[2022-02-15 03:25] mihart commented on #3412
Hi @mukhijasahib,
I've contacted the PM for this feature and will update the article when I hear back.

[2022-02-15 05:30] michellepace commented on #2702
Hi Mihart, I am the author. I'm sorry - I don't know where I should have responded...? I asked a question and didn't got a reply. At least not as far as I can see... am I mistaken?

[2022-02-15 10:33] tirnovar opened #3606 "Not working site: Dev.PowerBI.com/Apps"
Link: https://dev.powerbi.com/apps will take you to the right page, but you cannot sing here because once you click on "sing in," you will be redirected to "https://powerbi.microsoft.com/en-gb/developers/" not signed it and to redirected back. If I want to create an "app" on some page, I have to go through this page https://app.powerbi.com/embedsetup.

[2022-02-15 10:40] rwlpf opened #3607 "Is this feature deprecated ?"
Is this feature deprecated?  The setting for this does not appear in my personal PowerBI tenant settings, nor one of my corporate clients.  If I remember correctly this set else where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460b9768-213a-bd8b-5ad8-ed5071848a98
* Version Independent ID: 24bdc0f5-a172-0d0b-02b2-f

[2022-02-15 17:51] BNN-Darren opened #3609 "Update second bullet to include "custom" -- custom visuals not supported"
Per this thread, the second bullet I believe should specify report page tooltips are not supported for "custom" PowerBI visuals. https://community.powerbi.com/t5/Desktop/Report-tooltips-are-not-supported-for-Power-BI-visuals/td-p/1828796

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf

[2022-02-15 22:54] chrisweis opened #3610 ""Export data" setting no longer exists"
Hello,

The "Export Data" section of this page seems to be outdated as "Export Data" is no longer an individual setting.

Maybe this needs to be updated to reflect the various types of exports (Export to Excel, Export to .csv, etc)?

Thanks,
Chris
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85be11e7-5a03-a1b1-605a-d4

[2022-02-15 22:59] paulinbar commented on #3607
Hi @rwlpf, yes you are correct, the data classification labels have been deprecated. While the feature was deprecated last year, some traces may remain in the UI ... they are scheduled to be removed by the end of March. In any event, here is a link to the main sensitivity label article. https://docs.microsoft.com/power-bi/admin/service-security-sensitivity-label-overview. Sensitivity labels aren't

[2022-02-15 22:59] #3607 closed

[2022-02-15 23:45] paulinbar commented on #3610
Hi Chris, thanks for bringing this to my attention. Putting this on my list of things to do!

[2022-02-16 04:11] mihart commented on #3606
Thanks for your comment, @tirnovar . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-02-16 04:11] #3606 closed

[2022-02-16 04:11] mikeane01 opened #3611 "Power BI App in MS Teams with Private Link enabled missing in the constraints and limitations section"
Request the addition of any constraints and limitations with Private Links for the 'Power BI App in MS Teams' scenario.

For example if the customer has setup Private Links and enabled 'Disable Internet Access', then will the Power BI App in MS Teams work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8b8f9-7455-6a

[2022-02-16 04:16] mihart commented on #3609
Thanks for your comment, @BNN-Darren . This issue has been assigned to the doc author for review.

[2022-02-16 12:32] gryczanu opened #3612 "Create data source use encrypted credentials"
I'm trying to automate gateway data source management using PowerShell. First I need to encrypt credentials. Here is my PowerShell script to do this;

    $segmentLength = 85
    $encryptedLength = 128
    $plaintTxt = '{"credentialData":[{"value":"'+$Username+'","name":"username"},{"value":"'+$Password+'","name":"password"}]}'
    $rsa = New-Object System.Security.Cryptography.RSACryptoServicePro

[2022-02-16 13:59] KesemSharabi commented on #3612
Thanks for your comment, @gryczanu.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-02-16 13:59] #3612 closed

[2022-02-16 14:00] KesemSharabi commented on #3611
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2022-02-16 15:01] msuxg opened #3613 "Can't access 'Best and worst states for retirement' data"
In this tutorial, I get as far as 'If prompted, on the Access Web Content screen, select Connect to use anonymous access.' I then get an error  message in Power BI: "Something went wrong. The strong did not match the expected pattern'.
The details are:

Feedback Type:
Frown (Error)

Error Message:
The string did not match the expected pattern.

Stack Trace:
   at AngleSharp.Extensions.QueryExtensi

[2022-02-16 18:47] RylandDeGregory commented on #3600
The `PowerBI` Service tag referenced within this article, and also within the [downloadable JSON object of Service Tags](https://www.microsoft.com/en-us/download/details.aspx?id=56519), cannot be added to an Azure Firewall rule...
![image](https://user-images.githubusercontent.com/18073815/154334743-2be96f87-8293-4e87-ae3a-39492ec076f9.png)

Is this intentional?

[2022-02-17 08:27] JVerveer opened #3614 "Denormalization vs Normalization contradiction in article"
In the "Normalization vs. denormalization" section, it is stated that "As described in this article, you should strive to develop optimized Power BI data models with tables that represent normalized data."

This statement is debunked further on the page in the section "Snowflake dimensions" where it is stated that normalisation leads to "...more tables, which is less efficient from storage and per

[2022-02-17 14:13] mberdugo commented on #3613
Thanks for your question, @msuxg.
I've assigned this issue to the doc author for review.

[2022-02-17 16:49] vtheresaz opened #3615 "Home Canvas section missing information"
Home Canvas section is missing information regarding the "Recommended" Section. It focuses mostly on the Expanded view and describes the Simplified view as follows: "The Simplified view displays less categories of content; you'll see only tabs for Recents, Favorites, My apps and a link to Show more."

However, the Recommended section includes different recommendations than the Favorites + Frequent

[2022-02-17 19:23] MartinaPoddana opened #3616 "Outdated information"
Hello,
I was looking for the latest December version & January - it seems that both docs are outdated.

Previous monthly updates https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-latest-update-archive?tabs=powerbi-desktop

Latest update - https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-latest-update?tabs=powerbi-desktop

Thank you. Martina

---
#### Document Details

⚠

[2022-02-18 02:48] Dan1480 opened #3617 "Typo"
Text in top, purple info box says "planing" instead of "planning"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05116811-0e08-5173-d52e-18bf9b855a74
* Version Independent ID: 05116811-0e08-5173-d52e-18bf9b855a74
* Content: [Power BI usage scenarios: Enterprise BI - Power BI](https://docs.microsoft.com/en-us/power-bi/g

[2022-02-18 04:03] peter-myers commented on #3617
Thanks very much, @Dan1480 - I've just submitted a PR to fix that typo. 👍

#please-close

[2022-02-18 04:39] rubeesh opened #3618 "Hide sub report from main list"
[Enter feedback here]
Is there any way to hide subreports in paginated report, so that the users don't access sub reports directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3ff44b8-fcd6-eac4-232d-71ce0f9b5933
* Version Independent ID: d367f3a1-0f59-d508-b3cb-0723328e6f22
* Content: [Subreports in Power BI pagina

[2022-02-18 05:04] oussama70 opened #3619 "Example not working when creating Power BI Private Endpoint"
Hello community and page owner,
I am trying to build a demo to one of the enterprise clients and I want to show Power BI Private Link solution and how Power BI can access resources privately in their tenant vNet.
I followed the whole exercise and I tried so many things. When reaching the step of provisioning the Private Endpoint, I get an error saying: No supported sub-resources
In brief, I create

[2022-02-18 05:19] susan-taylor-nz opened #3620 "Xero App not in App Store?"
[Enter feedback here]

---

I searched for Xero in the app store today 18/2/22 and the only options shown were two ACTERYS apps -

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b8c79-ddc0-a0d6-3f60-f0d53d3dbca4
* Version Independent ID: b490a2a1-c55b-db04-964f-2cd0e1107509
* Content: [Connect to Xero with Power BI - Pow

[2022-02-18 09:32] MartinaPoddana opened #3621 "Add Making data source parameters"
I would like to ask for adding a section on making Datasource a parameter - Patrick made a video https://www.youtube.com/watch?v=OnaDJkGOmIE, but I am not able to find this in MS docs.
Thank you Martina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5

[2022-02-18 13:16] shayanjafari commented on #3601
thanks for guidance

[2022-02-18 17:14] davidiseminger commented on #3615
Thanks for your comment, @vtheresaz. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-18 17:15] davidiseminger commented on #3616
Thanks for your comment - we often do not have updates in December or January, due to holidays and vacations. The February update was just released, go check it out!

[2022-02-18 17:15] #3616 closed

[2022-02-18 17:16] davidiseminger commented on #3618
Thanks for your comment, @rubeesh . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-02-18 17:16] #3618 closed

[2022-02-18 17:18] davidiseminger commented on #3619
Thanks for your comment, @oussama70. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

If your support experience or outcome specifically says that we need to update the steps, we'll certainly do so.

[2022-02-18 17:18] #3619 closed

[2022-02-18 17:19] davidiseminger commented on #3620
Thanks for your comment, @susan-taylor-nz. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-18 17:20] davidiseminger commented on #3621
Thanks for your comment, @MartinaPoddana. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2022-02-18 19:26] Supriya4466 opened #3622 "Wrong column name written while explaining group by command"
![image](https://user-images.githubusercontent.com/99993644/154748775-0828d16d-d018-485a-8c0f-93b6725eb79e.png)
![Capture](https://user-images.githubusercontent.com/99993644/154748846-9de394e5-9956-4251-9ab0-d54b5f2fd5a1.PNG)

[2022-02-20 23:33] middlec000 opened #3623 "Loading data: Click "Transform" to enter Power Query Editor, don't click "OK""
# Thank You!
Great tutorial! There is one small misdirection that caused me issues. I suspect its source is an update to the data loading process in Power BI.

# Current
[https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-tutorial-analyzing-sales-data-from-excel-and-an-odata-feed#import-the-odata-feeds-order-data](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-tutorial-

[2022-02-21 07:13] #3604 closed

[2022-02-21 07:14] #3591 closed

[2022-02-21 07:14] #3545 closed

[2022-02-21 07:15] #3532 closed

[2022-02-21 07:15] #3523 closed

[2022-02-21 07:16] #3501 closed

[2022-02-21 07:16] #3490 closed

[2022-02-21 07:17] #3330 closed

[2022-02-21 07:17] #2845 closed

[2022-02-21 07:18] #2749 closed

[2022-02-21 09:28] paulinbar commented on #3614
Hi @JVerveer, thanks for your feedback. I have forwarded your comments along to the doc author for consideration.

[2022-02-21 09:39] paulinbar commented on #3622
Hi @Supriya4466... sharp eyes! Thanks for your feedback! I'm forwarding your observation along to the doc owner.

@davidiseminger, I think this is the place being referred to:
https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-common-query-tasks#group-rows

[2022-02-21 09:44] paulinbar commented on #3623
Hi @middlec000, thanks for reaching out to us with your observation. I am forwarding it on to the doc owner for further action. Thanks for helping us keep the docs up to date! And the kind words about the tutorial I am sure will be appreciated.

[2022-02-21 10:03] rjagdon opened #3624 "Export to PDF with Sensitivity Label"
Documentation mentions that :

Export to PDF doesn’t support sensitivity labels. If you export a file that has a sensitivity label to PDF, the PDF won’t receive the label and no protection will be applied.

However, for reports that have highly confidential or restrictive Sensitivity Labels, the exported document contains security warnings and requires Information protection plugin downloaded for

[2022-02-21 10:24] paulinbar commented on #3624
Hi @rjagdon, thanks for reaching out with your question. I will check this out.

[2022-02-21 10:48] Hyamyam opened #3625 "The almost of text in article has Bold"
Hi Authors,

I was checking the article in Japanese.
Almost of the text is kept as Bold.
![image](https://user-images.githubusercontent.com/73410575/154939977-6e44569d-e259-4471-a579-5df05a34af51.png)

It is hard to read.
Can you please modifiy from Bold to normal font.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-21 10:54] paulinbar commented on #3624
Hi @rjagdon. I checked over the docs. The part that says that sensitivity labels aren't applied to exported PDFs is under the Desktop limitations section. As far as I can tell, that limitation still applies. When you export your report from Desktop, there is no warning when you open the PDF, i.e. the sensitivity label and the protection it carries didn't pass over to the exported PDF file.

Furthe

[2022-02-21 10:54] #3624 closed

[2022-02-21 11:07] paulinbar commented on #3252
Hi @avloon, I haven't heard back from you for awhile regarding the tenant setting you were referring to, so I am closing this issue for the present. If you have more details please feel free to reopen the issue. Thanks.

[2022-02-21 11:07] #3252 closed

[2022-02-21 11:12] paulinbar commented on #3366
Hi @AlonEkelund, did your issue ever get resolved?

[2022-02-21 14:37] Supriya4466 commented on #3622
Happy to help

Thanks and Regards,
Supriya

[2022-02-21 14:59] paulinbar commented on #3625
Hi @Hyamyam, thanks for pointing this out. I am forwarding your observation on to the doc owner for further action.

[2022-02-21 15:02] middlec000 opened #3626 "Suggested Edits"
# Thank you
Thank you @maggiesMSFT and other contributors for this tutorial - it was very helpful!
The following I consider minor changes that would help someone new to Power BI (such as myself) follow the tutorial with more ease. Several of these changes I think are due to updates in the Power BI interface.

# Issue 1
## Current
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-exc

[2022-02-21 19:53] paulinbar commented on #3626
Hi @middlec000, thanks for your detailed feedback, and the kind words! They go to a different author this time, and I am sure will be welcome, as is the feedback. It's always good to hear from someone who has actually gone through the material and has suggestions as to how it can be improved. Thanks again!

[2022-02-22 00:08] Hyamyam opened #3627 "The page of Japanese article is changed in French"
Hi Authors,

The page of Japanese article has been changed in French.

![image](https://user-images.githubusercontent.com/73410575/155040604-63f06e72-407d-4667-b5a1-6029da7e7a3f.png)

Please kindly check and modifiy it.
Thanks,

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4ce540da-a491-f6c2-d33a-5293f09d2182
* Version Independent ID: dbdbaf6a-5c69-

[2022-02-22 03:02] ayumito opened #3628 "中国語のページが表示されます。"
[フィードバックをこちらに入力してください]
https://docs.microsoft.com/ja-jp/power-bi/admin/service-premium-gen2-faq と「ja-jp」で指定しているのに中国語です。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9e7d18dd-7459-baea-2c12-fc47ffcd9b11
* Version Independent ID: 42220c7a-465b-2da2-3014-0aecd9631142
* Content: [Power BI Premium Gen2 常见问题解答 - Power BI](https://docs.microsoft.com/ja-jp

[2022-02-22 12:56] roconnor39 commented on #3591
Thanks for this.  Just to Clarify, the overloaded minutes - if each bar represents an hour, would the over loaded minutes tool tip not exceed 60 minutes - its just that the customer has claimed he has claimed more than 60 in an hour.

From: Kesem Sharabi ***@***.***>
Sent: 14 February 2022 06:54
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Rebecca OConnor ***@***.***>; Mention ***@***.***>
Subj

[2022-02-22 14:38] AlonEkelund commented on #3366
Unfortunately no. I still cannot get data into the report. It is a problem as I want this to work. This is a strategic matter for us

[2022-02-22 15:36] paulinbar commented on #3366
@AlonEkelund

And in step 6 you put in the Billing account ID and in step 8 you logged in with the credentials which have access to the billing ID and has the permissions explained in the prerequisites, i.e. Power BI Pro license and an admin role with read/write permissions on the Azure tenant?

Sorry, just need to ask. I imagine you did this.

[2022-02-22 15:39] paulinbar commented on #3366
I am not familiar with the bit about the Azure benefit. Do you have any detail on how when you activate the benefit it changes your plan? What kinds of signs about that do you have?

[2022-02-22 19:59] paulinbar commented on #3366
Hi @AlonEkelund, I consulted with the product PM about what you wrote me, and they said that for this problem the best thing would be for you to open a support ticket at [support.powerbi.com](https://support.powerbi.com/) (I am a docs person). So I'm closing this github issue for now. If you find anything in the docs that needs improvement or clarification, please let us know. Anyway, sorry you've

[2022-02-22 19:59] #3366 closed

[2022-02-23 05:28] mihart commented on #3627
Thanks for your comment, @Hyamyam . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-02-23 05:28] #3627 closed

[2022-02-23 05:29] mihart commented on #3628
Thanks for your comment, @ayumito . This issue has been assigned to the doc author for review.

[2022-02-23 08:26] AlonEkelund commented on #3366
And I did open a ticket both on Power BI support and Azure support. I talked to both teams. Non could give me a solution. I am waiting for one og the teams to solve the problem OR to suggest an alternat way to get the data.

I am guessing this is highly relevant for many other Microsoft Partners. At least it should be :-) I hoped some attention could be put on this matter and I am simply trying di

[2022-02-23 11:58] paulinbar commented on #3366
Hi @AlonEkelund, ok, thank you for that information. I will also let the product team know about that. I don't know if they'll be able to help, but at least they'll be informed.
Thanks again!

[2022-02-23 13:30] KesemSharabi commented on #3628
Hi @ayumito,

Can you please translate this GitHub issue to English so that I can help you?

Thanks,

Kesem

[2022-02-23 13:38] KesemSharabi commented on #3173
Hi @nathanwlee1,

Adding you to an email thread and closing the GitHub issue.

Thanks,

Kesem

[2022-02-23 13:38] #3173 closed

[2022-02-23 13:46] KesemSharabi commented on #2744
Hi @vtjc2002,

Large models are supported on any recent version of the V2 SDK, for example version 4.3.0 [https://www.nuget.org/packages/Microsoft.PowerBI.Api/4.3.0](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.nuget.org%2Fpackages%2FMicrosoft.PowerBI.Api%2F4.3.0&data=04%7C01%7CKesem.Sharabi%40microsoft.com%7C064aca965daf44af273308d9f0a76098%7C72f988bf86f141af91ab2d7cd011d

[2022-02-23 14:22] vtjc2002 commented on #2744
Thank you

[2022-02-23 14:22] #2744 closed

[2022-02-23 16:23] lordneeko opened #3629 "Update documentation to point admins to enabling/disabling the feature in Admin Center"
As stated, please update the documentation, or add links, to where admins need to go to enable, configure, and/or disable this function within Admin center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b915f0b3-9522-c54f-99a1-a5b4e3e9b3fa
* Version Independent ID: ab0ec929-ce56-b9f1-90a7-623b2ead4119
* Content: [Anal

[2022-02-24 07:48] ankerok-dingdong opened #3630 "A link to the video on YouTube seems to be wrong"
[Enter feedback here]

A link to the video on YouTube seems to be wrong on several BI manuals pages I've encountered recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b2fae9-3356-f90c-8b3c-647aa2ad5f75
* Version Independent ID: 5ee251f0-8e8b-47eb-937c-356e15c341ba
* Content: [Set data alerts in the Power BI se

[2022-02-24 11:32] mberdugo commented on #3629
Thanks for your suggestion, @lordneeko .
I've assigned this issue to the doc author for review.

[2022-02-24 12:48] mberdugo commented on #3630
Thanks for your comment, @ankerok-dingdong .
I've assigned this issue to the doc author for review.

[2022-02-24 12:58] marclelijveld opened #3631 "Note which says A4 for full premium functionality is incorrect?"
Hi there!

The documentation on this page says "_If you purchase an A4 or higher SKU, you can take advantage of all Premium features except for unlimited sharing of content. With A SKUs, all users who consume content require Pro licenses._"
AFAIK, this limitation for A4 only applies to Premium gen1 capacities. I believe this limitation has been lifted with the introduction of Premium Gen2.

Can yo

[2022-02-24 15:55] paulinbar commented on #3630
Hi @ankerok-dingdong, thanks for reaching out to us. The video link on this page seems to be working ok for me. Can you try again, and if it doesn't work, can you copy here the URL that you have for that video?
Regarding bad links on other doc pages, can you please name the specific pages so that we can check them out? Thanks.
In the meantime I am closing this issue, but if you still have problems

[2022-02-24 15:55] #3630 closed

[2022-02-24 15:58] paulinbar commented on #3631
Hi @marclelijveld, thanks for your question. I've forwarded it on to the doc owner for clarification. Thanks again!

[2022-02-24 16:12] paulinbar commented on #2777
Hi @Mcclellange, did you ever figure out the issue with the Azure boards?

[2022-02-24 18:20] sergeig888 opened #3632 "Add DLP eval operation type"
Please add operation type for DLP (i.e., MIP label related CPU overhead). MIP docs stated that auto-scale was required to use MIP. This triggered additional customer questions and lead to this doc. Per Anton Fritz, MIP integration PM, DLP CPU consumption is not tracked yet, but this likely will change.  Need to augment response to this question: "Which operations contribute to interactive utilizat

[2022-02-24 20:44] lordneeko commented on #3629
Thank you for your response @mberdugo . Those pages point to how to enable and use the tenant level analytics for Admins. However, the page I referenced in the issue is related to the USER level analytics. These are features that are enabled for a Team Owner to see analytics about their team(s) (number of active participants, new topics per day, meetings, and all sorts of other things).

[2022-02-24 20:57] MartinaPoddana opened #3633 "Add Removing permissions"
Please add a section Removing permissions from a user
- When removing users from Permissions tab, you need to remove the user manually from the dataset Manage permissions.
- Note: if there is many datasets, you may not see the Update button anymore. Please change the screen resolution or the zoom of the browser settings

Example - the update button is hidden below the last message of the highlight

[2022-02-24 23:38] paulinbar commented on #3632
Thanks for the input @sergeig888. Forwarding it on to the doc owner.
@KesemSharabi, here is the link to the DLP info https://docs.microsoft.com/en-us/power-bi/admin/service-security-dlp-policies-for-power-bi. I can provide more details if necessary.

[2022-02-25 14:43] Asperson opened #3634 "Documentation: Custom code for AM/PM is incorrect"
On this page
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-custom-format-strings
custom code for AM/PM is incorrect, it must say "tt" instead of current "AM/PM".

And, could you, please, add link to that page to all related Power M documentation pages, like to DateTime.ToText():
https://docs.microsoft.com/en-us/powerquery-m/datetime-totext

Thank you

---
#### Document Details

[2022-02-25 23:35] kfollis commented on #3634
@Asperson - Thank you for the feedback and contribution to improving our docs. I have assigned this issue to the writer to make an update. It may take a couple of days to publish the change.

[2022-02-25 23:43] kfollis commented on #3633
@MartinaPoddana - I have assigned a writer to track this issue. You may also submit a direct edit as a contributor (preferred) or create a work item for this change. Details can be found in the engineering hub.

[2022-02-25 23:47] kfollis commented on #3627
@Hyamyam - your experience was very odd, so I checked with our translation team. This was a bug and has since been fixed. Thanks!

[2022-02-26 11:28] paulinbar commented on #3633
Hi @MartinaPoddana, thanks for bringing this back to my attention. And what you describe is also true in the opposite direction - when you remove someone's permissions in the manage permissions page, it doesn't remove the permissions they get if they have them through an app. The product team is aware of this inconsistency but doesn't have a fix yet. I think the manage permissions -> app direction

[2022-02-26 13:42] Kboentkuri2 opened #3635 "Ceo and writer"
Well thankful

[2022-02-26 13:43] Kboentkuri2 opened #3636 "Ceo and writer"
https://github.com/MicrosoftDocs/powerbi-docs/issues/3635

[2022-02-26 17:24] paulinbar commented on #3635
Hi @Kboentkuri2, I see that you opened a github issue but you didn't mention anything so I am closing it for now. If you have a problem with the docs please open another issue and provide a bit of details. Thanks!

[2022-02-26 17:24] #3635 closed

[2022-02-26 17:25] paulinbar commented on #3636
Hi @Kboentkuri2, I see that you opened a github issue but you didn't mention anything so I am closing it for now. If you have a problem with the docs please open another issue and provide a bit of details. Thanks!

[2022-02-26 17:25] #3636 closed

[2022-02-26 17:27] paulinbar commented on #3633
Hi @MartinaPoddana, I have updated the to provide info about removing permissions given through apps. The updates should be online in a day or so. Thanks for your input!

[2022-02-26 22:58] presidentecarter opened #3637 "Set report Page size as tooltip not working correctly, no category or data labels for the shape map with the new February 2021 Update"
[Enter feedback here]

The process for using a tooltip is not the same as documented in this page. There is now a part in the page information tab that you have to click that says "allow use as tooltip". This does work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Version Indepen

[2022-02-27 02:13] yaseenrao opened #3638 "Can not follow a specific step of this tutorial."
Hi,
I'm following this tutorial
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-dimensional-model-report#visual-2-sales-amount-by-date

The 6th step of the tutorial has you changing the data color, but it seems that in the latest version of Power BI (Version: 2.102.683.0 64-bit (February 2022)) this feature has been changed.

Hence this step can not be followed for now.

---
####

[2022-02-28 09:33] daryl-lynch-bzy opened #3641 "Avoid Quick Link navigating to different Knowledge Base with a different Quick Links"
I have feedback on navigation for the Quick Link menu on the Left Hand side.  Some of the quick links navigate to a different Knowledge Base with a complete different Quick Link Menu.  Pressing the back button returns to the original page, but the quick link menu collapses.

For example, consider the following menu:

*** selecting the link for "Best practices for dataflow" navigates to the followi

[2022-02-28 10:45] daryl-lynch-bzy opened #3642 "Dataflow Development Comment misleading"
The following comment is misleading:

"All work to create a dataflow is done in [Power Query Online](https://powerquery.microsoft.com/)"

We can use Power BI Desktop to develop and test a Dataflow before copying and pasting the query into Power Query Online.  It might be useful to mention this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-02-28 11:00] daryl-lynch-bzy opened #3643 "Dataflow - suggested edits"
It may useful to mention the following points:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88628925-92be-d8d7-faaa-fc91ea267fb9
* Version Independent ID: 88628925-92be-d8d7-faaa-fc91ea267fb9
* Content: [Power BI usage scenarios: Self-service data preparation - Power BI](https://docs.microsoft.com/en-us/power-bi/guid

[2022-02-28 16:10] chrisbrown1279 opened #3644 "More information needed to understand the workspace state "Not Found""
Customers are finding "Not Found" as a workspace status.  The documentation doesn't provide much information on why this is happening and how to correct it.
I suggest more information on this status to assist customers.

thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb228f2-d033-a44b-5570-da815663e246
* Versi

[2022-02-28 16:22] jamesspaith opened #3645 "GREAT Tutorial!!!"
Really well done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb0f7e4-74cd-dadb-c2ce-4b6c0c511e20
* Version Independent ID: 0d14b983-c47a-1fa7-7103-15182735f26b
* Content: [Tutorial: Combine data from Excel and an OData feed in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desk

[2022-02-28 17:00] paulinbar commented on #3645
Thanks for taking the time to write down those kind words. @jamesspaith! I am sure the doc author will appreciate them. Am passing them along. Thanks again!

[2022-02-28 17:05] paulinbar commented on #3638
Hi @yaseenrao, thanks for your feedback. I will look into the issue and correct the docs. Thanks!

[2022-02-28 17:07] paulinbar commented on #3641
Hi @daryl-lynch-bzy, thanks for your feedback. Yes, maintaining the context. Let me look into this. Thanks for point it out!

[2022-03-01 04:51] Kboentkuri2 opened #3646 "Ceo and writer"
https://github.com/Kboentkuri2

[2022-03-01 22:46] paulinbar commented on #3646
Hi @Kboentkuri2, you've reached the docs team. You haven't provided any information so I am assuming that you filed this issue by mistake. I'll close the issue, but if you do have an issue, feel free to reopen and provide more information. Thanks!

[2022-03-01 22:46] #3646 closed

[2022-03-02 08:56] paulinbar commented on #3646
Hi @Kboentkuri2, I still I am not sure I understand your issue. In any event, you have reached the docs team for Power BI. This channel is intended for issues with the  Power BI documentation. If you have a support issue with Outlook, I suggest trying the support link at the bottom or https://support.microsoft.com/en-us/outlook. Good luck!

[2022-03-02 14:32] sqlchick opened #3648 "Issue with how unlimited content sharing is shown"
Hello there. I like the new page. I noticed one issue:

The "Unlimited content sharing" item says it works for PPU, but it's really only supported for capacity (P SKUs only).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adaf5d3f-b1de-10c0-b5d0-42bfd5cb5d30
* Version Independent ID: adaf5d3f-b1de-10c0-b5d0-42bfd5cb5d3

[2022-03-02 14:41] paulinbar commented on #3648
Hi @sqlchick, thanks for reaching out to us with your comment. I am forwarding it on to the doc own for further consideration. Thanks!

[2022-03-02 14:55] mattwhitfield opened #3649 "Typo on on-premises data gateway page"
Types of gateways -> Virtual network data gateway -> says 'No installation is requried' and should be 'No installation is *required*'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa9e720-7c65-9e70-acba-7cb58fd5b4b3
* Version Independent ID: 0bcb5169-a217-e90d-52b3-4fdff2b8cf4c
* Content: [On-premises data gateway -

[2022-03-02 15:06] KesemSharabi commented on #3643
Thanks for your comment, @daryl-lynch-bzy.

I've assigned this issue to the doc author for review.

[2022-03-02 15:06] KesemSharabi commented on #3642
Thanks for your comment, @daryl-lynch-bzy.

I've assigned this issue to the doc author for review.

[2022-03-02 21:58] prvillal opened #3650 "Update documentation"
For section https://docs.microsoft.com/en-us/power-bi/admin/desktop-privacy-levels#configure-privacy-level-settings

Please add the following:

Note that the privacy level configuration is not automatically transferred to the Power BI service when you upload your Power BI Desktop file. For example, you might have a Desktop file with multiple data sources set to Organizational, but after uploading

[2022-03-02 23:04] peter-myers commented on #3642
Hi @daryl-lynch-bzy  - thanks for your feedback. We'll take it into consideration. #please-close

[2022-03-02 23:04] #3642 closed

[2022-03-02 23:06] peter-myers commented on #3643
Hi @daryl-lynch-bzy  - thanks for your feedback. The objective of this article is *self-service* data preparation. The dataflow features you mention in your feedback will be covered in an upcoming usage scenario that focuses on IT-led data preparation. Stay tuned for that article. #please-close