[2019-12-17 14:30] soldstatic commented on #1535
No @gebberry, I couldn't get it to work. Sounds like you better pay up for your protection!

@maggiesMSFT any luck looking into this?

[2019-12-17 22:39] lphomiej opened #1690 "Can Add Service Principle to Workspace, but not Group"
We have a mix of Workspaces and Office 365 Groups in our "Workspaces" in PowerBI web app. I can add a service principle to a workspace (using the instructions above), but I can't figure out how to provide permissions for a service principle to be an admin for a "Group" Workspace. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-12-17 22:58] mihart commented on #1685
Thanks for your comment, @viragg . This issue has been assigned to the doc author for review.

[2019-12-18 07:41] cbailiss opened #1691 "Conflicting Statements about Calculated Tables"
Under the "Calculated Tables" heading, these two statements appear to disagree with each other:

&gt;&gt; Calculated tables are always imported, and their data is refreshed when you refresh the tables.
&gt;&gt; If a calculated table refers to a DirectQuery table, visuals that refer to the DirectQuery table always show the latest values in the underlying source.

The first sentence appears to state

[2019-12-18 07:43] cbailiss commented on #1691
Or, in the second sentence.... "...visuals that refer to the DirectQuery table..." is that referring to the base table that the calculated table is based on?

[2019-12-18 08:55] thomas-lala opened #1692 "Can't reinstall the PBI Premium capacity metrics app. Stuck at 'Please hold on while we load a few things...'"
I wanted to re-install the app, as it suddenly stopped showing memory usage. A few other metrics was  showing, such as refresh of datasets, though.

I tried yesterday, and suspected, that perhaps some temporary outage prevented me from doing it, as the message when it's about to install the app "Please hold on while we load a few things..." never disappeared, and the app never got installed. Had i

[2019-12-18 13:21] KesemSharabi commented on #1682
Hi @tsaru72,

I'm not sure what you mean by 'Azure Power BI'.

[Power BI service ](https://docs.microsoft.com/power-bi/power-bi-service-overview) has many of the Power BI Desktop capabilities such as [creating a report](https://docs.microsoft.com/power-bi/power-bi-service-overview#creating-reports-in-the-service).

I suggest that you [sign up for a free Power BI account](https://docs.microsoft.com

[2019-12-18 13:21] #1682 closed

[2019-12-18 13:29] KesemSharabi commented on #1691
Thanks for your comment, @cbailiss.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-12-18 13:51] KesemSharabi commented on #1692
Thanks for your comment, @PRMerger19.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-12-18 13:51] #1692 closed

[2019-12-18 19:26] mgblythe commented on #1116
Sorry for the delay on this. I added similar info to the B2B and purchasing articles, with links out to the Office docs. The specific steps are different in the new admin UI.

Assigning a Power BI Pro license to a guest user within your tenant lets that guest user view content in the tenant. For more information about assigning licenses, see [Assign licenses to users on the Licenses page](https://

[2019-12-18 19:26] #1116 closed

[2019-12-18 19:26] mgblythe commented on #1029
Sorry for the delay on this. I added similar info to the B2B and purchasing articles, with links out to the Office docs. The specific steps are different in the new admin UI.

Assigning a Power BI Pro license to a guest user within your tenant lets that guest user view content in the tenant. For more information about assigning licenses, see [Assign licenses to users on the Licenses page](https://

[2019-12-18 19:26] #1029 closed

[2019-12-18 21:31] ChristianBraun190 opened #1693 "RLS behavior in case of users not belonging to a role"
The article doesn't seem to describe what happens if a user doesn't belong to a role. Let's say I have sensitive data in a single table. I set up a role for people who are allowed to see that data, using a trivial filter expression like 1=1. Everyone else should not see it; also, I don't want to enumerate who "everyone else" is. How does this work? Can I assume that by default a table is not visib

[2019-12-19 01:19] chris-schulz opened #1694 "Instructions for VLSC no longer work"
When using VLSC the SQL server 2016 (per core) item now states "licence key no longer required" however it is needed for Power BI Report server installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db1b96-91ed-2440-5a1c-873a19d7ee47
* Version Independent ID: db0e2007-963b-44a5-9b6e-5be35481473e
* Content: [Ins

[2019-12-19 01:37] chris-schulz opened #1695 "This no longer works"
SQL Server 2016 Enterprise Edition - Per core is no longer available in the list only SP1 and SP2. They both say "licence key no longer needed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4600c4b7-8444-f0d4-9e81-25882a951d22
* Version Independent ID: 68e1a06b-69f7-8fc9-cfb9-8e4956580fab
* Content: [How to find your

[2019-12-19 08:33] andrejohansson opened #1696 "How do I connect to Azure Cost Management?"
We have a normal Azure account, signed up for online. According to this article:
https://docs.microsoft.com/en-us/azure/billing/billing-view-all-accounts

We seem to have a **Microsoft Online Services Program** account.

How can I use the connector **Azure Cost Management** to get our cost data into Power BI?

A comment in #995 indicates that this account type is not supported, only EA and MCA acc

[2019-12-19 11:57] HarsimranjeetSingh opened #1697 "Installing via Developer edition will not provide PWBIRS"
Hi Team,

Installing POWER BI REPORT SERVER via Developer edition will not provide PWBIRS

[2019-12-19 14:03] AlexJPawlak opened #1698 "External sharing contradicting information?"
Hello!
I noticed contradictory statement between this page and https://docs.microsoft.com/en-us/power-bi/service-admin-azure-ad-b2b

Here it says clearly:

"Doesn't support external guest users with Azure business to business (B2B)."

Although on the mentioned page, it says something entirely different:

"When using the Allow external guest users to edit and manage content in the organization feat

[2019-12-19 15:39] Tiberriver256 commented on #1669
Found a bit more detailed error by using the advanced editor that might provide a clue.

![image](https://user-images.githubusercontent.com/6989492/71186754-c0c13300-224b-11ea-8943-7a2d8d151cb7.png)

Looks like Adobe may have renamed a field in their authorization token from **org_companies** to **login_companies**?

[2019-12-19 16:42] fhtino opened #1699 "Can we use Storage Explorer inside Azure Portal?"
The doc says "This step requires that you install Azure Storage Explorer version 1.6.2 or higher".
This seems to exclude Storage Explorer (preview) inside Azure Portal. Is it correct or we can use Storage Explorer from Portal, too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Ve

[2019-12-20 02:03] afreenhossain commented on #1459
Hello, is there any update on this? The hourly option can be too spammy, so we would rather like to have it after every refresh.

[2019-12-20 18:52] jbergren-work opened #1701 "Missing warning that streaming data sets do NOT working with PowerBI Apps"
Missing warning that streaming data sets do NOT work with PowerBI Apps

[2019-12-21 00:24] anncrawford01 opened #1702 "Dynamic expression based titles with R visuals not available"
This is a great article https://docs.microsoft.com/en-us/power-bi/desktop-conditional-format-visual-titles but it does not work on R visuals.  I want to use a dynamic title based on standard slicers used in the report.  I do not want to use variable from the R script.   When I right click on the title text for an R visual (faceted bar chart in this case) I do not see the fx conditional formatting

[2019-12-22 07:10] stannov opened #1703 "Type?"
Count (Not Blanks): 6 .. should it be 7?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0509d4c-73e0-1ffe-6e71-965f76ec4e12
* Version Independent ID: d6ea7fca-f40e-5ac3-0d6a-11d072f64fe4
* Content: [Work with aggregates (sum, average, and so on) in the Power BI service - Power BI](https://docs.microsoft.com/en-us/powe

[2019-12-23 08:37] tomer-agam opened #1704 "This document is partial and not self explanatory"
Questions:
1. Why would I want to use advanced edit mode in the first place? (what can I achieve in doing so? or what can't I achieve without it?)
2. Where in the "capabilities.json" does "advancedEditModeSupport" reside?
3. After setting this mode - How do I use it in the custom visual? (an example would be very useful)
3.1. Next steps? Where is the next document that comes after this one, that e

[2019-12-23 08:46] tomer-agam opened #1705 "Document too complex to read and hard to understand"
Missing:
1. Overview of the whole selection mechanism and how does it work
2. What are the different features and when are they used? example:
    withCapabilities, withSeries, withMeasures (etc.)
    In what cases should one use them? Does it make sense to use them together? Or does each one of them work for a
    different usecase?
3. Is it required to execute "createSelectionIdBuilder()" for ea

[2019-12-23 18:04] CeciAc opened #1706 "CS1061: "AuthenticationContext" does not contain a definition of "AcquireToken""
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/53

The comments below were machine-translated

@isKevinTrue commented yesterday — with docs.microsoft.com
Incorrect sample code
Error CS1061: "AuthenticationContext" does not contain a definition for "AcquireToken" and no accessible extension method "AcquireToken" was found that would accept the first para

[2019-12-23 23:08] kschlenker opened #1707 "Does this work on the Gov tenant"
If we're on the gov tenant are we able to share in this way with non-gov collaborators?

[2019-12-25 13:08] KesemSharabi commented on #1694
Thanks for your comment, @chris-schulz.

I've assigned this issue to the doc author for review.

[2019-12-25 13:10] KesemSharabi commented on #1695
Thanks for your comment, @chris-schulz.

I've assigned this issue to the doc author for review.

[2019-12-25 13:12] KesemSharabi commented on #1696
Thanks for your comment, @andrejohansson.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-12-25 13:12] #1696 closed

[2019-12-25 13:14] KesemSharabi commented on #1697
Thanks for your comment, @HarsimranjeetSingh.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-12-25 13:14] #1697 closed

[2019-12-25 13:27] KesemSharabi commented on #1699
Thanks for your comment, @fhtino.

I've assigned this issue to the doc author for review.

<I sometimes add this to product question ones> In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-12-25 13:30] KesemSharabi commented on #1701
Thanks for your comment, @jbergren-work.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-12-25 13:30] #1701 closed

[2019-12-25 13:35] KesemSharabi commented on #1702
Thanks for your comment, @anncrawford01.

I've assigned this issue to the doc author for review.

<I sometimes add this to product question ones> In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-12-25 13:37] KesemSharabi commented on #1703
Thanks for your comment, @stannov.

I've assigned this issue to the doc author for review.

[2019-12-25 13:41] KesemSharabi commented on #1704
Thanks for your comment, @tomer-agam.

I've assigned this issue to the Power BI visual support team for review.

[2019-12-25 13:44] KesemSharabi commented on #1705
Thanks for your comment, @tomer-agam.

I've assigned this issue to the Power BI visual support team for review.

[2019-12-25 13:46] KesemSharabi commented on #1706
Thanks for your comment, @CeciAc. I’ll add this request to our docs backlog.

[2019-12-25 14:00] KesemSharabi commented on #1707
Hi @kschlenker,

It's not clear what you're asking. You may find answers in the following articles:

- [Power BI for US Government customers](https://docs.microsoft.com/en-us/power-bi/service-govus-overview)

- [Frequently Asked Questions for Power BI for Germany Cloud customers](https://docs.microsoft.com/en-us/power-bi/service-govde-faq)

In any case, this looks like a support request or product

[2019-12-25 14:00] #1707 closed

[2019-12-30 07:02] KesemSharabi commented on #1633
Thanks for your observation @peterbud. I added the two imports to **step 8** in the [Adding custom formatting options](https://docs.microsoft.com/power-bi/developer/visuals/custom-visual-develop-tutorial-format-options#adding-custom-formatting-options) section, in the [Tutorial: Adding formatting options to a Power BI visual](https://docs.microsoft.com/power-bi/developer/visuals/custom-visual-deve

[2019-12-30 07:02] #1633 closed

[2019-12-30 07:08] KesemSharabi commented on #1634
Thanks for your observation @peterbud. I added the following to the [Packaging the custom visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/custom-visual-develop-tutorial-format-options#packaging-the-custom-visual) section in the [Tutorial: Adding formatting options to a Power BI visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/custom-visual-develop-tutorial-fo

[2019-12-30 07:08] #1634 closed

[2019-12-30 10:24] KesemSharabi commented on #1678
Thank you for your comments @wbovela.
*  **IVisualHost** is mentioned in the verification process in **Step 2**, in the [Developing the visual elements](https://docs.microsoft.com/power-bi/developer/visuals/custom-visual-develop-tutorial#developing-the-visual-elements) section, in the [Tutorial: Developing a Power BI visual](https://docs.microsoft.com/power-bi/developer/visuals/custom-visual-devel

[2019-12-30 10:24] #1678 closed

[2019-12-30 10:35] KesemSharabi commented on #1686
Thank you for your comment, @rudzimj.

I added the missing lines to the code caption in the verification process - **step 2** in the [Developing the visual elements](https://docs.microsoft.com/power-bi/developer/visuals/custom-visual-develop-tutorial#developing-the-visual-elements) section, in the [Tutorial: Developing a Power BI visual](https://docs.microsoft.com/power-bi/developer/visuals/custom

[2019-12-30 10:35] #1686 closed

[2019-12-31 11:00] KesemSharabi commented on #1690
Hi @lphomiej,

It isn't possible to provide permissions for a service principle to be an admin for a "Group" Workspace (the old workspace).

This only works with  the new workspace as mentioned in the first bullet in [Service principal with Power BI](https://docs.microsoft.com/power-bi/developer/embed-service-principal) > [Considerations and limitations](https://docs.microsoft.com/en-us/power-bi/d

[2019-12-31 11:00] #1690 closed

[2019-12-31 11:12] KesemSharabi commented on #1685
Hi @viragg,

There is a gap in our documentation which I will shortly close. In any case, an admin or a member cannot implement RLS in the way you are trying to.

For RLS with Service Principal, please refer to the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-12-31 11:12] #1685 closed

[2019-12-31 11:16] KesemSharabi commented on #1586
Thanks for your comment, @jgoleson.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-12-31 11:16] #1586 closed

[2019-12-31 11:23] KesemSharabi commented on #1538
Hi @adamwp1993,

From a Power BI prespective, you cannot use Power BI APIs to manage DataGateway with Service Principal.

You may be able to find an answer in the [DataGateway ](https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem) documentation, or with the DataGateway team.

[2019-12-31 11:23] #1538 closed

[2020-01-02 13:11] maddhatter opened #1709 "September 2019 Support Dates Unclear"
The last row of the Version History Table is unclear:

| **Version** | **Availability date** | **Support end date** |
| --- | --- | --- |
| September 2019 | September 2020 | September 2021

I would expect an actual availability date (not a month) in 2019, and a support end date in 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-01-02 18:57] agwagner30 opened #1710 "Sharing Individual tabs of a Report"
Is it possible along with sharing filtered reports to also only share one tab of a report rather than the entire thing? I am trying to share certain tabs with some people and other tabs with others within the same report without making dashboards.

[2020-01-02 19:13] maggiesMSFT commented on #1709
Hi, @maddhatter -- you are so right about the years! I'll update the article. Thanks for pointing that out!
Re the date: Hmmm, I don't have that. I'll ask around.
Thanks again!

[2020-01-02 19:37] maggiesMSFT commented on #1710
Hi, @agwagner30 -- Thanks for asking!
You can't share certain tabs with some people and other tabs with others within the same report.
Suggestion: You can create reports based on other reports, then delete the pages you don't want in each version of the report. That way, the data stays up to date. See https://docs.microsoft.com/en-us/power-bi/service-datasets-discover-across-workspaces for more in

[2020-01-02 19:37] #1710 closed

[2020-01-02 19:44] agwagner30 commented on #1710
This was helpful, thank you Maggie!

[2020-01-03 22:29] alwweb commented on #1175
The screen shots are still out of date and there are even more inconsistencies now.

[2020-01-04 00:15] #1709 closed

[2020-01-04 00:41] maggiesMSFT commented on #1703
Hi, @stannov,
Good question -- thanks for asking! 6 is correct, because it's counting values in the Amount column, not the Country column. Make sense?

[2020-01-04 00:41] #1703 closed

[2020-01-04 03:58] haider392 opened #1711 "User Owns Embedded tutorial is not accurate"
Followed the tutorial here (https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization) step by step but the embedding didn't work. Also the exact steps are not documented clearly. Had to make some changes as follows.

The AADAuthorityUrl given in the document is not correct. I had to use the AADAuhtorityUrl in the following format - https://login.windows.net/"tenant Id

[2020-01-06 06:20] thehappycheese opened #1712 "Multiple Queries Per Visual"
Hello, may I please know if it will ever be possible to have multiple queries per visual? It is causing me no end of bother to have this restriction. I have thoughally investigated slicers filters etc to try spread my plots over multiple visuals, but it boils down to needing multiple unrelated datasets to show up on one visual in a way that I can control the relationship between the various plots.

[2020-01-06 13:06] KesemSharabi commented on #1415
Hi @Mike-Honey,

Thanks for your comment and apologies for the late response.

When you use the **Publish to web** feature, the embedded content only includes the report you publish. As a result, you cannot access additional Power BI features such as the filter pane, from the embedded report. This is not a limitation, it's simply the way this feature is designed.

If you want to have greater contr

[2020-01-06 13:06] #1415 closed

[2020-01-06 19:26] maggiesMSFT commented on #1687
Hi, @thierryhouy -- thanks for asking! These data sources are supported in Power BI Desktop, but not on Power BI Report Server. So no, they can’t be added.
Thanks

[2020-01-06 19:26] #1687 closed

[2020-01-06 21:42] Mike-Honey commented on #1415
Hi @KesemSharabi
Understood. I was hoping for the documentation page (linked to this issue) could be updated to covey that information to a broader audience?
Regards, Mike

[2020-01-07 06:06] KesemSharabi commented on #1316
Hi @rudzimj,

Thank you for your comment.

I added a sentence about the redirect issue in the [Register an application in Azure Active Directory](https://docs.microsoft.com/power-bi/developer/embed-sample-for-your-organization#register-an-application-in-azure-active-directory) section of the [Embed Power BI content into an application for your organization](https://docs.microsoft.com/en-us/power-b

[2020-01-07 06:06] #1316 closed

[2020-01-07 06:44] mlongoria opened #1714 "Inaccurate mention of Excel worksheet"
In the Reference queries in the Query Editor section, a sentence starts "By default all queries load to either an Excel worksheet or the data model (or both)..." This looks like it was copied from docs on Excel. This should just say that queries load to the data model since we are only discussing Power BI Desktop here.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-01-07 13:38] frvigano opened #1715 "Configure Oracle Client. Provide More Details"
It would be helpful to provide more details on the configuration of Oracle client. Many customers are experiencing issues at the time of configuring the client, especially to enable all drivers required to have the direct query working properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335

[2020-01-07 16:36] lorenamschafer opened #1717 "Manager-specific dashboard tiles"
Is there a way to add all of these without needing to filter on the report individually and adding? If not, I tried this filter then pin method and I can't tell which filter is being applied, so is there a way to include that in the title?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25ad9a8-50b9-7f83-4e10-ebbbff013

[2020-01-07 16:41] JeffriVanbuster opened #1718 "Solution no longer works"
Dear,
The solution described on this page stopped working (since December 2019 in my case).
Maybe an update of the system libraries occurred.
We're receiving the error that the
"Destination array was not long enough. Check destIndex and length, and the array's lower bounds"
on the line "Array.Copy(segmentEncryptedResult, 0, encryptedData, encryptedDataPosition, segmentEncryptedResult.Length);"

Th

[2020-01-07 16:44] kamaljeetsingh-ism opened #1719 "The Last Navigator Screenshot is not aligned"
When i installed the power BI desktop from https://www.microsoft.com/en-us/download/details.aspx?id=58494 and tried using snowflake provider to connect snowflake. Inside Navigator pane, i see "Transform data" instead of "Edit" what it has been showcased in the screenshot in Microsoft document page

[2020-01-07 16:57] o-o00o-o opened #1720 "is there not a possibility to miss some events at the end of the day?"
in the examples you give

[code]

but wouldn't this miss any event that happened between 2019-08-31T23:59:59.0000001 and 2019-08-31T23:59:59.9999999?

If so please provide an example that avoids this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-

[2020-01-07 17:11] CristianAven opened #1721 "SQL Queries"
Hi
Is it possible to use the Big Query connector with SQL? I can't find how to use it, or even if it is possible?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 974455fc-88ff-6a48-4dd0-036419eaa849
* Version Independent ID: 2700a36d-177a-7596-2d91-4f0fc9f9d695
* Content: [Connect to a Google BigQuery database in

[2020-01-07 19:26] cajslc opened #1722 "Page is missing some information regarding current privacy level options."
This page doesn't mention anything about the third privacy level: "Combine data according to each files privacy level settings".  It'd be great to know how this option works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb7743c4-abb7-9c9d-6089-eca63ba9ac94
* Version Independent ID: c5bfefde-15ff-683c-5a79-e7210b8bf98

[2020-01-08 03:15] mihart commented on #1722
Thanks for your comment, @cajslc . This issue has been assigned to the doc author for review.

[2020-01-08 03:17] mihart commented on #1721
Thanks for your comment, @CristianAven . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-08 03:17] #1721 closed

[2020-01-08 03:19] mihart commented on #1720
Thanks for your comment, @o-o00o-o . This issue has been assigned to the doc author for review.

[2020-01-08 03:21] mihart commented on #1719
Hi @kamaljeetsingh-ism,
Can you write back and let us know  to which document/article you are referring?  Thanks.

[2020-01-08 03:21] #1719 closed

[2020-01-08 03:22] mihart commented on #1718
Thanks for your comment, @JeffriVanbuster . This issue has been assigned to the doc author for review.

[2020-01-08 03:24] mihart commented on #1717
Thanks for your comment, @lorenamschafer . This issue has been assigned to the doc author for review.

[2020-01-08 03:26] mihart commented on #1715
Thanks for your comment, @frvigano . This issue has been assigned to the doc author for review.

[2020-01-08 03:28] mihart commented on #1714
Thanks for your comment, @mlongoria . This issue has been assigned to the doc author for review.

[2020-01-08 03:29] mihart commented on #1712
Thanks for your comment, @thehappycheese . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-08 03:29] #1712 closed

[2020-01-08 03:32] mihart commented on #1711
Thanks for your comment, @haider392 . This issue has been assigned to the doc author for review.

[2020-01-08 04:02] kamaljeetsingh-ism commented on #1719
https://docs.microsoft.com/en-us/power-bi/desktop-connect-snowflake

[2020-01-08 11:42] ironicLemon opened #1723 "No data when using Enterprise Administrator (read only)"
Accessing an EA agreement using an account with the role Enterprise Administrator (read only)

Gives errors getting the data:
401: The user does not have any claims associated
Details:
    error=
        code=401
        message=The user does not have any claims associated

[2020-01-08 13:23] KesemSharabi commented on #1723
Thanks for your comment, @ironicLemon.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-01-08 13:23] #1723 closed

[2020-01-08 13:47] KesemSharabi commented on #1698
Hi @AlexJPawlak,

I'm looking into this issue and will get back to you shortly.

[2020-01-08 17:50] RichPDev opened #1725 "Why Multiple Reg Forms"
I'm a registered user who wants to review the webinars. What's the point of having a profile if I have to fill out the registration form for EACH webinar? What a waste of time. Certainly this should be changed to recognize the profile asking to access the video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a082e6-1

[2020-01-08 22:40] pcgeekus opened #1727 "Will use of PBIDS files not work to Refresh from the Cloud?"
Will use of PBIDS files not work to Refresh from the Cloud?
So, if I create a PBIDS file for a specific SharePoint site and use that for Get Data, will I be able to refresh from the Power BI Service? You should cover this under that section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1c

[2020-01-08 23:39] davidiseminger commented on #1664
Added a note under "What's Supported" to clarify live connections are not supported for refrehsh.

[2020-01-08 23:39] #1664 closed

[2020-01-09 03:42] Phani-Dodda opened #1728 "Issues connecting to Oracle"
my connection string is greater than 128 characters and Server string is having a restriction of 128 characters. Let me know if there is any other alternative

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335cbd5df919
* Version Independent ID: 46a896f9-4707-adc3-72cd-5444a5d0f802
* Content: [Co

[2020-01-09 06:04] AnandaSim opened #1729 "Would be good to have a Walkthrough and example on "Summarized Numeric Column""
I'm new to Power BI, the explanation of how "Summarized Numeric Column" works is trse. Could we have an example please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Use drillthrough in Power BI Desktop - Po

[2020-01-09 07:18] er-mohd-ali opened #1730 "How to generate embed token from Azure AD token"
I have already generated AD token and tried Implementing Row Level Security but it didn't work. I actually wanted to implement RLS is it necessary to use embed token to implement RLS? How to generate embed token from AD access token?

[2020-01-09 12:41] laurent-mic commented on #1718
The issue will happen on On-premises Data Gateway versions from November 2019 and higher.
Those versions requires a higher encryption key size and the encryption algorithm supplied will no longer work.
Documentation will be update accordingly.

In the meantime there are multiple options to mitigate or fix the issue:
1. Downgrade On-premises Data Gateway version (< November 19)
2. Create or Update

[2020-01-09 14:07] laurent-mic commented on #1718
@KesemSharabi, please update these two documents accordingly.
- https://docs.microsoft.com/en-us/power-bi/developer/encrypt-credentials
- https://docs.microsoft.com/en-us/power-bi/developer/configure-credentials

[2020-01-10 07:49] JeffriVanbuster commented on #1718
Thank you a lot for the quick responses and the valuable suggestions to resolve our problem currently!
I'll have a look today which of the above suggestion would best for our setup.

[2020-01-10 13:12] saigrsundaram commented on #1664
Hello David,
The information added to the article is not correct. We do support refreshing information from a PBIX published to the service using OneDrive. What we don’t support is changing the dataset in a live connected dataset scenario is not supported.
The following is what it should read:
“Changing Live connected data set in Onedrive refresh scenario is not supported”

R.B.Ganesh
Sr. Support

[2020-01-10 23:52] Jawahar-Kaliraj opened #1732 "Query on power bi gateway and its secure credential management"
In a query "When working with the on-premises data gateway, how are recovery keys used and where are they stored? What about secure credential management?", we have the following quote.

"When a user enters data source credentials in the Power BI service UI, the credentials are encrypted with the public key in the browser. The gateway decrypts the credentials using the RSA private key and re-encry

[2020-01-11 07:13] noahamolot opened #1733 "Remove the word be in the note"
IN the Note at the top of the page, the word "be" is misplaced.  It currently reads "You aren't automatically be creating an Office......". It should just read "You aren't automatically creating an Office...."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19005ba4-1b45-4a5e-2335-3408eaaffbf5
* Version Independent ID:

[2020-01-12 12:36] AssiaZe opened #1734 "Didn't find the options in my version of PBI desktop"
There are some parts of this help page that didn't match with Power BI
For example, the refer to option, the conditions option all I do not have them in power BI
Please advice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3be58e8-522b-1bc1-5c20-94349d5ed617
* Version Independent ID: ecbf2a74-8efd-aecd-3d15-b24bc0a1ca

[2020-01-12 16:17] axaeffect opened #1735 "Is Power BI report inside Dynamics 365 F & SCM consider Embedded and needs Token"
As subject, do we need token to view our custom Power BI report inside Dynamics 365 F&SCM ?
Is there any step by step guide how to embed specific for Dynamics 365 F&SCM ?
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61878b62-89e5-e60a-4995-74d9650ca3e6
* Version Independent ID: 378733df-8807-3274-dcf3-3e2aa40

[2020-01-12 18:12] emegallardog88 commented on #1617
Hi, I would love to have the sample dataset used in this example. As it was mentioned, it help to understand better how to create future visualization

[2020-01-13 01:53] ronsonntag54 opened #1736 "Recursive relationships"
You can incorporate recursive relationships, i.e. relationship between two fields within the same table, by loading the same table twice. The relationship can then be defined in the usual manner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f402391-8dfc-cfa4-89b1-335f7c9dad1c
* Version Independent ID: 31ba30b8-61df-

[2020-01-13 10:43] smith-erik opened #1737 "Inaccurate instructions in cross-report drillthrough doc"
Text probably wrong in section [Enable cross-report drillthrough](https://docs.microsoft.com/en-us/power-bi/desktop-cross-report-drill-through#enable-cross-report-drillthrough).

Shouldn't the highlighted option be _enabled in the source report_, not in the target report? Option text "Allow visuals in this report to use drillthrough targets from other reports" implies this. (Also did some local te

[2020-01-13 11:00] jonnyleigh opened #1738 "PowerBI Premium Failover"
Is this guidance about failover relevant for PowerBI Premium as well as PowerBI Service?
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce540da-a491-f6c2-d33a-5293f09d2182
* Version Independent ID: dbdbaf6a-5c69-f33c-dc57-3a7b707ba5eb
* Content: [Power BI high availability, failover, and disaster recovery FAQ

[2020-01-13 12:46] Oxenskiold-DAX opened #1739 "The first Example used"
"Here's an improved measure definition, which uses a Boolean expression instead of the table expression"

Red Sales =
CALCULATE(
    [Sales],
    'Product'[Color] = "Red"
)

The expression you show is not semantically similar to the expression it is supposed to replace. The correct/closest expression would be:

Red Sales =
CALCULATE (
    [Sales],
    KEEPFILTERS ( 'Product'[Color] = "Red" )
)

I.

[2020-01-13 14:11] axaeffect opened #1740 "Capacity paused or deleted in Power BI Embedded"
In section Power BI Embedded https://docs.microsoft.com/en-us/power-bi/developer/embedded-troubleshoot#typical-errors-when-embedding-for-power-bi-users
There are some reasons explain about Capacity paused or deleted.
Please help to elaborate what Capacity is this ? and where we should set or check this.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-13 16:12] guillecolsani opened #1741 "Can I use this connector if I have a private/organizational instance of github? If so, how can I connect to it?"

[2020-01-13 21:13] frvigano opened #1742 "Outdated"
This document is outdated and describes an user experience that it is no longer possibile as it is described. Update the document please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf5c2cbb-f3de-c63e-fc74-a5157d5f5c9c
* Version Independent ID: dd280f16-bad8-5f60-f960-208047f6f9b2
* Content: [Azure SQL Data Warehouse

[2020-01-14 02:44] adrianjumangit opened #1743 "Page is not updated with current PowerBI version available"
Page is not updated with current PowerBI version available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f2a19e-3613-9ec0-8818-8f76d3c7eef9
* Version Independent ID: 0b8ebf11-af44-2556-db7c-766d5f844c98
* Content: [How to configure Power BI report scheduled refresh - Power BI](https://docs.microsoft.com/en-us/power-

[2020-01-14 10:54] mtthsbrr opened #1744 "No source for usage of "Total Storage" for Dataflows (Power BI Pro)"
As a Power BI Pro user, I would like to check about the 10 GB/user total storage limit for dataflows, but I could not find the usage number anywhere yet.

Please advice. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d4e74b8-9f4a-a195-7347-cf6732ffeab5
* Version Independent ID: a1513d50-f098-9b75-2b48-94e08ee3

[2020-01-14 13:35] Heitor4u opened #1745 "Correct JSON of "Properties within each card""
Changed the JSON to be valid for parsing.
Could you take a look and change it at this page? Link below.
https://github.com/Heitor4u/Temp/blob/master/ThemeProperties.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* C

[2020-01-14 16:36] davidiseminger commented on #1725
Thanks for your comment, @RichPDev . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-01-14 16:37] davidiseminger commented on #1727
Thanks for your comment, @pcgeekus . Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com. If you get clarification from the community or support, and you

[2020-01-14 16:37] #1727 closed

[2020-01-14 16:38] davidiseminger commented on #1728
Thanks for your comment, @Phani-Dodda . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-14 16:38] #1728 closed

[2020-01-14 16:39] davidiseminger commented on #1729
Thanks for your comment, @AnandaSim . We’ll take a look at whether we have the resources to create that example, and get back here. Thanks!

[2020-01-14 16:39] davidiseminger commented on #1729
Added author.

[2020-01-14 16:40] davidiseminger commented on #1730
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2020-01-14 16:40] #1730 closed

[2020-01-14 16:41] davidiseminger commented on #1732
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2020-01-14 16:42] #1732 closed

[2020-01-14 16:42] v-tatero commented on #1725
Adding the GEP lead, who will have a better answer for you.

Thanks,
Tatevik
________________________________
From: David Iseminger <notifications@github.com>
Sent: Tuesday, January 14, 2020 8:36 AM
To: MicrosoftDocs/powerbi-docs
Cc: Tatevik Teroyan (Simple Concepts Consulting LLC); Assign
Subject: Re: [MicrosoftDocs/powerbi-docs] Why Multiple Reg Forms (#1725)

Thanks for your comment, @RichPDev<

[2020-01-14 16:43] davidiseminger commented on #1733
Thanks for your comment, @noahamolot and for the close read! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-01-14 16:43] davidiseminger commented on #1734
Thanks for your comment, @AssiaZe. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-01-14 16:45] davidiseminger commented on #1735
Thanks for your comment, @axaeffect . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-01-14 16:45] davidiseminger commented on #1736
Thanks for your comment and information, @ronsonntag54 !

[2020-01-14 16:45] #1736 closed

[2020-01-14 16:46] davidiseminger commented on #1737
Thanks for your comment, @smith-erik . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-01-14 16:51] mihart commented on #1738
Thanks for your comment, @jonnyleigh . This issue has been assigned to the doc author for review.

[2020-01-14 16:53] mihart commented on #1739
Thanks for your comment, @Oxenskiold-DAX . This issue has been assigned to the doc author for review.

[2020-01-14 16:57] mihart commented on #1742
Thanks for your comment, @frvigano . This issue has been assigned to the doc author for review.

[2020-01-14 16:58] mihart commented on #1740
Thanks for your comment, @axaeffect . This issue has been assigned to the doc author for review.

[2020-01-14 17:00] mihart commented on #1744
Thanks for your comment, @mtthsbrr . This issue has been assigned to the doc author for review.

[2020-01-14 17:04] mihart commented on #1745
Thanks for your comment, @Heitor4u . This issue has been assigned to the doc author for review.

[2020-01-14 17:48] saigrsundaram commented on #1664
Hello David,
I have been trying to get your attention on this documentation update since Friday last week. As stated in my email below, The information added to the article is not correct. We do support refreshing information from a PBIX published to the service using OneDrive. What we don’t support is changing the dataset in a live connected dataset scenario is not supported.
The following is wha

[2020-01-14 22:13] kanene opened #1746 "Error signing in to register gateway"
Our company works with a third party MFA, when we try to register the gateway the application crash authenticating the user:

Faulting application name: EnterpriseGatewayConfigurator.exe, version: 3000.21.18.0, time stamp: 0xf5f94667
Faulting module name: KERNELBASE.dll, version: 10.0.14393.3085, time stamp: 0x5d1d7c66
Exception code: 0x80004005
Fault offset: 0x0000000000034c48
Faulting process id

[2020-01-14 23:21] edhans opened #1747 "What is "Source Spacing" under the font setting"
I have the December 2019 Power BI Desktop and there is a "Source Spacing" in the Data Label section under the font family that is not shown or discussed on this page. It defaults to on, but I cannot tell the difference in the card with it on or off. Would like some documentation on this. See https://twitter.com/ehansalytics/status/1217224352866820096 for a screenshot.

---
#### Document Details

⚠

[2020-01-15 04:25] mihart commented on #1746
Thanks for your comment, @kanene . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-15 04:26] #1746 closed

[2020-01-15 04:27] mihart commented on #1747
Thanks for your comment, @edhans . This issue has been assigned to the doc author for review.

[2020-01-15 07:07] jiteshparwal93 commented on #1693
@ChristianBraun190 : You are correct, if user is not added in RLS group, he will not be able to see data until unless he is admin or a member with edit permission.

[2020-01-15 10:28] upzone opened #1748 "Incorrect hyperlink for dynamic binding in 1st paragraph"
Wrong url for dynamic binding: https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FLate_binding&data=02%7C01%7CKesem.Sharabi%40microsoft.com%7C5d5b0d2d62cf4818f0c108d7635b151e%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637087115150775585&sdata=AbEtdJvgy4ivi4v4ziuui%2Bw2ibTQQXBQNYRKbXn5scA%3D&reserved=0

---
#### Document Details

⚠ *Do not edit this sectio

[2020-01-15 14:02] kanene commented on #1746
Thank you for your feedback!

[2020-01-15 14:20] KesemSharabi commented on #1748
Hi @upzone. This is the correct link to the conceptual article on Wikipedia. Dynamic binding is also called late binding, as mentioned in the first line of the Wikipedia article.

[2020-01-15 14:20] #1748 closed

[2020-01-15 14:24] KesemSharabi commented on #1741
Thanks for your comment, @guillecolsani.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-01-15 14:24] #1741 closed

[2020-01-15 18:15] Saltzmea opened #1749 "Scheduled Refresh Dataset Table Timings"
The articles don't discuss how a scheduled refresh for an import on SQL Server is executed. I noticed that some of my dataset tables with a handful of records return newly processed information before the processing is complete for large fact tables. Analysis Services preforms a swap of the data models after processing is complete. Is the scheduled refresh in Power BI refreshing each table indepen

[2020-01-15 20:52] salimassaf opened #1750 "Access required to delete a dataset"
What access is required to delete a dataset?  You would expect it to be "Contributor" as that user should be able to "Create, edit, and delete content in the workspace" but that does not seem to be the case.  Can the chart be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
*

[2020-01-15 23:53] larrycsonka opened #1751 "Quickbooks Online App does not show up"
On this page it mentions installing the Quickbooks app to create reporting - but I don't see anything like that come up when I search.
Does this still exist?

https://docs.microsoft.com/en-us/power-bi/service-connect-to-quickbooks-online

[2020-01-16 03:47] axaeffect opened #1754 "How to apply in F&O work space ?"
My company has A SKU which is Power BI Embedded not a premium. How is this applied to our ERP which is Dynamics 365 F&O, especially if we create custom entity and create our own PBIX.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-

[2020-01-16 07:58] peter-myers commented on #1739
Thanks for pointing this issue out, @Oxenskiold-DAX. I've updated the formula, and surrounding text. #please-close

[2020-01-16 07:58] #1739 closed

[2020-01-16 10:11] Anmolgan81 commented on #1459
They will not respond, since its not in development, if this is in development they should have responded long time ago.

[2020-01-16 16:00] dhruvinushah opened #1755 "Performance and Impact on datset size"
Can we get more details about how the group and bins work? Can we consider them to be created in the same way as a Calculated Column? if yes what is the advantage? If not how is it different?
Thanks in advance!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7502a07a-7f30-882d-7542-2a194651c421
* Version Independent ID

[2020-01-16 18:33] maggiesMSFT commented on #1733
Thanks, @noahamolot ! Fixed it. Update will be live later today.

[2020-01-16 18:33] #1733 closed

[2020-01-16 22:10] maggiesMSFT commented on #1717
Hi, @lorenamschafer - the bad news is that you do have to make them each individually. The good news is that you can retitle them. Select **More options** (the 3 dots ... in the upper right corner) of the tile and select Edit details. There you can give it any title you want.
Hope that helps!

[2020-01-16 22:10] #1717 closed

[2020-01-16 22:30] lorenamschafer commented on #1717
When I create the tile it doesn't give me the name and I had two results
that had very close results so I wasn't sure which it was.

On Thu, Jan 16, 2020, 5:10 PM Maggie Sparkman <notifications@github.com>
wrote:

[2020-01-16 22:51] paulinbar commented on #1749
Hi @Saltzmea , thanks for reaching out to us. Can you provide me the names or urls of some of the articles you consulted? This will help me identify the relevant author. Thanks!

[2020-01-16 22:53] maggiesMSFT commented on #1474
Great idea! Sorry it took me a while. Adding it today, will be live this afternoon or tomorrow.

[2020-01-16 22:53] #1474 closed

[2020-01-16 23:14] paulinbar commented on #1750
Hi @salimassaf . Thanks for your question. I am forwarding it on to the article author for consideration.

[2020-01-16 23:18] maggiesMSFT commented on #1717
Hi, @lorenamschafer -- Understood. Suggestion: Create and rename them one at a time, so you're sure which one gets which name. Make sense?

[2020-01-16 23:25] maggiesMSFT commented on #1182
Hi, @klinejordan -- you probably figured this out long ago, but if not, this view is the Report list view:
![image](https://user-images.githubusercontent.com/12401230/72571403-5912fd80-3874-11ea-83ac-2d9065d35a58.png)
Hope that helps!

[2020-01-16 23:25] #1182 closed

[2020-01-16 23:31] gah112 opened #1757 "Complete list of JSON objects & properties"
Hi MS Team - this article is fantastic. Having a complete list of the available theme properties and objects would be an excellent addition. In trying to set a few properties (e.g. for the "visualHeaderTooltip" object) I have had some issues determining the correct property names. Thanks for your support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-01-16 23:34] klinejordan commented on #1182
That view is only available to workspace users, not app users. Users of apps will never be able to see that view.

sent from mobile

________________________________
From: Maggie Sparkman <notifications@github.com>
Sent: Thursday, January 16, 2020 3:25:11 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: klinejordan <jordan.kline@outlook.com>; Mention <mention@noreply.github.

[2020-01-16 23:44] paulinbar commented on #1751
Hi @larrycsonka . Thanks for your question. It looks to me like the documentation indeed is outdated. I am assigning that to an author. In terms of the app you mentioned, let me ask @teddybercovitz . Teddy, has Quickbooks Online become something else?

[2020-01-16 23:47] paulinbar commented on #1757
Hi, @gah112 . Thanks for your comment! I am assigning it to the author of the article for consideration. Thanks!

[2020-01-17 00:52] maggiesMSFT commented on #1182
@klinejordan -- you are right. The article is wrong. Testing it now, it appears I can only save a copy to My Workspace. I don't have the option to choose where the copy is saved.
I need to rewrite the article to state that. I'll also confirm with the product team.
Thanks for your question and for insisting!

[2020-01-17 02:59] maggiesMSFT commented on #1182
@klinejordan --
Done. Should be live tomorrow.
Thanks again!

[2020-01-17 14:14] lorenamschafer commented on #1717
Sure, thank you.

On Thu, Jan 16, 2020, 6:18 PM Maggie Sparkman <notifications@github.com>
wrote:

[2020-01-17 15:25] kritchens commented on #1715
There needs to be more specific information on what exact version of ODAC works with Powerbi Currently the version that is linked to you get an error that its not the correct version. It seems like a the ODAC version of ODAC121024_x64 works correctly and it runs queries faster than the version this page links to.

[2020-01-17 15:33] kritchens commented on #784
I can Confirm this worked. It seems there has to be a specific version of Oracle Client installed to run correctly.

[2020-01-17 17:03] Withnail99 opened #1758 "PBIVIZ install and certificate"
When installing PBIVIZ per above I get the warning message core-js@2.3.0 is no longer maintained and not recommended.... etct
When trying to create and install a certificate, I get the error message below. I am now stuck - can you help resolve? Thanks.

pbiviz : File C:\Users\customer\AppData\Roaming\npm\pbiviz.ps1 cannot be loaded. The file C:\Users\customer\AppData\Roaming\npm\pbiviz.ps1 is not

[2020-01-17 19:54] rywilli commented on #1474
Can I suggest that the documentation referenced is this page, which is specific to the current build: https://docs.microsoft.com/en-us/power-bi/desktop-report-lifecycle-datasets

The documentation you referenced is connecting to shared datasets across workspaces , which is a nice feature but is still in preview and build upon the core functionality mentioned in the above mentioned documentation.

[2020-01-17 19:55] CyrusGrimes commented on #1758
I also had the same experience with the installation of PBIVIZ, and had the same message generated. I was able to register my certificate, but I had to manually open the certificate importer. The process fully broke at step 3. To create a custom visual project, enter the following command. CircleCard is the name of the project.
I got
PS C:\Windows\system32> pbiviz new CircleCard
 info   Creating n

[2020-01-17 19:58] CyrusGrimes commented on #1758
nevermind I was using the powershell ISE, not just the regular powershell.

[2020-01-17 20:51] AriehEdelson commented on #1743
https://docs.microsoft.com/en-us/power-bi/refresh-scheduled-refresh

[2020-01-17 21:56] v-thepet commented on #1737
@smith-erik @davidiseminger - This is corrected in PR https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/3133 - to be submitted for author review today 1/17. Thanks for pointing this out.

[2020-01-17 22:24] cdxskier commented on #209
Any updates on when this functionality will be added? @KayUnkroth

[2020-01-17 23:11] KayUnkroth commented on #209
No updates. Changing the report URL filter behavior is not on the immediate priority list. Sorry, cdxskier, I don't have any timelines for this.

[2020-01-18 00:54] maggiesMSFT commented on #1758
Hi, @Withnail99 and @CyrusGrimes -- I'm assigning this to the author to see if they have a suggestion, or want to update the article. You may want to try the Community, https://community.powerbi.com/, or you may need to contact Support https://powerbi.microsoft.com/en-us/support/. Good luck!

[2020-01-18 00:57] maggiesMSFT commented on #1754
Hi, @axaeffect -- I'm assigning this to the author to see if they have a suggestion, or want to update the article. You may want to try the Community, https://community.powerbi.com/, or you may need to contact Support https://powerbi.microsoft.com/en-us/support/. Good luck!

[2020-01-19 11:19] jediwarpraptor commented on #1069
Was this ever actually resolved?  I'm currently getting the same exact error trying to connect to PowerBI Premium capacity using SSMS.

[2020-01-20 15:54] agustingc opened #1761 "Matplotlib"
There are several references to a "Matprolib library" in this article where I believe the correct name is Matplotlib.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c6b7b4f-9f34-cec1-687c-2f5c708fe99f
* Version Independent ID: e66e6e43-157d-8331-20e2-89d1379c5251
* Content: [Create Power BI visuals using Python in Pow

[2020-01-20 19:42] olyamusok opened #1762 "Is there a chance of 'late arrivals' when obtaining data using ActivityEvents REST API?"
aka when is the safest I can call the cmdlet/script to export full data for the previous completed UTC day.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-1293-1264-3214cc4b6dc8
* Content: [Track user activities in Power BI - Power BI](https:/

[2020-01-21 07:35] timp3261 opened #1763 "Not working"
Hi,
The steps provided in the page is not working.
I received the following error after entering the page id and the connection.
"Facebook: (#10) This endpoint requires the 'manage_pages' permission or the 'Page Public Content Access' feature. Refer to https://developers.facebook.com/docs/apps/review/login-permissions#manage-pages and https://developers.facebook.com/docs/apps/review/feature#refere

[2020-01-21 08:34] KesemSharabi commented on #1711
Hi @haider392,

Thank you for your feedback.

I am aware that the [Embed Power BI content into an application for your organization](https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization) tutorial is not up-to-date, and will revise it (along with the other tutorials for Power BI embedded analytics) shortly.

[2020-01-21 08:34] #1711 closed

[2020-01-21 08:57] KesemSharabi commented on #1740
Hi @axaeffect,

I'm not exactly sure what you're looking for...

You can stop/start and scale up/down [Power BI Embedded](https://docs.microsoft.com/power-bi/developer/azure-pbie-what-is-power-bi-embedded) which is shipped with *A* SKUs on an *Azure* capacity.

Please review the following:
 * [Power BI Embedded pricing](https://azure.microsoft.com/pricing/details/power-bi-embedded/)
* [Pause and s

[2020-01-21 11:29] KesemSharabi commented on #1758
Hi @Withnail99,

I'm assigning this issue to  one of our support managers for further investigation.

[2020-01-21 13:35] fpro123 commented on #1669
We are facing the same issue. However, we sign in with Adobe ID. Any news @davidiseminger ?

[2020-01-21 14:46] evandromr opened #1764 "Transparent images with black text unreadable using dark theme"
For example https://docs.microsoft.com/en-us/power-bi/guidance/media/star-schema/field-list-example.png

Images on this page have a dark text with a transparent background. When viewing the page using a dark theme the text is unreadable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ca67d-ed62-fbe0-85b2-6b1604f9f94

[2020-01-21 15:44] paulinbar commented on #1764
Thanks for letting us know Evandro. I've fixed the image transparency. The fix should be out live by around midnight. Thanks!
@evandromr

[2020-01-21 15:45] #1764 closed

[2020-01-21 16:21] mihart commented on #1763
Thanks for your comment, @timp3261. This issue has been assigned to the doc author for review.

[2020-01-21 17:34] Diego-MX opened #1765 "Upgrade Web Report with Sharepoint PBIX"
I just found out how to create a web report / dataset in Power BI web, based off on a desktop PBIX that has been stored in OneDrive or Sharepoint site.

Link to the documentation, [here](https://docs.microsoft.com/en-us/power-bi/service-desktop-files)

This is a great feature that allows one to sync the web report with the corresponding PBIX.  And thus avoid downloading the PBIX when transfering c

[2020-01-21 19:08] maggiesMSFT commented on #1743
Hi, @adrianjumangit -- thanks for your comment. Could you elaborate? I just walked through the steps as spelled out and they seem correct.
And @AriehEdelson -- do you have a question about that page?
thanks

[2020-01-21 19:16] maggiesMSFT commented on #1689
Hi, @Eutardigrade -- well, that's a puzzler! Thanks for asking. I'm checking and will get back to you.

[2020-01-21 19:30] maggiesMSFT commented on #1668
Hi, @pcgeekus -- So true! Good catch. I'll add it to my work items and get to it soon. Thanks!

[2020-01-21 22:21] Minewiskan commented on #1069
@jediwarpraptor - The outcome of this particular issue is unknown. Please open a support case for your issue. If you're able to determine a resolution, please post it in this Git Issue.

[2020-01-21 22:23] AriehEdelson commented on #1743
I had been having the same issue as Adrian. The link I provided helped me get to where I need to be and so I hoped to help Adrian. Thanks!
It's more that the images didn't match what I had on my screen.

[2020-01-22 01:51] maggiesMSFT commented on #1688
Hi, @eshkin-Kot -- You're right that it's currently DirectQuery only. So if you're having issues with DirectQuery, you may need to enter a support request, https://powerbi.microsoft.com/en-us/support/

[2020-01-22 01:51] #1688 closed

[2020-01-22 02:03] mihart commented on #1765
Thanks for your comment, @Diego-MX . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. To submit this as a new idea, visit ideas.powerbi.com.

[2020-01-22 02:03] #1765 closed

[2020-01-22 02:15] maggiesMSFT commented on #1489
Hi, @ramenjosh -- Thanks for asking. No, it's not possible to use a customer data connector with Power BI Report Server, and it's not planned.

[2020-01-22 02:15] #1489 closed

[2020-01-22 02:45] maggiesMSFT commented on #1466
Hi, @LucasCartisano and @ghost -- if it's a software issue, then the user needs to consult support, https://powerbi.microsoft.com/en-us/support/

[2020-01-22 02:45] #1466 closed

[2020-01-22 02:52] maggiesMSFT commented on #1619
Hi, @iLikeAzureSQL -- if you're still having trouble with this issue, it sounds like you need to contact support, https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-01-22 02:52] #1619 closed

[2020-01-22 02:58] maggiesMSFT commented on #1662
Hi, @schwinnen -- thanks for asking! Question: when you say it "worked fine" -- with a Viewer role, they should be able to view and interact with reports in the Premium workspace. You're saying they can't do that? If so, that sounds like you might need to contact support, https://powerbi.microsoft.com/en-us/support/.
Hope that helps!

[2020-01-22 02:58] #1662 closed

[2020-01-22 03:04] maggiesMSFT commented on #1750
Hi, @salimassaf -- good question! I'll check and get back to you, and update the article if necessary.

[2020-01-22 12:04] LuminousIncal opened #1767 "PBIDS - specify Implementation 2.0 SAP BW Connector"
Hi,

Is it possible to specify the implementation 2.0 SAP Connector in a PBIDS file? At the moment this defaults to the implementation 1.0, which doesn't work for us.

Also, can other options such as LanguageCode be specified in the connector?

I've tried adding an options field but without success:
		"options": {
			"LanguageCode": "EN",
			"Implementation": "2.0"
		}

Many thanks,

Andy Thomas

[2020-01-22 12:59] Diego-MX commented on #1765
Oh.  It was a feature request.   Got me the wrong channel.
Thanks.
Cheers from Mexico.

[2020-01-22 13:43] schwinnen commented on #1662
@maggiesMSFT - I am in contact with support, but nothing has been resolved yet.  To answer your question - I have assigned Viewer access to a distribution group within my premium workspaces.  Users within this distribution group cannot access the reports in these premium workspaces.  They are being prompted to sign up for Power BI Pro or to start a Power BI Pro trial.  Based on your documentation,

[2020-01-22 14:20] KesemSharabi commented on #1767
Thanks for your comment, @LuminousIncal.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-01-22 14:20] #1767 closed

[2020-01-22 14:34] KesemSharabi commented on #1761
Thanks for your comment, @agustingc.

I've assigned this issue to the doc author for review.

[2020-01-22 16:20] edfreeman opened #1768 "Missing icon for data groups?"
It seems the icon for "data groups" isn't listed above. Took me a while to figure out what the icon signified, so it might be helpful to add it to the list above?

![image](https://user-images.githubusercontent.com/30260217/72912146-1ac58480-3d33-11ea-9d4a-a137df1ea5f5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-01-22 18:28] enjoy-qa opened #1769 "User can't access dataset if it has RLS"
Even if that user has access to a portion of the data, if he wants to create a dashboard in his own workspace with that dataset (the one with rls), he can't see nor access to de dataset.
its that ok? A dataset with rls can't be access by any member with a role in its own workspace?
that dataset use to be accesible to that user before rls.
thanks

[2020-01-22 18:57] cpyne opened #1770 "NPGSQL for Postgresql"
Version number 2.0.12 appears to be wrong for PostgreSQL.  This article says 4.0.10   https://docs.microsoft.com/en-us/power-query/connectors/postgresql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75d081a0-4c4b-f756-eaf7-1e98d583ecf8
* Version Independent ID: 0b694de6-df10-daca-888c-1062dd3299db
* Content: [Power BI

[2020-01-22 21:21] maggiesMSFT commented on #1750
Hi, @salimassaf -- turns out you've discovered an issue that Contributors don't see all the menu options they should see. A fix is in the works, but I don't have a date for it.
Hope that helps!

[2020-01-22 21:21] #1750 closed

[2020-01-22 21:28] maggiesMSFT commented on #1695
Hi, @chris-schulz -- There was a change in the SQL Server install media made available from the Microsoft Download center; the SQL Server key is no longer required to be entered when installing that media; however, the key is still required for Power BI Report Server.

[2020-01-22 21:28] #1695 closed

[2020-01-22 21:31] maggiesMSFT commented on #1694
Hi, @chris-schulz -- as noted in your other issue, https://github.com/MicrosoftDocs/powerbi-docs/issues/1695, "There was a change in the SQL Server install media made available from the Microsoft Download center; the SQL Server key is no longer required to be entered when installing that media; however, the key is still required for Power BI Report Server."
Hope that helps! I'm adding a note to th

[2020-01-22 21:31] #1694 closed

[2020-01-22 21:34] chris-schulz commented on #1695
Hi, this is a bug. It is not resolved. There is no way to install Power BI since this change prevents us from retrieving the key.

[2020-01-22 21:36] chris-schulz commented on #1694
Hi, this is a bug and is preventing SQL EE users from retrieving the key to install Power BI. Its not resolved!

[2020-01-22 22:36] ancibira opened #1771 "Supported Data Sources"
Hi there, in this page it states that OData typically does not support query folding. In the following doc it says that OData does support query folding: https://docs.microsoft.com/en-us/power-query/power-query-folding
Could you please make it more clear regarding what aspects of OData supports query folding? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-01-23 13:07] KesemSharabi commented on #1762
Thanks for your comment, @olyamusok.

I've assigned this issue to the doc author for review.

[2020-01-23 13:37] KesemSharabi commented on #1754
Hi @axaeffect,

A SKUs are not supported for embedding in Dynamics - see the [Power BI now offers three SKUs for embedding: A SKUs, EM SKUs, and P SKUs. Which one should I purchase for my scenario?](https://docs.microsoft.com/power-bi/developer/embedded-faq#power-bi-now-offers-three-skus-for-embedding-a-skus-em-skus-and-p-skus-which-one-should-i-purchase-for-my-scenario) table in the [Frequently a

[2020-01-23 13:37] #1754 closed

[2020-01-23 13:43] KesemSharabi commented on #1735
Thanks for your comment, @axaeffect.

At the moment there isn't a plan to create a 'how to' guide for embedding in Dynamics.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-01-23 13:43] #1735 closed

[2020-01-23 15:43] paulinbar commented on #1768
Hi Ed, thanks for your comment. I've assigned your issue to the doc author for consideration. Thanks!
@edfreeman

[2020-01-23 16:15] paulinbar commented on #1769
Hi @enjoy-qa. You have reached the documentation team, and I don't see a reference to any specific documentation item. I think your question is perhaps more of a product question. I suggest you put your question to the [Power BI Community]( https://community.powerbi.com). There are a great many experienced people there and someone may be able to answer your question.
Thanks for reaching out to us!

[2020-01-23 16:15] #1769 closed

[2020-01-23 16:18] paulinbar commented on #1770
Hi Charlie, thanks for your comment. I've assigned this issue to the doc author for consideration. Thanks!
@cpyne

[2020-01-23 16:22] paulinbar commented on #1771
Hi @ancibira, thanks for your observation. I've assigned your issue to the doc author for consideration. Thanks!

[2020-01-23 21:17] #1118 closed

[2020-01-24 01:45] maggiesMSFT commented on #1112
Hi, @iturner1 and @teoaraujo -- belatedly, here's a related Reporting Services article that may help. https://docs.microsoft.com/en-us/sql/reporting-services/report-server/report-server-database-ssrs-native-mode

[2020-01-24 01:45] #1112 closed

[2020-01-24 03:09] fanzhangrsllifecareorgau opened #1772 "Plan for limitations"
Is it possible to provide a date or plan against each item in the "Known limitations" section, so we know if we should wait for the limitation removed in the future or find other solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919f51d-8623-b039-a1fc-0df774225c46
* Version Independent ID: 0376c331-0f7e-ec9b-62

[2020-01-24 03:15] VitalyMCT opened #1773 "Description associated with importing a local file seems to be incorrect"
The description says the import is getting the data, where in fact it seems to be getting data + PowerPivot + Power View + Power Query.

The tooltip in Power BI Desktop is correct in that it mentions the 3 Excel Power Tools next to the Import option.

This could technically be a product bug rather than one in documentation, because the description is in Power BI portal itself.

**Service**

![imag

[2020-01-24 12:13] tarunbadial commented on #1483
When I use python script for power query editor, most of time I faced error as below.
How can I solve this issue.
![image](https://user-images.githubusercontent.com/43639402/73068342-fd2e2180-3ed0-11ea-8133-cea813b49adf.png)
 **Run code:**
![image](https://user-images.githubusercontent.com/43639402/73068262-d7088180-3ed0-11ea-875c-08a71172a9e6.png)

[2020-01-24 19:53] pb1051 opened #1775 "foloder"
"In the information that's displayed, the dataflow's CDM foloder location appears under Dataflow Storage location, as shown in the following image."

Should be:
"In the information that's displayed, the dataflow's CDM folder location appears under Dataflow Storage location, as shown in the following image."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-01-25 01:46] maggiesMSFT commented on #1694
Hi, @chris-schulz -- further investigation. It appears the key is only showing in the section for SQL Server 2017, not 2016. But it's a static key, so you can get it from 2017 and use it in 2016. They're working on rectifying it, but in the meantime you can use it. Hope that helps.

[2020-01-25 01:52] maggiesMSFT commented on #1772
Hi, @fanzhangrsllifecareorgau -- we on the docs team won't have that information. The best way to find out what's coming and approximately when is to check the Power BI release notes, https://docs.microsoft.com/en-us/power-platform-release-plan/2019wave2/business-intelligence/planned-features.
Hope that helps!

[2020-01-25 01:52] #1772 closed

[2020-01-25 01:54] maggiesMSFT commented on #1773
Hi, @VitalyMCT -- good catch! That is indeed a product bug, so you need to provide that feedback in the Power BI product forum, https://ideas.powerbi.com/forums/265200-power-bi.
Thanks!

[2020-01-25 01:54] #1773 closed

[2020-01-25 01:56] maggiesMSFT commented on #1775
Hi, @pb1051 -- good eye! I've assigned to the author to take care of it.
Thanks!

[2020-01-27 06:30] tarunbadial opened #1776 "#Enable to Run Python Script in PowerBI"
I am tired to run the script on get data from python script but it seems some below error:
**Issue Screenshot:**
![image](https://user-images.githubusercontent.com/43639402/73153943-a7898d00-40fb-11ea-93b4-58391d88b3c1.png)

**Python Script**
![image](https://user-images.githubusercontent.com/43639402/73154104-41513a00-40fc-11ea-85ff-be002f55d89f.png)

**PowerBI Version:**
![image](https://user-im

[2020-01-27 08:40] Ichtil commented on #1214
@markingmyname I agree with @sshresthareach, I am going through a similiar issue. Not everybody is using C# and having some REST calls shown would be helpful.

[2020-01-27 12:56] MickaelLevert opened #1777 "PowerBI Embedded Subscription"
Hello,

Is it possible to subscribe to a report in PowerBI Embedded ? And/Or using the PBI Javascript Library ?
My reports are filtered dynamically through URL Filtering using fields from the report. So is it possible to subscribe to them in my environment ?
The subscription would also be temporary.

Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-01-27 13:10] wi5nia commented on #1621
Still the same issue

[2020-01-27 15:31] davidmytton opened #1778 "Incorrect link for finding parameters"
The link "finding these parameters" in step 7 links to the anchor on the wrong page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3f49d98-4002-a7d8-d41b-74f4079cb905
* Version Independent ID: 08f3c0e6-9a0f-a200-52a6-8cdc447dae46
* Content: [Connect the Microsoft Sustainability Calculator - Power BI](https://docs.mic

[2020-01-27 16:53] pb1051 commented on #1775
;-) Thanks!

On Fri, Jan 24, 2020, 7:56 PM Maggie Sparkman <notifications@github.com>
wrote:

[2020-01-27 17:27] markingmyname commented on #1214
#reassign Keseem Sharabi

[2020-01-27 17:27] PRMerger13 commented on #1214
Keseem is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-01-27 17:29] markingmyname commented on #1214
@sshresthareach and @Ichtil

We apologize that you feel there should be more information about how to generate an access token using OAuth2 and C#.

I have assigned to the current author to look into this further.

Thank you.

[2020-01-27 18:32] salimassaf opened #1779 "Dataset - modifying the Gateway Connection."
It seems like a user requires two types of access to be able to publish a report using a particular data source.
1. User access to the gateway connection itself.
2. Member access to the workspace.

In particular reason why someone needs member access instead of contributor access to maintain a gateway connection within the dataset?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-01-27 18:50] mihart commented on #1671
Hi @alwweb ,
I've updated the article to reflect the new screens.  And yes, you are correct re: dashboards.
Thanks :-)

[2020-01-27 18:50] #1671 closed

[2020-01-27 22:09] RealEggboy commented on #1669
@davidiseminger is the issue that this article states you need to connect via an Adobe ID and not an Enterprise ID? Which is an issue as the general practice and the recommended user type is Enterprise ID. Thanks!

[2020-01-27 22:40] sjnovick opened #1780 "Power BI Mobile + OAuth + WAP: Can successfully auth, but 404 on all reports"
Greetings,

I have configured Power BI Server + OAuth + ADFS + WAP per https://github.com/MicrosoftDocs/powerbi-docs/blob/live/powerbi-docs/consumer/mobile/mobile-oauth-ssrs.md and https://www.youtube.com/embed/okzPAI2uUek.

Using Power BI mobile app on Android and iOS, I can successfully authenticate. However, attempting to render any report just "spins" and if clicking refresh, returns 404.

I h

[2020-01-28 01:27] Tiberriver256 commented on #1669
@RealEggboy - The problem isn't the documentation. It is a bug within PowerBI, as described above you get an error when attempting to log in. I have the error when using an Enterprise ID fpro123 has the error with an Adobe ID. So it appears the connector may need some update before it works with Adobe.

[2020-01-28 01:38] maggiesMSFT commented on #1695
Just so this issue has the same note:
Hi, @chris-schulz -- further investigation. It appears the key is only showing in the section for SQL Server 2017, not 2016. But it's a static key, so you can get it from 2017 and use it in 2016. They're working on rectifying it, but in the meantime you can use it. Hope that helps.

[2020-01-28 04:45] furmangg opened #1781 "Global Administrator or not?"
"To configure a connection to Azure Data Lake Storage Gen2 in the Power BI admin portal, you must have Global Administrator permissions. However, Global Administrators cannot connect external storage in the admin portal." Wow, that's a head scratcher. Can you explain how that's not completely contradicting itself? What does that mean?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-01-28 07:21] #1740 closed

[2020-01-28 18:49] RealEggboy commented on #1669
@Tiberriver256 Thanks...I was about to do the connection, and saw the documentation requires and Adobe ID instead of an Enterprise ID. From my end, I will take this up with our Adobe and Microsoft success managers...if I have an update I will post here too. Thanks so much!

[2020-01-29 14:05] KesemSharabi commented on #1779
Thanks for your comment, @salimassaf.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-01-29 14:13] KesemSharabi commented on #1778
Thanks for your comment, @davidmytton.

I've assigned this issue to the doc author for review.

[2020-01-29 14:24] KesemSharabi commented on #1777
Thanks for your comment, @MickaelLevert.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

I also strongly suggest that you review the [Power BI developer](https://docs.microsoft.com/power-bi/developer/) docum

[2020-01-29 14:24] #1777 closed

[2020-01-29 14:28] KesemSharabi commented on #1776
Thanks for your comment, @PRMerger14.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-01-29 14:28] #1776 closed

[2020-01-29 16:44] JohnnyCullen opened #1783 "The Microsoft Power BI tutorial directs you to this page for the sample Access database but there's no access database"
The Microsoft Power BI tutorial directs you to this page for the sample Access database PowerBI.accb  but there's no access database here, just the Excel file from the first tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423bed63-655a-3079-815e-0d9a8c7de44d
* Version Independent ID: ed119c4a-d4f0-7458-fd57-d72

[2020-01-29 18:34] carriety opened #1784 "ODBC Connector Documentation"
In the Dataflow Get Data menu, ODBC connector is now an option. Better documentation is needed on expected field values for that connector. Page still states that M query copy is required for connecting to ODBC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1458e2bc-7637-e305-55f3-596c64972ff3
* Version Independent ID

[2020-01-29 20:04] davidiseminger commented on #1381
That page has been updated - thanks!

[2020-01-29 20:04] #1381 closed

[2020-01-29 20:10] davidiseminger commented on #1458
Added the disable update notification information; the other parameter can be sent as a suggestion to the engineering team, using https://ideas.powerbi.com.

[2020-01-29 20:10] #1458 closed

[2020-01-29 20:12] davidiseminger commented on #1491
That is currently correct.

[2020-01-29 20:12] #1491 closed

[2020-01-29 20:13] davidiseminger commented on #1503
It applies to the dataset, not each visual. You might find a solution to the visual issue in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-29 20:13] #1503 closed

[2020-01-29 20:19] davidiseminger commented on #1517
Added that to the article - thanks!

[2020-01-29 20:19] #1517 closed

[2020-01-29 20:20] #1518 closed

[2020-01-29 20:21] davidiseminger commented on #1519
Fixed - and note that downloads for previous versions of Power BI Desktop are only available for the previous six months from the most recent release.

[2020-01-29 20:21] #1519 closed

[2020-01-29 20:22] davidiseminger commented on #1544
Hello - we can speculate about future releases (or support cycles) until they are officially announced, sorry about that.

[2020-01-29 20:22] #1544 closed

[2020-01-29 20:22] #1545 closed

[2020-01-29 20:23] #1556 closed

[2020-01-29 20:24] davidiseminger commented on #1568
Thanks for your comment, @CeciAc . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-29 20:24] #1568 closed

[2020-01-29 20:26] davidiseminger commented on #1577
I'm sorry you found that a bit misleading, we're trying to provide as much information in that table as possible. We'll look at how we can restructure that table to avoid creating confusion. Thanks for your feedback.

[2020-01-29 20:26] #1577 closed

[2020-01-29 20:30] davidiseminger commented on #1588
Great point - I've changed that. Thanks for bringing that to our attention!

[2020-01-29 20:30] #1588 closed

[2020-01-29 20:35] davidiseminger commented on #1591
Great point - I've added that note, and linked to that blog post. Thanks!

[2020-01-29 20:35] #1591 closed

[2020-01-29 20:37] davidiseminger commented on #1597
Thanks for the clarification - your information will hopefully help others who see this. I'll close this, but it'll stay for others to learn from how you fixed your issue.

[2020-01-29 20:37] #1597 closed

[2020-01-29 20:38] davidiseminger commented on #1599
Thanks for your comment, @geeliano . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-01-29 20:38] #1599 closed

[2020-01-29 20:40] davidiseminger commented on #1610
Sorry about that - looks like that resource is no longer available. I've removed that link.

[2020-01-29 20:40] #1610 closed

[2020-01-29 20:44] davidiseminger commented on #1612
Thanks for your feedback - that page has been updated, and that passage removed. Thanks for the close read!

[2020-01-29 20:44] #1612 closed

[2020-01-29 20:46] davidiseminger commented on #1623
Thanks - we've removed that.

[2020-01-29 20:46] #1623 closed

[2020-01-29 20:47] davidiseminger commented on #1625
Thanks for your comment, @CeciAc . Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-01-29 20:47] #1625 closed

[2020-01-29 20:48] mgblythe commented on #1577
@davidiseminger - I removed the article that this comment originally referred to and redirected to the new article that covers DQ and gateways. We should be all good on conflicting info b/c there's now only one source.

[2020-01-29 20:58] davidiseminger commented on #1775
Thanks for the close read! Fixed!

[2020-01-29 20:58] #1775 closed

[2020-01-29 21:04] edhans commented on #1577
Thanks! Much cleaner. Appreciate it team.

[2020-01-30 00:10] DataAdminEviso commented on #1763
Hello,
I got the same error.
Please inform when the API has again Manage_page permission from Facebook.
Thanks

[2020-01-30 00:55] Tiberriver256 commented on #1669
Just wanted to post an update it looks like there may have been an update pushed to the Windows Store version of PowerBI that resolves the above issue. At least it is working for me now.

[2020-01-30 02:00] dhoegl opened #1785 "Advanced queries to access securityActions, ThreatIntelligence, etc..."
I was hoping this documentation would explain how to run queries that only work with 'Application-Level' permissions in an Azure tenant (as opposed to Delegated). Graph Security Connector registers as an 'Enterprise Application' when consented by an Admin. However, advanced queries such as "https://graph.microsoft.com/beta/security/securityActions" and "https://graph.microsoft.com/beta/security/Ti

[2020-01-30 04:56] mihart commented on #1778
Hi @KesemSharabi @joshthor3222 ,
I made the corrections and added it to my PR.

[2020-01-30 04:58] #1778 closed

[2020-01-30 05:20] mihart commented on #1747
Hi @edhans ,
It lets you display any extra spaces in the data label.  In Desktop, hover over the "Source spacing" and a tooltip pops up to explain what it is.
HTH,
The DOCS team

[2020-01-30 05:20] #1747 closed

[2020-01-30 05:37] mihart commented on #1679
Thanks for your comment, @WolffM . This looks like a product idea or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. To search for submitted ideas, or to submit your own, visit ideas.powerbi.com.

[2020-01-30 05:37] #1679 closed

[2020-01-30 06:56] fpro123 commented on #1669
@Tiberriver256 I could not find the update on Windows Store. My current version is Version: 2.76.5678.782 64-bit (december 2019).
Did you log on with Enterprise ID or Adobe ID.

[2020-01-30 12:10] Mholsen opened #1786 "Use of spaces in capacity name"
Are you sure that spaces in the capacity name are allowed like shown in your picture?
Twice I have tried to create a capacity with spaces in the name and both failed.
Creating the capacity without spaces succeeded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f09b043-ca4f-8d06-16b9-19f03e89b344
* Version Independent

[2020-01-30 15:49] Tiberriver256 commented on #1669
I've got the same version 2.76.5678.782 64-bit (december 2019). I did have to clear my connection settings on my second pc to get it to work. I am using an Enterprise ID.

### Clearing connection settings

File -> Options and Settings -> Data Source Settings -> Clear any permissions related to Adobe Analytics

It should prompt you to log in again next time you try to get data

[2020-01-30 17:57] mperkins312 opened #1787 "RLS with nested distribution groups"
I'm assigning distribution groups to the security groups in Power BI and we realized that the security doesn't pass to the nested distribution groups. I looked online and this seems to be expected behavior, but I'm having a hard time finding any MSFT documentation on the subject. Could you please confirm this limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-01-30 18:27] kfollis commented on #1787
You are right, nesting distribution groups into security groups isn't a supported scenario. It's flagged in this article as a limitation: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-membership-azure-portal. I did note that the RLS article mentions that you can add distribution lists to a role - I'll make an update to clarify. Thank you for your inpu

[2020-01-30 21:06] Ichtil commented on #1214
You misunderstood - we don't want c#, we want rest API endpoints and show how to call these (eg. with service principal). I found that it is covered by Login Microsoft endpoints, but it wasn't until I connected with the support that I found what resource/scope I need to use.

[2020-01-31 11:32] baatch opened #1789 "What about managed identity?"
I'm trying to use the managed identity of a logicapp/azurefunction/data factory but it is not working. Managed identity is also using service principal in the background right? Why is it not working?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c135bb4c-618b-478d-bce7-ac8608e3caac
* Version Independent ID: a297498b-a

[2020-01-31 17:48] Kazanskyi opened #1790 "Can't connect to a gateway in PowerBI online"
I connected successfully MS Project to PowerBI desktop and uploaded report to a cloud.
Now I am trying to set up automatic updates but I can't as I get "Invalid connection credentials".
I use the same credentials that were used for a desktop version.
Please help to solve this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-01-31 18:36] kfollis commented on #1255
@sujata9994 and @maggiesMSFT - can you please verify that this change has been made and close if appropriate?

[2020-01-31 18:58] maggiesMSFT commented on #1255
Hi, @awbarbeau -- I see filterCard added to the JSON example in the Themes article, https://docs.microsoft.com/en-us/power-bi/desktop-report-themes#report-theme-json-file-format, so I think your question is resolved. You can reopen this issue if not.
Thanks!

[2020-01-31 18:58] #1255 closed

[2020-01-31 19:02] maggiesMSFT commented on #1780
Hi, @sjnovick -- Sorry to hear this isn't working for you! For the most part, it sounds like a product issue, not a docs issue. You may need to contact https://powerbi.microsoft.com/en-us/support/.
I'm assigning this to one of the authors to see if they can answer the question about the differences between the docs and the guyinacube video: "I also noticed that there are some differences between t

[2020-01-31 19:14] maggiesMSFT commented on #1783
Hi, @JohnnyCullen -- clearly you are correct. Can you tell us which Microsoft Power BI tutorial directs you to this page for the Access database? I'm not finding it in our files.
Thanks!

[2020-01-31 19:16] maggiesMSFT commented on #1784
Thanks, @carriety ! Assigned to author to investigate.

[2020-01-31 19:26] maggiesMSFT commented on #1785
Hi, @dhoegl -- good question! Asking the author to investigate.

[2020-01-31 19:27] maggiesMSFT commented on #1786
Hi, @Mholsen -- good question! Assigning to the author to investigate.

[2020-01-31 19:33] maggiesMSFT commented on #1789
Hi, @baatch -- sorry to hear it! This sounds like a support request. Please see https://powerbi.microsoft.com/en-us/support/ for support.
Thanks!

[2020-01-31 19:33] #1789 closed

[2020-01-31 19:35] maggiesMSFT commented on #1790
Hi, @Kazanskyi -- sorry to hear it! This sounds like a support request. Please visit https://powerbi.microsoft.com/en-us/support/ for help resolving the issue.

[2020-01-31 19:35] #1790 closed

[2020-01-31 19:57] maggiesMSFT commented on #1779
Hi, @salimassaf -- I'm investigating.
Thanks!

[2020-01-31 20:08] maggiesMSFT commented on #1743
OK, thanks to you both, @adrianjumangit and @AriehEdelson ! Closing this issue. Feel free to reopen if necessary.

[2020-01-31 20:08] #1743 closed

[2020-01-31 21:08] christianwade commented on #1414
It sounds more likely that there was a different cause for not folding, like data type conversion, or other logic in the query.
#please-close

[2020-01-31 21:08] #1414 closed

[2020-01-31 21:12] christianwade commented on #1432
Given that there are many different causes for not folding queries including source system capabilities, which change, we were unable to provide a definitive list of data sources that "do" or "don't" support query folding required for incremental refresh. All the information we were able to provide is here: https://docs.microsoft.com/en-us/power-bi/service-premium-incremental-refresh#query-folding

[2020-01-31 21:12] #1432 closed

[2020-01-31 21:12] christianwade commented on #1562
Given that there are many different causes for not folding queries including source system capabilities, which change, we were unable to provide a definitive list of data sources that "do" or "don't" support query folding required for incremental refresh. All the information we were able to provide is here: https://docs.microsoft.com/en-us/power-bi/service-premium-incremental-refresh#query-folding

[2020-01-31 21:12] #1562 closed

[2020-01-31 21:15] christianwade commented on #1583
Unable to repro. Successfully walked through the steps without needing to go to Advanced.
#please-close

[2020-01-31 21:15] #1583 closed

[2020-01-31 23:19] davidiseminger commented on #1757
Thanks for your input @gah112 , we're in the process of updating the document and that JSON, and will include more complete information.

[2020-01-31 23:19] #1757 closed

[2020-01-31 23:23] #1653 closed

[2020-01-31 23:23] #1656 closed

[2020-01-31 23:30] davidiseminger commented on #1665
It certainly should be! Fixed that, it'll show up in the Resources section. Thanks for pointing that out.

[2020-01-31 23:30] #1665 closed

[2020-01-31 23:32] davidiseminger commented on #1669
Great discussion all, and thanks for sharing the issue, the root problem, and the solution. Much appreciated!

[2020-01-31 23:32] #1669 closed

[2020-01-31 23:32] #1670 closed

[2020-01-31 23:37] davidiseminger commented on #1714
Thanks for bringing that up, I've updated the article.

[2020-01-31 23:37] #1714 closed

[2020-01-31 23:40] davidiseminger commented on #1770
Assigning to author.

[2020-02-01 07:07] fpro123 commented on #1669
It still doesn’t work for us. We use Adobe ID, as described in the documentation. Only Entreprise ID seems to work according to the discussion, opposite of documentation. We did multiple times clear the connection permission.

[2020-02-01 07:18] marcosqlbi opened #1791 "Wrong precedence rules"
The list for performance preference is not correct.
The proper order is:
1) One-to-many intra-island relationships
2) Many-to-many model relationships achieved with an intermediary table that involves at least one bi-directional relationship
3) Many-to-many cardinality relationships
4) Cross-island relationships
Moreover, there are many different types of many-to-many relationships, so the list sh

[2020-02-01 08:06] peter-myers commented on #1791
Thanks for the feedback @marcosqlbi - we're taking a look at this, and will revert soon.

[2020-02-01 08:09] marcosqlbi commented on #1791
Thanks @peter-myers - please note that the list is just for performance. For small cardinality relationships I suggest 3) over 2) because it is simpler to implement.
The many-to-many cardinality relationship only replaces the many-one-many chain of relationships (intermediate table can be inferred from the content of the other tables). Usually it connects a fact table to a dimension table to an at

[2020-02-02 10:19] tmsoliveira commented on #1783
For Example:
https://docs.microsoft.com/pt-pt/learn/modules/get-data-power-bi/4-clean-data-query-editor

[2020-02-02 20:35] kazyakj opened #1792 "Auto datetime availability in all clients"
It might be helpful to add a note that the auto date/time hierarchy aren't available in all client tools (I didn't see them when connecting live via Excel or Tableau.) Maybe it's common knowledge but I don't think I've seen it explicitly stated in any existing documentation. Knowing up front that users clicking 'Analyze in Excel' won't be able to see or leverage those fields might help dataset dev

[2020-02-03 22:00] maggiesMSFT commented on #1783
Hi, @tmsoliveira -- Thanks! I see the link on that page that goes to this Download the Financial Sample page, but the note says it's to get the Excel file:
"To follow along with the examples in the videos and on this page, download the sample Excel workbook here and import into Power BI Desktop (Get Data > Excel) if you haven't already."
It doesn't mention an Access db. Or am I still missing it?
T

[2020-02-03 22:18] JohnnyCullen commented on #1783
It looks like the sample Access Db is large, 10m+ rows, and unfortunately you dont need access to the Access Db to complete the course. 
It woyld be far better if they used a smaller downloadable Access Db so you coyld repeat the tutorial (sorry lab) steps

  On Mon, 3 Feb 2020 at 22:00, Maggie Sparkman<notifications@github.com> wrote:
Hi, @tmsoliveira -- Thanks! I see the link on that page that g

[2020-02-03 22:26] maggiesMSFT commented on #1783
Hi, @JohnnyCullen -- could you post the article that mentions the Access db and has a link to this article?

[2020-02-04 06:15] axaeffect commented on #1740
Sorry, I'm looking from the other Microsoft product which Dynamics 365 F&O. This "embed to your application" stuff apparently is not meant for D365 F&O.

[2020-02-04 09:58] nicolgit opened #1794 "link not working"
https://blogs.office.com/2014/03/24/creating-burndown-charts-for-project-using-power-pivot-and-power-query/ does not exist anymore, please check

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7de3f7-737b-cbbd-0911-e5535b198795
* Version Independent ID: 26615fdb-93ac-8d7f-f7cc-f7ebc436aa04
* Content: [Project Online:

[2020-02-04 10:45] rcfoyn opened #1795 "Percentage Indicator and Target goals"
What if my Indicator and Target goals measures should be shown as percentages? There seem to be no support for this, i.e. the KPI visual does not support the format defined on the chosen measure. It always uses a standard format, does it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08417ab2-2284-2bef-1573-cd3133c0ad

[2020-02-04 10:52] rcfoyn opened #1796 "Percentage values"
What if my values are actually percentage values, i.e. with Percentage set as the format of the measures? This visual does not seem to recognize the set format of the measure, but instead always uses a standard format. Please verify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f20ec85-cf09-5d0e-317c-1897a6f63b0b
*

[2020-02-04 10:54] denver-fletcher opened #1797 "Certified Connectors - Incorrect Email"
Office 365 is reporting that the listed email address (dataconnectors@microsoft.com) is invalid and email cannot be delivered to this address.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db81b-e91f-c1c8-7062-eb8bd5920eb9
* Version Independent ID: 63ba058e-817c-3b82-767b-5f94d8204e5b
* Content: [Connector Extensibi

[2020-02-04 10:55] #1797 closed

[2020-02-04 10:55] denver-fletcher commented on #1797
stupid newbie error. Apologies.

[2020-02-04 12:21] dedijunadi commented on #1465
Hi @LukaszPawlowski-MS I have a similar issue on publishing a spesific pages for PBIX report. I have 1 PBIX report that consist of 5 pages which I want to publish into 2 different website/portal.
- web1: publish all pages
- web2: publishe first page only
please kindly advise on the iframe URL for the 'web2'? thank you

[2020-02-04 17:30] rudzimj opened #1799 "Formatting options need documentation"
&gt; "Each visual also has a card in the Formatting section of the Visualizations pane called Visual header. In that card you can adjust all sorts of characteristics of the visual header."

I can't find anywhere where the Visual Header formatting options are explained. If you hover over each option, there is help text, but most do not explain what the option controls. For example, I am trying to f

[2020-02-04 18:06] mihart commented on #1799
Thanks for your comment, @. This issue has been assigned to the doc author for review.

[2020-02-04 20:00] mihart commented on #1796
Thanks for your comment, @rcfoyn . This issue has been assigned to the doc author for review.

[2020-02-04 20:01] mihart commented on #1795
Thanks for your comment, @rcfoyn . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-04 20:01] #1795 closed

[2020-02-04 20:02] mihart commented on #1794
Thanks for your comment, @nicolgit. This issue has been assigned to the doc author for review.

[2020-02-04 22:31] itthing opened #1800 "Data view icon missing - how do I access data view?"
I have a pbix file I've created recently with some connections to a couple of SQL instances, but the Data View icon is not present.  I can use the same install of desktop to open a different pbix file and the Data View icon is present.

What should a user do in such a case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-04 23:55] mihart commented on #1800
Thanks for your comment, @itthing . This issue has been assigned to the doc author for review.

[2020-02-05 13:45] chizhova opened #1803 "Possible mistake?"
section
Guest users using Personal accounts will experience more limitations due to sign-in restrictions.
"They can use consumption experiences in the Power BI service through a web browser"

Can they? Can you please check this statement. Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 725c3bff-b250-c8

[2020-02-05 13:57] Shvake commented on #1783
Access database mentioned in this video, starting from 2.20
https://www.microsoft.com/en-us/videoplayer/embed/RE3wRgY?pid=RE3wRgY-ax-37-id-oneplayer&postJsllMsg=true&autoplay=false&mute=false&loop=false&market=en-us&playFullScreen=false

[2020-02-05 14:36] itthing commented on #1800
I determined the issue was that my data sources were all SQL with directaccess.  I changed them to import, refreshed my data and the Data View icon appeared.  It might be helpful to include something in the documentation about such situations.

[2020-02-05 14:47] rinso11 opened #1804 "outof date ref effective identity"
"For example, you could change the PowerBIEmbedded_AppOwnsData sample. Services\EmbedService.cs line 76 and 77 could be updated from"

These lines do not represent the code you are referring to anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61878b62-89e5-e60a-4995-74d9650ca3e6
* Version Independent ID: 378733df

[2020-02-05 17:22] bgbearcatfan opened #1805 "HANA LDAP Authentication Not Working"
We have successfully configured PowerBI to connect to HANA using encryption with local user accounts.  However, when we try to login with an LDAP user, we given the message "The credentials provided are invalid.".  LDAP authentication is working, as ODBC connections using Windows ODBC Data Source Administrator with an LDAP user is successful.  Any ideas to get this working with Power BI?

Edit:
To

[2020-02-05 18:01] KesemSharabi commented on #1803
Thanks for your comment, @chizhova.

I've assigned this issue to the doc author for review.

[2020-02-05 18:06] KesemSharabi commented on #1805
Thanks for your comment, @bgbearcatfan.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-02-05 18:06] #1805 closed

[2020-02-05 18:36] KesemSharabi commented on #1804
Hi @rinso11,

Thank you for your feedback - I have noted it and will refresh this article shortly.

[2020-02-05 18:36] #1804 closed

[2020-02-05 18:45] RobsonRogerio commented on #240
I would like to use the MS Store version, but I get the message below. Here I have the oracle client 12.2.0 and oraons.dll is already in the folder Oracle12c \ product \ 12.2.0 \ client_x64 \ bin

Details: "The provider in use is deprecated: 'System.Data.OracleClient requires client software Oracle version 8.1.7 or later.'. Visit https://go.microsoft.com/fwlink/p/?LinkID=272376 to install the offi

[2020-02-05 18:47] KesemSharabi commented on #1792
Thanks for your comment, @kazyakj.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-02-05 20:02] soldstatic opened #1806 ""Page can still be accessed by users using other methods""
What are those other methods? I have several tabs hidden and so far the only method I know to get to them is with drill through and bookmarks, and I don't want either of those as they are visible to end users. But I want to be able to go grab those tabs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f750471-143b-f0fe

[2020-02-06 00:43] dwootton opened #1807 "Linking out to specific pageName via url is not supported"
When I try to link out to a specific page on a report via ?pageName=PageName, I get the first page of report regardless of PageName content. Is this broken or is there some other functionality we should be leveraging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197c1f9-ff31-f86c-faf3-ab89e4ab9573
* Version Independ

[2020-02-06 00:46] dwootton commented on #1807
I was just referencing the friendly page name instead of the name in the url. Sorry!

[2020-02-06 00:46] #1807 closed

[2020-02-06 21:16] michael-hawker commented on #1737
I don't even see the option in my Options dialog.  I have `Persistent filters`, `Visual options` and `Export Data` sections only...

[2020-02-07 02:37] VitalyMCT opened #1809 "Issue 809 is still present"
The single-database limitation for DirectQuery has been eliminated several months ago. So the following note on this page is incorrect and should be removed:

"All tables must come from a single database, unless you use composite models."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563a1b09-bcdc-2638-d9a0-6801b44d3c

[2020-02-07 03:46] vanessa89-aus commented on #1763
Hi there,

I ran into the same error message.

Can you advise next steps to resolve as I've contacted both Facebook and trolled forums but no fix or suggestions on how to overcome the error and connect Facebook to PowerBI.

[2020-02-07 06:05] jlhjr opened #1810 "Not available for embedded"
It should be clarified somewhere that paginated reports based on Power BI shared data sets cannot be embedded (yet?) in the "App Owns Data" scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf55ca48-9d24-4a87-0f90-b660d3d0ca50
* Version Independent ID: 09e9b1e9-82b6-3efd-7b77-040c284b917b
* Content: [Create a pa

[2020-02-07 16:24] Withnail99 opened #1811 "Microsoft Admin 365 Link"
The first link in the page - Microsoft 365 admin center - is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c351d62-f45d-908e-bbc5-bc9bdcbe8372
* Version Independent ID: e6f1968c-a72b-7f79-9105-6d685e099af5
* Content: [How to purchase Power BI Premium - Power BI](https://docs.microsoft.com/en-us/power-bi/se

[2020-02-07 16:46] filippobottega opened #1812 "Provider Oracle.DataAccess.Client not found"
Hello,
  I get this error:

![image](https://user-images.githubusercontent.com/2587684/74047610-f0312800-49d0-11ea-8baa-e3812f3136c8.png)

   As suggested by Josh Galus here [Struggling with Oracle DB Connection](https://www.pbiusergroup.com/communities/community-home/digestviewer/viewthread?MessageKey=0ac479ec-35bc-4d73-9c92-48a52f9f43e7&CommunityKey=b35c8468-2fd8-4e1a-8429-322c39fe7110&tab=diges

[2020-02-07 17:18] filippobottega commented on #1812
Solved! As explained at issue #784, it's MANDATORY to use the file ODAC121024_x64.zip

Please update the documentation and explain to the users that the only correct setup is ODAC121024_x64.zip.

[2020-02-07 18:55] maggiesMSFT commented on #1809
Hi, @VitalyMCT -- thanks! Assigning to the author for review.

[2020-02-07 19:09] maggiesMSFT commented on #1810
Thanks, @jlhjr ! Confirming with the product team and will update.

[2020-02-07 19:10] maggiesMSFT commented on #1811
Hi, @Withnail99 -- thanks for the heads-up! Assigning to the author to investigate.

[2020-02-07 19:14] maggiesMSFT commented on #1812
Hi, @filippobottega -- thanks for providing the info and the link to the previous issue, https://github.com/MicrosoftDocs/powerbi-docs/issues/784.
Assigning to the author of https://docs.microsoft.com/en-us/power-bi/desktop-connect-oracle-database#troubleshooting to update the article with more info.

[2020-02-07 19:16] maggiesMSFT commented on #1806
Hi, @soldstatic -- thanks for your question! Assigning to the author for consideration.

[2020-02-07 19:20] maggiesMSFT commented on #1783
@JohnnyCullen and @Shvake -- thanks so much! I've contacted the author of the Learn content, who is going to fix the links in those articles to go to other data sources. I'm closing this issue.
Thanks again!

[2020-02-07 19:20] #1783 closed

[2020-02-07 20:55] ticianaciminari opened #1813 "Problem with publishing on the Internet # 10"
@DotBlackDot commented 2 days ago — with docs.microsoft.com

Earlier (until 01/01/2020) on the free version, reports were quietly published on the Internet, now it does not. Implementation - Publish on the Internet, a window pops up - "Ask the administrator to enable the creation of implementation codes." Previously created reports work. The account is free, I am the administrator. When you select

[2020-02-07 20:56] ticianaciminari commented on #1813
Hi Team, could you please check this issue from user?

Kind regards,

Microsoft DOCS International Team

[2020-02-07 21:22] ygyousif commented on #1813
experiencing the same issue

[2020-02-07 21:24] ygyousif commented on #1813
never mind... went into Admin, turned the feature on then back on and now I can create the embed code.

[2020-02-07 21:33] maggiesMSFT commented on #1813
Thanks @ygyousif ! Hope that helps, @ticianaciminari !

[2020-02-07 21:33] #1813 closed

[2020-02-07 21:47] ticianaciminari commented on #1813
@DotBlackDot FYI

[2020-02-07 22:28] v-merpet opened #1814 "Image Mismatch or Change"
The image you have provided for power-bi-format-conditional-web-url does not match the desktop URL image. There is no Web URL selection available under Conditional Formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e

[2020-02-08 04:42] cool-Blue commented on #1729
You give a rough description of how t create the page you drill through to page, but it's not clear to the busy consumer, what to do on the drill through from page.

[2020-02-08 04:43] cool-Blue opened #1815 "How to set up the "from" page"
You give a rough description of how t create the page you drill through to page, but it's not clear to the busy consumer, what to do on the drill through from page.

[2020-02-08 11:31] jaschro opened #1816 "this is a totally unnecessary change"
It's been well documented for years that "Publish to Web" makes the content visible on the web.  This new roadblock is unhelpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI -

[2020-02-08 22:09] asocorro opened #1817 "Cannot recreate section Interpret continuous key influencers"
Tenure's influenced is not presented as the example says, "goes up by X," but by "is more than X."  Also, the chart given is a bar chart and not a scatter chart.  This also happens if I leave in the Explain By well only the Tenure field.  Moreover, it won't let me change the Analysis to "continuous."

[2020-02-08 22:23] asocorro opened #1818 "Cannot recreate section Interpret measures and aggregates as key influencers"
The data in the pbix file gives different values.

[2020-02-10 02:26] peter-myers commented on #1792
Hi @kazyakj - the article targets modelers in Power BI Desktop. However, I have added an additional sentence to the article making your point clear. Thanks for the suggestion. #please-close

[2020-02-10 02:26] #1792 closed

[2020-02-10 09:04] filippobottega commented on #1812
Hi @maggiesMSFT , I have an update.
The problem is not the version of Oracle ODAC but a little and subtle difference between the Oracle ODAC Setup wizards.
If you compare ODAC121024_x64.zip with ODAC122011_x64.zip you'll find that the first one registers the ODAC .NET components on the GAC by default:

![image](https://user-images.githubusercontent.com/2587684/74135151-12eb5880-4bec-11ea-9863-779e

[2020-02-10 11:25] alexwhittles opened #1821 "Only supports USA!"
Please enhance this to support non-USA based QB - would be very useful to have a version that works with UK Quickbooks.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Version Independent ID: 678b36be-0224-af5b-28d9-f457856611e7
* Content: [Connect to QuickBooks Online with

[2020-02-10 13:41] wortel3 opened #1822 "BigQuery Doesn't work with VPC Service Controls"
When a BigQuery project is inside a [VPC Service Perimeter](https://cloud.google.com/vpc-service-controls/) the Data Source will throw the following error when you drill down to the table level:

DataSource.Error: ODBC: ERROR [HY000] [Microsoft][BigQuery] (100) Error interacting with REST API: VPC Service Controls: Request is prohibited by organization's policy. vpcServiceControlsUniqueIdentifier:

[2020-02-10 17:28] maggiesMSFT commented on #1821
Hi, @alexwhittles -- This doesn't appear to be a documentation issue. Can you make a suggestion in the Power BI Ideas forum, https://ideas.powerbi.com/forums/265200-power-bi?
Hope that helps!

[2020-02-10 17:28] #1821 closed

[2020-02-10 19:44] kroman503 opened #1823 "Connecting Power BI to Excel files on One Drive (Business)"
I am not sure I understand the product design logic here.
All of the products in this solution/article are created by Microsoft, so why can't there be a very simple option in Power BI titled "Connect to One Drive" or Connect to Excel file on OneDrive" with a straightforward logic?! Why do we have to research online how to connect products within the same family of products together?! And when fina

[2020-02-10 21:45] kroman503 commented on #1823
I am thankful to whoever released this solution. After spending a few hours and trying out many other solutions, this one actually worked.

[2020-02-11 13:52] valc1 opened #1824 "Causal Impact R package missing"
I came across a situation where I wasn’t able to use an R visual in a Power BI service. It works perfectly fine in the desktop version.
Can you please add the Causal Impact R package? https://cran.r-project.org/web/packages/CausalImpact/CausalImpact.pdf
Thank you very much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-11 14:24] lcortivo opened #1825 "Two Axes with Lines"
It would be nice if we could transpose the collumns into lines also, keeping the two axes but instead of show the numbers with columns keep showing with lines. Example:
The user has on te X axe Month-Year.
One line would be Sales
Another line would be Margin
Right now we're only able to see this kind of information with colum and line. I didn't find a way to just demonstrate by lines. In some case

[2020-02-11 15:25] davidiseminger commented on #1785
Thanks for your question, assigning so we can take a look.

[2020-02-11 15:26] davidiseminger commented on #1791
Assigning so we can review - thanks for posting.

[2020-02-11 15:27] davidiseminger commented on #1814
Thanks for your comment, @v-merpet . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-02-11 15:28] davidiseminger commented on #1815
Hi @cool-Blue - could you include the page you're asking about, so we can investigate? Thanks.

[2020-02-11 15:29] davidiseminger commented on #1816
Thanks for your comment, @jaschro . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-02-11 15:29] davidiseminger commented on #1817
Hi @asocorro - thanks for commenting, can you please reference the article you're posting about? That'll help us investigate. Thanks.

[2020-02-11 15:30] davidiseminger commented on #1818
Hi @asocorro - can you include the article you're referencing, so we can investigate further? Thanks.

[2020-02-11 15:31] davidiseminger commented on #1822
Hi @wortel3 - could you please reference the article you're asking about, so we can investigate? Thanks.

[2020-02-11 15:32] davidiseminger commented on #1823
Glad to hear it worked out, @kroman503, and thanks for your feedback!

[2020-02-11 15:32] #1823 closed

[2020-02-11 15:32] asocorro commented on #1818
Hi David, it's this one for both comments I submitted:

https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers

Thanks!
Adolfo

________________________________
From: David Iseminger <notifications@github.com>
Sent: Tuesday, February 11, 2020 10:30 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Adolfo J. Socorro, Ph.D. <ajs@esolutionspr.com>;

[2020-02-11 15:33] davidiseminger commented on #1824
Thanks for your comment, @valc1 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-02-11 15:34] davidiseminger commented on #1825
Thanks for your comment, @lcortivo. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-02-11 16:24] Agroskater opened #1826 "Cannot copy report to my personal workspace."
I made a bunch of Teams, and those teams automatically had a workspace made from them when we got Power BI.

When I try to copy a report to my personal workspace, My Workspace isn't an option. The only option is the one Workspace I made in PowerBI.com

When I try to pin the report to my own workspace's dashboard none appear.

This is frustrating because I made all of the teams, all of the reports

[2020-02-11 19:29] Dadams0201 opened #1827 "Power Bi no longer supports iOS10 for Mobile browser"
This document does not include what version of iOS is supported for the mobile browser.

Power Bi no longer supports iOS10 Mobile browsers. Only goes over Safari Mac.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74662424-4c86-7d72-d7ad-4d8a669e83b8
* Version Independent ID: dfa6ec25-3a0c-1ee9-63b9-851c3d2ce055
* Cont

[2020-02-11 19:35] ranesuvidhya opened #1828 "Confidential Client is not supported in Cross Cloud request"

[2020-02-11 23:40] mihart commented on #1826
Thanks for your comment, @Agroskater . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-11 23:40] #1826 closed

[2020-02-11 23:40] mihart commented on #1827
Thanks for your comment, @Dadams0201 . This issue has been assigned to the doc author for review.

[2020-02-11 23:43] mihart commented on #1828
Hi @ranesuvidhya ,
Can you provide some more details?  What article were you reading when you encountered this issue?
Thanks,
The DOCS team

[2020-02-12 03:01] maggiesMSFT commented on #1827
Thanks, @Dadams0201 -- you're right! I'll update this article.

[2020-02-12 08:07] wortel3 commented on #1822
Hi David ,

Thank you for responding.

The issue is with trying to access a table data inside a project in a [VPC Service Parameter](https://cloud.google.com/vpc-service-controls/docs/), using the BigQuery connector for PowerBI. You can drill down, using the Navigation Dialog , to the BigQuery dataset, but you can access the table itself.

I understand that the VPC Service Parameter in GCP is mean

[2020-02-12 09:46] jadesolis opened #1829 "Notice on the use of distribution groups with external mail contacts"
It should be disclosed that using emails of External mail contacts in Distribution Groups, when using distribution groups to manage permissions, will NOT work since these artifacts are only available to Exchange Online, and cannot be resolved by Azure AD. Adding these external email addresses directly in the permissions setting may work (citation needed), as it would initiate a B2B guest account r

[2020-02-12 11:30] DougSte commented on #1768
It would be great if this icon list could be 100% complete. Currently it says "Here are some of the more common ones." which is a little ambiguous. It would be great if this were a complete reference or had a link to the complete reference.  Also it would be helpful to have an explanation for what it means when a field has no icon.

[2020-02-12 16:43] dnvrjeep opened #1830 "no info on using credentials to access a site"
There doesn't seem to be any documentation on using credentials to get to a site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d1bfb7d-4e9e-27c5-ece0-74511f99136e
* Version Independent ID: 1a9b344d-65ea-518a-03db-3636ea3fb48f
* Content: [Connect to a webpage from Power BI Desktop - Power BI](https://docs.microsoft.c

[2020-02-12 17:37] cbailiss opened #1831 "Role required for Scheduling Refreshes"
Hi, in the table under the heading "Roles in the new workspaces", it does not mention which role(s) are able to schedule data refreshes via the on-premise gateway.  Which roles can do this?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008

[2020-02-12 18:06] savoy9 opened #1832 "Analyze in excel"
I'm 99% sure that the build permission now gates people from using analyze in excel. However, neither this page or the analyze in excel page call that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16dbd9ca-dcd3-a4f3-43a8-01ead54fc9f9
* Version Independent ID: 66217fc3-a852-201c-a563-54ecbd9e5726
* Content: [Build

[2020-02-12 22:25] rasavio opened #1833 "Package Request"
Hi,

The linked email address within this article for the 'R in Power BI Feedback Team' (rinpbifb@microsoft.com) is invalid.

I wish to request that the packages `ggfittext` (https://cran.r-project.org/web/packages/ggfittext/index.html) and `tidyquant` (https://cran.r-project.org/web/packages/tidyquant/index.html) please be added as Supported R Packages for Power BI.

Regards
Ryan

---
#### Docume

[2020-02-13 00:04] maggiesMSFT commented on #1810
Thanks, @jlhjr ! Updating the article today.

[2020-02-13 00:04] #1810 closed

[2020-02-13 00:19] maggiesMSFT commented on #1832
Hi, @savoy9 -- Thanks for asking! Confirming this, then I'll update the doc.

[2020-02-13 00:21] maggiesMSFT commented on #1829
Hi, @jadesolis -- thanks for asking! Confirming, then I'll update the article.

[2020-02-13 00:29] maggiesMSFT commented on #1831
Hi, @cbailiss -- good question! I'll check and add it to the article.

[2020-02-13 03:28] maggiesMSFT commented on #1832
Updating the doc now.

[2020-02-13 03:28] #1832 closed

[2020-02-13 06:41] wortel3 commented on #1822
Apologies, I  see this repo is only for documentation. I was referring to the actual product itself.

Thanks,
Gerhard

[2020-02-13 08:10] Yury133 commented on #1813
Hi Team,
I have same problem: "Ask the administrator to enable the creation of implementation codes."
What can be done?

How can I go into Admin?

[2020-02-13 09:06] harriyott opened #1834 "Typos"
"Embedding Power BI content from a Government Community Cloud (GCC), can only be done with an Office 356 SKU. Other national cloud customers can use Office 356 or Azure SKUs."

Office 356 =&gt; Office 365

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 286e7693-df7f-d311-952b-9d5d846f57d3
* Version Independent ID: a9728

[2020-02-13 09:31] rohit-mapakshi97 opened #1836 "Steady share and Low variance"
What is the difference between Steady share insight and low variance here? As far as I can understand, you calculate the coefficient of variation for steady share insight to determine which region has steady values. If that is isn't the case, what am I missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2368b421-38

[2020-02-13 09:37] poulinechen commented on #1813
Hi ALL
  I have the same problem and I am the admin... What can I do? Thanks.

[2020-02-13 10:17] benfaria opened #1837 "Incorrect information about what is being sent to Bing Maps"
Hello, I have had it verified by Microsoft engineers that under 'What is sent to Bing Maps', statements pertaining to sending filter bucket information to Bing Maps is incorrect (first para and first bullet point). Only the Location, Latitude and Longitude are being sent to Bing Maps. The filter data stays within the PBI data service. Please correct this as this has led to a lot of confusion and i

[2020-02-13 12:55] oex-pbi opened #1839 "Greyed Out fields"
At the end of this page, it mentions 'Greyed out fields aren't editable' - can you offer more explaination to this.

Scenario - Using 'Common Data Service connector' in desktop, get data from CDS tables -&gt; Create Parameters fro Entity Name and Dynamics instance URL -&gt; add to Source in Advanced Editor -&gt; Publish to service, fields are greyed out?

---
#### Document Details

⚠ *Do not edit

[2020-02-13 13:50] DotBlackDot commented on #1813
I solved the problem this way.
In managing the domain’s mail account, I entered the data necessary to qualify for administrator status from here https://admin.microsoft.com/Adminportal/Home#/homepage

[2020-02-13 17:02] joaoverissimo opened #1840 "Incomplete list of limitations"
Today we reach the limits for the API https://api.powerbi.com/v1.0/myorg/datasets/{datasetId}/Default.UpdateParameters. On the log, we can see Error Status 429.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f23877ad-9fe2-9c48-0b61-5b04f02d4b71
* Version Independent ID: 77df250f-0fa8-0080-67f6-131fff3b0a42
* Content: [

[2020-02-13 17:34] davidiseminger commented on #1621
Thanks for your comment, and sorry you're having trouble. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-13 17:34] #1621 closed

[2020-02-13 17:36] davidiseminger commented on #1627
We've updated the doc to reflect changes in that table. Sorry for the inconvenience.

[2020-02-13 17:36] #1627 closed

[2020-02-13 17:38] davidiseminger commented on #1647
We've updated that article, thanks for posting.

[2020-02-13 17:38] #1647 closed

[2020-02-13 17:39] davidiseminger commented on #1649
Thanks for your comment, and sorry about the trouble you're having. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-13 17:39] #1649 closed

[2020-02-13 17:42] haider392 opened #1841 "Power BI Desktop UI has changed with latest version - Please change documentation to reflect the same"
The UI of Power BI Desktop has changed completely with the latest version and documentation no longer guides us through proper steps. Please change all Power BI Desktop related documentation to reflect the new UI.

[2020-02-13 17:57] davidiseminger commented on #1663
Thanks for your comment - this does look like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-13 17:57] #1663 closed

[2020-02-13 18:05] davidiseminger commented on #1691
I don't believe those sentences are in conflict - the table gets imported into the report regardless of import or DirecQuery (either works, the updated data stays in the report), and furthermore, if it's a DirecQuery connect, that calculated table will always show the latest values (rather than be delayed by awaiting a refresh, for example, where other visuals in the report that do not use DirecQu

[2020-02-13 18:05] #1691 closed

[2020-02-13 18:06] davidiseminger commented on #1699
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-13 18:06] #1699 closed

[2020-02-13 18:07] davidiseminger commented on #1702
Thanks for your comment. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-02-13 18:07] #1702 closed

[2020-02-13 18:11] davidiseminger commented on #1824
Thanks for your post - the best place for you to submit product feedback or feature ideas like this (and perhaps get others to request it, as well) is by going to https://ideas.powerbi.com.

[2020-02-13 18:11] #1824 closed

[2020-02-13 18:15] davidiseminger commented on #1809
Thanks for that - I'll update the article and get it published, should show up in ~24 hours. Thanks!

[2020-02-13 18:15] #1809 closed

[2020-02-13 18:20] davidiseminger commented on #1811
Sorry about that! I've removed that link, since pricing information is found later in that article. The updated article should show up live in ~24 hours.

[2020-02-13 18:20] #1811 closed

[2020-02-13 18:27] paulinbar commented on #1841
Hi @haider392 , thanks for your comment. I am forwarding it on to the author who may be able to give you some more information regarding this issue. Thanks!

[2020-02-13 18:32] paulinbar commented on #1840
Hi @joaoverissimo , thanks for reaching out to us. I am not sure whether this is documentation issue or just a product question about what to do when you reach a limit. I am forwarding your question along to the author of the article you mentioned and perhaps he will be able to point you in the right direction.

[2020-02-13 18:34] paulinbar commented on #1840
Hi again, @joaoverissimo. In the meantime, you might look for an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-02-13 18:42] Yury133 commented on #1813
unfortunately I don't have access to this page...

[2020-02-13 21:30] paulinbar commented on #1839
Hi @o365dev , thanks for reaching out to us with your question. I am forwarding on to the author of the article you mentioned for consideration.

[2020-02-13 21:33] paulinbar commented on #1837
Hi @benfaria, thanks for your comment. I am forwarding it on to the author of the article you mentioned for consideration.

[2020-02-13 21:39] paulinbar commented on #1833
Hi @rasavio, thanks for your comment. I am forwarding it on to the author of the article you mentioned for consideration.

[2020-02-13 21:44] paulinbar commented on #1836
Hi @rohit-mapakshi97 , thanks for your question. I am forwarding it along to the author of the article you mentioned. Hopefully they'll be able to point you in the right direction. In the meantime, you might check the [Power BI Community]( https://community.powerbi.com) to see if you can find an answer to your question.

[2020-02-13 21:48] paulinbar commented on #1830
Hi @dnvrjeep , thank you for reaching out to us with your question. I am forwarding it along to the author of the article you mentioned for consideration. Thanks!

[2020-02-14 00:57] poulinechen commented on #1813
I already set my Power BI account as BI Admin..It didn't work .. What else I need to setup.. Thanks a lot.

[2020-02-14 01:13] maggiesMSFT commented on #1829
Hi, @jadesolis -- adding the note today. Thanks again!

[2020-02-14 01:13] #1829 closed

[2020-02-14 02:02] maggiesMSFT commented on #1814
Hi, @v-merpet -- can you check to see if you formatted the column with the hyperlinks as Web URL in the Data Category dropdown list? It's counter-intuitive, but for the https://docs.microsoft.com/en-us/power-bi/power-bi-hyperlinks-in-tables#format-link-text-as-a-hyperlink option, you DON'T format the hyperlink column as Web URL.
I state that in the first sentence, but I think I'll add it to the st

[2020-02-14 02:07] maggiesMSFT commented on #1816
Hi, @jaschro -- sounds like your comment is about the product and not the documentation. I recommend going to https://ideas.powerbi.com/forums/265200-power-bi and stating your opinion.
Thanks!

[2020-02-14 02:07] #1816 closed

[2020-02-14 03:34] maggiesMSFT commented on #1827
Thanks, @Dadams0201 -- updated, will be live tomorrow.

[2020-02-14 03:35] #1827 closed

[2020-02-14 08:09] paulinbar commented on #1834
@harriyott fixed in master. Will go live in next publishing cycle later today.

[2020-02-14 08:09] #1834 closed

[2020-02-14 16:54] ZacharyGoldman opened #1844 "Need to add examples for section: "Add a measure to drillthrough""
The section called "Add a measure to drillthrough" could greatly benefit from at least one clear example of what this looks like in practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Use drillthrough in

[2020-02-14 16:57] ZacharyGoldman opened #1845 "Clarify which page (drillthrough or drilled-from) to take action on"
In each section, it would be helpful to be explicit about which page's drillthrough pane is being modified, the drillthrough page, or the page that was drilled from. I think it is (almost?) always the drillthrough page you are referring to, but it would be better if this was made explicit, at least once per section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-02-14 17:08] joaoverissimo commented on #1840
Actually this is an important detail.  Without knowing how is our limit we cannot create a pipeline of deployment. Today it happens again =/

[2020-02-14 21:51] jaschro commented on #1816
The article I read pointed to this page, which is why I posted where in
did.   And yes, my opinion is that making it incredibly difficult to use
Publish to Web made me waste a lot of time and energy trying to figure out
how to jump thru  the onerous hoop of proving I own the domain.  It was a
very technical process and one for which the documentation was bad.  Lots
of trial and error involved.

On

[2020-02-15 09:14] baatch opened #1846 "Azure databricks table supported as source?"
Hi is Azure Databricks supported as a source for incremental refresh? I’m designing a new solution for a customer and need to validate this from official sources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content:

[2020-02-16 10:25] HappymediaDz opened #1848 "Purchase a Premium Licence from a distributor"
Hi,
We are an MS Partner located in Algeria and we wanted to purchase a Power BI Premium Licence from our local Microsoft Distributor however the Distributor indicates that the SKU is not on his price list; What is the solution ?
Regards
Mehdi HAMMADI

[2020-02-17 11:19] marclelijveld opened #1849 "Working with time related parameters query (Cube.ApplyParameter)"
As of the december build of Power BI desktop (and service) previously created queries doesn't work any longer. This is due to the Time parameter applied in the query.

Previously (September build and before) the Cube.ApplyParameter accepted parameters applied in text format like:
{Cube.ApplyParameter, "[E0PRDATE]", {"[0CALDAY].[20190101]", "[0CALDAY].[20190110]"}},

The above doesn't work in decem

[2020-02-18 09:55] SamirFarhat opened #1850 "Connecting to an EA account does not work"
Hi,

We have followed the instructions here to connect the connector to Azure, but we have always permissions issue:
- My Account is an Enterprise Administrator
- We are under EA (not MCA)

When connecting and clicking to preview the tables, i receive the following error: 401: Access denied at Enrollment level with ENrollmentNumber 12345678. User does not have above subscriptions access. details:

[2020-02-18 15:41] BenShy commented on #1850
Do you only get this error on attempting to load RI charges table? EA admin (even read-only EA admin) should be enough.

[2020-02-18 15:50] SamirFarhat commented on #1850
Hi,
No i have the error for every table. We have used different account but the same problem happens.
Thanks

[2020-02-18 18:02] TravisKale opened #1852 "DeleteDatasetRows not Listed as Operation"
DeleteDatasetRows not Listed as Operation.  What else is missing?

Doc URL: https://docs.microsoft.com/en-us/power-bi/service-admin-auditing#operations-available-in-the-audit-and-activity-logs
I'm trying to use PowerShell to pull in audit logs, I want all operations for the most part but the DeleteDatasetRows, which is not Listed as Operation, is generating 5K rows per hour in our log and is too n

[2020-02-18 18:21] mihart commented on #1850
Thanks for your comment, @SamirFarhat . This issue has been assigned to the doc author for review.
You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-18 18:22] mihart commented on #1852
Hi @TravisKale,
Please let us know which document you are using. That way I can assign this Issue to the document author,
Thanks
The DOCS team

[2020-02-18 18:26] mihart commented on #1844
Thanks for your comment, @ZacharyGoldman . This issue has been assigned to the doc author for review.

[2020-02-18 18:27] mihart commented on #1846
Thanks for your comment, @baatch . This issue has been assigned to the doc author for review.

[2020-02-18 18:28] mihart commented on #1845
Thanks for your comment, @ZacharyGoldman . This issue has been assigned to the doc author for review.

[2020-02-18 19:10] kgliang opened #1853 "there is no thousand separator in Card Visual if you want to have big number as result of SUM"
" For example, 125.8K instead of 125,832.00." this is a false statement since there is NO thousand separator (,) in the Card Visual. please correct me if I was wrong here. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b39f54-b688-a2e0-2097-76abe2086b7c
* Version Independent ID: 6376d063-b0b2-21f2-4fb8-506a016

[2020-02-18 19:19] TravisKale commented on #1852
Updated original issue with doc URL.   https://docs.microsoft.com/en-us/power-bi/service-admin-auditing#operations-available-in-the-audit-and-activity-logs

[2020-02-19 02:06] mihart commented on #1853
Hi @kgliang ,
Yes, it is doable.  If I select "thousands" for **Display units**, and set the decimal places to 2.  For example, I have a card that is displaying 18K.  **Display units** is "Auto" and **Value decimal places** is "0".  If I select "Thousands" and "2" my card will display $17,674.05K.  I hope this answers your question.
@mihart

[2020-02-19 02:06] #1853 closed

[2020-02-19 02:23] mihart commented on #1799
Hi @rudzimj,
Thank you for your comment. There are just so many formatting options that we cannot document them all.  We are, however, trying to do a better job with hover tooltips!  So for a drillable visual, you can decide what to show in the dropdown and/or header for that visual.  One of the options is  to turn On and Off "Drill on dropdown".  You can also turn On and Off the header icons -- d

[2020-02-19 02:23] #1799 closed

[2020-02-19 02:31] mihart commented on #1825
Hi @lcortivo,
Unfortunately, we don't have a native visual for dual axes line charts.  However, I attended a talk last week and the speaker demonstrated a custom visual that does this exact thing. https://powerbi.tips/2019/09/dual-y-axis-line-chart/

Hope this helps,
@mihart

[2020-02-19 02:32] #1825 closed

[2020-02-19 02:32] #1828 closed

[2020-02-19 02:44] mihart commented on #1852
Thanks @TravisKale.  This issue has been assigned to the doc author for review.

[2020-02-19 02:46] mihart commented on #1398
Hi @dhruvinushah ,
This has been added to our backlog. We will try to add this scenario to the slicer documentation the next time it is updated.

[2020-02-19 02:46] #1398 closed

[2020-02-19 02:49] mihart commented on #1796
Thanks for your comment, @rcfoyn . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-19 02:49] #1796 closed

[2020-02-19 02:52] mihart commented on #1660
Hi @JohnJiang-Australia JohnJiang,
I've added this task to my backlog.  I'll update this Git Issue after I've published the updated funnel article.  Thank you for your feedback.
@mihart

[2020-02-19 10:02] Anmolgan81 opened #1854 "Please add Pro License Incremental License Functionality"
Incremental Refresh functionality needs to be enabled for pro license also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in Power BI Premium - Power BI](https://docs.microsoft.com/en-us/

[2020-02-19 12:51] sheepworrier opened #1855 "Incremental Refresh not a Preview Features option"
Is there another step needed to enable this?  I have the 64-bit February 2020 version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in Power BI Premium - Power BI](https://docs.microsoft.

[2020-02-19 13:31] gerardv commented on #1854
It is, actually, as per this month's update: https://powerbi.microsoft.com/nl-nl/blog/power-bi-desktop-february-2020-feature-summary/#_Incremental_refresh

[2020-02-19 14:19] KesemSharabi commented on #1855
Thanks for your comment, @sheepworrier.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

Also, can you please provide some more details such as what you're trying to do, and what have you done so far?

[2020-02-19 14:23] KesemSharabi commented on #1854
Thanks for your comment, @Anmolgan81.

I've assigned this issue to the doc author for review.

[2020-02-19 14:27] KesemSharabi commented on #1849
Thanks for your comment, @marclelijveld.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-02-19 14:40] sheepworrier commented on #1855
I've downloaded the latest 64-bit version of the desktop software:

![image](https://user-images.githubusercontent.com/9438974/74844446-5b5df100-5325-11ea-82eb-a5580fe697da.png)

However, there is no checkbox to enable Incremental Refresh like there is in the equivalent documentation screenshot:

![image](https://user-images.githubusercontent.com/9438974/74844662-b263c600-5325-11ea-92a4-110d9b2771

[2020-02-19 15:05] code-po8 opened #1856 "Authorize Uri 404"
I'm now receiving a 404 when trying to hit https://login.microsoftonline.com/common/ with or without a query string as shown in the example.  I assume the link has changed again.

--edit--
For background, I'm trying to translate the C# code into PHP, so I don't have access to Properties.Settings.Default.AADAuthorityUri to know what URI is returned.

---
#### Document Details

⚠ *Do not edit this s

[2020-02-19 19:56] PunchcardCoder commented on #1855
Incremental refresh is now generally available, hence it's not showing as a preview option anymore. I just tried it on a pro account and it is working as expected. Thumbs up to the powerbi team!

[2020-02-19 21:57] EricMaibach opened #1859 "Expression Connection String"
This document states that it applies to Azure SQL databases, and it also states that in Report Builder, in the 'Data Source Properties' dialog there should be an 'expression (fx)' button for entering an expression for the connection string.

I have the latest version of Report Builder installed, and when I look at the Data Source Properties dialog for a Azure SQL Database there is no 'expression (

[2020-02-19 22:55] ChristopherSt-Pierre opened #1860 "Publish and export dataset to Power Bi"
After a discussion with Microsoft support, it seems that the function of publishing to workspaces has been deprecated...

EDIT:

The only capability available is the publish to "My Workspace". No more Shared Workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d15b3b2-c33a-9293-a6f2-749d164d1f1c
* Version Indepe

[2020-02-20 13:34] CarrieAnne opened #1861 "Incorrect text for Filter specification?"
Should:
Filter specification will flow from CompanyProject to CompanyEmployee (as shown in the following image), but it won’t flow up to CompanyEmployee.
Say:
Filter specification will flow from CompanyProject to ProjectHours (as shown in the following image), but it won’t flow up to CompanyEmployee.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-02-20 14:04] nehuenlihue opened #1862 "I cannot see Data Category in Modeling tab"
I downloaded the last version 2.78.5740.721 February 2020 (spanish version) but I cannot see Data Category in Modeling tab. What could be the problem here?

![Capture](https://user-images.githubusercontent.com/16430901/74940603-733e7f00-53d0-11ea-95c6-ab3c2695d884.JPG)

Thanks in advance.

[2020-02-20 16:04] jontybuk opened #1863 "data updated"
if I'm using a field which is date stamped when a user updates any item in the table, how does incremental refresh handle this? will it overwrite the row or add a new row? e.g. i'm storing 5 years worth of data, a user updates a record thus adding a new timestamp, will the information in the stored data be replaced. or a new row be added in the refresh?

---
#### Document Details

⚠ *Do not edit t

[2020-02-20 17:18] Joe8908 opened #1864 "Very important page"
Hi this page explains very well how to configure a Registered Application to access Power BI.
It took me 1/2 a day to find it as all other Power BI Embedded docs referred to setting up with ordinary accounts. They referred to the fact that you could also use ApplicationID and Secret, but did not Link to this page to show how.
Please get those pages linked to this page.
Well done on this page BTW.

[2020-02-20 17:47] DaveStabilify opened #1865 "Close...but"
Issue #1: Why can the parameters only be applied to date/time data types??? Best practice says to split date/time fields into separate date and separate time fields.  So I have NO fields where this can be used.
Issue #2: What is the purpose of filtering the data in Power Query? What are the parameters supposed to represent? This is very poorly illustrated.
Issue #3: Why can't the RangeEnd value be

[2020-02-20 18:06] maggiesMSFT commented on #1535
Hi, @gebberry and @soldstatic --happy to report a fix is coming soon, around mid-March. You'll be able to use 2 single quotes in the filter string to return 1 single quote in the value. So tell the Irish mafia to back off!

[2020-02-20 20:28] cmajka opened #1868 "Incremental Refresh for Pro not recognized when published"
After going through the steps to configure IR with my Pro license, i click Publish and immediately receive a window that states: "You can only publish datasets with incremental refresh to premium workspace."

![image](https://user-images.githubusercontent.com/52413144/74975800-a3e4df80-53f5-11ea-922d-d8ea4294d66f.png)

[2020-02-20 20:46] ElegantHaiku opened #1869 "Misleading information about refresh"
This sentence is misleading: "Calculated tables are recalculated if any of the tables they pull data from are refreshed or updated." This is untrue. If your calculated table uses data from a table in DirectQuery, the calculated table will only reflect the changes after the dataset has been refreshed. This needs to be changed. If a table needs to be in DirectQuery mode, so does the calculated table

[2020-02-20 23:52] daniellemmas opened #1870 "Package Request"
Hi there,

I'm just wondering if it is at all possible for the following packaged to be added as a Support Package for R in Power BI?
processanimateR v1.0.0 https://cran.r-project.org/web/packages/processanimateR/processanimateR.pdf

The email address to request through is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-02-21 04:50] dhruvinushah opened #1871 "RLS and Workspace access associated with this feature."
Please include a section of in depth detail regarding the security features or the access requirement associated with sharing the report via QR code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b935cd03-7dc8-c8cc-2e9c-8d7956270d8d
* Version Independent ID: f9b14089-3720-2ea0-416c-7c798fb62ce3
* Content: [Create a QR

[2020-02-21 09:00] paulinbar commented on #1856
Hi @code-po8 , thanks for reaching out to us. I am forwarding your comment on to the doc author to see about that URL that is mentioned in the article. In the meantime, you might also check with the [Power BI Community]( https://community.powerbi.com); perhaps someone there has experience with what you're talking about.

[2020-02-21 09:05] paulinbar commented on #1859
Hi @EricMaibach , thanks for your question. I am forwarding your comment along to the doc author for consideration. In the meantime, you might also try looking in the [Power BI Community]( https://community.powerbi.com).

[2020-02-21 09:10] paulinbar commented on #1860
Hi @ChristopherSt-Pierre , thanks for your observation. I am passing it along to the doc author to check out the situation. Thanks!

[2020-02-21 09:16] paulinbar commented on #1861
Hi @CarrieAnne , thanks for your observation. It certainly looks like you are correct, but I am forwarding it on to the doc author for confirmation in any case. Thanks for reaching out to us!

[2020-02-21 09:21] paulinbar commented on #1862
Thanks for your comment, @nehuenlihue . This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try the Power BI [support page](https://support.powerbi.com).  Thanks!

[2020-02-21 09:21] #1862 closed

[2020-02-21 09:29] paulinbar commented on #1863
Hi @jontybuk, thanks for reaching out to us. I am not sure this is a documenation question, but I'm forwarding it on to the doc author for consideration in any case as a possible doc enhancement. In the meantime. You might find an answer to your question in the [Power BI Community]( https://community.powerbi.com) or with Power BI [support](https://support.powerbi.com).

[2020-02-21 09:36] paulinbar commented on #1864
Hi @Joe8908 , thanks for the kind words and also the helpful, specific suggestion. It's really great to get feedback like this that helps us improve the docs. The doc author will be pleased to know you found the article useful, and I'm sure he'll be glad to act on your suggestion in order to make the article easier to find. Thanks again!

[2020-02-21 09:47] paulinbar commented on #1865
Hi @DaveStabilify , thanks for reaching out to us. We are the doc team - I think your comments are mix of product questions and doc questions. For your questions 1 and 3, I suggest you submit them to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi) or engage with the Power BI engineering team in the [Power BI Community](https://community.powerbi.com). Regarding question 2, I am f

[2020-02-21 09:54] paulinbar commented on #1868
Hi @cmajka , thanks for reaching out to us. Can you send a reference to the article you are referring to? Also, it sounds like you were annoyed by having gone through the whole procedure only to get that notification. Would you have been spared the effort if there had been a note at the beginning of the article stating licensing requirements? Thanks.

[2020-02-21 09:58] paulinbar commented on #1869
Hi @ElegantHaiku , thanks for reaching out to us with your comment. I have forwarded it along to the doc author for consideration.

[2020-02-21 10:08] paulinbar commented on #1871
Hi @dhruvinushah , thanks for your comment. I am forwarding it along to the doc author for consideration. In the meantime, you might find useful information in the [Power BI Community]( https://community.powerbi.com).

[2020-02-21 10:26] sheepworrier commented on #1855
Thanks - documentation updated to remove misleading screenshot about Preview Features

[2020-02-21 10:26] #1855 closed

[2020-02-21 13:18] cmajka commented on #1868
Hi @paulinbar - the incremental refresh should now be generally available for all Pro license users with the February 2020 Power BI Desktop update - article here: https://docs.microsoft.com/en-us/power-bi/desktop-latest-update

I don't see any issues with the article and license requirements - they are plainly spelled out. I believe i am receiving an error incorrectly - unless it hasn't fully been

[2020-02-21 15:02] paulinbar commented on #1868
Hi @cmajka . Adding @davidiseminger

[2020-02-21 18:16] AlejandroDominguez89 opened #1872 "Does still exist the app?"
I was wondering if the app still exist. I go trought step 2 on the "Connect to QuickBooks Online with Power BI" documentation.
It seems that the app doesn't exist, I just type "quick" on Apps/GetApps/Appsource/Apps and nothing appears.

Could you help me? Do I need special rights? I'm a power bi pro user.

![image](https://user-images.githubusercontent.com/57954807/75060195-fbda1f80-54a3-11ea-86ea

[2020-02-21 18:35] maggiesMSFT commented on #1872
Hi, @AlejandroDominguez89 -- you're referring to this article, right?
https://docs.microsoft.com/en-us/power-bi/service-connect-to-quickbooks-online
Hmmm, I'm not seeing the QuickBooks app in AppSource either. @teddybercovitz , does it still exist?
cc @paulinbar

[2020-02-21 18:39] AlejandroDominguez89 commented on #1872
@maggiesMSFT Yes! I was reading a lot of documentation about this app or service that you can relate to your workspace just typing "quickbook" on the apps (or services) but I couldn't find it.

[2020-02-21 23:24] Data-touille opened #1873 "Guest users not allowed"
Guest users aren't allowed to 'analyse in Excel' a dataset sent from another tenant.
I am pretty sure they were able to do this in the past (assuming they had a Power BI Pro license). Am I wrong? Are you working on it ? Otherwise, you should mention this limitation on the documentation !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-02-21 23:31] rovermx opened #1874 "Edit Queries button for Feb 2020 version has changed to Transform Data"
Edit Queries button for Feb 2020 version has changed to Transform Data -&gt; Transform Data, not very intuitive, I wish you did not do the change, thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd6ac628-d5b4-e722-0532-d467c8347a5a
* Version Independent ID: 20ec07f6-627d-3765-ddcb-4aa738b6952a
* Content: [Query o

[2020-02-23 17:18] Huwei612 commented on #1854
Hi. Thanks for this great update. I am on Power BI Pro account and it gives me error when publish the datasets with incremental refresh to myworkspace. It says it need a premium workspace. please help

[2020-02-24 09:47] sebohnRAFI commented on #1869
I have a problem with formatting the value of a  measure in a calculated table. I use UNION to combine two tables and then want to display the result of a new measure in this table as percentage (e.g. 79%). But it is always displayed as 0.79, although the format is set to percentage.
If I do the same measure in the original tables, the result is displayed as desired as 79%.
Thx for an answer.

[2020-02-24 16:15] BSLATTER commented on #1738
mihart - Any update on this? I'd like to also confirm the Premium question

[2020-02-24 16:22] ryanscott14 opened #1875 "Not working with Canada Central P1 capacity"
I went through support and they confirmed this doesn't work for Canada Central. Please add support :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246f0cce-9c53-3bea-15df-0fb7c8520f12
* Version Independent ID: aefc566c-9abf-1e4f-6d38-18a1e192fa23
* Content: [Large models in Power BI Premium (preview) - Power BI](http

[2020-02-24 16:52] kfollis commented on #1738
@blsatter - thanks for the ping! Taking a look into this issue now.

[2020-02-24 16:54] hnjames9 commented on #1631
This is incredibly annoying and our biggest pain point - we cannot use incremental and iteratively deliver new functionality within that data model to our business without publishing over the dataset with the subset of data and then manually kicking off full refresh again.  The functionality is ONLY usable and scalable for a static dataset now - which is not acceptable for an enterprise adoption.

[2020-02-24 17:01] mihart commented on #1837
Hi @benfaria ,
We've updated the article.  Thank you for pointing out the issue!
The DOCS team

[2020-02-24 17:01] #1837 closed

[2020-02-24 20:12] mihart commented on #1836
Hi @rohit-mapakshi97 ,
I've updated the document with this info from the Insights developer:

The low variance insights relates to the variance of a measure (say “sum of sales”) across a dimension (say “region”). The insight triggers when the variance of sales across all regions is below a threshold. In other words, when sales are pretty even across all regions (“about the same”).

The steady shar

[2020-02-24 20:12] #1836 closed

[2020-02-25 00:30] davidiseminger commented on #1873
Thanks for your comment, @Data-touille. We’ve assigned your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-02-25 00:31] davidiseminger commented on #1874
Thanks for your comment, @rovermx. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-02-25 00:31] #1874 closed

[2020-02-25 00:32] davidiseminger commented on #1875
Thanks for your comment, @ryanscott14. I'm familiar with that support request, and we'll update the doc to be clearer.
Meanwhile, since this is product feedback rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https:/

[2020-02-25 00:32] #1875 closed

[2020-02-25 09:25] sheepworrier commented on #1870
Funnily enough, I just requested the same package and discovered that the email address isn't working :-)

[2020-02-25 11:16] Krays23 opened #1876 "Sample file doesn't match the videos"
Video: Modeling and transforming data shows a different file being worked on its not the financial sample in video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423bed63-655a-3079-815e-0d9a8c7de44d
* Version Independent ID: ed119c4a-d4f0-7458-fd57-d7247edbd70e
* Content: [Download the Financial Sample workbook for Po

[2020-02-25 13:45] datahai opened #1877 "Detect Data Changes failing in Pro incremental refresh on Service"
I'm getting an error when I enabled the Detect Data Changes option in the new Pro Incremental refresh feature.  My data source is an Azure SQL Database in North Europe.  Without enabling this feature, incremental refresh works fine in the service when refreshing.  The error I get in the service when refreshing if the Detect Data Changes is enabled (the column I'm using in a different datetime colu

[2020-02-25 14:07] teddybercovitz commented on #1872
Hi, we fixed the QuickBooks connector problems this past month and now made it go live again.
https://appsource.microsoft.com/product/power-bi/pbi-contentpacks.pbiapps-quickbooksonline?tab=Overview

[2020-02-25 16:05] mihart commented on #1876
Thanks for your comment, @Krays23. This issue has been assigned to the doc author for review.

[2020-02-25 16:06] mihart commented on #1877
Thanks for your comment, @datahai . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-25 16:06] #1877 closed

[2020-02-25 17:05] maggiesMSFT commented on #1872
Thanks, @teddybercovitz ! Closing this issue.

[2020-02-25 17:05] #1872 closed

[2020-02-25 19:53] maggiesMSFT commented on #1876
Hi, @Krays23 -- thanks for your comment! Could you include a link to the article containing the video? I'll need that to address the issue.
thanks again --

[2020-02-26 00:46] deepu299 opened #1878 "unable to delete existing Power BI Metrics App"
I am unable to delete the app installed in March 2019, I have tried at least 40 times, whenever I refresh the browser it keeps coming. Is there any way to delete the app completely. Without deleting it if I install new app, it is showing data from April 2019

[2020-02-26 08:58] mihart commented on #1878
Thanks for your comment, @deepu299 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-02-26 08:58] #1878 closed

[2020-02-26 12:18] R-Rustamli commented on #1876
https://docs.microsoft.com/en-us/learn/modules/get-data-power-bi/4-clean-data-query-editor

in the video there is a access file

[2020-02-26 13:11] Panzerbjrn opened #1879 "This is all just not accurate anymore"
This page may have been accurate at some point, but now it is full of errors.
Someone should really take the time to go through this and update it.
Blob Container? What is that? Do you mean Storage Container?

In the step where you write: "In the search bar, type Power and a collection of Object IDs for Power BI and Power Query applications appear." I get 30-40 results. Maybe you could be a bit cl

[2020-02-26 16:42] mcsmith3 commented on #588
Has this been updated to work in Chrome or Firefox?

[2020-02-26 18:27] maggiesMSFT commented on #1876
Thanks, @R-Rustamli and @Krays23 ! I've contacted the author of the Learn content, who is going to fix the links in those articles to go to other data sources. I'm closing this issue.
Thanks again!

[2020-02-26 18:27] #1876 closed

[2020-02-26 21:35] cmajka commented on #1854
I am also receiving the same error as Huwei612. I go through the steps to configure the IR and when i'm ready to publish to the service, It throws an error stating "You can only publish datasets with incremental refresh to premium workspace."

[2020-02-26 21:41] AlejandroDominguez89 commented on #1872
Thank you All guys, I appreciate it!

[2020-02-26 21:51] code-po8 commented on #931
I feel like I'm missing something obvious, but can someone provide a step by step explanation with screenshots, URLs, or navigation paths on how to set up a service principal in Power BI so I can use it to query everything from the REST API using that service principal?  I've followed a dozen different pages trying to connect all of the dots, but I can't get there.

I've enabled service principals

[2020-02-26 21:53] markingmyname commented on #931
#re-assign @KesemSharabi

[2020-02-27 00:10] 274188A commented on #1879
"they could almost be VMware documentation." LOL

[2020-02-27 05:13] KesemSharabi commented on #1879
Thanks for your comment, @Panzerbjrn.

I've assigned this issue to the doc author for review.

[2020-02-27 07:03] KesemSharabi commented on #1822
Thanks @wortel3,

As this is product question not related to documentation, I'm closing the GitHub issue.

[2020-02-27 07:03] #1822 closed

[2020-02-27 07:30] KesemSharabi commented on #1848
Hi @HappymediaDz,

Please ask your local Microsoft Distributor to get in touch with our marketing Power BI product marketing manager Megan Tomlin.

As this is a documentation channel and your question isn't related to documentation, I'm closing the GitHub issue.

Thanks,

Kesem

[2020-02-27 07:30] #1848 closed

[2020-02-27 07:48] TrutzS opened #1880 "Limitation: Row-level-security does not apply to viewer role with dataset build permission in Analyze in Excel"
We've build a data model with dynamic row-level security using the UserPrincipalName() function. All works fine in the service when we add users with viewer permission to the app workspace.
In a second step we add the "Build" permission on the underlying dataset for some users with "Viewer" role.
Now the users can create new reports, connecting to the dataset in Power BI Desktop and the RLS permis

[2020-02-27 08:18] kenakamu opened #1881 "The information is quite old so I recommend to update the page"
Great article, but a bit confusing as the information is old and incomplete.
Only way to figure this out is actually look into existing sample repository which is not ideal for the people new to our doc.

Could you please consider updating it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e31ebbc-e248-fc7f-24cf-6e5e9

[2020-02-27 13:18] CristianAven opened #1882 "Copy report and edit in PowerBi Desktop?"
Hi. Is there any way to copy the report and edit it in the PowerBi Desktop?
That's something we need, as it will allow multi-developer (or users) to work on the same data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47
*

[2020-02-27 13:31] CristianAven opened #1883 "Build permission for Free license users"
Hi
I give the build permission for free license users, but they can't access the dataset.
If I set "free license" users as "Members" they can access the dataset.
If I give them build permissions, the can't even see the dataset.
Is this a expected behavior or is a bug? Do I need a Pro license to access to the dataset?
My workspaces is premium.

---
#### Document Details

⚠ *Do not edit this section

[2020-02-27 14:02] jburns7744 commented on #588
Hi there mcSmith3, I am not sure about Firefox... but I can tell you that it is working great for me on Chrome.  Seems like the problem just went away for me.

[2020-02-27 15:01] paulinbar commented on #1880
Hi @TrutzS , thanks for reaching out to us with your comment. I am forwarding it along to the doc author for further consideration. In the meantime, you might try asking in the [Power BI Community]( https://community.powerbi.com) or on our [support page](https://support.powerbi.com). Thanks!

[2020-02-27 15:26] SamirFarhat commented on #1850
Hi,
Just to clarify. We were able to fix the issue, but please mention that a Read-Only Enterprise Admin is sufficient for the connector to work
Thanks

[2020-02-27 16:13] johnneil17 opened #1884 "Updating Plotly Package on Service"
Plotly package is failing. Was wondering if this could be updated?

[2020-02-27 19:56] maggiesMSFT commented on #1695
Hi, @chris-schulz -- BTW the key should be showing for SQL 2016, 2017, and 2019 now.
thanks!

[2020-02-27 20:29] fimiki opened #1885 "x-frame-options error"
As of the January 2020 update to PBIS the method of embedding reports will not work unless the custom headers property for the server is changed: https://community.powerbi.com/t5/Report-Server/quot-RS-embed-true-quot-command-not-working-in-Sharepoint-2013/td-p/915268

It may be worth noting this on the page.  It would have saved me a couple hours of digging!

---
#### Document Details

⚠ *Do not e

[2020-02-28 06:21] Vicchi21 opened #1886 "Filter a report using query string parameters in the URL: Unstable"
This feature/option does work sometimes, but not always. It never filters sometimes. Also, please let know if this option also works on the embedded URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Filter

[2020-02-28 15:45] brgsstm commented on #1850
@SamirFarhat - how was this issue fixed please?  Are you saying that RO admin is NOT enough?

[2020-02-28 15:45] brgsstm commented on #1850
@SamirFarhat - how was this issue fixed please? Are you saying that RO admin is NOT enough?

[2020-02-28 19:54] bgribaudo opened #1887 "Out of Date Screenshots"
Hello,

Just wanted to let you know that the data type screenshots on this page are out of date. For example, the query editor data type menu image does not show an option for "Percentage"--which is a choice that is now in that menu.

Ben

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83479d4-0fb8-7500-e6ec-5559c4e2fd

[2020-02-28 20:16] bgribaudo opened #1888 "Maximum Length vs. Maximum Precision"
Hello,

In the description of data types, “decimal number” is noted as supporting values up to 15 digits long. However, I believe 15 digits here is referring to the data type’s maximum *precision*, not maximum *length*. A 64-bit floating point value, when written out, can be many more digits in length than 15 (e.g. have lots and lots of zeros) but only has 15 or so digits of precision.

Could this

[2020-02-28 21:01] maggiesMSFT commented on #1882
Hi, @CristianAven -- currently you can't do that, no, although with the right permissions you can copy a report to another workspace and modify it there. I suggest providing that feedback request at the Ideas site, https://ideas.powerbi.com/forums/265200-power-bi.

[2020-02-28 21:01] #1882 closed

[2020-02-28 21:29] GTModeler commented on #1854
seeing the same notification: This dataflow contains entities with active incremental refresh policies, which require Premium to refresh

[2020-02-29 19:42] diab-mossa opened #1889 "URLs"
Hi, I can see that only certain Urls/protocols are supported, I just wonder how to add a skype call to the table/matrix. (e.g.: skype:echo123?call) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e31
* Content: [Add hyperli

[2020-03-02 01:19] heyrob commented on #1876
Thank you for catching this. The module switches between a sample Excel sheet and an Access database. The link to the Access db in the video has been added to the unit content.

[2020-03-02 01:20] heyrob commented on #1783
Thank you for catching this. The module switches between a sample Excel sheet and an Access database. The link to the Access db in the video has been added to the unit content.

[2020-03-02 10:03] KonradLeffler commented on #1868
I get the same error. Any news on the issue?

[2020-03-02 10:07] KonradLeffler commented on #1854
I get the same error. "You can only publish datasets with incremental refresh to premium workspace."

[2020-03-02 13:37] cmajka commented on #1868
I have not received any news on this issue and haven't been able to find much info online either - at this point it's pretty much a black hole.

[2020-03-02 14:09] paulinbar commented on #1868
Hi @christianwade , can you shed any light on the issue that @cmajka and @KonradLeffler are experiencing?

[2020-03-02 14:57] Neenisharma opened #1890 "does the Master account needs to be a cloud only account or can it be an account that is synced from on-prem using AD Connect?"
does the Master account needs to be a cloud only account ( created in online ) or can it be an account that is synced from on-prem using AD Connect ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Embed conte

[2020-03-02 17:17] maggiesMSFT commented on #1876
Thanks, @heyrob !

[2020-03-02 17:19] maggiesMSFT commented on #1783
Thanks for fixing the link, @heyrob !

[2020-03-02 18:25] maggiesMSFT commented on #1890
Hi, @Neenisharma -- thanks for your question! I've assigned it to the author to get back to you.

[2020-03-02 18:26] maggiesMSFT commented on #1889
Hi, @diab-mossa -- good question! I'll ask around and let you know what I find out.

[2020-03-02 18:41] maggiesMSFT commented on #1889
Hi, @diab-mossa -- got an answer already. It's a feature request. Head to https://ideas.powerbi.com/forums/265200-power-bi-ideas to suggest it!

[2020-03-02 18:41] #1889 closed

[2020-03-02 18:44] maggiesMSFT commented on #1884
Hi, @johnneil17 -- this doesn't appear to be a question about an article in the documentation. I suggest you go to https://community.powerbi.com/ for suggestions, or to support https://powerbi.microsoft.com/en-us/support/.
If it is a question about an article, please reopen and indicate the article.
thanks!

[2020-03-02 18:44] #1884 closed

[2020-03-02 18:46] maggiesMSFT commented on #1885
Thanks for letting us know, @fimiki ! I'll check with the product team and update the article.

[2020-03-02 22:27] rbrundritt opened #1891 "Topojson is not an ESRI data type"
Near the top of the document there is "ESRI/TopoJSON", this should just be "TopoJSON", ESRI is not relevant here. TopoJSON is an open standard created by people who don't work at ESRI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a301928-35b6-2b9d-3bbe-0dc48b237b07
* Version Independent ID: 765bad52-68e2-985f-924e-4

[2020-03-03 00:31] davidiseminger commented on #1886
Thanks for your comment, @Vicchi21. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

Also, looks like this also is product feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-03-03 00:33] davidiseminger commented on #1887
Thanks for your comment, @bgribaudo. We know we have screen updates for that article, since Power BI Desktop is always marching ahead with new UI elements and features, especially lately. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-03 00:34] davidiseminger commented on #1888
Thanks for your comment, @bgribaudo. I appreciate the close read, and the feedback. I've forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-03 00:35] davidiseminger commented on #1891
Thanks for your comment, @rbrundritt . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-03 00:37] davidiseminger commented on #1818
Got it - thanks. I’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-03 00:38] v-taitani opened #1892 "o365 Group linkage incorrect"
Deleting workspace V1 also deletes Office 365 groups.
It wasn't a major incident because we were able to restore from the deleted one, but please correct it because the material is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19005ba4-1b45-4a5e-2335-3408eaaffbf5
* Version Independent ID: 3587ce6f-8a2f-34c4-e00

[2020-03-03 00:39] davidiseminger commented on #1817
Got it (from your other post) - this is for /powerbi-visualization-influencers.

I've forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-03 01:23] maggiesMSFT commented on #1892
Hi, @v-taitani -- sorry to hear it, glad it worked out. I'll check and get back to you.

[2020-03-03 01:28] maggiesMSFT commented on #1886
Hi, @Vicchi21 -- thanks for your comment and question!
I'll check on your embedded URL question.
For your other comment, "This feature/option does work sometimes, but not always. It never filters sometimes." can you elaborate? I'm not following.

[2020-03-03 01:32] christianwade commented on #1868
Can you please try the latest version of Power BI Desktop? The Feb release should have removed that limitation in the publish dialog

[2020-03-03 02:32] maggiesMSFT commented on #1892
Good point! I've updated the article. The change will go live tomorrow.

[2020-03-03 02:32] #1892 closed

[2020-03-03 03:12] maggiesMSFT commented on #1883
Hi, @CristianAven -- thanks for asking! A question for you. When you say:
"If I set "free license" users as "Members" they can access the dataset."
can you describe what access they have to the dataset? Can they create a report based on the dataset?
I ask because you need a Pro license to create content. Check out the Roles table in this article for details. https://docs.microsoft.com/en-us/power-

[2020-03-03 07:13] paulinbar commented on #1868
Hi @KonradLeffler and @cmajka , can you try what @christianwade suggests? And if that still doesn't work, I suggest filing a bug at the [Power BI support site](https://powerbi.microsoft.com/en-us/support/) (looks towards the bottom of the page). Issues opened there are tracked.

[2020-03-03 11:40] DavidPROVOST opened #1893 "Obsolete statement about members edit permissions"
This article says "If you have configured the workspace so that members have edit permissions, the RLS roles will not be applied to them. Users will be able to see all of the data."
There are now 4 roles in New App workspaces, and except the Viewer role, others DO have edit permissions.
By the way, it would be interesting to say here, if "members" and "contributors" bypass the roles the same way a

[2020-03-03 17:44] maggiesMSFT commented on #1885
Hi, @fimiki -- timely question. You're in luck! This was fixed in the build released today. See https://docs.microsoft.com/en-us/power-bi/report-server/changelog for details.

[2020-03-03 17:44] #1885 closed

[2020-03-03 18:42] cmajka commented on #1868
I thought that i had installed the latest version of PBI desktop, however i was wrong - my apologies. I went and installed the February version and it allowed me to publish the data set with no issues.  However, now i receive an error that 'Parameters haven't been defined for this data set. If you want to set parameters, use the Query Editor." I've followed the instructions for setting up the para

[2020-03-03 19:21] simonmijares opened #1894 "Some visual content could improve greatly this page"
Histogram are quite useful and in my case was easier to solve it with R, just scarifying some interactivity. With some specifics examples and visual support this page could have been a great place to start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70782244-c01c-bc5b-d266-d9404e02678e
* Version Independent ID: 1fd

[2020-03-03 20:20] fimiki commented on #1885
Wow - perfect!  I guess I picked an unlucky time to try and implement this,
but thanks so much for the swift response and fix!

On Tue, Mar 3, 2020 at 11:44 AM Maggie Sparkman <notifications@github.com>
wrote:

[2020-03-03 20:59] CristianAven commented on #1883
Hi Maggie

Yes, according to the test I've done, a Free license user, that is a Member
of a Premium Workspace, can create a report, but only in PBI Desktop. In
PBI Service, they can't create a report.

Thanks for the document. It look interesting.

Regards!

On Tue, Mar 3, 2020 at 12:12 AM Maggie Sparkman <notifications@github.com>
wrote:

--

*Atte*
*Cristian Avendaño E.*
*+56 9 9144 2649*
*crist

[2020-03-03 23:31] mihart commented on #1893
Thanks for your comment, @DavidPROVOST . This issue has been assigned to the doc author for review.

[2020-03-03 23:32] mihart commented on #1894
Thanks for your comment, @simonmijares . This issue has been assigned to the doc author for review.

[2020-03-04 00:20] heyrob commented on #1636
@Jaggana, I added correct link to sample Access db for this module. Thank you.

[2020-03-04 00:44] heyrob commented on #1636
Just merged to Master.
#please-close @kfollis

[2020-03-04 00:44] #1636 closed

[2020-03-04 01:27] v-taitani commented on #1892
I confirmed that the [en-us] page has been corrected.
Unfortunately, the Japanese page [ja-jp] was left untouched.
Thank you for your continued support.

[2020-03-04 01:44] maggiesMSFT commented on #1892
Hi, @v-taitani -- you're right, localization of content changes is not instant. The Japanese page will be updated soon. Thanks!

[2020-03-04 01:46] maggiesMSFT commented on #1636
Thanks, @heyrob !

[2020-03-04 01:49] v-taitani commented on #1892
Hi @maggiesMSFT
Thank you for your response.
I look forward to that time.

[2020-03-04 02:37] maggiesMSFT commented on #1883
Hi, @CristianAven -- just so I'm clear. Are you saying:
1. A free user is a Member of a Premium workspace, but they don't have Build permissions for the dataset. They CAN see the dataset in Power BI Desktop, and create a report with it.
but
2.  A free user is a Member of a Premium workspace, and has Build permissions for the dataset. They CAN'T see the dataset in Power BI Desktop.
thanks!

[2020-03-04 06:22] KonradLeffler commented on #1868
Thank you @paulinbar and @christianwade  for your help! After making sure that I had the latest version of Power  BI Desktop installed, it works fine to publish a report with Incremental Refresh to a Pro workspace. Thank you!

[2020-03-04 07:49] paulinbar commented on #1868
Hi @KonradLeffler and @cmajka , Great! Thanks for letting us know. I am glad things seem to be working out. Christopher, I hope you manage to get the problem with the parameters solved. In the meantime I'll close this particular issue. Good luck with everything!

[2020-03-04 07:49] #1868 closed

[2020-03-04 11:17] YvonneArnoldus opened #1896 "Workspace contact list"
It seems you need to configure something to get the AD groups in your contact list because I do not see them or can use them.

I found that I needed to set "Guest users permissions are limited" in Azure AD to NO (would als be nice to link this here) but that still does not give met the groups. So I would be nice to add content here to articles to make user you can select users and groups.

---
###

[2020-03-04 11:45] uve commented on #1705
Both of withSeries and withMeasures are used, it will create appropriate selectionId based on data a user passed into the visual.
createSelectionIdBuilder() is used for every datapoint, you can't reuse it.

[2020-03-04 11:52] uve commented on #1704
1. advanced edit mode allows to disable focus mode functionality.
2. you need to define advancedEditModeSupport in the root of capabilities.json.
3. no further steps are needed. PowerBI will handle this flag.
4. you can read about focus mode [here](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-focus#what-is-focus-mode).

[2020-03-04 11:54] uve commented on #1758
@CyrusGrimes **C:\Windows\system32\** is not the best folder to create a new visual.
Users don't have an access to that folder.

[2020-03-04 11:59] uve commented on #1164
Custom Visuals don't require any changes for PBI Report Server.
@sjlarkin, Could you please send a list of visuals which don't work in PBI RS?

[2020-03-04 12:02] uve commented on #1312
@saviourofdp currently, **tree** option isn't supported by Custom Visuals.

[2020-03-04 12:06] uve commented on #1312
#please-close @kfollis

[2020-03-04 12:06] #1312 closed

[2020-03-04 12:07] uve commented on #1026
#please-close @kfollis

[2020-03-04 12:07] #1026 closed

[2020-03-04 12:07] uve commented on #1758
#please-close @kfollis

[2020-03-04 12:07] #1758 closed

[2020-03-04 12:07] uve commented on #1704
#please-close @kfollis

[2020-03-04 12:07] #1704 closed

[2020-03-04 12:07] uve commented on #1705
#please-close @kfollis

[2020-03-04 12:07] #1705 closed

[2020-03-04 12:51] makri36 opened #1897 "Remove data source from dataflow in Power BI Service"
Hi,

I, by mistake, added a test-environment data source to one of my dataflows and now I cannot remove it. The fact that the test-environment datasource is still in the dataflows stops me from scheduling updates since for my dataset I no longer accept updated credentials.

Please support on this.

[2020-03-04 13:05] ArpithaGMGowda opened #1898 "Filters from previous selection"
I have 5 charts in a dashboard, one is **Ring Chart by MAQ Software**  another 4 is **Line and Clustered Column chart**  when I select any value in first chart (Ring Chart) chart, rest all 4 charts got filtered which is fine, but when I selected another data from 2nd chart (Line and Clustered), the 2nd chart got back to the original stage which I didn't expected.

Thank you in advance :)

[2020-03-04 14:09] sjlarkin commented on #1164
@uve, R visualizations do not work on PBIRS. Beyond that, I don't have a list, but asked Microsoft to mark the custom visualizations that either work or don't work on Report Server. Crickets.

We have had to do it by trial and error. Use a visualization with a very simple dataset, upload to PBIRS, and see if it works.

If you add the idea to the ideas page, and get some response, can you post it h

[2020-03-04 14:43] sjlarkin commented on #1164
All, I've added a new idea to ideas.powerbi.com. Please vote it up:
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/39855259-mark-custom-visualizations-that-work-with-power-bi.

Sorry you have to copy and paste. I'm using IE11, and probably should be using Chrome.

[2020-03-04 15:07] akosiaxis opened #1899 "Subscription using Security Groups"
Can we setup a subscription using a security group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830da8e8-8526-0e6a-d83f-0c804226e006
* Version Independent ID: 3e7b9d31-133d-1b2f-fded-d9218284155b
* Content: [Subscribe yourself and others to reports and dashboards - Power BI](https://docs.microsoft.com/en-us/power-bi

[2020-03-04 15:24] KesemSharabi commented on #1898
Thanks for your comment, @ArpithaGMGowda.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-03-04 15:24] #1898 closed

[2020-03-04 15:26] KesemSharabi commented on #1897
Thanks for your comment, @makri36.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-03-04 15:26] #1897 closed

[2020-03-04 15:28] KesemSharabi commented on #1896
Thanks for your comment, @YvonneArnoldus.

I've assigned this issue to the doc author for review.

[2020-03-04 17:49] kfollis commented on #1725
Thank you for your feedback. We apologize for the inconvenience of having to register for each webinar. Your profile is saved for contact purposes, but isn’t used for authentication or authorization to the site so we have to collect that information each time. We’ll certainly consider your experience in future site improvements.

[2020-03-04 17:50] kfollis commented on #1725
#please-close

[2020-03-04 17:50] #1725 closed

[2020-03-04 18:08] PAPutzback opened #1900 "Almost there. When will section\page activity be exposed in the activity."
I have seen hundreds of posts from users wanting cross work space usage reporting. While this helps it doesn't give enough detail. Plus it requires a Power BI admin to export it. Understandably since this comes from the admin service. It would be nice if the model for the Usage Report could be exposed and use row level security to expose the data that the end-user running the report has access to.

[2020-03-04 18:46] tyvich opened #1902 "Rehsare Permissions"
Could you please update the documentation to describe how reshare permissions are granted on all datasets when publishing an app?  This seems to be built-in functionality.

https://community.powerbi.com/t5/Service/quot-App-Reshare-quot-permissions-keep-coming-back/m-p/958148#M89212

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-05 01:19] Susanthab opened #1904 "Wrong title"
How does Microsoft decide to failover

[2020-03-05 03:53] chanmmn opened #1905 "None of the source data of the pbix samples is working"
https://docs.microsoft.com/en-us/power-bi/sample-datasets#the-power-bi-samples-as-pbix-files
Have anyone get the pbix and its sources like Excel running. I could not get any one of this running. All broken.
Screenshot
https://1drv.ms/u/s!AuZYHSwsevw1j0id8zB35_k03Tze?e=MVHt3j
https://1drv.ms/u/s!AuZYHSwsevw1j0kv0cR6FAS_m6os?e=ZOhEai
Can someone check and fix it?

[2020-03-05 08:31] YvonneArnoldus opened #1906 "How to delete a workspace"
Hi,

I've be click all menu's and options to see if there is a delete there is not. I would be nice to have a section on how to delete a workspace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new

[2020-03-05 15:04] paulinbar commented on #1904
Hi @Susanthab , You have reached the documentation team. Do you have a question about a specific article? Can you provide a bit more information? If you have a general question that isn't related to a specific doc, I suggest you try the [Power BI Community]( https://community.powerbi.com.

[2020-03-05 15:13] paulinbar commented on #1906
Hi @YvonneArnoldus , thanks for reaching out to us. You have to be a workspace admin to delete a workspace. But try looking here: https://docs.microsoft.com/en-us/power-bi/service-delete#delete-a-workspace. Basically, in the left hand pane you hover over the name of the workspace, select the three dots you see, and then choose Workspace settings. At the bottom of the Workspace settings window that

[2020-03-05 15:16] paulinbar commented on #1905
Hi @chanmmn, thanks for reaching out to us. I have forwarded your comment on to the doc author for consideration.

[2020-03-05 15:21] paulinbar commented on #1902
Hi @tyvich , thanks for your comment. I am forwarding it on to the doc author for consideration.

[2020-03-05 16:32] w0ut0 opened #1908 "Document the maximum length of the "username" parameter when requesting an embed token."
When trying to request an embed token, we discovered the limitation that an identities' username property, can only be 256 characters long.
Is this correct (expected behaviour)? Can this be added in the documentation?

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61878b62-89e5-e60a-4995-74d9650ca3e6
* Version

[2020-03-05 18:39] UhmBrock opened #1909 "Missing Image in step 7a"
Instead of showing the image, the page shows a snippet box with the following inside:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355cc0f7-069a-e7af-9ceb-18c9bab1fb46
* Version Independent ID: 853cf3e3-b702-1dc6-e368-56fc1103c6b3
* Content: [Get started formatting Power BI visualizations - Power BI](https://d

[2020-03-05 19:49] maggiesMSFT commented on #1899
Hi, @akosiaxis -- thanks for asking! I'll get back to you with the details.

[2020-03-05 19:52] maggiesMSFT commented on #1459
Thanks for asking @Anmolgan81. You're right -- this functionality doesn't exist yet. Please go to https://ideas.powerbi.com/forums/265200-power-bi-ideas and request it!

[2020-03-05 19:52] #1459 closed

[2020-03-05 20:43] hablaras opened #1910 "PostgreSQL requires gateway"
The table is incorrect; PostgreSQL requires the data gateway to connect and refresh from the Power BI Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.mic

[2020-03-05 21:25] savoy9 commented on #1493
@maggiesMSFT, did this ever get resolved? I'd love to know if I can use a viewer or contributor role for my dataflows consumers.

[2020-03-05 21:30] indiana-nikel opened #1911 "Expose TopN Selection and Customize How TopN Aggregates"
In the "Known Limitations" section, it is mentioned that: "We truncate levels to show top n. Currently the top n per level is set to 10."

Would there be plans to expose this "top n" variable for customization (say to show only the top &lt;x&gt; instead of 10)? Along the same train of thought, would there also be plans to customize how the rest of the "top n" selection is aggregated (here we are o

[2020-03-05 21:51] burnzy opened #1912 "Bigquery Required Permissions"
What are the required GCP BigQuery IAM permissions that are required to access a dataset from powerbi?
(I can't find documentation on permissions anywhere -- if this is mentioned elsewhere, please let me know)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 974455fc-88ff-6a48-4dd0-036419eaa849
* Version Independent ID:

[2020-03-06 01:40] Susanthab commented on #1904
In this doc, https://docs.microsoft.com/en-us/power-bi/service-admin-failover, there is a sub-topic named "How does Microsoft decide to failover". Would that be a correct topic name?

[2020-03-06 01:41] akosiaxis commented on #1899
Thank you.

On Fri, Mar 6, 2020, 3:49 AM Maggie Sparkman, <notifications@github.com>
wrote:

[2020-03-06 07:00] lauratsui opened #1913 "Facebook option no longer available"
Hi, the option to get data from Facebook as an Online Service is no longer available on the latest version of power bi desktop (as of march 2020). Is there a reason? I read somewhere else that it's because facebook retired one of its graph APIs, which power bi was linked to? any way we can still access facebook data from power bi? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-06 09:43] SamirFarhat commented on #1850
Hi,
The admins 'were' providing the permissions over a different EA. I know, but i can't do anything :(