[2020-10-24 01:24] #2579 closed

[2020-10-24 01:46] joymon opened #2580 "Is the XMLA readonly endpoint in GA?"
I understand that the writeback endpoint (feature) using XMLA is in preview. But what about the XMLA read-only endpoint? Did it reach GA?
I could see the documentation still says Preview for XMLA endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b920c-639a-a627-58f2-e8fd69c9ef7d
* Version Independent ID: ab13

[2020-10-26 05:46] ryoma-nagata opened #2581 "Which statement is correct ?"
[Enter feedback here]
Hi,

There are two contradictory statements Which is correct?

1.

2.

If both are correct, the difference between the assumptions cannot be read from the description, so the difference needs to be clarified.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40a5444a-ce6c-9a0c-3e84-832e67b75d

[2020-10-26 13:58] otarb commented on #2547
#please-close @otarb

[2020-10-26 13:58] #2547 closed

[2020-10-26 21:04] FranGenoa opened #2583 "Hive LLAP Connector"
Hi All,
in march it was released the Hive LLAP connector (beta) but there is no mention at this page of the documentation.
https://powerbi.microsoft.com/en-us/blog/tag/hive-llap/
Is it possible to add it as well?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Indepe

[2020-10-27 03:29] rubencanlas opened #2584 "Inconsistency in the steps?"
This pertains to [Visual 5](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-excel-stunning-report#visual-5-year-slicer). It calls for removing the Quarter and Day from the hierarchy. However, these have previously been removed in the instructions for [Visual 2](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-excel-stunning-report#visual-2-profit-by-date) where the

[2020-10-27 05:02] zenton2000 opened #2585 "Personalize Visuals - Table or Matrix change column order not working"
Hi
I have enabled Personalize visuals in Report settings and publish my report
I can change the visual type and add and remove fields but I can not change the order by drag and drop.
Nothing moves.

Thanks Rodney

[2020-10-27 11:07] goghit opened #2586 "Power BI not opening"
Hi Everyone,

We are experiencing a issue at our company in one of our domains we have users that installed Power BI and it is not opening instead it displays the below error:

![image](https://user-images.githubusercontent.com/66320481/97291918-370ec880-1853-11eb-8071-76b5d6834dcc.png)

In the same affected domain if we open Power BI as Administrator it opens successfully. We use the same version

[2020-10-27 14:26] itsnotaboutthecell opened #2587 "Update from Preview to GA"
The sidebar navigation lists this feature as (preview) but it is currently generally available.

As displayed on the left-hand navigation menu:
Using enhanced dataset metadata in Power BI Desktop (preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e42fcb7-fa8f-638c-bdfd-8d5110baa3ed
* Version Independent ID: c5e5

[2020-10-27 17:56] davidiseminger commented on #2580
Thanks for your comment, @joymon. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-27 17:57] davidiseminger commented on #2581
Thanks for your comment, @ryoma-nagata - sorry for the confusion. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-27 19:05] davidiseminger commented on #2583
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-27 19:06] davidiseminger commented on #2584
Sorry about that, and thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-27 19:07] davidiseminger commented on #2585
Thanks for your comment, @zenton2000. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-10-27 19:07] #2585 closed

[2020-10-27 19:08] davidiseminger commented on #2586
Thanks for your comment, @goghit. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-10-27 19:08] #2586 closed

[2020-10-27 19:12] davidiseminger commented on #2587
Thanks for your comment - good catch! I've updated that TOC listing to remove the (preview) tag, will be reflected later today. Much appreciated!

[2020-10-27 19:12] #2587 closed

[2020-10-27 22:02] Minewiskan commented on #2580
@joymon - XMLA endpoint, which supports read only and read-write operations is still in preview. That said, keep a close eye on the Power BI blog in the coming weeks.
#please-close

[2020-10-27 22:02] #2580 closed

[2020-10-27 23:06] brettoll commented on #2149
Hi - @paulinbar. Would that mean that the connection should be removed as advertised? There isn't really a user case for 1000 total results. A notification repeating back to the users what we raised as an issue doesn't resolve the issue.

Is there any suggested fixes?

[2020-10-27 23:09] Zechman opened #2588 "Binding parameter"
[Enter feedback here]
Step 10 Property **Binding parameter** in advanced, is not available in last version, tested on 32 and 6
 versions . 2.86.902.0 October 2020

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc66475d-11b3-ba33-cde4-9948dc07ea2c
* Version Independent ID: 46aeb704-a74f-2064-307f-24660579ef4c
* Content:

[2020-10-27 23:11] brettoll commented on #2149
https://develop.zendesk.com/hc/en-us/articles/360022563994--BREAKING-New-Search-API-Result-Limits?page=2#comment_360003446454

Zendesk were saying they were reaching out to MS for changing to incremental refresh

[2020-10-27 23:37] paulinbar commented on #2149
Hi @brettoll, let me make sure I understand you correctly, so I can pass on your message. You're saying basically that a 1000 total limit on results is essentially useless, as is just informing you of the limitation in the documentation, rather than suggesting some way of fixing or overcoming the limitation? In any event, let me check with template app people and hear what they have to say, and I'

[2020-10-27 23:58] brettoll commented on #2149
Hi Paul - that is correct. The users that have had this problem are aware of the 200k to 1000 change.

There is a suggested fix by Julio Garcés Teuber in below thread that people are using which may be useful for the template app.
https://develop.zendesk.com/hc/en-us/articles/360022563994?page=2#comment_360003420813

[2020-10-28 00:41] mihart commented on #2588
Thanks for your comment, @Zechman . This issue has been assigned to the doc author for review.

[2020-10-28 08:03] erapade opened #2590 "the alternative "Combine data to each file's Privacy Level settings" are missing in the description"
Depending on if you configure the Global settings or the Current file settings, there are different options for configuring data privacy settings. There are 3 in the global settings and 2 in the local file settings. Please describe each of these since they are slightly different and this is a complex subject with sometimes vague definitions

---
#### Document Details

⚠ *Do not edit this section.

[2020-10-28 08:03] goghit commented on #2586
Thank you @davidiseminger 👍

[2020-10-28 14:59] cvillegashak opened #2591 "Correct some of the wording on the Power BI Premium dataflow workloads page"
Check on these statements as it appears that words are missing:

Compute engine is on but performance is slow
Take the following steps when investigating scenarios where the Compute engine is on, but you're seeing slower performance:

Limit computed and linked entities that exist cross workspace.  **<- should this be across workspaces?**

**missing "is" between refresh the the compute engine turne

[2020-10-28 15:37] KesemSharabi commented on #2590
Thanks for your comment, @erapade.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-10-28 15:39] KesemSharabi commented on #2591
Thanks for your comment, @cvillegashak.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-10-28 16:10] matuhinal opened #2592 "help"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8e2480-703a-1417-c5d9-8d019669f45a
* Version Independent ID: 17a9f60e-b9b6-8426-2176-86b5ec3cb68f
* Content: [Q&A for Power BI business users - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-q-and-a)
* Content Source: [powerbi

[2020-10-28 21:50] deliafernandez opened #2593 "Add SharePoint/OneDrive source limitation to another section"
Hi,

We had a case were the customer had added images from SharePoint and it was not clear for him that this is not going to work. We looked for documentation and this information was hard to find.

Our recommendation is to add this consideration/limitation to the considerations and limitations part of this document, so its clear and easy to find for users.

"Make sure security credentials aren't

[2020-10-28 22:09] maggiesMSFT commented on #2593
Hi, @deliafernandez -- OK adding it to the "Considerations" section, though it's already in the "Add an image" section. Thanks!

[2020-10-28 22:09] #2593 closed

[2020-10-29 05:05] pjpike opened #2594 "Power BI Report Server October 2020"
Change log needs to be updated for October 2020 release of Power BI Report Server,
- download is now available here https://www.microsoft.com/en-us/download/details.aspx?id=57270
- blog update is here https://powerbi.microsoft.com/en-us/blog/power-bi-report-server-october-2020-feature-summary/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-10-29 08:57] Maenglar opened #2595 "Support for import and data refresh is coming."
This Feature is now available in October 2020 upgrade ?

[2020-10-29 10:33] stevenfayers opened #2596 "Sort by column option doesn't appear in modeling tab"
The Sort by column icon that is shown in the examples doesn't appear in the modeling tab when the chart is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91ac-4947-c2e5-a0508a554080
* Content: [Sort by column in Power BI Desktop - Power B

[2020-10-29 10:36] KesemSharabi commented on #2564
Hi @ErlandDEV,

Thanks for your comment, however, this is not a mistake.

 C# supports trailing commas for reasons outlined in [Code Syntax Style: Trailing Commas](https://www.jetbrains.com/help/resharper/Trailing_Commas_Style.html).

Once again, thanks for getting in touch,

Kesem

[2020-10-29 10:36] #2564 closed

[2020-10-29 14:54] MCcoder52 opened #2597 "Setting up Drill through reports"
Documentation does not fully define how two different pages are connected.
Changing the image for the back button only changes the image but the sequence of the document implies that step is key in establishing the drill-through relationship. The document offers no explanation of how two pages end up automatically connected.
It appears as though an assumption is made in the narrative that the data

[2020-10-29 15:39] HansSprangers opened #2598 "Performance improvements to IF and SWITCH functions"
I can't find any articles explaining what improvements were done. In other words. Supplied link does not mention anything about this topic.

[2020-10-29 16:58] arunbala9 opened #2599 "Doesn't connect to the Private repos"
Hi The article doesn't talk anything about connecting to the private repos and the APP doesn't connect to the private repos.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076ce105-645c-cf91-44b7-4e2192eed874
* Version Independent ID: fb6358ab-0940-7ced-1036-2ddc49b78ce5
* Content: [Tutorial: Conn

[2020-10-29 17:45] TwiddlyTiger opened #2600 "glossary feedback - dashboard"
Dashboard definition isn't great, particularly as it means something very specific in a Power BI concept (although the one-page thing is already widely misunderstood, this adds a further level of potential confusion). In my internal work terminology guide I suggest the following, although the glossary would need to cut down on this detail...
but at the very least shouldn't it cross-reference https

[2020-10-30 01:50] maggiesMSFT commented on #2528
Hi, @roberdaniel -- good catch! Fixing it now; update will be live tomorrow.

[2020-10-30 01:50] #2528 closed

[2020-10-30 01:50] maggiesMSFT commented on #2055
Hi, @marclelijveld  -- good catch! Fixing it now; update will be live tomorrow.

[2020-10-30 01:50] #2055 closed

[2020-10-30 03:22] dannyp opened #2601 "API Limitations for GET Requests"
The Power BI REST API limitations only contains information for POST requests, however I've run into a "TooManyRequests" error doing just Get-PowerBIReport commands.

Should this page also include request limits per minute / hour for this type of API request, and the other "Get-*" operations in the Powershell Mgmt add in?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-10-30 14:23] SharpWhite commented on #2305
Looks like this is a duplicate of #2203 where @pawarbi provided a link to this article:
[Introducing new forecasting capabilities in Power View for Office 365](https://powerbi.microsoft.com/en-us/blog/introducing-new-forecasting-capabilities-in-power-view-for-office-365/).

There is another Microsoft article here:
[Describing the forecasting models in Power View](https://powerbi.microsoft.com/en-u

[2020-10-30 18:07] maggiesMSFT commented on #2592
Hi, @matuhinal -- it appears you didn't enter any feedback for the article. Closing this issue; feel free to open another one with a comment!

[2020-10-30 18:07] #2592 closed

[2020-10-30 18:40] maggiesMSFT commented on #2594
Hi, @pjpike -- ah, you're too quick for us! We just published the updated What's New and Change Log for Power BI Report Server yesterday. But I hadn't included the link to the blog post from the What's New, so thanks to you, I've added it. Change will be live later today. Thanks!

[2020-10-30 18:40] #2594 closed

[2020-10-30 18:43] maggiesMSFT commented on #2595
Hi, @Maenglar -- are you referring to a specific article? Not sure to whom to assign your question. Thanks!

[2020-10-30 19:02] maggiesMSFT commented on #2596
Hi, @stevenfayers -- right you are! You have to select a field in the Fields pane, and then you see Sort by column, which is now on the Column tools tab. Assigning to the author to update. Thanks!

[2020-10-30 19:27] maggiesMSFT commented on #2597
Hi, @MCcoder52 -- thanks for your comment! I'll see what I can do to make it clearer.
One question: When you say that your drill-through "picked a page that I did not touch and does not use the same data set," could you elaborate? Your report has more than one dataset?

[2020-10-30 19:29] maggiesMSFT commented on #2598
Hello, @HansSprangers -- could you provide a link to the article you're referring to? It isn't included in this Git Issue. Thanks!

[2020-10-30 20:04] MCcoder52 commented on #2597
Yes, the report has more than one dataset. One is a direct Import of a SQL Server table the other 4 are query Import extracts of  a table (3) or a view(1). I worked out the issue. Thank you for reaching out.  Sent from Mail for Windows 10 From: Maggie SparkmanSent: Friday, October 30, 2020 3:28 PMTo: MicrosoftDocs/powerbi-docsCc: MCcoder52; MentionSubject: Re: [MicrosoftDocs/powerbi-docs] Setting

[2020-10-30 20:30] maggiesMSFT commented on #2597
OK, thanks for letting me know, @MCcoder52 ! Closing this issue.

[2020-10-30 20:30] #2597 closed

[2020-10-30 20:36] maggiesMSFT commented on #2600
Hi, @TwiddlyTiger -- you're right, so often people call a report a "dashboard," which then muddies the water about what a dashboard really is. Passing your feedback along to the author for consideration.

[2020-10-30 20:38] maggiesMSFT commented on #2601
Hi, @dannyp -- thanks for your suggestion! Passing it along to the author for consideration.

[2020-10-30 21:32] maggiesMSFT commented on #2599
Hi, @arunbala9 -- hmmm, I just tried and was able to connect to our private repo. Not sure what issue you're experiencing. Try using this Power BI template app for GitHub instead: https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-to-github. I'm adding a link to that article from the GitHub tutorial. Thanks!

[2020-10-30 21:32] #2599 closed

[2020-10-30 21:55] maggiesMSFT commented on #2450
Hi, @sjs210 -- good point! I'm adding the info and a link to the article about roles in workspaces.

[2020-10-30 21:55] #2450 closed

[2020-10-31 10:58] Maenglar commented on #2595
Yes, sorry this is the artcile (https://docs.microsoft.com/en-us/power-bi/report-server/connect-data-source-apis).
But i see that thi article have update in 26/10/2020.
So perfect!!!

[2020-10-31 13:53] elfohl opened #2602 "EM Skus do not support FREE Users. This should be called out in this on-line document."
The EM Skus do not support FREE Users.  This document is misleading in the capacity nodes section of making it sound as if EM is a smaller Premium Capacity option.  It is for some scenarios but not in the free user scenario.  This should be called out explicitly.  P Skus are the only skus that support free users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-10-31 19:28] Rodrigossz commented on #2545
Hello @davidiseminger and @paulinbar

It would be great if you could drill down to Synapse runtime level: Instead of Azure Synapse Analytics, be specific to SQL Pool, SQL serverless Pool, Spark Pool, etc.

Tks

[2020-11-01 09:06] matuhinal commented on #2592
Здравствуйте! Срочно нужна помощь.Кто у меня саонсор?
________________________________
От: Maggie Sparkman <notifications@github.com>
Отправлено: 31 октября 2020 г. 0:07
Кому: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Копия: matuhinal <ayuditgarantdigital@outlook.com>; Mention <mention@noreply.github.com>
Тема: Re: [MicrosoftDocs/powerbi-docs] help (#2592)

Hi, @matuhinal<https:

[2020-11-01 20:53] paulinbar commented on #2602
Hi @elfohl, thanks for your comment. I am forwarding it on to the doc author for further action.

[2020-11-01 21:07] MichaelFoundation opened #2603 "101"
Apprehended

[2020-11-02 09:23] statistka opened #2604 "outdated information"
Please, update the information for this page. It's outdated, many constructions don't work
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bcc9bde-f1c5-c7a2-c3d6-28f9ee64acb1
* Version Independent ID: d2138b8d-3283-356f-66fd-ec4ef997a798
* Content: [Tips and tricks for asking questions with Q&A - Power BI](https://docs.

[2020-11-02 12:56] michalmar commented on #2575
@KesemSharabi any update on this please?

[2020-11-02 18:17] maggiesMSFT commented on #2595
@Maenglar - great !I'll close this then.

[2020-11-02 18:17] #2595 closed

[2020-11-02 20:22] ank-rapmap opened #2605 "Excel sample file not found"
[Enter feedback here]
Prerequisites
This tutorial uses the [Financial sample Excel file](https://download.microsoft.com/download/9/6/D/96DDC2FF-2568-491D-AAFA-AFDD6F763AE3/Retail%20Analysis%20Sample%20PBIX.pbix):
This link is directing to PBIX file not the excel file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f20

[2020-11-03 09:45] KesemSharabi commented on #2527
Hi @douglasg14b

What your suggesting seems like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

Hope this helps,

Kesem

[2020-11-03 09:45] #2527 closed

[2020-11-03 14:59] HMLaozitech opened #2606 "selectionId"
Can anyone tell me what is selectionId parameter (Sending to selectionManager to appear drill through option in the context menu)?

[2020-11-03 15:04] uve commented on #2502
thanks @niklaskarl for the feedback. We'll update the documentation soon.

[2020-11-03 15:06] uve commented on #2538
@MehdiRMS, please get the full source code of the visual here:
https://github.com/Microsoft/PowerBI-visuals-sampleBarChart

[2020-11-03 16:33] #2603 closed

[2020-11-03 16:34] davidiseminger commented on #2604
Thanks for your comment, @statistka .We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-11-03 16:35] davidiseminger commented on #2605
Thanks for your comment, @ank-rapmap. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-11-03 16:36] davidiseminger commented on #2606
Thanks for your comment, @HMLaozitech. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-11-03 16:36] #2606 closed

[2020-11-03 17:12] Spiller70 opened #2607 "Expanded Hardware information and guidance for Power BI Desktop"
I am seeing poor performance in the PowerBI Desktop (PBD) application that appears to be hardware related as once the PBD has launched all other applications are impacted.
Ram8GB, i5-8400, 1TB hdd @7200. At a glance the hardware should be decent, though at starting PBD unallocated RAM is less than 1GB. 1440 display on Integrated GPU.
It would be nice to see which hardware items yield most effectiv

[2020-11-03 18:27] JoelLeichty opened #2608 "UI Does Not Match Documentation"
This is probably more about fixing the UI than the documentation. Feedback is from Chrome/Edge browsers.

1. The "Add Data Source" button has a + sign in the documentation. No plus sign in the UI. Button looks like a header.
2. The ellipsis are only visible when OnSelected AND MouseOverEllipsis. How is one supposed to know the ellipsis exist if they are invisible? They should show up for OnSelecte

[2020-11-03 19:47] kfollis commented on #2608
Thanks for the feedback, @JoelLeichty. I'll share your suggestions for UI improvements with the engineering team and will review the article to ensure that the documentation is up to date with the current UI.

[2020-11-03 19:49] kfollis commented on #2608
@arthiriyer - I can make sure that the article matches UI, but wanted to make sure you saw the feedback on how the "more options" (ellipsis) is exposed.

[2020-11-03 23:53] premradhakrishnan opened #2609 "Minor typo"
[Enter feedback here]

In the "Create and install a certificate" section, the Important block in blue says "PowerSell".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42b50f4b-5e10-6fef-ad73-612996d2001a
* Version Independent ID: 8eda699d-40de-e20b-d030-719a6c4e2ff2
* Content: [Setting up an environment for developing

[2020-11-04 00:09] premradhakrishnan opened #2610 "Missing text in instructions"
[Enter feedback here]
In the "Create and install a certificate" section, step 3 says "In the File to Import window, select Next." It should say something along the lines of "In the File to Import window, select the pfx certificate generated in Step 1 and click Next."

This may have happened because the command "pbiviz --install-cert" didn't launch the certificate manager in my case. It is possible

[2020-11-04 09:49] #2502 closed

[2020-11-04 15:18] KesemSharabi commented on #2607
Thanks for your comment, @Spiller70.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-11-04 15:23] KesemSharabi commented on #2610
Hi @premradhakrishnan,

Thank you for your comment, I'll take a look at your suggestion shortly and let you know what I decided to do.

[2020-11-04 15:28] KesemSharabi commented on #2609
Hi @premradhakrishnan,

Thank you for your comment, I'll fix this typo shortly.

[2020-11-04 15:38] dhawal16 opened #2612 "Retain the Filter of the Page while using Export to File method on Embed?"
Does Export To File have the properties to provide the Filter Criteria as well.
We have this while exporting the report to PDF from the Power BI Service UI where we can choose if we want to export the current or default values.

Please let me know as I do not see anything mentioned regarding this in the documentation.

Cheers,
Dhawal

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-11-04 21:39] DSPence2931 opened #2613 "Microsoft supporting a Marxist movement?"
Learning PowerBI and setting up environment for developing.  Setup sends me to this page:
![image](https://user-images.githubusercontent.com/73968122/98170444-9f912180-1eb3-11eb-9a8a-fedc33495f1f.png)
node.js supports the declared Marxist movement #blacklivesmatter.  Why is Microsoft supporting node.js?
Marxism is a destructive ideology as evidenced by history.

Not impressed Microsoft.

---
####

[2020-11-05 09:48] michalmar opened #2614 "Please describe which Permissions and Role - both Azure and EA portal needs to be configured."
Please describe which Permissions and Role - both Azure and EA portal needs to be configured for Consumption API to be accessible by PowerBI.

It is not clear - especially if we are deprecating old Billing Key access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independ

[2020-11-05 10:54] dasunik7-max opened #2615 "Track users in power bi embedded"
Does this method work when a power bi report is embedded on our own web site and when the customers log in to the system using accounts in the web site and view power bi content. Are those users tracked using this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent

[2020-11-05 14:33] KesemSharabi commented on #2610
Hi @premradhakrishnan,

Thanks for your comment.

I'm not sure why the `pbiviz --install-cert` command didn't launch the the certificate manager for you. @uve - are you aware of such a scenario?

In any case, I don't want to change the text as it isn't obvious where one should browse in order to find the certificate, and this is not the described scenario. The described scenario is:

![image](http

[2020-11-05 15:21] mikelauxihs opened #2616 "sort button does not show up"
The Sort by Column button is not appearing in the Modeling tab when I select a field in the Fields section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91ac-4947-c2e5-a0508a554080
* Content: [Sort by column in Power BI Desktop - Power BI](https:

[2020-11-05 18:03] #2613 closed

[2020-11-05 21:15] kfollis commented on #2614
Thanks for the feedback, @michalmar. I'm assigning this is to the writer to review the doc and make sure that the prerequisite steps of configuring Azure and the EA portal - and understanding of the required permissions and roles to make the connection - are covered.

[2020-11-05 21:19] kfollis commented on #2615
Hi @dasunik7-max. Thanks for the question! I believe that because the users are authenticated that their activity can be tracked. However, I'm adding the writer for Power BI embedded to confirm.

[2020-11-05 21:21] kfollis commented on #2612
Thanks for the question, @dhawal16. I'm adding the writer to review and provide feedback.

[2020-11-05 21:23] kfollis commented on #2608
This article has been updated to reflect the current UI and will publish later today. Closing this issue and I hope the changes made help to clarify the UI interaction! The feedback on how the more options menu appears (or doesn't) has been shared with the product team.

[2020-11-05 21:23] #2608 closed

[2020-11-05 21:36] kfollis commented on #2616
Thanks for the feedback, @mikelauxihs! I'm adding the writer to review and make an update. I did a quick test, and when I select a field, I now see a "column tools" menu tab and the ribbon there includes a "sort by column" button.

[2020-11-06 09:32] Seebaer1986 commented on #1758
Same problem here. Fresh install of windows, NPM and pbiviz. When trying to install the certificate i get the same error as OP.

[2020-11-06 11:56] arjunr1 opened #2618 "Github link needs to be updated"
[Enter feedback here]
This page points to a github link which do not have the right set of files per the screenshots. Need to update the right github link or update the doc as per the files in the github link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4

[2020-11-06 14:35] patrickjlee opened #2619 "This page is out of date"
I'm trying to follow the instructions for Scheduling refresh in Power BI (Desktop) and this page seems to be completely out of date! Please provide updated instructions that work with Power BI Desktop version 2.86.902 (October 2020).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a72e523-2194-f53c-9a27-abf960e77851
*

[2020-11-06 17:01] kfollis commented on #1758
It appears that this issue is resolved in comments. To allow the script to run, you can modify the local execution policy as shown in @Seebaer1986's comment (these PS cmds first allow the script to run then reset the policy to default):
Get-ExecutionPolicy
Set-ExecutionPolicy -Scope CurrentUser Bypass
y
pbiviz --install-cert
Set-ExecutionPolicy -Scope CurrentUser Allsigned (or whatever your policy

[2020-11-06 18:10] maggiesMSFT commented on #2618
Hi, @arjunr1 -- thanks for your comment! Referring to the author for consideration.

[2020-11-06 18:11] maggiesMSFT commented on #2619
Hi, @patrickjlee -- thanks for your comment! Referring to the author for consideration.

[2020-11-06 18:16] rwatty opened #2620 "Sharing Report"
I have a customer who has their own PowerBI Premium license.  I am sharing a report with one person at that organization who then wants to share report with others at that organization.  They share the link which was given to them so anyone in there organization with link can click and request access to report.  However, the user gets message, report is not available.  They never get the option to

[2020-11-07 02:01] maggiesMSFT commented on #2620
Hi, @rwatty -- I can check and get back to you. In the meantime, I recommend asking in the Community, https://community.powerbi.com/.

[2020-11-09 11:40] KesemSharabi commented on #2609
Hi @premradhakrishnan,

Thank you for spotting this typo and letting us know. This typo is now fixed - see [Set up your environment for developing a Power BI visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/environment-setup).

[2020-11-09 11:40] #2609 closed

[2020-11-09 11:55] #2516 closed

[2020-11-09 12:06] KesemSharabi commented on #2533
Hi @kevman123,

You're right about the link being wrong. However, we have a new version of this tool which differs from the link you suggest - [https://app.powerbi.com/embedsetup](https://app.powerbi.com/embedsetup).

I'll update the documents shortly.

Thanks,

Kesem

[2020-11-09 12:49] KesemSharabi commented on #2618
Hi @arjunr1,

Thank you for your comment - you're right, the screenshots in the article don't match the GitHub link.

I'm working on updating all the embedded analytics tutorials, and as part of this update will also fix this issue.

Once again, thanks for pointing this out nd please revisit this article in the future to see whether this issue was addressed.

Kesem

[2020-11-09 12:49] #2618 closed

[2020-11-09 13:39] KesemSharabi commented on #2615
Hi @dasunik7-max,

It sounds like you're implementing the *embed for your organization* solution. If so, you'll be able to track the users activities.

In a *embed for your customers* scenario however, you'll only get results for one user - the user you're using for embedding your app.

Hope this helps,

Kesem

[2020-11-09 13:53] KesemSharabi commented on #2474
Hi @CalumJEadie,

This article describes getting the access token, and is valid for both cases.

Thanks,

Kesem

[2020-11-09 13:53] #2474 closed

[2020-11-09 14:08] #2615 closed

[2020-11-09 18:19] Alisha-Acharya opened #2621 "Grammatically Incorrect phrase"
The first bullet under prerequisites is not phrased correctly.
It reads " To copy or a report" , I believe it should say "To copy a report".
This is leading to translation issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf

[2020-11-09 18:55] maggiesMSFT commented on #2621
Thanks, @Alisha-Acharya -- fixed!

[2020-11-09 18:55] #2621 closed

[2020-11-09 21:56] kfollis commented on #514
@camwally and @AmnerisMarquez - Thank you for submitting feedback on our documentation. This article has been updated since your feedback was submitted. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-09 21:56] #514 closed

[2020-11-09 21:59] olyamusok commented on #2350
@Davidseminger Could you please point me to the articles that have the updates related to dataflow storage and in particular its relation to Mult-Geo. I do not see any changes or clarifications in the article text: Multi-Geo support for Power BI Premium - Power BI
Do I need to look at a different doc? Thank you

[2020-11-09 22:27] kfollis commented on #842
@otravers and @Al3x68 - Thank you for submitting feedback on our documentation. This article has been recently updated. We are closing this issue, but have created a work item in the writer’s backlog to consider your feedback in the next update.

[2020-11-09 22:27] #842 closed

[2020-11-09 22:29] kfollis commented on #1091
@jawn - Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-09 22:29] #1091 closed

[2020-11-09 22:34] kfollis commented on #1104
@dimaty26 - Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-09 22:34] #1104 closed

[2020-11-09 23:09] kfollis commented on #1106
@maggiesMSFT - Please validate the explanation for the data point for Primus total revenue. Explanation says revenue is down, but numbers show revenue growth.
![image](https://user-images.githubusercontent.com/28766705/98606911-f2e0e680-229c-11eb-93b2-d6abb77ef627.png)

[2020-11-09 23:11] kfollis commented on #1147
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-09 23:11] #1147 closed

[2020-11-09 23:19] kfollis commented on #1164
@sjlarkin - Thank you for submitting feedback on our documentation. Since this comment is not against a specific article and the you've posted to ideas, we'll now close this issue. If your feedback isn't addressed, please feel free to submit additional feedback for a particular page.

[2020-11-09 23:19] #1164 closed

[2020-11-09 23:21] kfollis commented on #1181
@klinejordan - Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page

[2020-11-09 23:21] #1181 closed

[2020-11-09 23:34] kfollis commented on #1237
@Mike-Honey - Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-09 23:34] #1237 closed

[2020-11-09 23:47] kfollis commented on #1274
@kanhuangats and @devwheel - Thank you for submitting feedback on our documentation. We are closing this issue, but if your feedback isn’t addressed, please feel free to submit additional feedback for the page. We recently added an article, which you may find useful: https://docs.microsoft.com/en-us/power-bi/developer/visuals/environment-setup

[2020-11-09 23:47] #1274 closed

[2020-11-09 23:55] kfollis commented on #1306
@niball - Thank you for submitting feedback on our documentation. This article has been recently updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page. You may also edit the page directly and your changes will be reviewed by a writer before publishing.

[2020-11-09 23:55] #1306 closed

[2020-11-10 00:02] kfollis commented on #1358
@amasse3 - Thank you for submitting feedback on our documentation. We are closing this issue since there has been no action. If your feedback isn't addressed, please feel free to submit additional feedback for the page. You may also edit the page directly and your submission will be reviewed by a writer before publishing.

[2020-11-10 00:02] #1358 closed

[2020-11-10 00:13] kfollis commented on #2350
@olyamusok  - I don't think this article has the info you need, but the updated dataflow documentation is located in this section: https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-introduction-self-service

[2020-11-10 08:16] KesemSharabi commented on #2517
@uron83,

Thank you for spotting this and letting us know. You're correct, `AuthorityUrl` should end with `TenantId` - this is now fixed in the article.

Thanks,

Kesem

[2020-11-10 08:16] #2517 closed

[2020-11-10 11:12] michalmar commented on #2614
Any update on this, please?

On Thu, Nov 5, 2020, 10:15 PM Kate Follis <notifications@github.com> wrote:

[2020-11-10 21:14] chrisweis opened #2622 "Needs clarification on whether Power BI Embedded supports it or not"
This page is unclear on whether the personalize visuals feature works or not in Power BI Embedded, within an ISV application.  Would be great if that could be clarified!  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 615021e0-5504-046d-d6ab-c2d8dee0656f
* Version Independent ID: d9c6ad5a-139f-716e-eb59-473a1f8d

[2020-11-10 21:19] kfollis commented on #1362
Thank you for submitting feedback on our documentation. We are closing this issue, but have created a work item in the writer’s backlog to consider your feedback in the next update.

[2020-11-10 21:19] #1362 closed

[2020-11-10 21:20] kfollis commented on #1418
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-10 21:20] #1418 closed

[2020-11-10 21:24] kfollis commented on #1434
Thank you for submitting feedback on our documentation. We are closing this issue, but have created a work item in the writer’s backlog to consider your feedback in the next update.

[2020-11-10 21:24] #1434 closed

[2020-11-10 21:26] kfollis commented on #1439
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-10 21:26] #1439 closed

[2020-11-10 21:52] kfollis commented on #1498
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-10 21:52] #1498 closed

[2020-11-10 21:55] ToddChitt commented on #1362
Really? That's it? After a year this is getting closed? Will I get notified when they fix the issue?

[2020-11-10 21:55] kfollis commented on #1502
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-10 21:55] #1502 closed

[2020-11-10 22:17] kfollis commented on #1362
I've reviewed the article and have created a work item for the writer to make extensive updates as the UI has changed. Your feedback has been carried into the work item. I'm happy to reopen the issue if you'd like to track article updates, we are simply clearing issues that have had no action. If you are still having problems with your theme, you may want to review the themes gallery here: https:/

[2020-11-10 22:40] premradhakrishnan commented on #2610
Hi Kesem,

No worries if you think the current text is sufficient.

Thank you for getting back to me.

Cheers
Prem

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kesem Sharabi<mailto:notifications@github.com>
Sent: Friday, 6 November 2020 1:33 AM
To: MicrosoftDocs/powerbi-docs<mailto:powerbi-docs@noreply.github.com>
Cc: Prem Radhakrishnan [SSW]<mailto:premana

[2020-11-10 22:41] kfollis commented on #1504
@branchfork - Thank you for submitting feedback on our documentation. Please see https://docs.microsoft.com/en-us/power-bi/connect-data/service-get-data#data-refresh for more information about refresh in Power BI. I believe this answers your question. The gateway is used to bridge cloud and on-premises, so if your data source is cloud-based, no gateway should be required. We are closing this issue

[2020-11-10 22:41] #1504 closed

[2020-11-10 22:46] premradhakrishnan opened #2623 "Minor typo - Extra closing bracket in code block"
Hi Kesem,

In the section "Receive properties from Power BI" | Point no 3 | Code block - The if condition has an extra closing bracket.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc5549-16a6-5afd-dac4-64021c25dfa9
* Version Independent ID: b8bf0ca1-1f11-bac0-76fa-cfd6a0d1231b
* Content: [Tutorial: Create

[2020-11-10 22:49] kfollis commented on #1537
@mihart - Please consider whether to link to this data source from the article. You may then close this issue as the customer question has been answered.

[2020-11-10 22:52] kfollis commented on #1571
Thank you for submitting feedback on our documentation. This article was updated in May (https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-enterprise-deployment). If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-11-10 22:52] #1571 closed

[2020-11-10 22:59] kfollis commented on #1573
@ancibira - Thank you for the feedback on our documentation. The enterprise deployment whitepaper has been updated (https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-enterprise-deployment). The whitepaper notes that the change to HTTPS as default should have only a nominal performance impact. We are closing this issue, but if you feel your feedback isn't addressed, please feel

[2020-11-10 22:59] #1573 closed

[2020-11-11 00:24] premradhakrishnan opened #2624 "Minor Typo"
Hi,

In the section "User interacts with the visual directly" |  the current text has "A visual can save properties values **thought** the Power BI API" which I think should be "A visual can save properties values **through** the Power BI API" or something similar?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-11 04:33] mihart commented on #2622
Thanks for your comment, @chrisweis. This issue has been assigned to the doc author for review.

[2020-11-11 04:34] mihart commented on #2623
Thanks for your comment, @premradhakrishnan . This issue has been assigned to the doc author for review.

[2020-11-11 04:36] mihart commented on #2624
Thanks for your comment, @premradhakrishnan . This issue has been assigned to the doc author for review.

[2020-11-11 06:56] premradhakrishnan opened #2625 "Missing import declaration"
[Enter feedback here]
Hi

The code uses ISelectionManager and ISelectionID but the import declarations are missing for these. Would be great if the below is mentioned somewhere.

`import ISelectionManager = powerbi.extensibility.ISelectionManager;`
`import ISelectionID = powerbi.visuals.ISelectionId;`

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-11 10:22] KesemSharabi commented on #2533
Hi @kevman123,

I fixed the incorrect link in the [Set up your embedded analytics development environment](https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers#set-up-your-embedded-analytics-development-environment) section.

Once again, thanks for pointing this out,

Kesem

[2020-11-11 10:22] #2533 closed

[2020-11-11 14:32] KesemSharabi commented on #2625
Thanks for your comment.

@uve - can you please assist with @premradhakrishnan's request?

[2020-11-11 15:04] Johannes-Vink opened #2626 "Security Whitepaper is missing details on Private Link details"
The Power BI Security Whitepaper does not refer to the new feature of Private Link and blocking public internet access.

As these are also security features, I guess the whitepaper should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0a5167-9181-bcb4-091c-9e603d2cf296
* Version Independent ID

[2020-11-11 20:21] jabbera opened #2627 "Hitting edit on this page yields a 404"
The edit link on this page should go to the github document for it, instead I get a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd16a9c-3620-e1c6-518a-d6a5f9174089
* Version Independent ID: c55ccf5a-5563-1a05-7cec-46666a9e8f08
* Content: [Introduction to dataflows and self-service data prep - Power BI](https:/

[2020-11-11 23:38] kfollis commented on #2614
Hi @michalmar - thanks for the patience. We are verifying the correct minimum access level, but I believe that this article: https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/assign-access-acm-data contains the permissions and roles info that you need.

[2020-11-11 23:49] kfollis commented on #2627
@jabbera - thank you for bringing this to our attention! It looks like an underlying folder change may have broken the edit access. I'm assigning this issue to the writer to get this fixed up ASAP.

[2020-11-12 00:01] kfollis commented on #2626
Thanks for the feedback, @Johannes-Vink! Good call - I'll assign this to a writer so that they can add the private links reference.

[2020-11-12 09:59] KesemSharabi commented on #2624
Hi @premradhakrishnan,

Thanks for spotting this typo - it's fixed now - see [User interacts with the visual directly](https://docs.microsoft.com/en-us/power-bi/developer/visuals/power-bi-visuals-concept#user-interacts-with-the-visual-directly).

Thanks,

Kesem

[2020-11-12 09:59] #2624 closed

[2020-11-12 10:02] KesemSharabi commented on #2623
Hi @premradhakrishnan,

Thanks for spotting this typo and letting us know. It's now fixed - see [Receive properties from Power BI](https://docs.microsoft.com/en-us/power-bi/developer/visuals/create-react-visual#receive-properties-from-power-bi).

[2020-11-12 10:02] #2623 closed

[2020-11-12 10:14] #2610 closed

[2020-11-12 10:18] #2538 closed

[2020-11-12 20:27] sankarapadmanathan opened #2628 "How to disable the pop-up when printing?"
Is there any option to disable the pop-up window when printing? Please include that information in this page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c738da8-eb0a-7e87-0cbc-f424d4d2f381
* Version Independent ID: 1584c6a8-2152-8657-6a0b-6538f94fd1e3
* Content: [Print from the Power BI servi

[2020-11-12 21:56] FFCMSouza opened #2629 "How do i confirm if my dataset is using enhanced metadata model?"
Sometimes when i update connections parameters the connection doesn't change and i can't bind the gateway datasource.
I want to confirm if my dataset is using enhanced metadata model to guarantee that's not the problem.
How do i know it?

[2020-11-12 23:16] maggiesMSFT commented on #2581
Hi, @ryoma-nagata -- thanks for asking! We've updated the article. The change should be published this afternoon.

[2020-11-12 23:16] #2581 closed

[2020-11-12 23:55] kfollis commented on #2628
Thanks for the question, @sankarapadmanathan. I'm not sure if that's possible or not, so adding the writer to comment.

[2020-11-13 00:02] kfollis commented on #2629
Hi @FFCMSouza - We use this feedback channel to address issues in our documentation. Is there a particular article where you need clarification? If so, please be sure to submit feedback for that page. You can also contact https://support.powerbi.com or https://community.powerbi.com for assistance with your question. Here is an article on enhanced metadata that may help: https://docs.microsoft.com/

[2020-11-13 00:02] #2629 closed

[2020-11-13 00:54] maggiesMSFT commented on #2627
Hi, @jabbera -- can you try again? I'd like to see if it's fixed.
Thanks!

[2020-11-13 03:34] ryoma-nagata commented on #2581
Thank you for your help.

[2020-11-13 14:17] fpk3 opened #2630 "Does lineage view show dependencies of datasets on dataflows?"
Does lineage view show dependencies of datasets on dataflows?
If so, what are the limitations? Parameters, etc. that would prevent dependencies from being shown?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b34cb8-3435-8176-a8b9-2a99b2d5ce2d
* Version Independent ID: 3d7b6b44-02c2-1a66-0672-794dd1c3975b
* Content:

[2020-11-13 14:48] paulinbar commented on #2630
Hi @fpk3, thanks for reaching out to us with your question. I am going to forward it on to the product manager and will get back to you. Probably won't be before Sunday though.

[2020-11-13 18:25] maggiesMSFT commented on #2622
Hi, @chrisweis -- thanks for asking! Yes, the personalize visuals feature does work in Power BI Embedded, within an ISV application. I've added a simple sentence and will add more after conferring with the Power BI Embedded writer.
Thanks!

[2020-11-13 18:25] #2622 closed

[2020-11-14 00:28] maggiesMSFT commented on #2627
Hi, @jabbera -- this is fixed, so go ahead and edit. Thanks!

[2020-11-14 00:28] #2627 closed

[2020-11-15 08:01] KesemSharabi commented on #2531
Hi @kevman123,

Thanks for spotting this typo and notifying us - it is now fixed.

[2020-11-15 08:01] #2531 closed

[2020-11-15 08:37] AmosHersch commented on #2612
Hi @dhawal16 thanks for your question. The default behavior in "Export to File" REST API is to export the report with the default values.
In order to receive a similar functionality to the export with "Current Values" which exists in Power BI service UI you should use capture bookmark state JavaScript API to capture current state, and provide the "Export to File" API the capture state.

See docume

[2020-11-15 11:37] o-l-a-v opened #2634 "Please specify delay/ lag for when logs are available in API/ through PowerShell"
## Background

According to following documentation, there is a lag of 30 minutes before one can expect all logs to appear in the Power BI audit log:

* https://docs.microsoft.com/en-us/power-bi/guidance/admin-activity-log#powershell-sample
![image](https://user-images.githubusercontent.com/6450056/99183848-43de5800-273f-11eb-9482-4be3ae6f2872.png)

According to my own experience with the ```Searc

[2020-11-16 06:29] paulinbar commented on #2634
Hi @o-l-a-v , thanks for reaching out to us with your comment. I have forwarded it on to the doc author for further consideration.

[2020-11-16 08:45] KesemSharabi commented on #2501
Hi @BreakingBI,

Thank you very much for your detailed feedback, and apologies for the late response. I've forwarded this feedback to the embedded analytics PMs, and we're discussing ways in which we can bridge some of the gaps you're describing (such as a dedicated article for admin and user APIs), and make our documents clearer.

We've already revised the [Register an Azure AD application to use

[2020-11-16 19:08] jmsmtn opened #2635 "Minor Typo"
"Take now, however, that the" probably should be "Take note, however, that the"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46e4476-1fc8-de9c-dc49-ffb8358d22b0
* Version Independent ID: 7af1eac8-5069-8beb-cee4-29c413f7b957
* Content: [Real-time streaming in Power BI - Power BI](https://docs.microsoft.com/en-us/powe

[2020-11-17 08:45] simonxiaoss opened #2636 "In slice listview, can we sort one column based on count() from another int column DESC?"
For example, I have a table with two columns:
-----------------------------------------
vendor name  |     SKU     |  Number
-----------------------------------------
Mike               |    TypeA   | 5
-----------------------------------------
Mike               |    TypeB   | 4
-----------------------------------------
Mike               |    TypeC   | 3
-----------------------------------------

[2020-11-18 02:58] mihart commented on #2635
Thanks for your comment, @jmsmtn . This issue has been assigned to the doc author for review.

[2020-11-18 02:59] mihart commented on #2636
Thanks for your comment, @simonxiaoss . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-11-18 02:59] #2636 closed

[2020-11-18 03:01] mihart commented on #1537
@msftrien - please see Kate's question above.

[2020-11-18 03:05] mihart commented on #2506
Hi @chloestrasser,
The Power BI team has recently updated the conditional formatting experience.  You no longer need to select "the three circles"  :-) Please see the new documentation: https://docs.microsoft.com/power-bi/visuals/service-tips-and-tricks-for-color-formatting.  Thank you for your feedback.

[2020-11-18 03:05] #2506 closed

[2020-11-18 03:06] #2127 closed

[2020-11-18 03:08] mihart commented on #2543
Thanks for your comment, @AzizQuazi . I tried to duplicate your experience and could not. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-11-18 03:08] #2543 closed

[2020-11-18 03:15] mihart commented on #2600
Hi @TwiddlyTiger . Thank you for your suggestions.  I've updated the definition for dashboards..not exactly what you wrote, but very close :-)

[2020-11-18 03:15] #2600 closed

[2020-11-18 03:19] mihart commented on #2604
Hi @statistka .  Thank you for your feedback.  Can you point out a few of the constructions that no longer work?

[2020-11-18 03:23] mihart commented on #2605
Hi @ank-rapmap .  You are right!  I've fixed the link and set the article to republish.  Thank you so much.

[2020-11-18 03:23] #2605 closed

[2020-11-18 03:25] ank-rapmap commented on #2605
Thanks for @davidiseminger , it is working now. 👍

[2020-11-18 03:28] mihart commented on #2628
Hi @sankarapadmanathan .  Thank you for your question.  Kate is correct, there is no way for me to write about this. When you print from Power BI, your browser opens a Print window. Each browser's Print window is different from the others.  Once you select Print, your print program takes over.  The pop-up is your print program asking for input.

[2020-11-18 03:28] #2628 closed

[2020-11-18 05:38] premradhakrishnan opened #2637 "A full working example would be very helpful"
Hi,

I have been trying to work through the tutorials under Custom Visuals in Power BI. There are some pages (this one for example) where the code feels really incomplete. A lot of declarations and imports are missing and it makes it very difficult to work through the example. Just one example is the line `this.host = options.host`; This requires a declaration `private host: IVisualHost;` and an i

[2020-11-18 10:50] statistka commented on #2604
Hello Michele,

there are plenty of examples that our team discovered while working with
Q&A.

Just a couple of examples:
1) there appeared a new state "Suggested" in the linguistic schema which is
not described in the documentation
2) the same problem with "Visibility"
3) "where" started considering only as a location requirement whereas it
used to show different behavior previously. And it's not

[2020-11-18 13:33] KesemSharabi commented on #2637
Hi @premradhakrishnan,

Thank you very much for your feedback, and for getting involved.

I'm slowly working through the tutorials and how-tos in the [Power BI visuals docset](https://docs.microsoft.com/en-us/power-bi/developer/visuals/), revising them and bringing them up-to-date.

As I'm sure you've seen, there's a difference between the [Develop a Power BI circle card visual](https://docs.micro

[2020-11-18 14:48] Landers3n opened #2638 "Please elaborate CPU consumption"
[Even with the explenation on how to enterpret the CPU consumption graph in the Power BI Premium Capacity Metrics App I'm unable to understand how to enterpret it since the numbers shown in the graph in my app is more than 100 accumulated.
"
CPU consumption | Maximum CPU consumption during the hour, by workload as a percentage of total CPU capacity. Shown hourly, for the previous seven days.
-- |

[2020-11-18 16:12] SPIMS opened #2639 "keep the header of the table"
[Enter feedback here]
Is it possible to keep the header of the tab when we scroll down ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.microsoft.com/en-us/power

[2020-11-18 21:51] premradhakrishnan commented on #2637
Hi Kesem,

I can definitely tell the difference between the circle card visual and others. The React one is also quite good - may be you have re-worked that too.

Thank you for letting me know. I can imagine it will take a while but at least we know the docs will improve in future. Good luck with all the changes.

Cheers
Prem

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Wind

[2020-11-18 23:38] msftrien commented on #1537
@juluczni is there anything preventing us from including the dataset in the docs? Some legal consideration, etc? If not, I think it would be useful to provide a download link so that users can follow along.

[2020-11-19 07:16] #2637 closed

[2020-11-19 14:09] juluczni commented on #1537
Yep the license of the dataset is public domain so we are good to share!

[2020-11-19 18:11] brianrreed opened #2641 "This is missing PowerShell for adding the Security group to the workspace. The other steps show powershell code. This is probably the most important because we have 300+ workspaces to add the security group to."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 794566fc-c06c-1d9c-b656-2e7b59bc2874
* Version Independent ID: 4c57568f-c4f2-0bd6-b724-9868b2455d50
* Content: [Embed Power BI content with service principal and an application secret - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/emb

[2020-11-19 21:35] ToddChitt opened #2642 "Having a download available for the OpportunityData.xlsx Excel file would have been preferred."
The title stands on its own. Why give me a Power BI PBIX file connected to Excel data but NOT also give me the Excel data as well? Instead you give me "Opportunity Tracking Samples.xlsx" which does not contain the source data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3041354-2ebf-99f3-e0c5-ac57227904c8
* Version

[2020-11-19 23:00] kfollis commented on #2638
Thanks for the feedback, @Landers3n. I'll assign to this to the writer to review and see what additional details we can add to help with interpretation of CPU consumption.

[2020-11-19 23:47] kfollis commented on #2642
Hi @ToddChitt - I'm assigning your feedback to the writer to ensure that the steps to view the Excel data are clear. You are right, that the xlsx doesn't show the data by default, it shows Power View sheets. I tried the steps, and was able to access the Excel data, but not until after enabling an Excel add-in as described here: https://docs.microsoft.com/en-us/power-bi/create-reports/sample-datase

[2020-11-19 23:52] kfollis commented on #2641
Thanks for your feedback, @brianrreed. I'm assigning this to the author to see if they're able to add the requested PS sample code.

[2020-11-19 23:57] kfollis commented on #2639
Good question, @SPIMS - I agree this would be handy with the long table in this article. This may be a limitation of our authoring tools, but let me check into that verify. If we can't do it now, I can submit it as a future enhancement to our tools. Thanks!

[2020-11-20 13:46] uve commented on #2625
Thanks @premradhakrishnan for your feedback. We'll update the code snippet soon,

[2020-11-20 17:57] maggiesMSFT commented on #2635
Thanks for your sharp eye, @jmsmtn ! Fixed it. Fix will be live this afternoon Pacific time Fri 20 Nov 2020

[2020-11-20 17:57] #2635 closed

[2020-11-20 18:02] maggiesMSFT commented on #2598
Hi, @HansSprangers -- closing this issue for now. If you can provide the link to the article, please reopen it!

[2020-11-20 18:02] #2598 closed

[2020-11-20 20:47] ToddChitt commented on #2642
Why does getting the sample data have to be so difficult? The author lets us download the Power BI file without issue. Why not give us the Excel file upon which all the Power Queries are based? Why do I have to download something else, then do a REGISTRY HACK?!? For something that is BLOCKED BY DEFAULT FOR SECURITY REASONS?!?

Sorry, but I totally lost interest in what this author has to say and w

[2020-11-20 21:56] andrewtuplin opened #2645 "Tip Could benefit from Example"
There's a TIP in this documentation that need more explaining:

An example of this would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in Power BI - Power BI](https://doc

[2020-11-20 22:20] haider392 opened #2646 "Licensing requirement is not clear"
Under licensing requirements, it is mentioned that free users can access premium workspace if they are added as viewer role. However, this is not fully true. Free users can only access premium workspace that are added to 'P' SKU. If workspace is assigned to an A or EM premium capacity, then users need pro license. This requirement should be clearly mentioned. Right now, the licensing requirement i

[2020-11-22 23:18] paulinbar commented on #2645
Hi @andrewtuplin, thanks for your comment. I have forwarded it on to the author of the document for further consideration.

[2020-11-22 23:21] paulinbar commented on #2646
Hi @haider392. Thanks for your comment. I am forwarding it along to the doc author for further consideration.

[2020-11-24 04:00] Mike-Honey opened #2648 ""Not to worry" on side-by-side install - actually, do worry ..."
Despite the flippant "not to worry" reassurance on this page, I am having problems with a side-by-side install. PBIX files now default to opening in the Report Server version, and I can't find any way of fixing Windows Explorer to avoid that. It also seems very prone to freezing while opening - I cant switch to it's window and therefore I have to be crash it using Task Manager.

[Enter feedback he

[2020-11-24 09:45] #2648 closed

[2020-11-24 11:31] MarcoAntonioLenguaHinojosa commented on #2077
Hi folks,
exactly that comment  // The 'Client' object is an instance of the Power BI .NET SDK
is confusing me. i am using the app owns data with some frontend configurations to invoke a downlaod link on my page, but i dont undestand what this client object is or where to get it from. i tried creating one through the embed service. but it stucks somehow in the aadservice.cs. do i even have to crea

[2020-11-25 07:17] KesemSharabi commented on #2625
Hi @premradhakrishnan,

The missing declarations were added to [Add Drill-Down support](https://docs.microsoft.com/power-bi/developer/visuals/drill-down-support) - see [Add context menu to visual elements](https://docs.microsoft.com/power-bi/developer/visuals/drill-down-support#add-context-menu-to-visual-elements).

Thanks for pointing this out!

Kesem

[2020-11-25 07:17] #2625 closed

[2020-11-25 07:21] #2612 closed

[2020-11-26 09:47] miragliag opened #2649 "Does this work also with Power BI Premium per User Licence?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your application for your customers - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-

[2020-11-26 14:14] paulinbar commented on #2649
Hi @miragliag, thanks for your question. I am forwarding it along to the doc author for consideration.

[2020-11-26 20:46] CubeSpark opened #2650 "Visual Studio SSDT and Access Database Engine Connections in Tabular Model"
Since Visual Studio SSDT is a 32-Bit COM application, you MUST install the 32-bit OLEDB provider for Access (the so-called ACE Driver) in order to be able to connect to a 64-bit ACCDB file in ANY CASE.  I downloaded the Access 32 Bit Redistributable RunTime, and I was able to connect through a UNC Pathname to my sandbox developer's ACCDB database.  Get it from here, and select the non-64 bit versi

[2020-11-27 06:17] mihart commented on #2650
Thanks for your comment, @CubeSpark . This issue has been assigned to the doc author for review.

[2020-11-30 08:13] MichaelFoundation opened #2651 "Signature Lean 101"
![Uploading 100584400...]

[2020-11-30 08:15] MichaelFoundation commented on #2651
[47100](Jan Michael Omondang)
[1500](Passport Influencer)
- #[EB6296000](Most Safest Web https://@optimisitcjan@gmail.com_****_)

[2020-11-30 11:46] MichaelFoundation commented on #2651
[ROMANA LING BAYOTAS](MD CHIEF101)

[2020-11-30 14:03] cozmicon opened #2652 "Dual mode with SAP Hana"
Hello, this page does not mention the use of dual mode and the known issues and limitations when using dual mode with SAP Hana, however including this could be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3124203c-c90c-4b87-f657-e3373af0d480
* Version Independent ID: c2f065a5-d48a-c921-92d8-8f99874fef3b
* Con

[2020-11-30 14:09] cozmicon commented on #2652
Also, duel mode have not been mentioned on this page either. https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-sap-hana
Does the SAP Hana connector support dual mode?

[2020-11-30 17:09] kristyler opened #2653 "Either content is old, or PBI has a bug hiding the share icon"
The share icon is missing. My records from a week ago had it on the workspace page. This site shows it on the report page. I cannot find the share icon as of now.

Updates, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df058604-4117-88d8-0cb0-935d08e5b22a
* Version Independent ID: dc8d3604-1fea-0109-2a94-13bd7

[2020-11-30 17:24] skiwii opened #2654 "Location of tenant settings for auto page refresh intervals"
We have set a report to auto refresh every 15 minutes (fixed interval) but it's showing that the admin interval is 30 minutes.  Where is this admin setting? Please put this detail on this web page.
I'm the Power BI tenant admin and cannot locate this under the admin portal > Tenant Settings or Capacity Settings (we are pro not premium).  This setting is not on the gateway data source setting eithe

[2020-11-30 17:24] kristyler opened #2655 "This is old. There is no sharing of reports."
Need to edit this:
There's no share in CHROME. When I open the exact same report in Firefox or Edge, share is available.
My company uses Chrome by default.

Chrome Version: Version 87.0.4280.66 (Official Build) (64-bit)
![image](https://user-images.githubusercontent.com/57181629/100644935-956f1100-3301-11eb-8422-83a6e507408a.png)
Firefox Version: 83.0 (64-bit)
![image](https://user-images.githubus

[2020-11-30 20:03] maggiesMSFT commented on #2655
Hi, @kristyler -- hmmm, I just checked Power BI in Chrome and I see Share.

![image](https://user-images.githubusercontent.com/12401230/100658509-07485a00-3304-11eb-81a4-ff5087d12dbc.png)

Not sure what's causing your issue. You can contact Power BI support: https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-11-30 20:03] #2655 closed

[2020-11-30 20:33] maggiesMSFT commented on #2653
Hi, @kristyler -- this issue looks like a duplicate of https://github.com/MicrosoftDocs/powerbi-docs/issues/2655 -- or vice versa! So I think you need to enter a support issue for it.
https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-11-30 20:33] #2653 closed

[2020-11-30 21:03] kristyler commented on #2655
Maggie,

What version of Chrome are you using?

Kris Tyler
Data Analyst
2321 N Loop Dr, Ste 220, Ames, IA, 50010
O: (515) 817-2143
LandusCooperative.com  |  Kris.Tyler@landuscooperative.com
This email is intended for the use of the person to whom it is addressed and may contain information that is privileged and confidential, the disclosure of which is governed by applicable law. Dissemination, di

[2020-11-30 21:10] maggiesMSFT commented on #2655
Hi, @kristyler -- well, this AM when I first checked, I was running:

![image](https://user-images.githubusercontent.com/12401230/100666054-3f07cf80-330d-11eb-80af-fada6e685ed6.png)

but just now it updated to

![image](https://user-images.githubusercontent.com/12401230/100666081-48913780-330d-11eb-852e-5b502e1646ea.png)

and I see the Share button in both versions.

Could it possibly be a permiss

[2020-11-30 21:18] kristyler commented on #2655
I am. I’m the BI lead. I am admin everywhere, and we have a Premium license. If it were permissions, I would never see it.

Kris Tyler
Data Analyst
2321 N Loop Dr, Ste 220, Ames, IA, 50010
O: (515) 817-2143
LandusCooperative.com  |  Kris.Tyler@landuscooperative.com
This email is intended for the use of the person to whom it is addressed and may contain information that is privileged and confidenti

[2020-12-01 08:29] nimai123 opened #2656 "Sharing reports outside the tenant?"
Hello,

Can I integrate my power Bi report in teams and share it with external users.

If yes, then what are the pre-requisites for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd9c7dbe-8b03-52a9-b299-936856c89ba8
* Version Independent ID: f4496816-b872-4541-4ad9-f3b323b8917f
* Content: [Collaborate in Microsoft

[2020-12-01 16:02] DavidPeraza opened #2657 "Provide better visibility to troubleshooting for the capacity metrics app"
The usual troubleshooting for the metrics app is to delete the dataset.
Deleting this dataset is not too straightforward, but the process is outlined here: https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-modern-usage-metrics#delete-the-dataset

I think that information should also be included in this article, namely because googling "power bi capacity metrics app troubleshootin

[2020-12-01 18:45] maggiesMSFT commented on #2651
Hi, @MichaelFoundation -- if you have a question about Power BI documentation, please ask! In the meantime, I'm closing this issue.

[2020-12-01 18:45] #2651 closed

[2020-12-01 18:47] maggiesMSFT commented on #2652
Hi, @cozmicon -- thanks for your comment! Referring to the author for consideration.

[2020-12-01 18:49] maggiesMSFT commented on #2654
Hi, @skiwii -- thanks for your comment! Assigning to the author for consideration.

[2020-12-01 18:51] maggiesMSFT commented on #2656
Hi, @nimai123 -- good question! I'll check and let you know.

[2020-12-01 19:03] kfollis commented on #1596
Thank you for submitting feedback on our documentation. This article has been recently updated and the referenced section no longer exists. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 19:03] #1596 closed

[2020-12-01 19:07] kfollis commented on #1617
Thank you for submitting feedback on our documentation. This article has been updated and a link to the sample data used in the supply chain scenario is included in the introductory section. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 19:07] #1617 closed

[2020-12-01 19:22] kfollis commented on #1620
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the referenced article or related articles.

[2020-12-01 19:22] #1620 closed

[2020-12-01 19:34] flecoqui opened #2658 "Private links for accessing Power BI: Can't create Microsoft.PowerBI/privateLinkServicesForPowerBI resource with the ARM template"
[Enter feedback here]
I wanted to test the Private links for accessing Power BI and I faced the following issue:

I can't create Microsoft.PowerBI/privateLinkServicesForPowerBI resource with the ARM template
When deploying the template it returns first an InternalServerError and after more than an hour a timeout error.

Questions:
I used a trial version of Power BI Service, are Private Links suppo

[2020-12-01 19:38] kfollis commented on #1639
@klabir - Thank you for submitting feedback on our documentation. This article has been updated and now includes a dataflow column.

[2020-12-01 19:38] #1639 closed

[2020-12-01 19:40] kfollis commented on #1652
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 19:40] #1652 closed

[2020-12-01 19:42] kfollis commented on #1660
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 19:42] #1660 closed

[2020-12-01 21:58] kfollis commented on #1698
Thank you for submitting feedback on our documentation. This article has been updated and no longer mentions Azure B2B. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 21:58] #1698 closed

[2020-12-01 22:02] kfollis commented on #1718
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 22:02] #1718 closed

[2020-12-01 22:22] kfollis commented on #1734
Thank you for submitting feedback on our documentation. This article has been updated since your comment was filed. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.
I reviewed your feedback, and the options you refer to only appear when your training questions uses terms that Power BI doesn't understand. Refer to can be used to link variable terms, suc

[2020-12-01 22:22] #1734 closed

[2020-12-01 22:44] kfollis commented on #1770
Thank you for submitting feedback on our documentation. This article has been updated. If your feedback isn’t addressed, please feel free to submit additional feedback for the page.

[2020-12-01 22:44] #1770 closed

[2020-12-01 22:48] kfollis commented on #1791
@peter-myers - please review and make an update if needed so that we can close this old issue. Thanks!

[2020-12-01 23:21] JPassenger opened #2659 "Missing files in sample application linked from article"
I've just downloaded the master branch of the Power BI Developer Samples linked from this article and attempted to use the AppOwnsData sample for .NET Framework. When then running the application, it fails due to missing files (initially powerbi.js, then others). If this sample is intended to be used for a tutorial, it would be good if it actually worked!

---
#### Document Details

⚠ *Do not edit

[2020-12-02 01:09] maggiesMSFT commented on #1768
Hi, @DougSte and @edfreeman -- belated thanks! I've updated the article with a link to a complete list of the field icons.

[2020-12-02 01:09] #1768 closed

[2020-12-02 03:53] mihart commented on #2659
Thanks for your comment, @JPassenger . This issue has been assigned to the doc author for review.

[2020-12-02 03:53] mihart commented on #2658
Thanks for your comment, @flecoqui . This issue has been assigned to the doc author for review.

[2020-12-02 03:54] mihart commented on #2657
Thanks for your comment, @DavidPeraza . This issue has been assigned to the doc author for review.

[2020-12-02 07:34] nimai123 commented on #2656
Yes @maggiesMSFT ,  hope we find something on it.

[2020-12-02 15:21] christianb7 opened #2660 "Paginated report subscriptions for external / guest users"
Hi,  This page seems to suggest that paginated report subscriptions are available, but doesn't restrict the scope to just internal users. My understanding is that you can not subscribe or an external user cannot subscribe to a paginated report (given they have premium per user activated).  Are you able to clarify/confirm this in the documentation.

Thanks,
Chris
---
#### Document Details

⚠ *Do no

[2020-12-02 15:22] christianb7 opened #2661 "Report subscriptions for external users"
Under the heading "Considerations and Limitations" it states that report subscriptions can be created for external users, but right underneath in the bullet list it also says that they can't be created. Are you able to update the document to make this accurate to what is currently available please? Specifically regarding paginated reports vs power bi reports.

Thanks,
Chris

---
#### Document Deta

[2020-12-02 15:38] kfollis commented on #2661
@christianb7 - thanks for pointing that out. I'll work with the feature owner to verify the guest user capabilities and update the documentation to clarify the capabilities. If you need a quick answer, you may want to ask a question in the https://community.powerbi.com.

[2020-12-02 17:21] Spiller70 opened #2662 "It is Unclear what kind of table the data is required to be in"
The article has a note about the data being required to be in a Table in Excel. That is unclear as there is a table object available in Excel as well as the common interpretation of data organized in a table with headers and fields. Of course in the later type, headers may be in the rows and records in the columns non-standard to Excel power users, but again that is unclear as PowerBI is reaching

[2020-12-02 20:01] bstuddard opened #2663 "Custom queries for detect data changes - Examples"
Can you add an example to the "Custom queries for detect data changes" section? Specifically looking for some examples on how to use the pollingExpression and sourceExpression setup. I know it will depend on exact data source specifics, but even carrying on with the "FactInternetSales" example used in previous sections and how it would be setup using this custom polling method would be a huge help

[2020-12-03 01:42] maggiesMSFT commented on #1362
Hi, @ToddChitt and @kfollis  -- for real, I'm tracking down the person on the team who can get me the details on the JSON for dashboard themes. In the meantime I've updated the screenshots and steps.

[2020-12-03 03:06] ToddChitt commented on #1362
To be honest I’m a more than a little disillusioned with Microsoft regarding a lot of Power BI backlog stuff, this being one of several. They have moved on to the ‘cool and sexy’ stuff like AI integration, etc. but are leaving basic issues in the dust. User navigation regarding losing of the focus is horrible. Font sizes across visuals are inconsistent, more so with custom visuals, even ones that

[2020-12-03 12:42] petetakacs commented on #2658
I have the same issue.

[2020-12-03 13:40] kumarvinit67 commented on #2147
Hi Team,
we are facing issue in step 4 and getting below error:
ERROR: Invalid <action> parameter value:

[2020-12-03 14:12] tconrady opened #2664 "Link to May 2020 version leads to 404 page"
Trying to download the May 2020 32 or 64 bit version leads to a 404 page instead of the setup exe. The April 2020 entry does not have any links at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f23670-d83a-dffc-c17a-8cef53d0de7b
* Version Independent ID: 1b63f449-9fbd-3544-bee5-17c70fe55229
* Content: [Previous

[2020-12-03 18:53] maggiesMSFT commented on #1362
Hi, @ToddChitt -- I'm sorry for your disillusionment!
I was able to find a blog post about the dashboard theme JSON file, https://powerbi.microsoft.com/en-us/blog/announcing-dashboard-theming-in-the-power-bi-service/, which does contain some details about the JSON file. I'll add it to the article.

[2020-12-03 21:16] OneConsutlantsDemo opened #2665 "Automate : Export from Dashboard"
Can we use R Script to automate the Export from Dashboard every time we refresh?

Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87c556b-b1da-0b24-606b-89c371c6bae8
* Version Independent ID: 20141574-acfa-f5f8-b6cf-6b32b3c55b4f
* Content: [Export data from a Power BI visualization - Power

[2020-12-04 00:57] kfollis commented on #2662
Thank you for the feedback, @Spiller70! I'm assigning this to the author for the article to consider making an update to clarify that detail.

[2020-12-04 00:59] kfollis commented on #2660
Thank you for your feedback, @christianb7. I'm assigning this to the author of the article so that they can make that detail clear.

[2020-12-04 01:06] kfollis commented on #2664
@tconrady - I was unable to reproduce the error with the May 32-bit and 64-bit installation links. I did receive an MSI file when clicking those links. Have you tried again? It's possible the April versions are no longer available, but I'll assign this to the author of the article to check into it.

[2020-12-04 01:08] kfollis commented on #2663
Thanks for the feedback, @bstuddard! Assigning this to the author for the article to consider adding the requested example.

[2020-12-04 01:11] kfollis commented on #2665
Thanks for the question, @OneConsutlantsDemo. I don't know the answer to that, so assigning this to the author for investigation. You may want to ask the question in https://community.powerbi.com to see if your peers can help with an answer.

[2020-12-04 02:03] maggiesMSFT commented on #1362
Hi, @ToddChitt -- BTW, turns out the black text limitation is spelled out in this article, https://docs.microsoft.com/en-us/power-bi/create-reports/service-dashboard-pin-tile-from-report#limitations.

[2020-12-04 06:35] nimai123 commented on #2656
Hello @maggiesMSFT
Hope you are doing good.

Did we find a way to implement the above scenario?

Regards,

[2020-12-04 19:44] maggiesMSFT commented on #2656
Hi, @nimai123 -- Still checking!

[2020-12-04 20:05] bajumar opened #2667 "(Obviously) Missing screencaps and misleading terminology"
Instructions for Finding Parameters (https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-to-microsoft-sustainability-calculator#finding-parameters) section says "as shown below" in the steps, but there is nothing shown below.

I believe the intention was to include screencaps like the documentation for Consumption Insights here - "https://docs.microsoft.com/en-us/power-bi/connec

[2020-12-04 21:13] maggiesMSFT commented on #2656
Hi, @nimai123 -- here's a quick answer:

To make it work end to end, the user will need:
1.	Ensure the external user is invited to the organization and accepts that invitation
2.	Ensure the external user is added to have permission on the report, using individual permissions assignment works best right now
3.	Ensure the external user has a Power BI license assigned to them. Recommend Free license

[2020-12-04 21:13] #2656 closed

[2020-12-04 21:17] maggiesMSFT commented on #2667
Hi, @bajumar -- thanks for your feedback! Assigning to the author to investigate.

[2020-12-05 21:24] nimai123 commented on #2656
Thanks for the update @maggiesMSFT

That really helps!

[2020-12-06 16:34] paulinbar commented on #2667
@bajumar , I see what you mean and I am looking for the info I need to update the article. I'll keep you informed. Thanks for your input!

[2020-12-07 06:15] Alisha-Acharya opened #2668 ""Script before and after" image in "Add user parameters" section is broken"
"Script before and after" image in "Add user parameters" section is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 862ef376-e3d8-fbb7-9bf6-b1323968ba4b
* Version Independent ID: 28234d27-622f-1015-c83b-ca4419ec80a8
* Content: [Build a funnel plot from R script to R visual - Power BI](https://docs.microsoft.com/e

[2020-12-07 11:39] kumarvinit67 commented on #2147
Hi Team,
Request your help on step no 4.

Regards,
vinit

[2020-12-07 23:01] Jhomalex opened #2669 "Report export using node.js"
Hello, I have a question about exporting PBI reports. I would like to know if a report could be exported using node.js as a backend since in the documentation I only find information for .Net.

Where could I get examples or material of the above?

[2020-12-08 01:39] brianrreed commented on #2641
Here is the code I used to do this:
`Login-PowerBI

# Object ID for 'Power BI Administrator Security Group'
$SecurityGroup = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
$pbiWorkspace = Get-PowerBIWorkspace -All -Scope Organization
$i = 1
foreach($ws in $pbiWorkspace){
        Add-PowerBIWorkspaceUser -Scope Organization -Id $ws.ID -Identifier $SecurityGroup -AccessRight admin
}`

[2020-12-08 05:32] Ravi-Kumar-P opened #2670 "dsa"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e311f65-8df9-951f-6398-bab28566c8d5
* Version Independent ID: c227717d-d15e-9e34-2874-47c8dfb2e23a
* Content: [Use gridlines and snap-to-grid in Power BI Desktop reports - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-gri

[2020-12-08 14:36] pawarbi opened #2671 "Link not working"
The link for [ Data warehousing using dataflows](https://docs.microsoft.com/en-us/power-query/dataflows/best-practices-for-data-warehouse-using-dataflows) in the table is not working. Please fix it
-- | --

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 1b1b9aba-16ea-95b8-350f-a28ff62abe2e
* Version Independent ID: 121a4ef

[2020-12-08 15:18] RudyCo commented on #2571
Any update @KesemSharabi? There is no answer on https://community.powerbi.com/.
Thanks in advance!

[2020-12-08 15:22] TestKTMS opened #2672 "Is a trend line for Scatter map supported?"
[Enter feedback here]
We can create a trend line for Scatter map, but it is not mentioned below:

The following visuals can use a trend line if there's time data:
•	Area chart
•	Clustered column chart
•	Line chart
•	Line and clustered column chart

Is a trend line for Scatter map supported?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-09 01:16] mihart commented on #2672
Thanks for your comment, @TestKTMS . This issue has been assigned to the doc author for review.

[2020-12-09 01:18] mihart commented on #2671
Thanks for your comment, @pawarbi  This issue has been assigned to the doc author for review.

[2020-12-09 01:20] mihart commented on #2670
Thanks for your comment, @Ravi-Kumar-P . This issue has been assigned to the doc author for review.

[2020-12-09 01:22] mihart commented on #2669
Thanks for your comment, @Jhomalex . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-12-09 01:22] #2669 closed

[2020-12-09 01:23] mihart commented on #2668
Thanks for your comment, @Alisha-Acharya . This issue has been assigned to the doc author for review.

[2020-12-09 04:48] vajnorcan commented on #584
so I take it this fundamental connection string property is still not supported in PowerBI Snowflake connector?

[2020-12-09 05:18] wtg-bko opened #2673 "Power BI Report Server Subscriptions"
[Enter feedback here]

Under this section https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-how-to-collaborate-distribute-dashboards-reports#considerations-and-limitations it says that "You can't share reports from **Power BI Report Server**. Instead, you can create subscriptions for yourself or others." and it has a hyperlink to this https://docs.microsoft.com/en-us/sql/reportin

[2020-12-09 07:18] annettetc opened #2674 "pbiviz Installation Error"
Hi,

I'm tryin to install pbiviz using the command : npm i -g powerbi-visuals-tools. However, I'm facing the below error every time and have been unable to find any solution online. Can you please provide help on how to proceed? Thanks

request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer

[2020-12-09 15:13] KesemSharabi commented on #2674
Hi @annettetc,

Sorry to hear you're running into errors with this command.

Just to confirm, you're following the instructions in [Set up your environment for developing a Power BI visual](https://docs.microsoft.com/power-bi/developer/visuals/environment-setup?tabs=windows) including installing *nodes.js* - correct?

@uve can you help with this error?

Thanks,

Kesem

[2020-12-09 15:21] KesemSharabi commented on #2673
Thanks for your comment, @wtg-bko.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-12-10 04:07] annettetc commented on #2674
Hi @KesemSharabi ,

Yes, I am following the steps as mentioned in [ Set up your environment for developing a Power BI visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/environment-setup?tabs=windows) and have installed the version 14.5.1 of node.js.

[2020-12-10 12:58] djpirra commented on #2479
Hi @maggiesMSFT what information is required from me?
I used VS2019 and was unable to compile the code since the libraries were deprecated.

[2020-12-10 16:39] msdotnetclr opened #2675 "Azure Databricks is not listed as a Power BI data source"
Recently "native" support to Azure Databricks was added, but it is not listed as a Power BI data source on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://d

[2020-12-10 23:49] davidiseminger commented on #2614
I updated to clarify which accounts must be needed, but indeed, the stated accounts are correc.t

[2020-12-10 23:49] #2614 closed

[2020-12-10 23:57] kfollis commented on #2675
Thank you for letting us know, @msdotnetclr! We'll verify the details with the engineering team to make sure we get the right yes/no in all the columns and will get that added to the list.

[2020-12-11 00:01] maggiesMSFT commented on #2673
Hi, @wtg-bko -- a reasonable question! To clarify, Power BI Report Server is a superset of current versions of SQL Server Reporting Services, so anything you can do in Reporting Services, you can do in Report Server. (Current version, because SharePoint integrated mode is deprecated in the current versions of Reporting Services.)
Anyway: Could it be a permissions issue? Here's the article about pe

[2020-12-11 00:18] wtg-bko commented on #2673
Hi Maggie,

I am on PBI RS Oct 2020. I have System Administrator role under Site Settings and Content Manager permission on the report folder and file which are the highest level roles available to assign in Power BI RS and I am not sure how to assign these permissions for Item-Level Tasks you are referring to.

When I look at a report’ “Manage” menu in Power BI RS, what I see on the left hand sid

[2020-12-11 16:39] feemurk opened #2677 "page update (date)"
This page has definitely been updated since 05/08/2019 (the current reported update date).

"Beginning in the September 2020 release, we enabled support for the Google BigQuery Storage API." appears to be after the date stated.

Please update the the update date

Cheers,

Fahim.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-12-11 18:47] chrisweis opened #2678 "Why no Edge Chromium listed?"
Based upon this list, it's unclear whether Edge Chromium is supported in Power BI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74662424-4c86-7d72-d7ad-4d8a669e83b8
* Version Independent ID: dfa6ec25-3a0c-1ee9-63b9-851c3d2ce055
* Content: [Supported browsers for Power BI - Power BI](https://docs.microsoft.com/en-us/p

[2020-12-11 23:42] maggiesMSFT commented on #2673
Hi, @wtg-bko -- Ah, you're not asking for paginated reports but Power BI reports , which currently does not have a subscription option. You can upvote this in user voice 😊:
Subscription to PBI Report in PBI Report Server - Microsoft Power BI Community,
https://community.powerbi.com/t5/Report-Server/Subscription-to-PBI-Report-in-PBI-Report-Server/td-p/612844

[2020-12-11 23:42] #2673 closed

[2020-12-11 23:43] maggiesMSFT commented on #2678
Hi, @chrisweis -- thanks for asking! Assigning to the writer to check.

[2020-12-12 00:07] maggiesMSFT commented on #2677
Great point, @feemurk! Sometimes people help us out to keep the content accurate, and assume the date will update automatically. But for good reasons, it doesn't! So we humans have to do it. Thanks!

[2020-12-12 01:11] maggiesMSFT commented on #2678
Hi, @chrisweis -- turns out Edge is the official name, so that's what we call it 😁. Thanks for asking!

[2020-12-12 01:11] #2678 closed

[2020-12-12 01:34] maggiesMSFT commented on #2677
Thanks, @feemurk ! Fixed the date. Update will be live with the next build on Monday Dec 14, 2020.

[2020-12-12 01:34] #2677 closed

[2020-12-14 16:39] miguelvidex opened #2681 "Get Key in the scenario of acquiring SQL server Enterprise Edition as a Subscription License (through CSP for example)"
When acquiring SQL server Enterprise Edition as a Subscription License (through CSP for example) it also provides the right to run Power Bi Report Server even if it does not have Software Assurance. This is not mentioned in almost all the documentation however it's possible as you can see in the [Licensing Terms](https://www.microsoft.com/pt-pt/Licensing/product-licensing/products) Page 63:

![ima

[2020-12-14 16:42] miguelvidex opened #2682 "SQL server Enterprise Edition as a Subscription License as a licensing option to PBI-RS"
When acquiring SQL server Enterprise Edition as a Subscription License (through CSP for example) it also provides the right to run Power Bi Report Server even if it does not have Software Assurance. This is not mentioned in almost all the documentation however it's possible as you can see in the [Licensing Terms](https://www.microsoft.com/pt-pt/Licensing/product-licensing/products) Page 63:

![ima

[2020-12-14 21:33] davidiseminger commented on #2530
The setting applies equally to all DirectQuery data sources, when enhanced metadata is enabled (this is now the default setting). Legacy data sources - for datasets created prior to October 2020, or not updated to use enhanced metadata - are impacted differently. I've included a note to clarify.

[2020-12-14 21:33] #2530 closed

[2020-12-14 22:40] kfollis commented on #2675
Thanks again, @msdotnetclr. We have added Azure Databricks to the list along with the supported connections info.

[2020-12-14 22:40] #2675 closed

[2020-12-15 12:51] j2associates opened #2683 "Missing links"
For more information about available data sources, see **Data Sources**. For information about connecting to data, including examples and steps, see **Connect to Data**.

The bolded sections above, Data Sources and Connect to Data should be links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd6ac628-d5b4-e722-0532-d

[2020-12-15 14:17] j2associates opened #2684 "Misc typo"
this line

background, firstLevelElements, and tableAccent (etc.):

should be

background, **foreground**, and tableAccent (etc.):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use report themes in Power BI

[2020-12-15 17:33] JosefPrakljacic opened #2685 "Description of applied filters missing/misleading"
[Enter feedback here]
For me as a reader of this documentation it is not clear if the copy of the visual only means that the set filters are described textually or if the filters set in the report are also found in the generated link.

That means when I click on the link I see exactly what the copier saw.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-12-15 19:29] mihart commented on #2683
Thanks for your comment, @j2associates . This issue has been assigned to the doc author for review.

[2020-12-15 19:31] mihart commented on #2684
Thanks for your comment, @j2associates. This issue has been assigned to the doc author for review.

[2020-12-15 19:32] mihart commented on #2685
Thanks for your comment, @JosefPrakljacic . This issue has been assigned to the doc author for review.

[2020-12-15 22:59] j2associates commented on #2684
Based on additional reading after I posted the above, it may be that the Json code should be changed instead as I think I recall seeing that foreground, background, etc have been deprecated. I'm not exactly sure.

[2020-12-16 13:18] #2501 closed

[2020-12-16 13:33] KesemSharabi commented on #2641
@brianrreed,

Thanks for your comments and suggestion. I'm checking with our development team and if applicable, I'll add a PowerShell code to the [Add the service principal to your workspace](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principal#step-4---add-the-service-principal-to-your-workspace) section.

Thanks,

Kesem

[2020-12-16 13:41] KesemSharabi commented on #2649
Hi @miragliag,

Thanks for your comment.

The [Embed Power BI content using a sample embed for your customers application](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers) tutorial, was updated to reflect the fact that the sample application works with Premium Per User (PPU).

However, you can only run the sample application with a PPU license. If you want to [mov

[2020-12-16 13:41] #2649 closed

[2020-12-16 13:57] KesemSharabi commented on #2659
Hi @JPassenger,

I'm sorry to hear that you had a bas experience when using the sample application.  The [Embed Power BI content using a sample embed for your customers application](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers) tutorial, and the sample applications have recently been updated.

We've run several checks to verify that the samples work. I assume y

[2020-12-16 14:08] KesemSharabi commented on #1127
Thanks for your comment, @sarava8304.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-12-16 14:08] #1127 closed

[2020-12-16 14:09] KesemSharabi commented on #2682
Thanks for your comment, @miguelvidex.

I've assigned this issue to the doc author for review.

[2020-12-16 14:11] KesemSharabi commented on #2681
Thanks for your comment, @miguelvidex.

I've assigned this issue to the doc author for review.

[2020-12-16 14:14] microscone opened #2686 "Symbol list"
This symbol list is not complete!
Please complete your documentation.

There is a symbol for an added column (calculated column), and that is not included on this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ebece-b103-78ae-2c8a-8db99390f23d
* Version Independent ID: ca9c1aec-14fd-867a-1660-79fd33cb8158
* Co

[2020-12-16 14:18] KesemSharabi commented on #1320
Thanks for your comment, @sarava8304.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2020-12-16 14:18] #1320 closed

[2020-12-16 15:08] JPassenger commented on #2659
Hi @KesemSharabi,

I was indeed following that tutorial which took me to the sample application.

I have been able to run the .NET Core App Owns Data version of the sample application without a problem, but I initially attempted to use the .NET Framework App Owns Data version and ran into numerous issues.

My initial problems I believe were local to me (missing references, etc.), but then I ran in

[2020-12-16 20:22] fpk3 opened #2688 "limitation: conditional formatting can only use measures defined in underlying model not ones created in report"
limitation: conditional formatting can only use measures defined in underlying model not ones locally created in report (dataset connection).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a270e6-b0c1-bb57-831c-ce75a4d42085
* Version Independent ID: f831c935-823e-be44-02b8-c4145fe89d28
* Content: [Expression-based ti

[2020-12-16 20:25] NickyvVr opened #2689 ""Report settings" should be "Preview features""
The link described to enable this preview feature is not correct.
It says in Report settings enable the preview, but those are enabled in the tab "Preview features".

Btw, I wasn't able to edit the document itself straight away because I ended up at a 404-Page not found in Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-12-16 20:33] miragliag commented on #2649
Thanks! Thats perfect!

Giovanni Miraglia
Betriebsökonom FH & Data-Scientist
Tel. +41 76 674 33 21
mail: giovanni@miraglia-bi.com<mailto:giovanni@miraglia-bi.com>
web: miraglia-bi.com<http://www.miraglia-bi.com>
vCard: Kontaktdaten herunterladen<https://www.miraglia-bi.com/app/download/12312501857/Giovanni+Miraglia.vcf?t=1590121962>

Von: Kesem Sharabi <notifications@github.com>
Antworten an: Micr

[2020-12-17 01:12] maggiesMSFT commented on #2479
Hi, @djpirra -- the recommendation is for you to put your feedback directly in the GitHub page for the tool, to engage with the engineers directly. Here's the GitHub page:
https://github.com/Microsoft/Reporting-Services-LoadTest
Hope that helps!

[2020-12-17 02:34] maggiesMSFT commented on #2689
Hi, @NickyvVr -- thanks for the feedback, and for trying to edit the doc yourself! I'm surprised you got the 404. Can you try again? Meanwhile, assigning to the author to update.

[2020-12-17 07:50] uve commented on #2668
thanks @Alisha-Acharya for the report. We'll update image URL shortly

[2020-12-17 08:42] NickyvVr commented on #2689
I still get the 404. I do have to say there was also an issue displaying this article the first time (from Power BI Desktop). The URL was pointing to ...services.md instead of ...services in the end. Not sure if that is related

[2020-12-17 09:01] KesemSharabi commented on #2601
Hi @dannyp

After consulting with the development team we've decided not to update the [Power BI REST API limitations](https://docs.microsoft.com/power-bi/developer/automation/api-rest-api-limitations) page. We feel that the 'TooManyRequests' error is informative enough. If you send too many requests you'll get this error.

Thanks again for your comment and for getting involved.

Kesem

[2020-12-17 09:01] #2601 closed

[2020-12-17 09:35] paulghodgson opened #2690 "Screenshot does not match content of link"
The Power BI Desktop samples link navigates to https://github.com/microsoft/PowerBI-Developer-Samples which does not match the screenshot.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your

[2020-12-17 16:21] pawarbi opened #2691 "Add the architecture reference to documentation"
Hello,

Can you please add [this](https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/customers/power-bi) as a reference in the documentation for people who are interested in learning more about the architecture and other important details on implementation. It's already published on MS's website, but the users will find it very helpful if this is added as a reference.

Thanks

---
####

[2020-12-17 17:51] maggiesMSFT commented on #2689
Hi, @NickyvVr -- Hmmm, maybe because the article is new...? IDK! But thanks. I'm updating it now. Fix will be live this afternoon.

[2020-12-17 17:51] #2689 closed

[2020-12-17 23:52] kfollis commented on #2686
Hi @microscone - thanks for the feedback on our documentation. I see 2 entries for calculated columns in this section of the article: https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-field-list#field-list-icons. Are we still missing an entry here or is it missing in a different section? Appreciate any additional clarification you may have!

[2020-12-17 23:53] kfollis commented on #2688
Thanks for the feedback, @fpk3! I'm assigning this to the writer to verify and make an update to the article.

[2020-12-17 23:55] kfollis commented on #2690
Thanks for the feedback, @paulghodgson! I'm assigning this to the writer to make that update.

[2020-12-17 23:57] kfollis commented on #2691
Thanks for the feedback, @pawarbi! I'm assigning this to the writer to evaluate your suggestion and follow up.

[2020-12-18 07:18] tolga-balci opened #2692 "Needs to be updated for PowerBI App in Teams"
The page needs to be updated for the PowerBI App in Teams.
When you export the data in Excel/CSV format in Teams, PowerBI reports that the export is complete, but it does not prompt to save the file or open it automatically in Excel.

Steps to reproduce the issue:
1. Install the PowerBI App on Teams
2. Go to a tabular report in PowerBI
3. Click the three dots, select Export Data, use default value

[2020-12-18 22:27] kfollis commented on #2692
Hi @tolga-balci - thank you for flagging that issue for us. I did reproduce your experience in Teams and also saw that no indication of where the file was saved is given. However, I did find the exported data file in the local Downloads folder. I'm assigning this to the writer and the feature owner to follow up. Thanks again!

[2020-12-19 02:58] tolga-balci commented on #2692
Thanks a lot @kfollis . After I postedto GitHub, I realized that the exported data was under the Downloads folder with the name data.xlsx.

[2020-12-20 08:46] KesemSharabi commented on #2668
Hi @Alisha-Acharya,

Thanks for pointing this out. I've fixed this issue and you can now see the missing image in [Add user parameters](https://docs.microsoft.com/power-bi/developer/visuals/funnel-plot-from-r#add-user-parameters).

Thanks again for getting involved!

Kesem

[2020-12-20 08:46] #2668 closed

[2020-12-21 16:11] mihart commented on #2691
Hi @pawarbi,
Thank you for your suggestion.  I've added a link to the ML.NET article  :-)

[2020-12-21 16:11] #2691 closed

[2020-12-21 16:30] mihart commented on #2692
Hi @tolga-balci,
Thank you for your suggestion.  I've updated two documents to address where files are saved when using the Teams app.

[2020-12-21 16:30] #2692 closed

[2020-12-21 16:31] mihart commented on #2665
Thanks for your comment, @. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-12-21 16:31] #2665 closed

[2020-12-21 16:37] mihart commented on #2604
Hi @statistka,
I've contacted the PM for this feature and asked for his help updating this page.

[2020-12-21 18:39] pawarbi commented on #2691
Thank you

[2020-12-22 01:25] haliluysal opened #2694 "does not give uptodate information!!!!!!!!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e31
* Content: [Add hyperlinks (URLs) to a table or matrix - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-hyperlinks-in-tabl

[2020-12-22 08:13] KesemSharabi commented on #2641
Hi @brianrreed,

Thank you for your great suggestion. We added PowerShell scripts for adding [service principal as a workspace member](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principal#add-a-service-principal-as-a-workspace-member-using-powershell) and [a security group as a workspace member](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principa

[2020-12-22 08:13] #2641 closed

[2020-12-22 08:42] KesemSharabi commented on #2659
Hi @JPassenger,

Thanks for the detailed info. I've asked our dev team to look into this and will get back to you shortly.

Kesem

[2020-12-22 09:11] michalmar commented on #2575
@KesemSharabi any update on this please?

[2020-12-22 14:18] uve commented on #2674
@annettetc  what is your OS and NodeJS version?

[2020-12-22 15:07] KesemSharabi commented on #2659
Hi @JPassenger,

This seems to be a known issue. You need to reinstall the NuGet packages as suggested in the note at the bottom of the [Step 8 - Embed your content](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers?tabs=net-framework#step-8---embed-your-content) (after step 9):
![article note](https://user-images.githubusercontent.com/54834915/102902574-ddec9b00-44

[2020-12-22 17:24] mhammons opened #2695 "PPU License Question"
Question 14
"Can I have a dataflow run in a Premium per user workspace, be imported into a Power BI dataset in another workspace, and users who consume that content not need a Premium per user license?

As long as the Power BI report author has a Premium Per User license, this is possible during the preview period for PPU."

What does this answer actually mean? Will it NOT be possible after PPU is

[2020-12-22 19:41] mihart commented on #2694
Thanks for your comment, @haliluysal . This issue has been assigned to the doc author for review.

[2020-12-22 19:42] mihart commented on #2695
Thanks for your comment, @mhammons. This issue has been assigned to the doc author for review.

[2020-12-22 21:36] chrislfish opened #2696 "Not Up To Date"
There are things in this doc, like "Save As", that don't exist anymore.  And doing the "Save a Copy" just gives an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719feeea-d688-78bf-fef5-8b58c2fb047f
* Version Independent ID: 78793fa4-e2e2-7113-3652-b1165ee92145
* Content: [Monitor usage metrics in classic worksp

[2020-12-23 00:31] sehee4017 opened #2697 "Wrong information in ko-kr doc"
Korean document of this page contains wrong information.

English:
![image](https://user-images.githubusercontent.com/74294219/102879453-1ba7ee80-448d-11eb-8514-4f895d728f4b.png)
https://docs.microsoft.com/en-us/power-bi/report-server/data-sources#list-of-supported-authentication-methods-for-model-refresh
Korean:
![image](https://user-images.githubusercontent.com/74294219/102879392-03d06a80-448d-1

[2020-12-23 04:11] mihart commented on #2696
Thanks for your comment, @chrislfish . This issue has been assigned to the doc author for review.

[2020-12-23 04:12] mihart commented on #2697
Thanks for your comment, @sehee4017 . This issue has been assigned to the doc author for review.

[2020-12-23 14:08] KesemSharabi commented on #2690
@paulghodgson,

Thank you for pointing this out. I fixed the link and now it's pointing to the right GitHub folder (see [Step 4 - Create and publish a Power BI report](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers?tabs=net-framework#step-4---create-and-publish-a-power-bi-report)).

Thanks again for getting involved!

Kesem

[2020-12-23 14:08] #2690 closed

[2020-12-23 16:55] paulinbar commented on #2461
Hi @egrusecki, I haven't heard from you regarding the details of the problem you were experiencing, so I am going to close this issue now. If you still want to pursue it, please give me a little more context and detail about what you observed, and I will check it out. Thanks!

[2020-12-23 16:55] #2461 closed

[2020-12-23 19:47] Saltzmea opened #2698 "Binary Data type not Supported as Stated in Documentation"
The documentation on this page states that the binary data can be passed to the AI transformation. The web.contents() function returns an "any" data type which is acceptable to pass. However, using the binary data type causes an error in the M function. Probably a bug in the AI function but should also be called out with the other notices on the page.
---
#### Document Details

⚠ *Do not edit this

[2020-12-24 03:57] mihart commented on #2698
Thanks for your comment, @Saltzmea . This issue has been assigned to the doc author for review.

[2020-12-28 11:34] excelwithallison opened #2700 "Sync Slicers Advanced Options info missing"
Main edit: This page has no information on the 'Advanced options' for Sync Slicers. What does Group sync do? This blog is a bit confusing but does provide some examples: https://prathy.com/2019/02/sync-slicers-sync-slicers-advanced-options/

Minor: This page is outdated with its screenshots for how to turn on Sync Slicers pane

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-28 14:11] paulinbar commented on #2700
Hi @excelwithallison, thanks for your comment about the Sync slicers. I am forwarding it on to the doc owner for further consideration.

[2020-12-29 00:02] jf781 opened #2701 "Unable to connect to using Azure Cost Management with MCA"
I am unable to connect to Azure Cost Management using MCA.   I have entered the billing profile ID correctly as it resolves to the Billing Account.   However, no matter what I try I am given the error:

"User does not have required permissions to view events for Billing Account: "

I am a billing account owner (verified multiple times).   I am using version 2.88.802.0 of the PowerBI desktop.

Any

[2020-12-29 10:42] michellepace opened #2702 "Plotly supported?"
Hi there, I heard that https://plotly.com/python/ is supported now by Power Bi - - could you please confirm and/or update this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db4f2779-18a0-100c-dc5f-ac0f77f05d19
* Version Independent ID: e6654e84-bba6-8280-645a-5e56e999276e
* Content: [Learn which Python packages

[2020-12-30 10:03] paulinbar commented on #2701
Thanks for your comment, @jf781. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-12-30 10:03] #2701 closed

[2020-12-30 18:50] GSunil19 opened #2704 "Issues with ARC GIS map control"
Hi,
We are using Power BI Arc GIS maps without any license or login and my report embedded in web page successfully and working. Did Anything got changed recently, since last few days we were unable to view  embedded Power BI ARC GIS Map control. Can some one help me on this.

Below section says required license and sign-in
publish to web | Yes, for designers signed in to a valid ArcGIS account wi

[2020-12-30 22:21] peter-myers commented on #2529
Thanks @dudu-markovitz for pointing this issue out. I'd hoped that Matt's blog would come back online, but alas no. I've removed the reference. #please-close

[2020-12-30 22:21] #2529 closed

[2020-12-30 22:25] peter-myers commented on #2557
Hi @jlmcdermott - thanks for your feedback. We're currently reviewing dataset/data model documentation in light of the new composite modeling capabilities made available as a preview feature in the Power BI Desktop December 2020 release. We'll be sure to clarify that a dataset can be a live connection to an external-hosted model in Azure or SQL Server. #please-close

[2020-12-30 22:25] #2557 closed

[2020-12-30 22:29] peter-myers commented on #2546
Hi @AkhilMadivada - good pick up! Thanks for pointing out the error. A corrected image will be published soon. #please-close

[2020-12-30 22:29] #2546 closed

[2020-12-30 22:30] peter-myers commented on #2567
Thanks @erapade - we will take your feedback into consideration. #please-close

[2020-12-30 22:30] #2567 closed

[2020-12-30 22:31] peter-myers commented on #2426
Thanks @hugotoledo - we will take your feedback into consideration. #please-close

[2020-12-30 22:31] #2426 closed

[2020-12-30 22:33] peter-myers commented on #2359
Hi @DaniilMaslyuk - thanks for your feedback. We agree with your comments, and we're actively working with engineering to gain a deeper understanding. Stay tuned for an update to this article when we learn more. #please-close

[2020-12-30 22:33] #2359 closed

[2020-12-30 22:35] peter-myers commented on #1791
Hi @marcosqlbi - thanks for your feedback. We're actively working with engineering to gain a deeper understanding. Stay tuned for an update to this article when we learn more. #please-close

[2020-12-30 22:56] AkhilMadivada commented on #2546
Great! Thank you.

[2020-12-31 17:07] erapade commented on #2567
@peter-myers Just so that I understand the process. How can “closing” be the same as "taking it into consideration”. Either you close it (and never re-visit) the issue, or you start working on it and let us know when done

[2021-01-02 14:36] marcosqlbi commented on #1791
There are no reasons to close this issue.
After 11 months, nothing changed: the current version of Power BI (and the version we had in February) still have the same behavior: all the performance benchmark we ran demonstrates that the right performance preference **is not** what the documentation suggests.
We continue to provide a different suggestion in terms of performance, we can also demonstrat

[2021-01-02 16:11] pawarbi opened #2705 "Add reference to the algorith used for detecting anomalies"
Hi, can you please add a reference to the algorithm used to detect anomalies using this visual. Justyna Lucznik, who is the PM for this group at Microsoft, shared the algorithm details [here](https://twitter.com/JustynaLucznik/status/1328334141893459968?s=20). Users will find it extremely helpful if [this](https://techcommunity.microsoft.com/t5/ai-customer-engineering-team/overview-of-sr-cnn-algor

[2021-01-02 17:55] pawarbi opened #2706 "What "AI" algorithm(s) is (are) used? Please provide reference"
Hi, for other "AI Visuals" such as Key Influencer, Anomaly Deetection etc, the algorithm(s) used to create the visuals are cited in the documentation or are mentioned in Power BI blogs. This helps the users understand these visuals more and use them correctly. Can you please provide reference for what AI algorithm or architecture is used to create the AI splits?

The Power BI team provided [this r

[2021-01-03 04:59] Piquet65 opened #2707 "The URL example is missing some underscores"
[Enter feedback here]
The example syntax for query-string URL immediately preceding the "Special characters in values" section is incorrect - some of the escaped characters are missing a leading underscore (specifically the square brackets).
PK
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd

[2021-01-03 08:28] paulinbar commented on #2704
Hi @GSunil19, thanks for reaching out to us with your comment. I am forwarding it on to the doc owner for consideration.

[2021-01-03 08:42] paulinbar commented on #2705
Hi @pawarbi, thanks for your suggestion. I am forwarding it on to the doc authors for consideration.

[2021-01-03 08:45] paulinbar commented on #2706
Hi @pawarbi, thanks for your comment. I am forwarding it on to the doc owner for consideration.

[2021-01-03 08:47] paulinbar commented on #2707
Hi @Piquet65, thanks for your comments. I am forwarding it on to the doc author for consideration.

[2021-01-04 08:01] MRBreen opened #2708 "Is incremental refresh compatible with queries that aggregate source data by month?"
Is incremental refresh compatible with queries that aggregate source data by month?
Scenario:
The source data consists of ~100k rows per day (3 ~million per month).  Fields include TimeStamps (also a Date field) and the data we’re aggregating (for example, distinct counts of TenantIDs).
The pbix file has a query that aggregates (in Kusto, summarize) by month.
I would like to incrementally refresh

[2021-01-04 13:06] paulinbar commented on #2708
Hi @MRBreen, thanks for reaching out to us with your question. I'm forwarding in on to the doc author for consideration. Thanks!

[2021-01-04 14:33] microscone commented on #2686
Thanks for the response! Must be my mistake.
The sigma symbol isn't apparent in the desktop view, as it is not actually highlighted/accented in the way the website shows it, so it looked like a different symbol all together!
Thanks again for the follow-up.

[2021-01-04 14:33] #2686 closed

[2021-01-04 14:40] ChipDale66 opened #2709 "embed URL has extra parameters"
the secure embed code is obtained from a new menu item called Share, it is no longer on the ... menu

Also, the URL has extra parameters to those shown in your example

the screen shot of your example has the URL showing just a reportId and &autoAuth=true
e.g. https://app.powerbi.com/reportEmbed?reportId=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&autoAuth=true

however, when I get the embed code it has

[2021-01-04 14:44] ChipDale66 commented on #2709
sorry, this has lost the link to the page
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-embed-secure

[2021-01-04 14:44] ChipDale66 opened #2710 "embed URL has extra parameters"
the secure embed code is obtained from a new menu item called Share, it is no longer on the ... menu

Also, the URL has extra parameters to those shown in your example

the screen shot of your example has the URL showing just a reportId and &autoAuth=true
e.g. https://app.powerbi.com/reportEmbed?reportId=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&autoAuth=true

however, when I get the embed code it has

[2021-01-04 16:00] MisterOttermayer opened #2711 "TRUE/FALSE settings on Visual Header"
Can these be set to default values via a template? There is no mention of this in the documentation, but I bet it's possible

[2021-01-04 20:47] kfollis commented on #1791
Reopening and reassigning.

[2021-01-04 21:26] MRBreen opened #2712 "Instructions given are not possible: PowerBI refresh options are daily/weekly, not monthly"
The last part of this statement is not possible as PowerBI (ie https://msit.powerbi.com/)  _refresh frequencies_ are Daily or Weekly (not monthly):

https://docs.microsoft.com/en-us/power-bi/admin/service-premium-incremental-refresh#only-refresh-complete-periods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1

[2021-01-04 22:25] maggiesMSFT commented on #2710
Hi @ChipDale66 -- Thanks for pointing that out! I'll update the screen shot, and get answers about the additional parameters.

[2021-01-04 22:59] kfollis commented on #2567
@erapade - Thanks for your feedback. We’ve reviewed the article and determined it reads technically correct and describes the subject matter as intended by the author. No additional changes will be made at this time. However, as a Git Issue, even when closed, your feedback is kept with the article. If similar feedback is received from other users, we will review again and take steps necessary to i

[2021-01-04 23:18] maggiesMSFT commented on #1964
Issue resolved by @paulinbar

[2021-01-04 23:18] #1964 closed

[2021-01-05 08:30] paulinbar commented on #2711
Hi @MisterOttermayer, you've opened your comment as a docs issue. Can you provide a URL for the doc you are referring to? Thanks.

[2021-01-05 08:34] paulinbar commented on #2712
Thanks for you comment @MRBreen. I am forwarding it along to the doc author for consideration.

[2021-01-05 09:02] paulinbar commented on #2667
Hi @bajumar, as you might recall, I forwarded your comments along to the Sustainability Calculator team, and apparently they were working on a new version of the calculator, which has just now become available in preview on AppSource (https://appsource.microsoft.com/en-us/product/power-bi/coi-sustainability.sustainability_calculator_public_preview?tab=Overview). In the document you originally comm

[2021-01-05 09:03] #2667 closed

[2021-01-05 09:46] paulinbar commented on #2427
Hi @JoelLeichty. The endorsement docs have been rewritten, taking your comments into consideration. The main conceptual doc is here: https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-endorsement-overview
Thanks for your comments. In the meantime I am closing this issue now, but feel free to reopen or file an new issue if you have other feedback. Thanks!

[2021-01-05 09:46] #2427 closed

[2021-01-05 10:01] paulinbar commented on #1693
Hi @ChristianBraun190. I've noted your comments and will address them in the rewrite of the RLS articles that is now underway. In the meantime I am closing this issue now. Thanks for your input!

[2021-01-05 10:01] #1693 closed

[2021-01-05 10:03] paulinbar commented on #1880
Hi @TrutzS. I am in the process of rewriting the RLS docs now and will see whether there is something from your issue that needs to be addressed in the documentation as opposed to the product. In the meantime I'm closing this issue. Thanks for your comments!

[2021-01-05 10:03] #1880 closed

[2021-01-05 10:04] paulinbar commented on #1893
Hi @DavidPROVOST. I've noted your comments and will address them in the rewrite of the RLS articles that is now underway. In the meantime I am closing this issue now. Thanks for your input!

[2021-01-05 10:04] #1893 closed

[2021-01-05 10:05] paulinbar commented on #1965
Hi @ColeenB. I've noted your comments and will address them in the rewrite of the RLS articles that is now underway. In the meantime I am closing this issue now. Thanks for your input!

[2021-01-05 10:05] #1965 closed

[2021-01-05 10:06] paulinbar commented on #2363
Hi @Hikmer. I've noted your comments and will address them in the rewrite of the RLS articles that is now underway. In the meantime I am closing this issue now. Thanks for your input!

[2021-01-05 10:06] #2363 closed

[2021-01-05 10:12] JainVikas opened #2714 "does this functionality depend on having premium workspace?"
I tried following the document, it worked fine till publishing. However, I tried manually adding more data to my db and refresh to see if new records will also be score and it doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd02ee-f034-f9c3-7d52-199944ac23bb
* Version Independent ID: 4336a0d9-94d1-a5f7-f

[2021-01-05 12:37] ChipDale66 commented on #2709
i have raised a second issue against the actual page https://github.com/MicrosoftDocs/powerbi-docs/issues/2710

[2021-01-05 18:27] maggiesMSFT commented on #2709
Hi, @ChipDale66 -- unless I'm missing something, this is a duplicate of https://github.com/MicrosoftDocs/powerbi-docs/issues/2710. So I'm closing this one, and I'm working on getting answers to 2710.
Thanks!

[2021-01-05 18:27] #2709 closed

[2021-01-05 21:32] MisterOttermayer commented on #2711
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes

[2021-01-05 23:52] paulinbar commented on #2711
Thanks for the quick response @MisterOttermayer! I am now forwarding this along to the doc author for consideration.

[2021-01-06 14:19] KesemSharabi commented on #2714
Thanks for your comment, @JainVikas.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-01-06 17:15] jrp13149 opened #2715 "Multiple broken links"
[Enter feedback here]

I was interested in this but the links to the sample scripts and PBIX file all appear to be broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 862ef376-e3d8-fbb7-9bf6-b1323968ba4b
* Version Independent ID: 28234d27-622f-1015-c83b-ca4419ec80a8
* Content: [Build a funnel plot from R script to R

[2021-01-06 21:58] CC-Fleming opened #2716 "Trust Center link"
I believe the link to Trust Center is inaccurate, the link currently brings us to "International availability of Dynamics 365".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f6bd837-63e3-8bcd-9743-425e6da4a9b8
* Version Independent ID: 944bd5e0-a52f-0a4c-362b-68701f03c8d8
* Content: [Administering Power BI - frequent

[2021-01-06 22:01] kfollis commented on #2716
Hi @CC-Fleming - thank you for flagging that. I'll look up the correct URL and make a swap.

[2021-01-06 22:21] kfollis commented on #2716
Thanks again, @CC-Fleming! I found several instances of the same URL and have updated the URL to go here instead: https://www.microsoft.com/trust-center/product-overview. The change will be live later this afternoon.

[2021-01-06 22:21] #2716 closed

[2021-01-07 17:18] mihart commented on #2706
Hi @pawarbi ,
We tried to explain how the decomp tree works through the following in the documentation:
The analysis can work in two ways depending on your preferences. The default behavior is as follows:
•	High Value: Considers all available fields and determines which one to drill into to get the highest value of the measure being analyzed.
•	Low Value: Considers all available fields and determi

[2021-01-07 17:18] #2706 closed

[2021-01-07 17:47] mihart commented on #2604
Hi @statistka ,
Just an update that the team is working on your Git issue. Besides updates to the docs, you've helped identify at least one bug, so thank you.

[2021-01-07 18:06] pawarbi commented on #2706
Thank you @mihart. Happy new year.  I wish the term 'AI' wasn't use in that case, it's misleading. Thank you for the response and the clarification.

[2021-01-07 20:12] vtitte2020 opened #2717 "Clarity needed in a specific line"
This statement in the Power BI security white paper doesn’t make sense. Unless I am missing something. From a DAX query stand point, queries against import dataset, the gateway is really not an issue. Gateway is only needed to refresh the dataset. Seems like this statement needs to broken up or clarified. Can you take a look?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-01-07 20:35] maggiesMSFT commented on #2710
Hi, @ChipDale66 -- here's what I found out:
Old secure embed URLs should keep working regardless of those parameters.
The config parameter is an internal parameter. It should not affect the functionality of the report load, but makes it slightly faster.
You may need to file a support ticket, https://powerbi.microsoft.com/en-us/support/
Thanks

[2021-01-07 20:35] #2710 closed

[2021-01-07 21:34] kfollis commented on #2715
@jrp13149 - thank you for bringing this to our attention. I'll assign this issue to the author to verify and update the broken links. I was able to repro your experience with the links to the spline visual and the PBIX for the HTML widgets gallery, and we'll be sure to check them all. Thanks again for the feedback!

[2021-01-07 21:37] kfollis commented on #2717
@vtitte2020 - thank you for the feedback on the documentation. I am assigning this issue to the writer to review this section of the article for clarity.

[2021-01-08 05:07] LydiaLim93 opened #2718 "Are you sure that dashboard does not allow for filtering?"
It is INCORRECT to say that dashboard does not allow for filtering. All you need to do is open a tile in dashboard in Focus mode, and filters are there for your perusal. You are contradicting the Learning Path quiz answers.

Location of error in documentation:
![image](https://user-images.githubusercontent.com/45248088/103976428-b0129080-51b1-11eb-8806-eff362d2f46a.png)

Answer as per Learning Pat

[2021-01-08 05:33] kthejoker opened #2719 "How does the engine construct table schemas based on the data?"
When you write data from your dataflow to the Azure SQL enhanced compute engine, presumably it's creating the schema based on data samples?

Can you write a little more about how the system creates the schema? What if a text column in your first 1,000 rows only has 5 character strings, but later columns have 7 character strings? Can we explicitly set the schema of the tables?

---
#### Document De

[2021-01-08 05:47] advbsmith opened #2720 "Tutorial does not use same data as Quickstart: Connect to data in Power BI Desktop"
The Quickstart: Connect to data in Power BI Desktop links to this page, and it would be logical to use the same data. There should be a logical progression in the Tutorials from an earlier tutorial to the next tutorial in the sequence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-8234-dd4d-698e589b6fc7

[2021-01-08 07:11] statistka commented on #2604
Thank you for your work.

Let me know if you need any help from me.

On Thu, Jan 7, 2021 at 11:47 PM Michele Hart <notifications@github.com>
wrote:

[2021-01-08 08:47] ChipDale66 commented on #2710
Hi @maggiesMSFT

I did log a support call - 121010425005408 - and was told this is an unfortunate consequence of an improvement to load balancing. This is very unhelpful so I have had to go and update my links.

The &config parameter points at a cluster URL. However it seems this parameter is optional so if I leave it off the URL links still works. Is this correct and what are the implications? If

[2021-01-08 14:40] pawarbi commented on #2705
@paulinbar You can close this issue. I see that they updated the documentation with the [reference](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-anomaly-detection#get-started) in this section. Thanks !

[2021-01-08 14:47] asocorro opened #2721 "Personalization is not saved"
Hi, one thing to note is that any personalization of visuals does not seem to be saved as part of the comment's bookmark.  Is this intentional?  Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fe39329-a8c9-8a14-ab97-ca853b432bf3
* Version Independent ID: 7dbe16ce-5a10-1162-a1f1-92d5280ed53

[2021-01-08 17:16] maggiesMSFT commented on #2720
Hi, @advbsmith -- thanks for your feedback! Assigning to the author. I see what you mean about having the tutorials follow one after the other and build on each other. On the other hand, this one is illustrating a different scenario, getting data from a web page.
Thanks!

[2021-01-08 17:19] guissebr opened #2723 "Page not up to date"
This page hasn't been updated since April 2020

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66293710-49bc-2b37-8899-bd917e70d626
* Version Independent ID: 913116b4-7117-ee02-8aff-5be681896a71
* Content: [What's new in the Power BI service - Power BI](https://docs.microsoft.com/en-us/power-bi/fundamentals/service-what

[2021-01-08 17:49] maggiesMSFT commented on #2718
Hi, @LydiaLim93 -- you're right that you can filter an individual tile on a dashboard! You can't save the filters; when you exit focus mode, it goes back to its original state. I added a note to the table in this article, with a link to the article about focus mode, https://docs.microsoft.com/en-us/power-bi/consumer/end-user-focus#working-in-focus-mode.
I'll mention it to the folks who work on the

[2021-01-08 17:49] #2718 closed

[2021-01-08 18:27] maggiesMSFT commented on #2721
Hi, @asocorro -- happy new year! I hope you are well.
You mean personalizing visuals, as in https://docs.microsoft.com/en-us/power-bi/consumer/end-user-personalize-visuals? Good question! Assigning to the author to investigate.

[2021-01-08 18:49] maggiesMSFT commented on #2719
Hi, @kthejoker  -- thanks for your question! Assigning to the author for consideration.

[2021-01-08 18:56] maggiesMSFT commented on #2723
Hi, @guissebr -- you're right, it is not up to date. Assigning to the author to see what we need to do to get it back up to date.

Thanks!

[2021-01-08 19:25] rafaelsmoreno commented on #2230
Any update on that one? This feature would really make a difference.

It should, however, be a button in PBI GUI (revert all visuals to default), or an option when changing the theme (e.g.: override manual configurations on all visuals).

[2021-01-08 22:10] sneakernuts opened #2725 "Changing role name in documentation to be more consistent."
In the documentation it shows the old role "Power BI Service Administrator", in the admin portal it's referred to as "Power BI administrator"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e00bb3-017a-1954-148c-d5cfa665a2de
* Version Independent ID: a5a1ccf2-e84a-9041-c157-fa6d80ef769b
* Content: [Understanding Power

[2021-01-08 22:14] kfollis commented on #2725
Thanks @sneakernuts! I'll get that cleaned up right away - appreciate you flagging that for us.

[2021-01-08 22:49] kfollis commented on #2725
Thanks again, @sneakernuts! This change has been made and the update will publish later this afternoon. I do want to note that PowerShell still returns the full "Power BI service administrator" role name so that example hasn't been changed, but all other mentions should now be consistent.

[2021-01-08 22:49] #2725 closed

[2021-01-09 03:30] LydiaLim93 commented on #2718
Hey Maggie, Thank you very much for the prompt response!

[2021-01-11 18:47] andymayPlunket opened #2729 "Page inappropriate to source"
[Enter feedback here]
I got to this page from a "lean more" link in the colour function for a Card visualisation, the way the function works is similar, but not the same as conditional formatting of a column in a table, therefore is quite missleading

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af9ce3a-a3eb-8d57-55a

[2021-01-12 07:04] arseyam opened #2730 "User cannot see the data gateway except if he is added as a gateway administrator"
[Enter feedback here]
I created a data gateway then added a data source and assigned a user access to it however he was not able to select the data source from the dataset settings except when I added him as a data gateway administrator!

This is not the right approach since we are sharing this data gateway between multiple users and we don't want anyone to miss with the permissions.

---
#### Doc

[2021-01-12 16:34] davidiseminger commented on #2729
Thanks for your feedback, @andymayPlunket - could you post where that link was from (the article / location), so we can get that fixed? Thanks!

[2021-01-12 21:59] itsnotaboutthecell opened #2732 "Multiple customer issues with missed instructions"
"Make sure there are no Power BI admin-consent-required permissions set on this application."

Several customers are having issues with these instructions and missed the important section called out earlier; is there anyway we can add this as an important call out within the docs, either thru commonly used iconography and color-differentiation or any other creative methods. I've had this come up n

[2021-01-13 00:06] mihart commented on #2732
Thanks for your comment, @itsnotaboutthecell . This issue has been assigned to the doc author for review.

[2021-01-13 05:20] mihart commented on #2604
Hi again @statistka,
The team is curious to know where you read about the terms "visibility" and "suggested"?  I am assigning this bug to the Q&A team and they'll update the doc for 1 and 2.  The updates may end up in this doc (https://docs.microsoft.com/en-us/power-bi/natural-language/q-and-a-tooling-advanced ) instead of the one you reference.

Your items 3-5 appear to be bugs.  Please confirm t

[2021-01-13 13:20] Jaqiehaas opened #2733 "Word duplication"
This allows the model to be queried even when **being it's being** processed.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Independent ID: e307e1d7-e565-8742-e563-86d596d7d1e1
* Content: [What is Microsoft Power BI Premium? - Power BI](https://docs.microsoft.com/en-ca/po

[2021-01-13 13:52] Jaqiehaas opened #2734 "Analysis Services Vertical engine?!"
Should it not be Analysis Services **Vertipaq** engine?
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Independent ID: e307e1d7-e565-8742-e563-86d596d7d1e1
* Content: [What is Microsoft Power BI Premium? - Power BI](https://docs.microsoft.com/en-ca/power-bi/admin/service-pr

[2021-01-13 14:39] KesemSharabi commented on #2733
Hi @Jaqiehaas

Well done for catching this typo, and thanks for letting us know. I'll fix it shortly and let you know when it's done.

Thanks,

Kesem

[2021-01-13 15:07] KesemSharabi commented on #2715
Hi @@jrp13149,

Thanks for letting us know about these broken links. I'll fix them shortly.

Kesem

[2021-01-13 17:21] statistka commented on #2604
Hi Michele.

I myself figured out these terms because I regularly came across them when
working with a linguistic scheme. Empirically, I figured out their
behavior, how they work.

Regarding 3-5 - I observed the wrong behavior a couple of months ago. It
seems to me that since that time something has been fixed.
I can try to find examples of those issues if it's critical.

I'm glad to help you. Don

[2021-01-13 18:34] MichaelFoundation opened #2735 "+#429422429430://https://www.com Database Org. [JMLO](ACC)"
+#429422429430://https://www.com Database Org. [JMLO](ACC)

__Originally posted by @MichaelFoundation in https://github.com/w3c/sdw/pull/1238#discussion_r556743863__

[2021-01-13 19:41] alan-at-microsoft opened #2736 "First sentence uses incorrect phrasing"
The first sentence of this document, "Monitor report performance in Power BI Desktop by using the Power BI Premium Metrics app", incorrectly relates Power BI desktop with a monitoring capability uniquely available within the Power BI service (i.e. the Premium Capacity monitoring app). Performance Analyzer is a tool used to monitor performance of content within Power BI desktop.

Based on the natur

[2021-01-14 07:08] KesemSharabi commented on #2733
Hi @Jaqiehaas,

Once again, thanks for spotting this. The document is now fixed - see [How capacities function](https://docs.microsoft.com/power-bi/admin/service-premium-what-is#how-capacities-function).

Thanks,

Kesem

[2021-01-14 07:08] #2733 closed

[2021-01-14 08:41] Krzysztof-Hyla opened #2737 "404 Error"
Hi, the link to the pbix file returns an 404 error - could you please fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c22af6d-1ae9-9288-51b6-8d05c51d1b56
* Version Independent ID: bd77226f-99c4-9f7f-c353-7fa0891a891c
* Content: [COVID-19 tracking sample for US state and local governments - Power BI](https://doc

[2021-01-14 13:09] paulinbar commented on #2732
Hi @itsnotaboutthecell, thanks for your comment. I just want to clarify your request. Are you suggesting that we take the current statement and make it more visible somehow, or is the statement itself not clear, in addition to not being prominent enough?
Thanks!

[2021-01-14 13:29] rwiankowski commented on #328
Hi,

It's been a while since this issue was closed but I'm sad to say that it's still pretty hard to figure out which BGP community should be used for PowerBI.

Is there any documentation for this?

Best,
Radek

[2021-01-14 17:19] maggiesMSFT commented on #2737
Hi, @Krzysztof-Hyla -- hmmm, not good. I'll investigate soon. Thanks for letting me know!

[2021-01-14 22:38] maggiesMSFT commented on #2736
Thanks, @alan-at-microsoft ! Agreed. I made the change; update will be live this afternoon.

[2021-01-14 22:38] #2736 closed

[2021-01-14 22:43] maggiesMSFT commented on #2735
Hi, @MichaelFoundation -- don't know what this means. Please enter a comment, if you have one.
Thanks

[2021-01-14 22:43] #2735 closed

[2021-01-15 16:15] alan-at-microsoft commented on #2736
Great, thank you!

Alan Lantz
Power BI Technical Specialist
Enterprise commercial - Manufacturing
mobile: 412-395-5156 | alan.lantz@microsoft.com<mailto:ben.tirado@microsoft.com> |LinkedIn<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fin%2Falanlantz%2F&data=02%7C01%7CAlan.Lantz%40microsoft.com%7Cad218619e0844a59409908d751a63e5c%7C72f988bf86f141af91ab2d7cd011d

[2021-01-15 17:34] maggiesMSFT commented on #2734
Hi, @Jaqiehaas -- Ha! Good catch. Fixed. Change will be live this afternoon, Fri Jan 15, 2021

[2021-01-15 17:34] #2734 closed

[2021-01-15 17:43] NairaMSFT opened #2738 "Outdated ggplot2 package version."
Hi team,

The ggplot2 version was recently updated on Power BI Service to support version 3.3.2. Please kindly update this version on the supported versions in R script.

Regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df17e088-5cff-4882-79fc-cc7deb09843d
* Version Independent ID: 641ddc87-0314-47c4-bee7-684ebe

[2021-01-15 22:16] maggiesMSFT commented on #2738
Hi, @NairaMSFT -- thanks for your comment!
Question: I selected the link in the ggplot2 row of the table, https://cran.r-project.org/web/packages/ggplot2/index.html. It lists the version as 3.3.3.
Should we put 3.3.2 or 3.3.3 in the table?
Thanks!

[2021-01-15 22:44] maggiesMSFT commented on #2738
Thanks, @NairaMSFT ! Change is made, will be live later today.

[2021-01-15 22:44] #2738 closed

[2021-01-15 22:47] NairaMSFT commented on #2738
Thanks a lot for the help!

[2021-01-18 10:18] AeliusRuivus opened #2741 "Where do I sign for Power BI Pro?"
I just want to know where do I click to sign for Power BI Pro. It is the second time I go through this maze, this information should not be buried behind 70 pages!

![image](https://user-images.githubusercontent.com/46090686/104902289-3cc60700-5987-11eb-95a3-20e9ea2eb574.png)

Power BI service redirects to this page, and this page is useless regarding how to sign up for the service!

---
#### Docu

[2021-01-18 11:47] bosschgn opened #2742 "Multiple Select without control (ctr) button"
Would it be possible to enable multiple select without holding the Control button like it functions on e.g. Ipad / IOS ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02349558-4417-b39f-be59-b80655babdd2
* Version Independent ID: 6c5c0c15-6bf4-e775-1f0e-d95525ec30cf
* Content: [Multi-select data

[2021-01-18 14:30] KesemSharabi commented on #2287
Hi @CeciAc and @raymond-dillon,

This issue is in my backlog and I'll refresh the article as soon as I can.

Thanks,

Kesem

[2021-01-18 14:30] #2287 closed

[2021-01-18 14:32] KesemSharabi commented on #2365
Hi @laancaro,

This issue is in my backlog and I'll refresh the article as soon as I can.

Thanks,

Kesem

[2021-01-18 14:32] #2365 closed

[2021-01-18 14:34] KesemSharabi commented on #2462
Hi @skeeler,

This issue is in my backlog and I'll refresh the article as soon as I can.

Thanks,

Kesem

[2021-01-18 14:34] #2462 closed

[2021-01-18 14:35] KesemSharabi commented on #2515
Hi @aditya-s-prabhu,

This issue is in my backlog and I'll refresh the article as soon as I can.

Thanks,

Kesem

[2021-01-18 14:35] #2515 closed

[2021-01-18 14:37] #2659 closed

[2021-01-18 14:48] #2674 closed

[2021-01-18 18:17] davidiseminger commented on #2717
Larger changes being incorporated to that article, underway.

[2021-01-18 18:17] #2717 closed

[2021-01-19 14:24] sbdoroff commented on #328
Hi Team,

We never had an ExR to test in the past but I think that has changed.  Let me do some checking to see if it would be possible to test this.

Best,

Steve Doroff
Technical Adviser | Azure Networking | Customer Service & Support

From: Radoslaw Wiankowski <notifications@github.com>
Sent: Thursday, January 14, 2021 7:30 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc:

[2021-01-19 15:04] sbdoroff commented on #328
Quick follow up:  Did a check in with the team that is hosting the ExR environment.  Sounds like we should be able to identify which path the traffic is flowing down once the BGP Community is enabled.  That stated, we just need the PowerBI FQDN or the correct IP for testing.  Where could I find that information?

Best,

Steve Doroff
Technical Adviser | Azure Networking | Customer Service & Support

[2021-01-19 16:53] HaoZhang615 opened #2743 "I have the latest Power BI Desktop Version but I cannot see the Azure Cost Management Connector"
![image](https://user-images.githubusercontent.com/30301459/105066617-45016d80-5a7f-11eb-94c3-998dfaefbf00.png)

[2021-01-19 18:51] mihart commented on #2704
Hi @GSunil19
It took a minute, but here is the official response from the product team.
"Using the ArcGIS for Power BI visual in a Power BI embedded report was not previously supported, but undocumented workflows exposed an unsupported preview of this feature. In the December 2020 release of ArcGIS for Power BI, Esri provides official support to Report Designers for embedded and publish to web sce

[2021-01-19 18:51] #2704 closed

[2021-01-19 18:55] mihart commented on #2741
Thanks for your comment, @AeliusRuivus . This issue has been assigned to the doc author for review. I've also assigned to the product team to take a look at the Learn more link.

[2021-01-19 18:58] mihart commented on #2742
Thanks for your comment, @bosschgn . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. I've also assigned this to the doc author for review.

[2021-01-19 18:59] mihart commented on #2743
Thanks for your comment, @HaoZhang615 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-01-19 18:59] #2743 closed

[2021-01-19 21:47] vtjc2002 opened #2744 "Which version of PowerBI.Net SDK Supports Large Models?"
Which version of PowerBI.Net SDK Supports Large Dataset?
And please share the doc location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246f0cce-9c53-3bea-15df-0fb7c8520f12
* Version Independent ID: aefc566c-9abf-1e4f-6d38-18a1e192fa23
* Content: [Large datasets in Power BI Premium - Power BI](https://docs.microsoft

[2021-01-19 21:48] mihart commented on #2744
Thanks for your comment, @vtjc2002 . This issue has been assigned to the doc author for review.

[2021-01-20 02:54] maggiesMSFT commented on #2741
Hi, @AeliusRuivus -- sorry to hear the link wasn't useful. Would either of these links have been more helpful?

- https://docs.microsoft.com/en-us/power-bi/admin/service-admin-disable-self-service
- https://docs.microsoft.com/en-us/power-bi/admin/service-admin-purchasing-power-bi-pro

It sounds like you did eventually end up at an article with useful info. If so, could you share that? Thanks!

[2021-01-20 06:41] AeliusRuivus commented on #2741
Hi Maggie, the second link describes how I did it, but I did not use that page to get there - I found out on my own.
Maybe you could add the specific, direct url to start the purchasing process. Navigating the admin center is counter intuitive enough, but if the document could be more direct (like a tl, dr version), that would be helpful.

Moreover, why doesn't power bi have a direct link for purc

[2021-01-20 07:02] haydnr commented on #2741
Hi Rafael,

I want to start by thanking you for taking the time to provide us feedback. It's very helpful and we truly appreciate it!

We very much want to make it as easy as possible to get Power BI as an individual. We do have a direct link for purchase which is available for many users but there are some circumstances we're not currently able to support. If you are willing to share the domain o

[2021-01-20 08:04] wbovela opened #2745 "Some example code would be wonderful"
[Enter feedback here]
How to add analytics to the correct pane is valuable. But adding some example code, or even a link to a github repository of a visual including analytics would complete this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21268b6d-592b-8a5e-e332-2ce014c2d36a
* Version Independent ID: eb9c880d

[2021-01-20 09:40] VsabGit opened #2746 "Microsoft 365 group is not supported for sharing"
Hi,
in the limitations and consideration section, you don't mention that the users can't share with a Microsoft 365 group.
Even though when now the user tries to share with an M365 group they get an a very clear error message
![image](https://user-images.githubusercontent.com/25950746/105149720-8724c080-5b0c-11eb-9cbb-37d5e5450c05.png)

We encountered an issue where about 6 months ago users someho

[2021-01-20 14:20] AeliusRuivus commented on #2741
Hi Haydn, I’m more than willing to share the tenant, but (and this is one of the things that frustrates me the most), I don’t even know how to do that. Tell me where I can find this and I’ll share, no problem.

I have a pretty good idea on why I can’t see the direct link you mention – this is the one that appears after you try to do something supported only in PRO, right? The pop up where you can

[2021-01-20 16:00] haydnr commented on #2741
Thanks for being willing to continue the conversation Rafael!
Your prior trial status should have no bearing on your eligibility to purchase Power BI in product. Trial and in-product purchase eligibility are independent.
You statement below pains us. We aspire to so much better than this.
It is just that trying to manage Power BI as a stand alone product is very, very frustrating. The settings are

[2021-01-20 16:48] SQLGuyJPS opened #2747 "Needs to be updated to show the new look in Power BI Desktop and the Power BI service"
This page needs to be updated to reflect the new appearance of the Power BI Desktop application and the Power BI service. The screenshots and instructions are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4966
* Version Independent ID: 0c97fa47-9695-aaaf-efcd-63b35362310e
*

[2021-01-20 17:10] AeliusRuivus commented on #2741
Hi Haydn, let me start by saying that even though Power BI frustrates me, your attention to my rabid ramblings is both inspiring and refreshing. Thank you, and if this is the attitude of the rest of the team, my faith is, restored, for what it is worth.

As for the subject at hand, my email is ruivo@busson.com.br<mailto:ruivo@busson.com.br>. Here is my account contact:
[cid:image001.png@01D6EF5E.3

[2021-01-20 18:00] KesemSharabi commented on #2745
Hi @wbovela

Thank you for your suggestion.

@uve - who can help with adding examples to [The Analytics pane in Power BI visuals](https://docs.microsoft.com/power-bi/developer/visuals/analytics-pane).

Thanks,

Kesem

[2021-01-20 18:05] KesemSharabi commented on #2746
Thanks for your comment, @VsabGit.

I've assigned this issue to the doc author for review.

[2021-01-20 18:09] KesemSharabi commented on #2747
Thanks for your comment, @SQLGuyJPS .

I've assigned this issue to the doc author for review.

[2021-01-20 20:41] GSunil19 commented on #2704
Thank you so much for the response

[2021-01-20 21:30] nicheplayer opened #2748 "Should this page mention necessary user security level for subscribing others?"
The users in my premium capacity are trying to create subscriptions and add others but are being told they can't because they aren't owners. Seems like that would be useful information to include here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2caf5705-b9c8-3818-4524-3c4bf9b112a2
* Version Independent ID: 98ede3b9

[2021-01-20 21:41] asocorro opened #2749 "What are the advanges for datasets of size less than 10GB?"
I ask because I see this message in the service for an existing dataset:

The size of your dataset is 205 MB. For most Premium capacities, using large dataset storage format can improve performance.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246f0cce-9c53-3bea-15df-0fb7c8520f12
* Version Independent ID: ae

[2021-01-20 22:34] haydnr commented on #2741
Thank you Ruivo.
That’s enough for us to investigate.
Unfortunately your screenshot is not coming through mail. You might try sending to me directly @ haydnr@microsoft.com<mailto:haydnr@microsoft.com> and if that doesn’t work I’d be open to a call where you can show me directly. I agree that it would be a better experience for the system to determine that you are the Global Admin and then route yo

[2021-01-21 01:48] xo9agq46a8k opened #2752 "Additional DAX editor shortcut keys"
These shortcut keys are missing from 'DAX editor' section of this page as of 20 Jan 2021:

* Deleting a full line of code – (Ctrl + Shift + K)
* Go to the Start and End line of code – (Ctrl + Home ) and (Ctrl + End)
* Select line above or below – (Shift + Up arrow key) / (Shift + Down arrow key)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-01-21 02:13] maggiesMSFT commented on #2519
Hi, @dpcollins-bi , good point! I'm updating the article to state that you need Build permission, not just sharing. Thanks!

[2021-01-21 02:13] #2519 closed

[2021-01-21 02:16] maggiesMSFT commented on #2496
Hi, @Oddjobe -- thanks for your question! Yes, Analyze in Excel does support RLS. I'm told if you can't get RLS to work, you need to file a support ticket, https://powerbi.microsoft.com/en-us/support/
Thanks!

[2021-01-21 02:16] #2496 closed

[2021-01-21 02:50] AdamGrossTX opened #2753 "Clarify the usage rights for Power BI Desktop"
Can you please add some clarification within the docs that will cover sharing PBIX files. It doesn't appear to be explicitly mentioned and I have heard many different opinions about which usage requires paid licensing.

As I understand it, I can use Power BI Desktop to create PBIX/PBIT files. I can share those PBIX/PBIT files with anyone else with Power BI Desktop for FREE. If I want to publish an

[2021-01-21 05:56] venki7744 opened #2754 "Missing Details: Cloud-to-Cloud connection from Power BI to Google BigQuery"
Hi,

The document does mention using cloud-to-cloud connection for connecting from Power BI service to Google BigQuery. However there is no documentation (similar to Power BI Desktop) with detail steps on how this is done. I also could not find any documentation about cloud-to-cloud connection in general (nor do I see this option in Power BI Service).

[2021-01-21 13:46] Garthmj commented on #2753
Just to expand on Scenario 2.
You create a PBIX/PBIT report in Power BI Desktop and share the PBIX/PBIT file to other people from your company who open the file in Power BI Desktop - No licensing required.

You create a PBIX/PBIT report in Power BI Desktop and share (give/sell) the PBIX/PBIT file to other people outside of your company who open the file in Power BI Desktop - No licensing required.

[2021-01-21 15:15] IT-8943765 opened #2755 "There are two types of licenses"
"There are two kinds of Power BI per-user licenses: free Pro and Premium."
No, there are 2 per user and 1 per instance , right?!? PowerBI Free is user based
PowerBI Pro is user based
Power BI Premium is $4995 per instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec63d236-fde3-47d8-96a5-5d205dd96b59
* Version Ind

[2021-01-21 19:55] PATRICKwithMSFT opened #2756 "Lack of specificity with regard to the level at which the per-user export API is enforced"
With regards to below. This leaves it unclear as to whether or not the single call per 5 minutes limitation is enforced at the tenant level, per-user level, or workspace level. I have since confirmed with the product group that this constraint is placed at the per-user capacity level. Please consider revising to reflect that specificity.

"7. Will the export API be available for Premium Per User?

[2021-01-22 13:38] helen508light commented on #2715
@jrp13149
Is this repo and its files not available to you? https://github.com/PowerBi-Projects/PowerBI-visuals/tree/master/RVisualTutorial/TutorialFunnelPlot/chapter4_RHTMLCustomVisual/multipleRHTML ?

[2021-01-22 20:41] kerbos opened #2758 "GCC High cannot use Purchase Services"
FYI, this section will not work in GCC High/DoD.
https://docs.microsoft.com/en-us/power-bi/admin/service-govus-signup#add-power-bi-to-a-microsoft-365-government-plan

The Purchase Services option is present, but displays an error because all licenses have to be purchased via a re-seller and placed on their enrollment.

Can a note be added to clarify that 'Government' here may only apply to GCC?

T

[2021-01-22 21:44] kfollis commented on #2758
@kerbos - thank you for letting me know about this! Yes, I'm happy to add a clarifying note to the article and will address this very soon.

[2021-01-22 22:39] maggiesMSFT commented on #2748
Hi, @nicheplayer -- Good idea! Added it. Thanks!

[2021-01-22 22:39] #2748 closed

[2021-01-22 22:43] maggiesMSFT commented on #2749
Hi, @asocorro ! How are you? Assigning to the author to investigate and answer. Thanks!

[2021-01-22 22:44] maggiesMSFT commented on #2752
Hi, @xo9agq46a8k -- thanks! Assigning to the author.

[2021-01-22 22:46] maggiesMSFT commented on #2754
Hi, @venki7744 -- are you referring to a specific article? If so, could you include a link so I can direct your comment to an author?

If it's more of a product question, consider asking it in the Power BI ideas page, https://ideas.powerbi.com/ideas/, or the Community page, https://community.powerbi.com/

[2021-01-22 22:54] maggiesMSFT commented on #2755
Hi, @IT-8943765 -- Thanks for asking! There's a new Premium Per User license, too. Here's a link to the FAQ:
https://docs.microsoft.com/en-us/power-bi/admin/service-premium-per-user-faq
I've added the link to the article, too.
Thanks!

[2021-01-22 22:54] #2755 closed

[2021-01-22 22:57] maggiesMSFT commented on #2756
Hi, @PATRICKwithMSFT -- thanks for asking! Assigning to the author to investigate.

[2021-01-22 23:26] maggiesMSFT commented on #2753
Hi, @Garthmj -- interesting idea and questions! Passing along to the author for consideration.

[2021-01-23 12:27] asocorro commented on #2749
Thank you, Maggie!

[2021-01-23 15:53] Hikmer opened #2759 "ArcGIS Workspace Setting"
Please also include the workspace setting for ArcGIS visual.  It is rather hidden.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf2c48a-66f7-6c38-286e-ae429fc34883
* Version Independent ID: 033ec0fc-5c72-8cf2-20fb-1c7a36ebcd5f
* Content: [Interacting with an ArcGIS map that has been shared with you - Power BI](https

[2021-01-25 00:49] kasavin opened #2765 "A couple of missing links?"
Hi - I think the following sentences are meant to include links?

- "Read more about Report Parameters"
- "For more information, see Grouping Pane and Understanding Groups."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba7c7d3-1d26-5f99-53e3-0b85379e4f74
* Version Independent ID: 3fa5bbb4-0e89-0203-a3d4-0df72d6462f8

[2021-01-25 01:16] venki7744 commented on #2754
Hi @maggieMSFT,

Thanks for the quick reply. I am referring to the specific article; https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-bigquery , section "Considerations and Limitations" there is a mention of cloud-to-cloud connection but no details on how it can be configured.

[2021-01-25 07:43] paulinbar commented on #2765
Hi @kasavin, thanks for your observations! I am sending them on to the doc owner for consideration.

[2021-01-25 07:45] paulinbar commented on #2759
Hi @Hikmer, thanks for your comment! I am forwarding it on to the doc owner for further consideration.

[2021-01-25 10:13] marclelijveld opened #2767 "Incomplete REST API documentation"
The documentation for [Gateway Datasources](https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/getdatasources?WT.mc_id=DP-MVP-5003435&) is incomplete. The required permission to run this API is Gateway Admin, which is not listed in the description of this API.

The doc states: "Returns a list of datasources from the specified gateway."
I suggest the following: "Returns a list of datasourc

[2021-01-25 19:13] chrisweis opened #2769 ""Power BI Apps Marketplace" link failing"
The link "Power BI Apps Marketplace" in the first section is failing with the error "Something's wrong with the URL you tried to open, and we can't get to that page. We'll take you to Power BI Home" when clicked.

Its URL: https://app.powerbi.com/getdata/services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d0d7108-

[2021-01-25 21:04] nicheplayer opened #2770 "Yes, but WHICH permissions allow you to leave comments?"
It would be great to know *which* permission levels enable users to leave comments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcadad2e-3b44-6a5e-96d5-ddbd89bdc550
* Version Independent ID: c27e9b88-6286-c601-ea8d-27df7ff93078
* Content: [Add comments to a report in Power BI Report Server - Power BI](https://docs.m

[2021-01-26 21:16] heyconor opened #2771 "Typo in code sample for categorical data mapping"
You have a typo in the code sample for the "Categorical Data Mapping" section.

The code sample has text that reads:

`import DataViewDataViewCategoricalSingle = powerbi.DataViewCategorical;`

I'm pretty sure this should be:

`import DataViewCategorical = powerbi.DataViewCategorical;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-27 03:51] mihart commented on #2771
Thanks for your comment, @heyconor. This issue has been assigned to the doc author for review.

[2021-01-27 03:51] mihart commented on #2770
Thanks for your comment, @nicheplayer. This issue has been assigned to the doc author for review.

[2021-01-27 03:53] mihart commented on #2769
Thanks for your comment, @chrisweis . This issue has been assigned to the doc author for review.

[2021-01-27 09:25] BuntyMS opened #2773 "There should be a document listing "SSAS live connection doesn't support translation in Power BI Report Server" or it should be included in this document as it is listed for Power BI Desktop and Power BI Service"
Its not listed in Microsoft Documents that SSAS live connection doesn't support translation in Power Bi Report Server, although it is listed for Power BI Desktop/Service but not for Power BI Report Server. Please include this information in official Microsoft Documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-01-27 11:09] Dastreum opened #2774 "Azure Cost Management that you have IT Admin privileges - Roles"
Hi Team,

After checking it looks like the roles  "IT Admin privileges " does not exists.

Here are the role to access ACM data (with an EA agreement)

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles#usage-and-costs-access-by-role

Regards,

Anthony Joret
ASMS - SE
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-01-27 14:46] KesemSharabi commented on #2774
Thanks for your comment, @Dastreum.

I've assigned this issue to the doc author for review.

[2021-01-27 14:48] KesemSharabi commented on #2773
Thanks for your comment, @BuntyMS.

I've assigned this issue to the doc author for review.

[2021-01-27 14:51] KesemSharabi commented on #2767
Hi @marclelijveld,

Thank you for your comment. I'll look into your suggestion shortly.

Kesem

[2021-01-27 21:45] blabz2007 opened #2775 "Code Broken in Multiple place"
[Enter feedback here]
Arguments passed into AcquireTokenAsync don't work in any version of Microsoft.IndentityModel.Clients.ActiveDirectory.

The call to GetToken() would require a ".Result" because the method returns a Task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version

[2021-01-28 07:57] KesemSharabi commented on #2771
Hi @heyconor,

Thank you for pointing this out.

@uve - can you confirm that this is correct?

Thanks,

Kesem

[2021-01-28 14:55] uve commented on #2771
@KesemSharabi, yes, this is a typo, let's fix it

[2021-01-28 15:08] KesemSharabi commented on #2745
Hi @wbovela,

Unfortunately we don't have any samples at present. Perhaps in the future we'll be able to add samples to this article.

Thanks,

Kesem

[2021-01-28 15:08] #2745 closed

[2021-01-28 19:46] Mcclellange opened #2777 "Project type"
I see on the dashboard there is an "enterprise project", we have some people that use enterprise projects, we also have some that use project online projects. Additionally, we are looking at business case to decommission Jira for Azure boards as well as Daptiv. Is there a way to pull in to the PBIX the data from all 3 type of projects, I'm hoping there is due to the ability to get them all on a ro

[2021-01-28 21:06] ashlega opened #2778 "Is Dataverse connection type officially supported now?"
With the CDS(Preview) connection type having been renamed to "Dataverse" in the report builder, is this a fully supported data source now? Wondering if you are planning on adding it to the list of supported datasources on this page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40a5444a-ce6c-9a0

[2021-01-28 21:16] maggiesMSFT commented on #2778
Hi, @ashlega -- great timing! We just added Dataverse to this article. The change will be live later today! Here's what it says:

Data Source | Authentication | Notes
-- | -- | --
Dataverse | SSO, OAuth2 | Can't use a gateway as multi-factor authentication (MFA) isn't supported.

[2021-01-28 21:16] #2778 closed

[2021-01-28 23:20] zmottie opened #2780 "Needs to be updated for new workspace experience"
This document is no longer valid since the new Workspaces experiences changes how Microsoft 365 Groups work with Workspaces. Could use an update for clarity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08345191-caf2-6c56-cf95-ecd009dae438
* Version Independent ID: 447ea5e5-d102-1cac-8cbf-1b1136dfb24c
* Content: [Con

[2021-01-29 00:05] maggiesMSFT commented on #2780
Good point, @zmottie ! I'm updating the title and first paragraph to make clear this only applies to the classic, not the new workspaces. Thanks!

[2021-01-29 00:05] #2780 closed

[2021-01-29 07:47] JJDE opened #2781 "really "by design" permanent Limitation or work in progress?"
regarding "However, once the authentication type for a given data source is changed to OAuth2, it can't revert back to use SSO. In addition, this change applies to all the reports that use that data source across all workspaces for a given tenant. Row-level security in paginated reports won't work unless users choose SSO for authentication type."

..>Is this a temporary limitation? Or is there rea

[2021-01-29 10:07] PancoCheong opened #2782 "How to setup SSO of Power BI Report Service for SQL Server Database Default Instance?"
How to setup SSO of Power BI Report Service for SQL Server Database Default Instance?

[2021-01-29 13:25] spontello opened #2783 "Q&A Visualization"
I would like to be able to visualize the result set using a custom shape map.  Example use case is presenting demographic data to a local population using Q&A and a custom shape map to plot the results.

[2021-01-29 15:42] Scott123456 opened #2784 "Cross-highlighting needs additional explanation"
I do not see the "cross-highlighting" interaction option on any my visuals. Add description of how/when this option is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7c372d-539c-5857-01c5-8a8d835380a8
* Version Independent ID: 08d1564e-d1dc-ae37-8147-ef21c80feccc
* Content: [Change how visuals interact in

[2021-01-29 16:25] degrover-cn opened #2785 "these instructions seem to be incomplete"
pbiviz version 3.1.15 - latest
API version 2.6

followed instructions in the document but get

Property 'applyJsonFilter' does not exist on type 'IVisualHost'.

Property 'FilterAction' does not exist on type 'typeof import("c:/Users/russell/source/Workspaces/FloridaHealthFinder/PBI/fhfFilterNew/node_modules/powerbi-models/dist/models")'.

Please advise how to properly import needed resources in th

[2021-01-29 16:48] RyanCalovich opened #2786 "Transform Data"
[Enter feedback here]
Under the "Transform and clean data, create a model" header, is the following:
"To start Power Query Editor:

Select Edit Queries > Edit Queries from the Home ribbon."

However, this doesn't work for me. To get to the Power Query Editor I actually just click on "Queries > Transform Data" from the Home ribbon.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-01-29 17:30] maggiesMSFT commented on #2775
Hi, @blabz2007 -- thanks for your feedback! Assigning to the author for further investigation.

[2021-01-29 17:32] maggiesMSFT commented on #2777
Hi, @Mcclellange -- interesting question! Assigning to the author for further investigation.

[2021-01-29 17:35] maggiesMSFT commented on #2781
Hi, @JJDE -- thanks for your question! I'll investigate and get back to you.

[2021-01-29 17:47] maggiesMSFT commented on #2782
Hi, @PancoCheong -- does this article help?
https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-sso-kerberos
If not, can you be more specific? I'm not sure if you're referring to "Power BI Report Server" the on-premises report server, or "the Power BI service" app.powerbi.com.
Thanks!

[2021-01-29 17:54] maggiesMSFT commented on #2783
Hi, @spontello -- have you checked out the articles about Q&A? Here are a couple to get started:
https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-q-and-a
and
https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-tutorial-q-and-a

[2021-01-29 17:56] maggiesMSFT commented on #2784
Hi, @Scott123456 -- thanks for asking! First, can you tell me, are you creating a report, or interacting with a report someone else created?

[2021-01-29 17:58] maggiesMSFT commented on #2785
Hi, @degrover-cn -- thanks for asking! Assigning to the author for further investigation.

[2021-01-29 18:08] maggiesMSFT commented on #2786
Hi, @RyanCalovich -- you are so right! I've updated it. Change will be live this afternoon.

[2021-01-29 18:08] #2786 closed

[2021-01-29 19:12] Scott123456 commented on #2784
Both. It seems it is just not available on some chart types. For example, I can make a scatter chart cross-highlight interactively with a bar chart; but I cannot make a bar chart cross-highlight interactively with a scatter chart. It is not clear in the documentation that this cross-highlighting feature is unavailable in many standard visuals.

[2021-01-29 19:13] sethsanuMSFT opened #2787 "Example for moving Workspaces via API or link"
Need to have an example of how to programmatically move workspaces from Gen 1 to Gen 2. as indicated in the last paragraph

[2021-01-29 19:54] Mcclellange commented on #2777
I found the github repo that I would recommend linking to this article.
[https://github.com/OfficeDev/Project-Power-BI-Templates](https://github.com/OfficeDev/Project-Power-BI-Templates)
This covers the 2 type of project types (online and for the web), the outstanding issue at least for us would be the Azure boards.

[2021-01-29 20:52] ShawnPOWER opened #2788 "Report builder report using dataset from another workspace doesn't seem to work"
Could this document be updated to describe if a dataset in another workspace works properly with a Power BI report builder report or not? Through my testing today, here is an example. I assigned read permission to a user on a dataset inside of a modern workspace which is different than the modern workspace the report builder report (RDL) is located (the user was granted app permissions, no permiss

[2021-01-29 20:57] maggiesMSFT commented on #2784
@Scott123456 -- got it. Agreed! I'm adding more explanation to this article:
https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-reports-filters-and-highlighting#ad-hoc-highlighting
Update should be live this afternoon.

[2021-01-29 20:57] #2784 closed

[2021-01-30 01:46] maggiesMSFT commented on #2787
Hi, @sethsanuMSFT -- Could you specify which article you're referring to? For some reason that info didn't come through. Thanks!

[2021-01-30 01:58] maggiesMSFT commented on #2788
Hi, @ShawnPOWER -- could you check out this article and see if it helps?
"Create a paginated report based on a Power BI shared dataset"
https://docs.microsoft.com/en-us/power-bi/paginated-reports/report-builder-shared-datasets
Thanks!

[2021-01-30 21:51] ShawnPOWER commented on #2788
Hi @maggiesMSFT, I appreciate the response and information. Absolutely, I gave it a go and unfortunately, I ended up at the same result as I described previously. Thank you!

[2021-01-31 09:03] KesemSharabi commented on #2771
@heyconor,

Thanks for spotting this typo and notifying us. Now it's fixed, see code sample in [Example 6](https://docs.microsoft.com/power-bi/developer/visuals/dataview-mappings#example-6).

Kesem

[2021-01-31 09:03] #2771 closed

[2021-01-31 09:07] KesemSharabi commented on #2785
Hi @degrover-cn,

Thank you for your comment.

@uve - can you please advise what imports are missing?

Thanks,

Kesem

[2021-01-31 09:15] KesemSharabi commented on #2775
Hi @blabz2007,

We're aware of the fact that the code in the automation tutorials needs to be replaced. Unfortunately, it'll take us a while to get to this task.

Apologies in advance for the inconvenience,

Kesem

[2021-01-31 09:15] #2775 closed

[2021-02-01 08:00] uve commented on #2785
Hello @degrover-cn,
 You can use the sample from this code:
https://github.com/microsoft/powerbi-visuals-timeline/blob/master/src/timeLine.ts#L935

[2021-02-01 09:41] SteveHills opened #2790 "Typo in "Licenses and subscriptions for business users""
It looks like you have a typo in the Licenses section
"Each user of the Power BI service has either a free license, a Pro license, of a Premium per-user* license." I presume this is meant to say **or a Premium per-user\* license** rather then **of...** - but if not, then further clarification of the sentence's meaning would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-02-01 10:08] matuhinal opened #2792 "Explore and monitor key repository in Power BI by connecting to your GitHub data. Get a Power BI dashboard and reports with insights."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5-ffd4-a32a-541bab72ffa7
* Content: [Manage data storage in your workspaces - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-admin-manage-your-data-storage-i

[2021-02-01 10:11] matuhinal commented on #2792
https://github.com/MicrosoftDocs/powerbi-docs/issues/2792#issue-798192306

[2021-02-01 10:17] matuhinal opened #2793 "connect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Independent ID: e307e1d7-e565-8742-e563-86d596d7d1e1
* Content: [What is Microsoft Power BI Premium? - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is)
* Content Source:

[2021-02-01 13:37] Anouk-Gorris opened #2795 "Service principal supports admin APIs"
The considerations and limitations section indicates that the Service principle does not support any admin APIs, but that's not completely true, because it supports the read-only admin API (see: https://docs.microsoft.com/en-us/power-bi/admin/read-only-apis-service-principal-authentication).

There is a lot of confusion about this, so can you please clarify this?

Thank you very much.

---
#### Do

[2021-02-01 23:59] davidiseminger commented on #2790
You're right! Thanks for pointing that out, and it's a quick fix. I'll get that fixed and updated - should be in the live doc set in a day or so. Thanks again @SteveHills.

[2021-02-01 23:59] #2790 closed

[2021-02-02 00:02] davidiseminger commented on #2792
Thanks for your submission, @matuhinal - could you provide a bit more context about what issue you've found, here in the Comment area?

[2021-02-02 00:04] davidiseminger commented on #2793
Thanks for your submission, @matuhinal - again, we need more context about what issue you've found. Please provide more information here in the Comment area.

[2021-02-02 00:05] davidiseminger commented on #2795
Thanks for your comment, @Anouk-Gorris. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2021-02-02 15:50] DeanGross opened #2797 "Misleading/inaccurate terminology"
The use of OneDrive to describe workspace locations is totally misleading. These locations are not created in individual users onedrive for business sites, they are created in SharePoint Online sites. Please correct this terminology so that people are not confused.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a

[2021-02-02 16:37] lucazav opened #2798 "Typo on the package seaborn"
There is a typo (maybe a couple of spaces) into the name of the package seaborn. I see "s  eaborn".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db4f2779-18a0-100c-dc5f-ac0f77f05d19
* Version Independent ID: e6654e84-bba6-8280-645a-5e56e999276e
* Content: [Learn which Python packages are supported - Power BI](https:/

[2021-02-02 20:11] AjKolla opened #2801 "TOPN Function in DAX Query"
[Enter feedback here]
[https://docs.microsoft.com/en-us/power-bi/paginated-reports/report-builder-shared-datasets#feedback](url)
Step 5 Note: If your query includes the TOPN function, delete it from your query.
Right now I am not able to get al the data from the dataset it is limiting to 501 records due to the TOPN function. When I delete the TOPN function my query is not being executed, I get an

[2021-02-02 22:48] Ian-Mac-Aus opened #2802 "Datasets Hub in Navigation Pane - Refresh Functionality"
It would be very useful to be able to manage dataset refreshes directly from this page rather than having to click through.

[2021-02-02 23:17] prvillal opened #2803 "Hyperlink is missing"
In the line " For more information on using date columns versus date hierarchies, visit this article" when you click on this it does not takes you anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b13312-84ac-72b4-483f-5d8169ecf1e0
* Version Independent ID: f648e18b-55f9-9167-a6f1-98be8180bac1
* Content: [Usin

[2021-02-03 05:00] sethsanuMSFT opened #2804 "Missing: Need documentation on how to move Gen 1 to Gen 2."
Critical: Need example code or further documentation on how to move Gen 1 to Gen 2. The document tells you what to do, that it is important, but not HOW to do it. Perhaps the code exists on Github or available from the product group?

"Once you create a capacity resource, you cannot switch generations. If you want to change your Power BI Embedded generation, you can create another resource using a

[2021-02-03 11:17] mihart commented on #2804
Thanks for your comment, @sethsanuMSFT . This issue has been assigned to the doc author for review.

[2021-02-03 11:18] mihart commented on #2803
Thanks for your comment, @prvillal . This issue has been assigned to the doc author for review.

[2021-02-03 11:20] mihart commented on #2802
Thanks for your comment, @Ian-Mac-Aus . I'm not sure if this is documentation feedback or a product question. Please reply with more detail, such as the URL of the page you were reading.

[2021-02-03 11:23] mihart commented on #2801
Thanks for your comment, @AjKolla . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.  In case it is not a support or product question, I've assigned this to the author of the referenced document.

[2021-02-03 11:24] mihart commented on #2798
Thanks for your comment, @lucazav . This issue has been assigned to the doc author for review.

[2021-02-03 11:25] mihart commented on #2797
Thanks for your comment, @DeanGross . This issue has been assigned to the doc author for review.

[2021-02-03 11:28] Ian-Mac-Aus commented on #2802
Hi Michele,

It's a product suggestion rather than doc feedback so does that belong in the Ideas area rather than Github?

This is the page URL: https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-hub

Ian Macmillan|Business Intelligence Lead
Quality
T: (03) 9611 9200|F: (03) 9611 9222|E: Ian.Macmillan@vincentcare.org.au
Gerald Ward House |43 Prospect Street Box Hill 3128
Mon -

[2021-02-03 13:08] KesemSharabi commented on #2802
Thanks for your comment, @Ian-Mac-Aus.

You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2021-02-03 13:08] #2802 closed

[2021-02-03 17:41] AjKolla commented on #2801
@mihart Yes it is a community or support request question. For better documentation. it may be a good idea to mention how the specific TOPN function can be deleted without resulting in an error with a sample video or a snapshot. It will be really helpful for people new to DAX.

[2021-02-04 07:19] woodyj13 commented on #2230
I never solved this either. My project for a company default .json theme is "on hold" until I find a way to revert everything to default in the code.

[2021-02-04 10:20] Lea43010 opened #2806 "Price for Power BI Premium per User pro month"
Hi together,

how much money cost the Power BI Premium per User pro month?

Thank you very much

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4810006b-6245-ccd5-0d2d-9b1089eb06ab
* Version Independent ID: fe970573-f765-75dc-048e-40ef64cf4285
* Content: [Power BI Premium Per User FAQ (preview) -

[2021-02-04 14:39] flecoqui commented on #2658
Any news about this issue?
Are the private links for accessing Power BI only available with Power BI Premium service?
Can we use the private links with Trial version of Power BI?
Can we use the private links with an Azure AD Tenant not associated with an Azure Subscription?
In the documentation, do you confirm the value 52d40f65-ad6d-48c3-906f-1ccf598612d4 and 52d40f65ad6d48c3906f1ccf598612d4-api.

[2021-02-04 15:27] bimwood opened #2807 "Misleading (outdated?) images on Filled Maps page"
[Enter feedback here]
In the 'Create a filled map' section, I noticed a couple of misleading images:
In Step 3, the Visualizations image shows the wrong icons, meaning that the highlight in the image is not helpful.
In Step 5, Conditional Formatting is now the fx button next to the Default Color picker. The panel has been re-arranged and there is no 'three vertical dots' button, so the text and im

[2021-02-04 17:06] mekmin100 opened #2808 "güncel bilgilere ulaşmak gibi"
evet program ilişkilendirmeleri yaparken veri tabanında bazı programlar yeni çalışmalar yapıyo ve bu çalışmalar bazen sorun bazende dez avantaş saglıyo  ve ben bunun github tabanında olmasını istemiyom yada bu konu hakkındada tartışma çekme çatalama code ayırma olabilir diyom #

[2021-02-04 21:31] kthejoker opened #2809 "Updates?"
Hi, this page hasn't been updated in ... 10 months? Can this be added to someone's todo list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66293710-49bc-2b37-8899-bd917e70d626
* Version Independent ID: 913116b4-7117-ee02-8aff-5be681896a71
* Content: [What's new in the Power BI service - Power BI](https://docs.microso

[2021-02-04 21:51] prvillal opened #2810 "Add a limitation"
Under section Known limitations in Premium Gen2 https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is#known-limitations-in-premium-gen2 Please add that if customer is using Import Mode with BYOK in a dataset this will fail as its not yet supported

Known limitations in Premium Gen2
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-02-04 21:53] prvillal opened #2811 "Add a limitation"
Under section Known limitations in Premium Gen2 https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is#known-limitations-in-premium-gen2 Please add that if customer is using Import Mode with BYOK in a dataset this will fail as its not yet supported

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-04 21:53] #2810 closed

[2021-02-04 21:53] prvillal commented on #2810
Not meant for this article

[2021-02-04 22:05] kfollis commented on #2806
Hi @Lea43010 - Premium Per User licensing is still in preview. During this period there is no charge for the trial experience. We don't have final pricing information available yet and due to currency variations cost information won't be available in our documentation. However, when the feature is generally available, we'll add costs here: https://powerbi.microsoft.com/pricing/ and will update doc

[2021-02-04 22:05] #2806 closed

[2021-02-04 22:08] kfollis commented on #2807
Thank you for bringing that to our attention, @bimwood. I have assigned this issue to the article author for update to the images and review and verification of the procedure. Appreciate the feedback!

[2021-02-04 22:15] kfollis commented on #2808
@mekmin100 - Ben geribildirim hakkında ne olduğunu anlamak için bir makale bağlantısı gerekir. Konuyu tartışmak için https://community.powerbi.com deneyebilirsiniz. Ayrıca en güncel bilgiler için ürün blogunu takip edebilirsiniz. https://powerbi.microsoft.com/blog/

[2021-02-04 22:15] #2808 closed

[2021-02-04 22:21] kfollis commented on #2809
@kthejoker - thanks for bringing that to our attention. The blog updates now cover Power BI mobile and Power BI service in addition to Desktop, so if you're looking for a particular update, you can find it here: https://powerbi.microsoft.com/en-us/blog/. I am assigning your feedback to the article authors so that we can resolve this discrepancy. Appreciate the feedback!

[2021-02-04 22:24] kfollis commented on #2811
Hi @prvillal - thank you for the feedback! I am assigning this issue to the article author to verify the limitation and make an update to the article.

[2021-02-04 22:41] cbailiss opened #2812 "Group Types supported for RLS"
This page should describe the different types of groups that are or are not supported for RLS.  (There are four different types of groups).
This is surely a common question and yet inexplicably not answered in this documentation.
In the end I found an old answer in the following video (which explains the four different types):
https://www.youtube.com/watch?v=oxYQ2GGefrs
I am not sure if that answe

[2021-02-04 22:51] cbailiss opened #2813 "Viewer Role"
It should be documented on this page that RLS applies only to those in the Viewer role.

This information is given in this thread...
https://github.com/MicrosoftDocs/powerbi-docs/issues/1880
... but seems to be missing from the official documentation.
I discovered it by pure chance and was surprised it wasn't documented properly.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-02-04 22:56] prvillal commented on #2803
Thank you

Priscila Villalobos B

Power BI | Support Escalation Engineer
CSSBI
Customer Service & Support
Office:   506-4116-0767
prvillal@microsoft.com<mailto:prvillal@microsoft.com>

[cid:image001.png@01D6FB16.B019EE30]
[MSFT_logo_Gray DE sized SIG1.png]

From: Michele Hart <notifications@github.com>
Sent: Wednesday, February 3, 2021 5:19 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.g

[2021-02-04 22:56] prvillal commented on #2811
Thank you

Priscila Villalobos B

Power BI | Support Escalation Engineer
CSSBI
Customer Service & Support
Office:   506-4116-0767
prvillal@microsoft.com<mailto:prvillal@microsoft.com>

[cid:image001.png@01D6FB16.B3F77680]
[MSFT_logo_Gray DE sized SIG1.png]

From: Kate Follis <notifications@github.com>
Sent: Thursday, February 4, 2021 4:25 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.git

[2021-02-05 01:12] maggiesMSFT commented on #2798
Thanks, @lucazav ! Fixed it. Update will be live tomorrow afternoon.

[2021-02-05 01:12] #2798 closed

[2021-02-05 01:26] maggiesMSFT commented on #2801
Hi, @AjKolla -- thanks for asking. I'll check and get back to you. Ironically, I added that note at the request of another customer. So let me check and see what the best advice is. Thanks!

[2021-02-05 02:53] maggiesMSFT commented on #2797
Hi, @DeanGross -- thanks for your feedback. The docs do reflect the product... I'm checking with the product group to see how we can make it clearer.
Thanks!

[2021-02-05 16:29] paulinbar commented on #2813
Hi @cbailiss, thanks for your message. You are absolutely right and the RLS articles are indeed have indeed been on my list for quite some time. I will be making the updates soon. Thanks for calling my attention to this again.

[2021-02-05 16:33] paulinbar commented on #2813
Hi @cbailiss, thanks for your message. You are absolutely right and the RLS articles are indeed have indeed been on my list for quite some time. I will be making the updates soon. Thanks for calling my attention to this again.

[2021-02-05 17:22] brianrreed opened #2814 "Is there an Upgrade Path to Gen2"
Is there an upgrade path for Gen2? If not should that be listed under limitations on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 441d62b8-a64d-7259-0b53-1754e0281a0b
* Version Independent ID: 00dbd257-d104-953c-a9eb-d929b3dc37ff
* Content: [Power BI Embedded Generation 2 explained as part of Power BI embe