[2019-09-27 07:49] Anmolgan81 opened #1459 "How To setup alerts after each successful refresh?"
How can I send the alerts after each successful alerts? the alert should send a report overview screenshot and the link to the report after each refresh has successfuly configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830da8e8-8526-0e6a-d83f-0c804226e006
* Version Independent ID: 3e7b9d31-133d-1b2f-fded-d9218

[2019-09-27 08:08] roofiq opened #1460 "Calculated measure limitations"
Hello,

I am highly disappointed with, as I have discovered, limitations in using calculated measures on live dataset.
It is not even possible to show aggregated value for latest date. Those are like basics to work with when it comes to these kind of solutions.

Hope it will be extended in the future.

Cheers

[2019-09-27 15:48] daisysim opened #1461 "HELP ME POWER BI - USER TOKEN is Invalid"
It's **IMPOSSIBLE** to get help from Power BI. The Support Ticket REFUSES to sign me in, despite changing my password 3 times, creating and logging into two different accounts. All because I want to edit my User Token information. Whenever I got on Power BI Desktop and I try to get data from my Quick Base website, they ask for an application URL and then state that I got the wrong User Token. When

[2019-09-27 16:12] RickyMcMaster opened #1462 "Support for MySQL?"
Hi, is MySQL completely supported for incremental refresh?  It's working fine for me so far but it isn't listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in Power BI Premium - P

[2019-09-27 16:26] maggiesMSFT commented on #1460
Hi, @roofiq -- Thanks for reaching out! This sounds like a product issue, not a docs issue. I suggest entering your feedback in the Power BI Ideas site, https://ideas.powerbi.com/forums/265200-power-bi.

[2019-09-27 16:26] #1460 closed

[2019-09-27 16:29] maggiesMSFT commented on #1458
Hi, @DomHel -- thanks for the suggestions! Assigning to the author for visibility.

[2019-09-27 19:16] MDawg957 opened #1463 "Broken/inconsistent command line install options"
I'm trying to set up an install based off the instructions from https://docs.microsoft.com/en-us/power-bi/desktop-get-the-desktop#using-command-line-options-during-installation but I'm noticing multiple issues.

ENABLECXP - only works for the account the software is installed from.  Additional accounts do not reflect this setting. Value of `"EnableCustomerExperienceProgram"=dword:00000000` is plac

[2019-09-28 00:29] maggiesMSFT commented on #1351
Hi, @jsaffo -- Thanks for your question! I've checked to make sure. The answer is no, previous versions are out of support.

[2019-09-28 00:29] #1351 closed

[2019-09-28 00:34] maggiesMSFT commented on #1459
Hi, @Anmolgan81 -- thanks for your question. I'm checking with my sources and will let you know.

[2019-09-28 02:21] TheBrain75 opened #1464 "Credentials"
Regarding...

Question: If I created a live connection, is it secure?

Answer: Yes. Your current Windows credentials are used to connect to the Analysis Services server. You cannot use Basic or stored credentials in either the Power BI service or Power BI Desktop when exploring live.

...

Why no option for alternate credentials, even if not stored?  I have users on a separate domain from my tabul

[2019-09-29 22:39] brianhyn commented on #1386
Same issue. Any updates?

[2019-09-30 07:55] ManonHotte commented on #1455
Hi @maggiesMSFT
Sorry I couldn't answer sooner. Apparently the link now works, so no more problem !
Thank's a lot for your help !

[2019-09-30 14:26] mlongoria opened #1465 "Linking to specific pages or bookmarks"
It appears we cannot link to a specific report page or bookmark when using Publish To Web. I thought we could at one point, but adding the "/ReportSection{GUID}" at the end of a Publish to Web url doesn't work. Could you verify one way or the other and add to the limitations if we can't in fact link to a page or bookmark?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-30 16:18] mgblythe commented on #1462
Hi @RickyMcMaster, thanks for your question. I'm assigning @christianwade to confirm, then I can update docs if necessary.

[2019-09-30 16:20] mgblythe commented on #1463
Thanks for your comment, @MDawg957. I've assigned this issue to the doc author for review.

[2019-09-30 16:22] mgblythe commented on #1464
Thanks for your comment, @TheBrain75. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-09-30 16:22] #1464 closed

[2019-09-30 16:23] mgblythe commented on #1465
Thanks for your comment, @mlongoria. I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-09-30 16:34] maggiesMSFT commented on #1455
Hi @ManonHotte -- glad to hear it! I'll close this issue now. Thanks for letting us know!

[2019-09-30 16:34] #1455 closed

[2019-09-30 17:00] ghost opened #1466 "Permissions not working"
Hi team, the comment below was machine translated.

@LucasCartisano commented on [Fri Sep 27 2019](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/25)

I edited the permissions following the instructions on the page, both at the report level and at the data level it appears that user X has read permission, however when entering with this user the report, each visual object says that it

[2019-09-30 17:02] lichasu commented on #1466
I moved this here because the user says that the instructions did not work for them.

Thanks!

[2019-10-01 01:33] CeciAc opened #1467 "RLS - Does Not Work on Dataset"
@lfalexandre commented on [Mon Sep 30 2019](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/27)

I did the procedure described for RLS security, which works perfectly at the reporting level, however if the user connects via Dataset through Power BI Desktop, the RLS filter does not work and the user has full access to the Set even if he is classified as a Viewer.

Thanks

---
#### Detalh

[2019-10-01 01:35] CeciAc commented on #1467
Hi team,
I moved this here because it may be an issue related with the original documentation
best

[2019-10-01 08:04] mail2vjj opened #1468 "Feature not available anymore!"
This feature is not available in the recent updates of Power BI, hence this page is useless now.
Please let me know if tooltips can still be edited as stated on this page, without having to use Report Page tooltips.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcfbc531-11a6-2543-6c99-d38128af21e4
* Version Independen

[2019-10-01 12:24] pmi777 commented on #162
Hi @maggiesMSFT, Options->Global->Regional Settings  this is missing in Microsoft Power BI Desktop (Optimized for Power BI Report Server), at least tested in last 2 releases, which means May 2019 as well as September 2019

[2019-10-01 15:39] awentzel opened #1469 "Link for App Registration points to "classic" view and should point to the new method"
Existing Link is https://docs.microsoft.com/en-us/power-bi/developer/register-app#using-the-azure-ad-portal although per the Azure Portal should be using the new link for App Registrations in October 19'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edce6995-b777-06fc-49ee-b23eabf6a862
* Version Independent ID: ffd0c

[2019-10-01 18:13] mihart commented on #1468
Thanks for your comment, @mail2vjj . This issue has been assigned to the doc author for review.

[2019-10-01 18:16] mihart commented on #1467
Thanks for your comment, @CeciAc . This issue has been assigned to the doc author for review.

[2019-10-01 18:18] mihart commented on #1466
Thanks for your comment, @lichasu. This issue has been assigned to the doc author for review.

[2019-10-01 18:57] LucasCartisano commented on #1466
Is not a doc issue, is a software error, the program say user has permissions but the user can not wee the reports

[2019-10-02 07:48] ezaviv commented on #1461
Hi daisysim, first Im sorry to hear you could not get any help from any of our customer facing channels, please make sure you are using our community pages to get all the info you need https://community.powerbi.com/
WRT the issue you raised, is this user token you are trying to use for Power BI embedded? if so please follow these docs, (I followed the links you have provided and found reference to

[2019-10-02 09:13] wanajo38 commented on #1355
Hello, I have the last version and I don't see this option too...

[2019-10-02 13:06] daisysim commented on #1461
Hello,

Thank you for your response. I really do appreciate any help you can
provide. A couple of notes to add context to this problem.

1. I'm using Power BI Desktop (not the Power BI, I don't know if that's
making a difference).
2. I'm just trying to log into my Quick Base account, so that I can get my
data there. (Since you offer Quick Base as an Online Service I can 'get
data' from I'm going t

[2019-10-02 13:29] rkarlin commented on #1465
@KesemSharabi can you please look into this?

[2019-10-02 14:56] GitHubRojosoft opened #1470 "Sharing Reports with pro"
When i tried to share reports to another person who isnt in my domain organization the report doesnt reach the destiny.

[2019-10-02 14:58] GitHubRojosoft commented on #1470
Im pro user

[2019-10-02 16:33] N-avi-N opened #1471 "not able to switch between pages"
When I try to move from one page to other by selecting tabs at the bottom , the page remains the same but the tab changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f750471-143b-f0fe-3d92-0bdaaa06dcc1
* Version Independent ID: 66cc67fb-28ff-4a0c-34f0-f688369cc15c
* Content: [Report View in Power BI Desktop - Powe

[2019-10-02 16:40] lichasu opened #1472 "Doesn't work with PowerBi embedded"
@Digit-89 commented on [Wed Oct 02 2019](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/14)

This page is referred by [this one](https://docs.microsoft.com/en-us/dynamics365/portals/set-up-power-bi-integration), but URL parameter filters don't work with PowerBi embedded in a Microsoft Dynamics portal (neither PowerPortal).

---
#### Détails du document

⚠ *Ne pas modifier cette section

[2019-10-02 16:40] lichasu commented on #1472
Hi team, please check this issue.
Thanks!

[2019-10-02 17:09] vinoddamupatil opened #1473 "Export functionality not working after embedding for customers (Apps Owns)"
Hi,

Export functionality not working after embedding for customers (Apps Owns).

We want to export it as same features available in Power BI service such as excel or csv for particular visual.

Is there any solution for embedded reports.

Thanks,
Vinod Patil

[2019-10-02 17:15] rywilli opened #1474 "Host and Connect to Power Platform Data Sources"
I think a major difference between Report Server and the cloud service is the ability to host and connect to Power BI Datasets. Many organizations are looking to use this feature to establish a clean semantic layer and enable self-service reporting. I think it would be useful to call out this limitation of PBI RS on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-02 23:32] davidiseminger commented on #1474
Thanks for your post @rywilli - I've assigned the issue to the author, who will take a look and respond to the post.

[2019-10-02 23:33] davidiseminger commented on #1472
Assigning to the author, who will take a look and comment on the post.

[2019-10-02 23:37] davidiseminger commented on #1471
Hello @N-avi-N - that isn't the expected behavior, and without more information it's difficult to determine why it might be behaving that way. This forum is only for documentation suggestions and questions.
Your best bet for getting help with support issues (or unexpected behavior issues) such as this is to visit the community site at https://community.powerbi.com and ask if others have seen this,

[2019-10-02 23:37] #1471 closed

[2019-10-02 23:37] davidiseminger commented on #1470
Thanks for your comment, @GitHubRojosoft. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-10-02 23:37] #1470 closed

[2019-10-02 23:47] davidiseminger commented on #1468
Hello @mail2vjj and thanks for your post. This functionality is indeed still available in Power BI Desktop, and there are other ways to create custom, specialized tooltips that you can create for specific visuals. Both approaches do indeed work. For more information, please see:

https://docs.microsoft.com/power-bi/desktop-tooltips

[2019-10-02 23:47] #1468 closed

[2019-10-02 23:48] davidiseminger commented on #1463
Thanks for your comment, adding another contact to help sort through your comments.

[2019-10-03 01:11] maggiesMSFT commented on #162
Hi, @pmi777 -- interesting question! I'll check and get back to you.

[2019-10-03 02:07] DaniilMaslyuk opened #1476 "Screenshot"
The screenshot is incorrect. There are actually three options:
1. Capacity default
2. Off
3. On

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13962e5-2d39-a6cd-274c-2317477acc22
* Version Independent ID: 099fe9f8-0c2b-b359-b761-251587a0ab76
* Content: [Query caching in Power BI Premium - Power BI](https://docs.micros

[2019-10-03 13:14] gavinsinclair opened #1477 "workspace list view"
"To access lineage view, go to the workspace list view."

Where is the workspace list view?  Despite having Admin role on a workspace, and a Pro licence, I cannot find it.  How do I reach it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e43c8665-8c3a-3ece-c2cc-593ade6ce37f
* Version Independent ID: 8cffbebb-8e7c-5eae

[2019-10-03 19:19] kenumbc opened #1478 "Sorting using other criteria"
"Sorting using other criteria" seems to be missing a paragraph - it doesn't actually explain how to sort using another field from the dataset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d720907-1bee-2523-b53b-a1f2ffad1bfc
* Version Independent ID: b5a1765e-8008-af99-e82f-4e694fb0c75b
* Content: [Change how a chart

[2019-10-03 22:46] maggiesMSFT commented on #162
Hi, @pmi777 -- got an answer for you!

[2019-10-03 23:32] #162 closed

[2019-10-03 23:53] maggiesMSFT commented on #1476
Hi, @DaniilMaslyuk -- thanks for pointing that out! I'll get it updated.

[2019-10-04 00:13] RayGHeld opened #1479 "The code sample refers to an old version of ADAL"
You need to update this document.  It needs to reference the nuget package for ADAL 5.2.2 and then the code needs changed like so:

    class Program
    {
        private static string token = string.Empty;
        static void Main ( string [ ] args )
        {
            token = GetToken ();

            Console.WriteLine ( token );
            Console.ReadKey ();
        }

        private sta

[2019-10-04 00:19] maggiesMSFT commented on #1477
Hi, @gavinsinclair -- it's the view of a workspace that lists the dashboards, reports, etc. Can you see this image? I can't tell if it's going to show:
![image](https://user-images.githubusercontent.com/12401230/66172701-9b843780-e601-11e9-945d-3ccaa3e48a17.png)
A minute ago, I couldn't see the List view icon either. Try opening Power BI in a new browser. That worked for me.

[2019-10-04 00:38] #1477 closed

[2019-10-04 00:47] maggiesMSFT commented on #1479
Thanks, @RayGHeld ! Assigning to author to take care of this.

[2019-10-04 00:49] maggiesMSFT commented on #1478
Hi, @kenumbc -- thanks for your feedback! Passing it along to the author to investigate.

[2019-10-04 05:12] OmriAvissar opened #1480 "Refine recommendation for DIVIDE use"
The current recommendation is to use the DIVIDE function whenever the denominator is an expression that could return zero or BLANK.

I suggest to add an exception for a BLANK numerator.
i.e: (BLANK() / 0) == (BLANK() / BLANK()) == BLANK()

A common use case is:
COUNTROWS(Table1) / CALCULATE(COUNTROWS(Table1), ALL(Table1[Column1]))
If the denominator is BLANK, the numerator must be also BLANK- So t

[2019-10-04 08:58] pmi777 commented on #162
Hi, @maggiesMSFT, first of all thanks for your attention. I think unified way of working in both versions would be more easy and beneficial, at least with common features that regional setting definitely is. Try to work with PBI desktop optimized which is installed in other language (e.g. Finnish) than you can understand where the only reason for that other language is the correct sorting requirem

[2019-10-04 17:15] maggiesMSFT commented on #1476
Hi, @DaniilMaslyuk -- it's fixed. Change will be live this afternoon. Thanks again!
@KesemSharabi

[2019-10-04 17:15] #1476 closed

[2019-10-04 17:21] maggiesMSFT commented on #1473
Hi, @vinoddamupatil -- is this the article you're referring to?
https://docs.microsoft.com/en-us/power-bi/developer/embedding#embedding-for-your-customers
Assigning to the author of that article to see if they can help.

[2019-10-04 18:45] mgblythe commented on #1480
Thanks for your comment, @OmriAvissar. I've assigned this issue to the doc author for review.

[2019-10-04 19:36] amkumar5 opened #1482 "Please add how to pass parameters t Paginated Reports"
Power BI Report is primary and i want to navigate to Paginated Reports with parameters based on selection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bbba956-a7bf-d125-6db5-07ce9c445a0a
* Version Independent ID: 5703d3a1-cf11-45c3-056c-09774ebbf3b9
* Content: [Create a paginated report for Power BI Report Server -

[2019-10-04 20:48] mgblythe commented on #1482
Thanks for your comment, @amkumar5. I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-04 21:27] amkumar5 commented on #1482
Thanks, Mike

But 80% of the questions in those forums are unanswered. Answers are not marked.
Not much response.
________________________________
From: Michael Blythe <notifications@github.com>
Sent: Friday, October 4, 2019 3:48:47 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: amkumar5 <alakumar@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2019-10-04 21:52] maggiesMSFT commented on #162
Hi, @pmi777 -- thanks for elaborating! This is more feedback for the product than for the docs, right? Can you enter this feedback on the Power BI Ideas site, https://ideas.powerbi.com/forums/265200-power-bi?
Thanks and good luck!

[2019-10-06 08:39] linxurong opened #1483 ". Python script error in Power Query Editor"
When I use python script for power query editor, most of time I faced error as below.
How can I solve this issue.

DataSource.Error: ADO.NET: A problem occurred while processing your Python script.
Here are the technical details: Process must exit before requested information can be determined.
Details:
DataSourceKind=Python
DataSourcePath=Python
Message=A problem occurred while processing your Py

[2019-10-07 07:24] pmi777 commented on #162
Hi, @maggiesMSFT, i consider this as a bug rather than something worth to propose as a brand new idea to have. Anyhow thanks for you attention, however seems a waste of or time.

[2019-10-07 12:59] PoussinBleu opened #1484 "Power BI Desktop of microsoft store mandatory"
Hello,
I have the problem to connect to my oracle database. Unfortunately, all the links to Power BI Desktop redirect to the microsoft store version (even this one :  https://powerbi.microsoft.com/desktop). I do the installation of the oracle client you put at the beginning of the page but nothing changes. Is there another way to have the "non microsoft store" version ?
Regards

---
#### Document

[2019-10-07 16:00] aroach337 opened #1485 "MarkLogic is missing from the supported ODBC drivers above."
MarkLogic DirectQuery is available through ODBC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df452d2e-9a96-a9cb-40a7-830d6282c68b
* Version Independent ID: 1f84e9ab-409e-59fc-d35a-dc66f3d6bcb3
* Content: [Connect to data using generic interfaces in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-

[2019-10-07 21:03] peter-myers commented on #1480
Thanks for the suggestion, we will consider it for a future revision.

[2019-10-07 21:08] peter-myers commented on #1480
#please-close

[2019-10-07 21:08] #1480 closed

[2019-10-07 23:43] davidiseminger commented on #1485
Thanks for letting everyone know, @aroach337 !

[2019-10-07 23:43] #1485 closed

[2019-10-07 23:47] davidiseminger commented on #1484
Sorry for the confusion, @PoussinBleu. You can get the .exe version (the non-Microsoft Store version) at the following link:

https://www.microsoft.com/download/details.aspx?id=58494

You can use the "See download or language options" on the Download page to get to those options.

[2019-10-07 23:47] #1484 closed

[2019-10-07 23:47] davidiseminger commented on #1483
Thanks for your comment, @linxurong . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-10-07 23:47] #1483 closed

[2019-10-08 01:20] ndesousa opened #1486 "Unable to roll up a partition"
I have a quarter partition that is unable to be "closed off" as I keep getting an error message: Cannot write more bytes to the buffer than the configured maximum buffer size: 2147483647. The partition size is 2.2GB

As a result, I get several snapshots of data of the same size at each refresh, which results in a failure, even though a snapshot is being written to my Azure Data Lake Gen 2 account.

[2019-10-08 10:22] RobLW commented on #379
I am using Miniconda (don't want the bloat ware of anaconda) Like all good pythonists, I setup a new environment for my PowerBI and install the modules needed.
However when I try to run a script in powerbi it tells me it is having issues importing ft2font from matplotlib. When I load the python environment in my console I can import it just perfectly fine.

-----
DataSource.Error: ADO.NET: Python

[2019-10-08 10:37] RobLW commented on #379
SOLUTION : Although I use miniconda I'm sure the same is for most on here. Your install most likely has an environment setup. Power BI Desktop, by default, will use the Python.exe found from your system environment variables. So for example in windows 10, I went to "edit system environment variables", and added my python environment to my USERS path variable. Not the system one (which had the defa

[2019-10-08 13:11] nimamaleki opened #1487 "Space"
If there's a space in the field name or table name, you can replace it with _x0020_, according to the OData syntax. I think this can be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Filter a

[2019-10-08 13:12] #1487 closed

[2019-10-08 13:12] nimamaleki commented on #1487
Opened by mistake

[2019-10-08 13:32] sixlead commented on #1386
Try this - https://github.com/microsoft?utf8=%E2%9C%93&q=power+bi&type=&language=

[2019-10-08 15:19] TravisSpomer opened #1488 "Unsubscribing from notifications"
I get a LOT of emails directing me to this page for Power BI documents I've never seen before (I've never used Power BI).  It'd certainly be nice if this page explained how to stop getting notifications.  (Obviously it'd be nicer if I could "unsubscribe" myself from a direct link in the email, but...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-08 18:12] mihart commented on #1486
Thanks for your comment, @ndesousa . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-10-08 18:12] #1486 closed

[2019-10-08 18:13] mihart commented on #1488
Thanks for your comment, @mgblythe . This issue has been assigned to the doc author for review.

[2019-10-08 18:14] mihart commented on #1488
Thanks for your comment, @TravisSpomer . This issue has been assigned to the doc author for review.

[2019-10-08 20:27] MI77 commented on #571
No longer relevant - Desktop and Service were out of parity for a couple of weeks in Jan/Feb but the Feb release of Desktop fixed this.

[2019-10-08 20:28] MI77 commented on #571
#please-close @mgblythe

[2019-10-08 20:28] #571 closed

[2019-10-08 22:40] rburcham commented on #1218
@dodgy99 can you explain what you did?  I also need to invoke an external URL passing parameters.  It would be great if I could do this with a POST, but will be happy to take what I can GET.

@maggiesMSFT do you know if this is possible?

[2019-10-08 22:52] christianwade commented on #1462
It depends on whether the logic can be folded or not. It's not as simple as listing the supported data sources. See [here ](https://docs.microsoft.com/en-us/power-bi/service-premium-incremental-refresh#query-folding)for more info. If you have traced the queries on the source and the date filter logic is being folded (included in the source queries), then you should be good.

[2019-10-08 22:53] christianwade commented on #1462
#please-close @mgblythe

[2019-10-08 22:53] #1462 closed

[2019-10-09 04:15] ramenjosh opened #1489 "Support for Custom Connectors?"
Is it possible to use a custom Data Connector (https://github.com/microsoft/DataConnectors) with Power BI Report Server? There is support in the Power BI service via an on-premises data gateway but I can't see anything for the report server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37efb1d4-b4bb-f035-c63b-1f8b17d

[2019-10-09 08:10] cts14 opened #1490 "Allow color formatting for SSAS Tabular Live Connections as well"
e.g.  General;[Red]-General as custom number format doesn't bring the same result as in excel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a76e2-8d94-5e76-bfb6-971c3b2c7c85
* Version Independent ID: f7bd2111-3bb0-fb08-0f23-a31efd407f66
* Content: [What's new in the latest Power BI Desktop update? - Power BI](https

[2019-10-09 10:14] AnaSeremet opened #1491 "DirectQuery in PBI Service"
It says that 2 sources are available directly in the service: Spark and Azure SQL DWH. Is this information really accurate?  Isn't that possibility deprecated? Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959-696188711efe
* Version Independent ID: d8796367-6bd1-c63c-db86-59eb5a66c213
* C

[2019-10-09 17:54] srigney2142 commented on #1491
@AnaSeremet Thank you for the comment. This issue has been passed on to the original author.

[2019-10-09 17:58] srigney2142 commented on #1490
@cts14 Thank you for your comment. Is your feedback concerning the difference in behavior from Power BI to Excel?

[2019-10-09 18:01] srigney2142 commented on #1489
@ramenjosh Thank you for the comment. This issue has been passed on to the original author.

[2019-10-09 18:34] savoy9 opened #1493 "Dataflows permissions not explained."
The document, and especially this table (https://docs.microsoft.com/en-us/power-bi/service-new-workspaces#roles-in-the-new-workspaces) doesn't detail which roles can read data stored in workspace dataflows into power bi desktop. This also doesn't seem to be detailed in the Dataflows documentation either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-10-09 19:48] poortom1004 opened #1494 "incomplete filter provided"
to get complete data sets, you need to filter by "starts with Power BI" and "starts with Microsoft Power BI" separately, first applying one filter, and then downloading the result, and proceeding to the next filter and downloading the result.  And then you'd have to merge the two data sets together because you can't apply both of those filters at the same time in Azure AD.

---
#### Document Detai

[2019-10-09 19:50] poortom1004 commented on #1494
Oops I only read half of it.  This can be closed because the article has this info already, other than the merging of the two data sets.

[2019-10-09 20:07] CeciAc opened #1495 "Error on running Python script on Power BI--ErrorCode=-2147467259"
Hi team,
I'm moving this here https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/42
because it may be related with the original documentation

@linxurong commented 8 days ago — with docs.microsoft.com
I found a error most of time when I run a python script on Power BI, how to solve this issue

DataSource.Error: ADO.NET: A problem occurred while processing your Python script.
Here are the t

[2019-10-10 02:06] kuehcj opened #1496 "Is highlight supported in Table data mapping?"
The example above used categorical data mapping, but can we use this highlight feature in table data mapping? There is no highlights array when table mapping is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80303b53-8f3f-e9d3-f00c-1316b44432ee
* Version Independent ID: 774a462b-8188-ebaf-ee87-863c4c0947c4
* Cont

[2019-10-10 05:53] cts14 commented on #1490
Hi Robert,

My desired result is to have profit numbers in PowerBI Tabular SSAS LIVE connection to be in red colour when negative. I do know that this is achievable with conditional formatting but I would like it to be across the model not just within a pbix/pbit.

In regards to https://docs.microsoft.com/en-us/power-bi/desktop-custom-format-strings it could be the solution to my problem but it do

[2019-10-10 10:50] bjhulst opened #1498 "url parameter for switching report pages"
Hi,

It is not clear to me how to switch to the other page in the report using a parameter in the report url?
Is it possible and documented somewhere?

[2019-10-10 13:11] zBritva commented on #1026
@SimonSD34, please review the step two on preview article:
https://docs.microsoft.com/en-us/power-bi/developer/custom-visual-develop-tutorial#configuring-data-binding-1

The visual gets value from Power BI.

[2019-10-10 14:17] Sheriseology commented on #1159
Yes, please update.

[2019-10-10 14:21] Sheriseology commented on #1159
Or at least leave a note and link at the top to let readers know that they need to see the update documentation (https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/migrating-to-powerbi-visuals-tools-3-0/) in order to get this to work with the latest version

[2019-10-10 16:02] srigney2142 commented on #1493
Thanks for your comment, @savoy9  I've assigned this issue to the doc author for review.

[2019-10-10 16:04] #1494 closed

[2019-10-10 16:32] srigney2142 commented on #1498
Thank you for your question @bjhulst I took a look at the document you were referring to and I believe I found your answer:

Note in this example URL the bolded section is where the report page value is located:

app.powerbi.com/groups/me/apps/app-id/reports/report-id/**ReportSection**?filter=Table/Field eq 'value&'ctid=ctid

And in the Retail Analysis sample of this document, the overview page wo

[2019-10-10 17:19] bjhulst commented on #1498
That parameter does not seem to have any effect.

[2019-10-10 17:24] srigney2142 commented on #1498
@bjhulst I'm sorry my information did not answer your question. Can you provide more information? It's my understanding that you wanted to know what controlled switching between report pages, such as **Overview** to **New Stores** was this incorrect?

[2019-10-10 17:35] bjhulst commented on #1498
I have a powerbi report with 4 pages using the same dataset. (navigation tabs).
called: tab1     tab2   tab3    tab3.

how to write the url so the webpage of the powerbi report opens on tab2?  or tab3?

And with the query filter parameter?

(message sent via mobile)

[2019-10-10 17:36] bjhulst commented on #1498
and on purpose I put single word names for the tabs to avoid url misinterpretation of spaces and other special characters....

[2019-10-10 17:50] srigney2142 commented on #1498
@bjhulst The value in the url will not necissarily reflect the name you gave to the pages. Might I suggest manually changing between pages and finding the value that changes, that will be the value that determines the visible page.

[2019-10-10 17:54] bjhulst commented on #1498
Manually changing the tabs does not change the url. The javascript code is doing XHR queries to the backend from inside the current page assigned by the navigation carousel widget. I checked that already... 😎

[2019-10-10 18:01] srigney2142 commented on #1498
@bjhulst You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).
I will also assign the doc author to review the documentation.

[2019-10-10 18:14] bjhulst commented on #1498
The community pages do not have info on this topic in detail. Most refer to this document in github... Looks like product support it is.
Thank you for checking this request.

[2019-10-10 18:16] srigney2142 commented on #1496
Thanks for your comment, @kuehcj  I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-10 18:19] srigney2142 commented on #1495
Thanks for your comment, @CeciAc I've assigned this issue to the doc author for review.

[2019-10-11 03:30] vanessayuyo opened #1500 "TimeZone display on the Subscription Email"
The Subscription Email content shows "You’re receiving this email because you subscribed to the '[Page Name]' page of the '[Report Name]' report. The image above was generated at MONTH DAY, YYYY dd:mm UTC."

Is it possible to configure / change the time zone displayed from UTC to other time zone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-11 04:09] saifulhq opened #1501 "Custom sortin"
how developer to managed the sorting? i need to sorting data by code, please give me some article or sample git please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67359639-c02c-0575-28a5-81d63d3aef02
* Version Independent ID: 9994b227-4db7-7f36-6f6f-8160e454d34b
* Content: [Sorting options for Power BI visuals - Pow

[2019-10-11 08:22] bgnichwitz opened #1502 "Use geo-hierarchies so you can drill down to different "levels" of location Not correct?"
It does not work for me to just put multiple columns in location on filled map and it does creat a hierachie. I need to create a hierachie and drag this to location. This seems to be more inutite anyways but this page is not up to date i guess.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735d805a-0981-4f84-12e7-b556

[2019-10-11 09:46] selina00 opened #1503 "does "1G for a dataset" apply to a report or a visual on a report?"
Hello,
Could you specify if "1G for a dataset" applies to a report or a visual on a report?
Because I encountered a scenario that a visual(table) can't display due to "visual has exceeded the available resource" however the other visuals can display.
Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-11 09:55] branchfork opened #1504 "Refresh"
The article says "When you build reports in Power BI Desktop that use custom data connectors, you can use the on-premises data gateway to refresh those reports from the Power BI service.". Can you please confirm whether it's possible to refresh a report that uses a custom data connector without using the data gateway where the custom data source is cloud-based?

---
#### Document Details

⚠ *Do no

[2019-10-11 13:51] rudy365 opened #1505 "Power BI service displays fewer datasets than Power BI Desktop"
I followed the steps in this article and everything works for me, except that when I click Get data &gt; Published datasets in Power BI service, I am seeing fewer datasets than through Power BI Desktop. I validated this in two tenants with two different accounts and with a coworker. Could this be a small defect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-10-11 15:56] cervanta opened #1506 "Division: Integer / Currency --> Currency"
Is this correct?:
For example, if an integer is combined with a currency value in a division operation, both values are converted to _**real numbers**_, and the result is also a **_real number_**.
The chart suggests a Currency

[2019-10-11 21:14] srigney2142 commented on #1502
@bgnichwitz Thank you for the comment. This issue has been passed on to the original author.

[2019-10-11 21:17] srigney2142 commented on #1505
Thanks for your comment, @rudy365 This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-11 21:18] srigney2142 commented on #1506
Thanks for your comment, @cervanta This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-11 21:21] srigney2142 commented on #1503
Thanks for your comment, @selina00 I've assigned this issue to the doc author for review.

[2019-10-11 21:22] srigney2142 commented on #1500
Thanks for your comment, @vanessayuyo I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-11 21:26] srigney2142 commented on #1504
Thanks for your comment, @mattonmicrosoft  I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-11 21:27] srigney2142 commented on #1501
Thanks for your comment, @saifulhq  This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-11 21:29] srigney2142 commented on #1490
Thanks for your comment, @cts14  This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-11 23:02] khregs commented on #1401
The link posted by maggieMSFT above is outdated. Current link:
[https://docs.microsoft.com/en-us/power-platform-release-plan/2019wave2/business-intelligence/planned-features](https://docs.microsoft.com/en-us/power-platform-release-plan/2019wave2/business-intelligence/planned-features)

It would also be helpful if this information was added to the [Paginated Reports in Power BI FAQ](https://docs.mi

[2019-10-14 07:56] luconsta opened #1507 "Minor typo that could change some logic of the explanation"
Hello,

Regarding the 5th scenario: "Nate makes updates to the dashboard and when it's ready, will publish a new version of the content pack." - I think there is a typo in "Julio's" options:

I think it should be:

Kind Regards,
Lucian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d547a10-cdbd-0df0-5173-14531ff0e0a4

[2019-10-14 11:52] PoussinBleu commented on #1484
Thank you !

[2019-10-14 20:08] srigney2142 commented on #1507
Thanks for your comment, @luconsta I've assigned this issue to the doc author for review.

[2019-10-15 11:19] ptacquet opened #1510 "Languages"
French is not supported. E-mails are send in english.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830da8e8-8526-0e6a-d83f-0c804226e006
* Version Independent ID: 3e7b9d31-133d-1b2f-fded-d9218284155b
* Content: [Subscribe yourself and others to reports and dashboards - Power BI - Power BI](https://docs.microsoft.com/e

[2019-10-15 13:32] alexander-korn opened #1511 "Still missing elements"
Hello MS Team, this functionality is a huge help,
unfortunately action buttons and more importantly toggles for visual headers are still missing. When will that be added?
What about custom visual, when will that be fully available for non-standard formatting options?
thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-15 14:17] luconsta opened #1512 "Update docs: Synonyms moved to Properties pane"
Hello,

The docs refering to synonyms should be updated: https://docs.microsoft.com/en-us/power-bi/desktop-qna-in-reports#add-synonyms-to-tables-and-columns: they are no longer available through Relations view\Modeling tab\Language\Synonyms - they are in Modeling view\Properties pane.

I had to google a lot until I found it. :)

Kind regards,
Lucian

---
#### Document Details

⚠ *Do not edit this

[2019-10-15 14:30] #1505 closed

[2019-10-15 14:31] #1506 closed

[2019-10-15 14:32] #1510 closed

[2019-10-15 14:33] davidiseminger commented on #1511
Thanks for your comment, @alexander-korn, and for your nice comments about our Themes feature set. Looks like this is product feedback, however, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.power

[2019-10-15 14:33] #1511 closed

[2019-10-15 14:34] davidiseminger commented on #1512
Thanks for your comment, @luconsta, and sorry for the time you had to spend searching. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-10-15 14:35] #1501 closed

[2019-10-15 14:35] #1490 closed

[2019-10-15 14:49] alexander-korn commented on #1511
Thanks David for your fast response.
Just verifying: Is https://ideas.powerbi.com actually meant to be for addressing incomplete implementation of Microsoft (states of buttons and toggles for visual header)?

[2019-10-15 17:26] UteMan3431 opened #1513 "Cannot use filter with rs:embed=true"
Would love to use a filter along with the embed parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Filter a report using query string parameters in the URL - Power BI](https://docs.microsoft.com/en-us/

[2019-10-15 17:27] jwademcg opened #1514 "Bookmarks Bug - September Release"
This issue doesn't happen for bookmarks on reports published from desktop that I had published before installing the September PBI Desktop.

For September release: appears that the bookmarks (both desktop and personal) are not saving the data for cross highlights on desktop or once published to the service.  It "looks" like it save as in the cross highlights are selected but the data is showing as

[2019-10-15 22:18] srigney2142 commented on #1513
Thanks for your comment, @UteMan3431 This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-15 22:23] srigney2142 commented on #1514
Thanks for your comment, @jwademcg  This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.

[2019-10-16 06:18] adamsorensen93 opened #1517 "RE: Confirming Workspace features that work differently"
Hi there,

I was reading through this document, and I noticed the following dot-point regarding workspace access:

"Users without a Pro license can access the workspace if the workspace is in a Power BI Premium capacity, even if users have only the Viewer role."

However, I've also found that the documentation for Premium capacity seems to indicate that non-Pro users can only access content if it

[2019-10-16 10:32] edfreeman opened #1518 "Is it possible to point to a Dataflow using the new PBIDS file type?"
It's unclear from this page whether Dataflows are supported as a connection for a PBIDS file. I've tried numerous things to try to get it to work, to no avail. There's no mention of connecting to a dataflow in the "Data Source Reference (DSR) format for protocol and address information" link provided, either.

I'm wondering whether Dataflows are classed as a "Blank query" and therefore they aren't

[2019-10-16 15:23] zenzeinet opened #1519 "Link broken for download of Sept-2019 PBID files"
Hi, the links for the downloads of Sept-2019 PowerBI Destkop installation files are broken (404). August are there.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f23670-d83a-dffc-c17a-8cef53d0de7b
* Version Independent ID: 1b63f449-9fbd-3544-bee5-17c70fe55229
* Content: [Previous monthly updates to Power BI

[2019-10-16 17:49] dschlitt opened #1520 "Clarify Report Creator vs. Report Consumer Differences"
After reading this article, I wasn't sure if I could share PowerBI Service reports with data sources using a personal gateway to my computer. I had to search for 3rd party blog posts to confirm that the personal gateway means that only I can manage the data sources and queries, but others in my organization can still view the reports I create.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-10-16 18:00] dschlitt commented on #1520
Just found https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem. The section *On-premises data gateway (personal mode)* has exactly the clarification I was looking for.

[2019-10-16 20:35] srigney2142 commented on #1517
Thanks for your comment, @adamsorensen93 I've assigned this issue to the doc author for review.

[2019-10-16 20:36] srigney2142 commented on #1518
Thanks for your comment, @edfreeman I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-16 20:38] srigney2142 commented on #1519
Thanks for your comment, @zenzeinet I've assigned this issue to the doc author for review.

[2019-10-16 20:39] #1520 closed

[2019-10-16 21:53] sujaynadkarni commented on #52
Thank you!!! Exactly what we were looking for!

[2019-10-16 23:47] stephenjenks opened #1521 "Paginated Reports"
Hi, I am interested in knowing if Paginated Reports are supported or not in PBI Gov Cloud.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-1739cdf7528d
* Version Independent ID: 1e70d724-121d-feea-471e-307c2f27dd24
* Content: [Power BI for United States Government customers - Overview

[2019-10-17 00:38] adamsorensen93 commented on #1517
Thank you for responding. To correct my last statement, I am wondering if non-licensed users can access content in a Premium Workspace, or can they only access the App that the workspace is tied to? Many thanks

[2019-10-17 07:58] bartoszwmalec opened #1522 "Control/Remove table(s) from Q&A scope"
I have raised an Idea on forum in order to give more control over the Q&A tool: https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/38831542-q-a-possibility-to-control-remove-table-s-from

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8e2480-703a-1417-c5d9-8d019669f45a
* Version Independent ID: 17a9f60

[2019-10-17 13:54] edfreeman commented on #1518
Thanks @srigney2142. Couldn't find anything preexisting on the Power BI Community, so I've Just posted the question there as well (https://community.powerbi.com/t5/Desktop/Does-the-PBIDS-file-type-support-a-Dataflow-connection/m-p/820905#M394432).

[2019-10-17 13:59] samsonfr opened #1524 "How does one upload a custom assembly?"
With good old Reporting Services, we simply deployed our custom assemblies to ReportServer bin directory. This page mention the possibility of adding a reference to a custom assembly. If I do and save the report to workspace with a Power BI premium dedicated capacity, I get the error "Error while loading code module". How are we supposed to upload our custom assembly? Otherwise, please remove any

[2019-10-17 14:02] samsonfr opened #1525 "User!Language is always en-US"
Even if I change my browser preferred language or Power BI service UI interface. Is it a bug or it's just not implemented yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1c360a7-58cd-a6a0-4bb8-38825ca73e68
* Version Independent ID: 0a648a26-0120-7dbb-0093-d2051d5732da
* Content: [Expression examples in Power BI Re

[2019-10-18 10:08] erichste opened #1526 ""Color formatting by field value" doesn't work unless Measure type is converted to Text from Modeling menu"
Measures that aren't **Text** type are grayed out when trying to select as a color source.

The documentation misses the step where you need to go to the Modeling menu and select the measure's type as Text so, that this can work.

So,
**Step 1:** You create the measure that returns a color or color code.
**Step 2:** You select the measure from fields list and go to Modelling ribbon and select the

[2019-10-18 14:46] kmanmeet opened #1527 "Project online odata, how to get Task custom fields"
We are trying to connect to Project Online for PowerBI reports. I am able to connect to the following URL to get Tasks, but doesn't show custom fields such as Flag1, Flag2...Flag3
https://<tenantname>.sharepoint.com/sites/pwa/_api/Projectdata//Projects(guid'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx')/Tasks

How can we get the custom fields we use in the project

[2019-10-20 06:01] T511 opened #1533 "instagram"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a082e6-1c36-af62-95b7-69405696764e
* Version Independent ID: 0425ef3a-54b6-3527-6a02-a60642c9d61c
* Content: [Power BI webinars - Power BI](https://docs.microsoft.com/en-us/power-bi/webinars)
* Content Source: [powerbi-docs/webinars.md](https://gith

[2019-10-20 06:01] #1533 closed

[2019-10-21 14:06] trailbla2er commented on #655
Thank you all!
Thanks @lynchmob98 for the last tips!

[2019-10-21 15:22] jboots2 opened #1534 "Conditional formatting in PowerBI Service is responding slow"
We are experience a new issue in Power BI as a Service where our conditionally formatted title for a text box is responding one slicer click late. For example, we have a report where a user selects a new school name from a slicer and the text box title is supposed to respond by showing that school name. When user logs into service and selects "School A" from the slicer, all of the visualizations c

[2019-10-21 16:19] soldstatic opened #1535 "Special Characters in Field Values"
Trying to allow user to filter on some fields, and one field's values contains an apostrophe and ampersand. How do we allow for the values to contain special characters?

PreFilterLink =

var __base = "https://app.powerbi.com/groups/me/"
var __appID = "______"
var __reportid = "______"
var __ctid = "______"
var __ReportSection = "ReportSection______"

var __ResponsibleGroup = if(ISFILTERED(Qualifi

[2019-10-21 16:28] srigney2142 commented on #1522
Thanks for your comment, @bartoszwmalec This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-21 16:31] srigney2142 commented on #1524
Thanks for your comment, @samsonfr I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-21 16:34] srigney2142 commented on #1525
Thanks for your comment, @samsonfr I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-21 16:36] srigney2142 commented on #1526
Thanks for your comment, @erichste I've assigned this issue to the doc author for review. In the meantime, can you provide a little more detail on the issue you raised?

[2019-10-21 16:37] srigney2142 commented on #1527
Thanks for your comment, @kmanmeet This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-21 16:38] srigney2142 commented on #1534
Thanks for your comment, @jboots2 This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-21 16:39] srigney2142 commented on #1535
Thanks for your comment, @soldstatic This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-21 17:04] stephenjenks commented on #1521
Thank you. If I could go one step further, it would be incredibly helpful to have a functionality comparison matrix (or similar) between commercial premium service and the government premium service. Currently, it is very hard to tell when commercial features have been added to the government service. Please let me know if this is already available!

[2019-10-21 17:25] soldstatic commented on #1535
Hi, I disagree. I believe this is a part of the filtering functionality that simply needs to be documented. I'm sure there's an easy way to escape the characters, I'm just not sure what that way is. Thanks though!

[2019-10-21 18:31] srigney2142 commented on #1535
Thanks for your comment, @soldstatic  I've assigned this issue to the doc author for review.

[2019-10-21 19:43] SirWm opened #1537 "Where can I download the House Pricing data?"
Please point me (wharper@otterbein.edu) to where I can download the Key Influencer House Pricing data.  I have googled w/o success.  Thanks!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers vi

[2019-10-21 20:09] #1534 closed

[2019-10-21 20:18] adamwp1993 opened #1538 "SPN is supported with the PowerShell DataGateway Module"
please refrence this doc:
https://docs.microsoft.com/en-us/powershell/module/datagateway.profile/Connect-DataGatewayServiceAccount?view=datagateway-ps

It appears SPN is supported with the DataGateway Module
Can install and manage an On-premises data gateway	Yes	No

Can we update the chart to reflect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-21 20:39] ediazrod opened #1539 "There is any way to get support about this?"
Or this is a best effort maybe run or maybe not software?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Independent ID: df5a9b26-4eb1-a396-1c84-9f3ec6232753
* Content: [Connect to Azure Consumption Insights data in Power BI desktop - Power BI](https://docs.microsoft.com/e

[2019-10-21 20:40] ediazrod commented on #1539
Error, please close

[2019-10-21 20:52] maggiesMSFT commented on #1527
Hi, @kmanmeet -- adding @teddybercovitz to see if he can advise. If not, then yes, you might find a solution in the Power BI Community. If not, try our support page.

[2019-10-21 20:56] ediazrod opened #1540 "There is any support about this"
Some times don't work some times yes, there any way to get support or this is a best effort service?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6932-1edef039548f
* Version Independent ID: b5a9d263-4b72-e566-a53f-5c5e0bebafae
* Content: [Connect to Microsoft Azure Consumption Insights with Power

[2019-10-21 21:07] maggiesMSFT commented on #1535
Hi, @soldstatic -- have you tried using the Unicode for your special characters? Here's the place in the doc that describes how to use Unicode:
https://docs.microsoft.com/en-us/power-bi/service-url-filters#special-characters-in-url-filters
In this Unicode table, https://unicode-table.com/en/#control-character, looks like
& = 0026
and a straight apostrophe:
' = 0027
Does that answer your question?

[2019-10-21 21:09] maggiesMSFT commented on #1525
Hi, @samsonfr -- adding @cmfinlan for comment.
thanks!

[2019-10-21 21:35] cmfinlan commented on #1525
It's not yet implemented.

[2019-10-21 21:42] maggiesMSFT commented on #1525
Thanks for the info, @cmfinlan . Closing this issue.

[2019-10-21 21:42] #1525 closed

[2019-10-21 21:53] maggiesMSFT commented on #1524
Ah, @samsonfr -- good catch! You can’t have a reference to a custom assembly, but you should be able to take the code and embed it into the report.
I'll update the article. Thanks for pointing that out!

[2019-10-21 21:53] #1524 closed

[2019-10-22 03:34] #1309 closed

[2019-10-22 03:59] #1353 closed

[2019-10-22 04:02] mihart commented on #1478
Hi @kenumbc,
I updated the doc to make this more clear. The solution is not something a "consumer" can tackle. They need to contact the report designer to enable sorting by other criteria.  Hope this helps.
Michele

[2019-10-22 04:11] mihart commented on #1454
Hi @kthejoker ,
I've updated the document to remove this limitation.  Thanks for letting me know.
Michele

[2019-10-22 04:11] #1454 closed

[2019-10-22 13:30] soldstatic commented on #1535
Hey y'all! Thanks so much for your help. I've tried that with the _x?_, but it appears to just treat it as part of the string when it's in the variable (which is a string).

For instance, trying to pass the following:
?filter=ServiceCenterHierarchy/Service_x0020_Center in ('F&M','Lee's Summit')&ctid=__

Among many others, I've tried this unicode slant:
?filter=ServiceCenterHierarchy/Service_x0020_

[2019-10-22 21:06] bdmccarty22 opened #1542 "Unable to download"
Is this product still available? I am no longer able to access it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2ce012-0b66-7a2d-2ce0-630f35abdf88
* Version Independent ID: 7d647855-d659-d495-e876-9189a5ba5125
* Content: [Connect to ServiceNow with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/serv

[2019-10-23 00:38] maggiesMSFT commented on #1535
Ah, it's in the value, not in the table or field name. Hmmm. I'll have to get back to you on that.

[2019-10-23 00:40] #1513 closed

[2019-10-23 00:54] maggiesMSFT commented on #1472
Hi, @Digit-89, I'm checking on your question and will get back to you.
Thanks!

[2019-10-23 00:55] #1330 closed

[2019-10-23 00:57] #1371 closed

[2019-10-23 01:07] maggiesMSFT commented on #1331
Hi, @sandramcg -- question for you: Do you have a set of links in a column in a table, or a link or 2 in a text box?

[2019-10-23 01:27] maggiesMSFT commented on #1362
Hi, @ToddChitt -- I'm working on getting an answer for you. Sorry for the delay.

[2019-10-23 10:34] vincentys99 commented on #1535
Hi all,
just a quick solution that I found.
In the value, for '&', you can actually use %26 instead of _x0026_

I'm not sure whether this issue was fixed minutes ago or what.. as I was trying to put # in the value

[2019-10-23 10:38] vincentys99 commented on #1535
@soldstatic
as for your example,
?filter=ServiceCenterHierarchy/Service_x0020_Center in ('F&M','Lee's Summit')&ctid=__

you can write like this,
?filter=ServiceCenterHierarchy/Service_x0020_Center in ('F%26M','Lee%27s Summit')&ctid=__

Let me know if that solves your problem.

[2019-10-23 10:56] vincentys99 commented on #1472
Hi all,
I was trying to figure out how this can be achieved and I found out that if you apply &?filter=........... to the end of the url, it should be working fine.

So it should looks something like this:
<iframe width="800" height="600" src="https://app.powerbi.com/view?r=[abunchofcharacters]&?filter=[TableName/ColName eq 'Value']" frameborder="0" allowFullScreen="true"></iframe>

[2019-10-23 11:13] zBritva commented on #1019
@williamdlupo hello, could you tell the version of powershell on your system?

[2019-10-23 11:16] zBritva commented on #1386
@brianhyn @alexb5dh
The sources of the visuals are listed in GitHub Pages:
https://microsoft.github.io/PowerBI-visuals/samples/

[2019-10-23 12:42] soldstatic commented on #1535
Hey that works great for the &! But it doesn't work for the '. I tried to escape the ' by doing '' as well, but still no dice.
After the page loads this is what's in the URL bar (so it's automatically converting all ' to %27), but I need to escape it somehow.

`?filter=ServiceCenterHierarchy~2FService_x0020_Center%20in%20(%27F%26M%27,%27Lee%27s%20Summit%27)&ctid=__`

[2019-10-23 12:47] sahan91 opened #1544 "Deprecation of Azure Consumption Insights connector"
Hi Team,

We have a client whose Enrollment No and Key will be used to import consumption data into Power BI. At the moment we are using the Azure Consumption Insights connector without any issue. But the new Azure Cost Management connector doesn't work as it requires OAuth 2.0 login to verify the credentials. We, unfortunately, do not have access to an Enterprise Admin account of our client.

My

[2019-10-23 13:09] wechuli opened #1545 "Data Capacity"
"When the dataset is created, the Power BI service automatically creates a new database in the service to store the data. Since there is an underlying database that continues to store the data as it comes in, reports can be created with the data"

How large a data will the push dataset hold and for how long is it retained ?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-23 14:00] vincentys99 commented on #1535
I did some try and error but still unable to escape the apostrophe.
Since I was able to use %22 (double quotes) within the value parameter, I guess the problem might be the two single quotes surrounding the value.

My suggestion would be update on this by using two double quotes instead of single quotes. Although it may restrict to escape the double quotes but come to think of it, how common is it

[2019-10-23 15:35] Digit-89 commented on #1472
It has been silently fixed. It works without modifying anything.

[2019-10-23 15:49] teddybercovitz commented on #1527
+ @Jackie Duong<mailto:jaduong@microsoft.com> - Can you help?

the question is: "

We are trying to connect to Project Online for PowerBI reports. I am able to connect to the following URL to get Tasks, but doesn't show custom fields such as Flag1, Flag2...Flag3
https://.sharepoint.com/sites/pwa/_api/Projectdata//Projects(guid'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx')/Tasks

How can we get the custom

[2019-10-23 15:51] teddybercovitz commented on #1527
The user would need to modify the PBI data tables to import that as well, to extend the dataset to get those custom fields.

________________________________
From: Teddy Bercovitz <Teddy.Bercovitz@microsoft.com>
Sent: Wednesday, October 23, 2019 8:49:09 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>; MicrosoftDocs/powerbi-docs <reply@reply.github.com>; Jackie Duong <jaduong@mi

[2019-10-23 16:13] maggiesMSFT commented on #1472
OK, thanks for letting me know. I'm glad it working now!

[2019-10-23 16:13] #1472 closed

[2019-10-23 16:16] brianhyn commented on #1386
I appreciate the feedback on this thread. What I would like to get is the code for the visuals that MS provides with PBI out of the box, without any modification. From my research, it seems this was once publicly available and perhaps isn't now? Thanks.

[2019-10-23 16:40] maggiesMSFT commented on #1527
Also from @teddybercovitz: "User will need the pbit file for this which he can get from: https://github.com/OfficeDev/Project-Power-BI-Templates"
Hi, @kmanmeet -- hope that helps!

[2019-10-23 16:40] #1527 closed

[2019-10-23 16:52] maggiesMSFT commented on #1544
Hi, @sahan91 -- Assigning to the author of the Azure Consumption Insights connector article, https://docs.microsoft.com/en-us/power-bi/desktop-connect-azure-consumption-insights, but it's really more of a product question. Those are best asked in the feedback forum, https://ideas.powerbi.com/forums/265200-power-bi.
Hope that helps!

[2019-10-23 16:58] maggiesMSFT commented on #1512
Hi, @luconsta --
Oh, so true. Q&A recently underwent a major upgrade, with new docs to go with it, starting with this one: https://docs.microsoft.com/en-us/power-bi/natural-language/q-and-a-intro
I'll be removing or updating the previous docs soon. Thanks!

[2019-10-23 16:58] #1512 closed

[2019-10-23 16:59] maggiesMSFT commented on #1507
Good point, @luconsta ! Will fix shortly.

[2019-10-23 17:40] srigney2142 commented on #1537
Thanks for your comment, @SirWm This looks like a product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-23 17:41] srigney2142 commented on #1538
Thanks for your comment, @adamwp1993 I've assigned this issue to the doc author for review.

[2019-10-23 17:42] #1539 closed

[2019-10-23 17:43] srigney2142 commented on #1540
Thanks for your comment, @ediazrod This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-23 17:44] srigney2142 commented on #1542
Thanks for your comment, @bdmccarty22 I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-23 17:45] srigney2142 commented on #1545
Thanks for your comment, @wechuli This looks like a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-23 20:18] pawhe commented on #1518
Yes it is possible. The protocol is "powerbi-dataflows".
Below is a sample.
Workspace id and dataflow id can be found by clicking on the dataflow in the Power BI web app and looking at the url.
https://app.powerbi.com/groups/<workspace id>/dataflows/<dataflow id>
{
  "version": "0.1",
  "connections": [
    {
      "details": {
        "protocol":"powerbi-dataflows",
        "address":{

[2019-10-23 21:49] g-berthiaume opened #1547 "[Missing] API"
It is now possible to export reports as pdf using the GUI.
I think it would be useful for developers to have a section mentioning how to do it using the PowerBI REST API.
Thanks.

[2019-10-23 23:50] sahan91 commented on #1544
Thanks for your prompt reply @maggiesMSFT Yes, it makes sense to move this question to Power BI feedback community. It would also be beneficial to perhaps add a small excerpt on the Azure Consumption Insights connector's article to in regard to the future deprecation/upgrade plan for existing users. I will wait for @davidiseminger's comments as well. Cheers!

[2019-10-24 00:02] #1507 closed

[2019-10-24 01:19] maggiesMSFT commented on #1500
Good question, @vanessayuyo ! Adding @cmfinlan for his sage reply.

[2019-10-24 02:07] AmnerisMarquez commented on #514
I think the option that you are looking is on "Dashboards Settings"---"Q&A"

[2019-10-24 08:14] klabir opened #1549 "Please update the list of certifed Visuals"
for example, Ultimate KPI Card is missing.
thx
Klaus

[2019-10-24 11:41] mike-the-walsh opened #1550 "Free Account"
Please document to process to try this for free...creating a VM is not at all like this. I have tried with a couple of email addresses to get to the Power BI Report Server on the VM step (https://docs.microsoft.com/en-us/power-bi/report-server/tutorial-explore-report-server-web-portal#power-bi-report-server-on-the-vm) and the desktop is a barebones 2012 server. I also was advised that I was not el

[2019-10-24 12:33] mike-the-walsh commented on #1550
took a while...restarted from VM Panel in Azure...

[2019-10-24 12:33] #1550 closed

[2019-10-24 14:33] cmfinlan commented on #1500
It isn't currently, no

[2019-10-24 16:38] maggiesMSFT commented on #1550
Hi, @mike-the-walsh -- glad to hear it worked out!

[2019-10-24 17:00] maggiesMSFT commented on #1500
Thanks, @cmfinlan .
@vanessayuyo , if you'd like to see this functionality added to the product, go to https://ideas.powerbi.com/forums/265200-power-bi and add it.

[2019-10-24 17:00] #1500 closed

[2019-10-24 17:02] maggiesMSFT commented on #1522
Hi, @bartoszwmalec -- you did the right thing by adding the idea in the forum! Closing this issue

[2019-10-24 17:02] #1522 closed

[2019-10-24 17:04] maggiesMSFT commented on #1521
Thanks, @stephenjenks! Adding @cmfinlan to comment on paginated reports in the government cloud.

[2019-10-24 17:11] srigney2142 commented on #1547
Thanks for your comment, @g-berthiaume In the meantime, can you provide a little more detail on the issue you raised? Which document needs this new information and who is the author?

[2019-10-24 17:12] srigney2142 commented on #1549
Thanks for your comment, @klabir Can you provide a little more detail on the issue you raised?

[2019-10-24 17:20] maggiesMSFT commented on #1493
Great question, @savoy9 ! I'll go find out. Adding @LukaszPawlowski-MS

[2019-10-24 17:37] klabir commented on #1549
https://docs.microsoft.com/en-us/power-bi/power-bi-custom-visuals-certified
on the end of the site, a list of certified visuals is displayed, it miss Ultimate KPI Card  which was recently certified. thx klaus

[2019-10-24 23:09] cmfinlan commented on #1521
It is now available in USGOV Virginia - we are hoping to have it soon in Texas as well.

[2019-10-25 00:01] maggiesMSFT commented on #1521
Updating the article to reflect this info.

[2019-10-25 00:01] #1521 closed

[2019-10-25 00:09] maggiesMSFT commented on #1514
Hi, @jwademcg -- closing this issue. It does indeed look like a support request. I hope you can get it working!

[2019-10-25 00:09] #1514 closed

[2019-10-25 17:16] apfenech opened #1556 "Admin Settings?"
Hello - it's mentioned that the Premium capacity admin can turn this on/off and set the minimum refresh interval but I cannot find this in the admin portal; where are these settings located?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fedb7099-554f-0eed-eaa6-fc13851eb3b1
* Version Independent ID: 8beddbbe-5ebc-60e4-

[2019-10-25 18:25] maggiesMSFT commented on #1549
Hi, @klabir -- thanks for providing more info! Assigning to the author to assess.

[2019-10-25 20:03] stoicmz commented on #1452
Is Row level security and Role level security the same?

[2019-10-28 19:33] srigney2142 commented on #1556
Thanks for your comment, @apfenech  I've assigned this issue to the doc author for review.

 In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-10-28 21:38] CeciAc opened #1559 "Disabled the conditional formatting option for graphics."
The comment below was machine translated

@andersonbernard0 commented on [Mon Oct 28 2019](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/28)

Have there been any changes to the version of Power BI? Conditional formatting options for graphics are no longer enabled.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com

[2019-10-28 22:29] chrisant996 commented on #1488
I get notifications for things I've never heard of, and they send me here.  But it seems that a deeper problem is msit.powerbi.com/sharedwithme says 2,235 items have been shared with me -- there are tons of things I've never heard of, don't care about, and have nothing to do with my job.    Clearly things are organized poorly.

[2019-10-29 03:11] cschmid16 opened #1560 "All permissions no access"
I am the project site administrator.  I am a portfolio manager. I have all access permissions.  Why do I continue to get the error "Access to the resource is forbidden?
![Unable to Connect](https://user-images.githubusercontent.com/45680577/67734700-b911aa80-f9cf-11e9-804a-6d44373e9385.png)
Reference: https://docs.microsoft.com/en-us/power-bi/desktop-project-online-connect-to-data

[2019-10-29 04:43] MungBurger opened #1561 "Unable to create paginated report from power bi dataset."
I've followed instructions above but when I get to posting the DAX query - the designer is not available. If I refresh field i am prompted for credentials. This fails, then the error returned is "Value cannot be null. Parameter name: uriString"
The data source for the Power BI dataset is a direct query to a SQL Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-10-29 12:21] akosiaxis opened #1562 "Supported data sources for query folding in Incremental refresh for Power BI."
Do we have a list of all data sources supported for Incremental Refresh for Power BI?

[2019-10-29 13:06] dtouseullcc opened #1563 "RLS Enforced for All Members"
Are there any future plans to be able to designate that Power BI Desktop Roles to be enforced for ALL users regardless what type of membership they have (i.e. non-read only such as Admin; Member; Contributor in new workspaces).  The lack of this support opens holes/risks for human error.

[2019-10-29 13:54] chayakiran opened #1564 "Analyzed By External Application"
In the Audit Logs, for the Operation of "Analyzed By External Applications", the Dataset ID is missing. Displaying just the Dataset Name that is being analyzed is not sufficient in our org, as we have same dataset name across the Dev, QA and Prod workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-

[2019-10-29 16:57] DucatiV4S opened #1565 "A Bug Still Exists"
There is still a bug which needs to be resolved. You can also reference this post https://community.powerbi.com/t5/Issues/Gateway-data-refresh-fails-when-data-is-merged-from-web-and-on/idi-p/594579

I have my enterprise on-prem gateway data sources all set to "Organizational" I have a SharePoint 365 connection to an Excel file which is also set to "Organizational". I merge (left join) my gateway S

[2019-10-29 19:08] maggiesMSFT commented on #1561
Hi, @MungBurger -- I'll look into this and see what's up. Thanks!

[2019-10-29 19:13] maggiesMSFT commented on #1331
Hi, @sandramcg -- thanks for getting back to me.
Here's a suggestion. Check out this section of this article, https://docs.microsoft.com/en-us/power-bi/power-bi-hyperlinks-in-tables#create-a-table-or-matrix-hyperlink-in-power-bi-desktop -- specifically step 5. You can replace the URL with a little hyperlink icon. Ends up looking like this:
![image](https://user-images.githubusercontent.com/1240123

[2019-10-29 19:14] #1331 closed

[2019-10-29 20:11] maggiesMSFT commented on #1561
Hi, @MungBurger -- just checked. Something's not working, so you need to enter a support case at https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2019-10-29 20:11] #1561 closed

[2019-10-29 20:52] srigney2142 commented on #1560
Thanks for your comment, @cschmid16  This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-29 20:53] srigney2142 commented on #1565
Thanks for your comment, @DucatiV4S  This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-29 20:55] srigney2142 commented on #1564
Thanks for your comment, @chayakiran This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-10-29 20:56] srigney2142 commented on #1563
Thanks for your comment, @dtouseullcc  This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-29 20:57] srigney2142 commented on #1562
Thanks for your comment, @akosiaxis  This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-10-29 21:17] maggiesMSFT commented on #1540
Hi, @ediazrod -- I suggest starting a support ticket at https://powerbi.microsoft.com/en-us/support/.
Hope that helps!

[2019-10-29 21:17] #1540 closed

[2019-10-29 22:52] CeciAc opened #1568 "Does the push dataset support the association of different variable dimensions in the data?"
The comment below was machine translated

@miya898 commented on [Tue Oct 29 2019](https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/48)

As the title, suppose you want to upload multiple variables, but also want to have an association between these variables, like in the database, can you?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a46e4476-1fc8-de9c-dc

[2019-10-30 11:05] Smul1975 commented on #1465
Still waiting for an answer. In the past I could link to a specific report page when using Publish To Web. Now I can't succeed anymore. Is it disabled?
Would be a shame.

[2019-10-30 14:11] steinah6 opened #1569 "How do I format color based on Text values?"
I want to be able to set colors based on Text values, not numeric values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3066fc06-cbb2-def8-1505-cccbb818c147
* Version Independent ID: aedfaa65-1253-f7f0-c0bd-2c89bc0a21f5
* Content: [Tips and tricks for color formatting in Power BI - Power BI](https://docs.microsoft.com

[2019-10-30 15:52] mgblythe commented on #1452
@bfrancom, @stoicmz  - yes these are the same thing in Power BI. It's _role_ based but has the effect of controlling access to specific _rows_.

[2019-10-30 15:52] #1452 closed

[2019-10-30 15:54] mgblythe commented on #1446
@timp3261 -- I believe it does include SE Asia, but including @DavidMagarMS to confirm.

[2019-10-30 15:56] mgblythe commented on #1444
Assigning to @Bhavik-MSFT to see if he has any insight into this.

[2019-10-30 16:06] mgblythe commented on #1437
Assigning to @KayUnkroth to confirm the rewrite:

Power BI limits datasets on shared capacity to eight daily refreshes. If the dataset resides on a Premium capacity, you can perform up to 48 refreshes per day through the UI. There is no limit if you use the API. For more information, see Configuring scheduled refresh later in this article

[2019-10-30 16:12] mgblythe commented on #1414
Assigning to @christianwade to see if he can clarify what's expected here, and we can update the docs.

[2019-10-30 16:15] mgblythe commented on #1303
The doc is incorrect - I'll be updating it shortly. If you already have a free license and you need a pro trial, go into **Settings** (gear icon on the top bar) > **Manage personal storage** and select the **Pro Trial** option.

[2019-10-30 16:15] #1303 closed

[2019-10-30 16:21] chrisweis commented on #1303
Thanks @mgblythe !  Really appreciate you keeping these docs accurate!

[2019-10-30 16:46] klabir opened #1570 "Add Custom Visual API Version supported by Report Server"
we need to know which Custom Visual API shipped with the release

[2019-10-30 17:08] TravisSpomer commented on #1488
![image](https://user-images.githubusercontent.com/16262858/67881115-1fe0b200-fafd-11e9-9a1e-f9ce41985be1.png)

Here's one of six I got all at the same time, all relating to things I don't know anything about.

[2019-10-30 17:11] mgblythe commented on #1488
Does your organization use Power BI? My guess is you're on an email list that is specified in Power BI to receive these types of notifications.

[2019-10-30 17:17] mgblythe commented on #938
We've just cleaned up all the [SSO content](https://docs.microsoft.com/power-bi/service-gateway-sso-overview) as well as simplified the [PowerApps](https://docs.microsoft.com/powerapps/maker/canvas-apps/gateway-reference) and [Flow](https://docs.microsoft.com/flow/gateway-reference) docs. We might do more on Logic Apps and Azure Analysis Services, but closing this one out.

[2019-10-30 17:17] #938 closed

[2019-10-30 17:17] TravisSpomer commented on #1488
Sure.  But I have no way of finding out why I'm getting the emails, or how to make them stop, and the large "Learn more" link points to a page that doesn't include the most important bit of information: how to unsubscribe from the emails.

[2019-10-30 17:28] #942 closed

[2019-10-30 17:44] KKrachmer opened #1571 "Planning a Power BI Enterprise Deployment - needs a refresh"
There is a lot of great information in these whitepapers.  We have heavily referenced the "Planning a Power BI Enterprise Deployment" document.  It is now well over a year old. In Power BI world, that is a long time.  When will it be refreshed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e576bbf-5964-ce92-cb3a-3bbc

[2019-10-30 19:16] mgblythe commented on #1488
Your admin would need to remove your email or list you're subscrbied to from the following dialog ![refresh-email](https://user-images.githubusercontent.com/12448473/67891011-00eb1b80-fb0f-11e9-9e3d-cd6f3a0d3ac6.png)

[2019-10-30 19:35] mgblythe commented on #1488
Thanks @TravisSpomer, I'm adding a section to the doc today to address this issue.

[2019-10-30 19:35] #1488 closed

[2019-10-30 20:01] Bhavik-MSFT commented on #1444
Hi @rogersmj , i assume you are talking about [Query Caching in Premium/Embedded](https://docs.microsoft.com/en-us/power-bi/power-bi-query-caching). We mention in the documentation that we only cache the first page of a report for a security context (including bookmarked state). We also don't cache queries generated by in-report interactions like slicer selections. In your case it seems the slow q

[2019-10-30 22:21] #1444 closed

[2019-10-31 08:03] sandramcg commented on #1331
Thank you so much maggiesMSFT, this has worked perfectly!

[2019-10-31 10:59] SamirFarhat opened #1572 "Provide your Access key to connect page is always blank"
Hi,
Is this page outdated? Is the Connector outdated ?
Everyone is reporting that the Provide your "Access key to connect" Step always shows a blank page.
![image](https://user-images.githubusercontent.com/14938496/67941466-f182d580-fbd5-11e9-9bac-45c0bea7276d.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-31 13:43] Bryand13 commented on #1073
Hello,

Sorry if this is not the right way.  But is there any API or documentation to restart the capacity premium?

Thanks in advance!

[2019-10-31 16:19] maggiesMSFT commented on #1331
@sandramcg -- Yay! That makes my morning.

[2019-10-31 18:29] jtallman commented on #1572
I am experiencing the same from the Power BI service and have a spinning connect button on the Account Key Screen when attempting to connect through Power BI desktop.
![AzureConsumptionInsites Account Key screen](https://user-images.githubusercontent.com/2665982/67975572-9a7b0180-fbd1-11e9-8614-493ad7d618fc.png)

[2019-10-31 22:44] ancibira opened #1573 "Preferred communication method: TCP or HTTPS"
The Power BI enterprise deployment white paper states that TCP is faster than HTTPS, but as of July 2019 the default gateway communication is HTTPS. Can you confirm that TCP is still faster for Power BI?
https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-communication#force-https-communication-with-azure-service-bus

[2019-11-01 20:03] #1560 closed

[2019-11-01 20:07] mgblythe commented on #1564
Hi @chayakiran - if this is a suggestion on how to improve the product, you can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-11-01 20:07] #1564 closed

[2019-11-01 20:07] #1565 closed

[2019-11-01 20:08] #1563 closed

[2019-11-01 20:10] mgblythe commented on #1537
@SirWm - assigning to the author to review.

[2019-11-01 20:12] mgblythe commented on #1545
Thanks @wechuli - I assigned to the author to review and potentially add to the docs.

[2019-11-01 20:13] mgblythe commented on #1562
Assigning to @christianwade to address.

[2019-11-01 20:15] mgblythe commented on #1526
Closing this one out. @erichste - feel free to reopen if you can provide info on what doc you think needs updating for this issue. Thanks!

[2019-11-01 20:15] #1526 closed

[2019-11-01 20:16] mgblythe commented on #1547
Assigning to @KesemSharabi to potentially get the API docs updated.

[2019-11-01 20:18] mgblythe commented on #1559
Thanks @CeciAc. I've assigned this issue to the doc author for review.

[2019-11-01 20:19] mgblythe commented on #1568
Thanks @CeciAc. I've assigned this issue to the doc author for review.

[2019-11-01 20:22] mgblythe commented on #1569
Thanks for your comment, @steinah6. I can't tell whether this is missing from docs or not available in the product - let us know. I'll assign to the author for now, but you can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](htt

[2019-11-01 20:26] mgblythe commented on #1570
Thanks for your comment, @klabir. I'm assigning to one of our authors for review, but can you provide more info on which release you're referring to? Desktop?

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-11-01 20:27] mgblythe commented on #1571
Thanks for your comment, @KKrachmer. I've assigned this issue to the doc author for review.

[2019-11-01 20:29] mgblythe commented on #1572
Thanks for your comments, @SamirFarhat and @jtallman. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-01 20:29] #1572 closed

[2019-11-01 20:30] mgblythe commented on #1573
Thanks for your comment, @ancibira. I've assigned this @arthiriyer to address.

[2019-11-01 20:43] mgblythe commented on #1437
Thanks @frvigano, confirmed that there are no limits for Premium with the API. Docs will be updated later today or early next week.

[2019-11-01 20:43] #1437 closed

[2019-11-01 20:52] mgblythe commented on #1257
As long as you sign into Azure with an account that is also a Power BI admin, you will see the A SKU capacity under Settings->Admin portal->Capacity settings->Power BI Embedded. You can assign workspaces to this capacity as described in this doc: https://docs.microsoft.com/en-us/power-bi/service-admin-premium-manage. You will then be able to test the functionality that Power BI Premium offers with

[2019-11-01 20:52] #1257 closed

[2019-11-01 20:54] mgblythe commented on #1366
There is not trial per se, but you can use an A4 SKU, which is billed hourly, to test functionality. As long as you sign into Azure with an account that is also a Power BI admin (when you create the SKU), you will see the A SKU capacity under Settings->Admin portal->Capacity settings->Power BI Embedded. You can assign workspaces to this capacity as described in this doc: https://docs.microsoft.com

[2019-11-01 20:54] #1366 closed

[2019-11-01 20:55] mgblythe commented on #1379
Yes A SKUs are the right approach for testing. If you use A4, you will then be able to test the functionality that Power BI Premium offers with the exception of broad sharing/consumption for free users.

[2019-11-01 20:55] #1379 closed

[2019-11-01 21:28] mgblythe commented on #1283
The second link to Configure goes to the article about the gateway app. I added the link to the end-to-end gateway scenario: https://docs.microsoft.com/en-us/power-bi/service-gateway-sql-tutorial as step 4. This will go live shortly.

[2019-11-01 21:28] #1283 closed

[2019-11-01 21:31] mgblythe commented on #438
For data refresh, you have to specify the settings again either on the dataset settings page for cloud sources or on the manage gateways page for on-prem sources.

[2019-11-01 21:33] mgblythe commented on #438
We have this info in the overall [refresh article](https://docs.microsoft.com/en-us/power-bi/refresh-data):

Apply the same privacy settings as in Power BI Desktop to ensure that Power BI can generate efficient source queries. Keep in mind that Power BI Desktop does not publish privacy settings. You must manually reapply the settings in the data source definitions after publishing your dataset.

[2019-11-01 21:33] #438 closed

[2019-11-01 21:38] mgblythe commented on #1119
We moved this doc to the generic doc set where we cover the enterprise gateway but not the personal gateway. The [personal gateway article](https://docs.microsoft.com/en-us/power-bi/service-gateway-personal-mode) shows the correct path.

[2019-11-01 21:38] #1119 closed

[2019-11-01 22:00] alparslankaya opened #1575 "ServiceNow App is not showing up?"
When I search for "Service" or "ServiceNow", the app does not appear on the list.  Although when I searched for it the other day, the ServiceNow app was showing up in my search.  Is this app still available or is there another issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2ce012-0b66-7a2d-2ce0-630f35abdf88
*

[2019-11-02 00:16] klabir commented on #1570
hello, yes,which API for Power bi custom visuals is supported in the current release. for example i assume currently it is API 2.6.. but not sure

[2019-11-02 06:49] spatney commented on #1556
@apfenech, they are located under "Workloads" within settings for your capacity.

[2019-11-04 04:58] Anmolgan81 commented on #1366
But the Premium and Embedded capacities are different right?

[2019-11-04 10:35] rkarlin commented on #1479
@KesemSharabi

[2019-11-04 11:35] mssososophie opened #1576 "What's the next step?"
I'd have expected to see a link to docs on how I upload/intergrate this sample template to my own data sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b777f61-d4cf-bc8e-64b5-43c2e695051b
* Version Independent ID: 20c2b71c-b805-b5e1-4de3-f5bc51de91e5
* Content: [Template apps samples - Power BI](https://docs.micro

[2019-11-04 12:23] rkarlin commented on #1469
@KesemSharabi

[2019-11-04 12:24] rkarlin commented on #1465
@KesemSharabi

[2019-11-04 12:26] rkarlin commented on #1461
@ezaviv @maggiesMSFT

[2019-11-04 12:53] rkarlin commented on #1415
@KesemSharabi

[2019-11-04 12:55] rkarlin commented on #1406
@paulinbar

[2019-11-04 12:55] rkarlin commented on #1316
@KesemSharabi

[2019-11-04 12:56] rkarlin commented on #1297
@KesemSharabi

[2019-11-04 12:56] rkarlin commented on #1258
@KesemSharabi

[2019-11-04 12:56] rkarlin commented on #1206
@KesemSharabi

[2019-11-04 12:57] rkarlin commented on #1205
@KesemSharabi

[2019-11-04 12:57] rkarlin commented on #1146
@KesemSharabi

[2019-11-04 12:58] rkarlin commented on #1040
@KesemSharabi

[2019-11-04 12:58] rkarlin commented on #1028
@KesemSharabi

[2019-11-04 12:59] rkarlin commented on #1024
@KesemSharabi

[2019-11-04 15:42] mgblythe commented on #1366
You don't get the ability for free users to share but the A4 SKU should allow you to test out all the other Premium functionality.

[2019-11-04 18:41] Sujata994 commented on #1341
For SAP BW we support all variable types within the limitations of the 3rd party interface provided by SAP. Customer exit variables for example are not supported in the 3rd party interface. We treat Text and Formula types as passthrough, so there’s no special handling, it’ll work if it’s supported by MDX. We don’t support Ranges, Exclude, <, >, <=,.

For SAP HANA we support all variable types with

[2019-11-04 19:57] edhans opened #1577 "On Prem requirements conflicts with Direct Query list"
It seems the On Prem Gateway requirements are for databases in general, but this page is supposed to be about support for Direct Query. MySQL is not supported by Direct Query, but it is listed in the On Prem Gateway requirements, so it is a bit misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3332c2-1973-ba

[2019-11-04 21:41] mgblythe commented on #1575
Thanks for your comment, @alparslankaya. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-11-04 21:43] mgblythe commented on #1576
Thanks for your comment, @mssososophie. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-11-04 21:44] mgblythe commented on #1577
Thanks for your comment, @edhans. I've assigned this issue to the doc author for review.

[2019-11-05 01:05] davidiseminger commented on #1559
Assigning to content owner.

[2019-11-05 03:05] alparslankaya commented on #1575
Thanks Michael

I took a look at the PBI community but this SNOW /pbi app and if it exists or has been pulled is very unclear.  I was hoping we could get a final concise answer. Our online docs says the SNOW app should exist.

Looking forward to hearing from you guys
Thanks!
Alp

From: Michael Blythe <notifications@github.com>
Sent: November 4, 2019 4:42 PM
To: MicrosoftDocs/powerbi-docs <powerbi-

[2019-11-05 04:24] mihart commented on #1349
Hi @phobag ,
I've checked with the shape map PM. The maximum, for now, is 1,500 data points.  The visual is still in Preview and this limitation may increase when the visual comes out of Preview.
Thank you for your question.

[2019-11-05 04:24] #1349 closed

[2019-11-05 05:14] cstork opened #1579 "Needs updating"
This seems out of date: nested hierarchies are an old feature by now. This makes me wonder if the troubleshooting section is also out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a19e5f1-0d56-2e8b-b7eb-2fa9753738d4
* Version Independent ID: db10dca9-4082-e863-a971-adc1bd37e7fe
* Content: [Use inline hierarc

[2019-11-05 08:17] paulinbar commented on #1406
Hi @Hormash. Thank for pointing this out. I am forwarding your comment on to the team that is checking that out. So for now I'll close the issue here.
Thanks for reaching out!

[2019-11-05 08:17] #1406 closed

[2019-11-05 11:28] teddybercovitz commented on #1576
Thanks for the question @mssososophie, could you clarify what did you mean by merging with your own dataset. Is the goal to create your own template app and share in AppSource or refresh it with your own data?
@paulinbar

[2019-11-05 13:30] mssososophie commented on #1576
Under the list titled 'Downloadable Template apps samples' I was expecting to see a link to a page that would help me author those app samples.

I'm a new user of PBI so knowing the next step after downloading those samples would be valuable to me.

you mention in the paragraph at the top 'The Samples are in pbix file format and can be _authored_ with Power BI desktop.' I don't know what specifica

[2019-11-05 19:14] mihart commented on #1559
Hi @CeciAc ,
Thank you for your question.  Conditional formatting is still supported and still in the product. It has moved and you now need to select the three vertical dots next to "Default color".  You can see how to do this by reading powerbi-docs/visuals/service-tips-and-tricks-for-color-formatting.md and scrolling down to the section titled "Base the color of data points on a value".
Hope th

[2019-11-05 19:14] #1559 closed

[2019-11-05 20:22] mcsmith3 opened #1581 "Downloading the PBIX"
Is it possible to make it so the user can download the PBIX files that are created by these?  We have some custom fields and would like to utilize this structure along with them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8a7a22-e258-4da3-4c55-6ddb1085c521
* Version Independent ID: 0b3f2b88-9e73-f4dd-0f21-fe3c156

[2019-11-06 07:47] paulinbar commented on #1576
Hi @mssososophie, you said that you are a new user of PBI. Was your expectation of the sample that it would help you learn how to use PBI Desktop, or were you intending to create a template app, which is a specific kind of thing? I am a documentation person and I'm very interested in your experience and in determining where things went wrong for you and how to address that so that someone like you

[2019-11-06 09:33] Bryand13 opened #1582 "View sharing permissions"
Hi all,

Is there any way to see sharing permissions on, reports, dashboards and apps?

Thanks in advance!

[2019-11-06 11:03] kamikazenaz opened #1583 "Parameters not accepted in Custom Filter"
Needs updating: In the 'Filter Rows' illustration it shows the parameters being selected in the basic setting but I had to go to Advanced to be able to select the set parameters as otherwise it would not accept anything that was not a date.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e14

[2019-11-06 13:43] KesemSharabi commented on #1582
Thanks for your comment, @Bryand13 .

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-06 13:43] #1582 closed

[2019-11-06 13:46] KesemSharabi commented on #1581
Thanks for your comment, @mcsmith3.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-06 13:46] #1581 closed

[2019-11-06 13:56] KesemSharabi commented on #1461
Thanks for your comment, @daisysim.

This looks like a support request or product question rather than documentation feedback.

Please try to look for a solution in our [support page](https://support.powerbi.com) and the [Power BI documentation](https://docs.microsoft.com/power-bi/).

[2019-11-06 14:44] Bryand13 commented on #1582
Thank you @KesemSharabi for your response.

I was meant via API REST or directly with powershell. But i'll try to find the answer in the pages that you mentioned also.

Thank you!

[2019-11-06 14:45] hisathya opened #1584 "Can this connector be used to pull the data given by ACM Exports directly in to PowerBI"
Can this connector be used to pull the data given by ACM Exports directly in to PowerBI  ? In detail, I do not intend to use Exports or APIs and storage account.  I want to pull that Exports data directly into PowerBI may be at subscription level or management group level.

Is that something supported with this connector ?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-06 15:25] KesemSharabi commented on #1584
Thanks for your comment, @hisathya.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-06 15:25] #1584 closed

[2019-11-06 16:51] #1461 closed

[2019-11-06 17:21] isa1821 opened #1585 "R Visuals are not working in Power BI Service"
I created some visuals in Power BI Desktop using R scripts. However, when I published my report, I got the following error in my R visuals: "Script Runtime Error An error occurred while running the script Please try again later or contact support. If you contact support, please provide these details.". Can anyone help me?

[2019-11-06 19:02] jgoleson opened #1586 "Service Principal"
In our situation, when testing this out, we are using an "App Owns Data" web application for our embedded reports. This is accessed through the service principal, so that's the value that shows up when using UserID (Just shows the spn Object ID). How do we get the logged in user and not spn. In the past we used the "CustomData" property to do something similar to pass the user id to an AAS cube. I

[2019-11-06 21:11] paulinbar commented on #1583
Thanks for reaching out to us with your comment, @kamikazenaz! I've assigned this issue to the doc author for review.

[2019-11-06 21:38] paulinbar commented on #1585
Hi @isa1821, thanks for reaching out to us with your question. It looks to me like R Visuals don't display when publishing to the web. See the limitation in this [support article](https://docs.microsoft.com/power-bi/visuals/service-r-visuals#known-limitations). You might also see the comment on the [Power BI Community](https://community.powerbi.com/t5/Service/Publishing-R-visual-into-Power-BI-Serv

[2019-11-06 22:09] Mech-Mind opened #1587 "Avoiding IMPORT data while setting up incremental refresh in context menu"
I understand that IMPORT is required in order to use Incremental Refresh but I do not want to download billions of records via IMPORT to my PBI Desktop just to finish setting it up. When I go to the Incremental Refresh context menu of the table it has everything disabled because it is not set to IMPORT. I'm kind of in a catch-22... How do you get around this setup issue when dealing with a ginormo

[2019-11-06 22:27] #1585 closed

[2019-11-07 14:23] paulinbar commented on #1587
Hi @Mech-Mind, thanks for reaching out to us with your question. Have you looked at either of the following pages? [Using DirectQuery in Power BI](https://docs.microsoft.com/power-bi/desktop-directquery-about) or [Incremental refresh in Power BI Premium](https://docs.microsoft.com/power-bi/service-premium-incremental-refresh
). If you don't find an answer to you question in the documentation, I su

[2019-11-07 14:23] #1587 closed

[2019-11-07 14:30] paulinbar commented on #1586
Hi @jgoleson,  I've assigned your question to the author responsible for the doc you referred to. Thanks for reaching out to us!

[2019-11-07 19:40] juluczni commented on #1537
You can find the dataset on Kaggle :) https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

[2019-11-08 02:05] AldrinL opened #1588 "Minimum data source version for PostgreSQL"
On this doc, it says PostgreSQL aim to be compatible with all currently supported PostgreSQL versions, which means 5 years back. Earlier versions may still work but we don't perform continuous testing on them or commit to resolving issues on them.
https://www.npgsql.org/doc/compatibility.html
7.4 is not supported since 2010.10.1. I think you should change the version to 9.4 which is the oldest sup

[2019-11-08 05:31] mdjaniga opened #1589 "No mention of schedule refresh limitations"
For instance limitation such as refreshes per day by license type should be explained here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a72e523-2194-f53c-9a27-abf960e77851
* Version Independent ID: bdc43737-adc5-b7bf-245e-e065a1478566
* Content: [Configure scheduled refresh - Power BI](https://docs.microsoft.com/en

[2019-11-08 09:06] kishan19 opened #1590 "Exporting answers from Power BI QnA visual/Customizing answers"
Hi, is there any way I can customize the way answers are displayed  from the Power BI QnA visual or access the answer data and send it to an external system in real time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cce1494-8caa-53a4-497b-fbdcd6595a5c
* Version Independent ID: c4f3b927-5eb0-6bd9-3cb2-b366e90da3b3
*

[2019-11-08 10:44] chizhova opened #1591 "DQ row number limit"
Hi team.
We have the following statement in this page: "There is a one-million-row limit for returning data when using DirectQuery. (..) If more than 1 million rows would be returned from DirectQuery, Power BI returns an error."
But it is true for Pro.
For premium we can increase this number (proof) https://powerbi.microsoft.com/es-es/blog/five-new-power-bi-premium-capacity-settings-is-available-o

[2019-11-08 11:35] digital-mining1 opened #1592 "Rephrase a sentence to make it less confusing"
The following sentence
For each of the two Power BI Premium Object IDs collected in step 5, Assign Read, Write, Execute Access and Default ACLs to your powerbi file system.
should be replaced by
For the two Object IDs 'Power BI Premium' and 'Power BI Service', collected in step 5, Assign Read, Write, Execute Access and Default ACLs to your powerbi file system.
[Enter feedback here]

---
#### Docum

[2019-11-08 11:40] digital-mining1 commented on #1592
My issue was already covered in #1384. hence I am closing my issue.

[2019-11-08 11:40] #1592 closed

[2019-11-08 18:27] mgblythe commented on #1583
#reassign @kfollis

[2019-11-08 18:28] mgblythe commented on #1583
#reassign @mgblythe

[2019-11-10 20:01] Betenoir7 opened #1595 "Typo?"
In the 1st line of para 5 in the Strong relationships section following the Note, it says, " For Many-to-many relationships, table expansion takes place from the "many" to the "one" sides by using LEFT OUTER JOIN semantics."

Shouldn't this read "For One-to-many relationships, table expansion takes place from the "many" to the "one" sides by using LEFT OUTER JOIN semantics." ?

---
#### Document D

[2019-11-11 05:45] AmanDaga commented on #1465
Any updates on how could we do this?
Not able to link a specific report page using Embed, only can change the landing page.

[2019-11-11 08:34] zBritva commented on #1386
@brianhyn The sources of core visuals in Power BI Desktop/Service aren't available anymore.

[2019-11-11 08:48] zBritva commented on #1159
Article was updated

[2019-11-11 12:06] KesemSharabi commented on #1547
Hi @g-berthiaume, thanks for your comments. The 'export report to PDF etc.' API will be in public preview in the end of February 2020. The documentation for this feature will also be available around that time.

[2019-11-11 12:06] #1547 closed

[2019-11-11 12:20] KesemSharabi commented on #1206
Hi @LeoFurnari, currently there is no such solution. To use Power BI embedded you need to have a capacity. You can refer to the following article to decide what is the best solution for you - [Frequently asked questions about Power BI Embedded](https://docs.microsoft.com/en-us/power-bi/developer/embedded-faq).

[2019-11-11 12:20] #1206 closed

[2019-11-11 12:25] KesemSharabi commented on #1146
Hi @MicrosoftDocs, thanks for pointing this out! As this is not a documentation question I'm closing the case.

[2019-11-11 12:25] #1146 closed

[2019-11-11 12:31] KesemSharabi commented on #1028
Thanks @danmyhre, currently we are not going to add documented support for this. To answer your questions:

- the types of data sources that can be used in embedded scenarios
   All data types with the exception of paginated reports

- whether or not imported and directquery sources can be used
   Yes, directquery sources can be used

- whether or not gateways can be used with embedded
   Yes, gat

[2019-11-11 12:31] #1028 closed

[2019-11-11 13:12] KesemSharabi commented on #1205
Thanks for your comment, @mlegris.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-11 13:12] #1205 closed

[2019-11-11 16:01] g-berthiaume commented on #1547
Excellent news. Thanks for your reply @KesemSharabi .
I'm looking forward to it.

[2019-11-11 16:10] Matthew-Lewis opened #1596 "OAuth - supported or not?"
The limitations section of this documentation says that "OAuth isn't a supported authentication scheme with the on-premises data gateway."

However, this blog post:

https://powerbi.microsoft.com/en-us/blog/on-premises-data-gateway-october-update-is-now-available-2/

says that OAuth support was added in October 2018.

Does anyone know which is correct?

---
#### Document Details

⚠ *Do not edit th

[2019-11-11 18:49] sjs210 commented on #1356
@maggieMSFT Is there any update on the ability to convert classic to new app workspace? Is it due to rollout this month (NOV 2019?) per https://docs.microsoft.com/en-us/business-applications-release-notes/April19/business-intelligence/planned-features?

[2019-11-11 23:28] hsims19 opened #1597 "This page mis-represents abilities & layouts of visual headers"
This page states that visual headers by default are stationed in line with the title (if the visual has one). This is not accurate. No matter the alignment, size, or presence of a title, the visual header is always positioned above the visual (as is shown above when the visual does *not* have a title. This is incredibly frustrating because I need this capability but the product does not do what yo

[2019-11-11 23:49] davidiseminger commented on #1597
Thanks for your comment, @hsims19 . We’ll take a look at that and get back to you soon. Thanks!

[2019-11-11 23:50] davidiseminger commented on #1596
Thanks for your comment, @Matthew-Lewis . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-11-11 23:51] davidiseminger commented on #1595
Thanks for your comment, @Betenoir7 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-11-11 23:52] davidiseminger commented on #1591
Thanks for your comment, @chizhova . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-11-11 23:53] davidiseminger commented on #1590
Thanks for posting @kishan19  – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button

[2019-11-11 23:53] #1590 closed

[2019-11-11 23:54] davidiseminger commented on #1589
Thanks for your comment, @mdjaniga . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-11-11 23:55] davidiseminger commented on #1588
Thanks for your comment, @AldrinL . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-11-12 00:06] hsims19 commented on #1597
Hi David,

I found the issue is my screen resolution. If I fit to page and have the left hand toolbar open, it squeezes the visual header to the top. If I put the report on my external monitor, it behaves as expected. However, given that I cannot anticipate how my users will be viewing this report, their screen size, etc, this still means I still consider this a bug that I have to design around wi

[2019-11-12 08:42] KEID07 opened #1598 "[OOS]Excel workbook failed to open on powerbi report server WEB portal"
**Problem:**
After my excel workbook is opened, the powerbi report server displays a blank page, and the page prompts: "< my internalurl > take too long to respond."

**Background information:**
I have two servers, both of which use Windows Server 2012 R2 system.
They are all in the same domain.
One (A) is domain controller, and the other (B) has office online server and powerbi report server inst

[2019-11-12 09:19] jayendranarumugam commented on #1538
Hi @adamwp1993

I tried like below but getting the error. Could you please explain how you get connected using the SPN ?

[code]

Error is

[2019-11-12 10:51] geeliano opened #1599 "How can we get weekly data?"
We need to have a powerbi dashboard either with daily or weekly cost but all this connector seems to show is months total. Is information missing and there is some way to get weekly data or is the feature not available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Indepe

[2019-11-12 12:33] peter-myers commented on #1595
Thanks for picking up the typo! The fix will appear shortly.

[2019-11-12 13:11] NorbertoAlves opened #1600 "The second part of this article maybe is outdated"
When I had attempted to Validate the role within the Power BI service, I couldn't relate people to the security roles created because there is a message that this feature has been moved to Power BI Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 340

[2019-11-12 17:54] AKA-TDickerson opened #1601 "Convert existing workspaces to the new workspace experience"
When will it be possible to convert an existing workspace to the new workspace experience?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc6d87fe3fd
* Content: [Organize work in the new workspaces in Power BI - Power BI](https://do

[2019-11-12 18:43] v-maudel opened #1602 "PowerBI RS Download link: please update to the latest Download link"
@arcus4 commented on [Tue Nov 12 2019](https://github.com/MicrosoftDocs/powerbi-docs.de-de/issues/10)

https://www.microsoft.com/download/details.aspx?id=56722 is an older version of PowerBI RS.
Pls update to the latest Download link https://www.microsoft.com/en-us/download/details.aspx?id=57270

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von doc

[2019-11-12 19:43] mihart commented on #1598
Thanks for your comment, @KEID07 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-11-12 19:43] #1598 closed

[2019-11-12 19:45] mihart commented on #1599
Thanks for your comment, @geeliano . This issue has been assigned to the doc author for review.

[2019-11-12 19:46] mihart commented on #1600
Thanks for your comment, @NorbertoAlves . This issue has been assigned to the doc author for review.

[2019-11-12 19:47] mihart commented on #1601
Thanks for your comment, @AKA-TDickerson . This issue has been assigned to the doc author for review.

[2019-11-12 19:47] mihart commented on #1602
Thanks for your comment, @v-maudel . This issue has been assigned to the doc author for review.

[2019-11-13 05:34] DanielJBrown opened #1603 "Are we supposed to create an "Application Security Group" or a plain old group?"
This link for "security group in Azure Active Directory (AAD)" in the following section above...
2. Recommended - Create a security group in Azure Active Directory (AAD), and add the application you created to that security group. You can create an AAD security group with PowerShell.
Takes me to
https://docs.microsoft.com/en-gb/azure/active-directory/fundamentals/active-directory-groups-create-azu

[2019-11-13 06:52] NickyvVr opened #1604 "On-demand refresh incorrectly mentioned"
At paragraph https://docs.microsoft.com/en-us/power-bi/refresh-data#data-refresh it says (which is correct in my opinion):
On-demand refreshes are not included in the refresh limitation.
But in paragraph https://docs.microsoft.com/en-us/power-bi/refresh-data#configure-scheduled-refresh it says:
On-demand refreshes don't affect the next scheduled refresh time, but they count against the daily refre

[2019-11-13 12:31] KesemSharabi commented on #1297
Hi @sachatomey,

Thanks you for your feedback, I have forwarded your request to the relevant project manager. We will look into adding technical information to the SKU list in this article.

[2019-11-13 12:31] #1297 closed

[2019-11-13 13:37] KesemSharabi commented on #1258
Hi @Synikx,

The article does need some updating, and I will be working with the team to update it.

In the meantime, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-13 13:37] #1258 closed

[2019-11-13 13:42] KesemSharabi commented on #1024
Hi @Athimoolaganesh,

Thanks for the information. We will review this article and amend it if needed.

In the meantime, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-13 13:42] #1024 closed

[2019-11-13 13:48] JJDE opened #1605 "please upvote: #PowerBI #Idea Composite models when connected to SQL Server Analysis Services Tabular (SSAS)"
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/34922932-composite-models-when-connected-to-sql-server-**bleep

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dffd6b4-434b-868e-56fe-a0f53fb655a1
* Version Independent ID: 894f109f-c20b-c9f3-0e42-f6980d454075
* Content: [Use composite models in Power B

[2019-11-13 13:55] KesemSharabi commented on #1605
Thanks for your comment, @JJDE.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-11-13 13:55] #1605 closed

[2019-11-13 13:59] KesemSharabi commented on #1604
Thanks for catching that issue, @NickyvVr! I've assigned this issue to the doc author for review.

For future reference - you can also edit articles directly:

1. Select the Edit pencil icon at the top of the article, then select the little Edit pencil in GitHub.
2. Make your change, scroll to the bottom, and select Propose file change.

The change is then sent directly to the writer, who will sig

[2019-11-13 14:12] KesemSharabi commented on #1604
Closed by mistake. Now reopened.

[2019-11-13 14:20] KesemSharabi commented on #1603
Thanks for your comment, @DanielJBrown. I've assigned this issue to the doc author for review.

[2019-11-13 14:40] louissalome opened #1606 "French regions"
Much appreciated updates on shape maps with new Europeans countries !
About France, the French parliament passed a law reducing the number of metropolitan regions from 22 to 13 effective 1 January 2016. It would be great to have this up-to-date division otherwise our visualizations look outdated.
PS : There is a mispelling in the id "Ile-del-France" -> "Ile-de-France".

[2019-11-13 16:52] CeciAc opened #1608 "Power BI Licensing"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.ru-ru/issues/8

The comment below was machine translated

@TimTacko commented 1 hour ago — with docs.microsoft.com
On the page, in the line "License" it is indicated that the product "Power BI Report Server" requires SQL Server EE with the rights of a system administrator. I believe that there is a translation error, in

[2019-11-13 16:52] mihart commented on #1326
Hi @MichaelDotEarly ,
Wanted to let you know that the limitation has been removed from the documentation.  Thank you for letting us know.

[2019-11-13 16:52] #1326 closed

[2019-11-13 18:30] mgblythe commented on #1569
#please-close

[2019-11-13 20:46] pouyanebrahimi commented on #1495
Did you get answer for this issue?

[2019-11-13 22:07] otarb commented on #1495
Are there any more details about environment or when this happens?

Which version of Python is being used
In which cases does this happen, preferably a script that reproduces the error

[2019-11-14 00:04] DavidMagarMS commented on #1446
yes it includes Southeast Asia.
an up to date view is always available in the trust center:
https://www.microsoft.com/en-us/TrustCenter/CloudServices/business-application-platform/data-location

[2019-11-14 00:08] otarb commented on #1041
@ArvidBaa to be able to use Python (or R) as data-source in the service, you need to set up a personal gateway

For more information check out this article [Use personal gateways in Power BI](https://docs.microsoft.com/en-us/power-bi/service-gateway-personal-mode)

Information about this is also mentioned at [Using Python in Query Editor](https://docs.microsoft.com/en-us/power-bi/desktop-python-in

[2019-11-14 00:08] otarb commented on #1041
#please-close @otarb

[2019-11-14 00:08] #1041 closed

[2019-11-14 00:11] mgblythe commented on #1446
Thanks @DavidMagarMS, closing this one out.

[2019-11-14 00:11] #1446 closed

[2019-11-14 00:12] otarb commented on #846
@j-staab you should be able to refresh Python data sets in service using personal gateway. Python support is not longer a preview feature.

For more information check out this article [Use personal gateways in Power BI](https://docs.microsoft.com/en-us/power-bi/service-gateway-personal-mode)

[2019-11-14 00:12] otarb commented on #846
#please-close @otarb

[2019-11-14 00:12] #846 closed

[2019-11-14 00:21] otarb commented on #379
@XavierParedes currently we don't allow selecting custom executable, but that is something we might consider doing in the future. thanks for suggestion! in the meantime, if python environment requires some steps to be ready, we suggest calling those steps in the script itself.

@RobLW In the options tab, under Python scripting, you are able to see exact folder path from which PowerBI will try to c

[2019-11-14 00:22] otarb commented on #379
#please-close @otarb

[2019-11-14 00:22] #379 closed

[2019-11-14 03:02] pouyanebrahimi commented on #1495
@otarb
The python version is: wWinpython64-3.7.4.0
The PowerBi version is: Power BI Desktop (September 2019)

This is what I have done:
1. loading a csv file into Power BI
2. then, home>Edit Querries> this will open a new window. In this window, I went to Transform> Run Python Script > after choosing that, a new window opens that I am supposed to write a python code. I tried different options such

[2019-11-14 03:09] maggiesMSFT commented on #1575
Hi, @alparslankaya -- you're right. The ServiceNow app is no longer available. I recommend going to https://ideas.powerbi.com/forums/265200-power-bi to express your interest in it.
thanks!

[2019-11-14 03:09] #1575 closed

[2019-11-14 03:09] maggiesMSFT commented on #1542
Hi, @bdmccarty22 -- you're right. The ServiceNow app is no longer available. I recommend going to https://ideas.powerbi.com/forums/265200-power-bi to express your interest in it.
thanks!

[2019-11-14 03:09] #1542 closed

[2019-11-14 03:16] maggiesMSFT commented on #1606
Hi, @louissalome -- thanks for the feedback! Clearly you are referring to a specific article, but I'm not seeing that info. Could you specify?
thanks!

[2019-11-14 08:51] louissalome commented on #1606
Sorry, this is about powerbi-docs/powerbi-docs/visuals/desktop-shape-map.md section "France: Regions"

[2019-11-14 08:58] peter-myers commented on #1595
#please-close

[2019-11-14 08:58] #1595 closed

[2019-11-14 10:40] DaveRuijter commented on #1162
I hope I can reopen this issue? This is actually a legit question that should be addressed on this documentation page.
"How do we set Power BI as a trusted service, or which IP range should we permit through the firewall?"

[2019-11-14 11:09] davesides opened #1610 "Broken Link"
Clicking on "Differences between OLAP and non-OLAP PivotTables in Excel" leads to page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae990a42-30ce-e2cd-ef81-b2caba935050
* Version Independent ID: cd6b2f01-2ab8-bd8e-67a5-29a8f1ce3555
* Content: [Troubleshooting Analyze in Excel in Power BI Desktop - Power BI

[2019-11-14 12:24] KesemSharabi commented on #1469
Hi @awentzel,

Thank you for pointing this out.

I fixed the link in the [Using the Azure AD portal](https://docs.microsoft.com/en-us/power-bi/developer/register-app#using-the-azure-ad-portal) section of the [Register an Azure AD application to use with Power BI](https://docs.microsoft.com/en-us/power-bi/developer/register-app#using-the-azure-ad-portal) article.

Now it is pointing to the new Azur

[2019-11-14 12:24] #1469 closed

[2019-11-14 12:43] KesemSharabi commented on #1570
Hi @klabir,

Power BI RS September 2019 supports API 2.6.0.

To the best of my knowledge, Power BI RS May 2019 also supports API 2.6.0.

[2019-11-14 12:43] #1570 closed

[2019-11-14 12:44] KesemSharabi commented on #1549
Hi @klabir,

I'm looking into this and will update you shortly.

[2019-11-14 12:57] paulinbar commented on #1610
Thanks for pointing this out to us @davesides . I've assigned this issue to the doc owner to be looked into.

[2019-11-14 13:04] paulinbar commented on #1606
Thanks for your comment, @louissalome . This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-11-14 13:52] KesemSharabi commented on #1337
Hi @MarchukNic and @CeciAc,

The document was fixed to include the 'visual.ts' file.

[2019-11-14 13:52] #1337 closed

[2019-11-14 13:54] KesemSharabi commented on #1281
Hi @suvratrai

We are working to improve this document and are hoping to have a revised version by the end of the month.

[2019-11-14 13:59] KesemSharabi commented on #1019
Hi @williamdlupo

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-14 13:59] #1019 closed

[2019-11-14 14:11] KesemSharabi commented on #1386
Thanks for your comments, @alexb5dh and @brianhyn.

If you require further support besides what was listed above, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-14 14:11] #1386 closed

[2019-11-14 14:15] KesemSharabi commented on #1159
Thanks @sslezic, @JameshMSFT, @djohansen01, @voidrealm and @Sheriseology.

Now that the article was updated, I'm closing this case.

[2019-11-14 14:15] #1159 closed

[2019-11-14 15:51] dhawal16 opened #1611 "Can you please keep updating the available regions updates here too."
Team,

We are seeing https://powerbi.microsoft.com/fr-fr/blog/new-power-bi-regions-in-france-and-in-korea/
which is not updated here, can you please do the needful.

Thanks,
Dhawal Mehta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae590-933f-bf65-888e-03dbf0ddc252
* Version Independent ID: ae8f54bb-5fdb-a071-528d

[2019-11-14 17:12] kfollis commented on #1341
#please-close

[2019-11-14 17:12] #1341 closed

[2019-11-14 17:23] maggiesMSFT commented on #1606
Hi, @louissalome -- thanks for clarifying!

[2019-11-14 17:30] Betenoir7 opened #1612 "Typo contained in white paper"
In para 1 on page 5 it says: "If John and Jane each contribute $100 to their account..."

For the example being used to make sense, the word "each" shouldn't be there.

It should read, "If John and Jane contribute $100 to their account..."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7bffc1-7691-53e6-c582-c17b3f4c0

[2019-11-14 17:37] maggiesMSFT commented on #1611
Hi, @dhawal16 -- thanks for your comment! Assigning to the author to take care of it.

[2019-11-14 17:41] maggiesMSFT commented on #1608
assigned to myself to write out 'Software Assurance.'

[2019-11-14 18:41] klinejordan opened #1613 "What does the * mean next to some theme classes?"
The doc shows * next to multi row card title and reference line labels but doesn't explain what that is (unless I'm missing an explanation)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use Report Themes in

[2019-11-14 21:10] pouyanebrahimi commented on #1495
@CeciAc, @srigney2142 , @otarb
Do you have any thought on this subject? Please share if you do.

[2019-11-14 22:30] MI77 commented on #1463
We fixed a couple of bugs in this area with the November release. This scenario should work now.

[2019-11-14 22:30] MI77 commented on #1463
#please-close

[2019-11-14 22:30] #1463 closed

[2019-11-14 22:37] MI77 commented on #1467
A user with edit permissions in a workspace will always be able to see the whole dataset (they could download the pbix and see all the data as well). If workspace members just have view permissions the RLS rules should be applied. Is it possible that test user is in a group that gives them edit permissions? If you're confident that they don't have edit permissions, please file a support ticket for

[2019-11-14 22:37] MI77 commented on #1467
#please-close

[2019-11-14 22:37] #1467 closed

[2019-11-14 22:56] mihart commented on #1606
Hi @louissalome,
I'm updating the article for the new regions. Do you have any pointers to the official ID, name, and name-en for the new regions?

[2019-11-14 22:57] mihart commented on #1569
Thanks for your comment, @steinah6 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-11-14 22:57] #1569 closed

[2019-11-14 23:35] otarb commented on #1495
@pouyanebrahimi

make sure that python installation selected in options page is what you expect
![image](https://user-images.githubusercontent.com/17887981/68904838-c929c980-06f3-11ea-9323-9108e3782c0f.png)

you can also try using python.exe (from your installation folder, selected in the dropdown above) outside PowerBI to make it's sure that issue is not with your python installation

alternative

[2019-11-14 23:53] gminoza commented on #964
Hi All, looks like this is still an issue as of 11/14/19.  Any ETA on fix?

[2019-11-15 01:33] linxurong commented on #1495
Thanks for all your help.&nbsp;
I uninstall and re-install the python, then problem solved and it work properly.&nbsp;

Best Regards
Sean Lin

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Otar Bichiashvili"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月15日(星期五) 上午7:35
收件人:&nbsp;"MicrosoftDocs/powerbi-docs"<powerbi-docs@noreply.github.com&gt;;
抄送:&nbsp;"Sean"<linxurong

[2019-11-15 02:06] otarb commented on #1495
happy to hear that

closing the issue since problem is resolved

[2019-11-15 02:06] otarb commented on #1495
#please-close

[2019-11-15 02:06] #1495 closed

[2019-11-15 02:09] pouyanebrahimi commented on #1495
@otarb
LoL I have not fix issue yet! @linxurong  is another user!
Since I am using the company labtop, I am not able to uninstall and reinstall the python. I should fill some request.

[2019-11-15 02:19] otarb commented on #1495
Issue was originally opened for @linxurong, and that problem is now resolved

If you feel like you have similar, but still a different problem, please file a separate issue.

In the meanwhile, based on the information you gave me, it's a problem with your Python installation, or way your environment is set up. If for your python environment to be ready, you have run some extra steps (few distribut

[2019-11-15 19:02] chrisjstanley opened #1614 "Access without Enrollment or Billing ID"
As a subscription owner and cost contributor without Enrollment or Billing ID there is no way to connect to the data available in the Azure Cost Management. Would like to see Subscription ID be used in addition to Enrollment or Billing ID.

[2019-11-15 20:05] CeciAc opened #1615 "Problema No se ha configurado la referencia del objeto"
@akelazr commented on [Fri Nov 15 2019](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/26)

In this page is indicate as solution to the problem "Object reference not set" when connect to an Oracle DB . Copy oraons.dll but don´t specify the destination. Where should i copy this file?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vincul

[2019-11-16 02:28] maggiesMSFT commented on #1608
@CeciAc -- Done. Thanks!

[2019-11-16 02:28] #1608 closed

[2019-11-16 02:31] maggiesMSFT commented on #1613
Hi, @klinejordan -- I see what you mean. Assigning to the author to clarify. Thanks!

[2019-11-16 03:28] maggiesMSFT commented on #1614
Hi, @chrisjstanley -- this sounds like product feedback, not content feedback. Could you enter it at https://ideas.powerbi.com/forums/265200-power-bi?
Thanks!

[2019-11-16 03:28] #1614 closed

[2019-11-16 03:31] maggiesMSFT commented on #1615
Hi, @CeciAc and @akelazr  -- Thanks for asking! Passing your question to the author of the article.

[2019-11-16 03:37] maggiesMSFT commented on #1602
@arcus4 - you're right! Thanks for the reminder. I'll fix it.

[2019-11-16 13:08] otravers opened #1616 "Refresh frequency with Import"
This page states that "Models with Imported data can be refreshed at most once per hour", but this is not accurate as dataset refreshes can be done within smaller intervals, depending on whether you have Pro or Premium, and what you use to trigger the refreshes (Power BI service UI, PowerShell/API, or Power Automate).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-11-17 06:02] KesemSharabi commented on #1496
Hi @kuehcj,

Thanks for your question. As far as I understand, table data mapping doesn't support highlights.

I am double checking and will add a note in the article after I get confirmation.

[2019-11-17 06:26] KesemSharabi commented on #1479
Hi @RayGHeld,

Thanks for pointing this out.

I'm checking the code with the developers and will update you shortly.

If the code is incorrect, we will update the document accordingly.

[2019-11-17 07:03] KesemSharabi commented on #1465
Hi @mlongoria,

Thanks for bringing this issue to our attention. I'm checking with the relevant team and will get back to you as soon as I get an answer.

[2019-11-17 07:18] KesemSharabi commented on #1415
Hi @Mike-Honey,

Thanks for bringing this to our attention.

I'm looking into the issue and will ask the article owner to update it shortly.

[2019-11-18 02:12] chris-han opened #1617 "Can you provide the sample dataset to reproduce this tut?"
It's much easier for users to learn from hands-on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919f51d-8623-b039-a1fc-0df774225c46
* Version Independent ID: 0376c331-0f7e-ec9b-6262-f47a6c413d47
* Content: [Decomposition tree - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-decomp

[2019-11-18 05:22] KesemSharabi commented on #1473
Hi @vinoddamupatil,

The export functionality should work when using the embedding for customers solutions.

Your question looks like a support request rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-11-18 05:22] #1473 closed

[2019-11-18 07:25] yihjyh opened #1618 "Unable to see Edit Variables"
[Enter feedback here]
It is exciting to know now users can edit the SAP variables in Power BI Service, however, when I tested with one sample dashboard which connect to a SAP Hana view with variables, the option of "Edit Variables" is not showing up.
I have done both: wait for more than 5 minutes, and manually refresh the report but to no avail.
The settings for DirectQuery > Allow end users to ch

[2019-11-18 10:04] M4RKLY commented on #1617
As above please - the tutorial describes two datasets but doesn't provide them or the instructions for that part...

[2019-11-18 16:29] iLikeAzureSQL opened #1619 "This Contnet is not availble error"
After publishing to public and using the URL I'm getting this error

This content is not available
Learn more about PowerBI

How can I debug ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web fro

[2019-11-18 18:38] stunugun opened #1620 "Row limit for direct query"
To test the row limit, i created pbix file with direct query to a table which has 2 million rows which has an ID column.. I was able to browse the data in Power BI Services... Table Visualization all the 2 million records, so I am confused as what is meant by Direct query Row limit of 1 million.

[2019-11-18 20:40] dlmotter commented on #1024
This issue has been reported multiple times, but MS just diverts to the (totally useless) PBI Community page. If you are like me and having this issue, you may have luck with https://www.c-sharpcorner.com/article/how-to-get-access-token-for-powerbi-embedding-in-net-core/

I did not write and have no affiliation with that site - it's just the solution that worked for me.

[2019-11-18 20:40] dlmotter commented on #478
This issue has been reported multiple times, but MS just diverts to the (totally useless) PBI Community page. If you are like me and having this issue, you may have luck with https://www.c-sharpcorner.com/article/how-to-get-access-token-for-powerbi-embedding-in-net-core/

I did not write and have no affiliation with that site - it's just the solution that worked for me.

[2019-11-18 20:40] dlmotter commented on #195
This issue has been reported multiple times, but MS just diverts to the (totally useless) PBI Community page. If you are like me and having this issue, you may have luck with https://www.c-sharpcorner.com/article/how-to-get-access-token-for-powerbi-embedding-in-net-core/

I did not write and have no affiliation with that site - it's just the solution that worked for me.

[2019-11-18 21:47] mcollis2 opened #1621 "Budgets table error"
When using this cost management data source, there is an error on the Budgets Table:
Expression.Error: The column 'budgetAmount' of the table wasn't found.
Details:
    budgetAmount
This prevents automatic refresh of data even if not using budgets when publishing to power bi workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-19 02:37] HashamNiaz opened #1623 "Stripe (Beta)"
Stripe (Beta) is no longer available after Nov 2019 updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-61f0-de544ae9e959
* Content: [Data sources in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-data-s

[2019-11-19 16:48] mihart commented on #1623
Thanks for your comment, @HashamNiaz . This issue has been assigned to the doc author for review.

[2019-11-19 16:50] mihart commented on #1621
Thanks for your comment, @mcollis2 . This issue has been assigned to the doc author for review.

[2019-11-19 16:51] mihart commented on #1620
Hi @stunugun, please let us know which article you are referencing.

[2019-11-19 16:52] mihart commented on #1619
Thanks for your comment, @iLikeAzureSQL . This issue has been assigned to the doc author for review.

[2019-11-19 16:54] mihart commented on #1618
Thanks for your comment, @yihjyh . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-11-19 16:54] #1618 closed

[2019-11-19 16:55] mihart commented on #1617
Thanks for your comment, @chris-han and @M4RKLY . This issue has been assigned to the doc author for review.

[2019-11-19 16:56] mihart commented on #1616
Thanks for your comment, @otravers . This issue has been assigned to the doc author for review.

[2019-11-19 19:16] mcollis2 commented on #1621
This is being tracked here too:
https://community.powerbi.com/t5/Service/Failed-to-update-data-source-credentials-The-column-budgetAmount/td-p/833839
I can't post because of organizational policies.  Its a problem with the loading of the budgets table on the cost management source.

[2019-11-19 19:35] CeciAc opened #1624 "The database does not correspond to the explanations"
The comment below was machine-translated

@ChristopheRpp commented on [Fri Nov 15 2019](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/15)

Hello,
The database found on:
https://www.bankrate.com/finance/retirement/best-places-retire-how-state-ranks.aspx
is no longer the one used in the tutorial.
Same for the database merge.

---
#### Détails du document

⚠ *Ne pas modifier cette sectio

[2019-11-19 19:57] stunugun commented on #1620
it is in multiple location below is one reference
"Model queries that require retrieval of more than one million rows will fail"

https://docs.microsoft.com/en-us/power-bi/service-dataset-modes-understand

[2019-11-19 21:16] CeciAc opened #1625 "requests have pending changes"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.ru-ru/issues/7
The comments below were machine-translated

@kum12neon commented 6 days ago
"there are pending changes in requests, ..."
where is the "CANCEL" button ???

----

Later, user added a second comment to clarify:
@kum12neon commented 6 days ago
Hello CeciAc!
I will clarify the situation. The program itself is

[2019-11-20 01:41] busht opened #1626 "Data lineage view showing old connections not used by the Power Query"
Hi,

Do you have any plans to allow the removal of unused data sources from the dataflow that are not referenced in the power query?

During the life cycle of a dataflow it is common for it to be pointed to different sources, ETL logic changed etc. This causes a lot of redundant sources to show up in the data lineage view, making the data lineage look more complex than it actually is.

---
#### Do

[2019-11-20 03:56] mihart commented on #1624
Thanks for your comment, @CeciAc . This issue has been assigned to the doc author for review.

[2019-11-20 03:58] mihart commented on #1625
Thanks for your comment, @kum12neon and @CeciAc . This issue has been assigned to the doc author for review.

[2019-11-20 03:59] mihart commented on #1624
Thanks for your comment, @ChristopheRpp. This issue has been assigned to the doc author for review.

[2019-11-20 04:00] mihart commented on #1626
Thanks for your comment, @busht . This issue has been assigned to the doc author for review.

[2019-11-20 04:04] mihart commented on #1620
Hi @stunugun , thank you for clarifying.  I've assigned this issue to the author of that article.

[2019-11-20 12:15] paulinbar commented on #1626
Hi @busht , Thanks for your question. I have forwarded it along to the product manager who I hope will be able to provide an answer to your question. He is out for a few days but I'll get back to you as soon as I hear from him.
@yaroncan

[2019-11-20 14:04] KesemSharabi commented on #1479
Hi @RayGHeld,

I can confirm that this article needs updating. This may take some time but once it's done, I'll update you.

[2019-11-20 16:19] rebecca-aaas opened #1627 "The data isn't all there"
On the website link provided, most of the information is not there to load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-8234-dd4d-698e589b6fc7
* Version Independent ID: bc0deeb1-04c7-abc3-b26c-10ea6d75c57f
* Content: [Getting started with Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/po

[2019-11-20 21:01] dfehrer opened #1629 "Template App - Parameter as list"
We are developing a template app and would like users to enter a parameter by choosing from a dropdown list. This works in the Destkop version but not once we publish the template app. Is this feature supported in the in the template apps?

[2019-11-21 07:23] paulinbar commented on #1627
Thanks for your comment, @rebecca-aaas . I've assigned your issue to the doc author for review. In the meantime, can you tell us specifically which website link you are referring to that page? Thanks.

[2019-11-21 07:28] paulinbar commented on #1629
Thanks for reaching out to us with your question @dfehrer . Let me start checking this out and I'll get back to you.

[2019-11-21 07:39] KesemSharabi commented on #1603
Hi @DanielJBrown,

Thanks for pointing out the error in the document.

I've fixed the [Service principal with Power BI](https://docs.microsoft.com/power-bi/developer/embed-service-principal) article, and it is now pointing to [Application and service principal objects in Azure Active Directory](https://docs.microsoft.com/en-gb/azure/active-directory/develop/app-objects-and-service-principals).

Se

[2019-11-21 07:39] #1603 closed

[2019-11-21 13:10] kjetilhamre opened #1630 "How do I link from a different column?"
In the previous example step 6, I would like to link from the City column directly instead of having a special column with only a link icon. Click paris and open info on paris. Click edition and open info on edition. Surely, this must be possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f

[2019-11-21 14:06] paulinbar commented on #1630
Thanks for your comment, @kjetilhamre . I've assigned your question to the doc author for review.
@maggiesMSFT

[2019-11-21 14:14] KesemSharabi commented on #1316
Hi @rudzimj,

Thank you for the suggestion.

I'm reviewing the article and will update it shortly.

[2019-11-22 06:46] raghav1107 commented on #1630
I am also looking on how to link the url from the other column. Can you please let me know on this ?

[2019-11-22 13:35] ruanonline opened #1631 "How incremental refresh is affected when re-publishing the dataset?"
I would like to see some explicit information about the impact (or non impact) of re-publishing of dataset that has incremental refresh active. Are there any limitations? How are the changes in the dataset managed? Thank you very much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8

[2019-11-22 14:29] Hansonaplane opened #1632 "Language errors"
You might want to think about proofreading this article again as there are many errors in the text (like "witch represents" and "DOm elemtns").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d211e63f-7300-55bc-3e19-2e48b11afd7d
* Version Independent ID: fc3890a9-de8b-cda4-8f8c-823663b37a42
* Content: [Power BI visuals

[2019-11-22 18:33] rebecca-aaas commented on #1627
https://www.bankrate.com/finance/retirement/best-places-retire-how-state-ranks.aspx

[2019-11-23 10:02] peterbud opened #1633 "Missing import statement in the Custom Power BI Visual tutorial"
At Step 9 there is a new method added to populate formatting options:
[code]
In order to make this step work, you need to add previously this import:
`import VisualObjectInstanceEnumeration = powerbi.VisualObjectInstanceEnumeration;`

And in fact I believe the below import needs to be added: this is added by default by `pbviz`, but at the previous tutorial page some people can have the impression

[2019-11-23 10:12] peterbud opened #1634 "Packaging visual requires additional data"
` pbiviz package`  now requires author name, author email and supportURL as a bare minimum, otherwise throws an error. Would be nice to add these to the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc4f82a-1cec-444c-8561-c02aa38caa96
* Version Independent ID: c05253d9-f12e-b2ee-763f-96e4a76fec54
* Content:

[2019-11-23 11:33] paulinbar commented on #1632
Hi @Hansonaplane , thanks for your comment. I've assigned the article to the author for review.

[2019-11-23 11:44] paulinbar commented on #1633
Thanks @peterbud for your comment on the tutorial. I have passed your observation on to the author for review.
@KesemSharabi

[2019-11-23 11:47] paulinbar commented on #1634
Hi again, @peterbud. Have also passed this comment on to the author for consideration. Thanks for bringing these issues to our attention!

@KesemSharabi

[2019-11-25 08:58] saiprasadb365 opened #1635 "Viewer role"
"All of these capabilities except the last require a Power BI Pro license." is misleading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc6d87fe3fd
* Content: [Organize work in the new workspaces in Power BI - Power BI](https://doc

[2019-11-25 09:38] Jaggana opened #1636 "Unable to get data for tutoriel "Introduction to modeling your data""
Hello,

In this tutoriel https://docs.microsoft.com/en-us/learn/modules/model-data-power-bi/1-overview-power-bi the first video says "I'm using the datas I've used before", and there's really no clue about where to find those datas.
Could you help me ?

[2019-11-25 14:41] Jaggana commented on #1636
It looks like the source is coming from an Access Database than can be found here : https://github.com/MicrosoftLearning/Analyzing-Visualizing-Data-PowerBI/tree/master/Lab1

[2019-11-25 19:42] maggiesMSFT commented on #1631
Hi, @ruanonline -- thanks for your question! Assigning to the author to follow up.

[2019-11-25 19:43] maggiesMSFT commented on #1635
Hi, @saiprasadb365 -- thanks for pointing that out! I see what you mean. I'll work on rephrasing it.

[2019-11-25 19:45] maggiesMSFT commented on #1636
Hi, @Jaggana -- thanks for asking! I've assigned your question to the author to follow up.

[2019-11-26 06:35] KesemSharabi commented on #880
Hi @EYhellojo,

Thanks for your comments. We are looking to fix this article by the end of the month.

[2019-11-26 07:27] KesemSharabi commented on #1632
Hi @Hansonaplane,

Thanks for pointing out that this article needs proofreading.

I'm looking into updating the entire Power BI visuals doc set, and will update and refresh this article as part of this effort.

Please revisit this article in a few months time. Hopefully by then it will have been updated.

[2019-11-26 07:27] #1632 closed

[2019-11-26 07:43] paulinbar commented on #1626
Hi @busht, I checked with the development team and they said that your issue is indeed a problem and that they are aware of it. It is in their plans to address, but due to the complex nature of the problem they can't say exactly when it will be resolved. Probably not the answer you wanted to hear but that's the story at present. In any event thanks for taking the trouble to report your experience

[2019-11-26 07:43] #1626 closed

[2019-11-26 11:53] Mholsen opened #1637 "This guide is brilliant!"
Clear and concise - I hope this guide can serve as best practice for other Power BI related guides!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf55ca48-9d24-4a87-0f90-b660d3d0ca50
* Version Independent ID: 09e9b1e9-82b6-3efd-7b77-040c284b917b
* Content: [Use shared datasets in Power BI Paginated Report Builder - Po

[2019-11-26 16:08] mtiano802 opened #1638 "Dashboard subscription sending to only some of the individuals listed"
I have a dashboard programmed to send a daily refresh at 9:30am. Everything computes correctly in the data, but only me and one other person subscribed actually receive the email. If I click "Run Now", all people receive it correctly.
Not sure why everyone isn't receiving the email daily?

[2019-11-26 18:18] klabir opened #1639 "Shouldn't be dataflow a category as well?"
We miss Power BI Dataflows as an additional category, its different from Desktop and Service as far as I know

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.micr

[2019-11-26 21:51] mihart commented on #1637
Thanks for your comment, @Mholsen . Your feedback has been passed along to the doc author for review.

[2019-11-26 21:52] mihart commented on #1638
Thanks for your comment, @mtiano802 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-11-26 21:52] #1638 closed

[2019-11-26 21:54] mihart commented on #1639
Thanks for your comment, @klabir . This issue has been assigned to the doc author for review.

[2019-11-26 22:08] maggiesMSFT commented on #1637
Thanks so much, @Mholsen! Glad it helped. I have to say it's one of my favorites, too.

[2019-11-26 22:08] #1637 closed

[2019-11-26 23:01] paulinbar commented on #1629
Hi @dfehrer .  I checked with the template app people, and they said that the drop down like you mentioned is not currently supported in template apps, but that it is on their backlog of things to do. They are just not certain when they will be able to do it. Probably not what you wanted to hear but that's the story at this point. Thanks for asking though!

[2019-11-26 23:01] #1629 closed

[2019-11-27 02:09] maggiesMSFT commented on #476
Hi, @KDAylesworth -- I realize I updated the article with the info about seeing data for the whole workspace, but I didn't mention it. I added this section: https://docs.microsoft.com/en-us/power-bi/service-usage-metrics#see-all-workspace-usage-metrics.
Thanks again!

[2019-11-27 02:09] #476 closed

[2019-11-27 15:16] tomanizer opened #1643 ""Python Scripting" is not available on the Options page"
The Options page only shows "R scripting", no "Python scripting".
Is there a certain version required for Python integration. If yes, the article should mention the Power BI Desktop versions which support Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070da3e8-5146-a2ca-9ac3-ed77621fc050
* Version Independent I

[2019-11-27 15:51] BSLATTER commented on #1419
Hi @mgblythe - is there an update for this?

[2019-11-27 16:18] jenyart opened #1644 "New API release in November"
Looks like a new version of the API has been released that includes Lifetime Value and Cohort Analysis. Would you look into updating the connector to this new version of the API.

[2019-11-27 16:19] #1644 closed

[2019-11-27 16:22] jenyart opened #1645 "Google Analytics Connector Please update for New API Release"
Looks like there has been an update to the Google Analytics API to now include Lifetime Value and Cohort Analysis metrics in late November 2019. Could you check into updating the power bi connector to reflect this.

[2019-11-27 18:19] maggiesMSFT commented on #1645
Hi, @jenyart -- this looks like a question best addressed by the product team, not the docs team. Can you submit your idea/request at the Power BI Ideas site, https://ideas.powerbi.com/forums/265200-power-bi?
Thanks and here's hoping!

[2019-11-27 18:19] #1645 closed

[2019-11-27 18:21] maggiesMSFT commented on #1643
Hi, @tomanizer -- Thanks for your comment! Assigning to the author to assess.

[2019-11-27 18:50] otarb commented on #1643
Feature is available since August 2018

Blog regarding the release and all feature included
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2018-feature-summary/

[2019-11-27 18:51] otarb commented on #1643
Feature is available since August 2018

Blog regarding the release and feature summary
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2018-feature-summary/

[2019-11-27 19:04] maggiesMSFT commented on #1643
Thanks, @otarb .
@tomanizer can you try installing a newer version of Power BI Desktop?
https://docs.microsoft.com/power-bi/desktop-get-the-desktop

[2019-11-27 19:04] #1643 closed

[2019-11-27 19:22] maggiesMSFT commented on #1630
Hi, @kjetilhamre and @raghav1107 -- currently no, that's not possible. Please go to Power BI Ideas, https://ideas.powerbi.com/forums/265200-power-bi. If someone else has suggested it, you can vote it up. If not, be the first!

[2019-11-27 19:22] #1630 closed

[2019-11-27 19:24] maggiesMSFT commented on #1602
Thanks again, @arcus4. Update will be live this afternoon.

[2019-11-27 19:24] #1602 closed

[2019-11-27 19:32] maggiesMSFT commented on #1601
Hi, @AKA-TDickerson -- this functionality will be coming in preview soon. I can say no more!

[2019-11-27 19:32] #1601 closed

[2019-11-27 20:32] maggiesMSFT commented on #1208
Hi, @psrinivasamaniprabhakar -- are you referring to Power BI reports or paginated (Report Builder) reports in Power BI Report Server?
thanks --

[2019-11-27 21:42] maggiesMSFT commented on #1218
Hi, @pomer97 @dodgy99 & @rburcham --
Got an answer. Hope this helps:
It sounds like you want it to be a dynamic URL. It would pick up the selections made in the report and attach that to the URL. You can't do it for a URL in a textbox, but you can bind a Button to a dynamic URL. Like this:
https://docs.microsoft.com/en-us/power-bi/desktop-conditional-format-visual-titles which it sounds like you k

[2019-11-27 21:42] #1218 closed

[2019-11-27 23:15] maggiesMSFT commented on #1635
OK, I reworded it. Should be live later today. Let me know what you think!

[2019-11-27 23:15] #1635 closed

[2019-11-27 23:56] maggiesMSFT commented on #1517
Hi, @adamsorensen93 -- I see what you mean about https://docs.microsoft.com/en-us/power-bi/service-premium-what-is. It doesn't say they can, but it doesn't say they can't. It's just silent.
The answer to your question: Yes, non-licensed (with a free license, not a Pro license) users can access content in a Premium-capacity workspace, if they have a Viewer role. They can view and interact with the

[2019-11-27 23:59] maggiesMSFT commented on #1517
Hi, @davidiseminger -- In https://docs.microsoft.com/en-us/power-bi/service-premium-what-is, consider clarifying that "Users without a Pro license can access the workspace if the workspace is in a Power BI Premium capacity, even if users have only the Viewer role"?
thx!

[2019-11-28 06:15] paulinbar commented on #1576
Hi @mssososophie , getting back to your statement that you are a new PBI user, I suggest that the place to start is with the Desktop. There you create the reports that eventually you publish online to the PBI service. So perhaps please take look at this link https://docs.microsoft.com/en-us/power-bi/desktop-getting-started and also, when you start Power BI Desktop, on the splash screen that you se

[2019-11-28 06:15] #1576 closed

[2019-11-29 01:16] saiprasadb365 commented on #1635
Thanks, yet Can you remove the statement "All of these capabilities, except viewing and interacting, require a Power BI Pro license." as this statement still doesn't convey the Power BI Premium capacity and the text following the table gives enough details Power BI Premium capacity and Pro license access

[2019-11-29 03:56] saiprasadb365 opened #1647 "Dataflow owner"
This statement is wrong "Each dataflow created in Power BI is stored in its own CDM folder, and the owner of the dataflow is granted read-only access to the CDM folder and its contents" ... instead it should be "Each dataflow created in Power BI is stored in its own CDM folder, and only the owner of the dataflow is granted write access to the CDM folder and its contents"

---
#### Document Details

[2019-11-29 08:10] liudaburtseva opened #1649 "Power BI Optimized for Report Server version 2.51.4885.3981 (October 2017)"
Hello everyone!

My organization works with Power BI Report Server, version from October 2017.

And to have access to my corporate server I need Power BI Desktop Optimized for Report Server, version 2.51.4885.3981 (October 2017). I know that this version is out of support, however I still need it.

Maybe someone still has this installation and can share with me. I will be very grateful for Your he

[2019-11-30 11:24] paulinbar commented on #1647
Thanks for this observation, @saiprasadb365. I have assigned this issue to the author of the article for review.

[2019-11-30 11:35] paulinbar commented on #1649
Hi @liudaburtseva ! Have you tried the [Power BI Community]( https://community.powerbi.com)? I see that there is some correspondence about previous versions there, although I don't have direct experience with that. In the meantime I am forwarding your question on to someone who may have some knowledge about the availability of previous Power BI versions.

[2019-12-01 02:38] mlongoria opened #1651 "WCAG Principles are POUR. Why leave off robust?"
https://www.w3.org/WAI/WCAG21/Understanding/intro#understanding-the-four-principles-of-accessibility

There are 4 accessibility principles. We commonly pronounce the acronym as the word it spells (pour). Although users can't affect the conformance of the robustness as it mostly pertains to tags and assistive technologies, it would be good to list it and maybe explain how Power BI is designed to me

[2019-12-01 02:49] ndcorchuelo opened #1652 "Decomposition tree visual"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919f51d-8623-b039-a1fc-0df774225c46
* Version Independent ID: 0376c331-0f7e-ec9b-6262-f47a6c413d47
* Content: [Decomposition tree - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-decomposition-tree#feedback)
* Cont

[2019-12-02 08:11] liudaburtseva commented on #1649
Hi @paulinbar ! Yes, I have tried not only Power BI Community. All my searching ended up with Power BI for RS version from August 2018. And now I'm trying to find any possible information on different forums.

[2019-12-02 16:03] kylebamfordpc opened #1653 "Unable to Locate Stripe"
Stripe is listed as a data source on this page, but in both Power BI Desktop and Power BI web, I'm unable to locate Stripe as a "Get Data" option. Is there any way to confirm Stripe is actually still a supported data source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version I

[2019-12-02 16:22] soldstatic commented on #1535
I tried the below too but it doesn't work:

`?filter=ServiceCenterHierarchy/Service_x0020_Center in ("Lee's Summit")&ctid=____`

[2019-12-02 20:01] rywilli commented on #1474
Any update on this?

[2019-12-02 23:39] lubma commented on #1652
The visual does not include a scrollbar an the left had side if Explain By: 'some category' has too many values to fit on page.

[2019-12-03 00:43] conorodocr opened #1655 "Quickbooks template Issue"
Hi,

For some reason the accounts in the Quickbooks template is missing the subtype "Other Business Expenses".

Any idea why and how to fix?

Thanks,

[2019-12-03 00:53] conorodocr commented on #1655
Also - am I able to show Profit & Loss by Class?

[2019-12-03 09:41] sarat-nakkina opened #1656 "OData Feed link isn't working as used in the page"
Provided web feed - https://services.odata.org/V3/Northwind/Northwind.svc/ only displays collection irrespective of the orders table as mentioned in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb0f7e4-74cd-dadb-c2ce-4b6c0c511e20
* Version Independent ID: 0d14b983-c47a-1fa7-7103-15182735f26b
* Content: [T

[2019-12-03 13:12] KesemSharabi commented on #880
Hi @EYhellojo,

The article [Tutorial: Adding formatting options to a Power BI visual ](https://docs.microsoft.com/en-gb/power-bi/developer/visuals/custom-visual-develop-tutorial-format-options)was updated, and your comment was addressed.

[2019-12-03 13:12] #880 closed

[2019-12-03 13:16] KesemSharabi commented on #1281
Hi @suvratrai

Please review [Example 3](https://docs.microsoft.com/en-us/power-bi/developer/visuals/dataview-mappings#example-3) from the [Understand data view mapping in Power BI visuals](https://docs.microsoft.com/en-us/power-bi/developer/visuals/dataview-mappings) article.

[2019-12-03 13:18] #1281 closed

[2019-12-03 13:21] KesemSharabi commented on #1429
Hi @jbreadner,

Thank you for your comment. We will take it into consideration when updating the article.

For now, please review the [Power BI visual concept](https://docs.microsoft.com/en-us/power-bi/developer/visuals/power-bi-visuals-concept) article for additional information.

[2019-12-03 13:21] #1429 closed

[2019-12-03 13:24] KesemSharabi commented on #1496
Hi @kuehcj,

Thanks for your question. Unfortunately, data view mapping doesn't support the highlights feature.

We've added a note to address this in the [Highlight data points in Power BI Visuals](https://docs.microsoft.com/en-us/power-bi/developer/visuals/highlight) article.

[2019-12-03 13:24] #1496 closed

[2019-12-03 16:10] davidiseminger commented on #1651
Thanks for your comment. We’ve forwarded your feedback to the writer, who will consult with the engineering team and will respond shortly. Thanks!

[2019-12-03 16:12] davidiseminger commented on #1652
Thanks for your comment, @lubma. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-03 16:16] davidiseminger commented on #1653
Thanks for your comment, @kylebamfordpc . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-03 16:17] davidiseminger commented on #1655
Thanks for your comment, @conorodocr . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-12-03 16:17] #1655 closed

[2019-12-03 16:17] davidiseminger commented on #1656
Thanks for your comment, @sarat-nakkina . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-03 16:57] sarat-nakkina commented on #1656
Thanks @davidiseminger, I'm wrong as I was using web feed instead of OData feed. URL mentioned is OData feed and using OData feed in Get Data works perfectly.

[2019-12-03 16:58] mgblythe commented on #1604
Thanks @NickyvVr, fixing this today.

[2019-12-03 17:03] mgblythe commented on #1583
#reassign @christianwade for a new screenshot.

[2019-12-03 17:04] mgblythe commented on #1306
#reassign @DavidMagarMS for confirmation on this issue.

[2019-12-03 17:06] mgblythe commented on #1237
#reassign @arthiriyer to see about adding info the article.

[2019-12-03 17:15] mgblythe commented on #279
We now have a centralized data source article - https://docs.microsoft.com/en-us/power-bi/power-bi-data-sources. Let us know of any additional feedback there. Thanks!

[2019-12-03 17:15] #279 closed

[2019-12-03 17:21] mgblythe commented on #1419
Updating the link today, the article it now points to is https://docs.microsoft.com/power-bi/power-bi-data-sources

[2019-12-03 17:21] #1419 closed

[2019-12-03 17:31] mgblythe commented on #1639
Thanks @klabir, dataflows info is on this page right now: https://docs.microsoft.com/power-bi/service-dataflows-data-sources, but assigning to @mohaali to see about adding a column to the table.

@kfollis, @cpopell as FYI

[2019-12-03 17:32] mihart commented on #1606
Hi @louissalome ,
I have raised this as a product issue. The product team will add this to their backlog. Thank you for bringing this to our attention,
- Michele

[2019-12-03 17:32] #1606 closed

[2019-12-03 18:14] juluczni commented on #1652
Hi lubma, you can pan and zoom the visual to move it around (just like a map visual). So click into the visual and drag it around to move it.

[2019-12-03 18:15] mgblythe commented on #1589
Thanks @mdjaniga - we cover this here: https://docs.microsoft.com/power-bi/refresh-data#data-refresh. I'll add a link from the scheduled refresh doc to this one.

[2019-12-03 18:54] lubma commented on #1652
Hi juluczni, thank you for pointing that out. It is really useful when adjusting the visual but I found that when you zoom out to fit all the values in the column it becomes hard to see what value you want to drill down into or see the relationship of the lower values in regards to the higher ones.  It becomes an issue when you are making a report for a customer who isn't familiar with pbi capabil

[2019-12-03 19:26] mgblythe commented on #1600
Hi @NorbertoAlves, which part of the article is the issue? You need to define roles in Desktop, and you can test them there also. You then add users to those roles in the service, and you can test them again from <Dataset> -> Security in the left nav. Let me know if there's anything we can clarify.

[2019-12-03 19:54] NorbertoAlves commented on #1600
@mgblythe
When I had created this issue, I have seen a message at Power BI Service that the functionality of assigning people to each role had been moved to Power BI Desktop, but today, when I tested again to take a screenshot to clarify, this has changed to the same screens that we can see in the article. Sorry for the inconvenience, and thank you for your response.

[2019-12-03 19:54] #1600 closed

[2019-12-03 21:00] JBVerveer opened #1657 "Whitepaper link does not work"
The link for  the 'Planning a Power BI Enterprise Deployment' does not work. Is there a way to get this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e576bbf-5964-ce92-cb3a-3bbc57c6bd61
* Version Independent ID: 9e87a5bd-07d8-20f6-2f50-fa5e4cbb2eb7
* Content: [Whitepapers for Power BI - Power BI](https://do

[2019-12-03 22:10] maggiesMSFT commented on #1657
Hi, @JBVerveer -- hmmm. I can download and open that whitepaper. Can you try again?
thanks!

[2019-12-03 22:10] #1657 closed

[2019-12-03 23:47] RonMeyn opened #1658 "unable to "find your fully qualified server name and database name in the Azure portal""
unfortunately, the Portal admin changes so often; my equivalent of the screenshot does not offer a "server name":..

Instead, I am getting the following list on the RHS...

Version: SQL Server 2017
Edition: Standard
Virtual machine: pharlap-01
Virtual machine OS: Windows (Windows Server 2016 Datacenter)
Virtual machine size: Standard DS3 v2
License type:   Pay As You Go

I've been able to access t

[2019-12-04 01:47] michael-hawker opened #1659 "Is this connector open-sourced?"
There was a previous sample data connector for GitHub [here](https://github.com/microsoft/DataConnectors/tree/master/samples/Github) that looks similar.

*Is this the successor, and if so is it also open-sourced on GitHub, but somewhere else?*

There's also another [doc](https://docs.microsoft.com/en-us/power-query/samples/github/readme) that went along with that.

Just want to know, as we have th

[2019-12-04 01:57] mgblythe commented on #890
We recommend using an org account rather than a consumer email b/c there are potentially multiple experiences that won't work for personal email accounts.

[2019-12-04 01:57] #890 closed

[2019-12-04 01:58] mgblythe commented on #1604
Fixed and published.

[2019-12-04 01:58] #1604 closed

[2019-12-04 01:59] mgblythe commented on #1589
I added the following sentence:

For more information about data refresh, including limitations on refresh schedules, see Data refresh.

[2019-12-04 01:59] #1589 closed

[2019-12-04 02:56] maggiesMSFT commented on #1659
Hi, @michael-hawker -- adding @teddybercovitz , who should be able to answer your question.
thanks!

[2019-12-04 03:48] danmyhre commented on #890
Which experiences?

[2019-12-04 06:27] JohnJiang-Australia opened #1660 "The funnel does not make any sense!"
The status would change every month. let's take Feb for example.

All new leads came in Feb may turn into proposal in Feb, Mar, Apr and so on so forth. When you look at funnel, you would want to know all leads came in Feb and what's the status now to understand the conversion rate.

The status in this chart would represent current status of the item. Just because it says it is in proposal status d

[2019-12-04 06:27] mgblythe commented on #890
Sorry @danmyhre, that's all the info I have.

[2019-12-04 08:47] JBVerveer commented on #1657
I am still getting an error. Please check the attachment for the specifics. All the other links work though...
![Capture](https://user-images.githubusercontent.com/58489453/70127297-0e01aa00-167b-11ea-8a87-e6b5af2ed707.PNG)

[2019-12-04 10:10] bjhulst opened #1661 "Filters menu / full screen behavior via url parameter"
Hi,

Besides add a query into the URL parameters, is it possible to set the report to full-screen and/or disable/enable the filter menu ?

https://docs.microsoft.com/en-us/power-bi/service-url-filters

for example:

app.powerbi.com/groups/me/apps/app-id/reports/report-id/ReportSection?filter=Table/Field eq 'value&'ctid=ctid&fullscreen=true

or

app.powerbi.com/groups/me/apps/app-id/reports/report-

[2019-12-04 11:41] tom-ditlev commented on #1621
Having the exact same issue, preventing me in using the new "Modern" Connector. Reverting to using the "Legacy" MicrosoftAzureConsumptionInsights.Contents :-(

[2019-12-04 14:38] KesemSharabi commented on #1660
Thanks for your comment, @JohnJiang-Australia.

I've assigned this issue to the doc author for review.

[2019-12-04 14:43] KesemSharabi commented on #1661
Thanks for your comment, @bjhulst.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-12-04 14:51] mattmasson commented on #1653
The Stripe connector was deprecated in the November release of Power BI Desktop. It no longer appears in the Get Data dialog. The underlying functions are still available (as of 12/4/2019), so existing reports will continue to work, but these may be removed in the future. We've invited the Stripe team to submit a new connector through the Certified Connector program, but have not received a respon

[2019-12-04 14:56] schwinnen opened #1662 "Workspace Access"
I assigned a Viewer role to a Microsoft 365 user group in a premium workspace.  I tested this out a couple of weeks ago and it worked fine.  Now users are getting prompted to sign up for Power BI Pro.  Has something changed in the past couple of weeks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5

[2019-12-04 19:27] lhanna-wmp opened #1663 "Visuals Gridlines Formatting"
It seems that formatting for the gridelines is not working. I have the below code within my otherwise working JSON file, but no formatting is applied upon import.

{
  "name": "Custom",
  "dataColors": [ "#2372B9", "#81CFE7", "#F15323", "#F99B2F", "#008D48", "#B9C53A", "#595959", "#A1ABBB" ],
  "background": "#595959",
  "foreground": "#FFFFFF",
  "textClasses": {
    "callout": {
      "fontFace"

[2019-12-04 19:52] saigrsundaram opened #1664 "Changing Live connected data set in Onedrive refresh scenario is not supported"
Currently, Changing Live connected data sets in Onedrive refresh scenario is not supported as per Power BI engineering team. I request you to include this information in the "What's supported" section in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3090a14-7c69-f5a7-9cf1-88c98c211470
* Version Independ

[2019-12-04 23:07] JimDaly opened #1665 "Why isnt' this topic available in the table of contents?"
seems like an  orphan page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57120f28-dce7-01db-855c-33e40721776f
* Version Independent ID: e8c49eaf-3bed-ed73-0512-c7adda73bcb3
* Content: [Troubleshooting Sign-in issues in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-troubleshooting-sign

[2019-12-05 14:11] FearL0rd opened #1666 "How to use custom URI in PowerBI?"
I have created a windows application that has a custom URI to open the app with parameters. How do a add in powerbi a hyperlink to a custom URI?

example:
myAPPapi://?USER=BLABLA&OBJECT=OBJ01

[2019-12-05 14:42] paulinbar commented on #1662
Hi @schwinnen , thanks for reaching out to us with your question. On the face of it it looks like the case you describe should be ok according to the table on that page. I'm forwarding your question to the page author - she may be able to shed some light or point you in the right direction.

[2019-12-05 14:46] paulinbar commented on #1664
Hi @saigrsundaram . Thanks for your comment. I am forwarding it along to the author of the page you mentioned.

[2019-12-05 14:50] paulinbar commented on #1665
Hi @JimDaly ,
Thanks for your observation. I am forwarding it along the author of article you mentioned for review.

[2019-12-05 14:56] paulinbar commented on #1666
Hi @FearL0rd , where exactly are you trying to add the URI? Can you provide a bit more information about your scenario?

[2019-12-05 15:15] paulinbar commented on #1663
Hi @lhanna-wmp , thanks for reaching out to us. This sounds like it is probably a product rather than a documentation issue, but I am assigning your comment to the author of the article you mentioned. He may be able to point you in the right direction.

[2019-12-05 15:28] kylebamfordpc commented on #1653
Thanks for following up!

[2019-12-05 15:45] matt40k opened #1667 "Main page isn't getting updated when child page is updated"
Looking at https://docs.microsoft.com/en-us/power-bi/service-admin-rls

It hasn't been updated with https://github.com/MicrosoftDocs/powerbi-docs/pull/1650

Looking at the page: https://github.com/MicrosoftDocs/powerbi-docs/blob/live/powerbi-docs/service-admin-rls.md

it uses:

[!INCLUDE include-short-name]

The fact the child page has been updated doesn't appear to force the parent to be regenera

[2019-12-05 15:50] mdjaniga commented on #1589
Thanks Y'all, looks good.

M

On Tue, Dec 3, 2019 at 7:59 PM Michael Blythe <notifications@github.com>
wrote:

[2019-12-05 19:43] maggiesMSFT commented on #1141
Hi, @xantari -- hope you've figured this out by now. If not, please enter a support ticket at https://powerbi.microsoft.com/en-us/support/
They can help investigate.
Thanks!

[2019-12-05 19:43] #1141 closed

[2019-12-05 20:29] pcgeekus opened #1668 "Needs updated to Reflect new User Experience"
Needs updated to Reflect new User Experience. For example, where you get the Embed URL has moved under the ... in the top bar and is no long Black

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8affce3-98f2-0cc6-b4de-d9af7ced0fbe
* Content: [Embed with rep

[2019-12-05 21:55] maggiesMSFT commented on #1667
Hi, @matt40k -- I checked the INCLUDE file; I don't know why, but it didn't show your update. So I updated the INCLUDE file again and just for good measure I forced a rebuild of the 2 files that show the INCLUDE. You should see your update later today.
Thanks!

[2019-12-05 21:55] #1667 closed

[2019-12-05 22:12] maggiesMSFT commented on #1482
Hi, @amkumar5 -- here's a video that demonstrates how to do what you're asking for. Hope that helps!
https://www.youtube.com/watch?v=KYfhclGrI48&t=1s

[2019-12-05 22:12] #1482 closed

[2019-12-06 08:38] ChristopheRpp commented on #1624
Any feedback from the author?

[2019-12-06 16:05] Tiberriver256 opened #1669 "Error when using Enterprise ID: The field 'org_companies' of the record wasn't found."
I get the following error when I log in with an Enterprise ID and click on the Connect button:

We encountered an error while trying to connect:
Details: "The field 'org_companies' of the record wasn't found."

Is there some pre-requisite task I need to complete for the connector to work properly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-12-08 14:29] RoseyAlexa opened #1670 "Tooltip Formatting"
It would be handy to include details for how to make a tooltip resemble the default tooltips.
Especially as you can seem to Left Justify a card, so the values are always centred.
Is there anyway to access/unzip a standard tooltip, and then edit it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-

[2019-12-08 15:08] alwweb opened #1671 "Full screen button for Dashboard with New Look On"
The menus and icons I am seeing do not match the documentation. Also, there does not seem to be a Full Screen Mode icon when viewing a dashboard.  With a report, it is under the View menu, but neither looks like what is in the documentation.

![image](https://user-images.githubusercontent.com/17628056/70391388-99907900-19a2-11ea-92ac-3c2e1fef35b1.png)

---
#### Document Details

⚠ *Do not edit thi

[2019-12-08 17:29] abasiko777 opened #1672 "Nice"
all works finely

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b31202-eae5-59aa-3de4-7e1fb897ed4f
* Version Independent ID: 9f595797-0c89-63d1-e8d8-9a67e2cc7e19
* Content: [Tutorial: Create calculated columns in Power BI Desktop - Power BI](https://docs.microsoft.com/en-gb/power-bi/desktop-tutorial-create-calculated

[2019-12-08 19:43] teddybercovitz commented on #1659
Hi, It's the same connector. You could ask for connector changes on the connector github page.

Thanks!

[2019-12-09 09:08] Mholsen opened #1673 "RefreshDataset"
Does the RefreshDataset activity include both manual and scheduled refreshes of a dataset?
If so, is there any way to separate the two?
I'm guessing that you might be able to separate the two by looking if the UserAgent column being blank or not (blank would be a scheduled refresh), but it's hard to see based on the sparse information provided on the page.

---
#### Document Details

⚠ *Do not edi

[2019-12-09 14:23] ftorresv commented on #1652
Hi lubma, I can't find the viz at the marketplace...

[2019-12-09 17:31] #1659 closed

[2019-12-09 19:29] lubma commented on #1652
@ftorresv open pbi go to file -> options and settings -> options -> preview visual -> select decomposition tree(preview) and restart pbi, it should now be in the visual pane. if it is still not there try updating pbi and following the same steps or searching the marketplace.

[2019-12-09 19:29] lubma commented on #1652
correction, preview features not preview visual

[2019-12-09 21:54] michael-hawker commented on #1659
@maggiesMSFT & @teddybercovitz should the doc be updated to point to the repo if that's supposed to be the source though?

[2019-12-10 03:03] mcollis2 commented on #1621
I'll have to find the Legacy connector - now the entire connector is broken - none of the tables load at all.

[2019-12-10 11:10] KesemSharabi commented on #1479
Hi @RayGHeld,

Thank you for suggesting a fix for this article. I added this article to our backlog and we will fix it in the future.

[2019-12-10 11:10] #1479 closed

[2019-12-10 11:35] wbovela opened #1678 "Some oversights"
1. IVisualHost import missing
Following the tutorial the "import IVisualHost = powerbi.extensibility.visual.IVisualHost" instruction is missing which leads to breaking errors. The private host member isn't used though.

2. EnumerateVisualObjectInstancesOptions  and VisualObjectInstanceEnumeration imports missing
The following imports are missing in the tutorial, leading to breaking errors.
import

[2019-12-10 13:10] KesemSharabi commented on #1040
Hi @djpirra,

At present Power BI Embedded uses token authentication. MSI is not supported.

You might find more information relating to what you're trying to do, in the [Power BI Community]( https://community.powerbi.com).

[2019-12-10 13:10] #1040 closed

[2019-12-10 15:26] davidiseminger commented on #1669
Thanks for your comment, @Tiberriver256. Let us look into this issue, and we'll respond to this thread shortly. Thanks!

[2019-12-10 15:28] davidiseminger commented on #1670
Thanks for your comment, @RoseyAlexa. There is no way to edit a tooltip, but let us look into your other request and respond to this thread. Thanks!

[2019-12-10 15:28] davidiseminger commented on #1670
Assigning.

[2019-12-10 15:29] davidiseminger commented on #1671
Thanks for your comment, @alwweb. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-10 15:29] davidiseminger commented on #1672
Great! Glad to hear it, thanks for posting.

[2019-12-10 15:29] #1672 closed

[2019-12-10 15:30] davidiseminger commented on #1673
Thanks for your comment, @Mholsen. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-10 15:31] davidiseminger commented on #1678
Thanks for your comment, @wbovela. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-12-10 15:56] Tiberriver256 commented on #1669
Thank you!

[2019-12-10 20:55] WolffM opened #1679 "trend axis label"
Is it possible to either configure the kpi trend axis or show it?
It's hard to tell what the change over time is without units.

[2019-12-11 00:37] mihart commented on #1679
Thanks for your comment, @WolffM . This issue has been assigned to the doc author for review.

[2019-12-11 09:42] Mholsen commented on #311
I noticed that too and wondered why the actual creation of the aggregation table wasn't included in the article.
Anyway, this Microsoft guide goes through how to create an aggregation table:
https://www.youtube.com/watch?v=RdHSo43LkQg&t=45s

[2019-12-12 07:52] KesemSharabi commented on #1549
Hi @klabir,

I updated the list of certified Power BI visuals in [Get a Power BI visual certified](https://docs.microsoft.com/en-us/power-bi/developer/power-bi-custom-visuals-certified). It now includes  Ultimate KPI Card.

To view the list directly, see [Certified Power BI visuals](https://docs.microsoft.com/en-us/power-bi/developer/power-bi-custom-visuals-certified#certified-power-bi-visuals).

[2019-12-12 07:52] #1549 closed

[2019-12-12 08:55] ashumedi opened #1681 "Configuring alerts with more conditions on Threshold - shown in the video"
In the example shown I see sales target and regions, now can I create a alert on target for North America region? Is that functionality supported or any other way that it can be accomplished?

[Data alerts in the Power BI service](https://docs.microsoft.com/en-us/power-bi/service-set-data-alerts)

[Reference Youtube](https://www.youtube.com/watch?v=JbL2-HJ8clE#action=share)

[2019-12-12 11:45] tsaru72 opened #1682 "Azure Mac users."
I recognize that PowerBI desktop doesn't work on Mac. Does the Azure PowerBI give us the same capabilities as the PowerBI Desktop or can I presume that PowerBI is not for Mac users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-8234-dd4d-698e589b6fc7
* Version Independent ID: bc0deeb1-04c7-abc3-b26c-10ea

[2019-12-12 16:18] Tiberriver256 commented on #1669
Any update @davidiseminger?

[2019-12-12 19:02] MACEL94 opened #1683 "Row Level Security Limitation"
Hi,

in section "Working with members" it's not clear if there is a way to bulk add members.
It's tedious to do if they are a lot, especially if you can't(or don't want to) do it by group.

Is there a way to script/bulk add members by username/groups once you have activated RLS?

Thank you for your help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-13 00:09] chris-schulz commented on #1141
Im having the same issue. The page here: https://docs.microsoft.com/en-us/power-bi/report-server/find-product-key is wrong as the SQL EE SA product no longer lists the key. :-\ This is poorly managed for SA users.

[2019-12-13 01:03] xantari commented on #1141
Yeah I never got the key. It seems when you buy SQL Enterprise via MPSA you do not get it! We have SA on our license and everything. Once we transitioned from volume licensing (open business) to MPSA it no longer shows key for Power BI Report Server :(

[2019-12-13 09:14] antmon99 commented on #1631
I would like to see some clarification around re-publishing a dataset that has incremental refresh set.  It seems that if you make a change and re-publish then it will need another full refresh on the server which is not ideal
Would be good to have options similar to SSAS to Publish FULL or just PROCESS

[2019-12-13 10:48] o-o00o-o opened #1684 "Add help section"
It isn't clear to me how you have done the example shown in the Add Help section. How did you put a ? on a visual. Is it just a separate button, or is there a way to add this directly on a visual somehow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db84fc62-b85a-1bef-987c-36345b762928
* Version Independent ID: a8c23

[2019-12-13 13:33] paulinbar commented on #1681
Hi @ashumedi . Thanks for reaching out to us with your question. You've reached the documentation team, I am not %100 sure of the answer but I think you can only put set alerts on three types of tiles, gauges, KPIs, and cards, as mentioned in the documentation page and the video. I would imagine that you'd have to make a special report and then put in a tile on that that you'd set the alert on. St

[2019-12-13 13:33] #1681 closed

[2019-12-13 16:58] gebberry commented on #1535
Anyone able to get this to work?... all of my sales people named o'grady and o'conner are getting screwed here..

The irish mafia is coming after me.. help!

I can confirm soldstatics experience

double quotes DONT work.. ever,
and that replacing the ' with an %27 or _x0027 doesn't either, because when the link actually goes...it does replace..but not escape the special characters... you just end

[2019-12-13 16:58] gebberry commented on #1535
Anyone able to get this to work?... all of my sales people named o'grady and o'conner are getting screwed here..

The irish mafia is coming after me.. help!

I can confirm soldstatics experience

double quotes DONT work.. ever,
and that replacing the ' with an %27 or _x0027 doesn't either, because when the link actually goes...it does replace..but not escape the special characters... you just end

[2019-12-13 21:40] LukaszPawlowski-MS commented on #1465
Sorry for the super late response. The publish to web URL supports a query string parameter

&pageName=<pageIdentifer>

You can find the page identifier as the 'report section' at the end of the URL in the address bar when you view a report in the Power BI service.

For example, if the report URL is:
https://app.powerbi.com/.../reports/abc123-72a8-421e-b503-xyz567/ReportSection2

Then "ReportSecti

[2019-12-15 07:42] peter-myers commented on #1684
The question mark (?) is the "Visual header tooltip icon" that can be turned on for any visual (see the Visual Header section in the Format pane). When it's turned on you can configure a visual header tooltip. The tooltip can display formatted text, or a report page tooltip. In this image, you can see a report page tooltip. The design of the page includes four text boxes and a shape (line). I hope

[2019-12-15 07:42] #1684 closed

[2019-12-15 07:58] #1465 closed

[2019-12-16 17:32] viragg opened #1685 "Needs to be a workspace admin if used with Power BI Embedded"
Is this correct? Row level security only work if the user account is read only. Does this mean for Power BI Embedded RLS does not work and you need Power BI Premium if you need RLS?
Is admin only needed if you are using to do more than just embedding reports like creating workspaces etc. The documentation does not state either way.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-12-16 19:45] rudzimj opened #1686 "Error in tutorial"
In section "Developing the visual elements",  had to add the following 3 lines to visual.ts before the export statement. The bottom 2 lines are shown in the sample as already being there, but need to be added manually.

import IVisualHost = powerbi.extensibility.IVisualHost;
import * as d3 from "d3";
type Selection&lt;T extends d3.BaseType&gt; = d3.Selection&lt;T, any,any, any&gt;;

---
#### Docum

[2019-12-16 21:22] paulinbar commented on #1686
Hi @rudzimj , thanks for your comment. I have assigned this issue to the content developer responsible for this article.

[2019-12-17 12:31] thierryhouy opened #1687 "Data Sources not updated since 05/17/2018"
We can find in the latest version of PBIRS (september 2019) new sources that are not on this list. Eg:
* HDInsight Interactive Query (Import & DirectQuery)
* PostgreSQL Database (DirectQuery also supported)
Is it possible to update this list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37efb1d4-b4bb-f035-c63b-1f8b17

[2019-12-17 13:28] eshkin-Kot opened #1688 "When is it applicable?"
Doesn't work for my import connection. I have read that it only works with the Direct Query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99521173-b241-25e5-ea78-de782dc25edc
* Version Independent ID: 98a21d67-6880-73cd-571b-cfcf4aeac4f2
* Content: [Change data source connection strings with PowerShell - Power BI](ht

[2019-12-17 13:35] eshkin-Kot commented on #1688
UPD: doesn't work with the Direct Query as well.

[2019-12-17 13:39] Eutardigrade opened #1689 "Calculate turnover rate sliced by period"
Hi there, thank you for this tutorial and for providing the environment and data for me to play with. I created a new measure "Turnover = DIVIDE([Seps],Employee[EmpCount])".  I then plot this measure into a waterfall chart with Turnover in Y Axis and Period as Category. The chart is then sliced with a slicer 'Date'[Year] and year 2014 is chosen. The waterfall chart returns the total as 49.36%. Whe