[2022-10-28 05:01] Minewiskan commented on #4153
@rihoughton - What exactly are you referring to?

[2022-10-28 10:54] ChipDale66 opened #4156 "Row Level Security RLS not enforced in APP for ADMIN/CONTRIBUTER/MEMBER"
the trouble shooting section says

**When a specific user can see all data, it's possible they're accessing reports directly in the workspace and they're the dataset owner. RLS is only enforced when:

The report is opened in an app.
The report is opened in a workspace, and the user is mapped to the [Viewer role]**

What does "dataset owner" mean in that sentence?

It appears that opening a report

[2022-10-28 11:00] bishalgoswami commented on #4156
Thanks for your comment, @ChipDale66. This issue has been assigned to the doc author for review.

[2022-10-28 11:51] agansari opened #4157 "Can't copy the path in documents with a lot of history"
Regarding https://learn.microsoft.com/en-us/power-bi/connect-data/desktop-use-onedrive-business-links

This is of no help, sharing a link won't work, you cant import the onedrive hosted excel, not even logged in. Copy path seems to work, BUT.....
In documents with a lot of history or changes you are not able to scroll down to copy path, please provide a different solution.

[2022-10-28 13:00] bishalgoswami commented on #4157
Thanks for your comment, @agansari. This issue has been assigned to the doc author for review.

[2022-10-28 13:22] davideldersveld commented on #4142
Thank you! Having the distinction plainly stated goes a long way, and I understand that not wanting to publish evolving limits. Will set expectations with customer.

[2022-10-28 14:21] paulinbar commented on #4156
HI @ChipDale66, thanks for your questions. I think this article is out of data and contains some erroneous info. First of all, I don't think the word "dataset owner" is being properly used - I think it's being used to mean anyone with an ADMIN/MEMBER/CONTRIBUTOR role in the workspace. Technically there can be only one dataset owner. Secondly, I believe that if you've got an ADMIN/MEMBER/CONTRIBUTO

[2022-10-28 19:51] maggiesMSFT commented on #4154
Hi, @tahmid-bari -- You're right, some features are not supported in paginated (aka SSRS) reports in the Power BI service. The article you're referring to, , links to the "Paginated reports FAQ", which lists features not supported yet. https://learn.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-faq#what-paginated-report-features-in-ssrs-aren-t-yet-supported-in-power-bi-
I hope t

[2022-10-28 19:51] #4154 closed

[2022-10-28 20:11] maggiesMSFT commented on #4049
Hi @DataDanCalgary -- a couple of clarifying questions/comments.

- Are you in Editing or Reading view?
- Are you trying to _clear_ a filter, or actually get rid of it?
- If you're in Reading view, you can't get rid of filters, but you can clear them. Here's an article about filters in Reading view: https://learn.microsoft.com/en-us/power-bi/consumer/end-user-report-filter.
- In either view, you c

[2022-10-28 20:11] #4049 closed

[2022-10-28 20:18] JamesTStanley opened #4158 "Update capacity size drop list screen shots to include P4 & P5"
[Enter feedback here]
The screenshots in the sections for creating or changing a capacity don't show P4 and P5 as choices. I feel like they should, perhaps with a note about how P4 and P5 may not be available in all regions - or something so that you don't get anxiety around whether you could create a capacity of that size, especially if your customer's first foray into Power BI Premium starts at

[2022-10-28 20:22] maggiesMSFT commented on #4024
Hi, @Eng-Mhmwd -- do you have comment or question about this article? Closing this comment for now. Thanks

[2022-10-28 20:22] #4024 closed

[2022-10-28 21:00] bishalgoswami commented on #4158
Thanks for your comment, @JamesTStanley. This issue has been assigned to the doc author for review.

[2022-10-28 21:26] maggiesMSFT commented on #4007
Hi, @TimoRiikonen -- thanks for your feedback!

I added a link from https://learn.microsoft.com/en-us/power-bi/create-reports/desktop-tooltips?tabs=powerbi-desktop
to https://learn.microsoft.com/en-us/power-bi/create-reports/desktop-custom-tooltips, which is simpler.

Can you elaborate on this comment?

- Automated tooltips don't work any more.

[2022-10-28 21:26] #4007 closed

[2022-10-28 21:33] maggiesMSFT commented on #4150
@charletsjp thanks for your comment! I've added it to the Considerations section of https://learn.microsoft.com/en-us/power-bi/create-reports/service-quick-create-sharepoint-list#considerations-and-limitations. The change should be live later today Fri Oct 28 Pacific time.

[2022-10-28 21:33] #4150 closed

[2022-10-30 07:56] amandariveraMSFT commented on #4136
Hi @frankitecho thanks for reaching out!

Users are able to download the data, but as we use SSO & DQ for the autogenerated report, the data they can download is only the data they have permission to in Dynamics. They can’t get access to data they normally wouldn't be able to see.

If you want to restrict the ability to download to Excel on the Power BI side, you can manage who can and cannot down

[2022-10-30 08:23] mberdugo commented on #4156
Hi @ChipDale66, thanks for pointing out this inconsistency with the documentation. RLS only works for people who are assigned VIEWER roles in the workspace. People with ADMIN/MEMBER/CONTRIBUTOR roles can see everything. We'll work on updating all the RLS documentation. In the meantime, for more updated information on RLS see [Row-level security (RLS) with Power BI](https://learn.microsoft.com/en-u

[2022-10-30 12:04] mberdugo commented on #4089
Thanks for your question, @bishalgoswami. Yes, you can embed paginated reports with A SKUs, as shown in the table here: [Create a capacity - embed for your customers](https://learn.microsoft.com/en-us/power-bi/developer/embedded/embed-paginated-reports?tabs=customers#step-2---create-a-capacity). I'll update the table in the *embed for your organization* tab to reflect this as well.

[2022-10-31 03:07] eBentl opened #4159 "Confusion regarding MFA"
As mentioned in #3567 the above line is unclear and searching for any other information regarding ADLS Gen2 and MFA does not seem to produce any results. Does this refer to authenticating to ADLS Gen 2 as a user who is required to use MFA due to Conditional Access, or does this refer to a configuration within ADLS?

Can you please either expand on this point or provide a link to supporting informa

[2022-10-31 03:30] eBentl opened #4160 "Additional explanation of 'detail-level data'"
Hi, can you please provide additional context to the below statement from the warning at the top of the page:

This statement feels very vague for the (potential) severity of the warning. I'm aware that network monitoring tools expose the
conceptualschema and modelsAndExploration files, revealing the data model schema and report metadata - is this what is meant by 'detail-level data' or can a view

[2022-10-31 05:01] bishalgoswami commented on #4160
Thanks for your comment, @eBentl. This issue has been assigned to the doc author for review.

[2022-10-31 05:01] bishalgoswami commented on #4159
Thanks for your comment, @eBentl. This issue has been assigned to the doc author for review.

[2022-10-31 08:19] aldonetti opened #4161 "no more Security option on the dataset?"
when right-clicking on the dataset, there is no Security option (today - I'm sure there must have been in the past but not now)
I was able to find the Security option only by navigating from the report to the Related objects, then "..." on the dataset

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a

[2022-10-31 08:45] KesemSharabi commented on #4157
Hi @agansari,

Can you please describe what you're trying to do and what doesn't work for you?

Thanks,

Kesem

[2022-10-31 08:47] KesemSharabi commented on #4155
Hi @PehDeh,

Can you please let us know which document you're referring to?

Thanks,

Kesem

[2022-10-31 08:52] KesemSharabi commented on #4149
Hi @djurecic0,

Can you please explain in which article you found the phrase 'Up to 400GB'?

Thanks,

Kesem

[2022-10-31 09:00] bishalgoswami commented on #4161
Thanks for your comment, @aldonetti. This issue has been assigned to the doc author for review.

[2022-10-31 09:00] KesemSharabi commented on #4148
Hi @djurecic0,

What you're saying is correct. During a refresh you'll need double the memory that the refreshed dataset requires. Note that during a refresh you may be refreshing only some of the datasets that you have. There are also some datasets that don't require a refresh. For more information see [Data refresh in Power BI](https://learn.microsoft.com/power-bi/connect-data/refresh-data).

Th

[2022-10-31 09:24] aldonetti commented on #4161
and sorry - I also noticed that if you access from the Data Hub you don't see the Security option (as described above). Instead if one goes to the Workspace, from there the Security option is visible

[2022-10-31 09:25] paulinbar commented on #4161
Hi @aldonetti, thanks for your comment. Yes, you are right - its appearance is inconsistent. For instance, I do not see the "security" option in the data hub, but when I am in the workspace list view, and display the dataset options there, I do see the option. Of course it also depends on your permissions, but for the same dataset, you'd expect it to be consistent. I have seen this before and have

[2022-10-31 09:25] paulinbar commented on #4161
I see you were investigating too! :)

[2022-10-31 11:01] djurecic0 commented on #4149
Hi @KesemSharabi,
 Thank you for your response. Sorry, I may have submitted this with the wrong article.

Here is the article with "Up to 400GB"

**Power BI Premium Per User**
https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-per-user-faq

The table in section **Using Premium Per User (PPU)**.

[2022-10-31 11:05] djurecic0 commented on #4148
Hi @KesemSharabi,
 Thank you for your response- this is helpful.

[2022-10-31 15:16] #4122 closed

[2022-10-31 15:16] #4089 closed

[2022-10-31 15:44] MichaelURev opened #4163 "Multi row card"
Since the latest update that allows clicking on multi row cards, where do we see edit interactions? I don't want my multi row card to affect other visuals.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7c372d-539c-5857-01c5-8a8d835380a8
* Version Independent ID: 08d1564e-d1dc-ae37-8147-ef21c80feccc
* Content: [Chan

[2022-10-31 16:19] santoswill opened #4164 "Why server aggregation are not supported for DAX?"
So, if server aggregation is not suppported by DAX Queries and you have a complex DAX Query Script (wich turn it dificult to translate into MDX), the tool becomes useless entirely. Is there any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6272c2ce-1197-0987-c70b-e67b5954513e
* Version Independent ID: af8

[2022-10-31 17:00] bishalgoswami commented on #4164
Thanks for your comment, @santoswill. This issue has been assigned to the doc author for review.

[2022-10-31 19:44] kfollis commented on #4143
@jamezhangMS - thank you for the feedback. We are looking at ways to improve this article and appreciate you sharing your ideas. I'm assigning this to a writer for consideration.

[2022-10-31 20:32] Minewiskan commented on #4153
No clarification on what this is about.

[2022-10-31 20:32] #4153 closed

[2022-10-31 23:29] peter-myers commented on #4164
Hi @santoswill - sorry, that's how the product works for now. There's a workaround, but it could be complex for some report authors to do. It would involve writing a DAX query that returns all aggregates that your report requires. You'd then need to use conditional logic to retrieve field values you want to show in the report.

[2022-10-31 23:29] #4164 closed

[2022-11-01 13:05] ScottSzathmary opened #4165 "Dealing with the many many-many relationships in Dataverse"
Thanks for the great article with updated guidance on Power BI and Dataverse.

One thing I was hoping to see was some guidance on *how* many-to-many relationships should be dealt with in creating a star schema.  Many-many is so common in Dataverse, almost every entity I am dealing with uses that paradigm.

Also, my users are not looking for deep analytical reporting against dataverse right now, ju

[2022-11-01 16:36] Minewiskan commented on #3856
This suggestion will be put in the backlog. No additional requests or support incidents for information regarding this scenario have been made. If that changes, we'll revisit.

[2022-11-01 16:36] #3856 closed

[2022-11-01 21:52] rihoughton commented on #4153
This section no longer exists.  It needs to be updated.
![image](https://user-images.githubusercontent.com/99290906/199348688-865f6563-79d9-4e82-bf90-1d4c01cec50c.png)

[2022-11-01 21:54] rihoughton commented on #4153
![image](https://user-images.githubusercontent.com/99290906/199349175-2d0aa1bb-414c-4e82-9efb-db06ac231216.png)

[2022-11-01 21:57] rihoughton opened #4167 "The section referenced no longer exists"
This is from the documentation:
![image](https://user-images.githubusercontent.com/99290906/199349618-017adcc7-1e28-4762-88ff-8dea860bb8f4.png)

This is from the app:
![image](https://user-images.githubusercontent.com/99290906/199349659-502e3079-abd4-406b-8729-5dc2df5c464d.png)

Could you please update the documentation so that it references the sections that still exist?

[2022-11-01 22:50] kfollis commented on #4167
Hi @rihoughton - is this the article that you are referencing: https://learn.microsoft.com/en-us/power-bi/enterprise/aggregations-auto-configure? I'm assigning to the writer to comment, but want to be sure that you have reviewed the requirements listed here https://learn.microsoft.com/en-us/power-bi/enterprise/aggregations-auto#requirements for the auto aggregation feature. Thank you for taking th

[2022-11-01 22:52] rihoughton commented on #4167
Yes, that's the article I am referencing.

[2022-11-02 09:12] Chris-Burgess-ACTGOV opened #4168 "Any Changes to the Structure of the WWW pages in MS Learn or MS DOCS??"
Hi Team
am getting the errors below when trying to consume any MS Learn content via PowerBI (Dataflows, using Gateway)
<img width="917" alt="image" src="https://user-images.githubusercontent.com/60373199/199449480-87709e02-2019-4d43-86e1-92a40517bec6.png">

The resource at '**https://learn.microsoft.com**/en-us/power-bi/collaborate-share/service-roles-new-workspaces' cannot be retrieved using Web.

[2022-11-02 09:13] Shuwi75 opened #4169 "Add information around temp usage personal account for ADLS connection"
Several customers are concerned around the usage of a personal account to create the connection between the PBI workspace and the ADLS store (user has to click on the 'Connect to Azure' button). The concern is that when this user changes role or leaves the AAD, the ADLS connection or stored dataflows get disturbed/ stop functioning.

I have confirmation from PBI CAT PM this will not be the case, t

[2022-11-02 11:00] bishalgoswami commented on #4169
Thanks for your comment, @Shuwi75. This issue has been assigned to the doc author for review.

[2022-11-02 11:00] bishalgoswami commented on #4168
Thanks for your comment, @Chris-Burgess-ACTGOV. This issue has been assigned to the doc author for review.

[2022-11-02 13:27] bernatagulloesbrina opened #4170 "Premium per user too"
should mention pipelines are available also in ppu

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c73bdd33-4d6b-dad6-ccdf-55f8846916ae
* Version Independent ID: 6698283f-0fb6-3d46-e6d9-b8d1ab544c78
* Content: [Power BI Application lifecycle management (ALM) deployment pipelines overview - Power BI](https://learn.micro

[2022-11-02 15:00] bishalgoswami commented on #4170
Thanks for your comment, @bernatagulloesbrina. This issue has been assigned to the doc author for review.

[2022-11-02 15:09] KesemSharabi commented on #4170
Hi @bernatagulloesbrina,

The [introduction](https://learn.microsoft.com/power-bi/create-reports/deployment-pipelines-overview) article doesn't get into the type of license required for deployment pipelines. This is mentioned here - [Accessing deployment pipelines](https://learn.microsoft.com/power-bi/create-reports/deployment-pipelines-get-started#accessing-deployment-pipelines) (and in many othe

[2022-11-02 15:09] #4170 closed

[2022-11-02 15:18] bernatagulloesbrina commented on #4170
it does say premium capacity though

El mié, 2 nov 2022 a las 16:09, Kesem Sharabi ***@***.***>)
escribió:

--

Bernat Agulló

Partner & Data Enthusiast

***@***.***

+34 637 93 42 76

[2022-11-02 15:21] KesemSharabi commented on #4149
Hi @djurecic0,

Let me check what the product team has to say about the way *model size limit* is described in the [PPU article](https://learn.microsoft.com/power-bi/enterprise/service-premium-per-user-faq).

Thanks,

Kesem

[2022-11-02 16:02] djurecic0 commented on #3922
@jonwbstr I learned a lot from your posts, thank you.

[2022-11-02 16:24] Minewiskan commented on #4153
@rihoughton - There has been no engineering change to this functionality. We tested and everything is as expected. It's likely that you don't have Owner permissions for the dataset, or your dataset is not DirectQuery. The Schedule refresh flyout will not show optimization if those requirements aren't met. Be sure to read through the Requirements section in the Automatic aggregations overview artic

[2022-11-02 17:14] frankitecho commented on #4136
Hi @amandariveraMSFT thanks for the response.

We were able to apply a restriction in the Power BI Admin Portal with a custom security group. We targeted users for the dataverse generated workspaces to restrict the Quick Summary workspaces and worked as designed.

[2022-11-02 17:14] #4136 closed

[2022-11-02 18:06] ed7257 opened #4171 "Retention policy for audit logs."
I see I can create a retention policy for Office unified Log for up to 10 years. Could you please verify your numbers in the table for PBI Activity and Unified Log (90 and 30 days in the table)?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-

[2022-11-02 18:28] rihoughton commented on #4153
Removing portions of the UI because a condition hasn't been met is an objectively bad design choice.  Keep the UI the same and throw an error indicating the specific conditions that haven't been met.  Microsoft wouldn't need such extensive documentation and support staff if they took the time to design their products effectively.  Thumbs down!

[2022-11-02 19:32] wolfyncsu7 commented on #3762
I'm also curious for my company/ organization's use of GitHub and Power BI.  We are looking to report across a large number of repos to show data for repos that can be logically groups (per product or subset of architecture).  Is there a way to do this (even if it requires some customization)?

[2022-11-03 00:40] maggiesMSFT commented on #3042
@samaguire -- so sorry for my delayed response! This article has been updated many times since you entered this feedback, and now does mention the "share the app" functionality. Thanks!

[2022-11-03 00:40] #3042 closed

[2022-11-03 01:06] maggiesMSFT commented on #4136
@frankitecho -- I'm working on an update to the article, waiting for sign-off from @amandariveraMSFT.
Thanks!

[2022-11-03 14:22] Jeharadk commented on #3380
Any news on this? This is still very much relevant!
Is there a possibility to share the pbix with us, so we can look at doing our own implementation?

[2022-11-03 14:49] paulinbar commented on #3380
Hi @Jeharadk, I'll ping the product team.

[2022-11-03 15:07] djurecic0 opened #4172 ""Maximum of 1,000 datasets, or 1,000 reports per dataset""
I'm not clear on what "or" means in the context below.

If the limit for datasets per workspace is 1000 and the limit for reports per dataset is 1000, does that mean that the limit for reports per workspace is 1,000,000 (1000 * 1000) ?

Or is there a limit of 1000 datasets + reports per workspace?

Or another combination?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-03 17:00] bishalgoswami commented on #4172
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-11-03 17:20] tahmid-bari commented on #4154
Hi, @maggiesMSFT -- Thank you so much for your note. Yes, this information is useful even though we are looking for those services in our uploaded paginated (aka SSRS) reports in the Power BI service. Thanks.

[2022-11-04 08:42] floemmel opened #4173 "Prerequisites and limitations not complete"
Hi,

I noticed a small mistake in the documentations. In the "Prerequisites" section as well as in the Considerations and limitations it is stated that "_Publish to web is available for reports you can edit in your personal and group workspaces._". However what is not mentioned, is that additionally you need sharing permissions. Therefore the minimum permissions required are Member or Contributor

[2022-11-04 14:08] ehsf973 opened #4174 "A lot of PBI Screen shots are not visible in this page"
[Enter feedback here]
A lot of PBI Screen shots are not visible in this page. Using edge. only brokens icons with description what you are supposed to see...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 744f5d32-18ed-9018-3003-c5f9bcb3d1ff
* Version Independent ID: e2123a9f-edef-5170-05c6-98d42bc9fd35
* Content: [Fi

[2022-11-04 14:35] Andy-Orme-Cloud commented on #3380
We are losing customers due to this not being in place. Can we get an update ASAP?

[2022-11-04 15:00] bishalgoswami commented on #4174
Thanks for your comment, @ehsf973. This issue has been assigned to the doc author for review.

[2022-11-04 16:15] goonerCW opened #4175 "Outdated information regarding connecting to Synapse Analytics?"
The article claims "Both Azure Synapse Analytics (formerly SQL Data Warehouse) and Azure HDInsight Spark data sources can be connected to directly, without the need to use Power BI Desktop.".
However, the linked article next to it (and Power BI services itself, when trying to connect) claim
"The previously available direct connector for Azure Synapse Analytics in the Power BI service **is no longe

[2022-11-04 17:00] bishalgoswami commented on #4175
Thanks for your comment, @goonerCW. This issue has been assigned to the doc author for review.

[2022-11-04 22:34] prvillal opened #4177 "Missing information"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

[Enter feedback here]
There is missing information on how to disable this feature...

If you see the link, it states is enabled by default, then it says... to disable this feature... and does not explain how.

https://review.learn.microsoft.com/en-us/power-bi/enterprise/service-premium-sc

[2022-11-04 23:00] bishalgoswami commented on #4177
Thanks for your comment, @prvillal. This issue has been assigned to the doc author for review.

[2022-11-04 23:16] peter-myers commented on #4175
Hi @bishalgoswami - thanks for your feedback. I've removed that entire section because it was outdated. The published change should take affect with 24-48 hours.

[2022-11-04 23:16] #4175 closed

[2022-11-05 02:21] LarsKemmann opened #4178 "What is "Odatafeed Auth 2.0"? There's no explanation given."
A note on this page says:

There is no explanation given for what "Odatafeed Auth 2.0" is (and the casing is odd).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b816e194-4069-e526-a96d-04238bf354cd
* Version Independent ID: 369aca21-55ba-d5f5-b699-bb4d85f1d540
* Content: [Tips for authoring template apps in Power BI

[2022-11-06 09:01] KesemSharabi commented on #4177
Hi @prvillal,

Thanks for letting us know. This article was accidently published prematurely. I'll remove this section and republish the article with the required information shortly.

Thanks,

Kesem

[2022-11-06 09:01] #4177 closed

[2022-11-06 09:03] KesemSharabi commented on #4171
Hi @ed7257,

Thank you for your comment. I'm looking into this and will verify the numbers shortly.

Kesem

[2022-11-06 09:19] KesemSharabi commented on #4149
Hi @djurecic0,

Thank you for pointing out this issue. I've updated the table header from 'up to 400 GB' to '25-400 GB' with a footnote that explains that this figure depends on the SKU you have (see [Using Premium Per User (PPU)](https://learn.microsoft.com/power-bi/enterprise/service-premium-per-user-faq#using-premium-per-user--ppu-)).

Thanks again for getting involved,

Kesem

[2022-11-06 09:19] #4149 closed

[2022-11-06 09:20] #4148 closed

[2022-11-06 15:11] pawarbi opened #4179 "What are variation and caldenar tables"
Hi,

Under the Dataset Limitations section, it is mentioned that datasets with [variation and calendar tables aren't supported](https://learn.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-process#dataset-limitations:~:text=uses%20variation%20or%20calendar%20tables). Can you please clarify what that means ? There is no such thing as calendar table in Power BI. There are [Date Tab

[2022-11-07 01:07] Chris-Burgess-ACTGOV opened #4180 "Maturity Perspective tagging to Release Wave/Plan items"
Hi Team
Any thoughts on tagging the:
![image](https://user-images.githubusercontent.com/60373199/200206340-ba7f5d85-4188-4454-a74e-29d50bd9fd93.png)

maturity levels to the release wave items
https://learn.microsoft.com/en-gb/power-platform-release-plan/2022wave2/power-bi/planned-features
and/or
https://experience.dynamics.com/releaseplans/?app=Power+BI

Would certainly give some visibility and me

[2022-11-07 16:49] ryan2275 opened #4181 "Needs a note about limitations in service"
Although the page is clearly designated for 'PowerBI Desktop' -- there still needs to be something added that explains that R script cannot be refreshed in Enterprise gateways.

Considerable time and effort can be spent to enable and develop R scripts that end up being useless as they cannot be promoted to a fully scheduled PowerBI report in service.

---
#### Document Details

⚠ *Do not edit this

[2022-11-07 20:15] MartinBubenheimer opened #4182 "Pls. add guidence on choosing an identity for scheduled refresh"
Please add best practices what kind of identiy (user, service principal, or the like) to use to authenticate with SharePoint Online in a scheduled refresh scenario, talking about a file that is stored in SharePoint and loaded into the Power BI Dataset, e.g Excel or CSV file, not talking about the pbix file being stored on SharePoint. To me there is a lot of confusion around this without guidance:

[2022-11-08 03:43] someshpk commented on #3897
Hi,

I have encountered the same issue when connecting to a view situated on Hadoop(Hive) db via ODBC connector.
Any solutions on this error?

[2022-11-08 10:36] BenniDeJagere opened #4184 "Add VNET Gateway (supported) & (required) to overview"
With the VNET Gateways slowly creeping into public preview more and more, and GA arriving soon, I find customers get confused with the verbiage on Gateway (supported) and Gateway (required). It would useful to have a split between the on-premises data gateway and the VNET data gateways.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-11-08 14:01] bishalgoswami commented on #4182
Thanks for your comment, @MartinBubenheimer. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #4181
Thanks for your comment, @ryan2275. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #4180
Thanks for your comment, @Chris-Burgess-ACTGOV. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #4179
Thanks for your comment, @pawarbi. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #4178
Thanks for your comment, @LarsKemmann. This issue has been assigned to the doc author for review.

[2022-11-08 21:13] simoninnyc opened #4185 "No mention of troubleshooting steps for 'Visualize this list' taking the user to PowerBI login page"
There's no explanation for why a user (with PowerBI Pro license) is taken to the login page of PowerBI even after authenticating. Unable to proceed without this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: be7b35f1-76fc-3c6c-b97c-42b9724c7644
* Version Independent ID: edb54e4e-c730-5573-fe30-d331946a7c54
* Content:

[2022-11-09 01:12] peter-myers commented on #4180
Hi @Chris-Burgess-ACTGOV - thanks for the suggestion. We'll let the release team know of your suggestion and let them decide whether they will adop your idea. Thanks again.

[2022-11-09 01:12] #4180 closed

[2022-11-09 01:15] peter-myers commented on #4165
Hi @ScottSzathmary - thanks for your feedback. Many-to-many isn't exclusive to models that connect to Dataverse. You can find this topic is covered in detail in this guidance article: https://learn.microsoft.com/power-bi/guidance/relationships-many-to-many - I hope that helps you.

[2022-11-09 01:15] #4165 closed

[2022-11-09 19:58] rosscouldrey opened #4186 "Save a copy requiring Build permissions???"
At multiple places in this doc we state that you require build permissions on the dataset to make a copy of a report - I believe this is incorrect.  You can copy a report if you have read access to the report and dataset, but you cannot edit/update it.

So I can create a copy of a report into my own workspace when I have read permissions, and that report will remain connected to the original datas

[2022-11-09 20:00] bishalgoswami commented on #4186
Thanks for your comment, @rosscouldrey. This issue has been assigned to the doc author for review.

[2022-11-10 02:51] wangfei13 commented on #4107
any update???

[2022-11-10 07:24] PatStats opened #4187 "creating a dataflow from cloud sources in power bi service (scorecard cloud dataset)"
[Enter feedback here]

Hi,

just wondering if anyone has had success using scorecard (goals) as datasets in power bi,

I have been able to connect the scorecard data set via direct query, but I need to further transform the dataset in order to perform some simple powerquery transformations
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-11-10 08:00] bishalgoswami commented on #4187
Thanks for your comment, @PatStats. This issue has been assigned to the doc author for review.

[2022-11-10 08:17] tarekbanims opened #4188 "Gen1 Documentation"
Hi,

Are we planning to retire Gen1 documentation or flag it as obsolete since we moved our customers to Gen2 already.
The issue is it is creating confusion for customers and MS sellers for example refresh parallelism, utilization reports and capacity workloads.

Regards,
Tarek

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-10 09:49] KesemSharabi commented on #4179
Hi @pawarbi,

Auto-calendar tables are created automatically, when the _Auto date/time_ option is selected, to optimize the use of _Date_ columns in other, user-authored, tables (see [Auto date/time in Power BI Desktop](https://learn.microsoft.com/power-bi/transform-model/desktop-auto-date-time)).

_Variations_ is a property of a column within a table. Each variation refers to an associated relati

[2022-11-10 10:00] bishalgoswami commented on #4188
Thanks for your comment, @tarekbanims. This issue has been assigned to the doc author for review.

[2022-11-10 10:09] KesemSharabi commented on #4158
Hi @JamesTStanley,

I can't change the screenshot as this is what you see in Power BI service. As for your comment regarding not creating anxiety for customers that want higher SKUs, there's a note that refers to that before the screenshot ([Change capacity size](https://learn.microsoft.com/power-bi/enterprise/service-admin-premium-manage?source=docs#change-capacity-size)):

<img width="440" alt="

[2022-11-10 13:21] djurecic0 opened #4189 "Request for clarification- "members of workspace""
First, is there such a thing as "members of a workspace"? Should this be called "users who have access to a workspace"? In this context, the word "member" is confusing with the "Member" role. To me, Workspace Members, Workspace Admins, and Workspace Contributors mean the users who have been assigned those roles. In Power BI service, to see who has access to a workspace, you go to "Access", not "Me

[2022-11-10 14:00] bishalgoswami commented on #4189
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-11-10 14:41] djurecic0 opened #4190 ""Security Group" vs Azure Active Directory Security Group and Active Directory Security Group"
Instead of "Security Group", I think it would be helpful to list the specific types of security groups like below. This is how most people refer to these types of groups. The generic term "security group" is not specific enough and leaves questions in the user's mind about what types of security groups can be used.

Azure Active Directory Security Group
Active Directory Security Group

---
#### Do

[2022-11-10 15:30] paulinbar commented on #4190
Hi @djurecic0, thanks for the input. I think you are right to say that this needs to be more specific. Let me see if I can get that information from the developers.

[2022-11-10 16:00] paulinbar commented on #4189
Hi @djurecic0, thanks for your question. I will look into it. Thanks!

[2022-11-10 16:00] bishalgoswami commented on #4190
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-11-10 18:21] Minewiskan commented on #4167
Duplicate of https://github.com/MicrosoftDocs/powerbi-docs/issues/4153

[2022-11-10 18:21] #4167 closed

[2022-11-10 23:44] luisgonzalez-alb opened #4191 "BankRate table no longer available"
Hello,

Per your tutorial, Getting Started with Power BI Desktop, getting Web data from https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/ should present an "HTML Table > Ranking of best and worst states..." in Power Query Editor, but it does not. Only "Suggested Tables" are listed, none of which match the expected table, and so the tutorial cannot be followed as described.

[2022-11-11 00:00] bishalgoswami commented on #4191
Thanks for your comment, @luisgonzalez-alb. This issue has been assigned to the doc author for review.

[2022-11-11 10:46] premsonbaby commented on #3380
hi, is there any update on this?

[2022-11-11 12:21] KurtPetteloot opened #4192 "Reordering of (calculated columns)"
It sure would be very useful to developers and data modelers to reorder the columns in the data view. When a calculated column is created it is added to the far right and there seems no way to move it to a more appropriate position in the column order.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 32b2d1e0-b435-be54-

[2022-11-11 14:00] bishalgoswami commented on #4192
Thanks for your comment, @KurtPetteloot. This issue has been assigned to the doc author for review.

[2022-11-11 18:49] pawarbi commented on #4179
Thanks @KesemSharabi . So If I understood it right, if a DQ or composite model uses auto/date time, deployment pipeline will not work?
I am still don't understand variations. I get that it is a property of the column but how do I check in Power BI Desktop or Tabular Editor if a column has variation ? If a column is used in a hierarchy or is in relationship, it cannot be used in deployment pipeline

[2022-11-13 21:23] paulinbar commented on #3886
Hi @wiegelman and @RodrigoRibeiro1995,
Today I was informed by the product team that the Analyze Popular Stocks with Power BI template is no longer being supported and has been withdrawn from AppSource, so I am afraid that no fix for current installations is coming. Sorry to have this news, but thanks for reaching out.

[2022-11-13 21:23] #3886 closed

[2022-11-14 00:17] tarsedagnetarle opened #4193 "Food Engineering"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8c4b5e-196c-ebdb-e024-d9380b3bd657
* Version Independent ID: 6e8c4b5e-196c-ebdb-e024-d9380b3bd657
* Content: [Workspaces in Power BI - Power BI](https://learn.microsoft.com/en-us/power-bi/collaborate-share/service-new-workspaces)
* Content Source:

[2022-11-14 02:00] bishalgoswami commented on #4193
Thanks for your comment, @tarsedagnetarle. This issue has been assigned to the doc author for review.

[2022-11-14 15:27] denglishbi opened #4194 "Limitations for download pbix for report and dataset"
The limitations section needs to be updated based on the changes made with the October release of Power BI desktop since more scenarios are now supported with regards to being able to download reports referencing large datsets, incremental refresh, or deployed through the deployment pipelines.
https://powerbi.microsoft.com/en-us/blog/power-bi-october-2022-feature-summary/#post-21148-_Toc116053194

[2022-11-14 16:00] bishalgoswami commented on #4194
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-11-14 16:32] SHKS-GFT opened #4195 "could this page be updated please? Very old."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 27338e81-9282-521f-e0b6-245124da59ec
* Version Independent ID: 27338e81-9282-521f-e0b6-245124da59ec
* Content: [Private endpoints for accessing Power BI - Power BI](https://learn.microsoft.com/en-us/power-bi/enterprise/service-security-private-links)

[2022-11-14 18:00] bishalgoswami commented on #4195
Thanks for your comment, @FalkeSK. This issue has been assigned to the doc author for review.

[2022-11-14 18:03] MSUMOLL opened #4196 "which access paths are needed to use this information?"
This page gives no indication of which access path is needed to obtain the views and information it contains. I believe the images and instructions are for a person using Power BI on the web, and that they do not pertain to a person using Power BI desktop. Is it possible to [mention this information on the page like pages like this do](https://support.microsoft.com/en-us/office/customize-or-create

[2022-11-14 20:00] bishalgoswami commented on #4196
Thanks for your comment, @MSUMOLL. This issue has been assigned to the doc author for review.

[2022-11-15 20:02] otravers opened #4199 ""Principles" not principals"
The word "principal" means something different from "principle."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5a808705-dc30-b57f-7e2e-2ec0a9360124
* Version Independent ID: 2d766a55-b579-0991-5d79-78ca2a82ef4a
* Content: [Model relationships in Power BI Desktop - Power BI](https://learn.microsoft.com/en-us/power-bi/

[2022-11-15 22:00] bishalgoswami commented on #4199
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-11-15 23:57] peter-myers commented on #4199
Hi @otravers - thanks for reporting the error. I've published an update for the article, and it should go live in the next 24 hours.

[2022-11-15 23:57] #4199 closed

[2022-11-16 18:42] KesemSharabi commented on #4188
Hi @tarekbanims,

Yes, we're planning to archive the Gen1 documentation shortly.

Thanks for the reminder,

Kesem

[2022-11-16 19:57] djurecic0 opened #4200 ""As long as your datasets do not exceed this value"- context"
I think this statement may be technically correct, but does not send the most useful message to the end user since it does not make any reference to refreshing the data. A full refresh of an imported dataset will cause the size of the dataset to double during the refresh process (source: https://learn.microsoft.com/en-us/power-bi/connect-data/refresh-data#datasets-in-import-mode)

Evaluating a dat

[2022-11-16 20:00] bishalgoswami commented on #4200
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-11-16 20:05] #4134 closed

[2022-11-17 15:38] JeffZheng666 opened #4203 "Secure Embed vs Power BI Embedded clarification"
[Enter feedback here]
Hello team,

I'd like to know that in the statement about Secure Embed 'The viewer of the report must be properly licensed and _can't interact with the report._ ' , Based on my test, in Secure Embed option, I can interact with the embed report such as using filters and select the part in the visuals. So what does this 'The viewer can't interact with the report' means?

Also,

[2022-11-17 16:00] bishalgoswami commented on #4203
Thanks for your comment, @JeffZheng666. This issue has been assigned to the doc author for review.

[2022-11-17 20:57] otravers opened #4204 "Embedded meaning?"
Can you confirm whether report embeds in Teams, SharePoint, PowerPoint, etc. are counted here? "Power BI Embedded" usually means coding-based embedding, not the no-code embeds in other Microsoft apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f16f558c-a397-7d10-b953-6c8972df9478
* Version Independent ID: ffc58ae8

[2022-11-17 22:00] bishalgoswami commented on #4204
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-11-18 15:00] ChristianGalla opened #4205 "Report Server license clarification needed"
The current [licensing documentation](https://learn.microsoft.com/en-us/power-bi/report-server/get-started#licensing-power-bi-report-server) including its links does not mention the number of Power BI Report Server instances a company can use, for example:

1. If you have only 1 SQL Server Enterprise Edition with Software Assurance
   1. Can you install only 1 Power BI Report Server on the same SQ

[2022-11-18 16:00] bishalgoswami commented on #4205
Thanks for your comment, @ChristianGalla. This issue has been assigned to the doc author for review.

[2022-11-18 19:49] Darian-FRB opened #4206 "There is confusions as to which audit log "audit log" refers to."
The section title "Use the audit log" at https://learn.microsoft.com/en-us/power-bi/admin/service-admin-auditing#use-the-audit-log does not clearly identify that this section pertains to the Unified Audit Log. This has confused Power BI administrators who have been attempting to access Purview and Exchange Online, which are beyond their responsibilities and in violation of separation of duties.

A

[2022-11-18 20:00] bishalgoswami commented on #4206
Thanks for your comment, @Darian-FRB. This issue has been assigned to the doc author for review.

[2022-11-19 12:20] denglishbi opened #4207 "Paginated reports now in Pro:)"
It was just announced this week at PASS Summit that paginated reports are now no longer just a premium feature and will be made available to Pro / Shared workspaces as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8aaa37e4-51a4-928b-fdd8-8a2b2794c09e
* Version Independent ID: 8aaa37e4-51a4-928b-fdd8-8a2b2794c09

[2022-11-19 14:00] bishalgoswami commented on #4207
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-11-20 02:33] davidkhala opened #4208 "No more "Sign up for a Microsoft 365 trial of Office""
Per [this section](https://learn.microsoft.com/en-us/power-bi/enterprise/service-admin-signing-up-for-power-bi-with-a-new-office-365-trial#sign-up-for-a-microsoft-365-trial-of-office)

We are supposed to be able to sign up for a Microsoft 365 trial [on the Microsoft 365 web site](https://www.microsoft.com/microsoft-365/business/compare-more-office-365-for-business-plans)

But the current status of

[2022-11-20 04:00] bishalgoswami commented on #4208
Thanks for your comment, @davidkhala. This issue has been assigned to the doc author for review.

[2022-11-20 11:37] mberdugo commented on #4203
Hi, @JeffZheng666. Thanks for your questions. I'll look into it and get back to you with a clarification.

[2022-11-20 15:17] ThierryBIENVENU opened #4209 "How to reset incremental update"
How to reset the incremental update programmatically ?
In other words, return to the first page of data after retrieving all the data ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a56f1862-1408-700b-2a3a-69f5473a6467
* Version Independent ID: 743dafe3-9296-eb47-0449-dd9874b1e086
* Content: [Fetch more data from Pow

[2022-11-20 16:01] bishalgoswami commented on #4209
Thanks for your comment, @ThierryBIENVENU. This issue has been assigned to the doc author for review.

[2022-11-21 09:00] hokeson opened #4210 "ETA?"
is there any estimation about when [Azure Log Analytics for Power BI](https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fpower-bi%2Ftransform-model%2Flog-analytics%2Fdesktop-log-analytics-configure&data=05%7C01%7CDharsini.B%40nestle.com%7Cfc419bb3816e41d1e1b408dac96a4843%7C12a3af23a7694654847f958f3d479f4a%7C0%7C0%7C638043755560021914%7CUnknown%7CTWFpbGZ

[2022-11-21 10:00] bishalgoswami commented on #4210
Thanks for your comment, @hokeson. This issue has been assigned to the doc author for review.

[2022-11-21 10:16] w0ut0 opened #4211 "SSO for end users - implications when using PowerBI embedded"
Hi,

we have PowerBI reports point to a data warehouse using AAD login. When enabling the `SSO for end users`, this works fine when viewing the report in the PBI service.

What are the implications of embedding the report (the users viewing the embedded report don't have AAD credentials):
- will the end user be prompted for credentials anyway
- will the SSO use the embedding's applications service

[2022-11-21 11:20] mberdugo commented on #4209
Thanks for your question, @ThierryBIENVENU. Here's the answer I got from one of the engineers:

The visual is usually expected to hold the dataview passed to it, so it can access whatever piece of data without communicating with PowerBI.

It’s also possible to start over by triggering a “fresh” update.
The visual can call persistProperties() to do that.

I hope this helps. I'll update the document

[2022-11-21 11:51] ThierryBIENVENU commented on #4209
Thank you for your response. I will test the call to persistProperties()
Regarding "hold the dataview passed to it": In this case it is the same as doing an aggregate update, the incremental should be a way to avoid maintaining all data in the visual.

[2022-11-21 12:00] bishalgoswami commented on #4211
Thanks for your comment, @w0ut0. This issue has been assigned to the doc author for review.

[2022-11-21 13:27] mberdugo commented on #4209
#sign-off

[2022-11-21 16:37] ThierryBIENVENU commented on #4209
That doesn't work for me :
- if I persist nothing persistProperties({})
-- Nothing append, the visual is not update
- if I persist a properties with the same value
-- Nothing append, the visual is not update
- if I persist a properties with an incremented value
-- update is call but with the same data view, i.e. the last dataview consumed and not the first page

[2022-11-21 19:24] vyshnavmk-lumel opened #4212 "Circle Card visual documentation fix"
Need to add following Visual.ts constructor
`    this.formattingSettingsService = new FormattingSettingsService();
`

`import { VisualSettings } from "./settings";
`: No VisualSettings present in settings.ts, need to change
`VisualFormattingSettingsModel -> VisualSettings  in settings.ts
`
 and
`this.visualSettings = this.formattingSettingsService.populateFormattingSettingsModel(VisualSettingsMode

[2022-11-21 20:00] bishalgoswami commented on #4212
Thanks for your comment, @vyshnavmk-lumel. This issue has been assigned to the doc author for review.

[2022-11-22 05:23] richardcaoshihua opened #4214 "Private Endpoint DNS Zone Names not matching Documentation"
Hi, Team,

The Private DNS Zone name listed in the document (https://learn.microsoft.com/en-us/power-bi/enterprise/service-security-private-links) is as followed:
+ privatelink.analysis.windows.net
+ privatelink.pbidedicated.windows.net
+ privatelink.tip1.powerquery.microsoft.com

However, when we create the Private Endpoint, we are only getting the following:
+ privatelink.analysis.windows.net
+

[2022-11-22 09:15] mberdugo commented on #4212
Thanks for your comment, @vyshnavmk-lumel. This entire article is currently undergoing revision and will be republished soon.

[2022-11-22 09:19] mberdugo commented on #4203
Hi, @JeffZheng666. You're right that the user can interact with the report in secure embed. Here are the differences:
1.	Secure Embed - easy, low-code [just iFrame level integration], no automatic authentication, and no API support, not hostable in apps (supports web pages only).
2.	Embedded Analytics - rich, fully integrated, full APIs, supports automatic authentication, and is hostable in apps.

[2022-11-22 17:42] KesemSharabi commented on #4171
Hi @ed7257,

The information in the table is correct. In addition to the numbers in the table, if you have a Microsoft 365 E5 SKU (which includes Power BI services), you can buy a 10 year Audit Log retention.

Hope this helps,

Kesem

[2022-11-22 18:04] denglishbi opened #4217 "Linked Reports will not migrate"
Another item that there is not an equivalent for in the Power BI service for migration is Linked reports, so might want to include that in the following section here - https://learn.microsoft.com/en-us/power-bi/guidance/migrate-ssrs-reports-to-power-bi#assess

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f8c868cc-a15

[2022-11-22 18:28] maggiesMSFT commented on #4185
Hi, @simoninnyc -- I'm checking with the product team. Thanks!

[2022-11-22 19:39] maggiesMSFT commented on #4217
Hi, @denglishbi -- fixing now. Thanks!

[2022-11-22 19:39] #4217 closed

[2022-11-23 02:39] JeffZheng666 commented on #4203
Thank you for the clarification @mberdugo!

[2022-11-23 12:47] ChristianGalla commented on #4205
I was able to find the missing information on the Product Terms site:

- [SQL Server Enterprise Edition with Software Assurance](https://www.microsoft.com/licensing/terms/productoffering/SQLServer/MPSA#SoftwareAssurance)

- [Power BI Premium](https://www.microsoft.com/licensing/terms/productoffering/MicrosoftPowerPlatform/MPSA#Availability)

Unfortunately, the Product Terms site and its content is

[2022-11-23 13:53] mberdugo commented on #4212
Thanks, @vyshnavmk-lumel. We're working on it. I wish I could give you a time estimate, but it's in our backlog.

[2022-11-23 13:53] #4212 closed

[2022-11-23 13:54] #4203 closed

[2022-11-23 18:09] ttobinak opened #4219 "Alaska Census and Borough Information"
Copper River Census Area is not recognized in choropleth map/filled map visualization in Power BI. It is still being recognized by Valdez-Cordova Census Area where this census area was split to Chugach and Copper River in 2019.

[2022-11-23 20:00] bishalgoswami commented on #4219
Thanks for your comment, @ttobinak. This issue has been assigned to the doc author for review.

[2022-11-24 08:10] MarkusFra commented on #3969
Is there any update to this? I am running into the same issue. 10 is a ridiculously low limit for the number of groups.

[2022-11-25 06:20] microsoft-github-policy-service[bot] opened #4221 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-25 08:00] bishalgoswami commented on #4221
Thanks for your comment, @microsoft-github-policy-service. This issue has been assigned to the doc author for review.

[2022-11-25 12:45] mberdugo commented on #4209
Hi, @ThierryBIENVENU. It looks like you're right that it doesn't work.
The general preference is for the visual to hold the data it has to avoid requesting it again.
Could you explain more about why you want to reset the data to the beginning? Maybe we can find a solution for you.

[2022-11-25 12:45] stachulec opened #4222 "Active StoreName example does not follow the column reference best practice Table[Column]"
link to the best practice:
https://learn.microsoft.com/en-us/dax/best-practices/dax-column-measure-references
example should show
`Active StoreName = IF(Stores[Status] = "On", Stores[StoreName], "Inactive")
`
instead of
`Active StoreName = IF([Status] = "On", [StoreName], "Inactive")
`
it can be valuable to new users to show the best practice in the offical examples
---
#### Document Details

⚠ *D

[2022-11-25 14:00] bishalgoswami commented on #4222
Thanks for your comment, @stachulec. This issue has been assigned to the doc author for review.

[2022-11-25 14:22] ThierryBIENVENU commented on #4209
Hi @mberdugo, thanks for your answer
For my case I gave up the idea of refreshing via the code and instead I display a message to the user asking them to filter to another visual so that reset my visual. As my visual is a button that post data to an external rest api it makes sense not to post the same data again.

As mentioned, I don't think it's a good idea to keep the data in the visual in addi

[2022-11-25 15:29] devjain1987 opened #4223 "Information on this page about sharing reports is confusing"
Please read this page again and make the modifications if required. In the Venn diagram while comparing difference between Power BI Desktop and Service. Sharing is written t be the unique feature of Power BI Service but the text in the first para states the Power BI desktop can also share reports directly.
It is confusing as to sharing reports is unique feature available in Service or Both

---
##

[2022-11-25 16:00] bishalgoswami commented on #4223
Thanks for your comment, @devjain1987. This issue has been assigned to the doc author for review.

[2022-11-25 22:44] gvggvg opened #4224 "Saving to another workspace does not seem to work"
I am an admin for a number of workspaces. Why "Save a Copy" is greyed out? It does not seem to be possible to copy a report even if you are the admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47
* Content: [Copy repo

[2022-11-26 00:00] bishalgoswami commented on #4224
Thanks for your comment, @gvggvg. This issue has been assigned to the doc author for review.

[2022-11-29 13:44] KesemSharabi commented on #4219
Hi @ttobinak,

Can you please let us know which document you're referring to?

Thanks,

Kesem

[2022-11-29 13:46] KesemSharabi commented on #4207
Hi @denglishbi,

Thank you for pointing out that paginated reports are not a Premium feature anymore.

I removed the paginated reports entry from the [Power BI Premium feature list](https://learn.microsoft.com/power-bi/enterprise/service-premium-features#power-bi-premium-feature-list).

Kesem

[2022-11-29 13:46] #4207 closed

[2022-11-29 13:50] KesemSharabi commented on #4206
Hi @Darian-FRB,

Thank you for your comment and for getting involved.

We're in the process of creating better documentation for logs in Power BI. As part of this process, we'll replace this article with a new one. This will be done shortly, and your comments will be addressed. Please note that this may take some time.

Kesem

[2022-11-29 13:50] #4206 closed

[2022-11-29 13:54] #4157 closed

[2022-11-29 16:27] Darian-FRB opened #4226 "Please Menton the -Environment Parameter When Presenting the Connect-PowerBIServiceAccount Cmdlet"
Documentation such as https://learn.microsoft.com/en-us/powershell/power-bi/overview?view=powerbi-ps#log-in-to-power-bi does not mention the existence or need of the -Environment parameter when connecting to Power BI via PowerShell. Such a parameter is not needed for a number of other M365/Azure modules, so Power BI is an outlier.

As an example, one of my colleagues was encountering an 'Unauthori

[2022-11-29 18:00] bishalgoswami commented on #4226
Thanks for your comment, @Darian-FRB. This issue has been assigned to the doc author for review.

[2022-11-30 06:31] PehDeh commented on #4155
Hi,
sory the notification ended up in spam.
I meant this article:
https://learn.microsoft.com/en-us/power-bi/report-server/configure-kerberos-powerbi-reports
Especially that part with constrained delegation set to Use any authentication protocol:
https://learn.microsoft.com/en-us/power-bi/report-server/media/configure-kerberos-powerbi-reports/powerbi-report-config-delegation.png
Shouldn´t you reco

[2022-11-30 08:42] KesemSharabi commented on #4155
Hi @PehDeh, I've reopened this issue and will look into it. Thanks for providing a link to the article.

[2022-11-30 15:38] LoisLoriot commented on #4103
Hi @davidiseminger, @bishalgoswami, any update on this please ?

[2022-11-30 20:43] Jogihu opened #4227 "View as other user need to select role as well"
Hello

It should be added and clarified, that in "View as roles", "Other user" only works if one of the defined roles is selected as well.
So, if you only select "Other user", no RLS is applied.
In order to be applied, you have to select the role as well, that shall be used for the "Other user".

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-11-30 20:59] rosscouldrey opened #4228 "Capacity Re-Sizing - downtime"
We should explicitly state that there is no downtime involved in resizing a capacity.  We currently state this for Embedded capacities (see https://learn.microsoft.com/en-us/power-bi/developer/embedded/power-bi-embedded-generation-2) but i was unable to find this stated for Premium Capacities.

The section on resizing the capacity would be a perfect place to make a statement that this happens with

[2022-11-30 22:00] bishalgoswami commented on #4228
Thanks for your comment, @rosscouldrey. This issue has been assigned to the doc author for review.

[2022-11-30 22:00] bishalgoswami commented on #4227
Thanks for your comment, @Jogihu. This issue has been assigned to the doc author for review.