[2020-05-06 08:55] paulinbar commented on #1683
Hi @MACEL94 , sorry for not responding earlier. Have you tried creating a comma separated list of email addresses and pasting that into the text field where you are asked to supply names? I tried that and it seemed to work. It also worked if the separator was a semi-colon. Emails for people outside the organization were rejected. It is possible to add them, but they have to be B2B guests. Let me k

[2020-05-06 08:55] #1683 closed

[2020-05-06 09:10] NaveenIntellectyx commented on #2023
Hello Team, any updates on this.

[2020-05-06 10:03] ath-violettak opened #2141 "Map chart in Greek"
I would like to know how I can have my map in English as although I have tried changing all relative setting to English, I still get my map showing the locations in Greek.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735d805a-0981-4f84-12e7-b5560ea9c3bb
* Version Independent ID: d5dce962-ecf1-014e-65d9-00121fdd6d3c
*

[2020-05-06 10:59] paulinbar commented on #2116
Hi @psiservices-rfeiock - when you say Github authentication - do you refer to the dialogs of the template app, or does it take you to github to sign in? If you are already logged into github in your browser, I don't think you'll get the Github sign in screens - you'll just have the two from the template app - the first, where you specify the repo owner and the repo, and the next, the authenticati

[2020-05-06 11:38] sloggiz opened #2142 "Is it working for on-premise (Report Server) PowerBI desktop or not?"
I can't find any information about supported versions of PowerBI Desktop application. I'm currently running PowerBI Desktop RS Jan 2020 and I can't find composite mode anywhere.
If it's not supported, please explicitly write this in the article. And in general I noticed that this kind of information is never present in official PowerBI documentaion.

---
#### Document Details

⚠ *Do not edit this

[2020-05-06 12:49] KesemSharabi commented on #2142
Thanks for your comment, @sloggiz.

I've assigned this issue to the doc author for review.

[2020-05-06 12:51] KesemSharabi commented on #2141
Thanks for your comment, @ath-violettak.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-05-06 12:52] KesemSharabi commented on #2140
Thanks for your comment, @chandramoulipathanjali.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-05-06 13:50] psiservices-rfeiock commented on #2116
It is a GitHub screen, and below is an example.  It is not the GitHub login screen, rather it is the authorization screen that allows Power BI access to the user's GitHub data.  The two dialogs you mentioned above are not a problem because as you said, if a user deletes the workspace and re-adds, then the user is prompted for them again.  This GitHub authorization screen however, there is no simpl

[2020-05-06 14:45] paulinbar commented on #2116
Hi @psiservices-rfeiock , ok.. thanks for clarifying. I will look into this further in order to understand how best to fix the doc so that people don't run into the same problem you did. Will keep you posted.

[2020-05-06 18:31] davidiseminger commented on #1846
Hi @baatch - there's no exclusion for Azure databricks and incremental refresh, so as long as you follow the requirements outlined in our refresh and incremental refresh content, it should work properly.

[2020-05-06 18:31] #1846 closed

[2020-05-06 18:36] davidiseminger commented on #1863
Thanks for your comment, @jontybuk. As Paul mentioned, this does indeed look like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-06 18:36] #1863 closed

[2020-05-06 18:39] davidiseminger commented on #1865
Hi @DaveStabilify - thanks for your questions, and Paul is correct that 1 and 3 are product feedback items best put tot he Power BI Ideas or community pages. On 2, filtering the data in Power Query enables you to optimize the data being incrementally refreshed - targeting only the data that would benefit from being refreshed - and thereby increasing performance. I hope that helps.

[2020-05-06 18:39] #1865 closed

[2020-05-06 18:47] davidiseminger commented on #1869
Thanks for your comment @ElegantHaiku - that clarification is much appreciated, and I've updated the article to include that information.

For @sebohnRAFI, your question looks like a support or community question, rather than a documentation question (though the fix for you might be straightforward). You might find a solution in the Power BI Community, found at https://community.powerbi.com. If no

[2020-05-06 18:47] #1869 closed

[2020-05-06 18:51] davidiseminger commented on #1870
Sorry for the inconvenience - not sure why that alias no longer works. I've updated the article so others don't have to send emails into the abyss, and updated it with guidance about how to submit ideas for R packages. Please submit those ideas to feature ideas - https://ideas.powerbi.com.

[2020-05-06 18:51] #1870 closed

[2020-05-06 19:00] davidiseminger commented on #1873
Sorry for the inconvenience - I've added that to the requirements section. Thanks for posting!

[2020-05-06 19:00] #1873 closed

[2020-05-06 19:10] davidiseminger commented on #1887
Thanks again for your comment - I've updated those screens to reflect the current UI.

[2020-05-06 19:10] #1887 closed

[2020-05-06 19:15] davidiseminger commented on #1888
This is great input @bgribaudo - thank you! I've updated the article to reflect your more *precise* expression of those data types. Truly appreciated, from us and others who read this.

[2020-05-06 19:15] #1888 closed

[2020-05-06 19:17] davidiseminger commented on #1894
Thank you for your feedback. We've put this request into our queue, and will review it with other documentation requests.

[2020-05-06 19:17] #1894 closed

[2020-05-06 19:19] davidiseminger commented on #1912
Thanks for posting this! I'm sure other readers will appreciate seeing this. In terms of doing a full assessment of the credentials required, and documenting them here, we've put this request into our queue, and will review it with other documentation requests.

[2020-05-06 19:19] #1912 closed

[2020-05-06 19:23] davidiseminger commented on #1913
Sorry for the inconvenience - I've added a note to the top of this tutorial that warns users that, due to Facebook App permission restrictions, the connector isn't currently working properly.

From a feature request perspective, you can vote on this feature (to get it working again) at https://ideas.powerbi.com.

[2020-05-06 19:23] #1913 closed

[2020-05-06 19:25] bgribaudo commented on #1888
Thank you, @davidiseminger!

[2020-05-06 19:25] davidiseminger commented on #1914
Thanks for your input and question. This is more of a product question, especially based on the specific licensing aspect, which would be better answered in a community or support venue.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-06 19:25] #1914 closed

[2020-05-06 19:31] davidiseminger commented on #1915
Including the writer responsible for the technical implementation of this connector, too.

[2020-05-06 19:35] davidiseminger commented on #1926
Thanks for pointing this out - it's fixed in the currently published article. Thanks!

[2020-05-06 19:35] #1926 closed

[2020-05-06 19:46] davidiseminger commented on #1931
Updating the correct author assignment.

[2020-05-06 19:50] davidiseminger commented on #1933
Hi @CeciAc  - thanks for posting. I'm sure others will appreciate seeing how the script worked for you, in case they run into trouble with the script provided in the article. Thanks!

[2020-05-06 19:50] #1933 closed

[2020-05-06 19:51] davidiseminger commented on #1934
Thanks for this - which is a duplicate of your other comment. I responded to that one too, thanks for posting!

[2020-05-06 19:51] #1934 closed

[2020-05-06 19:56] davidiseminger commented on #1941
Thanks for your feedback, and sorry for the confusion. I've updated that section to remove references to DAX, and we'll come back to the entire section to review rewriting it as time allows.

[2020-05-06 19:56] #1941 closed

[2020-05-06 20:00] davidiseminger commented on #1931
I've added a note to that article, to clarify what you pointed out. Thanks for helping out with that, I'm sure other customers will benefit!

[2020-05-06 20:00] #1931 closed

[2020-05-07 05:15] yogesh5c4 opened #2144 "Unable to integrate Python with Power BI"
while running the sample python script in powerbi, I am getting below error :
Details: "ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 2, in <module>
    import os, pandas, matplotlib
  File "C:\Users\SasanapY\AppData\Local\Continuum\anaconda3\Anaconda64bit\lib\site-packages\matplotlib\__init__.py", line 205, in <module>
    _check_versions()

[2020-05-07 07:10] Mike-Honey commented on #1116
This is such a mess. All I do every day is work on Power BI, yet I am hopelessly lost on this feature and can never get it to work.

Whoever built it, tested it or signed off on it as a working feature should be deeply ashamed of their work.

[2020-05-07 09:04] GeneCCC947 opened #2145 "Persistent local cache in Power Query and Power BI Desktop"
Very informative post and answers many questions regarding buffering and referencing.  For those of us who don't have Power BI access, It would be very helpful to be able to designate a local cache to a workbook or Power BI Desktop instantiation for given connections to servers. During development, many accesses to a sources can be painful.  Similarly, being able to create a Dataflow design that w

[2020-05-07 11:20] Gangula2 commented on #1947
@jspotanski, you need to select a field/column to see the contextual tab for Column Tools.
When you select a table the "Table Tools" tab shows up, when you select a field/column the "Column Tools" tab show up and when you select a measure, the "Measure Tools" show up. You can refer to the screenshot in my comment above.

[2020-05-07 13:06] woakesd opened #2146 "There are so many unanswer questions here."
Where are the values for AuthorityURL and ResourceURL found? (for starters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 856c2459-1221-d37d-a977-7baf42bedc80
* Version Independent ID: d99e1b35-749d-a75b-3f1a-f6502eb022ee
* Content: [Authenticate users & get Azure AD access token for your application - Power BI](https

[2020-05-07 14:55] davidiseminger commented on #1952
Thanks for the input @CeciAc  - I've added a note to that effect, so others can benefit. Much appreciated!

[2020-05-07 14:55] #1952 closed

[2020-05-07 17:26] adamwp1993 opened #2147 "Oracle ODAC 18 is supported with additional steps"
Unlike ODAC 12.2 installer, ODAC 18.x/19.x does not have an option to install the ODAC components to GAC and register them in machine config. These steps have to be run manually for ODAC 18.x and above for them to be usable in Power BI desktop or power bi service through gateway.

Once Oracle 18.x/19.x is installed go to the install directory and navigate to
1.	odp.net\bin\2.x for .net 2.0
2.	odp.

[2020-05-07 17:35] adamwp1993 commented on #2147
note: once these steps are performed you have to restart Gateway service

[2020-05-07 17:35] adamwp1993 commented on #2063
@kfollis any update on this? Thanks

[2020-05-07 17:53] vumsum commented on #2147
Please note this is for ODAC 18.x as well as 19.x ….basically any version after 12.2 needs to have these extra steps done.

[2020-05-08 06:18] MACEL94 commented on #1683
Hi, my issue was that it's not clear, if you have an on-premise instance of PBI, how can you bulk add by API/script a lot of emails, I don't want to do it manually from the UI.

Can you please re-open the issue?

Thank you!

[2020-05-08 06:19] MACEL94 opened #2148 "Row Level Security User Bulk Add"
https://github.com/MicrosoftDocs/powerbi-docs/issues/1683#issue-537157687

[2020-05-08 06:21] KerryWang94 opened #2149 "Connector Limitation - Please contact siqwang for more detail - internal request"
Description: Zendesk made an Update on their public API, Before Oct 15, 2019, The Zendesk Support Search API allows for a total of 200,000 results to be received through pagination of large queries. In order to align search usage with its intended scope, Zendesk will be changing the maximum number of results returned. Instead of up to 200,000 results, the Search API will return a maximum of 1,000

[2020-05-08 17:46] ferdcoz commented on #1883
Hi, why O365 groups arent enabled to grant access to shared datasets? While creating an App (using reports and datesets copied from different workspaces) I need to provide access indivually to all my users on each specifc dataset. You're able to use an O365 group to grant access to the workspace then It should follow the same logic but it doesnt. Any idea?

[2020-05-08 19:34] tomasbaima opened #2151 "Q&A in Streaming Datasets"
Hello, this update does not work on the streaming data set. I don't have the settings icon in the upper right corner. I can create suggestive questions in the power bi service but I cannot teach Q&A.

[2020-05-08 19:55] kfollis commented on #1683
Hi @MACEL94 - I have opened a work item for us to research this scenario and identify the best way for you to accomplish the goal so that we can enhance the article. You might try checking out this community thread for some ideas: https://community.powerbi.com/t5/Service/Assigning-RLS-roles-in-bulk/m-p/812623#M77938 or posting a new question to the community. The best way to accomplish bulk permis

[2020-05-08 21:23] v-radelg opened #2152 "Problem viewing published report"
@ProstoJohn commented 5 hours ago — with docs.microsoft.com

After successfully publishing a report and trying to view it using the link that Power BI issued, the following error occurs: "This content is not available. More information about Power BI" (https://snipboard.io/fjmUAI.jpg), click on the link "More information about Power BI "(https://go.microsoft.com/fwlink/?LinkID=722383&clcid=0x409)

[2020-05-08 23:57] maggiesMSFT commented on #2146
Hi, @woakesd -- thanks for asking! Referring to the author to provide answers.

[2020-05-09 00:00] maggiesMSFT commented on #2144
Hi, @yogesh5c4 -- are you referring to a specific article in the documentation? If so, can you provide a link? It sounds like this may be a support question. You can try asking in the Community forum, https://community.powerbi.com/ or in the support site, https://powerbi.microsoft.com/en-us/support/
thanks!

[2020-05-09 00:03] maggiesMSFT commented on #2145
Hi, @GeneCCC947 -- is this a documentation question, or a product suggestion? If the latter, you can provide it at https://ideas.powerbi.com/forums/265200-power-bi.
Thanks!

[2020-05-09 00:08] maggiesMSFT commented on #2148
Hi, @MACEL94 -- I see from the other issue you link to that @kfollis already replied:
"Hi @MACEL94 - I have opened a work item for us to research this scenario and identify the best way for you to accomplish the goal so that we can enhance the article."
So I'm not sure what more you're looking for. Can you elaborate? Thanks!

[2020-05-09 00:11] maggiesMSFT commented on #2149
Hi, @KerryWang94 -- Thanks for the information! Assigning to the author to investigate.

[2020-05-09 00:18] maggiesMSFT commented on #2151
Hi, @tomasbaima -- are you referring to a specific article? If so, can you please provide a link? Otherwise, this sounds like it may be a support issue. If so, please submit it at https://powerbi.microsoft.com/en-us/support/
thanks!

[2020-05-09 00:20] maggiesMSFT commented on #2152
Hi, @v-radelg -- this sounds like a product support issue. Can you please submit it at https://powerbi.microsoft.com/en-us/support/?
thanks!

[2020-05-09 00:20] #2152 closed

[2020-05-09 07:26] MACEL94 commented on #2148
The other issue was closed so I opened a new one. I would like to bulk insert many users from a ps script or your APIs for an on premise server but it,'s not clear how can I do this from the docs.

I'll close this as the other issue is now open once again :)

[2020-05-09 07:26] #2148 closed

[2020-05-09 09:49] paulinbar commented on #2149
Hi @KerryWang94, thanks for the info. I am checking out the details about where and how to document this limitation. I'll keep you posted.

[2020-05-09 09:54] danieleperilli opened #2153 "rolesIndex missing from the API"
When there are multiple columns/measures mapped to different roles in the Fields panel, we need to understand the position of each one. I just discovered that there is a specific property named **rolesIndex** to do that, which is not exposed in the API. It's safe to use it? Is it going to be included in the API? Thanks.

![image](https://user-images.githubusercontent.com/9072177/81470526-78e77c00-

[2020-05-09 17:46] tomasbaima opened #2154 "No se puede configurar en Streaming Dataset"
No es posible enseñar sobre preguntas y respuestas en conjuntos de datos de Streaming, no me aparece el ícono de configuración en la esquina superior derecha. Sí puedo destacar preguntas pero no enseñarlas.

[2020-05-09 17:48] tomasbaima opened #2155 "Unable to teach Q&A in Streaming datasets"
Unable to teach about questions and answers in Streaming datasets, the setting icon does not appear in the upper right corner. I can highlight questions but not teach them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3be58e8-522b-1bc1-5c20-94349d5ed617
* Version Independent ID: ecbf2a74-8efd-aecd-3d15-b24bc0a1ca46

[2020-05-09 17:49] #2154 closed

[2020-05-10 01:00] Mike-Honey opened #2156 "Missing description of Scatter chart's Play feature"
The built-in Scatter chart has a Play feature that should be described here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5668e4cf-3837-c2d4-b818-14476441468b
* Version Independent ID: c95096dd-9b73-79ab-8ff2-158c5900f5a6
* Content: [Scatter, bubble, and dot plot charts in Power BI - Power BI](https://docs.microsoft.

[2020-05-10 08:51] amit-shuster commented on #2066
Hi,

You might be using your free trail of embed token, that is why the report is rendered.
When the capacity is paused it is not used.
Please not that the free trail of embed tokens can't be used for production.

[2020-05-10 09:11] amit-shuster commented on #2054
This is not documentation issue. Please contact support: https://powerbi.microsoft.com/en-us/support/

[2020-05-10 23:41] mtthsbrr commented on #1839
For me only "non-any" parameter types show up as expected (not greyed out) in Power BI Service. Whenever I tried something like "any" type, its ending up being greyed out in the dataset > settings > parameters section. In Power BI Desktop everything works so is this a bug or a by design behavior in Power BI Service?

[2020-05-11 02:49] pawarbi commented on #2127
Thanks @maggiesMSFT for your reply.. documentation mentions what the algorithm does in general terms but does not spell out how it's done. for example.

Category outliers (top/bottom) :Highlights cases where one or two categories have much larger values than other categories.

But does not specify the statistical test performed, or how its done. is it by count, mean, standard deviation, any other

[2020-05-11 15:58] itsnotaboutthecell opened #2157 "Subreports are now available"
Limitations: "Subreports and drillthrough reports. You may consider using URL parameters with paginated reports to achieve drillthrough scenarios, however."

Drillthrough are still not available.

https://powerbi.microsoft.com/en-us/blog/subreports-now-available-for-paginated-reports-in-power-bi/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-11 17:22] Ilocans opened #2159 "Dataflow Partitioning & XMLA-endpoint"
"Dataflows use partitioning for incremental refresh. Once XMLA-endpoints for Power BI Premium are available, the partitions become visible."

Could you clarify what this means ?
It doesn't look like possible to access to dataflow's partition using the XMAL-endpoint, only dataset's partition. Or could you explain how ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-12 01:26] alexdrenea commented on #2034
Can we get an update on this? It's blocking us from creating a dashboard since not all users have credentials to authenticate to Azure EA portal.

[2020-05-12 04:25] davidiseminger commented on #2153
Thanks for your comment, @danieleperilli. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-12 04:26] davidiseminger commented on #2155
Thanks for your comment, @tomasbaima. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-12 04:27] davidiseminger commented on #2156
Thanks for your comment, @mike-honey. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-12 04:28] davidiseminger commented on #2157
Thanks for your comment, @itsnotaboutthecell. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-12 04:29] davidiseminger commented on #2159
Thanks for your comment, @Ilocans. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-12 07:16] Gurucog11 opened #2162 "Missing powerbi title bar (updated ribbon)"
When I used updated Powerbi Ribbo for the first time I saw dark grey title bar(Highlighted in the attachment). But it does not appears now.
Have reinstalled complete powerbi still doesn't help.

![I only see this](https://user-images.githubusercontent.com/28487453/81649850-95cfb980-944e-11ea-819a-2764c2b12b5c.jpg)
![Missing title bar](https://user-images.githubusercontent.com/28487453/81649854-970

[2020-05-12 14:12] pawarbi opened #2163 "Add "Enhanaced Meta-data" limitation"
You cannot use Python Script if [Enhanced Metadata (Preview) feature](https://docs.microsoft.com/en-us/power-bi/desktop-enhanced-dataset-metadata) is turned-on. Please add it to the limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070da3e8-5146-a2ca-9ac3-ed77621fc050
* Version Independent ID: 2dcfbb4b-3661-50

[2020-05-12 14:22] romerohe commented on #2136
Hi David, do you have any news about this issue? I attach an image of my screen (it's in Spanish)

![image](https://user-images.githubusercontent.com/49759275/81703239-aed26d80-9442-11ea-961f-36315191d741.png)

[2020-05-12 15:06] paulinbar commented on #1751
Hi @larrycsonka , I don't know whether this is still relevant, but I see that Quickbooks Online is now available again : https://app.powerbi.com/groups/me/getapps/services/pbi-contentpacks.pbiapps-quickbooksonline
Template apps have undergone a lot of  changes recently. The documentation is not entirely up to date, but I will be working on this soon.
Sorry for such a late reply.

[2020-05-12 15:06] #1751 closed

[2020-05-12 15:08] shethsameer commented on #1617
Hi, wondering since Nov,2019 when @M4RKLY brought to notice about sample dataset do we have an update?

[2020-05-12 15:50] mihart commented on #2162
Thanks for your comment, @Gurucog11 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-12 15:50] #2162 closed

[2020-05-12 15:54] mihart commented on #2163
Thanks for your comment, @pawarbi . This issue has been assigned to the doc author for review.

[2020-05-12 16:44] cvillegashak opened #2164 "Review Power BI Dataflow Best Practices"
Been reviewing this recently and noticing that some of the data might be out of date.

https://docs.microsoft.com/en-us/power-bi/service-dataflows-best-practices

- We're not experiencing similar behavior from the process of having Ingestion and Computed dataflows in the same workspace and actually find it better to have them contained within the same workspace. The reason for this is when the Lin

[2020-05-12 20:20] mihart commented on #2164
Thanks for your comment, @cvillegashak. This issue has been assigned to the doc author for review.

[2020-05-12 22:03] JamesJHart opened #2166 "Cannot Connect ADLS2 Account to PowerBI"
We have added the permissions listed in the error that PowerBI is giving when we try to connect to the storage account, but we are still not able to connect.

![image](https://user-images.githubusercontent.com/65257817/81749438-7e99c780-9460-11ea-894b-b7ea9a208113.png)

![image](https://user-images.githubusercontent.com/65257817/81749936-6eceb300-9461-11ea-9206-1bc25b6d3e97.png)

I have removed us

[2020-05-12 22:20] jnavaskhan opened #2167 "How to apply Trend line on visual using power bi embed client api?"
In powerbi embed, currently I see authoring library help to do some action on report.
Example using changeType(visualType: string): Promise&lt;void&gt;;
node_modules\powerbi-report-authoring\dist\powerbi-report-authoring.d.ts

Can we do similar action for analytics functionalities on report through power bi embed using client library? is there any js client api available to do that?
Example i want

[2020-05-12 22:29] mihart commented on #2166
Thanks for your comment, @JamesJHart . This issue has been assigned to the doc author for review.

[2020-05-12 22:30] mihart commented on #2167
Thanks for your comment, @jnavaskhan . This issue has been assigned to the doc author for review.

[2020-05-13 05:18] JackHorlock opened #2169 "Only publish to a different workspace"
Hi,
Can you please confirm that a user with 'build' permission to a dataset but that does not have 'contributor' permission to the workspace where the dataset resides can only produce reports from the dataset (using the service and desktop app) and publish them to a different workspace? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-13 05:33] Sil3ntGam3r commented on #2077
@maggiesMSFT  and @KesemSharabi Its been almost a month since this request has been put in. Can we please get an update on this?

[2020-05-13 07:00] chrolivier commented on #2030
Hi, any feedback on this?

[2020-05-13 13:13] frvigano opened #2170 "Gateway"
This document suggests that to use live query the gateway is required. Actually, Live Query supports Azure Analysis Services without the data gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8fe9672-0cf8-7566-6f4b-49991f9aba3f
* Version Independent ID: fd7ecaee-3d87-272c-713b-03b446008cfc
* Content: [Use Q&A wit

[2020-05-13 14:11] KesemSharabi commented on #2170
Thanks for your comment, @frvigano.

I've assigned this issue to the doc author for review.

[2020-05-13 14:13] KesemSharabi commented on #2169
Thanks for your comment, @JackHorlock.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-05-13 14:13] #2169 closed

[2020-05-13 14:14] mparowski opened #2171 "Incorrect or oudated information regarding default capacity?"
In the "Dedicated Capacities" heading, this article says "By default workspaces, including personal workspaces, are created in the shared capacity. When you have Premium capacities, both My Workspaces and workspaces can be assigned to Premium capacities."  I have not found this to be true in my organization.  All of our personal workspaces and all new workspaces are being created by default in our

[2020-05-13 16:37] haider392 opened #2172 "Customer informed that documentation is incorrect - Embarassing situation"
- Documentation link - https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-embed-report-spo#known-issues-and-limitations

- As per one of the known limitations mentioned in the doc, the feature is not available for national cloud which seems to be out of date information

- As per documentation, we advised to customer like that but the customer responded that the feature is indeed

[2020-05-13 16:43] #2172 closed

[2020-05-13 16:44] haider392 commented on #2172
Updated documentation myself (pending review)

[2020-05-13 18:21] smithjackson35 opened #2173 "Subscriptions with bookmarks"
Are you able to apply a bookmark to a subscription? I have tried adding a subscription with the book mark selected but have been unsuccessful in  making the report deliver with the book mark selected on the data.

[2020-05-13 20:55] jtorres1127 opened #2174 "Slicer Feature"
This Visualizer does not work as explained in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc558f3-8a74-7154-c048-2dd74ad4eb8a
* Version Independent ID: f84aa1a5-4bab-6f6d-a0ba-5040c0f5defb
* Content: [Use the numeric range slicer in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/create-

[2020-05-14 06:49] smurfer opened #2175 "Matrix visual - conditional formatting on sub-totals does not work for data bars"
Since the April 2020 release, conditional formatting is supposed to be configurable also for subtotals. This works for conditional background colors, but not for data bars (Power.BI Desktop May 2020).

[2020-05-14 07:58] w0ut0 opened #2176 "Does this process also overwrite the parameters?"
I develop a report with certain parameters in de Query Editor. I import this (using Onedrive refresh) in DEV and PROD workspaces.
In the prod workspace, I change some parameters in order to connect to the production database.

I expect that when I change my report in Onedrive, that the changes get published, but the parameters I changed in PROD will remain in de PowerBI service. However this is no

[2020-05-14 08:38] PeterGrahamJersey opened #2177 "Some out of date screenshots - ribbon, conditional formatting, visualisation icons"
- Ribbon screenshot for accessing selection pane is out of date
- Ribbon screenshot for switching theme is out of date
- Accessing conditional formatting for alt text screenshot is out of date
- Icons in screenshots of visualisation pane are out of date (particularly relevant as part of the goal of updating them was to improve contrast)

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-14 13:15] jayendranarumugam commented on #1538
@KesemSharabi
can you please check the latest announcement about automation of data gateway ?https://powerbi.microsoft.com/en-us/blog/announcing-automation-of-data-gateway-installationpublic-preview/

![image](https://user-images.githubusercontent.com/25414541/81938730-f3146800-9612-11ea-90d0-0acce287a1dc.png)

So SPN Authentication is possible for Gateway ?

[2020-05-14 15:51] lkc22 opened #2180 "Stale instructions."
There is no "Don't have a work email?" hyperlink (option) on the new Web page
https://signup.microsoft.com/create-account/signup?offerid=B07A1127-DE83-4a6d-9F85-2C104BDAE8B4&dl=ENTERPRISEPACK&ispolaris=1&culture=en-US&country=US&ali=1&products=cfq7ttc0k59j:0009

What is the point of demanding a work email address for a 2 month trial license besides wasting 2 hours of my life trying to get this to

[2020-05-14 16:11] lkc22 commented on #2180
Here is screen clip of the new Office 365 E3 registration:

![image](https://user-images.githubusercontent.com/64289521/81957918-3c48c580-95db-11ea-9e83-423872ae4de5.png)

The appearance does NOT match the April 2020 released instructions. Note the absence "Don't have a work email?" hyperlink (option) . Obviously SCRUM master is not managing the downstream dependencies on evolving the Power BI reg

[2020-05-14 16:30] kfollis commented on #2180
Hi @lkc22 - Thanks for pointing out the mismatch between our documentation and the updated UI. The article is being updated this week to match the new sign-up steps. In the new flow, after you enter your email address, the system will check to see if that account can be used with Microsoft 365 business subscriptions. If not, in Step 3 (of the screenshot you attached), you create a new account to u

[2020-05-14 16:39] lkc22 commented on #2180
You still don’t get it.

The CBT course require Power BI, not Power BI Desktop. POWER BI trial license demands a workplace or student email account.

What is the harm in making the 60 day free trial license open ended i.e. independent of  a workplace or student email account? What is the importance of having business and student addresses only?  If it’s blotting the marketing databse, then make th

[2020-05-14 16:40] lkc22 commented on #2180
You still don’t get it.

The CBT course require Power BI, not Power BI Desktop. POWER BI trial license demands a workplace or student email account.

What is the harm in making the 60 day free trial license open ended i.e. independent of  a workplace or student email account? What is the importance of having business and student addresses only?  If it’s blotting the marketing databse, then make th

[2020-05-14 16:57] kfollis commented on #2180
Removing personal information. This feedback channel is specifically for noting improvements to documentation. To discuss product marketing, try posting to https://ideas.powerbi.com/forums/265200-power-bi-ideas or the Power BI community: https://community.powerbi.com/.  A work or school account is required by the identity management system, which is Azure Active Directory. Consumer email identitie

[2020-05-14 18:10] anniexudan commented on #1069
@franklinherrera @jediwarpraptor  upgrade your SSMS version to 18.1 and above should solve the problem.

[2020-05-14 20:34] johnyuan10 opened #2181 "Adding role member in Power BI desktop."
It used to be able to add role members in Power BI desktop. Why that function is gone and is there a plan to bring it back?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power B

[2020-05-14 21:30] duncangrace opened #2182 "Can Python or R scripts run with Incremental Refresh?"
This was an issue in the past regarding Python scripts not being able to automatically refresh unless you are using a personal on-premise data gateway. Does incremental refresh using a non-personal in-premise data gateway support Python and R scripts to run after being Published?

[2020-05-14 22:04] maggiesMSFT commented on #2157
Good catch, thanks! Updating the article now.

[2020-05-14 22:04] #2157 closed

[2020-05-14 22:14] maggiesMSFT commented on #2047
Hi, @shakanand -- thanks for your comment. I've added the info in a bullet point in https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-report-subscribe#considerations-and-troubleshooting. Change should be live this afternoon.

[2020-05-14 22:14] #2047 closed

[2020-05-14 22:57] maggiesMSFT commented on #2025
Hi, @MikeSunGithub -- yes, as you confirmed, scheduled refresh isn't supported for Excel workbooks in Power BI Report Server. I've added that to the article. Thanks!

[2020-05-14 22:57] #2025 closed

[2020-05-15 04:30] KerryWang94 commented on #2149
Hi Paul,

Sure thanks, also here is a attachment for the conversation I did with Product Group.

Best Regards,
Kerry

From: Paul Inbar <notifications@github.com>
Sent: Saturday, May 9, 2020 5:49 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Kerry Wang <Siqi.Wang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Connector Limita

[2020-05-15 07:25] PimKamp opened #2185 "Is This Correct?"
Users without a Pro license can access the workspace if the workspace is in a Power BI Premium capacity, even if users have only the Viewer role.
This seem more logical
Users without a Pro license can access the workspace if the workspace is in a Power BI Premium capacity, only if users have the Viewer role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-15 17:20] maggiesMSFT commented on #2171
Hi, @mparowski -- thanks for your question! Referring it to the author to investigate.

[2020-05-15 17:21] maggiesMSFT commented on #2173
Hi, @smithjackson35 -- interesting question! I'll investigate and let you know.

[2020-05-15 17:28] maggiesMSFT commented on #2174
Hi, @jtorres1127 -- Can you elaborate? How is it not working as explained?

[2020-05-15 17:35] maggiesMSFT commented on #2175
Hi, @smurfer -- you're referring to this: https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-april-2020-feature-summary/#_Conditional_formatting, which is also in this article, https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-conditional-table-formatting#totals-and-subtotals.
Are you asking a question?
Thanks!

[2020-05-15 17:47] maggiesMSFT commented on #2176
Hi, @w0ut0  -- thanks for your comment. Referring to the author for consideration.

[2020-05-15 17:49] maggiesMSFT commented on #2177
Hi, @PeterGrahamJersey -- thanks for your comment! Referring it to the author to add to his backlog.

[2020-05-15 17:50] maggiesMSFT commented on #2181
Hi, @johnyuan10 -- thanks for asking! Referring to the author to investigate.

[2020-05-15 17:52] maggiesMSFT commented on #2182
Hi, @duncangrace -- are you referring to a specific article? If you let me know which one, I can refer your question to the author. Thanks!

[2020-05-15 17:58] maggiesMSFT commented on #2185
Hi, @PimKamp -- I love it! Thanks for the careful read. I've tweaked it a little and made the change. It'll be live later today.

[2020-05-15 17:58] #2185 closed

[2020-05-15 18:00] smithjackson35 commented on #2173
Thank you!

[2020-05-15 18:05] maggiesMSFT commented on #2173
And thanks to a very responsive program manager, I have an answer already!
"It’s not supported yet."
I'll add this to the subscriptions article, https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-report-subscribe#considerations-and-troubleshooting.

[2020-05-15 18:05] #2173 closed

[2020-05-15 19:03] ColeenB opened #2186 "Business Analyst"
We're adding groups to the Permissions tab when publishing an app. These same groups are added to a RLS role in the Security setting for the database. This is working for one group, but the members of another group can't see the app at all. Both are distribution lists. Can you clarify the requirements for groups to be used to provide access to apps?

---
#### Document Details

⚠ *Do not edit this

[2020-05-15 19:08] smurfer commented on #2175
I was trying to raise the point that the statement "Beginning with the April 2020 release, you can apply conditional formatting rules to totals and subtotals, for both table and matrix visuals." is misleading... And actually I was hoping that comments would also make it to the development team.
I find the current behaviour confusing. In a Matrix , conditional formatting with data bars is shown on

[2020-05-15 19:14] kapilnigam opened #2187 "Table not correctly showing up in navigator while importing from web - wikipedia"
I am trying to import data from following wikipedia page.
https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations

It seems PowerBI is picking up only first header and not able to navigate downward on Codes and abbreviations data.
![Wikipedia_List_of_U S _state_abbreviations_error](https://user-images.githubusercontent.com/46722456/82087585-035d3d80-970e-11ea-90f0-aa6ee30486e1.PNG)
![List_o

[2020-05-15 19:31] maggiesMSFT commented on #2187
Hi, @kapilnigam -- I see the issue, the multi-level headings. Referring this question to the author of https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-to-web for a possible solution. In the meantime, I would ask the Power BI Community, https://community.powerbi.com/, or search in the Power BI Ideas Forum, https://ideas.powerbi.com/forums/265200-power-bi

[2020-05-15 19:37] maggiesMSFT commented on #2186
Hi, @ColeenB -- a couple of questions:
- Is the app from a workspace in a Premium capacity?
- If not, do members of both groups have Power BI Pro licenses?
Thanks!

[2020-05-15 20:02] ColeenB commented on #2186
The workspace is in a Premium capacity.

Coleen

On Fri, May 15, 2020 at 12:43 PM Maggie Sparkman <notifications@github.com>
wrote:

[2020-05-15 21:10] maggiesMSFT commented on #2175
Hi, @smurfer -- thanks for clarifying! Assigning to the author address it.

[2020-05-15 21:12] maggiesMSFT commented on #2186
Hi, @ColeenB -- thanks. It sounds like a bug, I'm afraid. You can try the Power BI community, https://community.powerbi.com/, to see if they have suggestions. If not, contact Power BI support, https://powerbi.microsoft.com/en-us/support/.

[2020-05-15 21:12] #2186 closed

[2020-05-15 21:14] #2145 closed

[2020-05-15 22:19] davidiseminger commented on #1915
Hello @ourcloudnetworkcom and @gregdegruy  - here's some clarification.

As described in the last sentence of the second paragraph, there are specific permissions required.

The Azure Cost Management connector supports two account types: Microsoft Customer Agreement and Enterprise Agreement (EA). Billing profile ID is required for Microsoft Customer Agreement and you can find that at https://docs.

[2020-05-15 22:19] #1915 closed

[2020-05-15 22:21] davidiseminger commented on #2034
@alexdrenea , @mblanco77 , @jjindrich

The EA API  key isn’t supported by the connector. Azure service principal support is being investigated for possible future support, but currently is not supported.

[2020-05-15 22:21] #2034 closed

[2020-05-15 22:22] davidiseminger commented on #2060
@dannradkov - here's the answer for you, thanks for your patience.

There is no ongoing development for the Azure Consumption Insights connector. However, Microsoft hasn’t announced an official deprecation schedule for it. All new features will be included in the Azure Cost Management connector. The significant difference between the two connectors is that the Azure Cost Management connector suppo

[2020-05-15 22:22] #2060 closed

[2020-05-15 22:31] davidiseminger commented on #1953
Sorry for the inconvenience. We've updated that link to bring customers to the overall Trust Center, where they can find overall information (and deep dives, if needed) about compliance.

[2020-05-15 22:31] #1953 closed

[2020-05-15 22:37] davidiseminger commented on #1969
You're absolutely right - sorry about that. I've recreated that image with a very bright, white background. Thanks for pointing this out!

[2020-05-15 22:37] #1969 closed

[2020-05-15 22:39] davidiseminger commented on #1977
Thanks for your feedback. We've added this request to our queue of work items, and will work through it as time and resources allow. Much appreciated.

[2020-05-15 22:39] #1977 closed

[2020-05-15 22:41] davidiseminger commented on #1978
Thanks for your suggestion (and the other feedback about the Selection pane). As mentioned, we've added this to our queue of requested content, and will add it as time and resources allow.

[2020-05-15 22:41] #1978 closed

[2020-05-15 22:43] davidiseminger commented on #1985
Thanks for your comment, @alex-v-ivanov. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-15 22:43] #1985 closed

[2020-05-15 22:44] davidiseminger commented on #1992
Thanks for clarifying @Sil-L !

[2020-05-15 22:44] #1992 closed

[2020-05-16 11:59] ryanspletzer opened #2189 "Why does this page show connecting to Exchange Online via PowerShell with basic auth?"
Microsoft has deprecated this insecure login method and is removing it mid-2021. (Originally October 2020 but that got pushed out.)

https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-april-2020-update/ba-p/1275508

People should use the ClickOnce Exchange PowerShell that they can install from Exchange Admin Center, or more ideally the new Exchange V

[2020-05-16 21:54] aguptadel opened #2190 "Doubt on correctness"
Reports with applied Text Analytics and Vision functions should be published to a workspace that is not on a Premium capacity, otherwise refreshing the dataset will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f95078-89ba-6ba2-231b-b130755c8510
* Version Independent ID: 8f152dab-fea9-714a-f97e-f0d68109151f
*

[2020-05-17 20:57] paulinbar commented on #2190
Hi @aguptadel , thanks for your comment. I am forwarding it along to the doc author for consideration.

[2020-05-17 21:07] paulinbar commented on #2189
Hi @ryanspletzer . Thanks for the comment. I'll look into this.

[2020-05-17 22:36] suresh-myneni commented on #1559
Conditional formatting is not showing up for visuals (line, bar charts... ??) Did anyone figure out how to get them enabled in the latest version?

[2020-05-18 03:02] otarb commented on #2163
hello @pawarbi, you won't be able to use Python script based transformation (get data or in PQ) if you have feature enabled and updated your report to use new format.

If you enabled feature and open report which already had Python scripts, those will continue to work.

This will be resolved in June release.

[2020-05-18 03:05] otarb commented on #2091
hello @lgpreston75, can you confirm that you have [Enhanced Metadata (Preview) feature](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-enhanced-dataset-metadata) enabled?

Currently there is a limitation that reports updated to use new format, do not support Python scripts.

This will be resolved for June release.

[2020-05-18 09:07] AsafMozes opened #2191 "Shouldn't this be called "Role-level security"?"
The feature allows different access per role. I don't see how rows are relevant here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power BI - Power BI](https://docs.microsoft.c

[2020-05-18 13:03] pawarbi opened #2192 "Use your imagination for Forecasting?"
Hi, the documentation says Use your imagination to see how it may apply to your model. Isn't that vague and ambiguous? We are working with concrete data and need to deploy the forecasting for the business leaders to use it, we can't use imagination to create a forecasting model. Please provide us specific guidelines when using the forecasting feature, what algorithms are used, when should we use i

[2020-05-18 16:19] pawarbi commented on #2163
Thanks @otarb for the update, but please add it to the Limitations of using Python script in Power BI page for now. I unfortunately lost a report because the changes are irrevocable. BI Developers should be aware of this limitation, until it is fixed, on the Python Script page. Hope that makes sense.

[2020-05-18 17:23] bigarabuza commented on #2044
Thanks for this comment! Took me way too long to figure how to do this!

[2020-05-18 17:28] mihart commented on #2180
Hi @kfollis , @lkc22 ,
I've updated the doc for signing up for a trial.  It should go live this afternoon.
Thanks for letting us know about the change to the process.

[2020-05-18 17:28] #2180 closed

[2020-05-18 23:52] davidiseminger commented on #2191
Thanks for your question. There is a difference, and here's a discussion in the community:

https://community.powerbi.com/t5/Desktop/role-level-security-and-row-level-security-usage/td-p/366084

[2020-05-18 23:52] #2191 closed

[2020-05-18 23:53] davidiseminger commented on #2192
Thanks for your comments - could you tell us which article you're referring to? Then we can determine the best way to route your question.

[2020-05-19 02:21] iburki commented on #1999
@KesemSharabi Any update on this issue?  We also need to send a list of values to do row level security.

[2020-05-19 07:32] f14eagle opened #2193 "Is there any detail documents about how to use enumerateObjectInstances?"
We are developing a custom powerbi visual, and we want to use the enumerate for one of the properties. The usage of enumerateObjectInstances in this article is not very clear so we are not able to implement a very basic enumerate feature in our component...

Is there any detail document, or existing sample about how to use
enumerateObjectInstances?

Thanks.

---
#### Document Details

⚠ *Do not ed

[2020-05-19 11:09] erapade opened #2194 "Possibility to drill through without any selection"
This might seam like an odd request, but please read Justification section.

My request is to add the possibility to enable drill-through without selecting any items.

The button will then work like a page navigation button with the exception that it will also reset any existing drill-through filters on the destination page. A bookmark navigation can not be used as an alternative, since the bookma

[2020-05-19 11:34] erapade commented on #2194
Maybe this comment is only related to documentation. I added an idea on the same subject so you can close this if this is just for documentation

[2020-05-19 14:19] powerbijools opened #2195 "installing pbiviz"
the code to enter into powershell to install pbiviz using npm i -g ~    does not work and i get the error below .  can you update this page or advise wha the error is thanks

PS C:\WINDOWS\system32&gt; npm i -g powerbi-visuals-tools
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm ERR! code ERR_SSL_DECRYPTION_FAILED_OR_BAD_RECO

[2020-05-19 14:31] NiranjansaikrishnaC opened #2196 "Server Details"
Tip mentioned here to add Server details like below is no more working.

If you're having trouble connecting in this step, try using the following format in the Server field: (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=host_name)(PORT=port_num))(CONNECT_DATA=(SERVICE_NAME=service_name)))

It says server name cant extend more than 128 characters.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-19 20:23] hasridha opened #2198 "How to apply a "what-if" parameter in the advanced query editor for a query copied in from kusto?"
So I added a what-if parameter from the ribbon and it gave me a slider that I can happily drag between 1 and 30 (for number of days ago to use in the query). Problem is - I don't know how to connect the user-supplied value from this slider into the Kusto query I am using for a funnel chart on the side.

[2020-05-19 20:24] #2198 closed

[2020-05-19 20:24] hasridha commented on #2198
sorry, wrong page

[2020-05-19 23:06] v-radelg opened #2199 "Featured question"
@sosotheso commented on [Tue May 19 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/27)

I want to know if powerbi generate itself the answer for our featured question, or we need to define the answer somewhere. thanks

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 9707e1ff-5927-e3e

[2020-05-20 06:30] Baksteen-BJD opened #2200 "Error in DAX function SELECTEDVALUE"
Hi, the example "See details" DAX function has a syntax error, if I am correct. It should read:
String_for_button = If(SELECTEDVALUE('Product'[Product], 0) == 0, "See product details", "See details for " & SELECTEDVALUE('Product'[Product]))
after the "==0" there should not be a close bracket ")".
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-20 07:38] hokeson opened #2201 "regional settings on PowerBI service"
Hello, how to change the regional settings in PBI service?
I would like to use English but with date format dd.MM.yyyy
is there any way how to do that?
thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01f4ea6-33ff-97ca-4a4e-8a1beb88f12f
* Version Independent ID: e5224487-369d-23be-98cb-ebab58c75ac4
* Content: [Suppo

[2020-05-20 12:05] AleksaT opened #2202 "Additional operations"
Hey, I noticed that some of main PowerBI operations are missing like Shared Power BI dataset. Is this list of available operations will change over time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-1293-1264-3214cc4b6dc8
* Content: [Track u

[2020-05-20 13:34] pawarbi commented on #2192
Yes, sorry I forgot to refer to the article. Here is the page I am referring to : https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-analytics-pane#apply-forecasting

[2020-05-20 13:41] pawarbi opened #2203 "Include details on Forecasting"
Power BI team shared the details on the Forecasting, algorithms used, and general guidelines here: https://powerbi.microsoft.com/en-us/blog/introducing-new-forecasting-capabilities-in-power-view-for-office-365/

Can you please include these details on the Forecasting page https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-analytics-pane#apply-forecasting for clarity. It will be very

[2020-05-20 13:47] bradj813 opened #2204 "Row Level Security (using dynamically generated datakey)"
Hello. Can Power BI Paginated reports within the Power BI Service support dynamically generated datakeys for RLS?
For instance, I currently have multiple Power BI reports, in the Service, that are filtered using RLS by a dynamically generated datakey the app passes to the report. This datakey is based on UserId_CompanyId, therefore, depending on the user who's logged into the app and that user's s

[2020-05-20 14:03] adamwp1993 opened #2205 "Updated URL's"
The PowerBI Web Front ends have new URLS in the format of:
ssl.pbi-wfe-us-east2.azurewebsites.net
Can we update the doc to reflect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 297c1372-b1bb-57c4-9c31-840b4cad2c37
* Version Independent ID: 0bb282a3-4aa6-1094-d8a4-652ec726734f
* Content: [Power BI URLs for whitelistin

[2020-05-20 14:47] kfollis commented on #2202
Hi @AleksaT - thanks for your comment. Yes, the list of operations will change over time. I'll check into the operation you mention as part of the next update.

[2020-05-20 14:47] mihart commented on #2196
Thanks for your comment, @NiranjansaikrishnaC . This issue has been assigned to the doc author for review.

[2020-05-20 14:48] mihart commented on #2193
Thanks for your comment, @f14eagle . This issue has been assigned to the doc author for review.

[2020-05-20 14:50] mihart commented on #2195
Thanks for your comment, @powerbijools . This issue has been assigned to the doc author for review.

[2020-05-20 14:54] mihart commented on #2194
Hi @erapade
I'm going to close this doc issue.  This isn't really an issue with the documentation but rather a product idea/suggestion.  You wrote that you've already posted it on ideas.community.com, which is the best approach.  Thanks.

[2020-05-20 14:54] #2194 closed

[2020-05-20 14:59] mihart commented on #2192
Thanks for your comment, @pawarbi . This issue has been assigned to the doc author for review.

[2020-05-20 15:01] mihart commented on #2199
Thanks for your comment, @v-radelg . This issue has been assigned to the doc author for review.

[2020-05-20 15:02] mihart commented on #2200
Thanks for your comment, @Baksteen-BJD . This issue has been assigned to the doc author for review.

[2020-05-20 15:03] mihart commented on #2201
Thanks for your comment, @hokeson . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-20 15:03] #2201 closed

[2020-05-20 15:30] radiotalks opened #2206 "Power BI custom visual simplest project"
I've created startup project using pbiviz new proj. Then after the visual has been imported in PB Desktop I see red frame around Font Size input field with a tooltip 'Value must be a number'. What's wrong with it ?
Thank You.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 049f618d-c8bf-2ff1-9cba-ce293816621e
* Version I

[2020-05-20 17:33] KesemSharabi commented on #2206
Hi @uve, can you please help with this?

[2020-05-20 17:36] KesemSharabi commented on #2204
Thanks for your comment, @	bradj813. I’ll look into your question.

[2020-05-20 17:38] KesemSharabi commented on #2203
Thanks for your comment, @pawarbi.

I've assigned this issue to the doc author for review.

[2020-05-20 17:46] uve commented on #2206
Font size input supports numbers only. And this input can't be empty.

[2020-05-20 17:51] ryanferguson commented on #2051
Did you ever get this solved?  Seeing the same issue.

[2020-05-20 17:52] ryanferguson opened #2207 "Test key for Enrollment 100 no longer working..."
The test key that is published for the 100 enrollment which is for testing purposes no longer seems to function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Independent ID: df5a9b26-4eb1-a396-1c84-9f3ec6232753
* Content: [Connect to Azure Consumption Insights data in Po

[2020-05-20 17:54] ryanferguson opened #2208 "Is there a test enrollment in which one can develop reporting against?"
WIth the old connector, this was Enrollment 100 and the API key was published so we could generate repors on real data.  Is there any test data source that we can connect to for this connector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c9

[2020-05-21 00:55] awentzel commented on #995
It would also be helpful to know when updates are released so we can try this out again.  Thanks

[2020-05-21 05:35] colmardev opened #2209 "Workbooks "with ranges or tables of data" vs "with data models""
I think it's not clear enough how the presence of data model can influence the resulting Dataset.

All details [here](https://community.powerbi.com/t5/Service/Get-data-from-Excel-workbook-files/td-p/1093004)

Am I missing any other doc?

[2020-05-21 11:25] Paul-Gannaway opened #2210 "PowerShell and the Power BI API"
We are trying to use PowerShell and the Power BI API to import RDL files from SSRS into Power BI but we have an on-premises version of the server.

It is basic authentication that I cannot do! The basic call Connect-PowerBIServiceAccount seems to only want to talk to a Cloud instance.

Was wondering if the API is supported on the o-p version?

---
#### Document Details

⚠ *Do not edit this section

[2020-05-21 12:25] elcu opened #2211 ".json customize series(indexing multiple choices)"
Hello,

is there any way how to index, i.e. write multiple choice entries in visuals that have the option to "customize series"? For example in the area chart -> data labels -> customize series - you can manage the settings for each of the series. How to write this in .json please? It's missing in the documentation.

[code]
Thank you!

[2020-05-21 15:30] jonwbstr opened #2212 "How to troubleshoot the error "There is no available gateway""
I noticed that section doesn't cover some more basic troubleshooting steps, and maybe they are obvious enough to not need mentioning.

* Verify the gateway version is up to date
* Verify the report has a gateway selected. If no gateway is available, the datasource may have changed or is missing?

https://community.powerbi.com/t5/Service/January-2020-There-is-no-available-gateway/td-p/912677

---
#

[2020-05-21 15:41] Ponchothewise opened #2213 "Admin APIs not supported"
Could we have explicit confirmation that it's not possible to call admin APIs (and the associated PowerShell cmdlets) without logging in as a user? Could we also move the considerations and limitations section somewhere near the top so we don't get through the whole article to find out what we're doing isn't possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-05-21 15:54] markdburton opened #2214 "Power BI Report Server unclear"
Hi, my understanding was that SQL Server Enterprise Edition with SA grants PBI Premium use rights, but the wording above refers to the "service" and "capacity", which makes it unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec63d236-fde3-47d8-96a5-5d205dd96b59
* Version Independent ID: 0f9cc0dc-e417-ed61-ff2a-7

[2020-05-21 15:56] fmesposito opened #2215 "Update to clarify purchase method for Volume Licensing customers"
Similar to the how to purchase documentation for other Microsoft Online Services, such as https://docs.microsoft.com/en-us/microsoft-365/commerce/licenses/buy-licenses?view=o365-worldwide#what-if-i-dont-see-the-addremove-licenses-link

This page should be update to clarify that customers who typically purchase via Volume Licensing agreements, such as an Enterprise Agreement, that wish to be invoic

[2020-05-21 17:38] kfollis commented on #2214
Hi @markdburton -  I found some resources that should help to clarify the SQL Server SA benefit. This community thread provides an answer: https://community.powerbi.com/t5/Report-Server/SQL-Server-Enterprise-Edition-with-Software-Assurance/m-p/955582#M13282 and this article https://docs.microsoft.com/en-us/power-bi/admin/service-premium-faq addresses the question near the bottom of the page. Hope

[2020-05-21 17:38] #2214 closed

[2020-05-21 18:55] davidiseminger commented on #2041
Updated - will go out with today's publishing run.

[2020-05-21 18:55] #2041 closed

[2020-05-21 21:46] andreagutierrezampuero commented on #2195
Try using this: npm config set strict-ssl false

[2020-05-22 07:14] #2062 closed

[2020-05-22 10:08] markdburton commented on #2214
Yes, I understand the benefits, etc., but the article muddies the water by referring to 'capacity' and the 'service' which is not the only way to license my organisation (via SQL use rights). The article could be written in a way that covers the on premise PBI capability as well by fixing a few words - or the article should be labelled as applying to the service only and should have a link to the

[2020-05-22 16:19] gmohrman opened #2217 "Premium / Enterprise audience feature only"
Emphasis needed on the phase "tool that enables BI creators in an enterprise with Premium capacity".. perhaps a hyperlink on 'Premium' too!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c73bdd33-4d6b-dad6-ccdf-55f8846916ae
* Version Independent ID: 6698283f-0fb6-3d46-e6d9-b8d1ab544c78
* Content: [Deployment pipelines

[2020-05-22 17:00] sajas-s opened #2218 "Embed in SharePoint Online using the Power BI web part"
Embed in SharePoint Online using the Power BI web part is now available in GCC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-1739cdf7528d
* Version Independent ID: 1e70d724-121d-feea-471e-307c2f27dd24
* Content: [Power BI for US government customers - Overview - Power BI](https://docs.microsof

[2020-05-22 19:34] maggiesMSFT commented on #2207
Hi, @ryanferguson -- thanks for asking! Looking at the article, it appears the "100" is an example, not a number for testing purposes. The text after the screen shot is:
"You'll need to replace the enrollmentNumber value with _your enrollment number_. You can get your number from the Azure Enterprise Portal. The numberOfMonth parameter is how many months of data you want going back, from the curre

[2020-05-22 19:37] maggiesMSFT commented on #2208
Hi, @ryanferguson - Ah, I see what you were asking in the other question, https://github.com/MicrosoftDocs/powerbi-docs/issues/2207
Adding @davidiseminger to see if he has further info.
Probably can close the other one, yes?

[2020-05-22 19:38] mrpullen opened #2219 "Guidance on using in Azure Government"
This doesn't seem to work in an Azure Government Tenant - any assistance / guidance that is available would be great on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3
* Content: [Connect to Azure Cost Manageme

[2020-05-22 19:39] mrpullen commented on #2105
Is there any change of having the connector that enables this to be made open source - it seems like a very quick fix to make this available on a government cloud if I can modify the endpoints..

[2020-05-22 19:46] maggiesMSFT commented on #2210
Hi, @Paul-Gannaway -- thanks for asking! I'll investigate and get back to you. In the meantime, you might want to ask the Power BI community, https://community.powerbi.com/.

[2020-05-22 20:12] maggiesMSFT commented on #2212
Hi, @jonwbstr -- thanks for the suggestion! Assigning to the author for consideration.

[2020-05-22 20:14] maggiesMSFT commented on #2213
Hi, @Ponchothewise, thanks for your suggestion! Referring to the author for consideration.

[2020-05-22 20:17] maggiesMSFT commented on #2215
Hi, @fmesposito -- Thanks for your comment! Could you indicate which Power BI article you're referring to so I can assign you comment correctly? Thanks!

[2020-05-22 20:42] DaveBurnisonMS opened #2220 "Typo in the "Pull Request" table description?"
The last sentence of the "Pull Request" table description is:
This table will be empty when there are no issues in the repo.

Should that be?:
This table will be empty when there are no pull requests in the repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c027250-07bf-8656-c8a1-fa3267172003
* Version Independent I

[2020-05-22 21:22] maggiesMSFT commented on #2217
Hi, @gmohrman -- thanks for the suggestion! Assigning to the author.

[2020-05-22 21:26] maggiesMSFT commented on #2218
Hi, @ssalahud1 -- thanks for the information! Assigning to the author.

[2020-05-22 21:40] maggiesMSFT commented on #2219
Hi, @mrpullen -- thanks for your question! Assigning to the author to investigate. In the meantime, you may want to check the Power BI community page, https://community.powerbi.com, to see if anyone has discussed this.

[2020-05-22 21:42] maggiesMSFT commented on #2220
Hi, @DaveBurnisonMS -- good question! Assigning to the author to check.

[2020-05-23 13:01] radiotalks commented on #2206
Size of font is not zero and is of integer type. But red frame is shown
even for a valid input. I can send you screenshot for more detailed
description of a problem.

ср, 20 мая 2020 г. в 20:46, Nikita Grachev <notifications@github.com>:

[2020-05-24 15:36] gbrunnerbi opened #2221 "Additional Limitation on Refresh"
**Web.BrowserContents appears to have the same effect as Web.Page - it requires a gateway to refresh otherwise you cannot refresh this data in the Power BI Service**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7809469d-1c82-a875-3b77-83038a901f52
* Version Independent ID: 5c41e498-26bb-eec4-444e-1c376a2fe87f
* Conte

[2020-05-24 17:50] jeremyblackhub opened #2222 "Hyperlink Outdated"
The Planning a Power BI Enterprise Deployment whitepaper is now on V3.0 as of April 2020. Please update link to https://aka.ms/PBIEnterpriseDeploymentWP as found on https://docs.microsoft.com/en-us/power-bi/guidance/whitepapers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd0baa2-2e0a-9bbe-115f-f545f7c1ec84
* Versio

[2020-05-25 12:15] KesemSharabi commented on #2019
Hi @Ellestad1995,

If the user can access your SharePoint, he will be able to see the report too. Is that the scenario you're describing?

[2020-05-25 12:22] KesemSharabi commented on #2039
Hi @Assad-Baig,

The scenario you're describing, embedding paginated reports, requires service principal (see [prerequisites](https://docs.microsoft.com/power-bi/developer/embedded/embed-paginated-reports-customers#prerequisites)).

You can find a code example in [create the embed token](https://docs.microsoft.com/power-bi/developer/embedded/embed-paginated-reports-customers#create-the-embed-token

[2020-05-25 12:23] Ellestad1995 commented on #2019
Yes. Invited b2b users can see the report, which the documentation says they cannot.

[2020-05-25 12:23] #2054 closed

[2020-05-25 12:30] KesemSharabi commented on #2063
Hi @adamwp1993,

Thanks for your comment. We are currently making changes to the way service principal uses on premise data gateway. Once this change takes place (in a few weeks time), we'll update all relevant articles accordingly.

[2020-05-25 12:30] #2063 closed

[2020-05-25 12:32] #2066 closed

[2020-05-25 12:53] KesemSharabi commented on #2022
@uve - is it possible to do what @djpirra describes?

[2020-05-25 12:54] KesemSharabi commented on #2023
@uve - do we have more information describing the Power BI property types?

[2020-05-25 17:44] Assad-Baig commented on #2039
Thank you Kesem for the reply.
I do understand that you do need Service Principle for the paginated report, but my question was about something else.
In the article, it emphasis to use "GenerateTokenForCreateInGroup" API to create a token, which is incorrect.
You do not need "GenerateTokenForCreateInGroup" which requires DatasetId for report creation (Note: datasetId is not present in your JSON) 

[2020-05-25 22:25] bradj813 commented on #2204
Thanks KesemSharabi. Any update on this?

[2020-05-26 12:27] Ghuiles opened #2223 "Are the development pipelines in PBI integrated in Azure DevOps?"
Hi!

We are already using Azure Devops. What is the integration of the PBI pipeline, or what will it be?

Best regards
G.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c40e327-d8c8-3011-e68b-7694d0ed2b04
* Version Independent ID: 3947ee9f-58b0-763c-8b56-b21cfdcbaac1
* Content: [Deployment pipelines troubleshooting -

[2020-05-26 14:13] thereverand opened #2224 "Change in service principle display name"
The display name of principle with id 00000009-0000-0000-c000-000000000000 is no longer 'Microsoft.Azure.AnalysisServices', it's Power BI Service

[2020-05-26 14:32] soldstatic opened #2225 "Multiple Data Sets"
At the MS Biz Application summit ~ May 2, 2020 a presenter demo'd that left side modelling could be enabled and that multiple data models could be connected to as well. How do we enable those features?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Version Independent ID: 6abb84b5

[2020-05-26 14:36] PaulKna opened #2226 "Where do you set the enhanced compute engine at dataflow level?"
How do you access the screen shown by the screenshot under "Enable DirectQuery for dataflows"? I have the enhanced compute engine turned on at capacity level but cannot find this option to set the enhanced compute engine at dataflow level - it needs to be explained where this is accessed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-26 16:22] TarekSalha commented on #1562
To me the documentation reads like even if a source does NOT provide query folding like a flat file, incremental refresh can still be set up. It is just useless.
Thus, I think it is valid feedback to include a statement about supported data sources. From the documentation I would assume, that ALL sources supporting import mode are supported with incremental refresh.

[2020-05-26 18:43] fmesposito commented on #2215
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-purchasing-power-bi-pro

Francesco Esposito
Sr Modern Workplace Specialist
Strategic Accounts
Great Lakes Enterprise Commercial
FrancEs@microsoft.com<mailto:frances@microsoft.com> | Teams: 248.200.5141

From: Maggie Sparkman <notifications@github.com>
Sent: Friday, May 22, 2020 4:18 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@norepl

[2020-05-26 19:10] maggiesMSFT commented on #2215
Thanks, @fmesposito ! I've assigned it to the author for review.

[2020-05-26 19:46] gkens opened #2227 "My error is missing"
Please add support for this refresh error and how to fix

Activity Id: | Activity Id: | 66f97ecd-f00f-4cc6-9bf3-af0f937f60fb | 66f97ecd-f00f-4cc6-9bf3-af0f937f60fb
-- | -- | -- | --

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7809469d-1c82-a875-3b77-83038a901f52
* Version Independent ID: 5c41e498-26bb-eec4-444e-1c37

[2020-05-26 23:14] davidiseminger commented on #1918
Thank you for your feedback. After review, we've put this doc request into our queue and will review it with other documentation requests.

[2020-05-26 23:14] #1918 closed

[2020-05-26 23:22] davidiseminger commented on #1958
There are various constraints that can be put on how many queries are allowed in each of those environments, such as administrative constraints, the type of Premium subscription, and so on, which introduces too many variables to enumerate all of the combinations.

If you have a specific question about your environment, you can post a question / look for an answer in the Power BI Community, found a

[2020-05-26 23:22] #1958 closed

[2020-05-26 23:23] davidiseminger commented on #1991
Thanks for your comment! Yes @afelthe, please add those steps by submitting a PR to the documentation, and I'll look over them for approval. It's a great way to contribute. Thank you!

[2020-05-26 23:23] #1991 closed

[2020-05-26 23:24] davidiseminger commented on #1993
Thanks for your comment - and indeed you're correct there are more functions for DAX tables. The functions listed were just the more common functions used.

[2020-05-26 23:24] #1993 closed

[2020-05-26 23:32] davidiseminger commented on #1994
Hi @aguinaldo92 - I've added how to rename a group to that article. Good suggestion!

[2020-05-26 23:32] #1994 closed

[2020-05-26 23:36] davidiseminger commented on #2003
Thanks for your suggested improvement. I've added that requirement to the article.

[2020-05-26 23:36] #2003 closed

[2020-05-26 23:37] #2012 closed

[2020-05-26 23:41] davidiseminger commented on #2015
That's a great point. It's good to refresh the data to ensure they stay in sync. I've added a comment to that effect in the article. Thanks!

[2020-05-26 23:41] #2015 closed

[2020-05-26 23:44] davidiseminger commented on #2016
Hi @timothydickson - using Analyze in Excel creates a connection to the data from the Power BI service, rather than importing them locally to Excel. If you're having trouble with that, you might find  a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-26 23:44] #2016 closed

[2020-05-26 23:45] davidiseminger commented on #2017
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-26 23:45] #2017 closed

[2020-05-26 23:46] davidiseminger commented on #2021
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-05-26 23:46] #2021 closed

[2020-05-26 23:51] davidiseminger commented on #2030
I'm sorry you're having trouble finding that app.

Is this the link you're using? https://powerbi.microsoft.com/en-us/blog/introducing-power-bi-premium-capacity-metrics-app-as-a-template-app/

I would also suggest posting to the community,found at https://community.powerbi.com, since many folks there may be able to point you in the right direction, help you determine why yours looks different, and

[2020-05-26 23:51] #2030 closed

[2020-05-26 23:52] davidiseminger commented on #2036
Thanks for your comment, @NeilMacMullen. Seems like a reasonable request.

However, looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-26 23:52] #2036 closed

[2020-05-27 00:02] rukiacee opened #2228 "Incorrect text for Many to one Cardinality- doc bug"
Many to one (*:1): A many-to-one relationship is the most common, default type of realtionship. It means the **column in one** table can have more than one instance of a value, and the other related table, often know as the lookup table, has only one instance of a value.

This should be **column in many**
https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-create-and-manage-relations

[2020-05-27 01:04] maggiesMSFT commented on #2199
Bonjour, @v-radelg -- Oui, c'est Power BI qui cree la reponse. Merci d'avoir demander! J'ai ajoute ca a l'article.

[2020-05-27 01:04] #2199 closed

[2020-05-27 01:39] maggiesMSFT commented on #2200
@Baksteen-BJD -- you're absolutely right! Thanks for catching that. Fixing it now. Fix will be live tomorrow afternoon.

[2020-05-27 01:39] #2200 closed

[2020-05-27 01:50] maggiesMSFT commented on #2227
Hi, @gkens - thanks for your comment! Assigning to the author to investigate.

[2020-05-27 08:28] NeilMacMullen commented on #2036
@davidiseminger   Alas, the forum appears to be where feedback goes to die so I'm not holding my breath on any action there. :-( I raised this as a _documentation_ request so that at least the current design could be better explained.

[2020-05-27 09:04] GMAU01 opened #2229 "Power BI Publisher for excel is no longer available"
Why and when was Power BI Publisher for Excel removed?

So, now we have to go to Power BI, pick our report or dataset and then click menu item to Analyse in excel before we can connect excel to a  Power BI Dataset.  Not Great!!!
We are currently using Excel 2016 and this change has a negative impact to our business.

This was much better when we were able to install Power BI Publisher for Excel an

[2020-05-27 11:52] KesemSharabi commented on #1981
Hi @sajas-s,

You're correct. I fixed `authorityUrl` in Government Community Cloud (GCC) - see [Download the sample](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers-national-clouds#download-the-sample).

Thanks for catching this,

Kesem

[2020-05-27 11:52] #1981 closed

[2020-05-27 11:54] KesemSharabi commented on #2009
Hi @uve,

Can you please assist with @twastvedt questions?

Thanks,

Kesem

[2020-05-27 12:04] KesemSharabi commented on #2019
Hi @Ellestad1995,

The documentation states that **guest** user accounts are not supported (this is only one of the clauses for troubleshooting an error).

The behavior you're describing seems to be aligned with step 8 in [Grant access to reports](https://docs.microsoft.com/power-bi/collaborate-share/service-embed-report-spo#grant-access-to-reports).

Am I missing something in your scenario?

Than

[2020-05-27 12:06] KesemSharabi commented on #2024
Hi @uve,

Can you please assist @djpirra?

Thanks,

Kesem

[2020-05-27 12:07] KesemSharabi commented on #2027
Hi @uve,

Can you please assist @djpirra?

Thanks,

Kesem

[2020-05-27 12:07] KesemSharabi commented on #2028
Hi @uve,

Can you please assist @djpirra?

Thanks,

Kesem

[2020-05-27 12:20] KesemSharabi commented on #2123
Hi @iMicknl,

Thank you for your suggestion, I'll look into it when I next refresh the [multi-tenancy article](https://docs.microsoft.com/power-bi/developer/embedded/embed-multi-tenancy).

Kesem

[2020-05-27 12:20] #2123 closed

[2020-05-27 12:25] #2140 closed

[2020-05-27 12:27] KesemSharabi commented on #2195
Hi @uve,

Can you please point @powerbijools in the right direction?

Thanks,

Kesem

[2020-05-27 13:32] KesemSharabi commented on #2229
Thanks for your comment @GMAU01,

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

[2020-05-27 13:32] #2229 closed

[2020-05-27 13:37] KesemSharabi commented on #2228
Thanks for your comment, @rukiacee.

I've assigned this issue to the doc author for review.

[2020-05-27 13:39] KesemSharabi commented on #2226
Thanks for your comment, @PaulKna.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-05-27 13:40] KesemSharabi commented on #2225
Thanks for your comment, @soldstatic.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-05-27 13:41] elcu opened #2230 "Power bi .json Custom Theme - Revert visuals to default"
Hello,

when you create your own theme in .json and they apply it to an already existing visuals, they do not get changed to the new style. You need to go to each of the visual's format tab, and manually click on the "revert to defaults" button. Then, the new theme and settings gets applied to the category. You need to do this for every category (10 to 20 of categories for each visual)

<img width

[2020-05-27 13:42] KesemSharabi commented on #2224
Thanks for your comment, @thereverand. I’ll add this request to our docs backlog.

[2020-05-27 13:43] KesemSharabi commented on #2230
Thanks for your comment, @elcu.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-05-27 13:46] KesemSharabi commented on #2223
Thanks for your question, @Ghuiles.

@NimrodShalit, can you please comment on future plans for integration between DevOps and Deployment pipelines?

Thanks,

Kesem

[2020-05-27 13:51] KesemSharabi commented on #2222
Thanks for your comment, @jeremyblackhub. I'll look into this issue shortly.

[2020-05-27 13:53] KesemSharabi commented on #2221
Thanks for your comment, @gbrunnerbi.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-05-27 13:59] KesemSharabi commented on #2077
Hi @Perams,

Apologies for the length of time this is taking. Currently we don't have an end-to-end example, however, I'm meeting with the development team to improve the current code sample. Hopefully, I'll be able to update the article shortly.

Thanks,

Kesem

[2020-05-27 15:40] harrisgr18 opened #2231 "COVID-19 Dashboard Add Moving Average Trendline to Bar Charts"
We love this dashboard but we would like to add a 3 or 4 day moving average line to the two bar charts to even out the spikes in the data.  What would the formula need to be in order to accomplish this?

[2020-05-27 15:45] olthomps opened #2232 "Direct Query is now supported"
Direct Query is now supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919f51d-8623-b039-a1fc-0df774225c46
* Version Independent ID: 0376c331-0f7e-ec9b-6262-f47a6c413d47
* Content: [Decomposition tree - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-decomposition-tree)
* Conte

[2020-05-27 17:04] davidiseminger commented on #2037
These are great points @NeilMacMullen - I've reworded that note (and put it into a normal paragraph, to avoid it being so alarmist) and added a note about the potential delay. Thanks!

[2020-05-27 17:04] #2037 closed

[2020-05-27 17:06] davidiseminger commented on #2040
You're right - thanks for the close read! I've fixed that in the doc.

[2020-05-27 17:06] #2040 closed

[2020-05-27 17:08] RoseAmS opened #2233 "Broken link"
Hi!

"Plan capacity for embedded analytics with Power BI Premium" link is not working.
Could you fix it?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b427b153-9627-17f6-5a01-0b7009394944
* Version Independent ID: b5434461-32a3-8c8d-6faa-fe3144718784
* Content: [Whitepapers for Power BI - Power BI](https://do

[2020-05-27 17:10] davidiseminger commented on #2043
Sounds like the guidance now works as described. If not, feel free to reopen this. You might also find more specific guidance and feedback in the Power BI community, found at https://community.powerbi.com.

[2020-05-27 17:10] #2043 closed

[2020-05-27 17:11] davidiseminger commented on #2046
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-27 17:11] #2046 closed

[2020-05-27 17:14] davidiseminger commented on #2058
Sorry about that - that article is no longer available. I've removed the link.

[2020-05-27 17:14] #2058 closed

[2020-05-27 17:55] atlaspolicy opened #2234 "Power BI Embedded support (A SKUs)"
I'm trying to understand the extent to which the enhanced compute engine and direct queries are supported in the Power BI Embedded (A SKUs). It's not documented here and it's not available on the back end. The Enhanced Compute Engine is not available on an A2 capacity I'm using but the icons for the relevant queries implies it is being used. Please help!

---
#### Document Details

⚠ *Do not edit

[2020-05-27 18:21] CeciAc opened #2235 "PBI doesn't look like what you put here"
@RowlinAPsychologist commented on [Tue May 26 2020](https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/70)

I tried to find the copy button (and the all the following functions) in the latest Desktop version and Web version. But I couldn't! Which version was this instruction referring to? How can I copy a chart in the lastest PBI?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问

[2020-05-27 18:32] fordmaxson opened #2236 "Publish overwrites data acquired via Incremental Refresh"
The last part of this document explains that publishing a modified report from desktop can overwrite all the accumulated data acquire via incremental refresh.  I am trying to make use of the mentioned ALM toolkit and am corresponding with the team writing it, but currently it is clunky and does not appear to identify model vs data changes.

I believe it is critical that Microsoft make the Publish

[2020-05-27 18:36] KesemSharabi commented on #2222
Hi @jeremyblackhub,

As far as I can see after downloading the [Planning a Power BI Enterprise Deployment](https://aka.ms/PBIEnterpriseDeploymentWP) article, its version is 3.0.

Just to make sure we're on the same page, you're talking about the first article mentioned in the [Whitepapers for Power BI](https://docs.microsoft.com/en-us/power-bi/guidance/whitepapers) table - correct?

Is there somet

[2020-05-27 19:06] davidiseminger commented on #2095
I've updated the reference to clarify (as it states on the top of this page, but is easy to miss) that this content has been incorporated into our general guidance. Sorry for the confusion.

[2020-05-27 19:06] #2095 closed

[2020-05-27 19:14] davidiseminger commented on #2070
Added a bullet list item to Limitations and considerations. Thanks for the update!

[2020-05-27 19:14] #2070 closed

[2020-05-27 19:16] davidiseminger commented on #2076
Hi there - there may be variations in how the sample tutorial operates, so you can choose which fields you would like. If you'd like more in-depth guidance about how the feature works, you can check in the Power BI Community, found at https://community.powerbi.com.

[2020-05-27 19:16] #2076 closed

[2020-05-27 19:18] davidiseminger commented on #2096
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-27 19:18] #2096 closed

[2020-05-27 19:18] davidiseminger commented on #2098
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-27 19:18] #2098 closed

[2020-05-27 19:20] davidiseminger commented on #2109
Thanks for your comment, @jjjain . Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-27 19:20] #2109 closed

[2020-05-27 19:28] davidiseminger commented on #2112
Thanks for pointing that out! I've updated the image.

[2020-05-27 19:28] #2112 closed

[2020-05-27 19:32] davidiseminger commented on #2114
The link to reach the posted Desktop file is in the dialog that is displayed once the publishing is complete. You can share the PBIX file like any other file you might share, or you can point users to the Power BI workspace where you uploaded the dataset.

[2020-05-27 19:33] davidiseminger commented on #2129
Thanks for your comment. We will look into posting that file for download, so users can experiment on their own.

[2020-05-27 19:33] #2129 closed

[2020-05-27 21:40] skiwii opened #2237 "This new feature has created a bug"
See the following page for the issue
https://community.powerbi.com/t5/Desktop/Failed-to-save-modifications-to-the-server-when-calling-API/td-p/990136/

I have the issue when I apply a custom function to a table that returns data (more rows). It works fine in PowerQuery but when you Apply this you get the error:
"Failed to save modifications to the server. Error returned: 'Expression in partition '

[2020-05-28 02:04] emilylait opened #2238 "Heading "Unlimited content sharing" has incorrect information."
The heading Unlimited content sharing has incorrect information. It implies that ALL premium SKUs allow unlimited content sharing with user free licenses.  It says (With Premium, anyone, whether they're inside or outside your organization can view your Power BI content including paginated and interactive reports without purchasing individual licenses.)
This is now incorrect with the newer EM premi

[2020-05-28 07:37] jayendranarumugam commented on #1538
For others, Please see my [blog here](https://community.powerbi.com/t5/Community-Blog/Data-Gateway-Automation-using-PowerShell-Part-1/ba-p/1117330) on how to implement that

[2020-05-28 10:21] elcu commented on #2230
Hello @uve,

just to specify what I am looking for:
[https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#situations-when-report-theme-colors-wont-stick-to-your-reports](url)

Situations when report theme colors won't stick to your reports

When you change something in the visual then your imported theme doesn't override this changed setting in the visual. It overwrites o

[2020-05-28 13:05] MichaelAdrianJohnson opened #2239 "User license required for report publishers"
There is no mention of the licensing requirement for report publishers on this page (and I could not find it anywhere else.)

The only guidance I could find was at the bottom of the pricing page in a footnote.
https://powerbi.microsoft.com/en-us/pricing/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfc8bae8-be5d-ce63

[2020-05-28 13:47] adamwp1993 opened #2240 "AAS not supported with PowerBI Gateway"
There is no overlap in authentication mechanisms with AAS and the PowerBI gateway

Please reach out and i can direct to an incident number with the statements from engineering group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f8

[2020-05-28 17:39] gkens opened #2241 "How to filter when import fails"
[Enter feedback here]
Please add instructions for what to do if the pwa import fails because it is too big

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8a7a22-e258-4da3-4c55-6ddb1085c521
* Version Independent ID: 0b3f2b88-9e73-f4dd-0f21-fe3c156a99b8
* Content: [Connect to Project Online with Power BI - Power BI](ht

[2020-05-28 17:44] maggiesMSFT commented on #2232
Hi, @olthomps -- thanks for your comment! Assigning to the author to make the update.

[2020-05-28 17:57] maggiesMSFT commented on #2231
Hi, @harrisgr18 -- I'm glad to hear you like it! I'm not sure which one you're referring to.  There are two. This one is the report itself: https://docs.microsoft.com/en-us/power-bi/create-reports/sample-covid-19-us
This one is the template app:
https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-to-covid-19-tracking
If you install the template app, you can modify the report you

[2020-05-28 17:57] #2231 closed

[2020-05-28 18:01] maggiesMSFT commented on #2233
Hi, @RoseAmS -- I don't see the link you're referring to on this page, https://docs.microsoft.com/en-us/power-bi/guidance/whitepapers#feedback.
Can you point me to it? Thanks!

[2020-05-28 18:02] maggiesMSFT commented on #2234
Hi, @atlaspolicy -- thanks for asking! Assigning to the author to investigate.

[2020-05-28 18:27] maggiesMSFT commented on #2235
Hi, @RowlinAPsychologist and @CeciAc -- Yes, items on the ribbon have moves, with the newest version of Power BI Desktop. Assigning to the author to update the article.
In the meantime: The ribbon does collapse. Maybe that's why you're not seeing all the options? Select the arrow at the far right to expand it. Hope that helps!

[2020-05-28 18:35] davidiseminger commented on #2113
Thanks for your comment, @sandeeplodhirajput. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-28 18:35] #2113 closed

[2020-05-28 18:35] #2119 closed

[2020-05-28 18:38] maggiesMSFT commented on #2236
Hi, @fordmaxson -- Thanks for your comment! It sounds like a product issue rather than a documentation issue. Please visit the Power BI Ideas page, https://ideas.powerbi.com/forums/265200-power-bi, to provide feedback

[2020-05-28 18:39] davidiseminger commented on #2125
Hi @sartoris  - take a look in the "Other functions" section as well. You'll see UNION, INTERSECT, and other there. You can always search that page, in the top-left box, for others.

[2020-05-28 18:39] #2125 closed

[2020-05-28 18:40] davidiseminger commented on #2131
Thanks for your interest. Here's a good link from a well-known Power BI expert:
https://blog.crossjoin.co.uk/2016/10/01/using-the-invoke-custom-function-button-in-power-bi/

[2020-05-28 18:40] #2131 closed

[2020-05-28 18:44] davidiseminger commented on #2136
Hi @romerohe - I'm sorry, but I can't reproduce your issue on my side; I see the "Power BI datasets" in the Power Platform section of Get Data. As such, I think your best bet is to ask the community, or contact support. If you find that it's an issue we can address in the docs, please let me know.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not,

[2020-05-28 18:44] #2136 closed

[2020-05-28 18:50] davidiseminger commented on #2166
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-28 18:50] #2166 closed

[2020-05-28 18:50] davidiseminger commented on #2167
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-28 18:50] #2167 closed

[2020-05-28 18:53] davidiseminger commented on #2175
Thanks for your comment, @smurfer. Since this is product feedback (rather than documentation feedback), your best bet is to submit product feedback or feature ideas by going to https://ideas.powerbi.com.

You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-28 18:53] #2175 closed

[2020-05-28 18:56] davidiseminger commented on #2187
Sorry you're having trouble with that - and indeed, your best bet for a solution is to visit the community (as described in the previous comment) or suggest improvements in the Power BI Ideas Forum (also in the previous comment).

[2020-05-28 18:56] #2187 closed

[2020-05-28 18:58] davidiseminger commented on #2192
Thanks. In terms of using your imagination, the intent is to suggest you use variations on the forecast length, confidence interval, and other forecasting parameters to see what the results might forecast.

[2020-05-28 18:58] #2192 closed

[2020-05-28 19:00] #2207 closed

[2020-05-28 19:01] maggiesMSFT commented on #2237
Hi, @skiwii -- Thanks for asking! This sounds like a product issue rather than a documentation issue. You've done the right thing by posting in the Community site. The next step is probably a support request. https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-05-28 19:01] #2237 closed

[2020-05-28 19:02] davidiseminger commented on #2208
There is not a test data source available at this time. You might find more luck with that question (or see what others have done) in the Power BI Community, found at https://community.powerbi.com.

[2020-05-28 19:02] #2208 closed

[2020-05-28 19:02] maggiesMSFT commented on #2238
Thanks for your question, @emilylait ! Assigning to the author to investigate.

[2020-05-28 19:06] davidiseminger commented on #2212
@jonwbstr - those are great basic steps. Thank you! I've added them to the top of that article, just to make sure people check those first. Great contribution, thanks!

[2020-05-28 19:06] #2212 closed

[2020-05-28 19:10] davidiseminger commented on #2219
Thanks for your comment @mrpullen. The Azure Government Tenant does sometimes diverge (in terms of available features) from public versions.

Your best bet for getting this working in the GOV tenants is to contact your Microsoft representative, and to submit product feedback or feature ideas by going to https://ideas.powerbi.com.

[2020-05-28 19:10] #2219 closed

[2020-05-28 19:19] davidiseminger commented on #2225
@soldstatic - I believe you're talking about composite models. Here's a link to the document:

https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-composite-models

[2020-05-28 19:19] #2225 closed

[2020-05-28 19:24] davidiseminger commented on #2228
Thanks for your feedback. I've updated that article to make that passage clearer.

[2020-05-28 19:24] #2228 closed

[2020-05-28 20:01] kfollis commented on #2218
@sajas-s - thank you for helping keep this article up to date! I have made this change and it will be live this afternoon. Look for additional changes to this article in the next few days!

[2020-05-28 20:01] #2218 closed

[2020-05-28 20:20] kfollis commented on #2215
@fmesposito - thank you for your input! I have added a note to the article and a link to the Microsoft 365 related documentation. The updates will publish later today.

[2020-05-28 20:20] #2215 closed

[2020-05-28 20:54] fmesposito commented on #2215
Great, thank you!

Francesco Esposito
Sr Modern Workplace Specialist
Strategic Accounts
Great Lakes Enterprise Commercial
FrancEs@microsoft.com<mailto:frances@microsoft.com> | Teams: 248.200.5141

From: Kate Follis <notifications@github.com>
Sent: Thursday, May 28, 2020 4:20 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Francesco Esposito <Francesco.Esposito@microsoft.com

[2020-05-28 20:57] jeremyblackhub commented on #2222
Hello @KesemSharabi,

The first article mentioned in the [Whitepapers for Power BI](https://docs.microsoft.com/en-us/power-bi/guidance/whitepapers) table does link to the correct 3.0 version of the [Planning a Power BI Enterprise Deployment](https://aka.ms/PBIEnterpriseDeploymentWP) whitepaper, but the link on the [Governance and deployment approaches article](https://docs.microsoft.com/en-us/powe

[2020-05-28 21:05] fordmaxson commented on #2236
Maggie,
Your document states...
"In some cases you may not want to replace the dataset, especially with incremental refresh. The dataset in Power BI Desktop could be much smaller than the one in the service. If the dataset in the service has an incremental refresh policy applied, it may have several years of historical data that will be lost if the dataset is replaced. Refreshing all the historica

[2020-05-28 21:47] maggiesMSFT commented on #2236
Hi, @fordmaxson -- thanks for clarifying! I've reopened the issue and assigned it to the author for consideration.

[2020-05-28 22:07] RoseAmS commented on #2233
Hi @maggiesMSFT !

Seems like that whitepaper was deprecated (I'm seeing page's last edit was yesterday), couldn't find it either.
Thanks anyway!

[2020-05-28 22:24] maggiesMSFT commented on #2233
Thanks, @RoseAmS. What timing! Closing this issue.

[2020-05-28 22:24] #2233 closed

[2020-05-28 23:40] HairyDrumroll opened #2244 "Standalone Text Tile can't be edited once added"
The documentation should note that Standalone Text Tiles created directly by using the Add Tile control can't be edited.
Even better would be to fix the bug that prevents editing previously added Text Tiles.
Issue recorded in [Issues Log](https://community.powerbi.com/t5/Issues/Bug-Dashboard-Text-Box-Drops-Text-on-Edit/idi-p/1117945).

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-28 23:42] HairyDrumroll opened #2245 "Standalone Text Tile can't be edited once added"
The documentation should note that Standalone Text Tiles created directly by using the Add Tile control can't be edited.
Even better would be to fix the bug that prevents editing previously added Text Tiles.
Issue recorded in [Issues Log](https://community.powerbi.com/t5/Issues/Bug-Dashboard-Text-Box-Drops-Text-on-Edit/idi-p/1117945).

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-28 23:44] kfollis commented on #2245
Hi @HairyDrumroll - thanks for the feedback. I'm assigning this issue to the author to review.

[2020-05-28 23:45] kfollis commented on #2244
@HairyDrumroll - got this twice, so closing the duplicate issue.

[2020-05-28 23:45] #2244 closed

[2020-05-28 23:50] kfollis commented on #2241
Hi @gkens - I'm adding the author to review and possibly add troubleshooting steps. If you need immediate help, please try the Power BI Community (https://community.powerbi.com) or support (https://support.powerbi.com).

[2020-05-28 23:54] kfollis commented on #2240
@adamwp1993 - thanks for helping to keep the content up to date. Please provide the suggested update, as I'm unsure of what change needs to be made based on your feedback.

[2020-05-28 23:57] HairyDrumroll commented on #2245
The page [Intro to dashboard tiles for Power BI designers](https://docs.microsoft.com/en-us/power-bi/create-reports/service-dashboard-tiles) should also have documentation updated - or the bug should be fixed which would be even better!

[2020-05-29 00:16] maggiesMSFT commented on #2239
Hi, @MichaelAdrianJohnson -- thanks, great point! I've added it in the Licensing section. The change will be live tomorrow.

[2020-05-29 00:16] #2239 closed

[2020-05-29 00:24] maggiesMSFT commented on #2210
Hi, @Paul-Gannaway -- could you use the SQL Server Reporting Services/Power BI Report Server migration tool plus scripts? See this article for guidance: https://docs.microsoft.com/power-bi/guidance/migrate-ssrs-reports-to-power-bi

[2020-05-29 00:41] maggiesMSFT commented on #2211
Hi, @elcu -- could you tell me which article you were looking at? That will help assign it to the right author. Thanks!

[2020-05-29 00:45] maggiesMSFT commented on #2209
Hi, @colmardev -- I see your question refers to this article, https://docs.microsoft.com/en-us/power-bi/connect-data/service-excel-workbook-files, right? Assigning to the author for consideration. Thanks!

[2020-05-29 00:51] maggiesMSFT commented on #2182
Hi, @duncangrace -- perhaps you're referring to this article, https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-python-scripts? Assigning to that author to answer your question.

[2020-05-29 00:58] maggiesMSFT commented on #2151
Hi, @tomasbaima -- Having not heard back from you, I'm closing this issue. I hope you were able to resolve the issue!

[2020-05-29 00:58] #2151 closed

[2020-05-29 01:29] maggiesMSFT commented on #2170
Hi, @frvigano -- Gateways are specifically for on-premises data. Azure Analysis Services data is in the cloud, not on premises, so no, no gateway is needed. Do you think we need to state that in the article? If so, where would you mention it?
Thanks!

[2020-05-29 06:19] colmardev commented on #2209
Yes, thanks, please take a look at my linked Power BI forum post

[2020-05-29 07:56] elcu commented on #2211
Hello @maggiesMSFT ,

it should be part of this article:

https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#report-theme-json-file-format

It's about importing .json file with your own theme into power BI, and there is no mention how to set up/index the settings for "customized series" in some charts.

Thank you!

[2020-05-29 10:22] NimrodShalit commented on #2223
We are planning to build integration with DevOps in the future, don't have a specific timeline yet.

[2020-05-29 13:37] fordmaxson opened #2246 ""Power BI Datasets" is missing from the Get Data -> Power Platform options"
Can the article tell me what to do if "Power BI Datasets" is missing from the Get Data -> Power Platform options?

Does "Admin portal -> Tenant Settings -> Certification" have to be turned on before it shows?
Anything else?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* V

[2020-05-29 13:43] HarryLeboeuf commented on #2195
Having the same problem, following the issue.

[2020-05-29 14:15] andreagutierrezampuero commented on #2195
This is the command I executed: npm config set strict-ssl false ... then I returned to true

[2020-05-29 14:19] Ghuiles commented on #2223
Hi Nimrod!

Thanks for your reply.

Best regards
G.

From: Nimrod Shalit <notifications@github.com>
Sent: Friday 29 May 2020 12:23
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Gilles Tessier <Gilles.Tessier@havi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Are the development pipelines in PBI integrated in Azure DevOps? (#2223)

Exter

[2020-05-29 14:54] lakeyeric22 opened #2247 "Azure Consumption Insights RIUsage issue"
I am using Azure Consumptions Insights API to get RIUsage data.  This has been working great for a few months, but starting on 5/27 the TotalReservedQuantity field is always zero for all records.  I've attempted refreshing the data multiple times on multiple days.  I opened a ticket with Microsoft support on Wednesday and they have been no help at all.  Even stood me up on a meeting they scheduled

[2020-05-29 15:51] otarb commented on #2182
Hello @duncangrace,, you would still need on-premises data gateway in personal mode to be able to refresh Python (or R) scripts. It is currently not supported in standard (also known as enterprise) mode. It's mainly due to security and permissions with which personal vs standard modes are run. Personal mode runs as an application with your credentials. Enterprise mode runs as a service with admini

[2020-05-29 16:21] maggiesMSFT commented on #2211
Thanks, @elcu -- I've assigned it to the author for consideration. Thanks!

[2020-05-29 16:34] maggiesMSFT commented on #2230
Hi, @elcu -- not sure why your link isn't working. You're referring to this article, right? https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#report-theme-json-file-format
Assigning to the author for consideration.

[2020-05-29 16:37] #2182 closed

[2020-05-29 17:32] maggiesMSFT commented on #2246
Hi, @fordmaxson -- yes, "Admin portal -> Tenant Settings -> Certification" does have to be turned on. See https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-admin-across-workspaces for more info.
Thanks!

[2020-05-29 17:33] #2246 closed

[2020-05-29 17:35] maggiesMSFT commented on #2247
Hi, @lakeyeric22 -- assigning to someone who may be able to answer your question.

[2020-05-29 18:03] maggiesMSFT commented on #2245
Hi, @HairyDrumroll -- I'm not sure what you're seeing. You can indeed edit a standalone text tile after you add it. Here's how, later in that same article: https://docs.microsoft.com/en-us/power-bi/create-reports/service-dashboard-add-widget#edit-a-tile.
Thanks!

[2020-05-29 18:03] #2245 closed

[2020-05-29 18:45] maggiesMSFT commented on #2247
Referring to this article, right?
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-azure-consumption-insights

[2020-05-29 19:47] lakeyeric22 commented on #2247
@maggiesMSFT - yes that is the document.  Thanks!

[2020-05-29 20:08] frvigano commented on #2170
The title of the document is “Enable Q&A for live connections in Power BI” : also a report based on Azure Analysis Services is based on a live connection

My point is that we should provide information about both scenarios.

I wrote: “This document suggests that to use live query the gateway is required. Actually, Live Query supports Azure Analysis Services without the data gateway"

Best regards

[2020-05-29 20:42] maggiesMSFT commented on #2132
Hi, @glasody -- I'm checking and I'll get back to you. Thanks!

[2020-05-29 20:47] maggiesMSFT commented on #2144
Hi, @yogesh5c4 -- haven't heard from you, so I'm closing this issue. Thanks.

[2020-05-29 20:47] #2144 closed

[2020-05-29 20:49] maggiesMSFT commented on #2121
Hi, @ryanferguson -- hearing no reply, I'm closing this issue. Thanks.

[2020-05-29 20:49] #2121 closed

[2020-05-29 21:38] maggiesMSFT commented on #2170
Ah, got it. OK, thanks! I've changed the article. Update will be live later this afternoon.

[2020-05-29 21:38] #2170 closed

[2020-05-29 21:48] maggiesMSFT commented on #2067
Hi, @RaoulHolzer -- This should be fixed now. If not, let us know. Thanks!

[2020-05-29 21:48] #2067 closed

[2020-05-30 00:02] RowlinAPsychologist commented on #2235
Thanks for the reply. But sorry, the guess is not valid.
I saw many users wish to copy the visual elements to Microsoft Office, like what we do to Excel charts. In many cases, we just want to embed charts in a document in case its receivers don't have access to internet or PBI desktop. Now the sharing problem is greatly undermining PBI's application.

[2020-05-31 01:21] unt1tled opened #2248 "Clarify which capacities for which enhanced compute engine can be enabled."
I discovered after much research that enhanced compute engine can not be enabled on A1-A2 Power BI capacities. It does work on A3 and above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369c84b0-97ef-a750-86cd-5330626c75ac
* Version Independent ID: 3af79c25-1e82-ab08-7604-bfaa9ace6128
* Content: [Use the enhanced com

[2020-05-31 13:17] KesemSharabi commented on #1999
Hi @luuksommers,

You have indeed reached the limit (256). I'll update the documentation shortly.

Thanks,

Kesem

[2020-05-31 13:27] #2223 closed

[2020-06-01 02:34] HairyDrumroll commented on #2245
Hi @maggiesMSFT, did you try it? Didn't work for me and someone has logged a [bug in the issues list](https://community.powerbi.com/t5/Issues/Bug-Dashboard-Text-Box-Drops-Text-on-Edit/idi-p/1117945) as well.

[2020-06-01 02:52] wouter-in2facts opened #2249 "Prerequisites not matching with those on download page"
Prerequisites on this page for operating system:
The supported versions of Windows are:

Windows 7 Service Pack 1
Windows 8.1
Windows 10
Windows Server 2008 R2 SP1
Windows Server 2012
Windows Server 2012 R2
Windows Server 2016
Windows Server 2019

On the download page:
Supported Operating System
Windows Server 2019, Windows Server 2016, Windows 10, Windows Server 2012 R2, Windows Server 2012, Wind

[2020-06-01 02:53] #2249 closed

[2020-06-01 07:15] HairyDrumroll commented on #2245
Seems to be fixed now!
I swear it wasn't working on Friday!!

[2020-06-01 08:17] elcu commented on #2230
Yes @maggiesMSFT , I am referring to that article. There is a special section in it "Situations when report theme colors won't stick to your reports". You need to manually click on that "revert to default" button now, but I would like to implement it into the .json file.

[2020-06-01 08:29] bilukjak opened #2250 "Ambiguous recommendation"
This [Section](https://docs.microsoft.com/en-us/power-bi/transform-model/service-dataflows-best-practices#create-a-separate-workspace-for-ingestion-transformation) recommendation is ambiguous. What does "that has all the data you need" mean in that context? Linked entities are not allowed in that scenario? It seems that if I create a workspace for ingestion and second for transformation (with link

[2020-06-01 12:25] Sil3ntGam3r commented on #2077
Thank You. Looking forward to hearing from you

[2020-06-01 13:53] soldstatic commented on #2225
No, I'm not talking about composite models. I'm talking about being able to
inherit data sets from multiple workspaces and link them together.

On Thu, May 28, 2020 at 2:20 PM David Iseminger <notifications@github.com>
wrote:

[2020-06-01 15:37] maggiesMSFT commented on #2245
Well, I'm glad it's working now anyway! Thanks for letting me know.

[2020-06-01 16:24] artsheiko opened #2251 "Admin can Update and delete the workspace."
Admin can Update and delete the workspace. This is not marked in a en-us page version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc6d87fe3fd
* Content: [Organize work in the new workspaces in Power BI - Power BI](https://docs.mi

[2020-06-01 19:37] brianmullinsbsd opened #2252 "Update for May 2020 release?"
Please update this page for the May 2020 release of Power BI Report Server.
https://docs.microsoft.com/en-us/power-bi/report-server/compare-report-server-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content:

[2020-06-01 23:05] davidiseminger commented on #2248
Thanks for your investigation @unt1tled and for sharing here. I've added a note so others can benefit, too. Thanks!

[2020-06-01 23:05] #2248 closed

[2020-06-01 23:06] davidiseminger commented on #2250
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-01 23:06] davidiseminger commented on #2251
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-01 23:07] davidiseminger commented on #2252
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-02 03:51] BlendMW opened #2253 "Connect to the facebook"
[The Facebook select doesn't exist in the Get Data dialog box]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121b33bb-7721-3f2e-e863-ad5ef222b71f
* Version Independent ID: 023070b1-753a-f9c2-7924-a350d7480a22
* Content: [Tutorial: Analyze Facebook data by using Power BI Desktop - Power BI](https://docs.microsoft.com/e

[2020-06-02 04:54] kthejoker opened #2254 "Real-time refresh- not working / more clarity needed on troubleshooting"
From the doc:

and later ...

Can someone verify if this scenario is true for PowerBI Pro users?

I've created a push dataset using the API, created and pinned simple report visuals, created and pinned Q&A visuals - when I manually refresh I can see the new data I'm pushing in, but the dashboard never automatically refreshes - you can see there's no underlying activity at all from the browser.

It

[2020-06-02 06:44] BlendMW commented on #2253
![image](https://user-images.githubusercontent.com/64715707/83488463-8e338b80-a4b5-11ea-813f-c5d19aef0af0.png)

[2020-06-02 11:21] KesemSharabi commented on #1930
Hi @boylec,

You're right, you can use service principal in this scenario. We will update the embedding setup tool statement accordingly. The documentation for [service principal](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principal) has already changed.

Thanks for pointing this out.

Kesem

[2020-06-02 11:21] #1930 closed

[2020-06-02 11:28] KesemSharabi commented on #2039
Hi @Assad-Baig,

You're correct and thanks for pointing this out.

I'll replace GenerateTokenForCreateInGroup with GenerateTokenForCreateInGroup in the [paginated reports article](https://docs.microsoft.com/power-bi/developer/embedded/paginated-reports-row-level-security).

Thanks,

Kesem

[2020-06-02 11:42] KesemSharabi commented on #2135
Hi @itm-platform,

Yes, you can use the Azure ARM APIs [suspend](https://docs.microsoft.com/rest/api/power-bi-embedded/capacities/suspend) and [resume](https://docs.microsoft.com/rest/api/power-bi-embedded/capacities/resume).

Or, you can use a Power BI Embedded PowerShell script; [Suspend-AzPowerBIEmbeddedCapacity](https://docs.microsoft.com/powershell/module/az.powerbiembedded/Suspend-AzPowerBIE

[2020-06-02 11:42] #2135 closed

[2020-06-02 15:35] bradj813 opened #2256 "Does this work with SSAS live connections?"
I've read it does NOT work with SSAS live connections yet:
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/38683240-implement-rls-on-paginated-reports-using-ssas-tabu

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 561fba06-3092-f009-343e-b37f133bee44
* Version Independent ID: e

[2020-06-02 18:51] jdbuchanan opened #2257 "Changing the SSAS live connection server"
The way you change the connection properties is different in newer versions of PowerBI desktop.
File > Options and settings > Date source settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d4defd9-aeac-2135-1310-332bfe227342
* Version Independent ID: c68cb581-46fc-5b74-aff1-8a69dbf433dc
* Content: [Connect to Ana

[2020-06-02 21:00] haider392 opened #2258 "Sharing externally is indeed possible from GCC to commercial tenants"
In considerations and limitations section, it is mentioned that, "Sharing outside your organization isn't supported national clouds. Instead, create user accounts in your organization that external users can use to access the content."

However, we tested and it is indeed supported. Please confirm from PG and update the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-06-02 21:05] kfollis commented on #2258
Thanks, @haider392! I'll verify with the PG and get an update in soon.

[2020-06-03 00:05] mihart commented on #2253
Thanks for your comment, @BlendMW . This issue has been assigned to the doc author for review.

[2020-06-03 00:07] mihart commented on #2254
Thanks for your comment, @kthejoker . This issue has been assigned to the doc author for review.

[2020-06-03 00:08] mihart commented on #2256
Thanks for your comment, @bradj813 . This issue has been assigned to the doc author for review.

[2020-06-03 00:08] mihart commented on #2257
Thanks for your comment, @jdbuchanan . This issue has been assigned to the doc author for review.

[2020-06-03 07:22] pnarsi opened #2260 "Connect a ADLS Gen2 with Firewall enabled to PowerBI"
For this ADLS Gen2 to Power BI integration for dataflow storage, can we use a Storage account with a firewall enabled?

Power BI is not listed as a supported Trusted Microsoft Service for Azure Storage https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security so I assume we need to either turn the firewall for the Storage Account off or whitelist a range of IP addresses used b

[2020-06-03 11:42] sinisakomlen commented on #1910
Is it still not possible to access Postgres without the gateway? Do not get it why the gateway is needed if it is Cloud (AWS)-To-Cloud (Azure) connection.

[2020-06-03 12:53] B14m3m3 commented on #1999
@KesemSharabi Is there any way to bypass the limitation or can this limit can be increased? 256 characters seems like a very low limit if you want to use multiple filters.

[2020-06-03 13:24] KesemSharabi commented on #2260
Thanks for your comment, @pnarsi.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-06-03 13:41] KesemSharabi commented on #1928
Hi @boylec,

Yes, you should be able to migrate to a new workspace without making any changes.

Also, please note that we upgraded the [service principal](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principal) article, and that it now longer includes this advise. In addition, for improved security, you can now use [service principal with a certificate](https://docs.microso

[2020-06-03 13:41] #1928 closed

[2020-06-03 13:51] jujiro commented on #1947
Is there a way to determine what the current Sort By column is set to?

[2020-06-03 14:12] KesemSharabi commented on #2077
Hi @Perams,

We improved the code samples in [Export Power BI report to file](https://docs.microsoft.com/power-bi/developer/embedded/export-to).

This included changing `Name` to `pageName` and adding this comment: The 'Client' object is an instance of the Power BI .NET SDK.

I hope this adds clarity to the article.

Thanks,

Kesem

[2020-06-03 14:28] KesemSharabi commented on #2153
Hi @danieleperilli,

Can you please let me know which article you're referring to?

Thanks,

Kesem

[2020-06-03 14:54] danieleperilli commented on #2153
I've just posted this from the official documentation page for the dataview mapping: https://docs.microsoft.com/en-us/power-bi/developer/visuals/dataview-mappings

[2020-06-03 15:10] liavZayde commented on #2103
Hi @yaelkfir, the exportTo API is a Rest API and is available through the .NET SDK and not the JS SDK (aka powerbi-client).
For more info about the .NET SDK please check out [this link](https://github.com/microsoft/PowerBI-CSharp).

[2020-06-03 16:17] milesgratz opened #2262 "Broken hyperlinking after "Manage items you own""
Content after "Manage items you own" header is showing up as a single hyperlink.

![image](https://user-images.githubusercontent.com/17114534/83661440-c3121200-a58b-11ea-9745-ccbe91069ca9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5-ffd

[2020-06-03 17:27] KesemSharabi commented on #2217
Hi @gmohrman,

Thanks for your feedback.

The [Introduction to deployment pipelines](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-overview) is an overview article, you can find more information in these articles which discuss the actual use of deployment pipelines:

- [Get started with deployment pipelines](https://docs.microsoft.com/power-bi/create-reports/deployment-pi

[2020-06-03 18:17] KesemSharabi commented on #2222
Hi @jeremyblackhub,

You're correct, the link from the [Governance and deployment approaches](https://docs.microsoft.com/power-bi/admin/service-admin-governance) article downloads the 2.0 version.

I'll look into it and update you shortly.

Thanks,

Kesem

[2020-06-03 22:41] kfollis commented on #2258
Hi @haider392 - I'm making the update now and you'll see the change live soon. To clarify, yes, external sharing is now available from government to commercial clouds. However, the functionality is not available in regional clouds, such as Germany and China. Thanks!

[2020-06-03 22:44] #2258 closed

[2020-06-03 22:50] kfollis commented on #2262
Thanks, @milesgratz! This is assigned to the author and we'll get this updated quickly.

[2020-06-03 22:53] kfollis commented on #2240
change made and published to live

[2020-06-03 22:53] #2240 closed

[2020-06-03 23:02] kfollis commented on #2004
Hi @mmschouten - I've added a footnote to the OData entry to note that Power BI service doesn't support feeds that require authentication. The changes will publish live this week.

[2020-06-03 23:02] #2004 closed

[2020-06-04 06:01] KesemSharabi commented on #2222
Hi @jeremyblackhub,

I fixed the link in [Governance and deployment approaches](https://docs.microsoft.com/power-bi/admin/service-admin-governance) - it's now pointing to the correct **Planning a Power BI Enterprise Deployment** whitepaper.

Thanks,

Kesem

[2020-06-04 06:01] #2222 closed

[2020-06-04 10:03] nadjaklein opened #2264 "Messed up formatting"
Hi there,
the formatting on the lower part of the documentation is a bit messed up. Everything appears to be a hyperlink. Just wanted to highlight this in case you haven't realized that yet.
Cheers,
Nadja

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d

[2020-06-04 14:32] samhodgkinson commented on #2094
Does this content pack still exist? Can we get an update

[2020-06-04 16:37] pdileepan opened #2265 "Where are the data sets for the tutorials in this page?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbf6763-4952-5335-cefb-ae4e85fd9028
* Version Independent ID: cb734eb1-fb6d-b7aa-735a-17b5ba8ca7fd
* Content: [Use the Analytics pane in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-analytics-pane)
*

[2020-06-04 18:41] martaequintao opened #2266 "Limitations link is broken"
Link under Limitations is broken. Page was probably moved:

Limitations and considerations
For troubleshooting information, see Power Apps visual for Power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95396f22-677a-eb3c-bd1c-10344fe0ae70
* Version Independent ID: 1d471f6e-b3d8-e04e-d4c1-5353982e5c75
* Content: [Em

[2020-06-04 18:42] alomar123 opened #2267 "Oracle client software"
Hello,

Trying to get clarification on what I need to install in order to directly connect to Oracle with PowerBi. I have read the instructions here and am a little unsure on everything that needs to be downloaded/installed. It mentions installing the Oracle Client - I plan on doing it for 32 and 64 due to compatibility. Each download includes several items and need to verify which ones are requir

[2020-06-04 21:31] kfollis commented on #1910
Hello @hablaras and @sinisakomlen - apologies for the delay. I checked with our engineering team, and the gateway for PostgreSQL is shown as supported, but not required. PostgreSQL has a separate cloud offering and your configuration determines the need for the gateway.

[2020-06-04 21:31] #1910 closed

[2020-06-04 23:35] kfollis commented on #2205
Added wildcard entry as determined through email conversation

[2020-06-04 23:35] #2205 closed

[2020-06-05 01:42] otarb commented on #2163
update doc.

#close

[2020-06-05 01:45] otarb commented on #2091
updated documentation to include in known limitations

[2020-06-05 01:47] otarb commented on #2091
#please-close @otarb

[2020-06-05 01:47] #2091 closed

[2020-06-05 01:47] otarb commented on #2163
#please-close @otarb

[2020-06-05 01:47] #2163 closed

[2020-06-05 01:48] otarb commented on #2092
#please-close @otarb

[2020-06-05 01:48] #2092 closed

[2020-06-05 01:51] otarb commented on #1989
No, they won't be able to use python visual, it won't render.

Python (and R) visuals are not cached and will render when report is opened, using user's environment.

Which Python (or R) environment to use is configurable from settings pane.

#please-close @otarb

[2020-06-05 01:51] #1989 closed

[2020-06-05 06:37] sinisakomlen commented on #1910
Hi @kfollis
What does this answer mean in practice? Which configuration is needed for PostgreSQL on AWS so Data Gateway is not required for PowerBI Service refresh? Can you point us to some documentation how to achieve this?

[2020-06-05 12:51] atalaycelebi opened #2268 "Funny Dates"
Am I wrong or you guys are creating the RangeStart and RangeEnd as constant values. Arent they supposed to be dynamic values?
The post shows up as from 10 days ago but all the data are from 2012 and the data as R;ange start is also 2012.
If it is constant what is the significance of the date that we are creating this whole thing.
Btw I forgot to say, I did and it didnt work.

Hoenstly, It seemed t

[2020-06-05 16:33] kfollis commented on #1910
There are some related discussions in community, like this one: https://community.powerbi.com/t5/Power-Query/Connecting-to-PostgresSQL-hosted-on-AWS-RDS/td-p/135666 that may help and you can always post a new question.

[2020-06-05 17:00] kfollis commented on #2264
Thanks, @nadjaklein! I'm assigning to the writer to make the correction.

[2020-06-05 17:14] kfollis commented on #2266
Thanks, @martaequintao! I have made the correction and the change will be live later today.

[2020-06-05 17:14] #2266 closed

[2020-06-05 17:17] kfollis commented on #2265
Thanks for the comment, @pdileepan. I'm assigning the issue to author to provide clarification.

[2020-06-05 17:18] kfollis commented on #2267
Hi, @alomar123 - can you provide the article that you are referencing? If you comment isn't specific to documentation, you might try posting your questions to https://community.powerbi.com

[2020-06-05 17:20] kfollis commented on #2268
Hi @atalaycelebi - I'm not sure what you're referring to. Is your comment for a specific article? Can you provide the link if so?

[2020-06-05 17:42] alomar123 commented on #2267
Thank you for responding! Specifically, the Microsoft article below cites "Installing the Oracle client" and links to Oracle. Are all of the elements in that Oracle ODAC package (instant client, OLE DB, ASP 2/4, ODBC driver,etc...) required to connect to Oracle with PowerBi? Or can I only pick certain required ones?

https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-oracle-dat

[2020-06-05 17:50] kfollis commented on #2267
Thanks for clarifying, @alomar123! I'm adding the author to see if we have an answer. I do see that the Oracle ODAC package contains several elements, and understand that you'd like to install only the elements required for Power BI.

[2020-06-06 17:49] Ellestad1995 commented on #2019
Hi @KesemSharabi

Maybe I misinterpreted the documentation?

I invited guest users to the PowerBI report. The PowerBI report is embedded in Sharepoint.
Per the documentation I would think that the guest users would NOT be able to see the PowerBI report. BUT the guest users do see the report in the Sharepoint site.

There is no error, just that guest users are able to see the report, even though th

[2020-06-06 22:19] AkhilMadivada opened #2269 "This is typo issue in the documentation"
As per the documentation explanation, the "AccountID **3** is associated with CustomerID 92" has to be changed to
"AccountID **2** is associated with CustomerID 92"
![image](https://user-images.githubusercontent.com/32743267/83955542-c36b1100-a808-11ea-9bb1-4787f822012f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-07 01:25] peter-myers commented on #2269
Hi @AkhilMadivada - thanks for reporting this bug. The article has been fixed and an updated article - with correct values - will be available soon.
#please-close

[2020-06-07 01:25] #2269 closed

[2020-06-07 07:39] KesemSharabi commented on #1908
Hi @w0ut0,

I added a note to [Using the CustomData feature](https://docs.microsoft.com/power-bi/developer/embedded/embedded-row-level-security#using-the-customdata-feature) stating that the CustomData username can only be 256 characters long.

Once again, thanks for your feedback.

Kesem

[2020-06-07 07:39] #1908 closed

[2020-06-07 07:44] KesemSharabi commented on #1999
Hi @luuksommers,

I added a note to [Using the CustomData feature](https://docs.microsoft.com/power-bi/developer/embedded/embedded-row-level-security#using-the-customdata-feature) stating that the CustomData username can only be 256 characters long.

Once again, thanks for your feedback.

@B14m3m3 - I'm not aware of a way to bypass this limitation. You're welcome to try the the [Power BI Community

[2020-06-07 07:44] #1999 closed

[2020-06-07 07:53] KesemSharabi commented on #2039
Hi @Assad-Baig,

I replaced GenerateTokenForCreateInGroup with [GenerateTokenInGroup](https://docs.microsoft.com/rest/api/power-bi/embedtoken/reports_generatetokeningroup) in [Implementing row-level security in embedded paginated reports](https://docs.microsoft.com/power-bi/developer/embedded/paginated-reports-row-level-security).

Once again, thanks for your feedback,

Kesem

[2020-06-07 07:53] #2039 closed

[2020-06-07 14:28] sgeier4 opened #2270 "Power BI Data Set Connection"
[Enter feedback here]
It would be nice if you could see what data set your Power BI file is currently connected to.  If you switch between workspaces because of Prod / Test, it would be extremely helpful to see this and I do not see a good way to accomplish this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-

[2020-06-08 02:25] Assad-Baig commented on #2039
Hi Kesem,
Thank you, Much appreciated!
Regards,Assad Baig

    On Sunday, June 7, 2020, 03:53:55 a.m. EDT, Kesem Sharabi <notifications@github.com> wrote:

Hi @Assad-Baig,

I replaced GenerateTokenForCreateInGroup with GenerateTokenInGroup in Implementing row-level security in embedded paginated reports.

Once again, thanks for your feedback,

Kesem

—
You are receiving this because you were menti

[2020-06-08 07:11] NickyvVr opened #2271 "Picture in share-to-teams-tenant-setting not visible"
The picture in the [Share to Teams tenant setting](https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-embed-report-microsoft-teams#share-to-teams-tenant-setting) is not visible, instead the URL is shown.
I tried editing the page, but this section doesn't seem to be available there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-08 09:36] Maggie18z opened #2272 "The required permission to manage scheduled refresh."
Need some clarification on the required permission / role to manage schedule refresh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f2a19e-3613-9ec0-8818-8f76d3c7eef9
* Version Independent ID: 0b8ebf11-af44-2556-db7c-766d5f844c98
* Content: [How to configure Power BI report scheduled refresh - Power BI](https://docs.

[2020-06-08 16:01] mchoure opened #2273 "Power BI Premium capacity there is no Montly Commitment"
[For Capacity Consideration table: https://docs.microsoft.com/en-us/power-bi/developer/embedded/embedded-capacity?source=docs#capacity-considerations
Power BI Premium capacity there is no Monthly Commitment as per our following comments from O365 Admin
"This is not just for power bi premium capacities. Microsoft list prices for all Office 365 products on per month cost but you can’t purchase any l

[2020-06-08 18:43] josef78 opened #2274 "PBIRS May 2020"
PBI Report Server May 2020 update have critical issue related to refresh data (not working in all cases, e.g. https://community.powerbi.com/t5/Report-Server/PBI-Server-May-2020-not-refreshing-saved-reports/m-p/1135485 ), please remove download links to this version until new version will be published. Thx

[2020-06-09 01:00] Ascyron opened #2276 "Page outdated - needs to be updated with new instructions and screenshots"
The section "Sort using the Sort by Column button" on this page is outdated and confusing - the options described aren't found in those menus any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91ac-4947-c2e5-a0508a554080
* Content: [Sort by c

[2020-06-09 06:19] Wobyn opened #2277 "Error message on get data"
When I connect to the URL provided I get an error message "Something went wrong. The string did not match the expected pattern".

Here is the frown snap shot.

Feedback Type:
Frown (Error)

Error Message:
The string did not match the expected pattern.

Stack Trace:
   at AngleSharp.Extensions.QueryExtensions.Validate(ISelector selector)
   at AngleSharp.Extensions.QueryExtensions.QuerySelectorAll(

[2020-06-09 17:29] alwweb opened #2279 "Steps to create phone (vertical layout) in PBI Service needed"
The title leads us to believe that for reports, we can adjust and optimize for phone (vertical) layout in the service, but the directions only specify how to do this in the desktop app.  Can reports be optimized post deployment to the service, or is it only dashboard that can be optimized post deployment.

If phone view can only be defined for Reports in Desktop, the intro paragraph should be more

[2020-06-09 18:05] maggiesMSFT commented on #2279
Great feedback, @alwweb ! Yes, you can create a mobile layout for reports and dashboards in the Power BI service. I'll make that clearer in the article. Thanks!

[2020-06-09 18:07] andrewpmk opened #2280 "50 page per hour limitation"
When is the 50 page per hour limitation going to be removed?

Our company is currently developing a web portal which uses the Power BI API to export Power BI reports to PDF/PowerPoint. We currently have 14 reports and we want to export each report daily (in both formats, so 28 files) so that it can be sent out by email, as well as cached so that when a user clicks the export button on the web port

[2020-06-09 20:11] maggiesMSFT commented on #2274
Hi, @josef78 -- Thanks for your comment! This is a known issue. A fix is in the works and should be out soon.

[2020-06-09 20:11] #2274 closed

[2020-06-09 20:29] mm8974 opened #2281 "Course recommended is no longer available."
The recommended course "Analyzing and Visualizing Data with Power BI" at the URL below is no longer available.
https://prod-edx-mktg-edit.edx.org/course/analyzing-visualizing-data-power-bi-4

Is there a replacement?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6e66c7-0640-3bbe-b2e7-c9db15ab6dfb
* Version Independent

[2020-06-09 21:39] CeciAc opened #2282 "Lack of consideration for the customer, claim to support above Office 2010 SP1 but do not support Office 2013"
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/37
The comments below were machine-translated

@henriquesantosneto commented on [Tue Jun 09 2020](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/37)

They say that the minimum requirement is Office 2010 SP1, which is a lie, because in office 2013 it doesn't work and Microsoft support isn't even calling t

[2020-06-10 12:07] mossywell opened #2283 "Potentially conflicting information"
Some potential conflicting information here:
"The data region is based on the country you select when you create the tenant." implies that the PowerBI location is based on the tenancy location. But you then have a screenshot of a _user_ setting and a sentence "Power BI picks a data region closest to your selection" (indicating the screenshot above referring to the user, not the tenancy). Of course

[2020-06-10 15:13] atinkerersnotebook opened #2285 "There is an error in the filter expression"
The documentation says that the syntax for the filter is:

**?filter**=Table/Field eq 'Value'

It should be:
**&$filter**=Table/Field eq 'Value'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Filter a report

[2020-06-10 15:25] mariewo opened #2286 "Data shared with ESRI - is only location data shared? or all data in the visual?"
Hello the section 'How do ArcGIS Maps for Power BI work together' says "You should assume any data bound to the data visualization can be sent to Esri’s services" which suggests to me anything in the visual including tooltip data and legend data etc, however the ESRI guidance on this (link below) suggests only location data is shared - can someone confirm which it is, as it's not clear to me?! Tha

[2020-06-10 18:27] CeciAc opened #2287 "This example is deprecated with newer versions of AcquireToken function"
@carfermar commented on [Wed Jun 10 2020](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/30)

[Escriba sus comentarios aquí]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543
* Content: [Obtener un

[2020-06-11 03:02] Maggie18z commented on #2272
Thanks for your email.
Yes we need clarification on the required permission/role to create/edit/execute scheduled refresh.

Best Regards,
Maggie Zhang

From: Kesem Sharabi <notifications@github.com>
Sent: Thursday, June 11, 2020 2:07 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Maggie Zhang <Maggie.Zhang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-06-11 16:12] pawarbi opened #2288 "Incorrect Formula"
Hi, (cc: @maggiesMSFT ) The formula at the bottom of[ this page](https://docs.microsoft.com/en-us/dax/rand-function-dax) for generating random numbers between two numbers (int1 & int2) is incorrect. Since int1 < int2, it will always generate numbers that are less than int1 and not between int1 & int2. It should be `RAND()*(int2-int1)+int1` and not `RAND()*(int1-int2)+int1`

[2020-06-11 18:56] maggiesMSFT commented on #2288
Hi, @pawarbi -- thanks for your comment! Assigning to the author to investigate.

[2020-06-11 18:58] maggiesMSFT commented on #2287
Hi, @CeciAc & @carfermar, thanks for your feedback! Assigning to the author to investigate.

[2020-06-11 19:32] DMiradakis opened #2289 "Power BI Data Gateway - Custom Connectors - Fully Qualified URLs"
Microsoft Docs Team,

I wanted to open up a ticket and request that you consider adding an additional bullet point to your [Considerations and Limitations section of the document](https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-custom-connectors#considerations-and-limitations):

After some troubleshooting I've done for the past few days, I realized that the reason my Standar

[2020-06-12 03:46] Minewiskan commented on #2288
@pawarbi - You are correct. Thanks for bringing this to our attention. The article has been updated.

[2020-06-12 03:46] #2288 closed

[2020-06-12 06:12] Alonbaram commented on #2280
We are still working on it
No ETA yet

From: Kesem Sharabi <notifications@github.com>
Sent: Wednesday, June 10, 2020 8:52 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Alon Baram <alonba@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] 50 page per hour limitation (#2280)

Thanks for your comment, @andrewpmk<https://nam06.safel

[2020-06-12 18:15] maggiesMSFT commented on #2289
Hi, @DMiradakis -- thanks for your comment! Assigning to the author for consideration.

[2020-06-13 08:13] sinisakomlen commented on #1910
The link you provided is for PowerBI Desktop. The question here is if PowerBI Service can refresh from PostgreSQL hosted on AWS, without the Data Gateway. I know it is possible for AWS Redshift.
If this is not possible for PostgreSQL then documentation should be corrected.

[2020-06-15 11:23] #2077 closed

[2020-06-15 11:27] #2103 closed

[2020-06-15 11:34] #2280 closed

[2020-06-15 12:05] kr10n1 opened #2291 "Old name used"
Seems like DataWarehouse is deprecated name and Synapse should be used. Currently it only causes confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf5c2cbb-f3de-c63e-fc74-a5157d5f5c9c
* Version Independent ID: dd280f16-bad8-5f60-f960-208047f6f9b2
* Content: [Azure SQL Data Warehouse with DirectQuery - Power BI](

[2020-06-15 13:27] Bmatix opened #2292 "RLS on app not working"
I tried a lot of times but the part where you do RLS and you say that by updating/sharing the app the external user can only see his data (accordingly to the RLS) is just not working with me. First I had with some dax code extracting the last part of our company emailadress which was then used to filter the data on company. But after trying so much went for the straight email link to company like

[2020-06-15 13:29] paulinbar commented on #2279
Hi @alwweb , I've taken your suggestion and made a few changes to the article that I hope make it more clear that the mobile layout view is available in both Power BI Desktop and the Power BI service. The changes will go online soon.
Thanks for your input!

[2020-06-15 13:29] #2279 closed

[2020-06-15 13:32] Bmatix commented on #1880
@TrutzS I have a question for you, did you shared the app outside your domain, like to external users?

[2020-06-15 16:06] DeleteThree opened #2293 "Slicer Date Format Broken"
Slicer Date format broken with latest version:
**https://photos.app.goo.gl/TUahjQMbqYKsnVxb9**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f177d47-9600-eab6-a282-09d40d5c2dff
* Version Independent ID: 792909b9-e2fa-8a31-1da9-2223307e799d
* Content: [Slicers in Power BI - Power BI](https://docs.microsoft.com/en-us/p

[2020-06-15 21:43] inthemedium commented on #458
This issue should be closed, right?

https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-sso-kerberos#add-gateway-service-account-to-windows-authorization-and-access-group-if-required

[2020-06-15 21:58] maggiesMSFT commented on #458
Hi, @inthemedium -- thanks for pointing that out! Closing it now.

[2020-06-15 21:58] #458 closed

[2020-06-15 22:10] Mike-Honey opened #2294 "Many-to-many relationships feature (still) not available in Report Server"
The features listed omit "Many-to-many relationships". Despite being released for the Power BI service in 2018, it seems that feature is still not supported in Report Server as of May 2020.

The workarounds entail hours of work and testing per model, so this should be clear before a product selection decision is made.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-15 22:36] davidiseminger commented on #2291
Thanks for your comment @kr10n1. We’ve assigned your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-15 22:37] davidiseminger commented on #2292
Thanks for your comment, @Bmatix - and sorry for the trouble you're encountering. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-06-15 22:37] #2292 closed

[2020-06-15 22:38] davidiseminger commented on #2293
Thanks for your comment, @DeleteThree. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-15 22:39] davidiseminger commented on #2294
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-15 23:55] josef78 opened #2295 "Critical bug PBIRS 15.0.1103.232"
Hi,
new version of May2020 PowerBI Report Server 15.0.1103.232 still contain critical bug. In this version is completely not working scheduled data refresh in scale-out deployment, see https://community.powerbi.com/t5/Report-Server/PBI-Server-May-2020-not-refreshing-saved-reports/m-p/1135485

Please remove PBIRS May 2020 form downloads and go back to January 2020

[2020-06-16 12:13] BreakingBI opened #2296 "Admin Privileges Requirement Could Be More Visible"
Good morning,

Thanks so much for all the work you put into the great Power BI Emedded Documentation.  I've had a couple of customers missed one of the steps, which could likely be resolved by making it more visible and adding a hyperlink to the relevant section.

https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers#create-a-workspace

This section mentions,

"In

[2020-06-16 15:32] mihart commented on #2295
Thanks for your comment, @josef78 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-06-16 15:32] #2295 closed

[2020-06-16 15:33] mihart commented on #2296
Thanks for your comment, @BreakingBI . This issue has been assigned to the doc author for review.
Hi Brad :-)

[2020-06-16 22:57] javirivas80 opened #2297 "Aduit log Unified"
I am looking to see if this activity *copy a visual* is audited, especially when the report has a sensitivity label applied. https://powerbi.microsoft.com/en-us/blog/announcing-copy-a-visual-as-an-image/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e

[2020-06-17 06:06] josef78 commented on #2295
@mihart Thanks, but, community cannot solve bug in Microsoft product, and support.powerbi.com is only for cloud Power BI service, not for Power BI Report Server, it is different product.

[2020-06-17 06:40] HarryLeboeuf opened #2298 "No documentation on enumerator of VisualStyles Table/Matrix"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use report themes in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes)
* Content

[2020-06-17 14:00] Mholsen opened #2299 "Query Timeout minimum limit"
Is there a minimum limit for the Query Timeout workload setting?
I have tried to set it for 120 seconds, but a dataset refresh with only one table taking well over 7 minutes to complete runs without any Query Timeout error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74987f4b-691c-9816-f600-e0cbbb2d78a7
* Version In

[2020-06-17 14:08] BREN1234 opened #2300 "In Selection section 'Create selections for categorical data view mapping' in the Note part"
i think spelling for grouped is misspelled 'groped'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75effaec-3c6e-83c9-c26e-8e58046cb347
* Version Independent ID: 971d9758-f10b-cddb-f6fa-c007e193e457
* Content: [Power BI visual data point selections - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/visual

[2020-06-17 16:12] bradj813 opened #2301 "What does this specifically mean?"
"You can review and edit some parameter settings in the Power BI service -- not parameters that restrict the available data, but parameters that define and describe acceptable values."

What exactly can and can't we use parameters with? Can you give an example?

[2020-06-17 19:53] pawarbi opened #2302 "Additional keyboard shortcuts"
Hi,

I just [wrote a blog](https://pawarbi.github.io/blog/powerbi/2020/06/17/powerbi-keyboard-shortcuts.html) post on some of the keyboard shortcuts in powerbi that I use frequently and discovered that there is already a documentation page and it doesn't include these shortcuts. Not sure of the page has been updated in a while or not but you may want to update it or incorporate some of my shortcut

[2020-06-17 21:31] logic-based opened #2303 "Original Data"
Please consider showing the original data being used for the visualization, and however it needs to be prepared before uploading into PowerBI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f919f51d-8623-b039-a1fc-0df774225c46
* Version Independent ID: 0376c331-0f7e-ec9b-6262-f47a6c413d47
* Content: [Decomposition tree

[2020-06-18 13:28] nstraw opened #2304 "Workspace limit error"
Hi, this article indicates a 100 GB limit per Workspace for Pro licence, isn't it 10 GB ? Also what about the space used by dataflows, does it count for the 10 GB limit ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5-ffd4-a32a-541bab72ffa7
*

[2020-06-18 16:55] pawarbi opened #2305 "Forecasting Algorithm"
Can you please provide more information about the forecasting algorithms used for creating the forecasts? Or provide link if that information is available elsewhere in Power BI documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbf6763-4952-5335-cefb-ae4e85fd9028
* Version Independent ID: cb734eb1-fb6d-b7aa

[2020-06-18 19:36] sasidhar8785 opened #2306 "Client.Reports from where we are getting. No information on that line."
Client.Reports.Methods are no where in the current nuget packages. Please update your code accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53195679-7a58-c111-3814-fccf4cc38854
* Version Independent ID: ee9e8e36-45e1-8029-4f9a-b1d41ef4a3f1
* Content: [Export Power BI reports API - Power BI](https://docs.micr

[2020-06-19 06:39] ScottStauffer opened #2307 "You are recommending people install 3.5.3, yet this is NOT supported in the service. It should be mentioned that 3.4.4 is the highest supported version in the PBI Service"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 000c7cf3-dbf4-92c6-3eb6-837329704cfa
* Version Independent ID: 81aa68ff-30b2-84e1-0f15-020890569527
* Content: [Create Power BI visuals using R - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-r-visuals)
* Content Source: [

[2020-06-19 09:03] sinisakomlen commented on #1910
@hablaras Would you like to open a new ticket for this? Or you have the option to make it Open again. I do not understand why this ticket is closed as the answer is not given.

[2020-06-19 10:10] BrainYinM opened #2308 "Update the doc"
Hi Team,

I am the internal guy from support team. Could contact me by leyin@microsoft.com
Current lots of user think power BI premium could improve the performance when refreshing or report loading. Actually, Power BI Premium could not even some time could cause bad performance.

Now even sales may tell customer premium could improve the performance.
So could we modify the doc, and share more pro

[2020-06-19 16:38] kfollis commented on #1910
Hello @sinisakomlen and @hablaras - I have spoken with our engineering team to get clarification on whether this article needs to be updated based on your feedback. They have not recommended changes and say that there's nothing stopping cloud to cloud refresh of Postgres in AWS, but there also aren't any particular AWS specific capabilities. You may want to post a new question in https://community

[2020-06-19 20:54] kfollis commented on #2297
Thanks for the question, @javirivas80. I'll look into this and provide an update within the next few days.

[2020-06-19 20:56] kfollis commented on #2298
Thanks for the comment, @HarryLeboeuf. I'm assigning this issue to the author to look into your feedback.

[2020-06-19 20:58] kfollis commented on #2299
Thanks for the question, @Mholsen. I'm assigning this to the author to research.

[2020-06-19 21:00] kfollis commented on #2300
Oh my. Thank you, @BREN1234! I've made the fix and the change will be live soon.

[2020-06-19 21:00] #2300 closed

[2020-06-19 21:04] kfollis commented on #2301
Hi @bradj813, is this the article you're referencing: https://docs.microsoft.com/en-us/power-bi/connect-data/service-parameters? I'm assigning this issue to the author to consider updating to provide clarification. Thanks for the feedback!

[2020-06-19 21:06] kfollis commented on #2302
Thanks, @pawarbi! I'm assigning this to the author to review and compare and made updates for any default shortcuts that may be missing.

[2020-06-19 21:11] kfollis commented on #2303
Thanks for the suggestion, @logic-based. I'm assigning this issue to the author to consider your request. If you haven't already, you might want to take a look at some of our learning modules, like this one: https://docs.microsoft.com/learn/paths/create-use-analytics-reports-power-bi/

[2020-06-19 21:20] kfollis commented on #2305
Thanks for the question, @pawarbi. I'm assigning to the author to see if we have more information available.

[2020-06-19 21:22] kfollis commented on #2307
Thanks for the feedback, @ScottStauffer. I'm assigning this issue to the author to verify and make an update.

[2020-06-19 21:25] kfollis commented on #2308
Thanks, @BrainYinM! I'm assigning to the author to review your feedback and provide clarification in the docs.

[2020-06-19 21:27] kfollis commented on #2304
Thanks for the question, @nstraw. I'm assigning to the author to follow-up and clarify the information as needed.

[2020-06-19 21:27] ScottStauffer commented on #2307
As shown below in red…
This is kinda critical that you either convince the team to move to a version that is not over 2 years old, or make the locations that reference the correct version consistent.
There are seems to be many issues when you put a higher version in initially…

[cid:image001.png@01D64645.B55877D0]

From: Kate Follis <notifications@github.com>
Sent: June 19, 2020 2:22 PM
To: Micros

[2020-06-19 21:28] kfollis commented on #2306
Thanks for the feedback, @sasidhar8785. I'm assigning to the writer to investigate and make any needed updates.

[2020-06-19 21:41] bradj813 commented on #2301
Hi Kate,

Yes. I wasn’t sure how to do that.

Thanks,
Brad

Sent from my iPhone

[2020-06-20 15:33] unt1tled opened #2309 "Unsupported Items need clarification: Enhanced Dataset Metadata"
There's a [bullet point](https://docs.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-process#unsupported-items) which mentions "**Datasets that do not originate from a .pbix**". However, users that enable the Enhanced Dataset Metadata preview feature on their dataset will discover that the new format is among the list of **UnsupportedDatasetTypes**. There are no specific mentions

[2020-06-21 14:18] sinisakomlen commented on #1910
Hi @kfollis.
I understand it is convenient to keep it as it is but I am as well challenging if Microsoft's statement is correct.
To make it short, you are correct that nothing is stopping cloud-to-cloud refresh, but in case of PostgreSQL data gateway seems mandatory and this is not in line with Microsoft documentation.

As @hablaras named this ticket: PostgreSQL requires Gateway, the documentation

[2020-06-21 22:55] paulinbar commented on #2309
Hi @unt1tled, thanks for your observation. I am forwarding it along to the doc author for consideration.

[2020-06-22 08:50] Itamar- opened #2310 "The option to copy a visual into an image does not exist in PowerBI Desktop"
In contrast to what one might understand from the header, the option to copy a visual into an image does not exist in PowerBI Desktop.
Please add this essential (and quite trivial) option!!!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00479245-9654-ad47-b2d5-12f1e36ccdc9
* Version Independent

[2020-06-22 15:52] slopezv2 opened #2311 "SharePoint Version"
[Enter feedback here]
Hi, Which SharePoint On-Premises versions work with this? Can I try this with SharePoint 2010?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f0c4f04-7975-0f89-d5db-7b3e3a5b42f6
* Version Independent ID: b2c4c36e-c00e-ba79-8dc6-df56c696be2c
* Content: [Embed a Power BI Report Server report using

[2020-06-22 16:45] lakeyeric22 opened #2312 "Issue with RI Usage Details - TotalReservedQuantity is always zero"
Starting about a month ago, the TotalReservedQuantity field in my RI Usage Details table from "Azure Cost Management" connector in Power BI, started returning all zeros instead of values like 1, 2, 3, 4, etc.  I've submitted a trouble ticket but it's been a month and I'm still not to the right team yet.  Has this field been deprecated?  Is anyone else experiencing this issue?

---
#### Document De

[2020-06-22 22:36] davidiseminger commented on #2310
Thanks for your feedback. We need to add a note to that page that states "In Power BI Desktop, you can only copy and paste and entire interactive visual, not an image of the current state of a visual."

We need to add that early in the section titled "Copy a visual as an image to your clipboard"

Sorry for the oversight in that doc. We've assigned this issue to the owner of that article, who shoul

[2020-06-22 22:38] davidiseminger commented on #2311
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-06-22 22:40] davidiseminger commented on #2312
Sorry to hear about the trouble you're having - this feedback is only for the documentation, rather than for support issues, and if the behavior has changed overall and this document isn't current, we certainly will be happy to update the documentation. Meanwhile, while waiting for your support ticket to be resolved (sorry that's taking so long), you might find a solution in the Power BI Community

[2020-06-22 22:41] davidiseminger commented on #2312
Adding tags to follow up.

[2020-06-23 06:52] Itamar- commented on #2310
It is a real pity that the option does not exist. I added a request for this important option.
What does "copy and paste and entire interactive visual" mean exactly, Can you copy and paste into Powerpoint or just within Power BI?
Thanks

[2020-06-23 11:48] miragliag opened #2313 "Premium equals embedded?"
I have embedded A2 Capacity. Does Directquery should work for Dataflow? Or is this feature only for P1, P2 etc.?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4696f74d-bce4-3808-008a-4375afdb71c5
* Version Independent ID: 339f52a6-9d08-4634-76f4-5195c3b475ec
* Content: [Use DirectQuery with data

[2020-06-23 12:35] w0ut0 commented on #2176
@davidiseminger @maggiesMSFT any feedback?

[2020-06-23 21:10] mihart commented on #2313
Thanks for your comment, @miragliag . This issue has been assigned to the doc author for review.

[2020-06-23 21:19] mihart commented on #2310
Hi @Itamar-
"Copy and past an entire interactive visual" refers to Copy and paste described in the first half of the article.  Select a report visual, CTRL-c, go to another page in the report, CTRL-v.  When you paste the visual, it retains it's interactivity -- you can filter, personalize, drill, etc...

For the copy and paste as an image, yes, you can paste it into PowerPoint and any other applic

[2020-06-23 21:19] #2310 closed

[2020-06-24 06:10] haider392 opened #2315 "Prerequisite about IBM DB2 is not correct"
As advised by Power BI Product Group, the pre requisite as per this doc for IBM DB2 data source is not correct and up to date. Please consult with Product Group and change the doc. We had an IcM for this and you can see the comment from an engineer in PG in the attached screenshot.

![image](https://user-images.githubusercontent.com/30608419/85507104-623c8f00-b5b7-11ea-92b4-f5c1406e9de8.png)

---

[2020-06-24 06:53] nojetlag opened #2316 "Change Log without timeline ?"
Hi it would be great to have the time lime for the API changes as well, currently I have no idea when which version of the API became productive.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91bb7ef2-b412-1d90-f0c5-b6231b3467e4
* Version Independent ID: d7ee6797-0554-ef39-64af-a9201333a95e
* Content: [Power BI visuals

[2020-06-24 06:55] nojetlag opened #2317 "Custom Visual API Version supported ?"
I remember there was a discussion to add the information what version of the custom visual api is supported in a PBIRS release, would it be possible to add this information in the changelog as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c2df3-28df-34d8-bd4e-4209996f7f8d
* Version Independent ID: e5dc42c8-b

[2020-06-24 08:03] nojetlag opened #2319 "No new Desktop build for June Update ?"
Version: 1.8.7468.41510 doesn’t require a new desktop client build ? Does it also address the problem where custom visuals always request users to sign in to power bi service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c2df3-28df-34d8-bd4e-4209996f7f8d
* Version Independent ID: e5dc42c8-b17a-4e0e-09c5-76124b0ad

[2020-06-24 10:56] KesemSharabi commented on #2204
Thanks for your comment, @bradj813.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-06-24 10:56] #2204 closed

[2020-06-24 11:01] KesemSharabi commented on #2224
Hi @thereverand,

Can you please let me know where in the documentation this string appears?

Thanks,

Kesem

[2020-06-24 11:06] KesemSharabi commented on #2256
Hi @bradj813,

The information in the [Implementing row-level security in embedded paginated reports](https://docs.microsoft.com/power-bi/developer/embedded/paginated-reports-row-level-security) article should be up-to-date. Did you see SASS mentioned in this article?

Thanks,

Kesem

[2020-06-24 11:10] KesemSharabi commented on #2019
Hi @Ellestad1995,

It appears that you stumbled on a bug. This is not supposed to happen. I'll investigate further with our development team.

Thanks,

Kesem

[2020-06-24 11:10] #2019 closed

[2020-06-24 11:14] KesemSharabi commented on #2153
Hi @uve,

Can you please assist with @danieleperilli questions?

Thanks,

Kesem

[2020-06-24 11:36] KesemSharabi commented on #2213
Hi @Ponchothewise,

I understand your frustration at not finding the admin APIs limitation. However, it is common practice to have the limitation section at the end of technical articles. This is because you don't want articles to start with a list of limitations.

You can quickly navigate to any section of our articles, including limitations, by clicking the section links which are positioned at

[2020-06-24 11:36] #2213 closed

[2020-06-24 11:47] bradj813 commented on #2256
No SASS mentioned, I’m sure you saw the same? If not mentioned, how do I know if it would work with SASS?

Thanks

Sent from my iPhone

[2020-06-24 12:06] KesemSharabi commented on #2319
Thanks for your comment, @nojetlag.

I've assigned this issue to the doc author for review.

[2020-06-24 12:08] KesemSharabi commented on #2317
Thanks for your comment, @nojetlag.

I've assigned this issue to the doc author for review.

[2020-06-24 12:10] KesemSharabi commented on #2316
Hi @uve,

Can we add this to the article?

Thanks,

Kesem

[2020-06-24 12:13] KesemSharabi commented on #2315
Thanks for your comment, @haider392.

I've assigned this issue to the doc author for review.

[2020-06-24 12:29] KesemSharabi commented on #2309
Hi @NimrodShalit - do you know anything about the new Enhanced Dataset Metadata preview feature, and its new format?

[2020-06-24 12:31] NimrodShalit commented on #2309
Yes, it’s the new XMLA end point support.
What’s the question?

From: Kesem Sharabi <notifications@github.com>
Sent: Wednesday, June 24, 2020 3:30 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Nimrod Shalit <Nimrod.Shalit@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Unsupported Items need clarification: Enhanced Dataset Me

[2020-06-24 12:35] KesemSharabi commented on #2309
Hi @NimrodShalit, @unt1tled is asking if deployment pipelines will support this format?

[2020-06-24 12:38] NimrodShalit commented on #2309
Yes, we will.

From: Kesem Sharabi <notifications@github.com>
Sent: Wednesday, June 24, 2020 3:36 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Nimrod Shalit <Nimrod.Shalit@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Unsupported Items need clarification: Enhanced Dataset Metadata (#2309)

Hi @NimrodShalit<https://nam06.sa

[2020-06-24 12:46] KesemSharabi commented on #2309
@NimrodShalit, do we have a rough estimation when?

[2020-06-24 13:13] NimrodShalit commented on #2309
Few weeks.

From: Kesem Sharabi <notifications@github.com>
Sent: Wednesday, June 24, 2020 3:46 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Nimrod Shalit <Nimrod.Shalit@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Unsupported Items need clarification: Enhanced Dataset Metadata (#2309)

@NimrodShalit<https://nam06.safelink

[2020-06-24 13:14] kylemcguinn opened #2322 "Exporting Power BI Report with Custom Filters"
We are currently using Power BI Embedded to host a report with custom filters that are set from outside the report and passed in programmatically via the javascript API. I have been able to successfully call the Export API for this report and generate a PDF; however, I have not been able to have the report maintain its filter state and it always seems to run as if no filters were selected. I have

[2020-06-24 13:16] KesemSharabi commented on #2309
Hi @unt1tled,

I trust you got an answer to your question. In a few weeks time, once the new format is supported, I'll add it to the documentation.

Thanks,

Kesem

[2020-06-24 13:16] #2309 closed

[2020-06-24 14:11] raymond-dillon commented on #2287
The depreciated example is an issue for me as well - just adding my +1

[2020-06-24 14:58] paulinbar commented on #2322
Hi Kyle, thanks for reaching out to us with your question. I have forwarded it on to the doc author for consideration.
@kylemcguinn

[2020-06-24 19:21] haider392 opened #2323 "Licensing requirement for GCC environment"
Since GCC environment doesn't have free licenses, please update licensing requirement for premium workspace access in GCC.

How do users who don't have a Power BI Pro license in GCC access a premium workspace?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 0

[2020-06-24 20:02] haider392 opened #2324 "Clarification on viewer role needed for Power BI Government environment"
Under "Feature that work differently", it is mentioned as follows

"Users without a Pro license can access a new workspace if the workspace is in a Power BI Premium capacity, but only if they have the Viewer role."

In commercial tenants, the above is valid as a free license  (non pro license) exists.

However, there is no free license in government Power BI tenants and we receive many questions f

[2020-06-24 21:04] sergeigms opened #2325 "Need to capture case for DQ"
Query text and query result Direct Query traffic per input from Orion Lee also remains in the remote region.  Only LiveConnect traffic will continue to transit through the home region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae590-933f-bf65-888e-03dbf0ddc252
* Version Independent ID: ae8f54bb-5fdb-a071-528d-1

[2020-06-25 07:53] zungam opened #2326 "Our IP being blocked by api.powerbi.com??"
Hi,

trying to connect to
`
new Microsoft.PowerBI.Api.V2.PowerBIClient("https://api.powerbi.com/", tokenCredentials)
`
but gets immediately blocked out by
`
System.Net.Sockets.SocketException: An existing connection was forcibly closed by the remote host
`
All credentials should check out fine. The app works when running on my work-computer, but when pushing our ASP.net app to the Azure server it

[2020-06-25 08:17] KesemSharabi commented on #1706
Hi @CeciAc,

This issue was fixed by updating the code snippets in [Get an authentication access token](https://docs.microsoft.com/power-bi/developer/automation/walkthrough-push-data-get-token#get-an-authentication-access-token).

Thanks,

Kesem

[2020-06-25 08:17] #1706 closed

[2020-06-25 17:11] kfollis commented on #2326
Hi @zungam - I'm sorry you're having issues. This looks like something you should connect with support on. You can start a ticket at https://support.powerbi.com. If they discover that changes to the article are needed, they'll let me know.

[2020-06-25 17:11] #2326 closed

[2020-06-25 17:52] javirivas80 opened #2328 "Grant the permissions"
Can you review this step ?,https://docs.microsoft.com/en-us/power-bi/developer/embedded/register-app#apply-permissions-to-your-application-within-azure-ad  the procedure is outdated with the new app registration experience. It is not possible to add permissions to the Master Account. Without the account having at least the Application Administator role

![image](https://user-images.githubuserconte

[2020-06-25 19:25] haider392 opened #2329 "Power BI URLs for Government"
We receive many questions from our government customers about whitelisting URLs for GCC tenants. Can you provide info for government tenants in the doc.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 297c1372-b1bb-57c4-9c31-840b4cad2c37
* Version Independent ID: 0bb282a3-4aa6-1094-d8a4-652ec726734f
* Content: [Power BI

[2020-06-25 20:01] kfollis commented on #2329
Thanks for the comment, @haider392. There is a separate article for US Gov here: https://docs.microsoft.com/en-us/power-bi/admin/service-govus-overview#connect-government-and-global-azure-cloud-services that refers users to a downloadable file with IP ranges and service tags. Does that provide the information that you need?

[2020-06-26 07:31] PaulKna opened #2330 "Dataflow Workload - "Compute engine memory (%) (Preview)" setting"
Can we have some explanation of what the "Compute engine memory (%) (Preview)" memory setting under the dataflows workload does (it was recently added to the Dataflow Workload options but is not covered on this page) e.g. what are the pros and cons of increasing it from the default 30%?

This would be useful to me because I am intermittently getting an error "Error: Data Source Error : Microsoft S

[2020-06-26 10:25] thereverand commented on #2224
powerbi-docs/powerbi-docs/admin/service-encryption-byok.md

Under Configure Azure Key Vault > Add Service Principal

[2020-06-26 11:14] nzregs opened #2332 "Snowflake Power BI Link Changed"
The link to the Snowflake Power BI SSO docs has changed.  Can you please update this page with the new link?

`"If you are the Snowflake admin, please read the **Power BI SSO to Snowflake - Getting Started** article in the Snowflake documentation" `
link should be: https://docs.snowflake.com/en/user-guide/oauth-powerbi.html

`"If you run into any issues with the integration, please refer to the Sn

[2020-06-26 14:00] ssisjoost opened #2333 "Token is never assigned in this example"
The Token is never assigned within the method in this example...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543
* Content: [Get an authentication access token - Power BI](https://docs.microsoft.com/en-us/power-bi/develop

[2020-06-26 15:52] kcnighsurf opened #2334 "Data Source Remove Button doesn't exist"
[Following instructions to 'Remove' data source but no Remove or delete button exists
Please update instructions.
![image](https://user-images.githubusercontent.com/53189318/85876239-a89a1580-b792-11ea-9a21-747d43a7cbe7.png)

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e0c038-1195-d758-ccf4-903b689139ca
* Versio

[2020-06-26 16:44] ashoksubedi1 opened #2335 "Microsoft Graph Attaching Power BI Tab is now disabled"
[My code used to hang a  Power BI tab in every Team but now after this update now I can not do that. I am have to manually go and set up power tab on each and every teams]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd9c7dbe-8b03-52a9-b299-936856c89ba8
* Version Independent ID: f4496816-b872-4541-4ad9-f3b323b8917f
*

[2020-06-26 17:06] kfollis commented on #2324
Thanks, @haider392  for the suggestion. Assigning to the author for follow-up.

[2020-06-26 17:17] kfollis commented on #2325
Thanks, @sergeigms. Assigning to the author to make the clarification.

[2020-06-26 17:18] kfollis commented on #2328
Thanks for the input, @javirivas80. I'm assigning this issue to the author so that they can review the step you've flagged.

[2020-06-26 17:20] kfollis commented on #2330
Thanks for the feedback, @PaulKna. I'm assigning this issue to the writer to look into providing the additional detail requested.

[2020-06-26 17:28] kfollis commented on #2332
Thanks, @nzregs! I can make these changes, but have a question. Is there a localized version of the snowflake URL or is it English only? In the second link update, the URL you provide just loops back to itself. Is this the correct link instead? https://docs.snowflake.com/en/user-guide/tasks-ts.html

[2020-06-26 17:31] kfollis commented on #2333
Thanks for the feedback, @ssisjoost. I'm assigning this to the author to take a look at the method.

[2020-06-26 17:37] kfollis commented on #2335
Thanks for the feedback, @ashoksubedi1. I'm assigning the issue to the author.

[2020-06-26 18:43] javirivas80 commented on #2334
Hello, try to move the mouse to the end until you see the three points ...

![image](https://user-images.githubusercontent.com/44674421/85890419-aef4b580-b7c3-11ea-964e-575937f1aae9.png)

![image](https://user-images.githubusercontent.com/44674421/85890174-3d1c6c00-b7c3-11ea-9813-8b1cf6546e12.png)

[2020-06-26 19:06] kcnighsurf commented on #2334
Oh wow - someone should fix that GUI bug.
Highlighting the menu option doesn't reveal that ... menu
![image](https://user-images.githubusercontent.com/53189318/85892098-8c57a200-b7ad-11ea-952c-328f9edffb7a.png)
It should also be an option in the edit screen.
You literally have to move your mouse to that end blank area in the menu item for that ... menu option to appear.
![image](https://user-image

[2020-06-26 19:23] kfollis commented on #2334
Thanks for the feedback, @kcnighsurf and the help in answering, @javirivas80. I'm glad you found the option. I will close this documentation issue, but will share the feedback with the design and engineering teams.

[2020-06-26 19:23] #2334 closed

[2020-06-26 19:38] kfollis commented on #2332
I made the URL correction, and targeted the troubleshooting link here: https://docs.snowflake.com/en/user-guide/oauth-powerbi.html#troubleshooting. The updates will be live this afternoon.
I'll close the issue now. Thanks!

[2020-06-26 19:38] #2332 closed

[2020-06-26 22:55] dpcollins-bi commented on #2146
The code in this article is still littered with typos and/or outdated code.

Example 1: EmbedService.cs
Problem: Case inconsistency (text in blue boxes and red boxes should match).
![2020-06-26_15-52-20](https://user-images.githubusercontent.com/67487719/85907103-3bec3e80-b7c5-11ea-8fa6-5d2a7c9830db.png)

Example 2: Redirect.aspx.cs

Problem:
AuthenticationResult AR = AC.AcquireTokenByAuthorizatio

[2020-06-28 04:54] wynhopkins opened #2336 "Additional screenshot would be helpful to flag how to search non-promoted / certified tables"
Hi

Re:
"The Data Types experience in Excel is similar to a lookup function. It takes a cell value provided by the Excel sheet, and searches for matching rows in Power BI featured tables. The search experience has the following behaviors:

When using the **Organizational Data** button to search, Excel only searches featured tables in Certified datasets. "

It took me a few attempts and some trial

[2020-06-28 15:14] paulinbar commented on #2336
Hi @wynhopkins! Thanks for your feedback and suggestions. I am forwarding them on to the doc author for consideration.

[2020-06-28 15:35] paulinbar commented on #1904
Hi @Susanthab. Yes, you are right. Good call. Sorry for the delay. Making the change.

[2020-06-28 16:38] #1904 closed

[2020-06-29 04:40] DanielSKim opened #2337 ""Export report to image is disabled on tenant level" with PNG format"
When call the ExportTo end point, I'm getting the following response message with `PNG` as the `format`:

`Export report to image is disabled on tenant level`

The requests are successful when specifying `PDF` or `PPTX`. This is for a report in a workspace using Azure Power BI Embedded SKU A1 capacity.

I don't see a setting for this when looking at the Tenant or Capacity settings in the Admin por

[2020-06-29 11:05] paulinbar commented on #2337
Hi @DanielSKim , thanks for reaching out to us with your question. I am forwarding it along to the doc author for consideration.
@KesemSharabi , do you know specifically which tenant setting controls export to PNG, which seems to be disabled by default? Is it the Export data setting?

[2020-06-29 13:43] paulinbar commented on #2220
Hi @DaveBurnisonMS - Sharp eyes! Correction going live in a few hours. Thanks!

[2020-06-29 13:43] #2220 closed

[2020-06-29 14:02] paulinbar commented on #2045
Hi @chicagoclone, sorry it's taken so long to get back to you. Anyway, I am not sure what was true at the time you wrote, but I see that the Office365Mon.Com Power BI Report Pack offering on AppSource at least now states that it is free. I think that the offering is the right place for that information, since it could change and then the documentation would have to be updated. What is true, howeve

[2020-06-29 14:02] #2045 closed

[2020-06-29 16:39] jnesfield opened #2338 "Sort By Column not present in current power bi desktop app"
[Enter feedback here]
Your documentation in several places references the option in the ribbon under the modeling tab to a sort by column button that is not present in the current power bi application.
![image](https://user-images.githubusercontent.com/23704688/86032441-37ee3580-b9ec-11ea-942c-110b81fad915.png)

from: https://docs.microsoft.com/en-us/learn/modules/model-data-power-bi/4-optimize-da

[2020-06-29 18:39] bob-pctest opened #2339 "what is the source/owner of this product? microsoft?"
[Enter feedback here]
For those of us working for companies with a Cloud Access Security Broker (CASB), it is very important to understand the owner (source) of software.  Who wrote it?  What URLs does it access?

Our CASB does not block the download, but blocks the USE of this product.  We need a lot more information about it.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-29 19:02] haider392 commented on #2329
Thanks @kfollis - I am aware of the Azure IP ranges. But since the IP list is dynamic (changes on a weekly basis), customers would need to update those frequently in their firewalls. Whitelisting URLs on the other hand is more permanent solution.

[2020-06-29 20:47] itsnotaboutthecell opened #2340 "Disconnect unused account"
[Enter feedback here]

The Power BI service now supports the functionality to "Disconnect unused account" for Azure Data Lake Storage accounts
within the Dataflow settings in the Admin portal.

Currently within the Considerations and limitations - it states "it cannot be changed."

Considerations and limitations
Once a dataflow storage location is configured, it cannot be changed.

---
#### Docume

[2020-06-29 21:38] paulinbar commented on #2340
Hi Alex, thanks for your comment. I am forwarding it along to the doc author for further consideration.
@itsnotaboutthecell

[2020-06-30 00:08] aivyle opened #2341 "Not able to refresh Power BI report when having stored procedures with dynamic parameters"
Hello,

I have a report using dynamic parameters and it has been working fine.  Last week, on Thursday, the dataset failed to refresh and I saw the message gateway connection 'not configured correctly'.  After looking into this, it seems to me that the gateway is configured correctly and able to map to the data source if the parameter for the stored procedure is hard-coded but not working when the

[2020-06-30 13:41] PowerBI-User999 opened #2342 "Dataflow incremental refresh and datasets"
[Enter feedback here]
Hello,

Could you please clarify and confirm that the following scenario is working in Power BI Service:

1.	Incremental Refresh of a **specific Dataflow**
2.	Incremental Refresh of Datasets depending on **this specific Dataflow**

is technically possible and supported by Microsoft Power BI (Service) .

Reason for question: If you have to ingest large amounts of data from a D

[2020-06-30 14:41] obungimartin opened #2343 "Assigning Pro licenses to guest users - compliance with license agreement"
In the licensing area this sentence is causing my cusomter lots of trouble. They want to make Power BI reports available to customers but are afraid of violating the license agreement. I'm not aware of any Microsoft representative who can explain what the possible compliance issues could be. Can you please add more details? What license programs are in trouble? What is the specific rule this sente

[2020-06-30 14:50] mihart commented on #2343
Thanks for your comment, @obungimartin . This issue has been assigned to the doc author for review.

[2020-06-30 14:52] mihart commented on #2342
Thanks for your comment, @PowerBI-User999 . This issue has been assigned to the doc author for review.

[2020-06-30 14:53] mihart commented on #2341
Thanks for your comment, @aivyle . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-06-30 14:53] #2341 closed

[2020-06-30 14:56] donodata opened #2344 "Python / R scripting for Server?"
[There is not information about the Python Visuals or R/Python use for data manipulation on the query use on Server Vs. Cloud. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content: [Comparing Power BI Report Server

[2020-06-30 18:43] elfohl opened #2346 "1 P2 (16 Cores) is the same as 2 P1 (16 Cores)"
The purple disclaimer included in the document is misleading.  Premium can be purchased in 8 Core increments and cores can be added to existing capacities as needed.  1 P2 (16 Cores) is the same as 2 P1 (16 Cores).

Often organizations start with an initial 1 P1 (8 core) capacity and over time may require additional capacity.  They can purchase an additional 1 P1 (8 Core) and combine it with an ex

[2020-06-30 22:32] pawarbi opened #2348 "Minimum TLS Version"
Hi, I recently ran into issues with connecting dataflow with ADLSg2 storage account. Note that Power BI support engineer resolved the issue by selecting Minimum TLS Version = 1.2 in Azure storage configuration. She mentioned that this is a requirement and support for version <1.2 has been deprecated. Please update the requirements and the steps with the correct information.

---
#### Document Deta

[2020-06-30 23:55] stokeamb opened #2349 "Remove TOPN Function"
In the "Create the dataset with the query" section, please add instructions to remove the TOPN function from the copied DAX query before using it in the query designer. It seems this is essential to avoid limiting the data returned, but it isn't mentioned in the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0

[2020-07-01 03:19] mihart commented on #2344
Thanks for your comment, @donodata . This issue has been assigned to the doc author for review.

[2020-07-01 03:20] mihart commented on #2346
Thanks for your comment, @elfohl . This issue has been assigned to the doc author for review.

[2020-07-01 03:22] mihart commented on #2348
Thanks for your comment, @pawarbi . This issue has been assigned to the doc author for review.

[2020-07-01 03:23] mihart commented on #2349
Thanks for your comment, @stokeamb . This issue has been assigned to the doc author for review.

[2020-07-01 13:50] KesemSharabi commented on #2339
Thanks for your comment, @bob-pctest.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-07-01 13:51] KesemSharabi commented on #2338
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2020-07-01 18:45] cloudstake commented on #995
Yes, would like an update too, thanks.

[2020-07-01 22:33] olyamusok opened #2350 "More Clarification on the Dataflows Limitations"
Could you provide clarification on the statement that Dataflows feature is not supported for Multi-Geo:

1. Is it that dataflows are disabled?
2. Is it that dataflows are supported, but data storage and metadata all reside in the Home Tenant location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae590-933f-bf65-88

[2020-07-02 01:50] SMay2020 opened #2351 "Downloading pbix file for desktop"
When I click on the link to download the HR sample pbix, I get a WinZip.  The WinZip doesn't appear to contain a pbix file - so there is nothing to open from Power BI desktop.  Selecting "open" rather than save the WinZip doesn't open it in Power BI either. What am I doing wrong here?

[2020-07-02 07:32] emielvangoor opened #2352 "Complex dataTypes"
Hello..

Is it also possible to push an complex datatype? (e.g. array of strings or objects)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edecc138-c6b3-86d8-9688-344772f94284
* Version Independent ID: 97e3d536-c49a-1b4d-e008-899e347f94a5
* Content: [Power BI dataset properties - Power BI](https://docs.microsoft.com/e

[2020-07-02 21:49] kfollis commented on #2343
Hi @obungimartin - I found some resources, and it may be more helpful to link to those instead of advising customer to contact an account rep. There is a site here https://www.microsoft.com/en-us/licensing/product-licensing/products with a lot of licensing resources. In this download, http://download.microsoft.com/download/A/5/9/A599711B-6807-4757-B38D-1EE269F2F19B/FAQs-Product-Licensing.pdf, I fo

[2020-07-02 21:57] kfollis commented on #2350
Thanks for the question, @olyamusok. I'm assigning this issue to the author to look into providing that clarification.

[2020-07-02 22:06] kfollis commented on #2351
Hi @SMay2020 - Is this the article that has the link: https://docs.microsoft.com/en-us/power-bi/create-reports/sample-human-resources#get-the-sample? I didn't repro your experience with the link in this article - the .pbix wasn't zipped for me. If the link you were using is in a different article, can you send the URL so I can check it out? Thanks!

[2020-07-02 22:07] kfollis commented on #2352
Thanks for the question, @emielvangoor! I'm assigning this issue to the author to check into it.

[2020-07-02 22:22] kfollis commented on #2339
Hi @bob-pctest - thanks for the question. Microsoft is the source of the on-premises gateway. During installation, you can access the terms of use to view more details about the software. The endpoints accessed by Power BI are listed here: https://docs.microsoft.com/en-us/power-bi/admin/power-bi-whitelist-urls. The URLs accessed by the gateway will depend on how you configure it. There's a lot mor

[2020-07-02 23:36] bob-pctest commented on #2339
Hi Kate:

I wanted to know the source of the add-on software app.  I know that Microsoft provides the gateway.

We are very concerned about the source of these apps, and we specifically disallow anything that is not written/provided by Microsoft itself.

Regards,

Bob Sauers
Principal Systems and Network Architect
IT Department
PCTEST Engineering Laboratory, Inc.
9017 Mendenhall CT, Suite G
Columb

[2020-07-03 02:31] SMay2020 commented on #2351
Yes.  It is that link. I'm using desktop not service so need to download the file.
I've just tried to attach a screen shot.  It said uploaded but I can't see that its attached.

This is the link I'm using.
https://download.microsoft.com/download/6/9/5/69503155-05A5-483E-829A-F7B5F3DD5D27/Human%20Resources%20Sample%20PBIX.pbix

[2020-07-03 02:32] SMay2020 commented on #2351
Yes.  It is that link. I'm using desktop not service so need to download the file.
I've just tried to attach a screen shot.  It said uploaded but I can't see that its attached.

This is the link I'm using.
https://download.microsoft.com/download/6/9/5/69503155-05A5-483E-829A-F7B5F3DD5D27/Human%20Resources%20Sample%20PBIX.pbix

[2020-07-03 12:29] uve commented on #2009
Hi @twastvedt,
 Thanks for your feedback, we're going to extend our docs soon. It's an internal method, you shouldn't use it for now.
You can find the source code of this method [here](https://github.com/microsoft/powerbi-visuals-utils-colorutils/blob/master/src/colorHelper.ts#L85)

[2020-07-03 12:30] EruantalonJS opened #2353 "PowerBI Datagateway silent installation fails on windows datacenter docker image"
Hi,

I'm trying to install the PowerBI datagateway in a docker image of windows datacenter (not core). I have found that, in a regular windows datacenter VM this works correctly, needing no user input, but on a docker image it stays stalled in the "Install-Datagateway" step, with the following messages:

I've tried multiple options but there seems to be no verbose option that works for this commna

[2020-07-03 12:32] uve commented on #2022
Hi @djpirra, you can create a new SelectionID for each of your columns:
[code]

[2020-07-03 12:35] uve commented on #2023
Hello @djpirra,
We're going to extend our docs soon. Currently, you can find more info in [definition file](https://github.com/microsoft/powerbi-visuals-api/blob/master/schema.capabilities.json#L1015).

[2020-07-03 12:37] uve commented on #2024
Hello @djpirra,
 The numeric slide is not supported currently. Please use the numeric input field instead.

[2020-07-03 12:39] uve commented on #2027
Hi @djpirra.
Yes, **"update"** method receives [VisualUpdateType](https://github.com/microsoft/powerbi-visuals-api/blob/master/index.d.ts#L14) as an argument.
Your visual can skip any updates with **"Resize"** type.