[2022-06-24 13:00] bishalgoswami commented on #3908
Thanks for your comment, @primetimeai3000. This issue has been assigned to the doc author for review.

[2022-06-26 13:39] MartinaPoddana opened #3909 "IE Explorere retired"
Hi
As per [https://www.microsoft.com/en-us/download/details.aspx?id=53127](url) IE has retired.

Can the minimum requirements for power bi be reviewed?
[https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-get-the-desktop#minimum-requirements](url)
Thank you. Martina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-06-26 14:18] KesemSharabi commented on #3906
Hi @ibTnJohn,

You're right that licensing for embedded analytics is confusing. I think you have in mind an ISV scenario, where the ISV is using an EM SKU to serve content to many 3rd party users. In this scenario, the third party customer (the ISV's customer) doesn't need a Power BI license at all. However, embedding the report (or any other Power BI item) in the ISV's app, is done by either a se

[2022-06-26 15:00] bishalgoswami commented on #3909
Thanks for your comment, @MartinaPoddana. This issue has been assigned to the doc author for review.

[2022-06-26 20:25] ibTnJohn commented on #3906
I am referring to an A SKU, not an EM. What I have in mind is a typical enterprise environment, where customers register and log in to access their personal accounts on a website and see their dashboards.  In this case, the website handles security and then accesses a report filtered by account number in a Power BI workspace backed with an A SKU through a master user account(which does have to be

[2022-06-27 12:05] RobertoEricMarquesCarimo commented on #3731
first of all, you have to enter values in '**Location**' and '**Color Saturation**' after that in **Map Setting** under **Map Type** you have to select **Custom Map** and the **Add map type** option will enable.

[2022-06-27 14:57] otravers opened #3911 "Datamarts?"
Can this page clarify what role can perform which actions with the new datamart functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad65c63-c38d-5ec7-0386-45ff2602e2a6
* Version Independent ID: d8146ced-680a-5df4-531f-06ebf9c1c2e0
* Content: [Roles in the new workspaces in Power BI - Power BI](https://docs.m

[2022-06-27 15:00] bishalgoswami commented on #3911
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-06-27 17:55] vcarazo opened #3912 "This page should contain the version of Power BI Report Builder associated to it's version of Report Server"
[Enter feedback here]
This page contains info for Power BI Report Server but the link to Power BI Report Builder shows info about the report Builder for the cloud service.

This page should contain the version of Power BI Report Builder associated to it's version of Report Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-06-27 19:28] heidiv commented on #2886
Hello - curious if there was an answer to this? Are reports published to web WCAG 2.1. compliant? Thanks!

[2022-06-27 20:04] lesliemui opened #3913 "Possible stale limitation - variable editing after publishing to service for SAP HANA"
-Change to Variables after publish - You cannot change the values for any SAP HANA variables directly in the Power BI service, after the report is published.
Under considerations and limitations, I'm not sure if this applies any more.

https://docs.microsoft.com/en-us/power-bi/connect-data/service-edit-sap-variables

As far as I can tell, this seems to have been resolved.

---
#### Document Detail

[2022-06-27 21:00] bishalgoswami commented on #3913
Thanks for your comment, @lesliemui. This issue has been assigned to the doc author for review.

[2022-06-27 21:20] maggiesMSFT commented on #2886
Hi, @heidiv -- The answer back in July 2021 was no, reports published to web were not WCAG 2.1. compliant, but there was movement on that front. So I'm checking again.

[2022-06-27 22:36] otravers opened #3914 "Metrics is now GA"
Title should be updated as the feature is no longer in preview:
https://powerbi.microsoft.com/en-us/blog/power-bi-goals-is-now-metrics-and-is-moving-to-ga/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ac2aa1-b899-184c-10c3-7909aa32bff8
* Version Independent ID: 17e2b2b8-02c5-fcf0-32ab-7f3ef2eb271f
* Content: [Creat

[2022-06-27 23:00] bishalgoswami commented on #3914
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-06-27 23:31] maggiesMSFT commented on #3914
Thanks, @otravers -- fixing now. Changes will be live tomorrow afternoon June 28 Pacific time

[2022-06-27 23:31] #3914 closed

[2022-06-28 08:02] AkshayDutta opened #3915 "User without contributor role within dataset workspace can download PBIX file"
Hello Team,

Can you please change below point as it is not correct.

This has been reported in PBI CAT and PBI CSS team as well.

Limitations when downloading a .pbix from a report

You can download a file in either Reading view or Editing view. **You must be at least a Contributor to the workspace that the report is in. If the report is based on a dataset in another workspace, you need to be at

[2022-06-28 09:01] bishalgoswami commented on #3915
Thanks for your comment, @AkshayDutta. This issue has been assigned to the doc author for review.

[2022-06-28 13:01] otravers opened #3916 "Conflicting info on number of refreshes"
In your table you state that refreshes are limited to 48 a day. Later in the same page is stated that: "The number of refreshes isn't currently restricted."

The limit of 48 refreshes per day is only in the service's UI, you can trigger more than 48 refreshes via the API or Power Automate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-28 15:00] bishalgoswami commented on #3916
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-06-28 22:42] Minewiskan commented on #3892
@jsh121988 Thanks for pointing this out. You are correct about the response example being outdated. This was due to recent API changes. The article has been updated with the new response properties and response body example.
refreshType: ReliableProcessing may still appear in the response body in certain environments, but will become ViaEnhancedApi in all environments in early July.

[2022-06-28 22:42] #3892 closed

[2022-06-28 23:28] pugliathomas opened #3917 "Links to composable Dataflow links are broken"
[Enter feedback here]
The links to staging, transformation, and final data flow do not point to an actual page.

https://docs.microsoft.com/en-us/power-bi/guidance/powerbi-implementation-planning-usage-scenario-advanced-data-preparation#staging-dataflow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43eb7a25-a6a4-c798-

[2022-06-29 01:00] bishalgoswami commented on #3917
Thanks for your comment, @pugliathomas. This issue has been assigned to the doc author for review.

[2022-06-29 06:19] josetony78 opened #3918 "Q&A Grouping of Questions"
[Enter feedback here]
Q&A Grouping of Questions
Currently Power BI is not supporting the facility to filter questions in the Q&A Visual. That is if we have 20 Questions loaded and only 5 questions are to be displayed on a certain screen and other 15 questions on other screen then to filter those questions as per screen is not available.
---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-29 06:19] josetony78 commented on #3918
Q&A Grouping of Questions
Currently Power BI is not supporting the facility to filter questions in the Q&A Visual. That is if we have 20 Questions loaded and only 5 questions are to be displayed on a certain screen and other 15 questions on other screen then to filter those questions as per screen is not available.

[2022-06-29 07:00] bishalgoswami commented on #3918
Thanks for your comment, @josetony78. This issue has been assigned to the doc author for review.

[2022-06-29 14:00] KesemSharabi commented on #3916
Hi @otravers,

I'm checking with the product team whether the PPU refresh rate can be higher than 48 per day when using APIs.

Thanks,

Kesem

[2022-06-29 14:03] KesemSharabi commented on #3915
Hi @AkshayDutta,

Can you please let me know which article you're referring to?

Also, if you're a Microsoft employee, please start an email thread for this.

Thanks,

Kesem

[2022-06-29 14:07] KesemSharabi commented on #3906
Hi @ibTnJohn,

Thank you for clarifying your point. I'll discuss this with the product team and see if we can revise the document to be clearer.

Kesem

[2022-06-29 19:53] #3838 closed

[2022-06-29 23:26] maggiesMSFT commented on #3903
Thanks for letting us know, @pianoboy-rishul! We'll share your feedback with the author.

[2022-06-29 23:26] #3903 closed

[2022-06-29 23:41] #3904 closed

[2022-06-30 10:22] tahossain42 opened #3919 "file is not storing as .csv"
According to the documentation, the file should store as table.snapshot.csv but it is storing as table.csv.snapshot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f28e6c-a22d-484b-6599-9b17e6c011f0
* Version Independent ID: 307cb997-5d54-a43c-f278-5247769e682b
* Content: [Configuring dataflow storage to use Azure Dat

[2022-06-30 11:00] bishalgoswami commented on #3919
Thanks for your comment, @tahossain42. This issue has been assigned to the doc author for review.

[2022-06-30 12:13] #3776 closed

[2022-06-30 12:14] #3807 closed

[2022-06-30 12:20] KesemSharabi commented on #3915
Hi @AkshayDutta,

Thank you for providing the link.

Can you please explain what is wrong in your opinion with this sentence (the first bullet in [Limitations when downloading a .pbix from a report](https://docs.microsoft.com/power-bi/create-reports/service-export-to-pbix#limitations-when-downloading-a-pbix-from-a-report)):

You can download a file in either Reading view or Editing view. **You mus

[2022-06-30 14:20] AkshayDutta commented on #3915
Hello Kesem,

This Sentence "You must be at least a Contributor to the workspace that the report is in. If the report is based on a dataset in another workspace, you need to be at least a Contributor to that workspace as well."

This Limitation has been removed.

Thanks! Akshay Dutta

From: Kesem Sharabi ***@***.***>
Sent: Thursday, June 30, 2022 5:52 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>

[2022-06-30 15:54] jonwbstr commented on #3871
Hi @KesemSharabi, Is the pro vs premium feature comparison page you referenced something I can view today?
Also, I opened a support ticket and according the the engineer I spoke to says the capacity for Pro doesn't work quite the way the person from the product team you spoke to described it.

According to support, in a Pro workspace the resources are shared with everyone else in the region and th

[2022-07-01 14:34] jonwbstr opened #3922 "Premium Capacity and scheduled refresh memory usage"
It would be helpful if the question **How is Power BI Pro different than Power BI Premium?** referenced that there are two types of premium, PPU and Capacity. This question talks about PPU but doesn't mention capacity. Capacity is covered further down but doesn't really address how it is different from Pro or PPU.

The question **What do you mean by "capacity"?** goes into this question briefly bu

[2022-07-02 00:46] peter-myers commented on #3917
Hi @pugliathomas - thanks for pointing out the broken links. I've updated the article and those fixes should become available soon. In the meantime, you can use this link to the intended article: https://docs.microsoft.com/power-query/dataflows/best-practices-for-dimensional-model-using-dataflows

[2022-07-02 00:46] #3917 closed

[2022-07-02 01:03] peter-myers commented on #3893
Hi @mercer2000 - thanks for your feedback. I've added a tip to the article that leads the reader to a learning module about creating calculated tables, including an example of a date table. That change should become available soon.

[2022-07-02 01:03] #3893 closed

[2022-07-02 01:08] peter-myers commented on #3873
Hi @rocdong - the answer is yes, but we cannot make a recommendation for the numbers, since it will be dependent on the set-up and load on the customers environment. I hope that helps.

[2022-07-02 01:08] #3873 closed

[2022-07-05 01:43] atho3009 opened #3924 "In the 'Limitations' section add an entry for no data-driven subscriptions."
[Enter feedback here]
Hi,

One of the limitations we have bumped in to when migrating SSRS to PowerBI is that Paginated Report subscriptions have no equivalent to data-driven subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a720989e-e6c4-2377-e0c0-8c80d5691f46
* Version Independent ID: 3c6392e8-0f91-1c9c-2

[2022-07-05 03:00] bishalgoswami commented on #3924
Thanks for your comment, @atho3009. This issue has been assigned to the doc author for review.

[2022-07-05 08:45] gerardv opened #3925 "Required permissions not cited"
The page does not indicate the permissions required to assign a workspace to a capacity. I would think the AAD role 'Power BI Administrator' would suffice, but a assigning this role to a co-worker did not grant him the ability to perform this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f668ccc8-ab37-d274-956

[2022-07-05 09:00] bishalgoswami commented on #3925
Thanks for your comment, @gerardv. This issue has been assigned to the doc author for review.

[2022-07-05 19:41] ConstructionProject opened #3926 "Matrix and Table dataviews do not support Conditional Formatting. But I see that standard Matrix visual has option to set CF for Cell Values. Could you clarify or provide code sample."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3300d18-dfe1-a0a0-597e-2f5760924ca1
* Version Independent ID: 29fd380a-48fa-a99c-0e3a-4e3b314f99dd
* Content: [Conditional formatting in Power BI embedded analytics - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/visuals/conditional-f

[2022-07-05 21:00] bishalgoswami commented on #3926
Thanks for your comment, @ConstructionProject. This issue has been assigned to the doc author for review.

[2022-07-06 08:24] mberdugo commented on #3925
Hi, @gerardv. Thanks for your question.
It says [here](https://docs.microsoft.com/power-bi/developer/embedded/move-to-production#assign-a-workspace-to-a-capacity-using-a-master-user) that the user must have admin permissions to that workspace, and _also capacity assignment permissions to that capacity_. Does the user also have capacity assignment permissions to that capacity?

[2022-07-06 14:50] gerardv commented on #3925
Thanks for your quick answer @mberdugo . I did read that part, but I thought it pertained to the embedding principal (master user vs service principal). We use a Service Principal for embedding but a AD Member Account for management tasks. This is not a Master User account such as is used throughout the embedding documentation.
Today I figured out that the Member Account indeed needs to be Capacit

[2022-07-06 14:50] #3925 closed

[2022-07-06 15:26] mberdugo commented on #3925
Thanks for getting back to me, @gerardv. You're right, the wording here is a bit confusing. I'll update it to make it clearer.

[2022-07-06 20:30] BobCreamer opened #3927 "link to pbix file that is not complete"
Open this [GitHub repo for Power BI Desktop samples](https://github.com/microsoft/powerbi-desktop-samples/blob/main/Sample%20Reports/Sales%20%26%20Returns%20Sample%20v201912.pbix)

This link takes me to a PBI file which misses out data so the drill through examples do not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-06 21:00] bishalgoswami commented on #3927
Thanks for your comment, @BobCreamer. This issue has been assigned to the doc author for review.

[2022-07-07 16:16] KateGiznburg opened #3928 "Links on samples don't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b777f61-d4cf-bc8e-64b5-43c2e695051b
* Version Independent ID: 20c2b71c-b805-b5e1-4de3-f5bc51de91e5
* Content: [Template apps samples - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-template-apps-samples)
* Content Source: [

[2022-07-07 19:20] marianabarone opened #3929 "Broken links"
[Links for template are broken, getting: "Hmmm… can't reach this page"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b777f61-d4cf-bc8e-64b5-43c2e695051b
* Version Independent ID: 20c2b71c-b805-b5e1-4de3-f5bc51de91e5
* Content: [Template apps samples - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/

[2022-07-07 20:54] stangeh opened #3930 "Instructions re: Surrogate Keys with Index Column missing important information"
The documentation regarding surrogate keys is missing a key piece of the instruction and therefore misleading/confusing.
The current doc says you can add an Index column directly to the dimension table while it still has non-unique values. However this would result in creating keys for values which are non-unique.

So to make these instructions correct, they need to be updated to explain that _fir

[2022-07-07 21:00] bishalgoswami commented on #3930
Thanks for your comment, @stangeh. This issue has been assigned to the doc author for review.

[2022-07-07 21:25] paulinbar commented on #3929
Hi @marianabarone, The samples article is indeed out of date and I just removed it. Those samples are no longer available, and in a number of cases the template apps don't exist anymore either.
You can find template apps on appsource, or by going into the apps page in Power BI and choosing Get apps.
Thanks for bringing this obsolete article to my attention.

[2022-07-07 21:25] #3929 closed

[2022-07-07 21:26] paulinbar commented on #3928
Hi Kate, The samples article is indeed out of date and I just removed it. Those samples are no longer available, and in a number of cases the template apps don't exist anymore either.
You can find template apps on appsource, or by going into the apps page in Power BI and choosing Get apps.
Thanks for bringing this obsolete article to my attention.
@KateGiznburg

[2022-07-07 21:26] #3928 closed

[2022-07-07 21:27] paulinbar commented on #3908
Hi @primetimeai3000, The samples article is indeed out of date and I just removed it. Those samples are no longer available, and in a number of cases the template apps don't exist anymore either.
You can find template apps on appsource, or by going into the apps page in Power BI and choosing Get apps.
Thanks for bringing this obsolete article to my attention.

[2022-07-07 21:27] #3908 closed

[2022-07-07 21:28] paulinbar commented on #3889
Hi @mmahomar, The samples article is indeed out of date and I just removed it. Those samples are no longer available, and in a number of cases the template apps don't exist anymore either.
You can find template apps on appsource, or by going into the apps page in Power BI and choosing Get apps.
Thanks for bringing this obsolete article to my attention.

[2022-07-07 21:28] #3889 closed

[2022-07-07 22:29] propellor opened #3931 "What unit is Duration data type?"
[Enter feedback here]
After reading the description for the duration data type, I'm wondering what is the unit.  Is it a day?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83479d4-0fb8-7500-e6ec-5559c4e2fdae
* Version Independent ID: 23b93f03-3ab9-d658-4243-89ebebbd6796
* Content: [Data types in Power BI

[2022-07-08 08:47] rjagdon opened #3932 "Q&A Tooling on Composite Data"
This document mentions that Q&A Tooling is only supported in Import mode. But, based on testing, it also works on Direct Query data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63687608-fb0f-31f8-a1d2-dc35aa361f70
* Version Independent ID: 2e2cde8b-b59e-1577-4c43-6ad5cd7e2ef1
* Content: [Intro to Q&A tooling to trai

[2022-07-08 09:00] bishalgoswami commented on #3932
Thanks for your comment, @rjagdon. This issue has been assigned to the doc author for review.

[2022-07-08 13:18] AkshayDutta opened #3933 "Need to remove(Exporting a Power BI report to file using the exportToFile API, isn't supported for Premium Per User (PPU)) from limitations"
<img width="474" alt="PPU" src="https://user-images.githubusercontent.com/108328248/177999606-e279b414-9179-4c30-91d3-af00cea80d7a.PNG">

Under limitations PPU workspaces need to be removed.

[2022-07-08 19:23] jonwbstr commented on #3922
This article might be a good home for some of this content with a breadcrumb from the FAQ to the article below.

https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-capacity-optimize#why-are-data-refreshes-not-completing

Also received this additional piece of information today,

To recap Power BI Pro has 10GB available for a command refresh while a premium workspace is limited to

[2022-07-08 20:04] jonwbstr opened #3935 "Consolidate Information"
The article below also talks about data molding data reduction techniques.
https://docs.microsoft.com/en-us/power-bi/guidance/import-modeling-data-reduction

Can we consolidate the information into one place? At the moment I'm copy/pasting information from both articles to create an internal article for my future reference :).

Also, the journey that lead me to these articles resulted in a few oth

[2022-07-08 20:32] jonwbstr commented on #3871
While reviewing this project I came across
https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-gen2-what-is

Pretty sure I'm working with Gen2 capacity, not sure how I wound up in the Gen1 article.

These two sections hold a lot more significance in light of the above discussions.

and

Support says the memory available for a refresh command is sku capacity - all datasets in the c

[2022-07-08 21:00] bishalgoswami commented on #3935
Thanks for your comment, @jonwbstr. This issue has been assigned to the doc author for review.

[2022-07-09 04:50] peter-myers commented on #3930
Hi @stangeh - thanks for taking the time to provide feedback. The purpose of this section is to explain that a single unique column is required to create a model relationship and that a Power Query index column can help you create a surrogate key column. Your guidance isn't necessarily true should there be combinations of columns that result in a composite (multi-column) key.

[2022-07-09 04:50] #3930 closed

[2022-07-09 05:09] stangeh commented on #3930
Hi Peter, thanks for your response. That’s true there are multiple ways to
achieve it. But in general the instruction is currently misleading because
it just says to add an index column and then merge.
Maybe you should say (or link to) what the options are for merging to make
it clear. (The question that also remains open with the current
documentation is: if I already merged the dimension and fac

[2022-07-10 12:27] KesemSharabi commented on #3933
Hi @AkshayDutta,

This limitation is still in place. Why are you asking to remove it?

Thanks,

Kesem

[2022-07-11 02:38] AkshayDutta commented on #3933
Hello Kesem,

I can confirm using Power Automate flow user was able to export file from PPU workspace, hence under limitations this sentence is wrong.

Thank You.

Regards, Akshay Dutta, Power BI Support Engineer.

From: Kesem Sharabi ***@***.***>
Sent: Sunday, July 10, 2022 5:58 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Akshay D (MINDTREE LIMITED) ***@***.***>; Mention ***@***.***>
Subje

[2022-07-11 05:18] Nihanthsai opened #3936 "Excellent"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers?ta

[2022-07-11 05:19] Nihanthsai opened #3937 "Good"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrative)
* Content S

[2022-07-11 07:00] bishalgoswami commented on #3937
Thanks for your comment, @Nihanthsai. This issue has been assigned to the doc author for review.

[2022-07-11 07:00] bishalgoswami commented on #3936
Thanks for your comment, @Nihanthsai. This issue has been assigned to the doc author for review.

[2022-07-11 14:17] jeroen-mostert opened #3939 "Document the rules on URL filter escaping completely and clearly"
This is honestly a very bad explanation of what's required, and I spent some time on [Stack Overflow](https://stackoverflow.com/q/72938093/4137916) trying to figure out what someone was trying to accomplish, as they were explaining it in the terms used by this page. Almost everything in these sentences is wrong -- spaces and dashes *are* ASCII characters, the docs fail to give the complete list of

[2022-07-11 15:03] bishalgoswami commented on #3939
Thanks for your comment, @jeroen-mostert. This issue has been assigned to the doc author for review.

[2022-07-11 17:37] kfollis commented on #3629
@maggiesMSFT - I believe it is possible to disable a user's ability to use Power BI in Teams, but I don't think there is a way to prevent the user from viewing their own usage data. Can you confirm with PM and update this issue?

[2022-07-11 18:34] maggiesMSFT commented on #3629
Hi, @lordneeko -- I'm checking with the product team and will get back to you. Thanks!
cc @kfollis & @mberdugo

[2022-07-11 20:32] mihart commented on #3868
Hi @willz06jw ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-07-11 20:32] #3868 closed

[2022-07-11 20:59] #3890 closed

[2022-07-11 21:17] heste023 opened #3940 "Power BI dataflows - DirectQuery / Live connection"
On this documentation page - https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources - for data sources P-R, Power BI dataflows, I believe that you can make a DirectQuery / Live connection to a Power BI dataflow (https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-directquery). If so, the DirectQuery / Live connection column for the Power BI dataflows

[2022-07-11 23:00] bishalgoswami commented on #3940
Thanks for your comment, @heste023. This issue has been assigned to the doc author for review.

[2022-07-12 13:08] MartinaPoddana opened #3941 "Add to paragraph - trigger scheduled refresh"
Please add/change to [https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-modern-usage-metrics#usage-metrics-report-dataset](url)

**From**:
When you first launch the improved usage metrics report, Power BI automatically creates a Usage Metrics Report dataset. The improved usage metrics report relies on that dataset. Power BI then refreshes this dataset daily. While you can't chang

[2022-07-12 13:14] MartinaPoddana opened #3942 "add to delete section - delete copies of Usage metrics"
Please add/change to [https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-modern-usage-metrics#troubleshoot-refresh-issues](url)

**from:**
If you suspect data consistency or refresh issues, it might make sense to delete the existing Usage Metrics Report dataset. Then you can run View Usage Metrics again to generate a new dataset with its associated improved usage metrics reports.

[2022-07-12 14:05] #3935 closed

[2022-07-12 14:13] KesemSharabi commented on #3933
Hi @AkshayDutta,

Thank you for explaining your experience. I've asked the engineering team to look into this.

Kesem

[2022-07-12 15:18] mihart commented on #3861
Hi @dhruvinushah ,
Good catch!  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-07-12 15:18] #3861 closed

[2022-07-12 16:03] mihart commented on #3855
Hi @ayumito,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-07-12 16:03] #3855 closed

[2022-07-12 16:04] mihart commented on #3853
Thanks for your comment, @alexisworking404 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-07-12 16:04] #3853 closed

[2022-07-12 16:07] mihart commented on #3833
Thanks for your comment, @rhalabi. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.) I know that th

[2022-07-12 16:07] #3833 closed

[2022-07-12 16:15] mihart commented on #3828
Hi @nstraw ,
Thank you for your suggestion.  I'll forward this to the Known Issues team.
All the best,
The DOCS team

[2022-07-12 16:15] #3828 closed

[2022-07-12 16:22] mihart commented on #3823
Thanks for your comment, @donsvensen. Known issues are sourced from the Support team.  Please submit this as a Support ticket or request to get it to the right folks.   You also might find a solution in the Power BI Community, at https://community.powerbi.com. To contact Support, refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Supp

[2022-07-12 16:26] mihart commented on #3805
Thanks for your comment, @. This issue has been assigned to the doc owner for review. All articles about visualizations are currently being updated to include new UI changes and new functionality.  You should see the update article on our site later this month.

[2022-07-12 16:26] #3805 closed

[2022-07-12 16:27] mihart commented on #3799
Thanks for your comment, @jeremiah1119 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

[2022-07-12 16:27] #3799 closed

[2022-07-12 16:33] mihart commented on #3761
Thanks for your comment, @bernatagulloesbrina  This looks like a support request or product question rather than documentation feedback. The known issues on this page are sourced from the Support team, so you'll want to contact them and not the Documentation team.  You may be able to contact Support, refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to

[2022-07-12 16:33] #3761 closed

[2022-07-12 16:36] mihart commented on #3652
Hi @vishnukatta ,
Thank you for your suggestion.  We're in the process of updating all articles in the /Visuals section of our docsite.  Look to see the updated article later this month.
All the best,
The DOCS team

[2022-07-12 16:36] #3652 closed

[2022-07-12 16:39] bernatagulloesbrina commented on #3761
If they have not mentioned it, I understand then that the product team sees no issue in how the conditional formatting of datalabels is currently implemented.
If the goal is to have a complete list of issues, I'm not sure that only listening to the product team is the best approach tbh.

[2022-07-12 17:43] mihart commented on #3806
Hi @Melsize ,
Thank you for catching this mistake.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-07-12 17:43] #3806 closed

[2022-07-12 17:45] mihart commented on #3674
Hi @AnkitKukreja19 , @KesemSharabi ,
This work is still in my backlog.  I can't commit to a date by which I'll get to this.  But know that I am not ignoring this Git Issue.  Thanks.

[2022-07-12 20:44] maggiesMSFT commented on #3941
Hi, @MartinaPoddana -- thanks for your comment. Please see the email I sent you, about how to edit and submit suggested changes yourself 😉

[2022-07-12 20:44] #3941 closed

[2022-07-12 20:44] #3942 closed

[2022-07-13 09:52] rjagdon opened #3943 "Datamarts are currently not supported in Microsoft Teams"
Based on testing, you can add Power BI report to a Teams Channel even if the data source is Power BI Datamart. The limitation - Datamarts are currently not supported in Microsoft Teams does not seem to be true anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589a83ac-1fda-b3f1-1590-9372d97cf132
* Version Indepen

[2022-07-13 13:01] bishalgoswami commented on #3943
Thanks for your comment, @rjagdon. This issue has been assigned to the doc author for review.

[2022-07-13 17:49] vincent-roberto opened #3944 "Field Parameter Values as a Slicer"
[Enter feedback here]
I see in the notes that "From the context menu, you can also choose if the field parameter shows the values or the display names of the selected field(s) for all non-slicer visuals”. It would be very useful in a future version in a specific use-case I have to be able to show the field parameter values in a slicer as well. It would solve for my current use-case where I think t

[2022-07-13 18:57] mihart commented on #3885
Hi @tatamoreira11 ,
Thank you for your suggestion.  We've made the update and set the article to republish. It now says "can be created using data from one dataset. Power BI Desktop can combine more than one data source into a single dataset in a report, and that report can be imported into Power BI."
All the best,
The DOCS team

[2022-07-13 18:57] #3885 closed

[2022-07-13 21:40] mihart commented on #3753
Hi @justinrr07,
Thank you for your patience.  I've updated the article and set it to republish.  I do appreciate your input!
The DOCS team

[2022-07-13 21:40] #3753 closed

[2022-07-14 10:19] DevilANANDGupta opened #3945 "Microsoft"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrative)
* Content S

[2022-07-14 11:00] bishalgoswami commented on #3945
Thanks for your comment, @DevilANANDGupta. This issue has been assigned to the doc author for review.

[2022-07-14 18:31] rmbuan opened #3946 "Connecting data from Teams PowerBI App not working"
Hello,

I tried to connect the data to our Tennant using OAuth2 via the Teams PowerBI App but every time it opens the web browser (Edge or Chrome) with a popup disabled it completely closes the preview.powerbi.com link. I tried adding both powerbi.com and microsoftonline.com still doesn't work.

Performing the data connection on a browser directly on the powerbi website works.

rmbuan

[2022-07-14 19:00] bishalgoswami commented on #3946
Thanks for your comment, @rmbuan. This issue has been assigned to the doc author for review.

[2022-07-14 21:38] lesliemui opened #3947 "SAP HANA related information in section "How to enable the feature" needs review"
When connecting to HANA, the Options -> Current File -> DirectQuery sections are now missing.

The SAP Variables box is visible in the Options -> Current File -> Published dataset settings section:
![image](https://user-images.githubusercontent.com/105888646/179088392-495842e7-c81c-4516-9161-3082e7a58267.png)

documentation update required to match the options menu if this is correct.

---
#### Do

[2022-07-14 23:00] bishalgoswami commented on #3947
Thanks for your comment, @lesliemui. This issue has been assigned to the doc author for review.

[2022-07-14 23:07] sanjaydatasciencedojo opened #3948 "Warning Message about free trial version in embedded report"
For the last few days, we are seeing the following warning message in our embedded reports on the web app. We never saw this warning before. How can we remove this warning message? We are using the service principle approach to embed the report, and people log in through Azure Active Directory into the web app. All users are assigned pro licenses.

![image](https://user-images.githubusercontent.co

[2022-07-15 00:58] nstraw opened #3949 "Need further information on one limitation"
Hi doc team!

Would it be possible to elaborate on this limitation : "A filter can only touch a table once. Applying the same filter to a table twice, through one of more tables outside of the DirectQuery source, isn't supported."

We want to reproduce the issue, but we do not understand it... What do you mean by a filter "touching" a table ? How a filter can be applied twice to a table ? Could yo

[2022-07-15 01:00] bishalgoswami commented on #3949
Thanks for your comment, @nstraw. This issue has been assigned to the doc author for review.

[2022-07-15 01:00] bishalgoswami commented on #3948
Thanks for your comment, @sanjaydatasciencedojo. This issue has been assigned to the doc author for review.

[2022-07-15 05:45] jamesjohns01 opened #3950 "We need an example for how to create the rule in the 'Affordability' example"
There is no example for how to create the rule in the 'Affordability' example.  I want to do exactly the same thing with dates but can't seem to do it.  An example would be very helpful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af9ce3a-a3eb-8d57-55a7-66f04f46bbf7
* Version Independent ID: 58e304ed-89d2-3c85

[2022-07-15 07:00] bishalgoswami commented on #3950
Thanks for your comment, @jamesjohns01. This issue has been assigned to the doc author for review.

[2022-07-15 09:51] anantharamakrishnans opened #3951 "Unable to see Classic Workspace in Power BI"
Revert to classic. Is not seen while I am trying to create a workspace.
Does the documentation need update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d8c1e1-d7b7-a57c-1128-ac26c0296081
* Version Independent ID: 9e96a0a2-bacb-06f3-1295-a55cb3a45e1c
* Content: [Create classic workspaces in Power BI - Power BI](htt

[2022-07-15 11:00] bishalgoswami commented on #3951
Thanks for your comment, @anantharamakrishnans. This issue has been assigned to the doc author for review.

[2022-07-18 12:06] gouthamm161o opened #3952 "Feedback"
Good
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influence

[2022-07-18 12:06] gouthamm161o opened #3953 "Feedback"
Good
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrative)
* Cont

[2022-07-18 13:00] bishalgoswami commented on #3953
Thanks for your comment, @gouthamm161o. This issue has been assigned to the doc author for review.

[2022-07-18 13:00] bishalgoswami commented on #3952
Thanks for your comment, @gouthamm161o. This issue has been assigned to the doc author for review.

[2022-07-18 14:46] otravers opened #3954 "Dashboard directly from dataset?"
This page states that one can create a dashboard from a dataset, but this doesn't seem to be documented anywhere, nor do I see an option in the service to pin directly from a dataset to a dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88b71635-b53c-d810-b40a-8c67ae1edba0
* Version Independent ID: 8de35da5-40

[2022-07-18 15:00] bishalgoswami commented on #3954
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-07-18 19:58] maggiesMSFT commented on #3954
Hi, @otravers -- good catch! I've updated the article to remove "dataset." Change should be live later today, Mon July 18.

[2022-07-18 19:58] #3954 closed

[2022-07-18 21:50] gabycasale opened #3955 "Documentation feedback"
Hi,

The purpose of this feedback is to inform some documentation inconsistencies demonstrated by a customer who has Azure Private Link enabled, and had the following observations:
•	Capacity Metrics App is working fine, even though documentation indicates it shouldn´t.
•	Export to PDF and Power Point is working fine, even though documentation indicates it shouldn´t.
Thank you

---
#### Document D

[2022-07-18 23:00] bishalgoswami commented on #3955
Thanks for your comment, @gabycasale. This issue has been assigned to the doc author for review.

[2022-07-19 00:12] fenix2222 commented on #3948
Having the same problem. Any solution?

[2022-07-19 03:33] Maggie18z opened #3956 "Pls check if Dataflow supports connect to MariaDB"
[Enter feedback here]
Pls check if Dataflow supports connect to MariaDB. In this page it says not supported. But in Power Query doc it says supportive. https://docs.microsoft.com/en-us/power-query/connectors/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 2

[2022-07-19 05:00] bishalgoswami commented on #3956
Thanks for your comment, @Maggie18z. This issue has been assigned to the doc author for review.

[2022-07-19 11:59] Nickelodeon111 opened #3958 "Export to File for Power BI Reports - Export Format"
In 'Export to File for Power BI Reports'
You select the desired Export Format for your Power BI report, can you add 'csv' and 'excel' as export format option ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92e4209-59ef-2aed-dd62-b38c443d96d3
* Version Independent ID: ba65faca-8ef1-3cb3-3a32-bc23fbb1e64c
* Content: [E

[2022-07-20 13:20] Quorthon1965 opened #3959 "But why?"
Why would you want to do this, when Power BI reports can already have multiple pages. This page does not explain the purpose very well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd025cf2-076c-996e-4928-a16c8b340ea6
* Version Independent ID: aff5d091-7be0-1845-8fdf-4b87787dc9b3
* Content: [Power BI Report Builder -

[2022-07-20 14:42] KesemSharabi commented on #3948
Hi @sanjaydatasciencedojo and @fenix2222,

Are you using a [free trial](https://azure.microsoft.com/pricing/details/power-bi-embedded/)? If so, it looks like the free trial tokens expired. As soon as you purchase a capacity the message will disappear.

![image](https://user-images.githubusercontent.com/54834915/180010063-02bbfb7d-e24d-4261-a84e-c99da799979d.png)

For more information see:
* [How m

[2022-07-20 15:00] bishalgoswami commented on #3959
Thanks for your comment, @Quorthon1965. This issue has been assigned to the doc author for review.

[2022-07-20 15:34] KesemSharabi commented on #3946
Thanks for your comment, @rmbuan.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-07-20 15:34] #3946 closed

[2022-07-20 15:51] KesemSharabi commented on #3915
Thanks for explaining @AkshayDutta.

I'm validating your claim and will get back to you.

Are you saying that the entire limitation has been removed? Or just this part: "If the report is based on a dataset in another workspace, you need to be at least a Contributor to that workspace as well"?

Thanks,

Kesem

[2022-07-20 21:02] #3915 closed

[2022-07-20 22:58] maggiesMSFT commented on #3959
Hi, @Quorthon1965 -- a reasonable question! I've added more info to the article. The update will be live tomorrow afternoon July 21 Pacific Time. In the meantime, check out another article, https://docs.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-report-builder-power-bi, for more info now.

[2022-07-20 22:58] #3959 closed

[2022-07-21 00:08] maggiesMSFT commented on #3924
Hi, @atho3009 -- good point! I added it to the section about subscriptions rather than to the general Limitations section, and then I added it to the article about subscriptions, https://docs.microsoft.com/en-us/power-bi/consumer/end-user-subscribe?tabs=creator#subscribe-to-paginated-reports. Changes will be live tomorrow afternoon July 21 Pacific time.
Thanks!

[2022-07-21 00:08] #3924 closed

[2022-07-21 14:50] denglishbi opened #3961 "Single Sign On - Include Azure Databricks"
Azure Databricks is not listed in the Single Sign On (SSO) list for data sources and that has been available for quite a while now. https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-bi

"You can also publish Power BI reports to the Power BI service and enable users to access the underlying Azure Databricks data using single sign-on (SSO), passing along the same Azure Active D

[2022-07-21 15:00] bishalgoswami commented on #3961
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-07-21 15:07] btharunkumar opened #3962 "Request for maximum count of parallel paginated report pages export"
I request the team to add the maximum number of parallel paginated report pages export for each capacity
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b2a51d-0025-3209-a1c1-db3362b909bb
* Version Independent ID: a952e5a8-acf6-31cc-43ff-77cef73b2a9e
* Content: [Export Power BI embedded analytics reports API - Power BI

[2022-07-21 16:03] mberdugo commented on #3962
Thanks, for your question, @btharunkumar.
For information about exporting paginated reports, see [Export paginated report to file](https://docs.microsoft.com/power-bi/developer/embedded/export-paginated-report).
There, you'll find the following:
[PPU concurrent requests](https://docs.microsoft.com/power-bi/developer/embedded/export-paginated-report#ppu-concurrent-requests).
![image](https://user-i

[2022-07-21 16:19] mberdugo commented on #3926
Hi, @ConstructionProject. Thanks for your question, and sorry for the delayed response. I sent your question to the developers, and they said that matrix based custom visuals don’t support conditional formatting and we didn’t do anything explicit to support CF for cell values (though it might just be enabled by default).
I hope this clarifies things.

[2022-07-21 16:38] danmyhre opened #3963 "OneDrive"
The PBI team needs to stop referring to this as OneDrive. This is SharePoint tied to a Microsoft 365 unified group. OneDrive is unique type of SharePoint site that is directly associated with a user. That is not what is being linked to a PBI workspace. Using the wrong terms causes confusion.

To be even more clear, it isn't even a SharePoint site that the workspace admin is selecting, they are pic

[2022-07-21 17:00] bishalgoswami commented on #3963
Thanks for your comment, @danmyhre. This issue has been assigned to the doc author for review.

[2022-07-21 17:36] btharunkumar commented on #3962
I am using Premium capacity for this, When I try to export a report 50 times in parallel,  I am able to export only 25 reports in parallel and rest are in failed state.

[2022-07-21 22:42] sanjaydatasciencedojo commented on #3948
Email from MIcrosoft Support

***
"This is a free trial version, to remove this label, a capacity must be purchased".

This notification banner was recently enabled. Its purpose is to notify customers that they are embedding using the free trial tokens for authentication. If the customers seeing these messages are using free trial tokens ( without using a Premium capacity ) then this is expected.

[2022-07-21 22:44] #3948 closed

[2022-07-22 14:09] brojek92 opened #3964 "Tickets data"
Hello,

I am currently trying to use the Zendesk connector for Power BI and I am able to load in some data such as metrics, but I am not able to load in data about tickets. Was wondering if there is any way to fix this? Thank you!

Brenna

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2231f5c7-c73c-0b80-d6b9-5adf207a6b

[2022-07-22 15:00] bishalgoswami commented on #3964
Thanks for your comment, @brojek92. This issue has been assigned to the doc author for review.

[2022-07-22 20:27] electrifiedg opened #3965 "Documentation Feedback"
Hi,

The purpose of this feedback is to inform some documentation typos:

The example should say "from 0.25 to 25%"

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5362a0-2148-3de0-fd60-a3fe5d06fe91
* Version Independent ID: 1967384e-308d-cf6f-ad5f-cde6e5b741b3
* Content: [Publish from Power BI Desktop - Pow

[2022-07-22 21:00] bishalgoswami commented on #3965
Thanks for your comment, @electrifiedg. This issue has been assigned to the doc author for review.

[2022-07-24 09:26] #3933 closed

[2022-07-25 09:13] Nickbursey commented on #3380
Following this as all of our customers are either charities, or ESG investment organisations...carbon emissions reporting is mandatory and on one hand we're pushing them to join forces with us - an MSP - for their billing and management of MS services...whilst on the other hand penalising them by not allowing them access to this vital data.

Sort it out Microsoft!

[2022-07-25 10:42] btharunkumar commented on #3962
Could you please let me know if the below table is same for Power BI reports  and Paginated reports
![image](https://user-images.githubusercontent.com/100213908/180759112-e302a816-9bf3-4f28-814f-27117213d551.png)

[2022-07-25 13:36] chandleya opened #3966 "Profiler advice is outdated and potentially just wrong"
SQL Profile is deprecated and not supported on Azure SQL at all. This content should be revised with advice on extended events or point to extended event documentation, preferably a location with detailed explanations for Azure SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 683b70c5-16bc-6d10-0433-a39a6be16995
* V

[2022-07-25 14:44] timplMSFT opened #3967 "Update the "Considerations and limitations" section of the article"
Under the "Considerations and limitations" section at the bottom of this page it says the following:

When using Power Automate to export a paginated report that's larger than 20 MB, it's likely that the export will fail.

This seems inaccurate based on my testing and my customer's (Accenture) testing as we've been able to consistently report exports of well over 20MB (up to 100MB) to successfully

[2022-07-25 15:00] bishalgoswami commented on #3967
Thanks for your comment, @timplMSFT. This issue has been assigned to the doc author for review.

[2022-07-26 00:32] arkansang opened #3968 "Outdated Power BI Formatting UI"
The Format Page icon has changed/moved in a recent Power BI update

![image](https://user-images.githubusercontent.com/48665866/180897194-8e9cf537-f810-4457-aa85-71887393c7d9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc4f82a-1cec-444c-8561-c02aa38caa96
* Version Independent ID: c05253d9-f12e-b2ee-763f-96e4a7

[2022-07-26 01:00] bishalgoswami commented on #3968
Thanks for your comment, @arkansang. This issue has been assigned to the doc author for review.

[2022-07-27 09:00] NV2601 opened #3969 "Is it possible to do Grouping in Direct Query with more than 10 groups"
I tried creating more than 10 groups in Direct Query, But Power BI does not allow to create more than 10 Groups.
Is there any way i can create more than 10 groups on my data column which is using Direct Query ?

Any permissions which Admin can update and change this limit to more than 10 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-07-27 09:00] bishalgoswami commented on #3969
Thanks for your comment, @NV2601. This issue has been assigned to the doc author for review.

[2022-07-27 12:41] KesemSharabi commented on #3906
Hi @ibTnJohn,

After consulting with the product team, I removed the sentence about the A SKUs from [How to purchase Power BI Premium](https://docs.microsoft.com/power-bi/enterprise/service-admin-premium-purchase).

Thank you for bringing this into our attention.

Kesem

[2022-07-27 20:44] scottyoleary opened #3971 "Using A1-A3 for Export Power BI paginated reports with Power Automate"
Hello!

My question is whether we can use A1-A3 SKUs to deploy a solution like this for a client.  The "Prerequisites" section states that this solution must use A4-A6 (or P SKUs).  I have tested this with A1 and it worked fine.  Please let me know any feedback you have on this.  Thank you!

![image](https://user-images.githubusercontent.com/58477891/181367969-863aa182-420a-4dc9-842e-3037706f0f04.

[2022-07-27 21:00] bishalgoswami commented on #3971
Thanks for your comment, @scottyoleary. This issue has been assigned to the doc author for review.

[2022-07-27 22:22] vajnorcan opened #3972 "Missing the scenarios of adding visuals from file / app source and other"
One of the questions we have is that what happens to the Certified Visual that's been added to the OrgLibrary via AppSource (via reference so the updates are automatically propagated) when this visual is removed from the AppSource by developer !?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 746e3f8f-68fd-b7d2-f61e-6b

[2022-07-27 23:00] bishalgoswami commented on #3972
Thanks for your comment, @vajnorcan. This issue has been assigned to the doc author for review.

[2022-07-28 08:47] NihanthB opened #3975 "Good"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers?ta

[2022-07-28 09:00] bishalgoswami commented on #3975
Thanks for your comment, @NihanthB. This issue has been assigned to the doc author for review.

[2022-07-28 16:43] mberdugo commented on #3972
Thanks for your question, @vajnorcan. I don't know the answer to that, but I'll ask and get back to you.

[2022-07-28 17:02] SvenAelterman opened #3976 "Clarify support (or not) for "Virtualized Environment""
This page, under the heading "Installing Power BI Desktop on remote machines", contains this statement: "Power BI Desktop is not supported in Virtualized Environment (eg. Citrix)."

This statement needs clarification. Does this refer to application layering/virtualization, or to technologies like RemoteApp, or to any kind of virtual machine?

On a smaller note, the sentence needs some grammar/typo

[2022-07-28 17:03] SvenAelterman commented on #3976
Further clarification that would be helpful is whether Power BI Desktop is supported in a multi-session scenario like AVD.

[2022-07-28 17:06] #3926 closed

[2022-07-28 17:09] mberdugo commented on #3962
Hi, @btharunkumar, that's a good question. I'll try to get you confirmation in the next few days.

[2022-07-28 17:15] mberdugo commented on #3968
Thanks for pointing this out to me, @arkansang. I'll try to update the tutorial when I can.

[2022-07-28 19:00] bishalgoswami commented on #3976
Thanks for your comment, @SvenAelterman. This issue has been assigned to the doc author for review.

[2022-07-30 00:19] peter-myers commented on #3966
Hi @chandleya - this article is about using SQL Server Profiler to trace SQL Server and Analysis Services workloads. It's not about tracing Azure SQL Database workloads.

[2022-07-30 00:19] #3966 closed

[2022-07-31 03:27] pthomas848 opened #3979 "Service principal"
Is the app available through connecting a service principal with the appropriate permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f8dd20-599d-ab7f-a1db-7e2b5310abb1
* Version Independent ID: 897a9588-8a69-dc64-6722-fd2c731f0f03
* Content: [Connect to the Emissions Impact Dashboard - Power BI](https://docs.

[2022-07-31 03:28] pthomas848 opened #3980 "Service principal"
Is the app available through connecting a service principal with the appropriate permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f8dd20-599d-ab7f-a1db-7e2b5310abb1
* Version Independent ID: 897a9588-8a69-dc64-6722-fd2c731f0f03
* Content: [Connect to the Emissions Impact Dashboard - Power BI](https://docs.

[2022-07-31 03:29] #3980 closed

[2022-07-31 05:00] bishalgoswami commented on #3979
Thanks for your comment, @pthomas848. This issue has been assigned to the doc author for review.

[2022-08-01 11:26] mberdugo commented on #3972
Hi, @vajnorcan. The answer I got to your question is that as long as we don’t remove it from Power BI internal deployment, the visual will render as it did prior to it being delisted from AppSource.
We usually don’t deprecate from internal deployment.
I'll add this information to the doc.
Thanks again for your question and helping us improve our documentation.

[2022-08-01 11:26] #3972 closed

[2022-08-01 16:31] alp13 opened #3981 "Unable to update Tracking Cycle following directions"
Directions and screenshot for updating the tracking cycle do not seem to be correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ac2aa1-b899-184c-10c3-7909aa32bff8
* Version Independent ID: 17e2b2b8-02c5-fcf0-32ab-7f3ef2eb271f
* Content: [Create scorecards and manual metrics - Power BI](https://docs.microsoft.com/

[2022-08-01 17:00] bishalgoswami commented on #3981
Thanks for your comment, @alp13. This issue has been assigned to the doc author for review.

[2022-08-02 18:12] andreabichsel commented on #3979
@pthomas848 - No, although users may gain permissions needed using a service principal, step 7 of connecting to EID (OAuth) is not able to connect via a service principal. - @rosode

[2022-08-02 20:37] FelipeCostaGualberto opened #3983 "Documentation Error in Page Navigation API"
Hi, refer to link: [https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/page-navigation](https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/page-navigation)

Where it is written

[code]

should be

[code]

The correct property name is `detail`, not `details`.

[2022-08-02 21:00] bishalgoswami commented on #3983
Thanks for your comment, @FelipeCostaGualberto. This issue has been assigned to the doc author for review.

[2022-08-03 16:29] JennaW666 opened #3987 "The Figure and the Description of the Gauge charts section don't match"
[Enter feedback here]

Hi,

The Figure and the Description of the Gauge charts section don't match.
[https://user-images.githubusercontent.com/110555152/182658019-26b859d3-9954-4680-9653-0cd0fe6944d4.png](url)
[https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-types-for-reports-and-q-and-a#gauge-charts](url)

Likely the wrong Figure is embedded in the webpage, because everyt

[2022-08-03 17:00] bishalgoswami commented on #3987
Thanks for your comment, @JennaW666. This issue has been assigned to the doc author for review.

[2022-08-03 17:34] MadPacUte opened #3988 "Zendesk App able to write"
Hi,

I was having one of our admins try to connect data to the Zendesk template app. However, it states that the application would be able to read data and WRITE data. I just want to understand why they would need write access. If that is a recent change or at least update the screenshot to include this for future users.

Thanks,

Randall Madsen

---
#### Document Details

⚠ *Do not edit this sect

[2022-08-03 18:59] nstraw opened #3989 "No admin-consent permissions : why ?"
Hi doc team,

We are confused about the statements regarding admin role and admin-consent permissions (cf. below).

Can you elaborate ? What happens if the app has been granted those permissions ?

Does it mean that we do not need to add permissions to the registered app if the settings "Allow service principals to use read-only admin APIs" is enabled in the admin portal for this app ? As describe

[2022-08-03 19:00] bishalgoswami commented on #3989
Thanks for your comment, @nstraw. This issue has been assigned to the doc author for review.

[2022-08-03 19:00] bishalgoswami commented on #3988
Thanks for your comment, @MadPacUte. This issue has been assigned to the doc author for review.

[2022-08-04 03:16] tolarianNZ opened #3990 "Grammatical error"
Duplicate letter "A" under "Planning your capacity size in advance" section, last paragraph, 5th sentence.

<img width="537" alt="image" src="https://user-images.githubusercontent.com/32700672/182755418-e2a31eb4-22d9-4d96-afaa-a1efb8ece273.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f728b16f-4072-f818-5b3d-9ce

[2022-08-04 05:00] bishalgoswami commented on #3990
Thanks for your comment, @tolarianNZ. This issue has been assigned to the doc author for review.

[2022-08-04 12:50] KesemSharabi commented on #3983
Hi @FelipeCostaGualberto,

I'm looking into this.

Thanks for your comment,

Kesem

[2022-08-04 14:15] KesemSharabi commented on #3983
Hi @FelipeCostaGualberto,

Thank you for spotting this typo and for letting us know.

After confirming with the engineering team, I changed `event.details.newPage` to `event.detail.newPage` in [Add an event handler](https://docs.microsoft.com/javascript/api/overview/powerbi/page-navigation#add-an-event-handler).

Thanks again for getting involved!

Kesem

[2022-08-04 14:15] #3983 closed

[2022-08-04 14:20] lordneeko opened #3991 "Needs documentation on how to format filter strings in this action"
[Enter feedback here]
This page needs to provide examples (and string formatting examples) of applying report and page level filters to the export action.  those used to creating filters in M-code and DAX won't know that this is a totally different format of filter strings.  Or at least provide a reference link to where those formats are defined.

---
#### Document Details

⚠ *Do not edit this sec

[2022-08-04 15:00] bishalgoswami commented on #3991
Thanks for your comment, @lordneeko. This issue has been assigned to the doc author for review.

[2022-08-04 18:11] gfawcett1 opened #3992 "Need a table to summarize options"
It would help this documentation if it summarized the functionality and licensing requirements of the different home/guest combinations -- something like this:

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/gefawcet/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel=File-List
href="file

[2022-08-04 19:00] bishalgoswami commented on #3992
Thanks for your comment, @gfawcett1. This issue has been assigned to the doc author for review.

[2022-08-04 22:06] sergordon opened #3993 "Bind to parameter option is not available"
Hi, I see that this document is updated (Article 06/17/2022), how ever I am unable to get the dynamic M parameter works, even following step by step this document. I dont have Bind to parameter option. I have PBI Version: 2.107.841.0 64-bit (july 2022)

It is a valid document? Do I missing something than is not writed in the document?

I'll really appreciate any help.

Thanks

---
#### Document De

[2022-08-04 23:00] bishalgoswami commented on #3993
Thanks for your comment, @sergordon. This issue has been assigned to the doc author for review.

[2022-08-05 15:13] Blessvskp opened #3995 "POWER BI-Fields pane do not show field names"
I am totally new to power BI. After getting data, in the fields pane on the right side, field names are not shown for my data. Instead fieldnames with sigma sign in the beginning is shown for the data I got.

In order to generate line graphs should a report or table should be generated first? I am not able to create either of them. I am badly in need of generating visuals for my data. Step by step

[2022-08-05 17:00] bishalgoswami commented on #3995
Thanks for your comment, @Blessvskp. This issue has been assigned to the doc author for review.

[2022-08-06 18:43] UristMcFarmer opened #3996 "Data Source for the Exercise has Changed"
The data source for this exercise (https://www.bankrate.com/retirement/best-and-worst-states-for-retirement) has changed and required columns no longer exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f510cb29-4222-72f8-ff8e-58553c856234
* Version Independent ID: cbde387d-8cbc-50ed-5665-54985b9ebcc1
* Content: [Tu

[2022-08-06 19:00] bishalgoswami commented on #3996
Thanks for your comment, @UristMcFarmer. This issue has been assigned to the doc author for review.

[2022-08-07 14:06] KesemSharabi commented on #3990
Hi @tolarianNZ,

Thank you for spotting this typo and for letting us know.

The typo was fixed - see [Planning your capacity size in advance](https://docs.microsoft.com/power-bi/enterprise/service-premium-capacity-manage-gen2#planning-your-capacity-size-in-advance).

Thanks again for getting involved.

Kesem

[2022-08-07 14:06] #3990 closed

[2022-08-08 14:44] Acteon-Jon opened #3997 "PowerBI Admin API access - Successful OAuth authentication, followed by 403 : Forbidden"
I hope you can assist;
I've followed the steps here repeatedly, with the intention to access the Power BI **read-only** Admin API's via a CData REST connector (within a Data Warehouse application).

Each time I can use the ServicePrincipal to authenticate (wtih Client Secret) against; https://login.microsoftonline.com/59c9ee96-c521-4815-aabd-bd304a261708/oauth2/token
Each time the token received i

[2022-08-08 14:57] Acteon-Jon commented on #3262
I've raised such a similar issue just now, almost 12 months after this one which remains open - can I ask if there was a resolution that can be noted here to help anyone else with similar issues?  Thanks!

[2022-08-08 15:00] bishalgoswami commented on #3997
Thanks for your comment, @Acteon-Jon. This issue has been assigned to the doc author for review.

[2022-08-09 13:27] mberdugo commented on #3968
The screenshots for the tutorial have been updated. Thanks again.

[2022-08-09 13:27] #3968 closed

[2022-08-09 13:47] mberdugo commented on #3962
@Alonbaram, can you answer this question about the maximum number of parallel paginated report pages export for each capacity?

[2022-08-09 20:02] RodrigoRibeiro1995 commented on #3886
Has this been resolved?

[2022-08-10 14:03] RodrigoRibeiro1995 opened #3998 "Web.Contents failed to get contents from 'https://api.tiingo.com/tiingo/daily/FB' (404): Not Found"
[Enter feedback here]
How can I edit this App so I can fix what appears to broken ticker - I believe FB changed to META recently and this has been broken for a few days now:

Web.Contents failed to get contents from 'https://api.tiingo.com/tiingo/daily/FB' (404): Not Found.

![image](https://user-images.githubusercontent.com/33553521/183921078-a6dfd628-354f-47cd-aa20-05e39519716a.png)

[2022-08-10 15:01] bishalgoswami commented on #3998
Thanks for your comment, @RodrigoRibeiro1995. This issue has been assigned to the doc author for review.

[2022-08-10 15:45] AkshayDutta opened #3999 "Need to add premium capacity Gen 2 within document."
[Hello Team, can you please add Power BI premium capacity Gen 2 within this document]

Photos attached
![MicrosoftTeams-image](https://user-images.githubusercontent.com/108328248/183949380-f83579cc-f2ac-42b9-b650-720878a201ff.png)
<img width="486" alt="Capture" src="https://user-images.githubusercontent.com/108328248/183949514-ef91a154-b531-4a65-875b-5c0f237b1a0d.PNG">

---
#### Document Details

[2022-08-10 17:00] bishalgoswami commented on #3999
Thanks for your comment, @AkshayDutta. This issue has been assigned to the doc author for review.

[2022-08-10 19:17] lbendlin opened #4000 "issue is fixed"
connection owners can now perform the expected actions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50beda6a-7bfb-7a1a-72de-ca434c1eccbd
* Version Independent ID: 50beda6a-7bfb-7a1a-72de-ca434c1eccbd
* Content: [Known issue - Gateway data source owners can't update data source credentials - Power BI](https://docs.mi

[2022-08-10 21:00] bishalgoswami commented on #4000
Thanks for your comment, @lbendlin. This issue has been assigned to the doc author for review.

[2022-08-10 21:46] djurecic0 opened #4001 "Manually setting a tooltip page is not supported by Button visual"
The button visual does support tooltips, but does not support manually setting a tooltip page as the tooltip. This limitation is not clear from the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Version Independent ID: 5b620628-1c10-b0bb-bd4d-1fd229260ea1
* Content: [Crea

[2022-08-10 23:00] bishalgoswami commented on #4001
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-08-11 01:26] arkansang commented on #3968
No worries, thanks for updating :)

[2022-08-11 15:13] gertch commented on #3879
As far as I know everybody is on Gen 2 by now.  The portal feature and this page should be retracted or adapted to Gen2.  We need clear communication what refresh limits we have on Gen 2 infrastructure. Nothing is "unlimited".

[2022-08-11 22:33] charris22 opened #4002 "Consumption section is incorrect"
This line is not correct: "When DirectQuery is available for a dataflow, connecting to a dataflow using the **Power BI dataflows** connector prompts you to choose whether to connect to tables through DirectQuery or Import."

To get this to work, I had to use the **Dataflow** connector (not the Power BI dataflow connector). Either a bug in the product or it changed.

Here is working M code. Note it

[2022-08-11 23:00] bishalgoswami commented on #4002
Thanks for your comment, @charris22. This issue has been assigned to the doc author for review.

[2022-08-12 07:59] lcallewier opened #4003 "confusing and probably wrong information"
[Enter feedback here]
Hello,
I think in the sentence "While this feature is in Preview, reports created using the multi-dimensional approach cannot be published to the Power BI service, and doing so will result in errors when the report is opened within the Power BI service"  the word "multi-dimensional" should be replaced with "relational". As the multi-dimensional approach is the default way.
Be

[2022-08-12 09:00] bishalgoswami commented on #4003
Thanks for your comment, @lcallewier. This issue has been assigned to the doc author for review.

[2022-08-12 12:14] francesco1119 opened #4004 "Is Azure Cost Management deprecated?"
Is [Azure Cost Management for Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-azure-cost-management) still maintained?

The same goes for [Cost Management Power BI App for Enterprise Agreements](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-azure-cost-management), it looks like it's deprecated.

Thank you.

---
#### Document Details

⚠ *Do

[2022-08-12 13:00] bishalgoswami commented on #4004
Thanks for your comment, @francesco1119. This issue has been assigned to the doc author for review.

[2022-08-12 18:13] jonwbstr commented on #3922
I spoke to a MS Pre-Sales advisor and here is the update I received. This helped us tremendously in choosing the right SKU. We understand it's still a rough guess but it's simple and gets us in the ballpark much better than previous guidance.

TLDR: Use the memory of the msmdsrv.exe process and use the following formula Mem+mem+mem*0.7

Eg: msmdsrv.exe is using 500MB: 500+500+500*.7 = 1,350MB.

Fu

[2022-08-14 16:44] francesco1119 commented on #4004
Hello @davidiseminger , let me know what else do you need to debug this issue.
We have been trying to connect to both templates with maximum privilege and several Azure accounts, nothing works.

If you search into https://community.powerbi.com/ you will see that there are many customers with the same issue.

Thank you

[2022-08-15 20:59] bonwhit opened #4005 "Capacity assignment rights required"
The document states: "You may not be able to change it. If not, then contact your Power BI Premium capacity admin to give you assignment rights to add your workspace to a Premium capacity."

It would be very helpful if this was listed clearly under the Requirements section. I wasted quite a bit of time researching this issue before I found the answer, and capacity assignment ability is obviously r

[2022-08-15 21:00] bishalgoswami commented on #4005
Thanks for your comment, @bonwhit. This issue has been assigned to the doc author for review.

[2022-08-16 10:36] adamguk opened #4006 "'Target' field not visible."
Step 7 of the reference page mentions a 'Target' field. When creating a KPI the only available fields are 'Value', 'Trend Axis', and 'Trend'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08417ab2-2284-2bef-1573-cd3133c0ade6
* Version Independent ID: afb0a0e3-e502-92b9-4a82-606bf6ed8334
* Content: [Key Performance Ind

[2022-08-16 11:00] bishalgoswami commented on #4006
Thanks for your comment, @adamguk. This issue has been assigned to the doc author for review.

[2022-08-16 13:38] TimoRiikonen opened #4007 "Automated tooltips don't work"
- Automated tooltips don't work any more.
- These instructions are in a confusing order: you should start from the most simple case and from there to gradually go to more complex cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Version Independent ID: 5b620628-1c10-b0bb-bd4d-

[2022-08-16 15:00] bishalgoswami commented on #4007
Thanks for your comment, @TimoRiikonen. This issue has been assigned to the doc author for review.

[2022-08-16 16:23] bonwhit commented on #4005
Instead of the above recommendation, it might be better to state something like "Workspaces created before the Premium license was added (like My Workspace) will not be created with the diamond. Workspaces created after the Premium license was added will be created by default with the diamond." Replace "diamond" with better phrasing if desired.

[2022-08-16 20:02] thatmattwade opened #4008 "Is the Power BI component in Power Apps supported in GCC High?"
The table at this section: https://docs.microsoft.com/en-us/power-bi/enterprise/service-govus-overview#power-bi-feature-availability

is missing any reference to displaying Power BI tools in a Power App. We can't confirm that this feature works in our GCC H tenant and I'd like to see this called out in this table even if it is supported. That way we know whether it's something we can expect to wor

[2022-08-16 21:00] bishalgoswami commented on #4008
Thanks for your comment, @thatmattwade. This issue has been assigned to the doc author for review.

[2022-08-17 16:06] valenciajdev opened #4009 "The number provided for the US directs customers to use a website to open a ticket. They need to speak with a human being."
[Enter feedback here]
The customer is lock out of their M365 Admin Console and needs to speak with a person of CSS to unlock their account. The number provided for the US instruct to open a ticket through the M365 Console or the Support Site contradicting what is stablished on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-08-17 17:00] bishalgoswami commented on #4009
Thanks for your comment, @valenciajdev. This issue has been assigned to the doc author for review.

[2022-08-17 19:43] usvjosh opened #4010 "Help with data in space role not showing in mobile app"
Hello,

We have followed the instructions on this page and are testing the mobile app on an iphone. The user in the owner role does not see the role show up under the "your role:" area of the mobile app. We have no one else using this yet, this is the first user, our first time setting it up.

I confirmed the connection from PBI to Azure is working. I ensured we are using Azure AD Security Groups

[2022-08-17 21:00] bishalgoswami commented on #4010
Thanks for your comment, @usvjosh. This issue has been assigned to the doc author for review.

[2022-08-18 03:37] nghtchld opened #4011 "Link information very out of date and unhelpful"
The link from the Generate with Power Query section is from 2013 and very out of date and unhelpful. Surely there is a better more recent link or even a proper standardised Date Table Power Query that someone at Microsoft has coded to show as an example, given how important it is and how hard it can be to get right!
(https://docs.microsoft.com/en-us/power-bi/guidance/model-date-tables#generate-wit

[2022-08-18 05:01] bishalgoswami commented on #4011
Thanks for your comment, @nghtchld. This issue has been assigned to the doc author for review.

[2022-08-18 08:54] paulinbar commented on #4010
Hi @usvjosh, thanks for reaching out. I am the tech writer who wrote the article you are referring to. There a several things you mentioned that I am not sure about, so I am connecting you with the product group who I am sure will be interested in your experience, and then hopefully if there is anything in the documentation that can be made more clear I will happy to make those changes.

@mshenhav

[2022-08-18 10:50] peter-myers commented on #4011
Hi @nghtchld - thanks for taking the time to provide feedback. While Chris' blog entry might be old, it's still relevant and provides a working example of how to achieve a date table with Power Query. There are many other examples on the internet. So, if this example doesn't suit your needs, we encourage you to do a web search to find one that does.

[2022-08-18 10:50] #4011 closed

[2022-08-18 12:01] paulinbar commented on #4010
Hi Josh (@usvjosh), the product group at this point suspects either a bug or the wrong type of security group, and suggests that the best way to proceed would be for you to contact them through Power BI Mobile Support at mpbisup@microsoft.com. I would include what you wrote here, and perhaps a bit more detail about the security group you used.
Good luck and let me know if I can be of further assis

[2022-08-18 12:20] usvjosh commented on #4010
Sounds good. I've got a ticket open with power bi support. Thanks for the help!

[2022-08-18 12:20] #4010 closed

[2022-08-18 19:28] mihart commented on #4009
Hi @valenciajdev ,
Just to be sure that I understand.  The customer is locked out of M365 Admin console and the documentation tells them to log into that Admin console to open a ticket.  Which is, of course, not possible.  I get that.
But the page you reference is for Power BI sign-in issues, not M365.  Here are some M365 articles and Community posts that may help.  If not, let me know. I've also

[2022-08-18 21:29] valenciajdev commented on #4009
Michele,

The user is locked out of M365, Outlook, Team, PBI, etc. She realized that she can't no longer access her PBI Report and the Admin of M365 is not around. Therefore she tried to open a ticket with CSS by using the phone.

Warm regards,

Jose Valencia
Analytics Technical Specialist (Power BI & Synapse)
+1 (617) 528-5683 | ***@***.******@***.***> | 5 Wayside Road, Burlington, MA 01803

[Mic

[2022-08-19 09:43] MattHson opened #4013 "Timezone question"
Hi, Been using the Premium Capacity Utilization And Metrics and while I've found it useful I have a question regarding the Refresh Detail on the Refresh sheet.

The Timestamp... What time region is this in? I'm in the UK and it appears to be an hour & 20 mins behind & starting to wonder if the time is set to GMT/UTC or BST?

---
#### Document details

⚠ *Do not edit this section. It is required fo

[2022-08-19 11:01] bishalgoswami commented on #4013
Thanks for your comment, @MattHson. This issue has been assigned to the doc author for review.

[2022-08-19 15:15] mihart commented on #4009
Hi @valenciajdev ,
Did any of the links I sent solve the problem?  Does the user have a Support plan?  If she has Power BI Pro or Premium, then she has free access to Support. Is she assigned the Admin role in her org?  Is there another person there with Admin permissions? Has she emailed Support or posted?  Did she try asking the Community community.powerbi.com? I would need to know a lot more to

[2022-08-19 15:15] #4009 closed

[2022-08-19 16:41] otravers opened #4014 "Deprecated JavaScript filters link"
The link to Javascript filters is deprecated:
https://github.com/Microsoft/PowerBI-JavaScript/wiki/Filters#page-level-and-visual-level-filters

![image](https://user-images.githubusercontent.com/3731532/185666871-0ae57af9-46b5-442e-b4d6-7ba5f9eab0c6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8345d077-5dab-e3b0

[2022-08-19 17:00] bishalgoswami commented on #4014
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-08-21 13:39] paulinbar opened #4015 "Request for better explanation."
Please expand as the setting and setting name create a double negative, which this document offers no explanation on how to address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ccd8030-3b66-0de6-ce3e-816107259769
* Version Independent ID: 1ccd8030-3b66-0de6-ce3e-816107259769
* Content: [Dataset Security admin setti

[2022-08-21 15:00] bishalgoswami commented on #4015
Thanks for your comment, @paulinbar. This issue has been assigned to the doc author for review.

[2022-08-21 15:31] AnkitKukreja19 opened #4016 "One Drive Option Not visible"
Hi! Team,

I'm following this documentation https://docs.microsoft.com/en-us/power-bi/connect-data/service-get-data-from-files
and as per the doc, I should see the One Drive option, but I cannot see it. I'm using the August'22 version.

Please guide me am I doing something wrong?

[2022-08-21 17:00] bishalgoswami commented on #4016
Thanks for your comment, @AnkitKukreja19. This issue has been assigned to the doc author for review.

[2022-08-22 09:21] paulinbar commented on #4015
Hi @loryanstrant. Well I heard back and I'm sorry to say that there is no further information regarding how to use that switch other than what you see in the UI. Apparently this switch was added for some security-related issues and is so extreme in its effects that it is basically not really practical to use. The product team is currently working to solve these issues more holistically and with mo

[2022-08-22 10:43] Acteon-Jon commented on #3997
Thanks @bishalgoswami much appreciated.
Hi @paulinbar - I'm not sure where this falls on your to-do list, not high-up I suspect (!) but would you be able to give any indication of timeframe for me?
Thanks in advance,
Jon.

[2022-08-22 10:52] loryanstrant commented on #4015
Thanks so much Paul, but I've gotta say I think that outcome is even worse - they accept that there is a switch in the admin portal which is extreme in use and not practical to use, but offer no documentation to even explain that in softer terms?

I really appreciate your efforts, and I understand this is a complex issue, but the fact they can't even add an extra paragraph or two is beyond disappo

[2022-08-23 09:22] paulinbar commented on #4015
Hi again @loryanstrant. I will also take your feedback to the people I talked to. Hopefully feedback from your direction will prompt them to move this up in their list of priorities. So thanks for reaching out. I'll close this issue now but will continue to monitor the situation.

[2022-08-23 09:22] #4015 closed

[2022-08-23 09:31] paulinbar commented on #3997
Hi @Acteon-Jon, thanks for your question. Let me check with the people I worked with when I wrote the article. Hopefully they'll either be able to help or at least point you in the right direction.
In the meantime you might try the [Power BI Community](https://community.powerbi.com), or the [Power BI support page](https://support.powerbi.com)

[2022-08-23 13:24] paulinbar commented on #3997
Hi again @Acteon-Jon. The answer I got back is that they suspect your Power BI tenant admin might not have enabled the feature switch for this ability, but without knowing a specific request ID it's hard to know for sure. They rechecked the documentation and it looks ok to them. They said the best thing to do is to contact Power BI support and they'll help you figure it out.

Hope this helps. In t

[2022-08-23 13:24] #3997 closed

[2022-08-23 15:08] AnkitKukreja19 commented on #4016
Hi!

Thanks for your reply. What is the eta for this issue?

On Sun, 21 Aug, 2022, 10:30 pm Bishal Goswami, ***@***.***>
wrote:

[2022-08-23 19:57] sekaing opened #4018 ""Labels" sample does not seem to work as described"
The labels seem all to be contained in the first column only, instead of spreading across rows and columns as described, until switched to print layout.

Serge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e78cead-4fa4-cd7d-2a34-33179671d00b
* Version Independent ID: 87f8e772-35b0-c5c9-5853-b41373242a0b
* Content: [S

[2022-08-23 21:00] bishalgoswami commented on #4018
Thanks for your comment, @sekaing. This issue has been assigned to the doc author for review.

[2022-08-23 21:30] jeff-at-work opened #4019 "DirectQuery cautionary statement is missing a verb--meaning unclear"
The verb is missing in this explanation, so it does not convey meaning yet.

`However, there are some limitations associated with DirectQuery models:
Power Query/Mashup expressions can only functions that can be transposed to native queries understood by the data source.`

I believe it should ready "can only [something] functions" where something might be "include", but it's just a guess.

Thanks!

[2022-08-23 23:00] bishalgoswami commented on #4019
Thanks for your comment, @jeff-at-work. This issue has been assigned to the doc author for review.

[2022-08-24 06:12] thesureshpatel opened #4021 "Inserted Wrong link instead of nodejs"
Under Code sample specifications=>
![Screenshot (1)](https://user-images.githubusercontent.com/72536375/186343745-73530835-cc87-4931-9aeb-a98368209cb6.png)
 Under Prerequisites => Under Code dependencies , inside nodejs section instead of nodejs link you have provided NET Framework 4 link please update it as soon as possible
Thanks and Regards,
Suresh Patel
sureshpatel.js@gmail.com

[Enter feedbac

[2022-08-24 06:34] mberdugo commented on #4021
Thank you so much for pointing this out to me, @thesureshpatel! I changed the link to point to the main node.js download page - https://nodejs.org/en/download/
It should be live by tomorrow.

[2022-08-24 07:00] bishalgoswami commented on #4021
Thanks for your comment, @thesureshpatel. This issue has been assigned to the doc author for review.

[2022-08-24 09:53] paulinbar commented on #3989
Hi @nstraw, sorry for getting this only now. I will need to check with the product team about this. I'll report back as soon as I hear, and if necessary will update the documentation.
Thanks for reaching out. As I said, I'll get back in touch as soon as I have an answer.

[2022-08-24 10:03] paulinbar commented on #3992
Hi @gfawcett1, thanks for your suggestion. I will bring it to the attention of the feature team to see if we can put something like you suggest into the documentation. Thanks again!

[2022-08-24 10:21] paulinbar commented on #3988
Hi @MadPacUte, thanks for your inquiry. I am checking and will get back to you.

[2022-08-24 10:33] paulinbar commented on #3964
Hi @brojek92, thanks for reaching out with your question. @teddyberco, can you comment on this?

[2022-08-24 10:38] paulinbar commented on #3888
Hi @otravers, thanks for your comment, and sorry for only getting back to you now. Can you elaborate a bit about the context for this and your request? Is this method something you'd like to see mentioned in the documentation? Did Adam's method solve a particular problem you had? I'd just like to understand a little more about the scenario that led you to this.
Thanks!

[2022-08-24 10:44] paulinbar commented on #3888
Hi again, @otravers.
Oh, I see - you are probably referring to these limitations?

Some experiences aren't available to [guest users who can edit and manage content in the organization](https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal-export-sharing#allow-external-guest-users-to-edit-and-manage-content-in-the-organization). To update or publish reports, guest users need to use

[2022-08-24 13:19] otravers commented on #3888
Hi @paulinbar, yes that's exactly what I'm referring to. I thought it would be worth mentioning as the workaround mentioned by Adam does let one publish datasets/reports from Power BI Desktop.

[2022-08-24 15:29] cchapin2020 opened #4022 "Need a GOV version of this page"
[Enter feedback here]
I was linked to this page from https://docs.microsoft.com/en-us/power-bi/enterprise/service-govus-overview#power-bi-urls-for-general-site-usage. It would be good to have this page include the GOV versions in the General Site Usage table. I realize that they are included on the page that I started at, but if a Gov user doesn't get to this page through the link, they would be t

[2022-08-24 15:50] cchapin2020 opened #4023 "No DNS record found for service telemetry"
[Enter feedback here]
The Service Telemetry hostname in the table does not resolve:
dc.services.visualstudio.us

Resolve-DnsName dc.services.visualstudio.us
Resolve-DnsName: dc.services.visualstudio.us : DNS name does not exist.

Should this host be able to resolve in DNS publicly or is this the incorrect hostname?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-08-24 17:00] bishalgoswami commented on #4023
Thanks for your comment, @cchapin2020. This issue has been assigned to the doc author for review.

[2022-08-24 17:00] bishalgoswami commented on #4022
Thanks for your comment, @cchapin2020. This issue has been assigned to the doc author for review.

[2022-08-24 19:01] kfollis commented on #4022
Hi @cchapin2020 - thank you for the feedback. I've reviewed the documentation experience, and I see that it could be frustrating to determine all of the correct endpoints for a gov allowlist. The articles currently cross-link to each other, though I think the link in the "important" note in the general allowlist article could be better targeted.  I can make that change today, and will consider how

[2022-08-24 19:17] kfollis commented on #4023
Hi @cchapin2020 - I believe the behavior you're seeing is by design, but I will verify with the engineering team, just in case there's a typo. The parent domain - visualstudio.us - does resolve with NSLookup.

[2022-08-24 21:08] kfollis commented on #4023
@cchapin2020 - for context: are you testing the connectivity from within a government cloud environment. If so, which one? Are you experiencing connectivity issues, or are you simply validating the endpoints?

[2022-08-24 21:53] kfollis commented on #4008
Hi @thatmattwade - thanks for the feedback. I did a little research, and the info that you need is available via this doc: https://docs.microsoft.com/en-us/power-platform/admin/powerapps-us-government. There is a related download with a table detailing feature parity. As the Power BI table is intended to highlight only those areas that don't have parity, I won't be adding Power Apps to the list. H

[2022-08-24 21:53] #4008 closed

[2022-08-25 05:15] Eng-Mhmwd opened #4024 "Financial Report tutorial power bi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0083e3-c11c-2462-6f0f-a166759f14c0
* Version Independent ID: 927cc95e-d442-db4d-75ae-d4a2fa64ae71
* Content: [Tutorial: From Excel workbook to stunning report in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/d

[2022-08-25 07:00] bishalgoswami commented on #4024
Thanks for your comment, @Eng-Mhmwd. This issue has been assigned to the doc author for review.

[2022-08-25 12:48] paulinbar commented on #3886
Hi @wiegelman and @RodrigoRibeiro1995 , thanks for reaching out, and sorry for the delay. I am putting a person familiar with the app into the loop.
@teddyberco, are you aware of the problem mentioned here with regard to the Analyze Popular Stocks with Power BI template app?

[2022-08-25 13:14] paulinbar commented on #3844
Hi @PrismaHans, thanks for reaching out, and sorry for the long delay in responding. I still see the Security option in the dataset's more options menu, most of the time. I am trying to figure out why sometimes it's not there - I suspect something having to do with permissions, but I don't have an answer yet. I know it's been a long time, but can you tell me exactly what role you have (Admin, Memb

[2022-08-25 14:22] paulinbar commented on #1871
Hi @dhruvinushah, sorry for the VERY delayed response. In any event, a QR code is just a representation of a link to a report. Once scanned, the code is decoded as report link and then the app opens the report as any other report, and will be able to see whatever their Power BI permissions and RLS allow them to see.  If the user does not have access, the report won’t open and a "request access" fl

[2022-08-25 14:22] #1871 closed

[2022-08-25 15:02] cchapin2020 commented on #4023
I am validating endpoints for the CX to configure their firewall access from on-prem to Azure. This is not in a gov cloud environment, the GCC environment is in Azure Commercial.

[2022-08-25 15:26] Gaibusha opened #4025 "Microsoft azzure"
Modules are very easy to understand
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/p

[2022-08-25 15:32] Gaibusha opened #4026 "Data analysis"
Easy to analyse
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrat

[2022-08-25 15:59] AnkitKukreja19 commented on #4016
Hi! @KesemSharabi and @bishalgoswami

Any updates on this?

[2022-08-25 17:00] bishalgoswami commented on #4026
Thanks for your comment, @Gaibusha. This issue has been assigned to the doc author for review.

[2022-08-25 17:00] bishalgoswami commented on #4025
Thanks for your comment, @Gaibusha. This issue has been assigned to the doc author for review.

[2022-08-25 17:31] gvggvg opened #4027 "Grouped visuals break apart"
Grouped visuals break apart after some while after some manipulations with individual visuals within a group (moving, aligning, format changing, etc.) are carried out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6669843-8752-7777-31e8-1d1e4ec96648
* Version Independent ID: b7be0303-1882-621e-a630-32895aafa84d
* Con

[2022-08-25 19:00] bishalgoswami commented on #4027
Thanks for your comment, @gvggvg. This issue has been assigned to the doc author for review.

[2022-08-25 23:49] artemus-harper opened #4028 "Bugs and suggestions in kusto query in desktop-dynamic-m-query-parameters.md"
In the images (2 of them) showing the kusto query used,
Issues:
1. The datetime format is incorrect, the hours need to be capitalized, since h refers to 12-hour time, while H refers to 24-hour time. Additionally, `" zzz"` should be appended to account for local time zone differences, or the data type should be datetimezone. Also, the second format is missing seconds.
2. Remove extra space in `make

[2022-08-26 01:00] bishalgoswami commented on #4028
Thanks for your comment, @artemus-harper. This issue has been assigned to the doc author for review.

[2022-08-26 11:58] owenrae opened #4029 "Clarification related to the Note about Version control for PBIX files"
I would like to get some clarification related to the note about version control and using auto-sync.  In the note you specifically say that you should only auto-sync PBIX files in the deployment pipeline's development stage.  I wonder if you are really saying, only auto-sync PBIX files in the deployment pipeline's "initial" stage.  In the setup we are using for our deployment pipelines we are onl

[2022-08-26 12:47] thatmattwade commented on #4008
Sorry, I don't see the information in the Power Apps link you provided. The only reference to Power BI is an on-prem data gateway, which isn't what I'm looking for. The question is whether data published in the Power BI Service (cloud) can be added as a part in a Power App, which currently doesn't work in our environment. I'd assumed it wasn't supported, hence my reference to the original Power BI

[2022-08-26 13:00] bishalgoswami commented on #4029
Thanks for your comment, @owenrae. This issue has been assigned to the doc author for review.

[2022-08-26 14:17] sergeigms opened #4030 "Goals became metrics; need to update"
[Enter feedback here]
This line:
[Power BI goals](https://docs.microsoft.com/en-us/power-bi/create-reports/service-goals-introduction) do not currently support bring your own key (BYOK)
Needs to become:
[Power BI Metrics](https://docs.microsoft.com/en-us/power-bi/create-reports/service-goals-introduction) do not currently support bring your own key (BYOK)

---
#### Document Details

⚠ *Do not edit

[2022-08-26 14:28] jalao12 opened #4032 "Power Bi PPU"
I had a Powerbi license but the PPU trial date is still counting, tried to sign out of the account completely, restart the machine and then sign in back, the trial date issue was still counting, is there a way to fix that? thank you
![image-20220825-154245](https://user-images.githubusercontent.com/112185493/186927043-00e38113-e04c-4334-9ef2-b272f1f8cee2.png)

---
#### Document Details

⚠ *Do not

[2022-08-26 15:00] bishalgoswami commented on #4032
Thanks for your comment, @jalao12. This issue has been assigned to the doc author for review.

[2022-08-26 18:49] kfollis commented on #4008
Hi @thatmattwade - there is a PDF download link with the feature parity info. You may want to connect with support to see if this is an issue in your environment or something we should flag as an exception. We strive for feature parity across cloud environments so documentation typically only highlights features that don't work.

[2022-08-26 19:16] andremcastro opened #4033 "PPU shared with Free users"
Docs says that PPU can distribute reports to free users, which is not correct. Only Premium capacity has this feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f6e1bb7-fbc5-d0a6-5285-e4a9152902bb
* Version Independent ID: ece0823b-c4c5-3acb-41bb-55e5390c0b6c
* Content: [Power BI service features by license type -

[2022-08-26 19:35] kfollis commented on #4033
Hi @andremcastro - Thanks for the feedback! I reviewed the article and the table that describes capabilities does differentiate between shared and Premium capacity. I'm not finding the statement you mention. I have asked the author to review the article for clarity, however. If I missed something, please do let me know!

[2022-08-27 17:17] artemus-harper commented on #4028
I should mention that it appears that the database GithubEvent is not visible to external users (only the ML database in demo11.westus appears to be externally viewable). I would recommend using help/samples:StormEvents, as it is the standard demo table used in the Kusto docs.

[2022-08-29 12:31] paulinbar commented on #3751
Hi @djurecic0, thanks for your feedback, and apologies for the long delayed response. Your comment caused me to review that article, and there were a number of things that needed updating, so I have done that. Your issue should have been resolved in those changes. The list view of a workspace no longer shows datasets that are in other workspaces, and I have added a note that deleting a report does

[2022-08-29 12:31] #3751 closed

[2022-08-29 13:14] paulinbar commented on #3735
Hi @denglishbi, thanks for pointing that out, and sorry for the long delayed reply. Made the change and it should be published within 24 hours. Thanks again!

[2022-08-29 13:14] #3735 closed

[2022-08-30 19:12] #4033 closed

[2022-08-30 21:32] plynch66 opened #4034 "Private DNS Zone detail is incorrect"
Hi,

The documentation states that a new Azure Private DNS Zone named 'privatelink.tip1.powerquery.microsoft.com' will be created when enabling Private Link for Power BI.

This is incorrect. The Private DNS Zone which gets created is named 'privatelink.prod.powerquery.microsoft.com'

Regards,

Paul Lynch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-08-30 21:40] maggiesMSFT commented on #4018
Hi, @sekaing -- good question! I added this to the article to make it clear how to see the view with multiple columns:
**View the report**

When you run this report in Report Builder, it appears to have only one column.

- Select Print Layout to see what it will look like when you print it.

Likewise, when you upload this report to the Power BI service and open it there, it opens with only one col

[2022-08-30 21:40] #4018 closed

[2022-08-30 23:00] bishalgoswami commented on #4034
Thanks for your comment, @plynch66. This issue has been assigned to the doc author for review.

[2022-08-31 14:02] ekiragu commented on #3993
I am experiencing the same issue, I can not see the feature to Bind Parameters on the Advanced Tab as illustrated on the document above

[2022-08-31 14:07] AndresDev777 commented on #3618
You used to be able to do it from the Power BI App, there is a hide option. It may not work with this month's release

[2022-09-01 00:18] alpkayaMSFT opened #4035 "For the cognitive services image tagging example"
[Enter feedback here]

For the cognitive services image tagging example, the instructions don't work.  I am not able to get through on the instruction where we select "anonymous" and click next. It won't work and it won't let me go through to the next step. I've asked a few others to test this out and same issue on their end.  Can we either get these instructions updated? or remove them if this no

[2022-09-01 01:00] bishalgoswami commented on #4035
Thanks for your comment, @alpkayaMSFT. This issue has been assigned to the doc author for review.

[2022-09-01 09:14] KesemSharabi commented on #4029
Hi @owenrae,

I believe you're right and that in your scenario the recommendation is to only auto sync the PBIX in the 'initial' stage, which in your case is the test stage. However, I'm going to double check this with the product and engineering team and get back to you.

Thanks,

Kesem

[2022-09-01 09:16] KesemSharabi commented on #4028
Hi @artemus-harper,

Can you please state which document you're referring to?

Thanks,

Kesem

[2022-09-01 09:19] KesemSharabi commented on #4029
Hi @owenrae,

Just confirmed with engineering and product, you don't have to use the development stage. In your case you can use the test stage.

Thanks,

Kesem

[2022-09-01 09:19] #4029 closed

[2022-09-01 11:50] KesemSharabi commented on #4016
Thanks for your comment, @AnkitKukreja19.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-09-01 11:50] #4016 closed

[2022-09-01 11:55] KesemSharabi commented on #4013
Hi @MattHson,

I'm looking into this and will get back to you shortly.

Thanks,

Kesem

[2022-09-01 11:57] KesemSharabi commented on #4005
Hi @bonwhit,

Can you please state which document you're referring to?

Thanks,

Kesem

[2022-09-01 11:59] #3998 closed

[2022-09-01 12:23] KesemSharabi commented on #3922
Hi @jonwbstr,

Thank you for your very detailed feedback. I'm going to look into this with the product team and use it to improve our documentation.

Is it safe to say that the two main thinks you couldn't find, are:

- Not enough info re the transition from Pro and PPU to Premium (mainly around Pro and PPU capacity limits)
- Not having a good mechanism for calculating the impact of dataset refres

[2022-09-01 17:28] jonwbstr commented on #3922
Well said,

I don't mind the process being complicated, it's not that bad. Tracking the
info down was the challenge. If you can confirm what I shared is reliable,
and add it to an existing or new article my goal is met.

Thanks!
-jon

On Thu, Sep 1, 2022, 8:23 AM Kesem Sharabi ***@***.***> wrote:

[2022-09-02 00:53] mihart commented on #3773
Hi @b77uw771b @paulinbar ,
The article has been updated to include the new Admin management capabilities. Thank you for bringing this to my attention .

[2022-09-02 00:53] #3773 closed

[2022-09-02 00:59] mihart commented on #3987
Hi @JennaW666 @bishalgoswami ,
Thank you for noticing this and bringing it to our attention.  The documentation has been updated and set to republish tomorrow.

[2022-09-02 00:59] #3987 closed

[2022-09-02 01:06] mihart commented on #3995
Thanks for your comment, @Blessvskp . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.)

As a begin

[2022-09-02 02:16] mihart commented on #3999
Hi @AkshayDutta ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-09-02 02:16] #3999 closed

[2022-09-02 09:02] ivoburger opened #4036 "Outdated section for upgraded apps"
Section: How to get the correct link format, Links to apps and items in apps shows
shows a picture to get links which is not available any more after you upgrade App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ed5d7c-7973-17bd-8a5a-2b80c33eab2c
* Version Independent ID: 71e8bc7e-55a5-fb95-4805-34a2be26a0ed
* Cont

[2022-09-02 09:09] paulinbar commented on #4036
Hi @ivoburger, thanks for comment. I will check this out and update in the coming days.

[2022-09-02 13:53] mberdugo commented on #3757
Thanks for your question, @jopebeni.
That statement only applies to *Block ResourceKey Authentication*.
I updated the page and clarified the issue.

[2022-09-02 13:53] #3757 closed

[2022-09-03 03:45] roberto-caeiro commented on #3087
We have the PPU license, is it possible with this license to use computed entities in dataflows?

[2022-09-04 08:36] reubster commented on #2601
Ok, that's fair enough... but do I wait 15minutes? 2 hours? 24 hours?

[2022-09-04 12:02] mberdugo commented on #4014
Thanks for pointing this out, @otravers. The RLS pages are going through a major update and this page will soon be redone, but in the meantime, I replaced the link with one that works.
Thanks again,
Mona

[2022-09-04 12:02] #4014 closed

[2022-09-04 12:02] #4021 closed

[2022-09-05 14:56] schulzalbrecht opened #4037 "Power BI references old python interpreter"
The power bi tool was using a python interpreter located on:
`C:\Users\xx\Projects\ProjectA\venv\Scripts\`

I decided delete this python interpreter and create a new one on:
`C:\Users\xx\Projects\ProjectB\venv\Scripts\`

So, I went to file > options > python scripting. And set the path to the new directory.

After doing do, my power bi is *still* referencing the old interpreter. Apparently the var

[2022-09-05 15:00] bishalgoswami commented on #4037
Thanks for your comment, @schulzalbrecht. This issue has been assigned to the doc author for review.

[2022-09-05 23:51] bharath47 opened #4038 "RangeStart/RangeEnd Time Zone"
[Believe when you enter the RangeStart/RangeEnd date/time value, it got to be in UTC timezone. Would be good to mention that.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703aa6c4-1701-ea81-5fe6-c0afd163021e
* Version Independent ID: 13601081-10c5-3947-f19b-daa8c44a5382
* Content: [Configure incremental refresh and

[2022-09-06 01:00] bishalgoswami commented on #4038
Thanks for your comment, @bharath47. This issue has been assigned to the doc author for review.

[2022-09-06 06:36] mberdugo commented on #3891
Thanks for your questions, @yaniv-intlock. I tested this issue and asked around, and it seems like this has been fixed and republishing from the desktop is no longer a problem. I'll update the document accordingly.

[2022-09-06 06:36] #3891 closed

[2022-09-06 12:51] sanjana-sampath-kumar commented on #3993
I'm facing the same issue currently.  I have PowerBi desktop August release(2.108.997.0 64-bit (August, 2022)) and trying to implement date picker to fetch data dynamically using KQL query, but unable to find the Bind to parameter option.

[2022-09-06 12:58] kishanpujara-ms commented on #4013
The app displays data in UTC time zone by default. There is a parameter called 'UTC_offset' which can be set to offset the data to show in your current timezone.
This is documented here in the installation page: https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-install-gen2-app?tabs=1st#run-the-app-for-the-first-time

This can be set either while installing the app or later thro

[2022-09-06 18:25] ed7257 opened #4040 "Premium capacity Failover and DR"
Not clear how premium capacity failover works.

1) what happens when premium capacity fails? is it moved to shared capacity? does this operation respect Data Residency/Premium capacity location?

2) what happens if both premium and shared capacity in the region fail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ae77

[2022-09-06 19:00] bishalgoswami commented on #4040
Thanks for your comment, @ed7257. This issue has been assigned to the doc author for review.

[2022-09-06 19:35] luisvalleGH commented on #3993
Same issue. I have PowerBi desktop 2.108.997.0 64-bit (agosto de 2022) and trying to implement date picker to fetch data dynamically using an API query, but unable to find the Bind to parameter option.

[2022-09-07 17:14] Minewiskan commented on #4038
@bharath47 - Did you run into a scenario where specifying a non-UTC time for the parameters caused an issue? For example, Scheduled Refresh is UTC, but parameters specified were non-UTC. Can you describe why you think this is important to mention.
Thanks

[2022-09-07 19:01] djurecic0 opened #4041 "View history of this document"
This is a question more than an issue. This document is dated 08/29/2022. How can I see previous versions of the article and what has been changed between versions?

Specifically, I'm trying to find out when the following was added.
_Limitations when downloading a dataset .pbix file
Downloading a .pbix file that is larger than 1 GB isn't supported_

I've downloaded reports > 1GB many times, but am

[2022-09-07 19:04] djurecic0 opened #4042 "Question on file size and download type"
_Limitations when downloading a dataset .pbix file
Downloading a .pbix file that is larger than 1 GB isn't supported._

Since the 1GB limit is listed only in the _Limitations when downloading a dataset .pbix file_ section, does this mean that it is supported when downloading a report .pbix file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-07 20:34] maggiesMSFT commented on #4041
Hi, @djurecic0 --
- I've asked about that specific change and will let you know what I hear back.
- And yes, you can see the history of any article.

How to see the history:
On this page, select the link next to **Content Source**: [powerbi-docs/create-reports/service-export-to-pbix.md](https://github.com/MicrosoftDocs/powerbi-docs/blob/main/powerbi-docs/create-reports/service-export-to-pbix.md).

[2022-09-07 20:34] #4041 closed

[2022-09-07 20:51] artemus-harper commented on #3634
Please don't link that page to https://docs.microsoft.com/en-us/powerquery-m/datetime-totext, the format is different. The ToText/FromText format strings follow the c# style.

[2022-09-07 20:54] artemus-harper commented on #4028
@KesemSharabi https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-dynamic-m-query-parameters

[2022-09-07 21:00] bishalgoswami commented on #4042
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-09-07 22:28] bharath47 commented on #4038
@Minewiskan - I'm working in NZT time zone (and the same configured in my locale settings); When i first tried this feature, i set the RangeStart date as 1/04/2022 12:00:00 pm (intention is to use 1-Apr-2022), but noticed, the records changed prior to Apr were pulled in. Later i changed it to 4/01/2022. Please let me know if my understanding is incorrect, will recheck.

[2022-09-07 23:04] maggiesMSFT commented on #4041
Hey, another writer shared with me this other view, "Blame view" (?):
https://github.com/MicrosoftDocs/powerbi-docs/blame/main/powerbi-docs/create-reports/service-export-to-pbix.md
It shows that line 104 was last updated 7 months ago.
Hope that helps!

[2022-09-08 02:27] Minewiskan commented on #4038
@bharath47 - NZT is UTC+12 or 13. Is the date/time format in the date column of your data in dd/mm/yyyy or mm/dd/yyyy format?

[2022-09-08 08:53] KesemSharabi commented on #4013
Hi @MattHson,

I can confirm that @kishanpujara-ms reply above is correct.

Thanks,

Kesem

[2022-09-08 08:53] #4013 closed

[2022-09-08 11:17] djurecic0 commented on #4041
This is helpful- thank you!

From: Maggie Sparkman ***@***.***>
Sent: Wednesday, September 7, 2022 7:04 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Dean Jurecic ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] View history of this document (Issue #4041)

Hey, another writer shared with me this other view, "Blame view" (?):
https://github.com/MicrosoftDocs/powerbi

[2022-09-08 13:27] sujathakalluru05 opened #4043 "awsome"
Good
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influence

[2022-09-08 13:29] svsuma opened #4044 "Awsome"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers?ta

[2022-09-08 13:36] Wedfrisat opened #4045 "Best and Worst states table doesn't show up in Power BI"
The html table in the url used for the lesson ( https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/ ) doesn't show up in Power BI import even though I can clearly see it when I browse there.  And it is an HTML table still.  I see 4 suggested tables but no HTML table listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-08 15:00] bishalgoswami commented on #4044
Thanks for your comment, @svsuma. This issue has been assigned to the doc author for review.

[2022-09-08 15:00] bishalgoswami commented on #4043
Thanks for your comment, @sujathakalluru05. This issue has been assigned to the doc author for review.

[2022-09-08 17:43] maggiesMSFT commented on #4041
@djurecic0 -- thanks for asking. I learned something new, too!

[2022-09-08 20:31] maggiesMSFT commented on #4042
Hi, @djurecic0 - a reasonable question! The 1 GB limitation is the same, whether it's a dataset or a report .pbix file.
Apparently the limitation has been there all along but was not always enforced.
We're updating the report .pbix section of the article to make the limitation clear.

[2022-09-08 20:31] #4042 closed

[2022-09-09 01:21] maggiesMSFT commented on #4044
Thanks for the feedback! I'll let the author know.

[2022-09-09 01:21] #4044 closed

[2022-09-09 12:50] elfigha opened #4046 "Disabling Azure Data Lake Gen 2"
[Enter feedback here]
[https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-azure-data-lake-storage-integration#disabling-azure-data-lake-gen-2](url)
The documentation at this link does not correctly describe how the Dataflows setting works. Indeed, in Admin Portal, under Dataflow setting, there is only the possibility to activate or deactivate the creation of dataflows
--

[2022-09-09 13:00] bishalgoswami commented on #4046
Thanks for your comment, @elfigha. This issue has been assigned to the doc author for review.

[2022-09-09 13:11] djurecic0 commented on #4042
Thank you- this is helpful!

I kind of wish that the decision to enforce got a bit more publicity since I work with several organizations that regularly download large .pbix files.

I like to think I follow Power BI news pretty closely, but did not notice that the documentation changed 7 months ago. The only previous issues we had with downloading was having to disable large datasets.

We will sta

[2022-09-10 21:21] cbeible commented on #3993
Same issue. Power BI desktop 2.108.997.0 64-bit (August 2022). Bind To Parameter option is missing.

[2022-09-12 15:15] mihart commented on #4000
Hi @lbendlin ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-09-12 15:15] #4000 closed

[2022-09-12 16:42] dbrownems opened #4047 "Copy visual as image button has moved; docs not updated."
The Copy Visual as Image has moved from the context menu to the visual header.  Docs still show it in the old location.
![image](https://user-images.githubusercontent.com/28908684/189709273-f7a53677-440f-47ab-94cf-0891f4170b1e.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1534304-51bc-e015-e942-d7be33e2a9b6
* Ver

[2022-09-12 17:00] bishalgoswami commented on #4047
Thanks for your comment, @dbrownems. This issue has been assigned to the doc author for review.

[2022-09-13 06:15] ogzozo opened #4048 "PPU and AutoML"
[Enter feedback here]
I am subscribed to Premium Per User, but I get an error message when I try to Apply ML model. It says I need to be on Premium per capacity. Kindly advise what I need to do. I am the only user in the organisation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5192cd8b-545c-5b98-6491-46d5097fcad8
*

[2022-09-13 07:00] bishalgoswami commented on #4048
Thanks for your comment, @ogzozo. This issue has been assigned to the doc author for review.

[2022-09-13 15:57] #4038 closed

[2022-09-14 14:36] DataDanCalgary opened #4049 "Remove Filter"
Section on Remove Filter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7006d534-e3ee-c389-a834-516212b607ef
* Version Independent ID: f0d40c66-9c24-8c36-1142-df06d9a7ffee
* Content: [Format filters in Power BI reports - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-report-filter?tabs=powe

[2022-09-14 15:01] bishalgoswami commented on #4049
Thanks for your comment, @DataDanCalgary. This issue has been assigned to the doc author for review.

[2022-09-14 18:10] Khoi1201 opened #4050 "Can't add custom connector"
[Enter feedback here]

Hi, I'm using a custom connector to connect Trino to Power BI https://github.com/pichlerpa/PowerBITrinoConnector,
I follow the instruction and create custom connector
![image](https://user-images.githubusercontent.com/90588753/190229159-22cbb7d0-1a93-4d0b-88e4-a0c25a7fd178.png)
and put the file there
![image](https://user-images.githubusercontent.com/90588753/190229224-57e55

[2022-09-14 19:00] bishalgoswami commented on #4050
Thanks for your comment, @Khoi1201. This issue has been assigned to the doc author for review.

[2022-09-15 05:56] sam-fischer opened #4052 "RLS compatibility isn't enabled"
The article mentions that "For Power BI reports, dashboards, or paginated reports that use a dataset with row-level security (RLS), you can create subscriptions for yourself and others. Those subscriptions will run using your security context." This is incorrect and should be investigated or clarified.

I've tested the feature and the subscriptions I've set up don't have RLS-filters applied to the

[2022-09-15 06:38] yangyud-cn opened #4053 "Missing info regarding "Connect an Azure Data Lake Gen2 storage account.""
To add ADLS Gen2 storage account, you also need to add **"00000009-0000-0000-c000-000000000000 | Power BI Service"** to admin role.  Or it will fail with a misleading error message as:
"CdsaUserStorageOwnerRoleRequiredException: You can't connect to this storage account because you don't have the necessary role-based-access-control (RBAC) permissions. **Make sure you're assigned the owner role for

[2022-09-15 07:00] bishalgoswami commented on #4053
Thanks for your comment, @yangyud-cn. This issue has been assigned to the doc author for review.

[2022-09-15 07:00] bishalgoswami commented on #4052
Thanks for your comment, @sam-fischer. This issue has been assigned to the doc author for review.

[2022-09-15 07:49] #4050 closed

[2022-09-15 07:50] Khoi1201 commented on #4050
I put it in the wrong folder
![image](https://user-images.githubusercontent.com/90588753/190346921-6582f19f-81f7-4dfc-b206-6f97587b03c0.png)

[2022-09-15 14:36] clorax opened #4054 "Please clarify the Azure subscription rights for PowerBI Premium autoscale"
The documentation states:

_The person configuring Autoscale must be at least a contributor for the Azure subscription to successfully complete these steps._

Once Autoscale is configured in the PowerBI Portal, are contributor rights on the subscription necessary for autoscaling to function?  What about for making changes to the autoscaling configuration?  Is it safe to remove contributor rights f

[2022-09-15 15:20] coreyroth opened #4055 "Missing steps for OS X certificate setup"
There are missing steps missing in the OS X certificate setup.  It doesn't tell you to open KeyChain Access first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42b50f4b-5e10-6fef-ad73-612996d2001a
* Version Independent ID: 8eda699d-40de-e20b-d030-719a6c4e2ff2
* Content: [Setting up an environment for developing a Pow

[2022-09-15 15:40] yaniv-intlock opened #4056 "Different behavior between Pro and PPU/Premium should be mentioned"
Hi Team,

Me and my team have spent some time trying to figure out why incremental refresh is slow, and reached the following conclusion.

In case a dataset is published to **Pro** workspace or "My Workspace", the service refresh will execute a 'TOP 1000' query for each partition. This slows down the refresh dramatically and likely to hit a timeout. In addition, it's overloading the data source (A

[2022-09-15 17:00] bishalgoswami commented on #4056
Thanks for your comment, @yaniv-intlock. This issue has been assigned to the doc author for review.

[2022-09-15 17:00] bishalgoswami commented on #4055
Thanks for your comment, @coreyroth. This issue has been assigned to the doc author for review.

[2022-09-15 21:38] asocorrocognex opened #4057 "Restart Capacity Button Not Showing Up"
[Enter feedback here]

---
Hi, navigating to the given URL does not cause an Advanced Settings > CAPACITY RESTART option to show up.

https://docs.microsoft.com/en-us/power-bi/enterprise/service-admin-premium-restart#how-do-i-restart-a-capacity

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98ac065d-33c5-2f3b-6cee-36153c2a8afa
* Version Independ

[2022-09-15 23:00] bishalgoswami commented on #4057
Thanks for your comment, @asocorrocognex. This issue has been assigned to the doc author for review.

[2022-09-16 02:45] Khoi1201 opened #4059 "can't connect ODBC driver and DSN from starburst enterprise from power BI"
Hi, I'm having a trouble with deploying Power BI and Trino

![image](https://user-images.githubusercontent.com/90588753/190545497-0362a934-d4ec-44ae-be48-f8fcfda2ec71.png)
![image](https://user-images.githubusercontent.com/90588753/190545599-3e456ea1-bade-456f-9187-7b2fe7db6bfd.png)
![image](https://user-images.githubusercontent.com/90588753/190545619-b2f27344-a442-4574-b86a-efb971ac88be.png)

The

[2022-09-16 03:00] bishalgoswami commented on #4059
Thanks for your comment, @Khoi1201. This issue has been assigned to the doc author for review.

[2022-09-16 03:27] soheildataviz opened #4061 "The screenshot is outdated."
The existing screenshot on this page is outdated.
There are currently 4 options on the **Azure Connections** page in the **Admin Portal**.
Image attached:
![image](https://user-images.githubusercontent.com/58403397/190550461-a9968025-ed54-4723-a07c-eb942fef6d12.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb435e

[2022-09-16 04:31] Minewiskan commented on #4056
@yaniv-intlock - Thanks for bringing this to our attention. Engineering has entered a fix that should appear in the production shared capacities environment around the second week of October. When in place, Pro workspaces should have the same initialization query performance as Premium workspaces.  Re-open this issue or open a support case if you don't see improvement by the third week of October.

[2022-09-16 04:31] #4056 closed

[2022-09-16 05:00] bishalgoswami commented on #4061
Thanks for your comment, @soheildataviz. This issue has been assigned to the doc author for review.

[2022-09-16 09:04] pedrojunqueira commented on #3234
Hi @paulinbar it worked for me. Took a while but the NO PBI admin consent required was hard to get as it was "counter intuitive" for me :).

Here how the permissions for the Enterprise App needs to look like

![03-PermissionsNoConsent](https://user-images.githubusercontent.com/30810764/190600011-364d164f-96b7-4d7b-8f71-93427a8afa49.png)

Then this app needs to be in a security group

![02-GroupMem

[2022-09-16 14:40] Jenn0812 opened #4062 "Include date on the subject name of the subscription"
Currently I am using paginated reports under a workspace, and I have multiple subscription under each report. There is any possibility to change the attachment name (because the name of the subscription can be changed), I mean, I would like to have the name of the attachment as the same as the name of the subscription. Also, can I add the date the report is sent within the name of the file attache

[2022-09-16 15:00] bishalgoswami commented on #4062
Thanks for your comment, @Jenn0812. This issue has been assigned to the doc author for review.

[2022-09-17 21:35] TheBigDom opened #4064 "Example not working"
Hi, I'm trying to follow what is in the page but the binding dropdown list is not shown
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc66475d-11b3-ba33-cde4-9948dc07ea2c
* Version Independent ID: 46aeb704-a74f-2064-307f-24660579ef4c
* Content: [Dynamic M query parameters in Power BI Desktop - Power BI](https://learn.m

[2022-09-17 23:00] bishalgoswami commented on #4064
Thanks for your comment, @TheBigDom. This issue has been assigned to the doc author for review.

[2022-09-18 06:07] KesemSharabi commented on #4037
Thanks for your comment, @schulzalbrecht.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-09-18 06:07] #4037 closed

[2022-09-18 12:38] elfigha opened #4065 "Totally wrong documentation"
[Enter feedback here]

_**"You only see the Save a copy option [[Build permission](https://learn.microsoft.com/en-us/power-bi/connect-data/service-datasets-build-permissions)] if app permissions grant Build permission for the underlying dataset, and allow users to make copies of the report."**_

I created a WS workspace and two users User1 and User2
User1 is Admin of WS and publishes a ReportXY .p

[2022-09-18 13:00] bishalgoswami commented on #4065
Thanks for your comment, @elfigha. This issue has been assigned to the doc author for review.

[2022-09-18 13:39] #4005 closed

[2022-09-19 08:04] paulinbar commented on #4065
Hi @elfigha, thanks for your feedback. Let me check this out in more detail and I will correct the documentation as necessary.

[2022-09-19 10:37] DamjanaV opened #4066 "Copying visuals from embeded reports"
Can someone please advise me how to prepare a report so that it will be possible to copy a visual to an image within embedded reports for my customers. ‌‌‌‌‌‌ I cannot find a solution.

Thanks for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1534304-51bc-e015-e942-d7be33e2a9b6
* Version Independent ID: b3

[2022-09-19 11:00] bishalgoswami commented on #4066
Thanks for your comment, @DamjanaV. This issue has been assigned to the doc author for review.

[2022-09-19 12:35] KesemSharabi commented on #4057
Hi @asocorrocognex,

The instructions for restarting a capacity are only relevant to gen1 capacities. Gen2 capacities cannot be restarted.

As all new capacities are gen2 capacities by default, and most of the gen1 capacities were migrated, it's likely that you can't perform this procedure because you have a gen2 capacity.

Hope this helps,

Kesem

[2022-09-19 12:41] KesemSharabi commented on #4054
Hi @clorax,

I'm looking into your questions and will get back to you once I have answers.

Thanks,

Kesem

[2022-09-19 12:44] KesemSharabi commented on #4028
Hi @artemus-harper,

Thanks for pointing out the issues in [Dynamic M query parameters in Power BI Desktop](https://learn.microsoft.com/power-bi/connect-data/desktop-dynamic-m-query-parameters). We'll update this article shortly.

Kesem

[2022-09-19 13:26] mberdugo commented on #4055
Thanks for your comment, @coreyroth. I’ll add this request to our docs backlog.

[2022-09-20 09:03] KesemSharabi commented on #3916
Hi @otravers,

After checking this with the engineering team I can confirm that you're correct, using APIs or Power Automate you can override the '48 per day' limit.

We'll consider adding this to the document.

Thanks,

Kesem

[2022-09-20 09:03] #3916 closed

[2022-09-20 22:24] soheildataviz opened #4068 "The setting explained on this page is different from the one currently available in the Power BI Admin Portal."
Hi there,

The setting explained on this page is different from the one currently available in the Power BI Admin Portal.
Here is a screenshot of the current setting:

![image](https://user-images.githubusercontent.com/58403397/191375432-cf6c3ef7-c947-4028-ae59-bf129c6f6e4c.png)

I believe the image and the descriptions must be updated.

Thanks.
---
#### Document Details

⚠ *Do not edit this secti

[2022-09-20 23:00] bishalgoswami commented on #4068
Thanks for your comment, @soheildataviz. This issue has been assigned to the doc author for review.

[2022-09-21 08:02] KesemSharabi commented on #4054
Hi @clorax,

Only users with admin rights for the capacity can turn Autoscale on or off. If the user who enabled Autoscale loses their permissions the Autoscale feature will continue to have the settings it had before they lost their permissions; Autoscale isn’t impacted by user permission changes. You could revoke the admin rights after someone enables Autoscale, but you'd later need to grant new

[2022-09-21 19:08] nicheplayer opened #4072 "Move scorecard failed."
I received the following when trying to move an existing Scorecard to a new workspace I'd just created.

Activity ID: 548e9cd4-8731-4e30-8147-777244954a24
Request ID: 195d1c8e-f6f1-932c-28d6-44ba61bc9eaa
Correlation ID: f3331b1a-7b45-5968-488a-33090577eeca
Status code: 403
Time: Wed Sep 21 2022 14:07:21 GMT-0500 (Central Daylight Time)
Service version: 13.0.19087.42
Client version: 2209.2.13372-tr

[2022-09-22 01:15] maggiesMSFT commented on #4072
Hi, @nicheplayer -- Thanks! I've passed your feedback along to the product team. I'm going to close this issue, as it's not a documentation issue. I suggest selecting the other link at the bottom of the article:
Submit and view feedback for:
**This product**

[2022-09-22 01:15] #4072 closed

[2022-09-22 08:29] gavira commented on #1626
Hi, this is still an issue as of September 2022. Is there anything new on this matter?

[2022-09-22 12:26] elfigha opened #4075 "Duplicate report from an app"
[Enter feedback here]
I applied the procedure described in the following link
https://learn.microsoft.com/en-us/power-bi/connect-data/service-datasets-copy-reports#copy-a-report-in-an-app
User1 created a workspaace W and publish a Power BI Desktop file Report1 in W.
User1 publsih this report in an app aand give User2 buildin permission on Report1
However, when User2 open the app he don't see the o

[2022-09-22 13:00] bishalgoswami commented on #4075
Thanks for your comment, @elfigha. This issue has been assigned to the doc author for review.

[2022-09-22 14:07] jlteranl opened #4076 "Field parameter preview feature not included in any release schedule"
Hi there, the company our team is working for is trying to use the field parameter preview feature, we have tested and we found it very useful, but my organization won't deploy anything that is marked as a preview feature.  We have also checked the future release calendars and this feature is not present in any of them. Could you please confirm that there are good possibilities to be released and

[2022-09-22 15:01] bishalgoswami commented on #4076
Thanks for your comment, @jlteranl. This issue has been assigned to the doc author for review.

[2022-09-23 16:40] btharunkumar commented on #3962
Hello @mberdugo and @Alonbaram,
Any update on this issue ?

[2022-09-23 21:29] GitWesDone opened #4077 "Multiple Pages PNG"
The action allows for an array of pages:  what happens when the export format is PNG and multiple pages are provided to the action?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d92e4209-59ef-2aed-dd62-b38c443d96d3
* Version Independent ID: ba65faca-8ef1-3cb3-3a32-bc23fbb1e64c
* Content: [Export and email a report wi

[2022-09-23 23:00] bishalgoswami commented on #4077
Thanks for your comment, @GitWesDone. This issue has been assigned to the doc author for review.

[2022-09-24 14:41] stumit63 opened #4078 "Couldn't load the table from web"
Using Power BI Desktop Version: 2.108.997.0 64-bit (August 2022), the table of interest does not show up in Navigator. Could be a page change or something that's missing or changed in the PBI web connector. The html source for the table seems valid. Navigator shows me three tables (Table[1..3]) which I can't see on the page.

To solve the issue for this data set I downloaded and imported the csv p

[2022-09-24 15:00] bishalgoswami commented on #4078
Thanks for your comment, @stumit63. This issue has been assigned to the doc author for review.

[2022-09-25 09:06] AkshayDutta opened #4079 "Under limitation can you mention Admin API calls which require (Tenant.Read.All or Tenant.ReadWrite.All) and doesn't comes under Admin read-only API."
Hello Team,

Hope you are having great day.

I have a small request from my end, can you please add the Admin API calls under limitation which require (Tenant.Read.All or Tenant.ReadWrite.All) and doesn't comes under read only API's just to avoid confusion between both the API's calls, Please consider my request from one of our client's as they got confused while assigning permissions to APP.

Tha

[2022-09-25 11:00] bishalgoswami commented on #4079
Thanks for your comment, @AkshayDutta. This issue has been assigned to the doc author for review.

[2022-09-26 14:14] TheKiltyOne opened #4083 "https://learn.microsoft.com/en-gb/power-bi/consumer/end-user-reading-view links to wrong page"
[[Enter feedback here]](https://learn.microsoft.com/en-gb/power-bi/consumer/end-user-reading-view)
This link actually brought me to the wrong page. It is not possible to access the Reading View page.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3cece6cf-53cd-6704-7c50-d03007f60a96
* Version Independent ID: 439ed96c-

[2022-09-26 15:01] bishalgoswami commented on #4083
Thanks for your comment, @TheKiltyOne. This issue has been assigned to the doc author for review.

[2022-09-26 16:56] feridunkadir opened #4084 "Remove preview from the screenshots"
[Enter feedback here]

The screenshots all show the Power Automate action for Power BI as preview.

I suggest adding a statement in the main article that the feature is now GA or update the screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5de8f-c5ce-8566-dfe3-38db0e98d169
* Version Independent ID: bd701b

[2022-09-26 17:00] bishalgoswami commented on #4084
Thanks for your comment, @feridunkadir. This issue has been assigned to the doc author for review.

[2022-09-28 06:20] luissimoesneom commented on #2267
Actually this should be commented and clarified on the documentation.
Is it instant client enough for Power BI Gateway to connect to Oracle? Or the full ODAC needs to be installed.

[2022-09-28 07:42] tarekbanims opened #4086 "Gen1 terminology for parallel refreshes used"
[Enter feedback here]
https://learn.microsoft.com/en-us/power-bi/developer/embedded/move-to-production#capacity-specifications

We are using Gen1 refresh parallelism here, we should change this to Gen2 here https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-gen2-what-is#capacities-and-skus

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsof

[2022-09-28 09:00] bishalgoswami commented on #4086
Thanks for your comment, @tarekbanims. This issue has been assigned to the doc author for review.

[2022-09-28 11:08] mberdugo commented on #4086
Hi, @tarekbanims, thanks for pointing this out. The table has been updated and should be live in a day or so.

[2022-09-28 11:08] #4086 closed

[2022-09-28 22:25] maggiesMSFT commented on #4072
Hi, @nicheplayer -- quick update. I heard back from the product team. They ask if you're trying to move the scorecard to or from My Workspace, because that is currently not supported. If not that, you can report an issue at https://community.powerbi.com/t5/Issues/idb-p/Issues.
Hope that helps!

[2022-09-29 02:18] ed7257 opened #4088 "Can I use Paginated reports with type A Embedded SKU as described here"
Can I use Paginated reports with type A Embedded SKU as described here

](https://learn.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-faq)

if yes, please fix the current article, because it says only P and EM SKUs can be used for embedding Paginated reports.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-29 02:20] ed7257 opened #4089 "Embedding paginated reports with A type SKUs"
Could you please verify that it is possible to embed paginated reports using A SKU.
this option is not listed on this page https://learn.microsoft.com/en-us/power-bi/developer/embedded/embed-paginated-reports?tabs=customers'

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 78655418-d567-8c78-455d-913fab3277a5
* Version

[2022-09-29 03:00] bishalgoswami commented on #4089
Thanks for your comment, @ed7257. This issue has been assigned to the doc author for review.

[2022-09-29 03:00] bishalgoswami commented on #4088
Thanks for your comment, @ed7257. This issue has been assigned to the doc author for review.

[2022-09-29 07:32] mberdugo commented on #4088
Thanks, for your question, @ed7257.
It depends on the scenario. [Step 2 - Create a capacity](https://learn.microsoft.com/power-bi/developer/embedded/embed-paginated-reports?tabs=customers) has two tabs. The "Embed for your customers" tab explains that you can use A SKUs and Power BI Embedded. If you're embedding for your organization, you need Power BI Pro or Premium which means you must use eithe

[2022-09-29 13:05] KesemSharabi commented on #4076
Thanks for your comment, @jlteranl.

This looks like a product question rather than documentation feedback.

You might find an answer in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-09-29 13:05] #4076 closed

[2022-09-30 06:55] tchin94 opened #4091 "Small error in the code getValue code"
Hi, a small error in the code displayed on this page.

In the getValue function, the line
`let property: T = object[propertyName];`
should be
`let property: T = <T>object[propertyName];`

This is correct in the [source code](https://github.com/Microsoft/PowerBI-visuals-sampleBarChart/blob/master/src/objectEnumerationUtility.ts) but not on the documentation.
---
#### Document Details

⚠ *Do not edi

[2022-09-30 13:00] bishalgoswami commented on #4091
Thanks for your comment, @tchin94. This issue has been assigned to the doc author for review.

[2022-09-30 14:07] gwalkey opened #4092 "download link for Report Server September 2022 goes to May 2022"
[Enter feedback here]

download link for Report Server September 2022 goes to May 2022
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c2df3-28df-34d8-bd4e-4209996f7f8d
* Version Independent ID: e5dc42c8-b17a-4e0e-09c5-76124b0ad924
* Content: [Change log for Power BI Report Server - Power BI](https://learn.microsoft.

[2022-09-30 14:21] morcinim opened #4093 "Incorrect link "Automatic Swagger schema generation in the Deploy models with the Azure Machine Learning""
[Enter feedback here]
The link with instructions to generate swagger schema is pointing to article that does not contain the information on this topic
(there is no subsection "Automatic Swagger schema generation in the Deploy models with the Azure Machine Learning"
Please point to the right page

"This schema file must be included in the deployed web service for Machine Learning models. To automat

[2022-09-30 15:00] bishalgoswami commented on #4093
Thanks for your comment, @morcinim. This issue has been assigned to the doc author for review.

[2022-09-30 15:00] bishalgoswami commented on #4092
Thanks for your comment, @gwalkey. This issue has been assigned to the doc author for review.

[2022-09-30 16:30] Rissa1008 opened #4094 "Slicer Orientation/Horizontal Option Missing"
Hello Team,
This new update that I just recently downloaded: Version: 2.109.844.0 64-bit (September 2022), does not have a General option in the visualization edits for slicers. I have reviewed all the other drop downs and I cannot locate anything that allows me to change a slicer orientation to horizontal. Please see the attached, Is it located through somewhere else?
Thank you.

<img width="137"

[2022-09-30 17:00] bishalgoswami commented on #4094
Thanks for your comment, @Rissa1008. This issue has been assigned to the doc author for review.

[2022-09-30 21:01] djurecic0 opened #4095 "Would like to see other visual properties explained including color"
Specifically, I'm looking into the Color field in the Visualizations pane. Not changing the color from the symbol style settings, but from the Color field in the visualization pane. I see that the Size field  is explained, but did not see anything about color. Also, what are the different functions between the color settings in symbol style and color settings in visualizations pane?

_From the Fie

[2022-09-30 23:00] bishalgoswami commented on #4095
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-01 06:47] sarava8304 opened #4097 "The recent issue on Usage Metrics not working in Power BI service"
Hi Team,
I dont see the issue on Usgae metrics not working in Power BI service since 9 Sep22, and no ETA mentioned anywhere on this bug.

https://community.powerbi.com/t5/Issues/We-are-unable-to-view-latest-usage-metrics-data-for-any-of-the/idc-p/2809812#M86157
Thanks,
Saravanan R
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-01 07:00] bishalgoswami commented on #4097
Thanks for your comment, @sarava8304. This issue has been assigned to the doc author for review.

[2022-10-01 14:25] elfigha opened #4098 "Linking Power BI to Azure Data Lake Storage"
[Enter feedback here]
The Azure Admin created a Data Lake Gen2. X is the name of this Data Lake
The Azure Admin add me as owner of this Data Lake
In Power BI PPU, where I'm admin, I created a PPU workspace Y
Me and the Azure Admin we checked all the condition in the following link:
[https://learn.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-azure-data-lake-storage-integration#p

[2022-10-01 15:00] bishalgoswami commented on #4098
Thanks for your comment, @elfigha. This issue has been assigned to the doc author for review.

[2022-10-01 20:11] mberdugo commented on #4091
Thanks for pointing this out, @tchin94. I fixed this, and it should be live in a day or so.

[2022-10-01 20:11] #4091 closed

[2022-10-03 02:46] a2o2juzi opened #4100 "Some questions about download report as pbix file"
[Enter feedback here]
Hi team,
I use the rest Api below to download report as pbix file:
GET https://api.powerbi.com/v1.0/myorg/groups/{groupId}/reports/{reportId}/Export
Sometimes it fails. It may be that the report does not support downloading or for other reasons, but I cannot know the specific reason from the response. Does your team plan to add a clear message or error code to indicate unsupp

[2022-10-03 03:00] bishalgoswami commented on #4100
Thanks for your comment, @a2o2juzi. This issue has been assigned to the doc author for review.

[2022-10-03 08:48] Odeta-Jankaitiene opened #4102 "Not Current Documentation"
Hello,

I can see in the Power BI tenant settings that this setting has been changed but there is no current documentation. Thus, I'm unsure what exactly has been changed. Please, update it.

Kind Regards,
Odeta Jankaitienė

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 236be35d-5c21-cd23-12ca-2a9b420545d3
* Version I

[2022-10-03 09:00] bishalgoswami commented on #4102
Thanks for your comment, @dragons-data. This issue has been assigned to the doc author for review.

[2022-10-03 11:19] LoisLoriot opened #4103 "Dynamic M Query Parameters with Analyze in Excel"
Hi,

This feature is not working when accessing the dataset in Excel. Maybe to add a note about it on the considerations and limitations.

https://community.powerbi.com/t5/Issues/Dynamic-M-query-parameters-doesn-t-work-in-analyze-in-excel/idi-p/2009990

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dc66475d-11b3-ba33-

[2022-10-03 13:00] bishalgoswami commented on #4103
Thanks for your comment, @LoisLoriot. This issue has been assigned to the doc author for review.

[2022-10-03 19:03] Teckfahimkanji opened #4104 "Outdated compared to the newly released interface"
Hi,

This page needs to be updated to reflect the new UI

Cheers,

Fahim.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 16dbd9ca-dcd3-a4f3-43a8-01ead54fc9f9
* Version Independent ID: 66217fc3-a852-201c-a563-54ecbd9e5726
* Content: [Build permission for shared datasets - Power BI](https://learn.microsoft.com/en-us/pow

[2022-10-03 21:00] bishalgoswami commented on #4104
Thanks for your comment, @Teckfahimkanji. This issue has been assigned to the doc author for review.

[2022-10-04 14:39] rjoboyle opened #4105 "Correction needed (I think)"
[Enter feedback here]

Article says
"In your tenant, go to the data hub in Power BI Desktop"

Think it should be changed "Power BI Service"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 74430e48-5764-9eff-7410-26ab2c400917
* Version Independent ID: 74430e48-5764-9eff-7410-26ab2c400917
* Content: [Access shared datase

[2022-10-04 15:00] bishalgoswami commented on #4105
Thanks for your comment, @rjoboyle. This issue has been assigned to the doc author for review.

[2022-10-05 17:52] maggiesMSFT commented on #4100
Hi, @a2o2juzi -- I'm checking and will get back to you. Some folks are out on holiday so response may be delayed. Thanks!

[2022-10-05 18:09] sriharshAmur commented on #2153
This property is not yet part of the API. Is there a plan to include it in the near future @uve? I currently have to set the type to 'any'. The reason I am using the RolesIndex property is that I need to know the position of the column in that particular role.

I made the same issue in the community forum: https://community.powerbi.com/t5/Developer/Property-rolesIndex-does-not-exist-on-type/m-p/24

[2022-10-05 18:36] PascalKTeam commented on #964
Seems like the issue "when opening a report that is filtered using a query string, the Export to PDF function doesn't respect the applied filters" is still open. I'm wondering if this will be fixed in the future.?

[2022-10-05 19:17] maggiesMSFT commented on #4100
Hi, @a2o2juzi -- a quick response instead! The product team suggests opening a ticket, https://community.powerbi.com/t5/Issues/idb-p/Issues
Hope that helps!

[2022-10-05 19:17] #4100 closed

[2022-10-05 20:03] DataGuru311 opened #4106 "Content to Add: PPU Data Host"
[It would be useful for this page, about Premium Per User, to detail precisely where data will get stored or hosted. Would it be hosted on the same as the Home Tenant, like Pro Workspaces, or does it have any sort of capabilities for choosing a Geography, like Premium Per Capacity.]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-10-05 21:00] bishalgoswami commented on #4106
Thanks for your comment, @DataGuru311. This issue has been assigned to the doc author for review.

[2022-10-06 08:27] J4tkins opened #4107 "TypeError: Cannot read properties of undefined (reading 'Kind')"
Attemping to follow text analysis tutorial and keep hiting this error:

TypeError: Cannot read properties of undefined (reading 'Kind')
    at Re (https://uk.prod.powerquery.microsoft.com/MashupEditor/scripts/qegsb.qe.dpfv.bmfv.c2b757d1115da0666d6b.bundle.js:1:60393)
    at async https://uk.prod.powerquery.microsoft.com/MashupEditor/scripts/qegsb.qe.dpfv.bmfv.c2b757d1115da0666d6b.bundle.js:1:64332

[2022-10-06 09:00] bishalgoswami commented on #4107
Thanks for your comment, @J4tkins. This issue has been assigned to the doc author for review.

[2022-10-06 10:05] schwarztrinker opened #4108 "Wrong Pivate DNS Zone of Power BI Private Link in docs"
The Private DNS zone "privatelink.tip1.powerquery.microsoft.com" referenced in the docs is deprecated.

Private DNS Zone "privatelink.prod.powerquery.microsoft.com" should be the correct one now.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 27338e81-9282-521f-e0b6-245124da59ec
* Version Independent ID: 27338e81-9282

[2022-10-06 10:13] schwarztrinker commented on #4034
Any Updates here? Got the same error today after a long network debugging session...

[2022-10-06 16:57] maggiesMSFT commented on #964
Hi, @PascalKTeam -- yes, this is still an issue, as listed in the Considerations and limitations section:
“In the Power BI service, URL filters aren't currently respected when you choose Current Values for your export.”
Unfortunately we don't have a timeline for fixing it. I suggest checking https://ideas.powerbi.com/ideas/ to see if others have the same concern, and if so, vote it up. If you don'

[2022-10-06 17:54] maggiesMSFT commented on #4084
Hi, @feridunkadir -- guess what? The feature is still in preview, and no GA date to share date. Thanks for asking!

[2022-10-06 17:54] #4084 closed

[2022-10-06 19:34] mihart commented on #4047
Hi @dbrownems ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-10-06 19:34] #4047 closed

[2022-10-06 19:57] mihart commented on #4083
Hi @TheKiltyOne ,
Please let me know which article has the broken link.
Thank you.

[2022-10-06 20:37] mihart commented on #4052
Hi @sam-fischer ,
This feature is working as intended.  Before using subscribe others feature, there is a prominent warning displayed.  And the new feature rolling out later this month, _subscribe to report state_, will make it possible to subscribe to customized report views.  To help get the RLS experience updated as you described in this Git Issue bug, please upvote the idea on ideas.powerbi.co

[2022-10-07 19:48] datageeq opened #4112 "Sales Quick Measure Table"
Hi, Please how do I derive the "Sales" Quick Measure Table in the Retail Analysis sample for PowerBI (https://learn.microsoft.com/en-us/power-bi/create-reports/sample-retail-analysis#get-the-pbix-file-for-this-sample).

@maggiesMSFT, @davidiseminger @v-kents.

[2022-10-07 21:01] bishalgoswami commented on #4112
Thanks for your comment, @datageeq. This issue has been assigned to the doc author for review.

[2022-10-09 10:15] gdeckler opened #4113 "The Navigator window no longer displays the suggested table "Ranking of best and worst states for retirement""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-8234-dd4d-698e589b6fc7
* Version Independent ID: bc0deeb1-04c7-abc3-b26c-10ea6d75c57f
* Content: [Get started with Power BI Desktop - Power BI](https://learn.microsoft.com/en-us/power-bi/fundamentals/desktop-getting-started)
* Content S

[2022-10-09 11:00] bishalgoswami commented on #4113
Thanks for your comment, @gdeckler. This issue has been assigned to the doc author for review.

[2022-10-10 13:31] thunter05 opened #4114 "Rest API Enhanced Refresh Docs Incomplete"
Hi!

**CONTEXT - REST API DOCS EXAMPLES NEEDED**
My company is using the Power BI Rest API to refresh our dataset so we can pick up forecasted periods. The documentation on the "refreshes" body parameters is a little hard to understand. It would be great to have multiple examples of different combinations of body parameters that are valid.

**PROBLEM - INCREMENTAL REFRESH NOT HITTING OUR DATABASE?

[2022-10-10 15:00] bishalgoswami commented on #4114
Thanks for your comment, @thunter05. This issue has been assigned to the doc author for review.

[2022-10-11 07:34] v-racpai commented on #3866
Hello Bishal,

Please note that I have edited and updated this submission on the GitHub<https://github.com/MicrosoftDocs/powerbi-docs/issues/3866> link.

Standing by 😊

Regards,

Rachel Paige| Licensing Concierge| ***@***.******@***.***>
[Machine generated alternative text: r Microsoft I Volume Licensing]

From: Bishal Goswami ***@***.***>
Sent: Wednesday, June 8, 2022 2:01 PM
To: MicrosoftDocs/po

[2022-10-11 07:35] djurecic0 commented on #4041
Thank you!!

From: Maggie Sparkman ***@***.***>
Sent: Wednesday, September 7, 2022 4:35 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Dean Jurecic ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] View history of this document (Issue #4041)

Hi, @djurecic0<https://github.com/djurecic0> --

  *   I've asked about that specific change and will let you know what I hear

[2022-10-12 00:20] VitalyMCT opened #4117 "Preview link"
Regarding

According to the destination page this feature is now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5405aff7-0d96-0b9d-c389-dd72a367e415
* Version Independent ID: 0f1bf43c-d51e-c7e8-6250-c8ee8239183e
* Content: [Dataset impact analysis - Power BI](https://learn.microsoft.com/en-us/power-bi/collaborate-

[2022-10-12 13:00] bishalgoswami commented on #4117
Thanks for your comment, @VitalyMCT. This issue has been assigned to the doc author for review.

[2022-10-12 13:39] gutweniger commented on #3993
Version: 2.109.1021.0 64-bit (September 2022)
Bind to parameter option is also missing here.

[2022-10-13 12:55] KesemSharabi commented on #4114
Thanks for your comment, @thunter05.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-10-13 12:55] #4114 closed

[2022-10-13 12:57] #4112 closed

[2022-10-13 13:04] KesemSharabi commented on #4106
Hi @DataGuru311,

PPU shares one capacity among all users, as described in the first two bullets in [Considerations and limitations](https://learn.microsoft.com/power-bi/enterprise/service-premium-per-user-faq#considerations-and-limitations).

Hope this helps,

Kesem

[2022-10-13 13:06] KesemSharabi commented on #4094
Thanks for your comment, @Rissa1008.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-10-13 13:06] #4094 closed

[2022-10-13 13:07] #4054 closed

[2022-10-13 13:07] #4032 closed

[2022-10-14 00:26] DataGuru311 commented on #4106
Hello Kasem,

When reading those bullet points, only the second tries to hint at that,
but there really is no definitive explanation that says a PPU storage will
be on the Default/Home Tenant where the Shared Workspaces are hosted the
same as when using Pro Licensing.

Thank you
Andrew

On Thu, Oct 13, 2022 at 9:04 AM Kesem Sharabi ***@***.***>
wrote:

[2022-10-14 14:19] denglishbi opened #4118 "Clarification on tenant / subscription support for this feature"
In the bring your own storage we call out in the Prerequisites that "The storage account must be created in the same Azure Active Directory tenant as the Power BI tenant."
https://learn.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-azure-data-lake-storage-integration#prerequisites

and is that the same for configuring and using Azure Log Analytics, I am assuming "Yes" but we do

[2022-10-14 14:58] CloudCrusader opened #4119 "Synapse"
would this also apply for Synapse workloads?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 01cad641-4e21-029b-3413-9e8b1de5ddbe
* Version Independent ID: 01cad641-4e21-029b-3413-9e8b1de5ddbe
* Content: [Using service tags with Power BI - Power BI](https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-

[2022-10-14 15:00] bishalgoswami commented on #4119
Thanks for your comment, @CloudCrusader. This issue has been assigned to the doc author for review.

[2022-10-14 15:01] bishalgoswami commented on #4118
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-10-14 21:40] VitalyMCT opened #4120 "Supported data sources"
Regarding

This list does not seem to be current. For example, Azure SQL Database connections also show queries.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3422402-b1e9-db0c-cbb6-4dd3eaa528c4
* Version Independent ID: 124204c3-bbcb-f705-c88f-90c81be27a2f
* Content: [DirectQuery model troubleshooting in Power BI D

[2022-10-14 22:27] sergeigms opened #4121 "Please move or rephrase metrics related limitations"
Current version of the MG doc has Metrics (formerly goals) listed as last bullet in Considerations and Limitations section.
It is our understanding that Metrics in fact can be setup on MG capacity, but the data and metadata will be hosted in tenant home region.  Can we confirm with PM owners and move metrics under this heading "These items remain in the home region for the tenant:" to follow the s

[2022-10-14 23:01] bishalgoswami commented on #4121
Thanks for your comment, @sergeigms. This issue has been assigned to the doc author for review.

[2022-10-14 23:01] bishalgoswami commented on #4120
Thanks for your comment, @VitalyMCT. This issue has been assigned to the doc author for review.

[2022-10-17 13:17] KrisMedici opened #4122 "Configuring enabling / disabling custom visuals and uncertified visuals via Microsoft Intune"
Hi,

This document explains how to disable custom, and uncertified visuals via AD Group Policy, but we use MS Intune in our organisation (as per MS recommendation).

Where can we find the instructions on how to carry out the above activity in MS Intune?

Thanks
Kris

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 67bf9

[2022-10-17 14:43] KrisMedici opened #4124 "Schema and column descriptions for Power BI Rest API's"
Hi there,

When can I find the schema for the Power BI Rest API's?

For instance, I've extracted the data from the admin API called 'Activity Events' however there are over 100 columns which I would like to know the schema for, as well as column descriptions (what is the column doing etc?)

Thanks
Kris

[2022-10-17 15:00] bishalgoswami commented on #4124
Thanks for your comment, @KrisMedici. This issue has been assigned to the doc author for review.

[2022-10-17 15:00] bishalgoswami commented on #4122
Thanks for your comment, @KrisMedici. This issue has been assigned to the doc author for review.

[2022-10-17 18:05] awatsky opened #4125 "Add feature availability for Government on more than just features that have gone GA."
There is very little information related to feature availability for Government clouds outside of this page. Since this page lists planned features. Can we include features that are in Preview as well? Even if it lists as _"The feature isn't available in the environment, and we don't have an estimated time frame for delivery"_, this is still an improvement over the current setup. This will give mo

[2022-10-17 18:12] kfollis commented on #4125
@awatsky  - thanks for the feedback! I'm assigning this to a writer for review.

[2022-10-18 03:21] fowl2 commented on #3924
@maggiesMSFT it appears that there's still no mention of data-driven subscriptions in the limitation sections these two pages:
* [What are paginated reports in Power BI Premium?](https://learn.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-report-builder-power-bi#considerations-and-limitations)
* [Email subscriptions for reports and dashboards in the Power BI service](https://lea

[2022-10-18 11:29] weslbo opened #4126 "Markdown issue in the section "next steps" (missing bracket)"
[Enter feedback here]

Markdown issue in the section "next steps" (missing bracket)

* Get a Power BI visual certified](power-bi-custom-visuals-certified.md)

Should become

* [Get a Power BI visual certified](power-bi-custom-visuals-certified.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 746e3f8f-68fd-b7d2-f61e-

[2022-10-18 12:54] mberdugo commented on #4122
Thanks for your question, @KrisMedici. I'll look into this and get back to you.

[2022-10-18 13:00] bishalgoswami commented on #4126
Thanks for your comment, @weslbo. This issue has been assigned to the doc author for review.

[2022-10-18 14:12] denglishbi opened #4127 "Overload email notifications - showing screenshot of Gen1 notification vs Gen2 now"
The picture in the documentation page for "Overload email notifications" is what was received while customers were on Gen1 capacity versus the more generic one that gets sent out now with Gen2. All of the details are not included now regarding long running queries, etc. and we don't provide the additional capacity utilization information anymore. This screenshot is confusing for customers that are

[2022-10-18 14:44] dbszepesi opened #4128 "Performance Implications"
Seems to be conflicting recommendations coming from MS. Elsewhere there are statements that bi-di cross filtering should be avoided because of performance penalties. Can you address that in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: af7bffc1-7691-53e6-c582-c17b3f4c03da
* Version Independent ID: 6d3ce

[2022-10-18 15:01] bishalgoswami commented on #4127
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-10-18 15:03] dbrownems opened #4129 "Page has wrong title in the index"
Title should be "Create page and bookmark navigators" in the index like it is on the page.

![image](https://user-images.githubusercontent.com/28908684/196468343-d0ec9918-1b27-40f6-964f-c9f1cdcc34f4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f4858b56-a0e2-8836-e522-4b8a69b0fefa
* Version Independent ID: f4858

[2022-10-18 16:50] mberdugo commented on #3819
Hi @MikeAinOz, thanks again for your help. We moved the information about creating and updating offers to the Zaure Marketplace website. The information about updating is here: https://learn.microsoft.com/en-us/azure/marketplace/update-existing-offer

[2022-10-18 16:50] #3819 closed

[2022-10-18 17:00] bishalgoswami commented on #4129
Thanks for your comment, @dbrownems. This issue has been assigned to the doc author for review.

[2022-10-18 17:04] Teckfahimkanji opened #4130 "Incomplete Permissions Specification"
Hi,

I didn't realize this when configuring existing datasets and workspaces because users all had access to the workspace.  However, when following the instructions here on a "BRAND NEW" workspace and dataset, I noticed that users who are not granted "VIEWER" permission on the workspace cannot see the artifacts (in Power BI Desktop or Excel) even if you grant them BUILD permissions on the dataset

[2022-10-18 17:32] #4088 closed

[2022-10-18 18:43] maggiesMSFT commented on #3924
Well, that's weird. I can see I added it in the PR https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/8206
but I see that it's not in the article now... 🤔
I'm readding it.

[2022-10-18 19:01] bishalgoswami commented on #4130
Thanks for your comment, @Teckfahimkanji. This issue has been assigned to the doc author for review.

[2022-10-18 21:36] mihart commented on #4097
Hi @sarava8304 ,
I've emailed the Known Issues team and will update you when I hear back.

[2022-10-19 05:52] mihart commented on #4097
Hi @sarava8304 ,
This is indeed a known issue and is being added to the known issues list this week.  Thanks for the reminder,

[2022-10-19 05:52] #4097 closed

[2022-10-19 06:42] mberdugo commented on #4055
Thanks again, @coreyroth. I added that step.

[2022-10-19 06:42] #4055 closed

[2022-10-19 07:58] floemmel opened #4131 "Platform "Not specified""
Hi.

Could you please describe in more detail what the different categories (Legend items) in the visual with Distribution and Platform mean? Specifically there is an item "Not specified" for which I couldn't find an explanation. In what cases is this selected, what is the difference to "Other" and how can we understand what it means?
![image](https://user-images.githubusercontent.com/49025350/196

[2022-10-19 09:00] bishalgoswami commented on #4131
Thanks for your comment, @floemmel. This issue has been assigned to the doc author for review.

[2022-10-19 09:47] Gaibusha opened #4132 "key influencers visualizations"
very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://learn.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers?tabs=power

[2022-10-19 11:00] bishalgoswami commented on #4132
Thanks for your comment, @Gaibusha. This issue has been assigned to the doc author for review.

[2022-10-19 15:22] rderidder-lda opened #4133 "OK button is greyed out"
this page does not mention what might be the issue, if when selecting the column to be the date column, and it even passes validation.. the OK button is still greyed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 09750051-75cf-7829-b70b-8912f822ea8c
* Version Independent ID: b761024d-5166-47db-9c19-410073e5f46e
*

[2022-10-19 15:39] mberdugo commented on #3962
Hi @btharunkumar, sorry about the delayed response, I was waiting for confirmation on this.
The maximum number of reports is adjusted and reevaluated periodically and therefore not made public.
The current maximum is 25 per core SKU - up to 500 - for reports with complex expressions,
and 50 per core for reports with safe expressions.
I hope this answers your question.

[2022-10-19 17:00] bishalgoswami commented on #4133
Thanks for your comment, @rderidder-lda. This issue has been assigned to the doc author for review.

[2022-10-20 07:37] KesemSharabi commented on #4121
Hi @sergeigms, I started an internal email for this.

[2022-10-20 07:37] #4121 closed

[2022-10-20 07:49] KesemSharabi commented on #4119
Thanks for your comment, @CloudCrusader.

This looks like product feedback or a product question, rather than documentation feedback.

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

There's also more information about service tags in [Virtual network service tags](https://learn.microsoft.com/azure/virtual-network/

[2022-10-20 07:49] #4119 closed

[2022-10-20 07:52] #4106 closed

[2022-10-20 10:43] KrisMedici commented on #4124
Hi @KesemSharabi

Thanks for this. Sadly it doesn't give me what I need as it is just a sample output of the data from the API.

What I'm intrerested in, is the schema and column descriptions. For example, what does the column 'CreationTime' mean, and what are the characteristics of this field i.e. does it only show times in UTC, or based on tenant region. Or what does 'Workload' mean? I appreciat

[2022-10-20 14:30] bobokdalibor opened #4134 "Links to download of older versions of PBI installation files don't work"
I've tried to download older versions of PBI (Apr 2022 in this case) and none of the links work. It returns 404 error, Page not found.

[2022-10-20 15:00] bishalgoswami commented on #4134
Thanks for your comment, @bobokdalibor. This issue has been assigned to the doc author for review.

[2022-10-20 18:14] #3237 closed

[2022-10-20 18:15] davidiseminger commented on #3466
Article has been updated

[2022-10-20 18:15] #3466 closed

[2022-10-20 18:15] davidiseminger commented on #3504
Article has been updated, thanks.

[2022-10-20 18:15] #3504 closed

[2022-10-20 18:17] davidiseminger commented on #3519
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 18:17] #3519 closed

[2022-10-20 18:17] davidiseminger commented on #3525
We've updated the article, thanks.

[2022-10-20 18:17] #3525 closed

[2022-10-20 18:18] davidiseminger commented on #3552
Thanks for your comment. This looks like a support or feature request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 18:18] #3552 closed

[2022-10-20 18:19] davidiseminger commented on #3567
We've updated the article and the product, sorry for the confusion.

[2022-10-20 18:19] #3567 closed

[2022-10-20 18:19] davidiseminger commented on #3568
We've updated the article, thanks.

[2022-10-20 18:19] #3568 closed

[2022-10-20 18:27] davidiseminger commented on #3571
Thank you for your comment, we'll look into that!

[2022-10-20 18:27] #3571 closed

[2022-10-20 18:28] #3579 closed

[2022-10-20 18:28] davidiseminger commented on #3580
That's a good idea - thanks!

[2022-10-20 18:28] #3580 closed

[2022-10-20 18:29] davidiseminger commented on #3581
Thanks for your question, we've passed it on to the engineering team.

[2022-10-20 18:29] #3581 closed

[2022-10-20 18:30] davidiseminger commented on #3582
It's based on how the engineering team has organized them in the product. Thanks!

[2022-10-20 18:30] #3582 closed

[2022-10-20 18:31] davidiseminger commented on #3611
Thanks for your comment, we'll look into adding that in a future update.

[2022-10-20 18:31] #3611 closed

[2022-10-20 18:31] davidiseminger commented on #3613
Sorry for the inconvenience, we've updated that article to use a different source.

[2022-10-20 18:31] #3613 closed

[2022-10-20 18:32] davidiseminger commented on #3621
Thanks for your suggestion!

[2022-10-20 18:32] #3621 closed

[2022-10-20 18:35] davidiseminger commented on #3622
I've updated that article - thanks!

[2022-10-20 18:35] #3622 closed

[2022-10-20 18:38] davidiseminger commented on #3623
Great - thank you! I made the update to the article, thanks!

[2022-10-20 18:38] #3623 closed

[2022-10-20 18:40] davidiseminger commented on #3634
Thanks for the correction! I've update the article.

[2022-10-20 18:40] #3634 closed

[2022-10-20 18:41] davidiseminger commented on #3654
Thanks for your feedback, we're improving those connections articles.

[2022-10-20 18:41] #3654 closed

[2022-10-20 18:42] davidiseminger commented on #3655
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 18:43] davidiseminger commented on #3676
We've fixed that article, thanks!

[2022-10-20 18:43] #3676 closed

[2022-10-20 18:47] davidiseminger commented on #3677
We've updated the article with a link.

[2022-10-20 18:47] #3677 closed

[2022-10-20 18:47] davidiseminger commented on #3697
We've updated the article, thanks!

[2022-10-20 18:47] #3697 closed

[2022-10-20 18:48] davidiseminger commented on #3702
We've updated the article, thanks!

[2022-10-20 18:48] #3702 closed

[2022-10-20 18:48] davidiseminger commented on #3703
Thanks for your input / suggestion!

[2022-10-20 18:48] #3703 closed

[2022-10-20 18:49] davidiseminger commented on #3704
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 18:49] #3704 closed

[2022-10-20 18:49] davidiseminger commented on #3709
Thanks for your suggestion, we'll look at adding that!

[2022-10-20 18:53] davidiseminger commented on #3717
Thanks for your comment - Premium includes PPU, so it's implied.

[2022-10-20 18:53] #3717 closed

[2022-10-20 18:53] davidiseminger commented on #3718
Thanks for your suggestion!

[2022-10-20 18:53] #3718 closed

[2022-10-20 18:54] davidiseminger commented on #3721
Thanks for your comment. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2022-10-20 18:54] #3721 closed

[2022-10-20 18:55] davidiseminger commented on #3726
We've updated the article, thanks!

[2022-10-20 18:55] #3726 closed

[2022-10-20 18:55] davidiseminger commented on #3736
Will do, thanks!

[2022-10-20 18:55] #3736 closed

[2022-10-20 18:56] davidiseminger commented on #3739
We've updated the article, thanks!

[2022-10-20 18:56] #3739 closed

[2022-10-20 18:56] #3747 closed

[2022-10-20 18:58] davidiseminger commented on #3760
Great catch! I've updated the article, thanks!

[2022-10-20 18:58] #3760 closed

[2022-10-20 18:59] davidiseminger commented on #3771
Okay - thanks!

[2022-10-20 18:59] #3771 closed

[2022-10-20 18:59] davidiseminger commented on #3780
We've updated that article, thanks!

[2022-10-20 18:59] #3780 closed

[2022-10-20 19:00] davidiseminger commented on #3785
Thanks for your request, we'll look at doing that.

[2022-10-20 19:00] #3785 closed

[2022-10-20 19:00] davidiseminger commented on #3792
We've updated the article, thanks!

[2022-10-20 19:00] #3792 closed

[2022-10-20 19:01] davidiseminger commented on #3803
Okay, we'll get that updated. Thanks!

[2022-10-20 19:01] #3803 closed

[2022-10-20 19:01] davidiseminger commented on #3812
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 19:02] davidiseminger commented on #3822
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 19:02] #3822 closed

[2022-10-20 19:03] davidiseminger commented on #3858
Thanks for your suggestion!

[2022-10-20 19:03] #3858 closed

[2022-10-20 19:04] #3849 closed

[2022-10-20 19:04] davidiseminger commented on #3854
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 19:04] #3854 closed

[2022-10-20 19:04] #3863 closed

[2022-10-20 19:04] #3867 closed

[2022-10-20 19:05] davidiseminger commented on #3864
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-20 19:05] #3864 closed

[2022-10-20 20:33] frankitecho opened #4136 ""Visualize this view" in Power BI allows users to Export to Excel from Power BI service with data generated from dataverse"
Is there an option to restrict the user from their generated Quick Summary workspace from Exporting the data in Excel?
The security in dataverse restriction for Export to Excel seems to be bypassed when the user launches the Visualize this view. In the generated summary report, once the report is saved to their My Workspace, allows them to Export to Excel as they are the owner of the workspace.
Am

[2022-10-20 21:00] bishalgoswami commented on #4136
Thanks for your comment, @frankitecho. This issue has been assigned to the doc author for review.

[2022-10-20 22:46] Chris-Burgess-ACTGOV commented on #3552
Hi @davidiseminger
I guess it is a feature request for the documentation meta.
If i raise a ticket it will come to you for consideration to add a column for 'REST API' name into https://learn.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources content will it not?
Or are you angling that the API response should be amended to align with the published documentation?

Cheers

Chris

[2022-10-21 06:51] mireQT opened #4137 "Misleading information on ability to embed report to SharePoint"
This sentence suggests that user with free Power BI can use described procedure to copy link and embed it into SharePoint for reports in Premium Capacity:

_"Users need a Power BI Pro or Premium Per User (PPU) license, unless the report is hosted in a [Power BI Premium capacity (EM or P SKU)](https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-what-is). In that case, users only n

[2022-10-21 07:00] bishalgoswami commented on #4137
Thanks for your comment, @mireQT. This issue has been assigned to the doc author for review.

[2022-10-21 13:36] mberdugo commented on #4126
Thanks, @weslbo. Fixed it!

[2022-10-21 13:36] #4126 closed

[2022-10-21 14:32] rootsmusic commented on #3702
@davidiseminger  "[Microsoft Graph Security](https://learn.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources#data-sources-m-o)" hasn't be noted as deprecated.

[2022-10-21 16:02] davidiseminger commented on #3772
Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2022-10-21 16:14] davidiseminger commented on #3824
Great idea! I added the link, thanks!

[2022-10-21 16:14] #3824 closed

[2022-10-21 16:15] davidiseminger commented on #3829
Thanks for your feedback.

[2022-10-21 16:15] #3829 closed

[2022-10-21 16:15] davidiseminger commented on #3840
Thanks for your feedback and suggestion, we'll look into doing that.

[2022-10-21 16:17] davidiseminger commented on #3874
We've updated that article. Thanks!

[2022-10-21 16:17] #3874 closed

[2022-10-21 16:31] davidiseminger commented on #3875
Thanks for pointing that out, I've updated the article.

[2022-10-21 16:31] #3875 closed

[2022-10-21 16:34] davidiseminger commented on #3882
Thanks for your comment, we've updated the article. Thanks!

[2022-10-21 16:34] #3882 closed

[2022-10-21 16:39] davidiseminger commented on #3940
Good point! We've updated that article, thanks!

[2022-10-21 16:39] #3940 closed

[2022-10-21 16:46] carolynzinn commented on #2886
@maggiesMSFT have you found anything out about the movement to make reports published to the web WCAG 2.1 compliant?

[2022-10-21 17:30] maggiesMSFT commented on #2886
@carolynzinn -- thanks for bringing this back to top of mind. I'm asking again.

[2022-10-21 17:34] djurecic0 opened #4138 "Max memory per dataset"
Is "Max memory per dataset" the same as "Model size limit" from this page: https://powerbi.microsoft.com/en-us/pricing/ ?

If not the same, how are they different?

If they are the same, why does Microsoft use 2 different terms to refer to the same thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 72fa2a8f-51b8-14

[2022-10-21 17:44] djurecic0 opened #4139 "Size considerations question"
I'm a little confused about how this section relates to other PBI documentation.

For example, [this page](https://learn.microsoft.com/en-us/power-bi/developer/embedded/embedded-capacity?tabs=gen2#sku-memory-and-computing-power) says that the Max memory per dataset is 25 GB for P1, 50GB for P2 and 100 GB for P3.

Can you please explain how these limits and suggested .pbix file sizes are related? I

[2022-10-21 17:49] djurecic0 opened #4140 "Capacity nodes- Memory"
Is "Memory" in this table the same as "Model Size Limit" on [this page ](https://powerbi.microsoft.com/en-us/pricing/) or "Max memory per dataset" on [this page](https://learn.microsoft.com/en-us/power-bi/developer/embedded/embedded-capacity?tabs=gen2#sku-memory-and-computing-power)?

If they are not the same, how are they different?

If they are the same, why are 3 different terms used?

---
####

[2022-10-21 19:00] bishalgoswami commented on #4140
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-21 19:00] bishalgoswami commented on #4139
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-21 19:00] bishalgoswami commented on #4138
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-23 07:42] mberdugo commented on #4138
Thanks for your question, @djurecic0. I'll confirm the correct terminology and clarify the document accordingly.

[2022-10-24 06:16] KesemSharabi commented on #4140
Hi @djurecic0,

The information in [What is Power BI Premium?](https://learn.microsoft.com/power-bi/enterprise/service-premium-what-is) is outdated. We'll soon delete this article. Please refer to [What is Power BI Premium Gen2?](https://learn.microsoft.com/power-bi/enterprise/service-premium-gen2-what-is) instead.

I hope this will clarify things,

Kesem

[2022-10-24 06:17] KesemSharabi commented on #4139
Hi @djurecic0,

The information in [What is Power BI Premium?](https://learn.microsoft.com/power-bi/enterprise/service-premium-what-is) is outdated. We'll soon delete this article. Please refer to [What is Power BI Premium Gen2?](https://learn.microsoft.com/power-bi/enterprise/service-premium-gen2-what-is) instead.

I hope this will clarify things,

Kesem

[2022-10-24 06:18] KesemSharabi commented on #4134
Hi @bobokdalibor, which document are you referring to?

[2022-10-24 06:21] KesemSharabi commented on #4124
Hi @KrisMedici,

I'm afraid we don't have this information at the moment.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

I'll also consider adding this to our documentation in the future.

Kesem

[2022-10-24 06:21] #4124 closed

[2022-10-24 06:22] #4028 closed

[2022-10-24 07:14] mberdugo commented on #4138
Hi @djurecic0. Both phrases mean the same thing. It seems that the marketing people and the developers were using different terms to refer to the same thing. I'll update the documentation. Thanks for pointing this out.

[2022-10-24 07:14] #4138 closed

[2022-10-24 12:54] djurecic0 commented on #4138
Thank you for your reply- this is helpful.

I have a similar question that may be outside of the scope of this conversion, but may be related to marketing and developers using different terms.

On the pricing page (https://powerbi.microsoft.com/en-us/pricing/), the Model Size limit for Power BI Premium Capacity is listed as 400 GB.

However, this is the limit only for P5 Premium Capacity (referenc

[2022-10-24 14:55] davideldersveld opened #4142 "Concurrent Page limitation - 429 error - thresholds for throttling"
Customer is experiencing limits exporting paginated reports (429 error -- throttling evident). Can we amend Considerations and Limitations section to include the following?

A) be clear that the concurrent page limits for paginated reports differ from what is stated on the Power BI report page for different Premium tiers (https://learn.microsoft.com/en-us/power-bi/developer/embedded/export-to#cons

[2022-10-24 15:00] bishalgoswami commented on #4142
Thanks for your comment, @davideldersveld. This issue has been assigned to the doc author for review.

[2022-10-24 21:54] jamezhangMS opened #4143 "Documentation feedback"
Feedback from customer regarding this documentation:

It is too long and hard to focus. The beginning of the documentation goes straight into PowerShell and REST API which is intimidating for beginners looking for audit logs data (not sure if that also suggested to users to start with PowerShell and REST API, rather than Microsft 365 Admin Center). Would help if it is split into multiple pages.

-

[2022-10-24 22:30] o221 opened #4144 "error in property name for lineAlignment"
The last json block of the second last code section has...

displayName: "Line Alignment",
                    uid: "dataCard_dataDesign_lineAlignment_slice",
                    control: {
                        type: powerbi.visuals.FormattingComponent.AlignmentGroup,
                        properties: {
                            descriptor:
                            {

[2022-10-24 23:00] bishalgoswami commented on #4144
Thanks for your comment, @o221. This issue has been assigned to the doc author for review.

[2022-10-24 23:00] bishalgoswami commented on #4143
Thanks for your comment, @jamezhangMS. This issue has been assigned to the doc author for review.

[2022-10-25 08:21] KrisMedici commented on #4124
Thanks for clarifying, Kesem.

All the best.

Kris

On Mon, 24 Oct 2022 at 07:22, Kesem Sharabi ***@***.***>
wrote:

[2022-10-25 14:14] otravers opened #4145 "What about dataflows?"
I'm not able to get data (in a new dataset, dataflow, or datamart) from existing dataflows in a tenant where I'm a guest user. When I log in, I can only see the list of workspaces in my own tenant, not the tenant where I'm a guest. If there's a workaround, it should be documented. If there's no workaround, the documentation should explicitly state that dataflows can't be used by guest users.

---

[2022-10-25 15:00] bishalgoswami commented on #4145
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-10-25 15:23] mberdugo commented on #4144
Thanks for pointing this out, @o221. I'll make the change and it should be live in a day or so.

[2022-10-26 07:12] wangfei13 commented on #4107
@bishalgoswami  Is there any update? I got the same issue today

@J4tkins  Did you got a workaround?

[2022-10-26 14:27] paulinbar commented on #3762
Hi @Grantglass, sorry I missed this somehow so long ago. I have forwarded your question along to the group that developed the app. I'll let you know their response. Thanks for the reminder, and sorry again for such a long delay.

[2022-10-26 15:02] djurecic0 opened #4147 "Uploading, loaded, published?"
I don't understand the sentences below. Is there a distinction between "uploading" and "publishing"? They both mean moving a .pbix file to the Power BI Service, right?

How can the model be "published" after is it "loaded"? Where is it "loaded" (uploaded?) if not a workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-10-26 15:09] #4147 closed

[2022-10-26 15:10] djurecic0 commented on #4147
### I assume the answer to this is the same as the others- this page contains old information and will be removed soon. It is a little confusing having 2 sets of Power BI documentation.

[2022-10-26 15:17] djurecic0 commented on #4140
@KesemSharabi Thank you, this is helpful.

[2022-10-26 15:17] #4140 closed

[2022-10-26 15:17] djurecic0 commented on #4139
@KesemSharabi Thank you, this is helpful.

[2022-10-26 15:17] #4139 closed

[2022-10-26 15:21] djurecic0 opened #4148 "Max Memory Per Dataset and refreshing the dataset"
I'd like to know how the concepts below are related. The second paragraph states that the memory used by the dataset will double during refresh, while the first paragraph states that "an amount of memory" must be reserved for refresh. Does "an amount of memory" = "double"?

If that is the case, then .pbix files would be limited to approximately half of the Max Memory if they needed to be refreshed

[2022-10-26 15:32] mberdugo commented on #4142
Hi, @davideldersveld. Thanks for your question. I updated the document with a section discussing concurrent requests. I didn't give an actual number because the number is constantly being reevaluated and subject to change. I hope this helps.

[2022-10-26 15:32] #4142 closed

[2022-10-26 15:47] djurecic0 opened #4149 "Model size limit PPU vs. Premium Capacity"
Though technically correct, I don't think the description of "Up to 400GB" is the best way to describe the Per Capacity limit. The actual limit range is 25-400GB [Source](https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-gen2-what-is#capacities-and-skus)

The way it is listed here makes it seem that Premium capacity always has an equal or greater limit than PPU, which is not th

[2022-10-26 17:00] bishalgoswami commented on #4149
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-26 17:00] bishalgoswami commented on #4148
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-10-27 02:30] maggiesMSFT commented on #4137
Hi, @bishalgoswami -- I guess the key word in that sentence is *view*:
"... users only need a free Power BI license to *view* reports embedded in Sharepoint Online."
I've reworded it to make it clearer. Change should be live tomorrow afternoon Pacific time.
Thanks!

[2022-10-27 02:30] #4137 closed

[2022-10-27 07:00] mberdugo commented on #4122
Sorry for the delayed response, @KrisMedici. As far as I can tell, this question relates to group policies.
Here are a couple of links about setting group policies in Intune. I'll add them to the doc.
[Use Windows 10/11 templates to configure group policy settings in Microsoft Intune](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fmem%2Fintune%2Fcon

[2022-10-27 10:10] charletsjp opened #4150 "Please mention that everyone can update the PowerBI report and not just read it"
Our user would like to use this feature, but they realized that everyone could edit the PowerBI report and just not read it. This limitation makes complicated to maintain a single source of truth for all the one who may access the 'vizualize this list'.

So please mention that everyone can update the PowerBI report and not just read it in the Consideration and limitations: https://learn.microsoft.

[2022-10-27 11:00] bishalgoswami commented on #4150
Thanks for your comment, @charletsjp. This issue has been assigned to the doc author for review.

[2022-10-27 21:02] rihoughton opened #4153 "The section referenced no longer exists"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e9e4a2a2-636c-d935-9b16-82e15ab941b1
* Version Independent ID: e9e4a2a2-636c-d935-9b16-82e15ab941b1
* Content: [Configure automatic aggregations - Power BI](https://learn.microsoft.com/en-us/power-bi/enterprise/aggregations-auto-configure)
* Content

[2022-10-27 21:11] tahmid-bari opened #4154 "Published SSRS Reports on PBI Services"
Hi Microsoft Team,
In the fourth week of October 2022, I manually migrated existing SSRS reports to PBI (premium per capacity) services. And expected those reports would have self-service interactivity (drill-down, filtration) in the same way that Power BI reports do. Unfortunately, those reports lack those features, and I was unable to create a SharePoint embedded link for those migrated reports

[2022-10-27 23:01] bishalgoswami commented on #4154
Thanks for your comment, @tahmid-bari. This issue has been assigned to the doc author for review.

[2022-10-27 23:02] bishalgoswami commented on #4153
Thanks for your comment, @rihoughton. This issue has been assigned to the doc author for review.

[2022-10-28 04:50] PehDeh opened #4155 "Kerberos only vs Use any authentication protocol"
Hi,

recommending a constrained deleation to  "Use any authentication protocol" is not safe and should be configured via "Kerberos Only". Could you provide a safe documentation that works?

[2022-10-28 05:00] bishalgoswami commented on #4155
Thanks for your comment, @PehDeh. This issue has been assigned to the doc author for review.