[2018-10-02 09:55] DaveRuijter commented on #135
Thanks for the changes.

[2018-10-02 10:13] jmsmwaura34 opened #295 "Text boxes are not editable"
One of the features listed above is that text boxes in the Power BI report should be editable in PowerPoint. I'm not sure if I'm doing something wrong but when I export the report to PowerPoint, the text boxes are not editable in PowerPoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df1c4c0-80f9-f71a-175f-8362a29

[2018-10-02 17:08] jaxidian commented on #291
@markingmyname

Right-clicking [solution] -> Restore NuGet Packages does not resolve this issue. I just retested this multiple times again to be 100% certain.

I have to specifically run the `update-package` command for some reason to resolve the issue.

If you think that's a viable solution to this problem, perhaps it would be better to elaborate on what you mean by "configure" instead of just ad

[2018-10-02 18:30] MelisaCapri opened #296 "User"
The steps and menu options outlined in the tutorial do not directly reflect what I am seeing in the application.
Version: 2.62.5222.761 64-bit (September 2018)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f510cb29-4222-72f8-ff8e-58553c856234
* Version Independent ID: cbde387d-8cbc-50ed-5665-54985b9ebcc1
* Content: [S

[2018-10-02 19:11] jaxidian commented on #291
@markingmyname VS2017 Community Edition, fully-updated (as of yesterday - I saw an update pop up today that I have not yet installed)

[2018-10-02 21:03] richardnlove commented on #286
Wow - no follow-up to a basic question.  Very disappointing.

[2018-10-02 21:31] DeanGross opened #297 "Benefits of SharePoint over OneDrive For Business"
Given that most dashboards contain business data, I would recommend that most user put their PowerBI files into SharePoint sites instead of OneDrive because if they leave the organization, their OneDrive For Business site could be closed. It is usually better to keep business documents like these in SPO sites. Please add something about this to the guidance above.

---
#### Document Details

⚠ *Do

[2018-10-02 21:50] markingmyname commented on #295
@jmsmwaura34 Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-02 21:51] markingmyname commented on #296
@MelisaCapri Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-02 21:52] markingmyname commented on #297
@DeanGross Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-02 22:59] maggiesMSFT commented on #286
Hi @richardnlove -- if I understand your question, you're asking: if I upload a file to a preview workspace, can I then link to it from a different workspace? Is that your question? If so, the answer is no. You can still do as you suggest, upload a file to OneDrive or SharePoint and then link to it from >1 workspace.  Please let me know if I haven't answered your question!

[2018-10-03 02:26] v-kerwan opened #298 "R scripts is now supported in Personal gateway ,please update Document"
R scripts is now supported in Personal gateway ,please update Document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea871f0a-018e-0335-7261-f9d9d2232e36
* Version Independent ID: 345a024a-5964-0979-494f-6f7196a3c929
* Content: [On-premises data gateway (personal mode) - Power BI](https://docs.microsoft.com/en-us/powe

[2018-10-03 02:27] v-kerwan opened #299 "Could you please update R Script is not supported with On-Prem Gateway and user have to use personal Mode?"
Could you please update R Script is not supported with On-Prem Gateway and user have to use personal Mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Content: [On-premises data gateway - Power BI](https://docs.micr

[2018-10-03 03:33] mihart commented on #246
Hi @tfairfoul
This part of the doc is not intended to be a link but to be an example.  Sorry for the confusion.
Thanks,
Michele

[2018-10-03 03:33] #246 closed

[2018-10-03 03:59] mihart commented on #260
Hi @rslayunc
This took a lot of investigation, thanks to WillT and JeffreyW.
You have Opportunity ID 302 twice in the Fact table, therefore distinct count is 486 but countis 487. To easily visualize the data issue, simply create a table visual and add [Opportunity ID] to the visual twice, once using Do Not Summarize, the second time using Count. Sort the rows by Count in descending order and you’l

[2018-10-03 03:59] #260 closed

[2018-10-03 04:01] mihart commented on #289
@kfile.  Not mine.  I believe Maggie handles this one.

[2018-10-03 04:02] BharathiAN commented on #284
Hi,
Thanks for your response. In that case, whether this article will be modified accordingly.

[2018-10-03 04:04] mihart commented on #295
Hi @jmsmwaura34
Thank you for your question.  It helped me identify an article that had been duplicated and wasn't yet ready to go live.  I'll be taking down that article, updating it, and republishing soon.

Take care,
Michele

[2018-10-03 04:04] #295 closed

[2018-10-03 08:31] rafaelhenck opened #300 "PowerBI training content no in line with data source we get"
There are two erros, which second has much more impact:

1) There are differences in the data source we get from the "Retirement States" websites and see in our PowerBI and what the training shows. For instance, we don't see a column "Senior". As a result of that, the initial calculation proposed for "New Rank" column has to be different by not having "Senior" component and dividing by 7 instead o

[2018-10-03 08:33] rafaelhenck commented on #122
Not sure why is this a closed ticket because the problem remains today.

[2018-10-03 10:29] johnkattenhorn opened #301 "Missing information on sharing Microsoft Azure Consumption Insights"
We've used this documentation to setup our Azure Consumption Insights and it's working but we can't figure out how to share the configured App with other members of our team; the options we use for our own Apps don't appear for this PowerBI Application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6

[2018-10-03 16:04] tfairfoul commented on #246
Hi,
    The issue is that no matter what site I put in the iframe it does not work. www.microsoft.com<http://www.microsoft.com> for example.

<iframe src="https://www.microsoft.com"></iframe>

[cid:image001.png@01D45AF8.1CC1F710]

Thanks

Todd

From: Michele Hart <notifications@github.com>
Sent: Tuesday, October 2, 2018 8:34 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: F

[2018-10-04 00:31] chrisweis opened #302 "Need content for Dataflows"
There is no mention of the Dataflows memory settings (currently in Preview).  That needs to be added to this document. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f09b043-ca4f-8d06-16b9-19f03e89b344
* Version Independent ID: 8166553d-853a-204d-b0bf-e7380d4042d6
* Content: [Manage capacities within Power BI P

[2018-10-04 09:30] DownB opened #303 "Power Bi Files"
Hi,
Could you give the power bi files you are using for this presentation to be able to do it on my side at the same time ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ae2272-c2ec-5bf1-5315-1e854291e821
* Version Independent ID: 24993f50-2188-4999-c907-eb908b03da5a
* Content: [Best design practices for repo

[2018-10-04 09:40] panicacid opened #304 "Invalid API keys / Credentials"
After creating a new set of API keys for our EA we're getting the error:

Failed to update data source credentials: The credentials provided for the MicrosoftAzureConsumptionInsights source are invalid. (Source at 75242865.)Show details

Keys are valid, copied and pasted multiple times, regenerated, still failing each time we're trying to connect Consumption Insights to our EA.

[2018-10-04 12:53] JoeRandI opened #305 "Login Flow Broken"
Hey guys,
When I click the sign in button, I get a popup from jive saying "Oops, the page can't be found."

Does this service still work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6faf733f-4da2-a32d-4ca4-a275a6b4a2e0
* Version Independent ID: 0181ac54-9860-96de-cf20-7f95a85cf84a
* Content: [Connect to Lithium with

[2018-10-04 14:03] tolga-balci opened #306 "This does not work on PBI Desktop Version: 2.62.5222.761 32-bit (September 2018)"
Unfortunately copy and pasting to PowerPoint, Word or any other Microsoft Office products is not working.
There should be some way to do that as we can copy Excel visualizations to PowerPoint or any other Office product.
Happy to reproduce the issue and present that this is not working in PBI Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-04 18:04] maggiesMSFT commented on #306
Hi, @tolga-balci -- Sorry to hear it! It sounds like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-04 18:04] #306 closed

[2018-10-04 18:06] maggiesMSFT commented on #298
Thanks for your suggestion, @v-kerwan. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-04 18:08] maggiesMSFT commented on #299
Thanks for your comment, @v-kerwan. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-04 18:09] maggiesMSFT commented on #300
Thanks for your comment, @rafaelhenck. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-04 18:13] maggiesMSFT commented on #304
Thanks for your comment, @panicacid . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-04 18:13] #304 closed

[2018-10-04 18:15] maggiesMSFT commented on #305
Thanks for your comment, @JoeRandI . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-04 18:21] maggiesMSFT commented on #301
Thanks for your comment, @johnkattenhorn . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-04 18:52] kevhav opened #307 "This Documentation Needs to be Updated"
Since the July update to Power BI Desktop, there are additional items that can be included in the theme file. There are new cards (cardName) for visual container settings, like 'title' and 'background'. And there is the new, generic 'page' visual (visualName) for setting page-level formatting options. Right?

See this:
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-july-2018-feature-sum

[2018-10-04 20:36] regbac opened #308 "typo"
Hi,
you might want to correct that title :
"Changed Power IB gateway data source users"
Cheers
Regis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-1293-1264-3214cc4b6dc8
* Content: [Using auditing within your organization - Power BI](https://

[2018-10-04 21:35] ravick4u opened #309 "I could not find the Export Button"
Can you please let me know why I could not see the export button. I see "Show Data" and "Spotlight"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87c556b-b1da-0b24-606b-89c371c6bae8
* Version Independent ID: 20141574-acfa-f5f8-b6cf-6b32b3c55b4f
* Content: [Export data from a Power BI visualization - Power BI](https:/

[2018-10-04 22:11] markingmyname commented on #291
Hi @jaxidian.  sorry for the delayed response.  I spun up a new environment with VS 2017 and using the "REstore Package" did work for me.

I am still considering adding something, but I need to do a bit more testing.

[2018-10-04 22:14] maggiesMSFT commented on #308
Good catch, @regbac! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!
Did you know: In the future, if you see a typo or other small fix, you can create your own pull request. That's the fastest for us to fix because we just have to approve the PR. Just click the Edit pencil in the upper-right corner.
Thanks again --

[2018-10-04 22:15] maggiesMSFT commented on #307
Thanks for your comment, @kevhav! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-05 01:26] odeddror opened #311 "Sr Database Analyst"
How do you create these Agg tables you just showed? I'm stack with how to create these tables
Also Is there any way to get these sample as Power BI files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 651949b2-ae84-a7c1-d012-e41891e5931c
* Version Independent ID: bb6928af-2e51-320e-e69b-577f9bbdcd17
* Content: [Use Agg

[2018-10-05 08:15] lorelai-rm commented on #178
Hi, @maggiesMSFT.

Does this mean that RLS in the new workspaces will only work until the Viewer role is released?

Thanks.

[2018-10-05 15:43] SarinaJoan commented on #301
@johnkattenhorn, Power BI service apps are installed per user and don't have a sharing option. If other users in the organization have access to the service, they can install the app through the 'Get Apps' experience.

[2018-10-05 15:50] MartinaPD commented on #236
Hello Maggie,
thank you.
I think I could not find the button :).
I can now.... shame I have to redo my work :(.

[2018-10-05 15:52] SarinaJoan commented on #305
Hi @JoeRandI, the Lithium app is still active and should allow you to connect to a community. Can you create a support ticket if this issue persists? https://powerbi.microsoft.com/en-us/support/pro/

[2018-10-05 18:19] kfile commented on #311
Hi @odeddror , thank you for submitting feedback. I have assigned your question to the author. He will follow up for more info if needed.

[2018-10-05 19:48] maggiesMSFT commented on #178
Hi, @lorelai-rm -- no, RLS controls access to data. The Viewer role controls access to an app workspace. Does that answer your question? Thanks!

[2018-10-05 21:50] yzhong94 opened #312 "How to select multiple columns in many-to-many relationship"
The description says "Select tables and columns that are related," but I can only select one column per table.  Can I actually selet two keys for the relationship?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 477d54a5-8a27-ae63-9887-9801639962e8
* Version Independent ID: 8a2c56c0-cf25-bd2d-8de9-207ccc1e83d1
* Content

[2018-10-05 23:06] #301 closed

[2018-10-05 23:09] maggiesMSFT commented on #312
Thanks for your comment, @yzhong94 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-06 08:58] NeilMacMullen opened #313 "So how do I edit data?"
As usual, the user experience in PowerBI is poor when you try to do something even slightly off the beaten track :(  There's not much point in being able to create data directly if I can't then edit it to correct minor mistakes or add new rows/coumns.  The "Enter Data" UI sets the expectation that I'm effectively editing a spreadsheet but once the table is added the 'obvious' edit-data option is m

[2018-10-06 19:08] chrisweis opened #314 "Clarify licensing for Q&A"
There seems to be no mention of licensing requirements for the Q&A functionality.  Would be great if you could add that.  Is it available to Free users?  Only Pro users?  Can Free users use it in a Premium app?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8e2480-703a-1417-c5d9-8d019669f45a
* Version Indepen

[2018-10-08 06:36] rhlgupta1383 opened #315 "SQL Profiler not working"
Working with the section - "Deep-dive into query performance with SQL Profiler and Power BI Desktop", the profiler did not show any results. I used the following steps:

1. Checked the port used by msmdsrv.exe
2. Started profiler -&gt; New trace -&gt; Analysis Services -&gt; localhost:&lt;&lt;my port number&gt;&gt;
3. Cleared trace
4. Opened the Power BI report

Kindly revert, in case something is

[2018-10-08 06:39] rhlgupta1383 commented on #241
@markingmyname - Thanks for the update. Wanted to report a small miss in the spelling though

![image](https://user-images.githubusercontent.com/4348908/46594818-f66c7700-caf2-11e8-9a51-4031683b7473.png)

[2018-10-08 06:45] lorelai-rm commented on #178
@maggiesMSFT, Thanks for the quick reply. It does not answer my question. Basically, I want to know which role is equivalent to the "Member can only view Power BI content" since this is the one I use to enforce RLS.

[2018-10-08 08:07] nusairi commented on #223
Thanks removing of embedded node done the job

[2018-10-08 12:56] mortenf opened #316 "Spaces in field names?"
In the section "Use DAX to filter on multiple values" it says: "Remember that the Field name cannot have any spaces." - is that still true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Add Power BI report p

[2018-10-08 17:59] markingmyname commented on #291
@jaxidian I apologize, but I was unable to replicate your issue.  As such, without further data, I do not have enough information to continue to add information to this article.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2018-10-08 17:59] #291 closed

[2018-10-08 18:02] markingmyname commented on #267
@jrichview We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-08 18:02] #267 closed

[2018-10-08 18:03] markingmyname commented on #313
@NeilMacMullen Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-08 18:04] markingmyname commented on #314
@chrisweis Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-08 18:30] jrichview commented on #267
I'm reviewing the html and script code this generates, @markingmyname, but the optimizer assumes I will only be embedding one report. I have three.

[2018-10-08 21:17] NeilMacMullen commented on #313
@markingmyname   Apologies if this came across as a bit harsh - I do realise the technical authors can't magic up missing features in the product ! :-)

[2018-10-08 23:00] markingmyname commented on #292
eino-makitalo Hello, thank you for your comment.

Power BI and Power BI Embedded are tied to Azure Active Directory.  So Azure is required.

[2018-10-08 23:44] davidiseminger commented on #315
Thanks for your comment, @rhlgupta1383. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

This looks like it also may be a support request - you might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-08 23:46] davidiseminger commented on #316
Thanks for your comment, @mortenf. I don't believe that requirement has changed, but we’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-09 04:45] berrymicon commented on #200
thanks @bvaldeiglesias that worked for me

[2018-10-09 15:59] deepu299 opened #317 "Associate O365 group to new work space"
Hi @magiesMSFT, Is there any document on how to associate an O365 group or Sharepoint site to the new workspace? Also, when it says No One Drive button, is it the button which says "One Drive - Business"  and we should be using Share point - Team sites to connect files? I am looking for a way like in old workspaces where the files uploaded in One Drive are already connected and only accessible fro

[2018-10-09 17:18] markingmyname commented on #313
@NeilMacMullen No worries.  I did not take it that way at all.  I just wanted to make sure your request was seen by the author.

Thank you.

[2018-10-09 19:15] chelsbells opened #318 "Python Script not listed in Data Source's "Other""
The documentation lists Python Script as a data source for Power BI: https://docs.microsoft.com/en-us/power-bi/desktop-data-sources

![image](https://user-images.githubusercontent.com/19586598/46692866-2da75a80-cbbd-11e8-9f0b-e1e7f4a180ef.png)

I do not see this as a potential source in my version of Power BI (2.62/Sept 2018)

My Get Data menu options:
![image](https://user-images.githubuserconten

[2018-10-09 22:58] sunk818 opened #319 "ShowLeadGenDialog.reg"
For me, it was not in HKLM, it was in HKCU:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a847d24-1a24-18c1-aa6e-2c977fa5e7cf
* Version Independent ID: 8089b020-600d-cbf9-fac9-f8a9328a6c00
* Content: [How admins can manage the Power BI Desktop sign-in form - Power BI](https://docs.microsoft.com/en-us/power-bi

[2018-10-11 01:48] ahmadanuar opened #320 "Wrong content?"
This is not "Create and share apps" content. Seems to me this is a "Install and use apps". When I go to https://docs.microsoft.com/en-us/power-bi/service-install-use-apps , it displays same content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Version Independent ID: 0e1245cb-d7

[2018-10-11 17:45] markingmyname commented on #292
@eino-makitalo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 17:45] #292 closed

[2018-10-11 17:47] markingmyname commented on #200
@bvaldeiglesias Thank you for adding the workaround.

[2018-10-12 05:34] renaudma opened #321 "Unable to connect to the new app (preview) workspace"
Since the new app workspace is out (still in preview mode), i am unable to connect to my data in these workspace. The workspace does not appear in the drilldown list of PBI workspaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 458afd24-a62a-7944-5cd4-de9a9290c308
* Version Independent ID: ed6a56f0-e067-9f92-5d54-67

[2018-10-12 07:45] AzizQuazi opened #322 ""featured" dashboard"
Hi, I have not found any documentation on the "featured" dashboard - How to create etc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91935bb2-c486-cb9f-be71-ae18ad28cf96
* Version Independent ID: 761de430-9bc7-4d7d-4c56-d14e6354194c
* Content: [What is a dashboard for Power BI service consumers? - Power BI](h

[2018-10-12 09:58] dennis-skymill opened #323 "Documented permissions doesn't add up with MS Graph permissions"
The permission listed when trying to modify permissions in Graph Explorer doesn't add up with the ones documented here.

What are the minimal required permissions necessary to connect Power BI to MS Graph API?

[2018-10-12 15:54] jackdh opened #324 "clientId and groupId no longer exist in the demo code."
clientId and groupId no longer exist in the demo code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Embed Power BI content into an application for your customers - Power BI](https://docs.microsoft.com/en-us

[2018-10-12 17:47] markingmyname commented on #321
@renaudma Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-12 17:49] markingmyname commented on #322
@AzizQuazi Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-12 17:52] markingmyname commented on #323
@dennis-skymill Hello, thank you for your comment. I can't tell by the title and the lack of supporting detail what exactly the documentation issue is. Can you please explain in more detail?

Thank you.

[2018-10-12 17:53] markingmyname commented on #324
@jackdh Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-10-13 19:24] entmike opened #325 "HANA HDI Containers"
Hi, does Power BI support Calculation Views created in HANA HDI Containers?  I can see the container, but no Calculation View.  I can see the Calculation Views in my HDI Container in other tools like Tableau though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea414a5c-c3ca-281e-46ca-3e677d27924b
* Version Independen

[2018-10-15 01:05] odeddror commented on #311
Kelley,
Thank you for doing that.
Oded Dror

[2018-10-15 02:34] rudyh67 opened #326 "the newest sample retail analysis PIBX"
I am reading the https://docs.microsoft.com/en-us/power-bi/desktop-data-categorization but my retail Analysis sample PIBX seems different.

I have already download from https://docs.microsoft.com/en-us/power-bi/sample-retail-analysis

please inform to me the link off newest retail Analysis sample PIBX so that I can continue my reading

regards
rudy

[2018-10-15 05:15] BarakAvrahami commented on #312
Hello,
I would like to understand what will be the preformance delta in the new M:M VS using a star schema model with a key_table the middle.
Wont it be less efficient to have this snowflak model instead of a star model ?
I would wonder why not the have a feature that creates a star schema for you..

[2018-10-15 16:45] sbdoroff opened #328 "Public Peering and Microsoft Peering Setup"
Hi,

Public Peering has been deprecated for new circuits leaving Microsoft Peering as their only option.  What is the best way to get steps for Power BI setup with Microsoft Peering listed in this document?

Reference Doc: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#azure-public-peering
Configuring MS Peering Route Filters/BGP Communities: https://docs.microso

[2018-10-15 23:13] davidiseminger commented on #328
Thanks for your comment, @sbdoroff . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

It also looks like you might have a support request rather than / in addition to documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-15 23:16] davidiseminger commented on #326
Thanks for your comment @rudyh67. You can get all available samples from the following locations:
https://github.com/Microsoft/powerbi-desktop-samples/tree/master/2018
https://docs.microsoft.com/en-us/power-bi/sample-datasets
Hope that helps!

[2018-10-15 23:16] #326 closed

[2018-10-15 23:17] davidiseminger commented on #325
Support request:
Thanks for your comment, @entmike. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-15 23:17] #325 closed

[2018-10-16 06:36] annmarygit commented on #52
Thanks for the solution! It really helped to resolve similar issue.

[2018-10-16 09:59] DetlevVreeken opened #329 "Whats is expected GA date for new Workspace experience?"
Any idea when (what date) GA for new Workspace is expected for NorthEurope?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new workspaces (preview) - Power BI - Power BI](https://docs.microsoft.com

[2018-10-16 10:00] DetlevVreeken opened #330 "Do all the changes to workspaces also apply for "my workspaces"?"
Do all the announced changes to new workspaces also apply for "my workspaces"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new workspaces (preview) - Power BI - Power BI](https://docs.microsoft.

[2018-10-16 10:03] DetlevVreeken opened #331 "O365 entire organization creates groups versus new workspaces only allowed for specific groups."
What will happen (to the availability of) old workspaces if we enable create workspaces in PowerBI but only to a specific group, while the current creating of O365 groups is allowed to entire organization? Will users still be able to use the previous created workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 113

[2018-10-16 11:14] adumont opened #332 "Dataset not visible in My Workspace, so I can't create custom reports from it"
I have added the "App" as shown in the guide, and it works. When I go in Power BI Settings, under Datasets I can see a new Dataset has been configured. Th eproblem is when I go to My Workspace, I cannot see this new dataset in the Datasets section. As a consequence, I am unable to create a new report that uses this dataset. (When I try to create a new report, the datasets that I have undert My Wor

[2018-10-16 18:43] andymc123 opened #333 "Nice tip, but can I change a report source?"
This is nice to know, but I would need to start over.  is there a way to move an Excel file to OneDrive and then edit the source to "Web"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a1e2f2-6f7a-06ab-77a5-efff8aedabe3
* Version Independent ID: 67d3cd28-51ec-07d9-ed36-840097415f56
* Content: [Use OneDrive for Busin

[2018-10-16 18:50] danmyhre opened #334 "Q&A to add"
How can you restrict marketplace?  Is there a way to only allow approved custom visuals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f6bd837-63e3-8bcd-9743-425e6da4a9b8
* Version Independent ID: 944bd5e0-a52f-0a4c-362b-68701f03c8d8
* Content: [Administering Power BI - frequently asked questions (FAQ) - Power BI](ht

[2018-10-16 19:21] andymc123 commented on #333
answered my own question - here is a link - https://community.powerbi.com/t5/Desktop/Change-source-of-Excel-to-OneDrive-for-existing-reports/m-p/230247#M102698

[2018-10-16 19:46] DaveRuijter opened #335 "Download link to example pbix is not working"
In this note the download link is broken:
"Want to see a completed .pbix file with these steps completed? You're in luck - you can download the completed Power BI Desktop file used in these examples [right here](http://download.microsoft.com/download/F/8/A/F8AA9DC9-8545-4AAE-9305-27AD1D01DC03/Complete Values with Python in PQ.pbix)."

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-10-16 21:14] maggiesMSFT commented on #335
Hi, @DaveRuijter -- thanks for letting us know! We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-16 21:15] maggiesMSFT commented on #334
Hi, @danmyhre -- thanks for your question! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-16 21:16] maggiesMSFT commented on #333
Hi, @andymc123 -- thanks for the info! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-16 21:20] maggiesMSFT commented on #332
Hi, @adumont -- thanks for your question! We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-16 21:29] maggiesMSFT commented on #329
Hi, @DetlevVreeken -- thanks for asking! No, we don't have a date for GA yet. Keep your eye on the "October 2018 summary of planned features for Power BI" for updates: https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/planned-features#power-bi-service.
thanks!

[2018-10-16 21:29] #329 closed

[2018-10-16 22:54] maggiesMSFT commented on #320
Oooooh, good catch, @ahmadanuar! I'm on the hunt for the content that should be in the article. Thanks for pointing that out!

[2018-10-16 23:20] tnewton42 opened #336 "Doesn't Work"
Trying the above steps (with or without adding a port reference to 1521), does not work. Getting error "We couldn't authenticate with the credential provided. Please try again."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335cbd5df919
* Version Independent ID: 46a896f9-4707-adc3-72cd-5444a5d0

[2018-10-16 23:29] tnewton42 commented on #336
problem still occurs after installing 64-bit version of app from .msi.

[2018-10-16 23:34] mihart commented on #320
@ahmadanuar @maggiesMSFT  Found it!  It should be back to where it belongs within the next 2 days.

[2018-10-17 00:45] maggiesMSFT commented on #320
Thanks, @mihart!

[2018-10-17 06:12] mihart commented on #314
Hi @chrisweis
Thank you for the suggestion.  I've updated the article with the info.

[2018-10-17 06:12] #314 closed

[2018-10-17 06:31] mihart commented on #322
Hi @AzizQuazi
Try this link: [featured](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-featured)
Take care,
Michele

[2018-10-17 06:31] #322 closed

[2018-10-17 06:41] mihart commented on #309
Hi @ravick4u
Good catch.  That article has been removed as exporting is no longer available to end users.
The updated article is here:  https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data.  If you're looking at a report in Reading view, you won't have the option to export data -- you need to open it in Editing view (if you have the permissions).  On a dashboard, if

[2018-10-17 06:41] #309 closed

[2018-10-17 06:48] mihart commented on #303
Hi @DownB ,
Thank you for your inquiry.  Unfortunately, we don't have a sample for that particular article/whitepaper. It does need updating and I'll see if I can somehow structure it to use one of the free samples when I do the editing.
Take care,
Michele

[2018-10-17 06:48] #303 closed

[2018-10-17 10:06] arunrknt opened #337 "Thanks"
Its not a feedback its a thanks for Microsoft, this is first time i got fulfilled in understanding by manual study in online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49462b9d-81da-e29a-f148-1fd95395a570
* Version Independent ID: 4ce1f7c2-0170-35b5-adca-c92c41fb7fc1
* Content: [Modeling - Power BI](https://docs.mi

[2018-10-17 11:41] chrisweis opened #338 "Minor Typo"
“Sometimes the best way to learn about data refresh in Power BI to look at examples.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8122662c-44c4-317d-ef45-44bd3f204487
* Content: [Data refresh in Power BI - Power BI](https://docs.microsoft.com/en-us/power

[2018-10-17 11:53] chrisweis commented on #314
Where is the new content? I searched “licens” and found no results.  Thanks

[2018-10-17 11:56] chrisweis opened #339 "Dead link"
The “overview page” link is going to the Power BI support page. Doesn’t seem right. Thanks

http://go.microsoft.com/fwlink/?LinkId=535031&clcid=0x409

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed468ec7-192b-8ad4-da13-fc3bca5c47b8
* Version Independent ID: a93614a9-2bda-3bb5-782b-ec75cd434105
* Content: [Azure and P

[2018-10-17 17:48] powerbraps opened #340 "Filter option wont work if table starts with a number and contains spaces"
While using filter in URL, I found that the filter won't work if the table name starts with a number and contains spaces (ex: 2 Table) but works the other way around (ex: Table 2).

I tried the _x0020_ escape on the table name and that did not work, contrary to your documents. A filter example would be: ?filter=2_x0020_Table/Column1 eq 'a'

The documentation in specific is : https://docs.microsoft

[2018-10-17 18:34] alohaninja opened #341 "Log Analytics Integration"
Are there any plans to integrate this content pack with Log Analytics instead of Azure Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe108af-9a54-8fc1-ff18-7b9d141576eb
* Version Independent ID: 5ee0a5fc-b99f-4624-1c76-f924c4a2a80e
* Content: [Connect to Azure Search with Power BI - Power BI](https://docs.mi

[2018-10-17 18:48] #208 closed

[2018-10-17 18:48] #217 closed

[2018-10-17 18:49] #223 closed

[2018-10-17 19:04] markingmyname commented on #324
@jackdh Thank you for catching this change.  The change has been made to both the customer and organization articles. Changes should go live in a few days.

And @jackdh  did you know: For minor things like typos, you yourself can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose fil

[2018-10-17 19:04] markingmyname commented on #324
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 19:04] #324 closed

[2018-10-17 19:57] BarakAvrahami opened #342 "Preformance"
[Enter feedback here]

Hello,
I would like to understand what will be the preformance delta in the new M:M VS using a star schema model with a key_table the middle.
Wont it be less efficient to have this snowflak model instead of a star model ?
I would wonder why not the have a feature that creates a star schema for you--
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-17 23:30] maggiesMSFT commented on #320
Hi, @ahmadanuar -- the right content is back in place. Whew!

[2018-10-17 23:30] #320 closed

[2018-10-18 10:35] johnstav opened #344 "Missing await keyword"
Code sample is missing await keyword:

[code]

should be

[code]

[2018-10-18 13:48] AzizQuazi opened #345 "Configure and use data refresh - Step 5 Select My Workspace > Reports >"
Hi, Looks I cannot find the Schedule refresh in the above step 5 &gt; Reports. I  can see that in the Dataset. Please advise. Thanks.

Rgs..Aziz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f589c5a-4ee4-be0e-85d1-af9953969631
* Version Independent ID: 0ccf859d-8b81-9d01-62ac-a9c0576887fa
* Content: [Tutorial: Connec

[2018-10-18 20:00] arthiriyer commented on #116
Hi @cpcodes -This specific error occurs only when you try to reinstall the same version you have already. You will get a variation of this error when you try to install a lower version than the one you have currently. In these cases unfortunately you will have to reinstall and not be able to update - in which case you lose your existing settings.

FYI @mgblythe

[2018-10-18 20:06] maggiesMSFT commented on #337
Thanks so much, @arunrknt! Passing your comment on to the author.

[2018-10-18 20:11] maggiesMSFT commented on #339
Hi, @chrisweis -- Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-18 20:20] arthiriyer commented on #163
@markrullo -  I can connect with the gateway(September 2018 release) to a database having a period. It could have been a bug in previous versions(the version you have in the snip seems very old) but when you update to the latest one, you don't see this happening.
@mgblythe - FYI

[2018-10-18 20:34] maggiesMSFT commented on #341
Hi @alohaninja -- Thanks for your question. We've assigned it to the author. In the meantime, check this Release Notes article for upcoming features https://docs.microsoft.com/en-us/business-applications-release-notes/October18/intelligence-platform/planned-features
Thanks!

[2018-10-18 20:36] maggiesMSFT commented on #342
Thanks for your comment, @BarakAvrahami. We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-18 20:40] maggiesMSFT commented on #344
Hi @johnstav -- thanks for your comment! I believe you're referring to this article, right? https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers
I've forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-18 20:42] maggiesMSFT commented on #345
Hi, @AzizQuazi -- thanks for your comment. We've forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-10-18 21:47] maggiesMSFT commented on #340
Hi @powerbraps -- Got you a great answer:

I don’t think this is related to the spaces. This is an OData limitation that is defined by their rules for identifiers, and I included sources below. Unfortunately these were the only official sources I could find, but they are overly technical.

To summarize them, an OData identifier must start with a letter or underscore, so we don’t support identifier

[2018-10-18 21:47] #340 closed

[2018-10-18 22:33] cajonemsft opened #348 "I do not see the sort button when I click the ellipses"
All I see is the below.

![image](https://user-images.githubusercontent.com/26772936/47188292-58479080-d2ec-11e8-8127-d655d5768c72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d720907-1bee-2523-b53b-a1f2ffad1bfc
* Version Independent ID: b5a1765e-8008-af99-e82f-4e694fb0c75b
* Content: [Change how a chart is sor

[2018-10-19 01:56] maggiesMSFT commented on #348
Hi, @cajonemsft -- thanks for your question. We’ve forwarded it to the writer, who should respond shortly. Thanks!

[2018-10-19 07:54] troyel opened #349 "Direct Query cache restrictions information out of date?"
From the text: "Scheduled refreshes: With shared capacity, scheduled refreshes for imported model datasets are limited to eight times per day. For datasets in Premium workspaces, you can schedule refreshes up to 48 times per day. DirectQuery cache refreshes are still limited to eight times a day in Premium capacity."

According to this: https://powerbi.microsoft.com/fr-fr/blog/announcing-custom-ca

[2018-10-19 09:00] engelhro opened #350 "Issues with PowerQuery documentation"
Hello,

Not sure whether this is the correct project to report this, but I consider "Power Query" part of "PowerBI", so it might fit.

# Overall problem

**PowerQuery documentation links to not existing Github project**

The "Contribute" links within the PowerQuery documentation (e.g. https://msdn.microsoft.com/en-us/query-bi/m/splitter-splittextbyanydelimiter) refer to an invalid Github project n

[2018-10-19 11:14] delormej opened #351 "Custom Entities, Authentication & Data Refresh"
The example given above is very specific and limited to an handful of CRM entities.  For meaningful reporting against custom entities and complex joins you must use FetchXML and a web connection.  A nice example of how to actually connect to Dynamics CRM from PowerBI is covered in this blog post:  https://crmchartguy.com/2017/09/30/use-fetchxml-in-power-bi-with-dynamics-365-customer-engagement/.

[2018-10-19 11:33] bjarkimg opened #352 "SSAS on-premises"
Any plans allowing SSAS on-premises connection thru the gateway?
So we can open live connection to a on-premises SSAS db thru Power BI Gateway?

Thanks

[2018-10-19 12:34] PhilStollery opened #353 "Step 3 - link is broken"
Follow the link: https://portal.office.com/Start/Confirm?Sku=a403ebcc-fae0-4ca2-8c8c-7a907fd6c235&ru=https%3A%2F%2Fapp.powerbi.com%3FredirectedFromSignup%3D1%26noSignUpCheck%3D1

It no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3f747f-9b4f-2bfc-831e-ed8232177d38
* Version Independent ID: b2da371d-ae

[2018-10-19 14:35] cajonemsft commented on #348
Thanks!

From: Maggie Sparkman <notifications@github.com>
Sent: Thursday, October 18, 2018 6:57 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Calvin Jones <cajone@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] I do not see the sort button when I click the ellipses (#348)

Hi, @cajonemsft<https://na01.safelinks.protection.out

[2018-10-19 20:31] kfile commented on #351
Hi @delormej thank you for your comment. I've assigned it to the author for review. @SarinaJoan

[2018-10-19 20:35] kfile commented on #350
Thanks @engelhro for submitting your comment. I believe I have the correct author assigned to this issue.

[2018-10-19 21:38] arthiriyer commented on #352
@bjarkimg
SSAS is supported via gateway today more information in the link below
https://docs.microsoft.com/en-us/power-bi/service-gateway-enterprise-manage-ssas

The Direct query option is also available for SSAS.
@kfile FYI

[2018-10-19 22:35] edwarsco-oregonstate-edu opened #354 "Limitations and considerations"
"Installing an Analysis Services Power Pivot mode instance lets you work with Excel workbooks that are using Power Pivot"  We have this working using an OOS.  However, we can't figure out how to schedule the Power Pivot refresh like you can with SharePoint.  https://docs.microsoft.com/en-us/sql/analysis-services/power-pivot-sharepoint/power-pivot-data-refresh-with-sharepoint-2013?view=sql-server-2

[2018-10-21 19:53] naushadsiddiqui opened #357 "Getting 'Could not create SSL/TLS secure channel' error when trying to run this sample application"
Hello:
I am trying to use this tutorial  (https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers ) to test the Apps Own Data application that is provided as part of this tutorial. I have tried both options to run/test this application:
a) Using the Embedding Setup Tool and then trying to run the code in Visual Studio
b) Followed the steps to complete the manual setup proces

[2018-10-22 00:14] jrsauter opened #358 "Multimedia Learning Approach"
I'm new to data visualization, though I've done it in Excel for years.  The combination of written narrative, video, and a live test environment is excellent for exposing, learning, and trying the concepts.  Great job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Indepen

[2018-10-22 15:20] bjarkimg commented on #352
Hi, this is the same issue as here:
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/15561135-route-analyze-in-excel-odc-through-power-bi-api?fbclid=IwAR0b4GkU299e73PADC2efIdsZrciKeyzwbK81T5R0tjDKlbPTfWhGzfMoHk

Thanks.

[2018-10-22 19:10] ShifengWu opened #359 "How to configure with Azure Automation Runbook?"
I am trying to use Azure Automation Runbook to monitor all gateways under my account, but I can't overcome the Login-OnPremisesDataGateway since it has popup window. If I run as Azure, will show "the Internet Explorer engine is not available", if I run as Hybrid worker, will show "Showing a modal dialog box or form when the application is not
running in UserInteractive mode is not a valid operatio

[2018-10-22 20:39] v-miclar opened #360 "Bad/obsolete link."
The following sentence links to the section #how-to-enable-pushing-apps that does not seem to exist (anymore).
"You can learn more considerations for pushing an app."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Version Independent ID: 0e1245cb-d7af-c73c-39c4-39f5665ae51a
* Cont

[2018-10-22 20:57] maggiesMSFT commented on #360
Thanks @v-miclar! I'll fix it.

[2018-10-23 00:03] davidiseminger commented on #354
Thanks for your comment, @edwarsco-oregonstate-edu . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-23 00:06] davidiseminger commented on #359
Thanks for your comment, @ShifengWu .
In addition to a documentation inquiry, this looks like a possible support request as well. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-23 00:07] davidiseminger commented on #358
Hi @jrsauter - that's great to hear! Thanks for your nice comments, and we hope to create more content like this in the future. Thanks for the feedback!

[2018-10-23 00:07] #358 closed

[2018-10-23 00:08] davidiseminger commented on #359
Adding the author.

[2018-10-23 05:44] krishnand opened #361 "PowerBiApiResource"
The AAD app config doc segment is quite confusing. As I understand, there are 2 apps one that assigns permissions to PBI service and the Client that has the secret configured. It is not clear how the Client app configures permission for the Resouce AAD app. I presume we are following the [Client credentials grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-clien

[2018-10-23 08:15] Minewiskan commented on #350
@engelhro Thanks for your suggestion. The Power Query M reference is currently in a state of transition as we move this content from MSDN to Docs.microsoft.com. The Contribute feature on docs.microsoft.com uses Git Issues. It is a much more reliable platform than MSDN.
I fixed the syntax error you pointed out, but it will not appear until this content is live on docs.microsoft.com, which should be

[2018-10-23 09:06] MarkL76 opened #362 "When will Viewer role be made available?"
Hi, we really want to start using the new workspace offering, however we are very concerned that we can't offer our users a read only view and that all available options (Admin, Member & Contributor) offer the ability to Edit and download the PBIX.  This is a big deal to us, we do not want our users to be able to do either of these.  We are also concerned that users can download the PBIX and view

[2018-10-23 14:56] o-o00o-o commented on #209
It looks like the current behaviour applies the url filter as if the user has never been to the report before, (even if they have and set other filters, that will show on the next time they go to the report without any url filters)  This is good so the only limitation left is that it means that you can't override the filters that the report author published with. I would say ignorePublishedFillter

[2018-10-23 16:17] SarinaJoan commented on #332
Hi @adumont - have you installed this as a content pack or as an app? The content pack installs in your workspace and is editable, while the app just allows you to view the content.
![getcontentpackedit](https://user-images.githubusercontent.com/11854211/47375138-6d357280-d6a4-11e8-8b5e-c2978c5c0b1d.png)

[2018-10-23 16:43] SarinaJoan commented on #341
Hi @alohaninja - have you looked at [Azure Audit Logs](https://appsource.microsoft.com/en-us/product/power-bi/37658b17-1e1f-4a5a-8e88-00720ad16b99) or [Application Insights](https://appsource.microsoft.com/en-us/product/power-bi/e08c8ffb-a216-40d5-a909-616c71e66176)?

[2018-10-23 17:01] mihart commented on #362
Hi @MarkL76
You're in luck!  We do have a viewer role -- we call it Power BI "consumer".  Here is a link to the landing page. https://docs.microsoft.com/en-us/power-bi/consumer/power-bi-consumer-landing

We've recently split off this "consumer" content from the rest of the Power BI articles and the site is still undergoing changes. Your questions are spot on and I will add them to the FAQ.

[2018-10-23 17:03] mihart commented on #361
Hi @krishnand ,
Thank you for your feedback and questions.  I've assigned this to the author and he will respond to you directly.
Take care.

[2018-10-23 17:13] maggiesMSFT commented on #362
Hi, @MarkL76 -- this functionality for the new workspaces is on the roadmap. For info about upcoming features, see the Summary of Planned Features for Business Intelligence, https://docs.microsoft.com/en-us/business-applications-release-notes/October18/intelligence-platform/planned-features.

[2018-10-23 17:13] #362 closed

[2018-10-23 17:13] Vinhaman commented on #362
@mihart i think you got this a bit out of contest...
What @MarkL76 was asking was for a role in the new Workspaces that are currently on preview... I'm also eager for the GA of the New Workspaces but we'll just have to wait and see... :)

![image](https://user-images.githubusercontent.com/12937232/47378079-f07bb600-d6ee-11e8-9963-c3cc40a89892.png)

[2018-10-23 17:16] maggiesMSFT commented on #362
Hi, @Vinhaman -- You're right. It's on the roadmap for sure. Sorry I don't have a specific due date. See my comment I posted just about when you did.

[2018-10-23 20:01] KayUnkroth commented on #209
Yes, we'll think of an appropriate name when the time comes to address this issue. Don't have an ETA yet, but we do have a work item for this on our backlog now.

[2018-10-23 21:15] tofu001 opened #363 "Number of calls?"
Hi,

I'd like to know the number of calls that this makes to Lithium.  During the import process, on subsequent refreshes, etc.

Also, is it possible to reduce the amount of data pulled by limiting the scope to certain categories or boards?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6faf733f-4da2-a32d-4

[2018-10-24 15:39] christino156 opened #365 "Typos"
In the last section. "DAX tables and filtering" there are two typos in the paragraph "DAX table functions". Firstly, when  two "rather" are used instead of one in the sentence: "These functions return a full table rather, rather than a value." And secondly, when the words "to" and "use" are concatenated in the sentence "So touse the above DAX expression example...".

Furthermore, in the previous s

[2018-10-24 22:13] arthiriyer commented on #129
@cbailiss - unfortunately this is not possible currently but do vote on ideas.powerbi.com so we can work on this feature soon.

[2018-10-24 22:15] arthiriyer commented on #153
@Anmolgan81  - This should be possible but you will need to use a single gateway since the same Power BI report uses all these data sources
FYI @mgblythe

[2018-10-24 23:05] arthiriyer commented on #279
@Mike-Honey - Thanks MIke for the feedback. I think for the first one, We already mention that we require gateway only to connect to On-premises sources.
Agree about the second feedback.
@mblythe

[2018-10-24 23:12] arthiriyer commented on #293
@djpirra We cant really call out what is good or bad because that would depend on the configuration of the machine running the gateway. So using the perf counters for the system along with these counters you can get visibility into how one impacts the other and make a decision to scale out the gateway.
FYI @mblythe

[2018-10-25 00:18] mgblythe commented on #365
Thanks for your comment, @christino156 .
We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-25 00:20] mgblythe commented on #363
Thanks for your comment, @tofu001 .

We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-10-25 16:11] markingmyname commented on #339
@chrisweis Thank you for bringing this to our attention.  The link has been updated and will be live in about a couple of days.

[2018-10-25 18:14] GeorgeCMElliott opened #367 "Accidental removal of shared report/dashboard"
After a view only user removes the report or dashboard via trash bin icon they don't seem to have any way to bring it back. Even after owner "reshares" it with them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6350fc32-0d69-f6f9-1f7c-2d82cbea0656
* Version Independent ID: dddabd4d-231e-db2a-6d3a-b65848c4c641
* Conte

[2018-10-25 19:47] mgblythe commented on #30
We made a bunch of link fixes in the last couple days. Our report looks clean at this point. Thanks again @nschonni!

[2018-10-25 19:47] #30 closed

[2018-10-25 19:49] mgblythe commented on #69
Here's the info I added to the article:

Power BI Premium supports uploads of Power BI Desktop (.pbix) files that are up to 10 GB in size. **Once uploaded, a dataset can be refreshed to up to 12 GB in size.**
P3, P4, P5 | up to 10 GB

Thanks @chizova

[2018-10-25 19:49] #69 closed

[2018-10-25 20:28] mgblythe commented on #89
@docgregt -- Checking into this now - I will update the links as soon as I get them.

[2018-10-25 20:49] mgblythe commented on #116
@cpcodes -- updating the content with the following information:

Note that you update the On-premises data gateway by installing the gateway again, as described in this section. As long as you install a newer version of the gateway, your existing settings are retained. If you install the same version, it treats this as a complete reinstall, and your settings are not retained.

Feel free to reopen

[2018-10-25 20:49] #116 closed

[2018-10-25 20:54] maggiesMSFT commented on #367
Hi, @GeorgeCMElliott -- that sounds like a bug. If the owner reshares it with them, it should be no different that the owner sharing it with them in the first place.
I suggest asking the community, https://community.powerbi.com/.
If that's no help, you may need to create a support ticket, https://powerbi.microsoft.com/en-us/support/.

[2018-10-25 20:54] #367 closed

[2018-10-25 20:56] maggiesMSFT commented on #363
Hi, @tofu001 -- I'll see if I can find an answer to your question. Thanks!

[2018-10-25 21:05] mgblythe commented on #118
I added the following to the article where DAX is first mentioned. Should be live 10/26:

@Minewiskan - please add a note to the remarks section of the reference.

[2018-10-25 21:07] #129 closed

[2018-10-25 21:08] mgblythe commented on #153
@Anmolgan81 - closing this out, but please reopen if necessary. Thanks!

[2018-10-25 21:08] #153 closed

[2018-10-25 21:10] mgblythe commented on #163
@markrullo - closing this one out, please reopen if necessary.

[2018-10-25 21:10] #163 closed

[2018-10-25 21:14] mgblythe commented on #235
Thanks @thierryturpin - I'm planning updates to a related article, which should address this. I'll keep this issue open until I publish that update.

[2018-10-25 21:17] mgblythe commented on #255
@docgregt - I'm looking into this for a related issue, I'll reply back here.

[2018-10-25 21:19] mgblythe commented on #263
@cmeyertons - closing this out with answer from @arthiriyer. Feel free to reopen if necessary.

[2018-10-25 21:20] #263 closed

[2018-10-25 21:21] mgblythe commented on #275
Hi  @ashishrajsrivastava - please follow up with support if you're still having this issue. Closing this out.

[2018-10-25 21:21] #275 closed

[2018-10-25 21:28] mgblythe commented on #353
@PhilStollery -- thanks for the feedback, looking into this now

[2018-10-25 21:30] mgblythe commented on #349
@troyel -- thanks for the feedback. I updated the refresh info in that doc fairly recently. That is the info I got from the product team. I believe the blog is in error, but please reopen this issue if your experience in the product is different.

[2018-10-25 21:30] #349 closed

[2018-10-25 21:33] mgblythe commented on #328
Thanks @sbdoroff - I'm looping one of the product PMs in too.

[2018-10-25 21:37] mgblythe commented on #302
Thanks @chrisweis - I'll add that info

[2018-10-25 23:46] arthiriyer commented on #352
@bjarkimg Thanks for clarifying. Ideas.powerbi.com would be the right forum to request new features. Thank you for your feedback.

[2018-10-26 13:01] nilgunh opened #368 "I got an error while creating ssl certificate"
Hi,

I got an error after command pbiviz --create-cert. Could you help me here?

![2018-10-26 14_51_45-node js command prompt](https://user-images.githubusercontent.com/42370554/47567634-5ce4f800-d92f-11e8-97d4-bd5fbed655ff.png)

[2018-10-26 14:46] mcruz206 opened #369 "Update Request"
I noticed that the Power BI Governance and Deployment Approaches document does not list Power BI Report Server as an option for deploying Power BI Reports for on-premises scenarios.  Can this document be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba176b5-d050-3be8-cc69-d8534b7e1982
* Version Independent I

[2018-10-26 17:29] mgblythe commented on #92
Well I made the change but never published it :-( It's now live in the updated article: https://docs.microsoft.com/en-us/power-bi/service-gateway-sso-kerberos

[2018-10-26 17:29] #92 closed

[2018-10-26 18:08] ShifengWu commented on #359
Hi @mgblythe, thanks for follow this, is there have any update? Can we add PromptBehavior same as AuthenticationContext.AcquireToken so that we can avoid the pop up window? Thank you so much.

[2018-10-26 20:07] kfile commented on #369
Hello @mcruz206 , thank you for your question. I've assigned it to the doc author for review.

[2018-10-26 20:13] kfile commented on #368
Thanks for your comment, @nilgunh . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-10-26 20:13] #368 closed

[2018-10-27 09:02] adumont commented on #332
Hi Sarina,
I installed it as an App via the Get button. To be honest I didn't notice
and I didn't know about the second"Service Content Packs" option. I'll try
that.
Thank you very much for the help.
Best Regards,
--
Alex

On Tue, Oct 23, 2018 at 6:24 PM Sarina Stevens <notifications@github.com>
wrote:

[2018-10-29 09:15] MarkL76 commented on #362
Hi @maggiesMSFT

Thanks for the responses.  However I'm afraid I am now a bit more confused with the link to 'Power BI for consumers'.  Is this something in addition to the 3 existing roles and the Viewer role I require?

Is this a workaround?  Eg we can somehow set someone up today as a read-only 'Consumer'?

[2018-10-29 16:12] rvs222 opened #374 "Do the new preview workspaces create anything in the SharePoint namespace?"
If we create new (preview) workspace, does it create or reserve anything in the SharePoint namespace, i.e., anything under O365TenantName.sharepoint.com/sites/... ? E.g., if we create a new standalone workspace named "WSName", will that prevent us from later creating an unrelated SharePoint site collection with the same name? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-10-30 06:02] ChimeneB commented on #369
Can we get this updated, please? The paper was published in March 2016!!

[2018-10-30 13:12] systamper opened #376 "Internal dashboard embedding using EM1 License?"
Hi,

I have been told in the past that if I want to embed reports into internally facing resources such as a custom embedding solution in Dynamics 365 or in an internal Sharepoint instance, I will need to use the P1 license, and not the EM1 license.

I was told EM1 is for external embedding, but internal users that would otherwise consume a Pro license can only be shared a report or dashboard usin

[2018-10-30 17:21] dfaa502 opened #377 "Azure Power BI Embedded Cmdlets for the NEW workspaces"
When will Powershell cmdlets be available for the NEW workspaces?   (I can use https://docs.microsoft.com/en-us/powershell/module/azurerm.powerbiembedded for the current workspaces but want the same for the new workspaces).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version In

[2018-10-30 17:30] nusairi opened #378 "Power BI - Capacity Metrics App How to Share report with other user ?"
Hi,

I have installed this great capacity monitoring app but would like to share reports to other users.

Can we do this if yes How?

Cheers,
Mir

[2018-10-30 20:07] mgblythe commented on #369
@ChimeneB - thanks for the feedback. I will add it to the backlog but I don't have an ETA for an update to this paper. Is there particular info you're looking for?

[2018-10-30 20:34] smjanalytics opened #379 "Python with Anaconda"
Power BI seems to have issues with finding packages when Python has been installed using Anaconda. It would be nice if this page could identify how to set up installation so that it works with Anaconda.

I've found a couple of similar issues in postings like this:
https://stackoverflow.com/questions/52885101/anaconda-in-windows-with-power-bi

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-30 20:53] aashisharora13 commented on #336
I have been trying to connect to the Oracle Database by following the steps but I am not able to connect.
Getting error as Object reference not set to an instance of an object

[2018-10-31 04:34] maggiesMSFT commented on #362
Hi, @MarkL76 -- sorry for any confusion. No, "consumers" is a designation we're using for our content. We want to separate out content for people who are consuming, not creating, Power BI dashboards and reports, so they can learn about the Power BI functionality available to them.
Then we aim in-depth content at Power BI designers, admins, devs, architects.
Nothing to do with workspace roles. Alth

[2018-10-31 07:55] mihart commented on #378
Hi @nusairi
Thank you for your question.  I've assigned this to the author of the[ Monitor Power BI Premium.](https://docs.microsoft.com/en-us/power-bi/service-admin-premium-monitor-capacity)... article.  He will contact you shortly.
Take care,
Michele

[2018-10-31 07:55] mihart commented on #379
Hi @smjanalytics
Thank you for your question.  I've assigned this to the author.  He will contact you shortly.
Take care,
Michele

[2018-10-31 07:57] mihart commented on #377
Hi @dfaa502 ,
Thank you for your question.  I've assigned this to the author .  She will contact you shortly.
Take care,
Michele

[2018-10-31 07:57] mihart commented on #376
Hi @systamper
Thank you for your question.  I've assigned this to the author of the article.  He will contact you shortly.
Take care,
Michele

[2018-10-31 15:58] skcary77 opened #383 "More info on data type/format"
This would be more helpful if it included information on what can be returned from the R-script back into Power Query. For example, can the result of an R-script be a list, or does it have to be a data.frame? Does it have to be assigned to a particular variable (i.e. in your example it is called "output")?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-10-31 20:33] maggiesMSFT commented on #377
Hi @dfaa502 -- the Summary of Planned Features doc outlines what's planned for upcoming releases. https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/planned-features.
If you don't find an answer there, try searching in https://ideas.powerbi.com/forums/265200-power-bi to see if anyone else has suggested it and it's already in progress. Barring that,

[2018-10-31 20:33] #377 closed

[2018-10-31 21:37] chrisweis opened #384 "Small typo"
"new workspaces experience workspace" seems like a typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new workspaces (preview) - Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/serv

[2018-10-31 21:38] chrisweis commented on #199
Great question @olopuc, +1

[2018-11-01 00:07] thanksforthepen opened #385 "Where is This Content Pack"
Hi there,

This content pack is perfect! Exactly what I'm looking for. Could you update with a new link or new name in the App Store please? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d381e7a-6f83-a78f-3f7d-9841589f13fc
* Version Independent ID: 10415f44-f38f-3150-b581-b4a479ece2c6
* Content: [SQL Datab

[2018-11-01 13:55] jimbobTX opened #386 "SSO?"
Does this work with SSO sources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29bfbd4c-5149-93be-3982-81af6852a5dd
* Version Independent ID: 75460ed0-c7d9-fe67-8010-b843661dc66e
* Content: [Connect to an OData feed in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-connect-odata)
* Cont

[2018-11-01 17:20] maggiesMSFT commented on #162
Hi, @chizhova -- hearing no reply, I'm going to close your comment. Feel free to reopen it later. Thanks!

[2018-11-01 17:22] maggiesMSFT commented on #164
Hi, @LisandroSu -- not hearing a reply, I'm going to close this issue. Please feel free to open later when you have more info. Thanks!

[2018-11-01 17:22] #164 closed

[2018-11-01 17:28] maggiesMSFT commented on #199
Hi, @olopuc and @chrisweis -- I don't have the when or the how details yet. This Summary of Planned Features article is a good place to check for upcoming features. https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/planned-features.
Thanks -- hope that helps!

[2018-11-01 17:28] #199 closed

[2018-11-01 17:32] maggiesMSFT commented on #286
Hi, @richardnlove -- not hearing further from you, I'm hoping that means I answered your question. I'm closing this comment. Please feel free to reopen it later. Thanks!

[2018-11-01 17:32] #286 closed

[2018-11-01 17:38] maggiesMSFT commented on #289
Hi, @jordanmills -- I see it in the list of apps in Power BI now. Do you see it? It might not have been showing up during the transition period from "Microsoft Azure Enterprise" to "Microsoft Azure Consumption Insights".
Thanks!

[2018-11-01 17:38] #289 closed

[2018-11-01 17:40] maggiesMSFT commented on #316
Hi, @mortenf -- yes, that requirement remains. I recommend going to https://ideas.powerbi.com to see if anyone else has requested that feature, and up-voting it if they have. And if not, you can create a new request!
thanks!

[2018-11-01 17:40] #316 closed

[2018-11-01 18:59] maggiesMSFT commented on #317
Hi, @deepu299 -- just so you know, I'm checking on your questions. Haven't got an answer yet but I'm checking.
Re this part: "when it says No One Drive button, is it the button which says "One Drive - Business" and we should be using Share point - Team sites to connect files?"
Yes, it's that button, and yes, at least for the preview you can use SharePoint - Team Sites to connect to files.

[2018-11-01 21:36] mortenf commented on #316
Hmm. It is still not clear. Spaces are allowed in table names, but not in field names, and + is allowed in field names but not in table names, or?

The section just above the one in question is called "Special characters in URL filters" - and in that, there is a method for dealing with a space in a table name - but not for a field name. Also, there is an example with a "+" in a field name, but not

[2018-11-02 10:31] v-nisvoo opened #387 "Print from Desktop is available from August Update."
Print from desktop is available from 2018 August Update. https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2018-feature-summary/#print. But this page says  "Printing is only available in Power BI service and not Power BI Desktop"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c738da8-eb0a-7e87-0cbc-f424

[2018-11-02 18:07] kfile commented on #387
Hi @v-nisvoo , thank you for your feedback. This issue has been assigned to the author for review.

[2018-11-02 18:19] #332 closed

[2018-11-03 21:11] bakerm00 opened #389 "Service Bus costs and requirements"
you need to ellaborate where the service bus lives / needs to live (ie a subscription) and the costs of such above and beyond Power BI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337848b9-e784-3358-7b8e-853fe40120e3
* Version Independent ID: e92fa154-5fc4-cefe-ebe8-d62c36ce551d
* Content: [On-premises data gateway

[2018-11-04 00:46] khenhhung2 opened #390 "gửi phản hồi"
sữa sản phẩm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a743ee1c-0e09-a9d8-f211-28b308a2979e
* Version Independent ID: 4a829c6a-b5ba-cff6-5eba-c7f1b688be3e
* Content: [Import Excel workbooks into Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-import-excel-workbooks)
* Content Source:

[2018-11-05 15:17] jimbobTX opened #391 "Useless without SSO"
As stated in this article, SSO isn't supported, so any corporate instance is not able to use this. When will that be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2ce012-0b66-7a2d-2ce0-630f35abdf88
* Version Independent ID: 7d647855-d659-d495-e876-9189a5ba5125
* Content: [Connect to ServiceNow with Power

[2018-11-05 17:45] maggiesMSFT commented on #391
Hi, @jimbobTX -- Thanks for your question! It's a product question more than a documentation question, right? So head on over to https://ideas.powerbi.com/forums/265200-power-bi, see if anyone else has asked the same question, and if not, you can add it there. OK? Thanks again for using Power BI!

[2018-11-05 17:45] #391 closed

[2018-11-05 18:37] johnbonnett opened #392 "GIS Definition"
GIS Stands for Geographic Information Systems, not Geographic Information Science, though I like that better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39395f6d-4136-97c3-348c-00e8060a1cbd
* Version Independent ID: bf20855d-f1ad-be4e-dbbc-bcfa911479a5
* Content: [Create ArcGIS maps by ESRI in Power BI - Power BI](

[2018-11-05 19:29] eyebelieve opened #393 "iOS App json theme font not rendering"
When I set a font in the json theme file (in this case, Calibri) it renders correctly in the desktop tool and web app, but it does not render in the iOS app.

I have research countless documentation, articles and blog posts and still have not found a solution for this - is there a reason this, is there a solution here?

*ipad and app are fully up to date.

---
#### Document Details

⚠ *Do not edit

[2018-11-05 19:32] maggiesMSFT commented on #393
Hi, @eyebelieve -- Thanks for contacting us! I'll check and get back to you.

[2018-11-05 23:56] chrisweis opened #394 "Continuous vs Categorical could use more detail"
This page briefly mentions continuous and categorical, but it doesn't provide enough detail, or a link to more detail about them.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad604499-b845-44de-acc9-1bd9a7a97488
* Version Independent ID: f16079ec-98ee-e35d-f928-c5d493365051
* Content: [Customize X-axis and Y-

[2018-11-06 00:10] avnish19 opened #395 "Logical operators in Quick Measures"
Wondering if Logical Operators (AND, OR, XOR, NOT) would be part of the Quick Measures calculations?
It would be helpful to be able to process a list of input of "true/false" and "yes/no" values into a summarized format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0614115b-602d-cab2-307e-618f6a3dbd2f
* Version Indep

[2018-11-06 12:08] karmamule opened #396 "First line under Considerations and troubleshooting is an incomplete sentence"
The first bullet point in this section is "When using the in operator, the values to the right of in must be either a comma-separated list enclosed in parentheses.".

It uses the word "either" implying there will be two or more options, yet only one option is listed. Either remove 'either', or provide the second option.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-11-06 14:02] CeciAc opened #397 "Paginated Reports in Power BI Service"
@mpoeckl commented on [Tue Nov 06 2018](https://github.com/MicrosoftDocs/powerbi-docs.de-de/issues/3)

According to the list, paginated reports are not available in Power BI Service. While the feature is still in preview for the Power BI Service, it is possible to publish SSRS reports to Power BI Service... Therefore "No" should change to "In preview".

---
#### Dokumentdetails

⚠ *Bearbeiten Sie

[2018-11-06 14:04] CeciAc commented on #397
Hi team,
I copying this here since the user is reporting an inaccuracy in the service documentation
Kind regards,
Microsoft DOCS International Team

[2018-11-06 14:04] Minewiskan commented on #118
@mgblythe Added a remark to https://docs.microsoft.com/en-us/dax/userelationship-function-dax.

[2018-11-06 14:20] mgblythe commented on #118
Thanks @Minewiskan. @thesqlgeek - closing this one, thanks for filing it.

[2018-11-06 14:20] #118 closed

[2018-11-06 16:57] maggiesMSFT commented on #397
Hi, @CeciAc and @mpoeckl -- Wow, @mpoeckl, you are way out in front! We haven't even officially released the preview of paginated reports in the Power BI service, but coming so so soon! And I promise, when we do, I'll fix this list.
Thanks for keeping us honest!

[2018-11-07 03:53] mihart commented on #396
@karmamule
Good catch!  I've assigned this to the author who will get back to you shortly.
Take care,
Michele

[2018-11-07 03:55] mihart commented on #395
Hi @avnish19
That's a good question.  I've forwarded it to the author who will get back to you soon.
Take care,
Michele

[2018-11-07 03:57] mihart commented on #394
Hi @chrisweis ,
I'll add more information to the document and republish.  Look for an update by next week.
Thanks for your feedback,
Michele

[2018-11-07 03:57] #394 closed

[2018-11-07 04:15] mihart commented on #392
@johnbonnett
Thanks for letting me know. I've updated the document.
Take care,
Michele

[2018-11-07 04:15] #392 closed

[2018-11-07 04:20] mihart commented on #389
Hi @bakerm00
Thank you for the suggestion.  I've forwarded this to the doc owner who will be in touch soon.
Take care,
Michele

[2018-11-07 14:39] CeciAc opened #398 "Libreria de datos"
@augusmendoza commented on [Tue Nov 06 2018](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/14)

Deberian tener librerias de datos para seguir los mismos ejemplos y hacer mas practico el curso

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Indepen

[2018-11-07 14:46] CeciAc commented on #398
Hi Team,
The user made a suggestion to the documentation.
Backtranslation: _You should have data libraries to follow the same examples and make the course more practical_

[2018-11-07 16:09] Jacob-Strickland opened #400 "How does this license function"
I'm looking for more information regarding the POWER_BI_PRO license and what it includes exactly.
From the following documentation (https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference) I am able to see that it includes a BI_AZURE_P2 (70d33638-9c74-4d01-bfd3-562de28bd4ba) license, however I am unable to find anything regarding that specific li

[2018-11-07 20:09] Christopher-Hastings opened #401 "Text Boxes not working as documented."
Hi! Thanks for the clear explanation of this new feature! Unfortunately the text boxes are inserted into PowerPoint as part of the image and not as an editable textbox as stated in your documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df1c4c0-80f9-f71a-175f-8362a29ad597
* Version Independent ID: c2a64e2a-

[2018-11-07 20:52] davepile opened #402 "https://docs.microsoft.com/en-us/power-bi/desktop-getting-started"
For a getting started tutorial, you really should use a data sources you control. The first data source on this page has changed. While it still works, the fields and values have changed so that the steps in the tutorial do not realy apply.

The second data source, http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations i can open in the browser but not connect to from Power BI desktop

---

[2018-11-07 23:56] joerobert06 opened #404 "Evaluation Context / October 2018 release"
I have noticed that I have lost the ability to hold an evaluation context when using bookmarks to toggle between visualizations on the same page. For example if I was to select a bar on a bar chart and switch between visuals, the selected context goes back to the original state. “Data” is unchecked under data properties and so I am not sure why I’m seeing this response. I used this technique very

[2018-11-08 01:25] nicholas-brooks opened #405 "AuthorityUrl is incorrect when using Microsoft.IdentityModel.Clients.ActiveDirectory v4.3.0"
A FYI for anyone using the latest nuget packages for PowerBI integration (specifically v4.3.0 Microsoft.IdentityModel.Clients.ActiveDirectory).  You need to use "https://login.microsoftonline.com/common" instead of "https://login.windows.net/common/oauth2/authorize/" for the AuthorityUrl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-11-08 09:34] erapade opened #406 "What are the concerns?"
Could you please elaborate a little about the concerns with enabling this option. I understand it might be IP/URL concerns to reach the external data sources, but do we also have security concerns like information from local sources might be visible in the queries for the external data sources, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-11-08 11:13] murmukka opened #407 "Not really the same: "Publishing from Power BI Desktop has the same effect as using Get Data in Power BI to connect to and upload a Power BI Desktop file.""
I would argue that these two things don't have the same effect and stating that is a bit misleading. By publishing from Power BI desktop, the file doesn't get updated on an hourly basis, even if it is on OneDrive for Business/Sharepoint, as it does when you connect to the file using Get Data, but to get it updated, you have to publish it again.

---
#### Document Details

⚠ *Do not edit this secti

[2018-11-08 13:49] joerobert06 opened #408 "Evaluation Context / Bookmarks / Oct. 2018 Release"
I have noticed that I have lost the ability to hold an evaluation context when using bookmarks to toggle between visualizations on the same page. For example if I was to select a bar on a bar chart and switch between visuals, the selected context goes back to the original state. “Data” is unchecked under data properties and so I am not sure why I’m seeing this response. I used this technique very

[2018-11-08 14:53] joerobert06 opened #409 "[Glitch] :: Evaluation Context / Ad-hoc highlighting / Oct. 2018 Release"
Hello,
I just posted this concern on the community site regarding ad-hoc highlighting. Your support is greatly appreciated.

https://community.powerbi.com/t5/Desktop/Glitch-Evaluation-Context-Ad-hoc-highlighting-Oct-2018-Release/td-p/562546

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d0aaa2-486e-f7fa-522f-5647ad31

[2018-11-08 15:11] SarabjitSinghSethi opened #410 "Create a responsive slicer you can resize in Power BI-Clear Filter"
Only issue which i found in this is clear selection button is not appearing while using the horizontal orientation in slicer.Could you please look and fix it or any solution is available ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed3feb5-5b30-8f94-9a3d-7a9574490d9c
* Version Independent ID: 85862cdb-9e39-2427-22

[2018-11-08 15:14] rajj281 opened #411 "User Mapping"
Under Ad lookup mapping for step 4 where there is screenshot of the ad attribute mapping. The "AADEmail" should be "mail" could the document be updated as it is bit confusing

https://docs.microsoft.com/en-us/power-bi/service-gateway-enterprise-manage-ssas#ad-lookup-mapping

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-11-08 20:21] mgblythe commented on #359
@ShifengWu -- sorry, but I'm unable to find an answer for this issue. Please try support in the Azure portal.

[2018-11-09 01:51] arthiriyer commented on #262
@cmeyertons The direct query equivalent for analysis services is Live connection. This help run the report under the user context.
 @mgblythe FYI

[2018-11-09 14:51] molnarj opened #412 "Unneeded question marks at Step 11"
There are unneeded quotation marks around the "this.visualSettings.circle.circleColor" expression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f573b62f-4028-ce65-b5ae-a4115ee1bcd1
* Version Independent ID: 1cedde6a-9245-42da-c25e-83706f551c79
* Content: [Adding formatting options to a Power BI custom visual - Power

[2018-11-09 17:39] maggiesMSFT commented on #412
Thanks for your comment, @molnarj.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-09 17:40] maggiesMSFT commented on #400
Thanks for your comment, @Jacob-Strickland.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-09 17:43] maggiesMSFT commented on #402
Thanks for your comment, @davepile.  We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-11-09 17:45] maggiesMSFT commented on #404
Thanks for your comment, @joerobert06. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-09 17:45] #404 closed

[2018-11-09 17:48] maggiesMSFT commented on #405
Thanks for your comment, @nicholas-brooks.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-09 17:49] maggiesMSFT commented on #406
Thanks for your comment, @erapade.  We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2018-11-09 17:50] maggiesMSFT commented on #407
Thanks for your comment, @murmukka.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-09 19:54] bneelon85 opened #413 "Does this still work?"
I was following this tutorial today and once I get to step 7, it goes through the import process but then only brings up the tables available to import. It doens't provide the automatically created Power BI Dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Version Independ

[2018-11-09 20:23] steve-oo opened #414 "'Extract Tables Using Examples' Button Missing"
I have just discovered Excel Power Queries and after trying out a few examples from various ''You Tube videos, I was impressed. I then got adventurous and tried to pull data from a selected web site, however, all I get is the folder & document icons as shown in the 'Navigator' dialog box. Hence the 'Connect to a Web page by example' seemed perfect to resolve my issue.  Unfortunately in my version

[2018-11-09 20:49] bneelon85 commented on #413
Nevermind...I was trying to do it through Power BI Desktop. Once I did it in app.powerbi.com it worked as expected.

[2018-11-09 20:49] #413 closed

[2018-11-09 21:35] mgblythe commented on #298
@v-kerwan - thanks, updated the doc

[2018-11-09 21:35] #298 closed

[2018-11-09 21:45] maggiesMSFT commented on #413
Thanks for letting us know, @bneelon85 -- glad it worked out!

[2018-11-09 22:15] maggiesMSFT commented on #411
Thanks for your comment, @rajj281. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-09 22:30] maggiesMSFT commented on #410
Hi, @SarabjitSinghSethi -- Hmmm. I find if I make the slicer too short, then the Clear button is hidden behind one of the values in the slicer. You see what I mean? Try making the slicer taller and see if you can see the Clear button.

[2018-11-09 22:38] maggiesMSFT commented on #409
Hi, @joerobert06 -- you did well to post to the community site! If that doesn't pan out, you can contact support by going to https://support.powerbi.com.

[2018-11-09 22:38] #409 closed

[2018-11-09 22:40] maggiesMSFT commented on #408
Hi @joerobert06 -- I see this is a duplicate of your other comment, right? You've done the right thing by posting in the community. I'm going to close this. Thanks and I hope they can figure out what's not working!

[2018-11-09 22:40] #408 closed

[2018-11-11 05:03] Key-international opened #416 "Key International academy"
https://www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6e66c7-0640-3bbe-b2e7-c9db15ab6dfb
* Version Independent ID: 9fe447f9-d6a0-c7d4-cfe0-e6f18191ee8e
* Content: [Get started with Power BI service (Power BI online) - Power BI](https://docs.microsoft.com/en-us/power-bi/service-get-starte

[2018-11-11 13:56] otravers opened #417 "How to configure BYOSA?"
"Power BI can be configured to store dataflow data in your organization’s Azure Data Lake Storage Gen2 account." -&gt; Where do you set that up? I don't see anything letting you select your own ADLSG2 account from Power BI's Admin Portal &gt; Tenant settings in the Dataflow settings section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-11 16:59] rosskingplatt opened #418 "Allow Embeded Fileter in Sharepoint"
I have a great dashboard, but it has alot of data. I would like to embed into SharePoint but Filter to select items and I can via a URL but not via the Embed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8affce3-98f2-0cc6-b4de-d9af7ced0fbe
* Content: [Emb

[2018-11-12 17:17] asocorro opened #420 "Profiler Event"
Hi, in the SQL Server Profiler I don't see the event "Query Processing\Aggregate Table Rewrite Query" as indicated above.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 651949b2-ae84-a7c1-d012-e41891e5931c
* Version Independent ID: bb6928af-2e51-320e-e69b-577f9bbdcd17
* Content: [Use Aggregations in Power BI D

[2018-11-12 23:52] ManuSQLGeek opened #421 "Power BI Premium"
Can you add a Power BI Premium column? Even though there are few features marked Yes in Power BI Service, they need Premium, like paginated reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content: [Comparing Po

[2018-11-13 00:22] ManuSQLGeek opened #422 "Salesforce connector"
I see there is a salesforce connector in Power BI Desktop for RS. The table may be corrected with a right example for

Connect to services like Salesforce

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content: [Compar

[2018-11-13 00:40] ManuSQLGeek opened #423 "R Visuals"
The R Visuals can be created in Power BI Report Server. Is this comparison up to date with August release of Power BI RS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content: [Comparing Power BI Report Server and th

[2018-11-13 01:07] chrisweis opened #425 "In step 12, need instructions for Windows Authentication"
The instructions above only show "For Log on to the server, make sure Use SQL Server Authentication is selected, then type the user name and password you created in Azure for the sample database."  What if we don't use SQL Server authentication?  Need either instructions for it, or details on Windows authentication support. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-11-13 09:47] penguinjack2005 opened #427 "Alternative Email Address"
Hi all. The above doesn't seem to be working for us. I can now see an alternate email has been setup in Office 365 however when I try to setup a report subscription and refresh the data nothing is received at the alternate email address. We're also trying to use this alternate email for gateway failure notifications as well. Can you suggest anything we may be doing wrong?

---
#### Document Detail

[2018-11-13 11:09] Swappy opened #428 "Option to Disable Insights"
We do not really want to expose this option to end users. Please add the option to disable.
Please share if the option exists alread

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216c87b1-d196-a091-048c-dc55b0649338
* Version Independent ID: f8bb7489-d0bd-58f0-9eb3-6471d4d57eab
* Content: [Use insights in Power BI Des

[2018-11-13 14:02] devaccount89 opened #429 "What is generating an entire for ViewReport"
Hi MS-Team,
is there any documentation when a "ViewReport" entry is created.
So if a user opens the report in the Service then one entry is created. Will there be an additional one created if the user navigates to the next Page?

Thanks.

Moritz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c

[2018-11-13 18:01] davidiseminger commented on #398
Thanks for your comment, @CeciAc - we anticipate adding sample data and libraries in the future of some of these courses, for that very reason. Thanks!

[2018-11-13 18:01] #398 closed

[2018-11-13 18:03] davidiseminger commented on #401
Thanks for your comment, @Christopher-Hastings . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:05] davidiseminger commented on #414
Thanks for your comment, @steve-oo . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. If you're using Excel, try support.office.com as well.

[2018-11-13 18:05] #414 closed

[2018-11-13 18:07] davidiseminger commented on #417
Thanks for your comment, @otravers. Note that dataflows are in preview, so features are being refined and expanded upon during the preview. You might find more information in the Power BI Community, found at https://community.powerbi.com.

[2018-11-13 18:07] #417 closed

[2018-11-13 18:08] davidiseminger commented on #418
Thanks for your comment, @rosskingplatt . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-13 18:08] #418 closed

[2018-11-13 18:10] davidiseminger commented on #421
Thanks for your comment, @ManuSQLGeek . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:11] davidiseminger commented on #422
Thanks for your comment, @ManuSQLGeek . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:11] davidiseminger commented on #423
Thanks for your comment, @ManuSQLGeek . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:12] davidiseminger commented on #425
Thanks for your comment, @chrisweis. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:13] davidiseminger commented on #427
Thanks for your comment, @penguinjack2005. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-13 18:14] davidiseminger commented on #428
Thanks for your comment, @Swappy . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community to disable this option to users, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-13 18:15] davidiseminger commented on #429
Thanks for your comment, @devaccount89. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-14 01:19] MikhailTryakhov opened #430 "How to customize selected values?"
Hello,
have problems working, for example, with issues. What's the best way to view issues filtered by label or assignee?
There is only a chance to view creators of issues but that's not super helpful info.
Maybe any way to export issues and any info I specified above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c0

[2018-11-14 04:10] sergiped opened #431 "Update PerformanceAnalytics"
Can you please update the version of PerformanceAnalytics included in the service?  The latest version is 1.5.2 and the new functions are not currently available in the version you utilize.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df17e088-5cff-4882-79fc-cc7deb09843d
* Version Independent ID: 641ddc87-03

[2018-11-14 06:29] mihart commented on #430
Hi @MikhailTryakhov,
Thank you for your feedback. I've assigned the Issue to the author, who will get back to you soon.
Take care,
Michele

[2018-11-14 06:31] mihart commented on #431
Hi @sergiped
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
Kind rega

[2018-11-14 06:31] #431 closed

[2018-11-14 06:40] mihart commented on #401
Hi @Christopher-Hastings
Good eye!  Thank you for catching that mistake.  I've removed it from the article and set it to republish.
Take care,
Michele

[2018-11-14 06:40] #401 closed

[2018-11-14 10:59] mihart commented on #348
Hi @cajonemsft ,
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
Kind

[2018-11-14 10:59] #348 closed

[2018-11-14 17:44] nusairi opened #432 "Oauth Authentication Needed for Sql Azure Database"

[2018-11-14 18:14] cabeln opened #433 "Remove this document"
Please remove the document, the Product "Dynamcis Marketing" does not exist anymore.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a3753d-6479-e210-e82a-595c5067bd2a
* Version Independent ID: 18ad3dea-0db2-a556-0282-26c57df80e67
* Content: [Connect to Microsoft Dynamics Marketing with Power BI - Power BI](ht

[2018-11-14 18:23] mgblythe commented on #432
Thanks @nusairi -- is there a specific article you had in mind for this info?

[2018-11-14 18:24] mgblythe commented on #433
Thanks @cabeln, assigning this to the author of the topic.

[2018-11-15 03:06] maggiesMSFT commented on #433
Thanks for letting us know, @cabeln! I've started the process of deleting it.

[2018-11-15 03:13] maggiesMSFT commented on #384
Hi, @chrisweis -- yeah, I can see how it would sound like a typo. It's clumsy, at any rate. I've reworded it. Change should be live soon, like tomorrow. Thanks!

[2018-11-15 03:16] #193 closed

[2018-11-15 03:44] maggiesMSFT commented on #396
Good catch indeed, @karmamule! I'll check and let you know. Thanks for the eagle eye!

[2018-11-15 03:46] maggiesMSFT commented on #397
Hi, @CeciAc and @mpoeckl -- the product has caught up with you, and so has the article. Thanks for keeping us honest!

[2018-11-15 03:46] #397 closed

[2018-11-15 07:35] mshenhav commented on #393
Hey @eyebelieve,
Not all fonts that are available on a Windows device, exist in iOS.
Can you please open the report in Power BI Web using Safari on your device to check if this is a font issue?

Maya

[2018-11-15 15:12] ioshiames opened #434 "link"
sign up link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3f747f-9b4f-2bfc-831e-ed8232177d38
* Version Independent ID: b2da371d-aea3-010b-5e57-a6c8d5a9646d
* Content: [Signing up for Power BI with a new Office 365 Trial - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-signing-up-for-pow

[2018-11-15 15:22] abhisrivastava2512015 commented on #337
Thanks for this online Learning, I have never seen before such a great feature to analyze time-based data so easily. How Power BI Desktop automatically include generated fields that let us drill down through years, quarters, months, and days with a single click, it's Amazing.
Thanks Again to MSFT Team!!

[2018-11-15 22:30] maggiesMSFT commented on #396
I got an answer, @karmamule , and I'll update the doc shortly. The answer is, delete "either." So the sentence should read: "When using the in operator, the values to the right of in must be a comma-separated list enclosed in parentheses." Thanks so much for asking!

[2018-11-16 17:02] jimblair opened #435 "What is Premium Capacity, and how is it accessed?"
What is "Premium Capacity", because it is not intuitive, and how does Premium Capacity figure into these roles?....is it that some published content is classified as "premium" and users that want access to the "premium" content must have "Premium Capacity" access rights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2018-11-16 18:17] maggiesMSFT commented on #396
OK, just checked in the fix. Should be live later today. Thanks again, @karmamule !

[2018-11-16 18:18] #396 closed

[2018-11-16 18:20] maggiesMSFT commented on #434
Thanks for your comment, @ioshiames . We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-16 18:50] maggiesMSFT commented on #422
Hi, @ManuSQLGeek -- you're right that Power BI Desktop you can connect to Salesforce Objects and Salesforce Reports. Those aren't the same as the Salesforce content pack available in the Power BI service spelled out here: https://docs.microsoft.com/en-us/power-bi/service-connect-to-salesforce. Make sense?

[2018-11-16 18:56] maggiesMSFT commented on #410
Hi, @SarabjitSinghSethi -- I hope that helped. I'm closing this issue. Feel free to open it again if you have further questions!

[2018-11-16 18:56] #410 closed

[2018-11-16 19:01] maggiesMSFT commented on #423
Hi, @ManuSQLGeek, as we discussed in your PR https://github.com/MicrosoftDocs/powerbi-docs/pull/424, you're right -- you can create R visuals in the Power BI Report Server version of Power BI Desktop. But you can't successfully save them to Power BI Report Server. I've updated the table to make that clearer. Let me know what you think. Thanks again!

[2018-11-16 19:01] #423 closed

[2018-11-16 19:20] maggiesMSFT commented on #421
Hi, @ManuSQLGeek -- good point, thanks. For now I'm adding a note to the row for paginated reports. If we end up with a lot of Premium-only features, I can add a column. Thanks again!

[2018-11-16 19:20] #421 closed

[2018-11-16 19:21] maggiesMSFT commented on #422
So I'm changing the No to a Yes and adding a note. Thanks for pointing that out!

[2018-11-16 19:21] #422 closed

[2018-11-16 19:45] mgblythe commented on #302
@chrisweis -- that info is now in the doc (was waiting on the public preview): https://docs.microsoft.com/en-us/power-bi/service-admin-premium-manage#configure-workloads

[2018-11-16 19:45] #302 closed

[2018-11-16 20:20] mgblythe commented on #328
@sbdoroff -- closing out the issue here but we need to work with @KayUnkroth to set up an environment for this.

[2018-11-16 20:20] #328 closed

[2018-11-16 20:55] westmich opened #437 "QnA Not Working"
I cannot get QnA on HR example.  I see the icon and underline on the initial dashboard but once I click into it, I am brought to a blank screen.  There is a link at the top to exit but no place to enter questions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26de6125-fac6-cf9b-3677-861d0dd69d13
* Version Independent

[2018-11-16 20:56] westmich commented on #437
And yes I have it enabled from settings.

[2018-11-16 21:00] westmich commented on #437
I did find an additional settings tab (yes I am new to this) and when I attempt to refresh the data I get the following error message.  I assume without a model defined the QnA doesn't work?  But it doesn't give me any indication - just a blank screen.

Refresh can't be scheduled because the data set doesn't contain any data model connections, or is a worksheet or linked table.

[2018-11-16 21:38] DeanGross opened #438 "Relationship to Data Gateway"
how do these settings relate to the privacy level settings in the Data Gateway Data Source Settings page. Do they have to match? please provide an explanation in this documentation and in the documentation for the Gateways.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb7743c4-abb7-9c9d-6089-eca63ba9ac94
* Version In

[2018-11-16 23:33] mgblythe commented on #378
@nusairi -- thanks for your question. It's not possible to share the reports from that app. To use the app, you need to be a capacity admin. If you want to suggest sharing as a capability, please file an idea here: https://ideas.powerbi.com/forums/265200-power-bi. Closing this item, but feel free to reopen if necessary.

[2018-11-16 23:33] #378 closed

[2018-11-16 23:39] mgblythe commented on #427
Thanks @penguinjack2005, I recommend checking with support (https://powerbi.microsoft.com/en-us/support/) or posting a question to the forums for this (https://community.powerbi.com/).

[2018-11-16 23:42] maggiesMSFT commented on #437
Hi, @westmich -- Sorry to hear it's not working. The refresh part makes sense -- the sample is a static file. It has no data sources to refresh.
The Q&A part is a puzzle though. I recommend asking the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. Good luck!

[2018-11-16 23:42] #437 closed

[2018-11-16 23:43] maggiesMSFT commented on #438
Thanks for your comment, @DeanGross.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-19 03:24] saiyash05 opened #442 "Paginated Reports not showing correclty"
Paginated Reports bookmark on "Filters" tab is  showing actual PBI Reports not the Paginated Reports.
Also, the same issue under "Display Names and IDs" tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3451b495-3af0-170e-a93c-d7360bf6b8cd
* Version Independent ID: 5e964973-a536-b049-9eb9-5120be3f75e8
* Content: [Mon

[2018-11-19 03:32] mgblythe commented on #442
Hi @saiyash05 - so this is an issue you're seeing in the app (i.e. not the docs)?

[2018-11-19 03:53] saiyash05 commented on #442
@mgblythe : Yes, this is an issue I am seeing in the app.

[2018-11-19 11:34] AdrianJBW opened #443 "Lack of UK Support"
Why does every supported Country have a level of regional support for map areas, other than the UK which is split only by country. A county and / or postcode is a must for Power BI to be competitive in this space with rivals.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a301928-35b6-2b9d-3bbe-0dc48b237b07
* Version

[2018-11-19 14:31] DeanGross opened #445 "Administrators"
Can an office365 group be assigned as a gateway administrator?
What kind of security group can be used? does it have to be a mail enabled, can it be from on-premises?
Please clarify this in the appropriate location above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87176394-a2d4-7e3d-922e-d124d59fe9c5
* Version Indep

[2018-11-19 15:11] Liszet opened #446 "Grouping when data comes from live connection to Analysis Services?"
We are unable to create groups when we have a live connection to Analysis Services. Is this expected behaviour? If yes, is it planned to be made available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1e0b0a-ff95-b2f7-44db-5c07ca876ab4
* Version Independent ID: 1c975595-bf44-5f66-3e08-02c3e8e63797
* Content: [Use g

[2018-11-19 19:20] hello789567 opened #447 "Relative Date Filtering"
Wondering when you will be adding Quarter to the options in Relative Date Filters? Many businesses look at data for a quarter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19b40b2-9df7-adf8-3f9b-c6c7b188f3c1
* Version Independent ID: 70e043bb-c04e-2c5f-a121-3cf4368b0c49
* Content: [Use a relative date slicer or filt

[2018-11-19 19:34] maggiesMSFT commented on #447
Hi, @hello789567 -- this looks like a great product request, rather than documentation feedback. SO head on over to https://ideas.powerbi.com. You can search for this idea and up-vote it if you find it, and if not, you can add it so others can up-vote it. The product team looks through those ideas often, though maybe not over the Thanksgiving holiday.
Thanks for contacting us!

[2018-11-19 19:34] #447 closed

[2018-11-19 19:36] maggiesMSFT commented on #443
Hi, @AdrianJBW -- Thanks for contacting us! This looks like product feedback,  rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2018-11-19 19:36] #443 closed

[2018-11-19 19:38] maggiesMSFT commented on #445
Thanks for your question, @DeanGross.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-11-19 19:41] maggiesMSFT commented on #446
Hi, @Liszet, thanks for your comment. We’ve forwarded your feedback to the writer, who should respond soon. You might also try asking in the Power BI Community, https://community.powerbi.com. Thanks!

[2018-11-19 23:41] KayUnkroth commented on #400
Hi Jacob, a Power BI Pro license is an individual license that allows access to all content and capabilities in the Power BI service. It is not an AAD license. For more information, see https://powerbi.microsoft.com/en-us/pricing/.

[2018-11-19 23:47] KayUnkroth commented on #376
The EM SKU covers the ability to share Power BI reports within an organization through content embedding. For all the details, see https://docs.microsoft.com/en-us/power-bi/developer/embedded-faq.

[2018-11-19 23:50] KayUnkroth commented on #197
Thanks for the feedback, brown1mr. I shared your comments with the PM owner for Power BI sharing and collaboration. Hopefully, a future release will make it even easier to collaborate with external (guest) users.

[2018-11-19 23:51] KayUnkroth commented on #154
No, unfortunately not. Licenses, i.e. subscriptions, are provisioned on a tenant by tenant basis. If you have a separate tenant, you are effectively working with another account, which would necessitate the purchase of a separate license. You can't share a license or subscription between tenants.

[2018-11-19 23:53] KayUnkroth commented on #429
Auditing is more about tracking who accessed/viewed a report, rather than tracking individually what particular tab the user was navigating to or which filters the user was applying.

[2018-11-20 00:11] maggiesMSFT commented on #425
Hi, @chrisweis -- Thanks for asking! Windows auth isn't supported when connecting to SQL Azure, so it wouldn't work in this tutorial. However, to connect to an on-premises SQL DB, you can use Windows Auth when going through a Power BI gateway -- the same gateway you'd use for a Power BI report. https://docs.microsoft.com/en-us/power-bi/service-gateway-getting-started
Hope that helps!

[2018-11-20 00:11] #425 closed

[2018-11-20 07:44] penguinjack2005 commented on #427
No I don't think there is. I raised a support ticket but there doesn't appear to be an outcome from that and others have again raised the issue in forums without an outcome. I don't really understand what the above article is supposed to resolve?

[2018-11-20 07:52] jenseggerath commented on #154
@KayUnkroth Thank you! I had meanwhile forgotten about this thread, but the problem has been solved as well.
Thanks - closing this.

[2018-11-20 07:52] #154 closed

[2018-11-20 14:25] Ventilios opened #448 "App Workspace with Premium capacity allocated"
The documentation is stating the following: "Everyone you add to an App Workspace needs a Power BI Pro license.". From my understanding, an App Workspace that was allocated with premium capacity would also have the ability to share their dashboards and reports with consumers in a free tier. Is that correct? If yes, please highlight this in the documentation.

---
#### Document Details

⚠ *Do not e

[2018-11-20 14:55] #197 closed

[2018-11-20 14:57] mgblythe commented on #400
@Jacob-Strickland - closing this based on Kay's response.

[2018-11-20 14:57] #400 closed

[2018-11-20 14:58] mgblythe commented on #197
@brown1mr - closing this based on Kay's response.

[2018-11-20 14:59] mgblythe commented on #376
@systamper  - closing this based on Kay's response.

[2018-11-20 14:59] #376 closed

[2018-11-20 16:26] kcinmelbourne opened #449 "Ability to Group By Defined Ranges"
This feature is fantastic but doesn't quite offer the flexibility that I've seen elsewhere.  For example, in your example above, you allow to Bin by a range such as months.  Where there isn't a logical data set like dates, such as a simple Whole Number field, it would be great if you could group by set ranges.  I suppose it would be similar to the rules in conditional formatting.

In my instance,

[2018-11-20 16:29] jhauff77060 opened #450 "Typo?"
The 2nd paragraph of this document states "... visual that shows Sales Amount by Year and Country."; I believe it should state "... visual that shows Sales Amount by Year and Quarter".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216c87b1-d196-a091-048c-dc55b0649338
* Version Independent ID: f8bb7489-d0bd-58f0-9eb3-6

[2018-11-20 17:39] maggiesMSFT commented on #450
Hi, @jhauff77060 -- Good eye! I believe you are correct. Assigning to the author, who should respond soon, though probably after the holiday.
Did you know: For minor things like typos, you can edit the doc yourself!  Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's s

[2018-11-20 18:56] markingmyname commented on #323
@dennis-skymill Since I have not heard a response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 18:56] #323 closed

[2018-11-20 18:59] markingmyname commented on #344
@johnstav Can you please confirm that the article you are referring to is the one mentioned by @maggiesMSFT above?

Thank you.

[2018-11-20 19:02] markingmyname commented on #344
@johnstav Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-11-20 19:03] markingmyname commented on #344
@johnstav Can you please confirm that the article you are referring to is the one mentioned by @maggiesMSFT above?

Thank you.

[2018-11-20 19:09] markingmyname commented on #354
@edwarsco-oregonstate-edu   Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-11-20 19:48] mgblythe commented on #429
@devaccount89 - closing this based on Kay's response.

[2018-11-20 19:48] #429 closed

[2018-11-20 19:58] markingmyname commented on #357
Thanks for your comment, @naushadsiddiqui. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

However, I can answer your 2 questions above.
1) As long as your using a Pro Licences (regardless if it is a trial or not) y

[2018-11-20 19:59] markingmyname commented on #357
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-20 19:59] #357 closed

[2018-11-20 20:03] markingmyname commented on #361
@krishnand Apologize for the delayed response. Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-11-20 20:05] markingmyname commented on #405
@nicholas-brooks Sorry for the delayed response. Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-11-20 20:08] markingmyname commented on #412
@molnarj Sorry for the delayed response. Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-11-20 21:27] alhughes8 opened #451 "New Workspaces no longer allow users other than the "dataset owner" to refresh the dataset"
In the old workspaces, as long as a user was an admin of that workspace, they could refresh a dataset that was not owned by them. It appears that the new workspaces no longer allow this. Only the "dataset owner" can refresh the dataset. Is this intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c

[2018-11-20 22:37] woodbridge opened #452 "typo"
"Understanding your audience and the benefit they'll receive from the content pack will help ensure your users are _successfully_ with the content you provide."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bfe7dce-81b2-b49b-e911-9c1bf7d4c7ff
* Version Independent ID: 8c2148f0-bd90-1712-2f3c-1c17c3b71f88
* Content: [

[2018-11-20 22:40] maggiesMSFT commented on #452
Good catch, @woodbridge ! I'll fix that.
BTW, did you know that for minor things like typos, you can edit the doc yourself! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into the pu

[2018-11-20 22:42] mgblythe commented on #157
The table at the end of this article is now complete: https://docs.microsoft.com/en-us/power-bi/service-admin-auditing. Closing this issue out. Thanks!

[2018-11-20 22:42] #157 closed

[2018-11-20 22:54] mgblythe commented on #308
Fixed this, thanks!

[2018-11-20 22:54] #308 closed

[2018-11-20 22:55] mgblythe commented on #353
I updated the link in the doc. Thanks for the feedback!

[2018-11-20 22:55] #353 closed

[2018-11-20 22:56] sweetlapeet opened #453 "November 15, 2018 AAD Update"
Has this document taken the following issue into consideration?
https://social.msdn.microsoft.com/Forums/en-US/4192e141-309a-4dd6-a5c9-f1a8ce32f4ca/aadsts54005-oauth2-authorization-code-was-already-redeemed?forum=WindowsAzureAD

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#change-notice-authorization-codes-will-no-longer-be-available-for-reuse

[2018-11-20 23:01] mgblythe commented on #434
@ioshiames - this is fixed now, thanks!

[2018-11-20 23:01] #434 closed

[2018-11-20 23:01] mgblythe commented on #442
Adding @swgupt to comment on this

[2018-11-21 01:40] maggiesMSFT commented on #453
Hi, @sweetlapeet -- I'm not sure how your comment ended up in the Power BI docs. I'm adding @eross-msft, one of the authors of  https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#change-notice-authorization-codes-will-no-longer-be-available-for-reuse
Hope that helps. Thanks for your comment!

[2018-11-21 01:47] ahmadanuar opened #454 "Multi-Geo support for Workload"
Is workload supported in Multi-Geo? Been getting information that this is not supported. And I cannot find information in this documentation,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830ea9dd-618c-897e-4cce-97edc93df585
* Version Independent ID: 135f4574-36ed-6a3b-85d4-a565c57a1312
* Content: [What is Microsoft P

[2018-11-21 01:49] ahmadanuar commented on #454
This is regarding on Dataflow workload in Multi-Geo environment

[2018-11-21 03:58] mgblythe commented on #454
@ahmadanuar - I just added a note to the Multi-Geo docs today. Dataflows aren't supported in Multi-Geo.

[2018-11-21 08:17] johnstav commented on #344
That's correct - there's also another page that this relates to:
https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers-sovereign-clouds

[2018-11-21 09:42] lukaszjakubczyk opened #455 "New Workspace Preview does not give access to Dataset when App is published"

[2018-11-21 09:47] lukaszjakubczyk commented on #455
When app is published from new workspace (preview) then access to dataset that are related with published reports is not granted automatically. I had to add access to dataset manually.

[2018-11-21 09:57] lukaszjakubczyk opened #456 "New Workspace Preview - update of App access list not populated"
When I change the list of users in the Access to App that was built in new workspace (Preview) it is not saved and populated though I got the message that it has been updated. Tried several times and it did not work even after 24h. However It works fine if users apply for the change and I approve it from the list.

[2018-11-21 10:02] lukaszjakubczyk opened #457 "New Workspace Preview - users outside tenant cannot be added to the App"
I cannot grant access to App that was built in new workspace (Preview) to users that are outside of the tenant. It is possible in the previous version.

[2018-11-21 11:32] markingmyname commented on #449
@kcinmelbourne Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-11-21 11:32] markingmyname commented on #448
@Ventilios Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-11-21 11:33] markingmyname commented on #451
@alhughes8 Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-11-21 14:10] mgblythe commented on #455
@lukaszjakubczyk Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2018-11-21 14:11] mgblythe commented on #456
@lukaszjakubczyk Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2018-11-21 14:12] mgblythe commented on #457
@lukaszjakubczyk Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2018-11-21 15:17] jhauff77060 commented on #450
Thanks I did know about the edit option. 👍

On Tue, Nov 20, 2018 at 11:39 AM Maggie Sparkman <notifications@github.com>
wrote:

[2018-11-21 16:55] markingmyname commented on #412
@molnarj Thank you again for bringing this to our attention.  I have made the appropriate changes to the article.  The changes should go live in a few days.

[2018-11-21 16:55] markingmyname commented on #412
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-21 16:55] #412 closed

[2018-11-21 17:00] markingmyname commented on #344
@johnstav Thank you for clarifying.

Because the code samples in this article are from the main GitHub EmbedSetup sample, I need to consult with the parties involved to verify if we need to make this change.

[2018-11-21 17:07] eross-msft commented on #453
@sweetlapeet  I'm speaking with the product group about your question and will get back to you as soon as I can. With the holiday, there will be a bit of a lag. Thanks!!!

[2018-11-21 17:31] maggiesMSFT commented on #450
Great -- feel free to make use of it when you find typos and possible typos. The author can always close it without accepting it, with an explanation, so you won't hurt anything. Thanks again!

[2018-11-21 17:53] eross-msft commented on #453
@sweetlapeet  For the best answer to your question, you should speak with @hpsin on the product group side. Again, with the holidays, responses might be delayed.

[2018-11-21 19:45] RobG-MSFT opened #458 "Missing steps for delegation success"
Looking at the section named:  Configure delegation settings on the gateway service account

Found that the PowerBI service account needs to be added to the "Windows Authorization and Access Group" group within the Users domain, to be able to successfully authenticate the user via Kerberos authentication in certain scenarios where the Active Directory domain has had any hardening done on it, or th

[2018-11-21 19:57] JMMB1986 opened #459 "Error while writing rows to Push Dataset"
Tried adding a few rows to the push dataset created.

Got an error shown in screenshot.

![error](https://user-images.githubusercontent.com/26969000/48865460-efd94c80-ed8c-11e8-96ce-67d050a51c14.PNG)

[2018-11-21 20:30] maggiesMSFT commented on #459
Hi, @JMMB1986 -- thanks for contacting us. Is your question related to a specific article?

[2018-11-21 20:31] mattpkelly commented on #62
We are having the exact same issue with the grey screen on Adobe's end and the sign in with our experience cloud credentials just spins.

[2018-11-21 20:33] mattpkelly opened #460 "Issue with Adobe Experience Cloud issue in Power BI Desktop"
We are trying to use our Adobe Experience Cloud credentials in Power BI desktop to create a connection to Adobe Analytics.  When we enter our Adobe credentials all we get is a blank grey screen on log in and the sign in indicator spinning.

[2018-11-21 20:35] #459 closed

[2018-11-21 21:14] thesmarthomeninja commented on #62
It's been broken for well over 6 months... Don't know who to contact about
it. I'm in the same boat as you all... Sorry

On Nov 21, 2018 12:31 PM, "mattpkelly" <notifications@github.com> wrote:

[2018-11-21 23:39] sweetlapeet commented on #453
@maggiesMSFT this is a powerbi question as it is the power bi access token sample that I am referring to.

AAD had an update and it seems that pbi sample code on the doc has not been updated. Can you confirm?

Regards,
Aharon Najafi

[2018-11-21 23:42] maggiesMSFT commented on #453
Ah, OK, thanks @sweetlapeet. In which article did you come across the Power BI access token sample? That info will help me direct your question to the right author.
thanks!

[2018-11-22 00:48] maggiesMSFT commented on #452
OK, @woodbridge -- fixed now. Thanks!

[2018-11-22 00:48] #452 closed

[2018-11-22 00:51] maggiesMSFT commented on #458
Thanks for your comment, @RobG-MSFT.  We’ve forwarded your feedback to the writer, who should respond soon -- after the holiday. Thanks!

[2018-11-22 00:53] maggiesMSFT commented on #460
Thanks for your comment, @mattpkelly.  This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-22 00:55] maggiesMSFT commented on #384
Hi, @chrisweis -- fixed now. Thanks!

[2018-11-22 00:55] #384 closed

[2018-11-22 00:57] maggiesMSFT commented on #457
Hi @lukaszjakubczyk -- Thanks for your comment. Looks like this is product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2018-11-22 00:57] #457 closed

[2018-11-22 00:59] maggiesMSFT commented on #456
Hi, @lukaszjakubczyk -- Thanks for your feedback! This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-22 00:59] #456 closed

[2018-11-22 01:00] maggiesMSFT commented on #455
Hi, @lukaszjakubczyk -- again thanks for your comment! Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2018-11-22 01:00] #455 closed

[2018-11-23 16:34] Rademenes44 opened #463 "editable text boxes"
"Text boxes in the Power BI report become editable text boxes in PowerPoint"
Is there any update on this feature? When it will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df1c4c0-80f9-f71a-175f-8362a29ad597
* Version Independent ID: c2a64e2a-ce65-dfb7-588a-381c145ab193
* Content: [Export reports from

[2018-11-24 01:15] dnavia opened #464 "Subtitles"
Hey,

I just went through the whole introduction tutorial and I noticed a few mistakes in the spanish subtitles (I'm latin so you can trust me).

- Table is tabla instead of mesa
- Performance is rendimiento instead of actuación

Those two changes may change a lot the meaning of the phrase.

I hope it helps!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-11-25 02:10] jordanmills commented on #345
This seems to be a known issue in the power bi service.  I ran into it recently.  To fix it, you need to re-upload the pbix file after making a "substantial" change to the query (could be as little as adding a dummy column - and you can always change it back and upload it again).  You can download the pbix file from the service from a report to start with/make sure you're not going to lose or chan

[2018-11-25 14:45] jamiezerfahs commented on #200
Kind of perplexed as to why the article has not been updated.  An error has been identified and accepted.  Then a solution has been found and explained and accepted.  Yet the article remains the same.  Why is it not being corrected?

[2018-11-25 23:04] jordanmills opened #469 "Upload does not work"
This page says: Beginning with the October 2018 release of Power BI Desktop, you can publish composite models to the Power BI service. For scheduled refresh and dashboard tile refresh, composite models in the Power BI service behave in the same way as Import models.

But when I try to upload a pbix file with a simple composite model (two direct query sources without any relationships between them

[2018-11-26 14:11] u00get3 opened #470 "Unable to view Color saturation"
I am unable to view Color saturation in https://docs.microsoft.com/en-us/learn/modules/build-your-first-power-bi-report/4-exercise-create-visuals-in-power-bi as instructed in "First visual
Drag the Overall rank field from the Fields pane to the Color saturation well in the Visualizations pane."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-11-26 18:39] gnutter opened #473 "New Workspaces & Row-Level Security"
The new workspaces do not seem to work with the row-level security features built into reports. This may be due to the lack of the "Members can only view Power BI content" option when creating the workspace. I tried both the "member" and "contributor"  options, but users can see all content and not just the roles I have built. Let me know if I am missing something.

---
#### Document Details

⚠ *D

[2018-11-26 23:34] #6 closed

[2018-11-26 23:44] maggiesMSFT commented on #473
Hi, @gnutter -- good question! I don't know the answer. I suggest going to https://community.powerbi.com/ and asking. You may get a faster response than I would. Thanks!

[2018-11-27 00:47] davidiseminger commented on #463
Thanks for your comment, @Rademenes44. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-27 00:48] davidiseminger commented on #464
Thanks for your comments and close read @dnavia. Apologies for the mistakes in the subtitles, we'll let the translators know about them. Much appreciated!

[2018-11-27 00:48] #464 closed

[2018-11-27 00:49] davidiseminger commented on #469
Thanks for your comment, @jordanmills and apologies you're running into this trouble. Have you updated your version of Power BI Desktop? This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-11-27 00:49] #469 closed

[2018-11-27 00:50] davidiseminger commented on #470
Thanks for your comment, @u00get3 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-11-27 01:18] jordanmills commented on #469
Can't even wait a couple of hours for confirmation before rushing to close the pesky work-generating issue?  I wish I could get away with delivering that level of service.

I'm running the latest version of power bi desktop (2.64.5285.741 64-bit (November 2018)).  I'm not sure how that is relevant though.  You create a pbix file, then go upload it to the web site, and it gives the noted error.  It

[2018-11-27 02:31] dsutherlandafex opened #475 "Power BI Premium - Usage Metrics App - Query Durations & Query Waits no longer working"
Since updating the Premium Usage Metrics app to V1.9, I am no longer getting any 'Query Durations' or 'Query Waits' data being populated.

I have tried deleting the app and re-installing but this did not fix the issue.

![snip - query durations](https://user-images.githubusercontent.com/37163410/49054539-b00cdc00-f248-11e8-936f-e282f3f99475.jpg)
![snip - query waits](https://user-images.githubuser

[2018-11-27 03:39] markingmyname commented on #354
@edwarsco-oregonstate-edu Correct, today you cannot refresh workbooks with PP models in them. However, we are aware of this limitation and looking into it.

[2018-11-27 03:40] markingmyname commented on #354
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-27 03:40] #354 closed

[2018-11-27 11:44] gregatcssi opened #476 "dataset does not show up"
I am attempting to build a bit more of a custom report for a client, but the dataset does not show up as stated above.  (step 3. Alternately, start with the new dataset and build a report from scratch.)
I need in add an additional table which would provide a little more information on users from another source, and without access to the data model that really limits possibilities of this.  also an

[2018-11-27 13:59] cstorega commented on #470
@u00get3 we are currently investigating this. Thank you for your feedback.

[2018-11-27 14:40] vishalaj1 opened #477 "Connection to Azure Analysis Service"
Hi,

We have reports which are connecting to azure analysis service.

Can we deploy them here? I cannot see any option for connection string for azure analysis service.

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da59f209-0ccd-01d0-6e0e-12943ef3680e
* Version Independent ID: 390690ff-76bd-f4c6-afac-

[2018-11-27 15:17] mattpkelly commented on #62
I've submitted a ticket to Adobe Client Care for this and escalated it through our Account Manager to address with the Product Team.  In the meantime, I'm using ReportBuilder to publish data to Power BI.  So far it's working perfectly.

[2018-11-28 03:56] krouskop opened #478 "HomeController example uses UserPasswordCredential which the ADAL team doesn't support 'by design' in .NET Core"
It would be helpful for the HomeController example to be re-created to not rely on UserPasswordCredential, as the ADAL team has judged the use of UserPasswordCredential as such a poor practice they explicitly won't support implementing UserPasswordCredential in the .NET Core version of the ADAL library.  (see https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/482)

---
####

[2018-11-28 08:10] Grayincarnation commented on #369
@mgblythe  - I stumbled upon this when searching for a high-level strategy for PBI deployment, usage, sharing, etc. Seems like one of the two go-to resources for all the PBI scenarios. My initial thought was also if this whitepaper was still accurate, as there are many updates in the last 2 years.

[2018-11-28 18:07] cbailiss opened #479 "Firewall settings"
Although not stated, it sounds like the gateway needs connectivity to the cloud sources.  It would be helpful if you could confirm this and if so explicitly state this in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183a8242-3c94-8a80-6d36-85c608790a25
* Version Independent ID: 2d8728c3-3662-27a3-6cd4-2c

[2018-11-28 21:42] mgblythe commented on #479
Thanks for your comment, @cbailiss . The gateway is typically for on prem sources, and it also needs access to the Power BI service in the cloud. Did you have another scenario in mind?

[2018-11-28 21:45] mgblythe commented on #478
Thanks for your comment, @krouskop. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2018-11-28 21:46] mgblythe commented on #477
Thanks for your comment, @vishalaj1. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. In the meantime, you could ask your question in the community: https://community.powerbi.com/.

[2018-11-28 21:48] mgblythe commented on #476
Thanks for your comment, @gregatcssi . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. In the meantime, you could ask your question in the community: https://community.powerbi.com/.

[2018-11-28 21:49] mgblythe commented on #475
Thanks @dsutherlandafex, adding @swgupt to see if she has any insight here.

[2018-11-28 22:32] MikeMccoy42 opened #480 "Relative date filter for visual level filters"
I would like to be able to apply relative date filters on the visual, not just to the page or report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19b40b2-9df7-adf8-3f9b-c6c7b188f3c1
* Version Independent ID: 70e043bb-c04e-2c5f-a121-3cf4368b0c49
* Content: [Use a relative date slicer or filter in Power BI Desktop -

[2018-11-28 22:47] dsutherlandafex commented on #475
Thank you.... please also not that in addition to the Query metrics not working..... it appears the 'Dataset' metrics are also not capturing (screenshots attached)
![dataset issue - further](https://user-images.githubusercontent.com/37163410/49187475-bb344900-f3bb-11e8-8f2e-9366e2c2e4fb.jpg)
![dataset issue](https://user-images.githubusercontent.com/37163410/49187476-bb344900-f3bb-11e8-94d5-b1ea5c

[2018-11-29 00:33] mgblythe commented on #480
Thanks @MikeMccoy42, can you file this at https://ideas.powerbi.com/forums/265200-power-bi?

[2018-11-29 01:36] tofu001 commented on #363
Hi @maggiesMSFT, were you able to find any info about this?

[2018-11-29 01:46] maggiesMSFT commented on #363
Hi @tofu001 -- ugh, I'm sorry, no info yet. I'll ping the PM again. Thanks for the reminder.

[2018-11-29 05:55] mihart opened #481 "Test to see if Issues working for end-user content"
this is a test. Please assign to me, mihart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-4dc0-c87e-0ed659bd0d60
* Content: [Power BI service- basic concepts for consumers - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-us

[2018-11-29 09:16] cbailiss commented on #479
The doc page I raised this question on is taking about merging data from on-prem and cloud sources.  The doc page does not make clear whether the gateway needs connectivity to the cloud sources.
https://docs.microsoft.com/en-us/power-bi/service-gateway-mashup-on-premises-cloud

I understand that connectivity to the on-prem data sources and Power BI is needed (pretty obvious).  But it is not clear

[2018-11-29 17:16] maggiesMSFT commented on #481
Hi, @mihart -- assigning this test issue to you. Hope that helps!

[2018-11-30 15:09] milo73 commented on #430
Hi,
Looks like an awesome tool to use. Just one thing which is not clear to me. How can this connector be used to connect to Github Enterprise?

Regards,
Milo

[2018-11-30 16:53] rkostrzewa1 opened #482 "Great Visual! Quick Question :)"
Hi, I really like this feature a lot. It's particularly useful to see the data in tabular form for visuals with drill down features. Is there any way to export this "Show Data" table visual into Excel? Thanks for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1c055f0-f722-d10c-f94e-7db7861df5d7
* Version In

[2018-11-30 17:31] eliasjd commented on #400
No puedo obtener la licencia del Power Bi Pro, Que tengo que hacer?

[2018-11-30 17:58] maggiesMSFT commented on #430
Hi, @MikhailTryakhov and @milo73 -- Thanks for your comments! They look like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.  Thanks!

[2018-11-30 19:16] rkostrzewa1 commented on #482
Awesome! Thanks for the quick response and thanks for looking into this!

[2018-11-30 21:44] mow700 opened #483 "Does Power BI Report server support embedding Power BI reports in my custom application?"
The documentation is unclear on this topic.  Can I use the embedding API against Power BI reports hosted in an on premise Report Server in my custom application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content:

[2018-11-30 22:45] archieag opened #484 "Screenshots for App Registrations differs to Azure Portal"
Screenshot in this documentation differs to App registration experience in Azure Portal and this is confusing.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Embed Power BI content into an application for you

[2018-12-01 05:11] snpruthvik opened #485 "Power Bi PDF Learning Document"
Power BI PDF learning document just downloading 1st page of contents but not full pdf
[d067af1e2e7b6b98f815910f9604f107 (1).pdf](https://github.com/MicrosoftDocs/powerbi-docs/files/2635614/d067af1e2e7b6b98f815910f9604f107.1.pdf)

[2018-12-02 20:17] imas401 commented on #390
Hi, please help me to solve this problem. Why I cannot import the excel workbook in power bi? The notification is: The following Excel workbook does not contain any queries or a model to import?

Many thanks

[2018-12-03 14:19] Simon999 opened #486 "Azure Service Bus deployment"
What is not clear, do we need out own Azure subscription to deploy the Azure Service Bus? Or is this handled as part of the Power BI service, and invisible to us?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb1195df-a72b-61c1-3490-64ca851e81b1
* Version Independent ID: 8e9e2f51-78eb-7dfc-8195-cf99bd55d61c
* Content:

[2018-12-03 17:43] zotechdigital opened #487 "uploading brand files to azure report server tutorial"
I'm just experimenting with the branding elements of the report server and would like to upload a zip containing the json ,png and xml files. Any way of of adding these onto the test VM I've set up?

[2018-12-03 21:39] CeciAc opened #488 "Broken link in README"
@IgorRozani commented on [Fri Oct 19 2018](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/9)

The link "the index" in the README file is broken.

![image](https://user-images.githubusercontent.com/802968/47243450-6c60c000-d3c8-11e8-99e3-280095530c12.png)

---

@CeciAc commented on [Tue Oct 30 2018](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/9#issuecomment-434310790)

Hi

[2018-12-04 14:46] maverickbhuvi opened #492 "Not working with Nov-2018 power bi update"
Error : Collection was modified; enumeration operation may not execute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce75d8cd-195a-b057-bea9-6e250f58d3c8
* Version Independent ID: e5e294b3-56a5-44e6-3846-31a3cdbb19bc
* Content: [Third-party service: Google Analytics connector for Power BI Desktop - Power BI](https://

[2018-12-04 20:28] gunna025 opened #493 "Conflicting master account information"
Under the *"Applying permission to your application with in Azure Active Directory"* section I see the following information.

And under *"Use the Azure Active Directory portal"* in step # 8

The former indicates that the master account used for embedding *needs* to be a global admin while the latter appears to contradict that statement. If the master account can grant permissions and not be a glo

[2018-12-04 20:43] maggiesMSFT commented on #492
Thanks for your comment, @maverickbhuvi. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-12-04 20:43] #492 closed

[2018-12-04 20:47] Scalisee commented on #470
They moved it, it's not nearly as intuitive. This field is now hidden within the format tab under data colors. If you click into the Advanced Controls link it will be controlled by the "Based on field" dropdown.

[2018-12-04 20:47] maggiesMSFT commented on #484
Thanks for your comment, @archieag. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-12-04 23:52] prwani-microsoft opened #494 "Q&A support for RLA"
The limitations on this page states that "Q&A and Cortana are not supported with RLS at this time. You will not see the Q&A input box for dashboards if all models have RLS configured. This is on the roadmap, but a timeline is not available."

But recent announcement states that it is available - https://powerbi.microsoft.com/en-us/blog/qna-december-2018-update/ (pls check last paragraph on this pa

[2018-12-05 06:24] v-kerwan opened #495 "RLS is now supported with Q&A"
Check below bolg
https://powerbi.microsoft.com/en-us/blog/qna-december-2018-update/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power BI - Power BI](https://docs.microsoft.com

[2018-12-05 06:35] mihart commented on #493
Hello, @gunna025
Your contribution is much appreciated. I've forwarded your question to the doc owner who will respond soon.
Kind regards,
Microsoft DOCS International Team

[2018-12-05 06:37] mihart commented on #494
Hello, @j-leungyy
Your contribution is much appreciated. I've forwarded your question to the doc author, who will respond shortly.
Kind regards,
Microsoft DOCS International Team

[2018-12-05 06:39] mihart commented on #495
Hello, @v-kerwan
Your contribution is much appreciated. I've forwarded your question to the doc owner, who will respond shortly.
Kind regards,
Microsoft DOCS International Team

[2018-12-05 06:41] mihart commented on #486
Hello, @Simon999
Your contribution is much appreciated. I've passed along your question to the doc owner, who will respond shortly.
Kind regards,
Microsoft DOCS International Team

[2018-12-05 14:04] cstorega commented on #470
We are processing the fix for this exercise, so you can expect to see the update within the next couple of days.

[2018-12-05 16:47] JasonCard commented on #488
Hi @mihart @CeciAc @Alisha-Acharya
I've looked into this and found that README.md was outdated in loc repos due to localization tooling issue. Opened [Loc Issue 54773](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/54773) for following up on this issue.
cc @bodhigautam

[2018-12-05 16:51] JasonCard commented on #488
@mihart @CeciAc You may close this issue here as it's localization issue and we will follow up in [https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/9](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/9).

[2018-12-06 01:03] rat-af opened #496 "Connection information"
The 'How to connect' information seems to be outdated.   I do not get a 'Services' window.
I try to connect to my D365FO url, but it won't let me use my organisational account.  We need some more up to date information on this page about connecting to D365FO.  A lot has changed in the 12 months of publishing this, and it doesn't look like the document has kept up to date.

---
#### Document Detail

[2018-12-06 01:29] jordanmills commented on #289
It did finally show up.  I tried installing it, but it's blank.  And I don't mean that fields and graphs are empty or zero, I mean that all it shows is a grey background.

[2018-12-06 01:49] maggiesMSFT commented on #289
Hi, @jordanmills -- sorry to hear it! This sounds more like a support request than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. I hope that helps!

[2018-12-06 03:15] jordanmills opened #497 "Important missing information for SSO"
There's no information on how to bypass adding credentials when using SSO.  Adding them is pointless since the service identity is used.  And most environments with any measure of security won't allow user credentials to be shared by a wide audience like this.  It's kind of unbelievable that a basic security issue this big has been completely overlooked.

---
#### Document Details

⚠ *Do not edit

[2018-12-06 03:17] jordanmills commented on #497
To clarify, I'm talking about the credentials the web site demands when adding a data source like SQL server.

[2018-12-06 10:53] Robby29 opened #498 "Where to install the HANA client for windows?"
Hi can you please mention how to install the HANA client. I got the SAR file from SAP marketplace but where to place the file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea414a5c-c3ca-281e-46ca-3e677d27924b
* Version Independent ID: 363a9c9c-13e2-58ce-cb79-9f897d83c307
* Content: [Use SAP HANA in Power BI Desktop -

[2018-12-06 13:47] rkostrzewa1 commented on #482
Hi there. Could I get an update on this please? I'd be excited to learn if this was possible. Thanks!

[2018-12-06 15:07] fabianomachadors commented on #240
It worked! The solution was to download Power BI Desktop through app.powerbi.com, not from the Microsoft Store.

[2018-12-06 17:09] juliobrazil commented on #369
Has the document been updated recently? Power BI envolved a lot since them.

[2018-12-06 18:34] Vinhaman opened #500 "Allow Print / Export inside SharePoint embedded"
It would be very helpful if we could have the Print / Export Power point functionality in this SharePoint embedded...

Currently we can only parameterize the Show Navigation Pane and the Show Filter Pane. A show print / export pane would be nice...
If we just print the page with the headers and the rest the report comes out very poorly.

[2018-12-06 19:08] ajpi222 commented on #478
Agree @krouskop, having trouble trying to figure out the .NET Core implementation.

[2018-12-06 22:16] mgblythe commented on #497
Thanks @jordanmills, I'll take a look at this.

[2018-12-06 22:19] mgblythe commented on #498
Thanks for your comment, @Robby29. We’ve forwarded your feedback to the writer, who should respond soon.

[2018-12-06 22:21] mgblythe commented on #500
Thanks @Vinhaman, can you post this to Power BI Ideas: https://ideas.powerbi.com/forums/265200-power-bi

[2018-12-06 22:21] #500 closed

[2018-12-07 08:29] cignum opened #502 "Security Whitepaper Data and Storage section"
I am not sure wheter it is perfectly clear or correct the statement:
"
Non-DirectQuery queries do not include credentials for the underlying data, and the underlying data is loaded into the Power BI service unless it is on-premises data accessed through a Power BI Gateway, in which case the query only stores references to on-premises data.
"

I mean, if a gateway is used, is the data collected, pr

[2018-12-07 10:25] cignum opened #503 "User Authentication to Data Sources section"
In the security whitepaper, there are multiple reference to "Role-level security (RLS)".
Isn't it "Row-level security (RLS)" ? Am I missing something ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce725cf3-1fcb-9942-3b6f-63dade96b0d3
* Version Independent ID: 0e724841-6fcc-d35a-167f-f5c7d2162f30
* Content: [Power BI

[2018-12-07 11:34] valentinLeister opened #504 "OAuth issue when connecting to table fed by external data source"
Thanks for the description. I am running into an OAuth error when trying to query a bigquery table which is fed by an external data source (a Google Sheet).

DataSource.Error: ODBC: ERROR [HY000] [Microsoft][BigQuery] (20) Query execution failed: Access Denied: BigQuery BigQuery: No OAuth token with Google Drive scope was found.
Details:
    DataSourceKind=GoogleBigQuery
    DataSourcePath=GoogleB

[2018-12-07 16:48] mgblythe commented on #504
Thanks @valentinLeister. Can you follow up with support (https://powerbi.microsoft.com/en-us/support/) or ask a question in the community (https://community.powerbi.com/).

[2018-12-07 16:48] #504 closed

[2018-12-07 16:51] spikylellie opened #505 "Please add the consequences"
It would be helpful to add whether this will, or will not, break any existing bookmarks or Excel connections which point to the dataset - for example, the connections created by "Analyse in Excel".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd392eed-242c-00d8-4dac-3cc3b3493adf
* Version Independent ID: 3ab02bc8-688

[2018-12-07 19:03] kfile commented on #485
Thanks @snpruthvik  for your question. I've assigned this to the author to check, though it may be an issue with our docs platform in which case another group would handle it.

[2018-12-07 19:05] kfile commented on #487
Thanks @zotechdigital for your question. I've assigned this to the doc author for review.

[2018-12-07 19:13] kfile commented on #505
Thanks @spikylellie for your comment. I've assigned to the doc writer for review. Regards - Kelly

[2018-12-07 21:01] snotebaert opened #506 "Composite models are now GA."
Update reference to composite models being in preview.  Since the november release of Power BI and on-premise data gateway they are GA.

https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-november-2018-feature-summary/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d807f76-0284-c917-4e56-b5c897c9ed61
* Version

[2018-12-07 21:32] arthiriyer commented on #497
@jordanmills Thanks for the feedback. Unfortunately currently credentials are required even if you are using SSO.  Do suggest this in ideas.powerbi.com and it will help us fix this in the upcoming semester.

[2018-12-07 22:26] andrewbrick opened #507 "Details on re-publishing"
This document states that "When you re-publish your Power BI Desktop file, the dataset in your Power BI site will be replaced with the updated dataset from the Power BI Desktop file."  You should clarify that not only is the dataset updated, but the report itself is, too.  I think you could create confusion, particularly with the bullet "If you rename or delete a column or measure, any visualizati

[2018-12-08 01:54] maggiesMSFT commented on #507
Thanks for your comment, @andrewbrick. Good observation. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-12-08 01:56] maggiesMSFT commented on #506
Thanks for your comment, @snotebaert. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-12-08 02:19] danvanderboom opened #508 "typo"
"You can also use the open source PowerShell untilies to manage your report server."

"untilies" -&gt; "utilities"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3889030d-38f1-8788-119d-3615f7487f73
* Version Independent ID: f6b4aecd-1fc0-2b39-d1ac-27735f36329e
* Content: [Developer handbook overview, Power BI Report S

[2018-12-09 03:02] LydiaLim93 opened #509 "Confusion about purpose of "view-only" membership role"
Under point number 4 of the subsection "Create an app workspace based on an Office 365 group", it is mentioned that "You can also choose if members can edit or have view-only access."

However the sentence which follows immediately is causing confusion:
"**Only add people to the app workspace so they can edit the content.** If they're only going to view the content, don't add them to the workspace

[2018-12-09 23:54] brmort opened #510 "Timeline for certification"
Would it be possible to have an approximate timeline included with the process section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43339087-a0a1-451d-76f6-bb6bad776a43
* Version Independent ID: 2ef46a24-2aeb-fbe3-821a-bffed8a03de0
* Content: [Certified Power BI custom visuals - Power BI](https://docs.microsoft.com/

[2018-12-10 11:22] DaveRuijter commented on #473
Are you sharing the App? Or adding users as members?

[2018-12-10 17:44] maggiesMSFT commented on #509
Hi, @LydiaLim93 -- yes, good question. With the current version of workspaces, yes, it is possible to add people and give them view-only access. As a workflow, we were recommending against that, suggesting instead to create apps and distribute them to those folks.
Going forward, the new workspaces experience will have a view-only role, and we'll be updating that guidance.
Hope that helps!

[2018-12-10 18:07] ferrety2006 opened #511 "Embedded Power BI - First time access is not smooth"
When an authorized user first accesses an embedded report that they've not installed yet, they get the message that the content is not available. Yet, if they refresh the page after a minute, the 'auto install' feature seems to be done and let's them see the report. Most people going to the page the first time thinks the page/report is broken. Is this expected behavior? Could there not be a prelim

[2018-12-10 18:16] JasonCard commented on #488
@mihart @CeciAc [https://github.com/MicrosoftDocs/powerbi-docs-pr.pt-br/blob/live/README.md](https://github.com/MicrosoftDocs/powerbi-docs-pr.pt-br/blob/live/README.md) has been updated and this issue has been resolved. I don't have access to close this issue, so please help to close.
cc @Alisha-Acharya

[2018-12-10 19:37] maggiesMSFT commented on #477
Hi, @vishalaj1 -- currently paginated reports in the Power BI service support these data sources:
Azure SQL Database and Data Warehouse
SQL Server
SQL Server Analysis Services
See this article for details: https://docs.microsoft.com/en-us/power-bi/paginated-reports-embedded-data-source.
More data sources will be coming.
Thanks for asking!

[2018-12-10 19:37] #477 closed

[2018-12-10 19:56] henriquebrisola opened #512 "PDF exported location"
The location of the PDF file exported should be noted on the documentation.
I could find it somewhere on Local App Data / Temp.

Also, I think it should save on the same PBIX file location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267f-21d5-5

[2018-12-10 20:15] #488 closed

[2018-12-11 01:30] maggiesMSFT commented on #510
Hi, @brmort -- thanks for your question! I've assigned it to the author, who'll get back to you soon.

[2018-12-11 01:31] maggiesMSFT commented on #511
Thanks for your comment, @ferrety2006.  Looks like this is product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com. Thanks!

[2018-12-11 01:34] maggiesMSFT commented on #512
Thanks for your comment, @henriquebrisola! Thanks for your suggestion. We’ve forwarded your feedback to the writer, who should respond soon.
It looks like you have some product feedback, too. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://commu

[2018-12-11 02:12] camwally opened #514 ""Expand Q&A and Cortana" does not exist"
Step 3 is "Expand Q&A and Cortana, select the checkbox for Turn on Q&A for this dataset and choose Apply." I cannot see "Expand Q&A and Cortana" I can only see "Gateway connection", "Data source credentials", "Parameters" and "Scheduled refresh". Why would this be? The dataset is connecting to Sharepoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-12-11 02:43] LydiaLim93 commented on #509
Alright, thank you for the clarification, Maggie!

[2018-12-11 02:43] #509 closed

[2018-12-11 02:55] maggiesMSFT commented on #514
hi, @camwally -- Thanks for asking -- good question. I'll check and get back to you.

[2018-12-11 20:30] Gabae opened #516 "Period selector & Customer ratings"
Time period selector and customer ratings are necessary for business analysis purpose.
How can those features be added to Zendesk dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2231f5c7-c73c-0b80-d6b9-5adf207a6b62
* Version Independent ID: 91e7c633-83d4-0714-e92f-e3f169549bd5
* Content: [Connect to Zendesk w

[2018-12-12 03:28] omanlap opened #517 "I am not able to utilize the Usage Metrics by Report/Dashboard in Power BI Pro (Government Tenant)."

[2018-12-12 04:31] ozhug opened #518 "NOT ALL transformations using M editor, are supported"
What kind of transformations can be performed with computed entities? Any transformation that you usually specify using the transformation user interface in Power BI, or the M editor, are all supported when performing in-storage computation.

This is incorrect using not all M editor transformations are supported. doing something like below and you end up with a complex column which cannot be loade

[2018-12-12 11:37] persefer opened #519 "Using others models in Power BI Report Server on-premises"
My customer doesn't want to publish reports via cloud so we will use Power BI report server. Can we still share our datasets/models or use others models with reports server installation? Or sharing via cloud in Power BI Online Services required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008

[2018-12-12 18:52] mihart commented on #516
Hi @Gabae
Thank you for your suggestion.  I've forwarded this Issue to the document author who will get back to you shortly.  Thank you.

[2018-12-12 19:07] mihart commented on #517
Hi @omanlap
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
Kind regar

[2018-12-12 19:07] #517 closed

[2018-12-12 20:45] DaveRuijter opened #520 "Premium"
This page does not mention the concept of Power BI Premium capacity. It would be good to explain if App Workspaces backed by Premium capacity contribute to the total storage of a Pro user, or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5

[2018-12-12 21:13] peterhel opened #521 "The code is obsolete since 2 major versions have been released since."
I managed to get it "working" with the latest (async) version of the NuGet package. But I got a reply URL error. I reverted to the old version, but the problem is still there. I have no way to get this working since I have no idea where to look for the correct URLs. Please update the docs since I really don't want to have to turn to stackoverflow.

---
#### Document Details

⚠ *Do not edit this se

[2018-12-12 22:21] juliand7gj opened #522 "DAX"
Learning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/introductiontodax?tutorial-step=7)
* Content Source: [powerbi-

[2018-12-12 22:46] renezito commented on #336
I can connect to my Oracle DB with other tools, like sql tools, sql developer using my tnsnames,  but not with Power BI... Why it's so difficult?  The instrucctions you gave are not clear.... Can't I just replace some files instead of installing ODAC?  I don't want to install ODAC, my other apps are running ok with my actual oracle installation...

[2018-12-13 16:45] rm12656 commented on #470
Documentation linked below also needs updating to reflect the changed location of the "Color Saturation" feature.

Also, the first two screenshots on the page show clustered column charts. This is misleading - as far as I can tell, clustered column charts do not support the Color Saturation feature. I am only able to see Format > Data Colors > Advanced Controls when a single field is listed under

[2018-12-13 17:56] cstorega commented on #470
@mihart - this seems to be about the documentation, not Learn content?

[2018-12-14 00:01] HillChris1234 opened #524 "Can't start the Visual"
Step 9 under "Developing the Visual Elements" should be "pbiviz start" not "pbiviz." And, when I run that command, I get this error:

 error  TYPESCRIPT  /visualPlugin.ts : (8,153) Property 'Visual' does not exist on type 'typeof circleCard31EC0182E07F439CA01CCACE7F239082'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-12-14 04:09] maggiesMSFT commented on #524
Thanks for your comment, @HillChris1234. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-12-14 04:10] maggiesMSFT commented on #522
Hi, @juliand7gj -- do you have a question or comment? Please let us know. Thanks!

[2018-12-14 04:11] maggiesMSFT commented on #521
Hi, @peterhel -- thanks for your comment. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2018-12-14 14:17] systamper opened #525 "Need Usage Metrics"
I know this is not currently included, but can you share WHEN it will be? The new app workspace is fantastic! But we really need usage monitoring ASAP.

Thanks, Scott

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Cont

[2018-12-14 19:57] maggiesMSFT commented on #525
Hi, @systamper -- thanks for asking. I'll poke around and see if I can find an answer. Often these days, the product team spells out upcoming features in the Business Applications Release Notes, https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/power-bi-service/overview. So that's a good place to check.

[2018-12-14 22:25] akrottcsp opened #526 "Filters Preview"
I love the idea of the filter pane. But there's a reason why I use the filter visuals instead of the standard report filters when sharing reports - customization and misrepresentation.

1) to use the new filter pain, it would have to be highly customizable and include options for font size, padding, line height, etc. PowerBI can't predict what values would be filtered and there are times when we d

[2018-12-14 22:31] akrottcsp commented on #526
Two other comments - please include the ability to hide the value "blank." Sometimes there is a reason why this value exists but it does not mean you want users filtering by it.

Also, in general, the scroll pane on all visuals is much too narrow and you can't customize. It's actually a feature which my users gripe about all the time because on smaller displays they have a hard time working with i

[2018-12-15 11:06] dkikan opened #527 "Column Limit ambiguity"
"Dataset size limit - there is a 1 GB limit for each dataset in the Power BI service.
Row limit - the maximum number of rows in your dataset (when not using DirectQuery) is 2 billion, with three of those rows reserved (resulting in a usable maximum of 1,999,999,997 rows); the maximum number of rows when using DirectQuery is 1 million rows.
Column limit - the maximum number of columns allowed in a

[2018-12-16 08:30] jadoux opened #528 "Inaccurate Title"
Shape Maps in Power BI Desktop, not the first time Microsoft uses an inaccurate title, these are not shape maps, you're talking about district level maps, shape maps feature is when you enable people to bring their own shapes (svg, other vectors etc...) and use them as their map, by binding each polygon / area to a dataset entry, again, please don't tempt your users into something that doesn't nat

[2018-12-16 15:40] Donquiweb commented on #62
I have the same issue and think that it's due to the migration to the Adobeid model.

[2018-12-17 15:03] samhall100 commented on #93
Hi @spulente & @Mihart

I too have had the same question about this data, it took me 30 minutes to work out so please see below:

Before answering this question directly lets first think about the data in the model.

The data is extracted from a system once a month, i.e. 01/06/2014 so each month the data in the employee table is refreshed which means we have multiple rows for each employee number.

[2018-12-17 17:00] mihart commented on #482
Hi @rkostrzewa1
Sorry for the delay.  I'm not sure if I understand your question.  Because you definitely can export the data into Excel and the article shows that.  So I must be missing some key part of your question.   Are you asking if "Show Data" is available, not in Power BI, but available in Excel?  Please send more details or an example and I'll do my best to answer your question.  Thanks.

[2018-12-17 17:01] #481 closed

[2018-12-17 17:04] mihart commented on #470
@cstorega
It's about both.  I'll fix it in the tips and tricks doc and leave it to you to fix it in the Learn content.

[2018-12-17 18:06] maggiesMSFT commented on #520
Hi, @DaveRuijter -- great question. I've gotten confirmation from the product team that an app workspace in a Premium capacity does not count to the storage of a Pro user. Thanks for asking!

[2018-12-17 18:06] #520 closed

[2018-12-18 08:34] cstorega commented on #470
@mihart the Learn course is fixed

[2018-12-18 14:09] kfile commented on #527
Hi @dkikan and thanks for your comment. I have assigned the issues to the author. He is on vacation until after the holidays, FYI. Regards - Kelly

[2018-12-18 14:16] kfile commented on #526
@akrottcsp, thank you for your feedback. I've assigned to the doc author who will share your comments with the product team. Please note that the doc team is out for the holidays so there will be a delay in responding. Regards - Kelly

[2018-12-18 14:19] kfile commented on #528
@jadoux  - thank you for your feedback. The issue has been assigned to the author. Please note that most of our doc team is out on holiday until 1/2, so expect a delayed response. Regards - Kelly

[2018-12-18 15:42] nonsensely commented on #336
Excellent question - WHY IS THIS SO DIFFICULT?  Having the same issue.  I've connected our Oracle DB into DataGrip, Excel, iSeries, Symtrax - but even after installing the 64-bit connector (as instructed), getting:  Details: "Oracle: ORA-12154: TNS:could not resolve the connect identifier specified".

[2018-12-18 17:55] hifihedgehog opened #531 "Relationships"
In order to perform on-the-fly random forest calculations based on parameter selection, I need to have multiple tables of unrelated information pass through into the Python visualization. Each table contains an independent variable that I filtered via a slicer. I need all of these independent variables for the random forest algorithm to be able to make its prediction. Otherwise, it is impossible t

[2018-12-18 18:18] maggiesMSFT commented on #526
Hi @akrottcsp -- yes, thanks for your feedback! Looks like it's about the product, rather than the documentation. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.  Thanks again!

[2018-12-18 18:18] #526 closed

[2018-12-18 18:32] maggiesMSFT commented on #525
Hi @systamper -- sounds like it's a feature coming in the next few months, the next quarter. Hope that helps!

[2018-12-18 18:32] #525 closed

[2018-12-18 20:44] asocorrocognex opened #532 "can the recipient modify the filter?"
Can the recipient modify the filter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b3989d-4ab1-51f2-6823-970c04f6fba9
* Version Independent ID: 673ccbe9-ef77-5c5b-9936-37eaeb4d3762
* Content: [Filter and share Power BI reports with coworkers - Power BI](https://docs.microsoft.com/en-us/power-bi/service-share-reports

[2018-12-18 20:55] maggiesMSFT commented on #532
Hi, @asocorrocognex -- me again! Thanks for asking, good question. Yes, they can just remove the filter from the end of the URL to see the report with no filter. Hope that helps!

[2018-12-18 21:01] asocorrocognex commented on #532
I’m voting for you for employee of the year.  Thanks!  I think it was obvious that the user could, but nevertheless wanted to be 100% certain.  Every time I have visited that page the same doubt crept in, so I decided to ask.

Perhaps I was initially thrown in doubt by the article’s title, as you are not really sharing a filtered version of the report, but a full report with an initial filter appl

[2018-12-18 21:03] maggiesMSFT commented on #532
Hi, @asocorrocognex -- ha! (on the Employee of the Year part)
You make a good point. I'm going to update the article to clarify that. Thanks!

[2018-12-18 23:45] mow700 opened #533 "Images unreadable if Dark theme is used"
I'm using the Dark theme on the site, and it took me a few minutes to discover why the images in this article didn't seem to make sense.  I switched to the Light theme and discovered why, images are using a transparent background with black elements.  The black elements appear hidden if using the dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-12-18 23:59] maggiesMSFT commented on #533
Hi, @mow700 -- thanks for pointing that out! I'll let this author and other authors on the site know.

[2018-12-19 06:52] mdittakavi opened #534 "Power BI Desktop connection to 'On-premises SharePoint server 2016' with 'SharePoint Folder""
Hi Team
Does installing  gateway public or personal mode help 'Power BI' desktop client to connect to a file in On-premesis Sharepoint server library.

From Power BI desktop , using 'SharePoint list' we can connect to ON-premesis SharePoint list but not SharePoint Folders. any idea

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-12-19 07:44] Aidan-Aoki opened #535 "Potential Error"
Net Sales per Unit = [Net Sales] / SUM(Sales[SalesQuantity])

In regards to the above, shouldn't another measure be made for [Net Sales Quantity] being [SalesQuantity] - [ReturnQuantity] so that you are comparing [Net Sales] to the correct figure for quantity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5439d8e1-71b

[2018-12-19 09:01] Kofl commented on #85
Sorry, but that answer makes no sense at all. Thats a report question from @promney and the documentation is missing. How many months of data is available and how to change it?

Additionally, its really a shame that MS is retiering the old Azure connector for PowerBI and new one warns you, that its still beta and things may change. 11 days before the old connector is going offline.

[2018-12-19 10:03] jeroenhabets commented on #329
@maggiesMSFT please reopen and only close _after_ the GA date is provided (as asked by @DetlevVreeken).

It's been two months so hopefully MS has some visibility on a GA date by now.

[2018-12-19 10:10] jeroenhabets opened #536 "Use Azure AD groups in New Workspaces"
Hi,
I've created a new workspace and now want to give Member access to an Azure AD group.

The input for the principals has "Enter email addresses" as default text ~~and only lets me search on email. If I enter a group name it finds no results~~.
I would have expected the default text "Enter email addresses or group names" ~~and groups to be returned in addition to matching users~~.

*Update*: I d

[2018-12-19 12:59] rocksde opened #537 "who in an organization can create workspaces"
I checked several times but the article mentions "Power BI admins decide who in an organization can create workspaces. See the Power BI admin portal article, Workspaces section for details." and I am unable to find where I can define who and who not can create new workspaces. Could you make this a little clearer please. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-12-19 18:15] maggiesMSFT commented on #537
Hi, @rocksde -- thanks for your feedback! I agree, we don't make it very clear. I will discuss with the author of https://docs.microsoft.com/en-us/power-bi/service-admin-portal#workspace-settings and see where we can make improvements. We are heading into the holidays, so we may experience delays...

[2018-12-19 18:52] maggiesMSFT commented on #536
Hi, @jeroenhabets, Thanks for your comment. Looks like this is product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.
Thanks!

[2018-12-19 19:03] maggiesMSFT commented on #535
Thanks for your comment, @Aidan-Aoki.  We’ve forwarded your feedback to the writer, who should respond soon. Do note that as we head into the holidays, we may experience delays. Thanks!

[2018-12-19 21:59] mgblythe commented on #475
Would still like to hear from @swgupt on this, but did this resolve with new app install? If you still have issues, please contact support: https://powerbi.microsoft.com/en-us/support/. Thanks!

[2018-12-19 21:59] #475 closed

[2018-12-19 22:04] dsutherlandafex commented on #475
Yes this is now fixed. Many thanks

[2018-12-19 22:46] brmort commented on #89
Adding to this, the "month-to-month" link for the availability column for P1 in the table throws a 404

[2018-12-20 07:43] xstodeepak opened #539 "Documentation Issue"
Under the heading "View filters for a visual in Reading mode", in the first line i.e. "In Reading mode, you can hover over a visual and see.....", should be "In Reading mode, you can hover over 'filter' icon in the visual and see....".

Simply hovering pointer over a a visual doesn't show applied filters, rather the viewer has to over the 'filter' icon in that particular visual to see all the appl

[2018-12-20 11:13] anbuchelva opened #540 "Essbase Connector"
Connecting to essbase database is unsuccessful. Adding tutorial would help a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-61f0-de544ae9e959
* Content: [Data sources in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/p

[2018-12-20 13:48] rkostrzewa1 commented on #482
Hi, I am looking to export the data behind the visual seen in Show Data to Excel. I understand you can export data to Excel but sometimes it is not rolled up as seen in the Show Data table. For example, if I have a hierarchical count by month and then by week I can be at a level to look by month or drill down to see by week. When I am on the first level to see count by month and I do Show Data, I

[2018-12-20 15:20] tripleacoder opened #541 "Matrix"
The Streaming dataset matrix does not show PushStreaming, only Push, Streaming and PubNub, why is that?

Also, PushStreaming is called Hybrid when you go to Power Bi and look at the list of Datasets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46e4476-1fc8-de9c-dc49-ffb8358d22b0
* Version Independent ID: 7af1eac8-5

[2018-12-20 15:35] rkostrzewa1 commented on #482
Also, I don't see in the article where it says anything about exporting the Show Data table to Excel.  Could you elaborate on that please?

[2018-12-20 19:55] ferrety2006 commented on #511
Ok. Would it not be important enough to mention this behavior in the documentation?

[2018-12-20 20:12] maggiesMSFT commented on #511
Hi, @ferrety2006 -- that's a good point. I've assigned to the author, who will review and reply. Note that as we are approaching the holidays, replies may be delayed. Thanks for your suggestion!

[2018-12-21 13:17] ryanspletzer opened #543 "Not all scopes in the Azure Portal are documented here (ex. View all workspaces)"
Not all scopes in the Azure Portal are documented here (ex. View all workspaces)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b836b669-bee0-737a-8de1-b3fd0cda0218
* Version Independent ID: f6ae700d-4db0-fd20-fab5-6020ecde08c4
* Content: [Power BI permissions - Power BI](https://docs.microsoft.com/en-us/power-bi/devel

[2018-12-21 16:53] gunna025 commented on #493
@mihart @markingmyname
Well, I can confirm through my own testing that the master account used for embedding does not **_need_** to be a global admin. It may be more convenient for the sake of the tutorial here, but makes for misleading and potentially dangerous documentation.

I had a global admin create the app registration and grant permissions, but the account used for communicating with the A

[2018-12-21 20:41] jpuncochar opened #544 "Ability to add a column in Desktop PBI when connected to Live Power BI Dataset in the cloud"
I can only add a measure, would love to be able to add a column, which is a little more user friendly than add a measure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Version Independent ID: 6abb84b5-1657-c8b1-62ef-641883c0e4b9
* Content: [Connect to datasets in the Power BI ser

[2018-12-23 12:34] gregra81 opened #545 "Documentation only fits for .NET developers"
If I'm not a .NET developer, this is not useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef3a0a2-7cc8-136e-eb8e-a80f4cade7d3
* Version Independent ID: 20093c04-76cd-9266-e2f1-96c329da93c1
* Content: [Get an authentication access token - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/walkthrough-pu

[2018-12-23 22:25] ajobbins opened #546 "Can't connect"
This doesn't seem to work. I have admin access to our Project Online tenant and when I try and connect (after signing into my organisational O365 account), I just get an error saying "We couldn't authenticate with the credentials provided"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7de3f7-737b-cbbd-0911-e5535b198

[2018-12-24 06:49] syedaqibm commented on #476
Hello, Is there a way to get usage metrics for 1 year instead of 90 days?

[2018-12-26 02:01] sukpakan opened #547 "Failed to update data source credentials"
I have following this instruction but its show error below.

Failed to update data source credentials: The credentials provided for the MicrosoftAzureConsumptionInsights source are invalid.
status code: 400

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6932-1edef039548f
* Version Independent ID: b5a

[2018-12-26 17:32] kfile commented on #544
Hi @jpuncochar and thanks for your feedback. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com. .

[2018-12-26 17:32] #544 closed

[2018-12-26 17:35] kfile commented on #534
Hi @mdittakavi and thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-12-26 17:35] #534 closed

[2018-12-26 17:37] kfile commented on #545
HI @gregra81 and thanks for your comment. This issue has been assigned to the author who is on vacation until after the holidays. Thank you.

[2018-12-26 17:38] kfile commented on #546
HI @ajobbins and thanks for your question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-12-26 17:38] #546 closed

[2018-12-26 17:40] kfile commented on #547
Hi @sukpakan and thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-12-26 17:40] #547 closed

[2018-12-26 22:52] mihart commented on #482
Hi @rkostrzewa1 ,
Does this article help?
https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data
?

[2018-12-27 01:02] mihart commented on #470
@cstorega fixed in doc.  will publish after Jan 3rd.  Thanks everyone.

[2018-12-27 01:02] #470 closed

[2018-12-27 01:04] mihart commented on #463
Hi @Rademenes44 ,
For product related questions, please post your question in the Power BI forums:
https://community.powerbi.com/t5/Forums/ct-p/Forums

and/or suggest a new feature by visiting ideas.powerbi.com.

Take care,
Michele

[2018-12-27 01:04] #463 closed

[2018-12-27 09:57] hanskristiansen opened #548 "Power BI webinars"
Join us for Power BI webinars
https://www.meetup.com/Power-BI-User-Group-Norway/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a082e6-1c36-af62-95b7-69405696764e
* Version Independent ID: 0425ef3a-54b6-3527-6a02-a60642c9d61c
* Content: [Power BI webinars - Power BI](https://docs.microsoft.com/en-us/power-bi/webinars

[2018-12-27 14:02] rkostrzewa1 commented on #482
No I'm sorry it does not. Here is my example:

This is the original data I loaded into Power BI
![image](https://user-images.githubusercontent.com/45493512/50482596-02a6f880-09ad-11e9-9227-e1b56abd7f99.png)

Here is the first hierarchy of my data rolled up by month including the Show Data feature. As you can see it sums up Packaging and Printing for all of the weeks in month 1.
![image](https://us

[2018-12-27 14:45] srubsamen opened #549 "Auto relationships"
Please give users the option to turn OFF the auto relationship manager!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f402391-8dfc-cfa4-89b1-335f7c9dad1c
* Version Independent ID: 31ba30b8-61df-54d2-f97c-93ba77319cba
* Content: [Relationship View in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-

[2018-12-28 21:21] jeetsharma78 opened #550 "Thanks"
Nice. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Independent ID: b89aefeb-6cc8-4874-e514-7a1428611c8c
* Content: [Getting data - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/gettingdata?tutorial-step=7)
* Content Source: [powerbi-docs/guid

[2018-12-28 22:01] markingmyname commented on #361
@krishnand

API URL - endpoint for the PBI REST APIs.

[2018-12-28 22:17] markingmyname commented on #478
@krouskop Apologizes for the delayed response.  There are current discussions to make changes to this piece.  I will update everyone once I have more information about this topic.

[2018-12-28 22:19] markingmyname commented on #484
Hi, archieag.  Thank you for bringing this to our attention.  This has been addressed.  Thank you and happy holidays!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-28 22:20] #484 closed

[2018-12-28 22:41] markingmyname commented on #478
@krouskop

We are aligning to restructure the authentication portion to fit better best practices.

No ETA on when this information will be released. As such for now, UserPasswordCredential is the only current option.

[2018-12-28 22:41] markingmyname commented on #478
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-28 22:41] #478 closed

[2018-12-28 22:43] markingmyname commented on #493
@gunna025 Apologizes for the delayed response.

Please feel free to submit a PR if you have information or corrections you feel need to be addressed in the documentation.

[2018-12-28 22:51] markingmyname commented on #510
@brmort Apologizes for the delayed response.

I'm not sure, but that is an excellent question.

Let me discuss with the team, and I will follow-up after the New Year.

[2018-12-28 22:58] markingmyname commented on #524
HillChris1234 Apologizes for the delayed response.

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2018-12-28 23:02] markingmyname commented on #545
@gregra81 Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2018-12-29 01:03] SaurabhSharma-MSFT opened #551 "Why the application is registered as a Native App for "App Own Data" scenario"
As per the document for "App Owns data" needs to registered as Native App compared to "User Owns Data" scenario but I couldn't able to find reason for registering as a Native app ? It would be good to document the reason for the registering it as a Native app ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd

[2018-12-29 16:58] uve commented on #524
@HillChris1234 please send your source code to Power BI Custom Visuals Support pbicvsupport@microsoft.com, we'll review it

[2018-12-30 01:15] #359 closed

[2018-12-30 15:03] Donquiweb commented on #62
Hi,

 it works for me on a PC under Windows7 but you need to have IE11 or higher (update is required).
The point here is that on windows XP, 7 and 8, you can't change the default registry key to open links from Applications like PowerBI with préfixe URL:RES.

So, except if you find a way to hack the registry entries to open this url in Google Chrome for example it won't work !
see : https://suppor

[2018-12-31 05:02] markingmyname commented on #550
@jeetsharma78 Thanks so much for contacting us! We appreciate the feedback. The author of this article is away on vacation. When he returns, he should respond to this thread. Thanks!

[2018-12-31 05:03] markingmyname commented on #551
@SaurabhSharma-MSFT Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-12-31 07:32] mdiscenza commented on #446
@maggiesMSFT any update on this? I'd really like to know why we can't use grouping and have to do everything with measures with pushed datasets in the analytics service-- especially because I don't see this documented anywhere as a limitation.

[2018-12-31 20:40] chrisweis opened #552 "Activity types missing"
Hello, the following Activity Types are missing from this otherwise very helpful document: MGPP MGPE MDGR MGTD MGCC MDSR MGGS MGEE MGOC MGGC MGGS MGEA MGEQ

Would be great if they can be documented here, since they don't seem to be documented anywhere else. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f41ca

[2018-12-31 21:32] DieselAnalytics commented on #299
I am confused because this is still opened but it is listed in the limitation section. Should this be closed or are R scripts available in the on-premises data gateway now?

[2019-01-02 08:43] salexu commented on #385
This content pack has been deprecated since it relies on Table auditing feature, which has also been deprecated and replaced by Blob auditing. Please see this page for Power BI template that works with Blob auditing:
https://blogs.msdn.microsoft.com/azuresqldbsupport/2017/05/26/sql-azure-blob-auditing-basic-power-bi-dashboard/

[2019-01-03 06:11] jayendranarumugam commented on #551
+1 I've the same confusion, where I posted my question [here](https://social.msdn.microsoft.com/Forums/en-US/8fbe4a13-6813-456a-a6a8-83eca060e2c9/why-powerbiembedded-app-owns-data-using-azure-native-app-registration-?forum=WindowsAzureAD)

[2019-01-03 10:53] markingmyname commented on #545
@gregra81 We plan to have more samples in other languages in the next few months.  However, there is not an exact ETA.