[2019-03-01 22:39] #606 closed

[2019-03-01 22:42] markingmyname commented on #614
@cfharp I apologize for the delayed response.

Please visit - https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers#load-an-item-using-javascript - for information.

Hope this helps.

Thank you.

[2019-03-01 22:48] markingmyname commented on #624
Hi @nicolaslledo,

Sorry for the delayed response.

[2019-03-01 22:48] markingmyname commented on #624
Good eye, nicolaslledo!

Also, did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into the publishing queue.

For this in

[2019-03-01 22:49] #624 closed

[2019-03-01 22:50] markingmyname commented on #633
@dilanarandara, sorry for the delayed response.

[2019-03-01 22:51] markingmyname commented on #633
@dilanarandara , hope this helps.

https://github.com/Microsoft/PowerBI-Developer-Samples

Thank you.

[2019-03-01 22:51] #633 closed

[2019-03-01 22:54] markingmyname commented on #637
@LisandroSu , sorry for the delayed response.

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2019-03-01 22:57] markingmyname commented on #671
@SteveWinward, thanks for bringing this to our attention.

I will investigate where is the best place for this information.

Thank you.

[2019-03-01 23:07] markingmyname commented on #673
@Oddjobe, sorry for the delayed response.

The article has been updated and the changes should go live early next week.

Also, note this article will soon be deprecated as there is another article similar to this with more information.

https://docs.microsoft.com/en-us/power-bi/developer/register-app

[2019-03-01 23:07] markingmyname commented on #673
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-01 23:07] #673 closed

[2019-03-01 23:09] markingmyname commented on #674
@otravers, sorry for the delayed response.

Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-01 23:33] markingmyname commented on #844
Thanks for your comment, @Saltzmea.

Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com

[2019-03-01 23:33] markingmyname commented on #844
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-01 23:33] #844 closed

[2019-03-02 10:21] NielsNauwynck commented on #797
I had the same problem as @bcrosnier where i received "Parameter userDetails.PrincipalType is missing or invalid" while trying to add the service principal as an admin to an existing workspace. Solved it by creating a new workspace using the preview function instead of old fashioned way ( looks like it's added to the documentation now that you need a new workspace created with the preview, or it m

[2019-03-02 16:33] mgblythe commented on #797
Thanks @NielsNauwynck -- appreciate you sharing what you did to get this working.

[2019-03-04 07:55] dilanarandara commented on #633
@mihart @markingmyname
Thank you very much. This is what I needed.

[2019-03-04 14:27] VinitashokPatil opened #845 "How and Where security updates are delivered for previous releases ?"
Referring to documentation on this page, requesting to confirm understanding on
a) where to look for the security updates and download them for PBIRS.
b) Does the 'change log' list all the security updates that have been released so far ? there are not any listed since beginning of 2018.
c) Are there no security updates ?
d) or are they clubbed into the updates ?
e) Also is there a more detailed b

[2019-03-04 14:34] j-staab opened #846 "Python scripts causing Failed Scheduled Refresh"
It was really great being able to integrate python scripts directly into my latest PBI report with PBI desktop.  BUT I discovered when I published the report, I get a Failed Scheduled Refresh error because Python is a Preview Feature -- which means it doesn't work on Power BI services ( see  https://community.powerbi.com/t5/Service/Failed-Scheduled-Refresh-Credentials-are-required-to-connect-to/td

[2019-03-04 16:07] markingmyname commented on #637
@LisandroSu, Changes will be applied to the article by the end of the week.

Thank you for the feedback and good eye.

[2019-03-04 16:08] markingmyname commented on #637
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 16:08] #637 closed

[2019-03-04 16:47] markingmyname commented on #672
@kumbol, thank you for the feedback.

@eligr, Thank you for the update.

[2019-03-04 16:48] markingmyname commented on #672
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 16:50] markingmyname commented on #797
@NielsNauwynck, thank you for your reply.

That is correct, Service Principal only works with workspaces v2.

@bcrosnier, @SenthuranSivananthan, and @aivsim, does this help or further assistance is needed?

[2019-03-04 16:52] markingmyname commented on #826
@SenthuranSivananthan, thank you for your feedback.

@skanthb, thank you for the response.

@SenthuranSivananthan, does @skanthb's response help or further assistance is needed?

[2019-03-04 16:54] SenthuranSivananthan commented on #826
@markingmyname I will test the option this afternoon and post back if it works for me.  I will ensure to test w/ v2 workspaces.

@skanthb thank you

[2019-03-04 16:58] markingmyname commented on #614
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 16:58] #614 closed

[2019-03-04 17:06] markingmyname commented on #671
@SteveWinward We do have this noted in the article - https://docs.microsoft.com/en-us/power-bi/report-server/compare-report-server-service.

Hope this helps.

Thank you.

[2019-03-04 17:06] markingmyname commented on #671
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 17:06] #671 closed

[2019-03-04 17:14] markingmyname commented on #826
@SenthuranSivananthan Thank you and good luck!

[2019-03-04 17:25] markingmyname commented on #674
@otravers

It is not yet available.

However, please go to the ideas page and vote to make this feature a reality.

https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/19026709-allow-streaming-datasets-in-power-bi-embedded

Thank you.

[2019-03-04 17:25] markingmyname commented on #674
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 17:28] markingmyname commented on #845
@VinitashokPatil

Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-04 18:17] jford369 commented on #811
The issue for me was that the storage mode was mixed, has to be an entirely import data model to work. Some indication of that in the error message itself or on this page would have saved me some time though.

[2019-03-04 20:22] SenthuranSivananthan commented on #826
@markingmyname success!

My payload ended up being:

[code]

[2019-03-04 22:59] #826 closed

[2019-03-05 07:26] mshenhav commented on #657
We are looking into this. Thank  you your report.

[2019-03-05 08:17] laandermsft opened #848 "The title in the left menu says SAP BW connector is Preview"
I believe the SAP BW connecter has been GA for a while now, please update the title in the left menu by removing (Preview). The title of the document itself does not include (Preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ffc50e-bb57-9a79-ab89-2cbd9ca1e335
* Version Independent ID: c0a48358-4144-6d9f-f4c0-b2

[2019-03-05 09:27] markingmyname commented on #674
@otravers,

[Streaming datasets](https://docs.microsoft.com/en-us/power-bi/service-real-time-streaming) are supported in PBIE similarly to how they’re supported in Power BI service.

If the user builds a dashboard with real-time tiles then they’ll get updated immediately in embedded mode as well.

Hope this helps.

Thank you.

[2019-03-05 09:28] markingmyname commented on #674
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 09:28] #674 closed

[2019-03-05 11:01] ArvidBaa opened #849 "Date formats"
I must say that I am slightly confused by the date format choices in Power BI. Why is mm/dd/YYYY the standard format, in any part of the software? It is an American date format, that most other people ar unfamiliar with. It is both ambiguous compared to the widely used dd/mm/YYYY date format, but most importantly, it doesn't follow international standard.

The International Organization for Standa

[2019-03-05 17:17] markingmyname commented on #605
Thanks for your comment, @mganeshphani.  This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-05 17:18] markingmyname commented on #605
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 17:18] #605 closed

[2019-03-05 18:54] markingmyname commented on #774
@AnirudhKishan This has been addressed.  The update should be merged by the end of the end of te week.

Thank you for the feedback.

[2019-03-05 18:54] markingmyname commented on #774
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 18:54] #774 closed

[2019-03-05 19:01] #252 closed

[2019-03-05 19:01] kfile commented on #252
No further comment so am closing the issue.

[2019-03-05 22:38] otravers commented on #674
Thank you @markingmyname, wouldn't it make sense to add your statement to the embedded faq?

[2019-03-05 22:38] arthiriyer commented on #445
@DeanGross Yes, office365 groups can be added. The only known issue is that we cannot add security groups which are not email enabled.

@mgblythe FYI

[2019-03-06 00:42] arthiriyer commented on #479
@cbailiss Thanks for the feedback.  For any cloud connection routed via the Gateway , you would need to make sure the gateway can access it.
@mgblythe FYI

[2019-03-06 09:32] matdriks opened #850 "export to PDF"
[Enter feedback here]

Export to PDF is also available in the Power BI Service.
But the Docs says it is only available in Power BI desktop.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267f-21d5-547b-b3d8614005fd
* Content: [Export your reports to

[2019-03-06 09:50] urspalani opened #851 "This Feature Not Working"
Hi,
For past few days we are not able to add the Dataset share via Content pack?
Is it bug or is it removed ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d12a4b-f24d-121e-e639-a99977c5eaae
* Version Independent ID: 99fbbca9-428c-47cf-452b-369a8d62df96
* Content: [Create and publish an organizational conten

[2019-03-06 12:09] adilshahzad opened #852 "PowerBI GeoMaps Integration"
Hi,
Any tutorial to integrate PowerBI Maps to a website? Would like to generate the locations from the DB and draw them on the map with exact Lat and Lang.

Kind regards,
Adil

[2019-03-06 15:08] #209 closed

[2019-03-06 15:55] madhuzode commented on #661
Hi,
Can I get an update on my query i posted a month ago?

Is the paginated report option available in Power BI government cloud?
I tried to upload my .rdl file in premium workspace in Power BI service using the steps mentioned above but i get the error message saying "This file isn't supported". Please let me know.

[2019-03-06 19:17] ellisjm74 opened #853 "Move "Once a dataflow storage location is configured, it cannot be changed" to Start of Doc"
Move the "Once a dataflow storage location is configured, it cannot be changed." bullet that is currently under Considerations and Limitations to the start of the document.  It is important information to know before starting this process and should not be left to the end.  I'd suggest just before "Prepare your Azure Data Lake Storage Gen2 for Power BI".

---
#### Document Details

⚠ *Do not edit

[2019-03-06 19:51] mihart commented on #846
Hi @j-staab
Thanks for your comment. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
The Power BI DOCS team

[2019-03-06 20:01] mihart commented on #848
Thanks for your comment, @laandermsft  This issue has been assigned to the doc author for review.

[2019-03-06 20:03] mihart commented on #849
Thanks for your comment, @ArvidBaa . This looks like product feedback | a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-03-06 20:03] #849 closed

[2019-03-06 20:04] mihart commented on #850
Assigned to author: Thanks for your comment, @matdriks . This issue has been assigned to the doc author for review.

[2019-03-07 09:55] ArvidBaa commented on #849
@mihart you're correct. My mistake.

[2019-03-07 15:38] j-staab commented on #846
Hi Michele (@mihart),
I appreciate that you got back to me. I was wondering if you could add some clarity to the documentation regarding Preview Feature(s) only being available in PBI desktop and not within PBI services.  If I would have known, likely I wouldn't have used Python in the way that I did.  Additionally, it took a lot of searching to realized that the error message I was getting from t

[2019-03-07 16:54] mimig1 commented on #305
@maggiesMSFT @mgblythe - There has been no response from the user, and Sarina has provided follow up action. Can you close this?

[2019-03-07 16:54] mimig1 commented on #341
@maggiesMSFT @mgblythe - There has been no response from the user, and Sarina has provided follow up action. Can you close this?

[2019-03-07 16:58] mimig1 commented on #620
@maggiesMSFT @mgblythe - Please close, user fixed the issue.

[2019-03-07 17:00] mimig1 commented on #393
@maggiesMSFT @mgblythe - There has been no response from the user, and Maya has provided follow up action. Can you close this?

[2019-03-07 17:17] #393 closed

[2019-03-07 17:17] #620 closed

[2019-03-07 17:17] #430 closed

[2019-03-07 17:17] #341 closed

[2019-03-07 17:17] #305 closed

[2019-03-07 21:00] jsteinha1975 opened #856 "Publishing to App Workspaces?"
Specific to leveraging a Service Principal and not Master User.  In the above it states:

"Publish to app workspaces. This process differs depending on whether you're using a master account (Power Pro license), or service principal. If you're using a master account, then you can publish your report through Power BI Desktop. Now if you're using service principal, you must use the Power BI REST APIs

[2019-03-08 04:31] dsutherlandafex opened #857 "Power BI Premium Capacity Metrics App - Failure to refresh app data"

[2019-03-08 04:34] dsutherlandafex commented on #857
Yesterday I increased our Power BI Premium Capacity from P1 to P2 and since then I have been getting an error when refreshing the data in the Capacity Metrics app.

The error (as attached) states "There weren't enough elements in the enumeration to complete the operation. Table: MemeoryMetrics"
![2019-03-08 15_30_22-power bi](https://user-images.githubusercontent.com/37163410/54007759-88b69b00-41b

[2019-03-08 09:59] Oddjobe opened #858 "Screenshots need to be updated"
Power BI service live connection has changed name to Power BI Datasets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Version Independent ID: 6abb84b5-1657-c8b1-62ef-641883c0e4b9
* Content: [Connect to datasets in the Power BI service from Power BI Desktop - Power BI](https://docs

[2019-03-08 10:39] ai-fi-pl commented on #797
does this work for anybody? I have a new type workspace with and evry try to set there service principal as an admin fails with 401 or 403, I was able to add a security group, as admin, same as set in tenant settings to enable sp authentication and containing this sp but then I tried all ways rst api powershell etc to authenticate and with even if I can login ( with Powershell) I can't do anything

[2019-03-08 11:05] SenthuranSivananthan commented on #797
@ai-fi-pl I did get it to work.  Only admin users can add others so my steps were below.  This is only because we can't add Service Principals through the UI yet.

1. Create a Native App registration and login with your own credentials to get an oauth token.

[code]

2. Once you have the access token, use it through Postman to add the Service Principal

HTTP POST https://api.powerbi.com/v1.0/myorg

[2019-03-08 11:19] dsutherlandafex commented on #857
In addition to this I am now getting this error
![2019-03-08 22_18_10-refresh failed_ power bi premium capacity metrics has failed to refresh - messag](https://user-images.githubusercontent.com/37163410/54025922-2c23a200-41f0-11e9-9f6d-d9022efd8018.png)

[2019-03-08 11:50] mamedca commented on #516
I just tried to match numbers now, it seems that most numbers where there is no date range covers 120 days or something around 4 months.

[2019-03-08 12:00] ai-fi-pl commented on #797
@SenthuranSivananthan just one thing if you use a native app then you don't have possibility to add key/password to it.
How you use it to authenticate to Power BI Service?
the workflow I wont to get is to use service principal intead of master account.

[2019-03-08 12:50] SenthuranSivananthan commented on #797
@ai-fi-pl My workflow is to use service principal too.  Master account is only being used to add the service principal to the workspace.  Once you do that, you can use the service principal to view dashboards/reports/tiles.

The code in step 1 (in my last post) is what I used.  Note this line:

[code]

[2019-03-08 13:08] ai-fi-pl commented on #797
@SenthuranSivananthan thanks for help but still I can't figure out what you use as service principal password as NAtive apps don't have it maybe you ment to create an server-side web application not a native one? Or you can tell me how you added a password to your native app so you are using a app credentials ID and key/password instead of master account.

[2019-03-08 13:18] SenthuranSivananthan commented on #797
@ai-fi-pl , you'll have to use your own email/password OR another user account that has an email address and password.  This is the master account flow and it's only so that you can add the service principal to the workspace as an Admin. This is a one time task.

Once this is done, you'll use a Web App (app registration) with app id and app secret to authenticate to PBI as the service principal

[

[2019-03-08 14:09] ai-fi-pl commented on #797
@SenthuranSivananthan it's clear for mewhat is unclearthis workflow works only wih Native type of app
so where do you get/set appSecret variable in below code from your example
var credential = new ClientCredential(appId, appSecret);

as far as I know there is no way to set password/key to native app if you know the way please share it if secret is something different also please let me know :)

[2019-03-08 15:02] ai-fi-pl commented on #797
@SenthuranSivananthan  I will write it again :) it's clear for me what you are saying but uncleart is that described workflow works only with Native type of apps and by design such apps don't have a key/password,
so where do you get/set "appSecret" variable that was defined in your code example:
<code>var credential = new ClientCredential(appId, appSecret);</code>
again, as far as I know, there is

[2019-03-08 15:05] SenthuranSivananthan commented on #797
@ai-fi-pl happy to take this offline with you to help.  Can you email me at sesivan[at]microsoft.com ?

[2019-03-08 16:20] SarinaJoan commented on #351
Hi @delormej, thanks for your suggestion. We are currently making changes to this content pack, and will update documentation shortly.

[2019-03-08 16:40] amwidi77 opened #859 "Will the ability to leverage the on-premises data gateway using the service principal be added to the solution?"
Will the ability to leverage the on-premises data gateway using the service principal be added to the solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c135bb4c-618b-478d-bce7-ac8608e3caac
* Version Independent ID: a297498b-afa2-575d-417c-0cb4696a90af
* Content: [Service principal with Power BI - Power BI](https

[2019-03-08 18:10] clarkmac opened #860 "pbix files for tutorial and "demo" don't open message says they are corrupt"
I am trying to share/show and tell with the demo files but PBI Desktop won't open saying they are corrupt.  This file location is the link from abovehttps://github.com/Microsoft/powerbi-desktop-samples/blob/master/2019/customerfeedback.pbix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc8147

[2019-03-08 18:57] clarkmac commented on #860
Please close.  Working from Github repo just fine.

[2019-03-08 19:50] LincredibleD commented on #797
@SenthuranSivananthan I tried your method and I am getting the following error response when I try to add the service principal to the workspace using Postman:

{"error":{"code":"InvalidRequest","message":"Failed to get service principal details from AAD."}}

Am I missing some configuration?
Thanks.

[2019-03-08 20:06] SenthuranSivananthan commented on #797
@LincredibleD I also saw this error and it's because I was using the wrong object id.

The correct object id to use:  Go to Web App registration -> Service Principal -> Properties -> Object ID

These are the screenshots:  https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal#how-to-get-the-service-principal-object-id

[2019-03-08 21:20] LincredibleD commented on #797
Thank you @SenthuranSivananthan. I had no idea I was using the wrong Object ID the whole time! The link and screenshot you sent helped tremendously!

[2019-03-08 22:30] markingmyname commented on #851
Thanks for your comment, @urspalani. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-08 22:39] markingmyname commented on #852
Hello, @adilshahzad, thank you for your comment. I can't tell by the title and the lack of supporting detail what exact article you are referencing. Can you please explain by 03/15? Thank you.

[2019-03-08 22:43] markingmyname commented on #853
@ellisjm74, thanks for your comment.

We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-08 22:45] markingmyname commented on #817
@pvalli, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 22:45] #817 closed

[2019-03-08 22:50] markingmyname commented on #856
Hi @jsteinha1975, thank you for the comment.

The article is explaining if you decide to use Service Principal instead of a Master Account then you have to use the New Workspaces to publish your PBI artifacts.  If you use Service Principal, you are not required to have a PBI Master Account and that is why you need to use the APIs.

Does that help answer your question?

Please let me know.

Thank y

[2019-03-08 22:53] markingmyname commented on #857
Thanks for your comment, @dsutherlandafex! Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

[2019-03-08 22:54] markingmyname commented on #857
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 22:54] #857 closed

[2019-03-08 22:55] markingmyname commented on #858
@Oddjobe, Thanks for your comment.

We’ve forwarded your feedback to the writer, who should respond to this thread.

Thanks!

[2019-03-08 22:57] markingmyname commented on #859
Thanks for your comment, @amwidi77.  Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-03-08 22:57] markingmyname commented on #859
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 22:57] #859 closed

[2019-03-08 22:59] jsteinha1975 commented on #856
Hey Mark, thanks for the reply but it isn't quite getting to my question.  I'll try and explain my question better.

I've been successful implementing the Master User/Account pattern.  When I try and implement the Service Principal pattern I've encountering a 401 error.  As I've been troubleshooting my issue I stumbled upon the wording above which says "Now if you're using service principal, you m

[2019-03-08 23:00] markingmyname commented on #860
@clarkmac, Thanks for your comment.

We’ve forwarded your feedback to the writer, who should respond to this thread.

Thanks!

[2019-03-09 19:38] davidbaxterbrowne opened #862 "In the Relationship aggregate case, column mapping is wrong"
In the Manage Aggregations dialog for Sales Agg, the GroupBy columns should not be mapped.  In the displayed example mapping ProductSubcategoryKey to Product.ProductSubcategory only works because Product is a DirectQuery table.  When you switch Product to Dual, this mapping no longer works.  Since this is Relationship mapping, the Group By columns should not be explicitly mapped.  Only the Aggrega

[2019-03-10 10:56] mb040574 opened #863 "Dual Mode"
You could also mention the Dual Mode which is available when starting out with DirectQuery for a datasource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563a1b09-bcdc-2638-d9a0-6801b44d3cb0
* Version Independent ID: dea2c705-c2f7-3f2d-798b-ee41857e0ca2
* Content: [Use DirectQuery in Power BI Desktop - Power BI](http

[2019-03-10 17:22] joninmoz opened #864 "Issues with multi-currency usage"
Transactions made in currencies that are not USD input 1:1 with USD, instead of at the exchange rate. This is a serious issue and makes the QBO connector un-usable for multi-currency situations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Version Independent ID: 678b36be-0224-af

[2019-03-11 08:02] pvalli commented on #817
@mgblythe sorry for the late reply. The only documentation I could find was [here](https://docs.microsoft.com/en-us/power-bi/publisher-for-excel):

This is correct in the sense that it can be installed on e.g. Excel 2010 but the connection did not work in our case with any instance of Office prior to 365.
@markingmyname there are no further questions in that we solved it by upgrading to O365 but I

[2019-03-11 09:07] ai-fi-pl commented on #797
@SenthuranSivananthan and @LincredibleD thanks for answers and great help but still I was able to add SP as an workspace admin but only for a native app and now I just don't get how to use it to authenticate? as by design nativeapps don't havepassword/key. Could you please help me with that?

[2019-03-11 16:26] MartinKDK opened #865 "Record operations performed when incremental refresh is run"
I and potentially others would appreciate few lines about the order of operations performed when refresh with incremental policy is run. Something like simple diagram. To discover how the incremental refresh works, I have tried to create a dataflow (DF) based on SharePoint Online List (SHPL).
Test1: added a record into SHPL &gt; refreshed DF &gt; new record appeared &gt; OK
Test2: modified the abo

[2019-03-11 20:52] LincredibleD opened #867 "Embed PowerBI using Service Principal in Java Web app"
Hi there, thank you for the great example here on how to embed PowerBI in .NET and C#. Is there an example for Java web App? Thanks!

[2019-03-12 13:12] KGMoola opened #868 "# no know issues so far"
Stop it i like it, i am enjoining this sight

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Independent ID: b89aefeb-6cc8-4874-e514-7a1428611c8c
* Content: [Getting data - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/gettingdata?tutorial-step=7#feedb

[2019-03-12 17:00] Bally-Kahlon opened #869 "Holes in B2B Collaboration and Power BI Premium"
There are several holes we're finding with B2B Collaboration and Power BI.
RLS - We're unable to find B2B users to add to RLS unless the users have redeemed their invitation.  This effectively means we have to send guest users to a blank application or dashboard through either planned or ad hoc invites and ask them to notify us when they have redeemed so we can then add them into RLS.  We ideally

[2019-03-12 17:57] jcbendernh opened #870 "Feature Request- Cosmos DB Direct Query"
Would love to see Azure Cosmos DB as a data source for Power BI Direct Query for many IoT Ingestion for more complex scenarios were Stream Analytics to Power BI does not suffice.

[2019-03-12 20:13] henriquebrisola commented on #512
Documentation hasn't been changed.
This thread should not be closed.

[2019-03-12 21:33] jt000 opened #871 ""List of supported data sources" misleading"
The list of supported data sources combines "Live/DirectQuery", however this list really only is accurate when talking about "DirectQuery". The only supported data sources for "Live" are SSAS and AAS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37efb1d4-b4bb-f035-c63b-1f8b17d4f448
* Version Independent ID: fe9f8822-

[2019-03-12 23:13] Pestilential opened #872 "Doesnt work when I place it in the Policies Key"
Wouldnt work in this key
HKEY_CURRENT_USER\SOFTWARE\Policies\Microsoft\Microsoft Power BI Desktop

however it does works in this key
HKEY_CURRENT_USER\SOFTWARE\Microsoft\Microsoft Power BI Desktop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a847d24-1a24-18c1-aa6e-2c977fa5e7cf
* Version Independent ID: 8089b020-600d

[2019-03-13 05:02] jason-ra commented on #328
This was closed but doesn't seem resolved. Is PowerBI just included in the single location-based route filter? Or is it within Dynamics 365 filter since it's part of the Power Platform? Please clarify in this article as the two links provided make no specific mention.

[2019-03-13 06:05] anukaushalsingh opened #873 "Dremio connector for online powerbi"
How can I publich PowerBI report with dremio as source to online powerbi without using Onpremise Gateway. I would like to refresh dataset without dependency on gateway, but couldn't find this connector support online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independe

[2019-03-13 10:52] ronaldvanrij opened #874 "Port listing for firewall seems to be missing https://aaddn.msauth.net"
In reference to https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem#ports.
When registering the On premises data gateway I attempt to login using the wizard, a windows opens and I get the following (Javascript) error: Failed to load external resource ['https://aadcdn.msauth.net/.......']. This suggests this domain/IP also needs to be included. Please confirm.

After whitelisting above

[2019-03-13 11:15] greatdsa opened #875 "Data Source support"
Can I show data from OPC-UA server directly on PowerBI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-61f0-de544ae9e959
* Content: [Data sources in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-data-sourc

[2019-03-13 13:28] jshinevar opened #876 "dotnet core example doesn't have controllers"
When I look at the repo on GitHub for the .NET Core Sample, there are no folders for models or controllers.  It's almost like they were unintentionally added to the .gitignore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea19997791

[2019-03-13 16:53] #868 closed

[2019-03-13 16:58] mihart commented on #869
Thanks for your comment, @Bally-Kahlon . This looks like product feedback , rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.Thanks for your comment,

[2019-03-13 17:00] mihart commented on #870
Thanks for your comment, @jcbendernh . This looks like product feedback rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.
Take care,
The DOCS team

[2019-03-13 17:00] #870 closed

[2019-03-13 17:02] mihart commented on #871
Thanks for your comment, @jt000 . This issue has been assigned to the doc author for review.

[2019-03-13 17:03] mihart commented on #872
Thanks for your comment, @Pestilential . This issue has been assigned to the doc author for review.

[2019-03-13 17:30] MartinKDK commented on #362
Hi, is there any update on when is this "consumer" role is going to be available?

[2019-03-13 20:23] esinger5 opened #878 "Add JethroData to list of data sources and gateway"

[2019-03-13 23:00] Shrshet opened #879 "The detailed documentation on the topic."
the documentation is really good on the new topic. It would be great if we have a direct way to add the service principal to the Workspace v2 as admin. At least a Powershell script could work as a quick alternative instead of doing another API call using the Client ID using Postman or other method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-14 03:26] EYhellojo opened #880 "Additional comma in "Adding custom formatting options" Step 2"
The comma at the end of the block of code is not required for copy pasting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f573b62f-4028-ce65-b5ae-a4115ee1bcd1
* Version Independent ID: 1cedde6a-9245-42da-c25e-83706f551c79
* Content: [Adding formatting options to a Power BI custom visual - Power BI](https://docs.microso

[2019-03-14 15:43] jeffshieldsdev commented on #62
This issue has been reported a couple times in the Power BI Community too:

- https://community.powerbi.com/t5/Desktop/Adobe-and-Power-BI-Connector/m-p/594653#M282361
- https://community.powerbi.com/t5/Desktop/Unable-to-connect-Adobe-Analytics-to-Power-BI-Desktop-blank/m-p/498941/highlight/true#M232742

[2019-03-14 15:43] klinejordan opened #881 "Group Policy to disable Custom Connectors"
Is there an option for IT admins to disable the option to enable custom connectors, similar to the option to disable custom visuals and the sign up check using group policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db81b-e91f-c1c8-7062-eb8bd5920eb9
* Version Independent ID: 63ba058e-817c-3b82-767b-5f94d8204e5b

[2019-03-14 16:35] CundyTech opened #882 "Configuring RLS using service principle."
I've successfully assigned the new service principle directly to my Power BI Workspace using the rest api, but how do I now configure my rls? I can't find any documentation to guide me through this, it seems it all pertains to the old way using a username and password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13

[2019-03-14 18:20] louayhashem opened #883 "Dashboard, Repots, and Dataset aren't generating - App page cannot show visuals"
After going through all of the steps, the data sets aren't seeming to connect and none of the items in #7 are showing up. Any ideas as to why? I've been waiting about 5 minutes and nothing is populating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Version Independent ID: 678b36

[2019-03-15 00:13] vitaly-livshits opened #884 ""Preview" label"
Please remove this label as the new modeling experience is live as of March 2019. Likewise for the remaining topics under "Concepts" folder in the TOC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4cfe8c6-b047-1277-8726-0d45d3630b8d
* Version Independent ID: b2e24404-209e-f043-b749-2e2e865a9e79
* Content: [Use Model

[2019-03-15 00:33] jordanmills opened #885 "Content seems outdated, images and descriptions are incorrect"
None of this seems to match what I see.  For example, steps 2/3 say to go to audit logs, but that's not listed.  Instead of what's in the screenshot, I see:

Usage metrics
Users
Tenant settings
Capacity settings
Embed Codes
Organization visuals
Workspaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f

[2019-03-15 05:39] scovetta opened #886 "Add add'l info about PostgreSQL prerequisite"
The document link takes the user to the NPGSQL GitHub releases page, presumably to download either the .msi or .vsix package. Installing the .msi package gives a by-default-disabled option of installing in the GAC. After installing, PowerBI continues to complain about the component not being there. Perhaps a reboot is required (why?), or maybe I downloaded the wrong package?

(The product "learn m

[2019-03-15 07:53] Mike-Honey opened #887 "Missing description of Analytics features"
There is no description of Analytics features such as Symmetry Shading and Ratio Line, ref  https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2017-feature-summary/#symmetryShading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5668e4cf-3837-c2d4-b818-14476441468b
* Version Independent ID: c95096dd-9b73-7

[2019-03-15 07:54] Mike-Honey opened #888 "Missing Symmetry Shading and Ratio Line"
There is no description of features: Symmetry Shading and Ratio Line, ref https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2017-feature-summary/#symmetryShading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95f8c96-ab3e-b94c-2de5-abcf98e71169
* Version Independent ID: 709cb0ed-717a-10bc-62d6-2e4075806

[2019-03-15 09:05] sgiovinetti opened #890 "Vague description about consumer email account limitations"
The document states: "However, those users may experience limitations beyond what users with work or school accounts encounter."

This description is very vague. What exactly are those limitations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad42c3b-e011-733d-dbdf-53944a2724a6
* Version Independent ID: 05e0f67c-585

[2019-03-15 11:15] ajiljins opened #891 "Incorrect Version Number Mentioned"
Please update the version number in the Title of this documentation, its the same since last December and confusing. Thanks

-Ajil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a76e2-8d94-5e76-bfb6-971c3b2c7c85
* Version Independent ID: f7bd2111-3bb0-fb08-0f23-a31efd407f66
* Content: [What's new in the latest Power

[2019-03-15 15:49] SteveGoodman opened #892 "Image "select-fields.png" step 6 - Shows incorrect fields selected"
The image in step 6:

&lt;img src="media/service-gateway-sql-tutorial/select-fields.png" alt="Select fields" data-linktype="relative-path" class="x-hidden-focus"&gt;

Is incorrect, it is showing Category and sales selected, however the text and later images say, Product and Sales.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-03-15 17:04] SteveGoodman opened #893 "Missing step "Install a gateway for Power BI""
I think there should be a step before "Add SQL Server as a gateway data source" or at least a link to Install a gateway for Power BI (https://docs.microsoft.com/en-us/power-bi/service-gateway-install) - it wasn't clear how I added a gateway.

Also when you refresh the data set of the report, I had to select the Data source.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-15 23:40] melzoghbi opened #894 "The asp.net core sample doesn't work"
Hi, I downloaded the sample asp.net core application and it doesn't work, specially the login and the redirect doesn't redirect to the home page as set in the app settings or AAD app settings. I am not able to submit an issue in the GitHub repo either!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505b774c-e4e2-78b0-

[2019-03-16 15:28] BigDataenthu opened #896 "Read-only members of a workspace cannot connect to datasets and How RLS can apply ?"
I can see two contradicting statement , Please clarify
1) Read-only members of a workspace cannot connect to datasets  - ok
2) You have mentioned RLS will be applied - as per https://docs.microsoft.com/en-us/power-bi/service-admin-rls   -&gt;  members have edit permissions, the RLS roles will not be applied to them. Users will be able to see all of the data.

---
#### Document Details

⚠ *Do not e

[2019-03-16 18:36] mansfjc opened #897 "Visualization Filters and Field Panes Gone!"
The visualization filters and field panes suddenly disappeared this week. Where did they go and how do you get them back?? We used this Q&A feature to build custom dashboards for end users, but now you can't pick or customize your visualizations or select specific fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-17 11:17] crisher0219 opened #898 "Can I use this in an Employee Use Case, also?"
Instead of using the JavaScript API to persist filters, can I just use logic to change the URL and its parameters that I have embedded in the iFrame? In addition, if I go that route, will the user be able to see that I have applied a filter context and could they remove that filter context?

Use Case is... Each manufacturer can only see the search data on their products embedded within the Custome

[2019-03-17 11:18] crisher0219 commented on #898
Sorry, the subject should be "Embedded Use Case". Stupid auto-correct.

[2019-03-17 11:38] juiko commented on #803
I'm still getting this same issue on the March release of PowerBI Desktop. The data set itself is not the issue, as the visualisation works fine when loaded to PowerBI Service.

[2019-03-17 22:29] maggiesMSFT commented on #657
Thanks for reporting this, @vitaly-livshits! We've fixed the app as a result of your report.

[2019-03-17 22:29] #657 closed

[2019-03-18 11:00] AzoricoTC commented on #279
I second this issue. Still unclear whether a source such as Azure PostgresDB requires a gateway or not and, if it does not, how to configure it.

[2019-03-18 13:41] sinaakhtar opened #899 "Streaming or PushStreaming modes not supported"
When I try to create a dataset using the API with "defaultMode":"PushStreaming" I receive a 400 response with the following message:
{
    "error": {
        "code": "InvalidRequest",
        "message": "This dataset or endpoint does not support column properties other than name and dataType."
    }
}

The only defaultMode that works is Push. I do not know understand why the documentation lists th

[2019-03-18 14:58] kingadobe commented on #62
The blank grey window is supposed to be the one-time authorization step. If it's not appearing in the Power BI Desktop workflow you can try performing the authorization directly from the browser.

1. In a separate browser navigate to this [link](https://marketing.adobe.com/authorize?display=popup&client_id=506b6724cb-adobe-analytics-connector-pbi-desktop&redirect_uri=https%3a%2f%2foauth.powerbi.co

[2019-03-18 15:02] markingmyname commented on #873
@anukaushalsingh Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:05] markingmyname commented on #874
@ronaldvanrij  Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:08] markingmyname commented on #875
Thanks for your comment, @greatdsa. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-03-18 15:08] markingmyname commented on #875
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 15:08] #875 closed

[2019-03-18 15:11] markingmyname commented on #876
@jshinevar Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2019-03-18 15:15] markingmyname commented on #878
@esinger5 There is not enough information here to address your feedback.  Please provide the article URL and the title of the article.  Thank you.

[2019-03-18 15:17] markingmyname commented on #879
@v-shshet Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2019-03-18 15:19] markingmyname commented on #880
@EYhellojo Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:22] markingmyname commented on #882
@CundyTech It's still in preview, but please review this article - https://docs.microsoft.com/en-us/power-bi/developer/embedded-row-level-security#on-premises-data-gateway-with-service-principal-preview.

Hope this helps.

Thank you.

[2019-03-18 15:24] markingmyname commented on #883
@louayhashem Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product
 Feedback" at the bottom of the DOCS page. If you have any feedback related to the documentation, please feel free to log in through this channel.

We truly appreciate your contribution to our articles.

[2019-03-18 15:25] markingmyname commented on #883
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 15:27] markingmyname commented on #884
@vitaly-livshits Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:28] markingmyname commented on #885
@jordanmills Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:30] markingmyname commented on #886
@scovetta Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 15:56] CundyTech commented on #882
Thanks @markingmyname. How does this work with Azure Analysis Services as there is no gateway to configure this permission? We've tried using the identity blob, but this comes back as not supported.

[2019-03-18 16:01] markingmyname commented on #888
@Mike-Honey  Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 16:02] markingmyname commented on #890
@sgiovinetti Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 16:04] markingmyname commented on #891
@ajiljins Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 16:05] markingmyname commented on #892
@SteveGoodman Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 16:06] markingmyname commented on #893
@SteveGoodman Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-18 16:07] markingmyname commented on #894
@melzoghbi Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-18 16:09] markingmyname commented on #896
@BigDataenthu Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-18 16:09] JimDionisio opened #900 "Service Requests"
I notice that the app does not include access to ServiceNow Service Requests.  While we use Open Incidents, We start the process as a service request.  Is it possible to add access to this data as well?

Thank you,

[2019-03-18 16:11] markingmyname commented on #897
@mansfjc Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page. If you have any feedback related to the documentation, please feel free to log in through this channel. We truly appreciate your contribution to our articles.

[2019-03-18 16:12] markingmyname commented on #897
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 16:12] #897 closed

[2019-03-18 16:21] markingmyname commented on #898
@crisher0219 Thanks for your comment! Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

[2019-03-18 16:23] markingmyname commented on #899
@sinaakhtar Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-18 16:51] mzelich opened #901 "Export Data"
Using this feature I can only export data from a visualization in .csv format. Is there an option to export the data as .xlsx?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197c1f9-ff31-f86c-faf3-ab89e4ab9573
* Version Independent ID: f30cdf40-43c4-e0c3-4941-a02f5bb28fc1
* Content: [Embed a report in a secure portal

[2019-03-18 23:20] lynchmob98 opened #902 "What if ..."
The 2nd Step #3 above says ... Verify your credentials, then select Connect ... what if I do that and it says "We couldn't authenticate with the credentials provided"?  These are credentials that work when I use them from SSMS ... so ... the problem isn't the credentials.  It would help here to have more/better examples at this step ...

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-19 07:17] ignatvilesov commented on #483
I guess it is possible to embed a PBIRS report into a web application by using an iframe. Have a look at t[his short ](https://docs.microsoft.com/en-us/power-bi/report-server/quickstart-embed) guide.

[2019-03-19 12:31] Vulpette commented on #62
KingAdobe, thank you for helping out on this.

[2019-03-20 07:30] Mike-Honey opened #903 "Explain background, foreground, and tableAccent"
There is some (duplicated) text supposedly describing: "background, foreground, and tableAccent". I find that very confusing and incomplete, e.g. read it and tell me what "tableAccent" does? Also foreground seems to drive table column header and total background colors for some table styles (e.g. alternating rows) - not mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-20 09:56] bcrosnier commented on #797
Okay, I managed to get it right. Thank you all for your answers.

My issue was that I was, indeed, using a non-preview Workspace. Migration is not possible currently, [as documented here](https://docs.microsoft.com/en-us/power-bi/service-create-the-new-workspaces), so I had to make a new one.

Once you have a preview workspace, you can grant the service principal using the following piece of Power

[2019-03-20 11:00] Anmolgan81 opened #904 "How does Oracle connector works in case of direct query?"
I want to use Direct Query mode in order to query the Oracle database, do we still need to install On-Premise data gateway in the Oracle database in order to directly connect the powerbi.com to the On-premise data gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3332c2-1973-ba6d-8b13-20185f3178a8
* Version Ind

[2019-03-20 16:42] Zorgonaute84 commented on #850
Great feature to print from PowerBI. But there is 2 issues. It's impossible to print multiple pages with a selection. (ex : select a specific month). Only the current page is printed with the selection available.
2nd issue, it's impossible to print one page, the report is generated with all pages.

[2019-03-20 19:33] Minewiskan commented on #662
@chrisweis - Thanks for your suggestion. AI features were not yet available on all PBI platforms when you initially made this GitIssue. Preview AI Cognitive Features were announced on March 11th. Updates to docs were made soon after to coincide.
#please-close

[2019-03-20 19:38] #662 closed

[2019-03-21 02:29] jaker12 opened #905 "Refresh Automatically?"
Can you please offer some clarification on if your get data source is web if the Power BI file will refresh automatically when published to the service or if a schedule refresh via a Gateway needs to occur or if this is not possible at all. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e2c100-ccb2-a69b-cd7c-

[2019-03-21 07:31] lambiek1963 opened #906 "image is not correct"
The image below this text is not correct:
You can also change, or transform, those columns from text to header by using the Transform ribbon. Here’s the Transform ribbon, with an arrow pointing toward the Data Type button, which lets you transform the current data type to another.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-03-21 11:12] odeddror commented on #311
Thanks

[2019-03-21 15:50] u02cm62 commented on #882
you use custom data and then use the guid service principal for username.  You don't need password.

[2019-03-21 15:51] u02cm62 commented on #879
I was told you can add service principal if you add the service principal to a security group.  then add the security group as you can add security groups to workspaces.

[2019-03-21 15:52] u02cm62 commented on #879
You can see they mention this in some other docs as well as on the Power BI Admin portal to add to a security group as you have to enable service principals to use the Power BI API's in Power BI Admin portal anyway.

[2019-03-21 15:57] mihart commented on #902
Thanks for your comment, @lynchmob98 . This issue has been assigned to the doc author for review.

[2019-03-21 15:58] u02cm62 commented on #797
We found ways to get native apps to have a client secret, but it was a powershell completely seperate from this.  However in all the directions, they are saying you have to use the web/ api app, so this means re-registering your web app from native to web/api app type and then it gives you a client secret.  They don't tell you this as this was something that was absolutely needed for PBIE before V

[2019-03-21 15:59] u02cm62 commented on #797
Adding your service principal to a security group was the way to get around all the hassles as well with workspaces and in Power BI Admin portal to add it to use the power bi apis.

[2019-03-21 16:42] mihart commented on #901
Thanks for your comment, @mzelich . This looks like a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-03-21 16:43] mihart commented on #900
Hi @JimDionisio,
Can you provide more context? Which "app" are you referring to?
Thanks,
The DOCS team

[2019-03-21 16:46] mihart commented on #900
Hi @JimDionisio ,
Sorry, hit RETURN too quickly.  Please submit a new ticket with more context.  Are you referring to a particular doc article? If this is not feedback about a document, you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-03-21 16:46] #900 closed

[2019-03-22 00:11] maggiesMSFT commented on #906
Hi, @lambiek1963 -- thanks for your comment! I've assigned it to the author to respond.

[2019-03-22 00:13] maggiesMSFT commented on #905
Hi, @jaker12 -- Thanks for your question. I've referred it to the author for a response. In the meantime, I suggest asking in the Power BI Community, https://community.powerbi.com/.

[2019-03-22 00:26] maggiesMSFT commented on #904
Hi, @Anmolgan81 -- Thanks for your question. I've referred it to the author for a response. In the meantime, I suggest asking in the Power BI Community, https://community.powerbi.com/.

[2019-03-22 00:27] maggiesMSFT commented on #903
Hi, @Mike-Honey -- Thanks for your question. I've referred it to the author for a response. In the meantime, I suggest asking in the Power BI Community, https://community.powerbi.com/.

[2019-03-22 03:22] mattschoen commented on #882
I am having issues with this as well. We are using the service principle and I am getting the following error with a Live Connection to Azure Analysis Services: "requries effective identity username to be identical to the caller's principal name"

[2019-03-22 09:31] renaudma opened #907 "Less colors than the palette: previous colors kept"
Hello,

contrary to what is said
"dataColors: The list of hex code color codes to use for data in Power BI Desktop visuals. The list can have as many or as few colors as you want."

inputting less than the number of colors on the color palette (example 5 colors in the Json file instead of 8) will only change 5 colors out of the 8. The 3 remaining will be the one from the previous imported / defaul

[2019-03-22 10:23] chizhova opened #908 "demo PBIX file is corrupted"
"Unable to open document - is corrupt or an invalid report file"
PBI Desktop: Feedback Type:
Frown (Error)

Timestamp:
2019-03-22T10:22:16.1350351Z

Local Time:
2019-03-22T13:22:16.1350351+03:00

Session ID:
a58d35f8-eb9f-4574-a095-b9eb092a686a

Release:
April 2019

Product Version:
2.68.5432.241 (19.04) (x64)

OS Version:
Microsoft Windows NT 10.0.17763.0 (x64 en-US)

CLR Version:
4.7 or later [R

[2019-03-22 14:33] mgblythe commented on #846
Thanks @j-staab, I've reached out to the doc owner to make an update.

[2019-03-22 14:34] mgblythe commented on #334
Assigning to @markingmyname to address.

[2019-03-22 14:38] mgblythe commented on #91
@arthiriyer - we'll look at this now we're doing a gateway docs update.

[2019-03-22 14:39] mgblythe commented on #187
@arthiriyer - I'll add this as part of the gateways doc update.

[2019-03-22 14:41] mgblythe commented on #238
Assigning to @markingmyname to address

[2019-03-22 14:44] mgblythe commented on #254
@arthiriyer - will clarify this when we do gateway docs update.

[2019-03-22 14:47] mgblythe commented on #345
@arthiriyer as FYI, will check this as part of the gateways doc update.

[2019-03-22 14:48] mgblythe commented on #438
@arthiriyer as FYI, will address in gateways docs update

[2019-03-22 14:54] mgblythe commented on #279
@arthiriyer - will address this as part of gateway docs update

[2019-03-22 14:55] mgblythe commented on #902
@arthiriyer - will include as part of gateways doc update

[2019-03-22 14:56] mgblythe commented on #893
@arthiriyer - will add as part of gateway docs update

[2019-03-22 14:57] mgblythe commented on #892
@arthiriyer - will add as part of gateway docs update

[2019-03-22 14:58] mgblythe commented on #874
@arthiriyer - will address as part of gateway docs update

[2019-03-22 15:00] mgblythe commented on #828
@arthiriyer - will address as part of the gateway docs update

[2019-03-22 16:25] hooveray5 opened #909 "Confusing directions"
Directions say to use format (https://&lt;tenantname&gt;.sharepoint.com/sites/pwa/_api/Projectdata)

But the picture contradicts this by displaying (https://contoso.sharepoint.com/sites/pwa/_api/default.aspx) which did not work for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7de3f7-737b-cbbd-0911-e5535b198795

[2019-03-22 18:06] mattschoen opened #910 "Error Using RLS with Service Principal (embedded) and Azure Analysis Services Live Connection"
I cannot get an embedded report to run using a Service Principal and a Azure Analysis Services Live Connection. I am getting the following error:

"Creating embed token for accessing dataset &lt;DATASET GUIDE&gt; requries effective identity username to be identical to the caller's principal name"

The JSON package is as follows:
{
  "accessLevel": "view",
  "identities": [
    {
      "username":

[2019-03-22 18:17] mgblythe commented on #846
Assigning to @otarb

[2019-03-22 18:20] mgblythe commented on #335
This was fixed last year but wasn't closed.

[2019-03-22 18:20] #335 closed

[2019-03-22 18:23] mgblythe commented on #531
@hifihedgehog - closing this issue. Feel free to reopen if this is a doc request.

You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-03-22 18:23] #531 closed

[2019-03-22 18:38] mgblythe commented on #885
@jordanmills - the screen is slightly out of date (Manage users should be Users) but mostly I just truncated the list on the left. Do you have the perms required to view audit logs: https://docs.microsoft.com/en-us/power-bi/service-admin-auditing#requirements?

[2019-03-22 18:54] u02cm62 commented on #882
// For app only authentication, we need the specific tenant id in the authority url

                var tenantSpecificURL = AuthorityUrl.Replace("common", Tenant);

                var authenticationContext = new AuthenticationContext(tenantSpecificURL);

                // Authentication using app credentials

                var credential = new ClientCredential(ApplicationId, ApplicationSecret

[2019-03-22 21:11] markingmyname commented on #907
Hello, @renaudma,  thank you for your comment. I can't tell by the title and the lack of supporting detail what exact article you are referencing. Can you please explain by 03/29? Thank you.

[2019-03-22 21:12] markingmyname commented on #908
@chizhova, thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-22 21:14] markingmyname commented on #909
@hooveray5, thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-03-22 21:15] markingmyname commented on #910
@mattschoen

Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-22 22:59] v-shshet commented on #882
Hi Matt,
In username Tab you need to have the Service principal Object ID instead of Application ID. As discussed offline it is working as expected now. Let us know if you see any issues.

[2019-03-22 23:07] mattschoen commented on #882
@Shrshet that worked... I used the Service Principal ID based on those instructions as the effective username.

[2019-03-24 09:35] KevinCallinswood opened #912 "Error: "Something went wrong" when saving Dataflow to ADSL gen 2 after following the article instructions"
Feedback:  In the section "Grant Power BI permissions to the file system" there is no mention of unchecking the "Default" Owner privileges on the root "powerbi" folder.  This will prevent the first save of a Dataflow to your v2 Workspace from giving the error "Something went wrong".

In addition, it wasn't clear to me that this feature is only available to v2 Workspaces.  I would recommend making

[2019-03-24 22:53] A141135 opened #913 "Azure Consumption Insights connector: No cost data retrieved"
I've been using this connector for some time and it's generally great.

However as of 22-March, all cost data in the Detail Charges and PriceSheets tables is showing as $0.

Can this please be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Independent ID: df5a9b26-4

[2019-03-25 07:47] v-kerwan opened #914 "Service Principle currently not support Admin Right"
Get confirmation from PG, Service Principle currently not support Admin Right, could you please update the document under consideration and limitation

"Power BI admin rights are required to enable service principal in developer settings within the Power BI admin portal."  this is incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-03-25 09:47] matt-black-mac commented on #913
I too have been using the connector for a while without issue - until last week.  Now when I refresh the Detail Charges data going back to July 2018 (when our enrollment started) some months show the costs whilst others report £0.

[2019-03-25 10:04] MPEV commented on #913
I have the same with zero cost (if only) since the beginning of March.

[2019-03-25 10:21] vish4luffy opened #915 "Dataset not available"
Hi,

This is Vish here. So I just wanted to point out that the absence of the dataset that the trainer is using is making things hard for me to understand because I'm not able to replicate and practice stuff to better understand concepts. Or is the dataset provided somewhere here? if yes, do point the location of the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-25 14:08] tom-ditlev commented on #913
I have the exact same problem. Saw it first on 19-March. Doing two or three on demand refreshes "fixed" it but now it broke again. I have done one on demand refresh, but that did not help. I have several different datasets against Azure Consumption Insights and they are all broken.

Wondering if this is the right place to report this issue...?

[2019-03-25 14:50] DavidTHunt commented on #913
similar issues here. Is there a known cause or workaround?  Also the consumption insights app you download from marketplace has the same issues, not indicative of all months, it appears to be select months that costs are @0.   201810, 201812, 201901, 201903   Costs are still populated for other months.

[2019-03-25 14:55] pbeckman01 commented on #913
I have the same problem but I'm missing a different set of months.  In my case all data after November 2018 is missing.

This is a serious issue for us as we track all Azure spend using PowerBI reports.  The monthly and quarterly reports for the exec team are all based on Azure Consumption Insights.

[2019-03-25 16:41] sonalimanohar commented on #913
Someone just mentioned to me that we now have to use a new connector called "Azure Cost Management" instead of Azure Consumption Insights. Is that true? I do not find references of this anywhere except this article that mentions that this connector is coming up: https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-march-2019-feature-summary/. Has anyone verified this?
Note that I do not even

[2019-03-25 20:43] nstraw commented on #808
As pointed by @mpoeckl, this statement is not true : "When selecting DirectQuery for a source, it will then only be possible to use data from that single source (such as a single SQL Server database)"

Direct link : https://docs.microsoft.com/en-us/power-bi/desktop-directquery-about#limited-to-a-single-source

[2019-03-25 21:52] acumencds opened #920 "Issue with Sub Account Types"
Sorry looks like wrong place:)

[2019-03-25 21:57] acumencds commented on #812
@bradfarley do you know when this will be out as I have an Issue: an number of Account Sub Types are not in the data set. Namely; expenses -‘Commissions and fees’ and ‘Staff costs’, Income – ‘Revenue - General’. There may be more but these are the ones I have found so far that give incorrect reports for our data.

[2019-03-26 00:15] sqlchick opened #921 "Step 5 says Power BI Premium & it should say Power Query Online"
Step 5 says to copy the Object ID for Power BI Premium when it really should say Power Query Online. (Note that the accompanying reference in step 8 is correct though.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Co

[2019-03-26 11:09] mparowski commented on #602
I certainly hope that usage metrics will be incorporated before forced migration out of classic workspaces.

[2019-03-26 11:18] uncommon33 opened #922 "Error recognizing xls files with passwords removed during import."
I am having a problem with Power BI recognizing workbooks that had passwords, and that may still have external links to other data sources.  I have a folder of 187 .xls files. All of them at one point had spreadsheetst that were password protected.  All of the password protection has been removed.  Yet when I set up an import based on the folder, Power BI and Power Query will get through the first

[2019-03-26 15:36] MadDenker opened #923 "Don't have a destination"
I do not see a destination to publish to.  How do I create such a workspace?  Can you link to that information here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5362a0-2148-3de0-fd60-a3fe5d06fe91
* Version Independent ID: 1967384e-308d-cf6f-ad5f-cde6e5b741b3
* Content: [Publish from Power BI Desktop - Power BI](ht

[2019-03-26 15:37] mikeblakeuk opened #924 "System Metrics green tick"
If we have Azure Embedded A1 Capacity and one subscription has a green tick for "System Metrics" and the other has a red cross, what are we missing?
Could you add documentation about each red cross and how to make it green?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3451b495-3af0-170e-a93c-d7360bf6b8cd
* Ver

[2019-03-26 15:39] mikeblakeuk opened #925 "Version History"
Please provide a link to the version history.
I'm using 1.10.1.4 yet the latest in this document is 1.10.1.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3451b495-3af0-170e-a93c-d7360bf6b8cd
* Version Independent ID: 5e964973-a536-b049-9eb9-5120be3f75e8
* Content: [Monitor Power BI Premium capacities with the Premium

[2019-03-27 00:03] justinreading opened #928 "Availability of Visual in Australia"
Can anyone let us know the release schedule for this visual? Specifically, when will this be available in Australia?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Po

[2019-03-27 00:08] justinreading commented on #928
Actually, never-mind latest PBI Desktop update wasn't applied.....all good now.

[2019-03-27 01:54] maggiesMSFT commented on #928
Good to hear -- thanks for the update, @justinreading! Closing this now.

[2019-03-27 01:54] #928 closed

[2019-03-27 13:53] dunganhle opened #929 "refresh from Power BI service doesnt work"
Hi,

When trying to refresh my report that uses "Web from example" like source, the Power BI Service doesnt want it.
Below is what I get :

Data source error: | The import Html.Table matches no exports. Did you miss a module reference?. The exception was raised by the IDataReader interface. Table: xxx
-- | --
Cluster URI: | WABI-NORTH-EUROPE-redirect.analysis.windows.net
Activity ID: | 1efea768-e7

[2019-03-27 17:09] #920 closed

[2019-03-27 17:09] maggiesMSFT commented on #920
Thanks for letting us know, @acumencds! Closing the issue now.

[2019-03-27 17:15] maggiesMSFT commented on #867
Hi, @LincredibleD -- thanks for your comment! Are you referring to this article?
https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal
I can't tell from your comment.

[2019-03-27 20:23] mgblythe commented on #852
Assigning to @mihart to see if this fits in with any upcoming viz work.

[2019-03-27 20:30] mgblythe commented on #860
Thanks @clarkmac, closing now.

[2019-03-27 20:30] #860 closed

[2019-03-27 20:31] mgblythe commented on #862
Thanks for your comment, @davidbaxterbrowne. This issue has been assigned to the doc author for review.

[2019-03-27 20:32] mgblythe commented on #863
Thanks for your comment, @mb040574. This issue has been assigned to the doc author for review.

[2019-03-27 20:34] mgblythe commented on #864
Thanks for your comment, @joninmoz. This issue has been assigned to the doc author for review.

You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-03-27 20:35] mgblythe commented on #865
Thanks for your comment, @MartinKDK. This issue has been assigned to the doc author for review.

[2019-03-27 20:37] mgblythe commented on #869
Closing b/c this is product feedback and @mihart provided links to @Bally-Kahlon.

[2019-03-27 20:37] #869 closed

[2019-03-27 20:41] mgblythe commented on #873
Hi @anukaushalsingh - I recommend asking this question in the Power BI Community, at https://community.powerbi.com.

[2019-03-27 20:45] mgblythe commented on #881
Thanks for your comment, @klinejordan. This looks like a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-03-27 20:49] mgblythe commented on #886
Thanks @scovetta, this issue is assigned to the author but in the meantime you might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-27 20:53] mgblythe commented on #929
Thanks for your comment, @dunganhle. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-27 20:53] #929 closed

[2019-03-27 20:56] #898 closed

[2019-03-27 20:59] mgblythe commented on #907
It looks like this is for https://docs.microsoft.com/en-us/power-bi/desktop-report-themes, now assigned to the author for review.

[2019-03-27 23:02] mgblythe commented on #913
Thanks for opening this, @A141135 and for the followup feedback everyone. I'll keep this open b/c this might have a doc component, but you might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-27 23:03] mgblythe commented on #912
Thanks for your comment, @KevinCallinswood. This issue has been assigned to the doc author for review.

[2019-03-27 23:04] mgblythe commented on #914
Thanks for your comment, @v-kerwan . This issue has been assigned to the doc author for review.

[2019-03-27 23:05] mgblythe commented on #915
Thanks for your comment, @vish4luffy. This issue has been assigned to the doc author for review.

[2019-03-27 23:06] mgblythe commented on #921
Thanks for your comment, @sqlchick. This issue has been assigned to the doc author for review.

[2019-03-27 23:07] mgblythe commented on #922
Thanks for your comment, @uncommon33. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-03-27 23:07] #922 closed

[2019-03-27 23:07] mgblythe commented on #923
Thanks for your comment, @MadDenker. This issue has been assigned to the doc author for review.

[2019-03-27 23:08] mgblythe commented on #924
Thanks for your comment, @mikeblakeuk. This issue has been assigned to the doc author for review.

[2019-03-27 23:09] mgblythe commented on #925
Thanks for your comment, @mikeblakeuk. This issue has been assigned to the doc author for review.

[2019-03-27 23:19] LincredibleD commented on #867
@maggiesMSFT hi Maggie, I was referring to this tutorial. It was a very good tutorial in .NET and C#. https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization

I know there is a related Java example that uses ADAL4J but instead of powerbi it was for GraphAPI.

[2019-03-27 23:29] maggiesMSFT commented on #867
Great, thanks, @LincredibleD, that helps. As it happens, @markingmyname is the writer for that one, too, so it's all good!

[2019-03-28 02:10] renaudma commented on #907
Hello,

PBI Desktop has 8 colors in a theme (+2 black & white).
When importing a json file with less than 8 colors, PBI will replace only the colors imported, while keeping previous colors (in my example, 5 colors imported, 3 left from the previous theme).
=> Ideally, for a theme, old colors should be removed. A solution could be to reduce the color palette to less than 8 colors (if that is what i

[2019-03-28 02:11] renaudma commented on #907
and yes sorry, it was linked to this article https://docs.microsoft.com/en-us/power-bi/desktop-report-themes
(I thought the article would be linked automatically when creating a new comment).

thanks for taking a look!

[2019-03-28 04:59] algattik opened #931 "How to add service principal to workspace with the Power BI service?"
The page states "Add the service principal as an admin to the new workspace you created. You can manage this task through the APIs or with the Power BI service.". How to add the service principal as an admin to the workspace with the Power BI service (rather than API)? The access management pane only supports entering named users, not service principals.

---
#### Document Details

⚠ *Do not edit

[2019-03-28 06:36] ameliator opened #932 "Those with free licenses suddenly can't connect to datasets in new workspaces"
Hello,

Is anyone else having access issues in the new workspaces?

Those with free licenses are trying to connect to datasets in a workspaces in the premium capacity. (They are trying to connect from the desktop editor)

There were able to connect with member status, but have suddenly lost access. They can see the datasets when they go to get data, but get an error saying they don't have permissi

[2019-03-28 12:28] EoinTheForge commented on #803
Same issue

[2019-03-28 12:50] chrisweis commented on #913
Hello all, I submitted a Support request and communicated with the Azure Cost Management team last Friday and this zeroes issue was resolved on Monday.  It was impacting the EA portal, ACI PBI connector and ACI PBI content pack.

[2019-03-28 13:36] manonww opened #933 "Data cardName in the enumerations in JSON file part"
In the "Enumerations in the JSON file" part the data cardName is used, while in the cardName section the data cardName is not defined. Where does the data cardName refer to and wherefore can it be used?

[2019-03-28 13:39] manonww opened #934 "Data cardName in the enumerations in JSON file part"
In the "Enumerations in the JSON file" part the data cardName is used, while in the cardName section the data cardName is not defined. Where does the data cardName refer to and wherefore can it be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c

[2019-03-28 13:39] #933 closed

[2019-03-28 14:03] otravers opened #935 "Paginated reports in Power BI Embedded"
The Embedded FAQ states that "Power BI Embedded capacity content  [...] doesn't support SSRS reports."

However the Paginated reports in Power BI FAQ states that "The paginated reports workload is available on P1 – P3 SKUs for public preview. You may also use it for test/dev scenarios with A4 – A6 SKUs."

So it looks like the Embedded FAQ needs to be updated.

---
#### Document Details

⚠ *Do not

[2019-03-28 14:54] MadDenker commented on #923
I found this like to be very helpful https://docs.microsoft.com/en-us/power-bi/service-manage-app-workspace-in-power-bi-and-office-365

[2019-03-28 17:28] CeciAc opened #936 "missing field"
@LidiaVonk commented on [Thu Mar 28 2019](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/21)

Field Senior in the calculation for "new rank" isn't available in the datasource http://www.bankrate.com/finance/retirement/best-places-retire-how-state-ranks.aspx .

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en G

[2019-03-28 17:39] CeciAc commented on #936
Hi team,
The issue seems to be about the original documentation
best

[2019-03-28 18:43] cap273 opened #937 "Are *both* PowerBI Premium *and* PowerBI Pro required?"
To create paginated reports, is my understanding correct that you need *both* (1) an app workspaces in a Power BI Premium capacity, *and* (2) a Power BI Pro license to publish a report to the PowerBI service? Documentation clarification in this regard would be highly appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-28 19:08] Minewiskan commented on #925
@mikeblakeuk - Thanks for commenting. We decided to remove the version reference in this article altogether. Often times, engineering makes an update to the app that has no visual or functional change exposed to users. In those cases, there's now coordination with the docs, and things can get out of sync really fast.
#please-close

[2019-03-28 21:01] A141135 commented on #913
Also submitted a support case and had confirmation this was resolved on Tuesday. The data has been looking good for us since then. Thanks!

[2019-03-28 21:01] #913 closed

[2019-03-28 22:17] #925 closed

[2019-03-28 22:46] tobyndockerill commented on #931
It's not super obvious but I was able to select my service principal by typing the first few letters of its name into the access management pane.

[2019-03-29 01:37] maggiesMSFT commented on #923
Hi, @MadDenker -- This article might be a better place to start: https://docs.microsoft.com/en-us/power-bi/service-create-workspaces.

[2019-03-29 01:40] maggiesMSFT commented on #937
Hi @cap273 -- thanks for your question. To publish a paginated report, yes, you need a Pro license and you need to publish to a Premium capacity. Your report readers don't need the Pro license.
Hope that helps!

[2019-03-29 01:40] #937 closed

[2019-03-29 01:43] maggiesMSFT commented on #936
Hi, @CeciAc -- thanks for reporting the question! I've assigned it to the author, who will be reviewing it.

[2019-03-29 01:44] maggiesMSFT commented on #935
Thanks for pointing out the discrepancy, @otravers! I've assigned your question to the author, who will be able to clear it up.

[2019-03-29 01:45] maggiesMSFT commented on #934
Hi, @manonww -- thanks for your question! I've assigned it to the author, who will get back to you.

[2019-03-29 01:54] maggiesMSFT commented on #932
Hi, @ameliator -- This sounds like a bug, not a doc issue. Can you try the Community site https://community.powerbi.com, and/or the Support site, https://powerbi.microsoft.com/en-us/support/?

[2019-03-29 01:54] #932 closed

[2019-03-29 01:56] maggiesMSFT commented on #931
Hi, @algattik -- thanks for your question! And thanks, @tobyndockerill, for your comment! I'm referring this to the author to see if he needs to update the article.

[2019-03-29 09:53] algattik commented on #931
Thanks a lot! I see indeed that you can add a service principal, and even a security group.
It would be great to:
- Update the article to explain this
- Update "Enter email addresses" in the UI
<img width="342" alt="image" src="https://user-images.githubusercontent.com/22099722/55224415-c768cf80-5210-11e9-8a44-b9d4b7ed1e05.png">

[2019-03-29 10:06] mikeblakeuk commented on #925
Bu the Application still has a version number (as a tile).
How do we know what has changed?

[2019-03-29 19:20] Minewiskan commented on #924
@mikeblakeuk - The red cross means the admin hasn't assigned reader roles to the app in azure portal. Once permission is granted, after the app is refreshed the cross should turn into a green checkmark. We'll try to get this documented.
#in-progress

[2019-03-29 20:24] markingmyname commented on #238
@mthierba Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-29 20:33] DeanGross opened #938 "Multiple, overlapping, inconsistent pages - please consolidate Gateway information"
Please integrate, consolidate or cross-reference all of the content about Data Gateways. There are currently page at https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/gateway-management and https://docs.microsoft.com/en-us/flow/gateway-manage. They are similar but different, since the data gateways are shared between Power BI, PowerApps and Flow, the documentation should be shared also.

[2019-03-29 20:39] markingmyname commented on #796
@dejadee Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-03-29 20:44] markingmyname commented on #797
Thank you all for the collaborative feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 20:44] #797 closed

[2019-03-29 20:57] markingmyname commented on #845
a) Where to look for the security updates and download them for PBIRS.

Response: Currently, they come with the new release of PBI RS.

b) Does the 'changelog' list all the security updates that have been released so far? There are not any listed since the beginning of 2018.

Response: The last updates were done in January of 2019

c/d) Are there no security updates, or are they clubbed into the u

[2019-03-29 21:08] markingmyname commented on #856
@jsteinha1975 I apologize for the delayed response.

To answer the direct question you asked, Service Principal will work with reports published to the Power BI service if those reports are stored in the new workspaces. Traditional workspaces (workspaces v1) do not work with service principal.

To answer the other question about do you need any parameters or settings to be set to use the APIs, the

[2019-03-29 21:14] markingmyname commented on #867
@LincredibleD Thank you for the kind words.

There is a [Javascript Git repo](https://github.com/Microsoft/powerbi-javascript/wiki) with more information, but not one for Java.

I would suggest submitting product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://communi

[2019-03-29 21:14] markingmyname commented on #867
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:14] #867 closed

[2019-03-29 21:20] markingmyname commented on #871
Thank you for your feedback, @jt000.

We combined the 2 because Live and Direct Query are similar terms for different types of data sources that both use "live" data.  That is why we included SSAS and AAS in that list.

[2019-03-29 21:20] markingmyname commented on #871
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:20] #871 closed

[2019-03-29 21:21] markingmyname commented on #876
Thanks for your comment, @jshinevar.  Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-03-29 21:24] markingmyname commented on #876
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:24] #876 closed

[2019-03-29 21:26] markingmyname commented on #879
Currently service principal does not work with the admin APIs yet.  That limitation has been added to the [service principal article](https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal#considerations-and-limitations)

[2019-03-29 21:27] markingmyname commented on #879
Thank you all for the collaboration and feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:27] #879 closed

[2019-03-29 21:29] markingmyname commented on #882
Application ID - used for authentication
SP Object ID - used for changing the use of the service principal

[2019-03-29 21:30] markingmyname commented on #882
Thank you all for the feedback and collaboration.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:30] #882 closed

[2019-03-29 21:35] markingmyname commented on #894
Thanks for your comment, @melzoghbi.  This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

However, you can also log product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page. We truly apprecia

[2019-03-29 21:35] markingmyname commented on #894
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:35] #894 closed

[2019-03-29 21:41] markingmyname commented on #899
Good catch, @sinaakhtar!

Also, @sinaakhtar,  did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into the publishing queu

[2019-03-29 21:41] markingmyname commented on #899
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:41] #899 closed

[2019-03-29 21:53] markingmyname commented on #901
@mzelich Unfortunately, there is not.

This is a good opportunity to submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-03-29 21:53] markingmyname commented on #901
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:53] #901 closed

[2019-03-29 21:55] markingmyname commented on #910
@mattschoen I see you commented in this thread as well - https://github.com/MicrosoftDocs/powerbi-docs/issues/882.  Is this a different scenario?

[2019-03-29 21:56] markingmyname commented on #910
In username Tab, you need to have the Service principal Object ID instead of Application ID. As discussed offline it is working as expected now. Let us know if you see any issues.

Application ID - used for authentication
SP Object ID - used for changing the use of the service principal

[2019-03-29 21:57] markingmyname commented on #914
@v-kerwan [Article](https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal#considerations-and-limitations) has been updated.

Thank you.

[2019-03-29 21:57] markingmyname commented on #914
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 21:57] #914 closed

[2019-03-29 21:59] markingmyname commented on #931
@algattik You are correct, you can now add a Security Group (including a service principal) or just the service principal name (application ID) to a workspace.

There is an update coming to this article planned for 2 weeks that will include this info.

Thank you.

[2019-03-29 22:00] markingmyname commented on #931
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-03-29 22:00] #931 closed

[2019-03-29 22:01] markingmyname commented on #935
@otravers, good catch!

Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2019-03-29 22:54] flowsthru opened #939 "grammar tidy up"
Hi, some of the grammar on this page needs tidied up, especially in the  'Patterns to jump start your use of the Query Editor section.'
For example,
"One easy way to overcome the problem is do decompose the operation into steps. Start by duplicating the initial columns. Then build the steps a temporary columns."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-03-29 23:13] mattschoen commented on #910
Its the same scenario...

[2019-03-30 02:38] EricChristoph commented on #98
Both this site and the theme generator mentioned seem to be missing components. For instance, how do you set the background for a table? The background card isn't mentioned, though you can see it in the Desktop.

[2019-03-30 21:15] dirtyknights commented on #519
I would like to talk to you about your Google Page Speed Insight results.  Please contact me at miknight@dirtyknights.com

[2019-04-01 20:35] sgoley commented on #594
@ChipDale66

According to this section of the documentation:

[Using Composite Models](https://docs.microsoft.com/en-us/power-bi/desktop-composite-models#using-composite-models)

This was a published feature as of Oct 2018, however the rollout did have a few issues:

[Publishing Composite Model](https://community.powerbi.com/t5/Desktop/Publishing-Composite-Model/td-p/482858)

That said, I haven't

[2019-04-02 04:01] mihart commented on #790
Thank you @aabundez .  I am in the process of updating that article to reflect the new formatting options.

[2019-04-02 04:01] #790 closed

[2019-04-02 04:05] #832 closed

[2019-04-02 04:07] mihart commented on #852
Thanks for your comment, @adilshahzad . This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-04-02 04:07] #852 closed

[2019-04-02 04:10] mihart commented on #887
Hi @Mike-Honey
Thank you for the feedback.  I'll update the scatter article with the symmetry shading improvement as soon as possible (likely, end of April).
Thanks again,
Michele

[2019-04-02 04:10] #887 closed

[2019-04-02 04:11] #888 closed

[2019-04-02 04:13] mihart commented on #908
Thanks for your comment, @chizhova . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-02 04:13] #908 closed

[2019-04-02 04:15] mihart commented on #387
Hi @v-nisvoo ,
I've updated the article with this information. Thanks for catching this!
The DOCS team

[2019-04-02 04:15] #387 closed

[2019-04-02 04:21] mihart commented on #939
Thanks for your comment, @flowsthru . This issue has been assigned to the doc author for review.

[2019-04-02 05:23] Mike-Honey opened #941 "Missing content - other Formatting and Properties settings"
Either this page should be expanded or new pages added to this section to cover all the other settings on the Modeling ribbon, in the Formatting and Properties sections.  This would include Data Type, Format, Default Summarization.  In the real world these are used much more heavily than Data Categorization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-04-02 15:07] kthejoker opened #942 ""Securing a Tabular BI Semantic Model" document needs an update"
Hi, the linked Word document "Securing a Tabular BI Semantic Model" was last updated in April 2016. Can the team review the content, make appropriate changes, and then set the new updated date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-21

[2019-04-02 19:20] olthomps commented on #839
Hi @mihart - any updates on the missing image? Thanks!

[2019-04-02 21:36] ShaneOss commented on #391
Yeah tried to use but doesn't support federated SSO. So technically not working for me.

[2019-04-02 21:40] ShaneOss commented on #391
Ended up building my own PowerBI report from an export of all the data in ServiceNow to Excel file.

[2019-04-03 02:24] sk1tt1sh opened #943 "Order of Operations is Incorrect"
The previous instruction "Connect Azure Data Lake Storage Gen2 for dataflow storage (Preview)" should follow this page as users with existing workspaces in PBI may attempt to use a non-dataflow enabled workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b02e80-2a27-b97e-06b2-b71cfc1bc379
* Version Independent I

[2019-04-03 15:00] mihart commented on #941
Thanks for your comment, @Mike-Honey . This issue has been assigned to the doc author for review.

[2019-04-03 15:01] mihart commented on #942
Thanks for your comment, @kthejoker . This issue has been assigned to the doc author for review.

[2019-04-03 15:02] mihart commented on #943
Thanks for your comment, @sk1tt1sh . This issue has been assigned to the doc author for review.

[2019-04-03 16:21] nicolaslledo opened #944 "Links broken"
AuthenticationContext.AcquireTokenByAuthorizationCode link and Azure AD Authorization Code Grant Flow link  are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179b0-7f3d-77de-239b-a33c9d30ff61
* Version Independent ID: ab708f2a-3cb5-fcf3-9733-a2bc26b09e60
* Content: [Authenticate users and get an Azure AD ac

[2019-04-03 16:39] mgblythe commented on #944
Thanks for your comment, @nicolaslledo. This issue has been assigned to the doc author for review.

[2019-04-03 17:44] ericoneal opened #945 "authorityUri is unreachable"
was able to get working with https://login.windows.net/common/oauth2/authorize/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef3a0a2-7cc8-136e-eb8e-a80f4cade7d3
* Version Independent ID: 20093c04-76cd-9266-e2f1-96c329da93c1
* Content: [Get an authentication access token - Power BI](https://docs.microsoft.com/en-us/p

[2019-04-04 07:46] yoyogin opened #946 "Confusing Privacy Levels disabled / enabled"
Why do you say that (# 1) 'Combine data according to your Privacy Level settings for each source' means that 'Privacy Levels is not enabled' while (# 2) 'Ignore the Privacy levels and potentially improve performance' means 'Enabling Privacy Levels' (you do it in a consistent manner across the file).

Intuitively, having privacy levels being considered (as in # 1) feels more like 'Privacy Levels is

[2019-04-04 11:02] kungfuko commented on #853
Havent been moved after a month? Such important information has to be on the top! I have already linked Data Lake and PBI and now i cant remove the connection!

[2019-04-04 15:34] shmahanta opened #947 "PBI report exceeding 1GB report size"
I’m developing a critical Power BI report for our team, and the size has exceeded the 1GB limit for import queries. So I’m left with two options:
-	Reduce the data size to an extent that allows for even more data to be imported during future expansions.
-	Switch to direct query.

I would appreciate advice on either approach:
- I'm importing data from SQL tables, and have restricted data types to e

[2019-04-04 17:31] amit2505 opened #948 "Release Date"
Can you please include the actual release date and typical release schedule on this page. The last 2-3 releases have broken our working reports, so we want to track when to expect the PowerBI service release. Is it last Tuesday of every month or 4th Tuesday of every month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-04 18:15] maggiesMSFT commented on #948
Good question, @amit2505! Assigning to @NikhilGaekwad-MSFT so he can clarify.
Thanks!

[2019-04-04 19:11] mpsingh24 opened #949 "Please close the following ideas as resolved since as per the documentation there are no egress charges when the Power BI tenant is deployed in the same Azure region as the data sources"
Please close the following ideas as resolved since there are no egress charges when the Power BI tenant is deployed in the same Azure region as the data sources:
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/11571870-egress-charges-from-scheduled-refresh-against-sour
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/10855002-guarantee-scheduled-refresh-data-pr

[2019-04-04 22:11] thecmanp11 opened #950 "No "Show Secondary" Slicer"
Regarding Step 4 of Add titles to the axes; there is no such slicer as "Show Secondary." Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83e368c2-36c2-a5c0-f2af-993f6ee73665
* Version Independent ID: 452524d5-e375-9750-19ac-eb76903b36b3
* Content: [Combo Chart in Power BI - Power BI](https://docs.microsof

[2019-04-04 22:42] maggiesMSFT commented on #949
Hi @mpsingh24 -- thanks for raising this issue! Unfortunately we can't close items on ideas.powerbi.com. Can you add this note to the ideas themselves?
thanks!

[2019-04-04 22:42] #949 closed

[2019-04-05 06:05] gerrhardvdw opened #952 "New versions"
Since the release of the March 2019 update, I have received 2 notifications of a newer version.  Where can I find out what changed in the newer updates?

[2019-04-05 15:00] CeciAc opened #953 "CS1061"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/powerbi-docs.pt-pt/issues/3
The user may be reporting an error in the example code:

@JoseGoncalves3 commented:
Using this code, i am having a error, a CS1061, it says "'AuthenticationContext' does not contain a definition for 'AcquireToken' and no accessible 'AcquireToken' accepting a first argument of type 'AuthenticationContex

[2019-04-05 18:00] ansiansi opened #954 "Power BI samples work only if Silverlight is enabled"
Hi, the Power BI sample set is not showing any report in Excel, unless you enable Silverlight. The PowerView add-on led me to a page that has a solution that works:  https://go.microsoft.com/fwlink/?LinkID=2011909.  But I still have concerns about the security on my computer. Can the data from the Obvience samples be provided without Silverlight reference?

---
#### Document Details

⚠ *Do not edi

[2019-04-05 18:37] shmahanta commented on #947
Received some helpful tips on the yammer Power BI discussion group. Will close this issue.

[2019-04-05 18:37] #947 closed

[2019-04-05 18:47] maggiesMSFT commented on #954
Hi @ansiansi -- good question, thanks for asking! I'll check and get back to you.

[2019-04-05 18:52] maggiesMSFT commented on #953
Hi, @JoseGoncalves3, thanks for your question! And thanks, @CeciAc, for passing it along. I've assigned it to the writer, who will take a look and get back to you.

[2019-04-05 18:56] maggiesMSFT commented on #952
Hi, @gerrhardvdw -- are you referring to updates to Power BI Desktop?
A great place to start is with the Power BI Desktop What's New article, https://docs.microsoft.com/en-us/power-bi/desktop-latest-update.
Another good resource is the Power BI blog, https://powerbi.microsoft.com/en-us/blog/.
 I hope between the 2 they answer your question!

[2019-04-05 18:56] #952 closed

[2019-04-05 18:57] maggiesMSFT commented on #950
Hi, @thecmanp11 -- thanks for your question! I've assigned it to the author, who will get back to you with more info. Thanks!

[2019-04-05 19:05] maggiesMSFT commented on #946
Hi, @yoyogin -- thanks for asking! I've referred your question to the author, who will reply with more info.
BTW, the numbers you've included, "#1" and "#2", end up being links going to different GitHub PRs. But I think I see now, you're referring to the 2 different sections of the article?
thanks!

[2019-04-05 19:07] maggiesMSFT commented on #945
Hi, @ericoneal -- I've assigned your issue to the author. However, I think you'll be better off asking in the Power BI Community, https://community.powerbi.com/, or in Power BI Support, https://powerbi.microsoft.com/en-us/support/.
Good luck!

[2019-04-05 19:10] ericoneal commented on #945
I didnt have a question, just noting that the uri in the sample code:  https://login.microsoftonline.net/common  was unreachable

[2019-04-05 19:11] maggiesMSFT commented on #945
Thanks for clarifying, @ericoneal! I've reopened it and assigned it to the author.

[2019-04-06 03:40] kuderaconsulting opened #955 "Wrong Page Title"
This page does great in explaining how to SET a date table.
But there is nothing on this page that explains/illustrates HOW to use the date table. What good does it do to create and define a date table? What benefit does this add?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09750051-75cf-7829-b70b-8912f822ea8c
* Ver

[2019-04-06 05:57] gerrhardvdw commented on #952
Thanks Maggie

On the web site you mentioned, the PBI desktop version is 2.67.5404.581.
The latest downloaded version is 2.67.5404.981.  In between these versions
there was also version 2.67.5404.801.  None of the resources tell me what
changed in these versions.

On Fri, Apr 5, 2019 at 8:56 PM Maggie Sparkman <notifications@github.com>
wrote:

[2019-04-06 09:57] yoyogin commented on #946
I've updated my original comment (added spaces) - didn't mean to reference PRs but to reference terms showing in the first paragraph of my comment from the second paragraph.

[2019-04-08 14:03] frvigano opened #956 "Relationship filtering is limited to a single direction"
in the document it is reported that "Relationship filtering is limited to a single direction". This is no longer true and bi-directional filtering works like in import mode"

[2019-04-08 17:07] jordanmills commented on #374
No, they don't.

[2019-04-08 20:56] maggiesMSFT commented on #813
Hi, @daveeasey -- I updated the article with a new link. Thanks for pointing that out! Here's the link: https://support.office.com/article/flash-silverlight-and-shockwave-controls-blocked-in-microsoft-office-55738f12-a01d-420e-a533-7cef1ff6aeb1

[2019-04-08 20:56] #813 closed

[2019-04-08 20:57] maggiesMSFT commented on #954
Hi @ansiansi -- I updated the article with a new link. Thanks for pointing that out! BTW, here's the new link: https://support.office.com/article/flash-silverlight-and-shockwave-controls-blocked-in-microsoft-office-55738f12-a01d-420e-a533-7cef1ff6aeb1

[2019-04-08 20:57] #954 closed

[2019-04-08 21:26] maggiesMSFT commented on #956
Hi, @frvigano -- Thanks for your comment! It looks like this statement is in 2 articles:
https://docs.microsoft.com/en-us/power-bi/desktop-use-directquery and
https://docs.microsoft.com/en-us/power-bi/desktop-directquery-about
I've included the author, who will respond to your question.

[2019-04-08 21:27] maggiesMSFT commented on #955
Hi, @kuderaconsulting -- good question! I've assigned it to the author, who will respond.
Thanks!

[2019-04-08 23:01] brmort opened #957 "ADLS Gen2 out of Preview"
Page should be updated as ADLS is no longer in public preview. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Content: [Learn how to connect Azure Data Lake Storage Gen 2 to Power BI for dataflow storage - Powe

[2019-04-08 23:54] DeanGross commented on #938
why was this closed without any action or explanation?

[2019-04-09 07:31] Anmolgan81 opened #958 "How to connect Azure Postgres SQL Database to PowerBI?"
I was trying to connect Azure Postgres SQL Database to PowerBI, but wasn't successful in doing that, can someone explain to me is that possible? or are there any other alternative to achieve this, we want to use direct query in order to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed468ec7-192b-8ad4-da1

[2019-04-09 09:31] SanaAbdul commented on #838
Hi
 I  have a direct query report.I want to configure schduled cache refresh manually for a data set to reflect changes in data in report every 15 mins. My problem is that  can see the cache refresh option disabled for my  dataset. How to enable this option.
Rgrds,
Sana!

[2019-04-09 10:53] lorenzolancio7 opened #959 ""Permission required" message when all the guest users try to view a report (April 2019 update)"
Hello everybody,
since last update of April 2019, this popup("Permission required") still appear to all guest users (like ...@gmail.com accounts) that open all my Reports :

![image](https://user-images.githubusercontent.com/49403153/55794026-83a18000-5ac4-11e9-9182-45e1428a08ae.png)

I can see in my panel that they have the "Read" Permission for the Dataset and for the Report, but they can't sill

[2019-04-09 12:34] lanedance commented on #379
Same I cant make power bi python 'work at home or work. No chance of changing python at work with IT policies either. Appreciate any help. Just upgraded to March 2019 and not even the simplest python code works.

[2019-04-09 12:34] lanedance commented on #379
Same I cant make power bi python 'work at home or work. No chance of changing python at work with IT policies either. Appreciate any help. Just upgraded to March 2019 and not even the simplest python code works.

[2019-04-09 18:37] mihart commented on #957
Thanks for your comment, @brmort . This issue has been assigned to the doc author for review.

[2019-04-09 18:40] mihart commented on #959
Thanks for your comment, @lorenzolancio7 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-09 18:40] #959 closed

[2019-04-09 19:54] maggiesMSFT commented on #851
Hi, @urspalani -- yes, this looks like a support request. I'm going to close this comment.  Please do check with the Power BI Community, found at https://community.powerbi.com. Or you can get support by going to https://support.powerbi.com.
Thanks!

[2019-04-09 19:54] #851 closed

[2019-04-09 21:10] maggiesMSFT commented on #804
Hi, @dmbeas12 -- thanks for your question! Paginated reports in the Power BI service don't yet support query string parameters. You can https://ideas.powerbi.com/forums/265200-power-bi and submit a vote for the idea!

[2019-04-09 21:10] #804 closed

[2019-04-09 22:46] maggiesMSFT commented on #802
Hi, @dsgg18 -- I'm investigating and will report back.

[2019-04-09 23:52] maggiesMSFT commented on #802
Hi, @dsgg18 -- Thanks for asking! Here are the results of my research.

Old workspaces:
Whatever Office 365 groups support. I found these work:
File formats: png, jpg, bmp.
File size: Not sure what the upper limit is, but I was able to upload a 3 MB png file.

New workspaces:
File formats: .png and .jpg
File size: < 45 KB

thanks for asking! I'll add this info to the articles in question.

[2019-04-10 15:15] UalasCaixeta commented on #526
Olá, em um relatório publicado no serviço Power BI, os filtros do Visual que estão marcados como ocultos no Power BI Desktop estão sendo apresentados ao usuário final.

Desktop:
![image](https://user-images.githubusercontent.com/31940829/55891041-3daeef80-5b8a-11e9-99a7-2cb050cb7b0e.png)

Serviço:
![image](https://user-images.githubusercontent.com/31940829/55891086-515a5600-5b8a-11e9-9dfa-5381a92d

[2019-04-10 16:08] simoualhi commented on #473
The RLS is not working when workspace members can edit content, with the new way to create the workspaces we have three type of users, to apply RLS I suppose we will need the user Viewer

[2019-04-10 19:20] miguel-lopez opened #962 "Issue publishing from PowerBI Desktop(March edition) connected to Databricks-spark data source Connector"
We are doing PowerBI reports with PowerBI Desktop(March Edition). Our data source is a Databricks table and we are connecting through spark connector .
When we try to publish we get an error that we need an enterprise gateway. After that, when we try to edit credentials in the powerBI Service, this option is disabled.

We published another report, like one month ago, but with powerBI Desktop(Febru

[2019-04-10 19:30] miguel-lopez commented on #962
Quick Comment. This is a bug. Will be fixed asap. As work around you can try  updating your power query to remove BatchSize option and try uploading your report again.

[2019-04-10 20:09] mgblythe commented on #938
@DeanGross - this issue is still open. I closed the one in PowerApps.

@arthiriyer as FYI

[2019-04-10 21:44] maggiesMSFT commented on #787
Hi, @maxdomico -- If you go to **File** > **Options and settings** > **Options**, do you see **Report settings** in the left navigation bar under **Current file**?
If you do, then select **Report settings**, and under **Filtering experience**, select **Enable the updated filter pane, and show filters in the visual header for this report**.
Does that work for you now?
thanks!

[2019-04-10 21:44] #787 closed

[2019-04-10 21:44] maggiesMSFT commented on #787
Oh, I meant to add, I've added that more specific language to the article, so thanks for your feedback!

[2019-04-10 21:59] maggiesMSFT commented on #317
Hi, @deepu299 and @JustinGrote -- good news! Connecting a OneDrive or SharePoint is now on the Create a Workspace pane, when you first create it, or when you go back and edit it. If you look in the article now, under step 4 you'll see:
"Specify a Workspace OneDrive by typing just the name of the OneDrive location, not the URL. In this step, you're not creating a OneDrive location. You're specifyin

[2019-04-10 21:59] #317 closed

[2019-04-10 22:03] maggiesMSFT commented on #374
Agreed, thanks @jordanmills. And thanks, @rvs222, for asking!

[2019-04-10 22:03] #374 closed

[2019-04-10 22:05] maggiesMSFT commented on #385
Thanks, @salexu, and thanks @thanksforthepen for asking!

[2019-04-10 22:05] #385 closed

[2019-04-10 22:19] maggiesMSFT commented on #451
Hi, @alhughes8 -- this shouldn't be the case. If this is still an issue, please post it in the Power BI community, https://community.powerbi.com/ or in support, https://powerbi.microsoft.com/en-us/support/.
thanks!

[2019-04-10 22:19] #451 closed

[2019-04-10 22:52] maggiesMSFT commented on #483
Thanks for that answer, @ignatvilesov, and thanks, @mow700, for asking your question!

[2019-04-10 22:52] #483 closed

[2019-04-10 22:55] maggiesMSFT commented on #473
Yes, this is correct @gnutter -- currently RLS is not working in the new workspaces. Continue using the classic workspaces for now.

[2019-04-10 22:55] #473 closed

[2019-04-10 23:51] marcelosarmento commented on #945
Try the following address instead: https://login.windows.net/common/

[2019-04-10 23:59] ericoneal commented on #945
I get a 404 error when I visit that link, which is what prompted this thread.
I got it working here:  https://login.windows.net/common/oauth2/authorize/

[2019-04-11 14:01] djurecic opened #963 "URL filters aren't currently respected when choosing "Current Values" for your export."
Any estimate on when this will be added? We use URL filtered reports frequently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df1c4c0-80f9-f71a-175f-8362a29ad597
* Version Independent ID: c2a64e2a-ce65-dfb7-588a-381c145ab193
* Content: [Export reports from Power BI to PowerPoint - Power BI](https://docs.microsoft.co

[2019-04-11 15:12] mgblythe commented on #962
Thanks @miguel-lopez - April release is now out. Let us know if you have any issues after updating.

[2019-04-11 15:24] mgblythe commented on #963
Thanks for your question, @djurecic. For upcoming features, I recommend checking the [What's new and planned doc](https://docs.microsoft.com/business-applications-release-notes/april19/business-intelligence/planned-feature). If you don't find an answer there, try searching in [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi) to see if anyone else has suggested this idea and it's a

[2019-04-11 15:25] #963 closed

[2019-04-11 15:27] deepu299 commented on #317
@maggiesMSFT Thanks for the update Maggie, I am able to see the option now. Appreciate for the responses and the work done.

[2019-04-11 17:36] maggiesMSFT commented on #802
Hi, @dsgg18 -- I've updated both articles (new and classic) with these specifics. Thanks for asking!

[2019-04-11 17:36] #802 closed

[2019-04-11 18:24] maggiesMSFT commented on #487
Hi, @zotechdigital -- belatedly, are you familiar with the article about branding the web portal? https://docs.microsoft.com/en-us/sql/reporting-services/branding-the-web-portal?view=sql-server-2017
Does it contain any useful info for you?

[2019-04-11 18:52] mcalistor opened #964 "Export to PDF not filtered with query string"
When visiting a report that is filtered using a query string, the Export to PDF function reports all the underlying data, not just the filtered data.  This is regardless of whether the "Export with" option is set to "Current Values" or "Default Values".  The only workaround is to expose the same filter in the report and ask the end user to filter the report again before exporting to PDF.

---
####

[2019-04-11 21:50] TimCurwick opened #966 "Operation names that are "Not currently used" need clarification"
In the Notes column for "Activities audited by Power BI", please clarify "Not currently used" by replacing it with either "No longer used" or "Reserved for future use", as appropriate in each case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a8

[2019-04-11 22:58] maggiesMSFT commented on #841
Hi, @AttBa -- I updated the article with a screen shot for this step. Thanks for the feedback!

[2019-04-11 22:58] #841 closed

[2019-04-11 23:13] maggiesMSFT commented on #661
Hi, @madhuzode -- thanks for asking! I've gotten the official word. You're right, paginated reports are currently not supported in the Power BI government cloud. That work is in progress. Thanks!

[2019-04-11 23:13] #661 closed

[2019-04-11 23:16] maggiesMSFT commented on #539
So true, @xstodeepak! I'll update the article.

[2019-04-11 23:20] #539 closed

[2019-04-12 13:51] jhamilton8 commented on #953
Hey, I managed to fix the same issue by updating Microsoft.IdentityModel.Clients.ActiveDirectory to version 2.22.302.111727

[2019-04-12 14:59] JoseGoncalves3 commented on #953
I have the latest version of Microsoft.IdentifyModel.Clients.ActiveDirectory. How can i get your version?

[2019-04-12 15:21] BrianBeswick commented on #790
Can you also have the author explicitly indicate that you need an axis value, and only a single value series for this to work? Multiple value series and/or no axis the advanced data colors are not available.

[2019-04-12 16:30] maggiesMSFT commented on #664
Hi @gcarder -- thanks for your question!
Support for this is in the works, but not expected in the near future. Sorry not to be more definitive. Best bet is to follow the Power BI product team blog, https://powerbi.microsoft.com/en-us/blog/

[2019-04-12 16:30] #664 closed

[2019-04-12 16:52] mgblythe commented on #603
Thanks @mganeshphani - you could suggest this at ideas.powerbi.com

[2019-04-12 16:52] #603 closed

[2019-04-12 16:55] mgblythe commented on #820
This is fixed now, closing out. Thanks again @montydrei.

[2019-04-12 16:55] #820 closed

[2019-04-12 16:59] chokolakula opened #967 "The Billing profile missing"
No such entry in the sidebar on Azure portal.

[2019-04-12 17:00] mgblythe commented on #878
Checking with PM team, on gateway support for this data source.

[2019-04-12 17:03] mgblythe commented on #885
@jordanmills - I confirmed that Audit logs tab should show up in the UI if you have Power BI admin perms. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-04-12 17:03] #885 closed

[2019-04-12 21:26] davidiseminger commented on #668
Fixed, will update with the next publishing run. Thanks!

[2019-04-12 21:26] #668 closed

[2019-04-12 21:27] davidiseminger commented on #838
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-04-12 21:27] #838 closed

[2019-04-12 21:29] davidiseminger commented on #839
Sorry for the confusion - there's no associated image. I've clarified that in the doc.

[2019-04-12 21:29] #839 closed

[2019-04-12 21:31] davidiseminger commented on #848
You're absolutely right - sorry about that. I've updated the TOC, which will be reflected in our next publishing run. Thanks!

[2019-04-12 21:31] #848 closed

[2019-04-12 21:32] davidiseminger commented on #850
The article now mentions it works in the Power BI service. Thanks!

[2019-04-12 21:32] #850 closed

[2019-04-12 21:33] davidiseminger commented on #858
Thanks! I've updated that information in the article.

[2019-04-12 21:33] #858 closed

[2019-04-12 23:23] alwweb commented on #555
In the following paragraph, I believe the first reference to DirectQuery should be connect live instead. There is no such thing as DirectQuery for SSAS as far as I know.
"If you select import, then you define a query against that external SSAS source, and the data is imported as normal. If you select to connect live, then there is no query defined, and the entire external model is shown in the fie

[2019-04-15 12:06] w0ut0 opened #970 "This page belongs in "Visualizations" instead of in "Transform and shape data"."
I feel this documentation (about the visual "Shape Map") belongs in category "Visualizations" (Power Bi Desktop/How to/Visualisations) instead of "Transform and shape data" (Power Bi Desktop/How to/Transform and shape data).

best,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a301928-35b6-2b9d-3bbe-0dc48b237b07
* Ve

[2019-04-15 14:54] dunganhle opened #971 "RLS in SSAS Tabular showing different result compare to the same model in Power BI Desktop"
Hi,

As saying in the title, I have the exact model that runs in SSAS Tabular And Power BI Desktop and having different result.

Let me know how can I show you the issue ( the 2 roles I have are like below in both solution, an AD group of users belong to these roles) :
UserRole1:
'Customer'[CurrentSalesUnitKey_SharedAccount_01] =
LOOKUPVALUE(
'AD-Territory'[Value],
'AD-Territory'[UserName],
USERPR

[2019-04-15 19:04] davidiseminger commented on #853
Thanks for your feedback - this has been updated to show up as a warning near the top of the article, and will show up within the next day.

[2019-04-15 19:04] #853 closed

[2019-04-15 19:10] davidiseminger commented on #862
Thanks for your feedback @davidbaxterbrowne  - we'll send that info to the product team who created the sample.

[2019-04-15 19:10] #862 closed

[2019-04-15 19:11] davidiseminger commented on #863
Thanks for your feedback!

[2019-04-15 19:11] #863 closed

[2019-04-15 19:13] davidiseminger commented on #865
Thanks for your nice comments about dataflows. Note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product F

[2019-04-15 19:13] #865 closed

[2019-04-15 19:16] davidiseminger commented on #872
Thanks for sharing your information @Pestilential - I've updated the article to reflect what you found. Thanks!

[2019-04-15 19:16] #872 closed

[2019-04-15 19:17] davidiseminger commented on #873
Thanks for your comment, @anukaushalsingh. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-15 19:17] #873 closed

[2019-04-15 19:20] davidiseminger commented on #884
Thanks for sending your note @vitaly-livshits  - I've updated the article to reflect GA.

[2019-04-15 19:20] #884 closed

[2019-04-15 19:21] davidiseminger commented on #886
Thanks for the suggestion @scovetta. For support, you might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-15 19:21] #886 closed

[2019-04-15 19:23] davidiseminger commented on #890
Including the author of that whitepaper for further clarification.

[2019-04-15 19:25] davidiseminger commented on #891
Sorry about that @ajiljins - I've fixed those issues and will keep a close eye on future releases. Thanks for your feedback!

[2019-04-15 19:25] #891 closed

[2019-04-15 19:26] davidiseminger commented on #896
Sorry for any confusion, we believe those comments are correct.
Your best venue for getting further clarification or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom of the article page.

[2019-04-15 19:26] #896 closed

[2019-04-15 19:32] davidiseminger commented on #903
Hello @Mike-Honey - I'm sorry, I don't see where the confusing or incomplete passages are. If you want to resubmit with more specific sections and passages, I'll be happy to see if I can improve or clarify.

[2019-04-15 19:32] #903 closed

[2019-04-15 19:33] davidiseminger commented on #904
Thanks for your comment, @Anmolgan81. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-15 19:33] #904 closed

[2019-04-15 19:33] davidiseminger commented on #905
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-04-15 19:33] #905 closed

[2019-04-15 19:34] #907 closed

[2019-04-15 19:35] davidiseminger commented on #909
Sorry for the confusion. Please use the directions in text, not the picture. We'll update that picture as soon as we can.

[2019-04-15 19:35] #909 closed

[2019-04-15 19:36] davidiseminger commented on #912
Thanks for your feedback. Note that this feature is currently in preview.

You can submit product feedback or feature ideas directly by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-04-15 19:36] #912 closed

[2019-04-15 19:38] davidiseminger commented on #915
Thanks for your feedback @vish4luffy  - unfortunately, not all datasets are available for some of our tutorials and articles, including this one. We're anticipating future articles will (and many do) include links to the datasets used for the article.

[2019-04-15 19:38] #915 closed

[2019-04-15 19:40] davidiseminger commented on #921
Thanks for the close read @sqlchick  - I've updated the article with your corrected step. Thanks!

[2019-04-15 19:40] #921 closed

[2019-04-15 19:40] #923 closed

[2019-04-15 19:41] davidiseminger commented on #934
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-04-15 19:41] #934 closed

[2019-04-15 19:42] davidiseminger commented on #936
Thanks for your feedback @CeciAc - we'll look into updating that progression in the article, to match updates in the data source. Sorry for the inconvenience.

[2019-04-15 19:42] #936 closed

[2019-04-15 19:43] davidiseminger commented on #939
Thank you! We like to be tidy, especially with spelling and grammar. We refresh our articles, and when this article is up for refresh, we'll get out the grammar broom and dustpan. Thanks for posting!

[2019-04-15 19:43] #939 closed

[2019-04-15 19:44] davidiseminger commented on #941
Thanks for your feedback (again) @Mike-Honey. We'll look at expanding that page when we it's scheduled for a documentation refresh.

[2019-04-15 19:44] #941 closed

[2019-04-15 19:45] davidiseminger commented on #943
Thanks for your feedback! We'll update this page when this feature comes out of preview, and will look at each step carefully.

[2019-04-15 19:45] #943 closed

[2019-04-15 19:47] davidiseminger commented on #946
Thanks for posting @yoyogin - and sorry if that's not clear. We believe the document is correct.

For more help and clarification on this, your best venue is the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom of the article page.

[2019-04-15 19:47] #946 closed

[2019-04-15 19:50] davidiseminger commented on #955
Thanks for your feedback @kuderaconsulting . There are many uses for date tables in various BI reports and analyses, the benefits of which are beyond the scope of this article.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com.

[2019-04-15 19:50] #955 closed

[2019-04-15 19:53] davidiseminger commented on #957
Thanks for the comment - I've updated the article to reflect. To further clarify, too, dataflows is out of preview, but this dataflow feature (which uses ADLS Gen2) is still in preview.

[2019-04-15 19:53] #957 closed

[2019-04-15 20:29] vitaly-livshits commented on #884
@davidiseminger, it still shows us the version with "preview" references. Is there a delay to be aware of around propagating the changes?

[2019-04-15 21:26] Mike-Honey commented on #903
@davidiseminger  - To find the specific passages, just use Find on the page and look for "background, foreground, and tableAccent".

If you think it is complete, please tell me: what does tableAccent do? How does foreground affect a table?

[2019-04-15 22:50] davidiseminger commented on #964
Thanks for your comment, @mcalistor. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-04-15 22:51] davidiseminger commented on #966
Thanks for your comment, @TimCurwick. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-04-15 22:52] davidiseminger commented on #967
The data associated with the article was deleted, unable to act on this. Please don't delete/edit the section that identifies article information when posting a comment.

[2019-04-15 22:52] #967 closed

[2019-04-15 22:52] davidiseminger commented on #970
Thanks for your comment, @w0ut0 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-04-15 22:54] davidiseminger commented on #971
Hello @dunganhle  - thanks for posting. The information about the article about which you're asking was deleted from your post, so we can't see which article you're posting about.

Also, this looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://su

[2019-04-15 22:54] #971 closed

[2019-04-16 08:22] buzzfrog opened #973 "Small typo"
This text: "In the update method, replace.text(“Value”)** with the following."
Should be: "In the update method, replace text(“Value”) with the following."
And add bold to the relevent part also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-

[2019-04-16 13:32] italiana opened #974 "Is Custom Connector Supported or not?"
The article begin suggesting that for OAuth protected resources, custom data connector can be used, however based on the known limitation, data gateway is not supported, which is the only way you can refresh a custom connector data source. So can custom data connector be used in a template app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-17 00:41] #352 closed

[2019-04-17 06:30] #973 closed

[2019-04-17 06:32] mihart commented on #974
Dear @italiana , Thank you for your suggestion. I've assigned this issue to the author.

[2019-04-17 10:17] v-dakoz opened #977 "Incorrect specification in "Reports in apps" section"
For our apps, provided specification of:
app.powerbi.com/groups/me/apps/app-id/reports/report-id/ReportSection?ctid=ctid&filter=Table/Field eq 'value'

stopped working recently, and link would always redirect to blank page. What we found to work was slightly different format:
app.powerbi.com/groups/me/apps/app-id/reports/report-id/ReportSection?filter=Table/Field%20eq%20%27value%27&ctid=ctid

wher

[2019-04-17 12:09] rosponda57 commented on #948
Hi, on when the April update is planned? I'm waiting for some connector features from Desktop on PowerBI.com.

[2019-04-17 13:22] brianrmacdonald opened #978 "Support for ez package in Power BI service"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df17e088-5cff-4882-79fc-cc7deb09843d
* Version Independent ID: 641ddc87-0314-47c4-bee7-684ebe7f8e6e
* Content: [Learn which R packages are supported - Power BI](https://docs.microsoft.com/en-us/power-bi/service-r-packages-support#feedback)
* Content S

[2019-04-17 13:26] brianrmacdonald commented on #978
I would like to request support in the Power BI service for the [ez package](https://cran.r-project.org/web/packages/ez/index.html).   This package is able to perform Anova analyses that can be easily made to duplicate the results in SAS and SPSS, something that is pretty tricky to do with the other packages in R especially for unbalanced designs.

I tried to leave this request at powerbiai@micros

[2019-04-18 12:23] Karr opened #979 "Missing App"
This app is not visible in the Power BI Apps.  It was used in the past, no longer visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff1b7488-9278-5b12-2025-9d602c113ecd
* Version Independent ID: dbe2cb00-7ab7-5c58-e902-234f0f3ae39c
* Content: [Connect to Google Analytics with Power BI - Power BI](https://docs.mic

[2019-04-18 14:44] mgblythe commented on #977
Thanks for your comment, @v-dakoz . This issue has been assigned to the doc author for review.

In the meantime, consider posting in the [Power BI Community]( https://community.powerbi.com).

[2019-04-18 14:46] mgblythe commented on #978
Thanks @brianrmacdonald. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

[2019-04-18 14:46] #978 closed

[2019-04-18 14:47] mgblythe commented on #979
Thanks for your comment, @Karr. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-04-18 14:47] #979 closed

[2019-04-18 21:10] maggiesMSFT commented on #537
Good answer, @hfulks. I'll leave it at that. I've updated the admin portal article with some more info.
Thanks, @rocksde, for asking!

[2019-04-18 21:10] #537 closed

[2019-04-18 21:24] maggiesMSFT commented on #977
Hi, @v-dakoz -- I'm checking and will get back to you. In the meantime, as @mgblythe says, consider posting in the Power BI Community, https://community.powerbi.com/.

[2019-04-18 22:47] jagzz opened #980 "What is the available option to add external members to RLS roles."
Adding external members to RLS doesn't seems to be an option. I have partners using their organization's domain account to access the Power BI reports.

'This member has to be within your organization. You cannot add Groups created within Power BI.' @ https://docs.microsoft.com/en-us/power-bi/service-admin-rls

Do you have any suggestion/alternate approach that can work for members accessing from

[2019-04-18 22:50] maggiesMSFT commented on #980
Hi, @jagzz -- thanks for asking! I've assigned this to the author to respond.

[2019-04-18 22:51] maggiesMSFT commented on #974
Hi, @italiana -- I'm investigating and will get back to you. Thanks!

[2019-04-19 02:35] loove opened #981 "what's the account of power BI server"
I haved install the  power BI server in my computer，but when I visit the page http://+:80/reports or http://+:80/reportserver ,the brower  points to me need to account and password。
I what to kwon what is the  account and password？

[2019-04-19 02:36] loove commented on #981
thinks！

[2019-04-19 13:41] CeciAc opened #982 "This information does not apply to Firefox"
@kah600 commented on [Thu Apr 18 2019](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/15)

Meu navegador Firefox está atualizado com a última versão (66.0.3 - Firefox Release de April 10, 2019) e o PowerBI nem sequer abre. Ele processa a requisição e fica totalmente branco, sem exibir qualquer informação. Com o Chrome Versão 73.0.3683.103 (Versão oficial) 64 bits abre normalmente o mes

[2019-04-19 13:44] CeciAc commented on #982
Hi team,
I'm moving this here because the user is making a suggestion on the original documentation:
Rough translation:

[2019-04-19 14:06] CeciAc opened #983 "Step 5. is not clear, there should be an example for them also"
Hi team,
I'm moving manually this from here: https://github.com/MicrosoftDocs/powerbi-docs.tr-tr/issues/2

---
@metinilhan commented:
Which user name and password, example would be greate. I tried alot but no result

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd3eb8d-0f4f-e8cd-7ed3-5ceccc433ddd
* Version Independen

[2019-04-19 18:40] mgblythe commented on #962
Closing this out. @miguel-lopez - feel free to reopen if any documentation updates are required for this.

[2019-04-19 18:40] #962 closed

[2019-04-19 18:53] craig-miller commented on #672
Latest example doesn't seem to work anymore.  principalType: "App" results in an error:

Parameter userDetails.PrincipalType is missing or invalid

{
  "identifier": "{Service Principle Object ID}",
  "groupUserAccessRight": "Admin",
  "principalType": "App"
}

[2019-04-19 20:56] maggiesMSFT commented on #974
Hi, @italiana -- we've updated the article to be clearer. The change will be live this afternoon. Thanks for asking! And thanks, @teddybercovitz, for the clarification.

[2019-04-19 20:56] #974 closed

[2019-04-21 13:39] markingmyname commented on #981
@loove

Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page. If you have any feedback related to the documentation, please feel free to log in through this channel. We truly appreciate your contribution to our articles.

[2019-04-21 13:40] markingmyname commented on #981
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-21 13:40] #981 closed

[2019-04-21 13:43] markingmyname commented on #982
@CeciAc,

Sorry to hear about your issue. However, I have Firefox version 66.0.3 (64-bit), and I have no issues opening up Power BI.

Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page. If you have any feedback related to the documen

[2019-04-21 13:45] markingmyname commented on #982
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-21 13:45] #982 closed

[2019-04-21 13:47] markingmyname commented on #983
@CeciAc,  Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-04-21 13:49] markingmyname commented on #238
@uve, can you assist, please?

[2019-04-22 14:21] mannsandhu opened #984 "Flexibility to only show specific filter type to End Users"
There should be flexibility given to report author to restrict end user to see any specific filter type in filter pane. For e.g. If end user should see only filter on the page level or report level but should not see filters applied to a visual then it should be controlled at report author level.
Currently when any visual is selected in the Power BI services, end user will see all visual level fil

[2019-04-22 15:18] mgblythe commented on #984
Thanks for your comment, @mannsandhu . This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-04-22 15:18] #984 closed

[2019-04-22 20:29] Gabriel-Espinoza commented on #944
been 3 weeks since this issue was opened, we need a fix please

[2019-04-22 22:36] markingmyname commented on #944
@Gabriel-Espinoza The links seem to work for me.

Can I ask what you are seeing when you are stating the links are broken?

Thank you.

[2019-04-23 02:21] markingmyname commented on #796
@dejadee,

sorry for the delayed response.

does this note that is already in the article, not suffice?

[2019-04-23 02:22] markingmyname commented on #845
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-23 02:22] #845 closed

[2019-04-23 02:23] markingmyname commented on #856
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-23 02:23] #856 closed

[2019-04-23 02:24] markingmyname commented on #910
@mattschoen,

Thanks for your comment! Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

[2019-04-23 02:25] markingmyname commented on #910
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-23 02:25] #910 closed

[2019-04-23 02:30] markingmyname commented on #935
Good eye, @otravers!

The article will be updated by the end of the week.

Also, for minor things like typos or short edits, you can edit the doc!

Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off

[2019-04-23 02:30] #935 closed

[2019-04-23 02:30] markingmyname commented on #935
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-23 02:32] VinitashokPatil commented on #845
Thank You!
I appreciate the inputs provided.

On Mon, Apr 22, 2019, 9:22 PM Mark Ghanayem <notifications@github.com>
wrote:

[2019-04-23 02:34] markingmyname commented on #945
@ericoneal,

Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2019-04-23 02:35] markingmyname commented on #953
@CeciAc,

Does @JoseGoncalves3, resolution work for you?

Please confirm.

Thank you.

[2019-04-23 05:28] csplVinodKumar opened #985 "Why you use Google Chrome to Run Application? Whereas you have your own best browser i.e. Edge ?"
Hi Microsoft
 Microsoft is always been Excellent above all Technology companies I know.
 But I am not getting on your documentation page, why there is a screenshot of Visual Studio showing Debug session to begin with Google Chrome?

  Is Microsoft so small that, Google is taking over it ?
  Is Microsoft Browser ... Edge... Not capable of running Power BI reports with all features?
  Does Microsoft

[2019-04-23 08:48] alexb5dh commented on #953
Would be nice if code was updated for latest ActiveDirectory package anyway

[2019-04-23 11:25] skgitti opened #986 "Analyze in Excel empty?"
I would need to copy some summarized data from Azure consuption insights to other program.
Report doesn't allow to select and copy data directly.
Tried to use Analyze in Excel option, but that brings up just empty white excel sheet - should it work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6932

[2019-04-23 12:54] vikram-relyfy opened #987 "Cohort not working"
In the current version of Google Analytics connector for the Power BI desktop doesn't support cohort dimensions and metrics.
When I select User Retention metrics and cohort dimension, it tells that ga:cohortuserretentionrate is not supported in this API version.
If this could be fixed, that would be great to show my user retention.
If any other alternative is available I'm interested in that too.

[2019-04-23 15:16] apfenech opened #988 "Capacity Default Setting"
"Capacity Default: The dataset inherits the setting from the Premium capacity. The capacity default is controlled by the Power BI Premium capacity administrator."

Where am I able to change the default?  I can't find it in the admin center for our Premium capacity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13962e

[2019-04-23 18:53] Gabriel-Espinoza commented on #944
the two links informed by @nicolaslledo

one is the very first link in this page:
* Azure AD Authorization Code Grant Flow => https://msdn.microsoft.com/library/azure/dn645542.aspx
* AuthenticationContext.AcquireTokenByAuthorizationCode => https://msdn.microsoft.com/library/azure/dn479531.aspx

[2019-04-23 21:04] dejadee commented on #796
@markingmyname,

The note is sort of misleading. In the scenario I've outlined in my original comment--Power BI Premium capacity workspace, "install app automatically" is checked--if a user does not have a Power Bi (free) license, but is given a link to the Power BI app then upon logging into Power BI, they are automatically assigned a Power BI (free) license so they can view the app without any i

[2019-04-23 23:38] markingmyname commented on #944
thank you, @Gabriel-Espinoza for bringing this to our attention.

The article has been updated and should go live with updated links by the end of the week.

[2019-04-23 23:39] markingmyname commented on #944
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-23 23:39] #944 closed

[2019-04-24 03:56] leotan87 opened #990 "Favoriting selected dashboards within an app"
Feedback on also guidance on how to favorite just one or a few selected dashboards within an app instead of favoriting the entire app in Power BI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e1e445-7f15-0f2a-f71a-1cc2bdd97fca
* Version Independent ID: a96c4c4e-0d4f-060e-1b67-5b60c2652259
* Content: [Favorites in P

[2019-04-24 10:35] NickyvVr commented on #988
On the blog it says: this setting will be added in the near future.
https://powerbi.microsoft.com/en-us/blog/announcing-query-caching-in-power-bi-premium/

[2019-04-24 15:22] markingmyname commented on #796
@dejadee

Thank you for clarifying that in more details.

I am in current discussions about this scenario.  Once I have an update I will let you know.

Again, thank you for bringing this to our attention.

[2019-04-24 15:29] tx5westmt opened #991 "Limitation Clarification: A corrupted dataset may require deletion and cascade delete all dependent reports"
Just a warning that although you may not plan to delete a dataset, if something happens to the root dataset you may be forced to delete it which will essentially force you to rebuild your entire workspace/linked reports/etc. We were very excited to create a shared dataset and link various reports to the shared power bi dataset service instance.  However, one day our scheduled refresh started faili

[2019-04-24 15:38] markingmyname commented on #953
@CeciAc and @alexb5dh,

The article will be updated with a new known issues section to help others know where to go and download the update.

[2019-04-24 15:39] markingmyname commented on #953
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-24 15:39] #953 closed

[2019-04-24 16:47] markingmyname commented on #796
Hi @dejadee,

I wanted to inform you that there will be no changes made to the article at this time.

the information is clear that you have to have access to both Power BI and SP to access the app.

If you feel this needs more clarification from the Product Group, please select the Product issue button.

Thank you.

[2019-04-24 16:47] markingmyname commented on #796
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-24 16:47] #796 closed

[2019-04-24 19:29] mgblythe commented on #985
Thanks for the feedback @csplVinodKumar. We typically show Chrome to emphasize that a given process can be completed successfully regardless of the browser you choose.

[2019-04-24 19:29] #985 closed

[2019-04-24 19:35] mgblythe commented on #991
Thanks for the feedback @tx5westmt, and sorry to hear about the issues you faced with the dataset and the dependent reports. Given that this is product feedback rather than doc feedback, I'm going to close this out. It will still show up at the bottom of the doc page under closed feedback.

[2019-04-24 19:35] #991 closed

[2019-04-24 19:36] mgblythe commented on #990
Thanks for your comment, @leotan87. This issue has been assigned to the doc author for review.

[2019-04-24 19:37] mgblythe commented on #988
Thanks for your comment, @apfenech. This issue has been assigned to the doc author for review.

[2019-04-24 19:39] mgblythe commented on #987
Thanks for your comment, @vikram-relyfy. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-04-24 19:39] #987 closed

[2019-04-24 19:41] mgblythe commented on #986
Thanks for your comment, @skgitti. This issue has been assigned to the doc author for review. In the meantime, you can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-04-24 21:59] maggiesMSFT commented on #783
Hi, @SPowell42 and @rdgbrito -- good idea! As @mihart says, the place to submit ideas is at https://ideas.powerbi.com/forums/265200-power-bi-ideas. The product team pays a lot of attention to the ideas submitted there. Good luck!

[2019-04-24 21:59] #783 closed

[2019-04-24 22:37] maggiesMSFT commented on #532
Oh -- I updated the article ages ago and didn't close this. OK, I've updated it more. Thanks again, @asocorrocognex!

[2019-04-24 22:37] #532 closed

[2019-04-24 22:38] markingmyname commented on #945
@ericoneal I am glad you got it working.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-04-24 22:38] #945 closed

[2019-04-24 22:47] maggiesMSFT commented on #988
Hi, @apfenech and thanks for your comment, @NickyvVr -- I'm checking to see if you should be seeing it now. If not, I'll delete it.
thanks!

[2019-04-24 22:54] maggiesMSFT commented on #666
Hi, @aidatain -- I've confirmed this is a bug. I recommend that you go to https://ideas.powerbi.com/forums/265200-power-bi and search to see if anyone else has created an entry for it. If not, feel free to create one. Thanks for raising the issue!

[2019-04-24 22:54] #666 closed

[2019-04-24 22:59] aidatain commented on #666
Thanks @maggiesMSFT for the analyze and answer. I just create a task in power bi community.

[2019-04-24 23:09] maggiesMSFT commented on #977
Hi, @v-dakoz -- good catches! I'm updating the article today to tell folks to put the ctid=*ctid* at the end of the URL, as you discovered yourself.
For your 2nd point, the product team says:
As for the part about encoding “/” (slash), either “~2F” or “%2F” should work. The %2F will get converted to ~2F in the URL, but that shouldn’t affect anything.

[2019-04-24 23:09] #977 closed

[2019-04-24 23:13] maggiesMSFT commented on #964
Hi, @mcalistor -- thanks for your question! I'm checking and will get back to you.

[2019-04-25 00:54] maggiesMSFT commented on #448
Hi, @Ventilios -- apologies for the delay! I too have heard similar remarks from others.
Here's the answer from the product team:

If a user want to browse to the workspaces and view items in it, they need a Pro license.
If you want to distribute content from a workspace to others, you have the following options:
1.	Give them a pro license, then give them access to the workspace, share the item, o

[2019-04-25 00:54] #448 closed

[2019-04-25 00:57] maggiesMSFT commented on #654
Thanks for asking, @subashsivaji! I updated the article on April 14 but neglected to reply to you. Here's the answer:
Either your entire organization, or individuals, Office 365 groups, distribution lists, and Active Directory security groups, whether email-enabled or not.
Thanks again!

[2019-04-25 00:57] #654 closed

[2019-04-25 04:18] NikhilGaekwad-MSFT commented on #948
Hi @amit2505 - the Power BI service ships weekly and we post all the major announcements on our blog: https://powerbi.microsoft.com/en-us/blog/. You will typically find the roll out schedule for each feature there. We usually have a 3 - 4 day period before everyone in the world receives the feature/update as part of safe deployment practices. If you encounter issues with your report, please file a

[2019-04-25 15:43] jburns157 commented on #588
Hi Maggie,

After about an hour of trying to get this to work, I have failed!  I do not see any "ctid" generated when I look at a link to a Power BI app.  Thus, I don't know where / how to append the code you discuss above.  We are not running Premium.  Can you please advise how / where to find the CTID?  Or, if it's not visible, how it can be found?  Here is the link when the app loads:

https://

[2019-04-25 17:57] maggiesMSFT commented on #588
Hi, @jburns157 -- Hmmm, agreed, that's a puzzle. I just tried creating a query string for a report in an app. The URL didn't have 'ctid' in it either. So I created the URL without the ctid and it worked fine. Try that.
Meanwhile I'll check some more.
thx!

[2019-04-25 18:03] jburns157 commented on #588
Hi!  Thanks for helping.  When you say that you built the URL without the ctid, does that mean (for the below link), that you chopped off the last section that happens after "ReportSection"?  And are you using the "?" or the "&"?

https://app.powerbi.com/groups/me/apps/c1d03b08-8706-47a7-8da6-a5294697d87a/reports/4f336567-1c3f-44b1-bf6e-c0e5a7acc419/ReportSection00b3a19702d303247519

Thanks!

[2019-04-25 18:19] maggiesMSFT commented on #588
Hi, @jburns157  -- I used the ? because you only need the & to separate parameters, and I had only one. So it was:
ReportSection5?filter=<Table-Name>/<field-name> eq 'value'
But now I'm wondering. I created the app myself from an app workspace, so even though I'm viewing it in the app, it may not be acting as it would if the app were shared with me. Need to check.

[2019-04-25 18:22] maggiesMSFT commented on #539
Hi, @Ghuiles -- good question! Reading mode is in the Power BI service. When you first open a report, it's in reading mode. If you have edit permissions, you can select Edit Report in the upper-left corner. Then you're in edit mode. If you don't have edit permissions, Edit Report is grayed out.

[2019-04-25 18:32] maggiesMSFT commented on #588
Oh! Git very helpfully removed the text because I put it in brackets. Here it is:
ReportSection5?filter=_table-name/column-name_ eq 'value'
see if that shows up better

[2019-04-25 19:13] jburns157 commented on #588
Hi Maggie,

I'm sorry for the delayed response!  I just got back to my desk.  I have tried this and it does not work, sadly.  The browser just routes back to app.powerBI.com.

I have pondered if the random string in the URL that comes after "ReportSection" might be the culprit, but I have not been able to figure it out.

[2019-04-25 20:14] maggiesMSFT commented on #588
Hi, @jburns157 -- yup, it was because I was the author. When I tried same with a report in an app I couldn't edit, I did indeed get the ctid. And when I added it after the ?filter = part, it worked. Like this:
https://app.powerbi.com/groups/me/apps/_app-id_/reports/_report-id_/ReportSection3?filter=_Table/field_ eq '_value_'&ctid=_ctid_

[2019-04-25 21:05] jburns157 commented on #588
Hi @maggiesMSFT , I just tested this extensively.  Very strange - it worked a single time for me.  After the initial success, it repeatedly fails now.  When I click the link now, it shows the proper URL, thinks for a millisecond, and then replaces the URL with the "?filter" logic with just app.powerbi.com, and it loads a blank page.  I took my test user out of all workspaces - all the user has acc

[2019-04-25 22:05] maggiesMSFT commented on #588
Hi, @jburns157 -- hmmm. Sounds like time to hit up the community and/or support sites, I'm afraid.
https://community.powerbi.com/ and https://powerbi.microsoft.com/en-us/support/

[2019-04-26 00:32] maggiesMSFT commented on #964
Hi, @mcalistor -- OK, here's the answer: you're right, the Export to PDF currently doesn’t maintain the filter. A fix is planned. I'll add it to the Considerations section of the article. Thanks!

[2019-04-26 00:32] #964 closed

[2019-04-26 07:09] loove commented on #981
谢谢！

[2019-04-26 14:35] joelvega opened #993 "Checkmarks and Ellipsis Don't Follow Format Settings"
When using the new filter pane, the checkmarks for the filter boxes and the ellipsis don't follow the font and icon color settings in the format pane. We use a dark theme and no matter what both of these icons are always black.

Here is the example of the checkbox:

![image](https://user-images.githubusercontent.com/1467291/56815221-c5456100-680e-11e9-846b-c5c8ee392c83.png)
![image](https://user-i

[2019-04-26 16:46] RevengeIsOurs opened #994 "Legend"
After conditional formatting, how do we get a legend to appear on the visual?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af9ce3a-a3eb-8d57-55a7-66f04f46bbf7
* Version Independent ID: 58e304ed-89d2-3c85-4428-acefedaef5c0
* Content: [Conditional table formatting in Power BI Desktop - Power BI](https://docs.microsoft

[2019-04-26 17:12] markingmyname commented on #993
Hi, @joelvega, can I ask what particular article you are referencing ht has this information?

Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page. If you have any feedback related to the documentation, please feel free to log in thro

[2019-04-26 17:12] #993 closed

[2019-04-26 17:13] markingmyname commented on #994
Hi @RevengeIsOurs,

Thanks for your comment, @[github person who posted]. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-04-26 17:13] #994 closed

[2019-04-26 18:42] jzuchora87 opened #995 "Billing Profile ID"
"You can get your billing profile ID from the Azure portal. Navigate to Cost Management + Billing, select your billing account, and then select Biling profiles in the sidebar. Select your billing profile and select Properties in the sidebar. Copy your billing profile ID."

Can you please update the doc on how to accurately find the billing profile id? I'm an EA customer and the profile ID I see in

[2019-04-26 20:03] vsun2018 opened #996 "Is it "will not appear" or "will now appear" ?"
[content of this page]
Existing dashboard: select the name of the dashboard from the dropdown. Dashboards that have been shared with you will not appear in the dropdown.
[/content of this page]

Is it "will not appear" or "will now appear" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eccfbc1d-74ab-9c0d-9fee-6085080

[2019-04-26 21:01] rlhane opened #997 "Amazingly awesome page"
So many doc pages are a value void.  But this one is a black hole--that is, so dense with knowledge it sucks you in.  Here's ONE more thing that should get drawn into it... For some particular reporting needs you DON'T need Direct mode at all.  For reports where a scheduled nightly refresh is enough, Import mode protects their underlying databases from the impact of intense queries on multiple rep

[2019-04-26 21:19] DonzellDawson commented on #292
Thank you @markingmyname for your timely response.

What I understand from @eino-makitalo inquiry and your reply is that I am not able to utilize our created PBI embedded links for our PBI reports to display on our digital signage (ScreenCloud) screens.  When we try illustrate our reports through our digital signage screens we get the PBI Sign In Page instead because we haven't tied  to Azure Acti

[2019-04-26 21:19] KDAylesworth commented on #476
The usage metrics are not showing up for items in an App that I created. This issue has been reported by other people on the Power BI community site, but so far I have not seen a solution.

[2019-04-26 22:35] maggiesMSFT commented on #996
Hi, @vsun2018 -- yes, it's right as written: "will not appear." I hope that helps!

[2019-04-26 22:35] #996 closed

[2019-04-26 22:47] maggiesMSFT commented on #995
Hi, @jzuchora87 -- thanks for your comment! I've referred it to the author, who'll get back to you.

[2019-04-26 23:44] maggiesMSFT commented on #997
Hi, @rlhane -- thanks for the feedback! I've assigned it to the author, who will get back to you.

[2019-04-27 05:01] hongju opened #998 "Translation issue"
This document was not translated in Korean.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 5192cd8b-545c-5b98-6491-46d5097fcad8
* Version Independent ID: 5e70ae61-72a5-7203-c061-c1d747105ecc
* Content: [Tutorial: Build a Machine Learning model in Power BI (Preview) - Power BI](https://docs.microsoft.com/ko-kr/power-bi/service-tutorial-build-machine-learnin

[2019-04-29 14:41] otravers opened #999 "Making feature restrictions explicit"
This page should state explicitly that Analyze in Excel is a Power BI service feature which makes it unavailable in Power BI Report Server and Power BI Embedded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content:

[2019-04-29 19:26] dlopez831 opened #1001 "Natural language queries (Q&A)"
According to this article Natural language queries (Q&A) capability is available both in dashborard and reports. If so, then it should not be in the table because it is not a difference. If not, then it should be fixed.
According to this earlier article https://docs.microsoft.com/en-us/power-bi/consumer/end-user-reports it is not available in reports.

---
#### Document Details

⚠ *Do not edit thi

[2019-04-29 20:51] AAKum opened #1002 "Filtering a slicer"
Is filtering a slicer functional yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a76e2-8d94-5e76-bfb6-971c3b2c7c85
* Version Independent ID: f7bd2111-3bb0-fb08-0f23-a31efd407f66
* Content: [What's new in the latest Power BI Desktop update? - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-latest-upda

[2019-04-29 23:40] davidiseminger commented on #998
Thanks for your comments @hongju  - sorry for the inconvenience. Your translation process sometimes takes a while to run through all our content, so it may still be coming. Thanks for your comment.

[2019-04-29 23:40] #998 closed

[2019-04-29 23:41] davidiseminger commented on #999
Thanks for your comment @otravers - we'll let the writer know so the article can be updated.

[2019-04-29 23:42] davidiseminger commented on #999
Added author, labels.

[2019-04-29 23:43] davidiseminger commented on #1001
Thanks for your comment, @dlopez831 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-04-30 14:40] danpere opened #1003 "PDF connector no longer preview-only"
As announced here ( https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-april-2019-feature-summary/#pdf ), as of the April 2019 release, the PDF connector is now a generally available feature, so enabling it is no longer necessary and the "(beta)" tag is no longer part of the connector name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-04-30 22:50] mcalistor commented on #964
Good deal and thanks for the heads up!  Looking forward to reducing the number of clicks for our users.

[2019-05-01 04:53] mihart commented on #1002
Thanks for your comment, @AAKum . This looks like a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team at https://community.powerbi.com.

[2019-05-01 04:53] #1002 closed

[2019-05-01 04:57] mihart commented on #1003
Thanks for catching that issue, @danpere ! This issue has been assigned to the doc author for review.

[2019-05-01 13:46] stevejmorgan opened #1004 "PBI Embedded doesn't support Paginated Reports"
This page refers to the PBI Embedded "A" SKUs but paginated reports aren't supported in Embedded as per internal Teams discussion with PBICAT team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09cf6129-9d7f-0e47-75f3-89f5df01c5e9
* Version Independent ID: a1d90b2d-0e8b-da1f-fa30-a3294a98dc25
* Content: [Paginated rep

[2019-05-01 17:12] sgoley opened #1005 "Changing gateway parameter isanchorgateway through powershell module?"
Is there any possibility of adding a parameter to the Set-OnPremisesDataGateway module that can change the "Anchor Gateway" for that cluster?

Example:

`Set-OnPremisesDataGateway -ClusterObjectId **example-clusterid**  -GatewayObjectId **example-gatewayid** -MemberStatus Enabled -isAnchorGateway True`

Granted, this might be an extremely rare use case but it would prevent me from having to go thr

[2019-05-01 17:15] SarinaJoan commented on #864
@joninmoz thanks for highlighting this. We are transitioning the content pack to a template app, so will take this into account if it can be fixed in the report. Adding @cpopell for visibility on this issue with the connector.

[2019-05-01 17:19] SarinaJoan commented on #812
Hi @bradfarley, thanks for bringing this up. We are close to releasing this content pack as a template app, would you be open for a chat to see if these issues still show in the new app?

[2019-05-01 17:26] SarinaJoan commented on #516
Thanks for the feedback, we just updated the Zendesk content pack to a template app and will take these changes into account

[2019-05-01 18:53] mgblythe commented on #1004
Thanks for your comment, @stevejmorgan. This issue has been assigned to the doc author for review.

[2019-05-01 18:55] mgblythe commented on #1005
Thanks for your comment, @sgoley. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-05-01 18:55] #1005 closed

[2019-05-01 22:30] maggiesMSFT commented on #1004
Hi @stevejmorgan -- thanks for your question!
The article says you can use “paginated reports on P1 – P3 SKUs for public preview. You may also use it for test/dev scenarios with A4 – A6 SKUs,” and it says you can’t use PBI embedded at all. So I'm not sure what you're asking.
Thanks!

[2019-05-01 22:37] maggiesMSFT commented on #988
Hi, @apfenech and @NickyvVr -- I've deleted it for now.
Thanks!

[2019-05-01 22:37] #988 closed

[2019-05-01 23:22] Mike-Honey opened #1006 "Re-publish with a refresh schedule triggers an immediate cloud refresh"
From my observation (and confirmed by threads in the community forums), when you re-publish and you have a refresh schedule defined, the web service starts a cloud refresh immediately after you publish. This should probably be optional or explicit in the Publish UI, but can you start by documenting it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-02 06:26] g33kay commented on #476
Tried creating the copy of the Usage Metrics, however, the dataset is not getting added. Any additional settings i need to enable to create the dataset?

[2019-05-02 10:03] LordUber opened #1007 "github issue"
I am using a fully updated Windows 7 installation. When I "get data" for github in Power BI , I am asked to sign in. I then get to the "authorise github for power bi" page but I can't click the authorise button. At the top of the pop-up box I have a message, "Github no longer supports Internet Explorer." Can I get this page to pop-up in Chrome rather than IE? My default browser is Chrome. Thanks

[2019-05-02 15:00] johnnycardy opened #1008 "Incorrect Authorize Uri"
`https://login.microsoftonline.net/common` should be `https://login.microsoftonline.com/common` I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179b0-7f3d-77de-239b-a33c9d30ff61
* Version Independent ID: ab708f2a-3cb5-fcf3-9733-a2bc26b09e60
* Content: [Authenticate users and get an Azure AD access token fo

[2019-05-02 15:55] maggiesMSFT commented on #1007
Hi, @LordUber --sorry to hear you're having this issue. Can you explain your issue at the support site, https://powerbi.microsoft.com/en-us/support/? I hope that helps.

[2019-05-02 15:55] #1007 closed

[2019-05-02 17:00] bretf-ik opened #1009 "AuthorityUri is incorrect"
The AuthorityUri shown in the various code snippets incorrectly points to login.microsoftonline.net when it should be .com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ccad8d-7403-3c43-4393-b4c5070bee56
* Version Independent ID: b12911fe-8b9b-8f77-491e-fc628b458ebe
* Content: [Create a dataset - Power BI](https://

[2019-05-02 22:29] Oddjobe opened #1011 "Outdated pictures"
The pictures under "Finding Parameter Values" needs an update/new screenshot to reflect current look and feel!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84a51592-74c3-54c1-1c57-fc102648cb2f
* Version Independent ID: efac35dc-4ea4-483c-7b63-412abeaf053c
* Content: [Azure SQL Database with DirectQuery - Power BI](ht

[2019-05-03 16:18] dkozhukhar opened #1012 "oracle version"
Is it essential/better to use 12.1.0.2.4 ? Or I can go ok with any newver driver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335cbd5df919
* Version Independent ID: 46a896f9-4707-adc3-72cd-5444a5d0f802
* Content: [Connect to an Oracle database - Power BI](https://docs.microsoft.com/en-us/powe

[2019-05-03 20:00] itshudak commented on #52
Way late to this conversation, but this is exactly what I was looking for! Thank you. This should definitely be added to the main doc.

[2019-05-03 23:17] #487 closed

[2019-05-03 23:21] maggiesMSFT commented on #505
Hi, @spikylellie -- Good question! I'll check for an answer. Thanks!

[2019-05-03 23:26] maggiesMSFT commented on #167
Hi, @kvijay7 -- is this still an issue for you? If so, I recommend contacting support, https://powerbi.microsoft.com/en-us/support/.
Good luck!

[2019-05-03 23:26] #167 closed

[2019-05-03 23:27] #864 closed

[2019-05-03 23:29] #516 closed

[2019-05-05 23:23] duncanwil opened #1013 "Very useful page"
Sorting in Excel and PBI can be problematic and this page has given me the perfect solution for small data set I am analysing.

Thanks for creating this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7502a07a-7f30-882d-7542-2a194651c421
* Version Independent ID: e3c6e2fd-b672-6858-864c-69026d36c0ae
* Content: [Use

[2019-05-06 08:35] atomek1000 opened #1014 "How long is the cache persisted before invalidating/refreshing"
How long is the cache persisted before invalidating/refreshing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13962e5-2d39-a6cd-274c-2317477acc22
* Version Independent ID: 099fe9f8-0c2b-b359-b761-251587a0ab76
* Content: [Query caching in Power BI Premium - Power BI](https://docs.microsoft.com/en-us/power-bi/power-bi-

[2019-05-06 16:41] shalosi opened #1015 "Please clarify the scope of using Azure Consumption Insights connector and the Azure Cost Management connector"
Hello team,

Please add the note that if the EA customer is trying to use the Azure Cost Management connector and they don't see the 'Billing Profile ID' in their Cost Management Blade, they are not in the Modern Commerce Platform, so they have to use the Azure Consumption Insights connector instead and it won't ask the 'Billing Profile ID' only the EA enrollment number. That is the issue that the

[2019-05-06 19:00] SarinaJoan commented on #496
Hi rat-af, thanks for your feedback. This content pack will be either improved or deprecated within two months, please expect changes soon.

[2019-05-06 19:02] SarinaJoan commented on #619
Hi @jvincke, we currently do not support tenant selection for cloud instances. If you are running on-prem, the tenant is the instance you are connecting to and that is part of the URL path you enter when connecting.

[2019-05-06 19:11] #619 closed

[2019-05-06 19:12] #496 closed

[2019-05-06 19:15] maggiesMSFT commented on #1008
Hi, @johnnycardy -- thanks for pointing that out. I've assigned this to the author.

[2019-05-06 19:16] maggiesMSFT commented on #1006
Hi, @Mike-Honey -- thanks for your observation. I've assigned this to the author.

[2019-05-06 19:18] maggiesMSFT commented on #1009
Hi, @bretf-ik -- thanks for pointing this out. I've assigned this to the author.

[2019-05-06 19:19] maggiesMSFT commented on #1011
Hi, @Oddjobe -- thanks for your observation! I've assigned this to the author.

[2019-05-06 19:21] maggiesMSFT commented on #1012
Hi, @dkozhukhar -- thanks for your question! I've assigned this to the author. In the meantime, I suggest asking the Power BI community, https://community.powerbi.com/.

[2019-05-06 19:22] maggiesMSFT commented on #1013
Hi, @duncanwil -- so glad to hear it! I've assigned this to the author, and I'm closing it. Thanks for letting us know!

[2019-05-06 19:22] #1013 closed

[2019-05-06 19:38] mgblythe commented on #986
Assigning to me, following up with PM. @skgitti - are you still running into issues?

[2019-05-06 21:17] #812 closed

[2019-05-06 21:20] #351 closed

[2019-05-06 21:22] maggiesMSFT commented on #1015
Hi, @shalosi -- thanks for your suggestion! I've assigned this to the author.

[2019-05-06 21:26] maggiesMSFT commented on #1014
Hi, @atomek1000 -- got an answer for you: "it is just persisted until the next time the dataset is refreshed."

[2019-05-06 21:26] #1014 closed

[2019-05-06 21:27] atomek1000 commented on #1014
What about direct query?

On Mon, 6 May 2019, 23:26 Maggie Sparkman, <notifications@github.com> wrote:

[2019-05-07 10:36] jasonwbaxter1990 opened #1016 "VirtualEnv / Dependencies"
Hi , So i'm looking at testing this out , and i have a few questions around how to manage python dependencies etc.

So currently i use VirtualEnv  to separate out dependencies between projects , I don't however see PowerBi options to connect or activate virtualenv , but i also may have multiple python projects with different versions etc .

Should i combine my projects and try resolve the dependen

[2019-05-07 15:01] dethompson97 opened #1017 "Multi-Geo"
For the views and rankings in a multi-geo setting, is this calculated for all tenants (ex. Europe, East US and Asia) or for each individual tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719feeea-d688-78bf-fef5-8b58c2fb047f
* Version Independent ID: 78793fa4-e2e2-7113-3652-b1165ee92145
* Content: [Monitor usage

[2019-05-07 15:58] davidiseminger commented on #1016
Thanks for your comment, @jasonwbaxter1990 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-05-07 15:58] #1016 closed

[2019-05-07 15:59] davidiseminger commented on #1017
Thanks for your comment, @dethompson97 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

You might also find your answer from the community (https://community.powerbi.com)

[2019-05-07 16:39] ekozelek opened #1018 "Dynamic RLS when Power BI report is embedded"
I'd like to know if I could setup RLS on the Analysis Services & then embed that report in our web application. The identifier would be passed from our app to the report.

Currently, we use RLS on Power BI using an import connection. Our app passes the identifier to the report & users only see what they should. The issue is that import is a difficult model to maintain when you're working with a lo

[2019-05-07 21:16] williamdlupo opened #1019 "pbiviz --install-cert crashes powershell"
pbiviz --install-cert outputs error:

This command cannot be run due to the error: The system cannot find the file specified.
At line:1 char:1
+ start C:\Users\...\AppData\Roaming\npm\node_modules\powerbi-vis ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [Start-Process], InvalidOperationException
    + FullyQualified

[2019-05-07 21:19] goelkir opened #1020 "Color Map Legend"
How to show the colormap legend on the graph, so that user can get a visual clue regarding which color means what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3066fc06-cbb2-def8-1505-cccbb818c147
* Version Independent ID: aedfaa65-1253-f7f0-c0bd-2c89bc0a21f5
* Content: [Tips and tricks for color formatting in Power

[2019-05-08 00:32] maggiesMSFT commented on #1017
Hi, @dethompson97 -- I got an answer for you: "I assume by tenants they mean capacities in this question.
If so then the answer is that usage is across the tenant, regardless where the capacities are."

[2019-05-08 00:32] #1017 closed

[2019-05-08 00:35] maggiesMSFT commented on #1018
Hi, @ekozelek -- thanks for your question! Are you referring to a particular article?
I recommend asking the community, https://community.powerbi.com/. Hope that helps!

[2019-05-08 00:36] maggiesMSFT commented on #1019
Hi, @williamdlupo, I've assigned your question to the author. In the meantime I recommend asking the Power BI community, https://community.powerbi.com/.

[2019-05-08 01:32] #1018 closed

[2019-05-08 01:35] mihart commented on #1020
Thanks for your comment, @goelkir . This issue has been assigned to the doc author for review. In the meantime, can you provide a little more detail on the issue you raised? Is there an example chart you can point us to?

[2019-05-08 17:40] vrod9429 opened #1021 "powerbi alerts"
The suggestion does not work to create powerbi alerts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b2fae9-3356-f90c-8b3c-647aa2ad5f75
* Version Independent ID: 5ee251f0-8e8b-47eb-937c-356e15c341ba
* Content: [Set data alerts in the Power BI service - Power BI](https://docs.microsoft.com/en-us/power-bi/service-set-

[2019-05-08 18:11] scyto commented on #986
Followed the doc, my dataset indicates it is refreshed but shows all data as blank in the app AND in the excel ODBC connection.

[2019-05-08 19:15] scyto commented on #986
Ok i just tried to use powerbi desktop and got this, is the app broken?
![image](https://user-images.githubusercontent.com/11369180/57401611-e56c0d00-718a-11e9-8562-2c2ec4ba6764.png)

[2019-05-08 23:33] finnbr opened #1022 ".Net Core Master User Example"
Hello,

I am trying to create a .Net Core 2.2 app owns data/master user example.  The problem I am running into is with this line:
var credential = new UserPasswordCredential(Username, Password);
This is apparently not supported in .Net Core but is supported in .Net Framework.

Can you please explain how to get a token for using app owns data/master user (authentication with username and password)

[2019-05-09 04:20] lynchmob98 commented on #655
When I try this, PowerBI tells me "The server name cannot have more than 128 characters", so this documentation does not help me.

[2019-05-09 04:35] lynchmob98 commented on #655
What eventually worked for me for "Server" was ... HOST_NAME:PORT_NUM/SERVICE_NAME

[2019-05-09 08:18] AMSoftwareNL opened #1023 "Server Core not supported"
Please add to the requirements Server Core installations are not supported. Installation succeeds, but sign in the Azure fails as no IEFRAME.DLL is available on Server Core.
Support for Server Core would be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version I

[2019-05-09 12:23] skgitti commented on #986
yes, still having same issues - it will open file to Excel, but it is just blank/empty.

[2019-05-09 13:39] Athimoolaganesh opened #1024 "Grant type support issue"
.Net ADAL does not support UserPassword credential grant type, AcquireTokenAsync does not have constructor to accept userpassword credential parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179b0-7f3d-77de-239b-a33c9d30ff61
* Version Independent ID: ab708f2a-3cb5-fcf3-9733-a2bc26b09e60
* Content: [Authentica

[2019-05-09 16:14] stimms opened #1025 "Token acquisition code out of date"
There are multiple other issues(#521, #200, #953) on this which have been closed without being resolved. But in .NET Core there is no way to authenticate with a user name and password using ADAL 3.0. The sample should be updated to show authenticating and acquiring a token without user name and password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-09 16:38] SimonSD43 opened #1026 "This is just a sample - the CircleCard visual circlecard.pbiviz could not be used for different data set after packaging the visual"
Thanks for the tutorial on CircleCard visual. However, the data 256396 is hard-coded and it could not be changed with different data set that I put in. How can I change the data input on the CircleCard visual?

Please help...
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f573b62f-4028-ce65-b5ae-a4115ee1bcd1
*

[2019-05-09 17:29] mjc543 opened #1027 "Limitations section - contradiction"
In the Limitations section, Clustered Column chart is mentioned twice; once in "full use of..." list and again for "trend line ... only option" - which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbf6763-4952-5335-cefb-ae4e85fd9028
* Version Independent ID: cb734eb1-fb6d-b7aa-735a-17b5ba8ca7fd
* Content: [Us

[2019-05-09 18:42] scyto commented on #986
my issue was fixed this morning, i think the API I was down yesterday or something.

[2019-05-10 14:12] mgblythe commented on #1022
Thanks for your comment, @finnbr. This issue has been assigned to the doc author for review.

[2019-05-10 14:14] mgblythe commented on #1023
Thanks @AMSoftwareNL. We're reworking the gateway docs, and I'll add this to the backlog.

@arthiriyer as FYI

[2019-05-10 14:17] mgblythe commented on #1024
Thanks for your comment, @Athimoolaganesh. This issue has been assigned to the doc manager for review.

In the meantime, can you provide some additional info - is the issue an error in the docs or a limitation of the API?

[2019-05-10 14:27] mgblythe commented on #1025
Thanks for your comment, @stimms. This issue has been assigned to the doc manager for review.

[2019-05-10 14:29] mgblythe commented on #1026
Thanks for your comment, @SimonSD43. This issue has been assigned to the doc author for review.

[2019-05-10 14:30] mgblythe commented on #1027
Thanks for your comment, @mjc543. This issue has been assigned to the doc author for review.

[2019-05-10 14:30] danmyhre opened #1028 "Content Add Request"
Please add a page that describes:
- the types of data sources that can be used in embedded scenarios
- whether or not imported and directquery sources can be used
- whether or not gateways can be used with embedded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a447889-379d-3ded-9ab9-313c4f55a667
* Version Independent

[2019-05-10 14:31] mgblythe commented on #1028
Thanks for your comment, @danmyhre. This issue has been assigned to the doc manager for review.

[2019-05-10 18:14] jcondina commented on #533
Same thing if High Contrast theme is used, which should be even clearer to read

[2019-05-10 22:32] Mike-Honey opened #1029 "Missing info on assigning Power BI Pro licenses to Guest users"
The info above in the section "Assign licenses in Office 365" does not work for Guest users. The "Product Licenses" information is (stupidly) hidden.  The task can be achieved by checking the box for the Guest user, then hitting the More button and choosing Edit Product Licenses.

It's described in some detail in this answer:
https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-ms

[2019-05-13 13:27] Anmolgan81 opened #1031 "Does the connector for on-premise SAB-BW version 7.0 works with the PowerBI and On-premise data gateway?"
Can anyone tell me if the connector for on-premise SAP-BW version 7.0 works with the PowerBI and On-Premise data gateway or do we need to upgrade the SAP-BW 7.0 to a higher version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ffc50e-bb57-9a79-ab89-2cbd9ca1e335
* Version Independent ID: c0a48358-4144-6d9f-f4c0-b274

[2019-05-13 14:01] n8lauscher opened #1032 "Expression.Error: Der Name "Web.BrowserContents" wurde nicht erkannt. Ist er richtig geschrieben."
Dear,

the problem will be explained in this forum post:
https://community.powerbi.com/t5/Desktop/automatic-parsing-website-and-create-table-from-data/m-p/689900#M332674

What is the reason for this error message:
Web.BrowserContents

Version
2.68.5432.241 64 Bit
Language:
DE

Code:
[code]

[2019-05-13 19:09] sammcquistan opened #1033 "When can we expect SSO Compatibility?"
SSO Compatibility for the ServiceNow PowerBI service would make reports much more dynamic, rather than having to manually compile reports. Using Microsoft SSO.

[2019-05-13 19:53] #1033 closed

[2019-05-13 20:09] jordanmills opened #1034 "Missing steps under admin controls?"
Under "Admin controls for usage metrics - for Power BI administrators" this document shows "usage metrics for content creators".  But that is not there (or anywhere else I can find) in my admin controls.  Where else do I look for it?  Or, even better, how can I make these changes with powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-05-13 21:05] ybulman opened #1035 "Left Navigation Pane Missing QBO Links"
Hello,

In this article it states;

After Power BI imports the data, you see a new dashboard, report, and dataset in the left navigation pane. New items are marked with a yellow asterisk *.

I have connected successfully but I still don't see these links in the navigation pane

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-14 08:59] ArvidBaa opened #1036 "Output format"
I miss an explanation on the output format for the script. Should the script simply end with a DataFrame in a variable with name df, or is it more generic than that? If I want to import and combine multiple DataFrames (as the introduction indicates is possible), then how should the DataFrames be saved? In an array with a specific name? Or, perhaps Power BI will import each individual DataFrame var

[2019-05-14 14:51] markingmyname commented on #1025
@stimms Thank you for catching this in this article.  This information was updated in another article - https://docs.microsoft.com/en-us/power-bi/developer/get-azuread-access-token#troubleshoot.

However, I also updated the NuGet download link to be more current.

Hope this helps.

Thank you.

[2019-05-14 16:42] BrianPie opened #1037 "Billing Profile ID and Tenant ID"
After entering Billing Profile ID , Power Query Editor returns the message "TenantId: Failed to discover tenantsBillingAccountId: Failed to discover tenants"   Would someone add in the permission requirements needed to access the data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0

[2019-05-14 18:29] markingmyname commented on #1025
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-14 18:29] #1025 closed

[2019-05-14 20:28] salasosvaldo commented on #672
It is not working for me, using REST API and doing a POST I get this error:
    "error": {
        "code": "PowerBIEntityNotFound",

[2019-05-14 22:52] databoxinsights opened #1039 "Add Intellisense in Scripting Pane"
Please add an intellisense option when scripting in Python within M queries :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070da3e8-5146-a2ca-9ac3-ed77621fc050
* Version Independent ID: 2dcfbb4b-3661-50bb-43b7-050aa77e710d
* Content: [Running Python Scripts in Power BI Desktop - Power BI](https://docs.microsoft.com/