[2020-03-06 09:43] #1850 closed

[2020-03-06 09:47] SamirFarhat opened #1914 "Access to Azure Cost details like Management Groups, Azure Cost Management Budgets..."
Hi,
There is a lot of confusion when a connector uses the EA APIs to get usage data, and we don't know if it will collect data related to Management Groups, Azure Budgets...
Can you please note if the connector will collect data from the Azure Cost Management API in case of EA ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-03-06 10:09] ourcloudnetworkcom opened #1915 "Billing ID and permissions"
I have an issue that when referring to 'Billing ID', is it actually referring to the Subscription ID within our Microsoft Partner Network subscription? Also it does not advise of the role assignment requirements? for example, wanting read-only access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d

[2020-03-06 10:24] paulinbar commented on #1909
Hi @UhmBrock , thanks for the observation. I have corrected the markdown file so the image should now display correctly when the docs are next built later today. Thanks again!

[2020-03-06 10:24] #1909 closed

[2020-03-06 10:29] paulinbar commented on #1908
Hi @w0ut0 , thanks for your comment. I have forwarded it on to the doc author for consideration.

[2020-03-06 14:26] paulinbar commented on #1910
Hi @hablaras , thanks for your comment. I am forwarding the article on to the author for consideration.

[2020-03-06 14:30] paulinbar commented on #1911
Hi @indiana-nikel , thanks for your question. You've reached the doc authors, and I think yours sounds like a product question. I am forwarding your question on to the doc author and perhaps she'll be better able to direct your question.

[2020-03-06 19:00] matt-davis27 commented on #1814
@maggiesMSFT I too cannot see the Web URL selection under Conditional Formatting. I am currently using September 2019 version of Power BI as my employer's PBIRS uses that version. I asked a co-worker who is using the latest version of Power BI (February 2020) and he can see that selector. Can you add a disclaimer in the considerations that outlines the required version of Power BI to use this new

[2020-03-06 19:48] maggiesMSFT commented on #1493
Hi, @savoy9 -- yes, I've gotten confirmation for users in any role can read data stored in workspace dataflows. I'll add that to the table in the article. Thanks for asking and thanks for your patience!

[2020-03-06 19:48] #1493 closed

[2020-03-06 19:50] savoy9 commented on #1493
Thanks @maggiesMSFT

[2020-03-06 19:56] maggiesMSFT commented on #1493
The change will be live later this afternoon (Pacific time)

[2020-03-06 20:02] maggiesMSFT commented on #1912
Hi, @burnzy -- thanks for asking! Referring to the author to investigate.

[2020-03-06 20:03] maggiesMSFT commented on #1913
Hi, @lauratsui -- good question! Referring to the author to investigate.

[2020-03-06 20:04] maggiesMSFT commented on #1914
Hi, @SamirFarhat -- good question! Referring to the author for more information.

[2020-03-06 20:05] maggiesMSFT commented on #1915
Hi, @Daniel-AFK12 -- good question! Referring to the author to investigate.

[2020-03-06 23:16] maggiesMSFT commented on #1814
Great point, @matt-davis27 ! The Power BI Report Server version of Power BI Desktop rolls up features from the last several months and releases a few times a year. So you will be able to see it soon, assuming you can install a newer version of Power BI Report Server plus Power BI Desktop.

[2020-03-07 01:29] maggiesMSFT commented on #1780
Hi, @sjnovick -- thanks for your patience! You need to create a support case to handle this. https://powerbi.microsoft.com/en-us/support/

[2020-03-07 01:29] #1780 closed

[2020-03-07 14:18] YassinePBI opened #1917 "info in this page is bit outdated."
Dataset size for shared capacity is limited to 1 GB but for premium it can go over 10 GB.
Free users personal storage shows now as 10 GB not 1GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5-ffd4-a32a-541bab72ffa7
* Content: [Manage data sto

[2020-03-08 04:11] ElectricLlama opened #1918 "Drill through will not traverse a relationship"
Please add a section on 'what doesn't work'. I've found that if you have a header import table with OrderId and a detail direct query table, also with OrderId, with a relationship defined, drill through doesn't recognise the relationship. i.e. both the source and taget pages need OrderId from one table only. So either the source header page needs the detal OrderId, OR the target detail page needs

[2020-03-08 04:11] ElectricLlama commented on #1845
I agree, perhaps you could use the terminology "Source" and "Target" and include a diagram.

[2020-03-08 05:03] ElectricLlama commented on #1658
That isn't Azure SQL Database, it's SQL Server installed in a VM (This is called IaaS). Yes you need to install a gateway on your VM. Yes, your VM is in the cloud, but it isn't the "PaaS" version of SQL Server, it's in the IaaS version. I hope this helps.

[2020-03-08 09:45] DIDIHBABS opened #1919 "Can not Download data"
The link to download the Excel workbook isn't responding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7499eea2-bb50-3b31-530a-fd92911f1f92
* Version Independent ID: 8eecfe46-e9bc-c78a-077f-1d048ef22a28
* Content: [Quickstart Connect to data in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/de

[2020-03-09 06:58] cpopell commented on #1770
Can we close this issue?

[2020-03-09 10:52] #1919 closed

[2020-03-09 11:19] rwlpf opened #1920 "EM-SKU"
The link to the calculator ONLY gives prices for P-SKU I am still struggling to find the pricing for the EM-SKU.  Why is it so difficult to find?  Even the Microsoft employees only link the calculator which ONLY gives prices for the P-SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea1adec6-8c0c-a72c-c165-19a72bae7

[2020-03-09 12:28] kaysauter opened #1921 "Reference to Kimball 2nd Edition -> 3rd Edition"
I think the reference to Kimballs book should note that there is a 3rd edition (2013) unless there is a good reason to refer to the older one.
Suggestion: The Data Warehouse Toolkit: The Definitive Guide to Dimensional Modeling (3rd Edition 2013) by Ralph Kimball and Margy Ross

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-09 13:16] janizz commented on #1791
Being an Marco's avid learner, I was also baffled by the ordering :) did you really optimize the many-to-many to be so fast?

[2020-03-09 13:33] rwlpf commented on #255
Nice to know somethings are kept secret :-(

[2020-03-09 16:12] MuggleMaggic opened #1922 "Dashboard Subscriptions are not receiving notification emails after data refresh"
I selected a notification frequency of "after data refresh (once daily)". The subscription was established for a start date of the 3/6/2020. After subscribing to the dashboard, we performed a data refresh to test the notifications we'd received. I never got an email notification for the dashboard.
<img width="439" alt="Dashboard Subscription" src="https://user-images.githubusercontent.com/54996791

[2020-03-09 18:08] pfprado opened #1923 "Timeout"
I try to refresh my data from Project Web App to Power BI but I get an error for timeout, how I can to reduce to the PWA data volume, for example the last year? Thanks

[2020-03-09 19:03] cmajka commented on #1854
I believe this issue was related to not having downloaded and installed the latest version of PBI Desktop. I thought i had it but apparently i did not. Once i installed the latest version, the error went away - now i have a new issue! lol

[2020-03-10 02:14] pullmyleg commented on #1913
Hi, any update on when this will be back online? Even an indication of timeframe e.g. 1 week, month, a year or never would be great... Thanks!

[2020-03-10 06:52] ThomasKwakman opened #1926 "Typo can can't"
**Typo can can't**
When you connect to those multi-dimensional sources by using DirectQuery, you **can can't** connect to another DirectQuery source or combine it with imported data.

[2020-03-10 10:37] chrolivier opened #1927 "ExpressRoute document should be restored"
The file \articles\powerbi-admin-power-bi-expressroute.md was removed as part of the following commit: 11fe374752b613721e83b9ba39e6e2e2e16baca5

I believe this was a mistake because the information is still relevant and I have not been able to find a replacement for this page on the documentation site as it stands today.

[2020-03-10 12:34] boylec opened #1928 "Migrate to Service Principal Inaccuracy"
Under "Migrate to Service Principal" this page says "However, if you're using the traditional workspaces, copy or move your Power BI artifacts and resources into the new workspaces, and then add the service principal as an admin to those workspaces."

However, can't a user simply go to app.powerbi.com -&gt; Edit workspace -&gt; Advanced -&gt; Upgrade Now without having to copy things over manually

[2020-03-10 12:36] boylec opened #1929 ""Get started with a service principal" section confusion"
Step 1. provides a link to "Register a service-side web application", but when one follows the guide found in "Register a service-side web application" and uses the PowerBI Onboarding Tool to register a new application, it says directly in that tool on the bottom "Note: An application registered here can’t be used as a service principal."

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-10 12:38] boylec opened #1930 "The Onboarding Embed Tool page"
The embed tool page links to this doc on the bottom where it says "Note: An application registered here can’t be used as a service principal."

But the "Register with the Power BI Application Registration Tool" section on this page seems to imply that using the tool for service principals is completely fine because it mentions selecting certain options if you are expecting to use the app registrat

[2020-03-10 12:46] KesemSharabi commented on #1881
Thank you for your comment @kenakamu.

We're in the process of updating the Power BI visuals docset. As part of this process, we'll also update the tutorials.

Please take into account that this may take some time.

Kesem

[2020-03-10 12:46] #1881 closed

[2020-03-10 12:51] KesemSharabi commented on #1864
Thank you for your comment, @Joe8908.

We're in the process of updating and refreshing the embedded analytics content. As part of this process we'll update the [Service principal with Power BI](https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal) article, and make sure it is linked to from other relevant documents.

Please note that this may take some time.

Kesem

[2020-03-10 12:51] #1864 closed

[2020-03-10 13:37] KesemSharabi commented on #1890
Hi @Neenisharma,

According to our development team the master account can it be an account that is synced from on-prem using AD Connect.

In any case, this looks like a support request or product question rather than documentation feedback.

If you need further assistance, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https:/

[2020-03-10 13:37] #1890 closed

[2020-03-10 13:56] KesemSharabi commented on #1840
Hi @joaoverissimo,

The limitations are described in [Power BI REST API limitations](https://docs.microsoft.com/power-bi/developer/automation/api-rest-api-limitations?redirectedfrom=MSDN).

Please check your call to find out which limitation you're exceeding.

For further assistance, open a [support ticket](https://support.powerbi.com).

[2020-03-10 13:56] #1840 closed

[2020-03-10 14:43] CeciAc opened #1931 "Update bookmark after changing visibility of selection"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.nl-nl/issues/6

@BeFresh78 commented 21 hours ago — with docs.microsoft.com
Please note: When using the selection pane in combination with bookmarks, make sure you right-click on the corresponding bookmark an click "update" after changing the visibility of a selection. Otherwise visibility will revert to default.

---
#

[2020-03-10 15:32] mihart commented on #1926
desktop-storage-mode

[2020-03-10 15:32] mihart commented on #1926
Thanks for your comment, @ThomasKwakman . This issue has been assigned to the doc author for review.

[2020-03-10 15:34] mihart commented on #1927
Thanks for your comment, @chrolivier . This issue has been assigned to the doc author for review.

[2020-03-10 15:35] mihart commented on #1928
Thanks for your comment, @boylec . This issue has been assigned to the doc author for review.

[2020-03-10 15:36] mihart commented on #1929
Thanks for your comment, @boylec . This issue has been assigned to the doc author for review.

[2020-03-10 15:37] davidiseminger commented on #1900
Thanks for your comment, @PAPutzback. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-10 15:37] mihart commented on #1930
Thanks for your comment, @boylec . This issue has been assigned to the doc author for review.

[2020-03-10 15:38] mihart commented on #1931
Thanks for your comment, @CeciAc . This issue has been assigned to the doc author for review.

[2020-03-10 15:38] davidiseminger commented on #1917
Thanks for your comment, @YassinePBI . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-10 15:39] davidiseminger commented on #1918
Thanks for your comment, @ElectricLlama . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-10 15:41] davidiseminger commented on #1920
Thanks for your comment, @rwlpf . This looks like a support / sales request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-10 15:41] #1920 closed

[2020-03-10 15:42] davidiseminger commented on #1921
Thanks for your comment, @kaysauter . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-10 15:43] davidiseminger commented on #1922
Thanks for your comment, @MuggleMaggic. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-03-10 15:43] #1922 closed

[2020-03-10 15:44] davidiseminger commented on #1923
Hi @pfprado  - could you include the page you're asking about, so we can investigate? Thanks.

[2020-03-10 15:52] pfprado commented on #1923
Hi @davidiseminger , the page is this:
https://docs.microsoft.com/en-us/power-bi/service-connect-to-project-online
Thanks

[2020-03-10 16:59] R-Rustamli commented on #1876
@maggiesMSFT @heyrob  thank you

[2020-03-10 18:09] CeciAc opened #1933 "The R script that works on my side"
@Photogratte commented on [Tue Mar 10 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/21)

dataset <- read.csv(file="C:/Users/gmalherbe/OneDrive - Groupe Pichet/Projets/Formation Power BI/Microsoft Power BI R/EuStockMarkets_NA.csv"
                    , header=TRUE, sep=",", dec=".", na.strings="NA")
#summary(dataset)
library(mice)
library(dplyr)
md.pattern(dataset)
tempData <- mi

[2020-03-10 18:16] CeciAc opened #1934 "Erreur dans le script R qui ne fonctionne pas en l'état car pb de colinéarité"
@Photogratte commented on [Tue Mar 10 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/20)

dataset <- read.csv(file="C:/Users/gmalherbe/OneDrive - Groupe Pichet/Projets/Formation Power BI/Microsoft Power BI R/EuStockMarkets_NA.csv"
                    , header=TRUE, sep=",", dec=".", na.strings="NA")
summary(dataset)
library(mice)
**library(dplyr)**
md.pattern(dataset)
tempData <-

[2020-03-10 18:49] kfollis commented on #1927
Hi @chrolivier - In my review I discovered that the Power BI ExpressRoute article was retired more than 2 years ago. You can find documentation for the ExpressRoute service here: https://docs.microsoft.com/en-us/azure/expressroute/ and a list of Power BI URLs here: https://docs.microsoft.com/en-us/power-bi/power-bi-whitelist-urls. I believe this satisfies the requirements to deploy.

[2020-03-10 19:18] culpgrant commented on #1368
Dataflow incremental refresh is still limited to premium even with pro users getting incremental refresh?

[2020-03-10 20:11] joonassoukki opened #1935 "Incremental refresh and a model update"
Hi, I could not find from the docs how a model update should be handled? Now it seems that when the incremental refresh is applied, a new version of an existing data model replaces the old one and always starts updating from the scratch. This will cause unwanted wait time when it comes to production usage?

[2020-03-10 20:26] joonassoukki commented on #1631
Any plans/workarounds for this problem?

[2020-03-11 03:37] f14eagle opened #1936 "Encounter without SameSite error when visit the embed report"
Hi,

I followed the article and added the report to a HTML page, everything works fine, except some users report that they encountered below issue:

`A cookie associated with a cross-site resource at https://app.powerbi.com/ was set without the SameSite attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with SameSite=None and Secure.`

I have c

[2020-03-11 06:27] mihart commented on #1933
Thanks for your comment, @Photogratte. This issue has been assigned to the doc author for review.

[2020-03-11 06:29] mihart commented on #1934
Thanks for your comment, @CeciAc . This issue has been assigned to the doc author for review.

[2020-03-11 06:31] mihart commented on #1935
Thanks for your comment, @joonassoukki . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-11 06:31] #1935 closed

[2020-03-11 06:32] mihart commented on #1936
Thanks for your comment, @f14eagle . This issue has been assigned to the doc author for review.

[2020-03-11 07:31] Estiane opened #1937 "Build permission for Free license users"

[2020-03-11 07:31] #1937 closed

[2020-03-11 07:41] Estiane opened #1938 "Permission on Shared Datasets"
Need some explanation regarding the issue we are facing around the shared datasets and the permissions on the model side. I have a premium capacity and we are letting users use this to build reports in their own workspaces. They are admins in their own workspaces and only have read and build permissions on the shared datasets. They do not reside in the workspace itself where the model is (premium

[2020-03-11 14:31] KesemSharabi commented on #1938
Thanks for your comment, @Estiane.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-03-11 14:31] #1938 closed

[2020-03-11 17:20] ebram-sifain opened #1939 "Power BI Direct Query Error"
Hello everyone, I need help due Direct Query Error  .
I’m trying to contact with Oracle Schema using an Direct Query option but unfortunately it gives me this Error Message:
“Cannot load model
We couldn't connect to your DirectQuery data source or internal model. Double-check that your server and database names are correct, and that you have permission to access them.

The managed provider 'Oracle

[2020-03-11 19:15] CeciAc opened #1940 "account"
The comments below were machine-translated

@lucas378 commented on [Wed Mar 11 2020](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/34)

How do I reopen an account. because he is no longer of this type with this icon for "reopen your account"

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: c12d

[2020-03-11 22:42] peter-myers commented on #1921
Hi @kaysauter - thanks for pointing out the older book reference. I've updated the article today. #please-close

[2020-03-11 22:42] #1921 closed

[2020-03-12 10:17] KesemSharabi commented on #1856
Hi @code-po8,

To the best of my knowledge the link hasn't changed.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-03-12 10:17] #1856 closed

[2020-03-12 13:31] lucas378 commented on #1940
a conta que estou tentando usar é rafael.porto@grupofortaleza.co
preciso reabrir ela

[2020-03-12 15:17] paulinbar commented on #1939
Hi @ebram-sifain , thanks for reaching out to us. You used a channel that gets to the documentation team, and I think you have more of a support question that we can't really help you with. I suggest you try either the [Power BI Community]( https://community.powerbi.com) or our [support page](https://support.powerbi.com). Hope you find the help you need!

[2020-03-12 15:17] #1939 closed

[2020-03-12 15:28] realdanielbyrne opened #1941 "Documentation is unclear in regards to conditional coloring using DAX"
The brief section "Color based on a calculation" is unclear and misleading.
- The section references using a DAX formula but an M formula is shown instead.
- The formula show is referencing a table, "Expanded State Codes 1" , but that table is not part of the sample referenced on this page.  The screen shot at the top of the page shows only 2 tables, "State codes" and "Best states for sun...".
- I

[2020-03-12 21:19] davecope1982 opened #1942 "Full screen mode for tablets"
Is it possible to go into full screen mode when viewing reports on a tablet?

And if so - how? I cannot remove the grey banner, filter pane or report page list from view at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 052edfa5-0db0-da15-88c0-7841f4149347
* Version Independent ID: fa7d4f3d-6480-700b-bd67-3edcc4648

[2020-03-12 22:23] paulinbar commented on #1941
Hi @realdanielbyrne , thanks for your comment. I am forwarding it along to the doc author for consideration.

[2020-03-12 22:26] paulinbar commented on #1942
Hi @davecope1982 , what tablet are you using? Are you viewing the report on the Power BI service or are you using the Power BI mobile app?

[2020-03-12 22:37] davecope1982 commented on #1942
On an iPad using the mobile app

[2020-03-12 23:07] paulinbar commented on #1942
Hi again @davecope1982 . Judging from this https://docs.microsoft.com/en-us/power-bi/consumer/end-user-focus#what-is-full-screen-mode, and also my own experience, I believe that full screen mode with reports is only possible for Windows 10 mobile apps, not on iOS and Android. However, I can ask some people and get a definitive answer for you, but I might not be able to get that until Sunday. I can

[2020-03-12 23:13] paulinbar commented on #1942
Hi yet again, @davecope1982 ... now I am not sure.. do you have towards the upper right of your screen a diagonal two-headed arrow? That is supposed make the report go to full screen.

[2020-03-12 23:18] paulinbar commented on #1942
@davecope1982
![image](https://user-images.githubusercontent.com/54644589/76575626-6e00bb80-64c8-11ea-8d34-dafa7596b0a4.png)

[2020-03-13 03:14] boylec opened #1944 "Migrate to service principal detail"
It took quite awhile to figure out that I had to change my authority url to https://login.microsoftonline.com/{my AAD tenant id} from https://login.microsoftonline.com/common.

May want to mention this here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c135bb4c-618b-478d-bce7-ac8608e3caac
* Version Independent ID: a2

[2020-03-13 09:28] paulinbar commented on #1944
Hi @boylec , thanks for your suggestion. I am forwarding on to the doc author for consideration. Thanks!

[2020-03-13 09:35] davecope1982 commented on #1942
![Open PowerPlatformDemoADCMotors007 in Power BI](https://user-images.githubusercontent.com/49394333/76608702-ffdee780-650d-11ea-86fb-a99a51b384ed.png)

[2020-03-13 09:55] RAJU2529 opened #1945 "Help please"
how to  add images or screenshots in docs.microsoft.com articles , i am a contributor on docs.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 917c3c6b-e10e-2623-e7ba-e7b804a23a3b
* Version Independent ID: bdf7ffe2-3795-abd6-fe64-2b263386a42e
* Content: [Add images, videos, and more to your dashboard - Powe

[2020-03-13 10:01] paulinbar commented on #1942
Hi @davecope1982 , ok, I have a feeling that full screen for reports must not supported for the iPad, since I am pretty sure that if it was there, you would have found it. It may be available for tiles.. i.e. if you open up one of the tiles on the report you might see those arrows. But let me check with the app developers, and I'll get  back to you. As I said, that might not be until Sunday, since

[2020-03-13 12:22] pellodan commented on #532
Also, if they use Analyze in Excel, the filters are REMOVED

[2020-03-13 14:56] rritec commented on #1624
I Think this issue is resloved, iam seeing right data.

[2020-03-13 15:59] lucas378 commented on #1940
Algum retorno ?

[2020-03-13 16:50] maggiesMSFT commented on #1859
Hi, @EricMaibach -- you're right, connection string expressions aren't supported in Power BI Paginated reports. We've removed that from the article to avoid future confusion. Thanks for bringing it to my attention!

[2020-03-13 16:50] #1859 closed

[2020-03-13 17:43] PowerBiGuy opened #1946 "Operation Name for publication of a report"
There does not seem to be an obvious Operation Name for the event of publication of a report from Desktop to the Power BI service. If this exists, what is it called? If it does not exist then how can this event be determined from logs?

[2020-03-13 17:45] maggiesMSFT commented on #1945
Hi, @RAJU2529 -- which article are you trying to contribute to? This article that you commented on is not about adding images to docs articles. It's about adding images to Power BI reports. If you can tell me the article you're interested in, I can see who you need to get in touch with.

[2020-03-13 17:47] maggiesMSFT commented on #1946
Hi, @PowerBiGuy -- are you referring to a specific article? If not, you might try posting your questions in the Community forum, https://community.powerbi.com/.
Thanks!

[2020-03-13 17:53] PowerBiGuy commented on #1946
Sorry, I was linked here from this article: https://docs.microsoft.com/en-us/power-bi/service-admin-auditing#use-the-activity-log

[2020-03-13 18:08] maggiesMSFT commented on #1946
Thanks, @PowerBiGuy ! Assigning to the author for further investigation.

[2020-03-13 18:27] RAJU2529 commented on #1945
@maggiesMSFT . Thanks for your reply , here is the article  address , i want to replace existing screenshot to new one

**https://docs.microsoft.com/en-us/windows/security/identity-protection/credential-guard/credential-guard-manage#feedback**

[2020-03-13 19:38] maggiesMSFT commented on #1945
Hi, @RAJU2529 -- I've contacted the owner of that article and asked them to get in touch with you. Good luck!

[2020-03-13 19:38] #1945 closed

[2020-03-13 21:34] #1927 closed

[2020-03-14 09:34] LydiaLim93 opened #1947 "Cannot find "Sort by Column" button for March 2020 version of PowerBI Desktop"
Can someone please update this documentation, as the "Sort by Column" button doesn't seem to be located under the "Modelling" tab anymore. I have looked high and low but to no avail!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91ac-4947-c2e5-a05

[2020-03-14 22:12] MACEL94 commented on #1683
Hi

is there a chance i will get any answer on this matter?
Or should i close this issue?

Thank you anyway

[2020-03-15 14:07] paulinbar commented on #1942
Hi @davecope1982 ,
I asked the Mobile app people, and indeed, the full screen for reports is currently only supported for phones, not tablets. They were interested in your feedback however and encourage you to suggest what you want as a new idea in the [user voice forum](https://ideas.powerbi.com/forums/265200-power-bi-ideas/filters/new?category_id=105939). Anyway, thanks for your comment. I am go

[2020-03-15 14:07] #1942 closed

[2020-03-15 16:59] AeliusRuivus opened #1949 "Publish to web"
Upgrading (or creating a new workspace) renders the "Publish to Web" option unusable. It generates the link, but it returns the message "This content isn't available...".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3645c7a6-ea10-3dc5-2120-aa17355278ec
* Version Independent ID: 2d13d46d-1eaf-b767-cc88-5663c9191ee1
*

[2020-03-16 07:05] YvonneArnoldus commented on #1906
Thank you it is hidden well but I found it.

[2020-03-16 07:05] #1906 closed

[2020-03-16 13:40] RichG36 opened #1951 "Missing SKUs"
You list P SKUs P1 - P3 but there's no mention of P4 and P5 which were added in 2018? https://powerbi.microsoft.com/en-us/blog/power-bi-service-and-mobile-february-2018-feature-summary/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Independent ID: e307e1d7-e565-8742-e563-

[2020-03-16 14:17] CeciAc opened #1952 "About Private IP environment"
@YoshitakaTakada commented on [Mon Mar 16 2020](https://github.com/MicrosoftDocs/powerbi-docs.ja-jp/issues/25)

Add the following as a cautionary note.
"When using Azure SQL Database with Private IP," On-premises data gateway is required. "

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 563a1b09-bcdc-2638-d9a0-6801b44d3cb0
* Version Independent ID: d

[2020-03-16 14:33] jboriott opened #1953 "Broken link"
At the end of the third large paragraph is a link for "Office 365 Compliance Framework."  That doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b73941-7a77-b7e6-01a5-6d088f7c50ec
* Version Independent ID: ca5a44b2-88c7-e03d-4e94-a0a727160fff
* Content: [Power BI security whitepaper - Power BI](https://doc

[2020-03-16 15:59] boylec opened #1954 "Scheduled Refresh Timeout"
This section claims that if a dataset is in a premium capacity workspace then the timeout will be increased to 5 hours.

I have a dataset in a premium capacity workspace wherein the refresh is timing out after 2 hours.

Is there some discrepancy/inaccuracy in this documentation or some way to enable this increased timeout for a premium capacity workspace/dataset that isn't documented?

---
#### Do

[2020-03-16 19:46] davidiseminger commented on #1947
Thanks for your comment, @LydiaLim93, and sorry for the inconvenience. Let us take a look at what happened there, and get back to you shortly. Thanks!

[2020-03-16 19:47] davidiseminger commented on #1947
Adding tags

[2020-03-16 19:47] davidiseminger commented on #1949
Thanks for your comment, @AeliusRuivus . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-16 19:48] davidiseminger commented on #1951
Thanks for your comment, @RichG36. Let us take a look at that, and respond to this thread shortly. Thanks!

[2020-03-16 19:49] davidiseminger commented on #1952
Thanks for your comment, @CeciAc. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-16 19:50] davidiseminger commented on #1953
Thanks for your comment, @jboriott. Let us look into that link, and respond to this thread shortly. Thanks!

[2020-03-16 19:51] davidiseminger commented on #1954
Thanks for your comment, @boylec. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-16 22:22] maggiesMSFT commented on #1936
Hi, @f14eagle -- thanks for sending your issue! Currently investigating. Question I've gotten: "Is this error actually blocking the customer?"
Is the error keeping users from viewing your report in the HTML page?
Thanks!

[2020-03-17 12:52] baibhav-82 opened #1957 "D365 RDL support"
Hi,

Does it support D365 SSRS reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0feb8663-445d-8536-37ae-068672c7a5b9
* Version Independent ID: 4818af9e-c69b-0fbe-a106-0d1d711b9f0d
* Content: [Publish a paginated report to the Power BI service - Power BI](https://docs.microsoft.com/en-in/power-bi/paginated-report

[2020-03-17 13:12] adamwp1993 opened #1958 "need clarity"
"Once a report is published, the maximum number of concurrent queries sent to the underlying data source also depend upon fixed limits. The limits depend on the target environment to which the report is published. Different environments, such as Power BI, Power BI Premium, or Power BI Report Server, can impose different limits."
This is extremely vague, what are these limitations?

---
#### Docume

[2020-03-17 13:15] mikegoatly opened #1959 "Limitations - which are likely to be resolved for GA?"
This blog post (https://powerbi.microsoft.com/en-us/blog/export-report-to-pdf-pptx-and-png-files-using-power-bi-rest-api/) suggests that some of the limitations are only there for public preview ("Other public preview limitations..."). Only one listed here mentions that it's for public preview only - should the take-away be that the others will still be there for GA?

I'm specifically interested i

[2020-03-17 15:09] mihart commented on #1891
Hi @rbrundritt ,
I've updated the shape map visual and it should go live by tomorrow.  Thank you for your help with the docs.

[2020-03-17 15:09] #1891 closed

[2020-03-17 15:11] mihart commented on #1911
Thanks for your comment, @indiana-nikel . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-17 15:11] #1911 closed

[2020-03-17 19:25] mihart commented on #1957
Thanks for your comment, @baibhav-82. This issue has been assigned to the doc author for review.

[2020-03-17 19:26] mihart commented on #1958
Thanks for your comment, @adamwp1993 . This issue has been assigned to the doc author for review.

[2020-03-17 19:27] mihart commented on #1959
Thanks for your comment, @mikegoatly . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-17 19:27] #1959 closed

[2020-03-17 22:37] baatch commented on #1846
Hello?

[2020-03-18 09:16] Koning53 opened #1960 "Why are there guidelines about 'embedding for your customers' on this page?"
The sentence "If you're embedding reports, dashboards, or tiles for your customers, then you have to place your content within a workspace." is a bit confusing as this page describes embedding for your organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90078026-b608-ccf2-f3ef-58021b484f75
* Version Independen

[2020-03-18 09:44] ScarlettChild opened #1961 "Package Request"
It would be great to be able to install the nCov2019 from Github to use in PowerBI - Thanks

[2020-03-18 13:59] vivekParanjape opened #1962 "drill through on working in embedded report"
I have switched on the option for drill through for a visual in the data/drill tab.
It is working fine in desktop and service but not when embedded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Set up drill

[2020-03-18 14:02] vivekParanjape commented on #1962
It is working with options menu on the right click but i need it to work on the left click as it does in the desktop and the service.

[2020-03-18 16:01] lucas378 commented on #1940
????????????????

[2020-03-19 15:12] ShawnPOWER opened #1964 "Is Row Level Security (RLS) available when doing this type of embedding?"
Be nice if the article could describe the RLS support such as the Embed report in secure portal or website does here: https://docs.microsoft.com/en-us/power-bi/service-embed-secure. Second to last sentence in the first paragraph at this time. Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e0

[2020-03-19 15:26] lucas378 commented on #1940
algum retorno ?

[2020-03-19 16:02] ColeenB opened #1965 "Validate the roles within Power BI Desktop with UPN"
The screenshot of the View as roles popup (item #3) shows only the "Other" box checked. I tried this and the visualizations were not filtered for the user whose UPM I entered. I had to check the "Other" box AND the box with the Role Name in order for it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-9

[2020-03-19 18:33] kfollis commented on #1940
Please see this related community thread: https://community.powerbi.com/t5/Service/Unable-to-reopen-a-closed-account/td-p/371394. If you are unable to use these steps and your admin is unable to reassign a license, please visit http://support.powerbi.com for further assistance.

[2020-03-19 18:46] mimckitt opened #1966 "Get assigned user information?"
I am wondering if it is possible to pull in information about issues and who they are assigned to. Currently I find that the only assignee information available using the default settings is in regards to pull requests. I am interested in looking at total number of open issues (Which I can do) as well as who those issues are assigned to in GitHub.

 And if this is not included in this app, is ther

[2020-03-19 20:03] kfollis commented on #1900
@PAPutzback - thanks for your patience while I investigated. We're working on the requested feature enhancement. Unfortunately I can't give a specific timeline, but we do expect this to be available in the near term.

[2020-03-19 20:03] #1900 closed

[2020-03-19 20:08] kfollis commented on #1673
@Mholsen - thanks for being patient while I checked into this. RefreshDataset doesn't distinguish between manual and scheduled refresh. We recognize that this is something needs to be improved, but don't yet have a timeline for the work.

[2020-03-19 20:08] #1673 closed

[2020-03-19 21:26] paulinbar commented on #1960
Hi @Koning53 , thanks for your observation. I am passing it on to the doc author for consideration.

[2020-03-19 21:27] amlucius opened #1967 "Azure Data Lake Storage Gen2 connector"
The connector works in GCC. Not sure about GCC High or DoD. Can someone please update the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-1739cdf7528d
* Version Independent ID: 1e70d724-121d-feea-471e-307c2f27dd24
* Content: [Power BI for US Government customers - Overview - Power BI](https

[2020-03-19 21:58] kfollis commented on #1967
@amlucius - thanks for helping us keep things current! This change has been made and you should see the update shortly.

[2020-03-19 21:58] #1967 closed

[2020-03-19 22:09] kfollis commented on #1852
Hi @TravisKale - Thanks for your patience while I researched. We acknowledge that DeleteDatasetRows  can be a nuisance. And, unfortunately, the filter action only supports "equal" & "and", making it impractical to exclude events. Today, the better approach is to download all events and then exclude or delete in the local archive. I've shared your feedback with the product group.

[2020-03-19 22:15] kfollis commented on #1946
Hi @PowerBiGuy - I got some clarification around your question and made a couple of updates to the article to make sure the answer is documented. Publishing from desktop to the service is a CreateReport event in the service.

[2020-03-19 22:15] #1946 closed

[2020-03-19 22:17] kfollis commented on #1762
@olyamusok - Thanks for being patient while I investigated. Yes, it can take up to 24 hours for an event show up. It typically happens much sooner than that. I've added a note to the article to make that clarification.

[2020-03-19 22:17] #1762 closed

[2020-03-19 22:19] kfollis commented on #1720
@o-o00o-o - thanks for the patience while I researched your question! No, you won't miss data by using the timestamp values as shown in the examples. There is no timestamp larger than '2019-08-31T23:59:59' or smaller than '2019-09-31T00:00:00. The events fall on either boundary and will be included accordingly. I've added a note to the article to make that clear.

[2020-03-19 22:19] #1720 closed

[2020-03-20 06:45] helloworld2019-joy commented on #1913
Hi, please advise the way to access facebook data from bi ! thanks a lot!

[2020-03-20 11:37] paulinbar commented on #1962
Hi @vivekParanjape , thanks for reaching out to us. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com). Thanks and good luck!

[2020-03-20 11:37] #1962 closed

[2020-03-20 11:42] paulinbar commented on #1961
Thanks for your comment, @ScarlettChild . I am not sure I understand your suggestion, but in any event your comment looks like product feedback or a product question, rather than documentation feedback (you've opened an issue on the documentation site). You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also enga

[2020-03-20 11:42] #1961 closed

[2020-03-20 11:44] paulinbar commented on #1964
Thanks for reaching out to us, @ShawnPOWER . I am looking into your comment, and will get back to you. Thanks!

[2020-03-20 13:12] amkumar5 opened #1968 "Embed"
Embed documentation is in 5 lines but it it's not working at all.
and as a PBIRS product user am having tough time to get support as Name is similar. even though searching PBIRS, getting all results for PBI.
am looking for embed in Regular Sharepoint and am always getting search results for 'SharePoint Online'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-03-20 13:15] chrisbues opened #1969 "Image is transparent, and doesn't show up in dark mode"
This image: https://docs.microsoft.com/en-us/power-bi/media/desktop-default-member-multidimensional-models/default-members_01.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970bf2d5-28fc-cc40-0f5c-7bac93c47bd9
* Version Independent ID: 79d25279-d612-23e0-5689-9fddc8ad15b4
* Content: [Default member in multidimensio

[2020-03-20 14:04] TravisKale commented on #1852
@kfollis This issue is not about the filtering capability, its that the documentation I point to does not have the DeleteDatasetRows operation defined.  The only reason I mention the filtering is because of the lack of sophistication in the tooling, I need to know all the possible operations to filter out what I don't want, i.e. I have to call out every operation I do want.

[2020-03-20 15:26] Petryxasport opened #1970 "Microsoft Project Web App supports only En-us Language(1)"
After typing different language we always see the English.
![issue](https://user-images.githubusercontent.com/17165899/77177984-7adc6b00-6ad7-11ea-9290-1a50be051f6e.png)
We would like to see not only default languages.
Can we change the url parameters to support language like this: http://.../_api/ProjectData/[ru-ru]
Because Rest API supports ru-ru and other :)

[2020-03-20 16:43] sqlchick opened #1971 "Looks like this is a duplicate page"
Hi there. Just a heads up that it looks like this page is a duplicate of another page with the same name. The other one has been updated more recently. See 8 items higher on the left nav that has the same name, or here: https://docs.microsoft.com/en-us/power-bi/desktop-tips-and-tricks-for-creating-reports

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-20 16:45] mimckitt commented on #1966
I also found out some additional information while playing around with this.

If you use PowerBI desktop, you are able to pull the dataset from GitHub and get the assignee information which is great! However, when pulling from the GitHub data set in PowerBI desktop, you no longer pull the information about the labels on each issue.

Hence, I am stuck in the middle with The GitHub app having everyt

[2020-03-20 17:00] paulinbar commented on #1966
Hi @mimckitt , well, it sounds like you are farther along in all this than I am.. my only advantage is that one of my PMs is the template apps person and he knows that app pretty well. I'll ask him after the weekend hopefully we'll managed to sew together your two solutions lol... in any event, I'll move our communication over to teams or email. Thanks for the further comments!

[2020-03-20 17:00] #1966 closed

[2020-03-20 17:09] mimckitt commented on #1966
Sounds great. Thanks for taking the time :)

[2020-03-20 17:30] kfollis commented on #1852
Thanks for clarifying @TravisKale. I've reopened your issue and am looking into the enhancement you've requested. For the task you're describing, the better approach is to download all events and then exclude or delete in the local archive. But if I understand what you're asking for correctly, you can't tell what you do want because you're not sure that the operations list includes all the operati

[2020-03-20 18:14] maggiesMSFT commented on #1971
Hi, @sqlchick -- thanks, you're right! They're not exactly the same, either. Assigned to the author to investigate.

[2020-03-20 18:18] TravisKale commented on #1852
@kfollis Yes, that is my main concern, not all operations are listed in the documentation, well at least one for sure, and I need a comprehensive list to make sure I'm not excluding anything by not including it in my include list.

[2020-03-20 18:19] maggiesMSFT commented on #1970
Hi, @Petryxasport -- I'm sorry to hear this! It appears to be a product issue, not a documentation issue. I recommend trying the support site, https://powerbi.microsoft.com/en-us/support/. Good luck!

[2020-03-20 18:19] #1970 closed

[2020-03-20 18:20] maggiesMSFT commented on #1969
Hi, @chrisbues -- thanks for catching that. I'll pass your feedback to the author.

[2020-03-20 18:27] maggiesMSFT commented on #1968
Hi, @amkumar5 -- thanks for the feedback! I'll look into it. In the meantime I recommend checking the SQL Server Reporting Services documentation, https://docs.microsoft.com/en-us/sql/reporting-services/create-deploy-and-manage-mobile-and-paginated-reports.. Hope that helps.

[2020-03-20 20:05] klinejordan opened #1972 "Exchange Online doesn't support shared inboxes in the service"
It should be called out that Power BI Service only supports Exchange Online if the connection is to a user's individual account, not shared inboxes. We've had multiple teams in our company run into this limitation and be frustrated as it is not documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c24

[2020-03-21 12:30] DonPetry-EY opened #1973 "Additional Troubleshooting Scenarios"
Hello... I wanted to share that we're facing PBI Desktop sign-in issues on a secured DSVM.  It appears that there additional sign-in requirements such as Javascript being enabled in IE.  See https://community.powerbi.com/t5/Desktop/Problem-signing-in-to-Power-BI-script-error/td-p/586231

Also, there doesn't seem to be an option to use an alternative browser or use a device code.

Can we enhance th

[2020-03-22 03:05] manu3lco opened #1975 "Missing old ribbon"
I cannot find how to go to the query editor and the article doesn't explain what it has been removed in detail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a9e0e5-9166-bbd6-5ab2-7dc552d2d5d7
* Version Independent ID: 5478be1c-64f8-2b5e-f51f-06d3311f89b9
* Content: [Use the updated ribbon in Power BI Desktop (previ

[2020-03-22 15:54] wcom939 opened #1976 "Sorting is not working for performance_bucket export from Azure"
Please see the attached files, when exporting a sort by "performance_bucket" the ordering is wrong on the X axis.

Azure:
![image](https://user-images.githubusercontent.com/16446451/77253876-db80ba80-6c33-11ea-839d-3d23f1148f63.png)

Power Bi Desktop:
![image](https://user-images.githubusercontent.com/16446451/77253868-c73cbd80-6c33-11ea-8bfb-92099ef08797.png)

[2020-03-22 19:24] Gangula2 commented on #1947
Previously the "Sort By Column" used to be in the Modeling tab. But, it has been moved to Contextual Tab - "Column Tools".

But the button is **not working properly** as described in the documentation.
![image](https://user-images.githubusercontent.com/22996896/77258450-ac546280-6ca0-11ea-8d9a-137bbed92f12.png)

[2020-03-22 22:06] Mike-Honey opened #1977 "Add description of the Selection pane"
The Selection pane should be referenced in the section on z-order. It probably needs it's own page in docs, which seems to be missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e311f65-8df9-951f-6398-bab28566c8d5
* Version Independent ID: c227717d-d15e-9e34-2874-47c8dfb2e23a
* Content: [Use gridlines and snap-to-

[2020-03-22 22:07] Mike-Honey opened #1978 "The Selection pane section incomplete."
The Selection pane section does not describe the z-order change features. The Selection pane actually has several features which don't appear to be documented anywhere in docs? I recommend it get's it's own page, then this page could just link to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-6

[2020-03-23 03:50] juchen0411 opened #1979 "If Azure consumption feture support China EA?"
Hi team,
We have partner in China using China Azure (hosted by 21VNet), and they would like to know if China EA enrollment and key are able to fetch the data? We assume this function is limited to global Azure EA only, is it correct? Thank you.

[2020-03-23 16:59] elfohl opened #1980 "Data Source Hive LLAP added March 2020"
Can we get this source added to the document and the grid populated with functionality available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.microsoft.com/en

[2020-03-23 21:51] sajas-s opened #1981 "incorrect url for "authorityUrl" for GCC"
"authorityUrl" key for GCC should be &lt;add key="authorityUrl" value="https://login.microsoftonline.com/common/" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0658cf44-97c9-cb23-68bd-146f29eb644c
* Version Independent ID: e05ed89e-2dfa-0d31-4198-9170a33ef120
* Content: [Embed content in your application for gov

[2020-03-24 00:23] maggiesMSFT commented on #1968
Hi, @amkumar5 -- yes, that's the best resource to answer your question. Hope that helps!

[2020-03-24 00:23] #1968 closed

[2020-03-24 05:46] KerryWang94 opened #1982 "Download Feature does not support Shared Capacity."
Please contact Siqwang if you need any further information, if report is build on Shared Dataset, it won't be able to download.
Action Need : Updated Document that this is currently not supported

Workspace 1 : User 1: Create dataset and give permission to User 2 (only build permission)

User 2 Logs in Desktop

Connect to the above dataset

Publish the report to workspace 2

User 2 logs into servi

[2020-03-24 05:47] KerryWang94 commented on #1982
Sorry, shared datasets, wrong titile

[2020-03-24 07:57] wgeerts69 commented on #1715
Getting an errror as well with the ODAC version mentioned in the document indicating it is an old version.

[2020-03-24 15:47] andyjwest opened #1983 "Failed to start"
I ran into some dependency issues, which seems to happen regardless of env with pbiviz 3.1.10.

Error: Cannot find module '@babel/plugin-proposal-numeric-separator'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal

[2020-03-24 16:33] ThomasJanuary88 commented on #1535
Hi, @maggiesMSFT, is this fix coming soon?
Thanks.

[2020-03-24 16:39] abnadi opened #1984 "Issue collecting data"
We make us of the Microsoft Azure Consumption Insight plugins in PowerBI (online version)
to collect consumption data. SInce 2 weeks we cannot collect any more data.

message we receive:
Data source error The 'Consumed Quantity' column does not exist in the rowset. Table: Usage Details

[2020-03-24 16:55] alex-v-ivanov opened #1985 "Incremental Refresh through custom connector"
Is it possible to implement incremental refresh for my own data source using On-premises gateway and a custom connector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in Power BI - Power

[2020-03-24 17:24] mihart commented on #1982
Thanks for your comment, @KerryWang94 . This issue has been assigned to the doc author for review.

[2020-03-24 17:27] mihart commented on #1984
Thanks for your comment, @abnadi. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-24 17:27] #1984 closed

[2020-03-24 17:28] mihart commented on #1985
Thanks for your comment, @alex-v-ivanov . This issue has been assigned to the doc author for review.

[2020-03-24 21:56] burnzy commented on #1912
Hi @maggiesMSFT / @davidiseminger -- wondering if in the meantime, could you please let me know what the required permissions are? We are still struggling to find the minimum required GCP IAM permissions required for powerbi to be able to read from a bigquery dataset. We'd rather not be over-permissive in this case if possible. Do you happen to know?

[2020-03-24 21:58] davidiseminger commented on #1981
Thanks for your comment, @ssalahud1 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-24 21:58] davidiseminger commented on #1972
Thanks for your comment, @klinejordan - we’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-24 22:01] davidiseminger commented on #1973
Thanks for your comment, @DonPetry-EY. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-24 22:01] #1973 closed

[2020-03-24 22:04] davidiseminger commented on #1975
You can open Power Query Editor on the main (new) ribbon, in the Home ribbon, by selecting the **Transform data** button.

[2020-03-24 22:04] #1975 closed

[2020-03-24 22:05] davidiseminger commented on #1976
Thanks for your comment, @wcom939 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-03-24 22:05] #1976 closed

[2020-03-24 22:06] davidiseminger commented on #1977
Thanks for your comment, @Mike-Honey. We’ve assigned your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-24 22:07] davidiseminger commented on #1978
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-03-24 22:08] davidiseminger commented on #1980
Thanks for your comment, @elfohl . Looks like this is product feedback / a product feature request, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-03-24 22:10] davidiseminger commented on #1980
Oops - looks like you're just asking to have Hive LLAP added to this doc, sorry about that. I'll get in touch with the proper engineering team to get more information, thanks!

[2020-03-25 02:17] f14eagle commented on #1936
Hi @maggiesMSFT , apologies for the delay. You are correct, user cannot see my reports which is embedded in the HTML page. But there are only few users encounter this issue, I'm not sure if there are some settings in the browser block them.

Thanks.

[2020-03-25 10:41] KerryWang94 opened #1988 "Need Update Document"
Could you please add this part as consideration and limitiation of this document ?

Please contact siqwang for reference and ICM 142191141

“Power BI is designed to work with any of our supported browsers, but performance does differ depending on a user’s choice of browser.  Internet Explorer users in particular may encounter worse performance, and we strongly recommend users of Internet Explorer

[2020-03-25 10:42] KerryWang94 commented on #1988
Note Edge Chromium is no longer in Preview, please check with document author seeing what would be best words on this doc.

[2020-03-25 11:49] twoyoungtwosimple opened #1989 "Power BI Python"
If I create a visual object in Python, after the release, if someone else's computer does not have Python or the Python package, can others interact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd46971-2ea5-9271-3b2a-824efc1821e1
* Version Independent ID: 68669cdb-5e4d-bb96-d2d5-bdad4088fb03
* Content: [Using Pytho

[2020-03-25 12:42] KerryWang94 opened #1990 "Gateway support on Cloud Resource"
As mentioned in this document "This article applies only to datasets that have cloud and on-premises data sources merged or appended in a single query. For datasets that include separate queries--one that connects to an on-premises data source and the other to a cloud data source--the gateway doesn't execute the query for the cloud data source."

It's very easliy to mislead people to believe that

[2020-03-25 12:53] afelthe opened #1991 "Schema mismatch and fixing it with JSON file from Machine Learning Designer"
There are a couple critical steps missing for folks using CSV files as the schema will not transfer in often.  I am happy to share these steps and screen shots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de8e2403-884c-ccf3-ac6a-82d53c4ee018
* Version Independent ID: cb5eefd9-3a07-7440-ae26-69b2a0b8fe78
* Content: [

[2020-03-25 14:30] joelvega commented on #1886
I can also confirm that this feature will stop working sometimes. When it does not work it sends the user to the Power BI log-in screen. After entering credentials, it will throw an error page saying that the page cannot be found.

[2020-03-25 14:33] FThun89 opened #1992 "Import custom theme not available"
I've version: 2.79.5768.721 of PowerBI Desktop App in older versions it was possible to import a custom theme like described here but in this version there is no "switch theme" in the Home Ribbon and in the Visualization Ribbon the theme can be switched but not customized

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-25 15:03] KesemSharabi commented on #1992
Thanks for your comment, @FThun89.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-03-25 15:05] KesemSharabi commented on #1991
Thanks for your comment, @afelthe.

I've assigned this issue to the doc author for review.

[2020-03-25 15:09] KesemSharabi commented on #1990
Thanks for your comment, @KerryWang94.

I've assigned this issue to the doc author for review.

[2020-03-25 15:13] KesemSharabi commented on #1989
Thanks for your comment, @twoyoungtwosimple.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-03-25 15:15] KesemSharabi commented on #1988
Thanks for your comment, @KerryWang94.

I've assigned this issue to the doc author for review.

[2020-03-25 15:19] KesemSharabi commented on #1979
Thanks for your comment, @juchen0411.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-03-25 15:19] #1979 closed

[2020-03-25 15:30] KesemSharabi commented on #1983
Hi @uve, can you please assist with @andyjwest's issue?

[2020-03-25 15:35] KesemSharabi commented on #1960
Hi @Koning53,

Thank you for your comment. You're right, this sentence is confusing.

We're in the process of updating all the embedded analytics tutorial, and will shortly update this one too.

Please check these tutorials in a couple of months, once they're updated.

Thansk,

Kesem

[2020-03-25 15:35] #1960 closed

[2020-03-25 15:37] KesemSharabi commented on #1944
Hi @boylec,

We're currently updating the service principal article. Please check this article again in a couple of weeks, once the article is revised.

Thanks,

Kesem

[2020-03-25 15:37] #1944 closed

[2020-03-25 15:48] uve commented on #1983
please install an updated version of [powerbi-visuals-tools@3.1.11](https://www.npmjs.com/package/powerbi-visuals-tools)

[2020-03-25 17:21] maggiesMSFT commented on #1886
Hi, @Vicchi21 -- 2nd comment first:
Also, please let know if this option also works on the embedded URL.
Good news! URL filters are supported in Power BI Embedded. See here: https://azure.microsoft.com/en-us/updates/power-bi-embedded-advanced-url-filtering-capabilities/
I'll update this article with that info and link. Thanks for asking!
for @Vicchi21 and @joelvega, your 1st comment: This feature/

[2020-03-25 17:21] #1886 closed

[2020-03-25 18:38] maggiesMSFT commented on #1988
Thanks, @KerryWang94 ! I've made the update. The change will go live this afternoon.

[2020-03-25 18:38] #1988 closed

[2020-03-25 21:11] maggiesMSFT commented on #1936
Hi, @f14eagle -- here's the answer: please file a support ticket to diagnose what the problem is.
https://powerbi.microsoft.com/en-us/support/
That Chrome warning shouldn’t be blocking a report from loading and there’s probably something else going on.
Hope that helps!

[2020-03-25 21:11] #1936 closed

[2020-03-26 01:31] shalinderverma opened #1993 "More functions"
There are more functions for DAX tables like GROUPBY, SUMMARIZE, CALCULATETABLE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23f1335-bb33-544a-67da-006015cfc92f
* Version Independent ID: 3e1dc63e-f0ac-5201-c0a5-bc7e4ee30944
* Content: [Using calculated tables in Power BI Desktop - Power BI](https://docs.microsoft.c

[2020-03-26 11:18] aguinaldo92 opened #1994 "Ability to change Group Name"
Hi,
cannot see any explanation about how to change the group name. I've lot of Group 1,2,3, etc. that i'd like to rename but couldn't find a way so far

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6669843-8752-7777-31e8-1d1e4ec96648
* Version Independent ID: b7be0303-1882-621e-a630-32895aafa84d
* Content: [Use group

[2020-03-26 13:07] andyjwest commented on #1983
updating solved the issue thanks!

[2020-03-26 14:25] don-petry opened #1995 "Additional Auth Requirements & Troubleshooting Steps"
Let me try this again.

There are additional troubleshooting scenarios and Power BI Desktop authentication requirements not covered by this document.  Please add details about the following PBI Desktop Auth requirements:

1) Dependent on Internet Explorer/Edge.  Changing default browser in OS doesn't affect this.

2) Javascript must enabled in IE  (See https://community.powerbi.com/t5/Desktop/Prob

[2020-03-26 18:17] burnzy commented on #1912
For any others with the same problem, after some testing it appears that the minimum required GCP roles are `roles/bigquery.jobUser` at the project level, and `READER` special role or just `roles/bigquery.dataViewer` at the dataset level. This allows a user to read data from PowerBI.

[2020-03-26 19:18] JamesDBartlett opened #1996 "Great video series! 9/10 stars"
You guys did a great job with this video series. The content is 100% on-point, and the balance between big-picture and nitty-gritty is superb. I only have one suggestion (which may still be possible, if you still have the source video files):
I'd suggest uploading the videos in a higher resolution than 720p. Everything looks kinda grainy, and many of the small details are so blurry or pixelated th

[2020-03-26 19:27] kfollis commented on #1993
Thanks for the feedback, @shalinderverma. I've assigned this issue to the author to consider adding those additional functions.

[2020-03-26 19:51] kfollis commented on #1994
Great question, @aguinaldo92! If you double-click the group name in the selection pane, it becomes editable and you can change the name. I'm adding to the author for review to consider adding that detail.

[2020-03-26 19:59] kfollis commented on #1995
Thanks for the input, @don-petry. Assigning this issue to the author for review and to consider adding this troubleshooting scenario. It may not be a common use case or could resolved in the latest builds, but we'll take a look.

[2020-03-26 19:59] maggiesMSFT commented on #1208
Hi, @psrinivasamaniprabhakar -- Receiving no reply, I'm closing this issue. Please feel free to reopen at any point.

[2020-03-26 19:59] #1208 closed

[2020-03-26 20:01] kfollis commented on #1996
Thank you for the nice feedback, @JamesDBartlett! I'm assigning this issue to the author so that they can consider your suggestion for higher resolution.

[2020-03-26 20:48] kfollis commented on #1965
Thanks for your input, @ColeenB. We're working on this article now and will validate and update the procedure. I've assigned the author for review and follow-up.

[2020-03-26 21:47] davidiseminger commented on #1951
Thanks for your feedback - I've added P4 and P5, thanks for bringing that up!

[2020-03-26 21:47] #1951 closed

[2020-03-27 02:07] RyusukeGondo opened #1997 "Power BI report content is missing."
The Power BI report content for viewing test results is no longer visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b28829-a0e6-9377-35af-bd5661012ace
* Version Independent ID: 607b2bdf-58aa-c392-fe98-3a8264c9edca
* Content: [Capacity planning guidance for Power BI Report Server - Power BI](https://docs.microso

[2020-03-27 05:09] f14eagle commented on #1936
Got it. Thank you.

[2020-03-27 06:38] neko-daisuki opened #1998 "Export restrictions when measures exist in Analysis Service"
[Underlying dataset] cannot be exported from data that has a DirectQuery connection when measures exist in the Analysis Service.
The following is possible with Pattern.
-When a measure is deleted from the Analysis Service and a DirectQuery connection is made
-The measure was left in Analysis Service and imported.

Please describe in "Restrictions".

---
#### Document Details

⚠ *Do not edit this s

[2020-03-27 09:54] tripleacoder commented on #1012
What are the requirements for Power BI Gateway?
I get the error even after manually registering Oracle.ManagedDataAccess.dll in the GAC.

[2020-03-27 13:03] luuksommers opened #1999 "CustomData Max length 256"
When using custom data with Power BI Embedded we get the error: `Provided CustomData value exceeds the maximum supported length of 256`, although this is not documented. Can we bypass this limitation?
We want to send a list of values in custom data to do row level filtering (currently around 800 characters).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-03-27 13:29] Matusa69 opened #2000 "Validation Policies link broken/outdated"
Looks like Validation Policies link is broken/outdated:
https://dev.office.com/officestore/docs/validation-policies#13-power-bi-custom-visuals
Hmmm… can't reach this page
dev.office.com’s server IP address could not be found.

Is this link the new policies?
https://docs.microsoft.com/en-us/legal/marketplace/certification-policies#1180-power-bi-visuals

Thx
A.

---
#### Document Details

⚠ *Do not

[2020-03-27 14:36] aastroza commented on #1936
The warning will be critical in the future, Chrome 80 will reject that kind of cookies: https://www.chromestatus.com/feature/5633521622188032

Is there any fix getting ready?

[2020-03-27 18:04] maggiesMSFT commented on #2000
HI, @Matusa69 -- thanks for the heads-up! Assigning to the author to investigate.

[2020-03-27 18:06] maggiesMSFT commented on #1999
Thanks for your question, @luuksommers ! Assigning to the author to answer.

[2020-03-27 18:08] maggiesMSFT commented on #1998
Thanks for your question, @neko-daisuki ! Assigning to the author to investigate and answer.

[2020-03-27 18:11] maggiesMSFT commented on #1997
Hi, @RyusukeGondo -- Thanks for your observation! I'll investigate and get back to you.

[2020-03-27 19:14] Hormash commented on #1936
I'm working with powerbi-client v2.11.0 in js and getting this warning.

Soon enough, Chrome will block all iframe with this security problem

[2020-03-27 22:38] maggiesMSFT commented on #1905
Hi, @chanmmn -- thanks for reporting this issue! I can verify that the report in one of your screen shots, IT Spend Analysis.pbix, is not working. However, Sales & Marketing.pbix opens for me. Of the rest of the 8 .pbix files, all the others are working except Opportunity Analysis.pbix.
For the Excel files, open Excel first, then open the file from within Excel. You need to Enable Editing, then En

[2020-03-27 22:38] #1905 closed

[2020-03-28 01:53] maggiesMSFT commented on #1982
Hi, @KerryWang94 -- taking this offline with you. Thanks!

[2020-03-28 04:44] Mike-Honey opened #2002 "More on icons - blog post announcing had several pages"
There should be much much more content about icons - perhaps even a separate page? The blog post announcing them had several screen-fulls of dense content:
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-july-2019-feature-summary/#iconSets
More functionality has been added since.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-28 10:48] paulinbar commented on #2002
Hi @Mike-Honey , thank's for your comment and the links. I am forwarding them on to the article author for consideration.

[2020-03-29 20:43] DieselAnalytics opened #2003 "Power BI Premium Requirements"
To whom it may concern,

I think you all should make it clear that Power BI Premium is needed to use custom models in Azure Machine Learning Services. Some of your literature and conference videos on YouTube suggest that you can use custom azure machine learning models in Power BI without the need of premium compacity.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-03-29 20:44] DieselAnalytics commented on #2003
And this article does not make it clear you need Power BI premium.

[2020-03-30 10:31] mmschouten opened #2004 "OData does not support authentication"
Please document the limited support for OData feeds that require authentication. As per support request 120031725002435, only Power BI Desktop supports authentication, Power BI Service does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2

[2020-03-30 13:29] rudzimj commented on #1860
You can still publish to workspaces from a local file. You can only publish to "My Workspace" from a file on OneDrive.

[2020-03-30 13:35] paulinbar commented on #2003
Hi @DieselAnalytics , thanks for your comment. I am forwarding it on to the doc author for consideration. Thanks!

[2020-03-30 13:46] paulinbar commented on #2004
Hi @mmschouten , thank you for the comment. Do you by chance have a link support request 120031725002435? In any event I am forwarding your comment on to the doc owner for consideration. Thanks!

[2020-03-30 14:14] mmschouten commented on #2004
Hi @paulinbar , I'm not sure how to retrieve the link for the support request. It was created through the Power BI site, not through the Microsoft 365 Admin Center.

[2020-03-30 18:53] haider392 opened #2005 "Feature not longer available"
Feature documented in this link is no longer available - Please confirm with Power BI PG and  update or remove documentation

Link - https://docs.microsoft.com/en-us/power-bi/service-connect-to-salesforce

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6b5bc04-3e2a-820f-6069-7392a2317108
* Version Independent ID: 43adc

[2020-03-31 04:37] nielsgarde opened #2006 "Indication of successful restart"
Hi,
how can I tell if a capacity was actually restarted or is in the process of getting restarted. There is a small wheel turning around a second, but non of my refreshes are broken (which is a good thing I suppose) so I have no real proof that anything happened. Maybe some history/status page of last restarts could help.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-31 10:43] omnoms commented on #1596
The term "shortly" is relative here :D

[2020-03-31 14:52] sandegan1 commented on #1995
Hi Kate
If Java script is disabled on internet explerer and same is enabled on other browsers (Edge and Chrome) even after making those browser as default browsers , PBI Desktop is throwing script while entering loging credentials. PBI desktop is not looking on the default browser , it using internet explorer always.Because of this , unable to login from PowerBI desktop.
Please let me know if you

[2020-03-31 14:53] walkingstar1 commented on #1892
Clicking on Members in Step 2, redirects to outlook office 365 site (which isn't configured). So the link is actually broken. What causes this configuration ? or how to manage members?

[2020-03-31 15:36] haider392 opened #2007 "Feature no longer available in Power BI"
The feature documented in this article is no longer available in Power BI - https://docs.microsoft.com/en-us/power-bi/service-connect-to-project-online

Please confirm from Power BI PG and remove or update documentation.

[2020-03-31 15:54] mihart commented on #2005
Thanks for your comment, @haider392. This issue has been assigned to the doc author for review.

[2020-03-31 15:57] mihart commented on #2007
Thanks for your comment, @haider392 . This issue has been assigned to the doc author for review.

[2020-03-31 23:42] borisgr04 opened #2008 "No show tool decomposition tree visuals"
In my Pc No Can Create and view decomposition tree visuals in Power BI (preview).

[2020-04-01 14:16] KesemSharabi commented on #2008
Thanks for your comment, @borisgr04.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-04-01 14:16] #2008 closed

[2020-04-01 14:23] KesemSharabi commented on #1983
Thanks @uve for solving this issue.

[2020-04-01 14:23] #1983 closed

[2020-04-01 14:58] twastvedt opened #2009 "normalizeSelector"
"static normalizeSelector: This method returns the normalized selector"
Could you add documentation for this method? What does it mean for a selector to be normalized? What does the second argument do? When is the method used and why? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22cb8fba-241c-285a-3483-a6f9e8

[2020-04-01 18:02] fordmaxson opened #2011 "Filters "on visual" are trumping "report" and "page filters""
Would like to know if there is a way to keep report and page filters at the top so we don't lose them every time someone clicks something on a visual.  Wrote recommendation at https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/40073473-change-default-order-of-report-page-visual-fil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-04-01 20:46] maggiesMSFT commented on #1982
Hi, @KerryWang94 -- fixed it, added the note. It'll be live later today. Thanks!

[2020-04-01 20:46] #1982 closed

[2020-04-02 08:26] Jessicaoo opened #2012 "error when connect to sharepoint list"
Hi team, could you help to solve the error when I tried to connect to sharepoint list by following the guidance? The error popped up after step 6 on part1, and it said that "Access to the resources is forbidden." Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d57e8911-0181-d93e-4bd6-ebb6b86324c9
* Version Indep

[2020-04-02 13:25] Joe8908 opened #2013 "Useful Intro"
I have been doing this a while but I still found the explanations here really clear and useful, especially the Junk Dim, which I had heard about but did not understand. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ca67d-ed62-fbe0-85b2-6b1604f9f946
* Version Independent ID: e8c82d66-ad63-3efa-11b2-060b9b

[2020-04-02 14:36] alathrop opened #2014 "Access without work or school account"
The documentation on this page says you must have a work or school account to sign up for Power BI. With potentially thousands or millions of people losing their jobs due to COVID, they are losing their work email accounts, and also looking for training on products like Power BI. Are there any options in the current economic environment to sign up for Power BI without a work or school address, or

[2020-04-02 17:46] Diego-MX opened #2015 "Don't think publishing a report is equivalent as using Get Data."
From my experience, using Get Data button is better for having access to the P-BI report in the web app for one reason:  editing the report in the web platform saves the changes in the desktop file.
Before I knew about this functionality, I would often encounter situations where the desktop version and the web version where outdated between each other.
That is, failing to publish the report from t

[2020-04-02 18:08] timothydickson opened #2016 "Number Values"
The number values do not come over in Excel so that they can be summarized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content: [Analyze in Excel for Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/s

[2020-04-02 21:29] kfollis commented on #2013
@Joe8908 - I'm glad that you found the explanations useful! Thanks so much for sharing your feedback with us, and I'll be sure to extend your thanks to the author, @peter-myers.

[2020-04-02 21:29] #2013 closed

[2020-04-02 21:31] kfollis commented on #2009
Thanks for the feedback, @twastvedt! I'm assigning this issue to the doc author for review.

[2020-04-02 21:33] kfollis commented on #2011
Thanks for the feedback, @fordmaxson! I'm assigning the doc author for their review and comment.

[2020-04-02 22:33] maggiesMSFT commented on #1997
Hi, @RyusukeGondo -- Turns out the report no longer exists. I've removed it from the article. Thanks for reporting it!

[2020-04-02 22:33] #1997 closed

[2020-04-02 22:50] peter-myers commented on #1996
Hi @JamesDBartlett - thanks your positive feedback! The videos were produced in HD. I've just taken a look at some of them, especially those with demonstrations, and I can read the fine details. I wonder if your problem is related to the speed of your internet connection or your YouTube quality settings?

Please refer to this YouTube Help article for more information: https://support.google.com/yo

[2020-04-02 22:50] #1996 closed

[2020-04-02 23:03] kfollis commented on #2012
Hi @Jessicaoo - I couldn't reproduce your experience and believe it's a permissions issue to the resource. I'm adding the author to take a look and verify. You may want to try asking the community here: https://community.powerbi.com/

[2020-04-02 23:07] kfollis commented on #2014
Hi @alathrop - thanks for the feedback! The Power BI services relies on Azure AD for authentication, so does require a work or school account. However, you can download and use Power BI desktop with a consumer email account and our Learn resources are also available here: https://docs.microsoft.com/en-us/learn/browse/?products=power-bi

#please-close

[2020-04-02 23:07] #2014 closed

[2020-04-02 23:10] kfollis commented on #2015
Hi @Diego-MX! Thanks for the feedback. I'm adding the author to review and comment.

[2020-04-02 23:14] alathrop commented on #2014
Thanks!

[2020-04-02 23:21] kfollis commented on #2016
Hi @timothydickson -  I think you may actually be looking for "export to excel" vs. analyze. Assigning to the docs author to comment.

[2020-04-02 23:29] maggiesMSFT commented on #1957
Hi, @baibhav-82 -- thanks for asking! No, it doesn't support D365 SSRS reports.

[2020-04-02 23:29] #1957 closed

[2020-04-02 23:31] maggiesMSFT commented on #1899
Hi, @akosiaxis -- thanks for asking. No, you can't set up a subscription using a security group.

[2020-04-02 23:31] #1899 closed

[2020-04-02 23:48] mike-osberg opened #2017 "Leaflet Maps in PowerBI"
I'm trying to include some Leaflet maps using the R visual - is this a possibility/are there examples of other people trying to do this? Also - if I build these maps, will they still be controllable via slicers and filters from other measures in PowerBI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 000c7cf3-dbf4-92c6

[2020-04-03 02:56] jvielmas opened #2018 "Spelling errors"
Matplotlib appears as "Matprolib" multiple times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c6b7b4f-9f34-cec1-687c-2f5c708fe99f
* Version Independent ID: e66e6e43-157d-8331-20e2-89d1379c5251
* Content: [Create Power BI visuals using Python in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/

[2020-04-03 05:01] baibhav-82 commented on #1957
Thanks for the info

[2020-04-03 08:15] Ellestad1995 opened #2019 "b2b users can see embedded report"
Under known issues and limitations it says b2b users cant see the embedded report. In my testing this works fine. The documentation should be updated to reflect til feature.

b2b users was invited like other org users. They could see the report that was embedded in Sharepoint like other org users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-04-03 16:08] ed7257 commented on #905
I don't see @jaker12 question answered in the thread. Could you please answer @davidiseminger ?  I have the same question after I read this article.

[2020-04-03 19:11] maggiesMSFT commented on #2018
Thanks for pointing these out, @jvielmas ! I'll check with the author and get these fixed.

[2020-04-04 01:49] maggiesMSFT commented on #1761
Thanks for your patience and your good eye, @agustingc ! These are fixed, will be published at the latest Mon Apr 6.

[2020-04-04 01:49] #1761 closed

[2020-04-04 01:49] maggiesMSFT commented on #2018
Thanks for your good eye, @jvielmas ! These are fixed, will be published live at the latest Mon Apr 6.

[2020-04-04 01:49] #2018 closed

[2020-04-04 02:03] agustingc commented on #1761
Welcome!

[2020-04-04 02:47] rrockbrand opened #2021 "Will be good the to document Power BI works correctly when the storage's firewall is off."
Will be good the to document Power BI works correctly when the storage's firewall is off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Content: [Learn how to connect Azure Data Lake Storage Gen 2 to Power BI for data

[2020-04-04 09:16] djpirra opened #2022 "Can we have a sample when we use several fields for the category?"
I have scenarios where I have several fields for the category and I want to have a selection based on the combination of those field values/categories.
How can this be achieved?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75effaec-3c6e-83c9-c26e-8e58046cb347
* Version Independent ID: 971d9758-f10b-cddb-f6

[2020-04-05 07:21] KesemSharabi commented on #2000
Hi @Matusa69,

Thank you for your observation, you're absolutely right and I corrected the article accordingly.

The **validation policies** in the [Tracking submission status and usage](https://docs.microsoft.com/power-bi/developer/visuals/office-store#submitting-to-appsource) section now points to the right place.

Thanks,

Kesem

[2020-04-05 07:21] #2000 closed

[2020-04-05 09:17] KesemSharabi commented on #1929
Hi @boylec,

Thank you for your comment.

We've revised the [service principal](https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-service-principal) article and removed some errors and confusing parts.

Please follow the new instructions - hopefully they'll make more sense now.

Thanks,

Kesem

[2020-04-05 09:17] #1929 closed

[2020-04-05 10:32] djpirra opened #2023 "Where to get more information on the types of properties?"
Like for fonts, font sizes, toggles etc...
Example:
"type": {
     "formatting": {
            "fontSize": true
     }
}

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b18bae87-ca93-25e9-26a6-5daf585b4798
* Version Independent ID: 2c2793d0-50a6-c401-3ecf-ccba9f155397
* Content: [Objects and properties of Pow

[2020-04-05 10:58] djpirra opened #2024 "Problems when using fontSize"
Hi,
I currently have several objects that I want to set a specific font size on...
I am using something like:
"labelFontSize": {
                    "displayName": "Label Size",
                    "type": {
                        "formatting": {
                            "fontSize": true
                        }
                    }
                }

But I am getting a percentage slider ins

[2020-04-05 14:56] Joe8908 commented on #2013
That explains it. @peter-myers is awesome :-)

[2020-04-06 02:53] Jessicaoo commented on #2012
Hi,Kate,
Thanks for replying. The list is based on a folder I created under Teams. It’s a private one. Is it the matter that making connection failed? How can I solve this? Thanks for help.

Regards
Jessica

发自我的iPhone

在 2020年4月3日，07:04，Kate Follis <notifications@github.com> 写道：

﻿

Hi @Jessicaoo<https://github.com/Jessicaoo> - I couldn't reproduce your experience and believe it's a permissions i

[2020-04-06 06:52] MikeSunGithub opened #2025 "we can't figure out how to schedule the Power Pivot refresh like you can with SharePoint"
I have same question asked 1-2 years ago.  " how to schedule the Power Pivot refresh like you can with SharePoint". Kindly update. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90025eee-cd72-9503-6c1d-c14bb617b5b4
* Version Independent ID: 58e25db4-5d25-ac1d-b763-72d27e943373
* Content: [Host Excel workbooks u

[2020-04-06 07:56] paulinbar commented on #2021
Hi @rrockbrand , thanks for your comment. I have forwarded it along to the doc author for consideration.

[2020-04-06 07:58] paulinbar commented on #2022
Hi @djpirra , thanks for you comment. I have forwarded it along to the doc author for consideration.

[2020-04-06 15:00] cbailiss opened #2026 "Access Audit Data non-interactively"
The page does not talk about accessing audit data in an automated non-interactive way.
Is is possible to access the audit log data (i.e. execute Get-PowerBIActivityEvent) using an Azure Service Principal?
If so, is it possible to grant granular permissions to the service principal - or can/must the Service Principal be set up as a Power BI Service Admin (which isn't very desirable)?

---
#### Docu

[2020-04-06 19:46] davidiseminger commented on #2023
Thanks for your comment, @djpirra. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-06 19:46] davidiseminger commented on #2024
Thanks for your comment, @djpirra. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-06 19:47] davidiseminger commented on #2025
Thanks for your comment, @MikeSunGithub. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-06 19:48] davidiseminger commented on #2026
Thanks for your comment, @cbailiss. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-07 06:29] Truc-NguyenThanh commented on #1913
I have the same problem, I can't search get data -> more -> online services -> Facebook. Seemingly Facebook data is no longer supported.

[2020-04-07 11:07] djpirra opened #2027 "User resizing the visual causes unnecessary rendering overload"
Hi,

Is there any option to only load the custom visual once the user finishes dragging/resizing the visual?
I am having lag on the custom visual when a user is resizing and the visual keeps redrawing.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c4c3363-db7e-fa34-3ade-dc56ab85fbdd
* Version Independent I

[2020-04-07 12:43] hildeirin commented on #321
Did you find a solution to this? :)

[2020-04-07 15:16] mihart commented on #2027
Thanks for your comment, @djpirra . This issue has been assigned to the doc author for review.

[2020-04-07 15:49] djpirra opened #2028 ""supportsHighlight": true not working"
I am using the property "supportsHighlight": true in the capabilities.json and using categorical.
In the values I do not see the highlight array. What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80303b53-8f3f-e9d3-f00c-1316b44432ee
* Version Independent ID: 774a462b-8188-ebaf-ee87-863c4c0947c4
* Conten

[2020-04-07 16:55] #1940 closed

[2020-04-07 20:32] maggiesMSFT commented on #1393
Hi, @tconrady -- belatedly, thanks for your feedback! You're right, the article was incomplete. I've added the Parameter panel state section. Check it out:
https://docs.microsoft.com/en-us/power-bi/paginated-reports/report-builder-url-parameters#url-access-parameter-reference
Thanks!

[2020-04-07 20:32] #1393 closed

[2020-04-08 01:02] mihart commented on #2028
Thanks for your comment, @djpirra . This issue has been assigned to the doc author for review.

[2020-04-08 09:11] GitHubSig commented on #1800
I encountered the same confusion.  Now I reckon that it's my use of PBI's StorageMode = DirectQuery (rather than Import) that is the reason that PBI (PBI Desktop September 2019) is not showing the Data View icon.
The documentation should be enhanced to clarify that.

[2020-04-08 14:45] fordmaxson opened #2029 "Publish to Web does not support he Filter Pane"
Spent time modifying report to use the new filter pane and took out a number of slicers.  Then went to use "Publish to Web" feature to make report available.  Unfortunately, publish to web option does not display the filter pane and there is no option to do so.  Report is useless without the filter, so back to square one.  Found this request ticket that aligns... https://ideas.powerbi.com/forums/2

[2020-04-08 15:10] klinejordan opened #2030 "Where is the link to this app?"
This looks NOTHING like the "Power BI Premium Capacity Metrics" app that I see in AppSource and mentioned on this page: https://docs.microsoft.com/en-us/power-bi/service-admin-premium-monitor-capacity

How do I get the app mentioned on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4843cde8-6191-2773-7500-27

[2020-04-08 23:31] haider392 opened #2032 "Need description of Power BI Audit Log Activities"
Need a brief description of each Power BI Audit Log activity mentioned here - https://docs.microsoft.com/en-us/power-bi/service-admin-auditing#operations-available-in-the-audit-and-activity-logs

Right now, it is not clear from doc what a particular activity logs.

For example, there is a logging activity called "Changed capacity state" but end users and customers don't understand what that means.

[2020-04-09 02:49] neko-daisuki commented on #1998
@maggiesMSFT
Reports that have both measures in the Analysis Service as well as in Power BI Desktop and have made a DirectQuery connection to the Analysis Service fail to export the underlying data.
It is not clear from the comment on the error what the cause is, so it is not clear how to resolve it.
Take countermeasures.

The relevant materials are described below.

Title: Export the data that wa

[2020-04-09 03:24] itsnotaboutthecell opened #2033 "Per Workspace Limit"
Not sure if there’s a type but the storage limit is 10GB in a shared workspace not 100gb.

There is a per-workspace storage limit of 100 GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837d3a1-75f5-ffd4-a32a-541bab72ffa7
* Content: [Manage data storage

[2020-04-09 07:15] jjindrich opened #2034 "Using Billing API Key"
Hi, is it possible to use Billing API key from EA portal ? I cannot find this option in authentication dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3
* Content: [Connect to Azure Cost Management data in Power BI

[2020-04-09 07:37] jjindrich commented on #2034
I'm refering this API key https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/enterprise-api#enabling-data-access-to-the-api
It was possible to use it for previous version of PowerBI Consumption Insights report

[2020-04-09 07:47] martink71 commented on #1783
Hi MaggiesMSFT
Im unsure how to use these comment bits, but I imagine if something is closed it is said to be fixed....
I am doing an online course,
Create and use analytics reports with Power BI

I too noticed how these tutorial segments are reused within different courses and I too was suckered into, not only downloading the LARGE Access database, but also to even do that I had to download Acces

[2020-04-09 07:54] heyrob commented on #1783
Let me look into the huge Access database. I thought I linked to the abridged version. Also, I want to clarify (reorder, streamline) the flow so that it's clear that the same Excel file is used by Will (the lad in the t-shirt).

[2020-04-09 08:38] bakerm00 opened #2035 "no network connectivity information"
no network connectivity information
port / egress and ingress

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Content: [On-premises data gateway - Power BI](https://docs.microsoft.com/en-us/power-bi/service-gateway-onpr

[2020-04-09 12:28] NeilMacMullen opened #2036 "Make it clear that selection button can be clear"
In the gateway connection section it's _really_ counter-intuitive that the radio button next to "in premises gateway" can be clear and yet that gateway will be used.  Or maybe when there is more than one gateway in that list, they are _all_ used?  Either way it's confusing - the UI design needs to be better documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-04-09 14:35] NeilMacMullen opened #2037 ""You should instead upload and replace file B, which keeps the same item ID.""
So the implication of this paragraph is that the only way to keep a OneDrive csv file in sync is to use the file explorer to drag the new file into onedrive.  If you _copy_ the file from powershell or simple run a script to recreate   the file you lose sync.  This seems like a thoroughly poor design decision but if it really is the way things work, then the documentation would be a lot more helpfu

[2020-04-09 16:39] maggiesMSFT commented on #2033
Hi, @itsnotaboutthecell -- Thanks for asking! Good question. I'm checking and will get back to you, and update the article if necessary.

[2020-04-09 17:39] KevinDMack opened #2038 "Azure Cost management connecting to Azure Gov."
Is there any guidiance around connecting the cost management power bi reports to Azure Government.  I work with a lot of customers that want to use this, but are receiving errors when they try to get it connected to their Azure Gov tenant.  Any guidiance?

[2020-04-09 17:44] davidiseminger commented on #1384
We've updated the document to help with clarifications and better steps. Hope that helps.

[2020-04-09 17:44] #1384 closed

[2020-04-09 17:48] davidiseminger commented on #1781
Thanks for your comment, and sorry for the ambiguity. The storage must be in the same AAD tentant as your Power BI tenant; you cannot connect to storage that's external to your AAD tenant. Hope that clarifies.

[2020-04-09 17:48] #1781 closed

[2020-04-09 17:51] davidiseminger commented on #1879
We've updated the article, and hope that the content is now clearer. Thanks for your feedback.

[2020-04-09 17:51] #1879 closed

[2020-04-09 17:53] davidiseminger commented on #1311
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 17:53] #1311 closed

[2020-04-09 17:54] davidiseminger commented on #1579
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 17:54] #1579 closed

[2020-04-09 17:55] davidiseminger commented on #1611
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 17:55] #1611 closed

[2020-04-09 17:56] davidiseminger commented on #1613
We've updated the article to make themes much clearer. I hope that helps, thanks for your feedback.

[2020-04-09 17:56] #1613 closed

[2020-04-09 17:58] davidiseminger commented on #1615
Thanks for your comment. This is a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-09 17:58] #1615 closed

[2020-04-09 18:00] davidiseminger commented on #1616
You're right - thanks for that clarification. We've updated the docs to reflect. Thanks!

[2020-04-09 18:00] #1616 closed

[2020-04-09 18:01] davidiseminger commented on #1624
Thanks for your comment, we've updated the tutorial to reflect that.

[2020-04-09 18:01] #1624 closed

[2020-04-09 18:03] davidiseminger commented on #1631
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

Meanwhile, there are many community and support options for you to find answers to your questions. Getting an answer or feedback on your question from the community (https://community.powerbi.com) or from support at https://support.powerbi.com are options. You can also pro

[2020-04-09 18:03] #1631 closed

[2020-04-09 18:03] davidiseminger commented on #1651
Thank you for your feedback, and your clarification about accessibility and those accessibility principles. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:03] #1651 closed

[2020-04-09 18:04] davidiseminger commented on #1658
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2020-04-09 18:04] #1658 closed

[2020-04-09 18:05] davidiseminger commented on #1715
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:05] #1715 closed

[2020-04-09 18:05] davidiseminger commented on #1722
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-09 18:05] #1722 closed

[2020-04-09 18:06] davidiseminger commented on #1729
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:06] #1729 closed

[2020-04-09 18:10] davidiseminger commented on #1737
Thanks for the feedback, this has been corrected in an article update.

[2020-04-09 18:10] #1737 closed

[2020-04-09 18:12] davidiseminger commented on #1738
In the section, "Am I responsible for the availability of my Power BI solution?" it describes the differences in responsibility for the service, versus Premium. I believe that answers your question.

If it does not, you can also find help in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-09 18:13] #1738 closed

[2020-04-09 18:13] davidiseminger commented on #1742
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:13] #1742 closed

[2020-04-09 18:14] davidiseminger commented on #1745
Thanks for your comment - the JSON and other content on that page has been significantly updated for better clarity.

[2020-04-09 18:14] #1745 closed

[2020-04-09 18:14] davidiseminger commented on #1755
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:14] #1755 closed

[2020-04-09 18:15] davidiseminger commented on #1784
Thank you for your feedback. We've put this doc request into our queue, and will review it with other documentation requests.

[2020-04-09 18:15] #1784 closed

[2020-04-09 18:16] davidiseminger commented on #1794
Thanks for your comment. That link is now working, thanks for bringing it to our attention.

[2020-04-09 18:16] #1794 closed

[2020-04-09 18:31] otravers commented on #1616
@davidiseminger Maybe the pages are cached on the server and take a while to refresh? I still see:

"Models with imported data can be refreshed _at most once per hour_. **Tf** the data is continually changing"

Also note the typo I highlighted in bold.

[2020-04-09 20:25] maggiesMSFT commented on #2029
Hi, @fordmaxson -- I can update the docs with that caveat. In the meantime, I hope you up-voted that ticket, https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/11725446-add-filter-feature-in-publish-to-web!

[2020-04-09 20:38] maggiesMSFT commented on #2011
Hi, @fordmaxson -- thanks for the question! I'll check, but I'm pretty sure the answer is no, you can't control that at this point. You did the right thing by creating the suggestion at https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/40073473-change-default-order-of-report-page-visual-fil

[2020-04-09 21:35] jonnyleigh commented on #1738
Hi, the document isn't 100% clear on this point, the page is talking about PowerBI Service.  There's one bullet point mentioning PowerBI Premium which is saying that one must ensure that the node is not overloaded.  Could you please clarify that PowerBI Premium has the same failover capabilities as Service (e.g. read-only failover), as long as the user ensures the capcity is well managed as mentio

[2020-04-09 21:45] dhruvinushah commented on #1755
@davidiseminger Thanks David for reviewing my request. It would be helpful to know how the grouping works in order to create reports which are faster and would take less time to refresh! Hoping to see this soon in the documentation!

[2020-04-09 23:00] Assad-Baig opened #2039 "Unable to generate Token in C# - with username and reportId"
Can we have C# example for embedding a paginated report for your customers, for method Reports.GenerateTokenForCreateInGroup() ?

where you specify username (mapped to UserId)?

Equivalent to following JSON:
{
    "accessLevel": "View",
    "reportId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
    "identities": [
            {
                    // Replace the 'username' with a paginated report par

[2020-04-09 23:15] Assad-Baig commented on #2039
I found it and might be helpful to others: (you do not need GenerateTokenFor*Create*InGroup or any datasetid)

generateTokenRequestParameters = new GenerateTokenRequest(accessLevel: "view", identities: new List<EffectiveIdentity> { new EffectiveIdentity(username: "myCustomUserName001", reports: new List<string> { report.Id.ToString() }) });

var tokenResponse = await client.Reports.GenerateTokenIn

[2020-04-10 13:19] thegreatfatzby opened #2040 "Typo?"
Should "If row-level security ISN'T defined, such caches aren't shared across users." be "If row-level security IS defined, such caches aren't shared across users"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959-696188711efe
* Version Independent ID: d8796367-6bd1-c63c-db86-59eb5a66c213
* Conten

[2020-04-10 13:49] brettpostin commented on #483
Has there been any movement on this or is the iframe solution still the only valid option?

[2020-04-10 18:01] MatthLee opened #2041 "See Records and Show Data - rename, and some content"
https://github.com/MicrosoftDocs/powerbi-docs/blob/live/powerbi-docs/desktop-see-data-see-records.md

These options are now "Show as table" and "Show data point as a table" in the context menu, and "Visual table" and "Data point table" in the new ribbon. Please update strings, and screenshots.

Also, for the second one - data point table - we need to add or update the text to state that it will sh

[2020-04-10 19:49] maggiesMSFT commented on #2030
Hi, @klinejordan -- thanks for asking! Assigning to the writer to investigate.

[2020-04-10 19:51] maggiesMSFT commented on #2032
Hi, @haider392 -- thanks for asking! Assigning to the author for further attention.

[2020-04-10 19:53] maggiesMSFT commented on #2035
Hi, @bakerm00 -- thanks for asking! Assigning to the author to investigate.

[2020-04-10 19:54] maggiesMSFT commented on #2036
Hi, @NeilMacMullen -- thanks for asking! Assigning to the author to investigate.

[2020-04-10 19:56] maggiesMSFT commented on #2037
Hi, @NeilMacMullen -- thanks for your comment. Assigning to the author to investigate.

[2020-04-10 20:04] maggiesMSFT commented on #2038
Hi, @KevinDMack -- are you referring to a specific article in the Power BI docs? I'd like to direct your question to someone who can answer it. Thanks!

[2020-04-10 20:05] maggiesMSFT commented on #2039
Hi, @Assad-Baig -- thanks for your question and your answer! Referring to the author for further action.

[2020-04-10 20:06] maggiesMSFT commented on #2040
Hi, @thegreatfatzby -- thanks for asking! Referring to the author to investigate.

[2020-04-10 20:10] maggiesMSFT commented on #2041
Hi, @MatthLee -- thanks for pointing that out. Referring to the author of https://docs.microsoft.com/en-us/power-bi/desktop-see-data-see-records to take care of it.

[2020-04-11 06:57] NeilMacMullen commented on #2037
Thanks @maggiesMSFT  After further investigation it seems that the paragraph is unnecessarily alarmist.  Copying over, or recreating the file in your locally synced OneDrive folder appears not to cause PowerBi to lose track of it.  (Perhaps there is some other action that can lead to this problem but I haven't found it.)  However one thing that is not clear from the documentation is that it can ta

[2020-04-12 18:44] mblanco77 commented on #2034
I think this is critical to enable the billing key api , with this new connector , many roles in an EA use this to control costs

[2020-04-12 21:30] tekmerion opened #2043 "Need "powerbi" filesystem for this to work"
None of the steps that require the creation of the "powerbi" filesystem in the Storage Account Blob Containers are included in this document any more.  I had to delete and recreate my Storage Account that is permanently linked to my PowerBI tenant, and I tried to follow these steps to recreate it - but it wouldn't work.  I remembered that there used to be steps requiring the existing of a "powerbi

[2020-04-13 03:28] montybax opened #2044 ""Sorty by" not available on Modeling tab"
To sort on a different field, need to: (1) sort the visual by a field via the ... menu of the visual. (2) Select that field in the Fields pane (right-hand side). The "Column tools" tab should become active in the ribbon. (3) Drop down the "Sort by column" list. (4) Select the field you want to sort on. (5) The visual should sort on the desired field.

---
#### Document Details

⚠ *Do not edit this

[2020-04-13 16:26] chicagoclone opened #2045 "Free?"
Is this a free template or paid?  If it's paid, it should mention that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd9da-a097-37e4-693a-6fdd64cbd10e
* Version Independent ID: 67618156-2b42-c349-85c1-dcbcab543f59
* Content: [Connect to Office365Mon with Power BI - Power BI](https://docs.microsoft.com/en-us/power-

[2020-04-13 19:04] paulinbar commented on #2045
Hi @chicagoclone , thanks for your comment. Indeed, in AppSource I do not see any indication that the app is free. I need to inquire about the exact policy about where free/paid information is supposed to be mentioned, and I'll mention your comment. Thanks for reaching out! I'll let you know what happened.

[2020-04-13 22:48] CeciAc opened #2046 "how to "order by column" if the data source is SSAS tabular?"
@aisbergde commented on [Sun Apr 12 2020](https://github.com/MicrosoftDocs/powerbi-docs.de-de/issues/13)

"Sort by Column" is not available if the database is SSAS tabular.
How to sort by column in this case?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: bc6eda16-f142-5163-b0af-38fa634

[2020-04-13 23:00] davidiseminger commented on #2043
Thanks for your comment, @tekmerion . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-13 23:01] davidiseminger commented on #2044
Thanks for your comment, @montybax . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-13 23:02] davidiseminger commented on #2046
Thanks for your comment, @CeciAc . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-13 23:03] davidiseminger commented on #2034
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-13 23:05] davidiseminger commented on #1923
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-14 00:37] shakanand opened #2047 "Email subscription - Free users"
In a non-premium setup, free users cannot be the recipient of email subscriptions.   This case is not documented in our docs. Please update the docs to reflect this case.

https://docs.microsoft.com/en-us/power-bi/service-report-subscribe

[2020-04-14 04:57] dhruvinushah opened #2049 "What happens to the alert once it crosses the threshold limit?"
Some cards / KPIs numbers involves sums that increase and decrease. for example Sales and refunds total. The net income is calculated after summing up the total sales and total refunds. If i have a card representing the same and the number crosses my threshold of $450k but after some time decreases back to $400k due to refunds in place;  does the alert come back online?

Does the alert remain acti

[2020-04-14 09:44] chizhova opened #2051 "Connector stop working with new-generated API keys"
Hi team. Starting from 10.04 connector stop working with keys which were generated on 10.04 and later.
I've tested it both with Demo EA enrollment 8608480 (which was re-generated (not by me) on the EA portal on 10.04) and with several production EA enrollments, which were generated from 10.04 till 14.04.
If you try to go through interface https://docs.microsoft.com/en-us/power-bi/desktop-connect-a

[2020-04-14 14:11] dschlabach commented on #1535
Any update on this?

[2020-04-14 14:30] KerryWang94 opened #2052 "Gateway Support on Cloud Resource - Internel - Please Contact Siqwang for more information."
Regarding to the expression of "This article applies only to datasets that have cloud and on-premises data sources merged or appended in a single query. For datasets that include separate queries--one that connects to an on-premises data source and the other to a cloud data source--the gateway doesn't execute the query for the cloud data source."

I have discussed with EEE team and confirmed above

[2020-04-14 15:29] jcbendernh opened #2053 "Please add SubscriptionID and Budget Owner to Budgets Dataset"
Azure Consumption Insights had the SubscriptionID field on the Budgets dataset.  Can we add that to the Budgets dataset in the Azure Cost Management feed along with Budget Owner?  Thus, from the report we can tie it back to a subscription and also add a link to notify the budget owner.

[2020-04-14 15:30] ajEnthusiastic opened #2054 "Power BI update credentials issue"
I tried all steps above for DirectQuery Power BI sample. After updating credentials when I tried to view, it shows error as 'Couldn't load the model schema associated with this report. Make sure you have a connection to the server, and try again'. When I downloaded same file, opened locally and checked connections, everything is updated as expected & report is also loading correct data. On server

[2020-04-14 15:36] marclelijveld opened #2055 "Outdated workspace content"
The information listed above is outdated in multiple ways. The screenshots are based on the old Power BI inteface, as well as the old workspace experience. In the section listed after this sentence, the information refers to Admin/Member workspace permissions which are only applicable to v1 / old workspaces.  https://docs.microsoft.com/en-us/power-bi/service-delete#to-remove-a-workspace-from-your-

[2020-04-14 17:02] mpoeckl opened #2056 "Cancel a subscription"
There is an inconsistency in the explanation for expired or canceled subscriptions:
- The first note on the site states that "After a (premium) subscription expires, your content reverts to a shared capacity. Models that are greater than 1 GB are not supported in shared capacity.". First question would be: what happens to models greater than 1 GB?
- The section "Cancel your subscription" states: "

[2020-04-14 17:10] mpoeckl opened #2057 "Cancelling subscriptions - additional scenarios/questions"
Additional questions with regards to cancelling of subscriptions would be:
1 What if a cancelled subscription affects only a part of the resources of one capacity? Assume that there are 1x P1 and 1xP2 subscriptions (24 v-cores in total) and one premium capacity assigned with 16 V-cores (P2), additional 8 v-cores are free. What happens if the P2 subscription gets cancelled?
2. Is it possible to pur

[2020-04-14 17:23] mjc543 opened #2058 "broken link"
Clicking on "requires measures to be defined in the external model" hyperlink in the 'Can't drag anything to the PivotTable Values area' section of this article doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae990a42-30ce-e2cd-ef81-b2caba935050
* Version Independent ID: cd6b2f01-2ab8-bd8e-67a5-29a8f1ce355

[2020-04-14 17:41] maggiesMSFT commented on #2055
Thanks, @marclelijveld ! You're right, the article needs to be updated. Adding it to the backlog.

[2020-04-14 17:42] KevinDMack commented on #2038
Specifically when you select "Get Data" one of the options is "Azure Cost Management", and when you select that and try to connect to an Azure Government Enrollment.  It errors out.  I have more details but it has some customer specific details.  So happy to email MSFT internal.

[2020-04-14 18:06] mihart commented on #2047
Thanks for your comment, @shakanand . This issue has been assigned to the doc author for review.

[2020-04-14 18:07] mihart commented on #2049
Thanks for your comment, @dhruvinushah . This issue has been assigned to the doc author for review.

[2020-04-14 18:09] mihart commented on #2052
Thanks for your comment, @KerryWang94 . This issue has been assigned to the doc author for review.

[2020-04-14 18:11] mihart commented on #2053
Thanks for your comment, @jcbendernh . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-14 18:11] #2053 closed

[2020-04-14 18:12] mihart commented on #2054
Thanks for your comment, @ajEnthusiastic . This issue has been assigned to the doc author for review.

[2020-04-14 18:13] mihart commented on #2056
Thanks for your comment, @mpoeckl . This issue has been assigned to the doc author for review.

[2020-04-14 18:14] mihart commented on #2057
Thanks for your comment, @mpoeckl . This issue has been assigned to the doc author for review.

[2020-04-14 18:14] mihart commented on #2058
Thanks for your comment, @mjc543 . This issue has been assigned to the doc author for review.

[2020-04-14 18:27] maggiesMSFT commented on #2038
Hi, @KevinDMack -- thanks for asking! This sounds like a product question. Please submit your question through the channel we discussed. Good luck!

[2020-04-14 18:27] #2038 closed

[2020-04-15 00:40] MikeSunGithub commented on #2025
Confirmed internally , scheduled refresh feature for PBIRS Excel Workbooks is not supported.

[2020-04-15 04:16] Wlibin-92 opened #2059 "unable to publish"
When I try to publish the report, it shows:
Sorry , no workspaces were found in Power BI Service, please try again

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Version Independent ID: 6abb84b5-1657-c8b1-62ef-641883c0e4b9
* Content: [Connect to datasets in the Power BI service fr

[2020-04-15 09:53] shishirmax commented on #1854
My Incremental refresh is not working when I published the PBI to PBI Services.
Even in the PBI Desktop it does not seems to be working as the complete data refresh is taking more than 2hrs.
Over PBI Services it shows Time out as an error.

[2020-04-15 12:11] dannradkov opened #2060 "Old connector deprecation date"
Can you define when the old connector is going to be deprecated ?
Also what are the differences between Cost management connector and  Azure Consumption Insights and Azure Cost Management (Beta) in practice ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 6

[2020-04-15 15:00] cajslc opened #2062 "Other Workspaces"
It would be fantastic if there was information included to determine where a report or dashboard is located that is referenced in the Other Workspaces section of Related Content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f150614-d6da-f190-519b-b6fca174771c
* Version Independent ID: 6ae71716-e278-d75f-f024-23785b6

[2020-04-15 15:51] santiagobs commented on #1559
Hi, on the current PowerBI Version (2.79.5768.1082 march 2020) I can't seem to find this conditional formatting for maps and other visuals, it seems now it's only supported by matrix and table visualizations.

[2020-04-15 15:58] adamwp1993 opened #2063 "Using Service Principal w/ On premise Data Gateway"
In order to use the Service Principal with the on-prem data gateway, you have to make an API call to Add Datasource User REST API. What is not documented anywhere though, is that the "Identifier" for this call is NOT the AAD application ID or the service principal Object ID. In order to run that successfully, you have to Call "Get Group Users" API endpoint, which will return a third (Correct) ID v

[2020-04-15 18:00] alwweb opened #2064 "Outdated interface"
This page still shows the old Power BI Interface (New look off). When I turn the new look on for the full interface, I see sample questions created I assume by some sort of AI, but I do not see my questions.  This page should be updated for the current operations, since I believe the new look is now supposed to be the "official" look.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-15 18:30] CeciAc opened #2065 "Afficher graphique issu table sur point carte géo localisé précisément (long-lat 191015FG.pbix) ?"
@MANTE49 commented on [Wed Apr 15 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/23)

Bonjour, POWER BI DESKSTOP je ne réussis pas à mettre un ou plusieurs graphiques simples issus de ma table sur chaque chef-lieu de région d'un pays, pourtant localisés sans problème (longitude/latitude). Pourtant dans un tuto même de PBI (visuel/Disposition et mise en forme), une visualisation i

[2020-04-16 10:23] joanteixi opened #2066 "Pause capacity renders embedded reports?"
Hi,

when we pause a capacity can we render the reports? I'm trying and it seems that an embedded report is rendered when capacity is in pause.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e37c7960-448a-0f10-c84a-f9c531452320
* Version Independent ID: 4867daee-c097-cde7-81c9-4f2a44a4f5b3
* Content: [Frequently asked

[2020-04-16 11:10] Jayesh040 commented on #1323
Hi @DonPetry-EY, We are having same scenario.
Could you please help us if you got any IP range list to PowerBI Online service. That would be very helpful.

[2020-04-16 11:52] RaoulHolzer opened #2067 "The script configureRSServer for the creation the Power BI Report Server web portal in a VM"
Marketplace offering has been trying to deploy for almost 2 hours without success.
Looks to be hung up on the REPORTVM/configureRSServer extension.

It fail to install the nuget packageprovider install-PackageProvider -Name "Nuget"

A fast fix is to connect to the vm and set the tls version [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

[2020-04-16 13:30] HarrisburgUSysAdmin opened #2068 "Microsoft Power BI Information Service"
Does Microsoft Power BI Information Service need to be in global admins? I have been auditing our Azure AD roles and found Microsoft Power BI Information Service listed as a global admin.  Does seem correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f546db7-20fa-c87d-f7a4-a0a931f47e05
* Version Independent ID: 01

[2020-04-16 14:41] markshull-TR opened #2069 "Filter search option"
When selecting Filter Type - Basic Filtering - what triggers the Search option availability? is there a limit to the number of terms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169f0fd8-5f91-c727-863e-775092492219
* Version Independent ID: f2870679-e514-3e52-3513-eb62c81983c7
* Content: [The new filter experience i

[2020-04-16 16:33] maggiesMSFT commented on #2069
Hi, @markshull-TR -- thanks for your question! Just so I'm clear on what you're asking: Does a field have to have a minimum number of values in a field before you'd see a Search option? Does that paraphrase your question?

[2020-04-16 16:40] markshull-TR commented on #2069
I have a field that does not toggle on the search option when setting the Basic Filter. All values in the field have only 1 occurrence each.  probably over couple hundred values (don't have the exact count)

[2020-04-16 16:45] maggiesMSFT commented on #2069
Hi, @markshull-TR -- That's plenty of values, definitely. What kind of values are they -- e.g., numbers, calculated column, measure, text...?

[2020-04-16 16:56] markshull-TR commented on #2069
Hi maggieMSFT,
The values are numeric,  6 and 7 digits in length

[2020-04-16 17:59] sergeigms opened #2070 "Update this and related doc for MG for perf improvement phase 1"
Please add a sentence or two to reflect the fact that query text and query result traffic for imported data models is no longer transiting through the home region. MG for perf improvement phase 1 is in production: https://powerbi.microsoft.com/en-us/blog/announcing-performance-improvements-for-multi-geo-premium-capacities/. Need to clarify that the report metadata still comes from the remote regio

[2020-04-16 18:00] MatthLee opened #2071 "formatting - datetime and number format for Desktop"
https://github.com/MicrosoftDocs/powerbi-docs/blob/live/powerbi-docs/supported-languages-countries-regions.md

Can we add a note about how Desktop gets default number and date format options? We have had a few customer complaints about this.

Windows Settings -> Region -> "Additional date, time, and regional settings" link
![image](https://user-images.githubusercontent.com/13227614/79490206-5b026f

[2020-04-16 18:53] maggiesMSFT commented on #2069
Thanks, @markshull-TR. I have a hunch, but I'll confirm first and get back to you.

[2020-04-16 19:05] CeciAc opened #2072 "SHOW GRAPHIC ON POINT GeOLOCALISE of a map?"
The comments below were machine-translated
@MANTE49 commented on [Thu Apr 16 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/25)

How do you display a graph on a geolocated point (longitude / latitude) precisely on a map? The graph data is in the table. Should we create a graphic field? If yes, how ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoir

[2020-04-16 19:37] kfollis commented on #2068
Hi @HarrisburgUSysAdmin - thanks for the question. I'm verifying with our engineering team, but this appears to be related to an older product version. I located this related community thread: https://community.powerbi.com/t5/Power-Query/What-is-the-quot-Microsoft-Power-BI-Information-Service-quot/td-p/568946 which may help to resolve this for you. I'll follow up with any additional info I can get

[2020-04-16 20:31] kfollis commented on #2071
Thanks for the feedback, @MatthLee. I'm assigning to the author to consider your update request.

[2020-04-16 20:36] kfollis commented on #2070
Thanks @sergeigms. Assigning to the docs author for review.

[2020-04-16 20:38] kfollis commented on #2067
Hi @RaoulHolzer. I'm sorry that you're having problems. Is there a particular document you were referencing that needs to be updated? If not, your best bet is to connect with https://powerbi.microsoft.com/en-us/support/.

[2020-04-16 20:42] kfollis commented on #2066
Hi @joanteixi - Thanks for the question! I'm assigning your question to the docs author for review. They'll follow up soon.

[2020-04-16 20:45] kfollis commented on #2064
Thank you for the feedback, @alwweb. I'm assigning this issue to the docs author for review. They'll follow up soon.

[2020-04-16 20:47] kfollis commented on #2063
Thanks @adamwp1993! I'm assigning to the docs owner for review and they'll follow up soon.

[2020-04-16 20:49] kfollis commented on #2062
Thanks @cajslc! I'm assigning your issue to the doc owner for review. They'll follow up soon.

[2020-04-16 20:55] kfollis commented on #2059
I'm sorry you're having problems, @Wlibin-92. There are some limitations listed in the article, you might check into those and if you still encounter issues, reach out to https://powerbi.microsoft.com/en-us/support/

[2020-04-16 20:55] #2059 closed

[2020-04-16 22:16] frvigano opened #2073 "Direct Query working with MFA"
It seems that at least with MSFT users (@microsoft.com) MFA works also with direct query and SQL DW, which seems against what we report in our documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf5c2cbb-f3de-c63e-fc74-a5157d5f5c9c
* Version Independent ID: dd280f16-bad8-5f60-f960-208047f6f9b2
* Content: [Azu

[2020-04-17 02:15] JamesDBartlett commented on #1996
@peter-myers As I mentioned in my original comment, the videos in your playlist on YouTube max out at 720p, so though your source video files may be full HD, the videos on YouTube are not.

Here's a screenshot, showing YouTube's resolution selection menu on the first video in your series, with 720p selected, and no higher resolution options available:
![image](https://user-images.githubusercontent

[2020-04-17 09:12] RaoulHolzer commented on #2067
Hi, it the https://docs.microsoft.com/en-us/ower-bi/report-server/tutorial-explore-report-server-web-portal page. The creation of the VM doens't work

[2020-04-17 14:36] mohammad-amiri opened #2075 "Rest API for the lineage would be awesome."
If we can have the lineage report API it would be great.
I would like it at the organization level.

This level of detail tells me everything I want to know about a report/dataset/.....

Another thought would be a set of Power BI admin reports (organization level reports)  that would provide
what would be great.
1. Start from the gateway and give details at every level [datasource/dataset...]all t

[2020-04-17 17:05] maggiesMSFT commented on #2073
Hi, @frvigano -- given you're a MSFT user, I'm going to reach out to you offline with a suggestion. Thx!

[2020-04-17 17:05] #2073 closed

[2020-04-17 17:07] maggiesMSFT commented on #2075
Hi, @mohammad-amiri -- good ideas! Try searching for them on the Power BI ideas site, https://ideas.powerbi.com/forums/265200-power-bi, to see if anyone else has suggested them. If not, please enter them there. Good luck!

[2020-04-17 17:07] #2075 closed

[2020-04-17 17:20] maggiesMSFT commented on #2065
Bonjour, @CeciAc -- Je chercherai quelqu'un qui peut repondre a votre question!

[2020-04-17 17:22] kfollis commented on #2067
Thanks for clarifying! I've assigned this to the documentation owner to investigate.

[2020-04-17 17:41] maggiesMSFT commented on #2065
@CeciAc -- SVP, quelle est l'adresse de ce tuto de PBI (visuel/Disposition et mise en forme) qui a une visualisation illustre que c'est possible (carte USA)? Merci

[2020-04-17 17:57] asocorro opened #2076 "What are the selected fields to study?"
Hi, when following the example I get this message in the step where the fields are chosen:

We could not complete the analysis to recommend fields at this time. We've selected all the fields as default. You may change the selections to include only the fields you want the model to study.

This does not match with the screenshot provided and it is not clear which fields to choose.

Thanks!

---
###

[2020-04-17 20:49] MANTE49 commented on #2065
Merci Madame, il s'agit du tuto simple de POWER BI

https://docs.microsoft.com/fr-fr/learn/modules/visuals-in-power-bi/12-formatting

Voicice que je voudrais pouvoir faire (capture sur ce tuto), cad afficher en pointsgéolocalisés des graphiques issus de ma table.

J'aifais des essais sans succès sur un rapport pbix (page 1, 191015FG.pbix que jepense avoir publié, si vous pouvez le retrouver, il s'

[2020-04-17 21:10] Perams opened #2077 "Working Code Sample"
First things first, Thanks a ton for getting this much needed feature out.

However, can we get a full working sample rather than bits and pieces of code here. For example in the code above "PostExportRequest" you are using Name and Client variables that are defined in the function, I am sure you would have declared them in your code. if you can post the entire code or redirect us to a github link

[2020-04-17 23:55] robbiersm opened #2078 "R Package Request for Power BI"
Hello - could you please add the radiant package to Power BI?

https://CRAN.R-project.org/package=radiant

https://github.com/radiant-rstats/radiant

Thanks in advance.

[2020-04-18 00:17] maggiesMSFT commented on #2065
Bonjour, @CeciAc -- vous dites que vous utilisez les coordines latitude et longitude? Si oui, donc, il n'y a auncune raison que ca ne marche pas. Peutetre que vous serriez obliger d'ouvrir un cas sur le site https://powerbi.microsoft.com/en-us/support/.

[2020-04-18 02:00] 1Steve0 opened #2079 "How to use a personal email address to use Power BI"
[
I was unable to use a work email address to setup Power BI so I needed to use a personal email address @gmail.com.  I found many posts online with frustrated users trying to use personal email addresses to register and it just kept going around in circles and not working. I went to the trouble of contacting Microsoft Support who directed me to JusAnswer.com. I paid $5 but this also was not helpf

[2020-04-18 09:44] MANTE49 commented on #2065
Merci mais je ne trouve aucun résultat à ma question
Hello, how todisplay a graph from my table on a point on a geolocalized map (longitude /latitude) ?

Bonjour, comment afficher un graphique issu de ma table surun point d'une carte géolocalisé (longitude/latitude) ?
J'ai bien dasn ma table une colonne latitude, une colonne longitude, des colonnes contenant les données du graphique, mais je ne pe

[2020-04-19 11:34] djpirra opened #2080 "Where is the example for Custom valueFormatter?"
How do you format your data based on specific configurations?
Previously there was powerbi.extensibility.utils.formatting.valueFormatter.
Is it still the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d42a638-f0b9-abd1-43da-0c1618394948
* Version Independent ID: 1350b334-88ef-1aaf-61b6-6b78ab1baf82
* Content: [D

[2020-04-20 16:28] maggiesMSFT commented on #2076
Hi, @asocorro -- how are you? Assigning to the author to check into your issue. cheers!

[2020-04-20 16:30] maggiesMSFT commented on #2078
Hi @robbiersm -- yours looks like a product request, not a documentation issue. Please submit it at Power BI Ideas site, https://ideas.powerbi.com/forums/265200-power-bi. Or check to see if someone has already suggested it, and vote it up!

[2020-04-20 16:30] #2078 closed

[2020-04-20 16:44] maggiesMSFT commented on #2077
Hi, @Perams -- thanks for your feedback! Assigning to the author to assess.

[2020-04-20 16:48] maggiesMSFT commented on #2079
Hi, @1Steve0 -- thanks for your detailed comment! Assigning to the author to assess.

[2020-04-20 16:57] kfollis commented on #2068
Hi @HarrisburgUSysAdmin - I confirmed that the account you see in global admins is a legacy artifact of a previous version of Power BI (original implementation). It's not used today and should be safe to remove.

Closing the issue.

[2020-04-20 16:57] #2068 closed

[2020-04-20 18:04] Ghuiles opened #2081 "The link to the download page does not work"
Hi!
The link from "download Power BI publisher for Excel " does not work (download not available anymore). Can you please have a look at it?
BR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content: [Analyze in Excel

[2020-04-20 19:08] CeciAc opened #2082 "Missing "reader" role"
@ThomasKwakman commented on [Sat Apr 18 2020](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/26)

Hi,

For the following sentence, the reader role is missing, isn't it?

"Add security groups, distribution lists, Office 365 groups, or individuals to these workspaces as members, contributors, or admins. See Roles in the new workspaces for an explanation of the different roles."

Have a n

[2020-04-20 19:47] asocorro opened #2083 "about what is cached"
Hi, the text says "At present the service only does query caching for the initial page that you land on."   What if the last page I visited was Page 2?  Would Page 2 be the new cached page, because it will be the page I will first see when I reopen the report?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13

[2020-04-20 20:01] maggiesMSFT commented on #2082
Hi, @ThomasKwakman -- oui, vous avez raison! Je vais ajouter "Viewer role." Merci!

[2020-04-20 20:22] CeciAc opened #2084 "Which Map do you use in Covid-19 dashboard?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.tr-tr/issues/3

@ofyayla commented 2 days ago — with docs.microsoft.com
I am trying to make the same dashboard, but I didn't find which the map you use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c22af6d-1ae9-9288-51b6-8d05c51d1b56
* Ve

[2020-04-20 21:07] maggiesMSFT commented on #2082
Hi, @ThomasKwakman -- ok, c'est fait. Merci!

[2020-04-20 21:07] #2082 closed

[2020-04-20 21:21] maggiesMSFT commented on #2084
Hi, @ofyayla -- thanks for asking! I'll check and get back to you.

[2020-04-20 21:41] maggiesMSFT commented on #2081
Hi, @Ghuiles -- thanks for catching that! You're right, the link is broken because Publisher for Excel has been deprecated. Please use Analyze in Excel.
I've removed the link from the article.

[2020-04-20 21:41] #2081 closed

[2020-04-20 22:07] davidiseminger commented on #2083
Thanks for your comment, @asocorro . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-20 22:08] davidiseminger commented on #2080
Thanks for your comment, @djpirra. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-20 22:13] maggiesMSFT commented on #2029
Hi, @fordmaxson -- updating the article with this consideration. Thanks!

[2020-04-20 22:13] #2029 closed

[2020-04-20 22:15] maggiesMSFT commented on #2011
Hi, @fordmaxson -- I confirmed, the answer is no, they don't stay at the top.

[2020-04-20 22:15] #2011 closed

[2020-04-21 00:48] maggiesMSFT commented on #2084
Hi, @ofyayla -- the US map is a standard shape map in Power BI. The drill-down county maps are Bing maps. Hope that helps!

[2020-04-21 00:48] #2084 closed

[2020-04-21 08:48] rajuchapagain opened #2085 "AuthContext problem"
[Enter feedback here]
Hi, Could you advise what is the correct code to get token when I am using the latest version of Nudget package "Microsoft.IdentityModel.Clients.ActiveDirectory;", it shows the error message AuthenticationContext does not contain a definition for acquiretoken and no accessible extension required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-04-21 17:07] MikeLarah commented on #2043
I'm not sure if something has changed since this comment, but I found that connecting the Data Lake to Power BI worked fine without having to create the 'powerbi' filesystem myself. In fact, it explicitly errored when I tried to connect a Data Lake with a pre-existing 'powerbi' filesystem.

[2020-04-22 04:20] mihart commented on #2085
Thanks for your comment, @rajuchapagain . This issue has been assigned to the doc author for review.

[2020-04-22 08:28] masaki1234 opened #2086 "Broken Webinar Links"
Hello,

The following links at https://docs.microsoft.com/en-us/power-bi/webinars are broken and redirect me to https://www.microsoft.com/en-ca/industry/?rtc=1 .

Boost Your BI with Location Intelligence
Register and watch now (https://info.microsoft.com/ww-ondeamnd-boost-powerbi-with-arcgis.html?Is=Website)

Applied Intelligence for Sales & Services
Register and watch now (https://info.microsoft.

[2020-04-22 09:21] masaki1234 opened #2087 "Issues around 'Cost of Living' Column That Does Not Exist in Loaded Data"
Hello,

Per your tutorial, I loaded data from https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/ and opened it in the Power Query Editor.

I created a custom column 'New Rank' with the following code that you provided in the Shape Data section:
([Cost of living] + [Weather] + [Health care quality] + [Crime] + [Tax] + [Culture] + [Senior] + [#"Well-being"]) / 8

Issue 1: The

[2020-04-22 17:36] KesemSharabi commented on #2087
Thanks for your comment, @masaki1234.

I've assigned this issue to the doc author for review.

[2020-04-22 17:39] KesemSharabi commented on #2086
Thanks for your comment, @masaki1234.

I've assigned this issue to the doc author for review.

[2020-04-22 19:15] davidiseminger commented on #1971
Thanks for pointing this out @sqlchick - much appreciated! You're right, and I've consolidated those articles into one, and removed the duplicate (this page). Thanks!

[2020-04-22 19:15] #1971 closed

[2020-04-22 20:26] CeciAc opened #2088 "Synchronize the cross-analysis filter to other pages"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.zh-tw/issues/15

the comments below were machine-translated
@myyt0523 commented 19 hours ago — with docs.microsoft.com
Is this synchronization function of cross analysis filter available on the dashboard?
I use this function in power bi desktop to synchronize, but after the power BI service is pinned to the dashboard, t

[2020-04-22 23:00] kfollis commented on #2086
Hi @masaki1234 - Thank you so much for the heads up on the broken links. We are investigating and expect to have those links fixed up soon. I'll keep this issue open for now will respond again when I have confirmed that the webinar links are working again.

[2020-04-23 06:25] laandermsft opened #2089 "Export row limitations"
In the "Limitations and considerations" section it says that "The maximum number of rows that the applications can export from an import mode report to an .xlsx file is 150,000." and it also says that "When using DirectQuery, the maximum amount of data that Power BI can export is 16-MB uncompressed data.".
I know that there is also a limitation of 150,000 rows usind DirectQuery, but it is not 100%

[2020-04-23 14:16] alohaninja opened #2090 "Sustainability via Azure Portal by Subscription"
For non-EA customers - what are the available options for viewing sustainability data by Azure subscription? Seems [this feature](https://appsource.microsoft.com/en-us/product/power-bi/coi-sustainability.sustainability_dashboard) should be closely integrated with [Cost Management blade](https://azure.microsoft.com/en-us/services/cost-management/) as it relates to carbon-consumption - a [SSE (_Sust

[2020-04-23 17:46] hfulks opened #2091 "Failed"
I saw the preview and pressed "Load", this is the result:
Failed to save modifications to the server. Error returned: 'Expression in partition 'n/a' in table 'n/a' references unknown variable or function 'Python.Execute'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070da3e8-5146-a2ca-9ac3-ed77621fc050
* Version Inde

[2020-04-23 18:52] hfulks opened #2092 "More transform steps might be needed to get this working"
When I went through this process, I needed to update all of the CSV column types from text to numeric and decimal. Then after running the Python script, I was left with two datasets and I needed to select the final one prior to closing and applying my changes. Maybe add a note about filtering the Day range too, so that the visuals match...

---
#### Document Details

⚠ *Do not edit this section. I

[2020-04-23 19:53] otarb commented on #2091
Please share more details. How are you getting data? pandas.read_csv ?

If you can share your python script and the dataset, that would help to reproduce issue on our

[2020-04-23 20:10] otarb commented on #2092
How are you reading csv? PowerQuery should auto-detect types based on top 200 rows by default. There is an option to change it to use complete dataset, or disable type detection altogether.

There are two datasets because there are two variables defined in Python, that is expected.

[2020-04-23 20:22] kfollis commented on #2086
Hello again @masaki1234 - Our investigation discovered that some of the webinars weren't current and so were removed. This article with the links simply missed the update. I've removed links to webinars that are no longer valid. Sorry about that! If there's a particular webinar you're looking for, you can submit an idea to https://ideas.powerbi.com/. You might also take a look at the resources in

[2020-04-23 20:22] #2086 closed

[2020-04-23 20:29] masaki1234 commented on #2086
Hi @kfollis,

I just visited https://docs.microsoft.com/en-us/power-bi/webinars . I still see the same broken links.

Did you commit your changes?

Masaki

[2020-04-23 20:33] kfollis commented on #2086
Yes - I should have clarified - the changes are staged and awaiting publishing. Changes will be live later this afternoon. Just getting a little ahead of myself.

[2020-04-23 21:22] kfollis commented on #2089
Thanks for the feedback, @laandermsft. I'm assigning this issue to the author for review. They'll follow up soon!

[2020-04-23 21:24] kfollis commented on #2088
Thanks @myyt0523 for the question. I'm assigning this issue to the author to take a look. They'll follow up soon.

[2020-04-23 21:27] kfollis commented on #2090
Thanks for the question, @alohaninja. I'm assigning this issue to the author to take a look and follow up.

[2020-04-23 21:49] maggiesMSFT commented on #2088
Hi, @myyt0523 -- thanks for asking! If I understand your question correctly, no filters don't apply to dashboards. Please clarify, if that was not your question.

[2020-04-24 00:48] maggiesMSFT commented on #2071
resolving in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/3726

[2020-04-24 00:48] #2071 closed

[2020-04-24 01:21] maggiesMSFT commented on #2067
Hi, @RaoulHolzer -- thanks for asking. I'll check and see if the VM should still work.
Here's a working link to the article: https://docs.microsoft.com/en-us/power-bi/report-server/tutorial-explore-report-server-web-portal

[2020-04-24 07:55] sandeeplodhirajput opened #2094 "Service content pack for power BI"
HI i am not able to find servicenow content pack from app.powerbi.com.

can someone please share the link.

DO NOT SHARE BELOW LINKS ITS JUST useless....

https://powerbi.microsoft.com/fr-fr/blog/explore-your-servicenow-data-with-power-bi/

https://docs.microsoft.com/en-us/power-bi/service-connect-to-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-24 08:16] narismadz opened #2095 "There is no Power BI Premium Whitepaper (2019) here"
Based on this link https://powerbi.microsoft.com/en-us/blog/power-bi-premium-deployment-and-management-whitepaper-added/ there's some mentioned that Peter Myer's whitepaper (2019) is available for download but there's no downloadble content here and also in Whitepaper page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-24 14:56] lgpreston75 commented on #2091
I am getting the same error.  I have loaded the data from a SQL Server (unfortunately not able to share it). The pandas script
``
# for pbi
current_fiscal_week =dataset.loc[dataset['CurFiscalWeek']==1]['FiscalWeekNo'].unique().item()

def get_weeks_cover(subset_df):
    test = subset_df.copy()
    test = test.sort_values(['FiscalWeekNo'])
    stock = test.loc[test['FiscalWeekNo'] <= current_fiscal

[2020-04-24 17:20] otarb commented on #2091
@lgpreston75 please share more details. where are you running this script? As a PowerQuery transformation?

This article is about using Python as data source but you said you are using SQL to get the data.

[2020-04-24 17:29] lgpreston75 commented on #2091
Apologies, the script is being run as a Python Script in the Power Query Editor on a table which is from a SQL database

[2020-04-24 17:37] CeciAc opened #2096 "Doubt with discretization of dates."
The comments below were machine-translated

@Shibz17 commented on [Thu Apr 23 2020](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/28)

I have a calendar table that starts on January 02, 2017 and ends on January 03, 2021. When I group by 7 days, to achieve grouping by weeks (from Monday to Sunday), it mistakenly returns the beginning of the week.

For example:
Discretization type: "Dis

[2020-04-24 18:50] maggiesMSFT commented on #2095
Hi, @narismadz -- thanks for your question. Referring to the author to check into it.

[2020-04-24 18:52] maggiesMSFT commented on #2096
Hi, @CeciAc and @shibz17 -- thanks for your question! Referring to the author to investigate.

[2020-04-24 19:04] CeciAc opened #2097 "Custom List as Filter"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.tr-tr/issues/4

@ofyayla commented 21 hours ago
We use SSAS models in my company and I am a end-user of the model. I create own dashboards with the cube datas.
Sometimes for the spesifics customer group I need to filter them on the model.
For example I have 1million customer but I want to create a special analysis for 5

[2020-04-24 20:53] CeciAc opened #2098 "How to create an aggregate table"
Hi team, I moved this from here: https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/59

The comments below were machine-translated
@hlhxwithmj commented on [Fri Apr 24 2020](https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/59)

Ask how to create an aggregate table? Through "New Table" in the "Modeling" module?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。

[2020-04-25 09:13] MartinBubenheimer opened #2099 "Doesn't work"
Could you please describe how this works, or maybe publish a video how to set this up? Even the screenshots on this manual page show that it does not work. they show black tiles instead of the visual, and that's what I experience as well. And please mention all relevant preconditions and limitations, like I need a specific license, I need a specific .net version installed etc. etc. since this obvi

[2020-04-25 10:20] paulinbar commented on #2099
Hi @MartinBubenheimer , just read your comment. Let me look into this. May not manage to get back to you today, but will try by tomorrow. And I'll update the doc according to what I find out. Thanks for calling this out!

[2020-04-25 19:49] paulinbar commented on #2099
Hi @MartinBubenheimer . Ok, I heard back. Apparently the "live" feature was deprecated by Windows, and the doc was updated with a non-live picture (hence the non-live image that you saw in the doc), but for some reason it was still called live. I will update the doc so as to remove that confusion. Thanks for contacting us about this, and sorry for the inconvenience...

[2020-04-25 19:49] #2099 closed

[2020-04-26 10:15] iranimohamad opened #2100 "Cannot generate embed token for paginated report"
I getting a bad request error when trying to embed the paginated reports.

InvalidRequest-Creating embed token for paginated report is only supported with workspaces v2

can someone help with this error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5c029a-8d59-20e1-ca77-ffdf36dab6b9
* Version Independent ID: ced0085

[2020-04-26 13:46] Mike-Honey opened #2101 "Feature has been renamed to "Show as a table" - content is out-of-date."
The page title, url and content are all out-of-date. I dont know when this feature was renamed, maybe 3-4 months ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b060f1a-22fd-1b17-6c0a-bc363a2510cd
* Version Independent ID: e4310a93-83c5-1df3-c82a-fe5589fb8b04
* Content: [Show the data that was used to create the v

[2020-04-27 07:37] paulinbar commented on #2097
Hi @ofyayla , @srvbpigh , and @CeciAc . Do any of you have a reference to the doc page in question? We are the doc team and in order to be able to check the issue we need to be able to know what doc(s) are being referred to. If it is a product question or a support request, I suggest you try either the [Power BI Community]( https://community.powerbi.com) or our [support page](https://support.power

[2020-04-27 07:45] paulinbar commented on #2098
Hi, @hlhxwithmj, thanks for reaching out to us. I have forwarded your question on to the doc author for consideration. I believe your question related to this page:
https://docs.microsoft.com/en-us/power-bi/desktop-aggregations

[2020-04-27 07:57] paulinbar commented on #2100
Hi @iranimohamad . Thanks for reaching out to us. You have reached the documentation team. Before I forward your question on, do you know whether you are working with workspaces v2? Check out this blog post that briefly describes the new workspaces (i.e. v2). It also has links to some docs that have more detail about workspaces. The pre-v2 workspaces are now called "classic" workspaces. Anyway, he

[2020-04-27 07:59] paulinbar commented on #2101
Hi @Mike-Honey , thanks for your comment. I have forwarded it along to the doc author for consideration.

[2020-04-27 09:03] myyt0523 commented on #2088
Hi , @maggiesMSFT ,
Is this synchronization function of cross analysis filter available on different dashboards?
Or it only works on report?
Thanks for your reply~

[2020-04-27 09:19] Sil-L opened #2102 "Import theme feature has changed location"
The feature to import a custom theme has changed in the PowerBI desktop product update to be in the 'View' tab. It is no longer in the 'Home' tab.
Go to:
1. View Pane
2. Click on drop down next to existing themes
3. Select 'Browse Themes' (this allows you to upload a theme)
4. Select your theme JSON file and upload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-27 09:21] Sil-L commented on #1992
Hi FThun,

see my comment above for a step by step of how to do it - the feature is still there, it has just changed to be in the 'View' Ribbon. Hope this helps.

[2020-04-27 14:47] yaelkfir opened #2103 "Is the export-to API relevant for embedded report?"
embeddedReport: Embed;
is embeddedReport.exportToFile({ format:'PDF '}) a thing?

I in the d.ts file of powerbi-client(latest) it doesn't exists  but the documentation is a bit confusing...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b2a51d-0025-3209-a1c1-db3362b909bb
* Version Independent ID: a952e5a8-acf6-31cc-4

[2020-04-27 17:27] KesemSharabi commented on #2085
Thanks for your comment, @rajuchapagain.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-04-27 17:27] #2085 closed

[2020-04-27 17:29] KesemSharabi commented on #2080
@uve - can you please assist with this question?

[2020-04-27 17:31] KesemSharabi commented on #2066
@amit-shuster - can you please assist with this question?

[2020-04-27 17:33] KesemSharabi commented on #2054
@amit-shuster - can you please assist with this?

[2020-04-27 21:01] cal172 opened #2104 "Easy to follow article."
Exactly what I was looking for.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Version Independent ID: 5b620628-1c10-b0bb-bd4d-1fd229260ea1
* Content: [Using report tooltip pages in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-tooltips#feedback)

[2020-04-27 23:42] DeanGross opened #2105 "Available clouds"
Please identify which clouds in which this is available. I just told a client that they could use this only to find out that it is not yet in the Gov clouds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 085fcf12-3551-ccc4-d2ac-9b660c0dab54
* Version Independent ID: eee33150-c98d-029c-8c35-39cb702cc577
* Content: [App

[2020-04-28 00:06] davidiseminger commented on #2102
Thanks for your comment, @Sil-L . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-28 00:07] davidiseminger commented on #2103
Thanks for your comment, @yaelkfir . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-28 00:08] davidiseminger commented on #2104
@cal172  - thank you! It's great to hear it's what you were looking for, and thanks for taking the time to share that you liked it. Much appreciated!

[2020-04-28 00:08] #2104 closed

[2020-04-28 00:09] davidiseminger commented on #2105
Thanks for your comment, @DeanGross. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-04-28 07:14] tmgdwn opened #2106 "Help does not reflect product"
I arrived at this page directly from the help "?" in the product, yet the diagrams do not reflect the product.  I am unable to find anything resembling the data configuration shown here to refresh the data on my screen.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Indepe

[2020-04-28 08:02] paulinbar commented on #2105
Hi @DeanGross . Thanks for your feedback. There is a mention in the [Considerations and Limitations -10th bullet...](https://docs.microsoft.com/power-bi/designer/service-security-apply-data-sensitivity-labels#considerations-and-limitations) that sensitivity labels are only supported in the global (public) clouds, but government clouds are not specifically mentioned - they just fall under the "othe

[2020-04-28 08:02] #2105 closed

[2020-04-28 08:09] YMainich commented on #2077
Yes, I agree with Peter.  If you can provide a github link for the entire code, it will be great.

[2020-04-28 08:58] edfreeman opened #2107 "Unable to update storage location of a workspace created before BYO Data Lake capability configured on the tenant"
I've tested this in a number of tenants, now. You can't update the Dataflow storage location on workspaces that were created before the bring-your-own Data Lake integration was configured on the tenant, even after you've deleted all the Dataflows from that workspace.

Not sure whether this is a bug or by design - either way, I think it's worth mentioning in these docs.

Ed

---
#### Document Detai

[2020-04-28 13:34] marclelijveld opened #2108 "Missing information about view-only for A-sku"
In the table above, both P and A-skus are listed. In a later paragraph, there is more detail on view-only licenses. Per my experience, this only applies to P-sku and not to A-skus. Can this please be clarified in the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Ind

[2020-04-28 14:55] DeanGross commented on #2105
@paulinbar thanks for the quick response, some of the docs pages have an "applicable version" at the top to show what it applies to, i.e.,  SharePoint 2010, 2013, 2016, and/or 2019. Doing something similar for the various clouds and possibly licensing packages would be super helpful.

[2020-04-28 15:37] jjjain commented on #584
Snowflake connection string doesn't  have option to specify additional parameters. Since all our traffic outside is encrypted, we need to specify a CABundleFile in connection string. There is no way to specify this in Snowflake connector in Power BI

[2020-04-28 15:38] jjjain opened #2109 "Snowflake connection string doesn't have option to specify additional parameters."
Snowflake connection string doesn't have option to specify additional parameters. Since all our traffic outside is encrypted, we need to specify a CABundleFile in connection string. There is no way to specify this in Snowflake connector in Power BI.

Also, need a way to specify an authenticator to use (e.g. okta site)

This is similar to a need to specify a role (like how you allow a warehouse to

[2020-04-28 15:46] mgaynor opened #2110 "Schedule a Data Set refresh using On-Prem Gateway -- mixed Sharepoint Online and on-premise Excel and SQL Server"
Is there a way to schedule a Data Set refresh using On-Prem Gateway when the sources are Sharepoint Lists and on-premise SQL Server?

[2020-04-28 16:46] rG-tom commented on #1839
@paulinbar where did you get to with this? A number of parameters are greyed out for me, and mine are just for excel file connections.

Thanks,

[2020-04-29 10:26] hrr opened #2112 "Copy Path location image doesn't match current Excel"
Location on documentation:
![image](https://user-images.githubusercontent.com/2828703/80585847-93309580-8a46-11ea-87a9-4176193e7da1.png)

Location now:
![image](https://user-images.githubusercontent.com/2828703/80586039-ea366a80-8a46-11ea-9872-dd159860a9a1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a1e2f2-6f

[2020-04-29 10:30] Amdisilword commented on #2012
Hi
I have the same issue. "Details: "Access to the resource is forbidden.".
The first time I tried to Connect to Sharepoint folder. I entered the URL code for specific the sharepoint site.
The next window was Share point access screen. Here I chose Windows. And then it denied after click on Connect.
Now I will tried again and use Microsoft Account. After enter URL code again. It just write "Access

[2020-04-29 10:31] Amdisilword commented on #2012
@jessicaoo

[2020-04-29 10:44] Amdisilword commented on #2012
Hi @kfollis.
Out from my describtion. Do you have any idea how to get the Share Point Access screen visible again.

[2020-04-29 12:05] sandeeplodhirajput opened #2113 "Not able to connect to my dataflow from pbi desktop"
HI,
I created a dataflow in service and when i try to connect it through desktop i am getting below error.
I am using the same credential which i have used in log into pbi service. please suggest help here.

This page can’t be displayed

•Make sure the web address https://login.microsoftonline.com is correct.
•Look for the page with your search engine.
•Refresh the page in a few minutes.

---
####

[2020-04-29 14:50] mihart commented on #2106
Thanks for your comment, @tmgdwn . This issue has been assigned to the doc author for review.

[2020-04-29 14:51] mihart commented on #2107
Thanks for your comment, @edfreeman . This issue has been assigned to the doc author for review.

[2020-04-29 14:53] mihart commented on #2108
Thanks for your comment, @marclelijveld . This issue has been assigned to the doc author for review.

[2020-04-29 14:53] mihart commented on #2109
Thanks for your comment, @jjjain . This issue has been assigned to the doc author for review.

[2020-04-29 14:55] mihart commented on #2110
Thanks for your comment, @mgaynor . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-29 14:56] #2110 closed

[2020-04-29 16:13] kfollis commented on #2012
I found a similar question in the Power BI Community - it's a great resource! Does this https://community.powerbi.com/t5/Desktop/Access-Forbidden-connecting-to-SharePoint-Online-List/m-p/604255#M287613 thread help to resolve the problem?

[2020-04-29 16:46] mihart commented on #2101
Hi @Mike-Honey ,
I've made the updates and they should go live tomorrow.  Thanks for the reminder!
Michele

[2020-04-29 16:46] #2101 closed

[2020-04-29 17:05] CeciAc opened #2114 "Onde esta o link?"
@daltonpinheiro commented on [Wed Apr 29 2020](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/36)

Ok, pbubliquei o documento.
Onde está o link desta publicação para passar para outras pessoas usar?
É possível usar este recurso com uma conta free, pois eu conseguia e não estou conseguindo mais?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do

[2020-04-29 17:59] mihart commented on #2089
Thanks @laandermsft .  Update should go live tomorrow.

[2020-04-29 17:59] #2089 closed

[2020-04-29 18:03] mihart commented on #2079
Hi @1Steve0 ,
I too just went through this process.  I've updated the docs and hope the process is now less disjointed.  Take a look at: https://docs.microsoft.com/en-us/power-bi/service-self-service-signup-for-power-bi.  There is a section about email addresses and a link to an article that steps you through what you did above.

[2020-04-29 18:03] #2079 closed

[2020-04-29 18:05] mihart commented on #2072
Thanks for your comment, @CeciAc and @mante49 . This looks like a support request or product question rather than documentation feedback. Your question is about maps but the article is about sorting. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-04-29 18:05] #2072 closed

[2020-04-29 18:15] mihart commented on #2062
Hi @2cajslc,
Thanks for your question. Can you provide additional details?  Are you looking at related content for a dashboard or report?  Where are you seeing "Other Workspaces"? And, by location, do you want to know the name of the workspace, or whether it is in capacity, etc?  Thanks.

[2020-04-29 18:32] maggiesMSFT commented on #1668
Hi, @pcgeekus -- updated it now. Change will go live this afternoon. Thanks!

[2020-04-29 18:32] #1668 closed

[2020-04-29 18:40] psiservices-rfeiock opened #2116 "Make sure you authorize at the Organizational level"
When setting up the GitHub authentication for the first time, you are presented with 2 options for authorization, at the user level or the organization level.  I originally authorized at the user level, and then encountered 404 errors when trying to pull from my GitHub repository.  After a bit of troubleshooting, I assumed the issues was with the authorization, but there is no way to go back and c

[2020-04-29 18:41] Mdevlin4 commented on #1535
@dschlabach @soldstatic @gebberry @vincentys99 we have a fix checked in that allows escaping single quotes in OData values. We follow the OData standard which escapes a single quote by using 2 consecutive single quotes.

For example:

- ?filter=**Table/Name eq 'O''Brien'**
Becomes:
![image](https://user-images.githubusercontent.com/3161215/80633095-0cab9200-8a0d-11ea-8b44-ee83adc0e116.png)

- ?fil

[2020-04-29 18:45] Amdisilword commented on #2012
Hi  @kfollis
Many thank you for your guide.
It was just the issue.

I have been sought  and sought and did never come to this post in the community.
I'am curious which search text you wrote.

Can you remember that ?

[2020-04-29 19:16] CitDev82 opened #2117 "Missing Release Notes for latest version?"
According to this website the latest version of Power BI Desktop is 2.79.5768.1082, published on 04/01/2020:
https://www.microsoft.com/en-us/download/details.aspx?id=58494
But I can't find the release notes anywhere. This article covers only version 2.79.5768.562...

Many thanks in advance!
Marcus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-04-29 20:16] kfollis commented on #2012
I'm pretty sure my search criteria was "SharePoint access forbidden" - I'm very happy that the post helped with your issue!

[2020-04-29 20:41] russellclaude opened #2118 "I get nothing but a blank page"
I have tried on IE/Edge/Firefox, and I have tried with simple table/field names, and I get nothing but a redirected URL and a blank page:

view-source:https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-982a-7cb446e25bc6?filter=ReportingCalendar/period%20eq%20%27Latest%2052%27/oauth2/authorize&client_id=871c010f-5e61-4fb1-83ac-98610a7e9110&response_type=code%20id_token&scope=openid%20profile&stat

[2020-04-29 21:06] jjjain commented on #2109
thanks, I have opened a ticket with Snowflake as well. But this needs to be
looked at by Microsoft as well as Snowflake

On Wed, Apr 29, 2020 at 10:54 AM Michele Hart <notifications@github.com>
wrote:

[2020-04-30 02:59] maggiesMSFT commented on #2118
Hi, @russellclaude -- it's not possible to view your report. This doesn't sound like a documentation issue. You need to contact the support folks, https://powerbi.microsoft.com/en-us/support/.

[2020-04-30 02:59] #2118 closed

[2020-04-30 03:02] maggiesMSFT commented on #2117
Hi, @CitDev82 -- coming soon!

[2020-04-30 03:02] #2117 closed

[2020-04-30 07:17] Sil3ntGam3r commented on #2077
I also want to see the entire code

[2020-04-30 09:16] KesemSharabi commented on #2116
Thanks for your comment, @psiservices-rfeiock.

I've assigned this issue to the doc author for review.

[2020-04-30 09:18] KesemSharabi commented on #2114
Thanks for your comment, @CeciAc.

I've assigned this issue to the doc author for review.

[2020-04-30 09:21] KesemSharabi commented on #2113
Thanks for your comment, @sandeeplodhirajput.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-04-30 09:23] KesemSharabi commented on #2112
Thanks for your comment, @hrr.

I've assigned this issue to the doc author for review.

[2020-04-30 16:07] gregoryleandro opened #2119 "What about DirectQuery on SAP HANA datasources ? Can query caching be leveraged ?"

[2020-04-30 18:35] tireraid opened #2120 "Great information"
This page cleared up a lot of confusion for me, thank you. I was linked here from the following page, which has also been very helpful: https://docs.microsoft.com/en-us/learn/modules/model-data-power-bi/2-how-to-manage-data-relationships

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0390b42-0ab0-15fc-29e1-620a0ef9104

[2020-04-30 18:41] ryanferguson opened #2121 "Test Subscription (ID=100) Access"
Is there any data that Microsoft allows access to for the generation of templated reporting?  In the beta connector before, you could get the API key for Enrollemtn 100 and pull data that way.  Is there any similar option with this method?

[2020-04-30 21:43] davidiseminger commented on #1763
Hi all,
Sorry for the inconvenience - you may not have seen the warning at the top of the article, where it states that the Facebook APIs are currently not working. We're working with Facebook on the issue, and once it's resolved, will update this article.

[2020-04-30 21:43] #1763 closed

[2020-04-30 21:55] davidiseminger commented on #1771
Apologies for the confusion - I've updated the initial article to reflect that OData does support folding.

[2020-04-30 21:55] #1771 closed

[2020-05-01 02:31] pcgeekus commented on #1668
Thanks,
Jon

On Wed, Apr 29, 2020 at 1:33 PM Maggie Sparkman <notifications@github.com>
wrote:

[2020-05-01 05:06] rodneyjoyce commented on #995
Hi, I know this is an old thread and I get that the API only works for EA or MCA customers, but are there any plans to extend this to ALL subscription types? I am an MS Gold Partner and cannot use the API but I have a lot of subscriptions where cost management is important...

[2020-05-01 10:22] CeesvEgmond opened #2122 "Decomposition Tree bar scaling"
Currently, I'm trying to use Decomposition Trees to preform progress root-cause analysis.
The progress is measured on a scale of 0-100% for each object.
Values are correctly shown in the visual, I'm only not able to get the Data Bar scaled correctly.
Current options are: scaled to -
- Top node
- Paren node
- Level Maximum

I would like to use 0-100% as scale for my bar.

refer to below:
![2020-05-

[2020-05-01 13:18] iMicknl opened #2123 "Add mention of dynamic binding"
Would it be an idea to add a mention of [dynamic binding](https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-dynamic-binding) to this page? This could be really useful for multi-tenancy solutions where different datasets are used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 671c4fcd-ba24-fec3-fccc-d0

[2020-05-01 15:25] haider392 opened #2124 "Power BI Premium Capacity App role requirements"
This is regarding https://docs.microsoft.com/en-us/power-bi/service-admin-premium-monitor-capacity

Not all users can install or access the app. Please mention the role requirement in the documentation for this after confirming from the Product Group. Thanks!

[2020-05-01 15:58] jspotanski commented on #1947
@Gangula2, I only have contextual tabs for Format and Data/Drill even when I select a table.  I can't find Sort by column anywhere in the product :(

[2020-05-01 17:17] maggiesMSFT commented on #2120
Thanks, @tireraid ! The author will be happy to hear it.

[2020-05-01 17:23] maggiesMSFT commented on #2121
Hi, @ryanferguson -- are you referring to a specific article? I'm unsure to whom to direct your question. Thanks!

[2020-05-01 17:29] sartoris opened #2125 "Referenced page does not show DAX table functions"
Clicking the 'DAX Function Reference' link send you to the DAX functin reference page, but I don't see any mention of the ...JOIN functions or UNION or INTERSECT functions there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23f1335-bb33-544a-67da-006015cfc92f
* Version Independent ID: 3e1dc63e-f0ac-5201-c0a5-bc7e4ee3

[2020-05-01 17:34] maggiesMSFT commented on #2122
Hi, @CeesvEgmond -- thanks for your question! Checking to find the best person to assign it to.

[2020-05-01 17:39] PaulaScholz opened #2126 "Tutorial Out of Date"
[Enter feedback here]
This tutorial is horribly out of date.
https://docs.microsoft.com/en-us/power-bi/desktop-shape-and-combine-data

First, in getting the data from https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/
we are presented with a Load and a Transform Data button.  Which one to use?  Why is there no help on the interface explaining the difference?  I had to try bo

[2020-05-01 18:04] pawarbi opened #2127 "References for statsitical algorithms?"
the document says - "Power BI uses statistical algorithms to uncover Insights." can you please provide some references to what algorithms, methods are being used? Knowing this will help us understand the strengths and limitations of these method and optimize/shape the data to make the most of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-01 19:30] maggiesMSFT commented on #2123
Hi, @iMicknl -- thanks for your suggestion! Passing it on to the author.

[2020-05-01 19:32] maggiesMSFT commented on #2126
Hi, @PaulaScholz -- thanks for your feedback! Referring it to the author to make updates.

[2020-05-01 19:36] maggiesMSFT commented on #2124
Hi, @haider392 -- thanks for your question! Referring to the author to investigate.

[2020-05-01 23:08] maggiesMSFT commented on #1535
Thanks to all of you, @dschlabach @soldstatic @gebberry @vincentys99, and thanks to @Mdevlin4 for the fix! I've updated the article. Update should be live Monday May 4, 2020.

[2020-05-01 23:08] #1535 closed

[2020-05-01 23:14] maggiesMSFT commented on #2127
Hi, @pawarbi -- thanks for your question! Later in the article, it spells out the different algorithms: https://docs.microsoft.com/en-us/power-bi/consumer/end-user-insight-types#what-types-of-insights-can-you-find.
Referring to the author in case they can provide more, but the article itself is quite specific.

[2020-05-01 23:18] maggiesMSFT commented on #2125
Hi @sartoris -- thanks for your question! Referring it to the author for further investigation.

[2020-05-01 23:37] ajityadav83 opened #2128 "Still not able to install Access database redistributable"
I have 32 bit office on my machine, I have installed x86 POwer BI. I am tring to install 32 bit Access exe but getting an error " you have 64 bit office products on your machine".

Tried with 64bit Access bit exe , gave me an error " you have 32 bit office products on your machine".

tried passive way as well, even that didn't work out.

Please help

---
#### Document Details

⚠ *Do not edit this

[2020-05-02 00:16] apffer commented on #1947
The correct procedure is: Go to the "Data" view, select the table and the field you are using on your report visualization. Go to the "Column tools" tab. Use the "Sort by column" to select any field in the table that should be used to sort the selected field wherever it is used. For instance, you would select a "Month Name" field, and then "Sort By Column->Month Number".

[2020-05-02 00:37] maggiesMSFT commented on #2128
Hi, @ajityadav83 -- this sounds like a support issue. You can try the community to see if they have any suggestions: https://community.powerbi.com/.
If not, please contact https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-05-02 00:37] #2128 closed

[2020-05-02 00:56] shahanur commented on #672
It does not work with service principal. I also get the same error. code": "PowerBIEntityNotFound".

[2020-05-02 01:42] maggiesMSFT commented on #1831
Hi, @cbailiss -- belatedly I have the answer. Admins, Members, and Contributors can schedule data refreshes via the on-premise gateway. I'm adding it to the table in the article. Thanks for asking!

[2020-05-02 01:42] #1831 closed

[2020-05-02 01:50] maggiesMSFT commented on #1779
Hi, @salimassaf -- you're right, you need permissions on the gateway. In the workspace, you need either an Admin, Member, and Contributor role. I'm adding it to the table in the article. Thanks for asking!

[2020-05-02 01:50] #1779 closed

[2020-05-02 10:35] makdaddy8888 opened #2129 "Sample Data"
I found this beginners course very helpful. What would be even better would be being able to download the PIBX so we can play along.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power

[2020-05-02 13:36] paulinbar commented on #2129
Hi @makdaddy8888 , thanks for your feedback - a great suggestion! I am forwarding it along to the doc author - he'll know better than I whether that's a possibility. Thanks!

[2020-05-02 14:50] Ganesh0799 opened #2130 "The module of power BI was great , the explanation for every module was explained in well manner"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/introductiontodax?tutorial-step=7#feedback)
* Con

[2020-05-02 20:33] juluczni commented on #2122
Thanks for the feedback! This isn't currently supported but we have added it to our backlog of potential things to add.

[2020-05-02 21:20] #2122 closed

[2020-05-02 22:20] paulinbar commented on #2130
Hi @Ganesh0799 , I'm glad you found the module useful, and appreciate your taking the time to give your feedback. I am passing your comment on to the doc author, who I am sure will be pleased to hear that his work was of benefit to you. Thanks!
@davidiseminger

[2020-05-02 22:20] #2130 closed

[2020-05-03 02:07] charlesanands commented on #1913
Its not right to keep the Power BI website flashing with Facebook integration, but the connector is missing! When do we expect it to be resolved?

[2020-05-03 14:54] rootsmusic opened #2131 "invoke custom function"
In the Add Column tab, I want to learn about the button to "invoke custom function".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e8e549-7fba-9ece-3e32-73a0cc3c6046
* Version Independent ID: a9b39810-c302-c153-3123-ddb8f459e9f4
* Content: [Add a custom column in Power BI Desktop - Power BI](https://docs.microsoft.c

[2020-05-03 17:09] rwlpf commented on #225
So this feature has been removed from free users?  That makes SELLING your product so much more difficult well done.  As you do not indicate in the documentation that this feature is NOT available to a free user.

[2020-05-03 19:12] paulinbar commented on #2131
Hi @rootsmusic , thanks for reaching out to us with your comment. I am forwarding it along to the doc author for consideration. In the meantime, I suggest you also check out the the [Power BI Community]( https://community.powerbi.com) - sometimes you can find answers there, or if you write a question, often people respond who are able to provide useful information.

[2020-05-04 04:15] glasody opened #2132 "Full support of Firefox for macOS"
Hi,
it still seems to not support proper scrolling actions in the latest firefox on macOS for dropdown slicers.
Could you please update the docs to make sure that this is clear?
It says that firefox on desktop is supported when that is not the case on what we have tested.

macOS 10.14.6
Firefox for Mac 75.0

Just a reference from a representative ages ago referencing this page.
https://community.p

[2020-05-04 09:05] Sil3ntGam3r commented on #2077
Any progress on this request?
This will help everyone

[2020-05-04 10:03] jeppesal opened #2133 "Bug with mulitple gateways"
It is not possible to select a gateway with only the on-prem connection mapped (Invalid configured gateway) if you have multiple gatewayes. The UI will select a working gateway.
I had to remove the other gatewayes to make this guide work and to be allowed to select a partially configured gateway for only on-prem sources.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-04 10:08] jeppesal opened #2134 "The Power BI UI for this is very user un-friendly and not very logical."
The UI for this feature is not optimal because:
1. The data source in the gateway overview has a red-error-cross eventhough it is configured as intended.
2. It would make more sense to have a "Maps to" option that said "configure in Data source credentials".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183a8242-3c94-

[2020-05-04 12:29] paulinbar commented on #2132
Hi @glasody , thanks for your comment. I am forwarding it on to the doc author for consideration. Thanks!

[2020-05-04 13:16] itm-platform opened #2135 "Pause and start Power BI Embedded programmatically"
This page explains how to pause and start the service manually. Can this be done programmatically?
Use case: Power BI is embedded in a page of an application that has a rather low usage.
Objective: pay per use of Power BI Embedded, not just its availability
Question: Can the PBI Embedded service be activated when that page is accessed and paused when left?

---
#### Document Details

⚠ *Do not edi

[2020-05-04 18:40] romerohe opened #2136 "Power BI Dataset option does not appear"
Hi, I'm trying to follow the document steps to connect from Power BI desktop to an Power BI dataset which is on my Working Area in the Power BI service, but the "Power BI Dataset" option is not available under the "Power Platform" tab.

I just have the other 3 options (Power BI dataflow, Common data service, Power platform dataflow).

Do you know what is going wrong?

Thanks

---
#### Document Det

[2020-05-04 23:14] davidiseminger commented on #2120
Thank you!

[2020-05-04 23:14] #2120 closed

[2020-05-04 23:34] YMainich commented on #2077
Yes, Could you please provide any update on this request?

[2020-05-05 00:52] davidiseminger commented on #2133
Thanks for your comment, @jeppesal. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-05-05 00:53] davidiseminger commented on #2134
Thanks for your comment, @jeppesal. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-05 00:53] #2134 closed

[2020-05-05 00:55] davidiseminger commented on #2135
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2020-05-05 00:58] davidiseminger commented on #2136
Hi there @romahamu - do you have the latest version of Power BI Desktop? In Power BI Desktop, go to File > About and see which version (and in parenthesis, the month) of the release you're using. If it's not up to date, that may - and likely is - the reason.

[2020-05-05 00:58] davidiseminger commented on #2136
Assigning author.

[2020-05-05 01:00] davidiseminger commented on #2119
Thanks for your comment, @gregoryleandro. I'll look for clarification in the content, and this also looks like a support request rather than strictly documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-05 11:43] romerohe commented on #2136
Hi David, thank you for your reply.

I think my Power BI desktop is updated. This is my version information:
"Versión: 2.79.5768.1082 64-bit (marzo de 2020)"

El lun., 4 may. 2020 a las 21:58, David Iseminger (<notifications@github.com>)
escribió:

[2020-05-05 14:08] michael-hawker opened #2137 "Sample PBIX files don't have transformable data"
If you try and go to the transform data view and edit any of the backing data for the local PBIX file downloads, you get an error about not having permissions for a native query. It'd be great if these local reports just had raw data tables or connected to a sample backend somewhere. Then you could explore modifying these report samples across all aspects of what Power BI does.

---
#### Document

[2020-05-05 15:23] paulinbar commented on #1666
Hi, @FearL0rd. I haven't heard back from you, so I am going to close this issues for  now. In any event, since you didn't mention a specific document (you've reached the documentation team) this looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If you don't find anything there,

[2020-05-05 15:23] #1666 closed

[2020-05-05 15:32] paulinbar commented on #1749
Hi @Saltzmea , You've reached the documentation team. I am not sure what documents you are referring to, but in any event this sounds more like a support request or product question than documentation feedback. I suggest you try asking your question in the [Power BI Community]( https://community.powerbi.com), or, if you think this is erroneous behavior, file a bug on the Power BI [support page](ht

[2020-05-05 15:32] #1749 closed

[2020-05-05 18:06] gregdegruy commented on #1915
@maggiesMSFT  did we get an answer on if  Billing ID, is it actually referring to the Subscription ID ? I do not see a billing id in the overview page?
![Annotation 2020-05-05 110623](https://user-images.githubusercontent.com/8151045/81099921-808fe380-8ec0-11ea-9961-e486ea1fcfe2.png)

[2020-05-05 20:19] davidiseminger commented on #1744
Hello there - the 10 GB/user for Pro includes the size of any dataflows. This should be reflected in your Power BI storage / usage information. For more information, take a look at the following Power BI community post: https://community.powerbi.com/t5/Service/Size-limit-for-data-flow-for-pro-user/td-p/880278

[2020-05-05 20:19] #1744 closed

[2020-05-05 20:20] davidiseminger commented on #1785
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer to your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bottom of the a

[2020-05-05 20:20] #1785 closed

[2020-05-05 20:34] davidiseminger commented on #1786
Sorry about that - I haven't heard of others having this problem, and many capacities do have spaces in their names. You can ask if others have had trouble with this at https://community.powerbi.com - and if so, we can dive deeper into what that difference (some having troubles, others not) might be.

[2020-05-05 20:34] #1786 closed

[2020-05-05 20:40] davidiseminger commented on #1800
Great point - sorry about the confusion. I've added a note early in that document to that effect, which will be updated soon. Thanks!

[2020-05-05 20:40] #1800 closed

[2020-05-05 20:49] davidiseminger commented on #1806
You can use drill-through, bookmarks, or buttons to get to hidden tabs in a report. The buttons may be visible to end-users as well, but you may be able to get creative about where you place them (or perhaps permissions) to make them less visible.

Hope that helps. Also, you might want to check with the community at https://community.powerbi.com for more ideas.

[2020-05-05 20:49] #1806 closed

[2020-05-05 21:02] davidiseminger commented on #1812
Thanks for the thorough information! I've added that to the article, in a note, to help others. Thanks for posting and sharing your findings!

[2020-05-05 21:02] #1812 closed

[2020-05-05 21:10] davidiseminger commented on #1830
Thanks for your comment, @dnvrjeep. Looks like this is product feedback (connect to a website that requires credentials), rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-05 21:10] #1830 closed

[2020-05-05 21:12] davidiseminger commented on #1833
Hi @rasavio - thanks for your feedback, and your interest.

You can make that product request by using the product feedback or feature ideas request at https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-05-05 21:12] #1833 closed

[2020-05-05 21:13] davidiseminger commented on #1841
Thanks for your comment and feedback @haider392 - there are many UI changes for Power BI Desktop, including the new ribbon that's currently in preview. We're planning on major updates to the documentation once the ribbon is Generally Available. Thanks!

[2020-05-05 21:13] #1841 closed

[2020-05-05 21:18] RileyCarney-DirectTechnology commented on #1803
Need update please.
Under **Assign a Power BI Pro license to guest user**
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/assign-licenses-to-users?view=o365-worldwide#assign-licenses-to-users-on-the-licenses-page
Nothing about assigning a license to a guest user.

[2020-05-05 21:19] davidiseminger commented on #1844
Thanks for the suggestion - there's a great video that describes this, at https://www.youtube.com/watch?v=-_GMCE1TLvQ&feature=youtu.be&t=2m9s

I hope that helps - and I've reassigned this to the correct article owner. Hope that helps!

[2020-05-05 21:20] davidiseminger commented on #1845
Good input - forwarding to the current author.

[2020-05-05 21:23] davidiseminger commented on #1849
Thanks for your comment, @marclelijveld and sorry about the trouble you're having. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-05-05 21:23] #1849 closed

[2020-05-05 21:26] davidiseminger commented on #1854
Sorry to hear about this (and happy that an update to the latest Desktop release helped!). For the last issue, your best avenue for support / information is going to be from the Power BI Community, found at https://community.powerbi.com. If that doesn't help, you can get support by going to https://support.powerbi.com.

Thanks for the conversation, and your persistence in getting the refresh worki

[2020-05-05 21:26] #1854 closed

[2020-05-05 21:36] davidiseminger commented on #1860
Thanks for the clarification. I've added clarification to the article - much appreciated!

[2020-05-05 21:36] #1860 closed

[2020-05-05 21:40] davidiseminger commented on #1861
Hi @CarrieAnne  - yes, it should! Sheesh - thanks for pointing that out. I've fixed that in the article, which will be updated soon. Thanks for the close read, keen eye, and for sending this correction our way!

[2020-05-05 21:40] #1861 closed

[2020-05-05 21:51] marclelijveld commented on #1849
@davidiseminger, Thanks for your comment. We had a support ticket running on this issue. Ticket is already closed and above is the outcome / solution I'm sharing here. During the support tickets the PG was involved as well and agreed that the docs were not in line with the current way of working. Please reconsider.

[2020-05-05 22:30] luaguila opened #2138 "Contact in apps are not show, but shows Data set Owners."
Right now we are also put the Data set Owner this is causing, that some users get confused, It will be good to put a note about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f59ea7e-d3e7-3986-34f8-b1211bb3fc66
* Version Independent ID: 44c49bf9-9898-eeed-01c0-18cb267f5ea8
* Content: [Set contact information for r

[2020-05-06 02:21] soldstatic commented on #1806
That doesn't really help. We should be able to impose the end user experience without having to have white text on a white background and cross our fingers an end user doesn't accidentally click the pink pixel on the image of the girl from the chat room while facing north (any Margret Atwood fans here? lol)

Anyway - point is there are also issues with being unable to embed report tabs unless they

[2020-05-06 02:51] maggiesMSFT commented on #1806
Hi, @soldstatic -- good to hear from you! Your point sounds like a feature request, which of course you can make at https://ideas.powerbi.com/forums/265200-power-bi. I suggest searching the Ideas site first to see if someone else has already made that suggestion. Then you can vote it up.

[2020-05-06 04:02] mihart commented on #2137
Thanks for your comment, @michael-hawker . This issue has been assigned to the doc author for review.

[2020-05-06 04:04] mihart commented on #2138
Thanks for your comment, @luaguila . This issue has been assigned to the doc author for review.

[2020-05-06 06:11] intellectyxArria commented on #2023
Any updates Teams.

[2020-05-06 07:53] chandramoulipathanjali opened #2140 "Add user to RLS via API"
How do you add users to a role in RLS via REST API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-rls