[2020-07-03 13:03] uve commented on #2028
Hi @djpirra,
 Please find the sample of usage "highlight" [here](https://github.com/microsoft/powerbi-visuals-linedotchart/blob/master/src/visual.ts#L384)

[2020-07-03 13:05] uve commented on #2080
ValueFormatter function is a part of [powerbi-visuals-utils-formattingutils](https://www.npmjs.com/package/powerbi-visuals-utils-formattingutils)
https://docs.microsoft.com/en-us/power-bi/developer/visuals/utils-formatting#value-formatter

[2020-07-03 13:07] uve commented on #2153
Please use [powerbi-visuals-utils-dateviewutils](https://docs.microsoft.com/en-us/power-bi/developer/visuals/utils-dataview) to find the specific Role.

[2020-07-03 13:09] uve commented on #2195
Try to upgrade your NodeJS to v12.x and install the package again.

[2020-07-03 18:38] davidlamb opened #2354 "Help video is out of date (4 years old)"
[Enter feedback here]
The video in this help document is 4 years old. The workflow that shows is not the same anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI](h

[2020-07-03 21:33] jatorres1190 opened #2355 "Wrong information"
Hi,

Here is states that we can enable this option in the admin portal to export to PNG or image.
![image](https://user-images.githubusercontent.com/67752141/86498277-664c7780-bd42-11ea-9fb6-0c47a9fef0d5.png)

I have been checking the admin portal, tenant settings and there is no option to export report as image file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-07-04 09:47] paulinbar commented on #2353
Thanks for your comment, @EruantalonJS. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-07-04 09:47] #2353 closed

[2020-07-04 09:53] paulinbar commented on #2355
Thanks for your comment @jatorre. Indeed there doesn't seem to be such an option in the tenant settings. I am forwarding your comment on to the doc author for consideration.

[2020-07-04 09:56] paulinbar commented on #2354
Thanks for your comment, @davidlamb. I am forwarding it on to the doc author for consideration.

[2020-07-04 10:01] paulinbar commented on #2100
Hi @iranimohamad. I haven't heard back from you regarding whether the new workspaces V2 was the problem. I am closing this issue now, but please reach out again if you are still having problems. Thanks.

[2020-07-04 10:01] #2100 closed

[2020-07-04 10:34] paulinbar commented on #2149
Hi @KerryWang94 . I added the following warning: Before Oct 15, 2019, the Zendesk Support Search API allowed for a total of 200,000 results to be received through pagination of large queries. To align search usage with its intended scope, Zendesk now limits the maximum number of results returned to 1,000 total results, with a maximum of 100 results per page. However, the current Power BI Zendesk c

[2020-07-04 10:34] #2149 closed

[2020-07-04 10:46] paulinbar commented on #2097
Hi @ofyayla, @srvbpigh, and @CeciAc. I have not heard back from you regarding a specific doc page to refer to. Did you try the [Power BI Community](https://community.powerbi.com/) or [support page](https://support.powerbi.com/) for assistance? In any event, I am closing this issue for the time being. Please feel free to reopen if you are still having problems.

[2020-07-04 10:46] #2097 closed

[2020-07-04 16:36] lundejd opened #2356 "Need startBillingDataWindow and endBillingDataWindow options for Azure Cost Management"
Our EA has passed and I can no longer use the 36 month option, as it now assumes the current month + 35 back, which errors out since the EA expired last month.  With the previous connectors I could tell it to go a specific 36 month window but I don't see the option here.

We need to pull our past 36 months then append the current in order to keep our reports valid. Right now it errors out and won'

[2020-07-05 06:15] #2009 closed

[2020-07-05 06:16] #2022 closed

[2020-07-05 06:16] #2023 closed

[2020-07-05 06:17] #2024 closed

[2020-07-05 06:18] #2027 closed

[2020-07-05 06:19] #2028 closed

[2020-07-05 06:20] #2080 closed

[2020-07-05 08:20] KesemSharabi commented on #2355
Hi @jatorres1190,

I understand from the development team that this is a GUI bug. The ETA for resolving the bug is the end of the week. Please try looking for the tenant image settings in the admin portal early next week.

Thanks,

Kesem

[2020-07-05 08:51] KesemSharabi commented on #2322
Thanks for your comment, @kylemcguinn.

I confirmed with the development team that setting bookmark by state is tested and supported.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-07-05 08:51] #2322 closed

[2020-07-05 08:55] KesemSharabi commented on #2337
Hi @DanielSKim,

The admin portal tenant setting isn't visible due to bug. The ETA for fixing the bug is by the end of the week. Please look for this setting early next week. Once enabled, your call should work.

Thanks,

Kesem

[2020-07-05 13:30] paulinbar commented on #2356
Hi @lundejd, you've reached the Power BI documentation team. I think your question would be better addressed to [Azure support](https://portal.azure.com/?feature.customportal=false#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview). Closing this issue for us now, but if you think I'm mistaken please feel free to reopen. Thanks!

[2020-07-05 13:30] #2356 closed

[2020-07-05 16:49] DanielSKim commented on #2337
@KesemSharabi Appreciate the follow up and great to hear! I'll keep an eye out over the next week.

[2020-07-06 03:31] User31222 opened #2357 "How to connect Facebook to Power BI Desktop?"
I have trouble connecting Facebook to Power BI Desktop. The Facebook app is not shown under "Online Services". Any workaround for this? Thanks!

<img width="592" alt="Screenshot 2020-07-06 at 11 28 46 AM" src="https://user-images.githubusercontent.com/67886814/86553004-21138a00-bf7c-11ea-97e0-1bee4c3295c2.png">

[2020-07-06 04:12] s3r3n3 opened #2358 "Filtering a report using query string parameters in the URL works only the first time"
Hi,

Filtering a report using URL seems to work only the first time the url is used. After the first time, the very same url no longer works as the PowerBI shows all data without filter.

Could you please check?

Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5

[2020-07-06 07:11] DaniilMaslyuk opened #2359 "Topology restrictions"
The phrase "topology restrictions" is very unclear and should be reworded to make it easier to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a808705-dc30-b57f-7e2e-2ec0a9360124
* Version Independent ID: 2d766a55-b579-0991-5d79-78ca2a82ef4a
* Content: [Model relationships in Power BI Desktop - Power BI](ht

[2020-07-06 10:32] Hamzamusameh opened #2360 "SelectionManager"
Hi,

From where I will found (to import) selectionManager, please ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4937ba26-0e7a-54aa-b7e0-918db3fb6bdf
* Version Independent ID: d948fd0c-8b97-7184-374b-56f04b46dd70
* Content: [Add Drill-Down support - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/visuals

[2020-07-06 16:27] uve commented on #2316
thanks, @nojetlag for your suggestion. We'll add it to changelog soon. Please use the latest available API version for your visual.

[2020-07-06 19:08] maggiesMSFT commented on #2358
Hi, @s3r3n3 -- Hmmm, I'll check. That shouldn't be the case. I'll test it.

[2020-07-06 19:14] maggiesMSFT commented on #2357
Hi, @User31222 -- bad news. According to this article, https://docs.microsoft.com/en-us/power-bi/connect-data/service-facebook-connector, the Facebook connector has been discontinued as of April 2020. I suggest going to https://ideas.powerbi.com/forums/265200-power-bi to ask about adding it, or searching to see if someone has already suggested it.

[2020-07-06 19:14] #2357 closed

[2020-07-06 19:15] maggiesMSFT commented on #2359
Hi, @DaniilMaslyuk -- thanks for the suggestion! Assigned to the author to address.

[2020-07-06 19:55] smearp opened #2361 "Missing closing /a element"
On https://docs.microsoft.com/en-us/power-bi/admin/service-admin-manage-your-data-storage-in-power-bi, everything from the "Manage items you own" header on down appears as if it is a giant link.  It appears to be missing a closing </a> element.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f862

[2020-07-06 22:08] jatorres1190 commented on #2355
Hi,

So will you provide a solution as well?
We can't seem to find how to enable the export to PNG.

Thanks

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Kesem Sharabi <notifications@github.com>
Sent: Sunday, July 5, 2020 2:20:23 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: jatorres1190 <jatorres1190@hotmail.com>; Mention <m

[2020-07-07 10:09] #2153 closed

[2020-07-07 10:12] #2316 closed

[2020-07-07 10:18] KesemSharabi commented on #2355
Hi @jatorres1190,

Once the bug is fixed you'll be able to enable this setting in the admin tenant settings. Once enabled you'll be able to export to PNG. Please give it a try early next week.

Thanks,

Kesem

[2020-07-07 11:11] KesemSharabi commented on #2306
Hi @sasidhar8785,

Can you please let me know where in the [Export paginated report to file](https://docs.microsoft.com/power-bi/developer/embedded/export-paginated-report) article you see **Client.Reports.Methods**?

Or, are you referring to these:
* Client.Reports.ExportToFileInGroupAsync
* Client.Reports.GetExportToFileStatusInGroupWithHttpMessagesAsync
* Client.Reports.GetFileOfExportToFileInG

[2020-07-07 16:28] uve commented on #2193
Hello,
You can find working samples here:
1) [SampleBarChart](https://github.com/microsoft/PowerBI-visuals-sampleBarChart/blob/471f103fcef9af93cff76cbac9c7fc67564acd4b/src/barChart.ts)
2) [DataBoundObjects.md](https://github.com/microsoft/PowerBI-visuals-sampleBarChart/blob/61011c82b66ca0d3321868f1d089c65101ca42e6/Tutorial/DataBoundObjects.md)
3) [StaticObjects.md](https://github.com/microsoft/Pow

[2020-07-07 17:26] #2193 closed

[2020-07-07 17:28] #2195 closed

[2020-07-07 23:34] SMay2020 commented on #2351
There is no pbix file in the link for me.  Just a ZIP file called PBIX.zip.  When I click on the link it says "What do you want to do with the Human Resources Sample PBIX.zip (10.8MB)?  From: download.microsoft.com"
When it downloads its contains multiple folders and files but none of these are pbix files.

[2020-07-08 03:49] mihart commented on #2361
Thanks for your comment, @smearp . This issue has been assigned to the doc author for review.

[2020-07-08 03:53] mihart commented on #2360
Thanks for your comment, @Hamzamusameh . This issue has been assigned to the doc author for review. The author may need to reach out for additional information.  Thank you.

[2020-07-08 11:33] ReBae opened #2362 "Installer files for older versions"
Where can we find the actual installer files for older Power BI Report Server versions?

The page only lists details of the older releases, doesn't contain the installer files themselves.

Could you also please consider allowing access to at least a year's back of releases? 6 months is too short. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-08 11:57] KesemSharabi commented on #2362
Thanks for your comment, @ReBae.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-07-08 12:36] ReBae commented on #2362
Thank you, @KesemSharabi, I should have added: the post was made after spending the better part of the day hunting through not only Power BI Community but also the world wide web.

[2020-07-08 12:39] KesemSharabi commented on #2256
Hi @bradj813,

As SASS isn't mentioned in the limitations, it should work. If you need help with the configuration, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-07-08 12:39] #2256 closed

[2020-07-08 13:43] jatorres1190 commented on #2355
Hi!

Great, hopefully this option will now be visible in the tenant settings.
Will you contact me to let me know or should I be testing every once in a while?

Thanks
Jose

________________________________
From: Kesem Sharabi <notifications@github.com>
Sent: Tuesday, July 7, 2020 4:19 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: jatorres1190 <jatorres1190@hotmail.com>; M

[2020-07-08 19:43] Hikmer opened #2363 "Please specify that O365 Groups are not supported for RLS"
It would be nice to know that O365 Groups are not supported for RLS as they are supported in Workspace access and App permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with

[2020-07-08 21:54] maggiesMSFT commented on #2281
Hi, @mm8974 -- great question! I've deleted the broken link and added links to 2 new collections of Microsoft Learn content about Power BI:
Learn Power BI, https://docs.microsoft.com/users/microsoftpowerplatform-5978/collections/r52to235xrjxk
Become a Power BI data analyst, https://docs.microsoft.com/users/microsoftpowerplatform-5978/collections/djwu3eywpk4nm

[2020-07-08 21:54] #2281 closed

[2020-07-08 22:17] maggiesMSFT commented on #2317
Hi, @nojetlag -- the Custom Visual API version number is in the Power BI Report Server What's new article, https://docs.microsoft.com/power-bi/report-server/whats-new#power-bi-visuals-api
Hope that helps!

[2020-07-08 22:17] #2317 closed

[2020-07-08 22:34] maggiesMSFT commented on #2319
Hi, @nojetlag -- interesting questions! And I have answers.
Version: 1.8.7468.41510 doesn’t require a new desktop client build ? No, it doesn't.
Does it also address the problem where custom visuals always request users to sign in to power bi service ? That issue was resolved in Power BI Desktop, and doesn't require a new installation of Power BI Report Server.
Thanks!

[2020-07-08 22:34] #2319 closed

[2020-07-08 23:56] SMay2020 commented on #2351
Can you email me the .pbix file?

[2020-07-09 00:05] maggiesMSFT commented on #2361
Wow, good catch, @smearp -- thanks for pointing that out! Fixing it now. Update will be live tomorrow afternoon, July 9.

[2020-07-09 00:05] #2361 closed

[2020-07-09 00:23] maggiesMSFT commented on #2354
Good point, @davidlamb ! Deleting it now. Update will be live tomorrow afternoon, July 9. Thanks!

[2020-07-09 00:23] #2354 closed

[2020-07-09 01:55] maggiesMSFT commented on #2344
Thanks for asking @donodata ! I've added Python and R scripting to the table. The update will be live tomorrow afternoon, July 9.

[2020-07-09 01:55] #2344 closed

[2020-07-09 01:58] maggiesMSFT commented on #2349
Hi, @stokeamb -- Thanks! You're right, you do need to remove the TOPN. I've redone the screen shots and added a note. Changes will be live tomorrow afternoon, July 9.

[2020-07-09 01:58] #2349 closed

[2020-07-09 05:40] danieleperilli commented on #2153
Sorry, but without exposing the roleIndex, a custom visual can't know the order of the fields in the Fields panel. And this could be a problem when there are fields with multiple roles.

[2020-07-09 08:50] KesemSharabi commented on #2296
Hi @BreakingBI,

Thank you for your comment. I'm going to update all the embedded analytics tutorials shortly, and add a few new ones too. When I do this, I'll take your suggestion into account.

Please note that it will take a while for me to make these changes.

Once again, thanks for your suggestion.

Kesem

[2020-07-09 08:50] #2296 closed

[2020-07-09 09:57] KesemSharabi commented on #2273
Hi @mchoure,

I'm looking into this issue and will update you as soon as I have an answer.

Thanks,

Kesem

[2020-07-09 10:38] KesemSharabi commented on #2224
Hi @thereverand,

When I search **Key Vaults > Create key vault** for the string **00000009-0000-0000-c000-000000000000** (as per the instructions in [Add the service principal](https://docs.microsoft.com/power-bi/admin/service-encryption-byok#add-the-service-principal)), I get **Microsoft.Azure.AnalysisServices** which is the expected result according to the article.

![image](https://user-images

[2020-07-09 11:59] gabolivaf18 opened #2364 "I can´t export Totals from a table"
I need export a table with its totals but when I export it doesn´t bring me the totals. Who can I export this data?

[2020-07-09 12:12] KesemSharabi commented on #2352
Hi @emielvangoor,

I double checked with our development team, and we don't support complex datatypes. For more information see the [New features for the Power BI Dataset API](https://powerbi.microsoft.com/sv-se/blog/newdatasets/) blog post.

Here are some restrictions per datatype (taken from the blog):
|Datatype         |Restrictions         |
|---------|---------|
|Int64         |*Int64.MaxValu

[2020-07-09 12:12] #2352 closed

[2020-07-09 12:27] KesemSharabi commented on #2273
Hi @mchoure,

Thank you for your suggestion. I checked with our marketing team and the information in the [Capacity considerations](https://docs.microsoft.com/power-bi/developer/embedded/embedded-capacity#capacity-considerations) table is correct.

I also double checked this in the portal.

![How Premium Power BI SKUs are billed](https://user-images.githubusercontent.com/54834915/87039908-896e9f80

[2020-07-09 12:27] #2273 closed

[2020-07-09 18:52] olyamusok commented on #2350
@davidiseminger @kfollis
Adding to the above question. After testing with capacity in remote region I am able to

- create dataflows
- create and publish reports based on dataflows stored in a different capacity located in home region
This by itself brings a whole list of questions on where the data is actually stored in these cases?

On another note on something else I do not see mentioned anywhe

[2020-07-09 21:24] kfollis commented on #2351
Sorry you're still having problems, @Smay2020. I'm assigning this to the author of the article that I linked above to investigate the link that's giving you trouble. They'll follow up soon.

[2020-07-09 23:38] laancaro opened #2365 "The code in the Doc is not working or well explained."
[Enter feedback here]
The example code is not working anymore. It's probably deprecated.

I got too many errors.
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'Task<>' could not be found (are you missing a using directive or an assembly reference?)	walkthrough_push_data	C:\Users\lacamach\source\repos\walkthrough_push_data\walkthrough_push_dat

[2020-07-10 00:32] maggiesMSFT commented on #2351
Hi, @SMay2020 -- not sure what to tell you. I just tried the link for the PBIX file. It downloaded, and I was able to open it in Power BI Desktop. Not a ZIP file, just a single PBIX file.
To be sure we're doing the same thing: In this section: https://docs.microsoft.com/en-us/power-bi/create-reports/sample-human-resources#get-the-pbix-file-for-this-sample
Select the blue text, ".pbix file", which

[2020-07-10 11:42] adrianjellis opened #2366 "Add explanation of 'lock filter' and hide filter button"
I'm using PBI Desktop June 2020. There is a 'lock filter' and what looks like a show/hide filter toggle, however these are not explained on the help page. I was hoping the show/hide toggle would allow me to quickly enable/disable a filter without having to clear it, but it doesn't appear to do that. Could you include an explanation of the functionality for these two features? Thanks

---
#### Docu

[2020-07-10 21:55] chrisweis opened #2367 "IE 11 support needs to be updated"
IE11 doesn't support renaming of report page names and this either this document should be updated to reflect that limitation/bug or the bug should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74662424-4c86-7d72-d7ad-4d8a669e83b8
* Version Independent ID: dfa6ec25-3a0c-1ee9-63b9-851c3d2ce055
* Content: [Sup

[2020-07-11 00:30] maggiesMSFT commented on #2365
Hi, @laancaro -- Assigning your issue to the author of the article.
Can you provide more info about what you're doing when you see these errors?

[2020-07-11 00:35] maggiesMSFT commented on #2366
Hi, @adrianjellis -- you landed on the article for using filters rather than creating them. Sorry about that! This article should help:
https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-report-filter#lock-or-hide-filters

[2020-07-11 00:35] #2366 closed

[2020-07-11 15:39] asocorro opened #2369 "Filtering a report that is in an app"
Hi, does this work for users that have access only to the app that provides the report?  Or does the user I build a link for needs to have access to the workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content

[2020-07-11 15:53] #2369 closed

[2020-07-11 21:24] jdanyow opened #2370 "Embed token best practices with respect to expiration and reuse"
Looking for some more details about the embed token. If I have a page that is embedding a power bi report, should the embed token be reused or should I be regenerating the embed token for each page view?

The API Docs indicates there's an expiration time for the token:
https://docs.microsoft.com/en-us/rest/api/power-bi/embedtoken/generatetoken#embedtoken

What is the expiration period? Minutes? Ho

[2020-07-12 08:10] paulinbar commented on #2367
Hi @chrisweis, thanks for your comment. I managed to rename a report by going through the report settings, on IE 11.900.18362.0, so it doesn't seem to be a limitation of IE 11 per se. How did you try to rename the report? What version of IE are you using exactly? In any event, you've reached the documentation team, and since it doesn't seem to be an IE11 limitation to be added to the documentation

[2020-07-12 08:13] paulinbar commented on #2370
Hi @jdanyow, thanks for reaching out to us with your question. I am forwarding it on to the doc author for consideration. Thanks!

[2020-07-12 08:43] KesemSharabi commented on #2333
Hi @ssisjoost,

Following your comment I added a token declaration (`var token`) to the code in [Get an authentication access token](https://docs.microsoft.com/power-bi/developer/automation/walkthrough-push-data-get-token).

Thank you for highlighting this issue,

Kesem

[2020-07-12 08:43] #2333 closed

[2020-07-12 22:18] SMay2020 commented on #2351
Yes.  That’s the link I’ve been using.  I use the Edge browser (the same thing happens with Internet Explorer).

[2020-07-12 22:20] SMay2020 commented on #2351
How do I attach a screen shot?!!!  Pasting doesn't work.  Saving into a Word doc and dragging doesn't work!!!

[2020-07-13 09:26] how-to-data opened #2371 "Not very helpful"
Did not find the guidance helpful as it does not tally with what is now required, in addition it appears that either someone has changed the location for publishing the App Owns Data project, or Microsoft expects that businesses will have the clients on site viewing the project, as the destination in the project is localhost. I would not recommend following these instructions if you do not have fa

[2020-07-13 09:44] paulinbar commented on #2371
Hi @how-to-data. Thanks for your comments. I am forwarding it along to the doc author for further consideration.

[2020-07-13 18:51] sergeig888 opened #2372 "QS overall lnegth limit not documented"
Apparently overall length of the URL that includes QS filters can't exceed 2048 characters.  This needs to be confirmed with the engineering team PM owner and added to this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c2

[2020-07-13 19:30] maggiesMSFT commented on #2367
Hi, @chrisweis -- I'm investigating and will let you know. Thanks!

[2020-07-13 21:14] anandhanvillan opened #2373 "The Edit option is not there in Power BI. Please correct the content of this page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35e91b2c-b946-0945-4ef5-6451a1833b5f
* Version Independent ID: 730bf023-2cab-5db2-c1fd-d96e8bac4e02
* Content: [Connect to Snowflake computing warehouse in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-con

[2020-07-13 23:52] maggiesMSFT commented on #2351
Hi, @SMay2020 -- I don't know why you're having this issue. I can download it from the link you shared. Working on another option.

[2020-07-14 00:07] davidiseminger commented on #2372
Thanks for your comment, @sergeig888. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-07-14 00:07] davidiseminger commented on #2373
Thanks for your comment! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-07-14 12:05] wmoskal commented on #964
Hello @maggiesMSFT,
As of 7/14/2020 I am still having this issue.
I am also having this issue with the export to PPT functionality, but the docs don't seem to mention that.

Any update on this, or an ETA for a fix?
Thanks for the support!

[2020-07-14 14:12] elleneg opened #2374 "Print limitation: Data only in current view"
This article is omitting the very significant and well-communicated point of user frustration that you can only print information in the current view.  Any data that you have to scroll to see is not printable.  I don't know why - in Tableau, Domo, Excel this is a built-in feature I never thought twice about scoping out in requirements when switching to BI.

[Enter feedback here]

---
#### Document

[2020-07-14 16:37] scarbone-msft opened #2375 "Please clarify "This template app does not support GitHub Enterprise" - disambiguate between Enterprise Cloud or Enterprise Server"
👋 team - the verbiage "This template app does not support GitHub Enterprise" should be changed to reflect the correct GitHub product (i.e. GitHub Enterprise Cloud or GitHub Enterprise Server) to disambiguate as it is currently somewhat confusing - 🙇‍♂️

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c027250-07bf-8656-c

[2020-07-14 20:11] paulinbar commented on #2375
Hi @scarbone-msft , thanks for your comment. Let me check into this and I'll update the documentation accordingly.

[2020-07-14 20:19] scarbone-msft commented on #2375
Thank you 🙇‍♂️   Would you be able to point me to the team who is working on the PBI Template App for GitHub?  One of my large Microsoft/GitHub customers (with a number of Microsoft MVPs on-staff would like to connect with the team...

[2020-07-14 20:35] paulinbar commented on #2375
Hi Steve, I responded by email. I'm working on this so I'll close this Github issue for now. Please don't hesitate to reach out to me again though should the need arise. Thanks!
@scarbone-msft

[2020-07-14 20:35] #2375 closed

[2020-07-14 22:38] haider392 opened #2376 "Guide needed if customers are using SAP Cryptographic Library"
In the doc, it is mentioned, "While this guide uses OpenSSL as the HANA server's cryptographic provider, **SAP recommends you use the SAP Cryptographic Library (also known as CommonCryptoLib or sapcrypto)** instead of OpenSSL to complete the setup steps in which we establish the trust relationship."

We have a customer who is using SAP Cryptographic Library as recommended. So need guide accordingl

[2020-07-14 22:50] mihart commented on #2374
Thanks for your comment, @elleneg . This issue has been assigned to the doc author for review.

[2020-07-15 00:24] maggiesMSFT commented on #2372
Hi, @sergeig888 -- checked with the product team. Turns out max URL length is a browser limitation, not a Power BI limitation.
Internet Explorer: 2,048 chars
Edge: 81,578
Firefox: 65,536 and counting
Safari: 80,000 and counting
Opera: 190,000 and counting
Apache: 4,000
Chrome: stops *displaying* after 64,000 but can serve >100,000

This Stack Overflow article has the numbers: https://stackoverflow

[2020-07-15 00:24] #2372 closed

[2020-07-15 12:02] KesemSharabi commented on #2355
Hi @jatorres1190,

Looks like the *export reports as images* option is now available.

![Export report as an image file.](https://user-images.githubusercontent.com/54834915/87542635-f4621f80-c6ab-11ea-950f-edc99478ad85.png)

Hope this helps,

Kesem

[2020-07-15 12:04] KesemSharabi commented on #2337
Hi @DanielSKim,

Looks like the *export reports as images* option is now available.

![Export report as an image file.](https://user-images.githubusercontent.com/54834915/87542635-f4621f80-c6ab-11ea-950f-edc99478ad85.png)

Hope this helps,

Kesem

[2020-07-15 12:26] KesemSharabi commented on #2328
Hi @javirivas80,

Thanks for pointing out that the information in the [Register an Azure AD application to use with Power BI](https://docs.microsoft.com/power-bi/developer/embedded/register-app) article is outdated.

I will add this article to my queue of articles to update, and will do it as soon as possible.

Thanks again for your comment,

Kesem

[2020-07-15 12:26] #2328 closed

[2020-07-15 12:30] KesemSharabi commented on #2287
Hi @CeciAc and @raymond-dillon,

I'm looking into refreshing the code snippets with our development team. This may take some time.

Thanks,

Kesem

[2020-07-15 14:21] obungimartin commented on #2343
Hi @kfollis  unfortunately all those sources do not really help. Do you know why that sentence was initially added to the documentation?

[2020-07-15 19:55] adamwp1993 commented on #2147
@davidiseminger  any update on this?

[2020-07-15 22:58] jatorres1190 commented on #2355
Hi

This is working now!
Thanks a lot! 🙂

________________________________
From: Kesem Sharabi <notifications@github.com>
Sent: Wednesday, July 15, 2020 6:02 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: jatorres1190 <jatorres1190@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Wrong information (#2355)

Hi @jatorres1190<https:

[2020-07-16 00:44] maggiesMSFT commented on #2367
Hi, @chrisweis -- investigation shows that @paulinbar was right all along. It appears to be a bug on your side, which we can't repro. As @paulinbar says, "...in which case I encourage you to file a bug on our support page, giving them then exact details of your problem and the version of IE you're using."
thanks!

[2020-07-16 00:44] #2367 closed

[2020-07-16 05:36] KesemSharabi commented on #2355
HI @jatorres1190,

Glad to hear it's working and thanks for getting in touch.

Kesem

[2020-07-16 05:36] #2355 closed

[2020-07-16 05:42] KesemSharabi commented on #2360
Hi @uve,

Can you please assist with this?

Thanks,

Kesem

[2020-07-16 05:46] KesemSharabi commented on #2365
Hi @laancaro,

I'm working on updating the code snippets in the [Get an Azure AD access token for your Power BI application](https://docs.microsoft.com/power-bi/developer/embedded/get-azuread-access-token) article, with the help of our development team.

Please note that this may take some time.

Thanks,

Kesem

[2020-07-16 05:51] KesemSharabi commented on #2371
Hi @how-to-data,

Thanks for your feedback.

I'm in the process of updating all the embedded analytics tutorials, as some of the information there is outdated.

Please note that this may take some time.

Kesem

[2020-07-16 05:51] #2371 closed

[2020-07-16 06:06] KesemSharabi commented on #2083
Hi @asocorro,

Here's the response I got from one of our experts:

After caching is turned on, we don’t change which page is cached, regardless of which one was the last you visited. If you need to change which one is cached, simply disable the caching feature to drop the cache information.

Hope this helps,

Kesem

[2020-07-16 07:03] nava17490 opened #2378 "Missing version on changelog"
Hi,

There is a missing versión in the PowerBI Report Server change log. Version 2.81.5831.1181 is not appearing in the PowerBI Desktop optimized for Report Server but is available for downloading on the following link https://www.microsoft.com/en-us/download/details.aspx?id=56722

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-07-16 16:53] TravisKale opened #2379 "Publishing to XMLA Enpoint Via Visual Studio Does Not Work for MFA Enabled Accounts"
The documentation lacks pointing out  that if your Azure Active Directory account is MFA enabled, publishing to the XMLA endpoint via Visual Studio will fail.   Error encountered when trying to do this is:

"Cannot deploy metadata. Reason: An error occurred while connecting to the server"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-07-16 18:25] maggiesMSFT commented on #2358
Hi again, @s3r3n3 -- how are you getting to the report the 2nd and subsequent times? If I copy the link, every time I select it I get the same filtered view.

[2020-07-16 18:31] maggiesMSFT commented on #2285
Hi, @atinkerersnotebook -- just circling back on your comment. I just tried both
&$filter=Store/Territory eq 'NC'
and
?filter=Store/Territory eq 'NC'
Only the 2nd one filters the report. So I'm not sure what you're seeing.
Thanks!

[2020-07-16 18:31] #2285 closed

[2020-07-16 18:56] maggiesMSFT commented on #2378
Hi, @nava17490 -- thanks for asking! I'll check and get back to you.

[2020-07-16 19:35] maggiesMSFT commented on #2364
Hi, @gabolivaf18 -- a question just to clarify the issue. Are you in the Power BI service, and you selected More options (...) then Export Data?
![image](https://user-images.githubusercontent.com/12401230/87714460-a65b2380-c760-11ea-9576-dcc83c375f2b.png)
As spelled out in this article: https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data#export-data-from-a-report
I

[2020-07-16 21:17] maggiesMSFT commented on #2351
Hi, @SMay2020 -- good news. I got the HR sample PBIX file saved to the Power BI Desktop Samples GitHub repo, https://github.com/microsoft/powerbi-desktop-samples/tree/master/Sample%20Reports
So you can go download it from there.
Cheers!

[2020-07-16 21:17] #2351 closed

[2020-07-16 21:21] kfollis commented on #2343
Sorry that didn't help, @obungimartin - I believe the sentence was added to ensure that customers don't use B2B to resell/redistribute the service, as noted here: https://www.microsoft.com/licensing/terms/productoffering/MicrosoftPowerPlatform/MOSA#ServiceSpecificTerms. The primary restriction seems to be around license reassignment, as described above.
I'd like to revise the sentence in the artic

[2020-07-16 21:23] kfollis commented on #2379
Thanks for the comment, @TravisKale ! I've assigned this issue to the writer for followup.

[2020-07-17 00:27] maggiesMSFT commented on #2378
Thanks, @nava17490 ! Got the missing version added. Change will be live tomorrow afternoon.

[2020-07-17 00:27] #2378 closed

[2020-07-17 03:09] jorgeek830 opened #2380 "Add info about enhanced metadata prerequisite"
It should be clearly stated in the documentation that External tools only work with enhanced metadata feature enabled. Otherwise the tool icon will be inactive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89c2607e-b89c-9572-6700-1d6446eb7133
* Version Independent ID: d14ccb79-9c49-fc0e-ff34-24d66a1db47a
* Content: [

[2020-07-17 06:01] s3r3n3 commented on #2358
Hi @maggiesMSFT ,

Thanks a lot for checking the issue.

My PowerBI has a source table whose name contains only digits, eg _0050_. Using url to filter data, the filter function worked the first time. After that, the same url didn't work anymore.

I've just tested the same data but in a different table whose name doesn't start with a digit, eg _TestAbc_ or _Test123_. Then using url to filter data f

[2020-07-17 16:16] Minewiskan commented on #2379
@TravisKale - MFA is fully supported when deploying from VS to Power BI Premium. Make sure [Read\Write is enabled for the capacity](https://docs.microsoft.com/en-us/analysis-services/client-libraries?view=asallproducts-allversions#how-to-determine-client-library-version),  verify you're using the latest [Analysis Services projects extension](https://marketplace.visualstudio.com/items?itemName=ProB

[2020-07-17 16:16] #2379 closed

[2020-07-17 19:01] maggiesMSFT commented on #2252
Hi, @brianmullinsbsd -- thanks for your comment! The article is updated now. Or is there something specific you're still not seeing?

[2020-07-17 19:01] #2252 closed

[2020-07-17 23:04] maggiesMSFT commented on #2264
Thanks so much, @nadjaklein ! It's fixed now.

[2020-07-17 23:04] #2264 closed

[2020-07-17 23:05] maggiesMSFT commented on #2262
Thanks so much, @milesgratz ! The article is fixed now.

[2020-07-17 23:05] #2262 closed

[2020-07-18 00:55] maggiesMSFT commented on #2380
Hi, @jorgeek830 -- thanks for your suggestion! Assigning to the author for consideration.

[2020-07-18 03:48] laancaro commented on #2365
Thanks!! I just copy-paste the code.
Even I noted that the GetToken method is diferent in step 1 and 2 of documentation.

[2020-07-19 07:00] sallllam opened #2382 "how to read table of PDF file with arabic language"
I tried to read a table in PDF file whit Arabic Letters but when it uploaded to the power bi its characters is unreadable
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ab70d2-6a8d-9457-9fe0-b7e5a11f7a23
* Version Independent ID: 8d847641-59f8-8914-799d-0c1c7ccad9a6
* Content: [Connect to a PDF

[2020-07-19 11:01] paulinbar commented on #2382
Hi @sallllam, thanks for reaching out to us with your comment. I have forwarded it on to the doc author for further consideration. Have you considered the information here: https://docs.microsoft.com/en-us/power-bi/fundamentals/supported-languages-countries-regions#choose-the-locale-for-importing-data-into-power-bi-desktop? I am not sure it will solve your problem but it might be worth a try. I al

[2020-07-20 16:12] sethsanu opened #2383 "Table showing features / limits / comparison for Power BI Embedded vs Power BI Pro"
Would love to see a basic table that shows the differences in features and limitations between PBI Embedded and PBI Pro. For example: Paginated Reports cannot use Power BI Datasets as a data source in PBI Embedded (works with PBI Pro). A lot of the good information in this FAQ could also be summarized in tabular form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-07-20 22:18] maggiesMSFT commented on #2358
Hi, @s3r3n3 -- I've checked. I'm told you should enter a support ticket, as you have clear repro steps.
Hope that helps!

[2020-07-20 22:18] #2358 closed

[2020-07-20 23:25] davidiseminger commented on #2383
Thanks for your comment, @sethsanu. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-07-21 02:48] sethsanu opened #2384 "Documentation Issue: Power BI Datasets as a data source for paginated reports are not supported in PBI Embedded"
Please create a note, and cross reference https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-paginated-reports-customers, “Power BI Datasets are not supported as a data source.”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40a5444a-ce6c-9a0c-3e84-832e67b75d47
* Version Independent ID: df2623ba-2917-f

[2020-07-21 07:14] paulinbar commented on #2384
Hi @sethsanu, thanks for reaching out to us with your comment! I have forwarded it on to the doc author for consideration.

[2020-07-21 10:21] uve commented on #2360
@Hamzamusameh, you this construction to create a new instance of Selection Manager:
`this.selectionManager = this.host.createSelectionManager();`

[2020-07-21 12:16] asocorro opened #2386 "Enhanced metadata preview for DQ dataflows"
Hi, has this restriction been lifted?

_DirectQuery for dataflows does not work with the enhanced metadata preview feature enabled. This exclusion is expected to be removed in an upcoming monthly release of Power BI Desktop._

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4696f74d-bce4-3808-008a-4375afdb71c5
*

[2020-07-22 12:49] KesemSharabi commented on #2386
Thanks for your comment, @asocorro.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-07-22 17:56] haider392 opened #2389 "Dataset limits needs update"
In the dataset limit section, it is mentioned "There is a 1 GB limit per dataset that is imported into Power BI. If you have chosen to keep the Excel experience, instead of importing the data, the limit is 250 MB for the dataset."

This info is no longer accurate. Power BI Premium allows datasets larger than 1 GB (Different tiers and SKUs of Premium have different limits). Please update documentat

[2020-07-22 19:37] kthejoker commented on #2370
@jdanyow The default time for token expiration is 1 hour

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#:~:text=The%20default%20lifetime%20of%20the,element%20in%20the%20token.

You can set the token lifetime during your request; The minimum refresh token time is 10 minutes and the maximum is 90 days.

[2020-07-23 01:06] ADefWebserver opened #2390 "AndrewMa not AndrewMa"
It should say Andrew Ma (with a space) not AndrewMa.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8345d077-5dab-e3b0-4109-facb509c8b68
* Version Independent ID: c666ff4f-6f8d-28b6-c4cf-57f433fc2688
* Content: [Use row-level security with Power BI embedded content - Power BI](https://docs.microsoft.com/en-us/power-bi/

[2020-07-23 01:18] ey1020park opened #2391 "Cross report drill through function is not working in Power BI Report server"
Hi.
I am using Power BI Report server(May 2020 installed)
I want to use cross report drill through function in power bi report server.
Even though cross report setting is shown on power bi desktop but it's not working when i published to PBIRS.

(I used the demo files from guy in a cube site
https://github.com/guyinacube/demo-files/blob/master/video%20demos/PBIX/2019/20190501%20-%20Cross%20Report.

[2020-07-23 10:25] paulinbar commented on #2389
Thanks @haider392 - notifying the author.

[2020-07-23 10:27] paulinbar commented on #2390
Hi @ADefWebserver, thanks for pointing that out! Forwarding your observation over to the doc author.

[2020-07-23 23:14] Data-touille opened #2392 "Incremental Refresh not working with Template Apps"
Incremental refresh on a Power BI dataset deployed through a Template App in Power BI Service doesn't seem to work.
The dataset refresh in the destination (client) tenant always performs a FULL refresh even though we setup an incremental refresh in the initial Power BI Desktop file (.pbix).
In addition, the Power Query parameters RangeStart & RangeEnd (required for incremental refresh but usually

[2020-07-24 07:08] paulinbar commented on #2392
Hi, @Data-touille, thanks for contacting us about this issue. Let me check into this and I'll get back to you.
@teddybercovitz

[2020-07-24 15:09] prlipscombe opened #2393 "Section unclear if its computer or user account delegation being changed"
This related to the 3rd section
https://docs.microsoft.com/en-us/power-bi/report-server/azure-application-proxy#3-configure-delegation-settings

Points 2 and 4 reference finding/changing the service account settings in AD (basically a user account)
However point 6 says trust this computer for delegation - which is not what a user object will show in AD but is what a computer object will show.

---

[2020-07-24 15:45] cricex opened #2394 "Missing Premium SKUs in comparison table"
Comparison table under 'Capacity nodes' stops at the P3 SKU while P4 and P5 exist.

Additionally, P5 is mentioned on the same page here: https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is#subscriptions-and-licensing
And here: https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is#size-considerations

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-24 16:05] maggiesMSFT commented on #2393
Hi, @prlipscombe -- thanks for asking! I'll check and get back to you and see if we need to update the docs.

[2020-07-24 17:57] maggiesMSFT commented on #2391
Hi, @ey1020park -- good question! I'm checking and will get back to you.
Thanks!

[2020-07-24 18:35] maggiesMSFT commented on #2391
Hi, @ey1020park -- OK, checked. No, it's not supported. I need to add that statement to the docs. Were you looking at a specific article for this info?

[2020-07-25 01:09] maggiesMSFT commented on #2336
Hi, @wynhopkins -- I too decided the article was confusing, so I kind of rewrote it. Got some good details from both product teams, too. Thanks for the nudge!
Changes will be live next Monday 7/27 afternoon.

[2020-07-25 01:09] #2336 closed

[2020-07-26 04:20] itsnotaboutthecell opened #2396 "Limitations"
Push datasets are not supported with Publish To Web.

While there are no limitation section on the official Push/Streaming/PubNub datasets documentation it may be worth additionally calling it out.
URL: https://docs.microsoft.com/en-us/power-bi/connect-data/service-real-time-streaming

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-07-26 12:11] msftbrian opened #2397 "Desktop Report Examples Missing"
Is there somewhere else where the prediction scoring is dropped into a power bi desktop report?  There's only a quick reference to using the enhanced model for reporting

[2020-07-26 19:46] paulinbar commented on #2397
Hi @msftbrian, thanks for reaching out to us with your question. Can you send us a reference to the page you are referring to in the documentation? Thanks!

[2020-07-26 19:48] paulinbar commented on #2396
Hi @itsnotaboutthecell, thanks for your observations. I am forwarding them along to the doc author for further consideration.

[2020-07-26 19:50] paulinbar commented on #2394
Hi @cricex, thanks for your observations.  I am forwarding them on to the doc author for further consideration.

[2020-07-27 01:00] sunilagarwal opened #2398 "Connecting PowerBI to access Azure Postgres Single Server"
I was looking at the source databases mentioned in the documentation. I think the list of source databases need to be updated. For example, PowerBI can integrate with Azure Postgres [https://docs.microsoft.com/en-us/archive/blogs/chmitch/complete-guide-to-setting-up-power-bi-connecting-to-postgres-w-refresh-enabled]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-27 01:15] ey1020park commented on #2391
Hi, @maggiesMSFT
-- thank you for the clear comment.
I was looking at below article.
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-cross-report-drill-through#:~:text=To%20use%20cross%2Dreport%20drillthrough%2C%20select%20the%20source%20report%20in,then%20select%20the%20drillthrough%20target.

BTW, is there any possibility to be able to use the function in PBIRS?
Many useful func

[2020-07-27 14:44] trevorragle opened #2399 "Grammatical Error"
Under "Limitations and Considerations", the word "access" is repeated. This is in the 2nd row and I think it is a grammatical error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee973158-6e02-2af5-17a6-05797c9630c5
* Version Independent ID: 45a55720-c645-b221-cdaf-5da204cff706
* Content: [Share a dataset - Power BI](

[2020-07-27 16:29] maggiesMSFT commented on #2399
Hi, @trevorragle -- thanks! Fixed it. Update will be live later this afternoon, Mon July 27.

[2020-07-27 16:29] #2399 closed

[2020-07-27 18:27] maggiesMSFT commented on #2396
Thanks, @itsnotaboutthecell ! Taking the conversation offline.

[2020-07-27 18:27] #2396 closed

[2020-07-27 19:09] maggiesMSFT commented on #2391
Hi, @ey1020park -- thanks for the link. I'm adding a Considerations section to the article and adding it there.
What's possible/not possible Power BI Report Server vs. the Power BI service: If you think of report functionality as 'inter-report' or maybe 'extra-report', those sorts of features don't necessarily work in the report server. If you think of 'intra-report' features, those do work. Make

[2020-07-27 19:09] #2391 closed

[2020-07-27 19:23] maggiesMSFT commented on #2391
Oh, I realized I can add it to this doc, too
https://docs.microsoft.com/en-us/power-bi/report-server/compare-report-server-service

[2020-07-27 21:23] maggiesMSFT commented on #2304
Yes, thanks, @nstraw ! Fixing this now.

[2020-07-27 21:23] #2304 closed

[2020-07-27 21:24] maggiesMSFT commented on #2033
Hi, @itsnotaboutthecell -- whew, fixing this now. Thanks!

[2020-07-27 21:24] #2033 closed

[2020-07-27 21:44] maggiesMSFT commented on #2384
Thanks, @sethsanu ! I added that to the article, https://docs.microsoft.com/en-us/power-bi/paginated-reports/paginated-reports-data-sources

[2020-07-27 21:44] #2384 closed

[2020-07-27 21:45] maggiesMSFT commented on #2364
Hi, @gabolivaf18 -- receiving no reply, I'll assume that resolved your problem. If not, feel free to reopen. Thanks!

[2020-07-27 21:45] #2364 closed

[2020-07-27 21:59] maggiesMSFT commented on #1949
Hi, @AeliusRuivus -- are you still having this issue? I just tried it and the link worked fine. If it's still not working, I suggest opening a support ticket. https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-07-27 21:59] #1949 closed

[2020-07-27 22:14] maggiesMSFT commented on #2311
Hi, @slopezv2 -- thanks for asking! I'm checking and will get back to you.

[2020-07-27 22:57] davidiseminger commented on #2398
Great - thanks for your comment! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-07-28 17:34] maggiesMSFT commented on #2335
Hi, @ashoksubedi1 -- I've checked with folks. They say: "I looked at the update and the change shouldn't break creating PowerBI Tab with Graph." They ask that you open a support ticket so we can investigate why it's not working.
https://powerbi.microsoft.com/en-us/support/
Thanks!

[2020-07-28 17:34] #2335 closed

[2020-07-28 17:59] maggiesMSFT commented on #2301
Hi, @bradj813 -- just so you know, I'm working on finding an answer. I own the article but didn't write it originally.
thanks --

[2020-07-28 20:21] boonasty69 opened #2402 "Tabor’s Powerbi"
[Enter feedback here]

New apps developing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8a7a22-e258-4da3-4c55-6ddb1085c521
* Version Independent ID: 0b3f2b88-9e73-f4dd-0f21-fe3c156a99b8
* Content: [Connect to Project Online with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-con

[2020-07-28 20:22] #2402 closed

[2020-07-28 21:21] maggiesMSFT commented on #2393
Thanks, so much, @prlipscombe -- updating the doc to say "Trust this user" instead.

[2020-07-28 21:21] #2393 closed

[2020-07-28 22:52] maggiesMSFT commented on #2294
You're right, @Mike-Honey . I'm adding it to the table now. Thanks for asking!

[2020-07-28 22:52] #2294 closed

[2020-07-29 00:11] maggiesMSFT commented on #2311
Hi, @slopezv2 -- sadly, the answer is no, it won't work with SharePoint 2010. It requires versions 2013, 2016, and 2019. I'm adding that info to the article. Thanks for asking!

[2020-07-29 00:11] #2311 closed

[2020-07-29 01:00] kthejoker commented on #2254
This was confirmed to  be a bug in the Power BI service and has since been resolved, thank you, no further action needed

[2020-07-29 01:00] #2254 closed

[2020-07-29 10:09] gerybtiscca commented on #1885
We have an IIS site which hosts PBIRS and other applications in an iFrame; PBIRS is published via WAP, Login via ADFS.
Unfortunately this fix crashed the embedding on our test servers. The default "Customheader" setting, which works on our production site (Version 1.6.7327.3007, January 2020) is
_<CustomHeaders> <Header> <Name>X-Frame-Options</Name> <Pattern>(.+)((\/api)|(\/(mobilereport|report|po

[2020-07-29 13:35] chrolivier opened #2403 "Broken link to "Tabular Object Model" page"
The second paragraph contains the following link to a page that doesn't exist:
https://docs.microsoft.com/en-us/bi-reference/tom/introduction-to-the-tabular-object-model-tom-in-analysis-services-amo

I suspect the correct link should be the following:
https://docs.microsoft.com/en-us/analysis-services/tom/introduction-to-the-tabular-object-model-tom-in-analysis-services-amo

---
#### Document deta

[2020-07-29 15:15] paulinbar commented on #2403
Hi @chrolivier, thank you for calling our attention to this. Yes, looks like a link didn't get changed with things moved around. I'm forwarding your comment on to the doc author for review. Thanks!

[2020-07-29 18:07] maggiesMSFT commented on #1885
Hi, @gerybtiscca -- I checked with the engineers. They recommend opening a support ticket because it may involve a fair amount of back and forth question and answer.
https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2020-07-29 19:00] gerybtiscca commented on #1885
Hi Maggie!
Thank you for your info, I’ll open a ticket and let you know when I got feedback!
Gery

Von: Maggie Sparkman <notifications@github.com>
Gesendet: Mittwoch, 29. Juli 2020 20:08
An: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Gerald Bauer <gerald.bauer@tis-cca.com>; Mention <mention@noreply.github.com>
Betreff: Re: [MicrosoftDocs/powerbi-docs] x-frame-options error (#

[2020-07-30 00:25] coreyspagnoli commented on #672
I'm having the same issue trying to link my app to power bi through the API.  Has this been resolved?

[2020-07-31 09:24] DaveRuijter commented on #2260
Any news on this issue: "can we use a Storage account with a firewall enabled?"
Answer is "no" for my current understanding.
Would be great if the product team knows about this and hopefully they can unlock this impediment!

[2020-07-31 12:36] dcp-unifin opened #2404 "Power BI Embedded API to export to PDF"
I'm having problems getting a button to print on my .net project. I've created the methods as released in C# but stuck in how to configure the button. Can you post something to give an example on how?

 private async Task<ExportedFile> ExportPowerBIReport(
    Guid reportId,
    Guid groupId,
    FileFormat format,
    int pollingtimeOutInMinutes,
    CancellationToken token,
    IList<string> pag

[2020-08-01 00:48] maggiesMSFT commented on #2404
Hi, @dcp-unifin -- thanks for your question. I've assigned it to the author. Could you say which article you're looking at? That will help the author troubleshoot. Thanks!

[2020-08-01 15:36] ustrat opened #2406 "External tools"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89c2607e-b89c-9572-6700-1d6446eb7133
* Version Independent ID: d14ccb79-9c49-fc0e-ff34-24d66a1db47a
* Content: [Using external tools in Power BI (preview) - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-external-tools)
* C

[2020-08-02 11:32] #2083 closed

[2020-08-02 11:33] #2224 closed

[2020-08-02 11:34] #2306 closed

[2020-08-02 11:35] #2337 closed

[2020-08-02 11:36] #2360 closed

[2020-08-02 12:26] paulinbar commented on #2406
@ustrat, I see that you opened a Ppwer BI documentation github issue, but I don't see any other information. I am going to close this issue on the assumption that it was opened by mistake, but if indeed you had a problem with the documentation, please reopen this issue and provide us the details so that we can begin to take steps. Thanks!

[2020-08-02 12:26] #2406 closed

[2020-08-02 14:11] rwlpf opened #2407 "If you want to use all features of Power BI Premium (except unlimited sharing), you need at at least an A4 SKU."
Is this statement correct?  If so then if have an A4 sku then have access to Power BI Report Server, same number of refreshes, same max size of datasets etc.

Or specifically related to the compute power eg the number of refreshes front and back end CPU cores etc.  Therefore is not the same features.  Only the same subset of features?

---
#### Document details

⚠ *Do not edit this section. It is

[2020-08-03 16:18] phobag opened #2408 "capacity setting changes"
Users will need to modify the Max Offline Dataset Size in the capacity settings to accommodate the dataset size
![image](https://user-images.githubusercontent.com/54297657/89203989-662eda00-d583-11ea-9c04-20a80d83d8bd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246f0cce-9c53-3bea-15df-0fb7c8520f12
* Version Ind

[2020-08-03 19:30] lakeyeric22 opened #2409 "Snowflake doesn't have a Query Editor in Power BI"
This document says: "You can Load the selected table, which brings the entire table into Power BI Desktop, or you can Edit the query, which opens Query Editor so you can filter and refine the set of data you want to use, and then load that refined set of data into Power BI Desktop."

However, this is not the case.  The current functionality only allows entire tables or views to be loaded into Powe

[2020-08-03 21:34] jminango20 opened #2410 "Nice Documentation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/introductiontodax?tutorial-step=1)
* Content Sour

[2020-08-03 22:40] davidiseminger commented on #2407
Thanks for your comment, @rwlpf. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-08-03 22:40] davidiseminger commented on #2408
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-08-03 22:41] davidiseminger commented on #2407
Assigning...

[2020-08-03 22:41] davidiseminger commented on #2409
Thanks for your comment. We’ve assigned your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-08-03 22:42] davidiseminger commented on #2410
Great - thank you!

[2020-08-04 17:05] dcp-unifin commented on #2404
Yes the article is https://powerbi.microsoft.com/en-us/blog/export-report-to-pdf-pptx-and-png-files-using-power-bi-rest-api/

[2020-08-04 18:45] maggiesMSFT commented on #2301
Hi, @bradj813 -- whew, that took a while. The answer is: The sentence is misleading, and I'm rewriting it. It should say something simple like "You create parameters in Power BI Desktop. You can review and edit parameter settings in the Power BI service, but not create them."

[2020-08-04 18:49] maggiesMSFT commented on #2301
Thanks for asking, @bradj813 ! That sentence was uninformative.

[2020-08-04 18:49] #2301 closed

[2020-08-04 19:48] maggiesMSFT commented on #2293
Hi, @DeleteThree -- I'm sorry to hear it! This is product feedback. Please enter it at https://ideas.powerbi.com/ideas/

[2020-08-04 19:48] #2293 closed

[2020-08-05 00:01] fauzisd opened #2411 "Reading from PDF"
This page does not tell me why Load button is greyed.  Only Cancel is enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ab70d2-6a8d-9457-9fe0-b7e5a11f7a23
* Version Independent ID: 8d847641-59f8-8914-799d-0c1c7ccad9a6
* Content: [Connect to a PDF file in Power BI Desktop - Power BI](https://docs.microsoft.com/e

[2020-08-05 11:37] Mrtnkbg opened #2412 "Request for addition to the page: Comparing Power BI Desktop and the Power BI service"
Hi,

I am currently moving into the Power BI area from e.g. SQL Server/SSRS and Power Pivot, and I am looking for a complete picture of the Power BI "toolbox" in order to decide the road ahead. When searching for information I ran into the page https://docs.microsoft.com/en-us/power-bi/fundamentals/service-service-vs-desktop.

The page is a good overview, but I miss information regarding how the P

[2020-08-05 11:58] KesemSharabi commented on #2411
Thanks for your comment, @fauzisd.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-08-05 12:01] KesemSharabi commented on #2412
Thanks for your comment, @Mrtnkbg.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-08-05 14:41] mihart commented on #2374
Hi @elleneg,
Thank you for contributing to the docs.  I've updated the article to include this limitation.  To see the PDF feature improved, add your vote to this idea on ideas.powerbi.com -- it's a really good idea.
Take care,
Michele

[2020-08-05 14:41] #2374 closed

[2020-08-05 14:51] mihart commented on #2235
Hi @RowlinAPsychologist and @CeciAc
I've passed along your comment to the author.  But let me try to help too.
1. Are you attempting to copy a visual from Power BI Desktop or from the Power BI service?
2. Are you attempting to copy a visual from a dashboard or from a report?
3. Are you using keyboard shortcuts or the icon (the one that looks like 2 pieces of paper)?
Thanks,
Michele

[2020-08-05 15:15] mihart commented on #2286
Hi @mariewo ,
I've contacted the developers and will reply when I get their response.  Thanks for the question.
Michele

[2020-08-06 14:19] sqltj opened #2413 "Not enough detail for large data model feature"
We need more detail here.

1. Model sizes can go larger than 10GB -> How much higher? Limitless?
2. A comparison with AAS model sizing would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246f0cce-9c53-3bea-15df-0fb7c8520f12
* Version Independent ID: aefc566c-9abf-1e4f-6d38-18a1e192fa23
* Content: [Large mo

[2020-08-06 15:31] paulinbar commented on #2413
Hi @sqltj, thanks for your comments. I am forwarding them on the doc author for consideration.

[2020-08-07 01:00] msftrien commented on #2235
Hi, I could be missing some of the context, but there are several different ways to copy things in Power BI, so I’d like to know the answers to those questions too. In the Service, for example, there is a button: [cid:image001.png@01D66C1B.706BD440]
that allows you to copy visual as image (which I believe Michele is alluding to with her third question). Is that what you’re looking for?

Rien

From

[2020-08-07 14:42] madhu5117 opened #2416 "Export Power BI report to file Rest API and its limitations"
Hi,

we have a requirement of snapshotting SSRS reports published in Power BI service and make them available for users. We are trying to explore the option of Export Power BI report to file Rest API ( https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-to ) but see that it has limitations on size and no. pages it can export. we can live with size limitation but no. pages limitatio

[2020-08-07 18:50] maggiesMSFT commented on #2416
Hi, @madhu5117 -- thanks for your question. Assigning this to the author of the article you mention, but I'm wondering if that's the right article. You're talking about SSRS reports -- in other words, RDL files, right? This article appears to be about Power BI reports, PBIX files. So I'm not convinced that it will help. Perhaps @KesemSharabi can advise. Thanks!

[2020-08-07 19:00] maggiesMSFT commented on #2412
Hi, @Mrtnkbg -- That's a great question! And a good use of the alias. I'll have to think about how to work it into this article.  Quick answer: Power BI Report Builder creates paginated reports with the RDL file format. Power BI Desktop creates Power BI reports with the PBIX file format. Here's an article all about paginated reports, which includes a section comparing the 2 file formats.
https://d

[2020-08-07 19:00] #2412 closed

[2020-08-07 21:47] maggiesMSFT commented on #2271
Hi, @NickyvVr -- are you still having this issue? I have since split this article into several smaller articles, so the picture you refer to is now in this article: https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-share-report-teams
And there's a plausible reason you're not seeing the Share to Teams option: There's a setting in the Admin portal to show or hide it.   Here's a lin

[2020-08-07 21:47] #2271 closed

[2020-08-07 21:59] maggiesMSFT commented on #2289
Hi, @DMiradakis -- Thanks again! Adding this sentence to the article:
"If your custom connector is on a network drive please include the fully qualified path on the On-premises data gateway app."

[2020-08-07 21:59] #2289 closed

[2020-08-07 22:01] maggiesMSFT commented on #2174
Hi, @jtorres1127 -- receiving no answer, I'm closing this issue. Feel free to reopen or create another issue, if you wish.
thanks!

[2020-08-07 22:01] #2174 closed

[2020-08-08 00:03] maggiesMSFT commented on #2251
Hi, @artsheiko -- thanks for asking! I'm checking on this. I see that admins can edit details, but not that they can delete.

[2020-08-08 00:31] maggiesMSFT commented on #2251
Ha! I figured it out. I'll add it to the article. Thanks!

[2020-08-08 01:20] maggiesMSFT commented on #2251
Hi, @artsheiko --
I mentioned it in this article, then explained it in the Admin Portal article, https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#workspaces
Changes will be live next Mon Aug 10.
Thanks!

[2020-08-08 01:20] #2251 closed

[2020-08-08 01:22] maggiesMSFT commented on #2323
Hi, @haider392 -- I added a link to the article "Power BI for US government customers"
https://docs.microsoft.com/en-us/power-bi/admin/service-govus-overview
The change will be live Mon Aug 10 afternoon.
Hope that helps!

[2020-08-08 01:22] #2323 closed

[2020-08-08 01:22] maggiesMSFT commented on #2324
Hi, @haider392 -- I added a link to the article "Power BI for US government customers"
https://docs.microsoft.com/en-us/power-bi/admin/service-govus-overview
The change will be live Mon Aug 10 afternoon.
Hope that helps!

[2020-08-08 01:22] #2324 closed

[2020-08-08 12:33] dcp-unifin commented on #2416
I'm sorry but we can't implement the API...we need more documentation or the full end to end solution from button creation to saving the PDF. We've been trying to use this for  over one month now..developing in C#, powershell...just not working. Pity

[2020-08-08 12:33] dcp-unifin commented on #2404
I'm sorry but we can't implement the API...we need more documentation or the full end to end solution from button creation to saving the PDF. We've been trying to use this for over one month now..developing in C#, powershell...just not working. Pity

[2020-08-09 00:09] MikeAinOz opened #2417 "The location for PowerBI to pick up the connector may vary"
There may be an issue with the PowerBI seeing the location of the connector if the [Document] library list contains OneDrive as mine does

I had to create this directory:
mkdir "$([Environment]::GetFolderPath("MyDocuments"))\Power BI Desktop\Custom Connectors"
which mapped to:
C:\Users\mike\OneDrive\Documents\Power BI Desktop\Custom Connectors
I put the signed connector in there and it all worked

[2020-08-09 02:28] madhu5117 commented on #2416
Hi Maggie, Yes, I am talking about SSRS reports. We have published SSRS reports in Power BI service and exploring the option of using this API.

[2020-08-09 11:11] paulinbar commented on #2417
Hi @MIkeAinOz. Thanks for reaching out to us with your comment. As this doesn't seem to be primarily a documentation issue at this point, I am forwarding your comment on to the connector specialists. If you don't hear anything please feel free to get back to me.

[2020-08-10 16:31] fmosolyg opened #2418 "Connect to Oracle database with Power BI Desktop version 2.83.5894.961 64-bit (2020.July)"
Hi,

I installed the version above and I could only connect to Oracle database if I wrote the net_service_name in the Server field with quotation marks. Without them I got Microsoft.Mashup.Evaluator.Interface.ErrorException message. The quotation marks are necessary for local database and autonomous database connections as well.

Please check it and add to the documentation.
If you need additional

[2020-08-10 23:05] davidiseminger commented on #2418
Thanks for your contribution, @fmosolyg - sorry you ran into that problem. I've added a note at that step, to the effect you described here. The new note will show up with the next build.

Thanks!

[2020-08-10 23:08] davidiseminger commented on #2418
Update complete.

[2020-08-10 23:08] #2418 closed

[2020-08-11 18:11] gvashishtha opened #2419 "Broken link"
I recently refactored the Azure ML documentation, so that a link on this page no longer points to a useful location. Specifically the link whose text is " (Optional) Automatic Swagger schema generation in the Deploy models with the Azure Machine Learning " should point to https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-advanced-entry-script#power-bi-compatible-endpoint

---
#

[2020-08-11 23:25] Jav10 opened #2420 "States map keys is wrong for Mexico:states"
Hi,
I'm making a map with a shape map but the map keys is wrong,

instead of:
mx-bcn | B.C. | MX-BCN | Baja California | Baja California | BN

the correct is:
mx-bcn | B.C.N. | MX-BCN | Baja California Norte | Baja California Norte | BN

thanks.

[2020-08-11 23:50] Jav10 commented on #2420
Sorry de name Baja California Norte change to Baja California.

[2020-08-11 23:50] #2420 closed

[2020-08-12 04:45] mihart commented on #2419
Thanks for your comment, @gvashishtha . This issue has been assigned to the doc author for review.

[2020-08-12 06:38] ozhug opened #2421 "AMO and ADOMD connection string does not work"
AMO and ADOMD connection string does not work (or error message returned lacks detail)
connection string shown when replaced with details for my application
string connString = $"Provider=MSOLAP;Data source=powerbi://api.powerbi.com/v1.0/<tenant>/<workspacename>;Initial catalog=<datasetname>;User ID=app:{appId};Password={authKey};";
message returns
Exception thrown: 'Microsoft.AnalysisServices.Con

[2020-08-12 07:08] kirank5 opened #2422 "What are the paginated reports REST API limitation ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53195679-7a58-c111-3814-fccf4cc38854
* Version Independent ID: ee9e8e36-45e1-8029-4f9a-b1d41ef4a3f1
* Content: [Export Power BI paginated reports API - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-paginated-report)
* C

[2020-08-12 12:56] KesemSharabi commented on #2421
Thanks for your comment, @ozhug.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-08-12 13:04] KesemSharabi commented on #2422
Thanks for your comment, @kirank5. I’ll investigate and get back to you.

[2020-08-12 15:21] NJarZe opened #2423 "Specify role in connection string?"
When a user has multiple (Snowflake) roles assigned to them, can we specify which role we would like to use for the connection? It seems right now it's limited to using the user's default role.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 328a161c-b51e-05d1-c185-cb244547c3f3
* Version Independent ID: 0bef7bb

[2020-08-12 18:45] sjs210 commented on #1305
Does the copy report functionality work on users who are accessing the online service using a tablet?  It appears (although I'm not sure!) to not be allowed on mobile devices, and if that is the case, it would be helpful to add that to the documentation.  Thank you!

[2020-08-13 00:54] preston-mathis opened #2424 "Incorrect "authorityUrl" for Military Contractors (DoDCON):"
Currently listed as:
`<add key="authorityUrl" value="https://login.microsoftonlineS.net/common/" />`

Should be ?,maybe:
`<add key="authorityUrl" value="https://login.microsoftonline.us/common/" />`

[2020-08-13 07:34] paulinbar commented on #2424
Hi @preston-mathis. Thanks for your comment. I assume you are referring to this article? Please correct me if I'm wrong.
https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers-national-clouds
 Please correct me if I'm wrong.
In any event, I am forwarding your comment along to the doc author for consideration. Thanks!

[2020-08-13 07:37] paulinbar commented on #2423
Hi @NJarZe, thanks for reaching out to us with your question. I am forwarding it along to the content expert for consideration.

[2020-08-13 08:03] KesemSharabi commented on #2422
Hi @kirank5,

As far as I'm aware there are no limitations.

Thanks,

Kesem

[2020-08-13 08:05] #2422 closed

[2020-08-13 13:40] JD-BOS opened #2425 "minor typo worth fixing"
In the "Important" box shaded blue - small typo worth fixing: "metadat" should be "metadata"
Enabling the enhanced dataset metadata feature results in an irreversible upgrade to reports. Any Power BI reports loaded or created with Power BI Desktop, once the enhanced dataset metadata enabled, are irreversibly converted to the enhanced dataset metadat **[METADATA]** format.

---
#### Document Detail

[2020-08-13 17:12] hugotoledo opened #2426 "What the heck is this example doing?!?!"
I'm guessing the third line in the DAX example is a mistake. If it isn't, I'd truly love to know what I'm missing.

IF(
    USERNAME() = "Worker",
  __[Type] = "Internal",__
    IF(
        USERNAME() = "Manager",
        TRUE(),
        FALSE()
    )
)

Why would you use such an arcane example? I don't know what the possible values of [Type] are so how do I know what [Type] = "Internal" will reso

[2020-08-13 17:28] JoelLeichty opened #2427 "How Does the Tenant Admin Grant Access For Certifying Datasets"
This article, and the related articles, don't explain how the Tenant Admin grants access to Certifying datasets. This is a critical step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 964f91f6-81f3-8d83-4c73-d5ad8a7e77c5
* Version Independent ID: 7027312f-a8e3-a8c6-cb38-1200790271dc
* Content: [Certify datasets - Powe

[2020-08-13 22:55] kfollis commented on #2425
Thanks, @JD-BOS! Nice catch! I've corrected the typo.

[2020-08-13 22:55] #2425 closed

[2020-08-13 23:00] kfollis commented on #2426
Thanks for the feedback, @hugotoledo. I think that's a reference to the imaginary data, but I'm adding the author to provide clarification.

[2020-08-13 23:20] kfollis commented on #2427
Great question, @JoelLeichty ! I'm assigning this to the author to add that detail to the article. Here's what I found: In the admin portal, under Tenant settings, there is a section "Export and sharing settings". "Certification" is an option in that area. You can enable for the entire org, or just for specific security groups. After that's enabled, you can go to Settings for the dataset and you'l

[2020-08-13 23:34] JoelLeichty commented on #2427
Thanks.

I did find it by guessing and reading some other blog.

The docs article could explicitly say 1) the field that is populated to
provide Certification access and 2) you must use an AD group (named users
won’t work).

The field is in the screenshot, but it goes unmentioned. Also the field
label and ordering isn’t great - “Apply to...” - not intuitive what’s being
applied to what. In this ca

[2020-08-14 00:32] JD-BOS commented on #2425
Thanks so much for the impressive PBI documentation – very helpful!! ~ Jay

From: Kate Follis <notifications@github.com>
Sent: Thursday, August 13, 2020 6:56 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Jay DeLaune <JDeLaune@jfcsboston.org>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] minor typo worth fixing (#2425)

Thanks, @JD-BOS<htt

[2020-08-14 16:05] JD-BOS opened #2428 "Small edit worth fixing - verb tense"
very small word change (verb tense) and sorry for catching these "one at a time..."

Updating a report to use the enhanced dataset metadata feature is irreversible. During the update, however, a report backup file is create [should be CREATED] to save a version of the report in its original (pre-update) format. The backup file is removed after 30 days.

---
#### Document Details

⚠ *Do not edit th

[2020-08-16 02:22] hugotoledo opened #2429 "Typo; sentence is missing the article "a""
The sentence:
**_Power BI Desktop what-if parameter is feature that..."_** is missing be article "a".

It should be written as:
**_Power BI Desktop what-if parameter is a feature that..."_**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a808705-dc30-b57f-7e2e-2ec0a9360124
* Version Independent ID: 2d766a55-b579-0991-

[2020-08-16 21:07] paulinbar commented on #2429
Hi @hugotoledo, thanks for pointing that out. The change has been made to the doc and will go live at the next publishing cycle. Thanks again for the sharp eyes!

[2020-08-16 21:07] #2429 closed

[2020-08-16 21:09] paulinbar commented on #2428
Hi @JD-BOS, thanks for calling this to our attention. The correction has been made and will go live at the next publishing cycle early this week. Thanks again!

[2020-08-16 21:09] #2428 closed

[2020-08-17 05:09] rajrao opened #2431 "ADLS Gen2 must be added to document under azure"
Under Azure sources, "Azure Data Lake Storage Gen2" must be added. Additional information on what is supported, (eg: path to container level, path to folder in container, full file path to file) would be helpful. Finally, information on permissions and the setup in ADLGen2 would also be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-08-17 16:16] Minewiskan commented on #2421
@ozhug - We had three engineers look at this section in the article. It is technically correct, so there does not appear to be a documentation issue here. Make sure you're using the latest client libraries, and you can exclude Initial Catalog in the string. If those don't help, you can try [Power BI Community](https://community.powerbi.com/t5/Get-Help-with-Power-BI/ct-p/PBI_GetHelp) or create a Su

[2020-08-17 16:16] #2421 closed

[2020-08-17 19:05] otravers commented on #1927
For the benefit of people googling their way to this page and left scratching their head as to why integration documentation randomly disappears, here's the aforementioned documentation:
https://github.com/MicrosoftDocs/powerbi-docs/blob/fcebab0706773c2cd57ba45f49c0dfdbbdb6ed3b/articles/powerbi-admin-power-bi-expressroute.md

[2020-08-17 21:30] slavatrofimov opened #2432 "Consider indicating that custom connectors are not compatible with dataflows"
The documentation currently does not address the limitation that dataflows do not support Custom Connectors. Please consider adding this known limitation to the official documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 305e8837-917d-43d4-4d09-a180082f3ab8
* Version Independent ID: b43bfaf7-d7e1-a715-1ffa-e

[2020-08-17 21:36] slavatrofimov opened #2433 "Consider indicating that custom connectors are not compatible with dataflows"
The documentation currently does not address the limitation that dataflows do not support Custom Connectors. Please consider adding this known limitation to the official documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 137ea074-f635-5cd9-6e94-f6bc12ac2452
* Version Independent ID: 4ce609b2-adfa-8575-4e4a-9

[2020-08-17 22:06] davidiseminger commented on #2431
Thanks for your comment. The Dataflows documentation is undergoing an update soon, and we'll make sure we include those items.

[2020-08-17 22:06] #2431 closed

[2020-08-17 22:06] davidiseminger commented on #2432
Thanks for your comment. The dataflows documentation is going through an update soon, and we'll be sure to include this information. Thanks!

[2020-08-17 22:06] #2432 closed

[2020-08-17 22:07] davidiseminger commented on #2433
Thanks again for your comment, we're updating the dataflows documentation, and will include this information.

[2020-08-17 22:07] #2433 closed

[2020-08-18 18:32] fpk3 opened #2434 "There's no OneDrive refresh section for reports built on Power BI shared datasets"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8122662c-44c4-317d-ef45-44bd3f204487
* Content: [Data refresh in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/refresh-data)
* Content Source: [powerbi-docs/c

[2020-08-18 19:36] mihart commented on #2434
Hi @fpk3,
I see that you've created a Git Issue for the document: Data refresh in Power BI - Power BI, but you didn't leave any comments.  Please update this Git Issue with your comments.  Thank you.

[2020-08-19 04:30] ryancthomas opened #2435 "MicrosoftAzureConsumptionInsights - Databricks Missing"
Regarding the recent communication where the meter names of Azure Databricks will change, Databricks meterid is not available using the MicrosoftAzureConsumptionInsights connection in PBI as of August.
How do I capture the billing to pull into PowerBI?

Communication:
Azure Databricks     Effective     September 1, 2020, the meter names of Azure Databricks will change. Read complete details about

[2020-08-19 09:50] MCarlisle3 opened #2436 "Unsupported features and connectors vague"
M expressions containing certain character combinations such as “\n” in column names

This is vague is there any other documentation listing the character combinations that are unsupported? Alternatively guidance on how we'd be able to spot this as being an issue, e.g. column names containing backslashes are unsupported.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-08-19 14:41] Abi0411 opened #2437 "Spellings mistake"
The line should read, "select an existing measure" instead of select and existing measure. The mistake is after "Change Detection" section
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fedb7099-554f-0eed-eaa6-fc13851eb3b1
* Version Independent ID: 8beddbbe-5ebc-60e4-ab28-fd130283a8c1
* Content: [

[2020-08-19 14:44] Abi0411 commented on #2437
"Once the window is open, you are presented with the Measure type option where you can _**select and existing**_ measure or create a new one from scratch."

[2020-08-19 14:52] mhatreraja opened #2438 "Using data from data sources to build matrix"
Hi,
I'm new to power bi (currently using Version: 2.83.5894.961 64-bit (July, 2020)) version.
My issue is two data sources have few of the identical columns  table 1 and table 2. However rows differ to column headers. Data will be appended on day by day, for below scenario data produced for one day. I will like to use the data from these table to build matrix, when they are used results are not as

[2020-08-19 19:02] raghu4sangeeth opened #2440 "Azure AD B2B with commercial in GCC High is not supported"
Azure AD B2B in Azure Gov only works with other Gov tenant users based on the following link - https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#azure-active-directory-premium-p1-and-p2

Please update the table to indicate that B2B is not supported for GCC High and DOD.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-08-20 06:12] bbpaulvanharen opened #2441 "Example doesn't load preview"
The very first example on this page, i.e. Get Data > Web from https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/ doesn't load the Table View Preview. Instead, a "Something went wrong" message appears, stating "The string did not match the expected pattern".

FYI: the Web View of the page loads as expected.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-08-20 23:01] kfollis commented on #2435
Hi @ryancthomas - Thanks for the question. Is this the article where you'd expect to see an update: https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-azure-consumption-insights? And this is the announcement: https://azure.microsoft.com/en-us/updates/azure-analytics-data-bricks-meters/? Have you tried the steps in this article: https://docs.microsoft.com/en-us/power-bi/connect-

[2020-08-20 23:05] kfollis commented on #2437
Thanks, @Abi0411! Good catch. I have made the correction and it'll go live tomorrow with our next publishing update.

[2020-08-20 23:05] #2437 closed

[2020-08-20 23:14] kfollis commented on #2436
Hi @MCarlisle3  - I did a quick search and didn't find a definitive answer for you. I'm going to assign this issue to the writer for follow-up to see if we can be more explicit when describing the supported/non-supported character combinations in M expressions.

[2020-08-20 23:15] kfollis commented on #2440
Hi @raghu4sangeeth - the update is now live, so closing this issue.

[2020-08-20 23:15] #2440 closed

[2020-08-20 23:21] kfollis commented on #2438
Hi @mhatreraja - this feedback channel is to address updates needed for specific articles. I think you should ask your question in https://community.powerbi.com. It's a really helpful community. And, if you haven't already looked, there is some training available at https://docs.microsoft.com/learn/powerplatform/power-bi.

[2020-08-20 23:21] #2438 closed

[2020-08-20 23:31] kfollis commented on #2441
Thanks for flagging that, @bbpaulvanharen. I was able to repro your experience. I'm going to assign this article to the writer to make an update. If you want to try the step with an alternative URL, you can find similar data on this site: https://www.retirementliving.com/best-and-worst-states-for-retirement-2020 and I was able to load the data without error.

[2020-08-21 15:11] skiwii opened #2443 "Incorrect information"
The ONLY place a tag shows is when the dashboard is marked as a favourite.  It doesn't show when you are in the report which is the most important place.

To me this is a Power BI bug and not a documentation issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460b9768-213a-bd8b-5ad8-ed5071848a98
* Version Independent

[2020-08-21 16:32] peterdixon opened #2444 "Embedding Dashboard Instructions are way harder than Embedding Report instructions"
[Enter feedback here]
This section makes it too hard to figure out how to embed a dashboard, especially when comparing it to the ease of embedding a report.

Some lightweight code can be used to embed a report into another application. All you have to do is create an IFrame and copy and paste the embed link. This allows you to easily embed a power bi report into an ERP by changing one line of code

[2020-08-23 13:10] miragliag opened #2445 "Facebook Connector on August 2020 Power BI Desktop Version not available"
[Enter feedback here]
The Facebook Connector is not visibile in the Power BI Desktop August 2020 update. Any timeline by when it will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121b33bb-7721-3f2e-e863-ad5ef222b71f
* Version Independent ID: 023070b1-753a-f9c2-7924-a350d7480a22
* Content: [Tutorial: Ana

[2020-08-24 18:14] wilsoja1 opened #2446 "Missing functionality in change log"
Greetings, I see the following in the change log but no mention of the same exact funtionality, just using SAML instead of Kerberos.

"
Version 1.3.6801.38816 (Build 15.0.2.540), Released: August 15, 2018

    Features
        SAP HANA SSO Direct Query support with Kerberos now available for Power BI Reports  "

[2020-08-24 20:11] photolipps commented on #1669
Did anyone make any progress on this issue?  I'm having the exact same problems on Version: 2.84.802.0 64-bit (August 2020).  Thanks!

[2020-08-24 21:38] kfollis commented on #2436
Fantastic detective work, @MCarlisle3! But not exactly a straightforward path. I'll let the writer confirm your assumption and add the clarification to the article.

[2020-08-24 21:51] kfollis commented on #2297
Thanks for the patience, @javirivas80. I sent this question to our engineering team to get a definitive answer. The "copy visual image" event is NOT captured in the audit log. Although this feature is convenient, users can use snipping or screen capture tools to take snapshots of visuals too, so tracking would be incomplete. If a report has the sensitivity label applied, the user is prompted with

[2020-08-24 21:51] #2297 closed

[2020-08-24 22:39] kfollis commented on #2026
Thanks for the patience, @cbailiss. You could automate access to audit data by using the REST API or PowerShell. I've added a link to more detail on the Power BI REST API to the article. PowerShell is another option. Also see this article https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#requirements-to-search-the-audit-lo

[2020-08-24 22:39] #2026 closed

[2020-08-24 22:49] kfollis commented on #2446
Hi @wilsoja1 - is there a particular article that contains the issue? Typically this feedback includes an article link, but it's missing today, so I'm hoping you can help me find where you'd expect to find this information. We have content published here: https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-sso-overview related to SSO if that helps!

[2020-08-24 22:53] kfollis commented on #2445
Hi @miragliag - I see a note in the article that the connector isn't working properly, but you're right - I don't see it all in the August 2020 release. I'm adding the article author to see if there's an updated timeline to bring that back.

[2020-08-24 22:59] kfollis commented on #2443
Thanks for the feedback, @skiwii. I'm assigning this to the author to review the article. If you want to submit your suggestion to improve the experience, you can add it here: https://ideas.powerbi.com/ideas/

[2020-08-24 23:02] kfollis commented on #2444
Thanks for the feedback, @peterdixon. I'm assigning this issue to the author to see what we can address with a content update. If the functionality is missing, you could submit your suggestion for an improvement here: https://ideas.powerbi.com/ideas/

[2020-08-25 12:39] wilsoja1 commented on #2446
Thanks for the quick reply.  I'm guessing the functionality mentioned in my original post doesn't even exist for PBIRS, no articles, and nothing in the change log.

Could you forward to the internal PBIRS team to confirm?

*I would post in the PowerBI Server forum but Microsoft is only allowing organizational IDs / PowerBI Service cloud accounts to post - and we are 100% on premises only.

Thank y

[2020-08-25 18:39] kfollis commented on #2446
Thanks for the additional info! There is an article here: https://docs.microsoft.com/en-us/power-bi/report-server/data-sources that lists the data sources and support authentication methods for Power BI Report Server - that may contain a reference. I will certainly forward this on to our engineering team to get confirmation.

[2020-08-25 19:31] wilsoja1 commented on #2446
Thank you for forwarding on to engineering for confirmation.  It’ll be nice to know for sure that PBIRS does/does not support SAML against a HANA DB.

Below, the link you provided clearly shows that Windows AD SSO will work like a champ with PBIRS, just nothing about SAML.   And the kicker here, is that SAML auth against a HANA DB is supported if using the PBI Gateway, but as mentioned before we a

[2020-08-25 19:48] snmalk opened #2447 "Export Theme Not Available"
Hi, I am not able to export a theme based on the documentation (https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#export-report-themes).

The instructions mention to navigate to Options, and then in the Preview features section, select Customize current theme, and then select OK. However, "Customize current theme" is not listed as a preview feature.

I'm using PowerBI

[2020-08-25 22:33] ShaneOss opened #2448 "Audit Log / Viewed Power BI Reports & Dashboards only shows authenticated users"
The audit log activities for Viewed Power BI Reports and Viewed Power BI Dashboards, only shows authenticated users. How can details of non authenticated users who may have viewed reports/dashboards be reported on?

E.g. something like...
CreationDate | UserIds | Operations | AuditData
-- | -- | -- | --
2020-08-24T05:05:34.0000000Z | Unknown | ViewReport | {"Id":"594dda1c-9cf8-406c-ab8e-cd88fb5fcc

[2020-08-25 22:57] kfollis commented on #2446
HI @wilsoja1 - the engineering team has confirmed that SAML is not supported against a HANA DB. I'll go ahead and close this issue now.

[2020-08-25 22:57] #2446 closed

[2020-08-25 23:00] kfollis commented on #2448
Hi @ShaneOss - Thanks for the question! I'll have to do a little research on this to see if that's possible. I'll check with the engineering team and follow up with what I find out.

[2020-08-25 23:37] kfollis commented on #2447
Hi @snmalk - I'll assign the writer so that they can make an update to that article. I believe that you can now do this without having to turn on the preview feature. Go to View, then select the down arrow next to themes. You should be able to customize the current theme and then save it to json format.

[2020-08-26 14:01] Rickmaurinus opened #2449 "Conditional formatting is applicable to total rows"
[Enter feedback here]

The bottom of the page has the comment:
Conditional formatting applies only to the values of Table or Matrix visuals, and doesn't apply to any subtotals, grand totals, or the Total row.

However, nowadays conditional formatting is also applicable to Subtotal, grand totals or total rows. This should be changed in this article.

Thanks

---
#### Document Details

⚠ *Do not edi

[2020-08-26 16:22] snmalk commented on #2447
Thanks @kfollis! I overlooked the save option, but it worked as expected. I was able to save as .json and then loaded the theme into another file just fine. Thanks!

[2020-08-26 19:25] sjs210 opened #2450 "This page needs to state what permissions Role (Viewer, Contributor, Member, Admin) is REQUIRED to copy a report. I spent many hours trying to get a user who had Build permissions + Viewer role the ability to copy a report to a different workspace, and it doesn't work. Would have been nice to have known that from the documentation!!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47
* Content: [Copy reports from other apps or workspaces - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-copy-reports

[2020-08-26 21:00] kfollis commented on #2450
Thank you for the feedback, @sjs210 and for taking the time to make us aware of this. What a frustrating experience! I'm assigning this to the author of the article to consider adding those prerequisites to help future readers.

[2020-08-26 21:02] kfollis commented on #2449
Thanks, @Rickmaurinus! I'm assigning this to the author to get those changes made.

[2020-08-26 21:49] kfollis commented on #2419
Thanks for the letting us know, @gvashishtha . I've retargeted the link and am closing this issue.

[2020-08-26 21:49] #2419 closed

[2020-08-26 21:51] #2410 closed

[2020-08-26 21:54] kfollis commented on #2403
Link is fixed.

[2020-08-26 21:54] #2403 closed

[2020-08-26 21:58] kfollis commented on #2409
@cpopell - can you please review and validate this feedback?

[2020-08-27 05:29] azadehgnia opened #2451 "dataflow ownership"
[Enter feedback here]
Hi,

I believe below statement is a bit misleading:

"It's important to know that there is only one owner of any dataflow, which is the person who creates it. "
 as another user is able to take over the ownership (since last year).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dcf4e23-69b7-0a67-

[2020-08-27 11:27] cpopell commented on #2409
![image](https://user-images.githubusercontent.com/6355439/91436706-80c04000-e81d-11ea-8cda-ac4aceae4e1a.png)

Hi @lakeyeric22 -- is the Transform Data button not showing up for you?

[2020-08-27 12:46] lakeyeric22 commented on #2409
Yes, I can see the Transform button.  After rereading the document I think
I misunderstood what it was saying.  It does give me the option to choose
columns and such.  I thought it was implying that i could edit the actual
query that connects to Snowflake, as opposed to editing the Power BI query
script.  I was hoping for the Custom SQL option like we have on the SQL
server connection.  Thanks for

[2020-08-27 15:15] #2409 closed

[2020-08-27 17:41] cbailiss commented on #2026
Hi @kfollis

For reference (and for anyone else seeing this in the future) the approaches recommended here often **won't** work in practice.  In my organisation and others, Power BI Service Administrators do not have permissions to call the Office 365 APIs/PowerShell CmdLets.

What is needed is a way, as a Power BI Service Administrator, to **non-interactively** (i.e. as a Service Principal) call

[2020-08-27 17:45] cbailiss opened #2452 "Get-PowerBIActivityEvent does not work non-interactively"
It turns out from a recent support call that Get-PowerBIActivityEvent does not work when the caller is an Azure Service Principal - even if that service principal has been made the Power BI Service Administrator role, etc.

This should be documented on this page.  It would have saved me and MS support hours.

(It is also a rather silly limitation as a lot of audit data is captured and processed by

[2020-08-27 18:13] kfollis commented on #2452
Thanks, @cbailiss - that's very helpful background. I'll make sure that gets flagged in the next update.

[2020-08-27 23:07] kfollis commented on #2451
Hi @azadehgnia - Thanks for the feedback! I'm assigning to the author to make a clarifying update.

[2020-08-28 14:40] NickyvVr opened #2454 "Incorrect link to Organizational visuals"
The link with text "Learn more about deployment and management of organization Power BI visuals" has a linkid that is incorrectly configured (https://go.microsoft.com/fwlink/?linkid=866790).
It links to:
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#organization-visuals
While it should be:
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#organizational-vi

[2020-08-28 15:52] mariuspc opened #2455 "OAuth support via Gateway for Azure SQL DB / DW"
The documentation says that connecting to Azure SQL DB and Azure SQL Data Warehouse (this should be renamed to Synapse) via a gateway does not support OAuth "Supported with the same M function as the on-premises version, causing restricted Auth options (gateway doesn't support OAuth)." The July release of the Power BI Gateway (https://powerbi.microsoft.com/en-us/blog/on-premises-data-gateway-july-

[2020-08-30 06:49] paulinbar commented on #2454
Hi @NickyvVr, thanks for this observation. Indeed the docs have been reorganized and the value of this fw link apparently was overlooked. Forwarding to the to doc author for further action. Thanks!

[2020-08-30 06:56] paulinbar commented on #2455
Hi @mariuspc. Are you referring to note #2 on this page? https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources ? Assuming that's true, I'm forwarding your observation on to the author of that document. Thanks for the comment!

[2020-08-31 10:08] jfs-consulting opened #2458 "Power BI Analyze in Excel"
Does anyone have performance issues on Analyze in Excel? How can I improve the query performance.
Is it possible to have a button inside the dashboard to Analyze in Excel, instead of having to access it outside of the report itself.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30

[2020-08-31 21:45] haider392 opened #2459 "Documentation out of date"
This coc for personal gateway is out of date. The UIs have also changed. There is now a separate installer for the personal gateway. The information given in this documentation is not accurate or correct anymore. Please update and make necessary corrections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a68815-5124-

[2020-08-31 22:40] davidiseminger commented on #2458
Thanks for your post, @jfs-consulting. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2020-08-31 22:40] #2458 closed

[2020-08-31 22:41] davidiseminger commented on #2459
Thanks for your comment, @haider392 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-01 08:41] mariuspc commented on #2455
Hi @paulinbar  - yes, I am referring to note 2 on the page you referenced, stating that OAuth is not supported via the Gateway, when connecting to Azure SQL DB and Azure SQL DW. Best regards!

[2020-09-01 08:49] paulinbar commented on #2455
@davidiseminger

[2020-09-01 17:48] egrusecki opened #2461 "Hover Function"
Do only certain devices allow the hover feature? every device i use it on only open the link right away be that a report or a tile.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bd9453b-228c-1e2a-617b-bff8c512004d
* Version Independent ID: a9f27879-0427-c52d-b11d-8c80b94dfc78
* Content: [Get re

[2020-09-01 18:05] mihart commented on #2461
Thanks for your comment, @egrusecki . This issue has been assigned to the doc author for review.

[2020-09-01 18:34] skeeler opened #2462 "Update to include MSAL either in addition to or instead of ADAL"
Per this documentation: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration

"MSAL.NET is now the recommended auth library to use with the Microsoft identity platform. No new features will be implemented on ADAL.NET. The efforts are focused on improving MSAL."

Therefore, the Power BI documentation on acquiring a token should be updated to include information on usin

[2020-09-01 20:46] NickyvVr opened #2463 "Why are Power BI Visuals not on this page?"
I'm wondering why the Power BI Visuals part is no longer part of this page?
It's a little bit confusing when coming here, because that's the only part from the Admin Portal not on this page. I would expect at least a paragraph that names this feature and then links to the newly created page in the navigation pane (https://docs.microsoft.com/en-us/power-bi/admin/organizational-visuals).

I was upda

[2020-09-01 21:35] kfollis commented on #2463
Hi @NickyvVr - The (now broken) bookmark URL has been updated to this link: https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#organizational-visuals, which does then link to the new article. We will soon update the admin article to break out additional settings to their own article, and the visuals settings were first to move when the last update was made. I apologize for the co

[2020-09-01 21:38] kfollis commented on #2462
Thanks for the feedback, @skeeler - I'm assigning this to the author of the Power BI article to take a look at making that update.

[2020-09-02 01:18] ShaneOss commented on #2448
Thanks Kate. Also logged a premier ticket (120090223000126) for it.

[2020-09-02 10:34] KesemSharabi commented on #2370
Hi @jdanyow,

I just confirmed with one of our developers, the embed token is valid as long as the AAD token is valid. In other word, the expiry time of the embed token is inherited from the AAD token.

I hope this helps,

Kesem

[2020-09-02 10:38] KesemSharabi commented on #2370
Hi @jdanyow,

For more information, please see [Configurable token lifetimes in Microsoft identity platform (Preview)](https://docs.microsoft.com/azure/active-directory/develop/active-directory-configurable-token-lifetimes) and contact the Azure AD support team.

Thanks,

Kesem

[2020-09-02 10:38] #2370 closed

[2020-09-02 10:51] KesemSharabi commented on #2383
Hi @sethsanu,

Power BI Pro is a user license and Power BI Embedded is a Premium offer solution. Pro doesn't require a capacity, while Embedded [requires a capacity](https://docs.microsoft.com/power-bi/developer/embedded/embedded-capacity). Therefore comparing them doesn't make sense.

You can see a comparison between Power BI Pro and Power BI Premium if you scroll down our [pricing](https://power

[2020-09-02 10:51] #2383 closed

[2020-09-02 11:09] KesemSharabi commented on #2444
Hi @peterdixon,

I'm sorry to hear that you're experiencing problems with embedding a Power BI Dashboard.

However, this looks like a support request or product request rather than documentation feedback.

You can try submitting this idea to [Power BI Ideas](https://ideas.powerbi.com/), or contact our [support page](https://support.powerbi.com) if you need further help.

Thanks,

Kesem

[2020-09-02 11:09] #2444 closed

[2020-09-02 13:57] millh0use opened #2465 "Data Type Consideration"
[Enter feedback here]
Under "Considerations" it should be clarified that in order for the relative options to show up in the slicer, the data type must be configured as a date and not the default of text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19b40b2-9df7-adf8-3f9b-c6c7b188f3c1
* Version Independent ID: 70e04

[2020-09-02 16:12] mihart commented on #2465
Thanks for your comment, @millh0use . This issue has been assigned to the doc author for review.

[2020-09-02 20:31] #2463 closed

[2020-09-03 06:15] KesemSharabi commented on #2390
@ADefWebserver,

Thank you for spotting this!

I added a gap between 'Andrew' and 'Ma' - see [Adding roles with Power BI Desktop](https://docs.microsoft.com/power-bi/developer/embedded/embedded-row-level-security#adding-roles-with-power-bi-desktop).

Thanks again for your contribution,

Kesem

[2020-09-03 06:15] #2390 closed

[2020-09-03 06:23] KesemSharabi commented on #2424
Hi @preston-mathis,

Thanks for spotting this - you're right, `authorityUrl` for Military Contractors should end with `.us`.

Following your suggestion, I fixed this in the article - see the section [Download the sample](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers-national-clouds#download-the-sample).

Thanks again for your contribution,

Kesem

[2020-09-03 06:23] #2424 closed

[2020-09-03 06:31] KesemSharabi commented on #2454
Hi @NickyvVr

Thanks for spotting this!

Actually, the link should be taking you to [Manage Power BI visuals admin settings](https://docs.microsoft.com/power-bi/admin/organizational-visuals) - a new article for managing the Power BI visuals admin settings.

As you suggested, I fixed this link in the [Administer organizational Power BI visuals](https://docs.microsoft.com/power-bi/developer/visuals/

[2020-09-03 06:31] #2454 closed

[2020-09-03 07:44] KesemSharabi commented on #2404
Hi @dcp-unifin,

I'm sorry to hear that you're running into problems when you're trying to implement your solution. At this stage, we're not going to expand our documentation, as we feel that it covers the basic development needs. As I'm sure you'll understand, we can't cover every scenario and therefore the [examples](https://docs.microsoft.com/power-bi/developer/embedded/export-to#code-examples)

[2020-09-03 07:44] #2404 closed

[2020-09-03 07:51] #2416 closed

[2020-09-03 08:40] Cizzzzz opened #2466 "Query editor button is no longer up to date"
Query Editor has been changed to 'Transform Data'.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd6ac628-d5b4-e722-0532-d467c8347a5a
* Version Independent ID: 20ec07f6-627d-3765-ddcb-4aa738b6952a
* Content: [Query overview in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/transform-model/deskto

[2020-09-03 11:33] asocorro opened #2467 "What Fields are Displayed?"
[Enter feedback here]
Hi, when "Show data point as a table" is selected, how are the displayed fields chosen?  I get a subset of the fields but can't figure out why.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2726d555-7957-af87-d477-c385602cb47e
* Version Independent ID: 88f11624-0c37-a767-026d-3eb34633bce

[2020-09-03 16:24] Abhik93-hub opened #2469 "Personalize Visuals in Embed Scenarios"
[Personalize Visuals feature is available in a report embedded in an html page. However, under limitations, it is mentioned that this feature isn't available in embed scenarios. Kindly clarify which embed scenario doesn't support this feature]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 615021e0-5504-046d-d6ab-c2d8d

[2020-09-03 20:18] kfollis commented on #2448
Can you provide a little more info about your scenario and what info is missing? The support agent is looped into the conversation, but I want to be sure I'm asking the right question of engineering.

[2020-09-03 22:55] ShaneOss commented on #2448
Sure. We're looking for external/anonymous users who may have viewed Power BI reports/dashboards that were published to the web. In the current Audit Log reports we can only see authenticated users listed, not non-authenticated users.

Users who confirmed they viewed reports/dashboards via the web with no sign in required, do not appear in the logs.
Thanks! Let me know if you need any more informa

[2020-09-03 23:04] kfollis commented on #2448
Thank you!

[2020-09-04 05:51] phaniraj-t opened #2470 "Need C# code"
[Enter feedback here]

Can you please share the complete C# code to export powerbi report
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b2a51d-0025-3209-a1c1-db3362b909bb
* Version Independent ID: a952e5a8-acf6-31cc-43ff-77cef73b2a9e
* Content: [Export Power BI reports API - Power BI](https://docs.microsoft.com/en-us

[2020-09-04 13:48] ilyalehrman opened #2471 "Need to indicate that FB disabled access to PowerBI/Query app"
Facebook disabled the app, apparently, so any attempt to connect to data from Excel or PowerBI fails with the following error:

Log in to use your Facebook account with Microsoft Power BI.

Error Accessing App

We're sorry, but the application you're trying to use doesn't exist or has been disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-09-04 14:24] farhansoomro opened #2472 "Update Doc"
[Enter feedback here]
Update the doc since we are supporting Q & A for DQ

Direct Query support for Q&A (preview)
We are excited to announce that Q&A now supports SQL Direct Query sources including SQL Server 2019, Azure SQL database and Azure Synapse Analytics. You can now go ahead and use Q&A to ask natural language questions against these data sources. Prior to this update, Q&A was not availabl

[2020-09-04 19:07] maggiesMSFT commented on #2137
Hi, @michael-hawker -- you're right. Here are a couple of other articles that link to flat Excel files.
https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-getting-started
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-excel-stunning-report
Hope that helps!

[2020-09-04 19:07] #2137 closed

[2020-09-04 19:11] #1399 closed

[2020-09-04 22:31] danigle opened #2473 "Adobe Analytics Error within the Power BI Service"
I'm having issues connecting to Adobe Analytics within the Power BI Service:

I can get a connection working in the PBI Desktop, but not the PBI Service.

This dataflow has existed for several months, is scheduled to refresh daily, and continues to refresh with no errors. The report that relies on this dataflow is still working properly and pulling in current data (minus the metric I'm trying to f

[2020-09-05 01:04] maggiesMSFT commented on #2467
Hi, @asocorro -- how are you?! I'm assigning your question to the author to answer. In the meantime, I suggest asking on the Community site, https://community.powerbi.com/. Hope that helps!

[2020-09-05 02:05] maggiesMSFT commented on #2469
Hi, @Abhik93-hub -- I'll see what I can find out, and get back to you.

[2020-09-05 02:09] maggiesMSFT commented on #2470
Hi, @phaniraj-t -- thanks for your question! Assigning to the author to help out.

[2020-09-05 02:17] maggiesMSFT commented on #2471
Hi, @ilyalehrman -- good question! Assigning to the author to resolve. In the meantime, consider asking the Community, https://community.powerbi.com/

[2020-09-05 02:21] maggiesMSFT commented on #2472
Hi, @farhansoomro -- thanks for pointing that out! Will get it updated.

[2020-09-05 02:30] maggiesMSFT commented on #2473
Hi, @danigle -- I'm sorry to hear it! This sounds like an issue with the product, not the docs. You can try asking the Community for help, https://community.powerbi.com/.
If that doesn't do the trick, you'll need to contact support, https://powerbi.microsoft.com/en-us/support/
I hope that helps!

[2020-09-05 02:30] #2473 closed

[2020-09-06 17:10] phaniraj-t commented on #2470
Please let me know where can I  get the complete code. I would like to export report using console application.

[2020-09-07 17:32] CalumJEadie opened #2474 "Clarifying question - Does the doc describe a user flow or unattended operation?"
Does the doc describe a user flow or unattended operation?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543
* Content: [Get an authentication access token - Power BI](https://docs.microsoft.com/en-gb/power-bi/developer/aut

[2020-09-08 11:52] addaaddaadda commented on #1880
Hi, is there any update about this issue ?
Thanks.

[2020-09-08 13:44] DaxelCA opened #2476 "Need Update Since Home Ribbon Has Changed"
https://docs.microsoft.com/en-ca/power-bi/fundamentals/desktop-what-is-desktop#transform-and-clean-data-create-a-model

Buttons to access Power Query in Home ribbon is now: Transform Data

Regards
Julie

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e941f6c9-1676-dc84-ed1b-027a1c61cd23
* Version Independent ID: 373ee1b

[2020-09-08 17:45] mihart commented on #2476
Thanks for your comment, @DaxelCA . This issue has been assigned to the doc author for review.

[2020-09-08 17:46] mihart commented on #2474
Thanks for your comment, @CalumJEadie . This issue has been assigned to the doc author for review.

[2020-09-08 17:50] yetanothermark opened #2477 "Self-reference link in the Next Steps section"
The first bullet within the Next Steps section points to the same page that it belongs to (i.e. self-reference)

- Use a relative date slicer and filter in Power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19b40b2-9df7-adf8-3f9b-c6c7b188f3c1
* Version Independent ID: 70e043bb-c04e-2c5f-a121-3cf4368b0c49
* Conten

[2020-09-08 18:11] maggiesMSFT commented on #2477
@yetanothermark -- fixed, will be live this afternoon. Thanks!

[2020-09-08 18:11] #2477 closed

[2020-09-09 03:47] kasavin opened #2478 "Broken link in "Educate users" section."
There is a broken link to a prior section in the Educate users section:

"It is important to educate your users on how to efficiently work with reports based on DirectQuery datasets. Your report authors should be educated on the content described in the [Optimize report designs](#optimize-report-designs section)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-09-09 06:24] djpirra opened #2479 "Test Tool Deprecated"
Can the test tool be updated to leverage VS2019 and the new frameworks?
Some of the dependency libraries have been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b28829-a0e6-9377-35af-bd5661012ace
* Version Independent ID: 607b2bdf-58aa-c392-fe98-3a8264c9edca
* Content: [Capacity planning guidance for Pow

[2020-09-09 11:54] KesemSharabi commented on #2478
Thanks for your comment, @kasavin.

I've assigned this issue to the doc author for review.

[2020-09-09 11:57] KesemSharabi commented on #2479
Thanks for your comment, @djpirra.

I've assigned this issue to the doc author for review.

[2020-09-09 12:08] KesemSharabi commented on #2470
Hi @phaniraj-t,

In the [End-to-end example](https://docs.microsoft.com/power-bi/developer/embedded/export-to) section we have a code sample that covers the general use of this feature. We don't have a detailed example as the code would change depending on each customer's solution.

For your specific problem, and in order to find additional examples, I suggest that you look for a solution in the [

[2020-09-09 12:08] #2470 closed

[2020-09-09 12:52] DaxelCA opened #2480 "Update Text & Screenshots to Match New Desktop Menu Bar"
Power BI Desktop was revamp.
Please update text and screenshots on page
https://docs.microsoft.com/en-ca/power-bi/create-reports/desktop-sort-by-column#sort-using-the-sort-by-column-button

**Sort By Column** is now located under **Column Tools** ribbon.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163

[2020-09-09 14:26] peter-myers commented on #2478
Thanks for your feedback, @kasavin. I've made a correction, which should go live shortly.
#please-close

[2020-09-09 14:26] #2478 closed

[2020-09-09 15:32] romerohe opened #2481 "Connecting to Hana for SSAS from Visual Studio"
I'm following the steps to connect to a hana database installing Hana Client, but it dind't work when I try to connect using Visual Studio in order to create a tabular model.

Despite of that, I do can connect to Hana from Power BI... Is there any additional steps to make it work in Visual Studio?

Thanks in advance

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-09 16:14] maggiesMSFT commented on #2469
Hi, @Abhik93-hub -- here's the answer: we're exploring adding support for more embed scenarios, but for now, they're considered unsupported. Hope that helps!

[2020-09-09 16:14] #2469 closed

[2020-09-09 19:13] maggiesMSFT commented on #2472
@farhansoomro -- updated the article. Change will be live this afternoon. Thanks!

[2020-09-09 19:13] #2472 closed

[2020-09-09 19:41] djpirra opened #2483 "Missing information regarding Paginated Reports"
Regarding paginated reports, it would be great to understand where do Premium capacity stores the reports cache.

Additionally wanted to inform the page also refers an email address that does not seem to accepting emails.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0a5167-9181-bcb4-091c-9e603d2cf296
* V

[2020-09-09 23:15] maggiesMSFT commented on #2465
Thanks, @millh0use ! Adding this now. Will be live tomorrow afternoon, Sept 10.

[2020-09-09 23:15] #2465 closed

[2020-09-10 00:24] maggiesMSFT commented on #2483
Hi, @djpirra -- thanks for asking! Assigning to the author for consideration.

[2020-09-10 03:40] csijake commented on #995
I am struggling to find ours as well - we are on the MS-AZR-0003P offer and I don't see this value anywhere in the portal.

Please update the documentation for the top 5 most used subscription offers so that folks can find this!

[2020-09-10 10:04] phaniraj-t opened #2484 "How to create 'Client' object to instance of the Power BI .NET SDK ?"
How to create 'Client' object to instance of the Power BI .NET SDK IN PostExportRequest() method.
Description:
I have generated the toke using the ClientID and ClientSecret, Then need to call PostExportrequest() method,Here I need to create an object to PowerBI .NET SDK.

Please advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-09-10 12:45] chrisdolby-HE opened #2485 "Tutorial no longer works"
This "Get started using Power BI Desktop" tutorial no longer works. I did report it in the community but no-one's done anything on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-8234-dd4d-698e589b6fc7
* Version Independent ID: bc0deeb1-04c7-abc3-b26c-10ea6d75c57f
* Content: [Get started with Power B

[2020-09-10 20:40] DaxelCA opened #2486 "Update Text and Screenshots"
https://docs.microsoft.com/en-ca/power-bi/create-reports/power-bi-report-add-filter#add-a-filter-to-an-entire-page
https://docs.microsoft.com/en-ca/power-bi/create-reports/power-bi-report-add-filter#add-a-filter-to-a-visual

Both sections should be updated as **Filters** are now managed in Filters pane.

Regards,
Julie

---
#### Document details

⚠ *Do not edit this section. It is required for doc

[2020-09-10 21:24] adamson-andy opened #2487 "Quickbooks does not exist on Power BI online"
According to this document, I should be able to add the Quickbooks app to Power BI online. When I follow these steps, Quickbooks is not included as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Version Independent ID: 678b36be-0224-af5b-28d9-f457856611e7
* Content: [Co

[2020-09-11 03:57] woodyj13 commented on #2230
@elcu Did you ever find a solution for this? I'm having the same problem.

[2020-09-11 09:12] elcu commented on #2230
Hi @woodyj13, nope no solution so far :/

pi 11. 9. 2020 o 5:57 woodyj13 <notifications@github.com> napísal(a):

[2020-09-11 09:13] elcu commented on #2230
@maggiesMSFT Hello Maggie, any update on this please? Thank you

[2020-09-11 12:08] Sdean1234 opened #2488 ""To specify a data category" is wrong"
The documentation says to look for Data Category on the Modeling tab. It is no longer there. It is now listed under Column Tools.

![image](https://user-images.githubusercontent.com/49075704/92923821-a9d7f780-f3fd-11ea-888d-c3f4133e9cc3.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5bf15cc

[2020-09-11 17:34] wilsoja1 commented on #2446
Kate, thanks again for confirming with the MS engineering team that the scenario of  PBI Server -> SAML SSO -> HANA DB is not possible at this point in time.   Is there any way you could ask if “SAML SSO against HANA” functionality is on the development horizon for PBI server ?  This will help us immensely with what direction we need to take internally as stewards of our enterprise.

PowerBI is qu

[2020-09-11 21:14] maggiesMSFT commented on #2485
Hi, @chrisdolby-HE -- thanks for your comment! Assigned to the author. It might help if you could be more specific: which part doesn't work? If you spelled that out in the community, you could just add a link to it. Thanks!

[2020-09-11 21:16] maggiesMSFT commented on #2486
Hi, @DaxelCA -- good points, thanks! I'll add it to my list.

[2020-09-11 21:17] maggiesMSFT commented on #2487
Hi, @adamson-andy -- thanks for your comment! Assigning to the author to investigate.

[2020-09-11 21:19] maggiesMSFT commented on #2488
Hi, @Sdean1234 -- thanks for pointing that out! Assigning to the author.

[2020-09-11 21:21] maggiesMSFT commented on #2481
Hi, @romerohe -- interesting question! Assigning to the author to investigate.
In the meantime, I recommend asking the Power BI community, https://community.powerbi.com/.
Hope that helps!

[2020-09-11 21:22] maggiesMSFT commented on #2480
Hi, @DaxelCA -- thanks for pointing that out! Assigning to the author.

[2020-09-11 21:25] maggiesMSFT commented on #2484
Hi, @phaniraj-t -- assigning to the author to respond.
In the meantime, I recommend asking the Power BI community, https://community.powerbi.com/.
Hope that helps!

[2020-09-12 02:05] maggiesMSFT commented on #1896
Hi, @YvonneArnoldus -- thanks for your question. Have you looked at the Azure Active Directory docs? Specifically this article:
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions
Let me know if you have further questions.
Thanks!

[2020-09-12 16:18] rikesh-neelakantan-jdas commented on #2230
Hi, is there a solution to revert all visuals to default?

[2020-09-13 17:26] heyconor opened #2489 "Reference to colorutils instead of tooltiputils"
Under the installation instructions, you accidentally reference **powerbi-visuals-utils-colorutils** instead of **powerbi-visuals-utils-tooltiputils**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0071ce04-4edd-4bc7-eed0-628e81d018b7
* Version Independent ID: dff92842-406b-e368-b37f-e9ca2ce50ca1
* Content: [Introduct

[2020-09-13 19:32] terrysoltz opened #2490 ""String does not match""
There is a problem connecting to the data source at Bankrate. Apparently, the web table inference process does not work with this source and must be disabled. It is enabled by default with my new installation. Once it is disabled, it seems to load correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf2015c-41fe-

[2020-09-14 01:09] woodyj13 commented on #2230
@rikesh-neelakantan-jdas not that I know of. Would really be helpful though.

[2020-09-14 07:38] YvonneArnoldus commented on #1896
Hi @maggiesMSFT,

I read those but nothing about Power BI. But i think I found the solution it seems only office groups can be used in Power BI and not normal Azure groups. But that was not clear to me.

[2020-09-14 10:48] BobRed0965 opened #2491 "How to add members"
You show how to add members to a role "select ellipsis" but you don't show how to get to that screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power BI - Power BI](https://

[2020-09-14 12:10] JaanaKonttinen opened #2492 "Web source doesn´t work (missing strings)"
[Enter feedback here]
https://www.bankrate.com/retirement/best-and-worst-states-for-retirement/ doesn´t work, same link is used other samples also.
![image](https://user-images.githubusercontent.com/71265898/93083874-eb85ce00-f69b-11ea-9125-915d82f7fca9.png)

Feedback Type:
Frown (Error)

Error Message:
The string did not match the expected pattern.

Stack Trace:
   at AngleSharp.Extensions.QueryE

[2020-09-14 22:48] davidiseminger commented on #2489
Thanks for your comment, @heyconor. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-14 22:49] davidiseminger commented on #2490
Thanks for your comment, @terrysoltz. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-14 22:50] davidiseminger commented on #2491
Thanks for your comment, @BobRed0965. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-14 22:51] davidiseminger commented on #2492
Thanks for your comment, @JaanaKonttinen. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-14 23:32] kfollis commented on #2446
Hi @wilsoja1 - you can reference this blog https://powerbi.microsoft.com/en-us/blog/licensing-and-roadmap-update-for-power-bi-report-server/ for more info about the on-premises roadmap. You can also go to http://ideas.powerbi.com to submit a suggestion to be voted on by other users.

[2020-09-14 23:35] rcoder81 opened #2493 "Row Level Security rather than Role Level"
Hi!

The PowerBI whitepaper on Security (https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-security) refers to "**Role** Level Security", rather than **Row** Level Security.

While this is not on its own incorrect, it is inconsistent with the rest of the PowerBI literature and may cause confusion amongst readers.  Please consider updating the term RLS in the whitepaper to Row L

[2020-09-15 05:15] md-rahim opened #2494 "Power BI Desktop Auto Refresh"
Hello,

I am using Power BI desktop license version. I am looking for auto refresh option in File menu, settings and option, settings , preview features..... but the option is not there. Also tried at page , format menu from visualization but there also only Filter cards is last option. So, where is my refresh option. my version is latest August 2020. please help me.

---
#### Document Details

⚠

[2020-09-15 09:47] md-rahim opened #2495 "Power BI Desktop Auto refresh option"
Hello,
I didn't find my Power BI desktop auto refresh option. How to get it

![image](https://user-images.githubusercontent.com/33857297/93195174-bdbb8a80-f76a-11ea-855b-60c88c43ec4b.png)

[2020-09-15 09:49] md-rahim commented on #2495
![image](https://user-images.githubusercontent.com/33857297/93195334-f3607380-f76a-11ea-9667-8d51fd1d1bae.png)

there also not

[2020-09-15 10:35] chrisdolby-HE commented on #2485
Hi @maggiesMSFT - I mentioned it on the community at the following link: https://community.powerbi.com/t5/Issues/Problem-loading-data-in-Get-Started-with-Power-BI-Tutorial/idc-p/1251857#M59369

[2020-09-15 12:54] Oddjobe commented on #1880
I have a customer with the same ask. Any updates on this ?
Thanks

[2020-09-15 12:58] Oddjobe opened #2496 "Using Analyze in Excel exposes all detail-level data to any users with permission to the dataset."
1. Can we cleary clarify that RLS isn't supported for the "analyze in Excel" feature
2. If RLS is supported for "analyze in Excel" feature, then specify in what scenarios for example, when published trough an app and the end-user has build permission.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc

[2020-09-15 17:06] Rakeshsinghr commented on #1198
were you able to add Appid to Gateway datasource users using the API? I get 400 response code.

[2020-09-15 18:29] LukaszPawlowski-MS commented on #1880
RLS doesn't apply to a user if they have edit permission on the dataset. If a user is an Admin, Member, or Contributor to a workspace a dataset is in, they have edit permission on the dataset.

If the user who ONLY has Viewer role with Build permission added uses Analyze in Excel, RLS should be fully in effect like it is for Power BI desktop.

Can you share the exactly permissions on the dataset a

[2020-09-15 19:29] addaaddaadda commented on #1880
Tkx Lukasz for your comment.

The access is provided to the application for the users :
![image](https://user-images.githubusercontent.com/70952785/93255109-b8296900-f799-11ea-9f14-c623658724ae.png)

And they are assigned to a specific role with filter on attribute :
![image](https://user-images.githubusercontent.com/70952785/93255278-fd4d9b00-f799-11ea-90c0-8f681cf53656.png)

In the manage permis

[2020-09-15 19:59] paulinbar commented on #2487
Hi @adamson-andy. Indeed the Quickbooks Online template app is no longer available. I have removed the related documentation that you mentioned. Thanks for bringing this to my attention!

[2020-09-15 19:59] #2487 closed

[2020-09-15 21:13] romerohe commented on #2481
Hi Maggie, finally I could solve this issue... it costs me a whole morning
but it's worth it.

The origin of the issue is that I had installed the 64 bit version of Hana
Client, which matched perfectly with my Power BI 64 bits, but the ODBC
driver could work well with Visual Studio 32 bit.

The solution? I looked for Hana Client 32 bit and I have installed it as
well. It worked like a charm...

Ma

[2020-09-15 23:16] mikem-MS opened #2497 "Incorrect shortcuts"
The keyboard shortcut for a new line in the DAX formula bar is Shift+Enter not Ctrl+Enter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8df72ff6-206a-243a-a84a-0f6ac418a9b2
* Version Independent ID: e6d1ac0d-3785-cb59-da9c-7dcac2876d2d
* Content: [Keyboard shortcuts in Power BI Desktop - Power BI](https://docs.microso

[2020-09-16 01:41] VitalyMCT opened #2498 "References to "on-premises""
I think the language currently used seems to imply SQL Server Analysis Services is used to host the models. However, my understanding is that the behaviour would be identical for Azure Analysis Services. If so, the "on-premises" references should be removed.

[2020-09-16 02:40] VitalyMCT opened #2499 "Reports using a dataset from another workspace"
The following info appears to be out of date with the current behaviour of the new workspace experience:

Likewise for the corresponding screenshot.

[2020-09-16 10:48] Ghuiles opened #2500 "Confusion / Missing the explanation on the data type used for the measures"
Hi guys

This page explains well the data type used in for the fields in PBI, but not clearly the data types used for the measures.
A measure generates calculations and results. So, what we see in the tab "Measure Tool" > Format, like "General" (what is this?)  etc, is it pure cosmetic, or does it affect the calculations done by the measure?

BR, G.

---
#### Document Details

⚠ *Do not edit this

[2020-09-16 13:01] BreakingBI opened #2501 "Significant Confusion Caused by Limited Documentation, Error Messages and Multiple APIs for a single task"
I'm working with a Data Collector in the process of building more comprehensive analytics capabilities into their application.  A key part of this is the embedding and automation of Power BI reports through use of the .NET SDK.  They were recently blocked for a few weeks by a scenario where they could not leverage an Azure App Registration Identity to add existing workspaces to capacities.  Our RE

[2020-09-16 18:51] mihart commented on #2495
Thanks for your comment, @md-rahim . This issue has been assigned to the doc author for review.

[2020-09-16 18:54] mihart commented on #2496
Thanks for your comment, @Oddj0b . This issue has been assigned to the doc author for review.

[2020-09-16 18:56] mihart commented on #2497
Thanks for your comment, @mikem-MS . This issue has been assigned to the doc author for review.

[2020-09-16 18:57] mihart commented on #2498
Hi @kfollis - assigned to you since this is a very broad suggestion.  Can you triage?  Thanks.

[2020-09-16 18:59] mihart commented on #2498
Hi @VitalyMCT,
Thank you for your feedback.  Does your comment refer to a specific document?  If so, please provide the URL.
Take care,
The DOCS team

[2020-09-16 19:03] mihart commented on #2500
Thanks for your comment, @Ghuiles . This issue has been assigned to the doc author for review.

[2020-09-16 19:04] mihart commented on #2501
Thanks for your comment, @BreakingBI . This issue has been assigned to the doc author for review.

[2020-09-16 19:06] VitalyMCT commented on #2499
@mihart , this is for https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-discover-across-workspaces

Sorry, I must've mistakenly removed the source URL from the issue template.

[2020-09-16 19:08] VitalyMCT commented on #2498
Sorry, I've mistakenly removed the source URL from the issue template.

It's https://docs.microsoft.com/en-us/power-bi/admin/service-admin-rls

[2020-09-17 10:43] niklaskarl opened #2502 "Outdated documentation on scope identity property selectors"
The documentation at https://docs.microsoft.com/en-us/power-bi/developer/visuals/objects-properties#scope-identity seems to be outdated. The section about **Scope identity** refers to _DataViewScopeIdentity_ which is obsolete as of Version 2.1.0 (see: [Changelog](https://docs.microsoft.com/en-us/power-bi/developer/visuals/changelog#api-v210)). It says there that the interface was replaced with _da

[2020-09-17 13:45] mihart commented on #2235
Hi @CeciAc ,
I've updated the article and it should go live today or tomorrow.  Thank you for your help with the documentation.

[2020-09-17 13:45] #2235 closed

[2020-09-17 13:49] mihart commented on #2499
Thanks for your comment, @VitalyMCT . This issue has been assigned to the doc author for review.

[2020-09-17 15:44] mathiasekz opened #2503 "Question about PBI B2B Tenant settings vs Documentation"
The PBI tenant setting  Allow Azure Active Directory guest users to access Power BI which is described in the following article is not longer available in the tenant settings UI.

https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#export-and-sharing-settings

 Same comment for the setting Invite external users to your organization (documented but not visible in the tenant).

 Now

[2020-09-17 15:53] kfollis commented on #2503
Thanks for your comment, @mathiasekz. I agree that there is a need for a documentation update here. I'll assign a writer to take a look and make sure we're consistent across articles.

[2020-09-17 16:10] juluczni commented on #2127
Hi Pawar- you can take a look at which specific algorithms are used here: https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/customers/power-bi

[2020-09-17 18:37] rjc825 commented on #2490
How can I disable to proceed with the material? Please advise.

[2020-09-17 20:41] kfollis commented on #2502
Thanks for the feedback, @niklaskarl. I'm assigning this to the author to review and comment and make updates as appropriate.

[2020-09-17 21:26] markvsql opened #2504 "Some limitations of public preview of Featured Tables can be removed"
The updated limitations should be as follows:

Here are limitations for the initial preview.
•	Featured tables in Power BI datasets that use the following capabilities aren't shown in Excel:
o	DirectQuery datasets.
o	Datasets with a live connection.
•	Excel shows only data in columns and calculated columns in the featured table. The following aren't provided in the initial preview:
o	Measures defi

[2020-09-17 22:19] maggiesMSFT commented on #2504
Hi, @markvsql -- Thanks for the update! I'll ping you offline about how you can make updates yourself!

[2020-09-17 22:25] maggiesMSFT commented on #2504
@markvsql -- updating now.

[2020-09-17 22:25] #2504 closed

[2020-09-17 22:52] kfollis commented on #2498
Thanks, @VitalyMCT! We are working on an update to the RLS docs and will certainly evaluate that language. I get what you're saying about the host, so definitely will review for accuracy. I appreciate the input!

[2020-09-17 23:01] kfollis commented on #2491
Thanks for pointing that out @BobRed0965! I'm working on fixing that now and you should see an update in the next day or so.

[2020-09-18 00:03] kfollis commented on #2491
The update is now pending and will be live on 9/18.

[2020-09-18 00:03] #2491 closed

[2020-09-18 00:04] kfollis commented on #2329
Closing this issue. The URL list to add to allow lists is in tech review and will publish as a part of the US Gov document.

[2020-09-18 00:04] #2329 closed

[2020-09-18 00:06] kfollis commented on #2268
Not enough info to address. Please submit new feedback and be sure to include the URL for the article you're referencing if this is still a problem. Thanks for taking the time to submit feedback.

[2020-09-18 00:06] #2268 closed

[2020-09-18 00:08] kfollis commented on #2181
Role members are now added in the Power BI service by configuring security for the dataset. This is shown in the article.

[2020-09-18 00:08] #2181 closed

[2020-09-18 00:10] kfollis commented on #1787
Closing this issue. The mention of distribution groups has been removed. Only security principals can be used to apply permissions.

[2020-09-18 00:10] #1787 closed

[2020-09-18 00:53] markvsql commented on #2504
Awesome. Thanks so much!

Mark Vaillancourt
(he/him)
Senior Program Manager
Power BI Customer Advisory Team

[cid:image001.jpg@01D68D2C.303E6040]

From: Maggie Sparkman <notifications@github.com>
Sent: Thursday, September 17, 2020 5:26 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Mark Vaillancourt <mavail@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-09-18 01:05] LukaszPawlowski-MS commented on #1880
Look like they're configured correctly for RLS. The issue is this XML parser issue. Please open a support ticket so someone can investigate the root cause of the issue. It's not something we can diagnose in comments on the documentation.

[2020-09-18 10:07] vish02chouhan commented on #1936
Hi - It has started blocking to me. Whats the work around?

[2020-09-18 11:36] Oddj0b commented on #2496
You got a job where you wanted a Jobe. It happens @Oddjobe

[2020-09-18 16:18] chloestrasser opened #2506 "help? colors"
I am using the electronic version of power bi. I don't see diverging colors in the data color option or able to click the three circles in the conditional formatting section mentioned on the page: https://docs.microsoft.com/en-us/power-bi/visuals/service-tips-and-tricks-for-color-formatting

I would appreciate any help.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-21 00:46] Karthik301 opened #2507 "How to export the data from the tab"
[Enter feedback here]

In MS Teams tab, when i export the data from POWER BI dashboard, i get the export completed message and nothing else.
Not sure where the data got downloaded and saved. please help me explain.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0631fa24-d631-c11b-4984-7b518523cc6a
* Version Independent

[2020-09-21 14:28] sukajalan2 opened #2508 "Power BI Report Builder - extra blank rows in csv export"
When exporting to csv file, two blank rows are included at the end of the csv file. Opening the csv file in excel does not show these 2 blank rows. Using power shell to count the rows also does not reveal these 2 extra rows. It shows only when the csv file is opened using notepad.

It looks like the same issue with this bug?
https://feedback.azure.com/forums/908035-sql-server/suggestions/32910175-

[2020-09-21 20:41] jrussi1301 commented on #2294
Does it means that now Power BI Desktop RS will finally open .PBIX files with many-to-many relationships models?

[2020-09-21 21:46] maggiesMSFT commented on #2294
Hi, @jrussi1301 -- no, many-to-many relationships aren't supported in either Power BI Desktop optimized for Power BI Report Server, or on Power BI Report Server itself. Thanks!

[2020-09-21 22:16] jrussi1301 commented on #2294
Well, it's working here (in a bunch of reports), Power BI Server january/2020. In fact, even before january/2020 it was working. I've created the .PBIX on a normal PB Desktop and  have it uploaded on the server, directly on the web portal. It's running. Probably it's just a preview feature, but it is doing flawless. Power BI Desktop RS should allow it too, even with a preview alert.

[2020-09-21 23:01] davidiseminger commented on #2506
Thanks for your comment, @chloestrasser. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-21 23:03] davidiseminger commented on #2507
Thanks for your comment, @Karthik301. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-21 23:04] davidiseminger commented on #2508
Thanks for your comment @sukajalan2 - could you let us know which Power BI article you're referencing, so we can find the appropriate writer to help with your question? Thanks.

[2020-09-21 23:06] davidiseminger commented on #2494
Thanks for your comment. Are you using a DirectQuery data source? As the article says, auto refresh is only available for DirectQuery sources.

[2020-09-21 23:07] davidiseminger commented on #2493
Thanks for your comment - we will look at making those updates during our next review.

[2020-09-21 23:07] #2493 closed

[2020-09-21 23:29] sukajalan2 commented on #2508
@davidiseminger I found this link. It looks like it

https://feedback.azure.com/forums/908035-sql-server/suggestions/32910175-bug-557655-ssrs2008-extra-blank-line-in-csv-file

![image](https://user-images.githubusercontent.com/30907390/93831443-6a4caf00-fc38-11ea-9b96-51dd0f648b30.png)

[2020-09-22 01:19] maggiesMSFT commented on #2507
Hi, @Karthik301 -- great question! I just tried it. You're right, you don't see where it went. It was saved, though -- check your Downloads folder. It's an Excel file called "data (n).xlsx" where *n* is the number of times you've exported data to the same folder. I'm up to data (19).xlsx myself.
I'll add this to the article.

[2020-09-22 01:19] #2507 closed

[2020-09-22 01:41] Karthik301 commented on #2507
Thanks @maggiesMSFT for your explanation, I am able to find the files in the download folder. May be I missed to check these files because of the modification date for these downloaded files shows in the past.
![WrongTime Stamp](https://user-images.githubusercontent.com/71615435/93837138-69635e00-fcc8-11ea-9a15-3dcaeb240edd.JPG)

[2020-09-22 03:20] sarasanalytics opened #2509 "BigQuery Service Refresh Permissions Issue"
Starting from Saturday, we started to get this error when we refresh the dataset using Power BI REST API. We did not change the permissions or anything in last 3 months. Is there a release that happened? We have bigquery.dataOwner and bigquery.jobuser permissions for the project. I don't know why this is giving a Google BigQuery Storage API error?

Data source errorERROR [HY000] [Microsoft][BigQue

[2020-09-23 04:57] markmassad commented on #1037
BrianPie, with that Beta connection, it asks for Account Key.  What did you use for that?

[2020-09-23 10:46] thierryhouy opened #2510 "Obsolte or missing screenshot"
[Enter feedback here]
Hello,

The screenshot on Using RLS with workspaces in Power BI only takes into account classic deprecated Workspaces (v1) and not the new experience (v2) the default today which confuses the users.

Thank you,
Thierry Houy-Boucheny

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d

[2020-09-23 11:45] KesemSharabi commented on #2484
Thanks for your comment, @phaniraj-t.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-09-23 11:45] #2484 closed

[2020-09-23 11:51] KesemSharabi commented on #2489
@uve - can you please confirm that what @heyconor is saying is true?

[2020-09-23 12:03] KesemSharabi commented on #2502
@uve - can you please respond to @niklaskarl's comments?

[2020-09-23 12:17] KesemSharabi commented on #2510
Thanks for your comment, @thierryhouy.

I've assigned this issue to the doc author for review.

[2020-09-23 12:42] BrianPie commented on #1037
It has been a year since I closed that issue.  I don’t remember what I used to connect.

Brian Pierschbacher   |   Database Engineer
[cid:image005.png@01D6917D.180EA200]    601 6th Avenue                             [cid:image006.png@01D6917D.180EA200]        brian.pierschbacher@americanenterprise.com
        Des Moines, Iowa 50309            [cid:image007.png@01D6917D.180EA200]       office phone

[2020-09-23 18:04] afernandez-yseop opened #2511 "Different output yielded by `pbiviz start`"
Hello, I'm having a different output when running `pbiviz start` than the one in the bullet 5 the section [Creating a custom visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/custom-visual-develop-tutorial#creating-a-custom-visual) :
![2020-09-23_12-48-32](https://user-images.githubusercontent.com/38729160/94050877-76ea1800-fd9c-11ea-9623-3373e60dbf69.gif)

It never says `Server

[2020-09-23 18:19] afernandez-yseop commented on #2511
I just created [a new post in the community regarding this](https://community.powerbi.com/t5/Developer/pbiviz-start-stuck-at-quot-compiled-successfully-quot/m-p/1391016)

[2020-09-23 20:34] shakanand opened #2512 "Export to PDF"
The current documentation does not clearly call out that export to PDF only export only the visible elements from the page. For example, if table has 500 rows, the exported PDF will only have what's was visible on the screen.   Please make this part clear in our documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-09-23 21:40] kfollis commented on #2448
Tracking with support and see that the ticket is now resolved as "by design" with the requested capability added to backlogs. Closing the issue. Thanks!

[2020-09-23 21:40] #2448 closed

[2020-09-24 13:17] paulinbar commented on #2512
Hi @shakanand. Thanks for your feedback! I am forwarding it along to the doc author for consideration.

[2020-09-24 13:19] paulinbar commented on #2511
Hi @afernandez-yseop. Thanks for your feedback and accompanying material. I am forwarding it all on to the doc author who might be able to channel you to the right person.

[2020-09-24 13:41] dotnick365 opened #2513 "Web Service"
Can we please ensure that the FQDN and IP information is published and maintained through the Microsoft 365 Web Service? This is the best approach as it allows a automated, programmatic, and centralized way to obtain all necessary FQDN and IP information. Great to maintain it here as well.

https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-ip-web-service?view=o365-worldwide

[2020-09-24 21:06] kfollis commented on #2513
Thanks for the feedback, @dotnick365! Yes, our goal is to make the FQDN and IP info available through the web service - and we agree that's the best approach. I'll share your feedback with the engineering team.

[2020-09-24 21:06] #2513 closed

[2020-09-24 21:35] aditya-s-prabhu opened #2515 "Update required for the authentication example. ADAL authentication to MSAL"
Update required for the authentication example. ADAL authentication to MSAL
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543
* Content: [Get an authentication access token - Power BI](https://docs.microsoft.com/en-us/power-

[2020-09-25 01:06] douglasg14b opened #2516 "pbiviz commands & certificate instructions do not work as expected"
Three issues:

1. `pbiviz` cannot be ran from powershell due to `pbiviz.ps1` not being digitally signed.
    * `File C:\Users\Douglas\AppData\Roaming\npm\pbiviz.ps1 cannot be loaded. The file C:\Users\Douglas\AppData\Roaming\npm\pbiviz.ps1 is not digitally signed. You cannot run this script on the
current system.`
2. When `pbiviz --install-cert` is ran from CMD it does not open the `Certificate Im

[2020-09-25 01:12] douglasg14b commented on #1758
Was there a resolution to this? I'm on a fresh system (literally, today). Installed NPM, installed the power bi tools via `npm i -g powerbi-visuals-tools`, and cannot run any `pbiviz` commands to the the same error OP saw:

current system.

[2020-09-25 03:31] uron83 opened #2517 "Review EmbededService.cs AuthorityUrl value."
When authenticating with ServicePrincipal [EmbededService.cs](https://docs.microsoft.com/en-us/power-bi/developer/embedded/get-azuread-access-token#embedservicecs)
The AuthorityUrl must be https://login.microsoftonline.com/*TenantId* where TenantId id is the AppId tenant.
Otherwise, PowerBI will return Unauthorized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-09-25 07:33] FoxyChmoxy opened #2518 "Not closed link after 'Complete code listing'"
Maybe you forgot to close the link, because all the text, including the code, turned into a link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a33bbd1b-d18e-600f-5ab1-36b8d9ed335f
* Version Independent ID: 11afb4f2-cd83-4a6e-ce66-3ceaa82407cd
* Content: [Add rows to a table - Power BI](https://docs.microsoft.com/en-u

[2020-09-25 18:26] maggiesMSFT commented on #2515
Hi, @aditya-s-prabhu -- thanks for your comment! Assigning to the author to take care of.

[2020-09-25 18:28] maggiesMSFT commented on #2516
Hi, @douglasg14b -- thanks for your comment! Assigning to the author to investigate.

[2020-09-25 18:30] maggiesMSFT commented on #2517
Hi, @uron83 -- thanks for your comment! Assigning to the author to investigate.

[2020-09-25 18:41] maggiesMSFT commented on #2518
Thanks for pointing that out! Fixed it.

[2020-09-25 18:41] #2518 closed

[2020-09-28 15:40] dpcollins-bi opened #2519 "Sharing Report Grants Analyze in Excel Permissions"
This page states: "Users can connect to datasets through Analyze in Excel if they have permission for the underlying dataset. A user could have this permission in several ways, such as having the Member role in the workspace containing the dataset, **having a report or dashboard shared to them that uses the dataset**, or having Build permission for the dataset"

I do not believe merely sharing a r

[2020-09-28 23:28] davidiseminger commented on #2519
Thanks for your comment, @dpcollins-bi. We’ve assigned your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-09-29 06:38] #2206 closed

[2020-09-29 08:14] GaryStrange opened #2521 "It's not possible to connect to Azure Data Lake Storage diagnostic logs."
Azure Data Lake Storage Gen2 can be configured to capture diagnostic logs. The logs are written to the system controlled $logs container.

The PBI - Azure Data Lake Storage Gen2 connector (in preview) uses a URL end-point to connect to ADLS Gen2. To read the $logs container the URL would need to be:  https://myresourcename.blob.core.windows.net/$logs

However, the connector considers the URL to be

[2020-09-29 13:49] JasaBB opened #2522 "to export the data from a visual, Build permission is no more needed"
Hi all,
Please review this statement in Limitations and considerations section:
"To export the data from a visual, you need to have Build permission for the underlying dataset."

It is enough to have App permissions (without Build) to be able to export data from a visual.
br, Jasa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-09-29 15:02] markvsql opened #2523 "Q&A Tooling note"
Since the Note regarding Q&A Tooling only currently support Import connections applies to all Tooling, not just the Teach Q&A feature, should the note move from the Teach Q&A Limitations section to the Tooling Limitations section? I chose to leave this feedback rather than change it myself in case there was something I was missing.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-29 19:26] maggiesMSFT commented on #2523
Hi, @markvsql -- thanks for asking. Checking with the PMs.

[2020-09-30 04:04] mihart commented on #2521
Thanks for your comment, @GaryStrange . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2020-09-30 04:05] mihart commented on #2522
Thanks for your comment, @JasaBB. This issue has been assigned to the doc author for review.

[2020-09-30 04:06] #2521 closed

[2020-09-30 06:28] #2441 closed

[2020-10-01 09:29] mimanu opened #2525 "Error when setting up - Use Web Application Proxy and Active Directory Federated Services - Power BI Report Server"
I'm trying to setup a adfs login later with MFA on my Powerbi report server which will be access internally

I've seen this article and follow the steps: https://docs.microsoft.com/en-us/power-bi/report-server/connect-adfs-wap-report-server

I've finished the guide and tried to access the site. but got an error. tried the some online resolutions based from error code but it didnt solve the issue

[2020-10-01 12:54] OraDotNetDev commented on #2147
I don't think Step 4 is required.

The DbProviderFactories entry is added to the Machine Config by the first call to OraProvCfg.exe [step 3.] Tested against ODAC 19.3 xcopy install.

[2020-10-01 19:23] KevinDEX opened #2526 "Please add that 1-to-1 relations cannot be imported for Direct Query"
While setting up some reports for my companies data management team, we attempted to import several tables that used a Primary Key on one table, with a foreign key in another table pointing to that PK as well as a unique constraint on the column.  These relationships should be sufficient for Power BI to recognize the relationship between the tables as 1-to-1.  And in fact it will if you set the op

[2020-10-01 21:00] kfollis commented on #2525
Hi @mimanu - I'm sorry you're having trouble with the configuration. This channel is for documentation feedback, however, you can contact Support to start a ticket here: https://powerbi.microsoft.com/en-us/support/. Or, you might try posting your question to the community to get help from your peers here: //community.powerbi.com/

[2020-10-01 21:00] #2525 closed

[2020-10-01 21:03] kfollis commented on #2526
Thanks for the feedback, @KevinDEX. I'm assigning this to the writer to review and make any updates needed to the article. Thanks for raising the issue!

[2020-10-01 21:05] cgoetzke commented on #2492
Any movement on this? I'm having the same issue. The main "getting started" tutorial is broken because of this.

Details copied from Power BI Desktop:
[code]

[2020-10-01 21:21] douglasg14b opened #2527 "Seeking clarification on certification requirements "Code Quality""
`Code Quality` is a broad term embroiled in a significant amount of subjectivity and ambiguity. There are numerous principles, smells, and patterns that may be recognized & employed to ensure a code base is `clean`. In many cases it can even boil down to personal preferences. Knowing what Microsoft considers unambiguously `clean` will help optimize the direction of such a drive. Most of these item

[2020-10-02 04:25] maggiesMSFT commented on #2527
Hi, @douglasg14b -- thanks for the question! Passing along to the author for consideration.

[2020-10-02 16:32] roberdaniel opened #2528 "Delete workspace information incomplete"
This clarification is needed:
If you create a O365group a workspace with the same name is created.
If this workspace is in "classic mode" and you delete it the associated AD group is also deleted.
but if the workspace has been migrated to "New experience mode" and you delete it the AD group is not deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-10-02 17:23] dudu-markovitz opened #2529 "The link for Matt Masson script seems broken"
It seems to lead to the right page ("Creating a Date Dimension with a Power Query Script") but the script is not shown and there is also a message "There has been a critical error on your website."

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e837063b-c36b-6bac-5c6b-10534146325c
* Version Indep

[2020-10-02 17:37] davidiseminger commented on #2528
Thanks for your comment and input, @roberdaniel ! We've assigned this to the writer of the article, who will take a look at it shortly.

[2020-10-02 17:38] davidiseminger commented on #2529
Thanks for your comment @dudu-markovitz - sorry about the inconvenience. We've assigned this issue to the article's author, who will review and take a look at the issue soon. Thanks!

[2020-10-02 19:18] douglasg14b commented on #2527
Thanks!

[2020-10-03 01:24] kjhangiani commented on #672
Also running into this exact issue above - the request looks fairly simple, but this does not seem to work.  Is there any update on this?

[2020-10-03 01:32] kjhangiani commented on #672
Nevermind - figured it out.  The particular workspace I was testing it on was still using the old workspaces - after upgrading to new workspace (can you do that from the API?), everything worked as expected

[2020-10-04 12:43] paulinbar commented on #2427
Hi @JoelLeichty. Thanks for your comments - particularly for the perspective of the O365 Admin. I am in the process of rewriting the endorsement (promotion and certification) articles now and I will take all you said into account. Promotion and certification started out with datasets, then came to be supported for data flows as well, and now is soon to be supported also for reports and apps.
Are y

[2020-10-04 12:50] paulinbar commented on #2461
Hi @egrusecki, sorry for the long delay in responding. Can you please explain a bit more fully what you mean? That will help me get an answer to your question. What do you mean by "hover"?
Thanks.

[2020-10-04 13:15] paulinbar commented on #2427
Hi again @JoelLeichty. Right you are about the AD group. Moreover, it must be a security group. Thanks for bringing this up. Will correct and be specific in the documentation.

[2020-10-05 13:09] mattmasson opened #2530 "Clarify which data sources are affected by "maximum number of connections per data source" setting"
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-directquery-about#maximum-number-of-connections-option-for-directquery

We should clarify which data sources are impacted by the "maximum number of connections per data source" setting. I believe it only impacts legacy/cartridge based connectors, and not DQ connectors that go through Power Query. If it does impact Power Query sources,

[2020-10-05 16:32] JoelLeichty commented on #2427
@paulinbar Thanks!

I wrote a long blog on this and some related topics, trying to get certification to fit into a larger deployment picture: https://www.dynamicconsulting.com/deployment-strategy-for-power-bi-app-workspaces/

[2020-10-06 05:26] JaanaKonttinen commented on #2492
Hi.

Nothing new about this. I solved this by doing pdf from the site. Hopefully page will work correctly at the time when my new students starts.

BR.

Jaana Konttinen
Research specialist
Savonia University of Applied Science
PL 6 (Microkatu 1), 70201 Kuopio, Finland
Phone: +358 44 785 5824
Email: jaana.konttinen@savonia.fi<mailto:jaana.konttinen@savonia.fi>
www.savonia.fi<http://www.savonia.fi/>

[2020-10-06 14:24] kevman123 opened #2531 "Error in documentation"
In the Military Contractors (DoDCON) section there is a typo. There should be no S on microsoftonline.us

<add key="authorityUrl" value="https://login.microsoftonlineS.us/common/" />

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0658cf44-97c9-cb23-68bd-146f29eb644c
* Version Independent ID: e05ed89e-2dfa-0d31-4198-917

[2020-10-06 16:00] talderman opened #2532 "50 Page Limit per hour"
My apologies if this not the correct places for this ask.

I think it would be helpful if there is any information added about how or if page count can be tracked through the API

My reason for this ask is for automation:
I want to a feature to my application that will allow reports to be exported to PDF.  If I have multiple users active creating these exported PDF documents.  I want to be able to

[2020-10-06 16:57] davidiseminger commented on #2530
Thanks for your comment, I'll follow up with the Power BI Desktop team.

[2020-10-06 16:58] davidiseminger commented on #2531
Thanks for your comment, @kevman123. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-06 16:59] davidiseminger commented on #2532
Thanks for your comment, @talderman. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2020-10-06 17:21] kevman123 opened #2533 "Incorrect Link"
The link provided for the Embedded Setup tool is wrong. It is pointing to the commercial version and should point to:

https://app.high.powerbigov.us/embedsetup/appownsdata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326

[2020-10-06 19:01] mercytum opened #2534 "Feedback"
[Enter feedback here]
Under Prerequisite:
1. Adding the file wasn't on the upper left but the bottom left (called get data)
2. I was confused by the report view and went to the reports section under my workspace. However, I later realized that steps 3 and 4 should have been done under Datasets in my workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-10-07 04:36] mihart commented on #2533
Thanks for your comment, @kevman123 . This issue has been assigned to the doc author for review.

[2020-10-07 04:37] mihart commented on #2534
Thanks for your comment, @mercytum . This issue has been assigned to the doc author for review.

[2020-10-07 12:34] JJDE opened #2536 "which enduser/consumer permissions needed when publishing paginated report as App?"
Szenario:
- I created with Report Builder a paginated Report, it has two datasources: AzureAS + PBI Dataset published in Workspace1
- I created a App1 in Workspace1 which includes the paginated Reports
Questions:
Which permissions needs to be set for endusers to be able to use the paginated report via app publishing and without the need to give the user workspace permissions?

Full community entry

[2020-10-07 15:07] dayawn opened #2537 "Change Query Editor button to Transfor Data"
The documentation says to click on the Powery Query editor button in the Home tab but the button has been renamed in the current version of PowerBI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd6ac628-d5b4-e722-0532-d467c8347a5a
* Version Independent ID: 20ec07f6-627d-3765-ddcb-4aa738b6952a
* Content: [Query overvie

[2020-10-08 05:12] MehdiRMS opened #2538 "Its not clear where the code should be copied"
Its not clear where the code should be copied
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b6da01-c39e-67af-541e-6c9ee48c1d26
* Version Independent ID: bc9e9e91-8151-e02f-ee88-e12929dff9ba
* Content: [Build a bar chart - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/visuals/cre

[2020-10-08 06:04] eperfilyev opened #2539 "Is it applicable for Power BI Desktop for Report Server?"
Hi Team,

Is it applicable for Power BI Desktop for Report Server?

Also which registry parent folder it is?

In the text it refers to HKEY_LOCAL_MACHINE and on the picture it's HKEY_CURRENT_USER

Thank you

[2020-10-08 06:06] eperfilyev opened #2540 "Is it applicable for Power BI Desktop for Report Server?"
Hi Team,

Is it applicable for Power BI Desktop for Report Server?

Also which registry parent folder it is?

In the text it refers to HKEY_LOCAL_MACHINE and on the picture it's HKEY_CURRENT_USER

Thank you

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57120f28-dce7-01db-855c-33e40721776f
* Version Independent ID: e8c

[2020-10-08 06:07] #2539 closed

[2020-10-08 08:30] delphinechenhong opened #2541 "are these content the latest?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a5b29e-747f-20fe-2184-e1b68bc5558b
* Version Independent ID: 1175916c-1360-7786-c007-0ddf044d5315
* Content: [Drill down and drill up in a visual - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-drill)
* Content Source: [power

[2020-10-08 21:49] davidiseminger commented on #2159
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:49] #2159 closed

[2020-10-08 21:50] davidiseminger commented on #2164
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:50] #2164 closed

[2020-10-08 21:50] davidiseminger commented on #2260
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:50] #2260 closed

[2020-10-08 21:51] davidiseminger commented on #2226
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:51] #2226 closed

[2020-10-08 21:51] davidiseminger commented on #2386
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:51] #2386 closed

[2020-10-08 21:52] davidiseminger commented on #2350
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:52] #2350 closed

[2020-10-08 21:52] davidiseminger commented on #2330
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:52] #2330 closed

[2020-10-08 21:53] davidiseminger commented on #2451
We've updated all the dataflows documentation to address issues.

[2020-10-08 21:53] #2451 closed

[2020-10-09 05:25] AzizQuazi opened #2543 "Change the interaction behavior (https://docs.microsoft.com/en-us/power-bi/create-reports/service-reports-visual-interactions)"
After I "select the no impact icon", I cannot change it back as interactive again (I mean, I cannot reverse my earlier action). Can I get a solution? Thanks.

Rgds..Aziz
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7c372d-539c-5857-01c5-8a8d835380a8
* Version Independent ID: 08d1564e-d1dc-ae37-8147-ef21c80feccc
* Co

[2020-10-09 07:17] DaveRuijter commented on #2260
Hi @davidiseminger, this issue is not solved in the updated documentation.

[2020-10-09 17:36] maggiesMSFT commented on #2536
Hi, @JJDE -- I'll check and get back to you. Thanks for asking!

[2020-10-09 17:57] maggiesMSFT commented on #2537
Hi, @dayawn -- thanks for pointing that out! Assigning to the author.

[2020-10-09 17:58] maggiesMSFT commented on #2538
Hi, @MehdiRMS -- thanks for asking! Assigning to the author.

[2020-10-09 18:03] maggiesMSFT commented on #2540
Hi, @eperfilyev -- thanks for asking! I'll check and get back to you.

[2020-10-09 18:04] maggiesMSFT commented on #2541
Hi, @delphinechenhong -- thanks for asking! Assigning to the author.

[2020-10-09 18:05] maggiesMSFT commented on #2543
Hi, @AzizQuazi -- thanks for asking! Assigning to the author.

[2020-10-09 18:20] maggiesMSFT commented on #2536
Hi, @JJDE -- OK, thanks to a quick response, I'm able to get back to you. It's a support issue, so you need to open a support case at https://powerbi.microsoft.com/en-us/support/.
Thanks!

[2020-10-09 18:20] #2536 closed

[2020-10-09 18:29] maggiesMSFT commented on #2479
Hi, @djpirra -- I conferred with the team. They replied:
"Reporting Service LoadTest tool is compatible with Visual Studio 2015 enterprise versions onwards which include VS2019..

Also, this tool execute synthetic load for SQL Server Reporting Services 2016, SQL Server Reporting Services 2017 and Power BI Report Server. As far as I know none of these are deprecated. Any idea what the customer migh

[2020-10-09 18:29] #2479 closed

[2020-10-09 18:32] maggiesMSFT commented on #2210
Hi, @Paul-Gannaway -- not hearing back from you, I'm closing this issue. Let me know if you have further question!

[2020-10-09 18:32] #2210 closed

[2020-10-09 20:52] davidiseminger commented on #1980
Sorry for the delay - this will be added with the next monthly update of Power BI Desktop docs.

[2020-10-09 20:52] #1980 closed

[2020-10-10 17:59] Rodrigossz opened #2545 "Content Update - Synapse Link"
[Enter feedback here]

Hello @davidiseminger and @maggiesMSFT

Can you please update this content and replace SQL DW with Azure Synapse Analytics and also Azure Synapse Link?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b

[2020-10-11 18:40] AkhilMadivada opened #2546 "Sales table - display issue"
In the article, you mentioned **order line number** columns haven't been loaded to the Sales table. But, if you see the diagram it shows the **order line number** in the Sales table.

![image](https://user-images.githubusercontent.com/32743267/95687098-58668800-0bb6-11eb-981a-c9b31eb35b10.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-10-11 21:09] paulinbar commented on #2545
Hi @Rodrigossz , thanks for your comment. I have forwarded it along to David. He'll take a look at this soon.

[2020-10-11 21:12] paulinbar commented on #2546
Hi @AkhilMadivada , thanks for your comment. I am forwarding it along to the doc author for consideration.

[2020-10-12 08:01] FoxyChmoxy opened #2547 "Query contains unknown function name: Python.Execute."
I was trying to do this example https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-python-in-query-editor

But I faced this error after publishing:
![image](https://user-images.githubusercontent.com/38606307/95719893-4eb25280-0c92-11eb-808a-118f1929b721.png)

Now I'm unable to automatically refresh my dataset. I don't use Python Visuals or Python Scripts to extract dataset from data so

[2020-10-13 20:27] The-Real-David-Williams opened #2550 "Sort By Column is permanently greyed out"
Previously, I was using "Sort by Column" on this data. Recently (perhaps after an update?), no matter which fields I select, the button is always greyed out.

In the following example, the _Group_ column has six distinct values, in a table with an _Order_ column that has the numbers 1-6 corresponding to them. When I select the _Group_ column, "Sort by Column" remains greyed out.

![image](https://

[2020-10-13 22:22] mganeshphani opened #2552 "1M Limit clarification for direct query"
Following document says the 1M limit is configurable for direct query,
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-premium-workloads#max-intermediate-row-set-count

while this document says it's not possible, what's the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959

[2020-10-14 14:23] KesemSharabi commented on #2547
Hi @kfollis, do you know who owns the [Use Python in Query Editor](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-python-in-query-editor) article?

[2020-10-14 14:24] KesemSharabi commented on #2550
Thanks for your comment, @The-Real-David-Williams.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2020-10-14 14:24] #2550 closed

[2020-10-14 14:27] KesemSharabi commented on #2552
Thanks for your comment, @mganeshphani.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-10-14 17:06] sqltj opened #2554 "PowerShell example would be beneficial for Export to File API."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b2a51d-0025-3209-a1c1-db3362b909bb
* Version Independent ID: a952e5a8-acf6-31cc-43ff-77cef73b2a9e
* Content: [Export Power BI reports API - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-to#code-examples)
* Content Sou

[2020-10-14 17:54] kfollis commented on #2547
Hi @FoxyChmoxy - I'm assigning this issue to the writer to review and determine whether an article update is required. You may also want to reach out to https://support.powerbi.com or https://community.powerbi.com to get some help with the error you're seeing.

[2020-10-14 18:24] VenkatGowrishankar opened #2555 "BigQuery - partitioned datasets"
[Enter feedback here]
Hi,

One of the customers is  a large big query  user - with data in PB scale. There are questions around the following -
1. Sharded/Partitioned data sets, how to specify partitions in a direct query connectivity mode?
2. Best practices - is it better to directly connect to big query? / cache the data in PBI using large models.

Thanks,
Venkat

---
#### Document Details

⚠ *D

[2020-10-14 22:11] mihart commented on #2554
oops, no feedback included.  Closing.

[2020-10-14 22:11] #2554 closed

[2020-10-14 22:48] DigitalCog opened #2556 "Extra Dash in the Formatting"
In the "Considerations and troubleshooting" section of the page, the url prefix for mailto has a dash(-), showing as "-mailto:", which the Power BI Desktop does not take as the prefix. Instead, PBI Desktop takes "mailto:" as a prefix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
*

[2020-10-15 14:47] gfelot commented on #2509
No more news about it ? I have the exact same issue for one of my user, the other are fine.

[2020-10-15 14:52] oloboy commented on #2094
I have the same problem question where is the service now connector?

[2020-10-15 16:19] maggiesMSFT commented on #2556
Hi, @DigitalCog -- thanks for your sharp eye! Fixing it now.

[2020-10-15 16:19] #2556 closed

[2020-10-15 17:24] maggiesMSFT commented on #2094
Hi, @oloboy , @samhodgkinson , and @sandeeplodhirajput -- If you don't see it in AppSource, then I'm afraid it  isn't available anymore. I'm checking.

[2020-10-16 09:44] otarb commented on #2547
hi @FoxyChmoxy , when using Python (or R) as data source (Get data -> Python script) or PowerQuery transformation (Transform -> Run Python script) you will need to setup personal gateway to be able to refresh dataset in the service.  This is mentioned in the limitations section of the article you used as well (dataset that uses Python as source or transformation, is usually referred as 'python dat

[2020-10-16 11:13] jlmcdermott opened #2557 "Live Connection Missing"
[Enter feedback here]

This page doesn't mention live connections as a type of mode which is relevant for when connecting to Analysis Services models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4113f426-5c74-c68d-781b-be0bb9358db1
* Version Independent ID: 4ef47ef7-0502-4161-a43e-4eabc3545931
* Content: [Dataset mo

[2020-10-16 15:52] hacenedjelid commented on #255
Hello Team, we are looking into a way to purchase the PowerBI EM1 sku for our customer through Volume Licensing but couldn't. There is no way to reach anyone in the VLSC department. Any help will be greatly appreciated! Thanks!

[2020-10-16 19:47] VitalyMCT commented on #2443
This is definitely an issue. Either a bug (most likely) or documentation out of sync with actual product behaviour.

[2020-10-16 19:49] VitalyMCT opened #2559 "Full review / update required for Data Classification page"
This article is 3 years old and naturally drifted away from service behaviour.

Some items that require an update:

1. Screenshots to match new workspace experience and other changes to Power BI service UI
2. Elements documented that do not work the same way in service. Example: https://github.com/MicrosoftDocs/powerbi-docs/issues/2443

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-16 20:20] kfollis commented on #2559
Thanks, @VitalyMCT - I've assigned this issue to the author to review for accuracy and make an update. I appreciate you flagging this for us.

[2020-10-16 20:31] kfollis commented on #2555
Hi @VenkatGowrishankar - I'm assigning this issue to the author to consider your feedback in a future update. You may want to post your question to https://community.powerbi.com to get feedback from peers and other BigQuery users. The article you reference describes how to connect. You may find helpful best practices in our guidance documentation located here: https://docs.microsoft.com/en-us/powe

[2020-10-16 20:41] kfollis commented on #2557
Hi @jlmcdermott - thanks for your feedback. I noted that in the article introduction it states that "It applies to datasets that represent a live connection to an external-hosted Analysis Services model," but that may not address your feedback. I'm assigning this issue to the writer to consider your input in a future update.

[2020-10-16 21:21] alexeybogusevich commented on #1109
@jianyeliu can you please tell what was the problem?

[2020-10-16 21:37] Mike-Honey opened #2560 "What has changed in the latest build 2.85.985.0?"
What has changed in the latest build 2.85.985.0 published 10/15/2020?
Why does it have the same build number as the version published 10/3/2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540c095a-44b8-bd64-6bb2-81fdefbcb591
* Version Independent ID: 4a74c2a6-2b28-5c73-9243-1ad5e08d6dd2
* Content: [What's new in th

[2020-10-16 22:49] maggiesMSFT commented on #2560
Hi, @Mike-Honey -- Docs will be updated next week, so check back then. Closing this in the meantime.
Thanks!

[2020-10-16 22:49] #2560 closed

[2020-10-17 17:54] FoxyChmoxy commented on #2547
Hi @otarb

Thank you for your replying. The question is still open, I cannot use a personal gateway, since the data source is a corporate Common Data Service. In the settings of the **Gateway Clusters** there is no option to select the **Type of Data Source** as **CDS** and I'm unable to use OAuth2 as Authentication Method (idk why).

Also I can't get why I should use Personal Gateway if I'm using

[2020-10-18 01:12] naomistuart opened #2562 "DirectQuery calculated tables"
This article states that for DirectQuery _"Calculated tables aren't supported: The ability to define a calculated table using a DAX expression isn't supported in DirectQuery mode."_

This appears to contradicts with documentation in [Use composite models in Power BI Desktop](https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-composite-models), which says _"You can add calculated tab

[2020-10-19 06:34] gronnerup commented on #1198
@Rakeshsinghr, please verify that you are applying the object ID fetched via the "Managed Application in local directory" property?

So go the the Azure Portal, navigate to the app registration you are using and click on the hyperlink next to “Managed Application in local directory”. This has the same name as your app registration. Then copy the Object ID from this page.

[2020-10-19 06:36] paulinbar commented on #2562
Hi Naomi, that's for pointing this out. I am forwarding your comment on to the doc author for further consideration.
Thanks!
@naomistuart

[2020-10-19 07:17] erapade opened #2563 "Modification needed for text about multiple-column joins"
You say:
Avoid relationships on calculated columns. This guidance is relevant to databases where you need to do multi-column joins. Power BI today doesn't allow a relationship to be based on multiple columns as the FK/PK. The common workaround is to concatenate the columns together using a calculated column, and base the join on that column. While this workaround is reasonable for imported data, f

[2020-10-19 08:22] ErlandDEV opened #2564 "Typo: var exportRequest = new ExportReportRequest { Format = FileFormat.PDF, PaginatedReportExportConfiguration = paginatedReportExportConfiguration, }; -> the last comma should be removed!?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53195679-7a58-c111-3814-fccf4cc38854
* Version Independent ID: ee9e8e36-45e1-8029-4f9a-b1d41ef4a3f1
* Content: [Export Power BI paginated reports API - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-paginated-report)
* C

[2020-10-19 11:33] vandesandtmarc opened #2565 "What time does the refresh limit gets reset ( in GMT time please)"
Hi I would just like to know at what time does the refresh limit get reset? So that we can plan on when we will be refreshing. And know in advance when we have the next 8 refreshes avail with the pro license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8

[2020-10-19 13:27] otarb commented on #2547
By configuring personal gateway, PowerBI service will be able to run Python transformation on your machine (even in cases where actual data doesn't live on same machine). This is done in order to give customers more flexibility and control over environment in which script is executed, this way transformations will be run in same Python environment (runtime version, available packages and versions)

[2020-10-19 20:01] paulinbar commented on #2564
Hi @ErlandDEV, thanks for your comment. I have forwarded it on to the doc author for further consideration. Thanks!

[2020-10-20 05:27] jw3315 opened #2566 "Format by field value not applicable"
![9EA72054-2565-437C-A06B-DF97DC94D94F](https://user-images.githubusercontent.com/23145149/96543733-a17ba380-126a-11eb-867e-9bf8d871b189.jpeg)

[Enter feedback here]
Power bi report server May 2020, to format color by field value, I can’t select a column to perform this function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-20 05:33] erapade opened #2567 "Vague description of referenced queries"
This description could be more clear.
In the example, Query1 is a none loading query. Readers might think that making it a loading query, the data will be cached, and this is wrong. Please make this more clear.
PBI Dataflow is mention as a way to cash the data. Yes this is true if query1 is a loading query/entity, but not if it's a none loading query/entity

Note:
I always see a referenced query (

[2020-10-20 14:02] KesemSharabi commented on #2511
Hi @afernandez-yseop,

Thanks for you comments!

I revamped this tutorial - please revisit it using this link - [Tutorial: Develop a Power BI circle card visual](https://docs.microsoft.com/power-bi/developer/visuals/develop-circle-card#creating-a-custom-visual).

I'm not entirely clear as to what your issue is, but perhaps the note in **step 5** in the [View the circle card in Power BI service](ht

[2020-10-20 14:13] KesemSharabi commented on #2516
@douglasg14b,

I revamped this tutorial - please try to follow the instructions in [Tutorial: Develop a Power BI circle card visual](https://docs.microsoft.com/en-us/power-bi/developer/visuals/develop-circle-card).

Hopefully this should work for you.

Thanks,

Kesem

[2020-10-20 14:24] KesemSharabi commented on #2527
@douglasg14b,

You're right, [Code Quality](https://docs.microsoft.com/legal/marketplace/certification-policies#120012-code-quality) is somewhat ambiguous. However if your code is readable, maintainable and exposes no functionality errors, it should be ok.

@uve - is there anything to add here re the code for creating a Power BI visual?

Thanks,

Kesem

[2020-10-20 14:38] KesemSharabi commented on #2538
Hi @uve, can you please help @MehdiRMS understand where the code needs to be copied to?

[2020-10-20 15:21] uve commented on #2489
Hi @heyconor,
 Are you referring to this line?:

![image](https://user-images.githubusercontent.com/534586/96607316-70f74080-1322-11eb-971a-cbb505d91ef9.png)

[2020-10-20 15:49] heyconor commented on #2489
Yes, I was. I see it now refers to the correct tootltiputils. Problem solved!

[2020-10-20 16:07] #2489 closed

[2020-10-20 18:56] afernandez-yseop commented on #2511
thanks a lot!

this is enough update of the tutorial for me

[2020-10-20 18:56] #2511 closed

[2020-10-21 00:49] itsnotaboutthecell opened #2568 "Confusion on Custom Maps"
The below statement leaves a lot of grey area.
"Shape Map visuals --- have the compelling ability to use custom maps that you can create."
"Examples of custom maps are: geographical --- and others."
"The ability to use custom maps is not available in Preview"

I would like to know - if the Shape Map creates / has the ability to use custom maps is it available during Preview?

---

Description:

Sh

[2020-10-21 05:51] mihart commented on #2566
Thanks for your comment, @jw3315 . This issue has been assigned to the doc author for review.

[2020-10-21 05:53] mihart commented on #2567
Thanks for your comment, @erapade  . This issue has been assigned to the doc author for review.

[2020-10-21 05:55] mihart commented on #2568
Thanks for your comment, @itsnotaboutthecell . This issue has been assigned to the doc author for review.

[2020-10-21 05:56] mihart commented on #2565
Thanks for your comment, @vandesandtmarc . This issue has been assigned to the doc author for review.

[2020-10-21 06:21] KesemSharabi commented on #2532
Hi @talderman,

I double checked with the development team and unfortunately there isn't a way to monitor the number of Power BI report pages exported per hour.

The good news is that when this feature becomes a General Availability (GA) feature (sometime during 2021), the 50 page per hour restriction will be removed.

Thanks,

Kesem

[2020-10-21 06:21] #2532 closed

[2020-10-21 06:26] KesemSharabi commented on #2563
Thanks for your comment, @erapade.

I've assigned this issue to the doc author for review.

[2020-10-21 13:08] RudyCo opened #2571 "What is the list of available parameters?"
This page does not explain what are the available parameters in brackets below:
Source = AzureCostManagement.Tables("Enrollment Number", "1111111111", 1, []),

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3
* Content: [Co

[2020-10-21 13:59] yahsee opened #2572 "Build permissions documentation"
The instructions don't appear to apply to the current version of Power BI. I don't see manage permissions as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16dbd9ca-dcd3-a4f3-43a8-01ead54fc9f9
* Version Independent ID: 66217fc3-a852-201c-a563-54ecbd9e5726
* Content: [Build permission for shared datasets - Po

[2020-10-21 16:59] douglasg14b commented on #2527
Hi @KesemSharabi What you mentioned is *literally* what I am seeking clarification on. I, personally, understand maintainable & readable code, however, this must be quantified in a way that is actionable.

For context, I'm looking at a couple PBI visuals that are definitely not clean, readable, or maintainable by *my* standards. The key here is `by my standards`, I have pretty high standards for c

[2020-10-21 23:18] maggiesMSFT commented on #2572
Hi, @yahsee -- Thanks for asking! Manage permissions is still there. You need to have at least a Contributor role in the workspace, so Admin, Member, or Contributor, but not Viewer. Also, Manage permissions is for the datasets, right?
You point out a flaw -- I'll add a link to the table about roles in workspaces, https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-new-workspaces#ro

[2020-10-21 23:47] maggiesMSFT commented on #2572
Hi, @yahsee -- thanks again! Fixes made, will be in the articles tomorrow.

[2020-10-21 23:47] #2572 closed

[2020-10-22 06:58] elsdestickere opened #2574 "Missing specifications on roles en users"
Doc: https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-azure-data-lake-storage-integration

"To bring your own ADLS Gen 2 account, you must have owner permissions at either the storage account, resource group or subscription layer. If you are an administrator, you still must assign yourself owner permission."
Can you me more specific as in doc https://docs.microsoft.com

[2020-10-22 08:21] michalmar opened #2575 "Is also a Power BI report template available?"
[Enter feedback here]
There used to be a Power BI template report available for Billing API Key in form of PBIX - is there anything similar for this Consumption API? thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3

[2020-10-22 08:33] KesemSharabi commented on #2575
Thanks for your comment, @michalmar.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2020-10-22 08:36] KesemSharabi commented on #2574
Thanks for your comment, @elsdestickere.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community](https://community.powerbi.com).

[2020-10-22 08:37] KesemSharabi commented on #2571
Thanks for your comment, @RudyCo.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community](https://community.powerbi.com).

[2020-10-22 12:31] renepajta opened #2576 "Missing a list of supported languages"
[Enter feedback here]

Hi all,

the content of this page is great, however, I would like to know also what languages are supported by the feature.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narrative

[2020-10-22 12:57] asocorro opened #2577 "Reports containing report-level DAX measures?"
Hi, what does the limitation "Reports containing report-level DAX measures" mean exactly?  What is a report-level measure and how is it different from a regular measure?  Aren't all measures defined using expressions?  Thanks in advance for clarifying this.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-22 15:26] andyparkerson opened #2578 "Other ways to access Power BI datasets from Excel - which SKUs?"
# Other ways to access Power BI datasets from Excel

Which SKUs for Excel support connecting directly to PowerBI Datasets from the Get Data menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content: [Analyze in Exce

[2020-10-22 16:51] maggiesMSFT commented on #2577
Hi, @asocorro -- how are you? That's a good question. I'm going to check and get back to you. Thanks!

[2020-10-22 20:48] arunbala9 opened #2579 "GITHUB Repository usages in not connecting to the our Organisation wide repo"
Hi,

We have all our GitHub under the organization folder.  The Github is setup with Two-way authentication. I was able to curl the Github in command prompt by creating personal access tokens. When I try to access the same, Power bi is throwing an error message.

There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please pr

[2020-10-23 00:33] maggiesMSFT commented on #2577
Hi, @asocorro -- here's the answer:
GuyInACube had an episode on it: https://guyinacube.com/2017/07/19/report-level-measures-power-bi-live-connections/
 Basically, a report level measure is a measure that you create against a Live connection to either SSAS Tabular, a Power BI dataset or AAS.
Hope that helps!

[2020-10-23 00:33] #2577 closed

[2020-10-23 00:39] maggiesMSFT commented on #2578
Hi, @andyparkerson -- this section of this article might answer your question:
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-excel-featured-tables#licensing

[2020-10-23 19:24] maggiesMSFT commented on #2576
Hi, @renepajta -- good question! I've assign to the author to answer.

[2020-10-24 01:24] maggiesMSFT commented on #2579
Hi, @arunbala9 -- this sounds like a product issue, not a docs issue.
Can you try the Power BI community, https://community.powerbi.com/?
If they're no help, you may need to contact support, https://powerbi.microsoft.com/en-us/support/
Hope that helps!