[2018-03-16 22:08] MicahMcKittrick-MSFT opened #6 "Issue with PowerBI Report Server Template in Portal"
See the following MSDN post for more information:

https://social.msdn.microsoft.com/Forums/azure/en-US/ec008145-f419-49a7-870c-e8e8d6a83465/azure-vm-template-power-bi-report-server-not-allowing-hyphendash-in-vm-name?forum=WAVirtualMachinesforWindows&prof=required

When deploying the template it brings you to the following doc for release notes:
https://docs.microsoft.com/en-us/power-bi/report-ser

[2018-04-01 16:26] MicahMcKittrick-MSFT commented on #6
@maggiesMSFT could you look into this? You appear to be the content author for the related doc.

[2018-04-02 18:39] maggiesMSFT commented on #6
Thanks @MicahMcKittrick-MSFT.
Hey @jtarquino @lishibo @rvpatkar -- can any of you advise? Where should we put this info? This is feedback from  Scott Staffer in the Forums: https://social.msdn.microsoft.com/Forums/azure/en-US/ec008145-f419-49a7-870c-e8e8d6a83465/azure-vm-template-power-bi-report-server-not-allowing-hyphendash-in-vm-name?forum=WAVirtualMachinesforWindows&prof=required

[2018-05-14 14:06] kaylangan opened #25 "Last refresh not explained/available"
I used to add "Last refresh" time to the tiles in my dashboard, however, I don't see it available anymore. Some pics in the docs suggest it existed; but there is no information on it. Was it removed and only available in certain versions?

Here's a section that shows a link to specifying "last refresh time", but the page it directs to doesn't have a section for it: https://github.com/MicrosoftDocs

[2018-05-26 04:28] nschonni opened #30 "Dead link roundup"
Instead of posting individual issues I figure this might be easier for our inboxes.
Here is a gist of what I ran and what it found https://gist.github.com/nschonni/5e9b44714eb128df80fec16319447da8
Caveats:
    - markdown-link-check has no concept of the redirect.json so there are false positives
    - can search in file for "dead" to see the flagged issues
    - I've PR'd things for typo-ish ones,

[2018-05-28 20:54] xuanhoang77 opened #31 "Ok la la"
😀😀😀hihi

[2018-05-29 00:06] #31 closed

[2018-05-29 00:07] maggiesMSFT commented on #31
Hi, @xuanhoang77 -- I don't see that you changed to any files. Did you intend to update a file? If so, please resubmit. Thanks!

[2018-06-21 20:51] mgblythe commented on #25
@mihart -- can you take a look at this and update docs as appropriate.

[2018-06-21 21:01] mgblythe commented on #30
Hi @nschonni -- thanks for doing this! And sorry for taking so long to get back to you. I'm running a QA report on internal and external broken links, and I'll update here when I'm done. We have a lot of redirects b/c we moved repos/folder structures a while back, hence the false positives.

[2018-06-21 22:32] maggiesMSFT commented on #6
Hi, @MicahMcKittrick-MSFT -- you're right, create the PBI RS VM in Azure, you can't use dashes in the VM name, even though the tooltip says you can. I've assigned this to @jtarquino and asked if they can either a) fix it so you can use dashes or b) fix the tooltip.
thanks!

[2018-06-21 22:33] maggiesMSFT commented on #6
Oh, I also replied to Scott Stauffer on twitter.

[2018-06-21 23:05] MicahMcKittrick-MSFT commented on #6
@maggiesMSFT great thank you!

[2018-06-26 20:03] mgblythe commented on #30
Even leaving out the ones that are redirected, we have a lot of broken links, esp. to external content. We'll address these in our next sprint in July. Thanks again for the feedback!

[2018-06-27 06:10] nschonni commented on #30
Fixed up the ones I could figure out in #45 and updated the gist

[2018-07-02 16:07] mgblythe opened #50 "Test issue for Power BI docs"
Testing the feedback system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d7371c-d74d-6e7f-e6d2-77cff1d888a2
* Version Independent ID: ed31ccb5-e72f-0867-bb2e-100e76e7de72
* Content: [What is Power BI administration? - Power BI](https://review.docs.microsoft.com/en-us/power-bi/service-admin-administering-power-bi-i

[2018-07-02 18:26] precedence opened #51 "Not entirely correct about replacing"
"the dataset in your Power BI site will be replaced with the updated dataset from the Power BI Desktop file" is not entirely correct.  If you try to publish a report that is named the same thing as another report but one is import and the other is live connect, then it will not replace the first dataset.  It's more like it "updates" the dataset as much as it can.   If you want to truly replace an

[2018-07-02 21:00] #50 closed

[2018-07-03 07:33] zhouqinp opened #52 "Limitation solved: How to avoid reseting report filters when using bookmarks"
In the Limitations, there lists "If you add a visual on a report page after creating a bookmark, the visual will be displayed in its default state. This also means that if you introduce a slicer into a page where you previously created bookmarks, the slicer will behave in its default state." Actually, you are allowed to change the settings to keep the filters applied when you use bookmarks. I lear

[2018-07-03 14:09] vikpande opened #53 "good work !"
Short and sweet. Thanks for the quick explanation here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd66fe6d-5d79-32f8-d77d-621df2e04d97
* Version Independent ID: 5004c7d8-ea11-8cc2-0e25-69b9ab98f5e1
* Content: [Power BI Desktop videos - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-videos)
* Content S

[2018-07-03 17:39] maggiesMSFT opened #54 "Interesting"
Thanks for answering these questions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f6bd837-63e3-8bcd-9743-425e6da4a9b8
* Version Independent ID: 944bd5e0-a52f-0a4c-362b-68701f03c8d8
* Content: [Administering Power BI - frequently asked questions (FAQ) - Power BI](https://docs.microsoft.com/en-us/power-bi/service-adm

[2018-07-03 18:16] iamankitpawar opened #55 "Spelling mistake in documentation"
Under the heading Next Steps, it should be :
To get started with Power BI Desktop, the first *thing* you need is to download and install the application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e941f6c9-1676-dc84-ed1b-027a1c61cd23
* Version Independent ID: 373ee1b3-c001-d1a8-6eb4-832cbea29fe1
* Content: [What is

[2018-07-03 21:36] mgblythe commented on #54
Closing test issue

[2018-07-03 21:36] #54 closed

[2018-07-03 22:29] davidiseminger commented on #53
#sign-off

[2018-07-04 09:54] Skit-FW opened #56 "Missing Download Link"
[Enter feedback here]

In your "How to" tutorial at chapter "Common query Tasks in Power BI Desktop" you forgot to add the download link for the Excel workbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ca589e-10e9-3924-a3ac-c774368cdec6
* Version Independent ID: 2c7f64d7-8306-1622-6ca3-912b805acf0c
* Content: [

[2018-07-04 11:15] djpirra opened #57 "How to proceed if Certificate had expired?"
Can you provide information on how to proceed when the certificate had expired?

Also trying to use PBIVIZ --create-cert but it say that create-cert is a unknown option...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de943
*

[2018-07-04 15:12] rjb7607 opened #58 "Efficient and improving every day"
The tooltip function really helps us include much more information on a visual. Clients generally want to see different versions of the same data, and this functionality is increasingly useful. We love the new tooltip visualization functionality that came out recently! We wrote a blog about it if anyone is interested!

https://www.rhobear.com/single-post/2018/07/02/Power-BI-201---How-to-customize-

[2018-07-05 08:38] Cobalt34 opened #60 "Excellent"
All this training is like the product itself: Clear and friendly.
After just few days, it looks like you can do so many thing on power BI.
Online documentation is also perfect.

Congratulation to the Power BI team for such a great work !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f15

[2018-07-05 14:01] kfile commented on #60
Thank you very much for the positive feedback. We work hard to ensure that we provide quality experiences for our customers - good to know we're making progress.

[2018-07-05 14:05] kfile commented on #57
Thank you for your question. This issue has been assigned to the author for review.

[2018-07-05 14:06] kfile commented on #56
Thank you for your comment. This issue has been assigned to the author for review.

[2018-07-05 23:07] davidiseminger commented on #58
Glad to hear that @rjb7607 - thank you!

[2018-07-05 23:09] davidiseminger commented on #53
You're welcome - thanks for the nice comments!

[2018-07-06 04:23] CarlMagnusC opened #61 "Using iOS as main access?"
We are using PowerBI and some reports are shared with me as email attachments.
It would be great to have guidance on How to use those if all you have is the mobile app?
I use a Mac Laptop and have not Found the Power BI sw for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf174abf-6474-14ae-3183-31e40fa9b1b6
* Ver

[2018-07-06 08:47] thesmarthomeninja opened #62 "I can't connect Adobe Analytics to Power BI Desktop"
Is this missing all troubleshooting steps for Adobe Analytics connecting?  Basically I'm getting a bug or something and no workaround or troubleshooting steps are suggested in this article.

When trying to connect in Power BI desktop, It just gives me a grey screen popup when trying to connect it.  I already have it connected as an app to the web client UI for PowerBI - but when I try to do it fro

[2018-07-06 16:20] kfile commented on #61
Thank you for your question. This issue has been assigned to the author for review.

[2018-07-06 16:22] kfile commented on #62
Thank you for your question. This issue has been assigned to the author for review. He may need to refer you to customer support. He'll be in touch.

[2018-07-06 19:08] SteveWinward opened #63 "Reply URL is case sensitive"
The reply URL in AAD is case sensitive.  The actual reply URL for the dashboard sample should be "http://localhost:13526/Redirect", not "http://localhost:13526/redirect"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edce6995-b777-06fc-49ee-b23eabf6a862
* Version Independent ID: ffd0c74b-4a05-1019-6897-804d60c13765
* C

[2018-07-06 20:30] coreyindahouse opened #64 "Ambiguous "If any changes are found""
In the " Where your file is saved makes a difference" under "OneDrive - Business", it is ambiguous what the change is.

Is the change a change in the raw data point in the dataset, a change of a visual, calculated column? What happens when a new entry is added to an SQL database, will OneDrive know about that change?

Note: first time using GitHub please mention me somehow to acknowledge this comm

[2018-07-08 15:57] reikor0x opened #65 "AddRows return 403"
Using your example the AddRows function return 403 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f8c50b5-a016-4fca-43fa-706dd8756148
* Version Independent ID: 3ab5d96f-d01d-ce04-9ae7-e366064bd9d1
* Content: [Add rows to a table - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/walkthrough-push-dat

[2018-07-09 13:50] VincentSaelzlerFRA opened #66 "Bookmark Sharing"
I publish a report to a shared workspace / sharepoint group. Will bookmarks be user-specific or all-company?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4966
* Version Independent ID: 0c97fa47-9695-aaaf-efcd-63b35362310e
* Content: [Using bookmarks in Power BI - Power BI](https://docs

[2018-07-09 16:58] mgblythe opened #67 "Test issue"
Testing automation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0b60b8-dfe6-d9c5-e9b5-df308dab6ba0
* Version Independent ID: 17d2837f-2849-959f-09ca-b49a4b36b767
* Content: [PowerShell cmdlets, REST APIs, and .NET SDK for Power BI administration - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-re

[2018-07-09 17:05] mgblythe opened #68 "Test issue 2"
Testing automation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0b60b8-dfe6-d9c5-e9b5-df308dab6ba0
* Version Independent ID: 17d2837f-2849-959f-09ca-b49a4b36b767
* Content: [PowerShell cmdlets, REST APIs, and .NET SDK for Power BI administration - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-re

[2018-07-09 17:46] mgblythe commented on #68
Closing test issue

[2018-07-09 17:46] #68 closed

[2018-07-09 17:47] mgblythe commented on #67
Closing test issue

[2018-07-09 17:47] #67 closed

[2018-07-09 17:48] mgblythe commented on #60
Thanks @Cobalt34, we appreciate the feedback.

[2018-07-09 17:48] #60 closed

[2018-07-09 17:49] #58 closed

[2018-07-09 17:50] #53 closed

[2018-07-10 19:05] davidiseminger commented on #66
Hi @VincentSaelzlerFRA - bookmarks will show up for anyone viewing the report that you publish. Hope that helps!

[2018-07-10 19:09] davidiseminger commented on #64
Hi @coreyindahouse - sorry for any ambiguity. The change is for anything in a file that's stored in OneDrive for Business in that location. So changes to Excel or PBIX files that are then saved in that location would show up. If you have a connection to a database in that Excel file and the database is changed, but the Excel file doesn't automatically pick it up, the report would only be updated o

[2018-07-10 19:12] davidiseminger commented on #62
Hi @thesmarthomeninja - sorry about the trouble you're having. Sounds like it's an issue that'll require help from our support folks, rather than documentation. I'll also follow up with them to see if the docs can be clearer, but you'll want to initiate a support request (through the channel that's best for you - check out support.powerbi.com for a starting point) so they can troubleshoot your ind

[2018-07-10 19:12] davidiseminger commented on #56
Hello @Skit-FW - sorry about the inconvenience. I'll look into updating that page with a download link to the file. Thanks for posting!

[2018-07-10 19:16] davidiseminger commented on #55
Hi @iamankitpawar - you're right! Thanks for catching that, I've fixed that typo and it should be corrected in the next day or so. Thank you!

[2018-07-10 19:17] davidiseminger commented on #52
@zhouqinp - that's great! Thanks for sharing this, and I'll also share this with the engineering team. Thanks for posting!

[2018-07-10 19:19] davidiseminger commented on #51
@precedence - thanks for posting and for the clarification. I'll check with the engineering team about how best to clarify what you've described, and meanwhile, others will benefit by having your post here in the article. Thanks for posting!

[2018-07-10 23:00] markingmyname commented on #63
Thank you for your feedback.  I have corrected the URL.

[2018-07-10 23:07] #63 closed

[2018-07-10 23:12] markingmyname commented on #57
@sranins Can you please take a look at this?

[2018-07-11 00:07] #66 closed

[2018-07-11 00:07] davidiseminger commented on #66
Answered - thanks for posting!

[2018-07-11 00:09] davidiseminger commented on #64
Answered - thanks for posting!

[2018-07-11 00:09] #64 closed

[2018-07-11 00:10] #62 closed

[2018-07-11 00:10] thesmarthomeninja commented on #62
Sounds good, thank you sir!

Sent from Mail for Windows 10

From: David Iseminger
Sent: Tuesday, July 10, 2018 12:17 PM
To: MicrosoftDocs/powerbi-docs
Cc: Kalen Daniel; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] I can't connect Adobe Analytics toPower BI Desktop (#62)

Hi @thesmarthomeninja - sorry about the trouble you're having. Sounds like it's an issue that'll require help from our supp

[2018-07-11 00:10] #55 closed

[2018-07-11 00:11] #52 closed

[2018-07-11 00:12] #51 closed

[2018-07-11 09:02] chizhova opened #69 "Size of .pbix for P4, P5"
Hi! Two remarks:
1. Max size for P4\P5 plans in missed
2. Don't we have ability to upload up to 12 Gb in P3 after refreshes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d4d246-073c-41e2-3940-8f84bcee9139
* Version Independent ID: 665dc73b-218f-18e4-6e5c-c093efbd7904
* Content: [Power BI Premium support for large d

[2018-07-11 16:30] reikor0x commented on #65
My mistake, I passed the wrong token. Sorry

[2018-07-11 16:30] #65 closed

[2018-07-11 20:22] Scott-Phoenix opened #70 "Utterly Lost"
I don't know if I should have started someplace else, but a search landed me here. However, I can't make it past the 2nd sentence of the Simple Histograms section. I have no idea what's being references with the use of the "Reference option for the query". In fact, you don't even tell me to work in Power Query - I finally figured out that's where you are.

---
#### Document Details

⚠ *Do not edit

[2018-07-12 08:37] danievalle opened #71 "Pin visual to a personnal dashboard"
I've read in a in the "Spring '18 Release Overview" (https://docs.microsoft.com/en-us/business-applications-release-notes/april18/release-overview) that you can pin visual from a shared report or an apps. But today if I try that I cannot because the pin is greyed-out with the message "read-only content can't be pinned". Which will be the case every time you share, because share is "read-only".
The

[2018-07-12 08:54] danievalle opened #72 "Content pack vs apps"
Dear Power BI Team,
You plan to replace content packs by apps, which is totally understandable to keep only one way of sharing multiple contents. But if you do that, could you please explain me how and when you will add bellow missing functionalities in the apps:

- in the app it's not possible to use the dataset available in the same way than in the Content Packs. With the content pack you can re

[2018-07-12 14:41] mgblythe commented on #69
Hi @chizhova - thanks for the questions. I'm checking with engineering to get information on this.

[2018-07-12 16:03] chizhova commented on #69
Great, thank you!

2018-07-12 17:41 GMT+03:00 Michael Blythe <notifications@github.com>:

[2018-07-13 04:46] rvenkata02 opened #73 "Numerical values mentioned is different from the image"
the documentation mentions "Let’s set Minimum to 20,000,000, and set Maximum to 20,000,000.". But, the image has different values. Documentation has to be updated to "Let’s set Minimum to 20,000,000, and set Maximum to 20,000,001."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3066fc06-cbb2-def8-1505-cccbb818c147
* Ve

[2018-07-13 09:20] Bluetaurean opened #74 "Powerbi Updates"
I have been using PowerBI for over 2 years now and updating almost each month. the last few updates on a windows 10 pro system almost never go through without issues. and the last one just wont install! i have tried uninstalling the previous version, deleting registry entries, deleting folders of powerbi, running the uninstall fix utility, cleaning temp folders, program file directory, app data. j

[2018-07-13 10:28] dunxd opened #75 "Button state"
The current options for button state are Default state, On Hover and On Press.  What is really needed is a state that toggles when the button is pressed (and is reset to default when another button is pressed). On Hover is great to give feedback to the viewer that this is indeed a button.  On press isn't much use, as it only appears when at the point the button is pressed.  Buttons can only be use

[2018-07-13 11:10] SychevIgor opened #76 "Add Reserved Instances API to connector"
Add to 3 extra datasets to connector
Reserved Instance usage
Reserved Instance transaction charges
Reserved instance purchase recommendation
https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-usage

I know, that it's for Product Team, but maybe they will also look here.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-07-13 19:08] jzetterman opened #77 "Windows Feature Installs and .NET 3.5"
NET-Framework-Features requires that you set the -Source parameter to D:\Sources\SXS (assuming that's where your Windows ISO is mounted). Without this the entire feature install fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90025eee-cd72-9503-6c1d-c14bb617b5b4
* Version Independent ID: 58e25db4-5d25-ac1d-b763-7

[2018-07-13 19:14] maggiesMSFT opened #78 "Testing GitHub updater"
Hoping to see it in action

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e31
* Content: [How to add a hyperlink to a table - Power BI](https://docs.microsoft.com/en-us/power-bi/power-bi-hyperlinks-in-tables)
* Content Sourc

[2018-07-13 19:58] maggiesMSFT commented on #78
Worked for Michael, not me.

[2018-07-13 19:58] #78 closed

[2018-07-13 19:59] maggiesMSFT opened #79 "Testing GitHub Updater again"
2nd try

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e31
* Content: [How to add a hyperlink to a table - Power BI](https://docs.microsoft.com/en-us/power-bi/power-bi-hyperlinks-in-tables#next-steps)
* Content Source: [powe

[2018-07-13 21:51] #79 closed

[2018-07-14 23:23] Wobyn opened #80 "Publish date"
Good design + fast to consume. Would like to see a publish date, so I know how current the information is given the "plan to deprecate organizational content packs soon".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbffbf18-2789-7aaa-6f21-08a2a8dd018f
* Version Independent ID: 759b3f52-ab4a-176e-5be3-6e9dc062ca82
*

[2018-07-16 18:30] jcbowyer opened #81 "Confusing description of sharing options"
"If you want to share any of your content, you have several choices: create an app workspace where you bundle content into an app and make it available to others in your organization, or create an app workspace and give colleagues access to that workspace so you can share and collaborate."   Is this supposed to say create an app workspace or an app workspace?  Perhaps it is mean to refer to conten

[2018-07-16 22:53] cwra007 opened #82 "Empty Values return upon large request"
Hi there,

For the most part I have everything running smoothly. However when I try and make large requests (a years worth of data broken out by month with a segment and a single dimension), I get no data returned. It doesn't error out, I just get 0's back for all of my metrics. The obvious answer here would be to break my pull into smaller requests, but this isn't ideal for me. The reason being i

[2018-07-17 05:50] ignatvilesov commented on #57
Hi @djpirra,

What version of pbiviz do you use? (pbiviz --version)

If it lower than 1.11.1 we would recommend to install the latest version to use `--create-cert` command to generate a new valid certificate. You can install the latest version by using this command:
[code]

[2018-07-17 09:01] karaoan opened #84 "Link for data connected with DirectQuery"
The instructions provided here for me using an SSAS source with a field with an html link simply do not work. This step is NOT possible: "Select the column, and in the Modeling tab, choose the dropdown for Data Category."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Inde

[2018-07-17 17:03] promney opened #85 "Months of Data"
In the online version of setting up Consumption Insights allow you to enter the number of months during setup. This option is missing with the desktop version. How many months of data am I getting? How do you set the months? Do you need to change the query for the usage table? It would be nice to have the option to easily add the months.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-07-17 17:51] yuedai opened #86 "Dead link in this document."
The links in following pragraph are dead (404).

For embedding for your organization, see the following walkthroughs:

Integrate a dashboard into an app
Integrate a tile into an app
Integrate a report into an app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent I

[2018-07-17 17:59] brightlight1 opened #87 "Subscription"
Do the users that i subscribe to must have licenses as well? Will i be able to schedule refreshes with one subscription if i install gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5f9906-58f7-9b21-85ee-8d33ffcbdce0
* Version Independent ID: 712e418a-5290-fe94-e9b0-6fa84ec1c7cb
* Content: [Quickstart: Purchas

[2018-07-17 18:18] markingmyname commented on #86
@yuedai Thank you for the feedback.  We did notice this, and we are working on correcting it.  The update to the article should be live in a few days.

[2018-07-18 01:06] Dan1480 opened #88 "Replacing reports and consequences on custom reports"
I think it would be useful to include a warning that to prevent users' custom reports from disappearing when replacing one report with another, the data set for the original report has to be manually included in the updated content pack.  By default the data set is removed when a report is removed and any custom reports based on that data set also become available.  There is no warning that custom

[2018-07-18 21:11] MixolydianV opened #89 "Broken links"
The links in the "Capacity Node" column of the Premium capacity nodes table (i.e. the EM1 through P3 links) require me to sign in to the Azure Portal, then throw a 404 when I do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830ea9dd-618c-897e-4cce-97edc93df585
* Version Independent ID: 135f4574-36ed-6a3b-85d4-a565c57

[2018-07-18 22:11] #86 closed

[2018-07-18 22:18] markingmyname commented on #77
@jzetterman Thank you for your feedback.  We are currently looking into this information.

[2018-07-19 02:10] sqlsauce opened #90 "Nothing about content packs vs. app workspaces?"
This self-guided learning does not appear to cover app workspaces, and instead presents content packs as a way to share reports and data. Microsoft's latest guidance is to use app workspaces instead of content packs, so please talk about app workspaces in this series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b0

[2018-07-19 10:53] RSteeno opened #91 "Confusing examples"
The sample machine names that are used in this article are confusing.  Please update them to something that can be more comprehensible to avoid confusion for the reader.  Here is a sample:

Active Directory Domain (Netbios): contoso
Gateway machine name: MYGATEWAY
Gateway service account: contoso\GatewaySvc (account display name: Gateway Connector)
SQL Server data source machine name: MYSQLServer

[2018-07-19 11:00] RSteeno opened #92 "KCD with Local SID"
The following note contains reference to the "Service SID" and is NOT clear on where kerberos configuration needs to be made when a company has AAD Sync in place.  In this case, the kerberos configuration needs to be made on the gateways computer object in Active Directory.  Since the gateway service is using a local account, that account will not be present in Active Directory.

"If AAD DirSync /

[2018-07-19 12:17] jfreel opened #93 "Date on employee table"
What is the "date" column used for and what does it represent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26de6125-fac6-cf9b-3677-861d0dd69d13
* Version Independent ID: 7ab8f758-bc5a-12b6-96ba-1b14c091811a
* Content: [Human Resources sample: Take a tour - Power BI](https://docs.microsoft.com/en-us/power-bi/sample-h

[2018-07-19 15:07] JohnYounie opened #94 "Previous Quarter Sales Measure"
I enjoyed the article but I think steps 3 and 4 are the wrong way around, CALCULATE comes before SUM.  The student should create the Measure Name = (CALCULATE(SUM(etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d4e9e4-6581-ff12-0692-304725702fd3
* Version Independent ID: da0c52bf-88cc-367a-7475-039b785188a6
* C

[2018-07-19 16:20] maggiesMSFT commented on #92
Hi, @RSteeno -- the author of this article is off on vacation, lucky man. He'll be happy to review your feedback when he returns!

[2018-07-19 16:22] maggiesMSFT commented on #91
Hi, @RSteeno -- again, the author is away and will get back to you when he returns. Thanks for your attention!

[2018-07-19 16:52] maggiesMSFT commented on #81
Hi, @jcbowyer -- good point. It should explain that you can create an app workspace, then you have two options: either add coworkers to the workspace so you can collaborate, or create an app from the workspace and distribute that to others. Does that make more sense? I can update the article to better explain.

[2018-07-19 17:34] jzetterman commented on #77
Thanks. As an FYI, I wrote the following PowerShell to get around the issue, by installing each feature one at a time.

`$array = @('Web-Server','Web-Mgmt-Tools','Web-Mgmt-Console','Web-WebServer','Web-Common-Http','Web-Default-Doc','Web-Static-Content','Web-Performance','Web-Stat-Compression','Web-Dyn-Compression','Web-Security','Web-Filtering','Web-Windows-Auth','Web-App-Dev','Web-Net-Ext45','We

[2018-07-19 17:35] jzetterman commented on #77
`test`

[2018-07-19 17:59] davidiseminger commented on #70
@Scott-Phoenix  - sorry for the confusion with that article. Let me see if I can provide more clarity in that article and improve it. Thanks for your feedback, and sorry for the inconvenience.

[2018-07-19 17:59] #70 closed

[2018-07-19 18:11] davidiseminger commented on #73
@rvenkata02 - that's a great catch! I've fixed that, should be updated in the next day or so. Thanks!

[2018-07-19 18:11] #73 closed

[2018-07-19 18:14] davidiseminger commented on #74
@Bluetaurean - thanks for your feedback. That's an engineering issue, rather than docs, so please check in with support.powerbi.com and submit there, so hopefully someone can help you there.

[2018-07-19 18:14] #74 closed

[2018-07-19 18:24] davidiseminger commented on #75
@dunxd Thanks for your feature suggestion / request, adding other folks for visibility.

[2018-07-19 18:24] #75 closed

[2018-07-19 18:25] davidiseminger commented on #82
@cwra007 - thanks for your comment. Sounds like a support request rather than doc feedback, so please try support.powerbi.com.

[2018-07-19 18:25] #82 closed

[2018-07-19 18:27] davidiseminger commented on #76
@SychevIgor - thanks for your suggestions. Try ideas.powerbi.com for submitting these request, they're more likely to get attention. Hope that helps!

[2018-07-19 18:27] #76 closed

[2018-07-19 18:28] davidiseminger commented on #80
@Wobyn - thanks for the feedback! A publish date would definitely be beneficial, I'll pass that request on.

[2018-07-19 18:28] #80 closed

[2018-07-19 18:29] davidiseminger commented on #84
@karaoan - sorry for the trouble you're having with this. You might be able to get answers using support.powerbi.com.

[2018-07-19 18:29] #84 closed

[2018-07-19 18:53] davidiseminger commented on #90
@sqlsauce - thanks for your feedback. We're in the process of updating that guidance, and will certainly cover app workspaces (instead of content packs) during that update.

[2018-07-19 18:53] #90 closed

[2018-07-19 18:54] davidiseminger commented on #94
@JohnYounie - thanks for posting! We'll look into that sequencing, and update it as needed. Appreciate your post.

[2018-07-19 18:54] #94 closed

[2018-07-19 19:00] markingmyname commented on #77
@jzetterman Thank you for the information about using PowerShell. However, since this is around the OOS install – this isn’t an RS-specific issue. Instead, it’s specific to Office Online Server and would be an issue with the install of that whether for SharePoint or PBI RS.

Here are articles describing how to install OOS and how to configure it with SP just for further reference:

OOS install - h

[2018-07-19 19:05] #77 closed

[2018-07-19 19:22] RSteeno commented on #92
Great. Thanks for letting me know.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Maggie Sparkman <notifications@github.com>
Sent: Thursday, July 19, 2018 11:20:30 AM
To: MicrosoftDocs/powerbi-docs
Cc: RSteeno; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] KCD with Local SID (#92)

Hi, @RSteeno<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%

[2018-07-19 20:45] riaanbrits opened #96 ""Publish to web does not currently support R visuals"."
The message "Publish to web does not currently support R visuals". appears when publishing a report that contains an R visual. This is kinda relevant... I just wasted time building a report containing R visuals which now cant be published to web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 000c7cf3-dbf4-92c6-3eb6-83

[2018-07-20 00:18] maggiesMSFT commented on #81
I'll update the article. Thanks, @jcbowyer!

[2018-07-20 00:18] #81 closed

[2018-07-20 00:19] maggiesMSFT commented on #96
Thanks for your feedback, @riaanbrits! I've notified the author.

[2018-07-20 00:25] maggiesMSFT commented on #88
Thanks, @Dan1480!  I updated the article.

[2018-07-20 00:25] #88 closed

[2018-07-20 00:27] maggiesMSFT commented on #72
Hi, @danievalle -- thanks for your question! When we replace content packs with apps, apps will be changing, too. Stay tuned!

[2018-07-20 00:27] #72 closed

[2018-07-20 00:35] Dan1480 commented on #88
Thanks Maggie.  Although I can't see your changes?  The new version hasn't
been published yet?
Cheers,
Daniel

On Fri, 20 Jul 2018 at 10:26, Maggie Sparkman <notifications@github.com>
wrote:

[2018-07-20 00:36] maggiesMSFT commented on #61
Hi, @CarlMagnusC -- thanks for your question! If I understand correctly, you've received a Power BI report, a PBIX file, via email. Right? And you have the Power BI mobile app for iOS? Or you're trying to view it on the Mac?
Either way, you and the person who created it need Power BI Pro licenses, and the creator needs to publish it to the Power BI service on the web. Then you can view it in a bro

[2018-07-20 00:36] #61 closed

[2018-07-20 00:39] maggiesMSFT commented on #88
Oh, yes, @Dan1480, I should've mentioned. You should be able to see the changes tomorrow afternoon. Thanks!

[2018-07-20 05:16] CarlMagnusC commented on #61
However, my college that uses a PC can be Viewed with the trial licence... and We are evaluating it together.

Br, Carl-Magnus

Sent from my iPhone

On 20 Jul 2018, at 3.36, Maggie Sparkman <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #61<https://github.com/MicrosoftDocs/powerbi-docs/issues/61>.

—
You are receiving this because you were mentioned.
Reply to this email

[2018-07-20 08:57] ghost opened #98 "Software Developer / Architect"
Fantastic facility, but documentation sadly lacking; the basic structure and the short example are a good start, but the huge json above is of little use; suggest what we need is a series of small examples, each focusing on a different aspect, of which colour is only one (current help focuses almost exclusively on colour)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-20 11:08] mparowski opened #99 "Misleading information about App Workspace visibility"
In the section above about creating app workspaces (https://docs.microsoft.com/en-us/power-bi/developer/embedding-content#appws), it says that setting a workspace as Public will allow users to see all content.  From my own testing, this refers only to the relationship the workspace has with Office 365 groups and related content.  Only *members* of the workspace are actually able to see Power BI co

[2018-07-23 06:32] SanthaV2 opened #101 "Spelling mistake"
The following sections describe the installation of each version, in turn. You can choose one or the other connector when "connectint" to SAP BW from Power BI Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ffc50e-bb57-9a79-ab89-2cbd9ca1e335
* Version Independent ID: c0a48358-4144-6d9f-f4c0-b2747b091bf9
* Con

[2018-07-23 07:45] mostafiz93 opened #102 "Is this possible to do the same in Power Bi Web?"
Is this possible to do the same in Power Bi Web?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e8e549-7fba-9ece-3e32-73a0cc3c6046
* Version Independent ID: a9b39810-c302-c153-3123-ddb8f459e9f4
* Content: [Add a custom column in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-add-custom

[2018-07-23 10:45] dairecunningham commented on #69
Any update on this? What are the current max dataset size limits for the five nodes?

[2018-07-23 14:55] shakanand opened #103 "AppWorks Space and Apps - Roapmap"
The below blog mentions that there are plans to improve the workspace and app experience.  Can you please share the link to roadmap blog that is referred below.  I would like to understand if we are going to have a Many to Many relationship between workspace and apps ?

You can create multiple content packs from any workspace, but an app has a 1:1 relationship with its workspace. We believe this m

[2018-07-23 17:29] Powerhelmsman opened #104 "More Information on R Packages Supported by Power BI Service"
This issue was created by @enterprisecommunity-dsa from https://github.com/MicrosoftDocs/feedback/issues/545
In the article "R packages in the Power BI service", can the list of supported packages be improved to give more information? I am attempting to browse the list to find a package which has functionality similar to the package I have been using in development, but with no information other t

[2018-07-23 19:44] maggiesMSFT commented on #103
Hi, @shakanand -- Thanks for your question! I'll check and get back to you.

[2018-07-23 19:58] Derwilf opened #105 "Bookmarks and date hierarchies"
Hello, I am trying to create bookmarks in my report. The report contains a date hierarchy, and the goal is to use the bookmark feature to switch between a monthly report and a weekly report. I have two bookmarks, one with a drill down on month and the other with a drill down on week. Switching bookmarks changes filters, but only keeps the last drill down state. Are there any plans to fix that, I a

[2018-07-24 08:06] shitalneralkar opened #107 "Power BI Guided Learning - visualization"
This training/learning video is awesome
All contents has very clear understanding and very good demo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08962cd6-cbb2-3342-09df-aa199623e9fb
* Version Independent ID: d4ebdf44-cde2-82b6-3f82-8524f370d980
* Content: [Visualizations - Power BI](https://docs.microsoft.com/en-us

[2018-07-24 16:26] keithspitz opened #109 "Install Out Of Date"
Running "npm" command yields MANY warnings about out of date or risky components being installed.  This should be maintained/updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de943
* Content: [Use developer tools to crea

[2018-07-24 20:20] markingmyname commented on #99
Thank you for your feedback.  We will look into this, so it's addressed.

[2018-07-25 09:52] matthiasvanneste opened #110 "Compatibility with a non default language PWA site"
Our PWA site has been setup using Dutch as our default language. I'm assuming this is why installing the PWA app fails in our Power BI instance. Is there currently a way to make this work on PWA sites that don't use any of the default languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8a7a22-e258-4da3-4c55-6dd

[2018-07-25 11:37] alokgupta1986 opened #111 "Sharing"
Should have more options for collaboration!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f47742-00cf-eac0-7880-18eb5e988003
* Version Independent ID: 0010dce8-b1e0-b1b4-9840-ff2c3e32b53e
* Content: [Share Power BI dashboards and reports with coworkers and others - Power BI](https://docs.microsoft.com/en-us/power-b

[2018-07-25 15:48] ryanbooz opened #112 "Federated Azure AD workflow does not support OAuth2/Modern Auth"
When following the "App Owns Data" sample, we were getting an authorization error on the "AcquireAsyncToken" request because we use federated Azure AD with our internal ADFS SSO server. The request was correctly forwarded to our SSO server, but the request was denied access because we require Modern Authentication with mulit-factor auth.

I can only assume the reason that this workflow isn't suppo

[2018-07-25 16:40] maggiesMSFT commented on #111
Hi, @alokgupta1986 -- Thanks for your comment! It seems more like feedback about the product than about the documentation. Here's the Power BI product feedback site: https://ideas.powerbi.com/forums/265200-power-bi. Search to see if anyone else has raised a similar issue. If they have, you can vote for it. If not, create a new issue. Good luck!

[2018-07-25 16:40] #111 closed

[2018-07-25 16:43] maggiesMSFT commented on #110
Hi, @matthiasvanneste -- Thanks for your question. I've assigned it to the author, @SarinaJoan. I suggest also trying the community site, https://community.powerbi.com/. Good luck!

[2018-07-25 16:46] maggiesMSFT commented on #107
Hi, @shitalneralkar -- Thanks for the feedback! I'll let the author, @davidiseminger, know. We're glad you appreciated it and hope it helps you learn how best to use Power BI!

[2018-07-25 16:46] #107 closed

[2018-07-25 21:31] vsevolodts opened #113 "Descending icon is not shown"
When selecting axis values as a sorting option it is not possible to select Descending. The icon is greyed out and when selected the sorting is switching to sorting by values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d720907-1bee-2523-b53b-a1f2ffad1bfc
* Version Independent ID: b5a1765e-8008-af99-e82f-4e694fb0c7

[2018-07-25 23:46] maggiesMSFT commented on #105
Hi @Derwilf -- this sounds like a product question rather than about the docs. I recommend asking in the Power BI Community, https://community.powerbi.com/. Thanks!

[2018-07-25 23:46] #105 closed

[2018-07-25 23:47] #110 closed

[2018-07-26 00:42] aldupler opened #114 "Composite is spelled wrong"
Composite is spelled wrong in the first sentence of the section "Setting Storage Mode". :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dffd6b4-434b-868e-56fe-a0f53fb655a1
* Version Independent ID: 894f109f-c20b-c9f3-0e42-f6980d454075
* Content: [Use Composite Models in Power BI Desktop (Preview) - Power BI](https:/

[2018-07-26 00:49] maggiesMSFT commented on #114
Good catch, @aldupler! We add those mistakes on purpose just to see if anyone's paying attention... NOT! I'll let @davidiseminger know. Thanks!

[2018-07-26 05:10] cjmuldoon opened #115 "Issues since recent update appearing to be linked to COMPOSITE"
Since this update I have had to re-publish all of my reports using DirectQuery otherwise no data is presented from the models. I'm also hitting an error with a couple reports that say I can't publish it because it's using COMPOSITE, when it says it's actually using DirectQuery and no changes were made since last publishing.

---
#### Document details

⚠ *Do not edit this section. It is required fo

[2018-07-26 16:33] maggiesMSFT commented on #115
Hi, @cjmuldoon -- Sorry to hear it. Sounds more like a product issue than a docs issue. I recommend checking on https://community.powerbi.com/ to see if others are reporting similar issues. Thanks!

[2018-07-26 16:33] #115 closed

[2018-07-26 18:11] cpcodes opened #116 "Instructions for updating are dangerously false"
The instructions state: "Note that updating the On-premises data gateway is achieved by reinstalling the gateway, as described in this section. When updating the gateway (by reinstalling), your existing gateways settings are retained."

Attempting to install over an existing installation results in the installer failing with the instruction that "The on-premises data gateway installation has faile

[2018-07-26 18:47] patrickgans opened #117 "Old link to SAP in 'Installation of Implementation 2.0 SAP Connector'"
The new link should be:
https://support.sap.com/en/product/connectors/msnet.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ffc50e-bb57-9a79-ab89-2cbd9ca1e335
* Version Independent ID: c0a48358-4144-6d9f-f4c0-b2747b091bf9
* Content: [Use the SAP BW Connector in Power BI Desktop - Power BI](https://docs.microsoft.

[2018-07-26 19:13] davidiseminger commented on #114
@aldupler - thanks for the close read! Had an extra n in there, it somehow snuck in. Fixed it, and it'll be updated within a day or so. Thanks!

[2018-07-26 19:13] #114 closed

[2018-07-26 19:16] davidiseminger commented on #104
@Powerhelmsman - thanks for your suggestion and request. I've recently updated the list of supported R packages, so hopefully that's useful. Adding more information can create an update issue (how to monitor when those change, and keep it fresh) but I'll discuss with the engineering team. Thanks for the feedback!

[2018-07-26 19:16] #104 closed

[2018-07-26 19:33] thesqlgeek opened #118 "USEREALTIONSHIP BREAKS"
When using RLS in SSAS you can no longer use the DAX USEREALTIONSHIP command.  An error orccurs.  This needs to be documented.  I am a MSFT Employee and we have a few customers that are running into this once implementing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f15bd37b-39fb-3d45-029c-1bb01c7b4cf1
* Version Ind

[2018-07-26 19:33] davidiseminger commented on #117
Great! Thanks for the update @patrickgans - I've updated the link, the change should show up in a day or so.

[2018-07-26 19:33] #117 closed

[2018-07-26 19:34] maggiesMSFT commented on #116
Hi, @cpcodes -- Thanks for the feedback! The author for this article, @mgblythe, is currently away. He'll review your feedback when he returns. Thanks!

[2018-07-26 19:43] maggiesMSFT commented on #118
Hi, @thesqlgeek -- Thanks! I'll share your feedback with the author, @selvarms.

[2018-07-26 19:43] markingmyname commented on #112
@ryanbooz  Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2018-07-26 20:34] markingmyname commented on #109
@ignatvilesov Please review.

[2018-07-26 20:41] markingmyname commented on #99
@mparowski Please reference articles - https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers or https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization for specific information on embedding applications depending on your audience.  Thank you.

[2018-07-26 20:42] #99 closed

[2018-07-27 06:23] ignatvilesov commented on #109
This is a known issue as PBIVIZ dependencies are out of date. We're implementing a new PBIVIZ with updated dependencies and better developer experience.
This version is supporting ES2015 modules and other modern features.

[2018-07-27 08:21] kasajian opened #119 "404 error on writing rows"
In order for this code to run, you cannot have any other datasets already on the site.

The code:
`datasetId = results["value"][0]`

gets the dataset Id of the first dataset on the site, which is not necessarily the dataset the code just created.

In for the code to work as-is, the first dataset must be the dataset that just got created, and in order for that to be the case, no other datasets can

[2018-07-27 14:04] ryanbooz commented on #112
Thanks @markingmyname . We were able to get it to work by calling the token endpoint directly (https://login.microsoftonline.com/common/oauth2/token) with the appropriate parameters as a few others have suggested, which gets the access token. So that might simply be all that needs to be added to the docs and/or example, but worth knowing for .NET Core 2+ apps.

Thanks!

[2018-07-27 15:01] #109 closed

[2018-07-27 15:01] #57 closed

[2018-07-27 15:18] markingmyname commented on #112
Thank you again @ryanbooz for the helpful information.

Below is the outcome of the discussions around this topic.

Master users that are unable to pass through federation auth types is not a PBI issue, but more of an AAD restriction.

1.    We are working on a real and right solution for this – app-only authentication.
2.    Meanwhile, creating a non-federated user (and adapting licenses and perm

[2018-07-27 15:35] markingmyname commented on #119
Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-07-27 16:16] markingmyname commented on #96
@riaanbrits  R visuals are not supported by the Publish toWeb feature. This article lists the Publish to Web limitations - https://docs.microsoft.com/en-us/power-bi/service-publish-to-web.

[2018-07-27 17:39] davidiseminger commented on #56
Updated the doc with a download link to the workbook. @Skit-FW thanks again for pointing that out!

[2018-07-27 17:39] #56 closed

[2018-07-27 18:41] ryanbooz commented on #112
@markingmyname  I do want to apologize for adding that second comment. I had gotten past the AAD issue with the non-SSO user and then got stuck with the .NET Core 2 authentication issue and got confused when responding.

What I meant to say was that after deciding to implement your option #2 (non-federated user), I ran into further authentication issues with the PowerBI Embedded SDK trying to auth

[2018-07-27 20:45] fpk3 opened #120 "Please document visualHeader enhancements from July 2018"
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use Report Themes in Power BI Desktop (Preview) - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-report-themes)
* Content Source: [powerbi-d

[2018-07-28 05:30] hoterdany opened #121 "Many typos"
In this article there are quite a few typos
Example:
Many to Many relationships is in Preview, and while it Preview

Missing while it is in Preview

Another:
and revoving prior work-arounds such

If City were also added to that visual, then whie the population per City is known,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-28 19:47] maggiesMSFT commented on #121
Hi, @hoterdany -- say, don't  I know you from somewhere...? Hi! I've assigned this to the writer, @davidiseminger.  This is great - thanks for the feedback. You know what? You can also just click the little edit pencil in the upper-right corner, make these changes, and submit a pull request! Then @davidiseminger can just review and accept your suggestions. Just sayin'...

[2018-07-28 19:49] maggiesMSFT commented on #120
Hi, @fpk3 -- thanks for the suggestion! I've passed it along to the author, @davidiseminger

[2018-07-29 04:03] hoterdany commented on #121
Long time Maggie
I’ll submitting the changes myself next time

On Sat, 28 Jul 2018 at 22:47 Maggie Sparkman <notifications@github.com>
wrote:

--
Dany Hoter

[2018-07-30 01:00] RodrigoSeer opened #122 "BankRate Data Incorrect"
Some of the column titles where different between what the tutorial states and what is actually pulled from the link.

The Senior column does not come with the BankRate data

It seems that this tutorial may need to be revised with the current data that is being pulled. Nothing major the tutorial can still be accomplished once we realize what is missing or named differently.

---
#### Document Deta

[2018-07-30 14:20] DeanGross opened #123 "Version Numbering"
When I open the Power BI desktop app from the Windows Store, the About screen shows Version 3218.30725.1673 and the What's new screen discusses versions 1673, 1657, 1633 and 1609. None of those numbers correlate with any of the information on this page which is not consistent with the phrase "The monthly versions are the same, regardless of which way you install Power BI Desktop". Please revise th

[2018-07-30 14:30] DeanGross opened #124 "Page Length"
There are so many versions listed I have to use 2 different vertical scroll bars to navigate the page. It might be helpful if the older updates were moved onto separate pages, maybe one page per year or an archive page would make it easier to navigate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f23670-d83a-dffc-c

[2018-07-30 16:55] maggiesMSFT commented on #122
Hi @RodrigoSeer -- thanks for the feedback! I'm assigning to the author to look at it and get back to you.

[2018-07-30 16:57] maggiesMSFT commented on #124
Hi, @DeanGross -- Thanks for your comment! I'm assigning it to the author to get back to you.

[2018-07-30 16:58] maggiesMSFT commented on #123
Hi @DeanGross  Good question! I've assigned to the author to get back to you.

[2018-07-30 16:59] davidiseminger commented on #120
Hi @fpk3 - they're already documented. Check out https://docs.microsoft.com/power-bi/desktop-visual-elements-for-reports#using-improved-visual-headers-in-power-bi-reports. Thanks for posting.

[2018-07-30 16:59] #120 closed

[2018-07-30 17:43] fpk3 opened #125 "Is this supported in custom themes yet?"
"visualHeader": [{
                    "show": false
                }]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db547626-10e8-5ea4-e1c3-7da6c236ce9f
* Version Independent ID: 4529c3a6-1f8f-2e8c-4eaf-9bde90c4df54
* Content: [Use visual elements to enhance Power BI reports - Power BI](https://docs.microsoft.com/en

[2018-07-30 22:59] AnthonyBe opened #126 "Needs addition of using Power BI Desktop"
This page doesn't include how to do this when using Power BI Desktop and it seems to be quite different. Please update the article to include how to use Excel workbook, stored in OneDrive for Business/SharePoint Online, as a datasource so that a scheduled refresh can be performed on the dataset once it is published.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-07-31 00:32] markingmyname commented on #112
@ryanbooz We are aware of the limitations surrounding .Net Core. We are planning to address this limitation with one of the suggested solutions offered earlier with app-only authentication.

Thank you again for your feedback.

[2018-07-31 00:32] #112 closed

[2018-07-31 01:03] RavinderSunkara opened #127 "DAX Basics"
Very useful videos and nicely blended to understand the topics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/introduc

[2018-07-31 01:24] maggiesMSFT commented on #127
Great, @RavinderSunkara -- glad to hear it! I'll let the writer know.

[2018-07-31 03:33] anandavnz opened #128 "Time intelligence functions in DirectQuery mode"
Hi,
Is the limitations on Time Intelligence functions removed when composite mode is enabled?
The option "Allow unrestricted measures in DirectQuery mode" under DirectQuery disappears when Composite mode is enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d807f76-0284-c917-4e56-b5c897c9ed61
* Version Independen

[2018-07-31 07:42] cbailiss opened #129 "Finding dataset for a given error"
It would be helpful if the documentation could answer this question:
Probably like most organisations using the Gateway, we have many users refreshing datasets via the Gateway.  I see some errors in the Gateway log files, but I don't know which datasets they relate to.  How can I find the dataset for a given error?
The new Power BI PowerShell commandlets allow me to list all datasets in the tenant

[2018-07-31 15:45] maggiesMSFT commented on #126
Thanks for contacting us, @AnthonyBe! I've let the author know you have a comment.

[2018-07-31 15:46] maggiesMSFT commented on #125
Thanks, @fpk3! I've alerted the author that you have a question.

[2018-07-31 15:49] maggiesMSFT commented on #128
Hi, @anandavnz -- thanks for contacting us! I've let the author know you have a question.

[2018-07-31 15:51] maggiesMSFT commented on #129
Hi, @cbailiss -- thanks for contacting us! The author of this article is out this week, but will be back next week. In the meantime, if you'd like you can try asking in https://community.powerbi.com/.

[2018-07-31 17:10] JuanPerezHdz opened #130 "Useless!!!"
Useless if you can't publish to power bi service!! I need to use many to many relationships and I can only use it on Power Bi Desktop. Please don't release something if it's not going to work properly!! I was so excited about this new feature and I'm already using M:M but now I have to change everything!! So disappointed!!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-31 17:22] JuanPerezHdz opened #131 "Useless!!"
Useless if you can't publish to power bi service!! I need to use many to many relationships and I can only use it on Power Bi Desktop. Please don't release something if it's not going to work properly!! I was so excited about this new feature and I'm already using M:M but now I have to change everything!! So disappointed!!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-31 17:27] davidiseminger commented on #122
Thanks for your comment @RodrigoSeer - we'll put that in the list of updates we do. Note that there may be other pressing work before we get to this, but it's a reasonable request.

[2018-07-31 17:27] #122 closed

[2018-07-31 17:28] davidiseminger commented on #123
Thanks @DeanGross - I'll bring this up with engineering and see how we can better clarify it.

[2018-07-31 17:29] davidiseminger commented on #124
Thanks for the suggestion @DeanGross - yes, there have been many updates, and the page does get long.

[2018-07-31 17:29] #124 closed

[2018-07-31 17:30] davidiseminger commented on #126
@AnthonyBe - thanks for the suggestion. Let me look into adding that.

[2018-07-31 17:30] davidiseminger commented on #127
@RavinderSunkara - glad you like it! Thanks for the nice comment.

[2018-07-31 17:30] #127 closed

[2018-07-31 17:33] davidiseminger commented on #128
@anandavnz - thanks for your question, that's a question you'll need to check with support on, at support.powerbi.com. Also please note that this is currently a Preview feature, so it may change in the future.

[2018-07-31 17:33] #128 closed

[2018-07-31 17:36] davidiseminger commented on #131
Hi @JuanPerezHdz - thanks for your comment. Did you see that this is a Preview feature? That means it's not a generally available (GA) feature (yet), and is out there for feedback and to test with users. Limitations such as being unable to publish to the Power BI service may be removed when it reaches GA.

[2018-07-31 17:36] #131 closed

[2018-07-31 23:52] Analytis opened #132 "M"
M

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff1b7488-9278-5b12-2025-9d602c113ecd
* Version Independent ID: dbe2cb00-7ab7-5c58-e902-234f0f3ae39c
* Content: [Connect to Google Analytics with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-connect-to-google-analytics)
* Content Source: [powerbi

[2018-08-01 07:39] yoshihirok opened #133 "Please add Azure Databricks to this list."
Power BI Desktop can use Azure Databricks as the data source of DirectQuery.
and Azure Databricks based on Spark,
so Please add Azure Databricks to this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3332c2-1973-ba6d-8b13-20185f3178a8
* Version Independent ID: 09b16196-3c5e-8a12-edee-d1c095ebc6d0
* Content: [Da

[2018-08-01 15:59] markingmyname commented on #119
Although, we specify that we “//Get the first id,” the code is not accurate. The correct thing to do is search the dataset by name.  I will add some content to reference this.  Thank you again for your feedback.

[2018-08-01 15:59] #119 closed

[2018-08-01 21:22] LisandroSu opened #135 "Requirements"
@DaveRuijter commented on [Sat Jul 14 2018](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/4)

I expect the licensing requirements for SharePoint embedding to be mentioned here.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8af

[2018-08-01 21:25] LisandroSu opened #136 "non-profit pricing plan is not available"
@chrsh18 commented on [Sat Jul 14 2018](https://github.com/MicrosoftDocs/powerbi-docs.de-de/issues/2)

The non-profit pricing plan is not available, link is broken. Please fix this. TIA

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: d877b0ce-2e0b-dca4-709d-24b4e5a374b4
* Version Indepen

[2018-08-01 21:30] LisandroSu commented on #136
Hi team,

The link reported by the user is not working.

Thanks.

[2018-08-01 22:51] maggiesMSFT commented on #136
Thanks, @chrsh18 and @LisandroSu -- I found this link, https://www.microsoft.com/en-us/nonprofits/power-bi, and will update the article.

[2018-08-01 22:53] maggiesMSFT commented on #132
Hi @Analytis -- I"m not sure what you're looking for. Can you elaborate? Thanks!

[2018-08-01 22:53] #132 closed

[2018-08-01 22:55] maggiesMSFT commented on #130
Sorry to hear it, @JuanPerezHdz! I recommend clicking the Product Feedback link at the bottom of this page instead of the Content Feedback link. Thanks!

[2018-08-01 22:55] #130 closed

[2018-08-01 22:56] maggiesMSFT commented on #133
Hi, @yoshihirok -- thanks for your feedback! I've let the writer know.

[2018-08-02 01:21] chrisweis opened #137 "App Registration permissions need broader documentation"
Hello,

This table lists some Power BI scope values and descriptions, but it doesn't include all the values listed in Azure Active Directory's App Registration permissions.  For example, Tenant.Read.All (we can't tell if that allows only access to Power BI or the entire O365 tenant).  Please create more clear documentation about ALL of the Power BI security permissions, in a single place, rather t

[2018-08-02 02:29] maggiesMSFT commented on #137
Thanks for the feedback, @chrisweis! I'll pass it along to the author.

[2018-08-02 03:39] markingmyname commented on #69
@dairecunningham Thanks so much for contacting us! The author of this article is away on vacation. I'll try to check into it.

[2018-08-02 08:19] vikasbansalcse opened #138 "Provide Test file"
In each documentation, whatever file you use for explaining concept (such as in this doc you used, KPIs workbook), Do provide that file link somewhere so that we can have hands on practice to feel confidant.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa598a25-4c63-01da-accd-1b4782ad0991
* Version Independent

[2018-08-02 09:47] yoshihirok opened #139 "Please add "No need Java code" description to Spark, Azure Databricks, Apache Spark for Azure HDInsight"
"No need Java code" mean that Citizen analysts can use the data on Spark/Azure Databricks by Power BI,
many person, many workers can analyze.

and Spark documents usually use Java code to use it, and dose NOT write that Power BI can use the data without Java code.
So, I hope to add "No need Java code" description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-08-02 11:26] AlanPBourke opened #140 "REST API V2"
Badly need examples based on REST API V2 and async operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6192675-1fad-3f96-36c7-16a54075a060
* Version Independent ID: 8aa38db1-1768-3588-1517-d0ddd2b10a7d
* Content: [Push data into a dataset - Power BI](https://docs.microsoft.com/en-us/power-bi/developer/walkthrou

[2018-08-02 12:56] DavidPrio commented on #135
Hi @markingmyname I am not author for this. Please reassign accordingly. Thanks!
@Sara-Nicolini FYI

[2018-08-02 15:52] markingmyname commented on #137
Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-02 16:30] maggiesMSFT commented on #139
Thanks, @yoshihirok! I'll pass your feedback along to the author.

[2018-08-02 16:31] maggiesMSFT commented on #140
Thanks @AlanPBourke! I'm passing your feedback on to the author.

[2018-08-02 16:32] maggiesMSFT commented on #138
Thanks for the suggestion, @vikasbansalcse! I'm passing it on to the author.

[2018-08-02 16:41] markingmyname commented on #135
Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-08-02 19:18] davidiseminger commented on #138
Thanks for the suggestion, @vikasbansalcse - we do have many samples available, and will consider adding these as well.

[2018-08-02 19:18] #138 closed

[2018-08-02 21:02] kfollmer24 opened #141 "Dashboard Theme Images"
I'm excited about using a custom image as a background to my dashboard, but does it have to be a publicly available image? Will this change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b534707-1253-6a56-5b6e-d69edf32e1ab
* Version Independent ID: 34be0bef-858c-658f-4bbd-dc4da405759c
* Content: [Use dashboard themes

[2018-08-03 07:58] Emuntean opened #142 "Practice material used by the trainer"
I would be great to have access to the sample data files used in the examples provided.
Good to review the practices.
Attachments to be provided to each example should be useful.
rgs,
Eugen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Independent ID: b89aefeb-6cc8-4874-e

[2018-08-03 11:44] RahnL opened #143 "Sales by Product data selection"
In "Build and Publish a Report",
In step 6, is says to select Category and Sales, but the chart is below that shows Sales by Product.

To get the matching chart, select Product and Sales.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f589c5a-4ee4-be0e-85d1-af9953969631
* Version Independent ID: 0ccf859d-8b81-9d01-62a

[2018-08-03 16:54] maggiesMSFT commented on #143
Thanks @RahnL! I'll let the author know.

[2018-08-03 16:55] maggiesMSFT commented on #142
Thanks, @Emuntean -- interesting idea! I've let the author know.

[2018-08-03 16:57] maggiesMSFT commented on #141
Good question, @kfollmer24! I've pinged the author.

[2018-08-03 18:08] cy2k opened #144 "Multiple themes within one report"
The custom report themes are great, but what we really need is the ability to have multiple color themes within one report, within one page.  I need to be able to have a particular color scheme for a bar chart, and then have a donut chart with different colors.  Because it can be confusing for people when they see charts with different data but have similar colors; it makes it seem like the data i

[2018-08-05 10:52] yoshihirok opened #145 "I want Data Sources supported by "Live Connection", too"
This content is nice, "Data sources supported by DirectQuery".
Next, I want new content "Data sources by Live Connection", too.

for create a Data Model by know which Data sources connected Import or DirectQuery or Live Connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3332c2-1973-ba6d-8b13-20185f3178a8
* Ve

[2018-08-05 10:59] yoshihirok commented on #145
and Now, Power BI can connect multiple Data Sources supported by both Import and DirectQuery.
therefore, I want The List of Data Source supported by Live Connection.

[2018-08-06 02:51] dadadance opened #146 "Publish to web - removed?"
I can't find it, was it removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-publish-to-web)
* Content Source: [po

[2018-08-06 10:42] DaveRuijter opened #147 "Whitepapers"
You should add a link to the Power BI whitepapers overview as a 'resource' in the menu on the left:
https://docs.microsoft.com/nl-nl/power-bi/whitepapers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba176b5-d050-3be8-cc69-d8534b7e1982
* Version Independent ID: 8284cd12-eae5-29ea-7c19-3b6ef883355e
* Content: [Governa

[2018-08-06 14:43] LucLabelle opened #148 "Add HDFS/Spark to documentation for SSO"
Hi,

SSO is now supported with the Spark connector. It would be nice if the documentation mentioned it.

I hope this helps,
Thanks,

[2018-08-06 20:18] maggiesMSFT commented on #136
Hi @chrsh18  and @LisandroSu, I've updated the link. It'll be live later this afternoon. Thanks!

[2018-08-06 20:18] #136 closed

[2018-08-07 17:42] lfjhickory commented on #62
HI @thesmarthomeninja , did you ever get a solution for this? The same thing happens to me when I attempt to use the connector.

[2018-08-07 20:50] mgblythe commented on #148
Thanks @LucLabelle, assigning to the writer to fix. She is on vacation but will address when she returns.

[2018-08-07 21:20] karissashapard opened #149 "Composite Model Implementation?"
When will the feature be able to be pushed up to the Power BI Service? I created a whole report based on this feature (its a good improvement) and want to know if that is something that will become usable in the near future

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dffd6b4-434b-868e-56fe-a0f53fb655a1
* Version In

[2018-08-07 22:00] tdexterus opened #150 "Nice feature, needs to be more open"
We are looking for a way for our users to have a one stop shop for things like time, geog, sales, hr and product hierarchies. It would be great to set these up on a central data model and allow folks to hit it and join their own data to the standard data sets. This doesnt quite fit the bill :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-07 22:14] thesmarthomeninja commented on #62
No, I could never figure it out. Seems like a broken feature or bug of some
sort. Thanks for responding, I was curious if it was just me!

On Aug 7, 2018 10:42 AM, "lfjhickory" <notifications@github.com> wrote:

HI @thesmarthomeninja <https://github.com/thesmarthomeninja> , did you ever
get a solution for this? The same thing happens to me when I attempt to use
the connector.

—
You are receiving

[2018-08-07 22:28] leor333 opened #151 "Saving In Previous State before Composite Models"
If you open a work book and save with a composite model as a new preview option. We need documentation and the ability to save the workbook in the previous state so we can publish to server.

[2018-08-08 00:15] designertechno opened #152 "Wrong Account"
The guide says: "Step 6 Sign up for Power BI with your user account that you created in step 5." However the user created in Step 5 was only a "User" not a Global Admin. So when you log into Azure in the next module for Embed Power Bi you will have the wrong user type. It should be made clear that Power BI Pro account need to be created with  Global Admin Account, and it is with this account that

[2018-08-08 09:29] Anmolgan81 opened #153 "What is required if I wanted to connect different MSSQL onpremise servers and build a powerbi report"
Can I use the data gateway for MSSQL Servers that are located in different regions and build a powerbi report by using all the data sources all together?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Content: [On-prem

[2018-08-08 13:04] ChipDale66 commented on #98
excellent site here to create files for you - https://powerbi.tips/tools/report-theme-generator-v3/

[2018-08-08 13:05] ChipDale66 commented on #144
this allows you to do just that i.e. have a particular color scheme for a bar chart, and then have a donut chart with different colors. Just define different colours for each type of chart.

[2018-08-09 13:20] jenseggerath opened #154 "Personal pro license"
If I already have a personal Power BI Pro license with another account - like a private one - , will I be able to use/import that license in an existing Office 365 environment?

Regards,
  Jens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5f9906-58f7-9b21-85ee-8d33ffcbdce0
* Version Independent ID: 712e418a-5290-f

[2018-08-09 16:17] Yettybrown opened #155 "KPI VISUALS - POWER BI MICROSOFT DOCS"
Very well explained thank you very much !!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08417ab2-2284-2bef-1573-cd3133c0ade6
* Version Independent ID: afb0a0e3-e502-92b9-4a82-606bf6ed8334
* Content: [KPI visuals - Power BI](https://docs.microsoft.com/en-us/power-bi/power-bi-visualization-kpi)
* Content Source: [powe

[2018-08-09 20:37] LisandroSu opened #156 "Granting access to reports"
@DaveRuijter commented on [Sat Jul 14 2018](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/3)

You suggest granting users access to the report by pinning a visual to a dashboard and sharing that dashboard. Since we now can share reports directly, probably that's a better suggestion.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen

[2018-08-09 20:38] LisandroSu commented on #156
Hi team,

Can you check on the issue reported by the user?

Thanks!

[2018-08-09 21:12] CeciAc opened #157 "Update list"
@DaveRuijter commented on [Mon Aug 06 2018](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/6)

Please keep the list of audited actions up-to-date.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-1293-1264-3214cc4b6dc

[2018-08-09 21:15] CeciAc commented on #157
Hi team,
I'm moving this here since the user reports out of date data.

Kind regards,
Microsoft DOCS International Team

[2018-08-10 04:25] salils123 opened #158 "Starting with the August '2017' , 2017 should be 2018 in the beginning of article"
Starting with the August '2017'  , 2017 should be 2018 in the beginning of article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c901a3b2-3c35-bb07-b3ed-e7784808f09b
* Version Independent ID: cb24afe9-f74f-dd94-03de-e9e0c7c39045
* Content: [Using What if parameters to visualize variables in Power BI Desktop - Power BI

[2018-08-10 08:52] hrjoshi opened #159 "How to assign "My Workspace" to Premium capacity?"
In Known issues section, it is mentioned that "If the My Workspace is in a Premium capacity, then free users and user groups will receive the emails.".
How do we assign "My Workspace" to premium?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-

[2018-08-10 17:46] davidiseminger commented on #125
Hi @fpk3 - looks like you have product feedback or a support question, rather than a comment on docs. Please use the other link, or check out support.powerbi.com.

[2018-08-10 17:46] #125 closed

[2018-08-10 17:51] davidiseminger commented on #126
Thanks for your feedback @AnthonyBe - you can create a dataset in Power BI Desktop using Excel, publish it to the service, then set the refresh schedule as another way of achieving this. Let me look into whether including Desktop steps in this article would help though - thanks!

[2018-08-10 17:51] #126 closed

[2018-08-10 18:03] davidiseminger commented on #133
Thanks for your comment and update, I've added Azure Data Bricks to the list. Should show up in the next couple of days. Thanks @yoshihirok

[2018-08-10 18:03] #133 closed

[2018-08-10 18:05] davidiseminger commented on #139
Thanks for your comments @yoshihirok, I'll pass this to the engineering team for confirmation.

[2018-08-10 18:05] #139 closed

[2018-08-10 18:09] davidiseminger commented on #142
Thanks for your comment @Emuntean - some of our docs do include the data used in the demo, but not all. In the future, we'll try to add a link to those so you can use them yourself. Thanks!

[2018-08-10 18:09] #142 closed

[2018-08-10 18:09] gunarvingren opened #160 "What about Power BI Report Server?"
I am currently not able to perform this action on the Power BI Report Server with in my company intranet. Could you tell me how I can achieve this? Within My Workspace I can not find the Analyze in Excel option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID

[2018-08-10 18:11] davidiseminger commented on #144
Thanks for your comment @cy2k - sounds like this is a feature request rather than doc feedback, so please use the ideas.powerbi.com venue for that. Also, the Power BI blog (https://powerbi.microsoft.com/blog/) has links to providing feedback on recent feature releases, so check that out as well to provide feedback or requests.

[2018-08-10 18:11] #144 closed

[2018-08-10 18:12] davidiseminger commented on #145
Thanks for your comment @yoshihirok - please see the Data Sources article for information about supported data sources. https://docs.microsoft.com/power-bi/desktop-data-sources

[2018-08-10 18:12] #145 closed

[2018-08-10 18:17] davidiseminger commented on #149
Thanks for your comment @karissashapard - this feature is currently in preview, and there isn't a defined time when (or whether) it will be made generally available, or when updates will occur.

[2018-08-10 18:17] #149 closed

[2018-08-10 18:18] davidiseminger commented on #150
Thank you for your feedback @tdexterus.

[2018-08-10 18:18] #150 closed

[2018-08-10 22:43] yoshihirok commented on #133
Thanks @maggiesMSFT , @davidiseminger

[2018-08-10 22:44] markingmyname commented on #137
@chrisweis We understand it can be a bit frustrating to have related pieces of information in different places.  We are working on getting the information more straightforward. To answer your question, Tenant.Read.All is just for Power BI.  Thank you again for your feedback.

[2018-08-10 22:44] #137 closed

[2018-08-10 22:44] yoshihirok commented on #139
Thanks @maggiesMSFT , @davidiseminger

[2018-08-10 22:45] yoshihirok commented on #145
Thanks

[2018-08-10 22:47] markingmyname commented on #140
@AlanPBourke Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2018-08-10 22:49] markingmyname commented on #146
@dadadance Are you referring to the Publish to Web article - https://docs.microsoft.com/en-us/power-bi/service-publish-to-web?

[2018-08-10 22:58] markingmyname commented on #152
@designertechno Thank you for your feedback.  Can I ask for some clarification?

It states in Step 4 that the user needs to be a Global Admin.

+++
Provide a name and username for this user. This will be your Global Admin for the tenant. You will also want to change the Directory role to Global administrator. You can also show the temporary password. When you are done, select Create.
+++

Are you

[2018-08-10 23:01] markingmyname commented on #156
@DaveRuijter  Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-08-11 02:12] AnthonyBe commented on #126
@davidiseminger I do think it would. My searches landed me on this page particular page, but it didn't have this particular scenario covered so I had to continue searching.

[2018-08-13 16:45] mgblythe commented on #159
Thanks @hrjoshi, assigning to @maggiesMSFT to fix. She is on vacation but will address when she returns.

[2018-08-13 16:52] mgblythe commented on #87
@brightlight1 - let me know if you need any more information on this, thanks.

[2018-08-13 16:56] mgblythe commented on #89
@MixolydianV - are you an Office 365 global admin for your tenant?

[2018-08-13 17:28] vassallosm opened #161 "Cortana answer card stuck on "Loading""
I have created a Power Bi answer card, did all the other permissions setup and configurations. I go to Cortana, search for the need card, find it, click it and is stuck on the Loading screen.

Any thoughts?

[2018-08-14 11:47] chizhova opened #162 "Model language selection is missing"
Hi! In both Power BI Desktop for cloud and for Report Server the option for model language selection is missing in current versions
(Cloud version: 2.61.5192.601 64-bit; RS version 2.56.5023.1043 64-bit)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01f4ea6-33ff-97ca-4a4e-8a1beb88f12f
* Version Independent ID: e52244

[2018-08-14 13:35] markrullo opened #163 "On Premise Data Gateway will not connect to DB with a period in the name"
I'm trying to connect to a DB, let's call it [foo.fighters] with the On Premise Data Gateway. Unfortunately I get this error:

Activity ID: | a01883d5-e2b7-e90b-3594-b4d55e528e64
-- | --
Request ID: | a9265323-0aa1-8cc7-852d-53a0ff21eb1c
Cluster URI: | https://wabi-canada-central-redirect.analysis.windows.net
Status code: | 400
Error Code: | DMTS_PublishDatasourceToClusterErrorCode
Time: | Tue Aug

[2018-08-14 19:17] LisandroSu opened #164 "Compartilhar um relatório para pessoas fora da organização"
@marcelosalata commented on [Mon Jul 23 2018](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/2)

A documentação não informou o que e como parametrizar o PowerBi para permitir o compartilhamento com pessoas fora da organização. Somente informa o que estas pessoas podem ou não podem ver.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema

[2018-08-14 19:17] LisandroSu commented on #164
Hi team,

Can you help the user with their issue?

Rough translation: _The documentation did not tell you what and how to parameterize PowerBi to allow sharing with people outside the organization. It only tells what these people can or can not see._

Thanks!

[2018-08-14 19:40] nojetlag opened #165 "RSS feed for the change log page ?"
It would be a charm to have an RSS feed for all the change log pages, so one gets automatically notified if new changes appear ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c2df3-28df-34d8-bd4e-4209996f7f8d
* Version Independent ID: e5dc42c8-b17a-4e0e-09c5-76124b0ad924
* Content: [Changelog for Power BI Report

[2018-08-15 11:18] cbailiss opened #166 "Is Renaming A Power BI Report Server Supported?"
It is possible to rename the computer/server hosting SSRS as described here:
https://docs.microsoft.com/en-us/sql/reporting-services/report-server/rename-a-report-server-computer?view=sql-server-2017
Is this supported for the Power BI Report Server as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13389638-3e8a-5

[2018-08-15 15:53] kvijay7 opened #167 "Error while trying to connect ClickDimensions in Power BI"
We couldn't install ClickDimensions
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
MessageOData: Request failed: The remote server returned an error: (500) Internal Server Error. (An error has occurred.) Table: Visit.
Activity ID6c5bd6e9-2a7a-4763-a2f9-ec279abfcf8d
Correlation IDb5f166fe-f

[2018-08-15 16:59] chizhova opened #168 "Adding tooltips documentation"
I think it would be useful if we add info that tooltip in the mobile app can be seen with a long-tap on a specific bar\point on the chart

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf174abf-6474-14ae-3183-31e40fa9b1b6
* Version Independent ID: ca82ad59-c057-fccd-b6e0-627df4326c62
* Content: [Explore reports in the

[2018-08-15 18:29] munale opened #169 "could have been better"
this video would have been so much better if the narrator had taken time to practice instead of fumbling over her words ever 2 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a76e2-8d94-5e76-bfb6-971c3b2c7c85
* Version Independent ID: f7bd2111-3bb0-fb08-0f23-a31efd407f66
* Content: [What's new in the latest

[2018-08-15 19:08] mgblythe commented on #168
Thanks @chizhova, assigning to @maggiesMSFT to fix. She is on vacation but will address when she returns.

[2018-08-15 19:10] mgblythe commented on #166
Thanks @cbailiss, assigning to @markingmyname to fix. He is on vacation but will address when he returns.

[2018-08-15 19:14] mgblythe commented on #163
@markrullo -- did you get any more error info than what's listed above? Have you looked at the gateway troubleshooting topic: https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem-tshoot?

[2018-08-15 19:15] mgblythe commented on #162
Thanks @chizhova, assigning to @maggiesMSFT to fix. She is on vacation but will address when she returns.

[2018-08-15 19:16] mgblythe commented on #161
@mihart -- any ideas what the issue might be here?

[2018-08-15 19:54] ONLC-Classes opened #170 "Getting "Mice" errors when running script in"

[2018-08-15 19:59] ONLC-Classes commented on #170
A script is provided for this class.  We are giving complete credit to this repository for lab instructions, but in the first day,we are running power bi script you provided (see below):
===
SCRIPT Module 1

library(mice)
tempData <- mice(dataset,m=1,maxit=50,meth='pmm',seed=100)
completedData <- complete(tempData,1)
output <- dataset
output$completedValues <- completedData$"SMI missing values"
==

[2018-08-15 20:58] markingmyname commented on #166
Thanks for your comment, @cbailiss. Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

Thank you.

[2018-08-15 20:59] #166 closed

[2018-08-15 21:08] markingmyname commented on #135
@DaveRuijter Changes have been made to the requirements section.  The changes should be present in a few days.

[2018-08-15 21:12] markingmyname commented on #140
@AlanPBourke There is currently no REST API V2.

[2018-08-15 21:12] #140 closed

[2018-08-16 19:05] mgblythe commented on #170
@davidi this is for desktop-r-in-query-editor file.

[2018-08-16 19:51] lakecoach opened #171 "Data = plural"
Several areas where data are identified as singular when they should be plural. Otherwise, nice introduction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b08723-3d20-45e8-1a6e-348c33cb5ff2
* Version Independent ID: a201f1c5-9771-5eff-bac6-85de7058a8b3
* Content: [Getting started - Power BI](https://docs.microsoft.

[2018-08-16 20:59] tjmasters43 commented on #71
Hi, kind of and old message but you cannot pin from the APP as its read only, must pin from the workspace.

[2018-08-16 21:29] maggiesMSFT commented on #161
Hi @vassallosm -- I suggest checking the Power BI Community https://community.powerbi.com/ for an answer.

[2018-08-16 21:50] maggiesMSFT commented on #171
Hi @lakecoach -- Congrats on the eagle eye!
Ah, the age-old "Is 'data' plural or singular?" debate. We have settled on using the singular form of verbs with 'data,' preferring to think of it as a mass rather than a count noun. I just ran a check on all the Power BI docs; we use "is" with "data" 219 times. We use "are" with "data" only 8 times -- and in all 8, it's because the actual subject of the

[2018-08-16 21:50] #171 closed

[2018-08-16 22:41] maggiesMSFT commented on #159
Hi, @hrjoshi -- select **Workspaces** in the left nav > select the ellipsis (...) next to **My Workspace** > select **Edit workspace**. You'll see an option to turn on **Dedicated capacity**.
You may not have permissions to turn it on. In that case, contact your Power BI admin.
Hope that helps!

[2018-08-16 22:41] #159 closed

[2018-08-16 22:43] maggiesMSFT commented on #164
Hi @LisandroSu -- could you collect more information? I'm unclear what the customer is trying to do.
Thanks!

[2018-08-16 22:54] maggiesMSFT commented on #103
Hi, @shakanand -- We've released a preview of the new workspaces. See if this article helps answer your question: https://docs.microsoft.com/en-us/power-bi/service-create-the-new-workspaces.

[2018-08-16 22:54] #103 closed

[2018-08-16 23:34] maggiesMSFT commented on #148
Hi @LucLabelle -- which article would you like to see us add this info to? It's unclear from this GitHub Issue.
thanks!

[2018-08-17 02:42] maggiesMSFT commented on #168
Hi @chizhova -- yes, good idea! I'll add that to "Explore reports in the Power BI mobile apps - Power BI"

[2018-08-17 02:42] #168 closed

[2018-08-17 08:37] maxdomico opened #173 "Can't find package corrplot"
Feedback Type:
Frown (Error)

Timestamp:
2018-08-17T08:36:12.0684178Z

Local Time:
2018-08-17T16:36:12.0684178+08:00

Session ID:
1ac88a1e-d801-4b59-9239-8ea775fdff4c

Release:
August 2018

Product Version:
2.61.5192.601 (18.08) (x64)

Error Message:
R script error.
Loading required package: corrplot
Warning message:
In library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TR

[2018-08-17 09:36] gbrueckl opened #174 "Change the PBI hosted dataset associated with a report"
We currently have separated the datamodel and the actual reports into two different files and this works fine for.
However, we are totally reworking our datamodel now and published it as a new dataset. It seems to be impossible to link the existing report to the new datamodel which is also hosted in the PBI service?!

I also tried the API but this seems to break the report in terms it cannot be do

[2018-08-17 11:17] KoenVerbeeck opened #175 "EffectiveUserName on local machine"
When OOS is installed on the same machine as SSAS (and in my case as SSRS as well), you don't need to add the machine name as admin to SSAS, but rather NT AUTHORITY\NETWORK SERVICE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90025eee-cd72-9503-6c1d-c14bb617b5b4
* Version Independent ID: 58e25db4-5d25-ac1d-b763-72d2

[2018-08-17 13:31] erapade opened #176 "Good article, but a bit vauge concerning users, members, and owners"
For Owners, please be more precise. Do you mean owner of workspace or owner of .pbix file
"Members of a workspace cannot replace the originally shared report". I guess you mean .pbix file or report/dataset.
If I understand this correctly: As a member of a workspace, you can upload new reports/datasets, but can't modify others. Is this correct

Also, this article doesn't say anything about shared d

[2018-08-17 13:45] erapade commented on #176
I also realized that the owner listed of my dataset is the O365 group only. , since my workspace is created as a Team site. Although, looking in the Team-site, I'm listed as the Owner. A lot of confusions as I see this

[2018-08-17 14:26] danievalle commented on #71
Hello,
So why it's written in the Release Note (page 263) https://aka.ms/dynamics365releasenotes.
Is this a upcoming feature ?
Thanks in advance.

[2018-08-17 15:09] TaicoRoswall opened #177 "Limitations and considerations"
The ability to view Excel workbooks within Power BI Report Server is currently in preview.?
Is this still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90025eee-cd72-9503-6c1d-c14bb617b5b4
* Version Independent ID: 58e25db4-5d25-ac1d-b763-72d27e943373
* Content: [Host Excel workbooks using Office Online Se

[2018-08-17 15:16] erapade opened #178 "Whats read-only access to content?"
"Read-only workspaces: replaced by a forthcoming Viewer role, which allows read-only access to content in a workspace"
Does this mean that the viewer role can connect to a live power bi data set from Power BI Desktop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independ

[2018-08-17 15:26] erapade opened #179 "more than one app in one workspace?"
Where you say:
* Publish and update apps.
* Share items and share apps.
Does this mean that the new workspaces can have more than one App for each workspace (Question due to that you say apps and not app) I'm not native English so this could also be an misunderstanding from my side

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-08-17 15:30] erapade opened #180 "Differences between dataset in workspace and published in App?"
Might not fit here, but have never seen a definition about towards what dataset a report is connecting to using live connection. Will a report using a live connection connect to different datasets depending on if I'm using the report in the workspace (or the Power BI Desktop) or the report published as an App
If not fitted here, please point me to where I can find this definition

Sorry for this m

[2018-08-17 16:01] djheston opened #181 "Power BI Pro or Premium?"
Are bookmarks only available in the premium version of Power BI?
In Pro, going to File &gt; Options and Settings &gt; Options &gt; Preview Features, there is no bookmarks option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4966
* Version Independent ID: 0c97fa47-9695-aaaf-efcd-63b3536

[2018-08-17 17:32] brunofrancesco opened #182 "Git"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db81b-e91f-c1c8-7062-eb8bd5920eb9
* Version Independent ID: 63ba058e-817c-3b82-767b-5f94d8204e5b
* Content: [Connector Extensibility in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-connector-extensibility#certified-connect

[2018-08-17 20:45] mgblythe commented on #87
Closing as addressed with the info from @markingmyname . @brightlight1 -- feel free to reopen if necessary.

[2018-08-17 20:45] #87 closed

[2018-08-17 20:48] mgblythe commented on #92
Thanks @RSteeno - fixing now.

[2018-08-17 20:54] mgblythe commented on #143
Thanks @RahnL, making the fix now.

[2018-08-17 20:58] mgblythe commented on #147
Thanks @DaveRuijter - I like the idea, but that topic is already in the TOC under the main Resources node (same level as Admin). We don't add more than once b/c the behavior is a little weird.

[2018-08-17 20:59] #147 closed

[2018-08-17 21:01] mgblythe commented on #116
Thanks @cpcodes, checking with engineering on the behavior change as well as the steps update.

[2018-08-17 21:02] mgblythe commented on #91
Thanks @RSteeno -- I will address week of 8/20.

[2018-08-17 21:04] mgblythe commented on #129
Thanks @cbailiss -- checking with engineering on functionality.

[2018-08-17 21:06] mgblythe commented on #153
Thanks Anmo;gan81 -- will reply back on this the week of 8/20.

[2018-08-17 21:08] mgblythe commented on #154
Hi @jenseggerath -- have you tried asking this question in the forums: https://community.powerbi.com/t5/Service/bd-p/power-bi-web-app?

[2018-08-17 21:10] mgblythe commented on #157
Thanks @DaveRuijter -- I'm putting an item in my backlog for next month to address issues with the audit info. I will keep this issue open until I address it.

[2018-08-17 23:04] maggiesMSFT commented on #179
Hi @erapade -- great question! The article was not clear. Only one app per workspace. I've clarified it in the article and it will be republished on Monday.

[2018-08-17 23:04] #179 closed

[2018-08-17 23:11] maggiesMSFT commented on #178
Hi @erapade -- ah, another good question. In this case, no, the Viewer role will be similar to granting users read-only access to a workspace. Those with the Viewer role will be able to see the content in a workspace, but won't be able to modify or share it. I'm updating the article to make that clearer. Thanks!

[2018-08-17 23:11] #178 closed

[2018-08-17 23:16] maggiesMSFT commented on #180
Hi, @erapade -- no worries! I'll answer what I think is your question: the report in the workspace and the report published in an app will both link to the same dataset. Does that answer your question? Thanks for asking!

[2018-08-19 12:41] cbailiss commented on #166
Thanks for the reply, however, I disagree.
Product feedback relates to requests for changes/enhancements.
I am asking about whether a specific type of configuration change is supported - i.e. is renaming the computer running Power BI Report Server supported?
If the answer is no, then I will be happy to add a request to the Product Feedback area.
I chose to raise the question against this page, sin

[2018-08-20 05:26] aruparel opened #183 "in Operator"
I tried "in" operator and it supports all the three data types, string, number and date. But as per the information in the table above, it indicates that it works only for date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c2

[2018-08-20 06:40] erapade commented on #180
Hi Maggie, Yes maybe it did answer my question, but let's double-check :-) And sorry for extending the question by this.
For reports, the workspace works like a staging are, once a report has been published (or updated as an App), any additional changes to the report stays in the workspace area until the App is updated the next time. This way the workspace works like a staging area so that you hav

[2018-08-20 09:52] erapade commented on #131
As my data model is cluttered with M2M relationships, I can't wait for the GA to be able to publish in the Power BI Service. Any planned date for a GA?

[2018-08-20 09:54] erapade opened #184 "Table and Matrix visuals sometimes thinks the tables are unrelated"
The Table and Matrix visuals sometimes tells me the two tables are unrelated. Is this a shortcoming in current implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 477d54a5-8a27-ae63-9887-9801639962e8
* Version Independent ID: 8a2c56c0-cf25-bd2d-8de9-207ccc1e83d1
* Content: [Many-to-many relationships in Powe

[2018-08-20 12:19] patri0t82 opened #185 "Export to PDF is not functioning properly"
I've posted about this in the powerbi.com community in greater detail, please assist!
https://community.powerbi.com/t5/Desktop/Exporting-as-PDF-Shrinks-Random-Page/m-p/490501/highlight/true#M228565

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267

[2018-08-20 13:58] lucazav opened #187 "Differences with the Data Management Gateway"
It'd be useful to add a link to this page pointing to a new page explaining the differences between the Power BI Gateway and the Data Management Gateway (used by Azure Machine Learning Studio and Azure Data Factory).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb1195df-a72b-61c1-3490-64ca851e81b1
* Version Independe

[2018-08-20 14:26] Anmolgan81 commented on #153
Hi,

Any updates???

From: Michael Blythe <notifications@github.com>
Sent: 18 August 2018 02:37
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] What is required if I wanted to connect different MSSQL onpremise servers and build a powerbi report (#153)

Thanks Anmo;g

[2018-08-20 15:31] #135 closed

[2018-08-20 15:32] #146 closed

[2018-08-20 15:32] #152 closed

[2018-08-20 16:53] vassallosm commented on #161
@maggiesMSFT @mgblythe
The issue has been resolved, it was a bug in the PowerBI code that the product group had to patch and update.

[2018-08-20 16:58] maggiesMSFT commented on #161
Hi @vassallosm -- thanks for the update!

[2018-08-20 16:58] #161 closed

[2018-08-20 18:05] maggiesMSFT commented on #180
Hi, @erapade -- good clarifying question. Both the published report in the app and the report in the workspace are accessing a single dataset. So when the dataset refreshes, it's refreshing the data in both reports. Thanks!

[2018-08-20 18:05] #180 closed

[2018-08-21 17:59] markingmyname commented on #177
@TaicoRoswall Thanks for the comment!  It is no longer in preview.  The article will be updated accordingly in a few days.

[2018-08-21 17:59] #177 closed

[2018-08-21 19:03] markingmyname commented on #175
@KoenVerbeeck Thank you for your suggestion. That is correct. It can work with the "NT AUTHORITY\NETWORK" service when all the requirements are installed on the same local machine.  However, it is good practice to add the "EffectiveUserName" when dealing with Analysis Services.

[2018-08-21 19:05] markingmyname commented on #156
@DavidRuijter It can be a better suggestion. It all depends on the situation.

[2018-08-21 19:05] #156 closed

[2018-08-21 19:32] danazsea commented on #96
which means R visual Report is only useful on local machine? Wow, that kinda limits sharing with coworkers.

[2018-08-21 20:48] #96 closed

[2018-08-21 20:54] mihart commented on #25
@kaylangan
Thanks for pointing this out.  Last refresh is no longer available on tiles.
- Michele

[2018-08-21 20:54] #25 closed

[2018-08-21 21:05] mihart commented on #71
Hi @danievalle ,
Thanks for pointing this out.  I'll contact the Release Notes author and have this updated.

[2018-08-21 21:05] #71 closed

[2018-08-21 21:09] mihart commented on #93
Hi @jfreel
Thanks for writing. I'm not sure I understand your question but will try to answer.
If you expand the "Date" column, you'll see columns for day, month, quarter, year, etc.  You can use values from the Date column to filter your data.  For example, on the New Hires Scorecard tab, Date > Period is used in the "New Hire Count by Period"  linechart.

HTH,
Michele

[2018-08-21 21:09] #93 closed

[2018-08-21 21:12] mihart commented on #113
Hi @vsevolodts ,
Can you send along an example?  I've tried to reproduce your issue and cannot.
Thanks,
Michele

[2018-08-21 21:13] #113 closed

[2018-08-21 21:14] friedcc opened #189 "This does not work with DIRECT QUERY"
This Sort by Column in Modeling DOES NOT WORK with Direct Query data. This sucks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91ac-4947-c2e5-a0508a554080
* Content: [Sort by column in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us

[2018-08-21 21:35] mihart commented on #141
Hi @kfollmer24 ,
Thank you for writing.  I've updated the article to include this limitation.  In the meantime, I'm checking with the feature owner to find out all the URL limitations so I can add these to the document as well.
Take care,
Michele

[2018-08-21 21:35] #141 closed

[2018-08-21 21:36] mihart commented on #155
@Yettybrown ,
Thank you :-)  Always nice to open feedback and find positive comments.
Take care,
Michele

[2018-08-21 21:36] #155 closed

[2018-08-21 21:47] mihart commented on #183
Hi @aruparel,
We're rolling out "in" and "or" over the next few weeks.  Look for the article to be updated as those features become officially GA.
Take care,
Michele

[2018-08-21 21:47] #183 closed

[2018-08-22 02:11] sqlsauce opened #190 "SQL Server stored procedures"
The list of supported objects for the SQL Server data source does not include stored procedures, but they seem to work in Import mode. Are they officially not supported, and they just happen to work or is this page wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75d081a0-4c4b-f756-eaf7-1e98d583ecf8
* Version Inde

[2018-08-22 06:37] KoenVerbeeck commented on #175
Hi @markingmyname, what do you mean with "adding the "EffectiveUserName""? The machine name of the OOS server?

[2018-08-22 13:07] zxarcg opened #191 "Can I change tiles title font size and min height?"
I have tried many times, i can change tiles body font size ,but tiles title font size always unchanged. I can adjust title font color and background color.  and titles seems have a min height, i can not zoom to more smaller height.

so my question is , is there any method to change tiles title font size and min height?

Thanks!

[2018-08-22 20:36] dgwilson opened #192 "Almost - please allow me to set a sync slicer as well."
This is a great development in the product and I've managed to figure out my url for filtering.
https://app.powerbi.com/groups/me/apps/....&lt;content redacted&gt;?filter=Date_x0020_Week_x0020_Ending~2FWeek_x0020_Ending_x0020_Date%20ge%202018-08-01%20and%20Date_x0020_Week_x0020_Ending~2FWeek_x0020_Ending_x0020_Date%20le%202018-08-04

It however doesn't quite work for me. I have a Synced filter/sli

[2018-08-22 21:04] markingmyname commented on #175
@KoenVerbeeck I meant using the "EffectiveUserName" to add to the machine account of the OOS server for the Analysis Services instance.  Hope that helps.

[2018-08-22 21:18] KoenVerbeeck commented on #175
Hi @markingmyname, yes that helps. But as I stated earlier, when everything is on the same machine, adding the machine account doesn't help. You still get errors until you add the network service. I'd like to see this reflected in the documentation as well.

[2018-08-23 08:19] monteleon opened #193 "Unable to connect to VM"
Hi, followed all the steps for setup but receive an error message when trying to connect to the VM. Indicated it might be something to do with Oracle CredSSP.

Do you have any further information about this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c7b5d6-c9a4-3445-81c1-41dc41ae0929
* Version Independen

[2018-08-23 10:20] subashsivaji opened #194 "Permission to create app workspace"
Now that creation of app workspace do not create an Office365 Group. What permission do an user need to create an app workspace? can you please add this in the docs? I tried creating an app workspace(preview version) and received following error.
"App workspace creation is disabled
Creation of app workspaces is disabled by your tenant admin, or you need permissions to create them. Please contact y

[2018-08-24 06:03] AkosLukacs opened #195 "App Owns Data sample does not work with ADAL3 and .NET Core"
Since by design the latest .NET Core version of ADAL does not have `UserPasswordCredential`, the App Owns Data sample does not work.
Please provide a sample that works with ADAL3 and .NET Core (api secret key, or client cert authentications).

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179b0-7f3d-77de-23

[2018-08-24 15:49] phamhoangtien opened #196 "Working Files?"
Can I have the working files of this tut? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0614115b-602d-cab2-307e-618f6a3dbd2f
* Version Independent ID: 09e23d6d-c1f8-ca45-3ad0-47a6ff5ec213
* Content: [Use Quick measures to easily perform common and powerful calculations in Power BI - Power BI](https://docs.micro

[2018-08-24 16:02] brown1mr opened #197 "disconnect?"
In the May Power BI feature summary (snippet below)  it mentions an improvement so that content can be shared to invited users and they’ll get just the one link that lets them accept the invite and access the content.  I can’t get the Power BI dev to share to an invited recipient unless they have the “export/share to external” switch enabled and have been granted this privilege, which if they have

[2018-08-24 17:16] RahnL commented on #143
Cool, thanks. A little minor thing, but hate to see typos. :D

[2018-08-24 23:52] maggiesMSFT commented on #194
Hi @subashsivaji -- great question. I've updated the article with a link to the Admin Portal doc, https://docs.microsoft.com/en-us/power-bi/service-admin-portal. That's where we have info about admins and permissions.

[2018-08-24 23:52] #194 closed

[2018-08-24 23:58] maggiesMSFT commented on #193
Hi, @monteleon -- yes, some folks have seen this problem. Turns out the issue is on your machine, and there's a Microsoft Support article that shows how to fix it: https://support.microsoft.com/en-us/help/4295591/credssp-encryption-oracle-remediation-error-when-to-rdp-to-azure-vm.
Hope that helps!

[2018-08-25 00:52] spulente commented on #93
Hi @mihart
 Can I ask an question about the date field, as well?  In the employee tab is the first date column just random dates from the date tab and why from 2011 to 2014?  Is this used to help link tables?  I don't see how the first date column correlates to the data within the employee tab ie. Hire or Term date.  Appreciate some feedback on this as I am new to Power BI and posting in forums.
T

[2018-08-27 09:59] Prashantkumartyagi opened #198 "Power BI"
Easy to understand and easy to use .
It documentation is very halpfull.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08962cd6-cbb2-3342-09df-aa199623e9fb
* Version Independent ID: d4ebdf44-cde2-82b6-3f82-8524f370d980
* Content: [Visualizations - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/visu

[2018-08-27 13:00] clokeshreddy1 commented on #178
Hi,
Also how to provide read only access to the users on a workspace,so that the users connect to the dataset via power bi live service connection and build there own reports and deploy to the workspaces of there choice?

[2018-08-27 14:42] olopuc opened #199 "What will be involved in converting old workspaces to new ones"
In the doc it says you'll need to prepare to migrate your workspaces to the new workspaces infrastructure.  Later it says, When the new workspaces are generally available (GA), you can opt in to migrate the old ones automatically. At some point after GA, you'll have to migrate them.

How will the migration work, can this be done  at an Admin level in an organization or only by a workspace's Admin.

[2018-08-27 14:49] karmamule opened #200 "AuthenticationContext.AcquireToken is out of date"
The latest version of AuthenticationContext no longer has an AcquireToken method, instead it has AcquireTokenAsync. This article's code sample should be updated to reflect that. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef3a0a2-7cc8-136e-eb8e-a80f4cade7d3
* Version Independent ID: 20093c04-76cd-9266-e2f1-

[2018-08-27 19:12] nrreyes opened #201 "PowerBius.gov"
How does this article apply if you are working on the Power BI US GOV Service? I still cannot figure out how to 'sign in' from BI Desktop so I can publish. Trying this guide causes the same dilemma. All I can do is upload the .pbix directly to the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2

[2018-08-27 20:33] mgcharumilind opened #202 "SSAS data source limitations"
The limitation/difference in options for text fields in SSAS sources is puzzling and frustrating. It's taken a lot of searching to figure out why we can't show "first" or "last" value for those fields, and the answer is NOT here. The link about field categorization is also not helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-08-27 21:16] davidiseminger commented on #169
Thanks for your comments, will pass that feedback along.

[2018-08-27 21:16] #169 closed

[2018-08-27 21:18] davidiseminger commented on #173
Sorry to hear about your trouble. This is a support request, rather than documentation feedback. Please use https://support.powerbi.com to submit support tickets.

[2018-08-27 21:18] #173 closed

[2018-08-27 21:19] davidiseminger commented on #160
Sorry to hear about your trouble. This is a support request, rather than documentation feedback. Please use https://support.powerbi.com to submit support tickets.

[2018-08-27 21:19] #160 closed

[2018-08-27 21:20] davidiseminger commented on #176
Thanks for your feedback! We will look at this article, @erapade, and see about providing more clarity in the areas  you point out.

[2018-08-27 21:20] #176 closed

[2018-08-27 21:20] davidiseminger commented on #181
It's available in Pro or Premium.

[2018-08-27 21:20] #181 closed

[2018-08-27 21:25] davidiseminger commented on #190
Thanks for your question @sqlsauce - let me look into this and get back to you on this comment thread.

[2018-08-27 21:26] davidiseminger commented on #196
Thanks for your comment. Some of our tutorials include links to the sample data, others do not. I'll look into this article and see if the data is available, and if it is I'll update the article with a link.

[2018-08-27 21:26] #196 closed

[2018-08-27 21:27] davidiseminger commented on #198
Thanks!! Glad you found it useful, @Prashantkumartyagi!

[2018-08-27 21:27] #198 closed

[2018-08-27 21:29] davidiseminger commented on #201
Thanks for your question, @nrreyes - let me look in this and see if I can find a solution, and I'll get back to you on this thread.

[2018-08-27 21:31] davidiseminger commented on #170
Sorry about the trouble you're having. Sounds like you have a support request, rather than documentation feedback. Please use https://support.powerbi.com to submit support tickets.

[2018-08-27 21:31] #170 closed

[2018-08-28 13:15] skepticatgit opened #204 "A few grammatical errors and typos"
Please see these sections
1. Section "Pushing data to datasets": Power BI REST APIs can be used to create and send data to push datasets and to and streaming datasets.
2. Section "Pushing data to datasets": Take now, however, that the Azure AD (AAD) approach still works to push data into the dataset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-08-28 13:27] ginanjarnugroho opened #205 "Change conection string"
Error when change conection string in powerbi import (nondirect query). Please give solution please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c227d05-ba6d-2a1a-860d-55b59517273e
* Version Independent ID: 731538dd-109b-842c-6086-f412c0ffe0a8
* Content: [Code snippets for migrating content from Power BI Embedded -

[2018-08-28 16:28] epiphania opened #206 "Tooltip does not customize"
You cannot remove the default fields from tool tip from the visual which is not at all helpful especially when you want to display Total sales in Size and in color saturation, it will repeat the total sales in Tool tip which is ugly for data visual. Only solution I see is to turn off which is not helpful. Is there a solution for this?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-08-28 17:47] o-o00o-o opened #207 "Unclear on special characters"
"prefix those special characters with an escape code (_x) and the 4-digit Unicode" but the examples show "Table Name" as Table_x0020_Name which has a prefix and a suffix of _. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75

[2018-08-28 17:48] o-o00o-o opened #208 "Does this work for tabular live connected reports?"
I can't get this to work with a tabular live connected cobe. It just sits there with the pulsing powerbi logo in the middle of the screen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Add Power BI report par

[2018-08-28 17:49] o-o00o-o opened #209 "Is it possible to remove existing filters"
As I can't get this working I am not sure but if a report has already set some default filters how can I override this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Add Power BI report parameters using the

[2018-08-28 17:50] o-o00o-o opened #210 "Page/Report filters"
how do we control which filter is set? Is it always a report filter applied or page filter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Add Power BI report parameters using the url - Power BI](https://docs

[2018-08-28 21:12] markingmyname commented on #175
@KoenVerbeeck I understand now.  I will do what I can to reflect this information.

THank you.

[2018-08-28 21:36] markingmyname commented on #195
Thanks for your comment, @AkosLukacs. Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

[2018-08-28 21:39] markingmyname commented on #200
@karmamule Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-08-28 21:42] markingmyname commented on #205
@ginanjarnugroho Thanks for your comment. Sounds like this is a product question, so please use the product feedback button or contact support at support.powerbi.com.

[2018-08-28 21:43] markingmyname commented on #205
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we can always reopen the issue.

[2018-08-28 21:43] markingmyname commented on #195
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we can always reopen the issue.

[2018-08-28 22:02] jordanmills opened #211 "How do you connect this app if you use federated single sign on?"
The instructions only list connecting with basic authentication.  How do you connect if your org uses ADFS to connect to planview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 150dab75-72d8-5401-d7cb-7d689ed8f418
* Version Independent ID: daa4df06-ea9b-fdd0-6d93-ff9fef21731c
* Content: [Connect to Planview Enterprise

[2018-08-29 01:26] mihart commented on #192
Hi @dgwilson
I'm sorry, but there is no plan to allow you to set the filter state in URL parameters.  You could add it to ideas.powerbi.com and if it gets enough votes the Product team might implement it...

HTH,
Michele

[2018-08-29 01:26] #192 closed

[2018-08-29 04:49] pazhuo opened #212 "No Real Data For Practice"
It's sad that we don't have sample data from saas for practicing. It's easy to forget specific steps in the article, it's wasting time if we forget it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b08723-3d20-45e8-1a6e-348c33cb5ff2
* Version Independent ID: a201f1c5-9771-5eff-bac6-85de7058a8b3
* Content: [Getting st

[2018-08-29 05:04] mihart commented on #208
@KayUnkroth , @mgblythe
This is a product question, not a doc issue. Reassigning to the URL filters expert, Kay.

[2018-08-29 05:05] mihart commented on #209
@KayUnkroth ,
Reassigning to you since this is a product question, not a doc bug. Thanks.

[2018-08-29 05:21] djpirra opened #213 "Permissions required to change workspace photo"
Please provide detailed information about the set of permissions on O365 side to be able to change the picture on the workspace group.
There are a lot of users complaining about not seeing the option or even having errors for not having a exchange online license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54452a1b-

[2018-08-29 08:06] o-o00o-o commented on #209
I would suggest that this is a concept worth mentioning in the docs somewhere, so is a documentation concern?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Michele Hart <notifications@github.com>
Date: 29/08/2018 06:05 (GMT+00:00)
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Brett Gerhardi <brett@zerozero.net>, Author <author@noreply.git

[2018-08-29 11:50] karmamule opened #215 "Where is this 'handy tool'?"
In the section "How can I clear all the values on a push dataset?" a 'handy tool' is mentioned, but there is no link or reference available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46e4476-1fc8-de9c-dc49-ffb8358d22b0
* Version Independent ID: 7af1eac8-5069-8beb-cee4-29c413f7b957
* Content: [Real-time streaming

[2018-08-29 15:09] mgblythe commented on #208
Hi @o-o00o-o - have you tried sharing your filtered URL in the forums (https://community.powerbi.com/) or contacting support?

[2018-08-29 17:55] markingmyname commented on #195
@AkosLukacs

.Net Core doesn’t support UserPasswordCredential in ADAL nuget.

We don't recommend using username/password in .Net Core with using ADAL.

You can use one of the following solutions:
•    Use ADAL REST APIs instead.
•    Have mini .NET Standard service which generates Embed Tokens. Use Service-to-service authentication between .Net Core and .Net standard.
•    Wait for an App-Only tok

[2018-08-29 17:56] markingmyname commented on #195
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we can always reopen the issue.

[2018-08-29 18:45] mihart commented on #210
@o-o00o-o ,
The filters you apply in a URL are considered report filters.  That's how they are saved in the report.  You can try it out with a report.  Create the URL parameter in the URL and hit ENTER.  When the report reloads, the URL parameter show up in the Report filters field.  I'll update the article to say this.
Thanks!
Michele

[2018-08-29 19:06] #210 closed

[2018-08-30 02:50] #195 closed

[2018-08-30 02:51] #205 closed

[2018-08-30 10:34] monteleon commented on #193
Hi @maggiesMSFT, finally managed to get in, thank you! Now I'm in, I can't see any of the applications that are supposed to be installed and the report server doesn't seem to be configured either!

[2018-08-30 14:12] MichaelPointeauItron opened #217 "That is very welcomed"
I was waiting for some of this since we decided to subscribe to Premium.
Currently discovery the App.
I have already a question: how far would we be able to look at the past registered data?
Also we have not waited for this App to get Statistics and Understanding on PowerBI Usage, leveraging the AuditLog option, and we produced  neat Reports and App (using PowerBI off course), so is it possible al

[2018-08-30 14:30] pfischer54 opened #218 "Text not consistent with diagram"
Under "Shaped Data" section:
"You can also change, or transform, those columns from text to header by using the Transform ribbon. Here’s the Transform ribbon, with an arrow pointing toward the Data Type button, which lets you transform the current data type to another"
 Diagram does not show the Transform ribbon.  Also the text should presumably read "...from text to whole number..."

---
#### Doc

[2018-08-30 14:55] gregoryleandro opened #219 "Getting Error when installing the application"
We couldn't install Power BI Premium Capacity Metrics
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
Message: The column 'Column1' of the table wasn't found. Table: EvictionMetrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-30 16:49] mgblythe commented on #219
@gregoryleandro - can you try an uninstall/reinstall to see if that addresses it?

[2018-08-30 17:05] maggiesMSFT commented on #193
Hi @monteleon -- hmmm, OK, I'll check. I haven't looked at it in a few days.

[2018-08-30 19:34] mgblythe commented on #219
@gregoryleandro - are you a capacity admin or a Power BI admin? You need admin rights to at least one capacity to use the app.

[2018-08-30 19:43] o-o00o-o commented on #208
Hi no I haven’t, I just wanted to check if this is officially supported as many things in power bi don’t work with live-connected reports and I spent 30 minutes trying different things and the only thing that seemed to take just give me a progress bar style pulsing icon in the middle of the screen and never returned. So are you saying that it *is* supported or are you saying that you don't know if

[2018-08-31 08:55] gregoryleandro commented on #219
I'm am Power BI admin only. It would be nice for a Power BI  admin to have an overview of the metrics from all capacities on the tenant.

[2018-08-31 08:56] #219 closed

[2018-08-31 13:42] markingmyname commented on #175
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we can always reopen the issue.

[2018-08-31 13:48] makima commented on #111
Hi,
Some users, with permissions keep on having pop up messages requesting access when they open reports whereas they already have access. "x Let's get you permission to view this report".
The accesses have been removed and setted back nothing changed
Any advice?

[2018-08-31 13:49] KoenVerbeeck commented on #175
OK thanks!

Sent on my mobile device
________________________________
From: Mark Ghanayem <notifications@github.com>
Sent: Friday, August 31, 2018 3:42:07 PM
To: MicrosoftDocs/powerbi-docs
Cc: KoenVerbeeck; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] EffectiveUserName on local machine (#175)

We will now proceed to close this thread. If there are further questions regarding this matter, plea

[2018-08-31 15:25] #175 closed

[2018-08-31 19:02] fishnexj opened #223 "'Power BI Premium Capacity Metrics' fails to install: 'There weren't enough elements in the enumeration...'"
I am a Premium Capacity admin and a Power BI Service Admin. When I try to install the App, I get the following error.

`
We couldn't install Power BI Premium Capacity Metrics
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
Message: There weren't enough elements in the enumeration to complet

[2018-08-31 19:07] fishnexj commented on #223
It appears to be a more general error with the HTTPS calls, because now Table: MemoryMetrics is causing the same error when I attempt to install.

[2018-09-01 21:15] tomlaciano opened #224 "PowerBI Desktop ignored"
This topic is an introduction to PowerBI but the bulk of the examples are about the PowerBI service but the explanation of PowerBI desktop is being a common starting point that creates reports that are then published to PowerBI Service. This module should have covered PowerBI Desktop getting source data, creating a report and publishing to PowerBI Service and then it should cover PowerBI Service u

[2018-09-03 07:50] SychevIgor opened #225 "Text in "Create embed code" dialog now looks differently"
Please, update bullet 2 and 3
https://docs.microsoft.com/en-us/power-bi/service-publish-to-web#how-to-use-publish-to-web

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI]

[2018-09-03 16:53] LisandroSu opened #226 "Falta o login senha para acessar o GitHub"
@RenatoHadad commented on [Sun Sep 02 2018](https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/7)

Boa tarde no curso do PowerBI falta o login e senha para acessar o GitHub.
Observando o video pode-se encontrar Microsoft e ChakraCore como os valores necessários.

Não encontrei o ... para agendar as atualizações

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a v

[2018-09-03 16:54] LisandroSu commented on #226
Hi team,

Please check this issue. Rough translation: _in the course of PowerBI is missing the login and password to access GitHub Watching the video you can find Microsoft and ChakraCore as the necessary values._

Thanks!

[2018-09-04 11:21] chadgr opened #227 "Capacity Tiers Chart Wrong?"
Why does the capacity tiers chart show that shared does not support apps / sharing, it does for Pro users.  Also you can use the same rest API's for shared as Premium, why is there an X for Embedded API and controls.  They both seem wrong to me.  Please clarify exactly what those rows mean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-09-04 11:44] mpoeckl opened #228 "Gateway fails to install as a service even though you are a local administrator for the computer"
A pretty common issue that the gateway fails to install as a service even though you are a local administrator for the computer. This is documented in the "Troubleshooting Power BI Gateway - Personal" (see https://docs.microsoft.com/en-us/power-bi/service-admin-troubleshooting-power-bi-personal-gateway#installation) but not in this troubleshooting guide for the "enterprise" gateway. The error mess

[2018-09-04 17:37] Vinhaman commented on #178
Hi, @maggiesMSFT
I'm making new apps available to users that should only have the Read Only permission. Is there a ETA for this role to come out?
I didn't want to create old workspaces just for this read only feature and have to migrate them latter.

[2018-09-04 18:01] russty72 opened #229 "Email Notifications when a NEW Power BI workspace is created?"
I'm trying to figure out whether email notifications are sent when a NEW Power BI Workspace is created. If I'm adding an "all company" security group or distribution list to a new Workspace I do not want an email notification going out to the whole company.

Can someone help me understand two things:

1. Is an email notification sent to everyone in a Security Group or Distribution List when adding

[2018-09-04 23:11] anurag-doshi opened #230 "Existing data"
For incremental refresh, can you please state what would happen if an already imported row was updated?  Would it create duplicate rows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent ID: 62650e83-de5c-0323-cacc-31bad6e46361
* Content: [Incremental refresh in P

[2018-09-05 05:46] Baranee28 commented on #136
I would like to access the Audit Log details related to Power BI services such as dataset details, count of datasets, number of users, active user details etc, using Power Shell scripts. While i explored i found the possible way to achieve this functionality is through Exchange Online. But i dont have privileges to execute Exchange Online cmdlets. Can you please help me, is there any alternate way

[2018-09-05 11:17] metamoof opened #231 "APi Links and Method names are out of date or wrong"
All the links to the power BI REST documentation leave you at the head of the REST documentation page, rather than to a particular method.

This documentation talks about AddRows and CreateDataset, but it appears you mean PostRows and PostDataset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46e4476-1fc8-de9c-dc49-ff

[2018-09-05 18:21] peymanrah opened #232 "How about two or more tables to hold the data?"
Hi,
I need to input two or more tables into my R script from PBI. dataset only hold the information of one table, correct? How do I import more than one table into my R script within PBI?

also, can you explain how do I connect a slicer value to the R script? I want an end user to slice over date and my R script reads the numbers from slicer in the R script and run analytics over the new values in

[2018-09-05 18:59] audreyhammonds opened #233 "Azure Analysis Services as a Limitation/Consideration?"
Should Azure Analysis Services be added as a multidimensional source that cannot be included in a composite model?  I've tested this, and once I add an Azure Analysis Services model, I am not able to add an additional source.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dffd6b4-434b-868e-56fe-a0f53fb655a1
*

[2018-09-06 00:26] gihandt commented on #93
Hi @mihart,
Thanks for this very useful sample.

I'm not sure you're the best person to ask this question.

Apologies if that's the case and appreciate if you can direct me where I should get answers to this.

I'm trying to connect to our data sources now to explore more on this.
However, I would like to understand how the underlying source database (SQL Server I presume) is modelled.

I have look

[2018-09-06 03:35] CraigHumphrey opened #234 "Strange filtering of data"
Hey Guys,

not sure if this should go in the PowerBI support, or here, as it's specific to the Microsoft Azure Consumption Insights reports.  Let me know if there's a better place to feedback on this specific content pack.

In the Lifetime based graphs, I'm seeing data from 2015-07 to 2018-04.
In the selected months based graphs, I'm seeing data from 2017-09 to 2018-06.

Why is the end date differ

[2018-09-06 09:12] thierryturpin opened #235 "premium capacity nodes compared to share capacity"
Good documentation, nevertheless it would be interesting to have the comparison to the shared capacity also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830ea9dd-618c-897e-4cce-97edc93df585
* Version Independent ID: 135f4574-36ed-6a3b-85d4-a565c57a1312
* Content: [Power BI Premium - what is it? - Power BI](https://d

[2018-09-06 19:08] sqlsauce commented on #190
@davidiseminger, have you been able to track this down?

[2018-09-06 20:08] davidiseminger commented on #201
@nrreyes - the sign in procedure for gov and public clouds operate the same way, confirmed with the engineering team. If you continue to have trouble, please visit the community at https://community.powerbi.com. If you can't find help there, perhaps try https://support.powerbi.com.

[2018-09-06 20:08] #201 closed

[2018-09-06 21:40] darthbone opened #236 "Usage Metrics under New App Workspace?"
I don't see the button for Usage Metrics Report under the Dashboards page anymore. My manager likes to view these reports regularly, and I have no idea how to generate them anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078

[2018-09-06 22:29] maggiesMSFT commented on #236
Hi @darthbone -- thanks for your comment! Yes, usage metrics aren't enabled yet for the preview. This article mentions that:
•	Usage metrics aren't supported yet.
Hope that helps!

[2018-09-06 22:29] #236 closed

[2018-09-07 00:02] maggiesMSFT commented on #234
Thanks for your comment, @CraigHumphrey. I think you're right -- this looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-07 00:02] #234 closed

[2018-09-07 00:05] maggiesMSFT commented on #232
Thanks for your comment, @peymanrah. We’ve forwarded your question to the writer, who should respond to this thread shortly. Thanks!

[2018-09-07 00:09] maggiesMSFT commented on #229
Hi, @russty72 -- If I understand your questions correctly, here are the answers:
1. No, for the new workspaces, email notifications are not sent to a security group or distribution list.
2. No, when you add a new report or dashboard to the people in the security group or DL, they don't get an email notification.

[2018-09-07 00:09] #229 closed

[2018-09-07 00:10] maggiesMSFT commented on #229
Please feel free to ask again, if I haven't answered your questions!

[2018-09-07 00:16] christianwade commented on #230
This is already covered by the documentation. Copy paste paragraph below

The filter will be used to partition the data into ranges in the Power BI service. It is not designed to support updating this the filtered date column. An update will be interpreted as an insertion and a deletion (not an update). If the deletion occurs in the historical range and not the incremental range, it won’t get pick

[2018-09-07 00:41] anurag-doshi commented on #230
Thank you Wade.

I did read the line but was struggling with the interpretation of it.

If the row is updated, it will be deleted from the existing data in power
bi and a new row added?

Thank you.

On Thu, Sep 6, 2018 at 5:16 PM Christian Wade <notifications@github.com>
wrote:

[2018-09-07 00:44] christianwade commented on #230
No problem. Yes, that is correct. But if the deletion is not in the incremental range, the deletion won't happen

[2018-09-07 09:21] jacintmr opened #237 "Publishing report to existing Power BI app workspace"
I made some changes on my Power BI Desktop report (.pbix) and I wanted to reflect them on my published app workspace. But whenever i click Publish, it always says Internal Server Error. Can somebody help me with my concern? Appreciate your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3

[2018-09-07 10:39] mthierba opened #238 ""How to update a visual" - Multi-version deployment not supported"
The "How to update a visual" suggests that multiple versions of the same visual can be uploaded as long as they get a different title (but maintain the same Visual ID):

&gt; However, if the new version of the visual might break any usage or data structure of the previous version of the visual, then do not replace the previous version. Instead, you should create a new listing for the new version o

[2018-09-07 18:56] bpiet2000 commented on #200
I can confirm it is out of date.

[2018-09-07 20:47] kfile commented on #238
Thank you for your comment. This has been assigned to the document author.

[2018-09-07 20:50] kfile commented on #237
Thanks for your comment, @jacintmr . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-07 20:50] #237 closed

[2018-09-08 00:10] maggiesMSFT commented on #230
Thanks, @anurag-doshi and @christianwade !

[2018-09-08 00:10] #230 closed

[2018-09-08 03:17] markingmyname commented on #225
@SychevIgor Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-09-10 17:20] mgblythe commented on #208
@o-o00o-o - this is supported and should work.

[2018-09-10 22:25] erikmartell opened #239 "Steps for "Task: Create a measure formula" are not in the right order"
Proposed correct order might be:

3. type CALCULATE  and opening parenthesis.
4. type SUM and opening parenthesis.
5. type Sales[SalesAmount] and close the SUM parenthesis
....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d4e9e4-6581-ff12-0692-304725702fd3
* Version Independent ID: da0c52bf-88cc-367a-7475-039b78518

[2018-09-10 22:27] erikmartell commented on #239
I just noticed it was mentioned by JohnYounie, but issue is Closed and still not corrected

[2018-09-10 22:57] davidiseminger commented on #239
Thanks for your comment, @erikmartell. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-10 23:00] davidiseminger commented on #174
Thanks for your comment, @gbrueckl, and sorry for the delay responding. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com. If this functionality is upd

[2018-09-10 23:00] #174 closed

[2018-09-10 23:03] davidiseminger commented on #190
@sqlsauce - sorry for the delay, yes I have. Here it is: stored procedures are supported using native query - and to clarify, you can run any SQL statement you like using native query, including those which reference stored procedures. However, the navigation-driven experience is not available for stored procedures, because they can have side effects. I hope that helps.

[2018-09-10 23:03] #190 closed

[2018-09-11 01:27] CSSBAPMICHAELMA opened #240 "A Known issue should be written here"
Power BI Desktop Microsoft Store version don't support connect to Oracle due to a oracle driver issue. Please use the msi version downloaded from app.powerbi.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335cbd5df919
* Version Independent ID: 46a896f9-4707-adc3-72cd-5444a5d0f802
* Content:

[2018-09-11 02:40] maggiesMSFT commented on #240
Thanks, @CSSBAPMICHAELMA! I hope to see you submit your suggested change through other channels.

[2018-09-11 02:40] #240 closed

[2018-09-11 10:07] rhlgupta1383 opened #241 "Need details around tenant level permissions"
Kindly provide more details around the following delegated permissions, available on Azure portal Power BI API:

1. Read and write all content in tenant
2. View all content in tenant

[2018-09-11 10:29] RonaldMussche opened #242 "Relative date slicer in chrome"
In chrome the relative date filter is not working correctly anymore.  A cannot switch between Years days or weeks or change the time period (this,last or next) In edge it is working.

Regards,
Ronald Mussche

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 753770c6-5424-85a6-1bd7-963e2c1c7e64
* Version Independent ID: 09

[2018-09-11 16:04] mihart commented on #241
Dear @rhlgupta1383 ,
Can you provide a little more detail so that we can help you.  Is there one or more URLs or a specific topic?  Thank you.

[2018-09-11 18:32] feemurk opened #243 "Tips for making this easier to learn/understand"
Hi Guys,

Would you be able to attach the sample PBIX that you've used for your screenshots to demonstrate the functionality and configuration.?  I think it would help me metabolize the method more effectively.

Thanks,

Fahim.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Versio

[2018-09-11 19:00] russty72 commented on #229
Thanks so much @maggiesMSFT !!

[2018-09-11 21:01] mnjrupp opened #244 "Permission Error when Running R Visual"
This issue can easily be resolved if you change the temporary storage folder setting found in the options and settings/R Script window.
Choose the Appdata\Roaming\Rconnect folder
For those who work on a company PC/Laptop, the security settings for the Anti-virus is causing access issues.
hope this helps someone else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-09-12 12:28] kelaude opened #245 "Add Undocumented Options"
There are a few options that are not documented here - it would be nice to have all these options in one place. Could those be added? I'm not sure which options are missing, but here are a few examples of some valid cardName and corrseponding propertyName values that are not in this documentation.

"visualHeader": [{
	"show": true
}]

"visualTooltip": [{
	"type": "Default"
}]

---
#### Document De

[2018-09-12 14:35] tfairfoul opened #246 "iframe example not working?"
Hi,  the below example no longer seems to work:
&lt;iframe src="https://xyz.com"&gt;

 It just shows a blank window.

Thanks

Todd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f30eb2-e55e-635d-e161-6c26f20fac2d
* Version Independent ID: 7d1fd996-9981-a844-0f2b-abb35cf21b7f
* Content: [Add image, text, video, stream

[2018-09-12 19:45] mbrownblaeuer opened #247 "Never mind"
This comment is moved to the Feature area.

[2018-09-13 08:34] bybytaren opened #248 "Report shared with User and Embed in SharePoint Online shows "This content isn't available.""
Report Workspace runs on Premium capacity and User is given Read access to Report which is added to Power BI web part on a modern page in a separate site. Report web part loads without issue for Workspace members. I also tested Pin to Dashboard and shared that with User. User can access Report in Power BI but not on SharePoint page.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-09-13 13:16] markingmyname commented on #200
@karmamule and @bpiet2000 This is currently being discussed with the parties involved.

[2018-09-13 13:32] markingmyname commented on #225
@SychevIgor Thanks for the feedback. I updated the screenshots to be more current.  The changes should be posted live in a day or so.

[2018-09-13 14:02] markingmyname commented on #248
@bybytaren bybytaren Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-13 14:39] mschmidt0208 commented on #211
Hello,
Here's what the connection instructions Planview sent us says:

To use your Planview Enterprise data with Microsoft Power BI, you need to authenticate your access when signing in. However, if your environment uses Single Sign-On (SSO), you may not know your Planview Enterprise user name and password. To use SSO with Power BI, you must create and use an authentication token, which acts as yo

[2018-09-13 17:03] jtjones0304 commented on #208
We are using URL parameters with a Power BI report sourced from tabular live and it works fine.

[2018-09-13 17:08] jtjones0304 opened #249 "How to escape a single quote in the filter value"
We have some filter values which contain single quotes but I don't see how to escape those characters so the single quote isn't interpreted as the end of the parameter value.  For example we have Facility/Hospital eq 'St. Joseph's'.  I've tried using the escape %27 or _x0027_ but non of them work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-13 18:12] jordanmills commented on #211
Chicken and egg.  That page reads "Sign in to access this product help article."  And you can't sign in to there with SSO.

I did find some options in planview for authentication tokens and was able to create one. But the powerBI app for planview only allows basic sign in, not an authentication token.

After more digging around, I was able to uncover an interface in planview to reset a user's pass

[2018-09-13 19:29] maggiesMSFT commented on #247
Thanks for letting us know, @mbrownblaeuer! I'll close this issue.

[2018-09-13 19:29] #247 closed

[2018-09-13 19:32] maggiesMSFT commented on #245
Thanks for your comment, @kelaude! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-13 19:34] maggiesMSFT commented on #246
Thanks for your comment, @tfairfoul! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-13 20:24] ttplaya opened #250 "Text boxes and buttons"
This page makes no mention of text boxes and buttons. Is it possible to customize text boxes and buttons using the template json file? What would the visualName be for those? I tried "text", "textBox", "button", "buttonBox" and none of those worked. Please add documentation for those if the functionality exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-09-14 02:07] maggiesMSFT commented on #250
Thanks for your comment, @ttplaya! We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-14 05:22] kazshi opened #251 "'Create a real-time Power BI dashboard' is no longer available"
'[Create a real-time Power BI dashboard](https://msdn.microsoft.com/library/mt267603.aspx)' has no content in the '[Real-time dashboard](https://docs.microsoft.com/en-us/power-bi/refresh-data#real-time-dashboards)'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent

[2018-09-14 18:13] renatolaq opened #252 "boraaaa"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db81b-e91f-c1c8-7062-eb8bd5920eb9
* Version Independent ID: 63ba058e-817c-3b82-767b-5f94d8204e5b
* Content: [Connector Extensibility in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-connector-extensibility#certified-connect

[2018-09-14 20:47] kfile commented on #252
Hello, thank you for your comment. I can't tell by the title and the lack of supporting detail what exactly the documentation issue is. Can you please explain by 9/18? Thank you.

[2018-09-14 22:58] maggiesMSFT commented on #249
Hi, @jtjones0304 -- Turns out this is product feedback, because escaping single quotes isn't currently supported. I've passed your remark on to the product team. You can also go to  https://ideas.powerbi.com/forums/265200-power-bi and enter it there. Thanks!

[2018-09-14 22:58] #249 closed

[2018-09-14 23:00] maggiesMSFT commented on #207
Great catch, @o-o00o-o! The article is unclear. Turns out you also need the underscore after the 4-digit Unicode value. I'll update the article to state that.

[2018-09-14 23:27] maggiesMSFT commented on #209
Hi, @o-o00o-o -- I checked with the product team. Filters are applied on top of each other. You can't override/remove filters that are already in the report because the URL filters just get added to them. Hope that helps!

[2018-09-15 04:56] maggiesMSFT commented on #183
Good catch, @aruparel! Updating the table now.

[2018-09-16 09:29] o-o00o-o commented on #209
Ok thanks however now I wonder how this works if the end user has changed the filters when viewing the report the last time (and the report has not overridden the default setting so that user level filters are applied from last view)?

If the URL report filters are just applied to whatever the current report would show if the users shows them, then this wouldn't give non-deterministic results in t

[2018-09-17 05:15] rhlgupta1383 commented on #241
I was referring the link below:
https://docs.microsoft.com/en-us/power-bi/developer/power-bi-permissions

In Azure portal, use the below navigation steps:

App Registrations->(Your app)->Settings->Required Permissions->Power BI Service (Add if not already added)

There are two permissions which requires admin consent and does not have documentation around it. The permissions are as follows:

1. Re

[2018-09-17 05:15] tamasys opened #253 "No indication of minimum version for features"
The documentation doesn't list a version that features were introduced in, so I'm not sure if I'm doing something wrong when using this, or if it just isn't supported on the old version of Power BI available at my workplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af9ce3a-a3eb-8d57-55a7-66f04f46bbf7
* Version I

[2018-09-17 11:05] djpirra opened #254 "On-Premises Gateway can also be used to allow access to services using virtual networks"
On-Premises Gateway can also be used to allow access to services using virtual networks, as for example Azure Analysis Services requiring access to SQL DW on a VNet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Conte

[2018-09-17 14:38] docgregt opened #255 "How to purchase EM1 skus?"
The documentation has no links, phone #s or contact method on how to purchase EM1 skus. Please provide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c351d62-f45d-908e-bbc5-bc9bdcbe8372
* Version Independent ID: e6f1968c-a72b-7f79-9105-6d685e099af5
* Content: [How to purchase Power BI Premium - Power BI](https://docs

[2018-09-17 15:22] docgregt commented on #89
I am a global admin and the EM1 links takes me to purchase EM3. Provide the EM1 purchase option.

[2018-09-17 19:05] KayUnkroth commented on #209
If you reached a report via a filter URL, you would see the impact of changing other filters immediately. You'd for example see if a report now shows no results simply because the filters don't agree with each other. Let's say you filtered customers to only show Contoso, then Litware is no longer available and adding a filter for Litware leads to empty results. Either change the report URL to remo

[2018-09-17 21:19] brdudley opened #256 "Typo in the Text"
In the paragraph, "User Authentication" -- "whenever a user attempt to resources" :  should it be "whenever a user attempts to access resources..."

Same paragraph -- "Power BI uses the that login email..." : should be "Power BI uses that login email..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce725cf3-1fcb-9942

[2018-09-17 21:29] chrisweis opened #257 "No mention of Premium"
This article doesn't mention Power BI Premium at all.  Would be great if you could update it to reflect whether it does/doesn't apply to Premium also.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Em

[2018-09-17 21:38] chrisweis opened #258 "The "How can I monitor capacity consumption?" section needs an update..."
...to reflect the new "Power BI Premium Capacity Metrics" App that Microsoft published. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a447889-379d-3ded-9ab9-313c4f55a667
* Version Independent ID: 4f8e3f79-5025-919a-7282-8a63dda6bc8d
* Content: [Frequently asked questions about Power BI Embedded - Power BI](htt

[2018-09-17 23:19] RobvanB opened #259 "Release Date"
Is there any info on a release date for the composite models?
We want to use this, but cannot, as you cannot publish a report that uses preview features.....

[2018-09-18 16:17] rslayunc opened #260 "COUNTA vs. DISTINCTCOUNT"
Hi!
I am learning Power BI and am studying the Opportunity Analysis dataset. I am had a question about the "Opportunity Count" measure in the "Fact" table. The measure uses the formula "Opportunity Count = COUNTA([Opportunity ID])" and returns a value of 487 in the Report View.
However, when I look at the "Opportunity ID" column in the data table there are only 486 rows. I initially used the formu

[2018-09-18 22:12] #248 closed

[2018-09-18 22:15] markingmyname commented on #257
@chrisweis Please check out this article - https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization.  It discusses Premium similar to this article.

Hope this helps.

Thank you.

[2018-09-18 22:17] markingmyname commented on #258
@chrisweis Thank you for your feedback! We are already in the process of updating that information.  We are planning for it to be updated by next week.  Thank you.

[2018-09-19 01:34] jordanmills opened #261 "No detail on active directory data sources?"
It looks like there's no documentation on using active directory as a data source, and not much to configure.  How can I get information on objects in other partitions?  In this case, I need to build an analysis of sites and subnets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
*

[2018-09-19 03:34] rhlgupta1383 commented on #241
@mihart - Kindly let me know in case any additional information is required from my end to help provide further assistance on the issue

[2018-09-19 04:50] maggiesMSFT commented on #241
Thanks for your explanation, @rhlgupta1383. Now we’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-19 05:55] mihart commented on #239
added tag

[2018-09-19 05:58] mihart commented on #253
Hi @tamasys ,
Thank you for your question.  I've forwarded this info to the document author and we'll get this addressed asap.  Thanks, Michele

[2018-09-19 06:02] mihart commented on #254
Hi @djpirra ,
Thank you for your Power BI doc feedback.  I've assigned this to the author who will work on it asap.
Take care,
Michele

[2018-09-19 06:03] mihart commented on #255
Hi @docgregt
Thank you for your Power BI doc feedback.  I've assigned this to the author who will work on it asap.
Take care,
Michele

[2018-09-19 06:05] mihart commented on #256
Hi @brdudley ,
Thank you for finding that typo.  I've assigned this to the author who will fix it asap.
Take care,
Michele

[2018-09-19 06:07] mihart commented on #260
Hi @rslayunc ,
That's a really good question.  I'll look into this and get back to you asap.
Thanks
Michele

[2018-09-19 06:08] mihart commented on #261
Hi @jordanmills .
Thank you for your Power BI doc feedback.  I've assigned this to the author who will work on it asap.
Take care,
Michele

[2018-09-19 06:13] mihart commented on #259
Hi @RobvanB ,
That's a great question, but it's more of a product question than a doc question.  For product-related questions, please use the Power BI Community site:  community.powerbi.com.  That site is closely monitored by the product team and you'll get answers from them and/or community members.  If for some reason you don't get a quick answer, please write back.

Take care,
Michele

[2018-09-19 06:13] #259 closed

[2018-09-19 06:14] mihart commented on #261
added tag

[2018-09-19 06:18] mihart commented on #242
Hi @RonaldMussche
This is more of a product question than a doc question.  The fastest way to get an answer is to post this on community.powerbi.com.  The product team monitor the community forum very closely. If you this is a bug, then submit it on support.powerbi.com instead.
Take care,
Michele

[2018-09-19 06:18] #242 closed

[2018-09-19 09:51] o-o00o-o commented on #209
Hi Kay, I don’t think that this covers my concern although I am not familiar with Contoso. sorry if I didn’t explain my concern well enough before. Let me try again with an example

  1.  I build a report that has 2 filters, country and city available to the user. I publish this report with no default filter value set in either field.
  2.  User A goes to the report and sets the country to USA and

[2018-09-19 19:47] cmeyertons opened #262 "Are other SQL Server services (Analysis, Reports) implied?"
The documentation says that only SQL Server is supported, but is unclear if that support extends to Analysis Services, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41b25ab3-f22b-e70b-e262-6266dd132692
* Version Independent ID: e5cbbdd4-0c02-6c05-91f4-016b767eb233
* Content: [Use Kerberos on the on-premises gatew

[2018-09-19 19:50] cmeyertons opened #263 "Any guidance on environment separation?"
In a typical enterprise scenario, do you have separate gateway(s) for each environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c772b2-ccb1-a6dc-5bf6-a94e5cadc4d8
* Version Independent ID: 8dd056db-f148-b0db-0ee9-044ab5c0dbbd
* Content: [Guidance for deploying a data gateway for Power BI - Power BI](https://do

[2018-09-19 21:03] jrsilva24 commented on #211
In order to use the generated token, you must pass in the token in basic auth in the username field and leave the password blank.

[2018-09-19 22:18] skiwii opened #264 "Other things to try"
We used the SQL Server Kerberos diagnostics tool https://www.microsoft.com/en-ca/download/details.aspx?id=39046 which showed 2 issues.  We ran the SPN commands and rebooted the box but still had the problem.
The issue was with people using Internet Explorer.  The resolution is to delete all of the history in IE (go to Settings -&gt; Safety -&gt; Delete browsing history… And delete everything excep

[2018-09-20 02:02] maggiesMSFT commented on #211
Thanks for replying, @jrsilva24!
Hi @jordanmills -- @jrsilva24 is from Planview, so what @jrsilva24 says, goes. Thanks for asking!

[2018-09-20 02:14] fishnexj commented on #223
The issue turned out to be a Embedded node I had spun up in our Azure environment. It did not have the Power BI Service or Power BI Premium or Power BI as Readers in its IAM settings. Once we added those, the App worked fine!

[2018-09-20 02:47] jordanmills commented on #211
I will do that.  Thanks!

[2018-09-20 02:47] #211 closed

[2018-09-20 13:09] MMurray2018 commented on #178
When will the viewer roll be available? This is causing a delay in our rolling out to users. Since this is a new installation we chose to use the new improved workspaces.

[2018-09-20 15:42] smjanalytics opened #265 "Correct Limitations"
"Report tooltips are not supported when viewing reports in mobile apps or in embedded environments, including Publish to web."

Custom tool-tips are working in the Embedded platform, can we please update this documentation accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3

[2018-09-20 16:27] maggiesMSFT commented on #178
Hi, @Vinhaman and @MMurray2018 -- great questions! Beyond the purview of the docs, however. Our team can only answer feedback related to the documentation. Please enter product questions and feedback by selecting the "Product Feedback" button at the bottom of the article. You can also submit product feedback or feature ideas at https://ideas.powerbi.com, and engage with the Power BI Community at h

[2018-09-20 17:28] GKNetaphor commented on #213
same problem - I only see Edit Workspace and Leave Workspace options.  I do not see members, etc.

[2018-09-20 20:11] yipinlyu opened #266 "Could you please give an example for using networkD3 in Power BI"
Hello. Could you please give an example of using networkD3 in Power BI? I see in your document the networkD3 is supported by PowerBi. However, when I try to use networkD3, there is always an error that "No image was created". Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 000c7cf3-dbf4-92c6-3eb6-837329704cfa
*

[2018-09-20 20:28] jrichview opened #267 "Tips and Tricks for View modes could use more detail"
This section needs a more step-by-step explanation.  I tried doing what it said and did not get the resulting page to format as described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Po

[2018-09-21 01:59] maggiesMSFT commented on #213
Hi @djpirra and @GKNetaphor -- Thanks for asking! Yes, you need to be an owner of an app workspace in Power BI to edit the picture of the workspace group in Office 365. Likewise, you only see Edit Workspace and Leave Workspace if you're not an owner.
Hope that helps!

[2018-09-21 01:59] #213 closed

[2018-09-21 02:54] cjmain opened #268 "Contains"
Would love to see the 'contains' filter supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e8c09f-46ad-68f9-75e6-c3d5c2c214e5
* Content: [Add Power BI report parameters using the url - Power BI](https://docs.microsoft.com/en-us/power-bi/service-url-

[2018-09-21 04:13] maggiesMSFT commented on #268
Hi, @cjmain --  thanks for your contribution!
Our team can only answer feedback related to the documentation. Please enter your product feedback by selecting the "Product Feedback" button at the bottom of the article. You can also submit product feedback or feature ideas at https://ideas.powerbi.com, and engage with the Power BI Community at https://community.powerbi.com.
If you do have any feedba

[2018-09-21 04:13] #268 closed

[2018-09-21 14:54] markingmyname commented on #257
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 14:55] markingmyname commented on #258
@chrisweis We added that information to the FAQ article.  It should go live in a day or two.

Thank you.

[2018-09-21 14:55] markingmyname commented on #258
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 14:58] markingmyname commented on #267
@jrichview Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-09-21 14:58] markingmyname commented on #241
Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-09-21 15:00] markingmyname commented on #200
We apologize for the delay.  We are still looking into this issue.  Thank you.

[2018-09-21 15:00] markingmyname commented on #264
Thank you for your feedback! We will investigate and review if we need to change/add the information suggested.

[2018-09-21 19:07] aguptadel opened #270 "Nice to have attachments"
It will be nice to have attachments of the data which is being shown in the videos or in demos so the learners can create and play and see by them self's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08962cd6-cbb2-3342-09df-aa199623e9fb
* Version Independent ID: d4ebdf44-cde2-82b6-3f82-8524f370d980
* Content: [Visuali

[2018-09-21 20:28] aguptadel opened #271 "Why Chrome not edge and bing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c35dd8c-d5d5-50d3-2f4c-26993f7966aa
* Version Independent ID: 56842b5d-abd0-a5e8-a8b5-1f6a274940f7
* Content: [Exploring data - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/exploringdata)
* Content Source: [powerbi-docs/guided-

[2018-09-23 14:18] kfile commented on #271
Hi @aguptadel, thank you for your comment. I assume you are asking why our examples show Chrome vs. Edge and Bing. We do this for a couple of reasons. 1) we want to show readers that we are not Microsoft-centric and 2) we want to acknowledge that the majority of users are running Chrome and reflect that in our docs.

[2018-09-23 14:18] #271 closed

[2018-09-24 06:22] ranjit321 opened #272 "Moving pages bar to top of the report."
Is there any way I can move bar containing page names to top of the report instead of bottom? I mean page1 , page 2 .... should be on top of the report from where I can navigate to different pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3916-4340-4ddc-67bf22159bf3
* Version Independent ID: 5b620628-1c1

[2018-09-24 10:45] dduksoup opened #273 "More Visual Examples?"
I thought that was a very basic introduction to getting started with what Power BI has to offer. I'm coming from a Tableau background, and I would appreciate it more if the guided learning provided more visual examples to illustrate the concepts introduced in the lessons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-09-24 11:01] rebeckanylin opened #274 "Cannout publish report to new workspace with Power BI dataset as source"
Hi,
When I use a Power BI dataset as data source from a new workspace I cannot publish that report to the new workspace. The same thing for old workspaces works fine.

[2018-09-24 13:21] ashishrajsrivastava opened #275 "Adding security group to data source"
I am not able to add a security group as data source member, it does not discover the security group by name . Does a security group has to have a email id assigned to it?

https://docs.microsoft.com/en-us/power-bi/service-gateway-manage#remove-users-from-a-data-source

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 871

[2018-09-24 15:38] moubass opened #276 "Thanks"
Very nice introduction to powerBI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b08723-3d20-45e8-1a6e-348c33cb5ff2
* Version Independent ID: a201f1c5-9771-5eff-bac6-85de7058a8b3
* Content: [Getting started - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learning/gettingstarted?tutorial-step=6)
* Content

[2018-09-24 18:23] dbvinson4 opened #277 "Attempting to Pass a parameter through a URL in Power BI Report Server (on-site)"
DoePerusing this docum and p

Prepared my URL as I thought I should
http://&lt;REDACTED PBIRS SERVER&gt;/Report Folder/Report Name?filter=Spreadsheet Query/Status eq 'Open'

Spreadsheet Query is the name of the table (data source folder)
Status is the name of the field
Status shows up in the Filters window
Status is also a slicer that is visible

Report Executes in PBIRS but returns all values.
Tr

[2018-09-24 21:42] pspathakmsft commented on #119
## Quick workaround rename/force SalesMarketing dataset to be the first one in the list (I have appended 00 in the beginning )
//Create dataset JSON for POST request
            string datasetJson = "{\"name\": \"00SalesMarketing\", \"tables\": " +

Hope this helps!

[2018-09-24 21:45] #257 closed

[2018-09-24 21:45] #258 closed

[2018-09-25 00:39] dwightathompson opened #278 "Power BI datasets no longer available"
"Power BI datasets" is no longer an option when the "Power BI" category is selected. What happened to this option? Please update the documentation to reflect this change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-61f0-de544ae9e959
*

[2018-09-25 00:42] #278 closed

[2018-09-25 00:42] dwightathompson commented on #278
I was in the query editor. This option is available, just not in the query editor.

[2018-09-25 06:16] Mike-Honey opened #279 "Doesn't explain non-gateway scenario, doesn't explain how to add schedule times"
The **Gateway connection** and **Data source credentials** sections should explain the scenario where the dataset does not require a gateway e.g. reading from SharePoint Online or OneDrive. Currently it's implied that some kind of gateway is mandatory.

Also the **Schedule refresh** section does not describe the steps need to add refresh times and the limitation of 8 times per day for Free & Pro w

[2018-09-25 14:48] davidiseminger commented on #272
Thanks for your comment, @ranjit321. The functionality you're asking about isn't currently possible in Power BI Desktop.

You can submit product feedback or feature ideas by using the button labeled Give Product Feedback, or by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com

[2018-09-25 14:48] #272 closed

[2018-09-25 14:50] davidiseminger commented on #273
@dduksoup - thanks for your feedback! We're working on improving our Learning experience, and will certainly take your feedback into consideration. We're happy you're here, and hope you find our future content improvements compelling.

[2018-09-25 14:50] #273 closed

[2018-09-25 14:53] davidiseminger commented on #275
Thanks for your comment, @ashishrajsrivastava. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. We've also let the writer of this article know about your inquiry, in case the content can be clarified.

[2018-09-25 14:54] davidiseminger commented on #274
Thanks for your comment, @rebeckanylin. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-25 14:54] #274 closed

[2018-09-25 14:55] davidiseminger commented on #276
You're welcome! Thanks for taking the time to comment, we're glad you found that introduction useful.

[2018-09-25 14:55] #276 closed

[2018-09-25 14:56] davidiseminger commented on #277
Thanks for your comment, @dbvinson4 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-25 14:56] #277 closed

[2018-09-25 14:58] davidiseminger commented on #279
Thanks for your comment, @Mike-Honey . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2018-09-25 22:48] jhauff77060 opened #282 "Typo in the Special characters in URL filters section"
I believe that there is a typo in the Special characters in URL filters section. The Unicode for left bracket "[" shows ..005B while the Coding for Power BI shows ..0058. Could you please double-check this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-896a-b1dfd5d9e384
* Version Independent ID: 15e

[2018-09-25 22:52] maggiesMSFT commented on #282
Thanks so much for catching that, @jhauff77060! You're right. It's wrong. I'll fix it.

[2018-09-25 23:42] maggiesMSFT commented on #207
Done

[2018-09-25 23:42] #207 closed

[2018-09-25 23:54] maggiesMSFT commented on #282
Fixed -- fix will be live tomorrow afternoon. Thanks again, @jhauff77060

[2018-09-25 23:54] #282 closed

[2018-09-26 00:09] maggiesMSFT commented on #148
Hi @LucLabelle -- is this the Spark article you're referring to?
https://docs.microsoft.com/en-us/power-bi/spark-on-hdinsight-with-direct-connect
@markingmyname -- check out @LucLabelle's comment.

[2018-09-26 07:36] BharathiAN opened #284 "Access the directory as a signed in user"
Why the "Access the directory as a signed in user" permission to be enabled for this. Does the "sign-in and read user profile" permission is not enough.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Embed Po

[2018-09-26 09:54] ImagineTraining opened #285 "Practical examples"
For me the GibHub example was not a good one - I think most users won't understand what it is, is there another example you could use? Also, I'd love some data / practical exercises to play with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b08723-3d20-45e8-1a6e-348c33cb5ff2
* Version Independent ID: a201f1c5-9771-

[2018-09-26 11:04] markingmyname commented on #241
@rhlgupta1383 We are working on updating this page.

[2018-09-26 11:12] richardnlove opened #286 "Files in preview workspaces"
Will the release version of the new workspace structure allow for the uploading of files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new workspaces (preview) - Power BI - Power BI](https://docs

[2018-09-26 15:52] o-o00o-o commented on #208
Thanks guys, I can confirm that this is now working

[2018-09-26 16:33] KayUnkroth commented on #209
So, if I understand you correctly, you'd need something like an additional query string parameter to define the behavior so that users who want to superimpose the URL filter criteria can continue to do so while others would want to ensure only the URL filter criteria is applied can do so as well. Maybe something called ignoreOtherFilters. Would that give you want you need?

[2018-09-26 20:25] JoshBaruch opened #287 "Din Font not supported"
Although it is available almost everywhere in the Desktop application, attempting to format to DIN using a JSON file does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use Report Themes in Power BI

[2018-09-26 23:52] markingmyname commented on #148
@LucLabelle I find it would fit here more - https://docs.microsoft.com/en-us/power-bi/service-gateway-kerberos-for-sso-pbi-to-on-premises-data.  We can add it to that article, and link to it from the one you mentioned, sir.  Would that work?

[2018-09-27 14:09] MartinaPD commented on #236
Hello,
If the Usage Metric is not enabled yet, Can you advice how to set the Workspace back to standard? eg... not using the New workspace (preview).  Thanks.

[2018-09-27 17:39] davidiseminger commented on #204
Fixed typos - thanks!

[2018-09-27 17:39] #204 closed

[2018-09-27 17:40] davidiseminger commented on #206
Thanks for your comment, @epiphania and sorry for the delay. Looks like this is product feedback rather than documentation feedback – you can submit product feedback or feature ideas by using the button labeled Give Product Feedback, or by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community

[2018-09-27 17:40] #206 closed

[2018-09-27 17:45] davidiseminger commented on #215
Thanks for your comment @karmamule, and sorry for the delay and confusion. That handy tool is not available, and I've removed reference to it. Sorry for the inconvenience.

[2018-09-27 17:45] #215 closed

[2018-09-27 17:47] davidiseminger commented on #218
Thanks for your comment. I don't see or find the test you refer to in this article, perhaps you meant another article?

[2018-09-27 17:47] #218 closed

[2018-09-27 17:49] davidiseminger commented on #224
Thanks for your feedback, @tomlaciano. You may be interested in the recently release Learn portal, which includes a tutorial on Power BI Desktop. See it here: https://docs.microsoft.com/learn/modules/get-started-with-power-bi/

[2018-09-27 17:49] #224 closed

[2018-09-27 17:49] #226 closed

[2018-09-27 18:00] davidiseminger commented on #231
Thanks for your comments @metamoof. I've fixed those links, thanks for pointing those out!

[2018-09-27 18:00] #231 closed

[2018-09-27 18:01] davidiseminger commented on #232
Thanks for your comment, @peymanrah. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-27 18:01] #232 closed

[2018-09-27 18:01] davidiseminger commented on #233
Thanks for your comment, @audreyhammonds. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-27 18:01] #233 closed

[2018-09-27 18:03] jrichview commented on #267
It's difficult to answer now because we've been trying every possible idea we can find to get the iframe to render attractively and sensibly. It's our last technical hurdle, but we're not finding anything that seems ideal for our client.

[2018-09-27 18:04] davidiseminger commented on #239
Thanks for your comment, reassigning to get more input from author.

[2018-09-27 18:05] jrichview commented on #267
Here's a related question that this section doesn't clear up. We're editing locally in the Desktop app, then publishing to the PBI service so it can be hosted in an iframe.  Does it make any difference whether the view mode is set in Desktop before publishing or can it just be set in the PBI service web page?  Do both impact the rendering identically?

[2018-09-27 18:06] davidiseminger commented on #243
Thanks for your comment @feemurk - we'll look into attaching the PBIX files in future articles. You can also get the PBIX files used for monthly updates from the following location, which I believe includes the file you're looking for: https://github.com/Microsoft/powerbi-desktop-samples/tree/master/2018

[2018-09-27 18:06] #243 closed

[2018-09-27 18:06] jrichview commented on #267
What we really want is to set an iframe with a fixed width and then set each report page to render aligned top/left in that frame and to fit the width.  That doesn't sound difficult but if we set a width we find there is centering happening rather than top/left alignment and it does not present well.

[2018-09-27 18:07] davidiseminger commented on #244
Thanks for your comment @mnjrupp - we hope so too!

[2018-09-27 18:07] #244 closed

[2018-09-27 18:07] davidiseminger commented on #245
Thanks for your feedback. We're working with the engineering team to add more information about report themes, and will update the article when that work is complete. Thanks for posting!

[2018-09-27 18:07] #245 closed

[2018-09-27 18:09] davidiseminger commented on #250
Thanks for your feedback @ttplaya - you may find additional information about using themes in the community portal found at https://community.powerbi.com. We'll continue to add more content to the article you mention as our engineering team makes the information available.

[2018-09-27 18:09] #250 closed

[2018-09-27 18:12] davidiseminger commented on #251
Thanks for your comment @kazshi and you're right - that article has been removed. I've removed the reference to it as well.

[2018-09-27 18:12] #251 closed

[2018-09-27 18:13] davidiseminger commented on #253
Thanks for your comment @tamasys. You're right, we do not track minimum versions of Power BI Desktop on a feature level. We always suggest you download and use the most current version of Power BI Desktop to ensure the functionality is as up to date as possible.

[2018-09-27 18:13] #253 closed

[2018-09-27 18:16] maggiesMSFT commented on #236
Hi, @MartinaPD -- thanks for your question! There's no way to do that, no. There's no migration path. You can just create another workspace using the Create Workspace button.

[2018-09-27 18:19] davidiseminger commented on #256
Thanks for your close read, @brdudley - I've fixed those typos. Much appreciated!

[2018-09-27 18:19] #256 closed

[2018-09-27 18:20] davidiseminger commented on #261
Thanks for your comment, @jordanmills. This looks like a community or support request. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-27 18:20] #261 closed

[2018-09-27 18:22] davidiseminger commented on #265
Certainly, @smjanalytics - thanks for posting! I've updated the doc.

[2018-09-27 18:22] #265 closed

[2018-09-27 18:27] davidiseminger commented on #287
Thanks for your feedback @JoshBaruch. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2018-09-27 18:27] #287 closed

[2018-09-27 18:30] JaySardhara opened #288 "Reason for long network time in "api/v2.0/me" API"
What could be reason for "api/v2.0/me" API taking long time ?
It seems like something related to AD or token issue. But more insights would be helpful.
Issue is being faced in PowerBI Report server.

[2018-09-27 18:34] davidiseminger commented on #123
Sorry for the delay @DeanGross - and you're correct, the numbering is different in each version even though the functionality of each is the same. Sorry for any confusion. I've clarified that in the article. Thanks!

[2018-09-27 18:34] #123 closed

[2018-09-27 22:50] maggiesMSFT commented on #288
Hi, @JaySardhara -- thanks for your comment! This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.  Thanks!

[2018-09-27 22:50] #288 closed

[2018-09-27 22:51] maggiesMSFT commented on #286
Hi, @richardnlove -- I'm not sure I understand your question. Could you rephrase? Thanks!

[2018-09-27 23:07] richardnlove commented on #286
Hi Maggie,

Is it possible to upload files into a preview workspace and link to them in
Power BI like we can currently do to files in a SharePoint or OneDrive
folder?

On Thu, Sep 27, 2018 at 6:51 PM Maggie Sparkman <notifications@github.com>
wrote:

--
*Richard Love *  *[image: Linkedin Profile]*
<https://www.linkedin.com/in/rlove>
Founder
HarborView GxP Business Intelligence and Systems

www.har

[2018-09-28 00:57] Minewiskan commented on #239
@erikmartell  You are correct. I haven't seen this article in years. Not sure how it got twisted up. Open source, I guess. It's been corrected. Thanks for letting us know.
#please-close

[2018-09-28 02:04] tamasys commented on #253
@davidiseminger Unfortunately a) Power BI for Report Server is always a few versions behind, and b) most corporations control which version of a product is available. So using the latest version isn't actually an option for a lot of users.

[2018-09-28 14:45] jordanmills opened #289 "App missing"
There is no "Microsoft Azure Consumption Insights" app listed.  Just "Microsoft Azure Enterprise".  Was the consumption insights app discontinued too, or moved somewhere else that is not reflected in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6932-1edef039548f
* Version Indepen

[2018-09-28 18:19] yiga2 opened #290 "No support for NUMERIC datatype"
Unfortunately PBI does not support the NUMERIC datatype of BigQuery, which is the default type for recording financial and accounting data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 974455fc-88ff-6a48-4dd0-036419eaa849
* Version Independent ID: 2700a36d-177a-7596-2d91-4f0fc9f9d695
* Content: [Connect to a Google B

[2018-09-28 18:33] jaxidian opened #291 "Embedded Setup Tool (link) generates broken project"
I'm not sure who/how to give this feedback, so I'm starting here, hoping somebody can pass this along to the best person/project/team.

When you click on the link for the "Embedding setup tool" (near the top), it produces a couple projects. I'm not sure about the other but the "AppOwnsData" project that it generates fails to compile correctly. Apparently there's some issue with Nougat dependencies

[2018-09-28 19:32] kfile commented on #290
Thanks for your comment,  @yiga2.  It looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2018-09-28 19:32] #290 closed

[2018-09-28 19:37] kfile commented on #289
Thank you for your feedback. I have assigned this issue to the author. She will determine if it's a doc omission or a change in feature.

[2018-09-28 19:40] yiga2 commented on #290
This was reported earlier [here](https://community.powerbi.com/t5/Issues/PBI-Desktop-BigQuery-connector-no-support-for-NUMERIC-type/idi-p/489670) with no traction from the engineering team so it would only be fair to add a disclaimer to the documentation re the unsupported datatype.

[2018-09-29 11:48] eino-makitalo opened #292 "Non-Azure embedding?"
If I am using non Microsoft hosting how to embed "App owns data" version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7d9793-ede4-653a-bc25-cf91be807edb
* Version Independent ID: bb12e45c-9aaa-97b2-cfc7-31e1c511fd00
* Content: [Embedding with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/developer

[2018-09-30 07:30] djpirra opened #293 "Counters Detailing"
Would be great to understand how to audit performance levels for each Gateway Counter. We are presented with values but its hard to understand what is good or bad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f41ca5-f249-e0a8-fb68-d19215f5ca66
* Version Independent ID: 74828e70-9e56-afd3-aa11-5bfaab20e384
* Content

[2018-10-01 14:23] vladpach opened #294 "No subscription found."
After runnnig project I have error- No subscription found.
Thank`s for help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23ae77b5-542a-b032-20ec-bf81d041fde0
* Version Independent ID: 70356207-120a-09a8-f8ab-bfdd9b02ad1f
* Content: [Power BI Embedded Migration Tool - Power BI](https://docs.microsoft.com/en-us/power-

[2018-10-01 15:41] erikmartell commented on #239
Thank you very much for the correction and feedback

[2018-10-01 15:41] #239 closed

[2018-10-01 16:58] markingmyname commented on #293
@djpirra  Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2018-10-01 17:32] markingmyname commented on #264
@skiwii We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 17:38] bvaldeiglesias commented on #200
Here is a work around that I found and at least work for my case:

string token = authContext.AcquireTokenAsync(resourceUri, clientID, new Uri(redirectUri), new PlatformParameters(PromptBehavior.Auto)).Result.AccessToken;

Instead of AcquireToken I used AcquireTokenAsync, the only inconvenience is that it requires an extra parameter: "IPlatformParameters:
An object of type PlatformParameters which

[2018-10-01 17:49] markingmyname commented on #267
@jrichview THanks for your comments. We will investigate and get back to you with the relevant info.

[2018-10-01 17:55] swgupt commented on #217
@MichaelPointeauItron , Thanks for your feedback. You should be able to look at the past 7 days of data. We are  working to make improvements in this area. Be sure to submit your ideas or vote on existing suggestions here : https://ideas.powerbi.com/forums/265200-power-bi-ideas

[2018-10-01 18:47] markingmyname commented on #284
@BharathiAN You are correct, there is no difference. The "Sign in and read user profile" permission would work the same.  Thank you for your feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 21:38] markingmyname commented on #291
jaxidian You are correct. There are some fine tuning that needs to be done in Visual Studio before running the sample, such as downloading the appropriate NuGet packages.  In the prerequisites' section, I have you need Visual Studio installed before trying the tutorial.  However, if you feel it will help, I can add the word "configure" to the prerequisites' section.

[2018-10-01 21:40] markingmyname commented on #241
@rhlgupta1383 This page will be updated by the end of the week.  Thank you for your feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 21:41] #241 closed

[2018-10-01 21:42] #284 closed

[2018-10-01 21:42] #264 closed

[2018-10-01 21:46] markingmyname commented on #267
@jrichview Please try this - https://lukaszpawlowski-ms.github.io/Optimize-Publish-To-Web/.

Let me know your feedback.

Thank you.

[2018-10-01 22:03] markingmyname commented on #148
@LucLabelle Added Spark to the article - https://docs.microsoft.com/en-us/power-bi/service-gateway-kerberos-for-sso-pbi-to-on-premises-data - to be listed as an option to use SSO with the gateway.  I also added a "Next steps" link to the article - https://docs.microsoft.com/en-us/power-bi/spark-on-hdinsight-with-direct-connect - so you can reference it.  Hope this helps.

Updates to both articles

[2018-10-01 22:04] markingmyname commented on #148
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 22:12] markingmyname commented on #294
@vladpach Thanks for your comment. This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

[2018-10-01 22:12] markingmyname commented on #294
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-01 22:19] #294 closed

[2018-10-02 09:53] DaveRuijter commented on #156
@markingmyname actually, in this case, it's only a good suggestion to direct people to share the report directly, as I proposed. The suggestion to pin something on a dashboard and then share that dashboard might work, but it is not a good suggestion. Keep the end-user in mind! he/she will get a useless dashboard shared with him.. And, since we can't embed dashboards in SharePoint Online, this dash