[2019-05-15 01:41] markingmyname commented on #1008
@johnnycardy,

Thanks for the feedback, I updated the authority URI in the code block to show ".com" instead of ".net."

I also updated article - https://docs.microsoft.com/en-us/power-bi/developer/walkthrough-push-data-get-token- with this info as well.

Changes should show live by the end of the week.

Thank you.

[2019-05-15 01:41] markingmyname commented on #1008
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-15 01:41] #1008 closed

[2019-05-15 01:47] markingmyname commented on #1009
@bretf-ik,

Thanks for the feedback, I updated the authority URI in the code block to show ".com" instead of ".net."

I also updated all the automation walkthrough articles with the same block of code for the authorityuri.

Changes should show live by the end of the week.

Thank you.

[2019-05-15 01:47] markingmyname commented on #1009
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-15 01:47] #1009 closed

[2019-05-15 01:48] markingmyname commented on #1022
Thanks for your comment, @finnbr.  This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

[2019-05-15 01:49] markingmyname commented on #1022
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-15 01:49] #1022 closed

[2019-05-15 03:44] mihart commented on #1034
Thanks for your comment, @jordanmills . This issue has been assigned to the doc author for review.

[2019-05-15 03:45] mihart commented on #1035
Thanks for your comment, @ybulman . This issue has been assigned to the doc author for review.

[2019-05-15 03:49] mihart commented on #1036
Thanks for your comment, @ArvidBaa . This issue has been assigned to the doc author for review.

[2019-05-15 03:50] mihart commented on #1037
Thanks for your comment, @BrianPie . This issue has been assigned to the doc author for review.

[2019-05-15 03:51] mihart commented on #1039
Thanks for your comment, @databoxinsights . This issue has been assigned to the doc author for review.

[2019-05-15 03:54] mihart commented on #1031
Thanks for your comment, @anmolah . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-05-15 04:12] eliungs commented on #379
Still an issue.

[2019-05-15 04:56] Anmolgan81 commented on #1031
I haven't got any response since I asked this question yesterday on powerbi community.

Regards
Anmol Ganju

________________________________
From: Michele Hart <notifications@github.com>
Sent: Wednesday, May 15, 2019 9:24:45 AM
To: MicrosoftDocs/powerbi-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/powerbi-docs] Does the connector for on-premise SAB-BW version 7.0 works with the PowerB

[2019-05-15 06:00] lanedance commented on #379
I downloaded and installed winPython, plays with Power BI fine, straight after install. Couldn't get it to work with Anaconda.

[2019-05-15 07:13] sloggiz commented on #1012
Hey, I also wonder about Oracle version. Currently I'm unable to use DirectQuery in PBI Desktop (ResportServer vJan2019) when connecting to Oracle DB. My Oracle client version is 12.2.0.1.0 (more recent than the recommended one)

[2019-05-15 07:23] djpirra opened #1040 "Can authentication be done through MSI?"
Can authentication be done through MSI?
What would be the resource URL to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179b0-7f3d-77de-239b-a33c9d30ff61
* Version Independent ID: ab708f2a-3cb5-fcf3-9733-a2bc26b09e60
* Content: [Authenticate users and get an Azure AD access token for your application - Power B

[2019-05-15 07:33] ArvidBaa opened #1041 "Python data source cannot be used in Power BI Service through the gateway"
I just set up a data source using a python script, that collects a number of files, applies some filters and finally combines them into a single Pandas DataFrame. This works just fine in Power BI Desktop, but as soon as I try to publish the dataset to Power BI Service, the scheduled refresh stops working. After quite some time searching the web I finally found someone saying that Python scripts do

[2019-05-15 17:13] maggiesMSFT commented on #1034
Hi, @jordanmills -- Thanks for your question! I've checked. You should see it where you see it in the screen shots in the article. If you're not seeing there, you may need to check with Power BI support, https://powerbi.microsoft.com/en-us/support/.

Also, there are no public APIs or cmdlets to configure tenant settings yet. Check the Power BI ideas site, https://ideas.powerbi.com/forums/265200-po

[2019-05-15 17:13] #1034 closed

[2019-05-15 17:16] maggiesMSFT commented on #1040
Hi, @djpirra -- thanks for your question! I've assigned it to the writer to investigate.

[2019-05-15 17:40] maggiesMSFT commented on #1041
Hi, @ArvidBaa -- thanks for your question! I've assigned it to the author. In the meantime, I recommend checking the community site to see if anyone there has an answer.
https://community.powerbi.com/

[2019-05-15 17:41] maggiesMSFT commented on #379
Hi, all -- this issue is assigned to the writer. In the meantime, I recommend checking the community site to see if anyone there has an answer.
https://community.powerbi.com/

[2019-05-15 22:32] JuniorIce opened #1042 "This sorting doesn't appear to work on the "matrix" visual"
I have a matrix visual that has months in the header (January 2019, February 2019, etc.) and then the rows show the revenue by company (each month). There doesn't appear to be any way to sort the rows (largest to smallest) based on the value under a particular month column. I see that I can add a total column and sort on that, but I'm not able to sort based on the sales amount by customer for a pa

[2019-05-16 01:56] jordanmills commented on #1034
Well thanks for checking.  There are lots of ideas covering most of what we need for powershell/programmatic administration, they're just not being acted on.  I can't even get signed in on that site because there's an error with the capcha system.

[2019-05-16 08:28] jayendranarumugam commented on #543
@markingmyname I couldn't understand, Can you tell me the difference between workspaces and groups?
We are still seeing two difference API permissions in the PowerBI (During App registration) which is `View all workspaces` and `View all groups` which one is we need to give?

You are saying that groups are the V2 workspaces and workspace are the `classical(v1) workspace ` ???

[2019-05-16 14:53] ArvidBaa commented on #1041
Hi, @maggiesMSFT and thank you for the response. I am confident that the answer I had already found about Python script not working as data source in Power BI Service was correct. So this is not a question about a problem that I want an answer to, but a suggestion to add the information about the limitations of how and when Python scripts will and will not work to the documentation.

[2019-05-16 15:15] siva44 opened #1043 "Limitation - Power BI Premium"
Hello,
Are these limitations applicable to Premium as well?

Thanks,
Siva

[2019-05-16 16:29] maggiesMSFT commented on #1041
Thanks for clarifying, @ArvidBaa! I'll pass this on to the author also.

[2019-05-16 16:46] poortom1004 opened #1044 "Remove video"
That video at the top of this article is so old, almost all of the content in the video has been replaced by other stuff.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70948401-a30b-6499-82ce-cbc659b07d74
* Version Independent ID: 3b891116-3acd-dcd0-47e0-b99375696d56
* Content: [Find Power BI users that have signed in

[2019-05-16 21:30] SyntaxC4 opened #1045 "[WTD] Write the Docs Inclusion Project"
Hello fellow documentarians!

First off, I'd like to thank each of you for participating in the Write the Docs writing day. We appreciate you spending time with us while we work towards building more inclusive documentation.

# The Goal

At Microsoft, our mission is to empower every person and every organization on the planet to achieve more. To realize this mission, we need to ensure that our doc

[2019-05-17 00:27] asocorro opened #1046 "RLS"
RLS does work at least for report subscriptions.  The data is filtered accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830da8e8-8526-0e6a-d83f-0c804226e006
* Version Independent ID: 3e7b9d31-133d-1b2f-fded-d9218284155b
* Content: [Subscribe yourself and others to reports and dashboards in the Power BI servi

[2019-05-17 01:05] SyntaxC4 opened #1047 "[WTD] PowerBI Consumer Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [end-user-alerts.md Line   #43](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/consumer/end-user-alerts.md#L43)
- [ ] [end-user-basic-concepts.md Line   #103](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/consumer/end-user-basic-con

[2019-05-17 01:06] SyntaxC4 opened #1048 "[WTD] PowerBI Visuals Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [desktop-shape-map.md Line   #235](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/visuals/desktop-shape-map.md#L235)
- [ ]   [power-bi-visualization-best-practices.md Line   #309](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/visual

[2019-05-17 01:07] SyntaxC4 opened #1049 "[WTD] PowerBI Desktop Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [desktop-calculated-columns.md Line   #30](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/desktop-calculated-columns.md#L30)
-   [ ] [desktop-calculated-columns.md Line   #36](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/desktop-

[2019-05-17 01:11] SyntaxC4 opened #1050 "[WTD] PowerBI Sample Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [sample-customer-profitability.md Line   #19](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/sample-customer-profitability.md#L19)
- [ ] [sample-customer-profitability.md Line   #61](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/sam

[2019-05-17 01:12] SyntaxC4 opened #1051 "[WTD] PowerBI Service Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [service-admin-faq.md Line   #72](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/service-admin-faq.md#L72)
- [ ] [service-admin-power-bi-security.md   Line   #54](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/service-admin-power-bi-

[2019-05-17 01:14] SyntaxC4 opened #1052 "[WTD] PowerBI Whitepaper Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [whitepaper-azure-b2b-power-bi.md Line   #265](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/whitepaper-azure-b2b-power-bi.md#L265)
-   [ ] [whitepaper-azure-b2b-power-bi.md Line   #275](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-d

[2019-05-17 01:15] SyntaxC4 opened #1053 "[WTD] PowerBI Misc Inclusion Articles"
In support of #1045 , here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [power-bi-overview.md Line   #35](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/power-bi-overview.md#L35)
- [ ] [0-0-what-is-power-bi.md Line   #26](https://github.com/MicrosoftDocs/powerbi-docs/edit/live/powerbi-docs/guided-learning/includes/0-0-what-

[2019-05-17 16:15] sqlchick opened #1054 "The cloud data sources Q&A should be clarified."
The comment about not needing a gateway for cloud data sources such as Azure SQLDB is correct--but incomplete thus misleading. If a cloud service like Azure SQLDB resides within a corporate virtual network, behind a firewall, or requires a VPN, then it would require a gateway. More and more companies are implementing virtual networks to enhance security so it would be helpful to update the Q&A wit

[2019-05-17 19:05] maggiesMSFT commented on #1046
Hi, @asocorro -- me again! OK, I checked with the product team. Here's their response:
IF the report subscription is only for yourself, it does work – you simply can’t subscribe others to a report with RLS in Power BI right now.
Paginated Reports allows you to subscribe other users to reports with RLS turned on, however, the attachment data is based on the initial subscriber only.
Hope that clears

[2019-05-17 19:10] asocorro commented on #1046
Hi!  Thanks for the quick response, as usual.

IF the report subscription is only for yourself, it does work – you simply can’t subscribe others to a report with RLS in Power BI right now.
Yes, my comment was that the article says it doesn’t.

By the way, it would be nice if subscriptions remembered the filter state of the report (if one so chooses).

Have a nice weekend,
Adolfo

From: Maggie Spar

[2019-05-17 20:31] tomwill98103 opened #1055 "missing content"
Last sentence in the 'Schema discovery' is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf7b2117-3a8d-1b35-109c-df315738beac
* Version Independent ID: d31fe48a-8b7d-149f-0db5-2818a4fa07cc
* Content: [Azure Machine Learning integration in Power BI (Preview) - Power BI](https://docs.microsoft.com/en-us/powe

[2019-05-17 21:36] awbarbeau opened #1056 "Clarification on API restrictions"
Can you please clarify if the limitation “Service principal does not support admin APIs” applies to just the *AsAdmin operations for the Power BI REST APIs, or if the API restriction is colloquial and any other API operations are not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c135bb4c-618b-478d-bce7-ac86

[2019-05-17 21:37] maggiesMSFT commented on #1046
@asocorro -- got it, thanks. Yes, I'll update the article.

[2019-05-18 06:54] erapade opened #1058 "Is there a self-service sign-up for Power BI Free license"
This comment could have been dropped in the Self-service sign-up as well, but there it states clearly that its only for PRO-license.
My question is if you have missed to describe how to do self-service sign-up for just a Free license or if this is only possible to do as you describe in this article by either signing up for a PRO trial or by centrally managing users from the admin center (or script

[2019-05-18 19:20] bdevany opened #1059 "Java Script Error"
When trying to connect to Quickbooks Online, a Java Script error message pops up each time the window opens to log into Quickbooks.  After selecting "yes" to continue running the script, the outside frame of the Quickbooks window appears, but the fields to enter credentials never appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-19 17:25] Khairunj commented on #1053
WTD; Khairun is editing these files for write the docs project for inclusive project.

[2019-05-19 17:58] Khairunj commented on #1052
WTD: Khairun is updating these documentation for gender inclusive

[2019-05-19 21:26] allisongisinger commented on #1048
I will work on this

[2019-05-19 21:30] allisongisinger commented on #1048
Did not update desktop-shape-map.md Line #235 because no changes were required. HE existed in the document, but it was an abbreviation for Hessen, Germany.

[2019-05-19 21:49] allisongisinger commented on #1048
Did not update lines 746, 785, 809 because specific authors were being talked about and removing the gender or specific references to authors wouldn't make sense for the article.

[2019-05-20 09:10] v-kerwan opened #1067 "Service Principle for Gateway"
Please add this information and below Link to this page:
https://docs.microsoft.com/en-us/power-bi/developer/embedded-row-level-security#on-premises-data-gateway-with-service-principal-preview

On-premises data gateway with service principal (Preview)
Customers that configure row-level security (RLS) using an SQL Server Analysis Services (SSAS) on-premises live connection data source can enjoy the

[2019-05-20 12:39] alexb5dh opened #1068 "Sharing via API"
Is it possible to share via Power BI REST APIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f47742-00cf-eac0-7880-18eb5e988003
* Version Independent ID: 0010dce8-b1e0-b1b4-9840-ff2c3e32b53e
* Content: [Share Power BI dashboards and reports with coworkers and others - Power BI](https://docs.microsoft.com/en-us/powe

[2019-05-20 14:14] SaranrajK commented on #140
Is it possible to push data to existing data set that's not created using rest API.

[2019-05-20 14:20] mganeshphani opened #1069 "SSMS Failing to connect to a premium capacity(with '&' character in name)"
Hello,

SSMS is failing to connect to a powerbi premium capacity workspace with '&' in the character.. it throws an error with message box(which shows '&' removed).. which makes me believe SSMS is discarding '&' and trying

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b920c-639a-a627-58f2-e8fd69c9ef7d
*

[2019-05-20 16:52] kafong123 opened #1071 "Confusion around "Power BI Premium" ACLs for DataFlow & ADLSG2 Integration"
In step 5 of https://docs.microsoft.com/en-us/power-bi/service-dataflows-connect-azure-data-lake-storage-gen2#grant-power-bi-permissions-to-the-file-system, it is not clear that we have to add the object Id of "Power BI Premium" to ADLS Gen 2 ACLs for the integration to work. If we can clarify step 5 and 7 to include adding "Power BI Premium" to ADLS Gen 2 ACLs, that will be great!

---
#### Docum

[2019-05-20 17:48] geneosu opened #1072 "Subscription are now supported for paginated reports"
Here's the announcment: https://powerbi.microsoft.com/en-us/blog/e-mail-subscriptions-for-paginated-reports-is-now-available/
and the documentation page: https://docs.microsoft.com/en-us/power-bi/paginated-reports-subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5d0507-1ff2-46ed-8563-e80b19644f26
* Versio

[2019-05-20 19:16] mganeshphani opened #1073 "Restart capacity API"
Hello,

We have seen restarting premium capacity once in a week has helped with different type of refresh issues on our premium capacities. is there an API we can use to automate this process?

-Ganesh m.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98ac065d-33c5-2f3b-6cee-36153c2a8afa
* Version Independent ID: 40b95

[2019-05-20 21:59] rootsmusic opened #1075 "sample databases"
Please link SQL sample databases like [Contoso](https://www.microsoft.com/en-us/download/details.aspx?id=46801)

[2019-05-21 00:10] maggiesMSFT commented on #1073
Hi, @mganeshphani -- thanks for your question! I've assigned it to the author. In the meantime, you can ask the Power BI community, https://community.powerbi.com/

[2019-05-21 00:31] maggiesMSFT commented on #1072
Hi, @geneosu -- awesome, thanks for the reminder! I'm updating the article now.

[2019-05-21 00:33] maggiesMSFT commented on #1071
Hi, @kafong123 -- thanks for the suggestion! I've assigned it to the author.

[2019-05-21 00:35] maggiesMSFT commented on #1044
Thanks for the feedback, @poortom1004 ! I've assigned it to the author.

[2019-05-21 00:38] maggiesMSFT commented on #1043
Hi, @siva44 -- it's unclear which limitations you're referring to. Can you include a link to an article?
thanks!

[2019-05-21 00:40] maggiesMSFT commented on #1042
Hi, @JuniorIce -- thanks for your question! I've assigned it to the author. In the meantime, you may want to ask the Power BI community, https://community.powerbi.com/.

[2019-05-21 00:45] maggiesMSFT commented on #1029
Hi, @Mike-Honey -- thanks for your comment and link to the article. I've assign this to the author.

[2019-05-21 01:31] siva44 commented on #1043
Here it is, https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data#limitations-and-considerations

[2019-05-21 16:55] mganeshphani commented on #1073
Thanks @maggiesMSFT .. I asked help from our TAM to reach engg team to find answers.. but not gotten any traction yet.

[2019-05-21 18:33] maggiesMSFT commented on #1043
Got it, thanks! I've assigned your question to the author.

[2019-05-21 18:35] maggiesMSFT commented on #505
Hi, @spikylellie -- here's the answer: "Renaming should not break any of the existing bookmarks or connects. It should be just be string change for the artifact." Did you experience an issue with renaming?
I'll update the article with this info. Thanks for asking!

[2019-05-21 20:11] juluczni commented on #803
Hi everyone, we released a number of updates that should have dealt with the problem described above. If you are still hitting that problem could you please reach out to me on juluczni@microsoft.com Thanks!

[2019-05-21 20:20] mihart commented on #786
Hi @aghonaim ,
Both of these changes have been made.  Thank you for bringing this to our attention and I apologize for the delay.

[2019-05-21 20:20] #786 closed

[2019-05-21 20:30] mihart commented on #1075
Thanks for this idea @rootsmusic . Based on documentation priorities, we're not planning to address the issue at this time, but will consider it when we roll out the new samples.

[2019-05-21 23:46] maggiesMSFT commented on #1046
OK, article updated. Thanks, @asocorro !

[2019-05-21 23:46] #1046 closed

[2019-05-21 23:48] maggiesMSFT commented on #505
OK, article is updated. Thanks, @spikylellie !

[2019-05-21 23:48] #505 closed

[2019-05-21 23:49] maggiesMSFT commented on #1072
OK, article updated. Thanks, @geneosu !

[2019-05-21 23:49] #1072 closed

[2019-05-22 00:13] maggiesMSFT commented on #1069
Hi, @mganeshphani -- Thanks for your question! I've assigned it to the author.
In the meantime I recommend asking the Power BI community https://community.powerbi.com/.

[2019-05-22 00:15] maggiesMSFT commented on #1068
Hi, @alexb5dh -- Thanks for your question! I don't know the answer. I'll check and get back to you.

[2019-05-22 00:17] maggiesMSFT commented on #1067
Hi, @v-kerwan -- Thanks for your suggestion! I've added a few people who can help.

[2019-05-22 00:19] maggiesMSFT commented on #1059
Hi, @bdevany -- this looks like a bug. Please go to the Power BI support site and ask there: https://powerbi.microsoft.com/en-us/support/

[2019-05-22 00:19] #1059 closed

[2019-05-22 00:21] maggiesMSFT commented on #1058
Hi, @erapade -- thanks for your question! I've assigned it to the author. In the meantime I recommend going to the Power BI community site and asking there, too. https://community.powerbi.com/

[2019-05-22 00:23] maggiesMSFT commented on #1056
Hi @awbarbeau -- thanks for your question! I've assigned it to the authors. In the meantime I recommend going to the Power BI community site and asking there, too. https://community.powerbi.com/

[2019-05-22 00:24] maggiesMSFT commented on #1055
Hi, @tomwill98103 -- thanks for pointing that out! I've assigned it to the author to look at.

[2019-05-22 00:26] maggiesMSFT commented on #1054
Hi, @sqlchick -- thanks for your suggestion! I've assigned it to the author.

[2019-05-22 01:38] nicheplayer opened #1077 "duplicate phrase"
On Step 6, under Counting values with DAX: "...but DAX approaches in a different way in a different way,...."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.micros

[2019-05-22 12:36] damf74 opened #1078 "apply a filter while loading a table"
Hey,
Can I apply a filter to avoid loading a entire very heavy table ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29bfbd4c-5149-93be-3982-81af6852a5dd
* Version Independent ID: 75460ed0-c7d9-fe67-8010-b843661dc66e
* Content: [Connect to an OData feed in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/

[2019-05-22 12:45] whiteleyrod opened #1079 "Advanced analytics not appearing for Scatter plot"
Hey,
I have a bunch of scatters on a report that I'm trying to add some analytic lines to, but the only options appearing are: Trend Line, X- and Y-Axis Constant, and Symmetry Shading (4 options total).
I can't find, for example, a median line, or the others which I think should be here such as Min, Max, Forecasting, etc.
I'm using Version: 2.68.5432.841 64-bit (April 2019)
What am I missing here?

[2019-05-22 17:17] maggiesMSFT commented on #476
Hi all -- thanks for your questions. Working on answers. I have one so far, for @KDAylesworth:
Yes, we are aware of this issue and we’re investigating it right now. We currently don’t have a timeline to share for a fix.
More to come --

[2019-05-22 17:38] rcfoyn opened #1081 "SQL Server requirements"
This document should specify that only Enterprise and BI editions of SQL Server 2012 and 2014 support live connection and that SQL Server 2016 or later is required when using Standard edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00aefcea-9c15-e4a5-b66b-59b6f446348e
* Version Independent ID: 098101d4-0cdb-913

[2019-05-22 17:39] maggiesMSFT commented on #1075
Hi, @rootsmusic -- I like the idea! I'll try to work it in. Thanks!

[2019-05-22 17:54] Bhavik-MSFT commented on #1014
For DirectQuery its determined by your cache refresh frequency setting. Please have a look at the settings in this section of the refresh documentation: https://docs.microsoft.com/en-us/power-bi/refresh-data#databases-in-the-cloud. Bear in mind if the user hits the Refresh button in Power BI we will always fetch the latest data and repopulate the cache

[2019-05-22 18:04] KDAylesworth commented on #476
@maggieMSFT -- I just found a workaround that was posted in the Power BI user community on 5/1/2019. Here is the link: https://community.powerbi.com/t5/Service/Power-BI-App-no-usage-metrics/td-p/229453/page/2

[2019-05-22 18:39] KDAylesworth commented on #476
@maggiesMSFT -- sorry I tagged you incorrectly the first time -- I just found a workaround that was posted in the Power BI user community on 5/1/2019. Here is the link: https://community.powerbi.com/t5/Service/Power-BI-App-no-usage-metrics/td-p/229453/page/2

[2019-05-22 18:51] #803 closed

[2019-05-22 18:58] #1020 closed

[2019-05-22 19:04] mihart commented on #990
Hi @leotan87.  This guidance has been added and will go live later this week.  Thank you for bringing this to our attention.

[2019-05-22 19:04] #990 closed

[2019-05-22 19:11] mihart commented on #970
Hi @w0ut0 ,
Great suggestion.  I've moved it :-)
Thanks.

[2019-05-22 19:11] #970 closed

[2019-05-22 21:40] mihart commented on #950
Hi @thecmanp11 ,
The "Y Axis" section is very very long.  You'll see two different scroll bars.  Use both scrollbars to get to the section where you can set the Secondary axis options.
Take care.

[2019-05-22 21:40] #950 closed

[2019-05-23 07:05] MPEV opened #1082 "Query caching not available on datasets created via the API"
Based on my findings, it would appear that datasets created via the API don't have this option. Assuming this is correct, it might be worth clarifying this in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13962e5-2d39-a6cd-274c-2317477acc22
* Version Independent ID: 099fe9f8-0c2b-b359-b761-251587a0

[2019-05-23 09:34] rohancragg opened #1083 "Embedding setup tool only creates traditional workspace and is not compatible with ServicePrincipal authentication"
This article states "if you use service principal to sign into your application, then you're required to you use the new workspaces"

Where this is the case, readers should be warned NOT to use the 'Embedding setup tool'.

I wasted a day doing this and was unable to get the resulting 'App Owns Data' sample app working because the automated tool creates the wrong sort of workspace (traditional), wh

[2019-05-23 10:05] djpirra commented on #931
I have tried adding a service principal name but it does not appear in the Workspace Access list when I type the name... The security group appears, but not the SP. What is wrong here?

Thank you

[2019-05-23 11:07] rvcedd opened #1084 "Some features missing in latest version + error"
Hello, just completed a full read of the article and wanted to give you some feedback.

Regarding: "You can also use the Include and Exclude menu items to keep (or remove, respectively) the right-clicked row (and any subcategories) from the matrix."
It appears that in the Apr 2019 version the "Include" and "Exclude" features are not available anymore

Regarding "In the Format section of the Visual

[2019-05-23 15:29] alexb5dh commented on #931
Did it arrive? There's still no details except some clipped screenshot from unknown page.

[2019-05-23 20:36] wsitek opened #1085 "can “max” (target) be a lower value than “min” (baseline)?"
Is it possible to set “max” to a lower value than “min” in a radial gauge  in cases where a lower value is the goal? Similarly to setting “green” as “good” in the KPi visual?

We are using the gauges in a dashboard where a few KPIs are about reducing numbers, not increasing them, and it would be great for this to be visually similar to the more “normal” assumption that higher is better.

---
####

[2019-05-23 22:11] markingmyname commented on #1067
@v-kerwan

So we are clear, which page are you requesting to be edited?  Is it the RLS page or the main Service Principal page?

[2019-05-23 22:40] markingmyname commented on #1056
Hi @awbarbeau,

I changed the limitation in the article to state "any" admin APIs to be more clear.

This update will go live in a few days.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-23 22:40] #1056 closed

[2019-05-24 00:01] eliaspm15 opened #1086 "Cross-report filters not working on shared reports"
We have been testing Cross-Report filtering on the Power BI Service Premium and shared reports are only working for the user that published the report. When shared, users are unable to use this feature. Can you please comment on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70cc0df0-14a7-079d-c32c-78fff8aef03f
*

[2019-05-24 01:20] jordanmills opened #1087 "Default experience? Doesn't seem to be."
"The new workspace experience has reached general availability (GA), and is now the default workspace."

I don't think this is accurate.  Nothing has changed with the interface when I try to create a new workspace.  I'm still prompted for data for a unified group workspace, with the "try now" button for a new workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-05-24 01:43] maggiesMSFT commented on #1087
Hi, @jordanmills -- hmmm, that's not right. Can you head to the support site, https://powerbi.microsoft.com/en-us/support/?

[2019-05-24 01:43] #1087 closed

[2019-05-24 01:45] maggiesMSFT commented on #1077
Good catch, @nicheplayer ! I'll pass it along to the author.

[2019-05-24 01:51] maggiesMSFT commented on #1078
Hi, @damf74 -- thanks for your question! I'm assigning it to the author to follow up.
Just curious, during the Get Data process, in the Navigator dialog, did you try selecting Edit rather than Load? You should be able to filter the data in the Query Editor.

[2019-05-24 01:51] maggiesMSFT commented on #1079
Hi, @whiteleyrod -- thanks for your question! I've assigned it to the article author.

[2019-05-24 01:52] maggiesMSFT commented on #1081
Hi, @rcfoyn -- thanks for your comment! I've assigned it to the author.

[2019-05-24 01:54] maggiesMSFT commented on #1082
Hi, @MPEV -- thanks for your comment! I've assigned it to an expert on the subject.

[2019-05-24 01:58] maggiesMSFT commented on #1083
Hi, @rohancragg -- thanks for your comment! I've assigned it to a few people to look into.

[2019-05-24 01:59] maggiesMSFT commented on #1084
Hi, @rvcedd -- thanks for your comment! I've assigned it to the author.

[2019-05-24 02:01] maggiesMSFT commented on #1085
Hi, @wsitek -- interesting question! I've assigned it to the author. In the meantime, consider asking in the Power BI community, https://community.powerbi.com/

[2019-05-24 02:03] maggiesMSFT commented on #1086
Hi, @eliaspm15 -- interesting question! I've assigned it to the author.
In the meantime, consider asking in the Power BI Community, https://community.powerbi.com/

[2019-05-24 02:48] v-kerwan commented on #1067
Hi Mark,

Good Day, under below doc, there is a paragraph called “https://docs.microsoft.com/en-us/power-bi/developer/embedded-row-level-security#on-premises-data-gateway-with-service-principal-preview”

https://docs.microsoft.com/en-us/power-bi/developer/embedded-row-level-security#on-premises-data-gateway-with-service-principal-preview

This Paragraph describe how to configure gateway when user’

[2019-05-24 11:15] vishalaj1 opened #1088 "Size Limits"
Hi,

Does the size limit still applies on Power BI Service or Power BI Desktop?

1GB per dataset?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb95c243-439b-5f81-51ae-c28efa0d22c3
* Version Independent ID: 7e0c5adf-c752-4ebf-5022-e3bd64f3f8d3
* Content: [Data sources for Power BI - Power BI](https://

[2019-05-24 15:05] vincent2369 opened #1089 "Making RLS work in a workspace (settings)"
It would be useful to add to this article that the admin of the workspace where the file with RLS has been published has to set members at read only for the RLS to work in the workspace. Otherwise by default this option is at members can read and edit report and RLS doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-24 15:27] markingmyname commented on #1083
Hi @rohancragg,

We are aware of this limitation.

The plan is to address this limit when Service Principal for Power BI Embedded goes GA and is no longer in "preview."

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 15:27] #1083 closed

[2019-05-24 18:55] maggiesMSFT commented on #1088
Hi, @vishalaj1 -- thanks for your question! I've assigned it to the author.

[2019-05-24 18:56] maggiesMSFT commented on #1089
Hi, @vincent2369 -- thanks so much for your comment! I've assigned it to the author.

[2019-05-24 21:17] markingmyname commented on #1067
Hi @v-kerwan,

Thanks for clearing that up.

We decided to keep it with the RLS information as the information fit more in that space.

However, we should have had a reference to it in the main Service Principal article.

As such, I have added a link to that section from the Service Principal article to the RLs article in the Next steps section.

The article should show the change early next week.

[2019-05-24 21:17] markingmyname commented on #1067
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 21:17] #1067 closed

[2019-05-26 00:17] tomblodget commented on #266
@nabjad It comes under "Only plots that are plotted to the R default display device are displayed correctly on the canvas."

Several packages in the list of supported R packages create output that doesn't go to "plot". If you use one in RStudio, for example, the output is not in the "Plot" tab. It would be nice if they were identified as not for use in the R script visual.

As for why they are lis

[2019-05-26 06:03] djpirra commented on #931
I am stuck here...
Have my SP created will permissions to access the Power BI API...
Power BI have a security group setup to access the rest API and the service principal is assigned to it...
Workspace has the security group as ADMIN

Even with all of this I am getting "forbibben" when testing using POSTMAN. What is missing here?

[2019-05-26 16:30] jeffzdli opened #1090 "Cannot drop database "TestGatewayDocs" because it is currently in use."
I followed Tutorial: Connect to on-premises data in SQL Server. In the end I tried to clean resource but I encountered issue: Cannot drop database "TestGatewayDocs" because it is currently in use. I deleted geteway related objects from my Power Bi Service: geteway instance, dataset, and report. Also I uninstalled on-premise from my pc. However, it still shows the same error message.

[2019-05-27 08:39] jawn opened #1091 "Contradicting documentation for hyperlink support in Power BI Service"
&gt; Then use either Desktop or Power BI service to add those hyperlinks to your report tables and matrixes.

This seems half correct, if I understand correctly Power BI service only supports hyperlinks for tables.

&gt; You can create hyperlinks in tables and matrixes in Power BI Desktop, but not in the Power BI Service.

This seems outdated since tables now support hyperlinks in the Power BI Ser

[2019-05-27 17:50] rjptechsolutions opened #1092 "Export PDF for Power BI Desktop not working"
I used Power BI for couple of days I am learning phase of it but I don't know why power BI Desktop want Administrator privileges to open it and Export PDF Dialog is not coming up and not showing any error

[2019-05-28 06:38] skgitti commented on #986
just tried, same issue, Excel opens up blank/empty

[2019-05-28 09:38] wdehaas commented on #808
@mpoeckl I think the article is not updated. Single Source Paragraph is not true anymore because now Power BI Support Mixed Storage Mode.

[2019-05-28 12:46] hdiiasa opened #1093 "Tapable.plugin is deprecated. Use new API on `.hooks` instead"
Get this warning message after I run the "pbiviz start" command on PowerShell, this caused the failure to complete "pbiviz start".
~hope to get a solution as soon as possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de9

[2019-05-28 17:15] amlucius opened #1094 "Dataflows"
Is there a timeline for Dataflows availability in US gov cloud? If so, could you post it here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-1739cdf7528d
* Version Independent ID: 1e70d724-121d-feea-471e-307c2f27dd24
* Content: [Power BI for United States Government customers - Overview - Power

[2019-05-28 17:39] maggiesMSFT commented on #1091
Thanks for pointing this out, @jawn -- I'll check into it and clean it up.

[2019-05-28 18:02] danmyhre opened #1095 "OneDrive"
You shouldn't be referring to this as OneDrive.  The Office 365 group has a SharePoint site collection behind it.  OneDrive is a personal space for users (which runs on SharePoint).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078

[2019-05-28 18:11] maggiesMSFT commented on #1095
Hi, @danmyhre -- thanks for your feedback! I'll check to see what would be better wording.

[2019-05-28 18:28] maggiesMSFT commented on #1094
Hi, @amlucius -- thanks for your question! We don't refer to future features or functionality in the docs. That information is in the Business Applications Release Notes, https://docs.microsoft.com/en-us/business-applications-release-notes/april19/business-intelligence/planned-features.
Hope that helps!

[2019-05-28 18:28] #1094 closed

[2019-05-29 01:36] arashaga opened #1096 "Status: Unauthorized (401)?"
When I click on Embed report i get this:

Error
            Status: Unauthorized (401)
Response: {"error":{"code":"PowerBINotAuthorizedException","pbi.error":{"code":"PowerBINotAuthorizedException","parameters":{},"details":[],"exceptionCulprit":1}}}
RequestId: dea63ade-adc6-4e4b-9860-f63744d6c1d2

[2019-05-29 02:18] Downez opened #1097 "Repeating sentence"
Under header "RangeStart and RangeEnd parameters", the final three sentences read:

"Once published, the parameter values are overridden automatically by the Power BI service.
There's no need to set them in dataset settings in the service.
Once published, the parameter values are overridden automatically by the Power BI service."

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-05-29 03:25] mihart commented on #1092
Thanks for your comment, @rjptechsolutions . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-05-29 03:25] #1092 closed

[2019-05-29 03:27] mihart commented on #1093
Thanks for your comment, @hdiiasa . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-05-29 03:29] mihart commented on #1096
Thanks for your comment, @arashaga. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-05-29 03:29] #1096 closed

[2019-05-29 03:31] mihart commented on #1097
Thanks for catching that issue, @Downez ! This issue has been assigned to the doc author for review.

[2019-05-29 08:32] CTsiaras opened #1098 "Trigger a Power BI dataset from a Data Factory Pipeline"
To fully integrate our Data Factory pipelines and our Power BI reports we should be able to trigger a data set update from a Data Factory Pipeline. Thus, it would be nice to have a simpler authentication method e.g., via MSI like we do to start an Azure SSIS integration runtime. If you do it then please provide a proper example with some print screens etc. Thanks.

---
#### Document Details

⚠ *Do

[2019-05-29 09:50] devaccount89 opened #1099 "New Navigation experience on mobile app"
The new navigation structure is not reflected in the PowerBI iPhone app. Is this by design or an issue ? Thanks. Best, Moritz

[2019-05-29 12:20] DeanGross opened #1100 "Required Permissions"
Please add the type of permissions that are required to install the gateway and managed it in the PowerBI Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b91f53e6-e1f8-02c0-0421-94eac7fe05e3
* Version Independent ID: a4e20869-112a-a8e0-4fd4-9d75e12667d1
* Content: [Install a gateway for Power BI - Power BI](htt

[2019-05-29 13:42] ahpitre commented on #526
As of May 2019 Desktop RS version the new Filter Pane is not available. Seems only available in Power BI Service. When will this be available for Power BI RS version?

[2019-05-29 15:29] mihart commented on #1084
Hi @rvcedd, thank you for the suggestions.  I've rewritten the article to match the improved interface. It will go live tomorrow.
Take care.
The DOCS team.

[2019-05-29 15:29] #1084 closed

[2019-05-29 15:32] mgblythe commented on #1098
Thanks for your comment, @CTsiaras. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-05-29 15:32] #1098 closed

[2019-05-29 15:33] mgblythe commented on #1099
Thanks for your comment, @devaccount89. This looks like a product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-05-29 15:33] #1099 closed

[2019-05-29 16:28] bgribaudo opened #1101 "Incorrect Screenshot"
Hello,

Under step 5 of "Get started with a service principal", the screenshot displayed shows adding the service principal account to the workspace's **contact list**. However, the instructions describe adding that account as an admin--which, when done through the UI, involves editing the **access list**, not the **contact list**. Should the current screenshot be swapped out for one of the access

[2019-05-29 17:04] maggiesMSFT commented on #526
Hi, @ahpitre and @UalasCaixeta -- have you turned on the preview in the Desktop? https://docs.microsoft.com/en-us/power-bi/power-bi-report-filter-preview#turn-on-the-new-filter-experience
That's the first step. If yes, or if you're not seeing the option, then I recommend contacting support. https://powerbi.microsoft.com/en-us/support/

[2019-05-29 17:11] ahpitre commented on #526
The preview new features is not available. Like always, seems that the cool features always make it first to Power BI Service. Will have to wait till RS version gets them. ;(

[2019-05-29 17:15] maggiesMSFT commented on #526
Oh, so sorry, @ahpitre -- I read your comment too fast. Yes, you're absolutely right, PBI RS doesn't have preview features.

[2019-05-29 17:27] mgblythe commented on #1101
Thanks for your comment, @bgribaudo. This issue has been assigned to the doc author for review.

[2019-05-29 17:30] mgblythe commented on #1100
Thanks @DeanGross, we're updating the gateway docs, and I'll include this request.

@arthiriyer as FYI

[2019-05-29 18:29] crabdata opened #1102 "Getting a bounce back on the R package suggestions email"
Hello,

I was hoping to get an email out with the suggestion of a package 'bizdays' in but I'm getting a bounce back. would love to get this supported in PowerBI

It is already part of the cran repository:
https://cran.r-project.org/package=bizdays

Thanks,
Clayton

[2019-05-29 19:58] maggiesMSFT commented on #1068
Hi, @alexb5dh -- here's your answer: Sharing, as in directly sharing a report with a user is not available, but sharing as in adding a user to a workspace is: https://docs.microsoft.com/en-us/rest/api/power-bi/groups/addgroupuser
That currently supports adding a user as an admin only.
Hope that helps!

[2019-05-29 19:58] #1068 closed

[2019-05-29 20:01] markingmyname commented on #1101
Good eye, @bgribaudo!

I have updated the image to show the access list instead of the contact list.

The update should be live by the end of the week.

Thanks again!

[2019-05-29 20:01] markingmyname commented on #1101
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-29 20:02] #1101 closed

[2019-05-30 00:21] Mike-Honey opened #1103 "Add page navigation"
Add a section on page navigation within a report, including right-clicking the arrow buttons in the bottom-left corner to pull up a menu of pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3aacded-9b0b-b9f4-918a-787f1211bb37
* Version Independent ID: 0219e69f-78b4-e962-2b86-41cae51c479b
* Content: [Power BI consu

[2019-05-30 12:50] dimaty26 opened #1104 "I have no "add tile" button"
I don't know why but I don't have this button. Is it one of updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f30eb2-e55e-635d-e161-6c26f20fac2d
* Version Independent ID: 7d1fd996-9981-a844-0f2b-abb35cf21b7f
* Content: [Add image, text, video, streaming data to your dashboard - Power BI](https://docs.microsoft.

[2019-05-30 14:14] bgribaudo commented on #1101
Thank you, @markingmyname!

[2019-05-30 14:36] mgblythe commented on #1102
@crabdata - what email address are you trying to send to?

[2019-05-30 14:37] mgblythe commented on #1103
Thanks for your comment, @Mike-Honey. This issue has been assigned to the doc author for review.

[2019-05-30 14:41] mgblythe commented on #1104
@dimaty26 - you should have this button if you're in a _dashboard_. Are you trying to do this from a _report_?

[2019-05-30 15:10] dimaty26 commented on #1104
![No tile](https://user-images.githubusercontent.com/44339621/58642501-2b3d7080-8306-11e9-9af9-38532924ae5c.PNG)

[2019-05-30 16:29] HenryIppolito opened #1105 "Still Missing Elements"
Still waiting on some missing elements to be documents above. Where is the +/- Icon for Matrix Row Header? Under Matrix and Tables &gt; Field Formatting, I cannot alter the Value Decimal Place default. Are data driven format defaults ever going to be available (Matrix &gt; Conditional formatting &gt; Font Color)? Considering the defaults exist, we should have some sort of option to alter the defau

[2019-05-30 17:31] docgregt commented on #807
This is very cool until you run into the REST API limitation. Then it becomes useless when supporting a multiclient environment where you want to clone reports to different workspaces assigned to different clients.

[2019-05-30 20:17] #1095 closed

[2019-05-31 03:46] woshigabriel opened #1106 "Inconsistency (Carlos)"
"3b. The first PivotTable tells us that Carlos' revenue for his top Product, Primus, is down 152% from last year."

His revenue grew by 152% from last year... Something is wrong with the data here, or was his target/KPI set too high?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25ad9a8-50b9-7f83-4e10-ebbbff013d6b
*

[2019-05-31 05:20] maggiesMSFT commented on #1106
Hi, @woshigabriel -- thanks for your question! I'll check into it and get back to you.

[2019-05-31 18:42] awentzel commented on #1037
This also happens to myself.  Additionally, My portal does not have a Billing Profile. Perhaps it's because i'm and internally billed subscription for Microsoft. However, the documentation should be updated to match the current user interface.  Really, it seems like it's asking not for Billing Profile ID, but, rather the Subscription ID.

[2019-05-31 18:48] awentzel commented on #995
I'm on the actual Microsoft Corporate tenant for AIRS and there is no left bar Billing Profile option. In fact. I would suggest updating the documentation to reference the current Azure Portal User interface nomenclatures.  For example, i don't see the term "Billing Account" anywhere.  It appears instead the Billing account may correlate to the Subscription.  Select the Subscription and then you c

[2019-05-31 18:50] awentzel commented on #995
Additionally, when connecting to Azure Cost Management the "Billing Profile ID" isn't a think on Azure Portal so it's confusing. The watermark hint shows what is really a subscription id.  Here I recommend calling it Azure Subscription Id rather than Billing Profile Id.

![Screen Shot 2019-05-31 at 11 48 59 AM](https://user-images.githubusercontent.com/16669785/58727806-317d2c80-839a-11e9-9108-eb9

[2019-05-31 18:53] vincent2369 opened #1107 "Reactivating disabled Power BI publisher for Excel addon"
Hello, I was doing an excel report connected to a Power BI report and when I changed the order of some field in the pivot table menu excel froze, after a bit it said it had to deactivate the Power BI plugin.

to reactivate it I had to do:
"File &gt; Options &gt; Add-ins &gt; Disabled Items" to enable it then go back in "File &gt; Options &gt; Add-ins &gt; COM Add-ins" to activate it!

---
#### Doc

[2019-06-02 09:43] donquijotedelamancha opened #1108 "Recently experiencing temporary 500 errors on calls to Power BI REST API"
We follow this exact workflow to embed Power BI on an Asp.Net MVC app using App Owns Data and Master user.
Everything has been working normally until in the last weeks we start receiving 500 errors on the calls to the Power BI REST API.
The erros are temporary with all calls failing during a period of time with the same calls working again after.
You can find a bit more info on a StackOverflow ent

[2019-06-03 07:29] jianyeliu opened #1109 "service principle unauthorized"
[Enter feedback here]
I followed the steps smoothly according to https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal, and then run the sample application according to https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers.

I encountered below error while no error if use master user.

Status: Unauthorized (401)
Response: {"error":{"code":"PowerBINotA

[2019-06-03 09:18] rcfoyn opened #1110 "Role-based security"
I would very much appreciate exhaustive information regarding the capabilities and limitations of Power BI ability to relate to the permissions defined in SSAS roles.

I suppose the following pertains to members being restricted from using entire dimensions (which seems to be supported in Power BI):
"When a user has dimension security applied, the respective dimension members are not seen by the u

[2019-06-03 10:21] dirk-seifert-obungi opened #1111 "Dedicated or embedded capacity?"
Under "Considerations and limitations":
"Dedicated Premium capacity is required when moving to production."

Is this correct, or is "Embedded capacity" meant?

Embedded capacity was the requirement under the old app-owns-data sing-in model with a master user. It would make sense here, too - or does using the new service-principal sign-in actually require the (much more expensive) "Dedicated Premiu

[2019-06-03 11:09] iturner1 opened #1112 "no sizing information for the report server database itself"
it mentions the version requirements but nothing about how important the database is, what it contains, how to size it, etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f20394b-f5b1-2924-3670-932dba073875
* Version Independent ID: 71ec4d31-53e6-16d4-c250-c38f1bba2ba6
* Content: [Hardware and software requirements

[2019-06-03 14:28] donquijotedelamancha commented on #1108
This is being now reflected on the support page:
[https://powerbi.microsoft.com/en-us/support/](url)
Some Premium capacity customers in the West Europe B region may have intermittent issues with refreshes. Engineers are investigating the issue and will provide an update soon.

[2019-06-03 16:21] mgblythe commented on #1104
@dimaty26 - assigning to the author, but you should see **Add Tile** if you click one of the dashboards in that list, e.g. Marketing.

[2019-06-03 16:28] mgblythe commented on #1102
@davidiseminger - assigning to you in case you know of an email address we provide for package suggestions.

[2019-06-03 16:32] mgblythe commented on #1105
Thanks for your comment, @HenryIppolito. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-06-03 16:32] #1105 closed

[2019-06-03 16:36] mgblythe commented on #1107
Thanks for your comment, @vincent2369. This issue has been assigned to the doc author for review.

[2019-06-03 16:37] mgblythe commented on #1108
Thanks @donquijotedelamancha! Closing this out here b/c it's being tracked on the support site.

[2019-06-03 16:37] #1108 closed

[2019-06-03 16:39] mgblythe commented on #1109
Thanks for your comment, @jianyeliu. This issue has been assigned to the doc author for review. In the meantime, you might find a solution in the [Power BI Community]( https://community.powerbi.com).

[2019-06-03 16:41] mgblythe commented on #1110
Thanks for your comment, @rcfoyn. This issue has been assigned to the doc author for review.

[2019-06-03 16:42] mgblythe commented on #1111
Thanks for your comment, @dirk-seifert-obungi. This issue has been assigned to the doc author for review.

[2019-06-03 16:43] mgblythe commented on #1112
Thanks for your comment, @iturner1. This issue has been assigned to the doc author for review.

[2019-06-03 18:37] bjstigall opened #1113 "Incremental Refresh Screen Shots"
Incremental Refresh Screen Shots do not have a unit of time selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b60093b2-2bdf-92e9-ee7c-de316b601beb
* Version Independent ID: 25307bcb-648e-e620-3fe9-a1412e89c0b5
* Content: [Using incremental refresh with Power BI dataflows - Power BI](https://docs.microsoft.com/en

[2019-06-03 19:00] maggiesMSFT commented on #1104
Hi, @dimaty26 -- You're right! **Add tile** has moved to the ellipsis (...). Thanks for pointing that out! I'll update the article.

[2019-06-03 19:02] maggiesMSFT commented on #1104
Oh, @dimaty26, wait, I spoke to soon. That change is coming, but not yet. No, if you're looking at a dashboard, for the time being you should still see the big + sign and **Add tile**.

[2019-06-04 01:44] narmadakrishnasamy opened #1114 "visual not getting displayed"
After my pbiviz start command, i get a compiled successfully message and visual rebuild completed message in my terminal. but when i open my developer visual in power bi online i get an empty visual. please help. Reloading and creating new developer visual did not help either.

[2019-06-04 12:04] benmjarmany opened #1115 "visual.ts causes errors when executing "pbiviz start""
When executing "pbiviz start" after making the edits to the visual.ts file, I get a lot of errors, such as:
"ERROR in C:\Users\ben.mckenna\circleCard\src\visual.ts(3,36)
      TS2304: Cannot find name 'IVisual'."
and the compile process fails.

I've also noticed that the content of the file seems to be very different to what this tutorial says should be there. The code starts with "use strict" fol

[2019-06-04 13:39] jianyeliu commented on #1109
I solved, thanks

[2019-06-04 13:39] #1109 closed

[2019-06-04 15:37] davidiseminger commented on #1113
Thanks for your comment, @bjstigall . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-06-04 15:38] davidiseminger commented on #1114
Thanks for your comment, @narmadakrishnasamy . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-06-04 15:38] #1114 closed

[2019-06-04 15:40] davidiseminger commented on #1115
Thanks for your comment, @benmjarmany. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-06-04 15:41] davidiseminger commented on #1090
Thanks for your comment, @jeffzdli. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-06-04 15:41] #1090 closed

[2019-06-04 19:27] mgblythe commented on #255
EM1 and EM2 SKUs are available only through volume licensing plans. They can't be purchased directly.

[2019-06-04 19:27] #255 closed

[2019-06-04 19:28] mgblythe commented on #89
We removed the links from the rewritten version of this article. EM1 and EM2 SKUs are available only through volume licensing plans. They can't be purchased directly.

[2019-06-04 19:28] #89 closed

[2019-06-04 19:32] mgblythe commented on #227
We removed the table during the rewrite for this article.

[2019-06-04 19:32] #227 closed

[2019-06-04 19:39] mgblythe commented on #1073
Hi @mganeshphani - there is currently no API available for capacity restart. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-06-04 19:39] #1073 closed

[2019-06-04 20:33] mgblythe commented on #1058
Hi, @erapade - the self-service flow is for Pro trial. If you let the trial expire, you end up with a free license.

[2019-06-04 20:33] #1058 closed

[2019-06-04 20:38] mgblythe commented on #1054
Thanks @sqlchick - we're redoing the gateway docs and I'll make sure we clarify this Q&A.

@v-doklo - the new version of this article is better, but please take a look at this specific Q&A and make sure it doesn't say "No" for cloud sources.

[2019-06-04 20:40] mgblythe commented on #1044
Thanks @poortom1004 - removed the video, updated article should be live in a couple of hours.

[2019-06-04 20:40] #1044 closed

[2019-06-04 20:45] mgblythe commented on #986
@skgitti - You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-06-04 21:02] mgblythe commented on #892
Thanks @SteveGoodman - sorry it took so long to get to this. Will be live in about an hour.

[2019-06-04 21:02] #892 closed

[2019-06-04 21:13] mgblythe commented on #878
Hi @esinger5. This info is now in https://docs.microsoft.com/en-us/power-bi/desktop-data-sources. Assigning to make sure this is included in updated gateways documentation.

[2019-06-04 23:13] markingmyname commented on #1111
Good eye, @dirk-seifert-obungi!

I've addressed this by editing to now show as "Dedicated capacity" as it does in the Power BI service.

This change should go live by the end of the week.

Did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click P

[2019-06-04 23:14] markingmyname commented on #1111
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-04 23:14] #1111 closed

[2019-06-04 23:35] Mike-Honey opened #1116 ""Assign a Power BI Pro license to guest user" - yeah ok, but how?"
For the scenario above, "Assign a Power BI Pro license to guest user", please add some info on how to actually do this. It turns out to be quite obscure and most people fail, ref:

https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-mso_dep365-mso_o365b/assign-a-pro-license-to-a-guest-user-in-o365-admin/f70b2a84-269d-43f4-8890-1d0e65c307a2

---
#### Document Details

⚠ *Do not ed

[2019-06-04 23:50] chrispaquet opened #1117 "Ability to sync filters across multiple report pages"
in the same way as sync slicers.

[2019-06-05 08:13] dirk-seifert-obungi commented on #1111
@markingmyname Hi Mark,

Thanks fo so quickly taking care of this!!

Should it not actually be "**embedded** capacity"? - as described here:

https://docs.microsoft.com/en-us/power-bi/developer/azure-pbie-create-capacity

[2019-06-05 09:46] JulsGranados opened #1118 "clarification, by default all the data from dataflow is stored in Azure Data Lake storage v2?"
Hello , in the parragraph
"Data is stored as entities in the Common Data Model in Azure Data Lake Storage Gen2" , i'm confuse because I understand that were two ways in order to use Dataflows ,

- Use dataflows with your own azure datalake storage v2 (integrating the service with azure datalake storage gen2  in the admin Power BI admin portal, with the storage account)
- Use dataflows without an a

[2019-06-05 17:48] SheepRock opened #1119 "Config Files"
I use the personal mode and I didn't find the files in the given location (C:\Program Files\On-premises data gateway) but I found in "%localappdata%\Microsoft\On-premises data gateway (personal mode)". Has it changed or is it different for personal mode? Also, the file I found was "PersonalGatewayConfigurator.exe.config" instead of "enterprisegatewayconfigurator.exe.config" and "Microsoft.PowerBI.

[2019-06-05 18:14] mbast100 commented on #379
any news from this issue ?

[2019-06-06 00:10] mgblythe commented on #1116
Thanks for the link @Mike-Honey, I'll make an update for this.

[2019-06-06 00:13] mgblythe commented on #1117
Thanks for your comment, @chrispaquet. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-06-06 00:13] #1117 closed

[2019-06-06 00:19] mgblythe commented on #1118
Thanks for your comment, @JulsGranados. This issue has been assigned to the doc author for review.

Article: https://docs.microsoft.com/en-us/power-bi/service-dataflows-overview

[2019-06-06 00:20] mgblythe commented on #1119
Thanks for your comment @SheepRock. We're redoing the gateway docs, and I'll add this to the list.

[2019-06-06 12:32] TrutzS opened #1120 "Troubleshooting remark on manually copying oraons.dll applies also to PowerBI Gateway"
I had the error message returned "Object reference not set" in the PowerBI Gateway when connecting to Oracle and solved it also with the workaround mentioned here by copying the oraons.dll. Maybe you add this advice also here: https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem-manage-oracle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-06 13:32] mihart commented on #1120
Thanks for your comment, @TrutzS ]. This issue has been assigned to the doc author for review..

[2019-06-06 13:36] mgblythe commented on #980
@jagzz - we have some new information on this in the B2B whitepaper: https://docs.microsoft.com/en-us/power-bi/whitepaper-azure-b2b-power-bi#data-security-for-external-partners. I'll go in and correct the article you referenced. Thanks!

[2019-06-06 13:52] mgblythe commented on #315
@rhlgupta1383 - I know this one is old, but for future reference the steps in the doc are correct.

[2019-06-06 13:53] #315 closed

[2019-06-06 14:26] jarnawer commented on #1115
@benmjarmany, @davidiseminger  I hit the same issue...take a look at this:

https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/migrating-to-powerbi-visuals-tools-3-0/

Maybe  you are using pbiviz v3.x...
You need to get rid of module declarations on your source code, among others...

Hope it works!

[2019-06-06 14:34] benmjarmany commented on #1115
Hi @jarnawer, thanks for the tip, I'll give this a go. And yes, I'm using v3.1.1. I'll report back once I've worked through the guide.

[2019-06-06 21:14] Ccccche opened #1121 "share all workspace reports?"
Can I share all reports or all dashboards in my workspace with external users instead of sharing a single report or dashboard?  Or how can I share published APP to a user outside our origination?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f47742-00cf-eac0-7880-18eb5e988003
* Version Independent ID: 0010dce8-b1e0-

[2019-06-06 23:35] mgblythe commented on #1113
Now fixed, thanks for the heads up @bjstigall!

[2019-06-06 23:35] #1113 closed

[2019-06-07 05:32] erapade commented on #1058
Hi @mgblythe
As we have some premium plans, we are not interested in having our report viewers also getting a PRO license. I can see that visiting http://app.powerbi.com, you get the possibility to sign up for just a free account, although by getting two pop up questions. But as I don’t see this described in your documentation’s I would like to point out that you also should add this information.

[2019-06-07 16:26] mgblythe commented on #980
@jagzz - I removed the restriction in the article and linked to the whitepaper section I mentioned above. Thanks for the feedback.

[2019-06-07 16:26] #980 closed

[2019-06-07 16:51] mgblythe commented on #495
@bbrown44 - I know this one's old, but coming back to address. Which part of the doc is out of date? You can still validate roles in the service - was something else at issue? Thanks!

[2019-06-07 17:28] maggiesMSFT commented on #1121
Hi, @Ccccche -- Check out template apps. They may be just what you're looking for. https://docs.microsoft.com/en-us/power-bi/service-template-apps-overview

[2019-06-07 17:28] #1121 closed

[2019-06-08 22:12] otravers opened #1122 "Report tooltips in custom visuals"
The following page (see also the comments at the bottom) suggest that report tooltips can be added to custom visuals:
https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/adding-report-page-tooltips/#applying-report-page-tooltips

Can this be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cbbb3e-3

[2019-06-10 11:04] ChipDale66 opened #1123 "new feature not documented -"
There are two new tick boxes on the permissions tab of the publish APP button
- Allow all users to connect to the app's underlying datasets using the Build permission
- Allow users to make a copy of the reports in this APP
Neither is documented on this page, even though the "Learn more" link brings you here.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-06-10 15:56] Minewiskan commented on #1069
#in-progress

[2019-06-10 16:01] pcgeekus opened #1124 "Missing discussion on the effect on Premium Memory"
This page is Missing discussion on the effect on Premium Memory if your resources are already stretched. What happens if we set too many Datasets to use Query Caching. Will other Datasets be starved for the memory resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13962e5-2d39-a6cd-274c-2317477acc22
* Version I

[2019-06-10 17:41] maggiesMSFT commented on #1123
Hi, @ChipDale66 -- you are so ahead of the curve! Yup, we're updating the docs this AM. Thanks for being alert, and using Power BI!

[2019-06-10 18:48] davidiseminger commented on #1122
Hello @otravers - as stated in the [Limitations and Considerations](https://docs.microsoft.com/power-bi/desktop-tooltips#limitations-and-considerations) section of the article, custom visuals are not supported.

[2019-06-10 18:48] #1122 closed

[2019-06-10 18:49] davidiseminger commented on #1124
Thanks for your comment, @pcgeekus. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-06-10 19:03] maggiesMSFT commented on #1124
Hi, @pcgeekus -- thanks for your question! I'm adding @Bhavik-MSFT to the conversation. He's the best person to answer you.

[2019-06-10 19:47] otravers commented on #1122
@davidiseminger can you explain what "not supported" means? Because the KPIColumn custom chart from MAQ does work with a report page tooltip (as discussed in the link I posted), I just tested it!

![image](https://user-images.githubusercontent.com/3731532/59222212-f7303e00-8b96-11e9-885a-5bcef8f34be3.png)

[2019-06-10 20:36] dwightathompson opened #1125 "Relative date filtering not available"
In the new filtering experience, the "Relative date filtering" option is not available. For example, I can no longer filter using "is in the last" x weeks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169f0fd8-5f91-c727-863e-775092492219
* Version Independent ID: f2870679-e514-3e52-3513-eb62c81983c7
* Content: [The n

[2019-06-10 20:46] Sujata994 commented on #1125
Can you share a screenshot? In the newest build we see the relative date feature. Are you looking at the pane in edit or read mode?

[2019-06-10 20:50] maggiesMSFT commented on #1125
Hi, @dwightathompson -- thanks for the question! I've added someone who should be able to comment. I suggest also checking on https://community.powerbi.com/.

[2019-06-10 20:54] dwightathompson commented on #1125
![image](https://user-images.githubusercontent.com/26628120/59226165-a1a46300-8b8f-11e9-82dd-ca683cf1262a.png)

[2019-06-10 20:55] dwightathompson commented on #1125
![image](https://user-images.githubusercontent.com/26628120/59226228-c00a5e80-8b8f-11e9-8a1a-10ae3e99d462.png)

[2019-06-10 20:55] dwightathompson commented on #1125
I am in edit mode.

[2019-06-10 23:56] maggiesMSFT commented on #1123
OK, @ChipDale66 -- update is live. Thanks for asking!

[2019-06-10 23:56] #1123 closed

[2019-06-11 06:47] gerachanante opened #1126 "How are the bins calculated for the linear regression (numeric values)"
I am not completely sure about how are the bins calculated by the ML when analysing numeric key influencers for numeric outputs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tu

[2019-06-11 13:04] sarava8304 opened #1127 "Data Export from Table Visual"
[I have an Model with RLS implemented, the Table visual contains the details of Fact Table to display.
The output in the table looks correct, but when i export this to excel (Summarized) the complete data is shown in the table.
Need immeditae support on this issue]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d550506

[2019-06-11 17:37] Sujata994 commented on #1125
Is "Earliest closed_at" a measure?

[2019-06-11 17:39] dwightathompson commented on #1125
No, it's a Date field.

[2019-06-11 17:42] dwightathompson commented on #1125
I noticed that I have the relative date option if I use the field as a page filter, but the relative date option is not available when using the field as a visual filter. Again, this is when using the new filter experience that is still in preview.

[2019-06-11 18:03] Sujata994 commented on #1125
Hi Dwight, this appears to be a bug then. Could you share us a link to download the report you are using with that field?

[2019-06-11 18:34] dwightathompson commented on #1125
https://imaginelearning1-my.sharepoint.com/:u:/g/personal/dwight_thompson_imaginelearning_com/Eevu92sxc7RBrFnSY5TQouwBqe9yn-hS5ox2Yhx7u492EA?e=8Bt88f

[2019-06-11 19:08] Sujata994 commented on #1125
Hi Dwight, we are reviewing the report. What’s happening is when you add a Column in the "Values" drop zone, it becomes a measure. Measures can only be used as advanced filters and the type can’t be changed. If the column is added to the "Columns" drop zone, then you can change the filter types. Let me know if you have further questions. Thanks, Sujata

[2019-06-11 19:29] dwightathompson commented on #1125
I see. Thank you so much for your help!

[2019-06-11 20:22] Ccccche opened #1128 "Error:400 (BadRequest)"
Follow this tutorial, use the demo APP you provided, set-up everything for the development environment. When I debug it, after I hit embed report on the home page, lead me to a error page saying Response status code does not indicate success: 400 (BadRequest). Use the troubleshooting document but unable to specific this error. Can someone find any reason why this happened?

---
#### Document Detai

[2019-06-12 01:30] #1093 closed

[2019-06-12 08:57] jarnawer commented on #1115
Hi @benmjarmany did you manage to solve the issue?

If you want to check out my repo, i have a working example of a simple chart line using a custom visual:
https://github.com/jarnawer/pbiviz-linechart

Regards!

[2019-06-12 10:17] benmjarmany commented on #1115
Hi @jarnawer, thanks. The first article certainly helped, and I was able to get the CircleCard visual to display as desired.

I've had to move on to a different project now, but I'll be sure to check out your visual if I need further help. Thanks again.

[2019-06-12 10:17] #1115 closed

[2019-06-12 14:07] mihart commented on #1126
Thanks for your comment, @gerachanante . I’ll review this request for inclusion in our docs backlog.

[2019-06-12 14:11] mihart commented on #1128
Thanks for your comment, @Ccccche . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-06-12 14:58] paugusto76 opened #1129 "Blog post doesn't exist"
The blog post referred in the documentation doesn't exist or the url has changed.

[2019-06-12 17:58] franklinherrera commented on #1069
Hello,

 Thank you for sharing this awesome post. I'm trying to connect to a Premium workspace using SSMS but I get the next error:

TITLE: Connect to Server
------------------------------
Cannot connect to powerbi://api.powerbi.com/v1.0/[tenant name]/[workspace name]
------------------------------
ADDITIONAL INFORMATION:
The integrated security 'ClaimsToken' is not supported for native connection

[2019-06-12 19:24] neilgalloway opened #1130 "Vertica Support"
In the table under "List of available data source types", it is missing an entry Vertica.  The Gateway does support it, but it doesn't state if LiveQuery is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d9

[2019-06-13 07:52] gerachanante opened #1131 "Machine learning explained"
Hi, I understand that logistic regression (categories), linear regression (continuous) and decision trees (segments & continuous) ML.NET models are used to calculate the key influencers and segments.

Could you provide an example of the ML part of this calculation. For example, how is the data split between training and test sets, what parameters are used in the models, etc.

I find this visual ex

[2019-06-13 08:12] dannodj opened #1132 "Size Range limitation"
It would be useful to add a comment on the size limitation of pinning excel ranges to a dashboard, please can you state the maximum cell range that can be pinned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 458afd24-a62a-7944-5cd4-de9a9290c308
* Version Independent ID: ed6a56f0-e067-9f92-5d54-6755b49f3bc0
* Content:

[2019-06-13 17:01] mgblythe commented on #1128
@markingmyname - just checking whether there's info we should add for this or whether @Ccccche should contact support

[2019-06-13 17:02] mgblythe commented on #1129
Hi @paugusto76 - what docs page are you referring to?

[2019-06-13 17:03] mgblythe commented on #1130
Thanks @neilgalloway - we'll add this info as part of a gateway docs update we're doing.

[2019-06-13 17:10] mgblythe commented on #1131
Thanks for your comment, @gerachanante. This issue has been assigned to the doc author for review.

[2019-06-13 17:11] mgblythe commented on #1132
Thanks for your comment, @dannodj. This issue has been assigned to the doc author for review.

[2019-06-13 22:01] markingmyname commented on #1128
@Ccccche/@mgblythe,

My recommendation is to collect a fiddler trace to see where the bad request is coming from first.  Once that is collected, then contact support to see if they can help.

[2019-06-13 22:02] markingmyname commented on #1128
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-13 22:02] #1128 closed

[2019-06-13 22:16] aschuhardt commented on #931
Any update on this?

[2019-06-13 23:14] alexb5dh commented on #931
Did you use endpoints with group/workspace id? Most of the actions have equivalent ones with id.

[2019-06-14 12:42] DBojsen opened #1134 "AllowAdHocSubscriptions = $false and blocking of Pro Trial signup"
Hi

When you set AllowAdHocSubscriptions = $false to make sure users cannot sign up themselves,
and manually (or dynamically) administer free and pro licenses, it seems to still allow for a free user to signup for a pro trial.
First - you should change that.  There's a reason that a customer choose to disable self service signup.
Second - could you please update the documentation to reflect this,

[2019-06-14 16:05] DeanGross opened #1135 "PowerBI Instructions"
Does PowerBI desktop need to be installed on the Gateway server? I hope not, Please clarify this in the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b21ee8-e9f9-bf63-78b4-c464f080329d
* Version Independent ID: f3b7c030-9eb5-f5b2-878c-ec9456a1e662
* Content: [Gateway performance monitoring (public prev

[2019-06-14 16:36] CeciAc opened #1136 "Site data is no longer up-to-date"
Hi team,
I'm moving this from here since the user is requesting an update in the original documentation: https://github.com/MicrosoftDocs/powerbi-docs.pt-br/issues/18

@thiagollrc commented 18 hours ago
Dear, I am studying PowerBI but the site table "http://www.bankrate.com/finance/retirement/best-places-retire-how-state-ranks.aspx" does not bring all the columns as this page indicates. I suggest

[2019-06-14 17:44] ferdsjoseph opened #1137 "Matrix Interaction Buttons"
Although the date of this page is 5/28/2019, the buttons shown in screenshots are still from the older version of Power BI.  Please update with screenshots from the newer version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3825d5bd-51e3-468a-0f7d-a936083f0dc5
* Version Independent ID: 59eea08a-c392-951e-2ba6-860cfc

[2019-06-14 19:26] amanarneja opened #1138 "Update Troubleshooting steps to include limitation"
There currently seems to be a limitation that you cannot use a URL that is not @.uservoice.com i.e. if my company has a URL feedback.abc.com which UserVoice allows, it cannot be connected using this content pack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e9e7f81-23c2-cd15-a266-77871ba9d8a2
* Version Independent I

[2019-06-14 19:27] klinejordan opened #1139 "Theming"
It's unclear where to put the theming commands - do these go in the page section? is this a visual style? More clarity in this documentation would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169f0fd8-5f91-c727-863e-775092492219
* Version Independent ID: f2870679-e514-3e52-3513-eb62c81983c7
* Content

[2019-06-14 21:18] eldang opened #1140 "Page refers to options that are not provided by the product"
There is no "Color saturation" well available, either in the Power BI web service or the current desktop client (Version: 2.69.5467.2151 64-bit (May, 2019))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47d7082-17fb-3b37-de23-020f49991e0c
* Version Independent ID: 4d904a62-6e2e-b05f-b222-2500df079b76
* Content: [Fill

[2019-06-14 22:54] maggiesMSFT commented on #1139
Hi, @klinejordan -- thanks for the question! I'm including @Sujata994 for help with the answer.

[2019-06-14 23:03] Sujata994 commented on #1139
Hi Kline, you are correct. It goes in the page section. Let me know if you have further questions.

[2019-06-14 23:57] #1139 closed

[2019-06-14 23:58] maggiesMSFT commented on #1134
Thanks for your comments, @DBojsen! I've assigned it to the author to investigate.

[2019-06-15 00:00] maggiesMSFT commented on #1135
Hi, @DeanGross -- thanks for your question! I've assigned it to the author to reply. In the meantime, consider checking with the Power BI community, https://community.powerbi.com/

[2019-06-15 00:06] maggiesMSFT commented on #1136
Hi, @CeciAc and @thiagollrc -- thanks for your comment! I've assigned it to the author to investigate.

[2019-06-15 00:10] maggiesMSFT commented on #1137
Hi, @ferdsjoseph -- you are so right! When the product changes as much as it did this time, we have many, many screen shots to update. We try to get to them expeditiously. I'm assigning your comment to the author, who is I'm sure already aware of the update.
Thanks for your attentive reading, and for using Power BI!

[2019-06-15 00:11] maggiesMSFT commented on #1138
Hi, @amanarneja -- thanks for your question! I've assigned it to the author to investigate.

[2019-06-15 00:13] maggiesMSFT commented on #1140
Hi, @eldang -- thanks for your question! I've assigned it to the author to investigate.

[2019-06-15 02:16] djpirra commented on #931
Make sure postman is getting the token correctly. If you get the
authorization token using the oauth2 from Postman it does not work since
the client_credentials are not passed using the right parameter.

Em sex, 14 de jun de 2019 às 03:14, Oleksii Bespalov <
notifications@github.com> escreveu:

--
Melhores Cumprimentos,
Luis Simões

[2019-06-15 16:55] xantari opened #1141 "If you have SQL Server Enterprise under MPSA how to find Power BI Report server key?"
This page assumes you use volume licensing service center. However MPSA is different portal located here: https://businessaccount.microsoft.com/Customer/Entitlements/

So when you have it under MPSA, how do you find it? It is not in Business Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4600c4b7-8444-f0d4-9e81

[2019-06-16 14:50] otravers commented on #1122
@davidiseminger there was also this [official release note](https://docs.microsoft.com/en-us/business-applications-release-notes/October18/intelligence-platform/power-bi-custom-visuals/custom-visual-support-report-tooltips) dated 07/21/2018:

[2019-06-17 00:07] omarman2 opened #1142 "mr.hkm"
omarman_2006a@hotmail.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09828fad-a8e9-a2b3-0942-6e19724fa00b
* Version Independent ID: 4b67d4da-c2b7-a6ef-e511-7e61b6b35c58
* Content: [Sign up for Power BI as an individual - Power BI](https://docs.microsoft.com/en-us/power-bi/service-self-service-signup-for-power-bi?lc

[2019-06-17 02:27] Mike-Honey opened #1143 "In requirements, add dependency on .Net 4.6 for Power BI Desktop"
This visual breaks down in Power BI Desktop if .Net 4.6 is not installed on the machine.

The visual appears blank with a message: This visual is not enabled.  The File / Options ... Preview list does not show an option to check the Key influencers visual.

Ref:
https://community.powerbi.com/t5/Desktop/Key-Influencer-Visual-not-visible/m-p/694499#M335024

https://www.microsoft.com/en-us/download/d

[2019-06-17 16:37] maggiesMSFT commented on #1141
Hi, @xantari -- Thanks for asking! I'm checking and will get back to you with the answer.

[2019-06-17 17:02] maggiesMSFT commented on #1142
Hi, @omarman2 -- I'm closing this issue because it doesn't contain a comment or question. If you have a comment or question, please start a new issue. Thanks!

[2019-06-17 17:02] #1142 closed

[2019-06-17 17:03] maggiesMSFT commented on #1143
Hi, @Mike-Honey -- thanks for your feedback! I've assigned it to the author, who will review and get back to you.

[2019-06-17 22:39] DerekTrujillo opened #1145 "Relative Date Filtering for both future and past dates"
I understand relative date filtering, but want to apply it as an 'or' with future dates to create a dynamic date range filter.  For example.  If there was a report that showed both forecast and actuals in the same report you might want to show the past 5 years and also show the next 5 years (Date is in the last 5 years including today or is in the next 5 years not including today) to have a rollin

[2019-06-18 01:38] mitchonfire opened #1146 "Using RLS with CustomData(), over Gateway, to on-prem SSAS is can work"
Using RLS with CustomData(), over Gateway, to on-prem SSAS is can work by making the gateway do "AD Account switching".

See workaround here:

https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/17768485-ssas-gateway-data-source-customdata-setting-is-bro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618

[2019-06-18 01:58] mitchonfire opened #1147 "A way to use CustomData() for RLS over Gateway against on-prem SSAS Roles"
I want raise awareness around this issue and to share my work around which uses the ADUserNameReplacementProperty gateway setting to switch from the admin AD account so that role filters will be applied, i.e.

https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/17768485-ssas-gateway-data-source-customdata-setting-is-bro

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-06-18 12:43] laandermsft opened #1148 "Wrong direction of arrow in picture for customer embedding"
I read this documentation and I may be wrong, but the arrow next to "Acquire embed token" is pointing in the wrong direction. As far as I know the acquired embed tokens should be sent from Power BI to the ISV application. Correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7d9793-ede4-653a-bc25-cf91be807edb
* Ver

[2019-06-18 14:15] alitwaij commented on #807
I am surprised that we cannot mix datasources with this on the same model. Would be a very useful feature if it was there. So that we can bring in our own lookup tables and use them in conjunction with the live dataset.

[2019-06-18 14:21] mihart commented on #1145
Thanks for your comment, @DerekTrujillo . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-06-18 14:21] #1145 closed

[2019-06-18 14:23] mihart commented on #1146
Thanks for your comment, @mitchonfire . This issue has been assigned to the doc author for review.

[2019-06-18 14:25] mihart commented on #1147
Thanks for your comment, @mitchonfire . This issue has been assigned to the doc author for review.

[2019-06-18 14:26] mihart commented on #1148
Thanks for your comment, @laandermsft . This issue has been assigned to the doc author for review.

[2019-06-18 14:30] mihart commented on #1103
Hi @Mike-Honey . I’ve added this to my docs backlog.  This is a great addition to the doc.  Thanks!

[2019-06-18 14:30] #1103 closed

[2019-06-18 14:36] mihart commented on #1137
Hi @ferdsjoseph ,
Thank you for your feedback.  The matrix article is being updated this week, so look for the fresh new screenshots no later than next week.

[2019-06-18 14:36] #1137 closed

[2019-06-18 15:02] mihart commented on #1140
Hi @eldang,
Thank you for your feedback.  Yes, the color saturation is now part of the Formatting pane.  I'm updating the article now so it should go live no later than next week.

[2019-06-18 16:21] Bhavik-MSFT commented on #1124
Hi @pcgeekus , great question! We've designed Query Caching to have a negligible effect on capacity memory even if you have turned it on for many datasets. You may see temporary load on the capacity when the cache is refreshed since we need to issue queries to the underlying data models. The effect of this depends on the number and complexity of the cached queries. If you have a capacity that is a

[2019-06-18 16:39] #1124 closed

[2019-06-18 16:42] pcgeekus commented on #1124
It was my understanding that our capacity already caches heavier used
queries. What's different in using this setting and what tells me I should
consider it for a particular Dataset?

Jon

On Tue, Jun 18, 2019 at 11:21 AM Bhavik Merchant <notifications@github.com>
wrote:

[2019-06-18 16:49] #1125 closed

[2019-06-18 16:52] Bhavik-MSFT commented on #1082
Hi @MPEV is the dataset on a Premium workspace? Are there any other errors or warnings showing on the dataset settings page?

[2019-06-18 17:01] #1004 closed

[2019-06-18 17:46] Bhavik-MSFT commented on #1124
@pcgeekus By default the capacity will cache dashboard tiles (i.e. the final pinned visual) and visuals on the default page of reports. Query Caching will also put query results in the cache. For reports that are slow because of high query duration in proportion to visual drawing time, turning Query Caching on will give you the most benefit. You can determine this timing using the new [Desktop Per

[2019-06-18 18:19] stevejmorgan commented on #1004
Hi Maggie
My understanding that the A SKUs are PowerBI Embedded but I've been told by the PBICAT team that paginated reports can't be used with any flavour of Embedded.
Steve

[2019-06-18 20:07] eldang commented on #1140
@mihart but there's no color saturation option under formatting either!  As far as I can tell, there's currently no way to do a choropleth map with a continuous colour scale (as opposed to categories), which seems like kind of a basic need for an analytics package, and it's frustrating when the docs show examples.  Or have I missed something that is available somewhere?

[2019-06-18 20:22] jpcarnes commented on #1115
Hi @benmjarmany I was wondering if you could share what you did to fix this problem. I had similar issues that you had when trying to start my example visual.

Thanks in advance for the help!

[2019-06-18 20:23] juluczni commented on #1143
Hi Mike,

Thanks for the message. The visualization is dependent on ML.NET which requires .Net 4.6. I will add that to the documentation to make the requirement clear.

Thanks!

[2019-06-18 20:25] juluczni commented on #1126
Thanks @gerachanante. I'll update the documentation to explain how the binning works.

[2019-06-18 20:27] ferdsjoseph commented on #1137
Thank you!

[2019-06-18 20:28] juluczni commented on #1131
Hi @gerachanante - you can take a look at ML.NETs case study on which methods are used by the key influencers visual. Hope this helps: https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet/customers/power-bi

[2019-06-18 20:41] juluczni commented on #779
@DaveStabilify we are finalizing the work on measures with key influencers. Would you be willing to jump on a call to see if the updates we are making meet your needs?

[2019-06-18 21:27] sbhuttan commented on #1037
Is there an update on this issue? Is there a way to connect using Azure Cost Management or acknowledgement if this is a work in progress?

There is no billing profile ID to be found on Azure. Using Subscription ID instead is giving error as above.

[2019-06-19 02:05] angiwang opened #1150 "Does Android app support it now?"
The article write in 06/07/2018 and Note: Viewing Power BI Reports hosted in Power BI Report Server using WAP to authenticate is currently supported only in iOS app. Android app is not officially supported at this time.

Does Android app support it now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e74357ec-d4ac-973f-

[2019-06-19 02:14] maggiesMSFT commented on #1150
Hi, @angiwang -- thanks for your question! Assigning this to someone who can answer. Thanks!

[2019-06-19 14:11] alpinedelight opened #1151 "PowerBI Premium Dedicated Capacity vs PowerBI Embedded Dedicated Capacity"
In the section "Moving to production" it states that dedicated capacity is required and can be purchased from Azure portal.
It would help to clarify the difference with PowerBI Premium which offers dedicated capacity, or are they in fact the same (https://powerbi.microsoft.com/en-us/pricing/)?
If my organisation is already paying for Premium, can they use that capacity to embed PowerBI content wit

[2019-06-19 14:33] alpinedelight opened #1152 "Article insinuates two App registrations - is this correct?"
Entering the details in web.config when setting up the "App Owns" sample, the article states how to get the app id (https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers#application-id) highlighting the "PBI Embed Test" app registration. Slightly further down it then talks about getting the application secret (https://docs.microsoft.com/en-us/power-bi/developer/embed-sampl

[2019-06-19 14:59] adojeda opened #1153 "Download PowerBI Excel Publisher"
Link to download PowerBI Excel publisher takes you to documentation to PowerBI Analyze in Excel. Should the link to download the PowerBI Excel publisher take you to:
https://www.microsoft.com/en-us/download/details.aspx?id=50729

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 458afd24-a62a-7944-5cd4-de9a9290c308
* Versi

[2019-06-19 17:15] mgblythe commented on #1151
Thanks for your comment, @alpinedelight. This issue has been assigned to the doc author for review.

[2019-06-19 17:16] mgblythe commented on #1152
Thanks for your comment, @alpinedelight. This issue has been assigned to the doc author for review.

[2019-06-19 17:25] sbhuttan commented on #995
Subscription Id is not the right answer here either. As using subscription id throws this error "TenantId: Failed to discover tenantsBillingAccountId: Failed to discover tenants", as another user mentioned above.

[2019-06-19 17:55] mihart commented on #1140
Hi @eldang
Under the Format tab, expand "Data colors".  Then select the 3 dots and choose "Conditional formatting".  In the pane that appears, add the field you'd like to use for saturation.
I'm adding this to the doc today because it is rather hard to find.

[2019-06-19 17:55] #1140 closed

[2019-06-19 17:58] miroslavplese opened #1154 "Stale links"
Links in Next Steps section are stale or non-existent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e8e549-7fba-9ece-3e32-73a0cc3c6046
* Version Independent ID: a9b39810-c302-c153-3123-ddb8f459e9f4
* Content: [Add a custom column in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-add-

[2019-06-19 18:02] Krishna-Paudel opened #1155 "Cross Report Filter not working as expected"
We want to implement Cross Report Drillthrough across few Power BI reports. However, we are unable to proceed with this due to a potential bug in the Power BI Service.

**Details**: Scenario: Drillthrough the Account ABC from Source Page to Target Page

**Expected Behavior**: Drillthrough filter is passed with the value ABC and the Target Page is filtered for this account.

**Actual Behavior**: On

[2019-06-19 21:38] mgblythe commented on #1154
Thanks for your comment, @miroslavplese. This issue has been assigned to the doc author for review.

[2019-06-19 21:41] mgblythe commented on #1155
Thanks for your comment, @Krishna-Paudel. This looks like product feedback, rather than documentation feedback. It looks like you've logged the issue. You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-06-19 21:41] #1155 closed

[2019-06-19 21:49] pcgeekus opened #1156 "No mention of Imports via SSO through an Enterprise Data Gateway"
No mention of Imports via SSO through an Enterprise Data Gateway. Is that coming? Soon? Currently imports only work via Personal Data Gateways using windows credentials. Keep in mind we only allow SSO, so direct DB passwords won't work for us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7ca8d8-0f83-2cd6-57b1-04fc8

[2019-06-19 21:51] pcgeekus opened #1157 "No mention of Imports via SSO through an Enterprise Data Gateway"
No info on Imports via SSO through an Enterprise Data Gateway. Is that coming? Soon? Currently imports only work via Personal Data Gateways using windows credentials. Keep in mind we only allow SSO, so direct DB passwords won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60da74f1-d9a3-c9b2-da26-344333edeefe
*

[2019-06-20 04:08] Mike-Honey commented on #1143
Hi Justyna,

A pop-up message from the Power BI Desktop app to explain this dependency would also be helpful.  Currently its very obscure - the visual just doesn't appear in the list.

Thanks

[2019-06-20 08:25] minyos opened #1158 "Please add licensing requirements for the different mode"
hi, can you please include licensing information so we are aware which types of licensing requirements are required for the different methods of refreshing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8122662c-44c4-317d-ef45-44bd3f204487
* Content: [Data

[2019-06-20 10:55] benmjarmany commented on #1115
Hi @jpcarnes, the solution for me was actually just following the steps shown in the article @jarnawer shared, [at this URL.](https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/migrating-to-powerbi-visuals-tools-3-0/)
I didn't get round to finishing it, but I did manage to get the circle showing with text in it, which shows I was on the right track!

[2019-06-20 11:56] michielzh commented on #483
I think his question is how to access the power bi server in the form of rest api just like accessing the power bi service. Now the official documentation does not cover this content, just embedded through the iframe. This feature is too rudimentary. Now our company only purchases the power bi server of the local deployment mode, and the company requires that the report cannot be released through

[2019-06-20 14:33] mgblythe commented on #1157
Thanks for the comment @pcgeekus, closing as a dup of #1156.

[2019-06-20 14:33] #1157 closed

[2019-06-20 14:38] mgblythe commented on #1158
Thanks for your comment @minyos, I'm checking if there are any licensing restrictions/implications I should add to the article.

[2019-06-20 14:39] mgblythe commented on #1156
Thanks for your question @pcgeekus. Adding @arthiriyer to comment.

[2019-06-20 15:22] sslezic opened #1159 "Article needs updating"
Most of the information in this article is out of date. The tools and wizards used in this article have all been updated according to:
https://microsoft.github.io/PowerBI-visuals/docs/how-to-guide/migrating-to-powerbi-visuals-tools-3-0/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e

[2019-06-20 15:29] CeciAc opened #1160 "Bad link or functionality removed"
@ldeoux commented on [Thu Jun 20 2019](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/12)
Hello
The links to the Power BI Publisher for Excel module download refer to the Excel Analyzer page ...
Excel Analyzer makes it possible to analyze give PowerBI in Excel ... it's not what I want ... I want to display an Excel Dashboard in PowerBI ...
This function is no longer valid or is this th

[2019-06-20 15:31] CeciAc commented on #1160
Hi team,
I moved this here because the user reports the current funcionality differs from what it says the article.

[2019-06-20 15:55] johnyuan10 opened #1161 "monitor SSAS tabular model datasets"
Hi,

Can the capacity metrics monitor be used to monitor SSAS tabular model based datasets? If so, how can I view it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c913b90d-071a-7be0-6652-4b1b024e7f45
* Version Independent ID: bc99d496-cf13-552b-b6df-55229ad9ff1d
* Content: [Deploying and Managing Power BI Premium Cap

[2019-06-20 15:57] RealNoArms opened #1162 "Firewall Settings"
How do we set PowerBI as a trusted service, or which IP range should we permit through the firewall?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126A
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Content: [Learn how to connect Azure Data Lake Storage Gen 2 to Power

[2019-06-20 17:02] Minewiskan commented on #1069
@mganeshphani - Are you still seeing this issue? We tested and aren't able to repro.

[2019-06-20 17:35] AdamBJ opened #1163 "The method of describing how to connect to a HANA server (type in ServerXYZ:30015) is out of date"
The connection UI has been updated to use a port dropdown

[2019-06-20 18:12] sjlarkin opened #1164 "Specific Instructions on Creating Custom Visuals that Work on Report Server"
There are no instructions on how custom visuals can be created so that they work on PBI Report Server. Really need to add this because not all the Marketplace custom visuals work on PBIRS, and we are having trouble creating one.

[2019-06-20 19:30] Remeth commented on #1078
Being able to use the SELECT and the FILTER parts of the ODATA source in Power BI seems very lacking.

Without using Json.Document(Web.Content("http://myodataapi/odata/selectAndFilter"))

Why doesn't the OData connector support the OData v4 standard way of doing selects and filters?

[2019-06-20 20:36] maggiesMSFT commented on #1159
Thanks, @sslezic! Assigning to the author to address the issue.

[2019-06-20 20:46] maggiesMSFT commented on #1160
Hi, @ldeoux Perhaps this is the functionality you're looking for?
https://docs.microsoft.com/en-us/power-bi/publisher-for-excel
Or https://docs.microsoft.com/fr-fr/power-bi/publisher-for-excel in French

cc @CeciAc

[2019-06-20 20:48] maggiesMSFT commented on #1161
Hi, @johnyuan10 -- thanks for your question! Assigning it to the author to get back to you.

[2019-06-20 20:49] maggiesMSFT commented on #1162
Hi, @RealNoArms -- thanks for your question! Assigning to the author to get back to you.

[2019-06-20 20:52] maggiesMSFT commented on #1163
Hi, @AdamBJ -- thanks for your observation. Is this the article you're referring to?
https://docs.microsoft.com/en-us/power-bi/desktop-sap-hana
Assigning to that author on that assumption.

[2019-06-20 20:52] CH5280 opened #1166 "Add Company column"
Need to add company column to the Incident data, else this isn't very useful for MSPs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2ce012-0b66-7a2d-2ce0-630f35abdf88
* Version Independent ID: 7d647855-d659-d495-e876-9189a5ba5125
* Content: [Connect to ServiceNow with Power BI - Power BI](https://docs.microsoft.com/

[2019-06-20 20:53] CH5280 opened #1167 "Add Company column"
Need to add company column to the Incident data, else this isn't very useful for MSPs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e2ce012-0b66-7a2d-2ce0-630f35abdf88
* Version Independent ID: 7d647855-d659-d495-e876-9189a5ba5125
* Content: [Connect to ServiceNow with Power BI - Power BI](https://docs.microsoft.com/

[2019-06-20 20:54] maggiesMSFT commented on #1164
Hi, @sjlarkin Thanks for your comment. Assigning to someone familiar with custom visuals, to help.

[2019-06-20 21:12] maggiesMSFT commented on #1167
Hi, @CH5280 -- thanks for your comment! It sounds like product feedback, so I'm closing it. Please go to the Power BI Ideas site with your suggestion: https://ideas.powerbi.com/forums/265200-power-bi. Thanks!

[2019-06-20 21:12] #1167 closed

[2019-06-20 21:13] maggiesMSFT commented on #1166
Hi, @CH5280 -- closing this because it's a duplicate of your other comment, https://github.com/MicrosoftDocs/powerbi-docs/issues/1167. Thanks!

[2019-06-20 21:13] #1166 closed

[2019-06-20 23:14] CH5280 commented on #1167
@maggiesMSFT How do I give feedback on this Power BI app?  I'm trying to ask for the ServiceNow Incident Company to be added to the dataset.  (I have more requests/suggestions as well) "ServiceNow Incidents" app - https://appsource.microsoft.com/en-us/product/power-bi/pbi-contentpacks.pbi-servicenowincidents?tab=Overview

[2019-06-20 23:31] maggiesMSFT commented on #1167
Hi, @CH5280 -- yes, the Power BI Ideas site is the place to make all kinds of suggestions: https://ideas.powerbi.com/forums/265200-power-bi.

[2019-06-21 00:07] carlhodder opened #1168 "Field icon list incomplete."
I've got icons appearing in the field list, on a field I'm having issues with power BI embedded. The icon isn't listed here, and I can't find an authoritative list on these anywhere else.

Isn't it about time to update this to include all icons used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd081c3-9f0f-07b5-b0d

[2019-06-21 00:15] maggiesMSFT commented on #1168
Hi, @carlhodder -- Thanks for the feedback. Could you attach a screen shot of the icon? I can do some sleuthing.

[2019-06-21 00:27] carlhodder commented on #1168
Thank you very much!

I'm about 90% confident that this is due to the field being grouped:
![GroupNew](https://user-images.githubusercontent.com/39107659/59889261-b4d0f180-941f-11e9-9c36-d49e70fd43c4.PNG)

However from memory I thought the grouped icon was this:
![GroupOld](https://user-images.githubusercontent.com/39107659/59889274-c2867700-941f-11e9-8d9a-efe468e329b3.PNG)

Anyway, the first icon

[2019-06-21 13:05] ldeoux commented on #1160
Hello Maggie

Thank you to follow the case.
You're right sending me the link for Publisher-for-Excel in french… but when I follow this Link… and when I choose this other Link in the new opened page : Télécharger Power BI Publisher for Excel<http://go.microsoft.com/fwlink/?LinkId=715729>,  to download the component…
I'm redirected on the Excel Analyser service page… it's impossible to download the

[2019-06-21 14:40] mgblythe commented on #1158
@minyos - this is the only licensing-related difference, which is documented:

Power BI limits datasets on shared capacity to eight daily refreshes. If the dataset resides on a Premium capacity, you can perform up to 48 refreshes per day.

[2019-06-21 20:44] markymark1985 commented on #1012
To get 12.2.0.1.0 to work, you should be able to first install 12.1.0.2.4, select machine-wide configuration during setup, then upgrade to 12.2 after. starting in 12.2, Oracle removed the Machine-wide configuration which is what Power BI desktop and PBIRS depend on to see that Oracle client is installed.
https://docs.oracle.com/cd/E85694_01/ODPNT/InstallConfig.htm#ODPNT-GUID-08AB93CF-3E3F-4CA6-9D4

[2019-06-21 22:38] ferBonnin opened #1169 "List of shortcuts in Accessibility In PowerBi article is a screenshot"
Instead of a screenshot of the list of shortcuts, would be nice to have an actual table with the list of shortcuts in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd07909e-f46b-a054-3e58-0a5e7db25d19
* Version Independent ID: 49e245ff-9702-969e-0086-76cf4f86af66
* Content: [Accessibility in Power B

[2019-06-22 00:01] maggiesMSFT commented on #1168
Thanks, @carlhodder -- I'm checking.

[2019-06-24 06:22] AciongAksaya opened #1170 "Button properties when selected is removed?"
I am on June update and I only see default state, on hover, on press.
My goal is to highlight the bookmark when selected also not just on hover.
Thanks...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c379d7f1-f977-7906-c4ba-6f58ab47d785
* Version Independent ID: 088a4f2c-e571-1282-b265-9b90d4995505
* Content: [Using

[2019-06-24 09:52] MPEV commented on #1082
I've subsequently found that when the dataset is created (via the API) the option is not there. But if I refresh a minute or two later it appears.
Can the value of this be set via the API? The wording also suggests it can be set via the Capacity, but I can't find this setting on the Capacity inthe Azure portal - is it possible?

[2019-06-24 11:46] RonaiBertalan opened #1171 "Columns argument"
This page should mention that importing a csv file generates a 'columns=10' (10 is just an example for a number here) argument in power query and if your csv file at the next time of refresh contains more columns, those won't be refreshed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9321af-e669-2f8b-b362-e23ccaa45

[2019-06-24 12:44] rcfoyn opened #1172 "CustomData"
In the window "Map user names" there is a choice between "Effective user names" and "CustomData". This choice is nowhere described and the latter is not even mentioned in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa43934-b1b5-2227-9f9e-cfce1801b659
* Version Independent ID: 0d169b19-7c1c-b37d-3915-b8

[2019-06-24 14:13] steelanddata opened #1173 "Markup missing?"
There's a raw file path (C:\...powerbi-content-pr\articles\media\powerbi-desktop-troubleshooting-analyze-in-excel) in the body of this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae990a42-30ce-e2cd-ef81-b2caba935050
* Version Independent ID: cd6b2f01-2ab8-bd8e-67a5-29a8f1ce3555
* Content: [Troubleshooting A

[2019-06-24 16:11] VinitashokPatil opened #1174 "PBIRS: Power BI Data Refresh - Minimum recommended interval"
We have some users setting 1 minute interval for data refresh of Power BI report on PowerBI Report Server.  Is it ok to set such a short interval for data refresh ?
We are also seeing that there are a large number of entries (databases) in Analysis Service corresponding to this PowerBI report (when connecting via SSMS to analysis service), it could be a side effect of this short interval.
Requesti

[2019-06-24 16:17] markingmyname commented on #1146
@mitchonfire,

Thank you for your feedback! We will investigate and get back to you with the relevant info.

@rkarlin for awareness.

[2019-06-24 16:23] markingmyname commented on #1148
Hi, laandermsft,

The image is correct.

The application needs to generate the token and send that request to PBI, so PBI can verify access to the data.

However, is the image seems confusing, we can take a look at that.

thank you.

@rkarlin for awareness.

[2019-06-24 16:23] #1148 closed

[2019-06-24 16:23] markingmyname commented on #1148
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-24 16:26] markingmyname commented on #1151
Hi alpinedelight,

thank you for your comment.

A SKUs can only be purchased in Azure, therefore specifying Embedded vs. Premium is not truly needed here.

However, I understand where you are coming from with this info.

Thank you.

@rkarlin for awareness.

[2019-06-24 16:27] markingmyname commented on #1151
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-24 16:27] #1151 closed

[2019-06-24 16:39] markingmyname commented on #1152
Hi alpinedelight,

If I understand correctly, you are referring to understanding why using app id and app secret?

I can say the article discusses using a UN/PW for auth vs using Service Principal for auth.

The article tries to give you different options of how to authenticate your application.

In both cases, an app id is required, but you only need to use the app secret when using Service Princ

[2019-06-25 11:35] Mike-Honey opened #1175 "Screen-shots are out-of-date"
Left nav now only has 3 icons and this one has a tool-tip of "Model".

Also UI color scheme has unfortunately been unilaterally changed, so all screenshots are out-of-date. Perhaps wait a month or two as it might be unilaterally changed again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4cfe8c6-b047-1277-8726-0d45d

[2019-06-25 11:36] Mike-Honey opened #1176 "Document the Properties"
Many properties are available, these seem undocumented?

E.g. what does the "Is nullable" property do?

If you are stuck on that one you can phone a friend:

https://blog.crossjoin.co.uk/2019/01/20/is-nullable-column-property-power-bi/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4cfe8c6-b047-1277-8726-0d45d3630b8d

[2019-06-25 11:37] FRTsakiris opened #1177 "Link to "M function reference" is dead :("
The last link on the page is dead. It takes to a page stating "We're sorry, the page you requested cannot be found." with big letters.

Pity as descriptions of M functions would be super useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e8e549-7fba-9ece-3e32-73a0cc3c6046
* Version Independent ID: a9b39810-c302-c1

[2019-06-25 12:12] donalmc opened #1178 "No Filters in Live Connection?"
I've created and published a dataset to the PBI Service.
If I connect to the dataset live with PBI Desktop, it seems that I can't add a filter to any visuals or report pages - is this correct?
The image shown above has the Filters options.
I'm using the June 2019 release of PBI Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-25 13:57] mgblythe commented on #1169
Thanks for your comment, @ferBonnin. This issue has been assigned to the doc author for review.

[2019-06-25 14:00] mgblythe commented on #1170
Thanks for your comment, @AciongAksaya. This issue has been assigned to the doc author for review. In the meantime, is the issue that the feature isn't acting as documented or that you're looking for additional functionality?

[2019-06-25 14:03] mgblythe commented on #1172
Thanks @rcfoyn, I'm adding this to the backlog of work for gateway docs, which we're currently updating.

[2019-06-25 14:07] mgblythe commented on #1175
Thanks for your comment, @Mike-Honey. This issue has been assigned to the doc author for review.

[2019-06-25 14:08] mgblythe commented on #1176
Thanks for your comment, @Mike-Honey. This issue has been assigned to the doc author for review.

[2019-06-25 14:19] mgblythe commented on #1177
Thanks for the feedback @FRTsakiris. I removed one of the links and changed the other to the top level of the reference: https://docs.microsoft.com/powerquery-m/power-query-m-reference. This will be live later today.

[2019-06-25 14:20] mgblythe commented on #1154
@miroslavplese - I removed one of the links and changed the other to the top level of the reference: https://docs.microsoft.com/powerquery-m/power-query-m-reference. This will be live later today.

[2019-06-25 14:21] mgblythe commented on #1178
Thanks for your comment, @donalmc. This issue has been assigned to the doc author for review.

[2019-06-25 14:25] mgblythe commented on #1173
Thanks @steelanddata, I'm making this fix now, and it will be live later today.

[2019-06-25 14:27] mgblythe commented on #1174
Thanks for your comment @VinitashokPatil. I'm checking with the product team on recommendations.

[2019-06-25 14:36] mgblythe commented on #495
Closing this one out. Feel free to reopen if you have more feedback on the content after "Validating the role"

[2019-06-25 14:36] #495 closed

[2019-06-25 14:43] mgblythe commented on #1135
Hi @DeanGross, there's no requirement to have Desktop installed on the Gateway server.

[2019-06-25 14:43] #1135 closed

[2019-06-25 14:45] #1158 closed

[2019-06-25 17:25] hugotoledo commented on #1168
Seconding Carl's points. The June 2019 update's icons are not reflected here. The Hierarchy icon is certainly wrong.

[2019-06-25 19:47] mgblythe commented on #453
Closing this one out, but @sweetlapeet feel free to reopen if you have the Power BI doc you were referring to. CC @eross-msft, @maggiesMSFT

[2019-06-25 19:47] #453 closed

[2019-06-25 21:09] jtarquino commented on #665
Thanks, this have been updated for the latest release of PBIRS May

[2019-06-25 21:10] jtarquino commented on #165
Thanks for the feedback I would like to invite you to post it in ideas.powerbi.com

[2019-06-25 21:11] christianwade commented on #594
Yes, it works in the Power BI service, as do the other settings

[2019-06-25 21:13] maggiesMSFT commented on #665
Thanks, @jtarquino. Closing this issue now.

[2019-06-25 21:13] #665 closed

[2019-06-25 21:14] mgblythe commented on #893
Hi @SteveGoodman - installing the gateway is in the prerequisites for the article. Closing now, feel free to reopen if you have other questions.

[2019-06-25 21:14] #893 closed

[2019-06-25 21:21] #165 closed

[2019-06-25 21:23] mgblythe commented on #594
Thanks @christianwade, assigning to @davidiseminger to address in the docs.

[2019-06-25 21:24] Minewiskan commented on #1069
No response. #please-close

[2019-06-25 21:24] #1069 closed

[2019-06-25 21:40] christianwade commented on #1097
@mgblythe can you please assign to the docs owner to get it corrected?

[2019-06-25 21:55] mgblythe commented on #1097
@christianwade - issue and article now assigned to me, thanks.

[2019-06-26 04:34] Al3x68 commented on #842
It would be great to list all the supported (and not supported) scenario. It seems downloading a report that is using Live connection to a Tabular model is also not supported...

[2019-06-26 04:36] italiana commented on #974
I'm not sure if this is indeed clearer. What does "Your custom connector must be added to PBI service for it to be accessed by Template app installer" mean? How do I add custom connector to PBI Service? My understanding is that you can only use custom connector through PBI Gateway which is not supported

[2019-06-26 05:34] uve commented on #238
This is a question  about importing Custom Visuals into Organizational Store. Assigning task to @sranins  to provide an answer.

[2019-06-26 08:11] cbailiss opened #1179 "What is the "Build" permission?"
The "Build" permission is mentioned once in this page without explaining what it is or where it is set:

&gt;&gt; To allow users with Viewer role to export data, ensure
&gt;&gt; they have Build permission on the datasets in the workspace.

i.e. what is this?  where/how is this set?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-06-26 08:49] teddybercovitz commented on #974
Hi @italiana, fixed - you will see the changes tomorrow. hopefully, we will have a process to submit custom connectors.
Thanks for your feedback!

[2019-06-26 09:50] teoaraujo commented on #1112
Any news?

[2019-06-26 09:58] Hansonaplane opened #1180 "Text is quite repetitive + overuse of "unique""
When reading this text, I felt like getting the same information in different words several times, for example the parts about live connections or planned refreshs. Also, you claim four different tools to be unique - this somehow loses credibility after the second time. Why not just explain the differences between these tools? It's not important if they are unique or not. I think that this text co

[2019-06-26 14:04] mgblythe commented on #1177
Fix is now live.

[2019-06-26 14:04] #1177 closed

[2019-06-26 14:04] mgblythe commented on #1154
Fix is now live.

[2019-06-26 14:04] #1154 closed

[2019-06-26 14:05] mgblythe commented on #1097
Fix is now live.

[2019-06-26 14:05] #1097 closed

[2019-06-26 15:27] arthiriyer commented on #1156
@pcgeekus Currently SSO is available for DQ. We may consider it for the upcoming semester starting October- please upvote at ideas.PowerBI.com so ew can prioritize.

[2019-06-26 15:29] mgblythe commented on #1156
Thanks @arthiriyer, closing this out.

[2019-06-26 15:29] #1156 closed

[2019-06-26 15:31] mgblythe commented on #1174
@VinitashokPatil - every 15-30 mins is typical. For future questions like this, I suggest posting in the [Power BI Community](https://community.powerbi.com).

[2019-06-26 15:31] #1174 closed

[2019-06-26 15:59] markingmyname commented on #1152
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-26 15:59] #1152 closed

[2019-06-26 16:00] cmfinlan commented on #1141
You need to have SA to take advantage of this benefit - since MPSA allows you to not have SA, it isn't available through that portal.

[2019-06-26 16:07] xantari commented on #1141
@cmfinlan We still have SA under MPSA. The only difference is that when we pay yearly everything gets synced to the same renewal date so we aren't paying for our products under SA many times throughout the year. Makes budgeting and paying much easier. We had about a dozen volume licensing agreements under the open business plan and we were creating PO's for the renewals almost every month!

[2019-06-26 16:11] xantari commented on #1141
@cmfinlan FYI, you can confirm yourself, software assurance is available under MPSA as indicated in their FAQ of MPSA: https://www.microsoft.com/en-us/licensing/mpsa/default

[2019-06-26 16:45] klinejordan opened #1181 "conditions to see datasets in selection GUI"
The datasets you see in this list meet at least one of the following conditions:
The articles says this:

"The dataset is in one of the new workspace experience workspaces, and you're a member of that workspace. See Considerations and limitations.
You have Build permission for the dataset, which is in a new workspace experience workspace.
The dataset is in your My Workspace."

But in Power BI Desk

[2019-06-26 17:31] cmfinlan commented on #1141
I understand it is still available, it's more around the frequency of renewals made some things a challenge at the time this was implemented IIRC.  I'll follow up with business planning to see if they can make a change there going forward to make it available - if you work with a Microsoft rep directly, they should be able to assist as well.

[2019-06-26 17:43] xantari commented on #1141
@cmfinlan We work with CDW, not sure if we have a MS Rep assigned to us? How would I know? Any idea how to get the license key from MPSA Business Center? Even though we spent 15k / year on SQL Server Enterprise licensing, and we can see it in MPSA Business Center, we are unable to get Power BI Report Server. Searching for "power" yields no results:

![image](https://user-images.githubusercontent.c

[2019-06-26 17:44] mgblythe commented on #1179
Thanks for your comment, @cbailiss. This issue has been assigned to the doc author for review.

[2019-06-26 17:45] mgblythe commented on #1181
Thanks for your comment, @klinejordan. This issue has been assigned to the doc author for review.

[2019-06-26 17:46] mgblythe commented on #1180
Thanks for your comment, @Hansonaplane. This issue has been assigned to the doc author for review.

[2019-06-26 17:52] maggiesMSFT commented on #1179
Yes, thanks @cbailiss -- great point! I'll add a link. In the meantime, check out this article: https://docs.microsoft.com/en-us/power-bi/service-datasets-build-permissions#build-permissions-for-shared-datasets

[2019-06-26 19:36] klinejordan opened #1182 "Reports list view for Apps"
The documentation mentions a "Reports list view" for apps but does not explain how to get there. What is the "reports list view" in the context of an app that is shared with me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf50

[2019-06-26 19:38] bartedgerton opened #1183 "This doesn't work"
Editing these interaction has no effect whatsoever.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7c372d-539c-5857-01c5-8a8d835380a8
* Version Independent ID: 08d1564e-d1dc-ae37-8147-ef21c80feccc
* Content: [Change how visuals interact in a report - Power BI](https://docs.microsoft.com/en-us/power-bi/service-reports

[2019-06-26 19:49] bartedgerton opened #1184 "Edit interactions is not working"
I have visual A doing cross-filtering on visuals B and C, which is desired; However, I want to disable cross-filtering when a value is selected in visual B, I don't want to filter visual A or C.  To that end, I have selected visual B, choose "Edit Interactions" from the Format menu, then select the "None" icon for visual A and visual C.  However, selecting a value in visual B still is causing some

[2019-06-26 20:15] mau-lopez opened #1185 "Great tutorial !!!"
These are among the best short tutorials I've watched. Very clear, at the right pace. Congrats on that! I want to suggest that you do the same for Power Query, it would be awesome to have this kind of clarity with that one too! Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa

[2019-06-26 20:33] #1183 closed

[2019-06-26 20:34] bartedgerton commented on #1183
Provided details on https://github.com/MicrosoftDocs/powerbi-docs/issues/1184

[2019-06-26 20:54] pcgeekus commented on #1156
I think product development is already working on it, please check and let
me know

On Wed, Jun 26, 2019 at 10:27 AM Arthi Ramasubramanian Iyer <
notifications@github.com> wrote:

[2019-06-26 21:33] JamesHamilMSFT commented on #1159
Can I bump this? I need this as well.

[2019-06-26 22:26] msfttimmac commented on #540
Are we still working on putting together a tutorial on how to connect to ESSBASE?

[2019-06-26 23:26] mgblythe commented on #1182
Thanks for your comment, @klinejordan. I've assigned this issue to the doc author for review.

[2019-06-26 23:34] mgblythe commented on #1184
Thanks for your comment, @bartedgerton. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-06-26 23:34] #1184 closed

[2019-06-26 23:37] mgblythe commented on #1185
Thanks for your comment, @mau-lopez. We really appreciate the positive feedback. I've assigned this issue to the doc author for review.

[2019-06-27 01:33] anbuchelva commented on #540
I found how to connect essbase. My initial experiments here: https://blog.anbuchelva.in/hyperion/power-bi-and-essbase-initial-experiments/

[2019-06-27 01:36] msfttimmac commented on #540
Yes.  I found that as well.  I am trying to get official Microsoft Documentation here, as the customer is pushing back on logs and such and need something that fully steps through the items and provides good information around it. There does not seem to be a lot of information around connecting to ESSBASE.

If we have an ESSBASE Server to connect to, I can write up documentation / blog around it.

[2019-06-27 01:41] anbuchelva commented on #540
That would really help. Appreciate it!

PS: I would never respond GitHub issue from my email, even if I do I wouldn't do it with signature on.

[2019-06-27 01:44] msfttimmac commented on #540
:-D Thank you for the info!

[2019-06-27 02:03] anbuchelva commented on #540
I have never used PBI before and I tried to get it working during Dec when the Essbase connector was available. Then I moved to different company where a different BI tool is being used. It has a connector for Essbase.

This is my understanding (might be entirely wrong) on PBI with Essbase.

The way smart view (the excel add-in for essbase related products) works is entirely different from PBI. Fi

[2019-06-27 02:07] msfttimmac commented on #540
Good info!  At this point, I am simply trying to connect using XMLA, which appears to be the only way to connect to an ESSBASE Server.  Once connected, should be able to use DQ and Native Query to be able to work with the data.  But getting connected seems to be the first issue to overcome.

[2019-06-27 04:47] cymbolz commented on #1160
I posted to the PBI Community about this and the response was quite underwhelming.

So I logged a support ticket.  After spending far too much time demonstrating the issue to them (which anyone with reasonable comprehension could see from the documentation and following the links) I was advised to try the now un-documented link to the separate Publisher for Excel installer.

The issue is still wit

[2019-06-27 09:24] vcandeau commented on #1037
Still no update for this problem.

We open a support case but no answer from microsoft about the wrong documentation

[2019-06-27 11:22] Pokeystuff opened #1186 "Confusion on what SKU this is capability available for."
When looking at https://powerbi.microsoft.com/en-us/pricing/ it indicates this is only a Power BI Premium feature however this seems to indicate it is available to the service generically. please provide clarity on this as it is a very important distinction. Either this page or the pricing page will need to change unless there is some nuance that requires further information on what is and isn't i

[2019-06-27 13:36] Ilocans opened #1187 "Disable Promote"
Is it possible to disable dataset promotion ?
We may only want certified dataset. Or maybe at limit the user able to endorse the dataset to a promoted status. Is it possible ?
Also is it possible in Power bi desktop to know for the selected dataset who endorsed it and see the description  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-06-27 14:47] Ilocans opened #1188 "Deletion accross workspace"
Hi,

If I publish in a workspace a report with a dataset coming from another workspace, it create 2 objects: the report and the dataset. If I delete the report, the dataset remain. There is no way to also delete it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f09aabd-9f0d-f94d-6e0a-7c9a9884dd71
* Version Independen

[2019-06-27 15:58] wjdanalharthi opened #1189 "Power BI intro videos"
Second and third URLs (the ones above the video previews) point to the same youtube video

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd66fe6d-5d79-32f8-d77d-621df2e04d97
* Version Independent ID: 5004c7d8-ea11-8cc2-0e25-69b9ab98f5e1
* Content: [Power BI Desktop videos - Power BI](https://docs.microsoft.com/en-us/po

[2019-06-27 16:56] CeciAc opened #1190 "Please clarify what types of agreements are AllowAdHocSubscriptions = false by default"
@UKayo commented on [Wed Jun 26 2019](https://github.com/MicrosoftDocs/powerbi-docs.ja-jp/issues/10)

A tenant with EAS agreement was set to False, but a tenant with MPSA agreement was set to true. Please clarify.

 "If you acquired Power BI through a partner, this might be set to false, which means it is disabled."

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題の

[2019-06-27 16:57] CeciAc commented on #1190
Hi team, I'm moving this here since the user is referring to the original documentation

[2019-06-27 16:59] maggiesMSFT commented on #1187
Hi, @Ilocans -- good question! Not that I know of, but I'll check and get back to you.

[2019-06-27 17:19] CheapSquier opened #1191 "Broken links to DAX function documentation"
The links in this sentence: "DAX includes the following categories of functions: Date and Time, Time Intelligence, Information, Logical, Mathematical, Statistical, Text, Parent/Child, and Other functions." result in a page not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d4e9e4-6581-ff12-0692-304725702

[2019-06-27 17:22] CheapSquier opened #1192 "Also the link to DAX Reference is broken"
There are many DAX resources available to you; most important is the Data Analysis Expressions (DAX) Reference.
https://msdn.microsoft.com/query-bi/dax/data-analysis-expressions-dax-reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d4e9e4-6581-ff12-0692-304725702fd3
* Version Independent ID: da0c52bf-88cc-367a

[2019-06-27 17:34] maggiesMSFT commented on #1188
Good question, @Ilocans ! I don't see how either. I'll ask and get back to you.

[2019-06-27 17:51] MI77 commented on #814
Seems to be fixed already. #please-close @mgblythe

[2019-06-27 17:54] MI77 commented on #395
It's a good suggestion, but not available in the product today. You can submit it on ideas.powerbi.com if you want.

#please-close @mgblythe

[2019-06-27 17:56] #814 closed

[2019-06-27 17:57] #395 closed

[2019-06-27 18:22] MI77 commented on #555
Thanks for the feedback everyone! I've made changes to the articles to make it more accurate. #please-close @mgblythe

[2019-06-27 18:30] mgblythe commented on #575
@arthiriyer - can you comment on this one, and let me know if we need a doc update.

[2019-06-27 18:30] #555 closed

[2019-06-27 18:35] MI77 commented on #580
Thanks for the feedback! I've made the change. #please-close @mgblythe

[2019-06-27 18:36] #580 closed

[2019-06-27 21:13] C2BB opened #1193 "SAS OLE DB Performance Issues"
Usage note for SAS OLE DB Performance Issues: http://support.sas.com/kb/63/340.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df452d2e-9a96-a9cb-40a7-830d6282c68b
* Version Independent ID: 1f84e9ab-409e-59fc-d35a-dc66f3d6bcb3
* Content: [Connect to data using generic interfaces in Power BI Desktop - Power BI](http

[2019-06-27 21:14] C2BB commented on #1193
Can this be fixed? The issue does not occur using Excels legacy OLE DB connection.

[2019-06-27 21:31] maggiesMSFT commented on #1168
Yes, @carlhodder, you're right, that's the grouping icon. @hugotoledo, the hierarchy icon looks the same to    me, though the color scheme is reversed.
At any rate, I need to update the article.
thanks!

[2019-06-27 22:00] AntiSquare opened #1194 "No Power BI Ribbon"
In the section about "Users with multiple Power BI accounts" it states that "You can also select Profile from the Power BI ribbon tab in Excel".

However, when you open the .ODC file there is no Power BI ribbon.  You use to be able to get a similar looking Power BI ribbon by downloading the Power BI Publisher addon for Excel. The page about the Power BI Publisher takes you here to download it now

[2019-06-27 22:51] ldeoux commented on #1160
Hello Matthew
Sorry you spent So much time...
Would  you please send me the non documented link you mentioned ?
Thand you in advance

________________________________
From: Matthew Cymbalak <notifications@github.com>
Sent: Thursday, June 27, 2019 6:47:09 AM
To: MicrosoftDocs/powerbi-docs
Cc: ldeoux; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] Bad link or functionality removed (#1160)

I post

[2019-06-27 23:15] maggiesMSFT commented on #1187
Hi, @Ilocans -- got your answers! I'll update the articles.

**Is it possible to disable dataset promotion ? Or maybe at limit the user able to endorse the dataset to a promoted status.**
No, this is currently not possible. Every workspace member with Write permissions can promote a dataset. That said, these questions are good feedback – it would be interesting to understand the customer scenario

[2019-06-27 23:16] maggiesMSFT commented on #1179
OK, @cbailiss -- article is updated with link. Thanks for asking!

[2019-06-27 23:16] #1179 closed

[2019-06-27 23:17] maggiesMSFT commented on #1188
Hi, @Ilocans -- here's your other answer:

**If I publish in a workspace a report with a dataset coming from another workspace, it create 2 objects: the report and the dataset. If I delete the report, the dataset remain. There is no way to also delete it.**

First, let me clarify that in this scenario Power BI does not create another instance of the dataset. The shared dataset remains in its origi

[2019-06-28 02:43] cymbolz commented on #1160
@ldeoux This is the page on Publisher for Excel: https://docs.microsoft.com/en-us/power-bi/publisher-for-excel

[2019-06-28 07:38] ldeoux commented on #1160
Hello Mathew…
I’m afraid but I have the sensation to go around in circles again !
I would like to download the “power bi publisher for excel” module… the link you sent to me still drive me to the “Excel analyser” module when I choose to download the link “power bi publisher for excel”…

I hope this module still exist

Thank you
Best regards
Laurent

De : Matthew Cymbalak <notifications@github.com>

[2019-06-28 14:53] OdinTech3 opened #1195 "Better clarification on how to output the dataset after running an R Script"
I had trouble figuring out how to return a filtered dataset using `dplyr`, I wrote out the bellow piece of code
[code]
and I expected the result to be a new dataset with the filter applied to it, but it didn't happen like that. Then after looking through the docs more times than was necessary, I figured I had to overwrite a variable named `output`

[code]

I think documenting this step one has to

[2019-06-28 15:24] markingmyname commented on #238
@sranins

[2019-06-28 15:45] danmyhre commented on #890
Any update on this?

[2019-06-28 15:47] danmyhre opened #1196 "Licensing for BYOL"
How can the inviting organization determine if the B2B guest user has a PBI Pro license already?  Can you please expand on how we would ensure license compliance in that section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad42c3b-e011-733d-dbdf-53944a2724a6
* Version Independent ID: 05e0f67c-5852-5b10-ac94-694ec2d

[2019-06-28 16:12] danmyhre opened #1197 "Guest Account with PBI Pro License"
It doesn't seem like this article is accurate on the licensing side.  I used a guest account (with B2B) to access a shared report.  When logging in, I was prompted with the Pro upgrade notice, so having a Pro license in the home tenant does NOT allow access to shared content in a guest tenant.

This is the message:
This content is only available to users with a Power BI Pro license. When you upgra

[2019-06-28 16:23] danmyhre commented on #1095
Maybe add clarification then until they fix the product.

[2019-06-28 18:01] swgupt commented on #1161
@johnyuan10 , Yes for import and No for Live connect. To elaborate If you are selecting items and importing data from SSAS tabular based datasets into Power BI Service, you will be able to use the metrics app to be able to monitor. When connecting live, no data from the Tabular model is imported into Power BI Desktop. Each time you interact with a visualization,Power BI Desktop queries the Tabular

[2019-06-28 18:31] gronnerup opened #1198 "Cannot assign ReadOverrideEffectiveIdentity to Service Principle"
When assigning the Service Principle with the ReadOverrideEffectiveIdentity permission using the REST API the following response is recieved.
{
  "error": {
    "code": "DMTS_PrincipalsAreInvalidError",
    "pbi.error": {
      "code": "DMTS_PrincipalsAreInvalidError",
      "parameters": {},
      "details": [],
      "exceptionCulprit": 1
    }
  }
}

I have verified that the gateway and datasou

[2019-07-01 11:04] MikeBrough opened #1201 "Copied report not available to be published in app"
Hi, I've copied a report to another app. This report has been built by connecting to a power bi dataset as a live connection. The report is not available to be published in an app in another workspace (the option 'Included in app' is greyed out). Is this correct? I would have thought all reports could be published in an app? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-07-01 13:00] BozekD opened #1202 "Links are broken"
The following links in the first paragraph go to resource not found pages:

"M formulas" -&gt; https://msdn.microsoft.com/library/mt270235.aspx
"comprehensive function reference content set" -&gt; https://msdn.microsoft.com/library/mt779182.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e8e549-7fba-9ece-3e32-73a

[2019-07-01 16:57] maggiesMSFT commented on #1201
Hi, @MikeBrough -- yes, that's currently true. See the Limitations and Considerations section of this article: https://docs.microsoft.com/en-us/power-bi/service-datasets-across-workspaces#considerations-and-limitations.
I'll add a link from this article to it. Good point.
If you'd like to suggest a feature or a change, consider going to Power BI Ideas. You can search to see if anyone else has sugg

[2019-07-01 18:18] otarb commented on #379
Hello,

Could you please share more details about your environment? Are you using 32 or 64 bit version of each: Windows, Power BI, Python? Which version of Anaconda do you have? Those things will help us reproduce issue on our end and pinpoint the root cause.

Please make sure right installation is selected on Power BI options page (File -> Options and settings -> Options -> Python scripting)
![im

[2019-07-01 18:49] otarb commented on #1039
Intellisense is currently only supported in script editor when developing script based visuals

For adding intellisense support in PowerQuery script transforms and get data experience, please create idea on https://ideas.powerbi.com/

Thanks

[2019-07-01 19:02] maggiesMSFT commented on #1198
Hi, @gronnerup -- are you referring to this article, https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal? I'm assigning your comment to someone on the docs team to look at, but it sounds like a support question. Please see https://powerbi.microsoft.com/en-us/support/ for help.

[2019-07-01 19:05] maggiesMSFT commented on #1190
Hi, @CeciAc -- thanks for posting the question here. I've assigned it to the author to reply.

[2019-07-01 19:06] maggiesMSFT commented on #1189
Hi, @wjdanalharthi -- thanks for letting us know! Assigning to the author to take care of it.

[2019-07-01 19:07] maggiesMSFT commented on #1191
Hi, @CheapSquier -- thanks for letting us know! Assigning to the writer to look into.

[2019-07-01 19:08] maggiesMSFT commented on #1192
Hi, @CheapSquier -- thanks for this one, too! Assigning to the writer to look into.

[2019-07-01 19:10] maggiesMSFT commented on #1197
Hi, @danmyhre -- thanks for asking! Assigning to the author to look into it.

[2019-07-01 19:16] maggiesMSFT commented on #1193
Hi, @C2BB -- Thanks for asking. I recommend that you start with the Power BI support site, https://powerbi.microsoft.com/en-us/support/, to see if they have an answer.

[2019-07-01 19:22] maggiesMSFT commented on #1194
Hi, @AntiSquare -- good question. Assigning to the writer. In the meantime, you can check with the Power BI support site to see if they have more info. https://powerbi.microsoft.com/en-us/support/

[2019-07-01 19:33] gronnerup commented on #1198
Hi @maggiesMSFT , actually I had not taken this doc article into consideration but it actually solved it for me. It turned out that the Object ID which i was adding was not the correct one. I took the object ID from the App Registration pages and not from the Service Principle page.

Thanks for leading me back on track. So no need to assign the comment to the docs team.

[2019-07-01 19:47] maggiesMSFT commented on #1198
@gronnerup -- that's great! Glad I could help. I'll close this issue now.

[2019-07-01 19:47] #1198 closed

[2019-07-01 19:50] maggiesMSFT commented on #1195
Hi, @OdinTech3 -- thanks for the suggestion! Assigning to the author for further consideration.

[2019-07-01 19:51] DeanGross opened #1203 "Update link to Azure IP port information"
Please update the link to the Azure Datacenter IPs, it is currently pointing to a resource that is going to be deprecated, the new link should be  https://www.microsoft.com/en-us/download/details.aspx?id=56519

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f41ca5-f249-e0a8-fb68-d19215f5ca66
* Version Independent ID:

[2019-07-01 19:52] maggiesMSFT commented on #1196
Hi, @danmyhre -- thanks for your question! Assigning to the author to respond.

[2019-07-01 20:30] otarb commented on #1036
Hello @ArvidBaa, to import data frame from python script into Power BI all you have to do is to a have variable of type DataFrame you want to import. All variables that are of pandas DataFrame type will be imported as entities using variable name as a name, rest are ignored.

![image](https://user-images.githubusercontent.com/17887981/60464681-20774380-9c04-11e9-9d72-52048cca34e3.png)

![image](ht

[2019-07-01 21:20] maggiesMSFT commented on #1186
Hi, @Pokeystuff -- thanks for your question! Assigning to the writer to respond.

[2019-07-01 21:32] maggiesMSFT commented on #1202
Hi, @BozekD -- thanks for pointing that out! Assigning to the author to look into it. In the meantime, try this link: https://docs.microsoft.com/en-us/powerquery-m/power-query-m-reference

[2019-07-01 21:33] maggiesMSFT commented on #1203
Hi, @DeanGross -- thanks for the heads-up. Assigning to the author.

[2019-07-02 08:47] ArvidBaa commented on #1036
Hi @otarb and thank you for the explanation!

[2019-07-02 09:30] mshenhav commented on #1150
Hey @angiwang,

Starting from 112683 app update, it is also supported in Android.

Maya

[2019-07-02 14:28] isamllr opened #1204 "Connecting to Databricks using the Spark Connector"
Are there any known issues when connecting to the NoPublicIP private preview of Databricks?
Is there any guidance on network setup? Happy if you can put me in touch with a knowledgeable contact.
Thanks,
Isa

[2019-07-02 14:32] adojeda commented on #1160
This is the same issue I posted under Download PowerBI Excel Publisher. What’s the correct link to download?

[2019-07-02 15:34] #1150 closed

[2019-07-02 15:50] johnyuan10 commented on #1161
@swgupt, the CPU usage in the capacity monitor app is for the overall or for back end only? Thanks.

[2019-07-02 19:40] mihart commented on #1204
Thanks for your comment, @isamllr. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. You'll be able to find a knowledgeable contact either of these sites.

[2019-07-02 19:40] #1204 closed

[2019-07-02 21:07] cymbolz commented on #1160
https://www.microsoft.com/en-us/download/details.aspx?id=50729
@ldeoux @adojeda

[2019-07-02 22:00] JossephAnthony commented on #1194
Hello, I have the same problem... I'm trying to find the webpage where I can download the Power BI ribbon for Excel but I can't find it.

[2019-07-02 22:28] JossephAnthony commented on #1194
Finally, I find the correct link https://www.microsoft.com/en-US/download/details.aspx?id=50729

[2019-07-02 22:50] maggiesMSFT commented on #1194
Great sleuthing, @JossephAnthony -- we can update the link with your info!

[2019-07-03 00:00] mlegris opened #1205 "can you use a third party app registration to access api.powerbi.com on behalf of another tenant?"
We have an app registration that can access management.azure.com APIs on behalf of our clients (other tenants). But it doesn't work with api.powerbi.com... I followed this tutorial,
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-api-authentication#check-if-user-can-assign-access-to-subscription

How can I reproduce the "getAppOnlyToken" that would allow me to access

[2019-07-03 03:10] LeoFurnari opened #1206 "Token based Identity tutorial"
I would really like to use the Token Based Identity PBI Embedded concept with an App Service, however I don’t have the funds for a dedicated capacity. I would be much more motivated to use the feature if there was a clear tutorial on how to configure authentication with an App Service and Azure SQL DB in tandem with PBI Embedded.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-07-03 08:29] Anmolgan81 opened #1207 "How can I execute Bex queries in PowerBI? How can I pull them too?"
How can I write or pull Bex queries in Powerbi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3310d6cb-93c6-823f-760e-ea08a4627017
* Version Independent ID: 3932a2fb-a84f-0df8-c977-1d17860c51bc
* Content: [DirectQuery and SAP Business Warehouse (BW) in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/desk

[2019-07-03 10:31] psrinivasamaniprabhakar opened #1208 "How cross report filters works in Power Bi Report Server"
I saw in recent release of POWER BI Report server May 2016 we have cross report filters enabled.  How it is going to work.  I am trying to work it out, but unable to there is no url or report name where i can mention and say this report is drill through report

[2019-07-03 10:36] cwootttttt opened #1209 "Zendesk API"
Need to be able to run reports on custom fields and tags assigned to the tickets. Is this able to be added?

[2019-07-03 11:47] mihart commented on #1205
Thanks for your comment, @mlegris . This issue has been assigned to the doc author for review.

[2019-07-03 11:48] mihart commented on #1206
Thanks for your comment, @LeoFurnari . This issue has been assigned to the doc author for review.

[2019-07-03 14:55] ambleside commented on #645
Status?

[2019-07-03 15:01] XavierParedes commented on #379
@otarb , I have the same problem. I’m using a 64-bit version of Windows, a 64-bit version of Power BI and Python 3.7.3.
I propose the following solution to fix this problem if your engineers can apply this for the next release: In the Detected Python home directories, if a user chooses Other, they have to browse to a location where the Python installation resides. However, the user cannot type a c

[2019-07-04 02:52] LoisLoriot opened #1210 "Power BI - Performance Analyzer - JSON export"
Hi,

Is it possible to have more information about the data exported in JSON (the meaning of the different hierarchies especially).

https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/38054662-performance-analyzer-json-export

https://community.powerbi.com/t5/Desktop/Performance-Analyzer-GUI-vs-JSON/m-p/726764

Thanks!
Lois

---
#### Document Details

⚠ *Do not edit this section. I

[2019-07-04 02:59] mgblythe commented on #1207
Thanks for your comment, @Anmolgan81. I've assigned this issue to the doc author for review. In the meantime, I recommend asking if this is possible in the [Power BI Community]( https://community.powerbi.com).

[2019-07-04 03:05] mgblythe commented on #1208
Thanks for your comment, @[github person who posted]. I've assigned this issue to the report server writer for review. In the meantime, I would ask in the [Power BI Community]( https://community.powerbi.com).

[2019-07-04 03:06] mgblythe commented on #1209
Thanks for your comment, @cwootttttt. This looks like  a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-07-04 03:06] #1209 closed

[2019-07-04 03:07] mgblythe commented on #1210
Thanks for your comment, @LoisLoriot. I've assigned this issue to the doc author for review.

[2019-07-04 17:59] angiwang commented on #1150
Great! Thank you so much!

From: Maya Shenhav <notifications@github.com>
Sent: Tuesday, July 2, 2019 5:30 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Wang, Angi <Angi.Wang@softwareone.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Does Android app support it now? (#1150)

Hey @angiwang<https://urldefense.proofpoint.com/v2/url?u=http

[2019-07-05 03:27] ranmax123 commented on #140
@SaranrajK: Not possible.

[2019-07-05 12:54] raptor75 opened #1211 "Desktop -> Service -> DS -> Gateway -> Cube not working"
We created a Data GAteway, then in Power Bi Service, we created a Datasource going through this Gateway to the required cube.

When connecting to the cube from Power BI Desktop through Power BI Service, after selecting the Data Source, Desktop still tries to connect directly to the Cube instead of going through the Gateway.

Is this how it should be working?

---
#### Document Details

⚠ *Do not e

[2019-07-06 12:29] pcgeekus opened #1213 "What do you do when it assumes your Onpremise SP source is Cloud?"
What do you do when it assumes your On-premise SharePoint 2016 source is in the Cloud and does not offer you your Personal Data Gateway in gateway selections? Is there something we can do in Advanced Editor to convince it it is On Premise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7028bd8d-f24b-526c-f504-1db3802be

[2019-07-06 16:49] msfttimmac commented on #1211
Where is the Cube?  If the cube is in the cloud, then yes, that is the way it should work.  Initially it will reach down to get the driver information and how to connect.  From that point forward, it should go directly to the cloud source in the Power BI Service.

[2019-07-07 19:00] sshresthareach opened #1214 "PowerBI authorization for service principals"
I have a PowerBI application where users can authorize the application to read their PowerBI contents. I am using the OAuth2 code flow to get proper authorization and access tokens. Is it possible to get authorization using service principal rather than the users having to use their PowerBI account. Or is the Service Principal meant for something else entirely?

---
#### Document Details

⚠ *Do no

[2019-07-07 19:08] sshresthareach opened #1215 "Documentation to get access token for Service principal missing"
The above documentation says that you can generate access token for PowerBI using service principal and the example shows C# code to do it. But I could not find documentation on how to generate the token if I'm not using C# library. Could you please help me find it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1179

[2019-07-08 00:58] cjs-github opened #1216 "Not pulling in all tickets?"
I've managed to plug this into Zendesk, but PowerBI only 'sees' ~25,000 tickets. There are more than 100,000 in Zendesk.

[2019-07-08 12:29] dkozhukhar commented on #1012
Thank you for a very elaborate answer!

[2019-07-08 12:38] tnewton81 commented on #1037
Neither subscription ID or Enrollment numbers will work.

[2019-07-08 12:51] pomer97 opened #1218 "parameters"
what i need to do to pass parameters with that link .
like id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21813211-4c66-33dd-94bd-576addc9f910
* Version Independent ID: 618c0c7a-20cc-1450-cb42-ca73156a7598
* Content: [Add a hyperlink to a text box in a report - Power BI](https://docs.microsoft.com/en-us/power-bi/ser

[2019-07-08 18:00] adamvan101 commented on #478
@markingmyname is there any update on this?

[2019-07-08 19:09] adamvan101 commented on #1214
Yes, that is essentially the intent

[2019-07-08 19:47] sshresthareach commented on #1214
@adamvan101 Thank you for the response. The reason I thought it could be for something else is because I could not find any documentation on how I can use service principal to generate access token for PowerBI. The only example I found was a C# code snippet which is not very helpful if I'm not using C#.
Do you know if there's any documentation that I can follow on this topic?

[2019-07-08 21:48] adamvan101 commented on #1214
@sshresthareach the docs here are fairly low-level and should, therefore, be easily translatable to any language: [https://docs.microsoft.com/en-us/power-bi/developer/get-azuread-access-token](https://docs.microsoft.com/en-us/power-bi/developer/get-azuread-access-token)

[2019-07-08 22:07] sshresthareach commented on #1214
@adamvan101 This is the page that I was referring to earlier. It has a C# code snippet to authenticate as shown below. The code below seems to be the only relevant code to generate access token using service principals. But the code makes use of C# classes like ClientCrendential and AuthenticationContext which abstracts away a lot of things. As per this example, am I supposed to use OAuth2 Client

[2019-07-09 02:09] djohansen01 commented on #1159
Thanks for posting the update!

[2019-07-09 03:57] v-kerwan opened #1220 "Out of Date Description - Connect, manage and view Excel in Power BI"
When choosing this way, Power BI will create a corresponding dataset for the connected workbook. You can use this dataset to create a Power BI report if needed. Your workbook will also appear in your Power BI workspace navigation pane under Reports. Connected workbooks have a special Excel icon.

Above Description is incorrect, which is opposite from (Reference: https://docs.microsoft.com/en-us/po

[2019-07-09 09:23] jesusvpct commented on #1215
Hello, I had the same problem, but now I have an example using PHP (based on [this link](https://docs.microsoft.com/en-us/graph/auth-v2-service#4-get-an-access-token) and [this other link](https://github.com/thephpleague/oauth2-client)). This is the code:

[code]

I hope this helps.

[2019-07-09 12:22] adamvan101 commented on #1214
@sshresthareach yes, it uses the OAuth2 flow - unfortunately I don't have any good references for you that aren't C#

[2019-07-09 13:32] sshresthareach commented on #1215
@jesusvpct Thanks a lot. This does help. It looks like I'm supposed to use OAuth2 Client Credential flow to generate the token.

[2019-07-09 13:34] kfile commented on #1213
Thanks for your comment, @pcgeekus . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-09 13:34] #1213 closed

[2019-07-09 13:35] sshresthareach commented on #1214
@adamvan101 Thank you for confirming that. I will try the Client Credential flow for OAauth2

[2019-07-09 13:39] kfile commented on #1214
Thank you for your question and to @adamvan101  for the responses. It looks like we have a gap in documentation so I've assigned this to the writer. We have a lot of people on vacation through the summer so it might be a little while before it gets addressed. @markingmyname  - can you handle this one until your replacement is hired?

[2019-07-09 13:42] kfile commented on #1215
Thank you for your question (and the helpful reply). I've assigned this to the writer to do a doc enhancement per your request. We are in between writers right now so the one who's covering might not get to it right away.

[2019-07-09 13:43] kfile commented on #1216
Thanks for your comment, @cjs-github . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-09 13:43] #1216 closed

[2019-07-09 13:46] kfile commented on #1218
HI @pomer97 and thanks for your question. It may need to go to the product team but first I thought I'd see if the writer can help you. I've assigned it to her for now.

[2019-07-09 13:48] kfile commented on #1220
Hi @v-kerwan . I've assigned this issue to the writer for consideration. Thank you for your question.

[2019-07-09 13:56] sshresthareach commented on #1215
@kfile Thanks Kelly. I guess if the documentation mentioned that you have to use OAuth2 Client Credential flow, it would have given me some direction on how to use the service principal.

[2019-07-09 16:52] MichaelDotEarly opened #1221 "Live Connection to PowerBI Dataset ?"
Hi. I am getting the message saying that "this Visual is not supported on the following scenario....".

It was communicated Live Connection to PowerBI Dataset was now supported in the June 2019 update.

Full context:
Live Connection to PowerBI Dataset, itself connecting to Azure Analysis Tabular Model, including RLS.

[2019-07-09 18:56] kfile commented on #1215
Understood. I think that will be clear to the writer.

[2019-07-10 18:29] Saltzmea opened #1222 "Can't Administer Subscriptions"
I need the ability to manage Subscriptions and Alerts using the API for all workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830da8e8-8526-0e6a-d83f-0c804226e006
* Version Independent ID: 3e7b9d31-133d-1b2f-fded-d9218284155b
* Content: [Subscribe yourself and others to reports and dashboards - Power BI - Powe

[2019-07-10 23:03] SB-o-matic opened #1223 "Documentation to setup ExpressRoute with Power BI - Private or Microsoft Peering?"
Hello,

Can some one please provide any documentation to set this up? With Private Peering I am thinking the gateway server in Azure, the SQL databases on-prem or both servers in Azure.

With Microsoft Peering, I do not see Power BI in the "Allowed services list" when managing the route filter rule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-07-11 11:31] DiegosilveiraIT commented on #995
Hi,

I had the same  issue and in contact with Microsoft, they share with me a similar connector that could be used.

The explain that exists a difference between a kind of your contract that you have in your enviroment. Please, see the below documentation:

 https://docs.microsoft.com/en-us/power-bi/desktop-connect-azure-consumption-insights#connect-with-azure-consumption-insights

[2019-07-11 15:05] 12Iryna12 opened #1225 "Incorrect capacity type"
https://docs.microsoft.com/en-us/power-bi/refresh-data

In Datasets in Import mode section, please change A4 and P2 to A5 and P2 ( Current Behaviour: A4 or P2 | 6 GB ). In the following link https://docs.microsoft.com/en-us/power-bi/service-premium-what-is, we have the indication that A5 capacity type corresponds to P2.

Thank you in advance.

[2019-07-11 17:20] snotebaert opened #1226 "The dataflows feature (in preview) is not supported on Multi-GEO at this time."
Dataflows are GA since april 2nd, 2019.  What is the status with the multi-geo support of dataflows?

https://powerbi.microsoft.com/en-us/blog/announcing-power-bi-dataflows-general-availability/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae590-933f-bf65-888e-03dbf0ddc252
* Version Independent ID: ae8f54bb-5fdb-a

[2019-07-11 23:34] codingsolutions opened #1229 "no list of the data types"
it doesn't list the data types so I can make it an int instead of decimal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83479d4-0fb8-7500-e6ec-5559c4e2fdae
* Version Independent ID: 23b93f03-3ab9-d658-4243-89ebebbd6796
* Content: [Data types in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/de

[2019-07-12 02:01] koichino opened #1230 "Request for ER(Express Route) flags"
Request for ER(Express Route) flags on this page (https://docs.microsoft.com/en-us/power-bi/power-bi-whitelist-urls) like this page (https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges#exchange-online)

I'm a CSS engineer in Japan, we get the request many times about Express route but no clear description found. So for the customers to understand easily. I request to a

[2019-07-12 13:31] GeorgeCMElliott opened #1231 "Overpowered permission required for day 1 functionality (export)"
"To export the data from a visual, you need to have Build permission for the underlying dataset."

The only reason this hasn't turned into an issue with users yet is because the build permission rollout in June automatically added the "build" permission for any datasets attached to shared reports prior to the go-live of build permissions.

Once people realize that entire datasets are now exposed t

[2019-07-12 13:33] GeorgeCMElliott commented on #309
So when is MS going to reverse this before more people notice?

[2019-07-12 13:42] GeorgeCMElliott commented on #1231
By the way, the only reason this hasn't blown up in Microsoft's face yet is because the rollout automatically added the "build" permission for any datasets attached to shared reports prior to the go-live of build permissions. Of course if more people realized that (ie infosec teams) there would probably be a huge data sensitivity concerned being raised as well. I wonder how long that will take to

[2019-07-12 14:01] GeorgeCMElliott commented on #1231
Imagine you create a report with filters so users can only see certain data (probably didn't use rls), but because the user can only view the report you shared with them they can't see any sensitive data. Not anymore, we just gave all of your users the ability to see the entire dataset.

[2019-07-12 19:11] lypolyzo opened #1232 "Connect power BI datasource to dataflow"
I was wondering if it's possible to connect a power BI datasource to a dataflow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dcf4e23-69b7-0a67-5d67-315ea36f5490
* Version Independent ID: 0a4fdf12-27bd-d3f1-b94a-761cd2e0dd47
* Content: [Creating and using dataflows in Power BI - Power BI](https://docs.microsoft.com/

[2019-07-15 11:55] HarsimranjeetSingh opened #1233 "Not Able to See Field Properties Option in Menu or Properties option in Model"
Hi Team,

I'm not able to see the **Field Properties** mentioned in Top of [https://docs.microsoft.com/en-us/power-bi/desktop-storage-mode](url).

I've downloaded latest Power BI Desktop

[2019-07-15 12:14] max1weber opened #1234 "An unexpected 'StartArray' node was found when reading from the JSON reader"
Simple Web API 2.2. Odata v4:

DataSource.Error: OData: An unexpected 'StartArray' node was found when reading from the JSON reader. A 'StartObject' node was expected.
Details:
    DataSourceKind=OData

How can I fix it...  is the Micosoft.Restier nuget package the only direction to solve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-15 18:43] maggiesMSFT commented on #1188
Hi, @Ilocans -- I added this info to the article https://docs.microsoft.com/en-us/power-bi/service-datasets-copy-reports#delete-a-report-and-its-shared-dataset.
Thanks again!

[2019-07-15 18:43] #1188 closed

[2019-07-15 18:50] maggiesMSFT commented on #1201
Hi, @MikeBrough -- link is added. Thanks again!

[2019-07-15 18:50] #1201 closed

[2019-07-15 18:54] maggiesMSFT commented on #1187
Hi, @Ilocans -- I added info to this article about not disabling dataset promotion. I recommend posting your other suggestions in the Power BI Ideas forum, https://ideas.powerbi.com/forums/265200-power-bi.
Thanks again!

[2019-07-15 18:54] #1187 closed

[2019-07-15 20:52] #924 closed

[2019-07-15 21:05] matt-egroup commented on #1037
I'm in the same boat and see this same thread in other forums. I know it says this on the connector but I guess they REALLY mean it is in Beta.

[2019-07-16 09:48] DatStone opened #1236 "Test to see if your firewall, or proxy, may be blocking connections always fails. When run the following powershell script "Test-NetConnection -ComputerName watchdog.servicebus.windows.net -Port 9350" it gives always the following warning (WARNING: Name resolution of watchdog.servicebus.windows.net failed). But the gateway works fine."

[2019-07-16 11:14] alexander-korn commented on #307
what about "actionbutton"? Urgently need help on that. Please update the docu, since themes are a superb Power Bi "enterprise feature"

[2019-07-16 11:30] Mike-Honey opened #1237 "Remove 2017 update references, rewrite to clearly describe clean install"
This whole article reads like an update guide for a 2017 release.  That's now irrelevant. The article should be rewritten to focus on a clean install scenario (no previous gateway).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea871f0a-018e-0335-7261-f9d9d2232e36
* Version Independent ID: 345a024a-5964-0979-494f-6f71

[2019-07-16 13:00] ka2er commented on #1215
same issue here. We are trying to implement in PHP and can't rely on REST sequence diagram or something like that to fetch our first data (client app auth - SP > fetch first report or data)

[2019-07-16 13:36] kfile commented on #1215
OK thanks @ka2er

[2019-07-16 17:45] davidiseminger commented on #1221
Thanks for your comment, @MichaelDotEarly. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-16 17:45] #1221 closed

[2019-07-16 17:46] davidiseminger commented on #1222
Thanks for your comment, @Saltzmea. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-07-16 17:46] #1222 closed

[2019-07-16 17:47] davidiseminger commented on #1223
Thanks for your comment, @SB-o-matic. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:48] davidiseminger commented on #1225
Thanks for your comment, @12Iryna12 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:49] davidiseminger commented on #1226
Thanks for your comment, @snotebaert . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:51] davidiseminger commented on #1229
Thanks for your comment, @codingsolutions . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:52] davidiseminger commented on #1230
Thanks for your comment, @koichino . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:52] davidiseminger commented on #1231
Thanks for your comment, @GeorgeCMElliott. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:53] davidiseminger commented on #1232
Thanks for your comment, @lypolyzo . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-16 17:53] #1232 closed

[2019-07-16 17:54] davidiseminger commented on #1233
Thanks for your comment, @HarsimranjeetSingh . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 17:54] robertburron commented on #1138
Hi there, I am currently experiencing the same issue. Are there any updates that you are able to provide?

[2019-07-16 17:55] davidiseminger commented on #1234
Thanks for your comment, @max1weber. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-16 17:55] #1234 closed

[2019-07-16 17:55] davidiseminger commented on #1236
Thanks for your comment, @DatStone . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-07-16 17:55] #1236 closed

[2019-07-16 17:56] davidiseminger commented on #1237
Thanks for your comment, @Mike-Honey. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-07-16 18:15] patrickabel opened #1239 "Documentation for Power BI excludes GCC High specific details"
The above documentation for Power BI for US Government excludes details regarding the URL to access the service for GCC High customers. This URL is: https://app.high.powerbigov.us

Can we get this documentation updated to reflect both tenant types?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-

[2019-07-16 20:46] BrianPie commented on #1037
I kinda of having it working using Power BI.   Correct me if I err on any statements:

Get Data -> Azure -> Azure Cost Management (Beta) is for non Enterprise  Agreements. Error:  TenantId: Failed to discover tenantsBillingAccountId: Failed to discover tenants

For Enterprise Agreements
Get Data -> Online Services -> Microsoft Azure Consumption Insights (Beta).

[2019-07-16 20:46] #1037 closed

[2019-07-16 20:53] mgblythe commented on #1237
Thanks @Mike-Honey, we just revised the gateway docs across the board. Let me know what you think of the current version of this article.

[2019-07-16 21:42] mgblythe commented on #1225
Thanks @12Iryna12 - fix will be live tomorrow.

[2019-07-16 21:46] mgblythe commented on #1226
Thanks @snotebaert - I'll review the (preview). I don't see any reference to multi-geo support in the [release plan](https://docs.microsoft.com/power-platform-release-plan/2019wave2/business-intelligence/planned-features).

[2019-07-16 21:50] mgblythe commented on #1223
Thanks @SB-o-matic - there is no plan to provide additional ExpressRoute documentation at this time. I'll reopen if we do.

[2019-07-16 21:50] #1223 closed

[2019-07-16 21:54] mgblythe commented on #1203
Thanks @DeanGross, updating now. Note that this article has moved in our revised gateway docs: https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-tshoot.

[2019-07-16 22:37] mgblythe commented on #1089
Thanks @vincent2369 - if I understand you correctly, this is covered in the doc: https://docs.microsoft.com/en-us/power-bi/service-admin-rls#using-rls-with-app-workspaces-in-power-bi.

[2019-07-16 22:40] Mike-Honey commented on #1237
That's a lot cleaner - thanks. What I now see as missing is any info on how to actually use the personal gateway. OK I have it installed, it says it is connected and all the test work. What happens next? How do I use it?

[2019-07-16 22:50] mgblythe commented on #902
Hi @lynchmob98 - we rewrote the article with a different example. Let me know if it;s clear, thanks.

[2019-07-17 04:18] HarsimranjeetSingh commented on #1233
Hi @davidiseminger ,

**Please update the Document**

Thanks to Power BI Forum [https://community.powerbi.com/t5/Desktop/View-Field-properties-June-2019-version/m-p/713156#M344213](url) , as it's available now  when we look to model and there after select required entity from model.

Thanks,
Harry

[2019-07-17 04:36] bikubay opened #1242 "Is this feature cancelled"
is this feature cancelled ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9707e1ff-5927-e3e4-134d-8d2b04266f9c
* Version Independent ID: bec9f641-757c-b76f-4cee-c823c60222b4
* Content: [Create featured questions for Power BI Q&A - Power BI](https://docs.microsoft.com/en-us/power-bi/service-q-and-a-create-featured-ques

[2019-07-17 09:41] joanabdo commented on #1037
Any update for this issue?

[2019-07-17 11:17] laandermsft opened #1243 "SAP BW and support for sapcrypto"
Under https://docs.microsoft.com/en-us/power-bi/service-gateway-sso-kerberos#configure-sap-bw-for-sso it says "The Common Crypto Library (sapcrypto) isn't currently supported.". However, in blog post from 7th June 2019 it is stated that "With the June gateway release, we are introducing support for the SAP common crypto library for Kerberos based SSO for SAP BW Application Server".
I believe this

[2019-07-17 16:29] maggiesMSFT commented on #1242
Hi, @bikubay -- thanks for your question! Are you referring to the ability to add featured Q&A questions? If so, then no, it's not cancelled.
For my own edification, could you say why you thought it was cancelled?

[2019-07-17 21:04] markingmyname commented on #1214
Thanks for your comment, @sshresthareach. This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

I would add your suggestion to the [ideas page](https://ideas.powerbi.com/forums/265200-power-bi-ideas).

[2019-07-17 21:04] markingmyname commented on #1214
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-07-17 21:04] #1214 closed

[2019-07-17 21:09] markingmyname commented on #1215
Thanks for your comment, everyone This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

I would add your suggestion to the [ideas page](https://ideas.powerbi.com/forums/265200-power-bi-ideas).

[2019-07-17 21:09] markingmyname commented on #1215
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-07-17 21:09] #1215 closed

[2019-07-18 00:10] mgblythe commented on #1243
Thanks @laandermsft - I'll update the docs.

[2019-07-18 00:13] mgblythe commented on #1239
Thanks for your comment @patrickabel. I've assigned this issue to the author for review.

[2019-07-18 04:00] rjagdon opened #1245 "Allow unrestricted measures in DirectQuery"
I think the Allow unrestricted measures in DirectQuery mode is no longer there with Composite models. I’ve checked in the new version of PBI desktop, and don’t find this option either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959-696188711efe
* Version Independent ID: d8796367-6bd1-c63c-db86-5

[2019-07-18 15:47] mgblythe commented on #1245
Thanks @rjagdon - we just made a fix to that and it should be live later today.

[2019-07-18 21:39] rudzimj opened #1251 "Licensing for R Visuals"
I can't find where this is documented, but we are receiving this error message: "R visuals are a Power BI pro feature.  Only users with a Power BI pro license can create, view or interact with R visuals." I thought any user could see R Visuals in a Premium workspace. Is this not the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-07-18 21:47] mgblythe commented on #1251
Thanks for the comment @rudzimj. I'll check and get back to you on the expected behavior.

[2019-07-18 21:48] mgblythe commented on #1226
Fix verified, closing.

[2019-07-18 21:48] #1226 closed

[2019-07-18 21:49] mgblythe commented on #1225
Fix verified, closing

[2019-07-18 21:49] #1225 closed

[2019-07-18 21:51] mgblythe commented on #1203
Fix verified, closing

[2019-07-18 21:51] #1203 closed

[2019-07-18 21:53] mgblythe commented on #1243
Fix verified, closing.

[2019-07-18 21:53] #1243 closed

[2019-07-18 22:18] jackwoodward opened #1252 "New reports created on powerbi.com have the new filter experience enabled. Existing reports don't"
Per this documentation you need to enable this from desktop, that doesn't seem to be the case now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169f0fd8-5f91-c727-863e-775092492219
* Version Independent ID: f2870679-e514-3e52-3513-eb62c81983c7
* Content: [The new filter experience in Power BI reports (Preview) - Powe

[2019-07-18 22:34] rudzimj commented on #1251
This page says R visuals are visible in Premium workspace:
https://docs.microsoft.com/en-us/power-bi/visuals/service-r-visuals#licensing

I am trying to validate that the user who reported this is really using a Premium workspace. If so, we will raise a support ticket.

[2019-07-18 23:42] maggiesMSFT commented on #1252
Hi, @jackwoodward -- thanks for your question! To be sure I'm answering the question you're asking: Are you asking if you no longer need to enable it in Power BI Desktop to see it in Desktop? Or are you asking if you no longer need to enable it in Power BI Desktop to see it in the Power BI service online? Thanks!

[2019-07-18 23:43] maggiesMSFT commented on #1242
Hi, @bikubay -- feel free to reopen if you have further questions.

[2019-07-18 23:43] #1242 closed

[2019-07-19 01:53] GuitarLennon opened #1253 "Column "Abreviatura" in Mexico: States map keys is wrong"
Hi,

The column "abreviatura" in the Mexico: states map keys table is wrong on Chiapas, Coahuila, Colima and México City.

See below.

INSERT INTO dbo.Entidades VALUES
	('mx-zac', 'Zac.', 'MX-ZAC', 'Zacatecas', 'Zacatecas', 'ZA'),
	('mx-yuc', 'Yuc.', 'MX-YUC', 'Yucatán', 'Yucatan', 'YU'),
	('mx-ver', 'Ver.', 'MX-VER', 'Veracruz', 'Veracruz', 'VE'),
	('mx-tla', 'Tlax.', 'MX-TLA', 'Tlaxcala', 'Tlaxc

[2019-07-19 13:33] Ilocans commented on #1188
Thank you

[2019-07-19 15:32] sjlarkin opened #1254 "Change the screenshot of PBI Desktop download!"
The screenshot showing which version of Desktop to select is very misleading because it has an arrow pointing to the 64-bit version when what you are recommending on this solution is the 32-bit version. People might not read all your instructions including the disclaimer that the screenshot shows the 64-bit version is selected, but that they should opt for the 32-bit.

---
#### Document Details

⚠

[2019-07-19 16:35] mgblythe commented on #187
We added a question to the [gateway FAQ](https://docs.microsoft.com/data-integration/gateway/service-gateway-onprem-faq):

Question: Are the on-premises data gateway and the Data Management Gateway (used by Azure Machine Learning Studio and Azure Data Factory) the same thing?
Answer: No, they are two different products. To get more information about the Data Management Gateway (now called Self-hos

[2019-07-19 16:35] #187 closed

[2019-07-19 16:42] mgblythe commented on #254
Fixed - we added a note after the list of available data source types at https://docs.microsoft.com/power-bi/service-gateway-data-sources#list-of-available-data-source-types. I'll probably pull the info up to the top of the table. Thanks!

[2019-07-19 16:42] #254 closed

[2019-07-19 16:52] mgblythe commented on #406
Added a sentence to step 6 in “Merge or append on-premises and cloud data sources” (https://docs.microsoft.com/power-bi/service-gateway-mashup-on-premises-cloud) about making sure the privacy levels for both cloud and on-premises data sources are set appropriately.

[2019-07-19 16:52] #406 closed

[2019-07-19 16:57] mgblythe commented on #445
Using an Office 356 account to install the gateway (and be the adminstrator of that gateway) is described in Install an on-premises data gateway (https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-install). Using security groups that require an email name is described in Manage gateway admins (https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-manage#m

[2019-07-19 16:57] #445 closed

[2019-07-19 17:00] mgblythe commented on #479
Added a note to the prerequisites stating that to use cloud data sources, your gateway must have access to those sources. See https://docs.microsoft.com/power-bi/service-gateway-mashup-on-premises-cloud#prerequisites.

[2019-07-19 17:00] #479 closed

[2019-07-19 17:21] mgblythe commented on #345
We did a complete rewrite on this article. Please reopen or start a new item if there are any issues. Thanks!

[2019-07-19 17:21] #345 closed

[2019-07-19 17:39] mgblythe commented on #552
The logging/monitoring info we do support for public consumption is now in a new article: https://docs.microsoft.com/data-integration/gateway/service-gateway-performance.

[2019-07-19 17:39] #552 closed

[2019-07-19 17:42] mgblythe commented on #634
We added a link to the REST API, and I will share your feedback with the team that maintains the REST API docs. Thanks!

[2019-07-19 17:42] #634 closed

[2019-07-19 17:45] mgblythe commented on #597
We've just done an update on the rest of the gateway docs and we're now planning more work on the SSO docs. That said there are no plans for a video, so closing this one out. Thanks!

[2019-07-19 17:45] #597 closed

[2019-07-19 17:47] mgblythe commented on #828
We added info to https://docs.microsoft.com/data-integration/gateway/service-gateway-onprem-indepth#authentication-to-on-premises-data-sources. Thanks!

[2019-07-19 17:47] #828 closed

[2019-07-19 17:51] mgblythe commented on #874
As part of a doc rewrite we moved a lot of the info from this page to others. We added the addresses you referenced, along with a couple of others, to the  list of FQDNs used by the gateway in https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-communication#ports. Thanks!

[2019-07-19 17:51] #874 closed

[2019-07-19 17:52] mgblythe commented on #878
We also added it to https://docs.microsoft.com/en-us/power-bi/service-gateway-data-sources. Thanks!

[2019-07-19 17:52] #878 closed

[2019-07-19 17:55] #902 closed

[2019-07-19 17:59] mgblythe commented on #938
@DeanGross - we've done most of the rework at this point to create a gateway doc set that is relevant for all services (https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-onprem). We've left any Power BI specific content in the Power BI docs (https://docs.microsoft.com/en-us/power-bi/service-gateway-onprem). I'll update here when we finish the rest of the cleanup work and li

[2019-07-19 18:04] mgblythe commented on #1054
We moved the FAQ as part of a doc rewrite: https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-onprem-faq. We clarified the point that you brought up:

Question: Do I need a gateway for cloud data sources like Azure SQL Database?
Answer: No. In general, the service will be able to connect to that data source without a gateway. However, for on-premises data sources, or if the

[2019-07-19 18:04] #1054 closed

[2019-07-19 18:06] mgblythe commented on #1100
Added question and answer to the gateway FAQ (https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-onprem-faq) indicating no special permissions are required to install the gateway:

Question: Are there any permissions prerequisites to install gateways?
Answer: There are no restrictions for installing and registering a gateway, but every cloud service could have restrictions o

[2019-07-19 18:06] #1100 closed

[2019-07-19 18:09] mgblythe commented on #1130
We clarified in the List of available data source types table in https://docs.microsoft.com/power-bi/service-gateway-data-sources. Thanks!

[2019-07-19 18:09] #1130 closed

[2019-07-19 20:21] mgblythe commented on #1089
Closing, feel free to reopen if this doesn't address your issue.

[2019-07-19 20:21] #1089 closed

[2019-07-19 21:18] awbarbeau opened #1255 "Theme pattern for Filter Pane not present in Theme documentation"
It is not clear how to integrate the example for a theme JSON file to apply to the filter pane into the overall theme file. Can this example and the filter pane options be integrated into the Desktop Report Themes documentation with all properties defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169f0fd8-5f91-c7

[2019-07-19 21:27] maggiesMSFT commented on #1255
Hi, @awbarbeau -- good idea. Let's see what we can do. Thanks!
@Sujata994, here's the json part of the report themes article https://docs.microsoft.com/power-bi/desktop-report-themes#report-theme-json-file-format

[2019-07-20 04:55] Mike-Honey opened #1256 "Cloud or gateway refresh not supported."
To avoid wasting the time of Power BI users, this page should clarify in ALL CAPS in the first paragraph that PDF files are not supported as a data source in either cloud or gateway refresh scenarios. Anyone using this connector in Power BI Desktop should not be misled that it will work "just like any other data source", as most users would expect.

I certainly dont understand why that should be t

[2019-07-20 12:32] Anmolgan81 opened #1257 "Can I Buy PowerBI Premium Trial for 1 Hour?"
Can I purchase a premium trial for 1 hour just to get a hold of what PowerBI Premium can do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea1adec6-8c0c-a72c-c165-19a72bae7cc6
* Version Independent ID: a2543cc8-a37b-dde4-b0fe-5ebeb9ed2560
* Content: [Power BI Premium FAQ - Power BI](https://docs.microsoft.com/en-us/po

[2019-07-22 14:30] sshresthareach commented on #1214
@markingmyname I think this is a documentation issue because there really is no documentation on _how to generate access token using service principal_, other than a small C# snippet. If someone is new to Oauth2 and C# then there would really be no direction one could take. In contrast there is a tonne documentation to generate a token with a powerbi account.
I think it would be helpful if the doc

[2019-07-22 15:03] jackwoodward commented on #1252
2 questions, 1. Is the intent that new reports will have the new filter pane enabled with the Power BI service(because that is what I see)? Is there a way to enable existing reports to have the new filter pane using Power BI service?

[2019-07-22 16:04] mgblythe commented on #1256
Thanks for your comment, @Mike-Honey. I've assigned this issue to the doc author for review.

[2019-07-22 17:13] Synikx opened #1258 "Code is out of date/not working."
The code in the article is not working. Specifically this line:

`string token = authContext.AcquireToken(resourceUri, clientID, new Uri(redirectUri)).AccessToken;`

I tried reading through all the comments and still have not been able to figure out what is wrong. It seems like this issue extends back 9 months ago, but the article has not changed. Not sure where to go from here.

[2019-07-22 18:54] mrioux opened #1259 "Link Name for June 2019 Download needs changed"
Currently the Archive download for June 2019 PowerBI says May 2019.

But downloads the correct June 2019 build.

May 2019 version of Power BI Desktop - 32-bit
May 2019 version of Power BI Desktop - 64-bit

[2019-07-22 22:08] mgblythe commented on #1259
Thanks @mrioux. Is this a link from the docs or somewhere else?

[2019-07-22 22:12] mgblythe commented on #1258
Thanks @Synikx, which article is this? I see it in a few, and it might be an issue in all of them:

  \developer\walkthrough-push-data-add-rows.md (1 hit)
	Line 169:                 string token = authContext.AcquireToken(resourceUri, clientID, new Uri(redirectUri)).AccessToken;
  \developer\walkthrough-push-data-complete-code.md (1 hit)
	Line 81:                   string token = authContext.Acqui

[2019-07-22 22:23] mgblythe commented on #1043
Thanks for the question. The article now include the following sentence:

These limitations and considerations apply to Power BI Desktop and the Power BI service, including Power BI Pro and Premium

[2019-07-22 22:23] #1043 closed

[2019-07-22 22:25] mgblythe commented on #1231
Thanks for the comment @GeorgeCMElliott. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-07-22 22:25] #1231 closed

[2019-07-22 22:51] Synikx commented on #1258
Sorry, I clicked leave a comment on the doc page and thought this forum linked directly to it. This is the article: https://docs.microsoft.com/en-us/power-bi/developer/walkthrough-push-data-get-token#feedback

[2019-07-23 03:13] mgblythe commented on #1258
Thanks @Synikx, assigning the author to review.

[2019-07-23 06:12] dudu-markovitz opened #1260 "Importing data samples from this page to PBI"
"... Copy the ProjectHours table below into an Excel worksheet ..."
a Web source would be a neater solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0390b42-0ab0-15fc-29e1-620a0ef9104c
* Version Independent ID: 44197a9d-f275-6959-8cc8-88999b740147
* Content: [Create and manage relationships in Power BI Desktop -