[2019-07-23 06:24] lsabaite opened #1261 "Usage metrics report has stopped updating from 15 July 2019"
Created data report works good, but usage metrics report updating has stopped and right now (23 July) I have usage data only for last day 15 July.
The same situation is for different report with another sources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719feeea-d688-78bf-fef5-8b58c2fb047f
* Version Independent ID:

[2019-07-23 13:35] SB-o-matic commented on #1223
I am not sure I understand.

It is possible to leverage Microsoft Peering for the Power suite (Power BI, PowerApps, Flow) or not?

I see "Other Office365 Services (12076:5100)" under allowed service communities when managing rules for a Route filters associated with an expressroute circuit. Will that apply?

Please answer my question as we already have prod implementations that need better through

[2019-07-23 15:57] Synikx opened #1262 "Errors when attempting to connect to app."
In the Power BI web service I am attempting to connect to the UserVoice app and getting the error:

I am testing this using a UserVoice account that has Full Access privileges.. I also tested it with my boss using his UserVoice account that he created the company-wide UserVoice service for and also got the same error, so I'm guessing its not an admin credential issue.

Has anyone else ran into thi

[2019-07-23 21:34] maggiesMSFT commented on #1261
Hi, @lsabaite -- I'm sorry to hear that! Try the Community site https://community.powerbi.com/, and if that doesn't work, check the support site, https://powerbi.microsoft.com/en-us/support/. Good luck!

[2019-07-23 21:34] #1261 closed

[2019-07-24 06:18] axaeffect opened #1263 "Grant the Power BI service a reader role"
In Add Role assignment. what or which Power BI Service should I referring to ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Content: [Learn how to connect Azure Data Lake Storage Gen 2 to Power BI for dataflow

[2019-07-24 08:37] dodgy99 commented on #1218
I would also like to know how to pass a parameter to this link rather than hard coding it

[2019-07-24 11:37] tkumark opened #1264 "How to set the date range for the report"
How to set the date range for the report? According to the screen shot How to connect step 4 where we enter the enrollment number I also see "Number Of Month". But when I try in I do not see the number of months option when entering the enrollment Number. I need to pull out the usage detail for the past 12 months.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-24 16:50] mgblythe commented on #1264
Thanks for your comment, @tkumark. I've assigned this issue to the doc author for review.

[2019-07-24 16:51] mgblythe commented on #1263
Thanks for your comment, @axaeffect. I've assigned this issue to the doc author for review.

[2019-07-24 16:53] mgblythe commented on #1262
Thanks for your comment, @Synikx. This looks like a product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-07-24 16:53] #1262 closed

[2019-07-24 16:55] mgblythe commented on #1260
Thanks for your comment, @dudu-markovitz. I've assigned this issue to the doc author for review.

[2019-07-24 18:50] GeorgeCMElliott opened #1265 "Read Only Dataset Access on Aggregate tables"
"Users with read-only access to the dataset cannot query aggregation tables. This avoids security concerns when used with RLS. Consumers and queries refer to the detail table, not the aggregation table; they don't even need to know the aggregation table exists."

Since we now have RLS with General Availability can read-only users now utilize aggregated datasets?

---
#### Document Details

⚠ *Do n

[2019-07-24 19:17] emorgoch commented on #1012
Thanks Markymark, that solved my issues with Power BI Desktop 64-bit.
You wouldn't happen to have the commands to use for Power BI Desktop / Excel 32-bit as well would you? I have both the 32 and 64-bit ODAC components installed, and I can get the data using both 32 and 64-bit apps. Just trying to resolve this last dialog about the driver not being in stalled when using a PowerQuery app under 32-b

[2019-07-25 03:07] gohkohwee opened #1266 "Problem Connecting to Project Online App"
While connecting to the Project Online App, I got the following error:
Something went wrong
Failed to update model parameters. Please try again later.
Please try again later or contact support. If you contact support, please provide these details.
Activity ID: d7740ad3-dc50-44fe-8bff-5ea30228007d
Request ID: cdf76757-60b4-ff2f-b8f7-df558be1953b
Correlation ID: f7f338cd-e007-b756-56bc-ad94d9cfb127

[2019-07-25 12:03] tudor2it opened #1267 "Do you need to create calculations?"
The text in the section ["Do you need to create calculations?"](https://docs.microsoft.com/en-us/power-bi/report-builder-planning-report#do-you-need-to-create-calculations) looks like a code section when it is only pure text. The same situation is with ["How are you going to deliver your report?"](https://docs.microsoft.com/en-us/power-bi/report-builder-planning-report#how-are-you-going-to-deliver

[2019-07-25 13:36] markymark1985 commented on #1012
The 32 bit driver can be found here (option ODAC OUI) and after installation the following commands need to be executed:

Assuming files were installed to c:\oracle32

For  Report Builder v3  which uses Managed ODP.net:
Register ODP.net Managed Client to GAC
C:\oracle32\product\18.0.0\client_1\odp.net\bin\4\OraProvCfg.exe /action:gac /providerpath:C:\oracle32\product\18.0.0\client_1\odp.net\manage

[2019-07-25 14:47] Chateaux83 opened #1268 "publishing reports without overwriting dataset ?"
Dear all,

is it possible to create a report (obviously from a dataset "A") and then upload w**ithout having this action creating a different dataset "B" ?**

This is a problem, since the moment the new dataset "B" is generated, the report is not linked to "A" anymore - and "A" is the one which is regularly updated with new data.

Is there a solution for this?
Thanks!
Luca

[2019-07-25 16:32] maggiesMSFT commented on #1267
Hi, @tudor2it -- thanks, good catch! I'll fix those.

[2019-07-25 18:32] maggiesMSFT commented on #1268
Hi, @Chateaux83 -- Thanks for your question! Are you creating the report in Power BI Desktop? If so, see this article about the shared dataset feature, https://docs.microsoft.com/en-us/power-bi/desktop-report-lifecycle-datasets.
Hope that helps!

[2019-07-25 18:32] #1268 closed

[2019-07-25 18:37] maggiesMSFT commented on #1266
Hi, @gohkohwee -- referring you to @jaduong, who may be able to help. If not, please do as the error message says and contact support with that information: https://powerbi.microsoft.com/en-us/support/
Good luck with your issue!

[2019-07-25 18:42] jaduong commented on #1266
Hi @gohkohwee, contacting support might be more helpful. My immediate thoughts are: did you type in your PWA site correctly, and select the correct language of your PWA site?

[2019-07-25 18:43] VarunBhandary opened #1271 "Please add Dremio to the list."
Dremio connector for Power BI is now generally available, certified and also supports 'Direct Query'.
reference: https://docs.dremio.com/client-applications/microsoft-power-bi.html

[2019-07-25 19:44] maggiesMSFT commented on #1252
Hi, @jackwoodward -- thanks for clarifying!
1. Yes, new reports have the new filter pane enabled in the service.
2. As of today, no. Coming very soon, yes. Stay tuned!

[2019-07-25 19:44] #1252 closed

[2019-07-25 19:52] maggiesMSFT commented on #1218
Hi, @pomer97 and @dodgy99 -- see if this article helps: https://docs.microsoft.com/en-us/power-bi/service-url-filters
Thanks!

[2019-07-25 19:57] dodgy99 commented on #1218
Hi Maggie's,

I'm afraid that's not quite what I was after, I wanted to have the URL in a text box fed from a measure similar to chart titles. However instead of using text I imported an image of the text and assigned a bookmark URL to get the desired effect.

[2019-07-25 22:15] maggiesMSFT commented on #1218
Hi, @dodgy99 -- Good you found a workaround.
@pomer97 --how about you?

[2019-07-26 06:30] Chateaux83 commented on #1268
Hi Maggie,

thanks for the reply. I do, and I know that procedure - but that does not solve the issue. The problem is that when I edit the PBIX file (using PBI desktop and the 'main' dataset) and then publish it, it creates **another** dataset - which is not the 'main' one anymore, therefore does not get regularly updated by IT in my organization. And this 'duplication' happens every time I have t

[2019-07-26 12:27] rhalabi opened #1273 "New single installer .exe switches"
What are the new single installer .exe switches so we can use in command line to perform silent installation or select the language to more automate the installation?

[2019-07-26 15:38] smferro54 commented on #1020
Hi! Any one of your charts, how else would the user know what the colors mean?

[2019-07-26 16:27] kanhuangats opened #1274 "Does not work"
Did you guys actually test this before post it in your tutorial?
It is not clear and this does NOT work....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a74ae11-d926-0ec2-3339-8b77c6a15965
* Version Independent ID: 48241c6e-453b-e477-46ea-99b1b5d99364
* Content: [Launch URL - Power BI](https://docs.microsoft.com/en-

[2019-07-26 16:35] mgblythe commented on #1053
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:35] #1053 closed

[2019-07-26 16:35] mgblythe commented on #1052
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:35] #1052 closed

[2019-07-26 16:35] mgblythe commented on #1051
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:35] #1051 closed

[2019-07-26 16:36] mgblythe commented on #1050
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:36] #1050 closed

[2019-07-26 16:36] mgblythe commented on #1049
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:36] #1049 closed

[2019-07-26 16:36] mgblythe commented on #1048
Additional work done in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:36] #1048 closed

[2019-07-26 16:37] mgblythe commented on #1047
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:37] #1047 closed

[2019-07-26 16:37] mgblythe commented on #1045
Fixed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/2311

[2019-07-26 16:37] #1045 closed

[2019-07-26 20:55] SB-o-matic commented on #1223
Dear Microsoft,
Can someone please answer my question? Products are increasingly being made available without adequate supporting documentation. I don't understand why a question is closed without an answer or consent from the one who asked it.

[2019-07-26 20:57] MI77 commented on #1268
Luca, when you publish the second time, do you not see the message about replacing the dataset?
![image](https://user-images.githubusercontent.com/10352928/61980892-e142d500-afac-11e9-8d46-58d28f257914.png)

If the pbix name locally matches the dataset name in the service, you should be prompted if you want to overwrite like that.

[2019-07-26 20:57] mgblythe commented on #1265
Thanks for your comment, @GeorgeCMElliott. I've assigned this issue to the doc author for review.

[2019-07-26 21:00] mgblythe commented on #1266
Thanks @maggieMSFT and @jadong. @gohkohwee - closing this one out with a recommendation to contact support. Thanks!

[2019-07-26 21:00] #1266 closed

[2019-07-26 21:02] chrisweis opened #1275 ""Do not enable Privacy Levels"?"
This article reads: "Do not enable Privacy Levels unless you are confident that the data source does not contain sensitive or confidential data."

Should it instead be "Do not IGNORE Privacy Levels unless you are confident that the data source does not contain sensitive or confidential data."?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-26 21:11] mgblythe commented on #1271
Thanks for your comment, @VarunBhandary . I've assigned this issue to the doc author for review.

@davidiseminger - can you make sure we cover Dremio in data source and DQ docs?

[2019-07-26 21:40] mgblythe commented on #1275
Thanks for your comment, @chrisweis. I've assigned this issue to the doc author for review.

[2019-07-26 21:42] mgblythe commented on #1274
Thanks for your comment, @kanhuangats. I've assigned this issue for review.

[2019-07-26 21:45] mgblythe commented on #1273
Thanks for your comment, @rhakabi. I've assigned this issue for review. Are you referring to this article: https://docs.microsoft.com/en-us/power-bi/desktop-get-the-desktop?

[2019-07-26 23:05] rhalabi commented on #1273
Yes, how to perform a silent install with the new installer?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Blythe <notifications@github.com>
Sent: Friday, July 26, 2019 4:45:15 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Roger Halabi <Halabi_Roger_G@cat.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2019-07-27 04:32] mihart commented on #1085
Thanks for your comment, @wsitek . I spent a few minutes trying this out and couldn't get it to work.  However, I suggest that you post this question in the Power BI Community, at https://community.powerbi.com, and see if someone there has a suggestion.

[2019-07-27 04:32] #1085 closed

[2019-07-27 04:46] mihart commented on #1253
Thanks @GuitarLennon , Great catch!  I've made the changes and set the article to republish.
Take care,
Michele

[2019-07-27 04:46] #1253 closed

[2019-07-27 19:14] dkozhukhar commented on #1012
looks like there should be a link and its gone )

[2019-07-27 19:49] markymark1985 commented on #1012
Updated. https://www.oracle.com/technetwork/topics/dotnet/downloads/odacdev-4242174.html

[2019-07-27 20:59] emorgoch commented on #1012
Perfect. Worked and I have both 64 and 32-bit connections going at once.

[2019-07-27 21:40] NunezJr opened #1277 "TxnStatus not available for Estimate entity"
Without the field TxnStatus, users cannot gain insight to how many estimates are either rejected or accepted. Only status available is transaction status.

[2019-07-27 21:41] #1277 closed

[2019-07-29 05:31] carattikid opened #1280 "Python Script with Advantage database"
pyodbc connection to Advantage Database does not work. The Power BI 'Python Script' data import (PythonScriptWrapper.PY) assumes that the default ODBC connection is Microsoft.

Would be great if Advantage databases are added to the supported architecture.

Details: "ADO.NET: Python script error.
Traceback (most recent call last):
  File "PythonScriptWrapper.PY", line 13, in <module>
    conn = odb

[2019-07-29 08:20] koichino commented on #1230
When can I get response from the wither? My customer is still waiting for our answer. Please check it out.

From: David Iseminger <notifications@github.com>
Sent: Wednesday, July 17, 2019 2:52 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Kohei Ichinohe <Kohei.Ichinohe@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Request f

[2019-07-29 08:27] zuliya commented on #361
Could you please clarify what URL to use for PowerBiApiResource?

[2019-07-29 13:25] suvratrai opened #1281 "Visual Element and Data Binding part unclear"
The section of document that describes visual element creation and data binding setup is not clear and the exact code to be used for setting up this custom visualization should be provided. Can you share the GitHub link of the code used for this visual for a better perspective on this topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-29 15:51] alexb5dh opened #1282 "Supported 'Column' fields"
Are __Column__ fields like _formatString_ and _dataCategory_ supported in Push Dataset API? They are not listed in related reference: https://docs.microsoft.com/en-us/rest/api/power-bi/pushdatasets/datasets_postdatasetingroup#column

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0edb0181-a93b-1a46-0eb8-56d0262eb063
* V

[2019-07-29 22:38] mgblythe commented on #1280
Thanks for your comment, @carattikid. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-07-29 22:38] #1280 closed

[2019-07-29 22:39] mgblythe commented on #1281
Thanks for your comment, @suvratrai. I've assigned this issue to the doc author for review.

[2019-07-29 22:41] mgblythe commented on #1282
Thanks for your comment, @alexb5dh. I've assigned this issue to the doc author for review.

[2019-07-30 14:49] martynickel-at-gaffey opened #1283 "Missing information"
The instructions make it easy to install the gateway app, and give no clue whatsoever how to use it in Power BI.  Somewhere between steps 3 and 4 about, you should say HOW to use the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad

[2019-07-30 16:44] mihart commented on #1283
Thanks for your comment, @martynickel-at-gaffey . This issue has been assigned to the doc author for review.

[2019-07-31 11:47] callranjithkani opened #1284 "Sync Power BI Row level security list to MVC"
Hi,

My concern is I have MVC web application and PowerBI reports, I want to sync PowerBI Row level security list to my own database table. How it possible,, provide me an right solution.

[2019-07-31 11:54] callranjithkani opened #1285 "Want to get list of roles in power bi"
Hi,

My concern is I have MVC web application and PowerBI reports, I want to sync PowerBI Row level security list to my own database table. How it possible,, provide me an right solution.

https://docs.microsoft.com/en-us/power-bi/service-admin-rls

[2019-07-31 11:56] callranjithkani opened #1286 "Sync Power BI roles to Data base"
Hi,

My concern is I have MVC web application and PowerBI reports, I want to sync PowerBI Row level security list to my own database table. How it possible,, provide me an right solution.

https://docs.microsoft.com/en-us/power-bi/service-admin-power-bi-security

[2019-07-31 14:57] RanjithPC opened #1287 "Get Power BI Roles list API is missing"
Hi,

My concern is how can I get list of created roles in power BI using api. There is no api have to get roles list.

https://docs.microsoft.com/en-us/rest/api/power-bi/

[2019-07-31 17:03] gminoza commented on #964
Hi All, looks like this is still an issue?  Please advise of confirm. Thanks

[2019-07-31 18:44] amkumar5 opened #1288 "BLANK"
Why Power BI is adding BLANK to the Slicer when am selecting element/Name/Field/Column from Dimension table means it is NOT NULL, and NOT BLANK.
Default behavior should be strictly based on Dim table, it should not look at Fact table.
I cannot post this in Power bi website as I do not have Power BI account. My team is planning to migrate to Power BI so I started learning myself.

---
#### Document

[2019-07-31 21:03] mgblythe commented on #1286
Closing as dup of https://github.com/MicrosoftDocs/powerbi-docs/issues/1284

[2019-07-31 21:03] #1286 closed

[2019-07-31 21:03] mgblythe commented on #1285
Closing as dup of https://github.com/MicrosoftDocs/powerbi-docs/issues/1284

[2019-07-31 21:03] #1285 closed

[2019-07-31 21:04] mgblythe commented on #1284
Thanks for your comment, @callranjithkani. This looks like a product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com).

[2019-07-31 21:04] mgblythe commented on #1284
Docs for reference (from other open issues): https://docs.microsoft.com/en-us/power-bi/service-admin-rls and https://docs.microsoft.com/en-us/power-bi/service-admin-power-bi-security

[2019-07-31 21:07] mgblythe commented on #1287
Thanks for your comment, @RanjithPC. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-07-31 21:07] #1287 closed

[2019-07-31 21:10] mgblythe commented on #1288
Thanks for your comment, @amkumar5. I've assigned this issue to the doc author for review. In the meantime, are you saying you can't access the the [Power BI Community](https://community.powerbi.com) yet?

[2019-07-31 21:32] otarb commented on #1036
#please-close @mgblythe

[2019-07-31 21:32] #1036 closed

[2019-07-31 21:33] otarb commented on #1039
#please-close @mgblythe

[2019-07-31 21:33] #1039 closed

[2019-08-01 00:18] Sujata994 commented on #1255
@maggiesMSFT, can you assign this to @amandacofsky since she owns the theming part of the docs.

[2019-08-01 02:37] ulriksenstian commented on #672
Any update on this?

[2019-08-01 04:32] mkjohnson commented on #1283
I have the same questions.

[2019-08-01 13:05] Bally-Kahlon opened #1289 "Urgent answers needed on this."
We need some urgent answers as to a. where are reports that guest users created hosted?  i.e. our premium capacity? b. why is this feature linked to export to excel from visuals.  In most cases, we need users to export to excel from visuals but not have build permissions.  c. why this was automatically enabled for all users who had read only access.  Please can someone urgently contact me about th

[2019-08-01 14:32] mgblythe commented on #1289
Thanks for your comment @Bally-Kahlon. The author for this feature is currently out. I recommend posting your questions solution in the [Power BI Community]( https://community.powerbi.com).

[2019-08-01 16:52] markingmyname commented on #1258
@rkarlin @mgblythe,

This one requires engineering to evaluate.

Thank you.

[2019-08-01 16:53] markingmyname commented on #1282
@alexb5dh,

No, sorry they are not yet.

There is no ETA to my knowledge.

Thank you.

[2019-08-01 16:53] markingmyname commented on #1282
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-08-01 16:53] #1282 closed

[2019-08-01 17:03] KayUnkroth commented on #650
Classification labels in Power BI are only for Power BI and are not integrated with other classification labels from SharePoint or other systems.

[2019-08-01 19:20] amkumar5 commented on #1288
Thank you.

Yes, I cannot access Power BI community as I do not have Work Power BI account yet. My Org is planning to implement Power BI but not officially started.

Thanks,
Lakshman
________________________________
From: Michael Blythe <notifications@github.com>
Sent: Wednesday, July 31, 2019 4:10 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: amkumar5 <alakumar@live.com>

[2019-08-01 19:25] #334 closed

[2019-08-01 19:45] mikemorrison111 commented on #1283
@mkjohnson see: https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-app

[2019-08-02 02:54] CheapSquier opened #1290 "Snapshots on this page are out of date"
I'm using the July 2019 version and these snapshots don't match what I see. This is not how you go to Conditional Formatting.

Feedback Type:
Frown (Error)

Timestamp:
2019-08-02T02:53:11.0676127Z

Local Time:
2019-08-01T21:53:11.0676127-05:00

Session ID:
29af062e-aa0c-474c-8fbe-53b421bc02db

Release:
July 2019

Product Version:
2.71.5523.941 (19.07) (x64)

OS Version:
Microsoft Windows NT 10.0.1

[2019-08-02 04:43] rohankrr opened #1291 "Power BI integration with Oracle Transportation Management Cloud"
Hi, Just wondering since Oracle Transportation Management Cloud services do not allow access to it database through ServerName/SID/ServiceName which is prevalent on on-premise. How is this integration possible now? Thanks, Rohan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 382f269e-2072-ec03-7c88-335cbd5df919
* Versi

[2019-08-02 14:35] ahmad-beshr commented on #1136
the data still not updated. is there any plan to either update this training or the data source ?

[2019-08-02 16:14] mgblythe commented on #1290
Thanks for your comment, @CheapSquier. I've assigned this issue to the doc author for review.

[2019-08-02 16:15] mgblythe commented on #1291
Thanks for your comment, @rohankrr. This looks like a  product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com).

[2019-08-02 21:23] ryanmajidi opened #1294 "Make Power BI Consumer "Get Started" section even simpler!"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1769) by @SMHolck **

Some of the content on the landing page for Consumers of Power BI feels like too deep of a dive. There is no "guided learning" yet for Consumers, which would also be great!

I was so excited today to see that there is now documentation for Consumers of Power BI. https://docs.microsoft.com/en-us/po

[2019-08-02 22:38] mgblythe commented on #1294
Thanks for the detailed feedback @ryanmajidi, we really appreciate it! I'm assigning this item to the author for review, but in the meantime, please check out the new [consumer learning path](https://docs.microsoft.com/en-us/learn/paths/consume-data-with-power-bi/). Feel free to open another issue with feedback on that if you like. Thanks again.

[2019-08-03 04:19] MI77 commented on #1288
BLANK in a slicer usually means that you have fact table entries with no corresponding value in the dimension table. You can filter them out in the filter pane.

[2019-08-03 18:20] sunnn opened #1295 "Powerbi directquery for postgresql"
Hi can we get direct query connection to greenplum and postgres related dv

[2019-08-04 19:16] mihneanichifor commented on #803
Hi,
I get the same issue on POWER BI Version: 2.71.5523.941 64-bit (July 2019).
Updated .Net Framework to 4.8 as found here (https://community.powerbi.com/t5/forums/replypage/board-id/power-bi-designer/message-id/338022 ) without success.

Any advice ?

thanks,
M

[2019-08-05 09:18] Immortalsonly opened #1296 "Spelling Error"
On page; https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-your-organization#create-and-publish-your-paginated-reports
Paragraph; Create and publish your paginated reports
Error; ...the report needs to _jave_ a Power BI Pro license to publish to ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 505b

[2019-08-05 11:52] voidrealm commented on #1159
Please update, this article is not useful with the latest version of your tools.

[2019-08-05 15:42] sachatomey opened #1297 "AI Insights not accessible via Azure A SKUs"
It would be good to update the Technical/Features section to indicate what technical features are and are not available across the SKUs.  For example, AI Insights + Auto ML are only available to Power BI Premium and not the Azure 'A' SKUS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a447889-379d-3ded-9ab9-313c4f55a

[2019-08-05 16:11] uve commented on #1274
@kanhuangats What API version do you use?
Do use see any errors when you call launchUrl method?
Is it possible to share your source code to find an issue?

[2019-08-05 16:17] Ilocans opened #1298 "Dataflow Environment Management"
Hello,

I was looking in the documentation : what's about migrating dataflows between different environment ? (Dev to test to Prod....) Do I have to recreate it or is there any mechanism that could be documented here ? Maybe using export json or something else ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d

[2019-08-05 18:34] sprengmi opened #1299 "clarification"
Could you clarify "You can create reports in app workspaces that are based on datasets in a different workspace. However, you can't create an app for a workspace that contains those datasets."
The way this is phrased is not very clear to me.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f09aabd-9f0d-f94d-6e0a-7c9a988

[2019-08-05 19:43] mgblythe commented on #1296
Thanks for catching that issue, @Immortalsonly! I'll fix this today.

For future reference - you can also edit articles directly. Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer, who will sign off and get it published. Thanks again!

[2019-08-05 19:45] mgblythe commented on #1295
Thanks for your comment, @sunnn. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-08-05 19:45] #1295 closed

[2019-08-05 19:46] mgblythe commented on #1297
Thanks for your comment, @sachatomey. I've assigned this issue to the doc author for review.

[2019-08-05 19:47] mgblythe commented on #1298
Thanks for your comment, @llocans. I've assigned this issue to the doc author for review.

[2019-08-05 19:48] mgblythe commented on #1299
Thanks for your comment, @sprengmi. I've assigned this issue to the doc author for review.

[2019-08-05 21:35] maggiesMSFT commented on #1255
Hi, @amandacofsky -- can you update the json part of the report themes article, https://docs.microsoft.com/power-bi/desktop-report-themes#report-theme-json-file-format, with the theme info for filters?
thanks!

[2019-08-05 21:48] maggiesMSFT commented on #964
Hi, @gminoza -- yes, it's still an issue. I added it to the https://docs.microsoft.com/en-us/power-bi/service-url-filters#considerations-and-troubleshooting section.
thanks, @maggiesMSFT
cc @cmfinlan

[2019-08-05 23:08] PHATLXIV commented on #1169
@ferBonnin: If you are referring to the image in the "Consuming a Power BI Desktop report with a keyboard or screen reader" section of the article, this is not a bug or issue that needs to be fixed. The image is an example of what users would see when pressing the specified hotkey to open that window. Also, the image has proper alt text. This issue should be closed as 'Won't fix'.

[2019-08-05 23:17] ferBonnin commented on #1169
I somehow missed the list of the hotkeys in the article. Closing since that answers the ask of this issues.

[2019-08-05 23:17] #1169 closed

[2019-08-06 04:17] mesa123123 commented on #379
Whats happening with this issue?

[2019-08-06 08:37] schuffa opened #1300 "Getting control over report pages using Query Chashing"
Hello, I learned from your support page (https://docs.microsoft.com/en-us/power-bi/power-bi-query-caching) that only the landing page of a report is cashed. In a given case of a more complex manegement report in my enterprise enviornment, it would also be great as report / capacity admin to gain control over which specific report pages are to be cashed (and which not). As I learned from this comme

[2019-08-06 15:45] mgblythe commented on #1300
Thanks for your comment, @schuffa. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-08-06 15:45] #1300 closed

[2019-08-06 15:46] mgblythe commented on #1296
Verified fix

[2019-08-06 15:46] #1296 closed

[2019-08-06 16:11] chrisweis opened #1301 "Error: "Only Pro users can... consume content from app workspaces""
The following snippet seems inaccurate in this page: "Only Pro users can publish to and consume content from app workspaces"

Reason: I understand that the new Viewer role in Power BI Workspaces v2 allows non-Pro users to view content in workspaces without a Pro license.  Please confirm and update.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-06 16:58] CeciAc opened #1302 "The SwaggerHub link provided by the documentation is not available, can I also get a list of the APIs available to the report server. Only individual examples are provided in GitHub."
Hi team,
I'm moving this here because the user is reporting missing information in the documentation
Original post: https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/33

I'm pasting a rough translation since the user wrote in their native language.

@r48 commented 4 days ago
The SwaggerHub link provided by the documentation is not available, can I also get a list of the APIs available to

[2019-08-06 17:41] chrisweis opened #1303 "Sign up for a trial section not for Pro?"
It looks like the steps for signing up for a trial may no longer be valid?  If non-Pro users (who have never had a Pro trial) use that link, they get the error "No need to sign up. You already have a license for Microsoft Power BI." and they don't begin a Pro trial.  Please confirm, is this document accurate?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-08-06 17:57] MartinKDK opened #1304 "Enhanced compute engine"
Hi, are you planning to add documentation about recently released Enhanced compute engine?
https://powerbi.microsoft.com/en-us/blog/power-bi-dataflows-june-2019-feature-summary/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74987f4b-691c-9816-f600-e0cbbb2d78a7
* Version Independent ID: c017e29d-f021-6e76-356e-5e001812

[2019-08-06 18:46] maggiesMSFT commented on #1299
Hi, @sprengmi -- good question. It's not clear, and it's not true. It should read:
"You can create a report in an app workspace that is based on a dataset in a different workspace. However, when you create an app for that workspace, you can't include the report based on the shared dataset in the app."
Does that make sense?

[2019-08-06 19:00] sprengmi commented on #1299
I think so.
So basically the functionality allows us to create reports based on shared datasets across *workspaces*. But a shared dataset can NOT be used in reports across multiple apps?

[2019-08-06 19:04] maggiesMSFT commented on #1299
At this time, yes. I'll update the article.
Always a good idea to let the product team know your thoughts on features! https://ideas.powerbi.com/forums/265200-power-bi

[2019-08-06 19:08] sprengmi commented on #1299
Thanks for the response!

[2019-08-06 19:29] maggiesMSFT commented on #1302
Hi, @r48 and @CeciAc -- is this the link you're trying? https://app.swaggerhub.com/apis/microsoft-rs/PBIRS/2.0
It is working for me.

[2019-08-07 01:26] maggiesMSFT commented on #1289
Hi, @Bally-Kahlon -- some answers for you, and a question.
a. where are reports that guest users created hosted? i.e. our premium capacity?
Can you elaborate so we can provide a useful answer?
b. why is this feature linked to export to excel from visuals. In most cases, we need users to export to excel from visuals but not have build permissions.
We clearly heard our customers’ feedback. We are ac

[2019-08-07 09:43] judemoore opened #1305 "My users cannot see the Copy icon"
Hi Power BI Team
My users cannot see the "Copy" icon, despite having: 1) Workspace - Viewer access,  2) Dataset both Viewer and Build rights too.
a) If there a tenant permission or something missing too?
b) Does it need to be a published App workspace  aka App(build) permission too ?
Kind Regards
Jude

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-07 10:54] Bally-Kahlon commented on #1289
Thanks @MaggiesMSFT.
a. We provide external guests with access to reports and dashboards in our Premium capacity.  Now, these guest users can build their own reports based on the datasets.  Are these reports created by guest users added to our Premium capacity or are they added to general Power BI service under the guest users own allocation?  Bear in mind that many guest users we share with do no

[2019-08-07 14:37] r48 commented on #1302
Hi, the link is  https://app.swaggerhub.com/apis/microsoft-rs/PBIRS/2.0 and it is working for me now too . Thank you!

[2019-08-07 14:53] mgblythe commented on #1301
Thanks @chrisweis, I'll take a look at this one.

[2019-08-07 14:56] mgblythe commented on #1304
Thanks @MartinKDK, I'll take a look at this one to update in the topic referenced and/or the dataflows docs.

[2019-08-07 14:58] mgblythe commented on #1305
Thanks for your comment, @judemoore. I've assigned this issue to the doc author for review.

[2019-08-07 15:16] niball opened #1306 "Incorrect information on metadata"
Under Limitation

Multi-Geo doesn't result in better performance in general. Loading reports and dashboards still involves requests to the home region for metadata.

It is incorrect that home region is used for metadata. Can you fix this and add the correct behavior

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae5

[2019-08-07 16:32] maggiesMSFT commented on #1302
Hi, @r48 -- glad to hear it's working for you! Closing this issue.

[2019-08-07 16:32] #1302 closed

[2019-08-07 17:09] awentzel commented on #995
@DiegosilveiraIT, It was a good idea.  Except when using this connect it then asks for "Enrollment ID", which is only valid on Enterprise Subscription.  So while that may help those subscription types, it doesn't help mine.  I'd recommend to Microsoft that it should be a value that can be used that applies to all subscriptions.  Using different connectivity methods is confusing to the community an

[2019-08-07 18:30] mihart commented on #1306
Thanks for your comment, @niball . This issue has been assigned to the doc author for review.

[2019-08-07 21:20] sprengmi commented on #1299
Hi @maggiesMSFT. Just wanted to follow up. I tested this out and it seems it does actually work unless I'm missing something:
- Created two new workspaces
- Created a data source in Workspace A
- Published the Workspace A App
- Connected to the dataset from Workspace A in Workspace B and saved a new report in Workspace B
- Published the Workspace B App, ensured 'included in app' was checked for th

[2019-08-08 00:47] maggiesMSFT commented on #1299
@sprengmi , you are right. I tried it yesterday and it didn't work, don't know why. But I just tried it again, and it worked. Thanks for checking!
I'll update the article to reflect that.

[2019-08-08 01:15] Mike-Honey opened #1307 "Personal Bookmarks feature needs it's own page"
It's now 8 months after the release of the Personal Bookmarks feature, which I expect is used more often than the Power BI Desktop bookmarks feature.  Yet it doesn't have it's own page in the documentation, just a link to a blog post?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4966
*

[2019-08-08 02:29] axaeffect commented on #853
I'm facing the same problem, it's being filled / set without my knowledge then now I have no idea how to fix it or change it to another storage account.
Please help to expedite this issue.
Many thanks.

[2019-08-08 02:41] BIAgents opened #1308 "asset allocation"
get data from data bases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 964f91f6-81f3-8d83-4c73-d5ad8a7e77c5
* Version Independent ID: 7027312f-a8e3-a8c6-cb38-1200790271dc
* Content: [Certify datasets (Preview) - Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-datasets-certify#feedback)
* Content

[2019-08-08 02:46] BIAgents commented on #1308
$ git push updates

[2019-08-08 06:20] mihart commented on #1307
Thanks for your comment, @Mike-Honey . This issue has been assigned to the doc author for review.

[2019-08-08 07:47] Mike-Honey opened #1309 "Confusion about Persistent Filters feature"
References to "In the Power BI service, reports keep any changes you make in the Filters pane. " and "Reset filter to default" should be clear that this is an option in the report design, which the report author can disable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1465b3a1-a6de-e2f3-154c-817ea13aa4f0
* Version I

[2019-08-08 07:49] Mike-Honey opened #1310 "Update for new Filter Pane"
The new Filter Pane became the default as of July 2019, so most of the screen-shots above are out-of-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1465b3a1-a6de-e2f3-154c-817ea13aa4f0
* Version Independent ID: 20ea6924-2307-d6ef-d601-7f949fe58944
* Content: [Tour the report Filters pane - Power BI](https://docs.

[2019-08-08 07:59] Mike-Honey opened #1311 "Options and settings, especially Persistent Filters"
From the File menu, there are many important features controlled by the Options and settings / Options window. That needs it's own page (or several pages) somewhere in the Power BI Desktop section. Under Reference?

Most critical & urgent is to describe the Persistent Filters feature (in the Current File / Report Settings section) and note that it is turned on by default. This (very poor IMO) deci

[2019-08-08 08:13] saviourofdp opened #1312 "tree mapping"
There's no mention here of the `tree` mapping, which is evident in the image on [Exploring the dataview](https://docs.microsoft.com/en-gb/power-bi/developer/custom-visual-develop-tutorial#exploring-the-dataview)
![image](https://user-images.githubusercontent.com/9444683/62686630-00822f00-b9bd-11e9-8625-d3b8a71575cf.png)

---
#### Document details

⚠ *Do not edit this section. It is required for do

[2019-08-08 14:07] danieljsc commented on #118
Hi,

Digged for the RLS and USERELATIONSHIP for hours. Are there any news about this topic?
What are the alternatives proposed by Microsoft for the Multidimensional Role Playing Dimensions equivalent?
At the moment I have a very complex model (Multi Tenant) developed, with multple measures using USERELATIONSHIP. I am not expecting to hear from Microsoft that the behaviour of SSAS will be fixed or

[2019-08-08 14:57] nallasamyponnusamy opened #1315 "Link is broken"
The link " Load Testing Power BI Applications with Visual Studio Load Test" is broken, can you fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38feecc0-9338-8359-5ce0-d2120c0b0004
* Version Independent ID: 96a236e6-2389-dc75-f5c5-4ead7dbd5c30
* Content: [Optimize Microsoft Power BI Premium capacities - Power BI]

[2019-08-08 15:28] mihart commented on #1309
Thanks for your comment, @Mike-Honey . This issue has been assigned to the doc author (me) for review.

[2019-08-08 15:30] mihart commented on #1310
Thanks for your comment, @Mike-Honey . This issue has been assigned to the doc author for review. We're working on updating screenshots asap.

[2019-08-08 15:31] mihart commented on #1311
Thanks for your comment, @Mike-Honey . This issue has been assigned to the doc author for review.

[2019-08-08 15:34] mihart commented on #1315
Thanks for your comment, @nallasamyponnusamy . This issue has been assigned to the doc author for review.

[2019-08-08 16:53] maggiesMSFT commented on #1308
Hi, @BIAgents -- did you make a change to the article? I'm not seeing it.
thx

[2019-08-08 17:33] danpere commented on #1256
Reading the comments on https://community.powerbi.com/t5/Issues/Support-for-Cloud-based-PDF-files-without-requiring-an-On/idi-p/740913 it appears this issue has been fixed?

[2019-08-08 20:08] rudzimj opened #1316 "Azure App registration setting unclear"
This sample requires a Redirect uri of http://localhost:13526/Redirect on the App registration. This isn't really mentioned as a step, and it is confusing because Cloud.config has the setting for RedirectUrl as "http://localhost:13526/" and then appends "Redirect" to the URL when used in the code. I would suggest calling out "Set the Redirect uri to http://localhost:13526/Redirect" in the "Registe

[2019-08-08 21:39] maggiesMSFT commented on #1299
@sprengmi -- Ah ha! I've discovered why I had 2 different experiences. Turns out if I’m a member of workspace B that contains a report, but not a member of workspace A that contains its dataset, I can publish an app from workspace B, but it can’t include that report.

[2019-08-08 22:44] kevhav opened #1317 "What are the Resource Consumption measures?"
Hi, I have a question about the "Memory Consumption section of the "Resource Consumption" page of the report.

This article says, "Memory consumption in GB by workload (solid lines)...Shown hourly, for the previous seven days."

Is the memory consumption metric a "point-in-time" measurement? For example, if I hover over the line chart at '8/8/2019 01:00:00 AM' and it says Capacity Usage = 16.59 GB

[2019-08-09 02:05] Mike-Honey commented on #1256
It does seem to be working now for the Cloud refresh scenario, for the one project I'm interested in.  There hasn't been any independent confirmation of that or any authoritative statement from anyone at Microsoft, so perhaps that's too early to call.

I haven't tested the Gateway refresh scenario, so I'm not sure if that is still broken.

Can't you clarify this definitively with any of your colle

[2019-08-09 12:45] Dmitrij-J opened #1318 "Power BI API Users link gives 404"
Link "https://docs.microsoft.com/en-us/rest/api/power-bi/users" gives 404.

Please correct it!

Thank you!

[2019-08-09 18:33] maggiesMSFT commented on #1305
Hi, @judemoore -- do your users have Pro licenses?

[2019-08-09 19:24] maggiesMSFT commented on #1305
Ah -- the Viewer role. That is not enough to copy a report. They need at least the Contributor role.

[2019-08-10 00:40] juluczni commented on #1143
#please-close @mgblythe

[2019-08-10 00:40] #1143 closed

[2019-08-10 00:41] juluczni commented on #1131
#please-close @mgblythe

[2019-08-10 00:41] #1131 closed

[2019-08-10 00:41] juluczni commented on #1126
#please-close @mgblythe

[2019-08-10 00:41] #1126 closed

[2019-08-10 00:41] juluczni commented on #829
#please-close @mgblythe

[2019-08-10 00:41] #829 closed

[2019-08-10 10:00] helicon1 opened #1319 "Download links don't work!"
Link to download for access engine gives a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 680485c7-5823-2c7f-df5d-b8c8a8205759
* Version Independent ID: 5a217642-7723-6980-28ae-e26559c24201
* Content: [Resolve Access and .XLS import issues in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/de

[2019-08-12 04:06] devwheel commented on #1274
what do I need to install to use this?  I'm using a new project with api version 2.6.1 and Ivisualhost is not found.  It would be nice if the NPM I command would be included in the documentation

[2019-08-12 11:42] sarava8304 opened #1320 "Color Gradient with divergence"
[It would be better if we can accomodate multiple divergence colors, instead of only 1 in settings. So, that it will be help full to show the visual for top 10 CUstomer reports, there may be five diverging colors and it would be help full to highlight the values more predominant]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-12 11:59] dsujs opened #1321 "Invalid Expression"
Power BI Version: 2.71.5523.941 64-bit (July 2019)

CustomFiscalPeriods =
DATATABLE (
    "Fiscal YearNumber", INTEGER,
    "FirstDayOfYear", DATETIME,
    "LastDayOfYear", DATETIME,
    {
        { 2016, "2015-06-28", "02-07-2016" },
        { 2017, "03-07-2016", "2017-07-01" },
        { 2018, "02-07-2017", "2018-06-30" },
        { 2019, "01-07-2018", "2019-06-29" }
    }
)

The syntax for "201

[2019-08-12 13:27] dsujs commented on #1321
I tested the Power-BI June and May version as well. It gives the same problem as well.

Input methods are English (United States) and Belgian (Period) Keyboard.

[2019-08-12 22:36] Industry opened #1322 "Typos, clarity issues"
Tons of mistakes in the text and not a very clear tutorial. Please remake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcb9bc55-ac56-d1ab-c465-4e41bfa8f152
* Version Independent ID: 44bd9bb3-5aad-31ac-27b6-53e3c0554960
* Content: [Introduction to DAX - Power BI](https://docs.microsoft.com/en-us/power-bi/guided-learni

[2019-08-13 13:02] DonPetry-EY opened #1323 "Need IP's associated with URL's"
Please provide a link to the actual IP ranges associated with each of these services.  Similar to the Azure DataCenter Whitelists/Service Tags.  Without this, we cannot configure outbound NSG's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 297c1372-b1bb-57c4-9c31-840b4cad2c37
* Version Independent ID: 0bb282a3-4aa6-1

[2019-08-13 13:51] Anmolgan81 opened #1324 "Does RLS Support Import connection methods for SAP-BW?"
Does RLS support Import connection methods for SAP-BW server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security (RLS) with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/servic

[2019-08-13 21:49] mgblythe commented on #1312
Thanks for your comment, @saviourofdp. I've assigned this issue to the doc author for review.

[2019-08-13 21:53] mgblythe commented on #1316
Thanks for your comment, @rudzimj. I've assigned this issue to the doc author for review.

[2019-08-13 21:54] mgblythe commented on #1317
Thanks for your comment, @kevhav. I’ll add this request to our docs backlog.

[2019-08-13 21:57] mgblythe commented on #1319
Thanks for your comment, @helicon1. I've assigned this issue to the doc author for review.

[2019-08-13 22:00] mgblythe commented on #1318
Thanks @Dmitrij-J - I'll look into this.

[2019-08-13 22:02] mgblythe commented on #1321
Thanks for your comment, @dsujs. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-08-13 22:02] #1321 closed

[2019-08-13 22:03] mgblythe commented on #1322
Thanks for your comment, @Industry. I've assigned this issue to the doc author for review.

[2019-08-13 22:04] mgblythe commented on #1323
Thanks for your comment, @DonPetry-EY. I’ll add this request to our docs backlog.

[2019-08-13 22:05] mgblythe commented on #1324
Thanks for your comment, @Anmolgan81. I’ll add this request to our docs backlog. In the meantime, you can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-08-14 05:01] koichino commented on #1230
Any update?

[2019-08-14 09:01] MichaelDotEarly opened #1326 "Need update on limitations?"
I believe this one is not: Export using Underlying data won't work if The data source is an Analysis Services live connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc572957-04b2-9512-afb5-11bc0393cf66
* Version Independent ID: 70c74633-44df-466b-879c-4ae5c1524fc1
* Content: [Export data from a Power BI visual

[2019-08-14 10:19] dsujs opened #1327 "Incorrect syntax for DATETIME"
I get an incorrect syntax error for the DATETIME strings in the example below:

CustomFiscalPeriods =
DATATABLE (
"Fiscal YearNumber", INTEGER,
"FirstDayOfYear", DATETIME,
"LastDayOfYear", DATETIME,
{
{ 2016, "2015-06-28", "2016-07-02" },
{ 2017, "2016-07-03", "2017-07-01" },
{ 2018, "2017-07-02", "2018-06-30" },
{ 2019, "2018-07-01", "2019-06-29" }
}
)

The syntax for "2015-08-16" is invalid.

I

[2019-08-14 16:04] mihart commented on #1326
Thanks for your comment, @MichaelDotEarly . This issue has been assigned to the doc author for review.

[2019-08-14 16:05] mihart commented on #1327
Thanks for your comment, @dsujs . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-08-14 16:05] #1327 closed

[2019-08-14 16:41] uve commented on #238
Each Custom Visual should have only one unique GUID.
PowerBI always loads the latest version of the visuals from CDN based on this GUID number, even if you imported your own version of the visual with the same GUID to the report.
So administrators aren't able to import multiple versions of the visual with one GUID.

[2019-08-14 20:04] CeciAc opened #1328 "Filter sidebar"
**Translated**
@NooWinFr commented on [Wed Aug 14 2019](https://github.com/MicrosoftDocs/powerbi-docs.zh-cn/issues/35)

Hello, the article does not seem to indicate how to modify the theme of the filter sidebar.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content

[2019-08-14 20:08] CeciAc commented on #1328
This issue was Machine translated

[2019-08-14 22:31] evilches opened #1329 "Copy and paste between reports has the wrong image"
It is a duplicate of the hiding a report page image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f750471-143b-f0fe-3d92-0bdaaa06dcc1
* Version Independent ID: 66cc67fb-28ff-4a0c-34f0-f688369cc15c
* Content: [Report View in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-report-view#fee

[2019-08-14 22:41] maggiesMSFT commented on #1168
OK, @carlhodder and @hugotoledo, article is updated and live. Thanks for the questions!

[2019-08-14 22:41] #1168 closed

[2019-08-14 22:54] chris-schulz opened #1330 "Does not work on private repos"
Hi,

This only seems to work for public repos and therefore cant be used within our (or most) enterprise solutions. Can you advise on any roadmap to have this working with private repos?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076ce105-645c-cf91-44b7-4e2192eed874
* Version Independent ID: fb6358ab-0940-7ced-1036

[2019-08-14 23:21] maggiesMSFT commented on #1330
Hi, @chris-schulz -- thanks for your question! Hmmm. I specifically chose a public repo for this article so folks could follow along, but I can create a report for our private content repo, too. In our case, I have to add "-pr" to the end of the repo name. Not sure if that's a GitHub convention, or just our internal convention. Can you try it with your private repo name?

[2019-08-14 23:38] maggiesMSFT commented on #1329
Hi, @evilches -- thanks for the heads-up! I've assigned this to the author to update.

[2019-08-15 01:24] chris-schulz commented on #1330
No success I'm afraid...
[code]

[2019-08-15 07:42] ZenoLv commented on #1305
Hi @maggiesMSFT I'm facing the same issue and yes they have Pro license, because free users cannot access any App workspace.

And the document mentioned only V2 worksapce can see the copy icon which is not true, V1 also can see the icon, but the problem is if user don't have permission to edit the workspace, he cannot copy it successfully.

[2019-08-15 11:58] judemoore commented on #1305
Hi Michael and all

Yes they have Pro licences.

I thought the whole point of the “build” permission was so that the users can build reports without having access to change the original production reports though. Kind of defeats the process otherwise to have to provide the “Contribute” workspace access.

I got it working in the end.

I had to delete the original release of the app, then publish th

[2019-08-15 11:59] sandramcg opened #1331 "Something more user friendly?"
Users don't want to click on text, only to have to then click on a long hyperlink from a popup window. Is there a more user friendly way of adding a link to a report page? I'm thinking a clickable shape rather than a text box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21813211-4c66-33dd-94bd-576addc9f910
* Version

[2019-08-15 13:33] K-MUS opened #1332 "This process is no longer working"
You copy the link, delete the ?web=1 parameter, but now Power BI desktop intead of "downloading" the file seems to be trying to connecto to a REST API because even do my url ended in .xlsx ... Power BI shows and error in wich the URL ends in

/_api/contextinfo

Saying that cannot is unable to connect

EDIT: I'm using the latest release August 2019

[2019-08-15 15:00] nicheplayer opened #1333 "Re: "Only you can see the alerts you set, even if you share your dashboard.""
To clarify: *Anyone* with access to a KPI on a dashboard can set a data alert, yes? So any given KPI on a dashboard could have multiple alerts set. As the "owner" of the dashboard, can I see all the notifications set on any KPIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b2fae9-3356-f90c-8b3c-647aa2ad5f75
* Vers

[2019-08-15 15:35] markingmyname commented on #238
We will now proceed to close this thread. If there are further questions regarding this matter, please tag the assignee in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-08-15 15:35] #238 closed

[2019-08-15 18:50] WillieAhlers1 opened #1334 "Sample Audit Log Data"
Looking for sample audit log data, my organization does not allow Admin access to production environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
* Version Independent ID: dddd1e30-4a88-1293-1264-3214cc4b6dc8
* Content: [Use auditing within your organization - Power BI](http

[2019-08-15 19:22] maggiesMSFT commented on #1333
Hi, @nicheplayer -- good clarifying question! I'll try it out and report back.

[2019-08-15 22:57] maggiesMSFT commented on #1299
OK, @sprengmi -- published the update today. Thanks for asking the original question!

[2019-08-15 22:57] #1299 closed

[2019-08-15 23:05] maggiesMSFT commented on #1330
Hi, @chris-schulz -- I'm checking with someone else. In the meantime you can try the Power BI community and support sites,
https://community.powerbi.com/
https://powerbi.microsoft.com/en-us/support/

[2019-08-15 23:06] chris-schulz commented on #1330
Yep, that's where I started... crickets... :(

[2019-08-15 23:10] jasonpnnl opened #1335 "MicrosoftAzureConsumptionInsights.Table Parameters"
Could information be provided about the MicrosoftAzureConsumptionInsights.Table and parameters for it, specifically how to specify number of months? There are examples in the doc of how to do that with MicrosoftAzureConsumptionInsights.Contents but this is not the default way that the Consumption Insights connector works any longer.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-15 23:15] maggiesMSFT commented on #1333
Hi, @nicheplayer -- and the answer is No, as the owner you can't see alerts other people set.

Thanks for asking!

[2019-08-15 23:15] #1333 closed

[2019-08-15 23:38] maggiesMSFT commented on #1330
OK. Well, I've sent your question to someone else. We'll see what I get back.

[2019-08-16 00:21] maggiesMSFT commented on #1332
Hi, @K-MUS -- are you writing to ask about a specific article? If so, we can't tell which one.
thanks!

[2019-08-16 00:23] maggiesMSFT commented on #1334
Hi, @WillieAhlers1 -- thanks for your question. I'm assigning it to the author, to see if he can assist.

[2019-08-16 00:26] maggiesMSFT commented on #1335
Hi, @jasonpnnl -- thanks for your question! I've assigned it to the author to help.

[2019-08-16 03:27] K-MUS commented on #1332
yeah, this article

https://docs.microsoft.com/en-us/power-bi/desktop-use-onedrive-business-links

[2019-08-16 13:54] nonodename opened #1336 "Superfluous text in para 2 of measures"
2nd para of measures: https://docs.microsoft.com/en-us/power-bi/guidance/star-schema#measures has a final sentence "Learn more link?" Looks like a comment that became text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ca67d-ed62-fbe0-85b2-6b1604f9f946
* Version Independent ID: e8c82d66-ad63-3efa-11b2-060b9b16d4ad

[2019-08-16 15:13] CeciAc opened #1337 "Mistakes"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/powerbi-docs.ru-ru/issues/4
The comment was machine translated

@MarchukNic commented 2 hours ago
1.     The code does not work according to this instruction, after the step of editing the source visual.ts file
     Launch failed.

2.    "In the browser area, expand the src folder and select the settings.ts file." - the wrong fil

[2019-08-16 16:30] maggiesMSFT commented on #1332
Ah, thanks, @K-MUS ! OK, assigning to the author of that article.
In the meantime, consider asking your question of the Power BI community, https://community.powerbi.com/.
Good luck!

[2019-08-16 18:26] maggiesMSFT commented on #1336
Hi, @nonodename -- thanks for pointing that out! Assigning to the owner for a fix.

[2019-08-16 18:58] maggiesMSFT commented on #1305
Hi, @judemoore -- sounds like you sorted out your issue. Thanks for letting us know.
And hi, @ZenoLv -- shared datasets is only supported for v2 workspaces, so if you're seeing something else, that's a bug...

[2019-08-16 18:58] #1305 closed

[2019-08-16 19:00] maggiesMSFT commented on #1308
Closing this. Please reopen if you have a question or suggestion.

[2019-08-16 19:00] #1308 closed

[2019-08-16 19:03] maggiesMSFT commented on #1289
Hi, @Bally-Kahlon -- Here's the follow-up answer for a.
"External users should not be able to use shared datasets unless they are enabled via the Edit and Manage feature (see below). If it is not enabled, and the customer sees these experience enabled, ask them to call Support so we can investigate why.

This the the feature I'm referring to.
https://powerbi.microsoft.com/en-us/blog/azure-ad-b2b-g

[2019-08-16 19:03] #1289 closed

[2019-08-16 19:04] maggiesMSFT commented on #1267
Fixed. Thanks again @tudor2it !

[2019-08-16 19:04] #1267 closed

[2019-08-17 05:52] a10k commented on #1337
This documentation is old, the new dev tools use webpack etc., I recommend using pbiviz new [some-name] and checking out the actual files created to see how webpack is used.

[2019-08-17 15:01] ROBROICH opened #1341 "Supported variable types?"
Are there any restrictions in terms of supported variables types?
https://wiki.scn.sap.com/wiki/display/BI/Variable+Types

Customer exit and text variables are mentioned here:
https://docs.microsoft.com/en-us/power-bi/desktop-directquery-sap-bw

All other variable types and variable entry(text Ranges, Exclude, &lt;, &gt;, &lt;=, ) options are supported? Thanks!

---
#### Document Details

⚠ *Do no

[2019-08-18 10:41] kriscredon opened #1342 "Constructive feedback on sample reports."
Hi,

As a fan and heavy user (consultant) of Power BI, I want to signal you that I think the demo apps are realy outdated. I think they will do more "damage" than good. I know you have to prioritise your efforts, and this is not a prio. That's OK. But I would already remove the link form within Power BI to these reports. They are not representative of Power BI any more in my opinion.

For the rest

[2019-08-19 09:08] niball commented on #1306
Any update @mgblythe

[2019-08-19 15:23] ToddChitt opened #1344 "Need better samples"
Sorry, but this document does not really help the user write their own JSON theme file.
All I want is a visualStyle section with a "card": {...} section and a "page": {...} section.

it should look like this:

{
	"name": "CardTemplate",
	"visualStyles":
	{

		"card":
		{
			"*":
			{
				"border":
				[
					{
					"show": true,
					"color": { "solid": { "color": "#062b60"}}
					}
				]
			}
		}

[2019-08-19 15:25] ToddChitt commented on #1328
Check the Power BI Blog post for the May update. There is info in there about applying a theme to the Filter Pane sidebar.

[2019-08-19 15:58] mpsingh24 opened #1345 "Please update FAQ: PBIRS is available through Power BI Premium along with SQL Standard for hosting report server databases"
Please update FAQ to reflect that PBIRS is available through Power BI Premium along with SQL Standard for hosting report server databases.

PBIRS requires SQL Server Instance for hosting report server databases. Customers are confused on licensing aspects for the SQL instance when they avail Power BI Report Server through Power BI Premium.

The Premium licensing provides use rights to SQL Server S

[2019-08-19 16:36] maggiesMSFT commented on #1341
Hi, @ROBROICH -- Thanks for asking! Assigning to someone who can answer your question.

[2019-08-19 17:03] Sujata994 commented on #1255
Hi @Amanda<mailto:amac@microsoft.com>,

We got this feedback again from customers saying the themes doc is out of date and doesn’t include info about filter pane. Can you prioritize updating it?

the site linked from Power BI Desktop ( https://docs.microsoft.com/en-us/power-bi/desktop-report-themes ) is out of date and has no reference to Themes or the "outspacePane" seciton as described in the Ma

[2019-08-19 17:40] mgblythe commented on #1331
Thanks for your comment, @sandramcg. I've assigned this issue to the doc author for review. In the meantime, you might find a solution in the [Power BI Community]( https://community.powerbi.com).

[2019-08-19 17:42] mgblythe commented on #1337
Thanks for your comment, @a10k. I've assigned this issue to the doc author for review.

[2019-08-19 17:44] mgblythe commented on #1342
Thanks @kriscredon, we appreciate the feedback. I'm going to close this here b/c we'll keep the article in the docs unless the product changes, but we'll pass along the feedback to the product team.

@maggiesMSFT

[2019-08-19 17:44] #1342 closed

[2019-08-19 17:45] mgblythe commented on #1344
Thanks for your comment, @ToddChitt. I've assigned this issue to the doc author for review.

[2019-08-19 17:57] maggiesMSFT commented on #1342
Hi, @kriscredon -- yes, thanks for the blunt but honest critique!
In the meantime, we do have one updated sample template app available from the app store. This direct link should work: https://appsource.microsoft.com/product/power-bi/microsoft-retail-analysis-sample.salesandmarketingsample?tab=Overview
If not, go to **Apps** > **Get apps** > **Apps** tab, and search for "Microsoft Sample - Sales

[2019-08-19 18:00] mgblythe commented on #1345
Thanks for your comment, @mpsingh24. I’ll add this request to our docs backlog.

[2019-08-19 18:36] mihart commented on #1288
Hi @MI77 and @amkumar5 .
I see that MI77 responded to your question. I am closing this Git Issue now.  If you have further questions, please visit community.powerbi.com.  Thank you.

[2019-08-19 18:36] #1288 closed

[2019-08-19 18:41] mihart commented on #1294
Hi @SMHolck and @ryanmajidi
Wow, this is awesome feedback.  We are about to do a rewrite on all the consumer content to match the new look.  I will definitely use your feedback.  If you send me your email address, I'll add you as a regular reviewer.  Thanks for taking so much time and thought, I appreciate it.

[2019-08-19 18:42] #1294 closed

[2019-08-19 18:56] mihart commented on #1310
Hi @Mike-Honey
We're currently updating all visual articles to include the new look.  You should see the new screenshots appearing by end of the month.
Thank you for your input, we do appreciate it.

[2019-08-19 18:56] #1310 closed

[2019-08-19 19:38] brooksw78 opened #1348 "This app isn't available"
The MailChimp template app for Power BI does not exist. It may have existed before, but there's nothing there now. The link to the MailChimp template app at the top of the page redirects to https://app.powerbi.com/home

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a58f41-ee6e-cbc1-2fa0-e39157588dfd
* Version Indepen

[2019-08-19 19:45] maggiesMSFT commented on #1348
Hi, @brooksw78 -- Thanks, I'll check it out and get back to you.

[2019-08-19 20:35] mgblythe commented on #1011
Updated in June for freshness, thanks @Oddjobe.

[2019-08-19 20:35] #1011 closed

[2019-08-19 20:52] mgblythe commented on #986
Closing this out. @skgitti - feel free to reopen if the issue persists.

[2019-08-19 20:52] #986 closed

[2019-08-19 22:20] davidiseminger commented on #594
Both documents have been updated with a note explaining availability in the Power BI service, and will appear online in the next 24 hours. Thanks!

[2019-08-19 22:20] #594 closed

[2019-08-19 22:21] mgblythe commented on #1318
This is resolved now, closing out the issue. Thanks again @Dmitrij-J

[2019-08-19 22:21] #1318 closed

[2019-08-19 22:31] davidiseminger commented on #906
Thanks for pointing that out - the image has been fixed, and will update within 24 hours. Thanks!

[2019-08-19 22:31] #906 closed

[2019-08-19 22:40] mgblythe commented on #1334
Hi @WillieAhlers1 - Here's an example row from the output:

Date | IP address | User | Activity | Item | Detail | More
-- | -- | -- | -- | -- | -- | --
8/18/2019 23:37 | nnn.nn.nnn.nn | adam@some-domain.com | Viewed Power BI dashboard | Human Resources Sample | Data classification undefined
| | | | | |

[2019-08-19 22:41] maggiesMSFT commented on #1348
Well, @brooksw78 -- I have news, though not necessarily good news. The MailChimp template app is temporarily out of commission, so I'm going to remove this article for now. Thanks for pointing this out! And sorry it's not a happier outcome. We'll reinstate the article when the app is back.

[2019-08-19 22:44] davidiseminger commented on #956
Thanks for the post - those articles have been updated, and will be live in the next 24 hours. Thanks!

[2019-08-19 22:44] #956 closed

[2019-08-19 22:47] #1348 closed

[2019-08-19 22:55] davidiseminger commented on #995
Thanks for all the feedback, adding @shilpiguatam who can help resolve the best way to clarify the documentation.

[2019-08-19 22:56] mgblythe commented on #1345
@maggiesMSFT - can you add info to the FAQ or get back to me with the right wording and I'l add it, thanks!

[2019-08-19 23:09] mgblythe commented on #1315
Thanks @nallasamyponnusamy - fixing now. The correct link is https://www.youtube.com/watch?v=UFbCh5TaR4w

[2019-08-19 23:09] #1315 closed

[2019-08-20 00:17] mgblythe commented on #1301
Thanks @chrisweis - updating this sentence to read "Only Pro users can publish content to app workspaces".

[2019-08-20 00:32] #1284 closed

[2019-08-20 00:34] mgblythe commented on #1257
@Anmolgan81 - you could use an A4 SKU through Power BI Embedded, which is billed by the minute.

[2019-08-20 00:36] mgblythe commented on #1251
Thanks @rudzimj, closing this now, but feel free to reopen and let us know if what we have doc'd doesn't match your experience.

[2019-08-20 00:36] #1251 closed

[2019-08-20 01:24] maggiesMSFT commented on #1345
Hi, @mpsingh24 -- thanks for your question! See https://docs.microsoft.com/power-bi/report-server/get-started#licensing-power-bi-report-server for licensing details. I'm adding a link from this article that that section.

[2019-08-20 01:24] #1345 closed

[2019-08-20 02:02] phobag opened #1349 "limitation"
Need to let users know this limitation

the code is using datavolume 4 which is 5,000 data points. However, due to the shape of the data, and whether there are blank intersections, the data limit can be lower. Also, the datasource may not have statistics or dynamic limits may not be enabled, which does lead to lower actual counts in some cases.

[2019-08-20 04:54] Anmolgan81 commented on #1257
But embedded is different then premium right? then how can I test this?

Regards
Anmol Ganju

________________________________
From: Michael Blythe <notifications@github.com>
Sent: Tuesday, August 20, 2019 6:04:29 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs]

[2019-08-20 06:31] dhimanaddress commented on #784
You can try to use the following link, it worked for me where I was facing the same issue:
http://download.oracle.com/otn/other/ole-oo4o/ODAC121024_x64.zip

[2019-08-20 14:09] djurecic opened #1350 "Enter data directly only allows you to create a new table, not add data to an existing table."
I think the sentence below is a little confusing or incomplete- this direction only allows you to create a new table and enter data directly, not enter data directly to an existing table.

"To enter data directly, select Enter Data from the Home ribbon."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38a6766-9c9e-bb63

[2019-08-20 14:28] mgblythe commented on #1349
Hi @phobag - is there a particular article you had in mind when making this suggestion? Thanks!

[2019-08-20 14:29] mgblythe commented on #1350
Thanks for your comment, @djurecic. I've assigned this issue to the doc author for review.

[2019-08-20 15:53] mgblythe commented on #1283
Thanks @martynickel-at-gaffey - I'll make some updates to the links. In the meantime, in addition to the gateway app article that @mikemorrison111 suggests, I recommend this article to see an end-to-end gateway scenari: https://docs.microsoft.com/en-us/power-bi/service-gateway-sql-tutorial.

[2019-08-20 16:59] jsaffo opened #1351 "More earlier versions needed"
We are currently using the March 2018 version of PBI Report Server, and are unable to find the software on the web.  This page has a section for earlier versions of the software, but only provides a link to the last version (January 2019).  Please add either a list of links for more previous versions, or a page linking to all the previous versions, not just the last one.  Thank you.

---
#### Docu

[2019-08-20 17:28] mwc360 commented on #1040
IS there an update on this?

[2019-08-20 17:49] phobag commented on #1349
Hi @mgblythe these docs below. This limitation is for shape maps

https://docs.microsoft.com/en-us/power-bi/visuals/desktop-shape-map
https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-data-points

just need to let user know that the Point is 5,000 and that depending on the datasoure and shape this can lower the limitation for the points

[2019-08-20 19:28] mgblythe commented on #1349
Thanks @phobag, I assigned to the author for review.

[2019-08-20 21:20] mgblythe commented on #1161
@johnyuan10 - it's for overall not just back end.

[2019-08-20 21:20] #1161 closed

[2019-08-21 00:56] mgblythe commented on #1351
Thanks for your comment, @jsaffo. I've assigned this issue to the doc author for review.

[2019-08-21 02:50] chizhova opened #1353 "Broken demo data"
pbix file and excel file are broke

"To follow along, open the Customer Feedback PBIX file in Power BI Desktop. You also can download the Customer Feedback Excel file for Power BI service or Power BI Desktop"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0

[2019-08-21 05:59] CHEEKATLAPRADEEP-MSFT commented on #1263
@axaeffect  You grant the Power BI service a reader roles as follows:
Go to Subscriptions => Select your subscription.
Go to Access control (IAM) => Add
Role: Reader
Assign access to: Azure AD users, groups, or service principal
Select Power BI Service and Save.

![image](https://user-images.githubusercontent.com/44426401/63406220-dd1ca280-c406-11e9-9a8f-c35ba84d69cb.png)

Hope this helps.

[2019-08-21 06:01] laandermsft opened #1354 "Incorrect export data limitation"
In the limitations section it says "Export data isn't available for users outside of your organization who are using a dashboard that an internal user has shared with them." I have tested this limitation and I do not think it a limitation any more. An internal user can export tiles to Excel and it also works for external users sharing using AAD B2B.

---
#### Document Details

⚠ *Do not edit this

[2019-08-21 10:49] Immortalsonly commented on #1296
Thanks for the Tip! i will do this in the future.

[2019-08-21 12:25] st3vemartin opened #1355 "Not seeing the group option"
Hello - I have the August 19 Version, but ctrl-select multiple items and right click doesn't show the Group Option.

I don't see this new feature  under preview features.  Is there another prerequisite, such as having certain Visual Options turned on in Report Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6

[2019-08-21 17:21] apfenech opened #1356 "Conversion?"
There used to be a lot of notes that after GA we would be able to convert existing workspaces to the new workspace experience.  The only place I can see this note now is here (https://docs.microsoft.com/en-us/business-applications-release-notes/April19/business-intelligence/power-bi-service/new-workspaces#tell-us-what-you-think).

Is this feature still planned?  If so, is there any idea on a possi

[2019-08-21 17:25] mgblythe commented on #1353
Thanks for your comment, @[github person who posted]. I've assigned this issue to the doc author for review.

[2019-08-21 17:26] mgblythe commented on #1354
Thanks for your comment, @lanndermsft. I've assigned this issue to the doc author for review.

[2019-08-21 17:27] mgblythe commented on #1355
Thanks for your comment, @st3vemartin. I've assigned this issue to the doc author for review.

[2019-08-21 17:29] mgblythe commented on #1356
Thanks for your comment, @apfenech. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-08-21 17:32] mgblythe commented on #1334
Closing this one out. @WillieAhlers1 - let me know if you need additional info.

[2019-08-21 17:32] #1334 closed

[2019-08-21 18:36] WillieAhlers1 commented on #1334
Hi Michael,

Thank you for the feedback on my question, I do appreciate it.

Regards,
Willie.

Sent from Mail for Windows 10

From: Michael Blythe
Sent: Wednesday, August 21, 2019 10:32 AM
To: MicrosoftDocs/powerbi-docs
Cc: WillieAhlers1; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] Sample Audit Log Data (#1334)

Closing this one out. @WillieAhlers1 - let me know if you need additional info.

[2019-08-21 20:39] glokan1 commented on #1020
Hi,

I don't see an option to do any of this in a bar chart in BI,I could do it for a table(Conditional formation) but it doesnt display for bar charts.

[2019-08-21 21:04] ajbrepository opened #1357 "pbiviz --install-cert 3.1.5 is throwing error UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'indexOf' of undefined with Node 10.16.3 and npm 6.11.1"

[2019-08-21 21:05] ajbrepository commented on #1357
error  Certificate not found. The new certificate will be generated
(node:2180) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'indexOf' of undefined
    at Object.createCertFile (C:\Users\XXXXX\AppData\Roaming\npm\node_modules\powerbi-visuals-tools\lib\CertificateTools.js:193:27)
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:2180) UnhandledPromiseRejec

[2019-08-21 23:10] amasse3 opened #1358 "KCD for multi-domain scenarios"
I believe we can be more specific here.  If the two AD domains are in the same forest and A) the On-Premises Data Gateway is in the same domain as the authenticating user, or B) is in the same domain as the connected data service, kerberos authentication should work.  This should hold true unless there is something non-traditional about the trust configuration of the child domains.

---
#### Docum

[2019-08-21 23:23] mgblythe commented on #1357
Thanks for your comment, @ajbrepository. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-08-21 23:23] #1357 closed

[2019-08-21 23:24] mgblythe commented on #1358
Thanks for your comment, @amasse3. I’ll add this request to our docs backlog.

[2019-08-22 02:40] axaeffect opened #1359 "Is this the procedure also meant for Power BI New feature on July 2019 updates"
Hi, just need some confirmation. Does this procedure still in-line with Power BI July updates ?
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-july-2019-feature-summary/#azureDataLake

And according to the ideas, it is direct connection, so my confusion is, does it still need procedures describe on this page ?
https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/37015567-p

[2019-08-22 07:14] dave-stagg opened #1360 "ACCEPT_EULA command line option"
Section "Using command-line options during installation" should mention that a silent installation also requires the command line option ACCEPT_EULA=1 . Installation fails without this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322970ff-d62a-adeb-c8b3-d1141d3a272f
* Version Independent ID: 94d82157-a824-73c8-2add-

[2019-08-22 08:24] axaeffect commented on #1263
Hi, it's not really help since the confusion is, what Power BI Service does it refer to ?
How we create this Power BI Services? For all the steps precedes it, cleared to me.
Thanks,

[2019-08-22 10:49] nicki-t opened #1361 "Incremental Refreshes: Refresh Now vs Scheduled Refresh"
Does using Refresh Now mean the whole dataset is refreshed (ie not just the Incremental loading?)

[2019-08-22 10:54] jiezhao9 commented on #803
Hi juluczni, could you let us know the version of release that including the fix for the above problem?   Thanks in advance!

[2019-08-22 15:40] mgblythe commented on #1359
Thanks for your comment, @axaeffect. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-08-22 16:05] mgblythe commented on #1360
Thanks for your comment, @dave-stagg. I've assigned this issue to the doc author for review.

[2019-08-22 16:42] ToddChitt opened #1362 "Doesn't work for me, or I don't unerstand what visual elements should be included in the "theme""
I have tried just about everything to customize my dashboard.
My report has a custom JSON theme that I authored. Card visual take on the properties specified in the theme, namely, that the font (foreground0 color is blue, not black. They show up properly in the published report. But if I pin a card tile to a dashboard and select "Keep current theme", the pinned card has BLACK foreground, not blue.

[2019-08-22 17:25] #650 closed

[2019-08-22 17:27] mgblythe commented on #1211
Closing this one out.

[2019-08-22 17:27] #1211 closed

[2019-08-22 18:09] #825 closed

[2019-08-22 18:11] #822 closed

[2019-08-22 18:16] #182 closed

[2019-08-22 18:17] #881 closed

[2019-08-22 18:18] mgblythe commented on #811
Thanks @jford369. Closing this out, but @juluczni as FYI in case we can improve the error message.

[2019-08-22 18:18] #811 closed

[2019-08-22 18:20] #948 closed

[2019-08-22 23:14] GSVNoFixedabode opened #1363 "&pageName=ReportSection not working?"
I cannot seem to point to a specific Report Section within the report. As the section names have spaces I use &pageName=Section%20Name but the report display ignores this and on the page refresh it reverts to the first section despite the URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197c1f9-ff31-f86c-faf3-ab89e

[2019-08-23 00:08] mgblythe commented on #1304
Thanks @MartinKDK, I added the enhanced engine info + updated for latest settings for all workloads.

[2019-08-23 00:08] #1304 closed

[2019-08-23 00:09] mgblythe commented on #1336
Fixed and closing. Thanks again @nonodename.

[2019-08-23 00:09] #1336 closed

[2019-08-23 00:13] phantem opened #1364 "Security Groups?"
Can you provide an example of how to add access for security group? All attempts for our OU-based security group indicate that the entity is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc6d87fe3fd
* Content: [Organize wo

[2019-08-23 00:29] mgblythe commented on #1364
#reassign @maggiesMSFT

[2019-08-23 09:47] LoisLoriot commented on #1210
Hi,

@mgblythe, @davidiseminger , any updates? :)

Thanks!

[2019-08-23 16:34] anusiner92 commented on #1159
Please update this article. I need this information as well

[2019-08-23 19:01] mgblythe commented on #798
We don't have the specific version info. Power BI relies on Project OData endpoints and uses the generic OData connector.

[2019-08-23 19:01] #798 closed

[2019-08-23 19:16] chrisweis commented on #1317
Per Swati Gupta, "I need to get the docs fixed to state it’s the max of the workload and the capacity in that hour".  Please update the document to reflect that.  Thanks!

[2019-08-23 19:19] mgblythe commented on #645
Adding @cpopell to confirm DQ support for MarkLogic

[2019-08-23 19:40] mgblythe commented on #1364
Thanks for your comment, @phantem. I've assigned this issue to the doc author for review.

[2019-08-23 19:44] mgblythe commented on #1361
Hi @nicki-t. The whole dataset is refreshed unless you're using [incremental refresh in Power BI Premium](https://docs.microsoft.com/power-bi/service-premium-incremental-refresh).

[2019-08-23 19:44] #1361 closed

[2019-08-23 19:45] mgblythe commented on #1362
Thanks for your comment, @ToddChitt. I've assigned this issue to the doc author for review.

[2019-08-23 19:46] mgblythe commented on #1363
Thanks for your comment, @GSVNoFixedabode. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-08-23 19:49] mgblythe commented on #1317
Thanks @chrisweis, I updated the doc, which should be live in a few hours:

Maximum memory consumption during the hour, in GB by workload (solid lines), overlaid with workload limits (dotted line). Shown hourly, for the previous seven days.

[2019-08-23 20:47] cpopell commented on #645
Confirmed. Let me get back to that spreadsheet identifying everything with DQ support...

[2019-08-23 21:02] mgblythe commented on #645
Thanks @cpopell, @davidiseminger to fix.

[2019-08-23 21:59] dhruvinushah opened #1365 "Slicer values are not responsive of selections made by other filters."
For the sake of understanding the problems let's say you have a Slicer with a Slider with numeric inputs for 4 ID numbers. (1001 - 9999). Okay. Now lets say each 1000 numbers belong to a particular department. (IT -&gt; 2001 -2999 ; HR -&gt; 1001 - 1999; and so on) .
If we have a 'Group' description slicer in the form of list values, along with the Slider slicer, the values in the slider slicer do

[2019-08-23 22:40] chrisweis commented on #1317
Looks like CPU capacity should also indicate it is max hourly.

[2019-08-23 23:25] mgblythe commented on #1365
Thanks for your comment, @dhruvinushah. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-08-23 23:25] #1365 closed

[2019-08-24 12:12] Anmolgan81 opened #1366 "How can I purchase PowerBI Premium with trial?"
Is it possible to purchase powerbi premium with trial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c351d62-f45d-908e-bbc5-bc9bdcbe8372
* Version Independent ID: e6f1968c-a72b-7f79-9105-6d685e099af5
* Content: [How to purchase Power BI Premium - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-premi

[2019-08-24 21:39] sMuller13 commented on #307
What about the "Customize Series" section of Line and Stacked/Clustered Column charts? The functionality has been available for over a year and I still cannot find any reference to it in this or any other documentation. Am I just missing it or is it still not included?

[2019-08-25 12:21] Oxenskiold-DAX opened #1367 "Example used."
The '=' operator treats '0' zero and BLANK  as being equal.

A small example shows this:
EVALUATE
FILTER (
    {
        ( "01", 0 ),
        ( "02", BLANK () ),
        ( "03", 200 )
    },
    [Value2] = 0
)

Wouldn't it be better to change the example:
=IF(ISBLANK([Sales]) || [Sales] = 0, BLANK(), [Profit] / [Sales])
to
=IF( [Sales] = 0, BLANK(), [Profit] / [Sales])

The original example leaves

[2019-08-26 03:21] axaeffect opened #1368 "Is the Incremental has license restriction ?"
Do we need to have Pro or Premium to have this "Incremental Refresh" feature ?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b60093b2-2bdf-92e9-ee7c-de316b601beb
* Version Independent ID: 25307bcb-648e-e620-3fe9-a1412e89c0b5
* Content: [Using incremental refresh with Power BI dataflows - Power BI](https://doc

[2019-08-26 09:37] alexander-korn commented on #307
Unfortunately modifying the Display units of data labels is buggy / does not work.
For example for the clustered bar chart changing it to "Thousands" in the theme will lead to an actual change to Trillions.

[2019-08-26 10:57] ranaalisaeed opened #1369 "horrible documentation"
can you make this document more longer by whinging and whining a bit more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 179482da-6009-3602-8e51-c20a42c83b5b
* Version Independent ID: b023c9e5-94e0-4d0c-67ce-465916170c43
* Content: [Troubleshooting refresh scenarios - Power BI](https://docs.microsoft.com/en-us/power-b

[2019-08-26 13:53] w0ut0 opened #1370 "Add PostgreSQL to list of supported DirectQuery sources"
Hi,
in the august 2019 feature summary, Postgresql was added as a (preview) data source.
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2019-feature-summary/

Can we add this source in the list?
Is there a specific driver version necessary? Once I add a 'count' measure to a visual, I get the error "we couldn't fold the expression to the data source. please try a simpler expressio

[2019-08-26 18:47] otravers opened #1371 "New filter experience"
This page should be updated to reflect the new filter panel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b3989d-4ab1-51f2-6823-970c04f6fba9
* Version Independent ID: 673ccbe9-ef77-5c5b-9936-37eaeb4d3762
* Content: [Filter a report and share it with coworkers - Power BI - Power BI](https://docs.microsoft.com/en-us/

[2019-08-27 02:34] koichino commented on #1230
Any update?

[2019-08-27 09:17] ankitgthub opened #1372 "USERCULTURE() is not working"
USERCULTURE() function is not getting detected in power bi. Error message"'USERCULTURE' is not a function". Also I am not able to find any reference of USERCULTURE() in MSDN dax documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a270e6-b0c1-bb57-831c-ce75a4d42085
* Version Independent ID: f831c935-823e-be44-02

[2019-08-27 10:06] miragliag commented on #1370
I have this problem too. publishing the direct query report results in an error on the Web. Thanks for an update. Is there a Postgres minmal Version? Is 9.6 supported in direct Query mode?

[2019-08-27 16:05] JoshKF opened #1373 "List of "Other" needs updating"
I think "Denodo" is misspelled as "Denado" and the Paxata listing is down with the Beta Connectors even though it's GA. I think the placement and otherwise ordering of the list is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-

[2019-08-27 20:03] gustavothomas17 opened #1374 "What is PowerBI"
I would suggest just to mention the three view options (Model, Data and Report) matching each with a step in the analysis, for example:
Model is the View Option where the user manages the relationships among datasets
Data is the View Option where the user transforms the sets of data so that they become ready for analysis and
Report is where the visualizations are built.

---
#### Document Details

[2019-08-28 06:27] MikeSunGithub opened #1376 "PBIRS-May-2019 download page doesn't list that it is supported on Windows server 2019 though it is actually supported."
PBIRS-May-2019 download page(https://www.microsoft.com/en-us/download/details.aspx?id=56722) doesn't list that it is supported on Windows server 2019 though it is actually supported per this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f20394b-f5b1-2924-3670-932dba073875
* Version Independent ID: 71ec4d31-

[2019-08-28 08:11] nicki-t commented on #1361
We use Power BI embedded and have a premium capacity meaning we have access to this. However it's not clear when the refresh is incrementally loading or doing an incremental refresh. Doing some testing, it would appear that using refresh now always performs a full refresh. Is that your understanding?

[2019-08-28 15:07] KLCKLCKLC opened #1377 "Reserved Instance valid EA Key"
Could you let me know if it's normal that the tables for RICharges / RIRecommendations_Single / RIRecommendations_Shared / RIUsage / Budget are in error if the EA API Key is not at the enrollment-level?

If yes, could you add this information in the documentation ?

[2019-08-28 21:20] maggiesMSFT commented on #1376
OK, @MikeSunGithub -- I've verified. The article is correct, it is supported on Windows server 2019. I've sent along the request to update the download page. Thanks for catching that!

[2019-08-28 21:20] #1376 closed

[2019-08-29 00:57] mgblythe commented on #807
@davidiseminger - assigning back to you, reassign as appropriate.

[2019-08-29 00:59] mgblythe commented on #1366
Thanks for your comment, @Anmolgan81. I’ll add this request to our docs backlog. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-08-29 00:59] #1291 closed

[2019-08-29 01:00] mgblythe commented on #1259
Closing out. @mrioux - please reopen if you still see this issue.

[2019-08-29 01:00] #1259 closed

[2019-08-29 01:01] mgblythe commented on #1129
Closing out. @paugusto76 - feel free to reopen if you have info on which article and blog post are an issue Thanks!

[2019-08-29 01:01] #1129 closed

[2019-08-29 01:04] mgblythe commented on #1032
@n8lauscher - it looks like this was addressed in the forum response, so closing out this issue.

[2019-08-29 01:04] #1032 closed

[2019-08-29 03:07] c13GitHub opened #1378 "Share report by email feature shown as unavailable at PowerBI Support page"
I had previously been aware of the subscription and share report by email capabilities as launched in PowerBI in 2017. I revisited the service offering support page (https://powerbi.microsoft.com/en-us/support/) after reading this documentation, and I believe there is an information that Share may be experiencing an issue to be fixed on 09/06/2019.

If the Share issue being fixed is related to the

[2019-08-29 07:57] dmukil commented on #1290
Hi,

Can you please provide the right screenshots. I am not able to find the conditional formatting for tables and bar charts. Please support.

[2019-08-29 12:10] Ilocans opened #1379 "Developpment Approach"
This article is interesting but what about developppment approach in a premium environment ?
Should we developp in premium capacity or shared ? If we need to use premium specific feature such as incremental refresh or dataflow premium feature ? Should we also use A SKUs  like testing approach ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-29 12:31] mgcharumilind opened #1380 "Email subscriptions needs updating"
According to Christopher Finlan on Twitter :)
I think Power BI service supports subscriptions to paginated reports now or something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1f
* Content: [Comparing Power BI Report Se

[2019-08-29 15:05] Oxenskiold-DAX commented on #1367
Alternatively you could change the example into:

`=IF(ISBLANK([Sales]) || [Sales] == 0, BLANK(), [Profit] / [Sales])`

I.e using the '==' operator instead of the '=' operator. This actually may have been the intention of the guidance author all along; to emphasise the two scenarios that can occur regarding the denominator.

[2019-08-29 16:17] AdamBJ commented on #325
@entmike this feature is available in PBI now. Check it out: https://docs.microsoft.com/en-us/power-bi/desktop-sap-hana#supported-features-for-sap-hana

[2019-08-29 18:04] davidiseminger commented on #645
Added to the list, thanks! Will update within 24 hours.

[2019-08-29 18:04] #645 closed

[2019-08-29 18:07] davidiseminger commented on #807
Added that limitation - thanks for bringing it to our attention. Will show up in the article within 24 hours.

[2019-08-29 18:07] #807 closed

[2019-08-29 18:10] davidiseminger commented on #999
Thanks for pointing that out - we've updated the article. The change will show up within 24 hours.

[2019-08-29 18:10] #999 closed

[2019-08-29 18:18] davidiseminger commented on #1003
Fixed - thanks! Update will show online within 24 hours.

[2019-08-29 18:18] #1003 closed

[2019-08-29 18:23] davidiseminger commented on #1012
Great conversation! Thanks for providing the learning and support in this thread.

[2019-08-29 18:23] #1012 closed

[2019-08-29 18:31] davidiseminger commented on #1015
Added a note to this effect. The article will update within 24 hours.

[2019-08-29 18:31] #1015 closed

[2019-08-29 18:32] davidiseminger commented on #1042
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-08-29 18:32] #1042 closed

[2019-08-29 18:33] davidiseminger commented on #1107
Thanks for posting!

[2019-08-29 18:33] #1107 closed

[2019-08-29 18:35] davidiseminger commented on #1110
Adding members for review.

[2019-08-29 18:35] MarkMoretto commented on #1281
Hi,

I had trouble, too, and looking at one of the demo repos helped to resolve some questions, but not all.  The repo is the following: https://github.com/microsoft/PowerBI-visuals-sampleBarChart

[2019-08-29 18:35] davidiseminger commented on #1006
Thanks for posting - I've added a note, which will update in the article within 24 hours.

[2019-08-29 18:35] #1006 closed

[2019-08-29 18:38] davidiseminger commented on #1027
Sorry for the confusion - I've updated with a correction. The correction will show up within 24 hours.

[2019-08-29 18:38] #1027 closed

[2019-08-29 18:39] davidiseminger commented on #1031
Please feel free to post again to the community, or to the support page, if you haven't found your answer.

[2019-08-29 18:39] #1031 closed

[2019-08-29 18:40] davidiseminger commented on #1086
Thanks for your comment, @eliaspm15 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-08-29 18:40] #1086 closed

[2019-08-29 18:42] davidiseminger commented on #1088
It applies to the Power BI service, as stated in the article.

[2019-08-29 18:42] #1088 closed

[2019-08-29 18:48] davidiseminger commented on #1071
Thanks for pointing this out - I've fixed those, they'll show up in the article within 24 hours.

[2019-08-29 18:48] #1071 closed

[2019-08-29 18:52] davidiseminger commented on #1077
Good catch! Thanks, fixed. Will update online within 24 hours.

[2019-08-29 18:53] #1077 closed

[2019-08-29 18:53] davidiseminger commented on #1055
Thanks for pointing that out, and sorry about that! Fixed.

[2019-08-29 18:53] #1055 closed

[2019-08-29 18:56] davidiseminger commented on #1078
Thanks for your comment, @damf74 .

The quick answer is: yes, you can apply filters in Power Query Editor to pare down the data you load into a model, without having to load the entire source. Power BI lets you see a portion of the data so you can get a view into it, and from which you can apply all sorts of filters to minimize (or trim) the size of the data load.

For more in-depth questions, loo

[2019-08-29 18:56] #1078 closed

[2019-08-29 18:56] davidiseminger commented on #1079
Thanks for your comment, @whiteleyrod . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-08-29 18:56] #1079 closed

[2019-08-29 18:59] davidiseminger commented on #1081
Thanks for your clarifications - I've added that to the Limitations section, which will show up within 24 hours.

[2019-08-29 18:59] #1081 closed

[2019-08-29 19:49] tafahmy opened #1381 "This page is outdated"
This experience changed in the new Desktop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Use drillthrough in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-drillthrough#feedba

[2019-08-29 20:35] davidiseminger commented on #1102
Thanks for your suggestion / request, @crabdata. For product feedback and requests, you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-08-29 20:35] #1102 closed

[2019-08-29 20:37] davidiseminger commented on #1118
Bringing in other folks who can answer.

[2019-08-29 20:40] davidiseminger commented on #1120
I added that to the article - thanks! Will show up within 24 hours.

[2019-08-29 20:40] #1120 closed

[2019-08-29 20:47] davidiseminger commented on #1136
I added a note clarifying that some of the steps might be different if the source data changes over time - we don't own the openly available target data, so it might indeed change, which is part of the adaptable nature of learning. I hope that helps.

[2019-08-29 20:47] #1136 closed

[2019-08-29 20:50] davidiseminger commented on #1153
You're right - that link needed updating! Thanks for pointing it out, fixed, will show up within 24 hours.

[2019-08-29 20:50] #1153 closed

[2019-08-29 20:52] davidiseminger commented on #1160
I've updated the link to Publisher for Excel, and made sure the link is pointing to a download page.

[2019-08-29 20:52] #1160 closed

[2019-08-29 20:53] davidiseminger commented on #1162
Thanks for your comment, @RealNoArms . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-08-29 20:53] #1162 closed

[2019-08-29 21:00] davidiseminger commented on #1163
Thanks! I've removed the dated screen and updated instructions.

[2019-08-29 21:00] #1163 closed

[2019-08-29 21:02] davidiseminger commented on #1170
Hello @AciongAksaya  - I believe what you're looking to do is available in the recent releases of Power BI Desktop.

[2019-08-29 21:02] #1170 closed

[2019-08-29 21:06] davidiseminger commented on #1171
Thanks for the help! I've added a note to that in the article, will show up within 24 hours.

[2019-08-29 21:06] #1171 closed

[2019-08-29 21:09] davidiseminger commented on #1173
Thanks for pointing this out, looks like it's already been fixed.

[2019-08-29 21:09] #1173 closed

[2019-08-29 21:10] davidiseminger commented on #1175
@Mike-Honey - thanks for your post! We're planning on going through and updating all these new screens once we get some time to do so, so it's on our radar. Thanks!

[2019-08-29 21:10] #1175 closed

[2019-08-29 21:15] davidiseminger commented on #1180
You're right, I agree. As the current owner, I'm happy to remove all instances of "unique" and refresh. I'll also put reworking / paring down the content in the queue. Thanks!

[2019-08-29 21:15] #1180 closed

[2019-08-29 21:15] davidiseminger commented on #1185
@mau-lopez  - thank you! Happy to hear you liked these, and we'll see about doing the same for Power Query.

[2019-08-29 21:15] #1185 closed

[2019-08-29 21:29] gebberry commented on #1086
Other thing is it doesn't seem to work for embedded links?

[2019-08-29 23:01] ldeoux commented on #1160
👍

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: David Iseminger <notifications@github.com>
Sent: Thursday, August 29, 2019 10:52:49 PM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: ldeoux <ldeoux@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Bad link or functionality removed (#1

[2019-08-30 00:16] cymbolz commented on #1160
@davidiseminger The link still directs to the Analyze in Excel page

[2019-08-30 03:36] aaronjschmidt commented on #1380
Agreed.  It's even less clear why I might want a Report Server now:
https://docs.microsoft.com/en-us/power-bi/paginated-reports-subscriptions
https://powerbi.microsoft.com/en-us/blog/e-mail-subscriptions-for-paginated-reports-is-now-available/

[2019-08-30 04:35] CHEEKATLAPRADEEP-MSFT commented on #1263
@axaeffect For my subscription, by default  "Power BI Service" is registered in Enterprise application.
To check on your subscription: Go to Azure Active Directory => Manage => Enterprise applications => Power BI Service

![image](https://user-images.githubusercontent.com/44426401/63993204-04612700-cb0d-11e9-800c-d889d2b5abfc.png)

In case, if it not registered, you can follow these steps.

There

[2019-08-30 20:27] Calvini03 opened #1383 "It probably needs more information about capabilities"
It is clear what capabilities regarding data accessibility the personal gateway provides. A question:

Is app & workspaces and sharing the same as in the "On premise Data Gateway (no personal mode)?

Also, PowerBI shows if there is an on-premise data gateway (DG)but it looks like that it does not show when there is a personal DG? Is that the case?

- Logs. Is it possible to have a track of persona

[2019-08-31 21:20] CheapSquier commented on #1290
Ok, I think I found what I was referring to. Conditional formatting can ALSO be set from the "Format" tab. It's likely that I was in a hurry and only looked at the pictures. Since "Format" might be a more intuitive place to find "Conditional Formatting" I probably found it there and then complained (incorrectly) that your page was out of date. Here's a snapshot for getting to Conditional Formattin

[2019-09-01 13:34] simonnuss opened #1384 "Steps 4-8 are Unclear"
There are several issues and I invite an author to complete refactor steps 4-8.  Examples include:

(1) Step 5:
    refers to "Power BI Premium service" - is it the "Power BI Premium" or "Power BI Service" object ID?  Be specific.  Moreover, capitalize the text to "Power Query Online" to maintain document consistency.
(2) Step 7:
    (i) has the user applying permissions to Power Query Online; ste

[2019-09-01 14:29] dbszepesi opened #1385 "I know its a third party tool but....."
It seems ridiculous to not even mention DaxStudio in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc3724b-5c69-73df-1ff2-8fa0a28c9c79
* Version Independent ID: 86932e18-54c4-dc9e-67f9-fe95f1e20f08
* Content: [Power BI performance best practices - Power BI](https://docs.microsoft.com/en-us/power-bi/powe

[2019-09-01 17:57] alexb5dh opened #1386 "Power BI visuals GitHub link"
Can you please provide a link? I'm trying to extend built-in Clustered Column Chart. The closest thing I found on GitHub is [this](https://github.com/microsoft/PowerBI-visuals-sampleBarChart) which seems to be just a sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version I

[2019-09-02 07:20] dmukil commented on #1290
@CheapSquier , I am looking for something similar to what you have mentioned above. I want to do a conditional formatting in tables( color of values get changes when it is above or below threshold) and Bar charts( Bar color get changes in a similiar way) when we do benchmark analysis. Can you share some screens on how to do this?

[2019-09-02 17:01] vksf01 opened #1387 "Storage Mode is no longer on the report fields pane, it's been moved to the model page"
I'm using the latest version of Power BI Desktop (August 2019) and the storage mode described on this page does not exist anymore and appears have been moved to the Model page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d807f76-0284-c917-4e56-b5c897c9ed61
* Version Independent ID: e837a12c-fa26-ea56-cfb3-46ac87a184

[2019-09-02 21:45] CeciAc opened #1388 "old azure portal image"
@hongju commented on [Sun Sep 01 2019](https://github.com/MicrosoftDocs/powerbi-docs.ko-kr/issues/414)

This article has very old feature image and description, so need update.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 8b88d198-6022-4b58-7dca-abd17fbd8b5a
* Version Independent ID: da72fb29-713d-e133-0f45-2ecab458ead0
* Content: [Azure SQL Database에 대해

[2019-09-02 21:45] CeciAc commented on #1388
Hi team,
I moved this here because the reported images are the same as in en-US
best regards

[2019-09-02 22:27] mlongoria opened #1389 "Examples shown are not accessible."
While I understand you are showing off a feature, these examples are not accessible, mostly due to color contrast, and no one should try to emulate them. In the top image, you cannot read the charts because the background image is too bright and the charts are transparent. The examples on this page generally conflict the the recommendations provided on https://docs.microsoft.com/en-us/power-bi/vis

[2019-09-03 08:15] NickyvVr opened #1391 "Incorrect link to Monthly gateway updates"
The link to the Monthly gateway updates is incorrect, it points to:
https://review.docs.microsoft.com/data-integration/gateway/service-gateway-monthly-updates?branch=master.
This has to be: https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-monthly-updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-03 10:32] rmhess opened #1392 "New look : title from different app"
With the apps 'new look', there's a title/dropdown in the middle of the bar on top that shows the apps title and owner when clicked. But recently, what's shown is information from a different app!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Version Independent ID: 0e1245cb-d7af

[2019-09-03 13:58] mihart commented on #1392
Thanks for your comment, @rmhess. This issue has been assigned to the doc author for review.

[2019-09-03 13:58] mihart commented on #1391
Thanks for your comment, @NickyvVr. This issue has been assigned to the doc author for review.

[2019-09-03 14:00] mihart commented on #1389
Thanks for your comment, @mlongoria. This issue has been assigned to the doc author for review.

[2019-09-03 14:03] mihart commented on #1388
Thanks for your comment, @ceciAc. This issue has been assigned to the doc author for review.

[2019-09-03 14:04] mihart commented on #1387
Thanks for your comment, @vksf01. This issue has been assigned to the doc author for review.

[2019-09-03 14:05] mihart commented on #1384
Thanks for your comment, @simonnuss. This issue has been assigned to the doc author for review.

[2019-09-03 14:06] mihart commented on #1386
Thanks for your comment, @alexb5dh. This issue has been assigned to the doc author for review.

[2019-09-03 14:07] mihart commented on #1385
Thanks for your comment, @dbszepesi. This issue has been assigned to the doc manager for review.

[2019-09-03 14:08] mihart commented on #1383
Thanks for your comment, @calvini03. This issue has been assigned to the doc author for review.

[2019-09-03 14:09] mihart commented on #1380
Thanks for your comment, @mgcharumilind. This issue has been assigned to the doc author for review.

[2019-09-03 14:10] mihart commented on #1381
Thanks for your comment, @tafahmy. This issue has been assigned to the doc author for review.

[2019-09-03 18:20] mgblythe commented on #1392
Thanks @rmhess, this sounds more like a product issue than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-09-03 18:20] #1392 closed

[2019-09-03 20:20] mgblythe commented on #1391
Thanks @NickyvVr, fixing this today.

[2019-09-03 23:50] maggiesMSFT commented on #1380
Hi, @mgcharumilind -- Yup, good job! I've updated the article already, thanks to you.
Hi, @aaronjschmidt -- good point. Go with the Power BI service!

[2019-09-03 23:50] #1380 closed

[2019-09-03 23:50] mgblythe commented on #1391
Now fixed and live

[2019-09-03 23:50] #1391 closed

[2019-09-03 23:57] mgblythe commented on #1378
Thanks for your comment, @[github person who posted]. I've assigned this issue to the doc author for review.

For upcoming features, I recommend checking the [What's new and planned doc](https://docs.microsoft.com/business-applications-release-notes/april19/business-intelligence/planned-feature).

[2019-09-04 02:25] maggiesMSFT commented on #1378
Hi, @c13GitHub -- good questions!
When the share issue is fixed, the feature will be back to its previous state.
How to find out about the future of Power BI features: Are you familiar with the Release Notes? That's where the product team lays out updates coming in the future. https://docs.microsoft.com/en-us/business-applications-release-notes/april19/business-intelligence/planned-features.
Hope

[2019-09-04 02:25] #1378 closed

[2019-09-04 11:59] tconrady opened #1393 "Missing commands"
At the top of the documentation it shows four actions, but the parameter reference explains only one of them. Specifically the first chapter says

"Here are actions you can perform through URL access parameters:
   ...[list of four actions]
For the complete list of commands and settings available through URL access, see [URL access parameter reference] later in this article."

This complete list o

[2019-09-04 16:12] LouOtway opened #1394 "Page doesn't work with Dark Theme"
Consider using graphics that work with dark theme in future!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce725cf3-1fcb-9942-3b6f-63dade96b0d3
* Version Independent ID: 0e724841-6fcc-d35a-167f-f5c7d2162f30
* Content: [Power BI Security - Power BI](https://docs.microsoft.com/en-us/power-bi/service-admin-power-bi-secur

[2019-09-04 16:12] LouOtway commented on #1394
Ahh, sorry, seems I'm not the first to make this comment!

[2019-09-04 17:32] ak-sbd opened #1395 "Contributor"
in the table, it seems as if contributor can "Create, edit, and delete content in the workspace." however it seems to me as if that person still needs a pro license to create content. Which means there should be a asterisks 1 up there in the table next to "Create, edit, and delete content in the workspace." for Contributor.

This goes to the extent that if I add a new user as a contributer but tha

[2019-09-04 18:12] arthiriyer commented on #575
Gateway by itself doesn't have any additional charges.  I don't think we need doc updates here.

[2019-09-04 18:13] #575 closed

[2019-09-04 19:21] mgblythe commented on #1369
Closing out. @ranaalisaeed - feel free to reopen if you have any details you'd like to provide.

[2019-09-04 19:21] #1369 closed

[2019-09-04 19:24] #1301 closed

[2019-09-04 19:33] mgblythe commented on #1394
@LouOtway - I'll take a look and fix these

[2019-09-04 19:34] mgblythe commented on #1395
Thanks for your comment, @ak-sbd. I've assigned this issue to the doc author for review.

[2019-09-04 19:41] maggiesMSFT commented on #1395
Hi, @ak-sbd -- I see your point. What isn't stated in the article, and should be, is that admins, members, and contributors have to have Pro licenses to do any of the things assigned to them in the table. The superscript 1 is just to indicate that for those 2 actions, even a viewer role also needs a Pro license. Really the only action a person can do in a workspace without a Pro license is view an

[2019-09-04 22:31] mgblythe commented on #1394
Fixed, thanks for pointing this out.

[2019-09-04 22:31] #1394 closed

[2019-09-04 23:20] davidiseminger commented on #1132
Thanks @dannodj - are you running into specific issues with the amount you can pin? I believe you would run into a situation where the range is unreadable (because too many cells are selected) long before you'd run into trouble on the technical capacity (maximum size limitation) for pinning. I'll close this, but if you've run into a specific limitation, please re-comment and I'll look deeper.

[2019-09-04 23:20] #1132 closed

[2019-09-04 23:23] davidiseminger commented on #1176
Thanks @Mike-Honey for your comment. These (and other) properties are constantly being updated, so documenting them is literally a moving target. When we have a property that isn't terribly self-explanatory, we do document that (or aspire to) upon release. Thanks!

[2019-09-04 23:23] #1176 closed

[2019-09-04 23:26] davidiseminger commented on #1178
Thanks for your comment @donalmc - you can indeed apply filters for such datasets from the Desktop, I'm not sure why you're running into that issue. You may want to consider updating to the latest version of Power BI Desktop. If you run into the issue again, feel free to reach out to https://support.powerbi.com

[2019-09-04 23:26] #1178 closed

[2019-09-04 23:27] davidiseminger commented on #1186
Sorry for any confusion @Pokeystuff  - it is indeed a Premium feature.

[2019-09-04 23:27] #1186 closed

[2019-09-04 23:30] davidiseminger commented on #1189
Thanks for that - sorry about that! We'll update those video links.

[2019-09-04 23:30] #1189 closed

[2019-09-04 23:34] davidiseminger commented on #1191
Sorry for the inconvenience @CheapSquier - that must have been a temporary glitch, because they all work properly now. Thanks for posting!

[2019-09-04 23:34] #1191 closed

[2019-09-04 23:35] davidiseminger commented on #1192
That one, too, has been fixed and works properly. Sorry for the inconvenience.

[2019-09-04 23:35] #1192 closed

[2019-09-04 23:36] davidiseminger commented on #1193
Thanks for your comment, @C2BB . Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-09-04 23:36] #1193 closed

[2019-09-04 23:41] davidiseminger commented on #1194
Thanks for the sleuthing! I've added that link to the article, and it'll refresh the article in the next 24 hours.

[2019-09-04 23:41] #1194 closed

[2019-09-05 08:51] RobLW commented on #1344
I just find that unless the text is all on a single line, it bombs out. I have to remove all carrage returns. In the end it's just easier to use this site https://powerbi.tips/tools/report-theme-generator-v3/

[2019-09-05 12:56] ToddChitt commented on #1344
I found my mistake. There should be a comma after the last closing curly brace BEFORE "page" section starts. But lacking any samples that showed two sections in the same file together, it was hard to diagnose.
In the end, I have TWO json files. One is 'production' and is good and right. The other is a copy of that, plus ONE change at a time. If that change does what I expect it to do, then THAT fi

[2019-09-05 13:41] SuperSing opened #1396 "SQL server running on a VM in Azure"
Hi, Is Power BI gateway needed for connecting to a SQL server running on a VM in Azure.

[2019-09-05 14:39] Matusa69 opened #1397 "How to identify CapacityID"
Improve the documentation about how to use the Set-PowerBICapacityEncryptionKey becuase it is not explained how to identify the CapacityID.

Add the information to use the Get-PowerBICapacity cmdlet.
Also not sure if CapacityID is visible on the Power BI Capacity Admin page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-05 15:12] dhruvinushah opened #1398 "Can we have a section on how to customize the relative date range slicer to show Data ranges according to the Fiscal year and not the auto calendar year?"
It by defaults uses jan 1st and dec 31st as start and end of year. Would be good to have a document that shows how to use Fiscal year to be displayed.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab98c7ec-c151-af65-c116-d03d6b2506a2
* Version Independent ID: 8767e90e-0f08-0dc6-a52f-10298a6128b7
* Content: [Ov

[2019-09-05 18:03] rootsmusic opened #1399 "sample databases"
Merge [issue #1075](https://github.com/MicrosoftDocs/powerbi-docs/issues/1075)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e766e393-243c-51bf-59fc-6e08bcd3223f
* Version Independent ID: 5778a496-ab96-d567-0b55-e07b51ec9493
* Content: [Take a tour of the samples available with Power BI - Power BI](https://docs.micros

[2019-09-05 18:09] alexbransky opened #1400 ""Powre BI""
typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc6d87fe3fd
* Content: [Organize work in the new workspaces in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-new-workspaces#feedback)
* Content Source: [po

[2019-09-05 18:36] maggiesMSFT commented on #1400
Hi, @alexbransky -- ouch! Thanks. Fixing it now.

[2019-09-05 18:46] maggiesMSFT commented on #1075
Hi, @rootsmusic -- I'm closing this issue, as you have opened a new one on the same subject, https://github.com/MicrosoftDocs/powerbi-docs/issues/1399.
I still think it's a good idea. I still can't promise a timeline.

[2019-09-05 18:46] #1075 closed

[2019-09-05 18:48] maggiesMSFT commented on #1399
Hi, @rootsmusic -- I closed the old issue https://github.com/MicrosoftDocs/powerbi-docs/issues/1075 as you have opened this new one on the same subject, and we don't need 2 issues.
I still think it's a good idea. I still can't promise a timeline.
Thanks!

[2019-09-05 18:50] maggiesMSFT commented on #1398
Hi, @dhruvinushah -- a useful idea. I'm assigning it to the author for consideration.
Thanks!

[2019-09-05 19:54] mattschoen opened #1401 "Paginated Reports"
When will PowerBI Embedded support paginated reports for the "App Owns Data" scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdac5f7-cd43-34c5-5905-dceeb9813952
* Version Independent ID: 6fd53f84-dbb2-2a9c-2745-ea1999779113
* Content: [Embedded analytics to embed Power BI content in your application for your

[2019-09-05 19:56] mattschoen opened #1402 "When will PowerBI Embedded support paginated reports for the "App Owns Data" scenarios?"
ETA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09cf6129-9d7f-0e47-75f3-89f5df01c5e9
* Version Independent ID: a1d90b2d-0e8b-da1f-fa30-a3294a98dc25
* Content: [Paginated reports in Power BI: FAQ - Power BI](https://docs.microsoft.com/en-us/power-bi/paginated-reports-faq)
* Content Source: [powerbi-docs/paginated-re

[2019-09-05 20:49] kfeit opened #1403 "Is this for S/4 HANA on-premise or cloud or both?"
Please clarify if this page applies to S/4 HANA on-premise or S/4 HANA Cloud, or to both options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea414a5c-c3ca-281e-46ca-3e677d27924b
* Version Independent ID: 363a9c9c-13e2-58ce-cb79-9f897d83c307
* Content: [Use SAP HANA in Power BI Desktop - Power BI](https://docs.micro

[2019-09-05 20:51] maggiesMSFT commented on #1397
Hi, @Matusa69 -- thanks for your comment. I've assigned it to the author to investigate.

[2019-09-05 21:18] maggiesMSFT commented on #1401
Hi, @mattschoen -- for news on upcoming features, the place to look is the New & planned features page in the Business Applications Release Notes:
https://docs.microsoft.com/en-us/business-applications-release-notes/april19/business-intelligence/planned-features
Hope that helps!

[2019-09-05 21:18] #1401 closed

[2019-09-05 21:20] maggiesMSFT commented on #1402
Hi, @mattschoen -- for news on upcoming features, the place to look is the New & planned features page in the Business Applications Release Notes:
https://docs.microsoft.com/en-us/business-applications-release-notes/april19/business-intelligence/planned-features
Hope that helps!
BTW, I'm going to add the same note to your other Git Issue, https://github.com/MicrosoftDocs/powerbi-docs/issues/1401.

[2019-09-05 21:20] #1402 closed

[2019-09-05 21:21] maggiesMSFT commented on #1403
Hi, @kfeit  - thanks for your question! Assigning to the author to investigate and reply.

[2019-09-05 21:24] maggiesMSFT commented on #1396
Hi, @SuperSing -- not sure which article you're referring to. Assigning to the author for gateways in the hope that he can help.
Thanks!

[2019-09-05 22:02] Bhavik-MSFT commented on #1082
We are investigating this issue and will resolve. The caching setting cannot be set via the API at the moment.

[2019-09-05 22:04] Bhavik-MSFT commented on #1082
#please-close @maggiesMSFT

[2019-09-05 22:04] #1082 closed

[2019-09-05 22:26] Bhavik-MSFT commented on #997
#please-close @maggiesMSFT

[2019-09-05 22:26] #997 closed

[2019-09-06 05:25] SuperSing commented on #1396
Thanks! It is related to on-premise gateway.

On torsdag, september 5, 2019, 11:24 pm, Maggie Sparkman <notifications@github.com> wrote:

Hi, @SuperSing -- not sure which article you're referring to. Assigning to the author for gateways in the hope that he can help.
Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-06 08:30] saviourofdp opened #1404 "Row Partitioning"
Is there any more detail explanation of the Row Partitioning? I need to know if this helps or otherwise what happens with a large initial datasets. Are there optimal ranges? What happens when a PBIX is republished?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1acd-3d363e143cc8
* Version Independent

[2019-09-06 12:07] lcallewi opened #1405 "version number not correct"
Hello,
it seems the version number for the August 2019 Update (2.71.5523.641) release as stated on this page is the same as the version number for the July 2019 Update (2.71.5523.641) on page https://docs.microsoft.com/en-us/power-bi/desktop-latest-update-archive. We are taking these version numbers to report on in our Power BI  reporting. The duplicates are causing us a problem in the reporting.

[2019-09-06 13:31] mgblythe commented on #1405
Thanks @lcallewi. I'm assigning to the author to fix. My current install is at 2.73.5586.421, but it's possible that's ahead of the August release.

[2019-09-06 13:32] mgblythe commented on #1404
Thanks for your comment, @saviourofdp. I’ll add this request to our docs backlog.
In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-09-06 13:33] mgblythe commented on #1388
Thanks @CeciAc, now fixed.

[2019-09-06 13:33] #1388 closed

[2019-09-06 18:36] Hormash opened #1406 "The report render function in Embed doesn't work with mobile layaout"
I have a report in Power BI with a mobile layout (and also desktop).
I load my report with `report.load(embedContainer, conf);` to set up my report in Power BI Embedded with JavaScript, after this I use `report.render(conf);` or `report.render();` to show it, but my report with a Mobile Layout, will load a desktop view. It is like has lost the `layoutType` variable. Is there some kind of solution

[2019-09-06 19:54] rootsmusic opened #1407 "using the same account for Power BI and Azure"
I'm signed into the Azure portal, and my role is account admin.  I'm trying to follow step #2, but I don't see "Administrators" listed under Settings.
![image](https://user-images.githubusercontent.com/22034168/64456688-aea8f380-d0a5-11e9-9076-92fb808ae947.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c4bd6b-56

[2019-09-06 21:30] maggiesMSFT commented on #1364
Hi, @phantem -- I've checked. Security groups are definitely supported. If you're still having an issue, you'll need to open a support ticket: https://powerbi.microsoft.com/en-us/support/
Good luck!

[2019-09-06 21:30] #1364 closed

[2019-09-06 21:32] maggiesMSFT commented on #1407
Hi, @rootsmusic -- I'm assigning your question to the author to advise. Thanks!

[2019-09-06 21:34] maggiesMSFT commented on #1406
Hi, @Hormash -- are you asking about a specific article? That will help in assigning your question.
Thanks!

[2019-09-06 21:37] arthiriyer commented on #1383
@Calvini03 - you cannot share personal gateways. It runs under a user's context.
You cannot see it in Power BI "Manage gateways" page but should be able to see it in [Power platform admin center](https://admin.powerplatform.microsoft.com/ext/DataGateways)

[2019-09-06 21:42] arthiriyer commented on #1172
@rcfoyn. The information is available here https://docs.microsoft.com/en-us/power-bi/service-gateway-enterprise-manage-ssas#manual-user-name-remapping.

[2019-09-06 21:45] arthiriyer commented on #1147
@mitchonfire - can you please provide more information on the work you are referring to?
Unfortunately the idea seems to no longer exist so I am not able to view that.

[2019-09-06 22:05] davidiseminger commented on #1195
Thanks for your comment @OdinTech3  - I've added a note to that effect, hopefully that'll let your experience help others. Thanks! Should show up live in ~24 hours.

[2019-09-06 22:05] #1195 closed

[2019-09-06 22:07] davidiseminger commented on #1196
Hello @danmyhre and thanks for your question. This is more of a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-06 22:07] #1196 closed

[2019-09-06 22:08] davidiseminger commented on #1202
Sorry for the inconvenience - those links now work properly.

[2019-09-06 22:08] #1202 closed

[2019-09-06 22:09] davidiseminger commented on #1207
Thanks for your comment, @Anmolgan81 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-06 22:09] #1207 closed

[2019-09-06 22:13] davidiseminger commented on #1210
Thanks for your comment and follow up, @LoisLoriot . The performance analyzer is undergoing frequent updates, so thanks for your interest. The best avenue to ask for more information about the feature (and its JSON data) is to submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Commun

[2019-09-06 22:13] #1210 closed

[2019-09-06 22:16] davidiseminger commented on #1220
Thanks for the post - I've updated that article, and will be reflected online in about 24 hours.

[2019-09-06 22:16] #1220 closed

[2019-09-06 22:19] davidiseminger commented on #1229
Thanks for your comment, @codingsolutions. Sorry you're running into difficulty, this looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-06 22:19] #1229 closed

[2019-09-06 22:25] davidiseminger commented on #1233
Thanks for your comment. I've updated the article to reflect that. Thanks!

[2019-09-06 22:25] #1233 closed

[2019-09-06 22:28] davidiseminger commented on #1254
Hello @sjlarkin and thanks for your post. Note that in the article, it directs you to use the version that matches your version of Desktop. Customers can experience this in either direction (32 vs 64, and 64 vs 32). The text above also clearly explains which is selected, and how to make the correct selection.
Sorry for any confusion.

[2019-09-06 22:28] #1254 closed

[2019-09-06 22:31] davidiseminger commented on #1256
Thanks for your comments. It appears this has been resolved, but you can always make product feature requests or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-09-06 22:31] #1256 closed

[2019-09-06 22:32] davidiseminger commented on #1263
Looks like this is resolved, thanks for the discussion.

[2019-09-06 22:32] #1263 closed

[2019-09-06 23:41] maggiesMSFT commented on #1400
Hi, @alexbransky -- fixed. Thanks!

[2019-09-06 23:41] #1400 closed

[2019-09-06 23:42] maggiesMSFT commented on #1395
Hi, @ak-sbd -- I've updated the article to make it clearer. Hope that helps. Thanks!

[2019-09-06 23:42] #1395 closed

[2019-09-07 00:06] #1172 closed

[2019-09-07 00:33] danmyhre commented on #1196
I was looking for the official requirements from MSFT to be documented on this topic

[2019-09-07 00:55] Hormash commented on #1406
Hi, my problem is with **PowerBI-JavaScript**, the render function lost the layoutType variable, so will load a desktop view.

[2019-09-07 01:39] maggiesMSFT commented on #1371
Hi, @otravers -- yes, you're right. I've made the changes but they may not be live until Monday.
Thanks for your careful observation!

[2019-09-09 11:32] mattlinak opened #1408 "Multiple Enrollments?"
How do you handle multiple enrollments, each has its own API access key. What if I want to combine them all into one view instead of separate PowerBI workspaces?

[2019-09-09 15:06] nphadro opened #1409 "Security"
Please help me understand if RLS passes through when Analyzing in excel?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content: [Analyze in Excel for Power BI - Power BI](https://docs.microsoft.com/en-us/powe

[2019-09-09 16:44] mgblythe commented on #235
We rewrote this doc a while back. It focuses on what premium is but it has the following info, which really is the main point of comparison: _With Power BI Premium, you get dedicated capacities. In contrast to a shared capacity where workloads run on computational resources shared with other customers, a dedicated capacity is for exclusive use by an organization. It's isolated with dedicated compu

[2019-09-09 16:44] #235 closed

[2019-09-09 16:53] mgblythe commented on #890
Assigning to @LukaszPawlowski-MS to respond.

[2019-09-09 17:09] mgblythe commented on #995
@davidiseminger - assigning back to you to follow up with Ben Shy. I can't get his GitHub handle (@BenShy) to resolve here.

[2019-09-09 17:13] davidiseminger commented on #1239
Thanks for your feedback @patrickabel  - I've added that URL to the FAQ section, it'll update in the next 24 hours. Thanks!

[2019-09-09 17:13] #1239 closed

[2019-09-09 17:14] davidiseminger commented on #1260
Thanks for the feedback, we'll look at adding that option in the future.

[2019-09-09 17:14] #1260 closed

[2019-09-09 17:16] davidiseminger commented on #1265
Adding an engineering contact to verify and provide clarifications.

[2019-09-09 17:22] davidiseminger commented on #1271
Thanks @VarunBhandary - we've updated that Dremio is no longer beta, and are confirming its support for DirectQuery.

[2019-09-09 17:25] #1273 closed

[2019-09-09 17:26] mgblythe commented on #1324
Adding @MI77 to see if he has an answer for this one.

[2019-09-09 17:31] davidiseminger commented on #1275
Thanks for your comment - that passage was not clear. I've adjusted the wording to make it clear. Thanks for posting, the change will show up online within 24 hours.

[2019-09-09 17:31] #1275 closed

[2019-09-09 17:32] davidiseminger commented on #1290
Thanks for your comments. We're in the process of updating all our screenshots in documentation, as our resources allow.

[2019-09-09 17:32] #1290 closed

[2019-09-09 17:33] davidiseminger commented on #1298
Thanks for your comment, @Ilocans. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-09 17:33] #1298 closed

[2019-09-09 17:35] davidiseminger commented on #1319
Sorry for the inconvenience @helicon1 - I've confirmed that the link now does work, must have been a temporary problem.

[2019-09-09 17:35] #1319 closed

[2019-09-09 17:46] davidiseminger commented on #1322
Thanks for your comments - we've gone through the tutorial and fixed the typos, and will look at rewriting it when resources allow.

[2019-09-09 17:46] #1322 closed

[2019-09-09 17:47] davidiseminger commented on #1344
Thanks for your comments. We're actively working on improving the documentation for themes (and themes themselves), and will update the article shortly.

[2019-09-09 17:47] #1344 closed

[2019-09-09 18:04] Bhavik-MSFT commented on #1385
Hi @dbszepesi, we do agree that DAX Studio is a useful tool for performance tuning. There also other utilities from the community that are helpful in this space. However, since these are not produced by Microsoft we do not support them and cannot officially recommend them in documentation.

[2019-09-09 18:05] Bhavik-MSFT commented on #1385
#please-close @mgblythe

[2019-09-09 18:05] #1385 closed

[2019-09-09 18:11] mgblythe commented on #1396
Hi @SuperSing, a gateway is required for SQL Server on a VM. You could also use SQL Azure database, which might or might not require a gateway depending on how you configure connectivity.

[2019-09-09 18:11] #1396 closed

[2019-09-09 23:33] mgblythe commented on #1323
@DonPetry-EY - The only info I can provide at this point is that Power BI uses all the Azure IP address ranges.

[2019-09-09 23:46] davidiseminger commented on #1408
Thanks for your comment, @mattlinak. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-09 23:46] #1408 closed

[2019-09-09 23:47] davidiseminger commented on #1409
Thanks for your comment, @nphadro . Let me look into that and respond to this thread (and update the doc) accordingly. Thanks!

[2019-09-09 23:51] mgblythe commented on #1407
Hi @rootsmusic -this will be fixed tomorrow. In the meantime, here's the correct steps:

In the navigation pane, select **Access control (IAM)**, then select **Add** and **Add co-administrator**.

[2019-09-10 01:57] christianwade commented on #1404
Hi @saviourofdp there will be more info made available with XMLA read write because there will be more you can do like manually refreshing old partitions that were generated by incremental refresh. You can already see the partitions generated in SSMS as shown by this video:https://youtu.be/LiQCc0A9coA?t=3719

Currently when you upload a new PBIX, you lose the historical data. With XMLA endpoints r

[2019-09-10 09:22] ahughes257 commented on #995
I have the same issue - cant see a billing id within costmanagement + billing.
This would be a much simpler connection if we can just sign into Azure; then any cascaded permissions on cost management are pulled through from the azure account to PowerBI

[2019-09-10 20:17] mgblythe commented on #369
Closing this one out. The plan is to remove this paper and ensure an updated version of the information is added to docs or other papers.

[2019-09-10 20:17] #369 closed

[2019-09-10 20:19] mgblythe commented on #1404
Thanks @christianwade - closing this one out.

[2019-09-10 20:19] #1404 closed

[2019-09-10 20:38] TheSaltyKorean opened #1410 "Example shown only works for Summaries"
The example shown for the custom report months, only works for the Summaries table.  In most cases we need UsageDetails.  We also need resource name in Usage Details as well.

https://docs.microsoft.com/en-us/power-bi/desktop-connect-azure-consumption-insights#using-azure-consumption-insights

[2019-09-10 20:54] mgblythe commented on #1134
@DBojsen - I'll note this in the docs. If you want to hide the pro trial button, see this [blog post](https://powerbi.microsoft.com/en-us/blog/tailoring-help-and-support-for-power-bi-users/).

You can also submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). .

[2019-09-10 21:09] mgblythe commented on #363
Closing b/c this content pack will be deprecated on Sept. 25.

[2019-09-10 21:09] #363 closed

[2019-09-10 21:10] mgblythe commented on #1138
Closing b/c this content pack will be deprecated on Sept. 25.

[2019-09-10 21:10] #1138 closed

[2019-09-10 21:17] maggiesMSFT commented on #1035
Hi, @ybulman -- the app has been completely updated. Are you still seeing this issue? If not, we'll close this issue.
thanks!

[2019-09-10 21:20] mgblythe commented on #966
This is all the information we currently have about the state of the audit events. At this point, we recommend using only those not marked "Not currently used". We'll update the table if we get more information.

[2019-09-10 21:20] #966 closed

[2019-09-10 21:20] maggiesMSFT commented on #983
Hi, @CeciAc -- the feature has been completely updated. Are you still having this problem? If not, we will close this issue.
Thanks!

[2019-09-10 21:20] #1134 closed

[2019-09-10 21:21] #1323 closed

[2019-09-10 21:54] DonPetry-EY commented on #1323
Hi there… I see you just closed this?

Can we take another look at this?  For our InfoSec Teams, indicating that Power BI is somewhere inside the Azure IP address range is a non-starter.  That same IP range also houses every other organization’s Azure hosted apps and data.

As with other Azure services, we would like:

  1.  A definition of the public IP’s required for the service.
  2.  An NSG se

[2019-09-10 22:01] mpsingh24 opened #1411 "Security rules are defined in the underlying source"
Can you please update the article and publish a list of data sources where Power BI can leverage "Security rules defined in the underlying source"? E.g. SSAS, SQL Server, Teradata?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959-696188711efe
* Version Independent ID: d8796367-6bd1-c63c-db86-59eb5

[2019-09-10 23:25] mihart commented on #1410
Thanks for your comment, @TheSaltyKorean. This issue has been assigned to the doc author for review.

[2019-09-10 23:26] mihart commented on #1411
Thanks for your comment, @mpsingh24. This issue has been assigned to the doc author for review.

[2019-09-11 01:13] LoisLoriot commented on #1210
Hi @davidiseminger,

Thanks for your answer.
Please note that I already submitted product feedback and engaged with the Power BI community back in July. Until now: still no reply, which I can understand because the blocker is the lack of technical documentation about this JSON export feature.

https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/38054662-performance-analyzer-json-exp

[2019-09-11 08:14] alexander-korn commented on #307
What about the visual header?

[2019-09-11 09:13] kanthu85 opened #1412 "In power BI Service New Look we are not able to Navigate from Hidden page to some other pages"
I have 4 Pages A,B,C,D in Power BI Desktop. B page is hidden and using bookmark I am accessing B From A.
After Publishing the report(New Look) From A I am going to B by using button(Which is hidden).From there I am not navigating to C,D.
In power bI Service  New Look.

[2019-09-11 10:42] tyddaj opened #1413 "Updates are a pain"
Why can't Power BI Desktop be updated through Windows Update? Or when you update Office 365?
Or even offered as a product category in SCCM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a76e2-8d94-5e76-bfb6-971c3b2c7c85
* Version Independent ID: f7bd2111-3bb0-fb08-0f23-a31efd407f66
* Content: [What's new in the lat

[2019-09-11 12:17] Mholsen opened #1414 "Special datetime format required?"
I have a table in a Azure SQL database with a datetime column which I want to enable incremental refresh on. The problem is that I keep getting the "query folding" warning, and if I run the incremental refresh anyway it is painfully slow.
The only thing I can think of being the cause of the query being non-foldable is the fact that the DateTime column also contains milliseconds.
Does the DateTime

[2019-09-11 13:18] Ilocans commented on #1298
Hi,

You explain in your documentation how to connect, to use dataflows,... It seems logic you explains how to work with dataflow with different environment: Dev, Test, Prod,... What is the best practice you recommend to move between them ?

[2019-09-11 15:48] Mike-Honey opened #1415 "Filter Pane, visual header features are hidden"
The Limitations section should note that the Filter pane and most visual header features are hidden.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI](https://docs.micros

[2019-09-11 17:04] mgblythe commented on #1397
Thanks @Matusa69, I added a step that shows Get-PowerBICapacity

[2019-09-11 17:04] #1397 closed

[2019-09-11 17:07] mgblythe commented on #1190
The default is AllowAdHocSubscriptions = true, regardless of license type. Partners can decide to set as false as indicated in the article.

[2019-09-11 17:07] #1190 closed

[2019-09-11 17:09] mgblythe commented on #1407
Updated the article, so closing this one out. Thanks @rootsmusic!

[2019-09-11 17:09] #1407 closed

[2019-09-11 20:18] ScottAdams1 opened #1416 "2GB Limit with On-Premise PBI Report Server?"
It seems like there should not be a limit for the PBI Report Server since the memory resources are all coming from my server (not a PBI hosted server).  Is this documentation accurate when it says "You can upload files up to 2 GB in size"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff7e1942-9181-3451-5d1e-08bfa2ca9

[2019-09-11 20:34] mikecjohn opened #1417 "New Look and New Filters"
If and when the New Look is turned on by default, how will report designers know?  We are so impressed with the constant evolution of new features in Power BI, but I have trouble knowing which features are in preview for me, and which ones my colleagues are seeing by default. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-09-11 20:38] mikecjohn opened #1418 "Restrict changes to filter type"
This section needs more description. Does this mean that users (report consumers) can change a filter from "less than" to "more than" unless we take this ability away by unchecking this box?  Or does it mean much more than that? What are the other filter types, and what exactly is enabled if this box is checked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-11 21:46] maggiesMSFT commented on #1418
Hi, @mikecjohn -- thanks for asking. I'll get back to you and update the article.

[2019-09-11 21:49] maggiesMSFT commented on #1417
Hi, @mikecjohn -- good question! Typically new features are turned on when they become generally available (GA). If you follow the monthly Power BI blog (https://powerbi.microsoft.com/en-us/blog/), you'll see an announcement when the new look reaches GA.
Hope that helps!

[2019-09-11 21:49] #1417 closed

[2019-09-11 21:50] maggiesMSFT commented on #1416
Hi, @ScottAdams1 -- good question. I'll check and get back to you.

[2019-09-11 21:57] maggiesMSFT commented on #1416
Hi, @ScottAdams1 -- wow, got you a quick answer!
The way the models are stored in the SQL database hosting the catalog means we are limited to 2 GB per model.

[2019-09-11 21:57] #1416 closed

[2019-09-11 21:59] maggiesMSFT commented on #1415
Hi, @Mike-Honey -- thanks for the suggestion! I've assigned it to the author for their consideration.

[2019-09-11 22:01] maggiesMSFT commented on #1414
Hi, @Mholsen -- thanks for the question and suggestion! I've assigned to the author to look into it.

[2019-09-11 22:04] maggiesMSFT commented on #1413
Hi, @tyddaj -- Thanks for the feedback!
This is a good place to make documentation feedback.
https://ideas.powerbi.com/forums/265200-power-bi is the place to submit product feedback. Plus you can look through it and see if anyone else has suggested the same thing already.
Thanks!

[2019-09-11 22:04] #1413 closed

[2019-09-11 22:20] mgblythe commented on #1412
Thanks for your comment, @kanthu85. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-09-11 22:20] #1412 closed

[2019-09-11 22:52] DonPetry-EY commented on #1323
Hey Don,

I would imagine the Public IP’s aren’t listed because of the complexity of Power BI relying on multiple components that feed into it and potentially IP’s being added over time. I haven’t received a concrete answer on Power BI for this scenario, but I’ve had this question across other services such as Intune/Autopilot, Device Registration, etc. and that was usually the case. I’ll let Mich

[2019-09-12 02:54] DG-LPS opened #1419 "Unhelpful reference"
Item 5 states: "Compare the provider with the list of supported data sources found within Refresh data in Power BI".
I can't find any such list in the referenced page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a46dbd1-2511-bc77-e09a-00b01540afa5
* Version Independent ID: 58ec402c-8a94-0752-c823-2ddd917b18df
* Con

[2019-09-12 16:43] TheSaltyKorean opened #1421 "Need 13 months"
While I understand a limit on the data being pulled back, we actually need 13 complete months not just 12.  Doing a month to last year's month is extremely important.  (This means we could be in month 14)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Independent ID: df5a9

[2019-09-12 16:47] itsnotaboutthecell opened #1422 "Incorrect Sequence Numbers for August 2019"
The August and July sequence numbers are identical:
August 2019 Update (2.71.5523.641)
July 2019 Update (2.71.5523.641)

August should be listed as (2.72.5556.801)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f23670-d83a-dffc-c17a-8cef53d0de7b
* Version Independent ID: 1b63f449-9fbd-3544-bee5-17c70fe55229
* Content

[2019-09-13 10:06] Mholsen commented on #988
Has this feature still not been added to the admin center?

[2019-09-13 12:30] otravers opened #1424 "Two typos"
"and enhanced engine has been release" should be "an enhanced engine has been released" (and -&gt; an, release -&gt; released)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd16a9c-3620-e1c6-518a-d6a5f9174089
* Version Independent ID: c55ccf5a-5563-1a05-7cec-46666a9e8f08
* Content: [Best practices for Power BI datafl

[2019-09-13 16:21] mgblythe commented on #1424
Thanks for catching that issue, @otravers! I've assigned this issue to the doc author for review.

For future reference - you can also edit articles directly. Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. The change is then sent directly to the writer, who will sign off and get i

[2019-09-13 16:24] mgblythe commented on #1422
Thanks for your comment, @itsnotaboutthecell. I've assigned this issue to the doc author for review.

[2019-09-13 16:33] mgblythe commented on #1419
Thanks @DG-LPS, we have some work underway to improve refresh troubleshooting in general as well as better data source info. I'll leave this open until we publish those updates.

[2019-09-13 16:35] mgblythe commented on #1421
Thanks for your comment, @TheSaltyKorean. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2019-09-13 16:35] #1421 closed

[2019-09-13 21:12] damf74 opened #1425 "Change language of x-axis"
Hi, is it possible to rename or change the language of x-axis, like changing "Qtr" (english) to "Trim" (french) for example ? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad604499-b845-44de-acc9-1bd9a7a97488
* Version Independent ID: f16079ec-98ee-e35d-f928-c5d493365051
* Content: [Customize X-Axis and Y-Axis

[2019-09-13 21:28] arthiriyer commented on #1383
#please-close @mgblythe

[2019-09-13 21:28] #1383 closed

[2019-09-13 22:33] Shart243 opened #1426 "Trend Line and Forecast Options Missing"
Hi - The Trend Line and Forecast Options are missing in the first 7 screenshots.  How do you get them to appear in the last screenshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbf6763-4952-5335-cefb-ae4e85fd9028
* Version Independent ID: cb734eb1-fb6d-b7aa-735a-17b5ba8ca7fd
* Content: [Using the Analytics pane

[2019-09-13 22:34] mgblythe commented on #1425
Thanks for your comment, @damf74. I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-09-16 03:11] torevor opened #1427 "Lack of detail in documentation re: optional paths in this screen; pitfall ridden code (assumes all worksheet names are consistent, instead of allowing an option to choose by ordinal position"
Lack of detail in documentation re: optional paths in this screen - with an Excel workbook, it appears you must choose a specific worksheet, but you can also select the root, so the function is passed the entire workbook.  Literally one sentence pointing this out on this screen written by one developer would likely save thousands of end user hours.

Pitfall ridden code - assumes all worksheet name

[2019-09-16 18:45] saket90 opened #1428 "Paginated reports for Power BI Govt Cloud"
I am unable to upload the .rdl files to app.powerbigov.us. There is not even an option to enable this feature in the admin portal. Could you confirm if this feature has been rolled out for the government cloud?

[2019-09-16 18:58] jbreadner opened #1429 "Link to resources / api"
This page works well as a resource to guide someone through the process of creating a visualization.  However, these pages could really benefit from linking to the full scope of what features are available.  For instance, what are valid values for capabilities.json's objects.*.properties.*.type ?  Other sections of the tutorial could also benefit, like what are all of the different capabilities.js

[2019-09-17 00:11] davidiseminger commented on #1426
Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-09-17 00:11] davidiseminger commented on #1427
Thanks for your comment, @torevor . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-09-17 00:12] davidiseminger commented on #1428
Thanks for your comment, @saket90 . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-17 00:12] #1428 closed

[2019-09-17 00:13] davidiseminger commented on #1429
Thanks for your comment, @jbreadner. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-09-17 00:15] davidiseminger commented on #1264
We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-09-17 01:03] mitchonfire commented on #1147
Hi @arthiriyer, the idea and my workaround seems to have vanished off ideas.powerbi.com, oh well.

Try follow this diagram for the workaround:
![RLS_OnPremSSASLive_CustomData_2ADAccounts]
(https://user-images.githubusercontent.com/17173734/65003196-bc2e6b00-d93a-11e9-9ead-b90a2d6ece1b.jpg)

[2019-09-17 05:26] djouallah opened #1430 "can you please add in the documentation how to write a custom query for Bigquery"
can you please add in the documentation how to write a custom query for Bigquery

[2019-09-17 09:21] scramiro opened #1431 "Access to data used"
The word doc is great to understand it. However, I can't completely understand it. it would help to have the data to see how it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7bffc1-7691-53e6-c582-c17b3f4c03da
* Version Independent ID: 6d3ce776-d39a-b834-e05b-73bc5452fd63
* Content: [Bidirectional cross-filter

[2019-09-17 10:31] Anmolgan81 opened #1432 "Incremental Refresh Supported For SAP BW?"
It seems that Microsoft has not made clear if all the data sources are enabled with Incremental Refresh, for now I can see that composite model have limitations, but if I have an SAP BW model and only 1 method of connectivity is used lets say import, then will it support for Incremental Refresh?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-17 14:14] mihart commented on #1430
Thanks for your comment, @djouallah. This issue has been assigned to a doc author for review.

[2019-09-17 17:24] mihart commented on #1425
Thanks for your comment, @damf74. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-17 17:24] #1425 closed

[2019-09-17 17:25] mihart commented on #1431
Thanks for your comment, @scramiro. This issue has been assigned to the doc author for review.

[2019-09-17 17:26] mihart commented on #1432
Thanks for your comment, @Anmolgan81 . This issue has been assigned to the doc author for review.

[2019-09-17 20:07] sedaelmas opened #1433 "Published Apps on android issue"
When i want to access to a published power BI app on power BI mobile aplication on android device, it opens the first dashboard as default. I have to 2-3 clicks to reach the navigation view of the published app.
Are there any way to make it behave like IOS in Android too? (In IOS when i click to puplished app, it opens navigation list.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-18 03:33] mihart commented on #1433
Thanks for your comment, @sedaelmas . This issue has been assigned to the doc author for review.

[2019-09-18 06:47] mshenhav commented on #1433
Hey @sedaelmas ,

Both apps should behave the same. Make sure you have the recent store app on each platform.
In addition, make sure you test the same published app. There are differences between apps published before the service released custom navigation and new app with custom navigation.

Regardless, the in the next Power BI apps release (expected in the coming weeks) we will be adding an acti

[2019-09-18 07:15] sandramcg opened #1434 "Can you increase the size of the field icon pictures?"
It's quite hard to see the differences between the different icons in the section "The field icons", it would be really helpful if these were doubled in size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd081c3-9f0f-07b5-b0dd-4270ddc2232f
* Version Independent ID: 8d92a854-ddff-3c3e-c044-a2d06e68f55c
* Content: [To

[2019-09-18 09:06] francesco1119 opened #1435 "Zendesk :: Time Slicer not working"
I tried a few time slicers:

![Zendesk - Power BI 2019-09-18 11-05-11](https://user-images.githubusercontent.com/3397477/65134265-48589500-da04-11e9-9093-6e1202a0cb35.png)

Non e is working.

Is it possible to add a time slicer to such metrics?

Thank you

[2019-09-18 13:06] adamwp1993 opened #1436 "SAP BW/4HANA is not supported in dataflows"
Hello, PowerBI PG has stated that SAP BW/4HANA is not officially supported in dataflows. Can we include this in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1458e2bc-7637-e305-55f3-596c64972ff3
* Version Independent ID: b5437e14-6d46-e2f6-0369-e61f72988ff3
* Content: [Learn how to connect to dataflows i

[2019-09-18 15:56] frvigano opened #1437 "Incorrect"
this sentence:

"Power BI limits datasets on shared capacity to eight daily refreshes. If the dataset resides on a Premium capacity, you can perform up to 48 refreshes per day. For more information, see Configuring scheduled refresh later in this article."

is no longer the case. It is just a limit of the UI, while that limit does not apply to APIs

---
#### Document Details

⚠ *Do not edit this s

[2019-09-18 16:39] sjs210 commented on #1356
Is there any status update on a conversion tool to upgrade classic to the new workspace?  I do not want to invest a lot of time manually converting workspaces (and the upheaval of having all of the connected Excel report data connections change) if there is an automated conversion tool that will be available in the near future.

The road map seemed to indicate this tool would be available in Sept

[2019-09-18 18:25] maggiesMSFT commented on #1356
Hi, @apfenech and @sjs210 -- reasonable questions! The Release Notes remain the best bet for discussions of upcoming features. The docs stick to what's already released. So your link, https://docs.microsoft.com/en-us/business-applications-release-notes/April19/business-intelligence/power-bi-service/new-workspaces, is still the best source of info.
Thanks!

[2019-09-18 18:25] #1356 closed

[2019-09-18 21:21] langjtl opened #1438 "Misleading sentence in this document"
This sentence made me believe that these notifications will tell me when users are experiencing slow performance for the reports they are using: "Examples of these notifications include when users experience an extended delay in operations like opening reports, dataset refresh, or query executions."  Can you re-word this so that readers are not mislead on this functionality's purpose?

---
#### Do

[2019-09-19 04:01] yhlow72 opened #1439 "Embed in SharePoint Online => Require License for viewer"
Embed in SharePoint Online =&gt; Require License for viewer
Embed in SharePoint Online works with the Power BI web part for SharePoint Online. It provides a single sign-on experience with control over how the report is embedded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df058604-4117-88d8-0cb0-935d08e5b22a
* Versi

[2019-09-19 12:39] scottmelhop opened #1441 "Add user to group docs wrong"
On https://docs.microsoft.com/en-us/rest/api/power-bi/groups/addgroupuser the Group User parameter for email address is: emailAddress. However this returns:

`{"error":{"code":"InvalidRequest","message":"Parameter userDetails.UserEmailAddress is missing or invalid"}}`

Changing the parameter to UserEmailAddress works. Update docs please.

[2019-09-19 14:43] debbiefox commented on #1003
When will this be available for PowerQuery in Excel and not just Desktop?

[2019-09-19 15:33] davidiseminger commented on #995
I've reported this to our engineering team, and will work with them to get the updates taken care of. Sorry for the inconvenience.

[2019-09-19 15:38] davidiseminger commented on #1197
Including the content owner of that whitepaper.

[2019-09-19 15:39] davidiseminger commented on #1265
Adding engineering contact again.

[2019-09-19 15:40] davidiseminger commented on #1271
Thanks for your inquiry. Dremio is a certified connector, which is great, but we only list built-in connectors in that list.

[2019-09-19 15:40] #1271 closed

[2019-09-19 15:42] davidiseminger commented on #1307
Thanks for your suggestion. We'll look into adding a separate page for personal bookmarks to our queue.

[2019-09-19 15:42] #1307 closed

[2019-09-19 15:46] davidiseminger commented on #1328
The Themes document has been updated recently, reflecting many updates that include addressing this question.

[2019-09-19 15:46] #1328 closed

[2019-09-19 15:50] davidiseminger commented on #1329
You're right - sorry about that. The image was incorrect, and needed to be moved a few sentences down. I've fixed that now, will show up online in ~24 hours. Thanks!

[2019-09-19 15:50] #1329 closed

[2019-09-19 15:52] davidiseminger commented on #1332
Thanks for your post. If you confirm the steps are an issue with the community, or with support, feel free to post back here and let us know - we haven't heard of other folks having trouble with this.

[2019-09-19 15:52] #1332 closed

[2019-09-19 15:52] davidiseminger commented on #1335
We're working with engineering to address this, and will update the article soon. Thanks for reporting it.

[2019-09-19 15:55] davidiseminger commented on #1350
Thanks for your post. I've clarified that sentence to state it's entered in the form of a new table, which will show up online in ~24 hours.

[2019-09-19 15:55] #1350 closed

[2019-09-19 15:56] davidiseminger commented on #1355
Hello @st3vemartin  - you need to have the most recent version of Power BI Desktop for this feature to work.

[2019-09-19 15:56] #1355 closed

[2019-09-19 15:59] davidiseminger commented on #1359
Hi @axaeffect - please use the most recent version of Power BI Desktop and try again. If you still have trouble, please check the community at https://community.powerbi.com or support by going to https://support.powerbi.com.

[2019-09-19 15:59] #1359 closed

[2019-09-19 16:00] davidiseminger commented on #1360
Thanks for your suggestion @dave-stagg - we've added that information to the article.

[2019-09-19 16:00] #1360 closed

[2019-09-19 16:01] davidiseminger commented on #1370
We've added PostgreSQL to the list, thanks for pointing this out.

[2019-09-19 16:01] #1370 closed

[2019-09-19 16:02] davidiseminger commented on #1372
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-09-19 16:02] #1372 closed

[2019-09-19 16:06] davidiseminger commented on #1373
Thanks for your post, and it was indeed misspelled - thanks for clarifying. I'll also pass along your comments about the ordering of the list.

[2019-09-19 16:06] #1373 closed

[2019-09-19 16:17] davidiseminger commented on #1374
Great idea @gustavothomas17  - I've added those descriptions to the top of the article. Thanks!

[2019-09-19 16:17] #1374 closed

[2019-09-19 16:18] davidiseminger commented on #1377
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-09-19 16:18] #1377 closed

[2019-09-19 16:59] davidiseminger commented on #1422
Sorry about that, and thanks! I've updated that number, should be live in ~24 hours.

[2019-09-19 16:59] #1422 closed

[2019-09-19 17:00] davidiseminger commented on #1405
Sorry about that, @lcallewi ! I've updated the article, which will be live in the next ~24 hours.

Meanwhile, the correct number for August is: 2.72.5556.801

[2019-09-19 17:00] #1405 closed

[2019-09-19 17:02] davidiseminger commented on #1424
You're right, @otravers - I've made that correction, should update in ~24 hours. Thanks for the close read, and for pointing it out!

[2019-09-19 17:02] #1424 closed

[2019-09-19 17:03] davidiseminger commented on #1431
Thanks for your comments. We'll look into posting the data in a future update.

[2019-09-19 17:03] #1431 closed

[2019-09-19 17:37] israelifalcon commented on #1019
i had the same problem fix by typing .\pbiviz --install-cert

[2019-09-19 17:52] mgblythe commented on #1430
Hi @djouallah - was there a specific article where you were looking for this information? In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2019-09-19 17:54] mgblythe commented on #1433
Thanks @mshenhav!

[2019-09-19 17:54] #1433 closed

[2019-09-19 17:57] mgblythe commented on #1434
Thanks for your comment, @sandramcg. I've assigned this issue to the doc author for review.

[2019-09-19 17:58] mgblythe commented on #1435
Thanks for your comment, @francesco1119. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-09-19 17:58] #1435 closed

[2019-09-19 18:00] eosho commented on #995
+1 on this.

[2019-09-19 18:02] mgblythe commented on #1436
Thanks for your comment, @adamwp1993. I've assigned this issue to the doc author for review.

[2019-09-19 18:03] mgblythe commented on #1437
Thanks for your comment, @frvigano. I’ll add this request to our docs backlog.

[2019-09-19 18:05] mgblythe commented on #1438
Thanks for your comment, @langjtl. I’ll add this request to our docs backlog.

[2019-09-19 18:07] mgblythe commented on #1439
Thanks for your comment, @yhlow72. I've assigned this issue to the doc author for review.

[2019-09-19 18:08] mgblythe commented on #1441
Thanks for your comment, @scottmelhop. I've assigned this issue to the doc author for review.

[2019-09-19 18:27] israelifalcon commented on #1019
or you can add C:\Users...\AppData\Roaming\npm\node_modules\powerbi-vis ... to your PATH

[2019-09-19 19:39] francesco1119 commented on #1435
I found a solution BTW, I had to use a specific metric from Zendesk about the ticket updates.

SOLVED

[2019-09-19 19:56] AdamBJ commented on #91
@mgblythe this issue should be closable now -- I address it in the revisions that were recently merged in.

[2019-09-19 20:01] mgblythe commented on #91
Thanks @AdamBJ. This content is now updated and in https://docs.microsoft.com/en-us/power-bi/service-gateway-sso-kerberos.

[2019-09-19 20:01] #91 closed

[2019-09-19 20:25] mgblythe commented on #1023
We now doc this here: https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-install

[2019-09-19 20:25] #1023 closed

[2019-09-20 06:22] poujor opened #1442 "JSON in the Properties within each card - errors"
The huge JSON after the Heading :  Properties within each card
has a few syntactial errors:
{	is missing in first line - before	"general":  (Line 1)
{	is missing at the end of 		"general":  (Line 1)
,	is missing at the end of 		}	    (Line 12)	just before the line with:	"legend": [
finally 2 closing
}	are missing at the end of the JSON

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-20 15:31] davidiseminger commented on #1410
Thanks for your comment, @TheSaltyKorean - we're in the process of updating that article, and will address that and other questions in the next update. Thanks.

[2019-09-20 15:31] #1410 closed

[2019-09-20 15:33] davidiseminger commented on #1411
Thanks for your comment, @mpsingh24. There are many, many data sources out there and coverage of all of them as you described would be challenging, and run the risk of leaving some out unintentionally.

That said, you can submit product feedback or feature ideas by going to https://ideas.powerbi.com, including asking for creating a list like you describe. You can also engage with the Power BI engi

[2019-09-20 15:33] #1411 closed

[2019-09-20 15:36] davidiseminger commented on #1426
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests. I believe if you just experiment with your report and model, you'll learn how forecasting (what I believe you mean by a trend line) works in reports.

Another avenue for input on your question is from the community (https://community.powerbi.com) or

[2019-09-20 15:36] #1426 closed

[2019-09-20 15:38] davidiseminger commented on #1436
Thanks for your comment @adamwp1993. We don't generally list data sources that are _not_ supported for a given feature, since that could be a vast and open-ended list. Rather, we clarify which sources are supported.

[2019-09-20 15:38] #1436 closed

[2019-09-20 15:41] davidiseminger commented on #1335
We're in the process of updating this article with changes to its functionality, and adding more information. Should be available in the next week or so, so hopefully the updates address your post. Thanks for your post, and your suggestions.

[2019-09-20 15:41] #1335 closed

[2019-09-20 15:42] davidiseminger commented on #98
We've updated this Themes article with much more information, and structured theming (overall) to be more user friendly. Hopefully the instructions and changes are helpful, and address your post.

[2019-09-20 15:42] #98 closed

[2019-09-20 15:43] davidiseminger commented on #307
We've recently updated the Themes article, and the feature's functionality, with a whole host of improvements. Hopefully this addresses your concerns, thanks for posting.

[2019-09-20 15:43] #307 closed

[2019-09-20 15:46] davidiseminger commented on #1389
Thank you for your feedback, we appreciate your input. We also strive to make our products accessible, even though some examples (like what you cited) may not be great examples of the best practices for accessibility. We'll continue to improve our samples and examples, always with accessibility in mind.

[2019-09-20 15:46] #1389 closed

[2019-09-20 16:11] mgblythe commented on #1442
Thanks for your comment, @poujor. I've assigned this issue to the doc author for review.

[2019-09-20 16:30] adamwp1993 commented on #1436
SAP/BW is under the list of things that you can connect with but our product group has stated that it is not supported :

The following list shows which connectors you can currently use by copying and pasting the M query into a blank query:

SAP Business Warehouse
	Azure analysis Services
	Adobe Analytics
	ODBC
	OLE DB
	Folder
	SharePoint Online folder
	SharePoint folder
	Hadoop HDFS
	Azure HDInsi

[2019-09-20 17:40] gflores1023 opened #1443 "Should mention this is Windows only"
I believe this is Windows only? It should mention that in the requirements since this doesn't work on Mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcb95bc-abb8-5147-ddc5-00714e30f79b
* Version Independent ID: 45626f2c-9e5c-6bdd-6fbb-b82c279962e0
* Content: [Analyze in Excel for Power BI - Power BI](https://docs.

[2019-09-20 17:41] davidiseminger commented on #1436
Hi @adamwp1993 , sorry for my misunderstanding. I've removed SAP from the list of supported connectors. The article will update and be live within ~24 hours.

[2019-09-20 19:12] rogersmj opened #1444 "How can you tell if Query Caching is working?"
This sounds like the answer to our prayers (we have lots of QPU-intensive calculations but loads of memory headroom), but it doesn't seem to work. I enabled it on one of our heavy datasets, which has a calculation that typically takes around 80 seconds to complete. After enabling, that calculation still takes 80 seconds to complete every time I load the report.

[2019-09-20 21:21] mgblythe commented on #1443
Thanks for your comment, @gflores1023. I've assigned this issue to the doc author for review.

[2019-09-20 21:24] mgblythe commented on #1444
Hi @rogersmj - thanks for the question. Was this related to a specific doc you were reading? We might be able to add something to the docs, but in the meantime, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2019-09-22 07:57] laurent-mic commented on #1441
Hi,
I am unable to reproduce this case. The only parameter accepted is **emailAddress**.
Sending this pots request with parameters like userEmailAddress, UserEmailAddress, EmailAddress, will return a Bad Request message is received (400).

Please check again and if you still see this strange behavior, please send more details: which version of the API you are using + details network traces of the

[2019-09-23 07:23] timp3261 opened #1446 "Does the availability include Southeast Asia?"
Hi,
I saw Asia Pacific in the list but am not sure about Southeast Asia.
Please clarify.
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1ae590-933f-bf65-888e-03dbf0ddc252
* Version Independent ID: ae8f54bb-5fdb-a071-528d-169b4b766be6
* Content: [Multi-Geo support for Power BI Premium - Power BI](https://do

[2019-09-23 07:31] alexander-korn commented on #307
Hello David unfortunately action buttons and more importantly toggles for visual headers are still missing

[2019-09-23 09:07] DanielOverdevest commented on #75
@davidiseminger , this feature will help us a lot but we're not able to use this new feature. I updated PowerBI to the latest release September 2019 and if I create a new button and select "bookmark", go to Outline I see only the old 3 options: Default State, On Hover, On Press. Not the new "Selected" option. Can you have a look? Thanks!

[2019-09-23 11:29] joebrown42 commented on #1409
Hi. this is crucial for me in a project I am working on. Does RLS pass through the Analyze in Excel option?

[2019-09-23 11:42] Chai-NED commented on #995
+1, I need the Billing Profile ID to show up in my Azure portal please.

[2019-09-23 12:59] nphadro commented on #1409
@davidiseminger any updates? Thanks

[2019-09-24 00:01] awentzel opened #1448 "Report View disappears when manipulating table data"
There doesn't appear to be any way to get Report Viewer back once it's gone.  I went to edit table data and now the left-navigation just shows tables.  But, I want the left-navigation that defaults on Power BI Desktop when opening existing Power BI file.

"You can switch between Report View, Data View, and Relationship View by selecting the icons in the left-hand navigation bar:"  How do users get

[2019-09-24 05:59] JeyanthVictory commented on #566
@markingmyname , when I tried to run the project in the github link you provided, it throws error.
![image](https://user-images.githubusercontent.com/36911889/65485065-6455ae00-debe-11e9-974b-8c14ef88e73f.png)

I manually installed the required peer dependencies and did `npm start` again. It throws

![image](https://user-images.githubusercontent.com/36911889/65485122-8ea76b80-debe-11e9-8d1f-d3478f

[2019-09-24 10:53] Shaney-ops opened #1449 "pbiviz start > Error in visual.ts 'TS2741: Property 'foreach' is missing in type 'HTMLCollectionOf<HTMLHeadElement>' but required in type 'NodeListOf<HTMLHeadElement>'.'"
Hi all,

I am having difficulties loading this visual.ts when executing "pbiviz start".
Something is off in this file and I can't seem to find the issue.

Can somebody help me?

I'm getting the following messages:

The code in visual.ts is:
[code]

[2019-09-24 17:23] rhalabi opened #1450 "All data not showing in metrics tool sections."
I am not seeing all data in the metrics tools for my premium workspaces. I have valid workspaces with datasets, but these workspaces/datasets do not show up in the corresponding dataset size and  dataset query durations sections in the metrics tool.  Many are missing, not just a couple.

[2019-09-24 18:01] mihart commented on #1450
Thanks for your comment, @rhalabi . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-24 18:02] #1450 closed

[2019-09-24 18:02] mihart commented on #1449
Thanks for your comment, @Shaney-ops . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-09-24 18:02] #1449 closed

[2019-09-24 18:04] mihart commented on #1448
Thanks for your comment, @awentzel . This issue has been assigned to the doc author for review.

[2019-09-24 18:05] mihart commented on #1446
Thanks for your comment, @timp3261 . This issue has been assigned to the doc author for review.

[2019-09-25 06:16] flanakin commented on #1264
To change the number of months, go to Edit Queries > (select query) > Advanced Editor.

[2019-09-25 14:45] mgblythe commented on #1367
The example is now updated to `=IF(OR(ISBLANK([Sales]), [Sales] == 0), BLANK(), [Profit] / [Sales])`. Thanks @Oxenskiold-DAX, closing this one out.

[2019-09-25 14:45] #1367 closed

[2019-09-25 14:49] mgblythe commented on #1353
@chizhova - the files are there, click **Download** on the GitHub page. @mihart - can you add a quick explanation to the doc?

[2019-09-25 14:54] mgblythe commented on #1264
@maggieMSFT, can you update the doc or reassign as appropriate?

[2019-09-25 14:56] mgblythe commented on #1035
Closing this one out based on the last update. @ybulman - feel free to reopen if you're still seeing issues.

[2019-09-25 14:56] #1035 closed

[2019-09-25 14:58] mgblythe commented on #983
Closing this one out based on the last update.

[2019-09-25 14:58] #983 closed

[2019-09-25 15:49] MI77 commented on #1324
Made PR https://github.com/MicrosoftDocs/powerbi-docs/pull/1451

#please-close @mgblythe - can you edit for clarity please? :)

[2019-09-25 15:50] #1324 closed

[2019-09-25 17:30] bfrancom opened #1452 "Row Level Security vs Role Level Security"
Both this page and the Power BI security whitepaper¹ reference "RLS". In the whitepaper, it denotes Role level security, while this page denotes Row level security (Row vs Role, but use the same acronym).
Are these the same things?
1. https://docs.microsoft.com/en-us/power-bi/whitepaper-powerbi-security#user-authentication-to-data-sources

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-25 17:33] bfrancom opened #1453 "Row Level Security vs Role Level Security"
Both this page and the Row-level security page¹ reference "RLS". In this whitepaper, it denotes Role level security, while the other page denotes Row level security (Row vs Role, but use the same acronym).
Are these the same things?
1. https://docs.microsoft.com/en-us/power-bi/service-admin-rls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-25 17:34] bfrancom commented on #1453
I opened one issue for each page. I hope that was correct.

[2019-09-25 18:21] maggiesMSFT commented on #1441
Hi, @scottmelhop -- closing the issue. If you still see the strange behavior, you can submit more details.

[2019-09-25 18:21] #1441 closed

[2019-09-25 18:26] maggiesMSFT commented on #801
Hi, @JustinGrote -- sorry for the delay! This functionality works for me -- I can see new workspaces in Teams. Closing the issue. You can reopen if necessary.
Thanks!

[2019-09-25 18:26] #801 closed

[2019-09-25 18:31] mgblythe commented on #1324
Thanks @MI77. @Anmolgan81 - here's the new FAQ entry:

**Question:** My data source already has security roles defined (for example SQL Server roles or SAP BW roles). What is the relationship between these and RLS?

**Answer:** The answer depends on whether you're importing data or using DirectQuery. If you're importing data into your Power BI dataset, the security roles in your data source aren't

[2019-09-25 18:37] bensack commented on #1118
Hi @JulsGranados,

Power BI will store dataflows in storage it provides you within the Power BI service. You will be able to access the data stored in Power BI's service, via the Dataflows connector. You have an option to provide your own storage account, if you would like to access the "CDM Folder" created by the dataflow directly in the lake. And, you can still leverage the Dataflows connector t

[2019-09-25 19:30] maggiesMSFT commented on #652
Thanks for your question, @DeanGross! Adding that info to https://docs.microsoft.com/en-us/power-bi/service-admin-portal#workspaces-preview

[2019-09-25 19:30] #652 closed

[2019-09-25 19:42] Anmolgan81 commented on #1324
So RLS is supported in sap bw?

Regards
Anmol Ganju

________________________________
From: Michael Blythe <notifications@github.com>
Sent: Thursday, September 26, 2019 12:01:50 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Does RLS Support Import connection

[2019-09-25 21:41] maggiesMSFT commented on #514
Hi, @camwally -- sorry for the delay. I've confirmed that Cortana is deprecated., so I can remove it from the article. I'm checking on the Q&A part.
Thanks for asking!

[2019-09-25 22:25] maggiesMSFT commented on #1264
Thanks for the suggestion, @flanakin !
Hi, @tkumark -- @flanakin has a good suggestion. It does require using Power BI Desktop instead of the Power BI service. See this article for details:
https://docs.microsoft.com/en-us/power-bi/desktop-connect-azure-consumption-insights
I'll add a link to that article from this article. Thanks!

[2019-09-25 22:25] #1264 closed

[2019-09-26 04:02] kthejoker opened #1454 "Slicers do support visual level filters now."
See title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f177d47-9600-eab6-a282-09d40d5c2dff
* Version Independent ID: 792909b9-e2fa-8a31-1da9-2223307e799d
* Content: [Tutorial - Slicers in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-slicers)
* Content Source: [powerb

[2019-09-26 15:25] ManonHotte opened #1455 "Download gateway link doesn't work"
The link doesn't work :
HTTP Error 500
http://download.microsoft.com/download/D/A/1/DA1FDDB8-6DA8-4F50-B4D0-18019591E182/PowerBIGatewayInstaller.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Content: [On-premises

[2019-09-26 16:09] abshakibaBT opened #1456 "Does Quickbooks Online still exist?"
In section 2, when I search for QuickBooks Online app, only the PREVIEW version of it shows up which is not free and works with Power BI Pro.
Am I missing something here, that the free version of QuickBooks Online doesn't show up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a74e3ffd-eefd-e93f-2a88-20d872922762
* Ver

[2019-09-26 16:18] davidiseminger commented on #995
Thank you for your input and feedback. Updates to this article are in the works, which will hopefully address all of these concerns and questions. Adding the owners of the updates and services. @bandersmsft

[2019-09-26 16:21] davidiseminger commented on #1197
Adding additional content folks to review and comment.

[2019-09-26 16:43] davidiseminger commented on #1387
Thank you for pointing this out @vksf01 - you are indeed correct. I've updated the document, which will be live in the next ~24 hours. Thanks for posting!

[2019-09-26 16:43] #1387 closed

[2019-09-26 16:49] davidiseminger commented on #1403
Thanks for your post - it applies to both.

[2019-09-26 16:49] #1403 closed

[2019-09-26 17:02] davidiseminger commented on #1427
Thank you for your comments. I've updated that article, and added a note that lets readers know the implications of where they select the file, folder, worksheet and so on. Directly below that note, it (already) specifies that you can combine files as long as they have the same file structure. These updates will be live in the next ~24 hours.

[2019-09-26 17:02] #1427 closed

[2019-09-26 17:09] davidiseminger commented on #1442
Thank you @poujor  - and apologies for those missing syntax elements. I've updated that sample, and it'll be reflected in the live article in ~24 hours. THANK YOU for taking the time to post those corrections!

[2019-09-26 17:09] #1442 closed

[2019-09-26 17:12] davidiseminger commented on #1443
Good point @gflores1023  - I've added that to the requirements.

[2019-09-26 17:12] #1443 closed

[2019-09-26 17:13] bandersmsft commented on #995
@davidiseminger I'm getting Ben's input on this.

[2019-09-26 17:15] davidiseminger commented on #1448
Thanks for posting @awentzel - I haven't seen or heard of the Report view disappearing (it is a selection found on the left side of the canvas), so it appears this may be a support issue that should be taken up, for further investigation, rather than a documentation issue.

You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by g

[2019-09-26 17:15] #1448 closed

[2019-09-26 17:18] davidiseminger commented on #1384
Adding @bensack for further support on the process. We'll investigate and update the article as appropriate. Thanks!

[2019-09-26 17:31] maggiesMSFT commented on #1453
Hi, @bfrancom -- thanks for your question(s)! I'll assign both to the authors.

[2019-09-26 17:32] maggiesMSFT commented on #1452
Hi, @bfrancom -- thanks for your question(s)! I've assigned both to the authors.

[2019-09-26 17:33] maggiesMSFT commented on #1454
Hi, @kthejoker -- thanks for pointing that out! Assigned to the author.

[2019-09-26 17:38] maggiesMSFT commented on #1455
Hi, @ManonHotte -- Thanks for your question!
I don't find this link, http://download.microsoft.com/download/D/A/1/DA1FDDB8-6DA8-4F50-B4D0-18019591E182/PowerBIGatewayInstaller.exe, on this page. Could you check again?
Thanks!

[2019-09-26 17:45] mgblythe commented on #1118
Thanks @bensack, assigning back to @davidiseminger in case we need a doc update.

[2019-09-26 17:50] maggiesMSFT commented on #1001
Hi, @dlopez831 -- so true! Article is fixed.

[2019-09-26 17:50] #1001 closed

[2019-09-26 18:03] teddybercovitz commented on #1456
Hi @abshakibaBT, The app itself is free - we will remove the (preview) in next weeks.
Regarding pro - Installing a template app requires PowerBI pro while service content packs could be installed by a free user.
Service content packs were deprecated - if you have already installed a content pack it will continue to work.

[2019-09-26 18:04] davidiseminger commented on #1409
@nphadro  -  yes, RLS passes through when using Analyze in Excel.

[2019-09-26 18:04] #1409 closed

[2019-09-26 18:04] maggiesMSFT commented on #1456
Thanks, @teddybercovitz ! Closing the issue

[2019-09-26 18:04] #1456 closed

[2019-09-26 18:35] bandersmsft commented on #995
First, there are currently two connectors: one supports EA, the other MCA. No other billing accounts are supported by either connector, so Microsoft internal account's aren't supported. We are in the process of splitting this article into two so that each one is specific to it's own connector. I expect the result will help prevent confusion.

The Azure Consumption Insights connector only supports

[2019-09-26 18:35] #995 closed

[2019-09-26 21:45] maggiesMSFT commented on #1021
Hi, @vrod9429 -- are data alerts working for you now? If not, I suggest reading through the article again and make sure the situation meets all the criteria. If that doesn't resolve it, check the Power BI Community, https://community.powerbi.com/, to see if anyone else has experienced anything similar. Barring that, try the Support site, https://powerbi.microsoft.com/en-us/support/.
Good luck!

[2019-09-26 21:45] #1021 closed

[2019-09-26 21:50] maggiesMSFT commented on #1434
Hi, @sandramcg -- good idea! I don't know if I can get larger versions. I can't just make these images larger. They will look funky. I'll check and let you know.
Thanks!

[2019-09-26 21:58] christianwade commented on #1110
Hi @rcfoyn

Cell level security is described here: https://docs.microsoft.com/en-us/analysis-services/multidimensional-models/grant-custom-access-to-cell-data-analysis-services

Dimension security doesn't necessarily mean the user doesn't have access to the whole dimension, it can be just the restricted members. Further info here: https://docs.microsoft.com/en-us/analysis-services/multidimensional

[2019-09-26 21:59] christianwade commented on #1110
#please-close @mgblythe

[2019-09-26 21:59] #1110 closed

[2019-09-26 22:01] christianwade commented on #1265
Hi @GeorgeCMElliott, yes read-only users can utilize aggregated datasets. They just can't query the agg table. Queries to the detail table are redirected to the agg table.

[2019-09-26 22:01] christianwade commented on #1265
#please-close @mgblythe

[2019-09-26 22:01] #1265 closed

[2019-09-27 07:31] DomHel opened #1458 "command-line options"
1) please add a "-nocancelbutton" option when using "-passive" command-line switch (like qb-! MSI switch)
2) you forget to mention that the property DISABLE_UPDATE_NOTIFICATION=1 can also be used as a syntax parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322970ff-d62a-adeb-c8b3-d1141d3a272f
* Version Independ