[2021-04-13 23:01] ennismenace opened #2971 "Ability to add line formula to Scatter Plot trendline. You competitors have had it for years!"
I love to use trendlines and my user love to see the formulas.  When is this going to be added to Power BI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbf6763-4952-5335-cefb-ae4e85fd9028
* Version Independent ID: cb734eb1-fb6d-b7aa-735a-17b5ba8ca7fd
* Content: [Use the Analytics pane in Power BI Desktop - Power BI

[2021-04-14 20:45] Pacoup commented on #2886
Hi, is it possible to get an answer to this question? We really need to know whether we can publish Power BI reports online as is or if we have to create an accessible alternative with another tool for our Government of Canada website, which is mandated to pass WCAG 2.1. Thanks.

[2021-04-14 20:54] rosscouldrey opened #2972 "MariaDB connector"
The table shows for MariaDB connector that a Gateway is required, but it also shows that a Gateway is not supported.  Is this correct?  It seems contradictory.

https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources#data-sources-m-o

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156

[2021-04-14 20:59] mihart commented on #2966
https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-paginated-reports-customers

[2021-04-14 21:00] maggiesMSFT commented on #2886
Hi, @Pacoup -- here is the article about creating accessible Power BI reports: https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-accessibility-creating-reports
Hope that helps answer your question!

[2021-04-14 21:01] mihart commented on #2967
Thanks for your comment, @gmeronek . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-14 21:01] #2967 closed

[2021-04-14 21:02] mihart commented on #2968
Thanks for your comment, @ChiliGuy . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-14 21:02] #2968 closed

[2021-04-14 21:03] mihart commented on #2969
Thanks for your comment, @. This issue has been assigned to the doc author for review.

[2021-04-14 21:04] mihart commented on #2970
Thanks for your comment, @erickpolsky . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-14 21:04] #2970 closed

[2021-04-15 10:08] stevozilik opened #2973 "How to Embed PowerBi Reports with Blazor WebAssembly"
I'm struggling to adapt the examples for Blazor WebAssembly, could you please provide some guidance/examples for Blazor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90078026-b608-ccf2-f3ef-58021b484f75
* Version Independent ID: e51ab568-5610-ff18-c5c0-4d2f27935dfa
* Content: [Embed content in your Power BI embedded

[2021-04-15 15:48] satyakeerthikotte opened #2974 "Workspace Tenant setting prerequisite missing in the doc"
HI Team,

I am Satya Kotte from Power BI CSS. I had a case where the "Save a copy" settings was grayed out. Based on this doc we looked into all the prerequisites and cx had both pro and build permissions; however she was still not able to see this option. After checking the tenant settings to just check if there is any setting it could effect this feature; I found that disabling Use datasets acro

[2021-04-15 16:56] Pacoup commented on #2886
@maggiesMSFT This does not answer the question. That article is about creating accessible reports inside Power BI, but makes no mention of reports **published to the web**.

Specifically, the mention on [Overview of accessibility in Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-accessibility-overview) seems to imply that Power BI reports are only accessible if accessed

[2021-04-15 17:19] maggiesMSFT commented on #2886
Oh! This article https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-accessibility-creating-reports definitely applies to reports on the web, i.e., the Power BI service.
I'll check to see if it also applies to Publish to Web reports.

[2021-04-15 19:07] DavidPeraza opened #2975 "Need more info on deploying datasets connected to dataflows"
Hello, I'm from Power BI CSS.

We recently had 3-4 cases where deploying from one stage to the next failed when the dataset was connected to a dataflow in the same workspace. This was working for some time, but PG has clarified that this scenario is not supported.

However, if the dataset and source dataflow are in different workspaces, then the deployment works correctly. We would like to see a r

[2021-04-15 21:04] ryeguy637 opened #2976 "relationship between AllowAdHocSubscriptions and AllowSelfServicePurchase"
[Enter feedback here]
It would be helpful if this article indicates whether self service purchase is possible if the allowadhocsubscriptions is set to false.

In other words, if you set AllowAdHocSubscriptions to false, does that make blocking selfservice purchase using the mscommerce cmdlets unnecessary?

Or are these two settings mutually exclusive?

Thanks.

---
#### Document Details

⚠ *Do not

[2021-04-16 08:09] Heniekwpracy opened #2977 "Not clear what is needed to export summarized data"
Hi Team!
This sentence in "Limitations and considerations" is confusing for me:
"To export the data from a visual, you need to have Build permission for the underlying dataset."

because in this article: [https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-build-permissions](url)
you write:
"Users also need Build permissions to work with the data outside Power BI:
To export the

[2021-04-16 08:52] SteveFringe opened #2978 "Clarification needed on dataset vs report download"
Hello,
according to the document:
Datasets with incremental refresh can't be downloaded to a .pbix file.
Datasets enabled for large models can't be downloaded to a .pbix file.
Datasets modified by using the XMLA endpoint can't be downloaded to a .pbix file.

But in reality it seems that even reports that are using such datasets (via live connection) can't be downloaded as pbix.
Example:
Dataset ab

[2021-04-16 17:04] maggiesMSFT commented on #2978
Hi, @SteveFringe -- thanks for asking! I'll investigate and report back.
In the meantime, consider asking the community, https://community.powerbi.com/

[2021-04-16 17:20] maggiesMSFT commented on #2963
Hi, @orange-copilot -- thanks for your question! Did @MattRudy 's answer work for you? And thanks, @MattRudy , for your answer! I can mention that in the article.

[2021-04-16 17:25] maggiesMSFT commented on #2964
Hi, @rstephensBT - I'm sorry the page isn't helpful. It serves as a list of when features became available, and links to all available previous versions. Versions that are no longer available aren't listed. You'll need to provide feedback on https://ideas.powerbi.com/ideas/.

[2021-04-16 17:25] #2964 closed

[2021-04-16 17:29] maggiesMSFT commented on #2965
Wow, good catch, @WhiteyC ! What a difference a Return character makes... Fixed! Update will be live this afternoon, 16-april-21

[2021-04-16 17:29] #2965 closed

[2021-04-16 17:31] maggiesMSFT commented on #2972
Hi, @rosscouldrey -- thanks for asking! Assigned to author to investigate.

[2021-04-16 17:52] maggiesMSFT commented on #2973
Hi, @stevozilik -- thanks for your question! Assigning to the author for consideration.

[2021-04-16 18:14] rstephensBT commented on #2964
You said "links to all available previous versions."  That's the problem. There are many versions listed (all prior to the September 2020 version) that ARE on the page, but have NO download links.

[2021-04-16 18:40] mxeliezer opened #2979 "Great tutorial"
Great tutorial on data handling, easy to follow and to apply. Everything works fine for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb0f7e4-74cd-dadb-c2ce-4b6c0c511e20
* Version Independent ID: 0d14b983-c47a-1fa7-7103-15182735f26b
* Content: [Tutorial: Combine data from Excel and an OData feed in Power BI Deskt

[2021-04-16 18:56] maggiesMSFT commented on #2977
Hi, @Heniekwpracy -- yes, you've got that right! We can update the articles to be clearer that you only need Build permission to export the underlying data, and not the summarized data in the visual itself.

[2021-04-16 18:58] maggiesMSFT commented on #2979
Hi, @mxeliezer -- thanks for letting us know! Assigning the author so he's aware.

[2021-04-16 18:58] #2979 closed

[2021-04-16 19:02] maggiesMSFT commented on #2975
Hi, @DavidPeraza -- thanks for the info! Assigning to the author to consider.

[2021-04-16 19:04] maggiesMSFT commented on #2976
Hi, @ryeguy637 -- thanks for asking! Assigning to the author to investigate.

[2021-04-16 19:06] maggiesMSFT commented on #2964
Hi, @rstephensBT -- ah, to clarify: Previous versions are _listed_. Only _available_ previous versions have links. Is that clearer? Thanks!

[2021-04-16 19:08] maggiesMSFT commented on #2974
Hi, @satyakeerthikotte -- thanks for letting us know! Assigning to the author to address.

[2021-04-17 11:45] SteveFringe commented on #2978
hi @maggiesMSFT, unfortunately our company IT policy is so stupid that it doesn't allow posting into community and i can't login without ActiveDirectory, if i understand correctly.

[2021-04-17 16:36] paulinbar commented on #2974
Hi @satyakeerthikotte, do you know where the user was using when they saw the grayed out Save a copy? Were they in lineage view? List view? In the datasets hub? Somewhere else?

[2021-04-18 07:50] djpirra opened #2980 "Deeper explanations and diverse examples"
Please provide more coding explanations and more set of examples on how to add conditional formatting to custom visuals.
I have implemented it for a color attribute but apparently it is not being read correctly and there are not enough explanations on this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2021-04-18 10:32] djpirra commented on #2483
How was I able to get my answer if none was given here? Please do not close this thread since I still do not have it clarified by the team.

[2021-04-18 18:30] rstephensBT commented on #2964
It's clearer, but still unhelpful.  Only Microsoft would make one of their products incompatible with another one, officially tell people that their only remedy is to download X specific version from a specific page, then specifically make X specific version unavailable on that page.

[2021-04-19 00:23] Dan1480 opened #2981 "Cannot create live connection to Power BI dataset if dataset has a live connection to on-prem SSAS"
It seems that is not possible to create a live connection to a Power BI dataset from Power BI desktop if that dataset contains a live connection to an on-premises Analysis Services model.
If true, please add a point to the Limitations and Considerations section.
Repro steps:
1. From Power BI Desktop establish a connection to an on-prem Analysis Services model.
2. Save and publish the report to the

[2021-04-19 09:50] paulinbar commented on #2980
Hi @djpirra, thanks for your comment. I have forwarded it on the the doc author for further consideration.

[2021-04-19 09:54] paulinbar commented on #2981
Thanks for your comment @Dan1480. I have forwarded your observation on the the doc author for further consideration.

[2021-04-19 10:14] #2890 closed

[2021-04-19 10:22] KesemSharabi commented on #2973
Thanks for your comment, @stevozilik.

I'm not familiar with Blazor and would not be able to help you with adapting the current example.

I suggest that you open a support request.

You might also find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

Thanks,

Kesem

[2021-04-19 10:22] #2973 closed

[2021-04-19 11:00] KesemSharabi commented on #2975
Hi @DavidPeraza,

Let me check this with the PM and get back to you.

Thanks,

Kesem

[2021-04-19 11:16] KesemSharabi commented on #2980
Thanks for your comment, @djpirra.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

@djpirra - can you also be more specific regarding your problem? If it's something simple perhaps we might be able to help.

[2021-04-19 11:29] KesemSharabi commented on #2975
Hi @DavidPeraza,

One more thing while this is being checked - at present dataflow isn't supported so whatever the outcome of the devs check is, deploying dataflows can't be guaranteed.

[Unsupported items](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-process#unsupported-items)

![image](https://user-images.githubusercontent.com/54834915/115229323-94594780-a11b-11eb-95ba

[2021-04-19 12:13] KesemSharabi commented on #2966
Hi @kdvis,

A paginated report connected to an on-prem SQL is supported. You don't need to provide a dataset ID for paginated reports.

[Create the embed token](https://docs.microsoft.com/power-bi/developer/embedded/embed-paginated-reports-customers#create-the-embed-token).

![image](https://user-images.githubusercontent.com/54834915/115234412-ae962400-a121-11eb-9ca4-06a158c8d411.png)

Hope this h

[2021-04-19 12:59] djpirra commented on #2980
Hi Kesem,

I actually disagree with the fact of being a support request. Actually my
point was to highlight the fact that I believe the documentation is poor
regarding this context.
There are many situations where the feature is not working, and the
examples given are incomplete to the point of not understanding how to
achieve it.

I do believe it should be improved and provided more context aroun

[2021-04-19 15:24] chrisweis opened #2982 "Needs clarification of enterprise deployment path for Analyze in Excel"
This page has no mention of how to deploy Analyze in Excel across an enterprise via software packaging (when users don't have local administration rights on a PC).  Which software should be deployed?  Where is the version history?  How does this software relate to other similar software such as "Analysis Services client libraries" or "Microsoft® Analysis Server® Feature Pack"?  What MS Office vers

[2021-04-19 17:03] kdvis commented on #2966
Thank you @KesemSharabi

I think the code snippet you reference to is using a namespace from an older version of the Power BI .NET client library (Microsoft.PowerBI.Api.V2). If you download the most recent package from NuGet, it's now just Microsoft.PowerBI.Api and Microsoft.PowerBI.Api.Models; Microsoft.PowerBI.Api.V2 will give you an error. Using the most recent package, I also can't create an i

[2021-04-19 17:45] maggiesMSFT commented on #2982
Hi, @chrisweis -- thanks for your questions! I'll investigate and get back to you.

[2021-04-19 18:34] DavidPeraza commented on #2975
Hey Kesem,

Thanks for reaching out. I realize the documentation does specify that Dataflows cannot be deployed, which is good.
I think the extra bit of info we need is on selective deployments. Selectively deploying only a dataset that connects to a dataflow in the same workspace fails.
Hope the attached image helps clarify a bit.

Thanks!

David Peraza Cortes
Support Engineer
Microsoft
Power BI

[2021-04-20 05:17] chrisweis opened #2983 "Are Paginated Reports also supported in A4-A6 SKUs?"
Hello,

In this document, it states "With Premium Gen2 and Embedded Gen2, Paginated reports are supported on the EM1-EM3 and A1-A3 SKUs."  That verbiage leaves it unclear whether Paginated reports are/aren't also supported in A4-A6 SKUs.  If Paginated reports are supported in A1-A6 SKUs, then should this text be modified?

Section URL is: https://docs.microsoft.com/en-us/power-bi/admin/service-pre

[2021-04-20 06:20] KerryWang94 opened #2984 "Update"
Please add a awareness in this document: "Please ensure your datasource provide OData service before using Odata connector "
Also referencing this document: https://docs.microsoft.com/en-us/powerquery-m/odata-feed
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29bfbd4c-5149-93be-3982-81af6852a5dd

[2021-04-20 08:46] KesemSharabi commented on #2975
Hi @DavidPeraza,

Here's the PM's response:

As part of our work to fully support dataflows within deployment pipelines, we currently have a bug in this area. We’re fixing the bug and are expecting it to be solved in two weeks.
Customers can either wait for the bug to be fixed, or remove the dataflow from the pipeline and re-connect the dataset to the dataflow once it’s in an external workspace.
T

[2021-04-20 08:46] #2975 closed

[2021-04-20 13:55] martaequintao opened #2985 "Wrong screenshot on section Invite external users to your organization"
Screenshot is wrong on section: https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal#invite-external-users-to-your-organization
![image](https://user-images.githubusercontent.com/45423022/115407996-68f05e80-a1e8-11eb-9a31-9ac23ed528c4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb228f2-d033-a44

[2021-04-20 14:20] mihart commented on #2056
Hi @mpoeckl ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-04-20 14:20] #2056 closed

[2021-04-20 14:32] mihart commented on #2983
Thanks for your comment, @chrisweis . This issue has been assigned to the doc author for review.

[2021-04-20 18:12] pcgeekus opened #2986 "Since OpenSSL no longer works, page needs updated"
Since OpenSSL no longer works, page needs updated to use only SAP's Encryption Library.
Jon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed1fef3-04bf-6ea9-d64a-bbdace3ef380
* Version Independent ID: 386311c5-3d43-2484-7a2e-56dac972ff20
* Content: [Enable encryption for SAP HANA - Power BI](https://docs.microsoft.com

[2021-04-20 19:02] mihart commented on #2986
Thanks for your comment, @pcgeekus . This issue has been assigned to the doc author for review.

[2021-04-20 19:57] paulinbar commented on #2985
Hi @martaequintao, thanks for taking the time to notify us. I have fixed the image. It should be online in about 3 hours. Thanks again!

[2021-04-20 19:57] #2985 closed

[2021-04-20 20:03] erapade opened #2987 "The article doesn't touch the subject of querying two datasets"
This article doesn't talk about connecting to two datasets at the same time. My understanding is that it doesn't work, but it's not listed as a limitation or as a preview limitation. If this is a limitation, it would be good if it's mentioned in the article

[2021-04-20 20:06] erapade commented on #2987
Sorry, this is probably a duplicate of isssue #2981

[2021-04-20 20:10] erapade opened #2988 "The article doesn't touch the subject of querying two datasets"
This article doesn't talk about connecting to two datasets at the same time. My understanding is that it doesn't work, but it's not listed as a limitation or as a preview limitation. If this is a limitation, it would be good if it's mentioned in the article

This is probably a duplicate of isssue #2981, but I might be slightly different

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-20 20:10] #2987 closed

[2021-04-20 20:11] erapade commented on #2987
Created without reference for article, so I close it and re-open another

[2021-04-20 23:16] mihart commented on #2988
Thanks for your comment, @erapade . This issue has been assigned to the doc author for review.

[2021-04-21 09:12] satyakeerthikotte commented on #2974
customer was viewing in the list view.
I am able to replicate the issue as well. Just checked I see the issue in both list and lineage view
![image](https://user-images.githubusercontent.com/27025039/115528534-be178900-a257-11eb-9ea2-bdae861706c3.png)
![image](https://user-images.githubusercontent.com/27025039/115528452-aa6c2280-a257-11eb-84fd-78f0b2712010.png)

[2021-04-21 17:27] MichaelFoundation commented on #2988
@PRMerger8 [Jan Michael Omondang](1500) Data complex will certify if those codes are within the listed log prefixed-update.

J

[2021-04-21 18:44] maggiesMSFT commented on #2974
Hi, @satyakeerthikotte -- thanks for bringing this to our attention! Closing this issue; I know you and @paulinbar will follow up offline.
Thanks again for helping improve the docs!

[2021-04-21 18:44] #2974 closed

[2021-04-22 01:48] rafoztr opened #2989 "Information Power BI RS"
This page does not mention whether Composite models are supported by Power BI RS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dffd6b4-434b-868e-56fe-a0f53fb655a1
* Version Independent ID: 894f109f-c20b-c9f3-0e42-f6980d454075
* Content: [Use composite models in Power BI Desktop - Power BI](https://docs.microsoft.com

[2021-04-22 02:36] vtitte2020 opened #2990 "Refresh timeout"
In the section “Scheduled Refresh Timeout”, in the specific line “ If you encounter this limit, consider reducing the size or complexity of your dataset, or consider breaking the dataset into smaller pieces.”

Last line “Breaking the dataset into smaller pieces” doesn’t make sense and needs to be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-22 03:57] JerrySmithLu opened #2991 "Publish an app in Power BI by cmdlets"
How to create an app from workspace by powershell script?

[2021-04-22 07:26] djpirra opened #2992 "Express Route / VPN Access to On-Premise"
Please provide details on the requirements when utilizing Express Route or VPN to access to on-premise data sources.
Many questions regarding if the on-premise data gateway is still a requirement etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c

[2021-04-22 15:47] MattRudy commented on #2991
Hey Jerry, you might want to check out [microsoft/powerbi-powershell](https://github.com/microsoft/powerbi-powershell), that Repo contains most PowerShell scripts for Power BI administration.

[2021-04-22 17:41] slavatrofimov opened #2993 ""Limitations in Premium Gen 2" section is incomplete"
Please enhance the "Limitations in Premium Gen 2" section by adding the details that workload management capabilities defined on a capacity are not available in Gen 2 capacities, such as:

- Query Timeout (seconds)
- Max Intermediate Row Count
- Max Result Row Count
- Etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-22 21:05] krs1demian commented on #2963
This is still an issue. I followed the steps @MattRudy provided and there are no options as described in the tutorial.
Related to this: in visual #2 I was only able to see the profit by month, it wasn't initially displayed by year as the tutorial described.
And i made sure that the "data type" in the column tools structure is "date"

[2021-04-22 22:37] reiniroosh opened #2995 "It's not possible to remove gateways or data sources"
This document for removing a gateway datasource says to click on the More Options, but those don't seem to appear, and so there's no way to remove a data source from powerbi.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e0c038-1195-d758-ccf4-903b689139ca
* Version Independent ID: 181904c0-1ec5-0a1d-4cbf-a5a639bb

[2021-04-23 00:23] maggiesMSFT commented on #2773
Hi, @BuntyMS -- In investigating your question, I was overlooking one crucial element: Power BI Report Server is on-premises, so it doesn't use gateways at all. I hope that clears up your question. Thanks!
cc:
@davidiseminger
@kfollis
@arthiriyer
@mibruhje

[2021-04-23 00:23] #2773 closed

[2021-04-23 10:37] HappymediaDz opened #2996 "Add a section on how to Delete the group"
Hi,

Maybe it is good to add a section on how to remove or delete the group. I was looking for a simple "**Delete**" command like for a meaure. Instead of that, we have to use the "**Delete from model**" and generally I'm affread of this command because I thougth it was about remouving all the table from the model not just the group

Regards,
Mehdi
---
#### Document Details

⚠ *Do not edit this se

[2021-04-23 12:17] InspektorDerrick opened #2997 "Please be more accurate"
The terms "build", "read" and "reshare" are still not clearly defined. Surprisingly, I can not find real definition, which of these permissions or which combination will lead to which opportunities or risks. Please add a unambigous description!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16dbd9ca-dcd3-a4f3-43a8-01ea

[2021-04-23 17:22] Rmatey opened #2998 "just a clarification"
Just wanted to point out that it is (at least on my version) "rssrvpolicy" rather than the stated "rssvrpolicy".

That is all. Good article!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e263433-a204-3888-ea1b-d4368c7798f2
* Version Independent ID: fe979f1f-b639-12a2-96cc-247be7e75785
* Content: [Upgrade Power BI Rep

[2021-04-23 18:05] maggiesMSFT commented on #2998
Hi, @Rmatey -- I bet you're right! Just checking to confirm.

[2021-04-23 18:07] maggiesMSFT commented on #2990
Hi, @vtitte2020 -- thanks for asking! Assigning to the author to resolve.

[2021-04-23 18:11] maggiesMSFT commented on #2991
Hi, @JerrySmithLu -- did @MattRudy answer your question? Thanks, @MattRudy !

[2021-04-23 18:14] maggiesMSFT commented on #2989
Hi, @rafoztr -- according to this page, https://docs.microsoft.com/en-us/power-bi/report-server/compare-report-server-service, it does not.
Hope that helps!

[2021-04-23 18:14] #2989 closed

[2021-04-23 18:26] maggiesMSFT commented on #2992
Hi, @djpirra -- thanks for asking! Assigning to the author to look into it.

[2021-04-23 18:27] maggiesMSFT commented on #2993
Hi, @slavatrofimov -- thanks for asking! Assigning to the author to look into.

[2021-04-23 18:28] maggiesMSFT commented on #2995
Hi, @reiniroosh -- thanks for your question! Assigning to the author to investigate.

[2021-04-23 18:38] maggiesMSFT commented on #2996
Hi, @HappymediaDz -- thanks for your suggestion! Assigning it to the author to look into it.

[2021-04-23 18:41] maggiesMSFT commented on #2997
Hi, @InspektorDerrick -- good questions! It does get complicated. Assigning to the author to disambiguate.

[2021-04-23 19:07] maggiesMSFT commented on #2995
Hi, @reiniroosh -- got you an answer already! First, the More options may be collapsed down to just 3 dots, ... Do you see that?
If not, you need to open a support ticket at https://powerbi.microsoft.com/en-us/support/.
Hope that helps!

[2021-04-23 19:07] #2995 closed

[2021-04-23 21:25] reiniroosh commented on #2995
Umm, yes, and no.

I do NOT see the three dots. Until I hover my mouse over the space where they would be.
You can see how that could cause a lot of confusion?
There's no visual indicator at all that something is there until you hover your mouse in the magic spot.

![image](https://user-images.githubusercontent.com/7827702/115931164-84a17200-a43f-11eb-9f3f-2b53614c178f.png)

![image](https://user-

[2021-04-23 22:08] maggiesMSFT commented on #2995
@reiniroosh -- that is really useful feedback. Could you enter it in the Ideas site, so it will get to the product team directly?
https://ideas.powerbi.com/ideas/
Thanks!

[2021-04-24 19:33] MartinBubenheimer opened #3000 "Lower example shows poor report design"
In the lower report yellow means "Moderate" in one chart and "Yes" in the other chart. It's report design basics to use same color for same thing consistently within a report. You shouldn't make BI learners get used to such poor report design.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d0aaa2-486e-f7fa-522f-5647a

[2021-04-25 06:51] paulinbar commented on #3000
Hi @MartinBubenheimer, thanks for your comment. I am forwarding it on to the doc author for consideration.

[2021-04-25 21:11] VitalyMCT opened #3001 "Current R runtime version"
From the article:

Can you please confirm that this documentation aspect is still current?

According to https://mran.microsoft.com/release-history, Microsoft R 3.4.4. was released 3 years ago. This obviously makes it very dated.

If the documentation is indeed accurate, can you please advise when the R runtime within Power BI Service will be updated to a newer version, such as Microsoft R Server

[2021-04-25 22:08] VitalyMCT commented on #2307
Can we please get some feedback on this one? It's indeed something that's rather important to many Power BI customers. The supported version is now over 3 years old.

[2021-04-26 09:51] andyreadman opened #3002 "Get Billing Account instructions not clear and no longer valid"
The screenshot of the Billing Account details shows a highlight around billing account type which I believe is misleading, when the Billing Account ID is what is required.

Also, it seems it's not possible to get the Billing Account information for a CSP subscription in this way anymore, there's no properties within the Cost Management / Cost Analysis section.

---
#### Document Details

⚠ *Do not

[2021-04-26 12:54] KesemSharabi commented on #2966
Hi @kdvis,

You're right, the code snippets are old. We're in the process of updating all of our samples, and the  docs will follow once the samples are updated.

In any case, the new samples work with embed token V2 ([multi-resource](https://docs.microsoft.com/rest/api/power-bi/embedtoken/generatetoken)) which doesn't support paginated reports.

The AppOwnsData scenario supports paginated reports

[2021-04-26 14:54] richardharrison2 opened #3003 "What units is the 'usage' column in the preparation report?"
Hi,
The emissions section at the top of the page makes sense, however for the usage section at the bottom of the page i don't understand what units usage is being measured in? The documentation doesn't seem to say and the video that goes along with this doesn't explain either?

Is it number of resources/hours/days/something else ?

Thanks,
Rich

---
#### Document Details

⚠ *Do not edit this secti

[2021-04-26 17:21] CristianDuca opened #3004 "PowerBI REST API | Export To File In Group"
Hi all
Trying to use this this method to Export the specified report from the specified workspace to the requested format.
https://docs.microsoft.com/en-us/rest/api/power-bi/reports/exporttofileingroup#code-try-0

POST https://api.powerbi.com/v1.0/myorg/groups/{groupId}/reports/{reportId}/ExportTo

This is what I get:
Response Code: 202

JSON Body:

{
  "@odata.context": "someURL",
  "id": "IDremo

[2021-04-26 17:41] MattRudy opened #3005 "visualType list is missing several recently added visuals"
visualType list on page [powerbi-docs/create-reports/desktop-report-themes.md](https://github.com/MicrosoftDocs/powerbi-docs/blob/master/powerbi-docs/create-reports/desktop-report-themes.md) should be expanded to include recent visualTypes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac6822

[2021-04-26 21:21] kdvis commented on #2966
Thank you, @KesemSharabi , your guidance helped and my paginated report is embedding in my app! Here is what I did:

1. Downgraded Microsoft.PowerBI.Api version 3.x to version 2.x
2. Updated the section of the sample code that generates the embed token, using the code snippets from the docs as reference

I guess I will keep an eye out to see if and when V2 embed tokens will support paginated repor

[2021-04-26 21:21] #2966 closed

[2021-04-27 00:45] wdeguara opened #3007 "Additional Limitations"
In addition to above listed Considerations and Limitations:

1. It is important to note that once an external participant has been invited in PowerBI B2B, the invitation cannot be withdrawn. In other words, if you elect to remove a guest from access a workspace, the guest is still able to access the workspace even though they are no longer authorised to do so.  (BTW.  This has been reported as a s

[2021-04-27 09:39] TwiddlyTiger opened #3008 "Page can mention lack of support for non-colour text values"
To avoid repeated queries on the same question (which is also how I happened on this page), in 'considerations and limitations' the page could mention that conditional formatting in matrix visuals (unsure about tables) doesn't support text values, apart from w3-recognised colours.

For example, unlike in Excel, it's not possible to colour-code text values to display as a particular colour, such as

[2021-04-27 20:42] VitalyMCT commented on #2902
@maggiesMSFT Is it possible to get an update please? We are still blocked.

[2021-04-27 20:50] maggiesMSFT commented on #2902
Hi, @VitalyMCT -- I'll check with the author.
Thanks!

[2021-04-27 20:53] VitalyMCT opened #3010 "Data gateway"
It's been almost 1.5 years since this article was updated. In the meantime:

1. The personal gateway has been renamed to "on-premises data gateway (personal mode)", so a terminology sync is in order for this article too
2. Perhaps more importantly, does R integration in Power Query in Power BI still require "on-premises data gateway (personal mode)"? Or is it now available in "on-premises data gat

[2021-04-27 21:14] VitalyMCT opened #3011 "Printing limitation"
Regarding

In Power BI Service:

- The File => Print this Page option seems to work fine
- The Export => PDF option returns "R visuals are not supported with this operation." for the R visual

Can this limitation please be elaborated on, to clarify what printing scenarios are supported vs. unsupported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-04-28 08:29] KesemSharabi commented on #2980
Hi @djpirra.

I just double checked with the development team, and we don't have any other examples for using conditional formatting, apart for [SampleBarChart](https://github.com/microsoft/PowerBI-visuals-sampleBarChart).

In the future we'll try and add additional examples and update the article.

In the meantime, you might find a solution for your problem in the [Power BI Community]( https://co

[2021-04-28 09:16] KesemSharabi commented on #3001
Thanks for your comment, @VitalyMCT.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-04-28 09:23] KesemSharabi commented on #3007
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-04-28 09:25] KesemSharabi commented on #3008
Thanks for your comment, @TwiddlyTiger.

I've assigned this issue to the doc author for review.

[2021-04-28 09:27] KesemSharabi commented on #3010
Thanks for your comment, @VitalyMCT.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-04-28 09:29] KesemSharabi commented on #3011
Thanks for your comment, @VitalyMCT.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-04-28 10:43] KesemSharabi commented on #3004
Hi @CristianDuca,

The [202 response](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202) is expected. The resource URL is in the request headers (location header). It’s not part of the request body.

Hope this helps,

Kesem

[2021-04-28 11:06] KesemSharabi commented on #3005
Hi @MattRudy,

Thank you for your suggestion. I'll look into it with the development team.

Kesem

[2021-04-28 11:29] KesemSharabi commented on #3002
Thanks for your comment, @andyreadman.

I've assigned this issue to the doc author for review.

[2021-04-28 14:27] VitalyMCT commented on #3010
There is no answer on the forums, hence we need an answer in the official documentation. I will stay tuned to this ticket.

[2021-04-28 14:28] VitalyMCT commented on #3001
There is no answer on the forums, hence we need an answer in the official documentation. I will stay tuned to this ticket.

[2021-04-28 15:30] MattRudy commented on #3005
Hi Kesem,

I've linked this to the PR #3006 I created to resolve this.

The current list of visualType options isn't the complete set available - I've been working on building themes and noticed several that were missing from the documentation.

The auto-generated link to the limitations and considerations section is misleading - I was referring to an earlier section in the article called [visualS

[2021-04-28 17:55] VitalyMCT commented on #2459
@davidiseminger , Can the author please confirm whether the documentation is now up-to-date?

[2021-04-28 18:19] jmcguire77 opened #3012 "Data Driven Filters in Filters Pane"
A client brought up a great question that I hadn't yet thought of when working with the Power BI Filters pane. We have added several filters that provide data such as a list of all customers, a list of all brokers, a list of all items, etc. We currently have RLS configured so that when salespersons log in, they only view their data. However, it appears they are able to see the complete list of cus

[2021-04-28 20:42] savoy9 opened #3013 "Update sharing Docs for new Sharing experience"
The first three screenshots on this page are out of date with the new office like sharing experience and because the extended share options have been moved from a share dropdown to the file menu.
![image](https://user-images.githubusercontent.com/41710547/116469750-62d13200-a827-11eb-8100-d807327fd065.png)

Similar issues are found on these pages:
https://docs.microsoft.com/en-us/power-bi/collabor

[2021-04-29 01:35] pmaldonato opened #3014 "Non-existent step"
Number 5 states "Select ellipses and select Sort By Period" in this example there are only 2 selections so it's not there. I'm going through the exercise and the 'Sort By - Period' isn't there on the Visualisation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62b6838-df4d-0d8b-c916-e4e7b479c47b
* Version Independent

[2021-04-29 10:57] moniaayush opened #3015 "Information Miss-Match"
This page talks about  R visual calculation exceeds **5 minutes the script times out**, resulting in an error

Where as other documents talks about only 60 Seconds as Timeout limit. Huge difference.

https://docs.microsoft.com/en-us/power-bi/visuals/service-r-visuals
Calculation time limitation – if an R visual calculation exceeds **60 seconds the script times out**, resulting in an error.

Please

[2021-04-29 14:17] Hikmer opened #3016 "Change in language for Scheduled Refresh in service"
Scheduled refresh for Direct Queries with Query Caching enabled now says the following:

Scheduled refresh
Automatic dashboard tile refresh
Adjust the automatic refresh frequency of each dashboard tile to suit your needs, or manually refresh a tile by selecting More.

This is very confusing as we believe that this feature should be keeping the direct query model hydrated with data for subsequent r

[2021-04-29 16:21] localden opened #3017 "Out of date options screenshot"
The screenshot in the doc may be out of date (in [this section](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-directquery-about#report-design-guidance)). Here is what I see in Power BI

![Power BI screenshot](https://user-images.githubusercontent.com/53200638/116584434-315e7200-a8cc-11eb-987f-12132bbe790b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-29 18:10] maggiesMSFT commented on #3014
Hi, @pmaldonato -- thanks for your comment! I'll add it to the backlog to investigate. A bit swamped this week 😁!

[2021-04-30 09:29] rubencanlas opened #3018 "Missing steps, outdated, screenshots lack context"
[Enter feedback here]
PowerBI Version: 2.92.943.0 64-bit (April 2021)

1. It's not clear in the instructions which tab to use to create the decomp tree. But the screenshot animation seems to suggest the Exploratory Analysis tab. Your screenshot does not provide the context of the tab, because it was cropped to remove the tabs. It will be really useful to show the tab.
2. Explain By - might be help

[2021-04-30 17:13] maggiesMSFT commented on #3012
Hi, @jmcguire77 -- great question!
This article talks about upcoming features: https://docs.microsoft.com/en-us/power-platform-release-plan/2021wave1/power-bi/
If you don't find an answer to your feature question there, then I recommend checking and asking in the Power BI Ideas forum:
https://ideas.powerbi.com/ideas/
Hope that helps!

[2021-04-30 17:13] #3012 closed

[2021-04-30 17:15] maggiesMSFT commented on #3013
Hi, @savoy9 -- you're a few minutes ahead of us! We're waiting for the OK to release the updated docs soon -- I believe next week. Check back then. Thanks!

[2021-04-30 17:15] #3013 closed

[2021-04-30 17:17] maggiesMSFT commented on #3015
Hi, @moniaayush -- thanks for asking! Assigning to the author to investigate.

[2021-04-30 17:18] maggiesMSFT commented on #3016
Hi, @Hikmer -- thanks for asking! Assigning to the author to investigate.

[2021-04-30 17:20] maggiesMSFT commented on #3017
Hi, @dendeli-work -- how are you? Thanks for your question. Assigning to the author to investigate.

[2021-04-30 17:49] maggiesMSFT commented on #3018
Hi, @rubencanlas -- thanks for your feedback! I'm assigning it to the author to look into. I'm fond of decomp trees myself, so I want the docs to explain them well!

[2021-04-30 19:03] #3005 closed

[2021-04-30 20:03] Renatontx opened #3019 "Power BI - Analyze in Excel Documentation"
Please, review the Requirement Section - ''Guest users can't use Analyze in Excel for datasets sent from (originating from) another tenant." i suggest that statament should be under limitations not requirements...I got confused when I first read that documentation if Guest userts to use analyze in excel was a limitation or requirement...you cannot tell if is possible or not by reading under requir

[2021-04-30 20:49] maggiesMSFT commented on #3019
Hi, @Renatontx -- good point! I should have time to fix it next week. Thanks!

[2021-05-01 18:27] rootsmusic opened #3020 "solutions page"
This page should be added to [Office 365 + Power BI](https://powerbi.microsoft.com/en-us/power-bi-and-office/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecdd014-b4d0-e97b-78a6-ef22e71d05f8
* Version Independent ID: 0bea8666-c1e3-74ec-d805-c9925baa9999
* Content: [Connect to Project Online with Power BI - Power B

[2021-05-01 23:52] rootsmusic opened #3021 "Graph Security API deprecated"
Power Query has deprecated its [connector to MS Graph Security](https://docs.microsoft.com/en-us/power-query/connectors/microsoftgraphsecurity#deprecation) due to the API ending support.  Same for Power BI's connector?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7110b1-ad2a-f73a-3ada-27fbc387075c
* Version Indepen

[2021-05-02 00:41] lnogueracmnhospitals opened #3022 "ReportLevelFilters"
The documentation says in the following snipped that we can use ReportLevelFilters when using the Exporting reports using ExportToFile. https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-to#step-1---sending-an-export-request

[code]
But the PowerBIReportExportConfiguration class does not have a ReportLevelFilters property, so it´s no clear how we can export reports with filters.

[2021-05-02 15:21] paulinbar commented on #3022
Hi @lnogueracmnhospitals, thanks for your observation. I am forwarding it on to the doc author for further consideration. Thanks!

[2021-05-02 15:22] paulinbar commented on #3021
Hi @rootsmusic, thanks for your comment. I will check this out.

[2021-05-02 15:26] paulinbar commented on #3020
Hi @rootsmusic, thanks for your comment. Can you clarify a bit what you mean?

[2021-05-02 15:38] rootsmusic commented on #3020
@paulinbar, this issue is about the solutions page for [Power BI + Office](https://powerbi.microsoft.com/en-us/power-bi-and-office/).    It omits Project Online from the Office apps that integrate with Power Bi.

[2021-05-02 15:46] paulinbar commented on #3020
@rootsmusic, ah, you're saying you would have expected it to appear as one of the tabs here?:
![image](https://user-images.githubusercontent.com/54644589/116818969-a9e85b80-ab76-11eb-9a42-a9ed159c0d47.png)

[2021-05-02 16:37] rootsmusic commented on #3020
Yes @paulinbar .

[2021-05-02 16:43] cvillegashak opened #3023 "Provide an example of leveraging Enhanced Compute in separate workspaces"
The best practice for scheduling dataflows separately is to create separate workspaces one for ingestion and one for compute. The enhanced compute example in this section doesn't cover that. It solely covers what to do when you have them within the same workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6054103

[2021-05-02 16:47] paulinbar commented on #3020
Ok, thanks @rootsmusic, I'll try to track down who's responsible for that and bring your comment to their attention. BTW, your github alias intrigued me...  do you play roots music, as in old time and stuff like that? Don't mean to pry or invade privacy, so no need to answer... just curious.. am a fiddle player myself.

[2021-05-02 17:07] cvillegashak opened #3024 "Clarify when using Enhanced Compute with ingestion and computed dataflows in separate workspaces where to apply or enable and disable Enhanced Compute"
I've seen multiple posts in the forums related to this and nobody can really get a good answer on it. If anyone can please clarify that would be phenomenal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71265a0f-32b6-7cf3-7daa-3b523aa556a5
* Version Independent ID: da1e7392-ea68-65c7-916e-89e0d9974dc5
* Content: [Prem

[2021-05-02 17:57] rootsmusic opened #3025 "announce upcoming webinars in the Community"
Upcoming webinars should be announced in [the Community](https://community.powerbi.com/t5/Upcoming-Events/bd-p/Community).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a082e6-1c36-af62-95b7-69405696764e
* Version Independent ID: 0425ef3a-54b6-3527-6a02-a60642c9d61c
* Content: [Power BI webinars - Power BI](https://

[2021-05-02 18:07] rootsmusic opened #3026 "differentiate doc"
Since there's another doc for [Power BI Desktop videos](https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-videos), I suggest appropriately moving videos to that doc in order to dedicate this doc for videos that aren't about Power BI Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c2d0b7-fdeb-9e1e

[2021-05-02 19:38] kfollis commented on #3007
@mibruhje - can you please review this feedback and suggest an article update?

[2021-05-03 10:10] BiekeBras opened #3027 "Considerations and limitations not in line with reality?"
Dear,

The below limitation on page "Connect to datasets in the Power BI service from Power BI Desktop" is no longer valid.
It would be good to remove it as it is still being referenced as cause for reports not being exportable to pbix-format.

"The report must have been created by using Power BI Desktop and published to the Power BI service, or the .pbix file must have been uploaded to the Power

[2021-05-03 11:58] sandorspruit opened #3028 "Page seems to be out of date"
The information on this page seems to be out of sync with the current versions of dot-net, i.e. importing the code as-is into Visual Studio 2019 produces a number of errors.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543

[2021-05-03 13:27] sandorspruit commented on #3028
Specifically, these two lines cause trouble:

            AuthenticationContext authContext = new AuthenticationContext(authorityUri);
            var token = authContext.AcquireTokenAsync(resourceUri, clientID, new Uri(redirectUri)).Result.AccessToken;

The third parameter seems to be of the wrong type, a UserCredential is expected. The combination of types and parameters seems to fit the synchro

[2021-05-03 14:01] KesemSharabi commented on #3022
Hi @lnogueracmnhospitals,

According to the API documentation [PowerBIReportExportConfiguration](https://docs.microsoft.com/rest/api/power-bi/reports/exporttofile#powerbireportexportconfiguration) has the `ReportLevelFilters` property.

![image](https://user-images.githubusercontent.com/54834915/116885756-ebd5d800-ac30-11eb-9534-39fabff7fb95.png)

Is it possible that you're using an old SDK?

`Rep

[2021-05-03 14:38] sandorspruit commented on #3028
The first part of the series is wrong, it introduces an asynchronous method that is not mentioned anywhere else.

From: Sandor Spruit ***@***.***>
Reply to: MicrosoftDocs/powerbi-docs ***@***.***>
Date: Monday, 3 May 2021 at 15:27
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: "A. Spruit" ***@***.***>, Your activity ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Page seems to be out of da

[2021-05-03 14:53] lnogueracmnhospitals commented on #3022
Ups, sorry about that. You were right, I was using 3.18.1 and once I upgraded to 3.23.0 I was able to find the ReportLevelFilters property. Thank you!

[2021-05-03 20:17] bmtorres opened #3029 "PPU users can consume Pro users' content"
The 3rd paragraph of this page informs that "If content is stored in that shared capacity, users who are assigned a Power BI Pro license can collaborate only with other Power BI Pro users". The second row of the table also informs that Power BI Pro users can "Publish content to other workspaces, share dashboards, subscribe to dashboards and reports, share with users who have a Pro license" in a sh

[2021-05-04 08:57] sandorspruit commented on #3028
Another important detail that seems to be missing: the initial authentication uses Windows Forms, that needs to be added as a dependency despite the example being a console application.

From: Sandor Spruit ***@***.***>
Reply to: MicrosoftDocs/powerbi-docs ***@***.***>
Date: Monday, 3 May 2021 at 16:38
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: "A. Spruit" ***@***.***>, Your activity ***@***.

[2021-05-04 10:41] prashant1380 opened #3030 "more details required"
this document says that in addition to customer data, it also encrypts user data generated by service. So what is this user data and how it is generated by the service? Could you please clarify this in the documentation.
Also, can i assume that configuration steps which are mentioned in BYOK documentation are also applicable for CMK e.g. key management in Azure key vault, apply the key to the serv

[2021-05-04 21:34] MattRudy opened #3031 "Needs reference to Goals and Scorecards"
New features should be added to this document (if relevant - they are limited to Premium features and might make sense on the Premium Features page instead).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-4dc0-c87e-0ed659bd0d60
* Content: [The

[2021-05-04 23:05] xuhaohems opened #3032 "Does this PowerBI connector work for 1st party/Internal subscriptions?"
Does this PowerBI connector work for 1st party/Internal subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9cf44-77fd-5d70-0d6f-d7cefc1458c6
* Version Independent ID: 62c502c1-1831-c94e-d804-f71cb6a569a3
* Content: [Connect to Azure Cost Management data in Power BI Desktop - Power BI](https://docs.microso

[2021-05-05 12:04] Bhodges94 opened #3033 "Support for Premium per user"
it says in the Prerequisites that "At least one workspace in your Power BI tenant backed by a reserved capacity". Does this include Premium Per User or is it limited to Premium Per Capacity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92e4209-59ef-2aed-dd62-b38c443d96d3
* Version Independent ID: ba65faca-8ef1-3cb3-

[2021-05-05 12:32] KesemSharabi commented on #3022
Happy I could help @lnogueracmnhospitals 😀

[2021-05-05 12:32] #3022 closed

[2021-05-05 14:48] mihart commented on #3031
Thanks for your comment, @MattRudy . This issue has been assigned to the doc author for review.

[2021-05-05 14:49] mihart commented on #3032
Thanks for your comment, @xuhaohems . This issue has been assigned to the doc author for review.

[2021-05-05 18:09] KesemSharabi commented on #3023
Thanks for your comment, @cvillegashak.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-05 18:11] KesemSharabi commented on #3024
Thanks for your comment, @cvillegashak.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-05 18:13] KesemSharabi commented on #3025
Thanks for your comment, @rootsmusic.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2021-05-05 18:13] #3025 closed

[2021-05-05 18:14] KesemSharabi commented on #3026
Thanks for your comment, @rootsmusic.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-05 18:16] KesemSharabi commented on #3027
Thanks for your comment, @BiekeBras.

I've assigned this issue to the doc author for review.

[2021-05-05 18:19] KesemSharabi commented on #3029
Thanks for your comment, @bmtorres.

I've assigned this issue to the doc author for review.

[2021-05-05 18:20] KesemSharabi commented on #3033
Thanks for your comment, @Bhodges94.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-05 18:20] rootsmusic commented on #3025
@KesemSharabi , this issue is about this doc's "[upcoming webinars](https://docs.microsoft.com/en-us/power-bi/fundamentals/webinars#upcoming-webinars)".  (It's not about the software.)

[2021-05-05 18:22] KesemSharabi commented on #3028
Hi @sandorspruit,

You're right. This article is out of date. We will updated it in the future. However, this might take some time.

Thanks,

Kesem

[2021-05-05 18:22] #3028 closed

[2021-05-05 19:29] kfollis commented on #3025
@rootsmusic - thanks for the feedback. I help to maintain the article you reference and honestly assumed that it was also posted to community. My contact for that info has recently changed, so let me bring this to their attention and see if we can add this to community as well - I agree that community is actually the best place for this information. Having it included in documentation does help wi

[2021-05-05 19:35] rootsmusic commented on #3025
Ok @kfollis, I agree with the exception that this doc is still needed to archive files used in webinars in the video gallery.

[2021-05-06 12:33] VsabGit opened #3035 "Web.config changes mentioned don't work for new samples"
The Web.config changes that are mentioned in this Doc don't work for the new samples that work with MSAL.

for example the Web.config changes that we need to do to embed in GCC according to Doc are:
**<add key="authorityUrl" value="https://login.microsoftonline.com/common/" />
<add key="resourceUrl" value="https://analysis.usgovcloudapi.net/powerbi/api" />
<add key="apiUrl" value="https://api.powe

[2021-05-06 12:38] learn2excel opened #3036 "I am getting the below error"
DataSource.Error: ADO.NET: R script error.

Attaching package: 'mice'

The following objects are masked from 'package:base':

    cbind, rbind

Error in str2lang(x) : <text>:1:17: unexpected symbol
1: Day ~ 0+SMI+SMI missing
                    ^
Calls: mice ... lapply -> FUN -> formula -> formula.character -> str2lang
Execution halted

Details:
    DataSourceKind=R
    DataSourcePath=R
    Messag

[2021-05-06 16:42] sdt-msft opened #3037 "MariaDB data source line not clear: gateway "required" but "not supported"."
[Enter feedback here]
Please check the line for MariaDB datasource: it says a gateway is required but not supported, which is not clear, and it may be outdated in all language versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-

[2021-05-06 18:44] martaequintao opened #3038 "Uncompressed data on the gateway limitation has a workaround that is not documented"
For this limitation: https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-onprem-tshoot#error-the-received-uncompressed-data-on-the-gateway-client-has-exceeded-the-limit
Using Power BI Premium is a workaround but it's not documented. Can we add this workaround to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-05-07 01:09] maggiesMSFT commented on #2963
Hi, @orange-copilot & @MattRudy & @krs1demian -- the simplest solution is to not create the DAX Calendar table. The Date field in the original table works as described. I have a work item to fix this. If I don't find another solution, I'm just going to delete the section on creating the DAX Calendar table.
You can also just keep going, adding more columns to the DAX Calendar table, such as
Month n

[2021-05-07 01:09] #2963 closed

[2021-05-07 01:10] maggiesMSFT commented on #2868
Hi, @g33gu11mu77 -- you're right. The simplest solution is to not create the DAX Calendar table. The Date field in the original table works as described. I have a work item to fix this. If I don't find another solution, I'm just going to delete the section on creating the DAX Calendar table.
You can also just keep going, adding more columns to the DAX Calendar table, such as
Month name = FORMAT('C

[2021-05-07 01:10] #2868 closed

[2021-05-07 09:32] chrolivier opened #3039 "Article needs clarification and updating"
The article's wording is not in line with the latest version of the app.
For example: The article refers to "Daily peak usage" while the latest version of the app uses the term "Daily peak utilization"

Also: Both screenshots of the "Daily peak usage" visual show that the visual's Y axis lists the number of cores (in this case 8) and the Utilization graph is scaled to fit this. In the new app it s

[2021-05-07 21:54] maggiesMSFT commented on #2963
Hi, @orange-copilot & @MattRudy & @krs1demian  -- here's a better answer. Create the Calendar table, but don't mark it as a Date table. Then the whole tutorial works. Thanks!

[2021-05-07 21:54] maggiesMSFT commented on #2868
Hi, @g33gu11mu77 -- here's a better answer. Create the Calendar table, but don't mark it as a Date table. Then the whole tutorial works. Thanks!

[2021-05-10 14:42] stingaa opened #3040 "Permission too broad"
The Github App for PowerBI on powerBi.com allows us to analyze data for 1 repo only.  However, to use it, it requires read/write access to the entire org and the personal user data.  That is very permissive and gives us security and privacy concerns.  Can we reduce the permission scope to the appropriate level?

Link to app - https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-t

[2021-05-10 15:11] paulinbar commented on #3037
Hi @sdt-msft, thanks for your comment. I am forwarding it on to the doc author for consideration.

[2021-05-10 15:13] paulinbar commented on #3036
Hi @learn2excel. Thanks for your comment. This looks like a support request or product question rather than documentation feedback. You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com). Thanks!

[2021-05-10 20:12] osumvp opened #3041 "Missing data tables needed for refreshing Power Query Model"
I love the sample file. However, there are tables missing when I extract the AdventureWorksDW 2017 and 2019. Has there been any thought to provide those missing tables (vFactSales and FactSales) so the Power BI sample file can be refreshed and data added to it?

-Nick
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bd23

[2021-05-10 21:38] samaguire opened #3042 "Page is missing details on the share the app option"
![image](https://user-images.githubusercontent.com/62320770/117727770-91de9f00-b23c-11eb-9dfe-6b1ab5900da6.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Version Independent ID: 0e1245cb-d7af-c73c-39c4-39f5665ae51a
* Content: [Publish an app in Power BI - Power BI](https://do

[2021-05-10 22:20] davidiseminger commented on #3041
Hi Nick, and thanks for the nice comments! That sample is only updated every few years (yes, sorry!) so I don't see it being updated again any time soon. But I'll pass along your request, and thanks again!

[2021-05-10 22:20] #3041 closed

[2021-05-10 22:22] davidiseminger commented on #3042
Thanks for your comment, @samaguire. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2021-05-11 16:30] DMiradakis opened #3043 "Power BI Shared Datasets | Composite Models Now Supported"
Microsoft Team,

Hello! According to [this Power BI blogpost](https://powerbi.microsoft.com/en-us/blog/directquery-for-power-bi-datasets-and-azure-analysis-services-preview/) as well as [this YouTube video](https://www.youtube.com/watch?v=ZSyYegfA6PQ), you can now connect to shared Power BI datasets by changing the connection mode from Live Connection to Direct Query, and when you do so, you can i

[2021-05-11 18:41] gaofro opened #3044 "Credential cannot decrypt credentials error when opening an existing .pbix file on a new pc."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8131601d-6602-1e2c-0f16-d4b577aaaf74
* Version Independent ID: dac38cd1-2f8f-7a18-6a07-4da8e939545f
* Content: [Power BI Desktop Send a Smile Privacy Statement - Power BI](https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-send-smile-priva

[2021-05-12 13:55] KesemSharabi commented on #3044
Thanks for your comment, @gaofro.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-12 13:56] KesemSharabi commented on #3043
Thanks for your comment, @DMiradakis.

I've assigned this issue to the doc author for review.

[2021-05-12 15:01] sandorspruit commented on #3028
A bit of a disappointing reaction, to be honest. This is just about the _only_ piece of documentation specifically describing automated access to PowerBI. All that is needed is a link to updated information on authentication which, as I just discovered, is available under "Quickstart" from the Azure portal used to register the application (one of the first steps). I think most developers can take

[2021-05-12 16:51] Dhangel03 opened #3045 "Internal Error Issue in Dataflows"
Hi, my team is experiencing quiet few failures in refreshing our dataflow with "internal error". I'm not sure if it affects the timing of refreshing the dataflow, but we are usually manually refreshing the report 3 times a day with 3 hours interval with new added data. The file is just like 55MB and the refreshing time took us 5 hrs max today 12 May 2021 which is very unusual because we are managi

[2021-05-12 18:46] chrisweis opened #3046 "Retire page or clarify its current state?"
Shouldn't this page now be retired?  Or a note added to clarify that it's no longer relevant?

Thanks,
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24bb68-f505-21a9-3bc3-d55aac3e988d
* Version Independent ID: f50840ad-f8c7-594c-380a-0d006db8074e
* Content: [The 'new look' of the Power BI service - Power BI](h

[2021-05-12 19:43] mihart commented on #3045
Thanks for your comment, @Dhangel03 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-05-12 19:43] #3045 closed

[2021-05-12 19:45] mihart commented on #3046
Thanks for your comment, @chrisweis .  You are absolutely correct and we are in the process of retiring this page.

[2021-05-12 19:45] #3046 closed

[2021-05-13 05:53] annatagithub opened #3048 "Tooltip message gone after change to report page"
The default tooltip message "Right click to drill through" is gone in PowerBI.com, if we change the tooltip setting of a visual to "Report Page" and when change back to default.

Steps:
1. On one of my bar chart visual, it used to have a message in its tooltips, "Right click to drill through"
2. Changed the tooltips setting to some new report page (which initially planned to be the tooltip"
3. Dec

[2021-05-13 14:22] KesemSharabi commented on #3035
Thanks for your comment, @VsabGit.

You're right. We didn't update the [Embed a Power BI content into your application for national clouds](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers-national-clouds) tutorial yet. Updating it is on our roadmap, but it'll take some time before we get it.

In the meantime, if you still have some questions, you might find answer

[2021-05-13 14:22] #3035 closed

[2021-05-13 19:31] rootsmusic commented on #3021
@paulinbar, May's [release update](https://powerquery.microsoft.com/en-us/blog/power-query-updates-in-power-bi-desktop-may-2021-release/) announced "This update will remove the connector from the “Get Data” experience in Power BI Desktop".

[2021-05-13 20:07] paulinbar commented on #3021
Hi @rootsmusic, thanks for pointing this out. You got to it before I did. So we need to update the Power BI doc. Created a work item. Thanks!

[2021-05-14 14:51] devman2k opened #3049 "Clarify the difference or usage of Workspaces to App"
Your definition or opening of an APP also describes a Workspace. This text requires either clarification or differ enation between App and Workspace. Also whether a APP can use one or more Workspaces. Talk to usage, security business problem being solved by implementing an APP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-14 15:31] bec-smith opened #3050 "Power BI Client"
How can customers get a network trace for the Power BI Client, not the browser?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd5e8c4-3b09-ccfa-e68f-e3c7ae6aa472
* Version Independent ID: 3ddf312e-677a-3aef-0f78-91acf55d809c
* Content: [Capture diagnostic information for support - Power BI](https://docs.microsoft.com

[2021-05-17 15:40] paulinbar commented on #3049
Hi @devman2k, thanks for your comments about the article. I am forwarding it on to the doc author for consideration.

[2021-05-17 15:44] paulinbar commented on #3050
Hi @becnichelesmith, thanks for reaching out to us with your question. Let me look into this a bit and I'll get back to  you.

[2021-05-17 16:51] ZynThaX commented on #1330
Was there ever a fix for this?
I'm having problem connecting to a private repository that I'm admin for.

I'm getting the following error:

<span ng-transclude="" style="color: rgb(0, 0, 0); font-family: &quot;Segoe UI&quot;, wf_segoe-ui_normal, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spa

[2021-05-17 22:18] kfollis commented on #3050
Hi @becnichelesmith - you can find trace info for the Power BI Desktop client here: https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-troubleshooting-sign-in#how-to-collect-a-trace-in-power-bi-desktop

Hope that helps! I'll be sure to add a link to the original article to make this more discoverable.

[2021-05-18 15:26] prvillal opened #3052 "Power BI Premium Per User - Power BI | Microsoft Docs"
[Enter feedback here] Please add under this section https://docs.microsoft.com/en-us/power-bi/admin/service-premium-per-user-faq#using-premium-per-user--ppu- that Incremental Refresh is supported

Feature description | Per User | Per Capacity
-- | -- | --
Model size limit | 100 GB | Up to 400 GB
Refresh rate | 48/day | 48/day
Paginated reports | ✔ | ✔
AI capabilities (AutoML, Impact Analysis, Cogn

[2021-05-18 16:27] mcantin opened #3053 "Conditional Access limitation"
It seems as though PowerBI Teams App's 'Chat in Teams' doesn't work if Conditional Access is applied, the device ID is not passed and thus Conditional Access denies the browser popup. We confirmed this with MSFT Support, please list this in the known limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9a0262-

[2021-05-18 23:49] ripstaur opened #3054 "It would be nice if things worked this way, but they don't."
If only we lived in the same world as these developers. Yes, this would make a lot of sense. Go to the site, get the URL, open PBI, go to "Get data," select the Sharepoint Online List option, enter the URL, and presto! You are connected. Instead what we get are error after error after error. We can enter the root, or the root of the root, or start by taking off one character at a time...nothing he

[2021-05-19 01:54] mihart commented on #3054
Thanks for your comment, @ripstaur. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-05-19 01:54] #3054 closed

[2021-05-19 01:55] mihart commented on #3053
Thanks for your comment, @mcantin. This issue has been assigned to the doc author for review.

[2021-05-19 01:57] mihart commented on #3052
Thanks for your comment, @prvillal . This issue has been assigned to the doc author for review.

[2021-05-19 11:13] vishalgoyal16444 opened #3055 "Unable to connect to my personal github"
I am using my corporate account for Power BI. But my github account is with separate credentials. When I chose the option "Connect your data", it does not redirect me to the credentials page where I can enter my github credentials. It shows github / github as greyed out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c

[2021-05-19 11:33] paulinbar commented on #3055
Hi @vishalgoyal16444, thanks for reaching out to us. I am looking into this and will get back to you.

[2021-05-19 16:47] teddybercovitz commented on #3055
@vishalgoyal16444 this is happening because once you authenticate the Browser saves your authentication token.
I sugggest you install another copy of the app from AppSource so one copy is connected to the work account and the other to personal. Once you installed another copy of the app - open the browser in incognito mode -> go through the connect to data experience and you should be able to re-a

[2021-05-20 09:31] vishalgoyal16444 commented on #3055
Thank you. After i opened it in private mode, the credentials box appeared
and i am able to use it now.
Appreciate your help.

On Wed, May 19, 2021 at 10:17 PM Teddy Bercovitz ***@***.***>
wrote:

--
Vishal Goyal.

[2021-05-20 09:32] vishalgoyal16444 commented on #3055
Issue has been resolved after I opened the browser in incognito mode.

[2021-05-20 09:32] #3055 closed

[2021-05-21 02:40] maggiesMSFT commented on #2138
Hi, @luaguila -- could you elaborate? I'm not sure what you're seeing. Or is it resolved now? Thanks!

[2021-05-22 01:17] guidogabriel opened #3057 "Oracle support - dynamic m query parameters"
[Enter feedback here]
To be perfect, Oracle should be supported to dynamic m query parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc66475d-11b3-ba33-cde4-9948dc07ea2c
* Version Independent ID: 46aeb704-a74f-2064-307f-24660579ef4c
* Content: [Dynamic M query parameters in Power BI Desktop (preview) - Power BI

[2021-05-22 04:17] thelemontree10 opened #3058 "How can you make format auto when export using Power BI ?"
Hi,

I see in your example that the figures in your exported file is auto formatted.

I cannot replicate it.

Example: when export, the figures only show raw data (1000) when I think it should be 1,000.

Can you show me more clearly ?

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87c556b-b1da-0b24-606b-89c

[2021-05-23 14:33] paulinbar commented on #3057
Thanks for your comment, @guidogabriel. This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).  In the

[2021-05-23 14:33] #3057 closed

[2021-05-23 14:35] paulinbar commented on #3058
Thanks for your comment, @thelemontree10. I've assigned this issue to the doc author for review. In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-05-23 14:47] gvggvg opened #3059 "Filter from matrix gets lost with Data option unchecked"
Hi,
With Data unchecked any hidden visual is supposed to respect any filter or slicer on the page. Well, it seems that this is true only for slicers. Filters from matrix visual do not seem to be respected by hidden visuals when they are unhidden.
Also if one has a matrix that is hidden/unhidden by a bookmark, it looks like the filter in matrix is lost after it is unhidden.

---
#### Document Detai

[2021-05-23 22:37] paulinbar commented on #3059
Thanks for your comment, @gvggvg. I've assigned this issue to the doc author for review.

[2021-05-24 07:16] NovoJeep opened #3060 "How MCA Users may found the Access Key?"
Hi There,

As a MCA user, I don't have capacity to ea.azure.com and this is the only way you documentation shows to get the Access Key.

I opened a ticket to the support but it seems nobody knows what this is about.

Could someone help me finding this access Key in the portal.azure.com which seems to be the only one accessible for MCA users.

Thank you all!

[2021-05-24 15:30] paulinbar commented on #3060
Hi @NovoJeep, you've reached the Power BI documentation team, so I am not sure what you are talking about exactly. Did you try looking here? https://docs.microsoft.com/en-us/azure/storage/common/storage-account-keys-manage?tabs=azure-portal

Can you be specific about what documentation you were referring to? That might help track down who to ask. Thanks,

[2021-05-24 15:41] NovoJeep commented on #3060
Hi Paul,

Thank you for this link. My problem is with the “Microsoft Sustainability Calculator” app. I need to connect it to my Azure Environment but it’s not only the “Cloud storage” part, we have many more resources in that subscription.

Best,

J

De : Paul Inbar ***@***.***>
Envoyé : lundi 24 mai 2021 17:30
À : MicrosoftDocs/powerbi-docs ***@***.***>
Cc : Julien PLATRET ***@***.***>; Mention *

[2021-05-24 17:15] paulinbar commented on #3060
Hi again @NovoJeep, Did you see this link? https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-to-microsoft-sustainability-calculator#find-your-companys-billing-account-id

It mentions MCA. If this isn't what you are looking for again, let me know... I may know someone who will be able to help. In any event, keeping my fingers crossed!

[2021-05-24 17:29] NovoJeep commented on #3060
Thank you again,

I know this doc but after we type in our MCA billing account Id, we are asked for Access Key which we don't know how to find.

This doc says we have to connect to ea.azure.com but this portal is not valid for MCA, only EA.

If you know someone who could help, that would be great.

Envoyé de mon Galaxy S9 Orange
Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>

___________

[2021-05-24 19:34] paulinbar commented on #3060
Hi @NovoJeep, I reached out to the person. I'll be in touch.

[2021-05-24 20:13] paulinbar commented on #3060
Hi @NovoJeep, the answer I got is the following - it relates to the December 2020 release:

"They don’t need their access key and there is a specific section of the page with their login instructions with step by step screenshots."

Looking at the doc I see indeed that in the prerequisites for the December 2020 release, Access Key is not mentioned.
Then looking further down in the doc, I see a sec

[2021-05-24 20:42] ntsiro opened #3061 "Shared Power BI Dataset with Workspace Viewer Role"
It is claimed in this document that the "Only people with at least Read access to the dataset can see the shared dataset."
No other limitation or requirement is described pertaining to roles for accessing shared datasets.
However, on testing and diagnosis with your support teams it appears that there is a known issue when the workspace of the report is different to that of the dataset. In which ca

[2021-05-25 06:45] NovoJeep commented on #3060
Hello Paul,

                Thanks for your feedback.

Here is the situation :

  *   From the Azure Portal, I got the Billing Account ID
  *   I guess I’m using the January Release since I downloaded the app on late April 2021 and updated recently, the card in Power BI/Applications says [Version 20] 6 May 2021
  *   When following steps for this January Release, there is no specific information

[2021-05-25 07:31] paulinbar commented on #3060
Hi @NovoJeep, ok, thanks for providing the greater detail. I'll forward it on to one of the people involved in developing that app. It sounds to me like you have the correct app version, but I do want to point out just in case that the January release instructions refer to the old version of the app - note that it says January **2020**. The December release (December **2020**) is the new version o

[2021-05-25 07:32] paulinbar commented on #3060
@NovoJeep, hi again.. also, for some reason, your screenshots didn't come through. What I saw was:
    *   ***@***.***D75141.B7DBABF0]
     *   ***@***.***D75142.27E8F970]
     *   ***@***.***D75142.40E09370]

[2021-05-25 07:44] NovoJeep commented on #3060
I replied by email, it probably did not integrate images:
![image](https://user-images.githubusercontent.com/30690165/119459235-ca52a280-bd3d-11eb-814a-836eedc36896.png)

![image](https://user-images.githubusercontent.com/30690165/119459285-d3437400-bd3d-11eb-996f-db1b39a63ee1.png)

![image](https://user-images.githubusercontent.com/30690165/119459306-d8a0be80-bd3d-11eb-8ed3-0211d2fe10a3.png)

[2021-05-25 08:03] paulinbar commented on #3060
Hi @NovoJeep, ok, I see them now. Yes, this is the old version. The new version is listed as preview and has a different logo. And here is what the first dialog looks like. Can you go get the new version of the app?

![image](https://user-images.githubusercontent.com/54644589/119460818-bca21a80-bd47-11eb-8ffc-7d24fc000595.png)

[2021-05-25 08:03] paulinbar commented on #3060
@NovoJeep , can you get the one from appsource that has the logo:
![image](https://user-images.githubusercontent.com/54644589/119461891-d5f79680-bd48-11eb-9558-49eb5a586f93.png)

[2021-05-25 08:04] paulinbar commented on #3060
@NovoJeep, if you have any problems finding/installing the new version, let me know.

[2021-05-25 08:11] NovoJeep commented on #3060
@paulinbar, It now works, I could authenticate and Data is now updating.

Thank you so much !

[2021-05-25 11:56] gvggvg opened #3062 "Deleted reports still appear in Home"
Hi,
Deleted reports still appear in Home "Favorites and frequents" section. And there seems to be no way to detele them. Kinda frustrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744f5d32-18ed-9018-3003-c5f9bcb3d1ff
* Version Independent ID: e2123a9f-edef-5170-05c6-98d42bc9fd35
* Content: [Find content from Pow

[2021-05-25 14:11] sarchibald-mdsol opened #3063 "Why don't you have Blazor components to do this?"
Why don't you have Blazor components to do this?
You need to keep current with your own company...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6105e897-0348-115a-6e1a-17d9d40c0c17
* Version Independent ID: af9d7502-9677-11fd-cf29-bcef34d2d941
* Content: [Embed Power BI report in a Power BI embedded analytics applica

[2021-05-25 22:02] darlove opened #3064 "Misleading use of terminology"
Hi.

Regarding the doc in question, some of the explanations are a bit misleading in my opinion. I only give you one example here but such formulations can be found elsewhere (also multiple times in the same article).

Quote from the doc: "In the example, the HASONEVALUE function returns TRUE only when a single value filters the Country-Region column." This formulation is highly imprecise. It shou

[2021-05-26 00:27] mihart commented on #3061
Thanks for your comment, @ntsiro. This issue has been assigned to the doc author for review.

[2021-05-26 00:30] mihart commented on #3062
Thanks for your comment, @gvggvg . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-05-26 00:30] #3062 closed

[2021-05-26 00:35] mihart commented on #3063
Thanks for your comment, @sarchibald-mdsol . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-05-26 00:35] #3063 closed

[2021-05-26 00:37] mihart commented on #3064
Thanks for your comment, @darlove . This issue has been assigned to the doc author for review.

[2021-05-26 06:53] srijan789 opened #3066 "Typo"
[Enter feedback here]

there area two 'The's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f20ec85-cf09-5d0e-317c-1897a6f63b0b
* Version Independent ID: 8979a4de-7c09-8c5d-0415-e82957d29ccb
* Content: [Radial gauge charts in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization

[2021-05-26 12:43] NovoJeep opened #3068 "Microsoft Sustainability Calculator: Map not showing correct locations"
Hi there,

I 'm trying the Microsoft Sustainability Calculator and I detected some issue I would report.

All my services are hosted on West Europ and France but when looking at the map under "Emissions details" it's not what I see:
- The emission points are located in Philippines and Java
- The Tooltip says "West Europe"

Is there someone who can fix that?

[2021-05-26 13:13] KesemSharabi commented on #3068
Hi @NovoJeep,

Which document are you referring to?

Thanks,

Kesem

[2021-05-26 13:17] KesemSharabi commented on #3066
Thanks for your comment, @srijan789.

I've assigned this issue to the doc author for review.

[2021-05-26 13:38] NovoJeep commented on #3068
Sorry, it may not be the best place to post this.

This is not related to documentation but the Power BI application itself

I don't know where to post improvement suggestions for this Sustainability Calculator"

[2021-05-26 13:47] ruve1k opened #3069 "Table is misaligned - Format Strings are in the wrong columns"
The table after the sentence below is misaligned. (I.e. the 2nd row should be shifted one column to the right as shown in the modified table below.)
Here are examples of different formats for different value strings:

Values | Format String | Format String | Format String | Format String
-- | -- | -- | -- | --
&nbsp; | 0.00;-0.0;"Zero" | 0.00;; | 0.00;-0.0; | 0.00;
-1.234 | -1.2 | "" | -1.2 | ""
0

[2021-05-26 14:54] lbendlin opened #3071 "Request Access section is misleading"
There is no "Request Access"  section in any of the datasets on our premium workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16dbd9ca-dcd3-a4f3-43a8-01ead54fc9f9
* Version Independent ID: 66217fc3-a852-201c-a563-54ecbd9e5726
* Content: [Build permission for shared datasets - Power BI](https://docs.microsoft.c

[2021-05-26 15:43] bezhan-msft opened #3072 "The MicrosoftGraphSecurity Power Query connector has been deprecated."
The MicrosoftGraphSecurity connector has been deprecated. This documentation should be updated to reflect that.

https://docs.microsoft.com/en-us/power-query/connectors/microsoftgraphsecurity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7110b1-ad2a-f73a-3ada-27fbc387075c
* Version Independent ID: 1f8fafd5-ddfa-76c1

[2021-05-26 20:01] paulinbar commented on #3072
Hi @bezhan-msft, thanks for reminding me. I have put a deprecation notice at the top of the document. It will go live later today.

[2021-05-26 20:01] #3072 closed

[2021-05-26 20:02] paulinbar commented on #3021
Hi @rootsmusic, I have put a deprecation notice at the top of the document. It will go live later today. Thanks again for bringing this up!

[2021-05-26 20:02] #3021 closed

[2021-05-27 08:10] MikeSunGithub opened #3073 "You should also mention who could grant access(approve/decline) becuase report owner may receive email notification but he/she might don't have permission to approve/decline. This point should be explicitly stated. Thanks."
You should also mention who could grant access(approve/decline) becuase report owner may receive email notification but he/she might don't have permission to approve/decline. This point should be explicitly stated. Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee97d20-cca2-c705-0429-6debab9f9a32
* Version Inde

[2021-05-27 09:15] robertZaufall opened #3074 "Region"
In my case the dialog shows me **Your data is stored in 44944209aa3d4304b1a2e0960c1e1xyz-api.analysis.windows.net**.
So what region should this be?
How can the region be adjusted so the "Azure Connections" feature can be activated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe99dcd3-62d6-0f11-3b13-031eb65c426c
* Ve

[2021-05-27 09:17] paulinbar commented on #3071
Hi @lbendlin, thanks for your comment. I am going to check this out.

[2021-05-27 09:34] paulinbar commented on #3073
Hi @MikeSunGithub, thanks for your comment. I'm checking out whether the feature has indeed been released yet, and I will also check out the point you mentioned. Thanks!

[2021-05-27 09:43] paulinbar commented on #3073
Hi @MikeSunGithub, thanks for you comment. I have forwarded it on to the doc author for consideration.

[2021-05-27 12:18] peter-myers commented on #3064
Hi @darlove - thanks for pointing that out. I've updated the article to reflect your feedback. Cheers. #please-close

[2021-05-27 12:18] #3064 closed

[2021-05-27 15:12] matuhinal opened #3075 "on-premises data gateway"
Help -The gateway cannot be installed on 32-bit Windows.

[2021-05-27 17:16] wgbrown opened #3076 "Custom Visuals security review is not referenced"
The documentation around custom visuals does not call out the security reviews done for certified visuals.

[2021-05-27 20:45] joelgibby opened #3077 "Credentials are blank by default, causing training to fail"
In the tutorial, when clicking “Save and Train”, the refresh process begins but fails. Going to the data flow settings > Credentials and assigning proper credentials where needed allows the next refresh to complete.

[2021-05-27 20:47] #3077 closed

[2021-05-27 20:49] joelgibby opened #3078 "Power BI AutoML tutorial : Credentials are blank by default, causing training to fail"
In the tutorial, when clicking “Save and Train”, the refresh process begins but fails with "Credentials not found for data source"

Going to the data flow ellipses > settings > Credentials and assigning proper credentials where needed allows the next refresh to complete.

---#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51

[2021-05-28 07:53] paulinbar commented on #3071
Hi @lbendlin, the feature is supposed to be out early next week. I've deleted it from the documentation meanwhile. Thanks again for calling this to our attention!

[2021-05-28 14:36] marsmichel opened #3079 "Is CSP working or is this just MCA?"
We tryed to connect CSP to this portal but it did not work we dont see the CSP options to link a per customer from partnercenter. Please help because we want to onboard some customers on this power bi platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dc4bd0c-b3d7-3ace-ca76-696e9c278d4b
* Version Independent ID:

[2021-05-28 15:37] matt-hartsock opened #3080 "Example code doesn't compile - overload updated and requires additional parameter"
Following the same steps provided in the C# console application will not result in a compliable solution.  line 48, where the token var is set has an invalid cast from System.Uri to Microsoft.IdentityModel.Clients.ActiveDirectory.UserCredential.  It appears the overload of the function AcquireTokenAsync now requires PlatformParameters as a 4th parameter.

---
#### Document Details

⚠ *Do not edit

[2021-05-28 17:11] nvanlent opened #3081 "Anomaly Explanations Not Finding Best Explanation"
I tried the anomaly feature for the first time today.  When manually figuring out where an anomaly comes from, I narrowed it down to a single material.  However, the possible explanations doesn't list the material, even when I include it in the "Explain by" list.  I know the anomaly is coming from a single material, because if I use a slicer to exclude the one material, then the anomaly goes away.

[2021-05-28 19:20] dsdesrosiers opened #3082 "Right click to group not working in May 2021 Release"
Two potential issues...

1. Downloaded May 2021 Release and found some PBIX files were now longer grouping visuals that we had - everything was just a spaghetti mess since we use the groups to show/hide sets of objects.

2. Multi-select with CTRL-Click and right click is not producing the option to Group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-05-31 03:50] bradrush opened #3084 "Microsoft Graph Security (Beta) no longer appears in the Get Data list"
Hi there, it seems the Microsoft Graph Security (Beta) has been removed. Pity because that is what I am wanting to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7110b1-ad2a-f73a-3ada-27fbc387075c
* Version Independent ID: 1f8fafd5-ddfa-76c1-1ee0-3a015b87c84c
* Content: [Connect to the Microsoft Graph Security A

[2021-05-31 08:45] rhariharaneee opened #3086 "Linked Entity Support in PPU"
I can see this below line. is it specific to Power BI Premium not PPU? I can use Linked Entity in PPU. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71265a0f-32b6-7cf3-7daa-3b523aa556a5
* Version Independent ID: da1e7392-ea68-65c7-916e-89e0d9974dc5
* Content: [Premium features of dataflows - Power BI](

[2021-05-31 22:11] paulinbar commented on #3084
Thanks for your comment, @bradrush. Yes, you're right, it's been deprecated. You've reached the documentation channel, but you can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2021-05-31 22:11] #3084 closed

[2021-06-01 09:14] SteveFringe commented on #2978
hi @maggiesMSFT is there any feedback on this? I'm also not sure why this issue has "needs-more-info" label. i think i've provided all the info in the initial question

[2021-06-01 15:37] ZacharyGoldman opened #3087 "Clarify Premium vs. PPU"
Hi! It would be helpful on this page to clarify how PPU impacts all of the mentions of "premium required." If I have a PPU license, which of these capabilities are available and what are the differences in how dataflows work with Premium vs. PPU?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71265a0f-32b6-7cf

[2021-06-01 16:11] olthomps opened #3088 "Limitation not called out"
One limitation that is not called out is RLS will not work for embedded web part, when the Power BI Report is connecting to an Analysis Services model with RLS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8affce3-98f2-0cc6-b4de-d9af7ced0fbe
* Content: [

[2021-06-01 16:55] Geary46 opened #3089 "Adobe Analytics - Versions [1.0 vs. 2.0 Beta] Documentation"
[Hello, Our team recently noticed that our data connection became broken with PowerBi when the 2.0 Beta option became available. Can you adjust this documentation to include how to authenticate sign in from both the 1.0 and 2.0 versions? We are also experiencing a freeze when trying to authenticate in the 1.0 version currently and I don't know which API feature to point the Adobe Analytics team to

[2021-06-01 19:59] paulinbar commented on #3079
Hi @marsmichel, thanks for reaching out to us. First of all, I would like to ask you whether you have the most recent version of the app. This has been the source of some confusion and sometimes in the more recent version the problem isn't present anymore. Please check the version of app you have installed. It should have this logo:
![image](https://user-images.githubusercontent.com/54644589/12038

[2021-06-01 20:06] paulinbar commented on #3075
Thanks for your comment, @matuhina. You've reached the documentation team. Is there doc article that lacks information? Can you provide a little more detail on the issue you raised? If there's no documentation involved, I suggest you try the [Power BI Community]( https://community.powerbi.com) or our [support page](https://support.powerbi.com).

[2021-06-01 20:08] paulinbar commented on #3076
Thanks for your comment, @wgbrown. I've assigned this issue to the doc author for review.

[2021-06-01 20:10] paulinbar commented on #3078
Thanks for your comment, @joelgibby. I've assigned this issue to the doc author for review.

[2021-06-01 20:12] paulinbar commented on #3080
Thanks for your comment, @matt-hartsock. I've assigned this issue to the doc author for review.

[2021-06-01 20:16] paulinbar commented on #3081
Thanks for your comment, @nvanlent. This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com). I really app

[2021-06-01 20:16] #3081 closed

[2021-06-01 20:19] paulinbar commented on #3082
Thanks for your comment, @dsdesrosiers. This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2021-06-01 20:19] #3082 closed

[2021-06-01 20:21] paulinbar commented on #3086
Thanks for your comment, @rhariharaneee. I've assigned this issue to the doc author for review.

[2021-06-01 20:24] paulinbar commented on #3087
Thanks for your comment, @ZacharyGoldman. Good question. We've had some others asking for more clarity too. I've assigned this issue to the doc author for review. Thanks taking the time to provide your feedback!

[2021-06-01 20:27] paulinbar commented on #3089
Thanks for your comment, @Geary46. I've assigned this issue to the doc author for review.

[2021-06-02 05:14] Hyamyam opened #3090 "[Revision-Request] Gen2 Chart"
Hi Authors,

I hope you're doing well and safe.
Could you please check the chart as below:

![image](https://user-images.githubusercontent.com/73410575/120424637-c3640980-c3a7-11eb-84da-47554afbd3d1.png)

There is no info about P4 and P5.
Could you please update these?

Thank you,
Hiroki

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-06-02 06:04] matuhinal commented on #3075
Thanks! Please began in support page and eml

[2021-06-02 06:06] mihart commented on #3090
Thanks for your comment, @Hyamyam . This issue has been assigned to the doc author for review.

[2021-06-02 06:19] matuhina commented on #3075
Hello Paul .Thanks for the offer of help
First support request? How can I combine my two profiles: matuhina and
matyuhinal? It's a mess!) Power BI analytics is already connected

ср, 2 июн. 2021 г. в 02:07, Paul Inbar ***@***.***>:

[2021-06-02 13:47] KesemSharabi commented on #3069
Thanks for your comment, @ruve1k.

I've assigned this issue to the doc author for review.

[2021-06-02 17:32] cmargraff opened #3091 "Broken Link"
Last link in next steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800d2586-fb2d-0057-f709-7a58ae9648aa
* Version Independent ID: f6c68337-f88a-ebd3-ece5-8a051993dbd5
* Content: [Data protection in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-security-data-protection-overview)
* Cont

[2021-06-03 05:51] krngd2 opened #3092 "Namespace 'powerbi' has no exported member 'VisualEnumerationInstanceKinds'.ts(2694)"
I am trying to implement conditional formatting but there is no exported member in 'powerbi-visuals-api'

version
    "powerbi-visuals-api": "~2.6.1",
    "powerbi-visuals-utils-dataviewutils": "2.2.1"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3300d18-dfe1-a0a0-597e-2f5760924ca1
* Version Independent ID: 29fd380a-

[2021-06-03 09:48] mothman11 opened #3093 "URL by icon is now available in matrix"
URL by icon is now available in matrix, the docs should be updated :)
Glad I tried it, after my initial disappointment after reading the docs that say it's not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97
* Version Independent ID: 23ede21d-e41a-9121-e23c-b52409198e31
*

[2021-06-03 16:32] maggiesMSFT commented on #3093
Hi, @mothman11 -- thanks for pointing that out!
Question: When I add a URL to a matrix and turn on the URL icon, I still see the URL itself if the URL field is in Rows, but I see the icon if the URL is in Columns. Are you seeing the same?

[2021-06-03 19:45] asocorro opened #3100 "Publishing"
Hi, even though the page says:

_you cannot publish or import the workbook back into Power BI, because you can only publish or import workbooks into Power BI that have data in tables, or that have a data model_

I was able to publish a workbook with a simple pivot table connected to the dataset.

I couldn't find a way to refresh it when the underlying dataset was refreshed, however, even though I

[2021-06-03 21:01] rosscouldrey opened #3101 "AAS and gateway update"
On Page 86 of the May 2020 release of the Enterprise Deployment Whitepaper there is a reference to utilizing the gateway with AAS behind a VNET.

<quote>
`If you are connecting to Analysis Services through the data gateway (for on-premises AS, or AAS within a virtual network), `
</quote>

However the Data sources document site states that AAS is not supported with a Gateway in any circumstance.  T

[2021-06-03 21:04] vtitte2020 commented on #3101
Will add further to Ross feedback, AAS is not supported in a virtual network. "AAS within a virtual network" line should be removed.

[2021-06-04 06:11] AnooshaGarimella opened #3102 "Clarification about the limitations and considerations"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b27c75-1cfd-7fdd-33d8-a401fcf2989c
* Version Independent ID: 0bd5b042-8ab5-bca0-64bb-c0c59665f4d8
* Content: [Connect to an Impala database in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-impala

[2021-06-04 06:15] AnooshaGarimella commented on #3102
My customer is facing a lot of issues while using the on-premises gateway with the impala connector and hence the question.

[2021-06-04 11:19] SwaglordHabib opened #3103 "On Premise Data Gateway will not connect to DB"
I'm trying to connect to a SQL Server, somemthing called like [foo.companyname.bar] with the On Premise Data Gateway. Unfortunately I get this error:
![image](https://user-images.githubusercontent.com/43405332/120790740-9c3a4300-c533-11eb-8623-2e6abee3bed7.png)
(I've removed the gateway name from the picture)

I am convinced that this is not a credentials issue, otherwise the error message would b

[2021-06-04 16:55] nicheplayer opened #3104 "Emphasize role of applied filters in report subscriptions"
Given that a common end user expectation is that a report subscription arriving in their email inbox will reflect any filters applied to the report prior to creating the subscription, I'd recommend that the information on this lack of functionality be mentioned much more prominently on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-06-04 23:21] raghu4sangeeth opened #3105 "Adhoc Invites through Report and Dashboard Sharing."
In Section - https://docs.microsoft.com/en-us/power-bi/admin/service-admin-azure-ad-b2b#invite-guest-users

it is indicated that the users are able to send adhoc invites through "Report / Dashboard Sharing", Per the new sharing experience this is not allowed any more. Please remove the option from the documentation to avoid any confusion.

Please take a look the the documentation section here - ht

[2021-06-05 00:36] raghu4sangeeth commented on #3105
To be more specific, we in the new experience adhoc invites need to be sent through the direct access only. This is not documented.

[2021-06-07 12:04] paulinbar commented on #3091
Hi @cmargraff, thanks for pointing this out. I will find another link or take that one down.

[2021-06-07 12:05] paulinbar commented on #3092
Hi @krngd2, thanks for reaching out to us. I have forwarded your comment along to the doc author for consideration.

[2021-06-07 12:08] paulinbar commented on #3100
Hi @asocorro, thanks for reaching out to us with your question. I have forwarded it on to the doc author for consideration.

[2021-06-07 12:09] paulinbar commented on #3101
Hi @vtitte2020, thanks for reaching out to us with your comment. I have forwarded it along to the doc author for consideration.

[2021-06-07 12:12] paulinbar commented on #3102
Hi @AnooshaGarimella, thanks for reaching out to us with your question. I have forwarded it along to the doc author for consideration.

[2021-06-07 12:15] paulinbar commented on #3103
Thanks for your comment, @SwaglordHabib. This looks like a support request or product question rather than documentation feedback. I suggest you try asking in the [Power BI Community]( https://community.powerbi.com), or on our [support page](https://support.powerbi.com). Thanks!

[2021-06-07 12:15] #3103 closed

[2021-06-07 12:16] paulinbar commented on #3104
Thanks for your comment, @nicheplayer. I've assigned this issue to the doc author for review.

[2021-06-07 12:18] paulinbar commented on #3105
Thanks for you comments, @raghu4sangeeth. I will review the document and make necessary changes.

[2021-06-07 14:24] chrismanuel1993 opened #3106 "Missing prerequisites"
[Enter feedback here]
Should also be added that to save a copy of a report (without an app method), in addition to build access, they also need to be in a non-Read-Only role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47

[2021-06-07 17:43] joelgibby commented on #3078
Helpful screenshot from https://docs.microsoft.com/en-us/power-bi/connect-data/service-aml-integrate?context=azure/machine-learning/context/ml-context#enable-datasets-to-refresh

https://docs.microsoft.com/en-us/power-bi/connect-data/media/service-aml-integrate/data-refresh.png

[2021-06-07 22:03] zwiddoss opened #3107 "Confusion on how to share report outside organization"
This article does not seem to help me understand how I share a report outside my organization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f47742-00cf-eac0-7880-18eb5e988003
* Version Independent ID: 0010dce8-b1e0-b1b4-9840-ff2c3e32b53e
* Content: [Share Power BI reports and dashboards with coworkers and others -

[2021-06-08 01:37] Dan1480 opened #3108 "Period missing at end of sentence."
The following sentence does not have a period at its end.
"To understand which workloads are supported for each tier, refer to the Configure workloads in a Premium capacity article"
Call me picky, but it messes up my screen reader.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72fa2a8f-51b8-14fc-5c99-7875d009d

[2021-06-08 15:31] #3091 closed

[2021-06-08 15:32] paulinbar commented on #3079
Hi @marsmichel, did you manage to do what you were trying to do. Did you ascertain that you were running the most current version of the app?

[2021-06-08 17:12] maggiesMSFT commented on #2682
Hi, @miguelvidex -- belatedly, the article is updated. The change will be live today. Thanks!

[2021-06-08 17:12] #2682 closed

[2021-06-08 18:18] krngd2 opened #3110 "How to access colors set in Conditional formatting"
I was able to implement the conditional formatting and its showing up in format pane but Where can we access the colors defined in there? This is not mentioned in the article.  I am using Matrix Data view mapping
I am using class method to define Format Settings.

[code]
I am unable to figure out how to access colors now.
---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-06-08 18:59] carebear4hire opened #3111 "unclear licensing requirements for subscriptions"
Step 3. g. the last bullet under the "Subscribe to a dashboard or a report page" section.
It currently reads: "Add the full report as an attachment instead of only a single report page and select either PDF or PowerPoint. The size of the attachment is limited to no more than 20 pages and less than 25 MB. The attachment respects all privacy labels for the report."
This creates confusion as it does

[2021-06-08 19:14] paulinbar commented on #3040
Hi @stingaa, I checked on this - the answer I got is that unfortunately there isn't a way for an end user to reduce the requested scopes with the current app/connector.

The app developers have been in touch the Github analytics team in regards to them building a new connector for Power BI and deprecating the current one, but there aren't any concrete plans as of yet.

Sorry I don't have better ne

[2021-06-08 19:14] #3040 closed

[2021-06-09 03:41] NooWinFr opened #3112 ""firstLevelElements": Slicer item color (when in focus mode)"
Hello Sir,
I don't understand how color class "firstLevelElements" formats "Slicer item color (when in focus mode)".
What does Slicer item color (when in focus mode) mean? font color or background color?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent

[2021-06-09 05:20] NooWinFr opened #3113 "Document Wrong: "background": Labels background color (when inside data points)"
Hello,
Color class "background" formats "Labels color (when inside data points)".
Not "Label background color (when inside data points)".
Thanks to verify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use r

[2021-06-09 05:36] #3113 closed

[2021-06-09 06:54] AnooshaGarimella commented on #3102
Hello,

Do we have any update on this request? May I setup a quick meeting with the content owner to clarify all the questions I have on the doc?

Thank you.

Regards,
Anoosha Garimella

From: Paul Inbar ***@***.***>
Sent: Monday, June 7, 2021 5:42 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Anoosha Garimella ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Clari

[2021-06-09 07:13] paulinbar commented on #3102
Hi @AnooshaGarimella, I am not the doc author, but it sounds from reading the doc that it is supported both on Desktop and on-premises, perhaps, as far as on-premises is only if one of the three supported authentication methods is used. That is probably what you understood as well. I did find this support article, while perhaps not relevant to your situation, does indicate some kind of support in

[2021-06-09 07:21] DaveRuijter opened #3114 "Outdated info, tenant settings no longer available"
I noticed that the tenant settings mentioned on this docs page are outdate, as they are currently not showing in the Power BI Admin Portal.

[2021-06-09 13:53] KesemSharabi commented on #3106
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-06-09 13:54] KesemSharabi commented on #3107
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-06-09 13:56] KesemSharabi commented on #3108
Hi @Dan1480,

Thank you for pointing this out. I'll add a full stop at the end of this sentence shortly.

[2021-06-09 14:04] KesemSharabi commented on #3110
Hi @krngd2,

Thanks for your comment. @uve - can you please help here? Is there information missing from the article?

[2021-06-09 14:07] KesemSharabi commented on #3111
Thanks for your comment, @carebear4hire.

I've assigned this issue to the doc author for review.

[2021-06-09 14:10] KesemSharabi commented on #3112
Thanks for your comment, @NooWinFr.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-06-09 14:15] rushirvk94 opened #3115 "Customer is unable to share reports to external users using Microsoft 365 group"
Hi Team,
I am Microsoft support engineer ,I was handling a case in which cx mentioned that he is unable to share reports to external users using Microsoft 365 group. So we created an IcM but PG team told me that this is not a bug and this is by design. But in the official sharing report documentation ,nowhere mentioned that we cannot use M 365 groups while sharing reports to users. Customer was as

[2021-06-09 14:28] paulinbar commented on #3106
Hi @chrismanuel1993, thanks for your comment. Yes, you're right, you need at least a Contributor role in the workspace where the report resides. I'm working to clarify in the document. Thanks!

[2021-06-09 14:35] paulinbar commented on #3106
@chrismanuel1993, as a matter of fact, if you are a Contributor in the Workspace where the report is located, you don't even need Build permission in addition. The Contributor role is enough.

[2021-06-09 17:48] chrismanuel1993 commented on #3106
@paulinbar true. I think Contributor has build permission as default as they can edit

[2021-06-09 18:26] paulinbar commented on #3106
@chrismanuel1993, yes. In any event, I have engaged the product team to help me sort things out... when you scratch under the surface it starts to get complicated... so I'll get back to you soon.

[2021-06-09 20:08] IrkenCR opened #3116 "Link to Azure Information Protection pricing is broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 233c91bd-3428-d866-aa90-56c18c750153
* Version Independent ID: 5d5597ab-0b10-47b1-ac9c-fca9946a2eab
* Content: [Using Microsoft Cloud App Security controls in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-security-using-

[2021-06-10 03:24] dipteshbose opened #3117 "Setting Alert Option is missing from a tile"
Setting Alert Option is missing from a tile. Even for Gauges, the option does not show up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e35489ab-e39e-b7be-588d-38f26ccf5442
* Version Independent ID: f5145d5d-afbc-f3f0-7275-1186b60890d0
* Content: [Subscribe yourself to reports and dashboards - Power BI](https://docs.

[2021-06-10 06:00] tarekbanims opened #3118 "Licenses for Embed for your Org scenario to be adjusted"
For the licensing requirements, Embed for your org should be Pro, PPU, or P SKU.
![image](https://user-images.githubusercontent.com/85665574/121472581-6f25de80-c9d2-11eb-9b99-98ed7bbf0292.png)
the Article mentions Pro, PPU and A SKU

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90078026-b608-ccf2-f3ef-58021b484f75
* V

[2021-06-10 06:09] #2980 closed

[2021-06-10 06:13] #3004 closed

[2021-06-10 06:17] KesemSharabi commented on #3068
Hi @NovoJeep,

Apologies for the delayed response. If your still looking to submit feedback or feature ideas, you can go to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

Thanks,

Kesem

[2021-06-10 06:19] #3068 closed

[2021-06-10 06:23] KesemSharabi commented on #3076
Hi @wgbrown,

Can you please explain what you're referring to as 'security review'?

Are you referring to this document - [Get a Power BI visual certified](https://docs.microsoft.com/power-bi/developer/visuals/power-bi-custom-visuals-certified)?

Thanks,

Kesem

[2021-06-10 06:27] KesemSharabi commented on #3080
Hi @matt-hartsock,

I'm sorry to say that this article is very old, and that the code in it is probably not accurate. It really needs a good refresh but unfortunately that's not going to happen soon.

If you need help trying to figure this out, you might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

Thanks

[2021-06-10 06:32] KesemSharabi commented on #3092
Hi @krngd2.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

@uve - can you provide a quick fix/answer for this issue?

Thanks,

Kesem

[2021-06-10 06:36] KesemSharabi commented on #3108
Hi @Dan1480,

Once again, thanks for your feedback. This issue is now fixed - see [Capacity and SKUs](https://docs.microsoft.com/power-bi/developer/embedded/embedded-capacity#capacity-and-skus).

![image](https://user-images.githubusercontent.com/54834915/121476448-5962ea00-c9cf-11eb-8bfa-46ec59312466.png)

Thanks,

Kesem

[2021-06-10 06:36] #3108 closed

[2021-06-10 07:10] krngd2 commented on #3092
Thanks @KesemSharabi This issue is fixed here https://github.com/microsoft/powerbi-visuals-api/issues/24.

[2021-06-10 07:10] #3092 closed

[2021-06-10 11:51] paulHQ opened #3119 "Power BI Desktop PDF Export"
Where is the pdf exported to?
I can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267f-21d5-547b-b3d8614005fd
* Content: [Export your reports to PDF format from Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/crea

[2021-06-10 15:21] MCaviezel opened #3120 "Storage Blob Data Owner"
Hi,

I just figured out that Storage Blob Data Owner  is the correct option to select to connect to ADLS Gen2. (at least if you connect Dataverse to ADLS Gen2, which is what I have done).

The classic "owner" isn't working.

Best regards,
Marco

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f28e6c-a22d-484b-6599-9b17

[2021-06-10 16:40] krngd2 opened #3121 "'"powerbi-visuals-utils-svgutils"' has no exported member named 'pointer'"
I am trying to import `pointer` but there is no exported module
Error showing as

     '"powerbi-visuals-utils-svgutils"' has no exported member named 'pointer'. Did you mean 'Point'?

`package.json` versions

    "powerbi-visuals-api": "^3.8.2",
    "powerbi-visuals-utils-chartutils": "^2.6.0",
    "powerbi-visuals-utils-dataviewutils": "2.2.1",
    "powerbi-visuals-utils-svgutils": "^2.3.2"

---

[2021-06-10 22:08] maggiesMSFT commented on #3115
Thanks, @rushirvk94 ! Updating the article to make it clear that you can’t use Microsoft 365 Unified groups for direct sharing, either internal or external.

[2021-06-10 22:08] #3115 closed

[2021-06-10 23:35] kfollis commented on #3116
@IrkenCR - Thank you for bringing this to our attention. It appears that the target page is no longer available and the link is also broken on the marketing page. I'm assigning this to the writer to follow up to see if a better destination is available.

[2021-06-10 23:59] kfollis commented on #3117
@dipteshbose - thanks for the feedback. I found the procedure you're referencing in this article: https://docs.microsoft.com/en-us/power-bi/consumer/end-user-alerts, but will assign this issue to the writer to verify the steps and note any exceptions you may encounter.

[2021-06-11 00:02] kfollis commented on #3118
@tarekbanims - thank you for the feedback. I'm assigning this to the writer to verify the licensing requirements and update as needed.

[2021-06-11 00:38] kfollis commented on #3119
@paulHQ - the pdf file should automatically open in your browser, but if you've closed it, you should be able to find the pdf in your local downloads folder (users/username/downloads). I am closing this issue now, but will follow up with my team offline to consolidate the related articles.

[2021-06-11 00:38] #3119 closed

[2021-06-11 00:56] kfollis commented on #3120
@MCaviezel - thanks for the input. Assigning to the writer to make an update.

[2021-06-11 00:59] kfollis commented on #3121
@krngd2 - thanks for the input! I'm assigning this to the writer to take a look and update as needed.

[2021-06-11 15:22] bkinnan2 opened #3123 "What has replaced it?"
[Enter feedback here]
The page states that this feature was deprecated in May 2021, but what is to be used in its place? There doesn't seem to be a clear picture of what should be used in place of this deprecated feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7110b1-ad2a-f73a-3ada-27fbc387075c
* Version Inde

[2021-06-11 16:33] kfollis commented on #3123
@bkinnan2 - unfortunately I can't advise on a replacement solution, but I'm assigning this to the writer to see if we can add that detail. In the meantime, you may find more information in the Microsoft Graph documentation located here: https://docs.microsoft.com/en-us/graph/

[2021-06-11 17:25] rikbrowning opened #3124 "Does PowerBI support IE11?"
The documentation mentions:

"Internet Explorer 11. Some advanced features, such as lineage view, aren't supported in Internet Explorer. See Data lineage (preview) for details."

Which would imply it supports IE11. However the next line is:

"Microsoft 365 apps and services, including Power BI, no longer support Internet Explorer 11 (IE 11). Refer to this Microsoft 365 blog post for more informati

[2021-06-11 18:00] danmyhre opened #3125 "Premium per Capacity vs PPU"
The table in this section needs to be updated to clarify that there are differences between PPC and PPU workspaces
https://docs.microsoft.com/en-us/power-bi/admin/service-admin-licensing-organization#license-types-and-capabilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec63d236-fde3-47d8-96a5-5d205dd96b59
* Ver

[2021-06-11 22:03] maggiesMSFT commented on #3124
Hi, @rikbrowning -- good question! Assigning to the author to investigate.

[2021-06-11 22:06] maggiesMSFT commented on #3125
Hi, @danmyhre -- thanks for asking! Assigning to the author to respond.

[2021-06-11 23:27] paulHQ commented on #3119
@kfollis Hi Kate, and thanks for your prompt reply.
Certainly, if I publish and then export from the online PowerBI console it does land in my downloads folder.
But what is the situation if I export to pdf from the desktop version?
If all goes well, my pdf will open, and I can then save it.
However, I have had situations where I've accidentally closed the file before saving it or PowerBI itself ha

[2021-06-12 04:28] satishrabari opened #3126 "Sample code not working properly"
Normally, the sample code is working fine, but I get the following error when I try to open reports in multiple tabs.
Would you please suggest any solution?
I try to post this on the sample code provide git, but they cannot post the bug in git.
here is sample code URL [https://github.com/microsoft/PowerBI-Developer-Samples](url)

Error Details:
**One or more errors occurred. (AADSTS50196: The serv

[2021-06-13 20:05] paulinbar commented on #3126
Thanks for your comment, @satishrabari. This looks like a support request rather than documentation feedback. For support with the developer samples on Github, please try our [support page](https://support.powerbi.com). You might also get some help in the [Power BI Community]( https://community.powerbi.com).

[2021-06-13 20:05] #3126 closed

[2021-06-14 11:57] #3080 closed

[2021-06-14 16:47] pawarbi opened #3127 "Update the Limitations"
One of the limitations of the Insights feature is that it does not work when the report is distributed via 'App'. It only works if the report is accessed directly. Please confirm with the authors and add this as a limitation. This is an important limitation to know if the report will be distributed via App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-06-14 18:11] maggiesMSFT commented on #3124
Good question, @rikbrowning ! Updated the article to read:
"Microsoft 365 apps and services, including Power BI, will no longer support Internet Explorer 11 (IE 11) starting in August 2021."
change will be live this afternoon June 14, Pacific time.
Thanks!

[2021-06-14 18:11] #3124 closed

[2021-06-14 18:13] chrisweis opened #3129 "Error in "Connect to a Billing Account" steps"
Hello,

Step # 5 seems to permit two options with no discernable difference in behavior:

DOCUMENTED STEP:
For Choose Scope, select Manually Input Scope and input the connection string as shown in the example below, replacing {billingAccountId} with the data copied from the previous steps. /providers/Microsoft.Billing/billingAccounts/{billingAccountId}

STEP THAT ALSO SUCCEEDS (and is easier):
For

[2021-06-15 10:02] alexdon75 opened #3130 "The document has no content related to the title."
The subject line is "Organise work in the new workspaces in Power BI". This article tells about how the new work spaces are different to the old ones and how it requires licences costing twice as much.  All this is very nice.

I want to know how to organise work in a new workspace. There is NO CONTENT on this subject but that is the title of the article. Very frustrating!

[Enter feedback here]

-

[2021-06-15 17:23] dlawrences opened #3131 "Misleading documentation line about DirectQuery support in Power BI Snowflake SSO"
Hey team

In the related page below, instead of

I think you meant

which obviously changes the meaning of the features that are supported and are not supported. The current line misleads users into thinking you can use only DirectQuery through AAD SSO and that "Import" is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-06-15 19:33] maggiesMSFT commented on #2729
Hi, @andymayPlunket -- great feedback! Though not really about the article itself. I've passed it on to the product team. You can also provide feedback to the product team at https://ideas.powerbi.com/ideas/.
Thanks!

[2021-06-15 19:33] #2729 closed

[2021-06-15 21:27] maggiesMSFT commented on #3008
Hi, @TwiddlyTiger -- good suggestion! Updating the article today, should be live tomorrow afternoon June 16 Pacific time.

[2021-06-15 21:27] #3008 closed

[2021-06-16 13:30] KesemSharabi commented on #3127
Thanks for your comment, @pawarbi.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-06-16 13:31] KesemSharabi commented on #3129
Thanks for your comment, @chrisweis.

I've assigned this issue to the doc author for review.

[2021-06-16 13:32] KesemSharabi commented on #3130
Thanks for your comment, @alexdon75.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-06-16 13:33] KesemSharabi commented on #3131
Thanks for your comment, @dlawrences.

I've assigned this issue to the doc author for review.

[2021-06-16 20:07] stbnjenkins opened #3135 "GetSnapshots activity not documented"
The `GetSnapshots` activity is not present in the [Operations available in the audit and activity logs table](https://docs.microsoft.com/en-us/power-bi/admin/service-admin-auditing#operations-available-in-the-audit-and-activity-logs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e8bce0-95c1-07f7-d3a3-a1c22bd21f29
*

[2021-06-17 05:09] Kristofdeme opened #3136 "Misleading data source documentation, nothing about "Azure Database for PostgreSQL server""
Nothing is mentioned about "Azure Database for PostgreSQL server".
i assume it needs the gateway as it does not seem to be considered a cloud data source by the power bi service and we are unable to get it to work without the gateway.

some misleading information is on the page stating Postgresql _is_ an approved data source and does not require a gateway.

Gateway (support) YES
Gateway (required)

[2021-06-17 20:37] reneg86 opened #3137 "Need to add a explicit process to change custom visuals in "My Organization""
Based in our experience during a case (2106140040000456)  with a customer.

I would like to add a process in the documentation:

The issue identified was that the visuals uploaded from private files included in “My Organization” section were deleted before replacing them with the visuals imported using “App source”. In this case, the visuals imported using “App source” are a different version and

[2021-06-18 06:17] dmitryvorono opened #3138 "сreateModalDialog is not a function"
[Enter feedback here]
Hello!
I wanted to create a test dialog box as specified in microsoft docs.
But, I get an error:
[code]
in console. Along with that, i have empty window with two buttons " OK " and "Cancel". My implementation for dialog box do not create.

How would I fix this? Maybe if there are any working examples?

Versions in `package.json`:
[code]
and pbiviz 3.2.3.

---
#### Document De

[2021-06-18 14:04] frnk01 opened #3140 "ExportToFileInGroupAsync does not work - Status code 'Forbidden'"
There seems to be some issues with the ExportToFileInGroupAsync. I have followed the documentation provided on the docs pages, and verified that all steps are OK.

I'm running the code with service principal, and the service principal has been added to an AD group which has Administrator access to the workspace where the report I want to generate exist.

Code:
```var export = await pbiClient.Repor

[2021-06-18 15:06] haider392 opened #3141 "Documentation is outdated as Power BI UI has changed"
These steps are no longer accurate as Power BI UI has changed. Please update this documentation to reflect the new UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe99dcd3-62d6-0f11-3b13-031eb65c426c
* Version Independent ID: c0dc599b-c84c-ae09-42a0-5c28bb635810
* Content: [Where is my Power BI tenant located? - Pow

[2021-06-18 17:51] kfollis commented on #3141
@haider392 - thanks for pointing that out! We appreciate the input. I'm assigning this to get the change made and will update again after it's published.

[2021-06-18 17:54] kfollis commented on #3135
@stbnjenkins - thank you for making us aware of that. I did find 4 snapshot activities in the audit log UI, so will track down the details and get an update made.

[2021-06-18 18:28] kfollis commented on #3136
@Kristofdeme - thank you for the feedback and the details about your experience. I'm assigning this to the writer to clarify connection details for https://docs.microsoft.com/en-us/azure/postgresql/ implementations. It sounds like you were ultimately successful, but that a direct connection from the service _did_ require a gateway.

[2021-06-18 18:30] kfollis commented on #3137
@reneg86 - thanks for the details about the procedure. I'm assigning this feedback to the writer to verify and address in the related documentation.

[2021-06-18 18:38] kfollis commented on #3138
@dmitryvorono - thanks for submitting feedback on our documentation. I am assigning this to the writer to consider your experience in a future update. However, for help with the error that you are seeing, please contact https://support.powerbi.com or consult with the community at https://community.powerbi.com, as we can't provide support through this channel.

[2021-06-18 18:47] kfollis commented on #3140
@frnk01 - do you have a specific document that should be updated? We use this channel to improve our documentation, but it sounds like you need support. Please contact https://support.powerbi.com or consult with your peers in the community at https://community.powerbi.com.

[2021-06-18 18:47] #3140 closed

[2021-06-18 19:22] tacklers opened #3142 "Format Shape instructions wrong."
The tutorial on creating and editing a title is misleading and not necessary.
On the 'Format Shape' pane there is no 'Outline' setting but there is 'Line'
It may not mean a lot but if you're trying to follow step by step it is a pain.
The rest of the text then goes onto explain how to change transparency, put the rectangle to the back and change the font colour to white.
I started to lose the will

[2021-06-18 19:33] tacklers opened #3143 "Final report doesn't match filters"
There is an option to create two filters during the tutorial, the finished report shows only one. No problem.
So the screen shot shows only the 2014 data populating the graphs but nothing is selected on the filter?
Cheers, Richard
![bi-tutorial-finished-report](https://user-images.githubusercontent.com/19391937/122608621-72753600-d074-11eb-94b6-0a70dd0d1d36.png)

[Enter feedback here]

The tutoria

[2021-06-18 19:47] tacklers commented on #3143
Sorry. All data appears as no filter applied, it just doesn't display the 2013 labels.

[2021-06-18 19:47] #3143 closed

[2021-06-18 20:11] maggiesMSFT commented on #3142
Hi, @tacklers -- I don't want you to lose the will to live! But thanks for the chuckle 😁.
I'm puzzled: I do see **Outline**, not **Line**:
![image](https://user-images.githubusercontent.com/12401230/122611578-67031a00-d036-11eb-9c12-125042d945cb.png)
In defense of the article, that section is listed as **Extra credit**... so you are in no way required to do it, to have a working report! Or you can

[2021-06-18 20:11] #3142 closed

[2021-06-18 22:23] tacklers commented on #3142
Hi Maggie,

Thanks for the response, I now see outline, my version was out of date, attached too, sorry for the bother.

Cheers, Richard

From: Maggie Sparkman ***@***.***>
Sent: 18 June 2021 21:12
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Richard Collins ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Format Shape instructions wrong. (#3142)

Hi, @tacklers<https

[2021-06-18 22:57] reneg86 commented on #3137
@kfollis Hi, thanks for your quick response. Regards Rene

[2021-06-20 09:14] KesemSharabi commented on #3118
Hi @tarekbanims,

The note is correct, however it is misleading. The third bullet states that you need 'a capacity' - not an A (Azure) capacity. I'll rephrase it to make clearer.

Thanks for getting involved and for pointing this out!

Kesem

[2021-06-20 13:07] CrystalsForce opened #3144 "Typo"
Noticed typos in the article. References to "Lighting aura components" should be replaced to say "Lightning aura components"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5821622-a34a-d094-789a-f790c9b16204
* Version Independent ID: 53d46759-dd85-c50b-cf64-7b4dd3015d3a
* Content: [Use embedded analytics to embed Powe

[2021-06-21 08:16] paulinbar commented on #3144
Thanks for your observation, @CrystalsForce. I have directed it to the doc author for consideration.

[2021-06-21 10:49] Contezini opened #3145 "Misunderstanding of required features from PBI to user RB"
Reading this Post, I believed that I needed PBI Pro, Premium **or** PPC to publish an Paginated Report in PBI Service.

So I have spent (a lot of) hours learning, understanding, creating and formatting a very powerful Report in the desktop version, which I intended to publish (at least) to My Workspace in order to generated paginated reports.
Since I only have Pro license, and my company has no Pr

[2021-06-21 11:12] paulinbar commented on #3145
Thanks for your feedback @Contezini. I am forwarding it along to the doc author for further consideration.

[2021-06-22 06:14] anna907 opened #3146 "Power BI deployment pipelines - licensing requirements and embedded capacities"
[Enter feedback here]
For the licensing requirements part it is not clear enough whether A SKU can be used with Power BI deployment pipelines. This documents is only mentioning Premium capacities, which is confusing.
https://docs.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-get-started#accessing-deployment-pipelines

This is troubleshooting doc is the only document that describ

[2021-06-22 08:48] KesemSharabi commented on #3144
Hi @CrystalsForce,

Thanks for catching this typo and letting us know. It's now fixed - see [Lightning Aura](https://docs.microsoft.com/power-bi/developer/embedded/embed-power-bi-salesforce#lightning-aura).

Thanks,

Kesem

[2021-06-22 08:48] #3144 closed

[2021-06-22 08:52] KesemSharabi commented on #3118
Hi @tarekbanims,

I reworded the note so that it's no longer confusing (see [Prerequisites](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-your-organization?tabs=net-core#prerequisites)).

![image](https://user-images.githubusercontent.com/54834915/122894958-59100a80-d350-11eb-9bc3-63a888962449.png)

Thanks,

Kesem

[2021-06-22 08:52] #3118 closed

[2021-06-22 10:44] anna907 opened #3147 "Power BI dataset permissions - documentation on read permissions missing"
[Enter feedback here]

This article (https://docs.microsoft.com/en-us/power-bi/connect-data/service-datasets-build-permissions) is only describing the build permission for datasets. There is no document describing the dataset Read permission in detail however.

See this article for example, there is a comparison matrix between different workspace roles - would it be possible to have something simi

[2021-06-22 11:32] paulinbar commented on #3147
Hi @anna907, thanks for your comment. You are exactly right, and this has come up as an issue several times recently. Providing something more clear, perhaps along the lines of the matrix you mentioned, is on my to-do list for the near future. Thank you for underscoring the importance of getting some clarity here.

[2021-06-23 05:43] mihart commented on #3146
Thanks for your comment, @anna907 . This issue has been assigned to the doc author for review.

[2021-06-23 10:17] sidm-dev opened #3148 "Failure of Power Bi Refreshing a Dataflow causes whole reference chain to rollback"
https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-configure-consume#refreshing-a-dataflow

Query regarding this statement:-
"
If any of the dataflows in a reference chain fail to refresh, all the dataflows will roll back to the old data (dataflow refreshes are transactional within a workspace).
"
If a Source refreshed successfully, and triggered a refresh of a linked ta

[2021-06-23 11:43] KesemSharabi commented on #3148
Thanks for your comment, @sidm-dev.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-06-23 16:53] skstanley11 opened #3150 "Spelling Error"
In the formatting section of the tutorial where users are asked to add a background shape for visuals 2 and 3. The following instruction is provided:

Fill section, set the coloer to White, 10% darker

The word color is spelled incorrectly.

![PBI Module 2](https://user-images.githubusercontent.com/26886767/123137242-604f1b00-d419-11eb-81ce-4f79062875eb.PNG)

---
#### Document Details

⚠ *Do not e

[2021-06-23 17:00] skstanley11 opened #3151 "Title Ribbon Instructions Need Updating"
In Visual 1, users add a title to the report. Further on in the tutorial, users are asked to add a light blue ribbon to the title area of the report. However, in order for the Visual 1 text to be brought forward and appear on top of the blue ribbon, users need to make Visual 1 100% transparent.

![image](https://user-images.githubusercontent.com/26886767/123137835-08fd7a80-d41a-11eb-8145-b7c048807

[2021-06-23 17:28] maggiesMSFT commented on #3150
Thanks, @skstanley11 ! Fixing it now, will be live this afternoon June 23, Pacific time. Love those easy fixes! 😊

[2021-06-23 17:28] #3150 closed

[2021-06-23 17:31] reneg86 commented on #3137
@kfollis Hi Kate, how are you, hope you are ok. I was wondering if you had an update on this request?

[2021-06-23 17:32] skstanley11 commented on #3150
@maggiesMSFT thanks for picking this one up and knocking it out of the park! These tutorials are absolutely wonderful, we appreciate them and your efforts!

[2021-06-23 17:56] rduke-cfpwood commented on #2147
There are a couple of extra spaces in step 4. Below is corrected.

OraProvCfg /action:config /force /product:odp /component:dbproviderfactory /frameworkversion:v4.0.30319 /providerpath:Oracle.DataAccess.dll

[2021-06-24 02:31] maggiesMSFT commented on #3073
Hi, @MikeSunGithub -- thanks for your comment. Quick question: Is it possible that the person who's listed as the Contact (whose name appears at the top of the report) is not actually the report owner? Because it is possible for a report owner to set someone else as the Contact. I'm just wondering if that's the scenario. Thanks!

[2021-06-24 04:12] shogo0729 opened #3152 "[Update request] Annotation of P4/A7 & A8/P5 SKU"
Hi,
I am requesting document update as below.

**[Update request]**
Annotation of P4/A7 and A8/P5 SKU is not clear of what the customer needs to do next for introducing those large SKUs.
So, please clarify this point. I am sharing update idea.

**As is :** By special request only. For very large models greater than 100 GB.
**Idea :** For very large models greater than 100 GB. In order to activate

[2021-06-24 07:21] JanIvarMoldekleiv opened #3153 "MFA and PowerBI"
The solution provided is
"If you get the error - AADSTS50079: The user is required to use multi-factor authentication.

Need to use an AAD account that doesn't have MFA enabled."

This is just a band-aid on a very bad design choice. PowerBI need to allow API-key for accessing the service. Disabling MFA for developers is just not on the cards. That means using the test projects is not possible. For

[2021-06-24 11:39] syastrov opened #3154 "Refresh token example checks too often"
The JavaScript code sample for refreshing a token tries to check whether to refresh the token every 4 milliseconds.
This is far too often. Perhaps it was meant to be every 4 seconds?

https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/refresh-token

[2021-06-24 16:17] suesweetsue opened #3155 "Power BI export does not contain all data and is less than 150,000 row limit"
Some pages on our reports are not exporting all data and is not a row limit issue. For example, we have a page with about 85,000 distinct eligible members, but the exported data contains only 25,892 rows. The export is 3,796 KB, so it is does not appear to be impacted by the 16 MB limit either. It is possible that the export may be impacted by the data that is loaded on the page, which is not comp

[2021-06-24 23:55] maggiesMSFT commented on #2138
Hi, @luaguila -- not hearing back from you, I'm closing this issue.

[2021-06-24 23:55] #2138 closed

[2021-06-25 09:26] parna86 opened #3156 "Reverting template app to a regular app"
Hi,

It would be really helpful if you could add what to do if I want to disable the option of "Developing a template app".

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15
* Content: [Create the new workspaces -

[2021-06-25 17:15] asocorro opened #3157 "Is there a limit to the number of rows in featured tables?"
Also, should the data be immediately accessible in Excel or is there any post-processing that happens after the PBI dataset is refreshed?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74f8fd61-1d7c-6da2-7279-d88d72668a8a
* Version Independent ID: ce00fe65-ac80-be40-1bbd-ac799e6a2c53
* Content: [

[2021-06-25 19:34] maggiesMSFT commented on #3152
Hi, @shogo0729 -- thanks for your question! Assigning to the author to look into.

[2021-06-25 19:40] maggiesMSFT commented on #3153
Hi, @JanIvarMoldekleiv -- you're right, this feedback needs to go to the product team. 2 ways to get there. At the bottom of the article, next to the **This page** button, select **This product**:
![image](https://user-images.githubusercontent.com/12401230/123476983-485ecf00-d5b2-11eb-9752-fe041ea01bc8.png)

Or this link, https://ideas.powerbi.com/ideas/, will take you to the same place.

Thanks!

[2021-06-25 19:40] #3153 closed

[2021-06-25 19:44] maggiesMSFT commented on #3154
Hi, @syastrov  - thanks for your question! Assigning to the author to investigate.

[2021-06-25 19:52] maggiesMSFT commented on #3155
Hi, @suesweetsue --  not sure what's going on with your visual. Assigning to the author, but you may want to ask the community, https://community.powerbi.com/.
Meanwhile, to answer your 2nd question:
"Is there a way to load all data into the published report without continuously scrolling?"
I have a suggestion: You could create a paginated report with a table that contains all the rows, and prints

[2021-06-25 20:02] maggiesMSFT commented on #3156
Hi, @parna86 -- thanks for asking!Could you clarify, do you want to:
Disable the option of "Developing a template app".
or
Revert template app to a regular app
Thanks!

[2021-06-25 20:09] maggiesMSFT commented on #3157
Hi, @asocorro ! How are you? I'm not sure. I'll check and get back to you. Thanks!

[2021-06-25 20:22] maggiesMSFT commented on #3151
Hi, @skstanley11 -- we're talking about this article, right? https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-excel-stunning-report#build-your-report
IDK why it didn't include the link.
But wait: If you set the transparency of the rectangle fill to 100%, then the rectangle will have no color, right? It has to be transparency 0%, and then you select **Send to back**.
![image](https:

[2021-06-25 20:37] Grubike commented on #3157
@asocorro After publishing the dataset to a workspace, the featured table would be immediately available to search in Excel. Users would need to close and reopen any open Excel workbooks to see the data.

[2021-06-25 21:07] asocorro commented on #3157
Thank you for the quick reply.  I am getting puzzling delays and sometimes failed lookups when the featured table has millions of records.

________________________________
***@***.***D769E4.974217B0]

Adolfo J. Socorro, Ph.D.
President
eSolutions, Inc.

eSolutionsPR.com <http://www.esolutionspr.com/>
LinkedIn Profile<https://www.linkedin.com/in/adolfosocorro/>
787-553-3200 (Mobile)
.:. Business I

[2021-06-25 22:00] Grubike commented on #3157
@asocorro There is an indexing limit for featured tables as it uses QnA; the documentation for featured table would be updated. Read more [here](https://docs.microsoft.com/en-us/power-bi/natural-language/q-and-a-data-sources#how-does-indexing-work-with-qa) about QnA indexing.

[2021-06-25 22:14] asocorro commented on #3157
Ok, thanks, now it all makes more sense.  I started hitting a wall when loading about 5M rows.  It's too bad because the full table has about 15M rows.  Thanks for the info.  Have a nice weekend.

________________________________
From: Ike Edeagu ***@***.***>
Sent: Friday, June 25, 2021 6:00:31 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Adolfo J. Socorro, Ph.D. ***@***.***>; Mention ***@**

[2021-06-26 05:10] parna86 commented on #3156
Hi @maggiesMSFT , I want to revert the template app to a regular app.

[2021-06-28 04:36] dipteshbose commented on #3117
![Picture1](https://user-images.githubusercontent.com/65800453/123580812-2f475f80-d7f8-11eb-87c3-860e4d2f6397.jpg)

There is no option to create an alert. I have attached a snapshot. Kindly investigate as I need this feature to be enabled to write a power automate workflow.

[2021-06-28 07:48] nicovillarroel opened #3158 "Number of Users in the App Access List"
[Enter feedback here]
One of the limitation described in the article says : “You can have at most 100 users or groups in the access list for the app. However, you can give more than 100 users access to the app. To do so, use one or more user groups that contain all the desired users.”
Is this still valid? Which is the expected behavior?
Right now we have more than 200 users in the Access List, and

[2021-06-28 13:20] mazacm01 opened #3159 "Decoding binary version of excel from REST api call response"
Hi I have powershell script where I sent REST API calls:
[code]
And then I send email with attachment. Problem is, that attach file is damaged after email reciving. I guess I'm not working correctly with converting $File to Bytes[]. Do you know how to work with binary version of excel?

[2021-06-28 16:36] maggiesMSFT commented on #3156
Hi, @parna86 -- thanks for clarifying! I've checked, and the answer is no. You can't convert a template app workspace back to a regular workspace. Hope that clarifies, at least!

[2021-06-28 16:36] #3156 closed

[2021-06-28 16:56] maggiesMSFT commented on #3158
Hi, @nicovillarroel -- good question! I'll check and get back to you. Thanks!

[2021-06-28 18:12] maggiesMSFT commented on #3157
Thanks for asking, @asocorro and thanks for answering, @Grubike ! I'll update the article https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-create-excel-featured-tables#considerations-and-limitations.

[2021-06-28 18:12] #3157 closed

[2021-06-28 18:55] maggiesMSFT commented on #3156
@parna86 -- one suggestion: Can you upload the .pbix file to a new workspace?

[2021-06-29 01:30] maggiesMSFT commented on #2824
Hi, @Mike-Honey -- good points! Adding them to the article.

[2021-06-29 05:34] parna86 commented on #3156
@maggiesMSFT when I upload the file to a new workspace, I am able to create a regular app. But this involves transferring all relevant files to a new workspace.

[2021-06-29 12:58] skstanley11 commented on #3151
Hey @maggiesMSFT - I am so sorry for the slow response and thank you so much for you assist! The article that you reference is correct. Let me take a look at the instructions again and I am also leading an internal training tomorrow and will see if this group of users struggles with the instructions. Hold please!

[2021-06-30 00:51] maggiesMSFT commented on #3156
Hi, @parna86 -- Yes. I'm sorry, that's true.

[2021-06-30 07:23] MonkeySam opened #3160 "Thanks for the information. I could not find either key in my registry. Any suggestion?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b39a01-988d-1237-daf4-92793fb39214
* Version Independent ID: e781c340-b938-6d53-14ec-aa3269ecaa38
* Content: [Evaluation configuration settings for Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-evaluation-confi

[2021-06-30 10:03] KyronSr opened #3161 "Section 6 appears to be incorrect"
Section 6 of the v3 code says to:

pbiClient.Gateways.UpdateDatasource(gatewayId, datasourceId, credentialDetails);

when it should be:

pbiClient.Gateways.UpdateDatasource(datasource.GatewayId.Value, datasource.DatasourceId.Value, new UpdateDatasourceRequest(credentialDetails));

It would additionally be helpful to provide documentation on how to securely update the credentials when you are using

[2021-06-30 10:35] KesemSharabi commented on #3160
Thanks for your comment, @MonkeySam.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2021-06-30 10:35] #3160 closed

[2021-06-30 10:36] KesemSharabi commented on #3159
Thanks for your comment, @mazacm01.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2021-06-30 10:36] #3159 closed

[2021-06-30 13:24] KesemSharabi commented on #3154
Hi @syastrov,

Thanks for your comment, I'm checking it with the development team.

[2021-06-30 14:35] KyronSr commented on #3161
Thank you -- as to my comment on updating the credentials -- I finally figured out what was going on with that piece.  This seems to be a very very common question and googling you find several half-baked efforts to make it work.

For me to make it work, I had to
1.  Create my PBIX as attached to an Azure SQL DB
2. Import the PBIX  (PostImportWithFileInGroup)
3. Get a list of datasources with GetD

[2021-06-30 15:29] JJDE opened #3162 "Prerequisites - PBI Service Principals"
Please add infos in the prerequisites section about permissions which will need to be set for powerbi in the storage account.
My current assumption ist that at least following is needed?!
- "Power BI Premium" Principal --> Needs "Storage Blob Data Owner" RBAC Role on Storage Account Level?
- "Power BI Service" Principal" --> Needs "Storage Blob Data Owner" RBAC Role on Storage Account Level?
- The

[2021-06-30 17:41] maggiesMSFT commented on #2824
Thanks for both suggestions, @Mike-Honey ! I've added them to a rewrite of the article. Changes will be live this afternoon Pacific time 6/30/2021

[2021-06-30 17:41] #2824 closed

[2021-07-01 01:31] maggiesMSFT commented on #3130
Hey @alexdon75 -- thanks, I love your observation! My intention with the title was to indicate how you organize _all_ of your content into different workspaces, not so much how you organize content within a _single_ workspace.  I'm changing the title of the existing article so it more accurately represents the content. Change will be live in a day or 2.
Could you elaborate on the article you wante

[2021-07-01 01:31] #3130 closed

[2021-07-01 02:35] alexdon75 commented on #3130
Hi Maggie,

I was looking for some best practice ideas about how to organise content in
a new instance of Power BI. I'm not familiar with hte old work spaces so
the article didn't help me with my problem, although I can see hte benefit
for people moving from older work spaces. I wanted to set it up so that
people can see the reports and visualizations but I would be able to
abstract the data sourc

[2021-07-01 05:03] paulinbar opened #3164 "Test issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49ffb799-4e1a-c47c-749e-c27b0bd0ae65
* Version Independent ID: 7744ac08-00fd-62d1-6014-14b96f0f2f2f
* Content: [Microsoft Information Protection sensitivity labels in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-securit

[2021-07-01 05:04] paulinbar commented on #3162
Hi @JJDE, thanks for reaching out. I have forwarded your feedback along to the doc author for further consideration.

[2021-07-01 05:06] paulinbar commented on #3164
Was automatically assigned.

[2021-07-01 05:06] #3164 closed

[2021-07-01 12:28] KesemSharabi commented on #3154
Hi @syastrov,

You're right, the refresh interval was too short. I've changed this to be 30 seconds - see [Refresh token example](https://docs.microsoft.com/javascript/api/overview/powerbi/refresh-token#refresh-token-example).

![image](https://user-images.githubusercontent.com/54834915/124124331-f968dc00-da80-11eb-946c-3a1cc53a0aa6.png)

Thanks,

Kesem

[2021-07-01 12:28] #3154 closed

[2021-07-01 15:06] paulinbar opened #3165 "Sample issue autoassign"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49ffb799-4e1a-c47c-749e-c27b0bd0ae65
* Version Independent ID: 7744ac08-00fd-62d1-6014-14b96f0f2f2f
* Content: [Microsoft Information Protection sensitivity labels in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/admin/service-securit

[2021-07-01 19:46] maggiesMSFT commented on #3130
Hi, @alexdon75 -- interesting set of questions, requiring more thought. It's an interesting idea for a different article, as you say. A few of them I can answer quickly.

- Hierarchies of workspaces: Doesn't exist at this time. Good to suggest it at https://ideas.powerbi.com/ideas/, or see if someone else already has.
- A "dev" area: Have you heard about deployment pipelines? https://docs.microsof

[2021-07-01 19:53] salilathalye opened #3166 "Power Automate Visual in Power BI - run with user's connections"
Kindly provide some information in the documentation that describes how we can set up this visual so that it runs with the logged in Power BI user's credentials and connections and not the credentials and connections of the Power Automate flow author.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de472a84-f62c-d01c-a8

[2021-07-01 19:56] maggiesMSFT commented on #3166
Good question! I'll look into it and get back to you. Might not be immediate. I suggest asking the community, https://community.powerbi.com/

[2021-07-01 22:52] kasavin opened #3167 "Issue with data in Lab 05A - January 2021 release"
On page 8, steps 21-22, after I execute the query with Fiscal Year = FY2020, the data is not consistent with what I should see in the "Sales Performance Status" column according to the lab.

Here's what I see - null values:

![image](https://user-images.githubusercontent.com/2432736/124197767-e52eda00-da94-11eb-8ec1-f7ef178323f8.png)

And here's what the lab describes:

![image](https://user-image

[2021-07-01 23:11] kasavin commented on #3167
It works properly if I set FY2019.

[2021-07-01 23:18] CharlesAbetz opened #3168 "DeployAll Issues"
Hi

When I try to use a Service Principal to do a DeployAll from Dev to Test, I get the 400 bad request error, using Powershell cmdlets, (I used postman to get the actual error as Powershell doesn't tell me much).

Json Request
[code]

Json Response
[code]

Is there a reason why the Service Principal isn't supported?

[2021-07-02 03:28] uve commented on #3110
@krngd2 please send the link to your source code to Power BI Custom Visuals Support <pbicvsupport@microsoft.com>. We'll check the issue.

[2021-07-02 03:31] uve commented on #3121
@krngd2, "powerbi-visuals-utils-svgutils"' has no exported member named 'pointer'. Please use "Point" instead:
https://github.com/microsoft/powerbi-visuals-utils-svgutils/blob/master/src/index.ts#L5

[2021-07-02 08:37] rdc-Green commented on #2287
I am having the same issue still:

CS1503	Argument 2: cannot convert from 'string' to 'Microsoft.IdentityModel.Clients.ActiveDirectory.ClientCredential'
CS1503	Argument 3: cannot convert from 'System.Uri' to 'Microsoft.IdentityModel.Clients.ActiveDirectory.UserAssertion'

[2021-07-02 09:23] haymansfield opened #3169 "Does the app work with Power BI embedded capacities?"
Does the app work with Power BI embedded capacities? If so, would be good if this was indicated explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 154ed1fd-e2c5-a4fc-d164-f66505588441
* Version Independent ID: 4bf75ac1-6aaa-34ac-8117-3e756153b0bb
* Content: [Connect to Power BI Premium Capacity Metrics - Power

[2021-07-02 09:53] shogo0729 commented on #3152
Hi @maggiesMSFT, Thank you so much for your comment!! I would be very happy to contribute this improvement

[2021-07-02 14:31] paulinbar commented on #3169
Hi @haymansfield, good question. I'll check with the app developers and get back to you, as well as update the article.

[2021-07-02 14:44] paulinbar commented on #3168
Hi @CharlesAbetz,  thanks for your comment. This looks like a support request or product question rather than documentation feedback. Is there a particular docs article that you think needs to be enhanced? If it's more a product question you might find an answer in the [Power BI Community]( https://community.powerbi.com) or not, try our [support page](https://support.powerbi.com). Thanks!

[2021-07-02 14:44] #3168 closed

[2021-07-04 05:36] KesemSharabi commented on #3146
Hi @anna907,

Thank you for your comment.

I added a link to the [capacity troubleshooting entry](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-troubleshooting#what-type-of-capacity-can-i-assign-to-a-workspace-in-a-pipeline) from the overview of the [Get started with deployment pipelines](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-get-started#

[2021-07-04 05:36] #3146 closed

[2021-07-04 05:39] #3110 closed

[2021-07-04 07:01] AsafMozes commented on #3138
Please try to update to powerbi-visuals-webpack-plugin 2.3.0 on powerbi-visuals-tools project.
( powerbi-visuals-tools location can be usually found by “npm root -g” )

[2021-07-05 07:16] dmitryvorono commented on #3138
@AsafMozes Thank you, it works!
I would never have guessed)

[2021-07-05 07:16] #3138 closed

[2021-07-05 20:13] ingd opened #3170 "Embed reports are missing to guest users"
Hi guys,

I am looking for information about the "embed" option for guest users. Apparently, this option is missing for my third partner. They developed some dashboards and trying to embed in a portal, but this option is missing from powerbi desktop and powerbi web.

Is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-07-05 20:32] lindaGharbi opened #3171 ".."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423bed63-655a-3079-815e-0d9a8c7de44d
* Version Independent ID: ed119c4a-d4f0-7458-fd57-d7247edbd70e
* Content: [Download the Financial Sample Excel workbook for Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/sample-finan

[2021-07-05 23:30] paulinbar commented on #3171
Hi @lindaGharbi, I see you opened a Github issue for the docs team regarding the article about the sample financial download, but I don't see that you wrote anything. Did you mean to include some information for us, or did you open the issue by mistake?
Let us know. Thanks!

[2021-07-06 14:03] nathanwlee1 opened #3173 "Distinction between PowerBI and PowerQueryOnline"
Hi

It would be helpful to call out the distinction between the 2 service tags which relate to Power BI

Datasets are labelled as PowerBI and dataflows as PowerQueryOnline

If not included on this page, think about incorporating into this page; https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-07-06 16:41] itsnotaboutthecell commented on #2893
Content has been updated and this issue can now be closed.

[2021-07-06 16:41] #2893 closed

[2021-07-06 21:13] kfollis commented on #3170
Have you reviewed documentation for Power BI embedded analytics? https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers?tabs=net-core describes embedding an application for customers which may satisfy your scenario.

[2021-07-06 23:44] DesertDwarf opened #3174 "Embed Report is now under File menu"
The page mentions:
`On the Share menu, select Embed report > SharePoint Online.`

However, on my Power BI Service, the Embed report submenu is found inside the File menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8affce3-98f2-0cc6-b4de-d9af7ced0fbe
*

[2021-07-07 08:49] KesemSharabi commented on #3161
Hi @KyronSr,

You're right about the code - thanks for catching this and letting us know!

I fixed the code snippet - see **step 6** in [Update credentials flow for data sources](https://docs.microsoft.com/power-bi/developer/automation/configure-credentials#configure-a-new-data-source-for-a-data-gateway).

As for the Azure SQL DB scenario, we're not going to document this at present as it's a spec

[2021-07-07 08:49] #3161 closed

[2021-07-07 12:20] ingd commented on #3170
You are right. This is gonna help a lot.

It was my bad. Thank you very much!

[2021-07-07 12:20] #3170 closed

[2021-07-07 12:59] fbouckae-crm opened #3175 "measures table disrupting table order"
We have a model on Azure Analysis Services where we don't want to use measure tables.
In some of the original tables we only have measures, so it appears in Power BI as a measures table, disrupting the alphabetical order of the tables.
is it possible to set a table that only contains measures to show as a 'non-measure' table in Power BI ?

---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-07 19:43] wzorn commented on #3138
@AsafMozes

I'm attempting to follow the same procedure you recommended to resolve and still getting the same error that @dmitryvorono described:

Uncaught TypeError: testDialogPBI3CE526641734417E8F5DB8CCB3381F9A_DEBUG.default.createModalDialog is not a function

These are the dependencies I've setup in my package.json:

    "powerbi-visuals-api": "^3.8.2",
    "powerbi-visuals-tools": "^3.2.3",

[2021-07-08 04:19] peter-myers commented on #3167
Hi @kasavin - thanks for point out this issue. It's a known issue, and it's because the instructions to connect to the database are wrong (see the **MyEnvironment.txt** file). If you're using the latest version of the course (copyright year is 2021), you will use the **AdventureWorksDW2021-PRIAD** database. Otherwise, use the _DW2020_ database. A fix is on it's way! Thanks again. #please-close

[2021-07-08 04:19] #3167 closed

[2021-07-08 12:20] prinjos opened #3176 "Tab order in Power BI"
Hello,
I'm using the June 2021 version or PBI and I do not see an option to hide any objectss under Selection > Tab order. I am only able to change the order using the arrows. Am I looking in the right location?
I can hide objects in the Layers tab but this removes the object completely.

Thank you,
Joe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-07-08 18:22] lphomiej opened #3177 "PBI Premium Per User - Clarification"
If a user is on the "PowerBI Premium Per User", but the workspace isn't on Premium capacity, can that user use the deployment pipelines on that workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b120d7-3f8f-8bc7-2987-21dbf1090ff2
* Version Independent ID: 6456d67d-cab6-01e1-3654-4848c5058253
* Content: [Get st

[2021-07-08 19:03] paulinbar commented on #3174
Hey @DesertDwarf, thanks for calling this out. I've replaced the offending image. Should be online in a few hours. Many thanks!

[2021-07-08 19:03] #3174 closed

[2021-07-08 22:30] cvillegashak opened #3178 "Targeted release doesn't appear to add visibility"
We've wanted to test this feature internally and setup users on the targeted release and added their groups to the Power BI role for tenant settings as well, but it never displays.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7b35f1-76fc-3c6c-b97c-42b9724c7644
* Version Independent ID: edb54e4e-c730-5573-fe30-d3319

[2021-07-11 06:40] #3076 closed

[2021-07-11 06:41] #3114 closed

[2021-07-11 07:12] KesemSharabi commented on #3177
Hi @lphomiej,

You can use a PPU license for the development and testing stages in deployment pipelines. For the production stage, you'll need a Premium license. For more information, see - [What type of capacity can I assign to a workspace in a pipeline?](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-troubleshooting#what-type-of-capacity-can-i-assign-to-a-workspace-in-a-

[2021-07-12 07:13] sajjadkhan253 opened #3179 "not able to use code for serviceprinciple when using .net core"
Not able to use code for Node JS and .net core too in visual studio code it is throwing error once we run in localhost just we can see power bi logo refreshing and report is not coming up,

Error
![image](https://user-images.githubusercontent.com/87299550/125246236-2930a300-e30f-11eb-987b-d318f479f66b.png)

![image](https://user-images.githubusercontent.com/87299550/125246283-3c437300-e30f-11eb-8b

[2021-07-12 14:11] pawarbi opened #3180 "Update the menu options, pictures"
The screenshots shared here are outdated and need to be replaced with the current options/layout. Please update to reflect new workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5535fb-d588-b877-b4cc-25212c8f603c
* Version Independent ID: c72a10a5-84ae-064d-4cb0-054825dc3e80
* Content: [Troubleshoot sharing da

[2021-07-12 14:51] lphomiej commented on #3177
Thanks for the clarification!

[2021-07-12 14:51] #3177 closed

[2021-07-12 18:10] hugotoledo commented on #2426
I'm sorry I'd not written back to thank you for this earlier. It very much helped me understand a syntax feature I'd utterly missed. It seems obvious in retrospect. Thanks a million!

[2021-07-12 22:37] BlazinSun0 commented on #2532
Hi @KesemSharabi , just wondering if the 50 page per hour restriction is still on schedule to be lifted in 2021?

Thanks.

[2021-07-13 15:52] chrisweis opened #3181 "Verbiage: Datasets are not "a single source of data""
In this page it states that "Each listed dataset represents a single source of data."  I believe that phrase may be misleading since a Power BI dataset can have multiple sources of data.  One alternative may be "Each listed dataset is a source of data available for one or multiple reports, and the dataset may contain data that arrives from one or multiple sources."

---
#### Document Details

⚠ *D

[2021-07-14 13:08] KesemSharabi commented on #3137
Hi @reneg86,

I updated the [Manage Power BI visuals admin settings](https://docs.microsoft.com/power-bi/admin/organizational-visuals) article according to your customer's experience. See [Replace a visual from a file with a visual from AppSource](https://docs.microsoft.com/power-bi/admin/organizational-visuals#replace-a-visual-from-a-file-with-a-visual-from-appsource).

![image](https://user-imag

[2021-07-14 13:08] #3137 closed

[2021-07-14 15:06] anniexudan opened #3182 "Add the limitation to the Embedded Solution"
[Enter feedback here]
It looks like we cannot embed the Power BI Paginated Visual Report into the Embedded solution using PBI Embedded Gen2 A SKUs. Could you confirm it and make it clear on this documentation on this limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfaaf125-cd9e-4b88-c808-3bd53525d367
* Versi

[2021-07-15 00:37] bezhan-msft opened #3183 "Native Query Support for Snowflake"
[Enter feedback here]

The documentation should be updated to specify Native Query Support for Snowflake - as per Power Query docs - https://docs.microsoft.com/en-us/power-query/connectors/snowflake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35e91b2c-b946-0945-4ef5-6451a1833b5f
* Version Independent ID: 730bf023-2

[2021-07-15 11:07] martaquintao opened #3184 "Live Connection reports download is supported now"
Under considerations and troubleshooting, the following statement is no longer true. This has been confirmed by the respective dev's:
**
![image](https://user-images.githubusercontent.com/5985751/125778272-2a2ee80f-45f1-402f-b9ea-cf4fe3eff062.png)
**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e091669c-6d15-1d87-9d1

[2021-07-16 23:58] chrisweis opened #3185 "Time-based updates needed to this page"
It looks like this page needs some minor attention since it contains roadmap content such as "The enhanced compute engine is being released in stages to regions around the world. We anticipate all regions will supported by the end of 2020."

Thanks,
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71265a0f-32b6-7cf

[2021-07-17 00:36] chrisweis opened #3186 "Price sheets availability is ambiguous"
Hello,

In this page, it isn't clear whether Pricesheet data is available for MCA agreements.  It states "Applicable meter rates for the provided billing profile or EA enrollment" but doesn't clarify whether that means it is only for EA or also for MCA?

Thanks!
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d9

[2021-07-19 13:16] DevRahul05 commented on #2532
@KesemSharabi ,

Hi,

What would be the new limit once this feature becomes General Availability (GA) feature?

[2021-07-19 13:26] DevRahul05 opened #3187 "Clarification about Preview feature exportToFile API in Power BI"
Currently, there is a limitation on exportToFile API in Power BI: For public preview, the number of Power BI exports per hour is limited to 50 per capacity as mentioned here (https://docs.microsoft.com/en-us/power-bi/developer/embedded/export-to).

Would there be a new limit when this feature becomes General Availability feature. If yes, what would be the new limit?

Thanks!

[2021-07-19 17:50] jawwolfe commented on #2287
I also ran this tutorial today using VS 2017 with the error below.  Can you please push this issue higher into your backlog?  This is now over one year old.

 Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1503	Argument 3: cannot convert from 'System.Uri' to 'Microsoft.IdentityModel.Clients.ActiveDirectory.UserCredential'	walkthrough_push_data	C:\Users\awwolfe\source\repos\w

[2021-07-19 22:04] paulinbar commented on #3187
Hi @DevRahul05, thanks for reaching out to us with your question. I have forwarded it on to the doc author for further consideration.
Thanks!

[2021-07-19 22:13] paulinbar commented on #3169
Hi @haymansfield, I've received an answer to your question - the answer is yes, the app does work with embedded capacities. Please see [Monitor Power BI Embedded capacity](https://docs.microsoft.com/power-bi/admin/service-admin-premium-monitor-capacity#monitor-power-bi-embedded-capacity), which is included in [Monitor Premium capacities with the app](https://docs.microsoft.com/power-bi/admin/servi

[2021-07-19 22:41] paulinbar commented on #3171
Hi @lindaGharbi. I'm closing this issue for now since we've not heard from you. If you still have a question or feedback, please feel free to open the issue again! Thanks.

[2021-07-19 22:41] #3171 closed

[2021-07-20 08:38] #3121 closed

[2021-07-20 09:21] KesemSharabi commented on #3187
Hi @DevRahul05,

When the exportToFile API becomes GA, the limitations will change. It's most likely that the customer experience will be enhanced, but we don't yet know how. So at this point I can't commit as to whether the limitation will be removed or adjusted.

Hope this helps,

Kesem

[2021-07-20 09:21] #3187 closed

[2021-07-20 14:50] jcaristina opened #3188 "Translation"
Hello everyone, I work for a Microsoft Partner in Argentina as an IT consultant and I am also a translator.
We found this article (https://docs.microsoft.com/en-us/power-bi/guidance/powerbi-adoption-roadmap-overview) extremely useful and wanted to ask if you would allow us provide you with a translation into Spanish. We are already translating this content for different presentations and thought o

[2021-07-21 02:06] jmo6868 opened #3189 "The guide was written in so poor way: report editor, report builder, report creator, are they all same or author simply did not mind what he/she was talking about."
[Enter feedback here]
It is so painful to read through a such messy introduction!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ba6184-412b-7e75-ef74-46ae14d62dd6
* Version Independent ID: bf97c0bc-6511-e0f0-8df3-9e4f83492fe9
* Content: [Comparing Power BI Desktop and the Power BI service - Power BI](https://docs.mi

[2021-07-21 02:34] peter-myers commented on #3188
Hi @jcaristina - thanks for your feedback and willingness to translate to Spanish. The article is already in queue for translation to a number of languages, including Spanish. It's just a matter of time. You can monitor the article in Spanish using this link: https://docs.microsoft.com/es-es/power-bi/guidance/powerbi-adoption-roadmap-overview. Regards, Peter.
#please-close

[2021-07-21 02:34] #3188 closed

[2021-07-21 16:06] jmo6868 opened #3190 ""dataset vs data source A dataset is a collection of data used to create visualizations and reports." This is another example of junk statement from PBI training material."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-4dc0-c87e-0ed659bd0d60
* Content: [The Power BI service - basic concepts for business users - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-basic-conc

[2021-07-21 17:48] jmo6868 opened #3191 "Need reading whole page of thousands aimless word graph for just get if I have business license? another watering everything for MS$?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0687089d-b79d-c566-35a5-9a03498cc168
* Version Independent ID: 30699f15-ec7a-6f19-9f86-99316656c099
* Content: [What is a Power BI 'business user'? - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-consumer)
* Content Source: [po

[2021-07-21 17:49] jcaristina commented on #3188
Thank you, @peter-myers !
Regards,
JC

[2021-07-21 21:26] pelowski opened #3192 "Deleting a PowerBI Classic Workspace doesn't seem to delete the Microsoft 365 Group"
We have **a lot** of classic workspaces in our PowerBI instance that I would rather not see.  This article indicates the following "When you delete a classic workspace, you delete that Microsoft 365 group. The group is also deleted from other Microsoft 365 products like SharePoint and Microsoft Teams."  I have tried this for some really old workspaces for which I was the owner and unless there is

[2021-07-21 21:40] maggiesMSFT commented on #3192
Hi, @pelowski -- I'm checking and will get back to you. Thanks for asking!

[2021-07-22 02:19] maggiesMSFT commented on #3192
Hi, @pelowski -- I've confirmed with the product team that the docs are correct as written. You may need to open a support case:
https://powerbi.microsoft.com/en-us/support/

[2021-07-22 02:19] #3192 closed

[2021-07-22 14:11] pelowski commented on #3192
I can also confirm on my side that this _appears to be working as designed_.  Removing the classic workspace removes the Azure Group but I got confused because on our side [we apparently have some compliance policy set](https://www.screencast.com/t/GJQwTsSWy1OR) which leaves orphaned related records like a SharePoint team site and a Yammer group.  Ultimately what we want to be able to do is hide t

[2021-07-23 20:54] HJToland3 opened #3196 "Update documentation"
Manage  relationships does not appear on the Home tab. Also, on the Model tab, Manage relationships is not active, so I can't select it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0390b42-0ab0-15fc-29e1-620a0ef9104c
* Version Independent ID: 44197a9d-f275-6959-8cc8-88999b740147
* Content: [Create and manage relati

[2021-07-23 22:22] alliedcvil opened #3197 "Text appears off, should be appropriate instead of appreciate"
The text appears off here, should it be appropriate?

"In registry settings
You can also change these settings by setting the **appreciate** DWORD registry values. Admins can also use this method to control the setting for their whole organization."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b39a01-988d-1237-daf4

[2021-07-24 21:04] alliedcvil opened #3198 "The Power BI Desktop section containing the Evaluation limits doesn't appear to be available for the MSFT Store or 64-bit version of the clients and should be noted"
This section doesn't appear to be publicly available yet to either the Microsoft Store version of the product nor the 64-bit version of the standard installed product.

In Power BI Desktop
You can change these setting in the user interface in Power BI Desktop. On the File menu > Options and settings > Options, select Data Load under Global, then change the following settings under Loading tables s

[2021-07-24 21:28] alliedcvil opened #3199 "Change log out of date"
Since the July release is now available (July 21st 2021) figured it would be time to update this in case people have questions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3105a7f-cb47-9cd9-7144-d5dca900f3f1
* Version Independent ID: 80da6829-c211-d086-df6c-92376e1d640f
* Content: [Change log for Power BI Desktop -

[2021-07-25 12:21] paulinbar commented on #3199
Hi @alliedcvil, thanks for calling this out. I am forwarding your observation along to the maintainers of that page. Thanks!

@davidiseminger,
@maggiesMSFT
@oksanakyrychenko

[2021-07-26 14:14] pawarbi opened #3200 "Please make the sample data available easily"
Hi the sample Excel files are in Power View format and to access the data, you have to install SIlverlight, edit registry keys to access the data. Can you please make the underlying data available easily? Perhaps as csv or Excel directly? Thanks.

https://docs.microsoft.com/en-us/power-bi/create-reports/sample-datasets#download-sample-excel-files

---
#### Document Details

⚠ *Do not edit this sec

[2021-07-26 14:53] nathanwlee1 opened #3201 "Add a column for scenario 3 free user with Member licence"
Hi - can we please add an additional column for a free user in a workspace with a 'Member' licence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c4b038-e61f-691f-f155-333e271e611c
* Version Independent ID: 3e653013-5cf2-269f-aa6e-d617d7607de6
* Content: [Feature availability for users with free licenses - Power BI]

[2021-07-26 21:47] maggiesMSFT commented on #3200
Hi, @pawarbi -- thanks for commenting on the doc! I note also your suggestion, https://ideas.powerbi.com/ideas/idea/?ideaid=0089a37c-49ee-eb11-ba5e-281878bdb01d. I've reached out to members of the product team and will let you know what I hear back.

[2021-07-26 21:56] maggiesMSFT commented on #3178
Hi, @cvillegashak -- I'm checking and will get back to you. Thanks!

[2021-07-26 21:57] pawarbi commented on #3200
Thanks Maggie

[2021-07-26 21:59] maggiesMSFT commented on #3166
Hi, @salilathalye -- you are correct, this is not possible today, the flow runs in the owner's context currently. There's a backlog item to allow manually run flows from the PowerBI visual which would allow running the flow in the users credential context, but no exact timeline for this. Hope that helps!

[2021-07-26 21:59] #3166 closed

[2021-07-26 22:06] maggiesMSFT commented on #3180
Hi, @pawarbi -- thanks for pointing that out. I'll put it on my backlog.

[2021-07-26 22:06] #3180 closed

[2021-07-26 22:17] maggiesMSFT commented on #3182
Hi, @anniexudan -- thanks for asking! I'll check and get back to you.

[2021-07-26 22:22] maggiesMSFT commented on #3184
Hi, @martaquintao -- thanks for pointing that out! That bullet point has been deleted.

[2021-07-26 22:22] #3184 closed

[2021-07-26 22:45] maggiesMSFT commented on #3182
Hi, @anniexudan -- quick turnaround! The reply I got:
"It should work in the same scenarios as a stand-alone paginated report would work"
And the hypothesis:
"They are probably trying to use it with a Power BI dataset, which isn’t yet supported in this scenario."
If that's not your scenario, you may need to create a support request, https://powerbi.microsoft.com/en-us/support/
Hope that helps!

[2021-07-26 22:45] #3182 closed

[2021-07-26 22:45] amandariveraMSFT commented on #3178
Hey @cvillegashak - We actually just rolled this feature out to all users, not just targeted release users: https://powerbi.microsoft.com/blog/visualizing-sharepoint-lists-now-available-to-all-users/  (the doc will be updated with this information soon).

Are you still having issues seeing the Power BI option within the Integrate menu?

[2021-07-26 22:51] maggiesMSFT commented on #3197
Hi, @alliedcvil -- ha ha, good eye! Can I blame autocorrect 😁? Fixing it now, update will be live tomorrow afternoon Pacific time. Thanks!

[2021-07-26 22:51] #3197 closed

[2021-07-26 23:02] maggiesMSFT commented on #3198
Hi, @alliedcvil -- I'm checking. I can see it, but maybe I'm on an internal version. I'll let you know.

[2021-07-27 00:43] maggiesMSFT commented on #3003
Hi, @richardharrison2 -- I'm checking and will report back. Thanks for asking!

[2021-07-27 00:44] maggiesMSFT commented on #3151
Hi, @skstanley11 -- I hope the training went OK! Feel free to reopen this issue or create another one, if need be. Cheers!

[2021-07-27 00:44] #3151 closed

[2021-07-27 13:59] cvillegashak commented on #3178
Hi @amandariveraMSFT No more issues! :) It appeared after your blog post. We just clammored for it after your MBAS presentation and set up a few users on the Insider release as well as anything else we could do to get the Preview features in M365 and it never appeared until the day you mentioned it was available for all. Thanks again!

[2021-07-27 13:59] #3178 closed

[2021-07-27 15:05] BoscoMoroni opened #3204 "R / Python Publish to Web availability?"
[Are there any plans to enable R or Python script visuals to appear in 'Publish to Web'? My content is built based on Python visuals but could amend for R]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publi

[2021-07-27 17:13] maggiesMSFT commented on #3198
Hi, @alliedcvil -- good catch! It's not in the external build yet, but will be coming in the August release. Sorry for the confusion!

[2021-07-27 17:13] #3198 closed

[2021-07-27 17:18] maggiesMSFT commented on #3204
Hi, @BoscoMoroni -- I'm checking with the product team and will get back to you. Thx!

[2021-07-27 17:39] maggiesMSFT commented on #3204
Hi, @BoscoMoroni -- got a quick reply, though not necessarily what you wanted to hear:
"There is no such work planned for Publish to web as of now."
Thanks for asking.

[2021-07-27 17:39] #3204 closed

[2021-07-27 20:42] drgray77 opened #3205 "Bad code"
It was reported that this code does not work, but Microsoft apparently is not interested in providing updated correct information. Thanks quys!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27fb3418-db2e-54a1-9faa-7ba09c5259dc
* Version Independent ID: 87329ec8-d7d4-f66a-0562-13a9b6032543
* Content: [Get an authentica

[2021-07-28 17:33] maggiesMSFT commented on #3003
Hi, @richardharrison2 -- here's the answer:
"It is a normalized number (currency free) of Azure Consumed Revenue."
Hope that helps!

[2021-07-28 17:33] #3003 closed

[2021-07-29 00:01] maggiesMSFT commented on #3145
Hi, @Contezini -- sorry that was misunderstood. I'll rewrite to make it clearer.
If you have a Premium Per User (PPU) license, you can make any workspace, including My Workspace, a Premium workspace. See https://docs.microsoft.com/en-us/power-bi/admin/service-premium-per-user-faq#end-user-experience
Then others will also need a PPU license to view content in that workspace.

[2021-07-29 00:01] #3145 closed

[2021-07-29 00:13] maggiesMSFT commented on #3180
#sign-off

[2021-07-29 03:08] mihart commented on #3181
Hi @chrisweis ,
Thank you for your suggestion. It's always great when a Git Issue comes with the suggested fix  :-)  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-07-29 03:08] #3181 closed

[2021-07-29 03:09] #3191 closed

[2021-07-29 03:11] mihart commented on #3190
Hi @jmo6868 ,
I'm not sure what you are asking.  Can you give me an example of how you would write this sentence?  Thanks!

[2021-07-29 03:18] mihart commented on #3189
Hi @jmo6868 ,
Thank you for your suggestion.  We've made some updates and set the article to republish.
All the best,
The DOCS team

[2021-07-29 03:18] #3189 closed

[2021-07-29 03:19] mihart commented on #3155
Hi @suesweetsue ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-07-29 03:19] #3155 closed

[2021-07-29 03:35] mihart commented on #3117
Thanks for your comment, @dipteshbose . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com.  You may also be able to contact Support (refer to this article: https://docs.microsoft.com/en-us/power-bi/admin/service-support-options to review available Support options.).

[2021-07-29 03:35] #3117 closed

[2021-07-29 03:47] mihart commented on #3066
Hi @srijan789 ,
Thank you for finding this.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-07-29 03:47] #3066 closed

[2021-07-29 03:48] mihart commented on #3058
Hi @thelemontree10 ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.
All the best,
the DOCS team

[2021-07-29 03:48] #3058 closed

[2021-07-29 03:50] mihart commented on #1998
Hi @neko-daisuki ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.
All the best,
the DOCS team

[2021-07-29 03:50] #1998 closed

[2021-07-29 03:51] #2759 closed

[2021-07-29 03:52] #2855 closed

[2021-07-29 03:53] mihart commented on #2871
Hi @devman2k ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-07-29 03:53] #2871 closed

[2021-07-29 03:59] mihart commented on #2969
Hi @markvsql ,
I've updated the article with definitions of "business user" and "creator".  Thank you for your suggestion.
The DOCS team.

[2021-07-29 03:59] #2969 closed

[2021-07-29 04:51] devman2k commented on #2871
Hi

Do you have the link to the question and the Doc please? I quite make quite a few suggestions and no idea which this is.

Thanks
Bryan

From: Michele Hart ***@***.***>
Sent: Wednesday, July 28, 2021 11:54 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Bryan Tuttle ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Clarity is needed of the relationship between the

[2021-07-29 16:22] maggiesMSFT commented on #2871
Hi, @devman2k -- your question was about this article, Install and use apps with dashboards and reports in Power BI - Power BI (https://docs.microsoft.com/en-us/power-bi/consumer/end-user-app-view). My suggestion was to look at this article instead, to see if it answers your questions better:
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-create-distribute-apps
Hope that helps

[2021-07-29 17:13] otravers opened #3206 "Difference "Used as category" vs. "Summarized" could be made clearer"
Clarity on the difference between "Allow drill through when" "Used as category" vs. "Summarized" would be welcome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Set up drillthrough in Power BI reports - Powe

[2021-07-29 17:18] mihart commented on #2976
Hi @ryeguy637 ,
Thank you for your question. I checked with our M365 guy and he told me that these 2 settings are independent.  Self-service purchase uses the mscommerce module (enable/disable options).  The self-service sign up uses AllowAdHoc.  If you want to block self-service sign up AND self-service purchase, you'd need to disable both.
All the best,
The DOCS team

[2021-07-29 17:18] #2976 closed

[2021-07-29 17:37] chintala999 opened #3207 "Good info - BI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-4dc0-c87e-0ed659bd0d60
* Content: [The Power BI service - basic concepts for business users - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-basic-conc

[2021-07-29 17:51] kfollis commented on #3135
This information has been added to the article, so closing this issue. Thanks again for the feedback!

[2021-07-29 17:51] #3135 closed

[2021-07-30 07:24] NathanMTMSFT opened #3209 "Limitations & Considerations: Workspace Name - Special Characters"
**Workspace Name**
Certain Special Characters when creating a “Workspace Name” are not supported when using XMLA endpoint.
As a workaround users will have to use URL encoding of special characters (eg, “/” = “%2F”)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent

[2021-07-30 17:57] maggiesMSFT commented on #2488
@Sdean1234 -- thanks! I fixed the tab name.

[2021-07-30 17:57] #2488 closed

[2021-07-30 18:04] CaryCarr3Form opened #3210 "What does the "Microsoft may display" warning actually mean?"
In step 4 of "Create embed codes with Publish to web", there is the warning that "Microsoft may display the report on a public website or public gallery". Does this mean that Microsoft is claiming ownership of any reports that we choose to publish, and will use them without informing us? I can understand the warning of "if you put this on a website, anyone who uses the website can see it", but tyi

[2021-07-31 03:05] MixolydianV opened #3211 "No longer preview"
According to the [July 2021 Feature Summary ](https://powerbi.microsoft.com/en-us/blog/power-bi-july-2021-feature-summary/) this is now GA, so the (Preview) should probably be removed. Not sure if it needs updating elsewhere too with the new features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8d929e6-7e81-16da-91

[2021-07-31 09:06] sayan-mohd opened #3212 "Video Unavailable"
The YouTube video (https://www.youtube.com/embed/JbL2-HJ8clE) embedded in this page is not available. Please provide the updated URL if available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b2fae9-3356-f90c-8b3c-647aa2ad5f75
* Version Independent ID: 5ee251f0-8e8b-47eb-937c-356e15c341ba
* Content: [Set data alert

[2021-07-31 09:19] LevGelman opened #3213 "Please add reference to programmatic access"
Hello,

I can't found how to add or remove a gateway data source using API or Power Shell

Can you please add reference on this page?

Thanks!

Lev Gelman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e0c038-1195-d758-ccf4-903b689139ca
* Version Independent ID: 181904c0-1ec5-0a1d-4cbf-a5a639bbdfeb
* Content: [Add or

[2021-08-01 11:11] KesemSharabi commented on #3179
Hi @sajjadkhan253,

After discussing this with the development engineers, I can confirm that you need to open a support ticket.

Thanks,

Kesem

[2021-08-01 11:11] #3179 closed

[2021-08-01 11:21] KesemSharabi commented on #3205
Thanks for your comment, @drgray77.

You're right about this article, it's old and will shortly be removed.

If you need help with access tokens, you can look at these articles:
- [Considerations when generating an embed token](https://docs.microsoft.com/power-bi/developer/embedded/generate-embed-token)
- [Refresh the access token](https://docs.microsoft.com/javascript/api/overview/powerbi/refresh

[2021-08-01 11:21] #3205 closed

[2021-08-02 10:47] monacogp opened #3214 "Documentation Comment - "Access Power BI privately from the VM""
In `[this section](https://docs.microsoft.com/en-us/power-bi/admin/service-security-private-links#access-power-bi-privately-from-the-vm)`, it may be useful to edit the tenant guid with <your tenant id> with a link to instructions about where to find it.
Access Power BI privately from the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss