[2021-02-06 02:10] maggiesMSFT commented on #2812
Hi, @cbailiss -- thanks for your suggestion! Passing it along to the author for consideration.

[2021-02-06 02:11] maggiesMSFT commented on #2814
Hi, @brianrreed -- thanks for your suggestion! Passing it along to the author for consideration.

[2021-02-07 09:29] KesemSharabi commented on #2795
Hi @Anouk-Gorris,

Thanks for your comment. I updated the service principal article to indicate that service principal supports some read-only admin APIs. See [Considerations and limitations](https://docs.microsoft.com/power-bi/developer/embedded/embed-service-principal#considerations-and-limitations).

I also updated the [Enable service principal authentication for read-only admin APIs](https://d

[2021-02-07 09:29] #2795 closed

[2021-02-07 10:14] KesemSharabi commented on #2814
Hi @brianrreed,

I'm not sure what you mean by 'upgrade path' - can you please explain?

If you want to move from Gen1 to Gen2, perhaps the information in [Create Power BI Embedded capacity in the Azure portal](https://docs.microsoft.com/power-bi/developer/embedded/azure-pbie-create-capacity?tabs=portal) will assist you.

Thanks,

Kesem

[2021-02-07 10:18] KesemSharabi commented on #2804
Hi @sethsanuMSFT,

I'm not sure what you're after. We don't have code examples documenting how to move from Gen1 to Gen2. You'll have to look into the [Azure Resource Manager](https://docs.microsoft.com/rest/api/resources/) REST APIs to do this.

Perhaps the [Embedded Gen2](https://docs.microsoft.com/power-bi/developer/embedded/azure-pbie-create-capacity?tabs=ARM-template#embedded-gen2-preview) AR

[2021-02-07 13:03] KesemSharabi commented on #2804
Hi @sethsanuMSFT,

You can also try using these APIs:
* [Capacities - Get Capacities](https://docs.microsoft.com/rest/api/power-bi/capacities/getcapacities) - to obtain the capacity ID, which is the input of the `AssignToCapacity` API.
* [Capacities - Groups AssignToCapacity](https://docs.microsoft.com/rest/api/power-bi/capacities/groups_assigntocapacity)

Hope this helps,

Kesem

[2021-02-07 14:48] jtjones0304 opened #2816 "Embedding for Power BI Report Server"
Does this approach also work in Power BI Report Server?

[2021-02-07 18:57] Yuliadocs opened #2817 "Reducing repetition, making the sentenses more consistent and more oriented to the users"
Would suggest to simply these two (2) sentences by reducing repetition, making them more consistent and more oriented to the users:

With Power BI Desktop, you can build advanced queries, models, and reports that visualize data. You can also build data models, create reports, and share your work by publishing to the Power BI service. Power BI Desktop is free to download.

---
#### Document details

[2021-02-07 20:14] Yuliadocs opened #2818 "To make more concise and consistent"
To make more concise and consistent:

To get Power BI Desktop, you can use one of the two approaches (instead of "ways" in order to be consistent with the paragraph below) (no need for "which are described in the following sections" as it will be mentioned in the next paragraph:

    Install as an app from the Microsoft Store.
    Download directly, as an executable you download and install on you

[2021-02-07 20:39] Yuliadocs opened #2819 "Editing suggestion for Important"
Power BI Desktop is updated incorporating new features, based on the customer feedback ("the' is missing) and released on a monthly basis. Only the latest (instead of "most recent") version of Power BI Desktop is supported (put a dot instead of the semi-colon). You (instead of "customers who" because "you" is used the next sentences) will be asked to upgrade the application (need to specify what t

[2021-02-07 20:54] Yuliadocs opened #2820 "Instructions for Install as an app from the Microsoft Store"
1. To open the Power BI Desktop page of the Microsoft Store, use one of the following options:

- Open a browser and go directly to the Power BI Desktop page of the Microsoft Store.
- In the Power BI service screen, in the upper right-hand side corner (it is easier to find the icon when to give orientation/directions first), click on ("select" is usually used to choose or highlight) the Download i

[2021-02-08 07:45] Anouk-Gorris commented on #2795
Hi Kesem,

Thank you very much for this update.

Best regards,

Anouk

On Sun, Feb 7, 2021 at 10:29 AM Kesem Sharabi <notifications@github.com>
wrote:

--
Anouk Gorris
Technical Writer
—

anouk.gorris@collibra.com
collibra.com

[2021-02-08 23:53] rosscouldrey opened #2821 "Reference to 1 million row limit invalid"
Re: https://docs.microsoft.com/en-us/power-bi/guidance/directquery-model-guidance

In the "Apply filters first" section, the final sentence reads "Also, failing to apply filters early can result in exceeding the 1 million-row limit, as described above." however there is no previous mention of this 1 million row limit in the doc that would allow for the statement "as described above".

Rather this

[2021-02-09 09:15] lucazav opened #2822 "What about any integration between R and Power BI Embedded"
I can't find any documentation that explains if R is integrated in Power BI Embedded.
I only found [this old blog post](https://powerbi.microsoft.com/en-us/blog/r-in-pbie/).
Are R transformation steps in Power Query allowed in Power BI Embedded?

I think Docs are missing these informations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-02-09 09:17] lucazav opened #2823 "What about any integration between Python and Power BI Embedded"
I can't find any documentation that explains if Python is integrated in Power BI Embedded.
Are Python visuals allowed in Power BI Embedded?
Are Python transformation steps in Power Query allowed in Power BI Embedded?

I think Docs are missing these informations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db4f2779-1

[2021-02-10 02:23] Mike-Honey opened #2824 "Using the Sort by Column button has complex requirements"
[Enter feedback here]

Using the Sort by Column button actually has complex requirements - the selected column must be at the same level of granularity or less granular. The data is tested when a choice is made and on every subsequent refresh. Breaking the granularity requirements will trigger a fatal error. It should also be noted that it's a model-level change that applies across all visuals.

-

[2021-02-10 02:41] maggiesMSFT commented on #2714
Hi, @JainVikas -- good question! I'm checking and will let you know. Thanks for asking!

[2021-02-10 14:21] KesemSharabi commented on #2824
Thanks for your comment, @Mike-Honey.

I've assigned this issue to the doc author for review.

[2021-02-10 14:27] KesemSharabi commented on #2823
Hi @lucazav,

Thanks for your feedback. I'll look into this and get back to you shortly.

Kesem

[2021-02-10 14:29] KesemSharabi commented on #2822
Hi @lucazav,

Let me look into this and I'll get back to you shortly.

Thanks,

Kesem

[2021-02-10 14:33] KesemSharabi commented on #2821
Thanks for your comment, @rosscouldrey.

I've assigned this issue to the doc author for review.

[2021-02-10 14:41] KesemSharabi commented on #2820
Thanks for your comment, @Yuliadocs.

I've assigned this issue to the doc author for review.

[2021-02-10 14:43] KesemSharabi commented on #2819
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-02-10 14:47] KesemSharabi commented on #2818
Thanks for your comment, @Yuliadocs.

I've assigned this issue to the doc author for review.

[2021-02-10 14:49] KesemSharabi commented on #2817
Thanks for your comment, @Yuliadocs.

I've assigned this issue to the doc author for review.

[2021-02-10 14:51] KesemSharabi commented on #2816
Hi @jtjones0304,

Can you please let us know which document you're referring to?

Thanks,

Kesem

[2021-02-10 18:59] lucazav opened #2825 "Similar page for Python Visuals"
Is there any similar page also for Python Visuals? Here there are data size limitations that are missing for Python in [this page](https://bit.ly/powerbi-python-limits).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90c7931b-9fbb-bec4-09c4-9c827e4ec7a1
* Version Independent ID: 7ebc1400-482b-62e6-3747-bb7ffdb1dcf3
* C

[2021-02-10 22:48] PaulComis opened #2826 "Visual 5 Field Clarity"
For the section on Visual 5 (Slicer)...it could be clearer that we're selecting the "Date" Field from the "Calendar" source, and not the "Date" in the Financials source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0083e3-c11c-2462-6f0f-a166759f14c0
* Version Independent ID: 927cc95e-d442-db4d-75ae-d4a2fa64ae71
* C

[2021-02-10 23:23] maggiesMSFT commented on #2826
Hi, @PaulComis -- good point! Thanks. I'll clarify.

[2021-02-11 01:53] maggiesMSFT commented on #2826
OK, update made and signed off. Should be live tomorrow afternoon, Feb 11. Thanks!

[2021-02-11 01:53] #2826 closed

[2021-02-11 07:57] pramotepm opened #2827 "Typo Issue"
I think you are missing comma (,) in this sentence.

OneDrive - Business – If you have OneDrive for Business and you sign into it with the same account you sign into Power BI with, this is by-far the most effective way to keep your work in **_Excel Power BI Desktop_**, or a .CSV file and your dataset, reports, and dashboards in Power BI in-sync.

would be

OneDrive - Business – If you have OneDriv

[2021-02-11 09:05] TimoRiikonen opened #2828 "Missing glyphui icons in in-house Power BI"
Our customer has on-premise Power BI service. Only kerberos authentication works on it.
The service itself is running fine, but for example HOME icon doesn't show up.
HOME icon is in HTML code:
<span class="glyphui glyphui-folder-open">
   ::before
</span>

From which service or URL this glyphui-folder-open (home) icon comes from, so we find out how to fix this problem?
The visual damage is not ma

[2021-02-11 11:57] nstraw opened #2829 "Storage Account in the same tenant ?"
Hi,

must the storage account be created in the same Azure Active Directory tenant as the Power BI tenant ?

As it is specified in this page for Power App Dataflows : https://docs.microsoft.com/en-us/powerapps/maker/data-platform/connect-azure-data-lake-storage-for-dataflow#prepare-your-azure-data-lake-storage-gen2-for-power-platform-dataflows.

Thanks!

Nicolas

---
#### Document Details

⚠ *Do n

[2021-02-11 17:24] sergeig888 opened #2830 "Need to correct and validate"
1. This statement "Query text and query result traffic for imported data models" needs to be updated to "Query text and query result traffic for imported and Direct Query data models"
2. Last bullet: "Moving large-storage format datasets from the region where they were created will result in reports failing to load the dataset. Move the large-storage dataset back to its original region to make it

[2021-02-12 00:50] kfollis commented on #2825
Hi @lucazav  - thank you for the feedback on our documentation. If I understand correctly, you'd like to see the same level of detail for Python that are shown in this article about R scripts. I am routing your feedback to the feature owners to consider this update. Please feel free to comment if I have misinterpreted your request!

[2021-02-12 00:54] kfollis commented on #2827
Hi @prmotepm - Good catch! I have already made the change and it will be live when we publish again tomorrow. I appreciate your careful reading and pointing that out! Thanks for your contribution.

[2021-02-12 00:54] #2827 closed

[2021-02-12 01:08] kfollis commented on #2829
Hi @nstraw - thanks for asking! The prerequisites state that the storage account has to be in the same region as the tenant. I am assigning this to the writer, though, to further clarify.

[2021-02-12 01:11] kfollis commented on #2830
Thank you for the feedback, @sergeig888! I am assigning this issue to the author to verify and make these updates. We appreciate the contribution and will address this soon.

[2021-02-12 02:34] maggiesMSFT commented on #2792
Hi, @matuhinal -- closing this issue. Please reopen or create another issue, to provide more context, so we can understand the issue.
Thanks!

[2021-02-12 02:34] #2792 closed

[2021-02-12 02:38] maggiesMSFT commented on #2788
Hi, @ShawnPOWER -- just so you know I haven't forgotten you. I'm still checking. You may need to enter a support request, https://powerbi.microsoft.com/en-us/support/
Thanks!

[2021-02-12 07:26] prashant1380 opened #2831 "Data gateway recovery key based encryption"
Documentation says that data sources credentials are encrypted with public key (generated using recovery key) but it does not clarify where these encrypted credentials are stored in the cloud. Gateway cluster which is installed on the machines is covered very well, but cloud part is not clear.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-02-12 09:30] matuhinal commented on #2792
Good day!
Please no closing.
Lyudmila
________________________________
От: Maggie Sparkman <notifications@github.com>
Отправлено: 12 февраля 2021 г. 8:35
Кому: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Копия: Matuhinal <ayuditgarantdigital@outlook.com>; Mention <mention@noreply.github.com>
Тема: Re: [MicrosoftDocs/powerbi-docs] Explore and monitor key repository in Power BI by c

[2021-02-12 10:36] lucazav commented on #2825
Hi Kate,

exactly. I’m wondering if the same limitations also apply for Python Visuals.

Thanks.

--
Luca Zavarella

From: Kate Follis <notifications@github.com>
Sent: Friday, February 12, 2021 01:51
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Luca Zavarella <lucazavarella@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Similar

[2021-02-12 11:37] bjornsivertsen commented on #2034
Has there been any development since May on this?

[2021-02-12 15:30] ShawnPOWER commented on #2788
Hi @maggiesMSFT, I appreciate the update and you looking into it for me. I will get a support request in also, thank you!

[2021-02-12 20:02] maggiesMSFT commented on #2788
Hi, @ShawnPOWER --

Rereading your original comment – if you only assigned Read permission to a user, they shouldn’t be able to build a paginated report OR a PBIX report. However, you say they can do the one, build a PBIX report --- but not the other, build the paginated report.

“Through my testing today, here is an example. I assigned read permission to a user on a dataset inside of a modern wor

[2021-02-12 20:16] maggiesMSFT commented on #2831
Hi, @prashant1380 -- thanks for asking! Assigning to the author to investigate.

[2021-02-13 03:05] maggiesMSFT commented on #2788
Hi, @ShawnPOWER -- I've confirmed that if the user has Build permissions on a dataset, they should be able to create either a PBIX report or a paginated report.

[2021-02-13 03:49] bosschgn opened #2832 "Multiple select"
Is there any way to do multiple select without holding the ctr key on pc ?  On the ipad it seems to work and works so much better, especially when doing presentations.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02349558-4417-b39f-be59-b80655babdd2
* Version Independent ID: 6c5c0c15-6bf4-e775-1

[2021-02-14 10:06] KesemSharabi commented on #2822
Hi @lucazav,

After confirming with our development team, and if it renders in the portal (Power BI service), it should render when embedded.

Hope this helps.,

Kesem

[2021-02-14 10:06] #2822 closed

[2021-02-14 10:12] KesemSharabi commented on #2823
Hi @lucazav,

After confirming with our development team, anything that renders in the portal (Power BI service) should render when embedded.

Hope this helps.,

Kesem

[2021-02-14 10:12] #2823 closed

[2021-02-14 10:22] KesemSharabi commented on #2767
Hi @marclelijveld,

Thank you for your feedback. I added a note to the [gateway APIs](https://docs.microsoft.com/rest/api/power-bi/gateways), stating that they require gateway admin permissions.

Thanks again for getting involved and pointing this out,

Kesem

[2021-02-14 10:22] #2767 closed

[2021-02-14 10:43] lucazav commented on #2822
Thank you, Kesem.
It'd be nice if you specify this also in the Docs.

Thank you.

--
Luca Zavarella
________________________________
From: Kesem Sharabi <notifications@github.com>
Sent: Sunday, February 14, 2021 11:06:47 AM
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Luca Zavarella <lucazavarella@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2021-02-14 10:51] nodenks opened #2833 "API removing user from gateway datasource using service principal doesn't work"
Hi,
I am trying to use the removing user API (https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/deletedatasourceuser) with service principal and it gets stuck in execution. There is no error code, it just keeps waiting. Could you help me with this issue?

Below code, I am using

$gatewayId = "xxx"
$spnID = "xxx"
$spnClientSecret = "xxx"
$datasourceId = "xxx"
$emailname =  "xxx"

$relativ

[2021-02-14 11:01] nodenks commented on #2833
After a while i got this error message:
Invoke-PowerBIRestMethod: One or more errors occurred. (Response status code does not indicate success: 404 (Not Found).)

[2021-02-14 11:06] JaMePa opened #2834 "Possible Explanations not working with December 2020 Update, is it correct?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 946c17db-7cc8-70d7-45d5-5502fe115f67
* Version Independent ID: 62a891ef-32c6-9913-699c-dfed292839d7
* Content: [Anomaly detection tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-anomaly-detection)
* Conten

[2021-02-14 11:52] mafuz opened #2835 "I am using oracle 11g 32its with powerBI 64 bits"
I am using oracle 11g 32its with powerBI 64 bits when I try to connect to the database I am getting  Details: "Oracle: ORA-12541: TNS:no listener"  and I have configured the TNS correctly in both oracle and powerBI client. Will it be the result of my oracle version?

[2021-02-14 12:30] deepakn1079 opened #2836 "Paginated report for Dynamics 365 Fails to Publish in Power BI service"
I have been trying to publish a power BI paginated report to power BI Service it doesn't seem to work . I ve built the report with the power BI report builder . It works fine with the azure databse and i can preview the report . I can also connect to the azure SQL with Sql managment studio . But when i imported the RDL file into the Power BI service it keeps throwing the error that

Failed to upda

[2021-02-15 14:02] dp33Fr opened #2837 "Power BI Report Server January 2021, "filter=" URL parameter is not working"
Hi,

Two customers have same issue: After applying PBRS January 2021, all reports with "filter=" parameter don't woking.
Previous October 2019 version was working without any problem.
http://myserver/reports/MyReportSample?filter=Product/Familly eq 'Computer'
no error, report are rendering correctly. Char case, spaces are corrects.

After upgrade, the report begin to render and a blank page appear

[2021-02-15 21:41] targetpharma opened #2839 "version 2.88.1682.0 64-bit (December 2020) using unsupported ODBC driver (version 2.20.2) for native Snowflake connector"
Running the latest version 2.88.1682.0 64-bit (December 2020) of Power BI Desktop, and the native Snowflake connector is using an unsupported (old) version of the Snowflake ODBC driver (version 2.20.2)

![image](https://user-images.githubusercontent.com/20141935/107995254-3e95e100-6fac-11eb-8dd3-ba4686c10a8a.png)

![image](https://user-images.githubusercontent.com/20141935/107995229-2faf2e80-6fac-

[2021-02-16 09:52] fred31330 opened #2840 "Phrase meaning"
[Enter feedback here]
The bolded section in sentence "**If your initial refresh with the compute engine turned on**, then data gets written in the lake and in the cache. This double write means these refreshes will be slower." is confusing. Can you fix it?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6054103

[2021-02-16 10:43] linekrogh opened #2841 "Power BI Admin rights"
What does it mean when a Power BI admin has "Manage workspaces"-rights? Does it mean the person also have access to the data in the workspaces?
We have a situation where the developers/it admin people are not allowed to have access to production data. Thus, I am not sure if giving a person the power bi admin roles will violates this security rule?
---
#### Document Details

⚠ *Do not edit this sec

[2021-02-16 11:25] LeroyMeares commented on #2392
Hi @teddybercovitz @paulinbar

Has there been any further investigation into this?

Regards
Leroy

[2021-02-16 13:02] juanparati opened #2842 "MariaDB is not listed in the data sources lists"
MariaDB is not listed in the data source lists despite that it supports Direct Query.

See [Mariadb Direct Query instructions](https://mariadb.com/resources/blog/getting-started-with-the-mariadb-direct-query-adapter-for-microsoft-power-bi/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe

[2021-02-16 14:04] jaredwbrown77 opened #2843 "Contributor does not have Manage dataset permissions as incorrectly documented"
The table in the "Roles in the new workspace" section suggests that Contributors can "Manage dataset permissions", but I don't believe that is the case unless I am missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2fc85542b4
* Version Independent ID: 024b0981-3008-08cd-8d2d-4dc

[2021-02-16 14:15] thommck opened #2844 "CLI version?"
Needs to include how to pause/unpause using something like the Azure CLI so you could schedule this (e.g. only have running during office hours).
If this is not possible then the page should call this out that it is currently a manual task

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 842bcbb2-ce2c-3729-f876-5d306595b

[2021-02-16 15:44] paulinbar commented on #2832
Hi @bosschgn, thanks for your reaching out to us with your question. I am forwarding it on to the doc owner. Thanks!

[2021-02-16 15:49] paulinbar commented on #2833
Hi @nodenks, thanks for reaching out. You've reached the docs team, and I think you need product support. Try opening a ticket at our [support site](https://powerbi.microsoft.com/support/). You might also try the [Power BI Community]( https://community.powerbi.com).

[2021-02-16 15:49] #2833 closed

[2021-02-16 15:53] paulinbar commented on #2834
Hi @JaMePa, thanks for reaching out. I'm forwarding your comment on to the doc author for consideration.

[2021-02-16 15:56] paulinbar commented on #2835
Hi @mafuz, thanks for reaching out to us. You have reached the docs team. I think you will have better luck putting your question out to the [Power BI Community]( https://community.powerbi.com), or you can also try our [support page](https://support.powerbi.com).  Good luck!

[2021-02-16 15:56] #2835 closed

[2021-02-16 15:59] paulinbar commented on #2836
Hi @deepakn1079, thanks for reaching out. You've reached the docs team, and it sounds to me like you need product support. I suggest you put your question out to the [Power BI Community]( https://community.powerbi.com), and also try our [support page](https://support.powerbi.com). Good luck!

[2021-02-16 15:59] #2836 closed

[2021-02-16 16:02] paulinbar commented on #2837
Hi @dp33Fr, thanks for reaching out. You've reached the docs team, but this sounds more like a problem for product support. I suggest you try putting your question out to the [Power BI Community]( https://community.powerbi.com), or try our [support page](https://support.powerbi.com).  Good luck!

[2021-02-16 16:02] #2837 closed

[2021-02-16 16:06] paulinbar commented on #2839
Hi @targetpharma, thanks for reaching out to us. I am forwarding your comment along to the doc author - I hope he will be able to  direct your query to the right place.

[2021-02-16 16:08] paulinbar commented on #2840
Hi @fred31330, thanks for your comment. I am forwarding it on to the doc author for consideration. Thanks!

[2021-02-16 16:11] paulinbar commented on #2841
Hi @linekrogh, good question. Let me check that and I'll get back to you.

[2021-02-16 16:13] paulinbar commented on #2842
Hi @juanparati, thanks for your comment. I am forwarding it on to the doc author for further consideration.

[2021-02-16 16:16] paulinbar commented on #2843
Hi @jaredwbrown77, thanks for your comment. I am forwarding it on to the doc author for consideration.

[2021-02-16 16:18] paulinbar commented on #2844
Hi @thommck, thanks for your comment. I am forwarding it along to the doc author for further consideration.

[2021-02-16 19:26] paulinbar commented on #2769
Hi @chrisweis, Thanks for calling this to my attention. I have fixed the links and they will be live online in about 5 hours. Thanks again!

[2021-02-16 19:26] #2769 closed

[2021-02-16 20:00] paulinbar commented on #2392
Hi @LeroyMeares and @Data-touille, indeed, template apps don't currently support incremental refresh. This situation may change in the coming year. In the meantime, I have added a limitation concerning incremental refresh to the template app documentation . Thanks for calling that out!

[2021-02-16 20:00] #2392 closed

[2021-02-17 02:41] maggiesMSFT commented on #2684
Thanks, @j2associates ! Fixed. Update will be live tomorrow afternoon, Feb 17, 2021

[2021-02-17 02:41] #2684 closed

[2021-02-17 05:03] ShawnPOWER commented on #2788
Hi @maggiesMSFT, apologies for the confusion with my original comment. My original comment is actually around a user viewing a published Power BI Report Builder (RDL) report which contains a dataset which is in another workspace. Where the user has read access on the dataset and app permissions on the report itself (no direct read permissions). This is what I found to not function through my testi

[2021-02-17 10:52] paulinbar commented on #2841
Hi @linekrogh, on the face of it, it looks like giving assigning a person the Power BI admin role violates your policy, because a Power BI admin may go into the Admin Portal > Workspaces, where they'll see all the personal and group workspaces in the organization. They can then select a workspace and add themselves as an admin or other role to the workspace. After that they will have access to the

[2021-02-17 10:52] #2841 closed

[2021-02-17 13:19] ericleigh007 opened #2845 "What's missing is an explanation of how the RangeStart and RangeEnd parameters are set by the service"
What's missing here is the inside scoop of how the two values get used by the service.

For instance, in my queries, I have a case where thousands of tables are uploaded each time the refresh runs.  For this I'm using a List.Generate().  What I'm trying to do is to setup my queries so they don't bother to run for date ranges that will be stored in the service.  I built a report that shows the valu

[2021-02-17 14:05] KesemSharabi commented on #2845
Thanks for your comment, @ericleigh007.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-02-17 16:25] paulinbar commented on #2626
Hi @Johannes-Vink, an updated version of the security white paper was published this morning. It includes some mention of Private Link.
https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-security

[2021-02-17 16:25] #2626 closed

[2021-02-17 17:27] mark-thurston-icgam-com opened #2846 "Missing step in enabling Gen 2 mode"
[Enter feedback here]

The section:
In the admin portal, navigate to Capacity settings.
Select Power BI Premium.
A section appears titled Premium Generation 2 (preview), and in that section is a slider to enable Premium Generation 2 (preview).
Move the slider to Enabled.

is missing one step, which is to select the existing allocated capacity first. So, it should say:

In the admin portal, navigat

[2021-02-17 18:56] kerbos opened #2847 "Make it more clear how different gov plan get Power BI"
This section deals with helping the customer understand how to sign up for the appropriate environment.
https://docs.microsoft.com/en-us/power-bi/admin/service-govus-signup#select-the-right-sign-up-process-for-your-us-government-organization

For GCC High, they need to buy (no trials) and go straight to How do I buy Microsoft 365 Government? link (https://docs.microsoft.com/en-us/office365/service

[2021-02-17 19:23] maggiesMSFT commented on #2714
Hi, @JainVikas -- I was able to save this sample to a non-Premium workspace. I have a Pro license.
Does that answer your question?
Thanks!
cc @sdgilley

[2021-02-17 19:25] kfollis commented on #2847
Thanks, @kerbos! Great clarification and I appreciate all the links. I will make those updates soon.

[2021-02-17 21:50] maggiesMSFT commented on #2843
Hi, @jaredwbrown77 -- you're right! I just tried it. I've updated the table and the article. Change should be live this afternoon.
Thanks!

[2021-02-17 21:50] #2843 closed

[2021-02-18 03:05] kasavin opened #2848 "Dataflows for reporting"
This line in the article might be misleading given that you can connect to dataflows as a data source:

"However, they can't be used directly as a source for reporting."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f7e98b-d12a-5896-50c4-bd33f63481d0
* Version Independent ID: a1ccb451-0ba0-f4b5-63eb-22b62fcc93f6
* C

[2021-02-18 07:40] cshailaja opened #2849 "Unable to import data from excel labeled as confidential"
We have a confidential sensitivity label that applies protection.
I am unable to import data from the excel file to powerBI when the file is labeled with confidential label. However I am able to import data from a file that where label doesn't apply protection.

I would like to know if it is the expected behavior?

I receive the below error:

"Something went wrong

Failed to configure selected fil

[2021-02-18 08:41] paulinbar commented on #2849
Hi @cshailaja, I believe this is the expected behavior now, as I don't think importing an Excel file that has a label with protection is supported yet. I am checking just to make sure though and will get back to you when I hear. Thanks for your question!

[2021-02-18 08:56] cshailaja commented on #2849
Sure. Thanks for the quick update.

[2021-02-18 09:27] paulinbar commented on #2849
Hi @cshailaja, yes, I checked. Import from Excel of data that has a label with protection is not yet supported and will fail. So that is the expected behavior. I think they are working on it though. Meanwhile, not a great error message, I have to say...

[2021-02-18 10:43] KesemSharabi commented on #2844
Hi @thommck,

Currently you cannot start/pause a Power BI capacity using CLI.

For a list of all the Power BI CLI commands, see [az powerbi](https://docs.microsoft.com/cli/azure/ext/powerbidedicated/powerbi?view=azure-cli-latest).

To update capacities programmatically, you can use:
* ARM APIs:
   * [Capacities - Resume](https://docs.microsoft.com/rest/api/power-bi-embedded/capacities/resume)
   *

[2021-02-18 10:43] #2844 closed

[2021-02-18 11:32] cshailaja commented on #2849
Thanks for confirming. Looking forward for that capability to be implemented.

[2021-02-18 11:32] #2849 closed

[2021-02-18 15:13] JainVikas commented on #2714
unfortunately it doesn't. Let me give you an example of what happens.

say I am using a SQL db to store new data on which I need to do prediction.
When I am on desktop, the azure insight works well, everytime i refresh my data, the new data get feeded and the prediction results are available. Now if I publish my desktop to PowerBI service, note the credentials are verified and they are correct. Th

[2021-02-18 18:59] hifihedgehog commented on #2294
Microsoft parlance translation: "Supported" means here "it is working but we don't want you to use it yet."

[2021-02-18 19:09] maggiesMSFT commented on #2294
Hi, @hifihedgehog and @jrussi1301 -- I'd say "supported" translates as: "We haven't tested it, so we can't guarantee it. Use at your own risk." Hope that helps!

[2021-02-18 21:55] maggiesMSFT commented on #2848
Hi, @kasavin -- thanks for the feedback! Assigning to the author for consideration.

[2021-02-18 21:56] maggiesMSFT commented on #2846
Hi, @mark-thurston-icgam-com -- thanks for the feedback! Referring to the author for consideration.

[2021-02-18 23:46] Hikmer opened #2850 "Premium capacity recommended data model size guidance"
Can we please update the Premium capacity recommended data model size guidance to more clearly say the sizes are recommendations due to the way data refreshes occur but that it is not a hard limit?  This is confusing for customers and even internal Microsoft support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013

[2021-02-18 23:56] kfollis commented on #2850
Hi @Hikmer - thank you for the feedback on our documentation. I am routing your request for this update to the writer to review and ensure that the model size guidance is clear on recommendations vs. hard limits. Please be patient as we evaluate the request and plan our updates.

[2021-02-21 07:29] mohijarada2017 opened #2851 "Small correction in Tutorial Example to be made. The Date field in the Calendar from the join table, to be used for the 1st PowerBI visual chart"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0083e3-c11c-2462-6f0f-a166759f14c0
* Version Independent ID: 927cc95e-d442-db4d-75ae-d4a2fa64ae71
* Content: [Tutorial: From Excel workbook to stunning report in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/d

[2021-02-21 16:18] pranaysharmamanulife commented on #2094
@maggiesMSFT : Any update?

[2021-02-21 23:47] paulinbar commented on #2851
Hi @mohijarada2017, thanks for your comment. I am forwarding it on to the doc author for further consideration.

[2021-02-22 05:56] Dan1480 opened #2852 "Missing conditions for automatically installing apps"
Please mention in the "Considerations for automatically installing apps" section that it is not possible to automatically install an app for the entire organization.  The permissions for the app must specify named users or groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Ver

[2021-02-22 22:58] maggiesMSFT commented on #2094
Hi, @samhodgkinson , @pranaysharmamanulife , @oloboy -- I'm sorry, the Service Now content pack no longer exists. I recommend requesting or suggesting it at https://ideas.powerbi.com/ideas/.
cc @paulinbar

[2021-02-22 22:58] #2094 closed

[2021-02-23 00:21] maggiesMSFT commented on #2851
Hi, @mohijarada2017 -- thanks for your comment! Actually either Date field will work. I've added the one from the Calendar table. Change should be live in the next few days.
Thanks!

[2021-02-23 00:21] #2851 closed

[2021-02-23 02:51] KayUnkroth opened #2854 "Section "Set your visual to send data" has wrong instruction in Step 2."
Step 2 says: **Replace** the content of the ReactCircleCard class, with the following code.

It should say, **Add** the content of the ReactCircleCard class, with the following code.

If you replace the code, the render() method would get lost and you wouldn't see anything in the visual.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-02-23 07:35] #2715 closed

[2021-02-23 08:24] mohijarada2017 commented on #2851
Thanks a lot. I am so happy i was able to contribute.
BR,
Mohee

On Tue, 23 Feb 2021, 03:21 Maggie Sparkman, <notifications@github.com>
wrote:

[2021-02-23 16:18] davidiseminger commented on #2852
Thanks for your comment, @Dan1480.  We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2021-02-23 16:19] davidiseminger commented on #2854
Thanks for your comment, @KayUnkroth. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2021-02-23 17:04] Hikmer opened #2855 "Missing workspace level setting"
Please add the workspace setting for ArcGIS visuals too, many people dont know where that setting is located.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf2c48a-66f7-6c38-286e-ae429fc34883
* Version Independent ID: 033ec0fc-5c72-8cf2-20fb-1c7a36ebcd5f
* Content: [Interacting with an ArcGIS map that has been shared

[2021-02-23 20:40] mihart commented on #2855
Thanks for your comment, @Hikmer . This issue has been assigned to the doc author for review.

[2021-02-24 02:23] mihart commented on #2818
Thank you @Yuliadocs.  The article has been updated.

[2021-02-24 02:23] #2818 closed

[2021-02-24 02:27] #2817 closed

[2021-02-24 02:40] mihart commented on #2819
Thank you @Yuliadocs. The article has been updated.

[2021-02-24 02:40] #2819 closed

[2021-02-24 02:44] mihart commented on #2854
Thanks @KayUnkroth, I've made the update.

[2021-02-24 02:44] #2854 closed

[2021-02-24 02:51] mihart commented on #2820
Hi @Yuliadocs. Thank you again for your edits.  I've applied some of them to the article.  We try to avoid using 'click' and instead use 'select' and then 'choose'.
Take care.

[2021-02-24 02:51] #2820 closed

[2021-02-24 03:04] mihart commented on #2803
Hi @prvillal,
Thank you for your suggestion.  The link has been added.

[2021-02-24 03:04] #2803 closed

[2021-02-24 03:08] mihart commented on #2846
Hi @mark-thurston-icgam-com ,
Thank you.  The article has been updated with the added step.

[2021-02-24 03:08] #2846 closed

[2021-02-24 06:55] mihart commented on #2811
Hi @prvillal ,
Thank you for this information.  I've added it to the documentation.

[2021-02-24 06:55] #2811 closed

[2021-02-24 06:59] mihart commented on #2683
Hi @j2associates ,
Thank you for your suggestions.  I've added links to the article.

[2021-02-24 06:59] #2683 closed

[2021-02-24 07:04] mihart commented on #2672
Hi @TestKTMS ,
Thank you for this feedback.  I've added Scatter chart to the list and am checking with the PM to see if the list is now complete.

[2021-02-24 07:04] #2672 closed

[2021-02-24 07:13] mihart commented on #2671
Hi @pawarbi ,
I wasn't able to reproduce this.  Please try the link again and let me know if it is still broken for you.
Thanks.

[2021-02-24 07:13] #2671 closed

[2021-02-24 07:20] mihart commented on #2497
Hi @mikem-MS ,
Looks like this has been fixed in the documentation.  I'm going to close this Issue.  Thank you for your feedback.

[2021-02-24 07:20] #2497 closed

[2021-02-24 07:34] mihart commented on #2348
Hi @pawarbi ,
Thank you for your feedback.  I've updated the article to include this prerequisite.

[2021-02-24 07:34] #2348 closed

[2021-02-24 13:22] ChristianGalla opened #2856 "Cloning when Migrating to Power BI Report Server from SSRS (Native mode) not working"
According to the documentation, the old SSRS DBs should be cloned and the clones attached to the Power BI Report Server. This only works if the name is not changed because it is copied to another DB server.

The report DB must always have a similar name as the corresponding temp DB (for example ReportServer and ReportServerTempDB). [Renaming of a report server database is not supported](https://do

[2021-02-24 14:20] KesemSharabi commented on #2856
Thanks for your comment, @ChristianGalla.

I've assigned this issue to the doc author for review.

[2021-02-24 14:32] vlado101 opened #2857 "Issue with token expiring after 1 hour"
Hello,

I just wanted to see if this issue has been resolved. We are facing an issue similar to Power BI where we have an Azure Data Factory job that runs for longer than an hour. When trying to integrate those Azure Data Factory jobs with Control-M it sets our jobs as failed after an hour even if the jobs runs with no issues.

We are trying to look for a solution so any help or insights would be

[2021-02-24 22:26] kfollis commented on #2847
An update has been made to better clarify the right process for gov't orgs to get Power BI in this article https://docs.microsoft.com/en-us/power-bi/admin/service-govus-signup#select-the-right-sign-up-process-for-your-us-government-organization. In addition, this article https://docs.microsoft.com/en-us/power-bi/admin/service-govus-overview has been updated to move cloud types and sign up steps hi

[2021-02-24 22:26] #2847 closed

[2021-02-24 22:28] kfollis commented on #2758
Thanks for your persistence in getting this fixed! I've updated the article, so will now close this issue.

[2021-02-24 22:28] #2758 closed

[2021-02-24 22:31] kfollis commented on #1537
The article has been updated to include a link to the source data and will publish soon. Thank you for your contribution!

[2021-02-24 22:31] #1537 closed

[2021-02-25 11:18] sanshan20 opened #2858 "Documentation"
Under section [Limitations and considerations](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-report-lifecycle-datasets#limitations-and-considerations) there is statement that says "When you connect to these multi-dimensional sources by using **DirectQuery**, you can't connect to another DirectQuery source or combine it with import data."

Shouldn't the bolded text be Live connecti

[2021-02-25 15:29] aleowuor opened #2859 "Page title still shows December 2020"
Page title may need to be updated. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540c095a-44b8-bd64-6bb2-81fdefbcb591
* Version Independent ID: 4a74c2a6-2b28-5c73-9243-1ad5e08d6dd2
* Content: [What's new in the latest Power BI Desktop update - Power BI](https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop

[2021-02-25 21:48] sethsanuMSFT opened #2861 "No longer in preview"
[Enter feedback here]

The preview feature section and image at the bottom can be removed. It's circa 2017 / 2018

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4966
* Version Independent ID: 0c97fa47-9695-aaaf-efcd-63b35362310e
* Content: [Use bookmarks in Power BI Desktop to share insi

[2021-02-25 22:17] maggiesMSFT commented on #2861
Hi, @sethsanuMSFT -- good point. Deleted it. Thanks!
Change should be live in the next few days.

[2021-02-25 22:17] #2861 closed

[2021-02-25 22:20] maggiesMSFT commented on #2859
Hi, @aleowuor -- good catch, thanks! We'll get it updated soon.

[2021-02-26 01:22] maggiesMSFT commented on #2858
Hi, @sanshan20 -- thanks for asking! Referring to the author to investigate.

[2021-02-26 01:26] maggiesMSFT commented on #2857
Hi, @vlado101 -- thanks for asking. Assigning to the author to look into the issue. In the meantime, I recommend asking the Power BI community, https://community.powerbi.com/ and/or looking on the Power BI Ideas site, https://ideas.powerbi.com/ideas/.

[2021-02-26 08:58] ChristianGalla commented on #2856
We are still testing if there are any other errors, but it looks like on migration references in 90 DB objects were automatically updated to the new name of the temp DB. Only one reference in the trigger [dbo].[Schedule_UpdateExpiration] on the table [dbo].[Schedule] was missed.
After changing this trigger to reference the new temp DB, we were able to save email subscriptions again.

We will keep

[2021-02-26 19:10] mihart commented on #2830
Hi @sergeig888
Thank you for your feedback.  The article has been updated and is scheduled for republish next week.

[2021-02-26 19:10] #2830 closed

[2021-02-26 21:32] mihart commented on #2449
Hi @Rickmaurinus,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-26 21:32] #2449 closed

[2021-02-26 22:01] mihart commented on #2859
Hi @aleowuor ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-26 22:01] #2859 closed

[2021-02-26 22:29] mihart commented on #2486
Hi @DaxelCA ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-26 22:29] #2486 closed

[2021-02-27 05:05] mihart commented on #1106
Hi @woshigabriel ,
The data is indeed strange.  I've asked the sample owner to look into the data.  In the meantime, I've replaced the example with different data -- still showing how you can interact with the Excel file from within Power BI.
Thank you for pointing this out.
The DOCS team

[2021-02-27 05:05] #1106 closed

[2021-02-27 05:19] mihart commented on #1689
Thanks for your question, @Eutardigrade. I noticed that it's been a while since you submitted this Git Issue -- were you able to get an answer? If not, I suggest that you ask the Power BI Community, at https://community.powerbi.com.
All the best,
The DOCS team

[2021-02-27 05:19] #1689 closed

[2021-02-27 05:30] mihart commented on #1803
Hi @chizhova,
We've update this article since you submitted this Issue. I'm going to close this because the article has been updated and also because it is true that guest users can consume content using Power BI service.  If you feel that this Issue is not resolved, please let us know.
Thank you for your feedback,
The DOCS team

[2021-02-27 05:30] #1803 closed

[2021-02-27 05:46] mihart commented on #1814
Hi @v-merpet ,
Thank you for pointing this out.  It's been a while since you originally submitted this Git Issue and we've added a disclaimer.  Please let us know if you are still having problems with Web URLs.
All the best,
The DOCS team

[2021-02-27 05:46] #1814 closed

[2021-02-27 06:13] mihart commented on #2265
Hi @pdileepan ,
Thank you for your question.
Most of the sample data came from https://www.data.gov/.
All the best,
the DOCS team

[2021-02-27 06:13] #2265 closed

[2021-02-27 06:24] mihart commented on #1883
Hi @CristianAven and @ferdcoz ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-02-27 06:24] #1883 closed

[2021-02-27 06:27] mihart commented on #1917
Hi @YassinePBI ,
Thank you for your comment.  I noticed that this Git Issue was never closed.  The article has been updated, so I am going to close this Issue.  If you still have documentation suggestions, please let us know.
All the best,
the DOCS team

[2021-02-27 06:27] #1917 closed

[2021-02-27 06:32] mihart commented on #1923
Hi @pfprado ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, your Issue does sound more like a product question than a documentation suggestion.  For product questions, I recommend submitting your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-02-27 06:32] #1923 closed

[2021-02-27 06:36] mihart commented on #1947
Hi @LydiaLim93 ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, let us know and/or submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-02-27 06:36] #1947 closed

[2021-02-27 06:41] mihart commented on #1972
Hi @klinejordan ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-27 06:41] #1972 closed

[2021-02-27 06:52] mihart commented on #2006
Hi @nielsgarde ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please submit your question to the Power BI community (community.powerbi.com) or add it as a suggestion on the Ideas site (ideas.powerbi.com).
All the best,
the DOCS team

[2021-02-27 06:52] #2006 closed

[2021-02-27 07:19] mihart commented on #2049
Thanks for your comment, @dhruvinushah . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-02-27 07:19] #2049 closed

[2021-02-27 07:21] mihart commented on #2051
Thanks for your comment, @chizhova . Did you find your answer on the Issues site? If not, this looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-02-27 07:21] #2051 closed

[2021-02-27 07:34] mihart commented on #2088
Hi @CeciAc , @myyt0523 ,
I see that this Git issue is a bit old, so I'm going to close it. From what I can tell, maggieMSFT answered your question about filters -- that they cannot be used on dashboards, only on reports.  If you still have questions, please let us know.
All the best,
the DOCS team

[2021-02-27 07:34] #2088 closed

[2021-02-27 13:29] JD-BOS opened #2862 "updated needed to Conditional Table Formatting page"
In the "Totals and subtotals" section: "Beginning with the April 2020 release, you can apply conditional formatting rules to totals and subtotals, for both table and matrix visuals.

But the next section "Considerations and limitations" the first statement is "Conditional formatting applies only to the values of Table or Matrix visuals, and doesn't apply to any subtotals, grand totals, or the Tota

[2021-02-28 04:19] mihart commented on #2141
Thanks for your comment, @ath-violettak. This appears to be an old Git Issue and I hope that you were able to solve your problem.  If not, please post your question in the community forum, at https://community.powerbi.com.

[2021-02-28 04:19] #2141 closed

[2021-02-28 04:36] mihart commented on #2282
Thanks for your comment, @CeciAc . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-02-28 04:36] #2282 closed

[2021-02-28 04:38] mihart commented on #2276
Hi @Ascyron ,
Thank you for your feedback.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-28 04:38] #2276 closed

[2021-02-28 04:41] mihart commented on #2272
Hi @Maggie18z ,
Thank you for your suggestion.  I notice that this is an older Git Issue and the article you reference has been updated.  A link has been added to an article that has role definitions, which is where the perms are defined for refresh.  Please take a look, and let me know if you still have questions.
All the best,
The DOCS team

[2021-02-28 04:41] #2272 closed

[2021-02-28 04:53] mihart commented on #2257
Hi @jdbuchanan ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-28 04:53] #2257 closed

[2021-02-28 04:57] mihart commented on #2253
Hi @BlendMW ,
This article has been updated to explain the connection issue with Facebook.
_Due to Facebook App permission restrictions, the connector capabilities described in this article are not currently working properly. We’re working with Facebook to return this functionality as soon as possible_.
All the best,
the DOCS team

[2021-02-28 04:57] #2253 closed

[2021-02-28 05:00] mihart commented on #2247
Hi @lakeyeric22 ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-02-28 05:00] #2247 closed

[2021-02-28 05:09] mihart commented on #2232
Hi @olthomps ,
Thank you for your suggestion.  We did update the article to remove the DirectQuery limitation.  And I realize that we never updated your Git Issue to let you know. We really appreciate your input!
All the best,
the DOCS team

[2021-02-28 05:09] #2232 closed

[2021-02-28 05:21] mihart commented on #2230
Hi @elcu @woodyj13, @rafaelsmoreno ,
I've searched the Community forum and the ideas.powerbi.com website, and see that this question/idea has been posted by several users. I am unaware of a solution.  However, the more votes an Idea gets, the more likely it will catch the product team's attention.  Here's a link to the Idea that seems to best match: https://ideas.powerbi.com/ideas/idea/?ideaid=831

[2021-02-28 05:21] #2230 closed

[2021-02-28 06:50] mihart commented on #2338
Hi @jnesfield ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-02-28 06:50] #2338 closed

[2021-02-28 06:55] mihart commented on #2340
Hi @itsnotaboutthecell ,
I see that this Git issue is a bit old, so I'm going to close it.  I checked the referenced article and no longer see the limitation included. Thank you for your suggestion!
All the best,
the DOCS team

[2021-02-28 06:55] #2340 closed

[2021-02-28 06:59] mihart commented on #2343
Hi @obungimartin ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-02-28 06:59] #2343 closed

[2021-02-28 07:02] mihart commented on #2362
Thanks for your comment, @ReBae . This looks like a support request or product question rather than documentation feedback. I hope that you were able to find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
All the best,
the DOCS team

[2021-02-28 07:02] #2362 closed

[2021-03-01 06:28] mpchen opened #2863 "What is the value of "client id" when using "Master User" auth?"
When using "Master User" auth, what is the value of "client id"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your Power BI embedded analytics application enabling better embedded BI insigh

[2021-03-01 15:15] calebcwells opened #2864 "BadRequest error when exporting paginated report to csv, Excel or Word"
I have a three page report that is embedded in a website and am trying to use version 3.21.0 of the REST API to export the report. Each page has several visuals that I can export separately to Excel using the 'Export Data' menu option. I can also export the full report to pdf and PowerPoint using PowerBIReportExportConfiguration or PaginatedReportExportConfiguration in my code. I am using the code

[2021-03-01 16:04] paulinbar commented on #2863
Hi @mpchen, thanks for your question. I am forwarding it on to the doc author for further consideration.

[2021-03-01 16:10] paulinbar commented on #2864
Thanks for reaching out to us with your question, @calebcwells. I am forwarding it on to the doc author for further consideration. He might be able to point you in the right direction. I also suggest trying the [Power BI Community]( https://community.powerbi.com), or our [support page](https://support.powerbi.com). Thanks!

[2021-03-01 18:35] mihart commented on #2591
Hi @cvillegashak ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-01 18:35] #2591 closed

[2021-03-01 18:39] mihart commented on #2583
Hi @FranGenoa ,
I see that this Git issue is a bit old, so I'm going to close it.  I checked, and the article has already been updated with your suggestion.  Thank you for your contribution!
All the best,
the DOCS team

[2021-03-01 18:39] #2583 closed

[2021-03-01 18:56] mihart commented on #2555
Thanks for your comment, @VenkatGowrishankar . I noticed that this is an older Git Issue and I hope that you were able to get your answer from the Power BI Community.  If you still have documentation questions, please let us know.
All the best,
the DOCS team

[2021-03-01 18:56] #2555 closed

[2021-03-02 15:44] rosscouldrey opened #2865 "Push Datasets Connectivity - update based on new feature of DQ for PBI datasets"
In the Q&A section of the RealTime Steaming for PowerBI - it states that push datasets can be connected via live connect
https://docs.microsoft.com/en-us/power-bi/connect-data/service-real-time-streaming#can-i-connect-to-push-or-streaming-datasets-in-power-bi-desktop

From the recent announcement of Direct Query over PowerBI datasets - Push datasets are now also available for Direct Query are they

[2021-03-03 12:40] lbendlin opened #2866 "Garbled sentence"
For large-scale deployments, you can create a gateway of cluster installations.

should read:

For large-scale deployments, you can create a cluster of gateway installations.

or:

For large-scale deployments, you can create a gateway with multiple cluster members.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93be3185

[2021-03-03 18:07] KesemSharabi commented on #2866
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-03-03 18:09] KesemSharabi commented on #2865
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-03-03 18:11] #2785 closed

[2021-03-03 21:39] kfollis commented on #2866
Thanks, @lbendlin! I made that change (I liked your second suggestion best) and the article will republish soon with the correction. I appreciate your contribution.

[2021-03-03 21:39] #2866 closed

[2021-03-03 21:43] mihart commented on #2376
Hi @haider392 ,
I see that this Git issue is a bit old, so I'm going to close it.  I checked the article, and SAP Cryptographic Library instructions were added :-)
All the best,
the DOCS team

[2021-03-03 21:43] #2376 closed

[2021-03-03 21:52] mihart commented on #2540
Hi @eperfilyev ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-03 21:52] #2540 closed

[2021-03-03 22:04] mihart commented on #2286
Hi @mariewo ,
I see that this Git issue is a bit old, and I'm going to close it.  We've removed the article that you reference, and instead added a ink to ESRI's own documentation.   Thank you for the suggestion.
All the best,
the DOCS team

[2021-03-03 22:04] #2286 closed

[2021-03-04 02:28] mihart commented on #2512
Hi @shakanand ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-04 02:28] #2512 closed

[2021-03-04 02:46] mihart commented on #2509
Thanks for your comment, @gfelot  @sarasanalytics . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-04 02:46] #2509 closed

[2021-03-04 02:49] mihart commented on #2508
Thanks for your comment, @sukajalan2 . Since this is a support request or product question rather than documentation feedback, I'm going to close this git issue. I see that this is a known issue -- if you add your votes to the Idea, it increases the chances that the Product team will work on it.
All the best,
the DOCS team

[2021-03-04 02:49] #2508 closed

[2021-03-04 02:55] mihart commented on #2495
Hi @md-rahim ,
Thank you for your question. Automatic page refresh is available for DirectQuery sources and some LiveConnect scenarios, so it will only be available when you are connected to a supported data source. This restriction applies to both automatic page refresh types.   If this doesn't answer your question, please let us know.
All the best,
The DOCS team

[2021-03-04 02:55] #2495 closed

[2021-03-04 02:58] mihart commented on #2492
Thanks for your comment, @JaanaKonttinen. I am unable to duplicate your issue. Therefore, I believe it to be a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
All the best,
the DOCS team

[2021-03-04 02:58] #2492 closed

[2021-03-04 03:01] mihart commented on #2490
Hi @terrysoltz  @rjc825 ,
Thank you for your feedback.  I believe that this problem has been fixed as I am unable to duplicate your issue.  If you are still having trouble, please let us know.
All the best,
The DOCS team

[2021-03-04 03:01] #2490 closed

[2021-03-04 03:11] mihart commented on #2481
Hi @romerohe ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-04 03:11] #2481 closed

[2021-03-04 03:13] mihart commented on #2480
Hi @DaxelCA ,
Thank you for your suggestion.  We've made the updates and set the article to republish.
All the best,
The DOCS team

[2021-03-04 03:13] #2480 closed

[2021-03-04 03:16] mihart commented on #2471
Hi @ilyalehrman ,
I see that this Git issue is a bit old, so I'm going to close it.  We've added a note to the article explaining the situation with Facebook Analytics. Please let us know if you have any other questions.
All the best,
the DOCS team

[2021-03-04 03:16] #2471 closed

[2021-03-04 03:58] mihart commented on #2455
Hi @mariuspc ,
I see that this Git issue is a bit old, and the issue has been resolved. I'm closing this Git Issue, but please contact us if you have additional questions or suggestions.
All the best,
the DOCS team

[2021-03-04 03:58] #2455 closed

[2021-03-04 04:23] mihart commented on #2447
Hi @snmalk ,
I see that this Git issue is a bit old, and that you were able to find a solution.  Based on your feedback, I did go ahead and update the article with the newest method of exporting a theme (View >Themes > ).
All the best,
the DOCS team

[2021-03-04 04:23] #2447 closed

[2021-03-04 04:24] mihart commented on #2445
Thanks for your comment, @miragliag . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
All the best,
the DOCS team

[2021-03-04 04:24] #2445 closed

[2021-03-04 04:31] mihart commented on #2411
Hi @fauzisd ,
Thank you for your question.  Until you've made a selection from the left side of the screen (selected one or more tables), the Load button will remain grey.  If that doesn't answer your question, please let us know.
All the best,
The DOCS team

[2021-03-04 04:31] #2411 closed

[2021-03-04 04:37] mihart commented on #2382
Hi @sallllam ,
I see that this Git issue is a bit old, and we haven't heard back from you. I hope that you were able to get your questions answered. If not, please submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-04 04:37] #2382 closed

[2021-03-04 04:39] mihart commented on #2793
Hi @matuhinal ,
I see that this Git issue is a bit old, and we haven't heard back from you.  I'm going to close this Git issue.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the

[2021-03-04 04:39] #2793 closed

[2021-03-04 05:02] mihart commented on #2816
Hi @jtjones0304 ,
I see that this Git issue is a bit old, and we haven't heard back from you -- so I'm going to close it.  I hope that you were able to get your questions answered. If not, please contact us again or submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-04 05:02] #2816 closed

[2021-03-04 05:34] mihart commented on #2607
Thanks for your comment, @Spiller70 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-04 05:34] #2607 closed

[2021-03-04 05:35] mihart commented on #2596
Hi @stevenfayers ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-04 05:35] #2596 closed

[2021-03-04 05:36] mihart commented on #2616
Hi @mikelauxihs ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-04 05:36] #2616 closed

[2021-03-04 08:15] matuhinal commented on #2793
Thanks! We work with Power BI . Installed the software Power BI

[2021-03-04 08:18] matuhinal commented on #2793
Thanks! We work with Power BI . Installed the software Power BI
________________________________
От: Michele Hart <notifications@github.com>
Отправлено: 4 марта 2021 г. 10:40
Кому: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Копия: Matuhinal <ayuditgarantdigital@outlook.com>; Mention <mention@noreply.github.com>
Тема: Re: [MicrosoftDocs/powerbi-docs] connect (#2793)

Closed #2793<

[2021-03-04 10:02] KesemSharabi commented on #2863
Hi @mpchen,

When using **master user** in the 'embed for your customers' solution, the client ID (AKA application ID) is the client ID of the Azure AD app you created in [Step 2 - Register an Azure AD application](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers?tabs=net-core#step-2---register-an-azure-ad-application).

Hope this helps,

Kesem

[2021-03-04 11:25] KesemSharabi commented on #2864
Hi @calebcwells,

Can you please confirm which report you're trying to export?

If you're trying to export a regular report (not a paginated report), the error is expected. You cannot export a regular report to Excel, Word or a CSV file. These formats are only supported when exporting a paginated report.

[Export Power BI report to file (preview)](https://docs.microsoft.com/power-bi/developer/embe

[2021-03-04 14:29] sbecker2020 opened #2867 "Discriminatory"
Your article is age discriminatory. What if i had suggested using race as an influencer for employee churn?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](h

[2021-03-04 16:57] calebcwells commented on #2864
Hey @KesemSharabi,

I am attempting to export a paginated report. The report in question has three pages each having global slicers and multiple visuals. I followed Paul Inbar's suggestion and searched the Power BI Community for other's having a similar issues but was not able to find something similar.

Thanks,
Caleb

[2021-03-04 17:21] mihart commented on #2867
Hi @sbecker2020 ,
Thank you for your suggestion.  I believe you're referring to this paragraph:
The key influencers visual helps you understand the factors that drive a metric you're interested in. It analyzes your data, ranks the factors that matter, and displays them as key influencers. For example, suppose you want to figure out what influences employee turnover, which is also known as churn. O

[2021-03-04 17:21] #2867 closed

[2021-03-04 17:47] mihart commented on #2662
Hi @Spiller70 ,
Thank you for your suggestion.  We've made the update and set the article to republish tomorrow.
All the best,
The DOCS team

[2021-03-04 17:47] #2662 closed

[2021-03-04 18:14] sukajalan2 commented on #2508
Apparently this issue has been resolved. There are no more extra blank lines for csv export. However, there are still extra blank lines in excel export. Thanks.

[2021-03-04 19:38] g33gu11mu77 opened #2868 "PowerBI missing Date Hierarchy"
This page includes instruction to change from Date to Date Hierarchy in the Axis field but no such Date Hierarchy is showing up in the dropdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0083e3-c11c-2462-6f0f-a166759f14c0
* Version Independent ID: 927cc95e-d442-db4d-75ae-d4a2fa64ae71
* Content: [Tutorial: From E

[2021-03-04 22:39] maggiesMSFT commented on #2781
Hi, @JJDE -- sorry for the delay! At this time this is the limitation, though a fix is planned. You can file a support ticket at https://powerbi.microsoft.com/en-us/support/ and get help there.

[2021-03-04 22:39] #2781 closed

[2021-03-04 22:41] maggiesMSFT commented on #2788
Hi, @ShawnPOWER -- sorry for the delay. I'm told that yes, that should work, and if it's not, it's a bug. Can you file a support ticket at https://powerbi.microsoft.com/en-us/support/ so they can help?

[2021-03-04 22:41] #2788 closed

[2021-03-04 22:51] ShawnPOWER commented on #2788
Hi @maggiesMSFT, no problem and will do. I appreciate it!

[2021-03-05 01:38] intelliot opened #2869 "Wrong link in "Step 4 - Create and publish a Power BI report""
https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers?tabs=python#step-4---create-and-publish-a-power-bi-report

"Power BI Desktop samples" links to https://github.com/microsoft/PowerBI-Developer-Samples

(Notice the "Developer" in the URL)

Correct URL should be: https://github.com/microsoft/PowerBI-Desktop-Samples

---
#### Document Details

⚠ *Do not edit this

[2021-03-05 02:42] mihart commented on #2868
Thanks for your comment, @g33gu11mu77 . This issue has been assigned to the doc author for review.

[2021-03-05 02:50] mihart commented on #2869
Thanks for your comment, @intelliot . This issue has been assigned to the doc author for review.

[2021-03-05 03:27] learnd-online opened #2870 "Lack of information on sorting categorical data which are represented in numbers"
I was directed to this page from: https://docs.microsoft.com/en-us/power-bi/consumer/end-user-change-sort

which promised:

Yet this specific point is not addressed in this tutorial. Disappointing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6eda16-f142-5163-b0af-38fa634d7e42
* Version Independent ID: 58599a34-91a

[2021-03-05 11:29] ChristianGalla commented on #2856
It looks like there is some GUID based mapping between SQL Server agent jobs and the subscription tables:

[code]

On migration these GUIDs are not changed, the jobs are still pointing to the old SSRS DBs and no new jobs are created. Also, the Power BI Report Server is unable to execute or update these subscriptions / jobs.

For now my suggestion is to change the documentation for the paragraph "M

[2021-03-05 14:36] devman2k opened #2871 "Clarity is needed of the relationship between the APP and Workspace"
[Enter feedback here]

When you install an application it is not 100% clear what is in the app or the APPS Relationship to 1 or more workspaces. I'm looking for something that says "Typically you house Reports, Dashboards and DataSets within a particular workspace. The workspace is a boundary of security that can contain Security Roles/Role level security. However there are times that you may want

[2021-03-05 23:27] maggiesMSFT commented on #2871
Hi, @devman2k -- Thanks for asking! The article you're looking at is for a consumer audience, people who will use but not create apps. See if this article answers your questions better:
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-create-distribute-apps
Thanks!

[2021-03-05 23:34] maggiesMSFT commented on #2870
Hi, @learnd-online -- sorry you were disappointed! This article does address sorting a month field/column by another, related field/column; see this section:
https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-sort-by-column#sort-using-the-sort-by-column-button
That is by far the most common use case for sorting by a different column.
Does that help?

[2021-03-06 15:52] lucazav commented on #2825
Hi @kfollis ,
any update?

Thanks

[2021-03-07 09:01] AmosHersch commented on #2864
Hi @calebcwells ,
For finding the reason you receive Bad Request error for the export request we will need to see the full request message you're sending. So please do at least one of the following:
1. Provide us the request ID from the response you receive with the 403 error
2. Use Fiddler to capture the network traces during the time you send the request, and send us Fiddler output containing th

[2021-03-07 11:13] nielsvdc opened #2872 "Azure SQL Data Warehouse DirectQuery article deprecated"
This page probably needs a make-over, because Azure SQL Data Warehouse does not exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf5c2cbb-f3de-c63e-fc74-a5157d5f5c9c
* Version Independent ID: dd280f16-bad8-5f60-f960-208047f6f9b2
* Content: [Azure SQL Data Warehouse with DirectQuery - Power BI](https://docs

[2021-03-07 11:16] nielsvdc opened #2873 "Mentions of Azure SQL Data Warehouse"
This article contains several mentions of Azure SQL Data Warehouse, which does not exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 694e3f20-79d0-debf-1449-38a62492424c
* Version Independent ID: 75c298be-5754-c342-cb4d-228b38f8cec7
* Content: [DirectQuery model guidance in Power BI Desktop - Power BI](http

[2021-03-07 12:19] lealpermalino opened #2874 "Limit of number of category / legend"
Is it possible to increase the number of category / legend?.
If not mistaken, currently it is limited to 60. Im using it in a report with dynamic number of category / legend and now it is around 150. Unfortunately to limit the number of legend and reduce the period is not a solution for my case.

I use this chart to see extreme volume flow of each category.
It is a very informative chart, but if l

[2021-03-08 11:20] ThomasKwakman opened #2875 "Incremental refresh premium only ?"
Hi,

"Incremental Refresh (Premium only)"

Isn't this feature also for Pro now ?
Thank you in advance for your answer.

Best regards,
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b02e80-2a27-b97e-06b2-b71cfc1bc379
* Version Independent ID: 098653b6-3a0b-3455-80a2-b082b8b53bb8
* Content: [Configure and consum

[2021-03-08 12:39] ThomasKwakman commented on #2875
I was mistaken
Sorry

[2021-03-08 12:39] #2875 closed

[2021-03-08 14:46] paulinbar commented on #2872
Hi @nielsvdc. Thanks for your comment! I am forwarding it on to the doc author for further action.

[2021-03-08 14:50] paulinbar commented on #2873
Hi @nielsvdc, Thanks again for your observation. Sending it on to the doc author for consideration.

[2021-03-08 14:56] paulinbar commented on #2874
Hi @lealpermalino, you've reached the documentation team. Is there a specific docs page that you are referring to? If so, can you send the link?
If it's not a problem with the docs, I suggest you ask on the [Power BI Community]( https://community.powerbi.com), or reach out to our [support page](https://support.powerbi.com) with your question. Thanks!

[2021-03-08 18:46] mihart commented on #1954
Hi @boylec ,
Thank you for your suggestion.  Here is the response I received from the Engineer:

The shorter time probably comes from data source. In PBI, minimum timeout for refresh a Premium dataset is 5 hours.

If you still have questions, please let us know.
All the best,
The DOCS team

[2021-03-08 18:46] #1954 closed

[2021-03-08 18:53] mihart commented on #2812
Hi @cbailiss ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-08 18:53] #2812 closed

[2021-03-08 19:12] mihart commented on #2283
Hi @mossywell ,
Thank you for your suggestion.  We've made the update and set the article to republish tomorrow,  If you still have questions, please let us know..
All the best,
The DOCS team

[2021-03-08 19:12] #2283 closed

[2021-03-08 19:22] mihart commented on #2660
Hi @christianb7 ,
Thank you for your suggestion.  We've made the update and set the article to republish later today or tomorrow.
All the best,
The DOCS team

[2021-03-08 19:22] #2660 closed

[2021-03-08 19:54] intelliot opened #2876 "Multiple typos"
`your` should be `you're`

`AppOwnesData` should be `AppOwnsData`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your Power BI embedded analytics application enabling better embedded BI insig

[2021-03-08 20:50] kmkaczmarek opened #2877 "Hi you need better instructions for how to actually open the TopoJSON map file...."
Including this comment after the first instruction regarding what to do with the map is poor and sloppy technical writing, because the reader can't complete the prior step without doing this AND this step is absolutely critical to completing this tutorial.  "See the section titled Getting Map Data, below, for information on how to quickly get map data to test Shape Map."

---
#### Document Details

[2021-03-08 21:11] teddybercovitz commented on #1839
It's a service limitation for dataset parameters, we currently do not support type "Any" or "Binary" parameters in the service for security reasons.

[2021-03-09 02:40] maggiesMSFT commented on #1839
Thanks, @teddybercovitz !
@mtthsbrr and @oex-pbi and @rG-tom and @paulinbar and @davidiseminger -- I'm closing this issue.

[2021-03-09 02:40] #1839 closed

[2021-03-09 05:49] mihart commented on #2876
Hi @intelliot ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-09 05:49] #2876 closed

[2021-03-09 10:33] JayPat65 commented on #2829
Hi,

Once the dataflow storage is configured to use Azure Data Lake Gen 2, there is no way to go back without deleting all the dataflows? There will be a lot of redo activity in that case for users.
In such a case, can we configure only admin can use the feature?

Regards,
Jaydip

[2021-03-09 10:39] JayPat65 opened #2878 "Question on how to go back, once dataflow storage is configured to use Azure Data Lake Gen 2 is enabled?"
Hi,

Once the dataflow storage is configured to use Azure Data Lake Gen 2, Is there a way to go back without deleting all the dataflows? There will be a lot of redo activity in that case for the end-users.
Can we configure only admin can use the feature and rest of the organization use the traditional storage?

Regards,
Jay

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-03-09 18:38] mihart commented on #2878
Thanks for your comment, @JayPat65 . This issue has been assigned to the doc author for review.

[2021-03-09 19:29] Hikmer opened #2879 "Paginated reports and gateway lacking detail"
The section on paginated reports supporting gateways is rather light, could you add more detail and perhaps a specific visual example doing this with RDL reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0feb8663-445d-8536-37ae-068672c7a5b9
* Version Independent ID: 4818af9e-c69b-0fbe-a106-0d1d711b9f0d
* Content:

[2021-03-10 00:32] chrisweis opened #2880 "Estimated release dates need update"
The estimated release dates listed in this page are in the past, should probably be updated.

https://docs.microsoft.com/en-us/power-bi/admin/service-premium-what-is#limitations-in-premium-gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18013a6f-b02d-30d4-3b6d-93295624f352
* Version Independent ID: e307e1d7-e565-87

[2021-03-10 02:31] arthiriyer commented on #2035
Requested information is documented here https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-communication

[2021-03-10 02:59] maggiesMSFT commented on #2879
Hi, @Hikmer -- thanks for the suggestion! I'll see what I can do.

[2021-03-10 07:20] #2804 closed

[2021-03-10 07:21] #2814 closed

[2021-03-10 07:28] KesemSharabi commented on #2869
Hi @intelliot,

Thanks for pointing this out! I fixed the link in [Step 4 - Create and publish a Power BI report](https://docs.microsoft.com/power-bi/developer/embedded/embed-sample-for-customers?tabs=python#step-4---create-and-publish-a-power-bi-report) and it's now pointing to the right place, [PowerBI-Desktop-Samples](https://github.com/microsoft/PowerBI-Desktop-Samples).

Once again, thanks fo

[2021-03-10 07:28] #2869 closed

[2021-03-10 12:28] Mike-Honey opened #2881 "Editing values doesn't actually work."
I can see why the section on Editing Values seems incomplete - it's because the functionality itself doesn't actually work, right? There's no way to actually edit a value currently. Rather than pretend there was something there, it would be more helpful just to note that this feature is not supported in the current preview.  As it stands, I wasted some time going back and forth between your incomp

[2021-03-10 13:20] mattfloydgm opened #2882 "PBI RS Changelog doesn't have version 15.0.1104.310"
In the current published changelog, https://docs.microsoft.com/en-us/power-bi/report-server/changelog, it does not have what was changed in version 15.0.1104.310. This October 2020 version is available for download at https://www.microsoft.com/en-us/download/details.aspx?id=57270 since 3/8. Please update change log.

[2021-03-10 14:21] nstraw commented on #2829
Hi @kfollis, thanks for your message, did you get some feedback ? I'm trying to attach a Workspace to another tenant ADLS, I've set up all the security but it does not seem to work :(

[2021-03-10 15:26] kfollis commented on #2829
Hi @nstraw - the writer is investigating but I don't have further detail. You may try asking in community.powerbi.com or if you're stuck, contact support.powerbi.com.

[2021-03-10 17:39] calebcwells commented on #2864
Thank you @AmosHersch. I will follow up through email.

[2021-03-10 18:12] #2864 closed

[2021-03-10 18:14] KesemSharabi commented on #2882
Thanks for your comment, @mattfloydgm .

I've assigned this issue to the doc author for review.

[2021-03-10 18:17] KesemSharabi commented on #2881
Thanks for your comment, @Mike-Honey.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-03-10 18:18] KesemSharabi commented on #2880
Thanks for your comment, @chrisweis.

I've assigned this issue to the doc author for review.

[2021-03-10 19:07] maggiesMSFT commented on #2882
Hi, @mattfloydgm -- we're in luck! Making this update today. Will be live this afternoon. Thanks for asking!
cc @jtarquino @Petebro-MSFT

[2021-03-10 19:07] #2882 closed

[2021-03-10 19:19] maggiesMSFT commented on #1839
Great idea, @NickyvVr ! I've added it. Change will be live this afternoon.

[2021-03-10 20:09] bradrush opened #2885 "Cost for Power BI Premium per user Viewers"
Will there be a cost for Power BI Premium per user Viewers? I cannot find this information anywhere.

Thanks,
Brad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4810006b-6245-ccd5-0d2d-9b1089eb06ab
* Version Independent ID: fe970573-f765-75dc-048e-40ef64cf4285
* Content: [Power BI Premium Per User FAQ (preview) - Powe

[2021-03-10 22:24] davidiseminger commented on #2545
Completed - thanks!

[2021-03-10 22:24] #2545 closed

[2021-03-10 23:07] mihart commented on #2565
Hi @vandesandtmarc ,
Thank you for your suggestion.  We've made the update and set the article to republish.  The refresh limit gets reset at 12:01 am local time. "Local time" is based on the time zone you selected on the Dataset Settings screen.
All the best,
The DOCS team

[2021-03-10 23:07] #2565 closed

[2021-03-10 23:21] mihart commented on #1839
Thanks @teddybercovitz

[2021-03-10 23:26] mihart commented on #2842
Hi @juanparati ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-10 23:26] #2842 closed

[2021-03-10 23:37] mihart commented on #2238
Hi @emilylait ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-10 23:37] #2238 closed

[2021-03-11 00:37] Pacoup opened #2886 "WCAG 2.1 Accessibility"
Are reports published to web accessible / WCAG 2.1 compliant for web users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/co

[2021-03-11 01:27] mihart commented on #2602
Hi @elfohl ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-11 01:27] #2602 closed

[2021-03-11 01:35] mihart commented on #2646
Hi @haider392 ,
Thank you for your suggestion.  A and EM SKUs are not Premium capacity.  Only the P SKU = Premium.  We've made your other suggested update and set the article to republish.
All the best,
The DOCS team

[2021-03-11 01:35] #2646 closed

[2021-03-11 01:53] mihart commented on #2394
Hi @cricex ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-11 01:53] #2394 closed

[2021-03-11 03:16] maggiesMSFT commented on #2879
Hi, @Hikmer -- I've updated the article some. The process really is the same, whether it's a Power BI report or a paginated report. I hope that helps!

[2021-03-11 03:16] #2879 closed

[2021-03-11 03:32] mihart commented on #2695
Hi @mhammons ,
Thank you for your question.  I checked with the Engineer responsible for this feature and he responded that #14 is not supported.  If you have additional questions, try asking the Power BI community (community.powerbi.com).
All the best,
The DOCS team

[2021-03-11 03:32] #2695 closed

[2021-03-11 04:00] mihart commented on #2756
Hi @PATRICKwithMSFT ,
Thank you for your suggestion.  I checked with the Engineer and this is their response: This is currently available for paginated reports, and is restricted to a single call once every 5 minutes on a per user basis.  Power BI reports are not supported at this time.  The updated article will go live later this week.
All the best,
The DOCS team

[2021-03-11 04:00] #2756 closed

[2021-03-11 04:10] mihart commented on #2885
Hi @bradrush ,
Thank you for your question. @NickyvVr  is correct.  There is no "unlimited distribution" with PPU. If you have additional PPU question, try asking the Power BI community (community.powerbi.com).
All the best,
The DOCS team

[2021-03-11 04:10] #2885 closed

[2021-03-11 04:12] mihart commented on #2886
Thanks for your comment, @Pacoup . This issue has been assigned to the doc author for review.

[2021-03-11 04:24] mihart commented on #2862
Hi @JD-BOS ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-11 04:24] #2862 closed

[2021-03-11 04:34] mihart commented on #2809
Hi @kthejoker ,
Thank you for your suggestion.  We are going to be combining the What's New articles for Desktop and Service in the near future. Please check back in a few weeks.
All the best,
The DOCS team

[2021-03-11 04:34] #2809 closed

[2021-03-11 04:41] mihart commented on #2664
Hi @tconrady ,
Thank you for your suggestion.  I wasn't able to reproduce this either.  If the problem persists on your end, please check with the Power BI Community (community.powerbi.com) or contact Support.
All the best,
The DOCS team

[2021-03-11 04:41] #2664 closed

[2021-03-11 05:05] mihart commented on #1197
Hi @danmyhre ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-11 05:05] #1197 closed

[2021-03-11 05:06] mihart commented on #1661
Hi @bjhulst ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-11 05:06] #1661 closed

[2021-03-11 05:07] mihart commented on #1817
Hi @asocorro ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-11 05:07] #1817 closed

[2021-03-11 05:08] mihart commented on #1818
Hi @asocorro ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-11 05:08] #1818 closed

[2021-03-11 05:10] mihart commented on #1990
Hi @KerryWang94 ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-11 05:10] #1990 closed

[2021-03-11 09:25] msftrien commented on #2825
There are some differences between Desktop and Service, particularly supported packages, so I'm not sure if data limits are the same between the two, but this related link may be relevant--
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-python-visuals

[2021-03-11 09:48] lucazav commented on #2825
Hi @msftrien ,
that page is useful for sure!

I also noticed that there is an undocumented limitation: if the input dataset of a Python Visual has a column that contains a string value longer than 32766 characters, that value is truncated. The same thing applies to R Visual.

Can you confirm this and maybe add it to the limitations in the Docs?

[2021-03-11 15:53] Hikmer opened #2887 "Paginated Power BI Premium dataset embedded guidance is not on this page"
We provide guidance for embedding paginated Power BI Premium data sets on a different page.  It need to be on this page!

Premium Power BI dataset (XMLA) | SSO | Power BI datasets aren't supported as a data source for embedded paginated reports in "app owns data" scenarios. To ensure proper connectivity in Power BI Report Builder, ensure that the Do not use credentials option is selected when sett

[2021-03-11 20:54] maggiesMSFT commented on #2887
Thanks, @Hikmer ! We're working on this.

[2021-03-11 21:32] JayG68 opened #2888 "full report attachment feature"
The number of pages depends on metadata and sections count in the browser trace for a report when creating the subscription which can be different from the total number of pages the customer actually sees. Example customer has 17 pages but when doing a browser trace the metadata and sections total 22 pages. This is in the https://wabi......../exloration represented in the Json response. It will tr

[2021-03-12 15:16] amd-yan commented on #2888
Thanks for creating the issue for us, James.  It's very common to have hidden tabs in the report for various reasons, for example:
1. Newly added visuals that have not passed our internal gate review
2. Visuals are not working due to data issues that we would like to hide from the users temporarily.

When we call the following APIs to extract and download the report, these hidden tabs will not be

[2021-03-12 16:49] jgraham529066 opened #2889 "Error in Data Refresh"
The data for the COVID-19 Tracking PowerBI Report is not loading.  This is the error I receive:

Data source error: | The column 'stateFIPS' of the table wasn't found.. The exception was raised by the IDbCommand interface. Table: COVID.
-- | --
Cluster URI: | WABI-US-NORTH-CENTRAL-E-PRIMARY-redirect.analysis.windows.net
Activity ID: | 7c001365-d7e5-424c-bb4d-21bedc23f601
Request ID: | 76ac76c8-b47

[2021-03-12 17:39] maggiesMSFT commented on #2888
Hi, @jagracemicrosoftsupport and @amd-yan -- thanks for your comments! Assigning to the author to investigate.

[2021-03-12 17:41] maggiesMSFT commented on #2889
Hi, @jgraham529066 -- thanks for letting us know! Assigning to the author to investigate. In the meantime, you might want to ask in the Power BI Community, https://community.powerbi.com/.

[2021-03-12 17:41] paulinbar commented on #2889
Hi @jgraham529066, thanks for your comment. You've reached the doc team so I won't be able to help with the problem, but I'm forwarding your comment on to someone who may be able to help. Not sure it will be right away though. Thanks in advance for your patience!

[2021-03-12 20:36] cwhiteScoe opened #2890 "Please provide all final files"
I'm trying my best to follow along with your tutorial, but I'm stuck right in the middle with no errors in VSCode and also no visual displaying :(

I know I must have screwed up a step and just put something in the wrong spot, but because all of your directions are essentially deltas, it is very difficult to find where I went wrong. If you included the final complete pages of code, then I could ve

[2021-03-12 22:29] maggiesMSFT commented on #2890
Hi, @cwhiteScoe -- thanks for the question! Assigning to the author to investigate.

[2021-03-12 23:04] jagracemicrosoftsupport commented on #2888
Hello Edwin

  1.  Just letting you know they will be getting the request to the Author Keep track of it using the link in the previously provided email.
From: Maggie Sparkman ***@***.******@***.***>
Sent: Friday, March 12, 2021 11:39 AM
To: MicrosoftDocs/powerbi-docs ***@***.******@***.***>
Cc: James Grace ***@***.******@***.***>; Mention ***@***.******@***.***>
Subject: Re: [MicrosoftDocs/powerb

[2021-03-12 23:05] jagracemicrosoftsupport commented on #2888
Ignore this

From: James Grace ***@***.***>
Sent: Friday, March 12, 2021 5:04 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>; MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Author ***@***.***>
Subject: RE: [MicrosoftDocs/powerbi-docs] full report attachment feature (#2888)

Hello Edwin

  1.  Just letting you know they will be getting the request to the Author Keep track of it using the link in the p

[2021-03-14 08:29] KesemSharabi commented on #2890
Hi @cwhiteScoe,

You can look into [powerbi-visuals-circlecard-react](https://github.com/microsoft/powerbi-visuals-circlecard-react).

Hope this helps,

Kesem

[2021-03-14 18:52] tangi12 opened #2891 "Parameter Passing Page is Not Correct"
This page does not seem to be correct based on me trying to figure out how to pass parameters to Power BI.

- spaces = _x0020_
- Ampersand instead of and is used from what I can tell
- %2F between table and field is used
- %20 is wrapped around the parameter type

I have been piecemealing this together and came up with how to pass multiple parameters to one field.

Here is an example code that I a

[2021-03-14 22:57] paulinbar commented on #2891
Hi @tangi12, thanks for your feedback. I am forwarding it on to the doc author for further consideration.

[2021-03-15 17:47] itsnotaboutthecell opened #2893 "Premium Per User Service Level"
Can you please provide guidance as to the service level of support associated with the new Premium Per User license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e778bb7-c4db-9318-96f6-acca18d414a1
* Version Independent ID: 4bb4e1dd-1ff4-4330-cb2f-8d8e2cc94042
* Content: [Power BI Pro and Power BI Premium support op

[2021-03-15 17:55] mihart commented on #2578
Hi @andyparkerson ,
Thank you for your suggestion.  I noticed that this Issue hasn't been closed so I checked out your question and the article.  I was glad to see that the article has been updated since you submitted this question, and that the article has the answers to your questions :-)  The Excel SKU for using "Get data" must be 2010 SP1 or later.  Also, Analyze in Excel requires that the dat

[2021-03-15 17:55] #2578 closed

[2021-03-15 18:27] kfollis commented on #2893
Hi @itsnotaboutthecell - Good question - let me get those details and I should be able to make the update soon.

[2021-03-15 22:44] itsnotaboutthecell commented on #2732
@paulinbar more prominent, it's clear in its instruction but I've had multiple interactions now where the reader simply missed this particularly crucial step.

[2021-03-16 14:24] vtitte2020 opened #2895 "Azure SQL Database - gateway required?"
The document needs to be updated. Azure SQL Database should not be flagged as "Gateway required = 'Yes'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.microsoft

[2021-03-16 14:59] amd-yan commented on #2888
Thank you, James & Maggie. Please keep me posted!

[2021-03-16 15:59] mihart commented on #1844
Hi @ZacharyGoldman ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 15:59] #1844 closed

[2021-03-16 16:01] mihart commented on #1852
Hi @TravisKale,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:04] mihart commented on #1896
Hi @YvonneArnoldus ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:04] #1896 closed

[2021-03-16 16:06] mihart commented on #1995
Hi @don-petry ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:06] #1995 closed

[2021-03-16 16:07] mihart commented on #2005
Hi @haider392 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:07] #2005 closed

[2021-03-16 16:08] mihart commented on #2889
Hi @jgraham529066 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:08] #2889 closed

[2021-03-16 16:11] mihart commented on #2035
Hi @bakerm00 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:11] #2035 closed

[2021-03-16 16:12] mihart commented on #2044
Hi @montybax ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-16 16:12] #2044 closed

[2021-03-16 16:17] mihart commented on #2107
Hi @edfreeman ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:17] #2107 closed

[2021-03-16 16:21] mihart commented on #2142
Hi @sloggiz ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:21] #2142 closed

[2021-03-16 16:22] mihart commented on #2155
Hi @tomasbaima ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:22] #2155 closed

[2021-03-16 16:26] mihart commented on #2202
Hi @AleksaT ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:26] #2202 closed

[2021-03-16 16:28] mihart commented on #2221
Hi @gbrunnerbi ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:28] #2221 closed

[2021-03-16 16:29] mihart commented on #2234
Hi @atlaspolicy ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:29] #2234 closed

[2021-03-16 16:30] mihart commented on #2241
Hi @gkens ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:30] #2241 closed

[2021-03-16 16:33] mihart commented on #2298
Hi @HarryLeboeuf ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:33] #2298 closed

[2021-03-16 16:34] #2305 closed

[2021-03-16 16:35] mihart commented on #2312
Hi @TravisKale,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:35] #2312 closed

[2021-03-16 16:36] mihart commented on #2312
Hi @lakeyeric22 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option for this type of question is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:37] mihart commented on #2313
Thanks for your comment, @miragliag . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-16 16:37] #2313 closed

[2021-03-16 16:40] gkens commented on #2241
No I never received an answer

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077<tel:734-228-7070>

Fax:  734 219-5469<tel:734%20219-5469>

***@***.******@***.***>

www.enspireditaa.com<http://www.enspireditaa.com/>

[A close up of a logo  Description automatically generated]

________________________________
From: Michele Hart ***@***.***>
Sent: Tuesday, March 16, 2021 12:30:40 PM

[2021-03-16 16:44] mihart commented on #2342
Hi @PowerBI-User999 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:44] #2342 closed

[2021-03-16 16:45] mihart commented on #2373
Hi @anandhanvillan ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:45] #2373 closed

[2021-03-16 16:45] mihart commented on #2397
Hi @msftbrian ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:45] #2397 closed

[2021-03-16 16:49] mihart commented on #2467
Hi @TravisKale,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit these type of questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:49] #2467 closed

[2021-03-16 16:50] mihart commented on #2466
Hi @Cizzzzz ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-16 16:50] #2466 closed

[2021-03-16 16:51] TravisKale commented on #1852
@mihart No, the documentation is still incomplete.  Very frustrating to see this issue linger for over a year only to be swept under the rug.

[2021-03-16 16:51] mihart commented on #2494
Thanks for your comment, @md-rahim . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-16 16:51] #2494 closed

[2021-03-16 16:55] mihart commented on #2566
Hi @jw3315 ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option for this type of issue is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:55] #2566 closed

[2021-03-16 16:57] mihart commented on #2575
Hi @michalmar ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit these types of questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 16:57] #2575 closed

[2021-03-16 16:59] mihart commented on #2620
Thanks for your comment, @rwatty . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-16 16:59] #2620 closed

[2021-03-16 17:04] mihart commented on #2670
Hi @Ravi-Kumar-P ,
I'm cleaning up our Git Issues queue, and I noticed that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your questions to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 17:04] #2670 closed

[2021-03-16 17:06] mihart commented on #2696
Hi @chrislfish ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-16 17:06] #2696 closed

[2021-03-16 17:12] mihart commented on #2708
Thanks for your comment, @MRBreen . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-16 17:12] #2708 closed

[2021-03-16 17:13] atlaspolicy commented on #2234
No one replied to this message, unfortunately, so the question is still open.

[2021-03-16 18:19] asocorro commented on #2467
Hi Michele, the issue might be old but I never got an answer.  I would like to know about this feature.

Cheers,
Adolfo

From: Michele Hart ***@***.***>
Sent: Tuesday, March 16, 2021 12:50 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Adolfo J. Socorro, Ph.D. ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] What Fields are Displayed? (#2467)

Hi @TravisKale<https:/

[2021-03-16 18:23] sqlchick opened #2896 "Rephrase how 'shared dataflows' are referred to"
Hi there. Just a suggestion to rephrase how the word "shared" is used on this page.

- Several references to "shared dataflows" are confusing. Since the concept of sharing has its own very specific meaning in Power BI (as in sharing an individual report or dashboard), it seems like some readers could get really confused by the "shared dataflows" verbiage.
- The subheading "Dataflows in Shared" is

[2021-03-16 19:24] GitWesDone opened #2897 "Power Automate can also restart usage metrics refresh"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16f558c-a397-7d10-b953-6c8972df9478
* Version Independent ID: ffc58ae8-f232-f6d8-f0ea-e4d6001e0e3d
* Content: [Monitor usage metrics in the new workspace experience (preview) - Power BI](https://docs.microsoft.com/en-us/power-bi/collaborate-share/ser

[2021-03-16 19:25] GitWesDone commented on #2897
The new Power Automate action can also restart a dataset refresh without having to delete and recreate.

[2021-03-16 19:25] GitWesDone opened #2898 "Workaround for stale usage dataset does not work for GCC"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16f558c-a397-7d10-b953-6c8972df9478
* Version Independent ID: ffc58ae8-f232-f6d8-f0ea-e4d6001e0e3d
* Content: [Monitor usage metrics in the new workspace experience (preview) - Power BI](https://docs.microsoft.com/en-us/power-bi/collaborate-share/ser

[2021-03-16 19:26] GitWesDone commented on #2898
The use of the REST API try button does not work for GCC because the API endpoint is different.  This is for the usage dataset.

[2021-03-16 20:42] mihart commented on #2537
Hi @,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-16 20:42] #2537 closed

[2021-03-16 22:03] aray6607 opened #2899 "the visual creates incredible amounts of performance issues."
I used the feature and everything works fine besides the bugs that have been reporting in the forums, like losing variable names etc. However, the worst part is the performance issue this visual creates in a report. I published a report with this visual and it won't load at all up until I removed the visual from the report...

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-17 04:24] mihart commented on #2650
Hi @CubeSpark ,
Thank you for your suggestion.  I chatted with the Product team and they believe that the 32 vs 64 mismatch is covered in the existing document and a separate section for SSDT is not necessary.   Here is their response:
"IMO, this is already captured in the sense that the article already covers 32-bit vs. 64-bit. SSDT is an example in this case of 32-bit installation, but same woul

[2021-03-17 04:24] #2650 closed

[2021-03-17 04:29] mihart commented on #2880
Hi @chrisweis ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-17 04:29] #2880 closed

[2021-03-17 04:51] mihart commented on #2832
Hi @bosschgn ,
Thank you for your suggestion.  You are able to drag and select too.  Dragging creates a rectangle around your selection.  We've made the update and set the article to republish. If this does not answer your question, please try the Power BI Community (community.powerbi.com)
All the best,
The DOCS team

[2021-03-17 05:00] mihart commented on #2832
Hi @bosschgn,
Thank you for your suggestion.  I'm not sure that I understand your question.  The article does describe how to do a "lasso" select.  The lasso doesn't work for selecting individual data points though.  Are you looking for a way to multi select data points without using CTL?
All the best,
The DOCS team

[2021-03-17 05:00] #2832 closed

[2021-03-17 05:03] mihart commented on #2896
Thanks for your comment, @sqlchick :-) This issue has been assigned to the doc author for review.

[2021-03-17 05:09] mihart commented on #2848
Hi @kasavin ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-17 05:09] #2848 closed

[2021-03-17 05:17] mihart commented on #2267
Thanks for your comment, @alomar123 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com.

I did chat with the product team and engineers, and they did some preliminary testing.  Here is their response to me: I have tried to only select “Providers for ASP.NET” and it still i

[2021-03-17 05:17] #2267 closed

[2021-03-17 05:37] mihart commented on #2895
Thanks for your comment, @vtitte2020 . This issue has been assigned to the doc author for review.

[2021-03-17 05:50] mihart commented on #2899
Thanks for your comment, @aray6607 . This issue has been assigned to the doc author for review.

[2021-03-17 05:50] mihart commented on #2899
Thanks for your comment, @aray6607. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-17 05:50] #2899 closed

[2021-03-17 15:16] PrashantKumbhar2 opened #2900 "We have several external users. In ad-hoc approach : how we can add many users to share the report. Any automation can done on this using less code approach?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f70ccdae-1552-2465-be6f-d47cd260ad8e
* Version Independent ID: 1ffea5bb-64b0-2661-801e-9eec46e6eec1
* Content: [Distribute Power BI content to external guest users using Azure Active Directory B2B - Power BI](https://docs.microsoft.com/en-us/power-bi/

[2021-03-17 16:04] mihart commented on #2541
Hi @delphinechenhong,
Thank you for your suggestion.  We aim to have all documentation up-to-date at all times. Unfortunately, we sometimes fall behind.  I've moved this article up on the list for a freshness pass.  In the meantime, if you have specific questions, please let us know.
All the best,
The DOCS team

[2021-03-17 16:04] #2541 closed

[2021-03-17 16:41] #2452 closed

[2021-03-17 17:01] mihart commented on #2443
Hi @skiwii ,
Thank you for your suggestion. I am unable to replicate your issue.  It may be that the product has been updated since you wrote.  I was able to add a data classification tag and see it show up at the top of each report page :-)  And, the report is not a favorite.
@VitalyMCT , I'm leaving your GitIssue #2559 open until we are able to do a freshness pass on the article to ensure it cap

[2021-03-17 17:01] #2443 closed

[2021-03-17 17:04] mihart commented on #2900
Thanks for your comment, @. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
All the best,
the DOCS team

[2021-03-17 17:04] #2900 closed

[2021-03-17 18:51] buildbod opened #2901 "How much data is available via the custom report route?"
I note that the data in the report in the workspace is limited to 30-days. However, when connecting to the dataset via PowerBI Desktop a longer period is available. What is the limit in the Power BI dataset? Is it something like 90-days or longer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16f558c-a397-7d10-b953-6

[2021-03-18 04:51] VitalyMCT opened #2902 "Unable to complete the walkthrough as specified"
We've been having challenges following this walkthrough. This could be because of versioning changes to PBI Desktop, R or the mice package since the article was written, or due to other reasons.

The [sample .pbix file provided](https://download.microsoft.com/download/F/8/A/F8AA9DC9-8545-4AAE-9305-27AD1D01DC03/Complete%20Values%20with%20R%20in%20PQ.pbix) is missing this line from the instructions:

[2021-03-18 04:56] VitalyMCT opened #2903 "Ambigious reference to "this release""
Can this reference please be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d08953c-1912-d458-f1ef-d2d3041f5e41
* Version Independent ID: 18d26011-dd33-6f46-a01d-8cca0e31d040
* Content: [Use an external R IDE with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-r-ide)
* C

[2021-03-18 05:05] VitalyMCT opened #2904 "Enabling script visuals"
The instructions currently include this step:

This step seems to be out of sequence, as simply selecting fields from the Fields pane would result in one of the built-in PBI visualizations being displayed (not R visualization). To enable script visuals one must select the R visual first - that's done in the next step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-03-18 07:10] ShannenR opened #2905 "Export underlying data / limitations page"
https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data#export-underlying-data-details mentions it exports related data from tables with *:1 and 1:1 relationships and https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-export-data#limitations-and-considerations mentions "If the visualization uses data from more than one data table, and no relations

[2021-03-18 12:16] michalmar commented on #2575
Unfortunately not solved.

On Tue, Mar 16, 2021, 5:57 PM Michele Hart ***@***.***> wrote:

[2021-03-18 17:53] alexleyva68 opened #2907 "How can I pass "today" as a variable instead of hardcoding a date?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d33d675d-2104-d84a-2385-79011e31282c
* Version Independent ID: ad2ee9b4-c3a8-2dde-a896-aa1e4fe6074c
* Content: [Pass a report parameter in a URL for a paginated report - Power BI Report Builder - Power BI](https://docs.microsoft.com/en-us/power-bi/pag

[2021-03-18 18:08] lbjennings opened #2908 "Custom Themes"
The create themes button is not available in Power Bi Desktop. I checked the community board and there was discussion of a difference in Power BI Desktop On Premise Edition. Please update to clarify. I want to save my current report theme and use it on new report themes. How can this be done? Your page description features not available for my edition, which should be the most updated version.

[E

[2021-03-18 20:29] boomalator opened #2909 "Instructions should be instructions"
This document does not actually say HOW to add members to a role. Specifically, it does not say how to access that dialog or where to find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level security

[2021-03-18 20:52] maggiesMSFT commented on #2907
Hi, @alexleyva68 -- good question! I'll check and get back to you.

[2021-03-18 20:59] maggiesMSFT commented on #2907
Hi, @alexleyva68 -- have you tried an expression? How about
=Today()

[2021-03-18 21:01] paulinbar commented on #2909
Hi @boomalator, thanks for your comment. You've reached the right place. The row-level security documentation definitely has problems and I am currently reviewing it all and will be taking a stab at consolidating and improving it. In that regard your comment is helpful and I'll keep it in mind. It still may be a few weeks until the updated docs are online though. I'm going to close this issue now

[2021-03-18 21:01] #2909 closed

[2021-03-18 21:34] alexleyva68 commented on #2907
this is one that works:
https://app.powerbigov.us/groups/{blah, blah}/rdlreports/{blah, blah} &rp:courthouse=BUR%20&rp:courthouse=NCA%20&rp:courthouse=NCB%20&rp:courtstartdate=2021-03-16

for courtstartdate I have tried the following:
&rp:courtstartdate=Today
&rp:courtstartdate=Today()
&rp:courtstartdate=Now()

None of them work.

[2021-03-19 00:37] plapic opened #2910 "March 2021 Update (2.91.383.0) no Paginated pipeline support and secret video"
Why is [Power BI monthly update for March](https://www.youtube.com/watch?v=r88EE4IzZlE) video private?
Also what happened to [support for paginated reports in deployment piplelines ](https://docs.microsoft.com/en-us/power-platform-release-plan/2020wave2/power-bi/deployment-pipelines-support-paginated-reports )which was supposed to be part of the March 2021 release?

---
#### Document Details

⚠ *D

[2021-03-19 00:59] maggiesMSFT commented on #2907
Hi, @alexleyva68 -- OK, got the story.
"The engine will only convert the “value” of parameters. Passing expressions via URL is not supported in RDL. I think this is the same to on-prem Report Server."
Hope that helps.

[2021-03-19 00:59] #2907 closed

[2021-03-19 01:17] maggiesMSFT commented on #2910
Hi, @plapic -- thanks for asking. I've assigned to the content author. I know the videos will be coming soon!

[2021-03-19 01:25] maggiesMSFT commented on #2908
Hi, @lbjennings -- thanks for asking, assigning to the author.  Can you explain what you mean by the Power BI On Premise edition? Can you check the **File** menu > **About** for the version number?

[2021-03-19 01:29] maggiesMSFT commented on #2904
Hi, @VitalyMCT -- thanks for asking! Referring to the author to evaluate.

[2021-03-19 01:35] maggiesMSFT commented on #2903
Hi, @VitalyMCT -- thanks for asking! Given that the article was last updated May 2019, it's safe to say the release is pretty far in the past. Does that resolve your question, or do you need an exact release number?

[2021-03-19 01:38] maggiesMSFT commented on #2902
Hi, @VitalyMCT -- thanks for this question, too! Assigning to the author to investigate.

[2021-03-19 01:52] maggiesMSFT commented on #2901
Hi, @buildbod -- thanks for asking! I'll check and get back to you.

[2021-03-19 04:08] VitalyMCT commented on #2903
I think simply removing that reference would resolve the confusion.

[2021-03-19 14:06] solvim opened #2911 "No longer supported"
Connecting to SSAS in power bi service is no longer supported. this doc might confuse people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d888c803-df07-4052-dd98-70e084f8cf2d
* Version Independent ID: 33753a82-0571-222a-0ff5-28ba18348418
* Content: [SQL Server Analysis Services live data in Power BI - Power BI](http

[2021-03-19 15:23] Dirkgu01 opened #2912 "Missing information on Power BI internal traffic"
[Enter feedback here]
The document only covers egress costs for communication between Power BI and Azure datasources.
It would be helpful to also cover egress costs (or lack thereof) between geographically remote Premium Capacity Nodes and the Power Bi tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0577c02-6c3

[2021-03-19 16:29] Minewiskan commented on #2911
Done in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/5383
#please-close

[2021-03-19 16:29] #2911 closed

[2021-03-20 06:09] ThomasKwakman opened #2913 ""Workspace viewers cannot access the dataset" is misleading"
Hi,

"Workspace viewers cannot access the dataset". I was surprised by this sentence as a viewer could - if he has build permission - access the dataset through the global page dataset (i.e. not through the workspace)

Even though this article is not about the distinction between a viewer with and without build permission, perhaps it could be:
"Workspace viewers cannot access the dataset (unless t

[2021-03-22 14:22] mattfloydgm opened #2915 "Two features not in October 2020 Report Server version."
The below two features are not in the October 2020 Report Server version.

Automatic Table Detection from Excel files
Automatic Table Detection from JSON files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff7e1942-9181-3451-5d1e-08bfa2ca9454
* Version Independent ID: 5547fc15-7d0e-225f-e0f1-890470f6cd5e
* Content: [W

[2021-03-22 15:24] paulinbar commented on #2912
Hi @Dirkgu01, thanks for reaching out to us. I am forwarding your comment along to the doc author for consideration.

[2021-03-22 15:27] paulinbar commented on #2913
Thanks for your comment @ThomasKwakman. I am forwarding it on to the doc author for consideration.

[2021-03-22 15:28] paulinbar commented on #2915
Thanks for you comment, @mattfloydgm. I am forwarding it along to the doc author for consideration.

[2021-03-22 16:22] Didierma92 opened #2916 "Use for Teams"
Thanks for this great feature! I managed to use the filtered URL in a web page, and even copy to a Teams tab and it works. The trick is to use the html way of entering the address with %20 for the space and %27 for the simple quote
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b360f3-21a7-adc2-

[2021-03-22 18:38] maggiesMSFT commented on #2915
Hi, @mattfloydgm -- they are in the doc. Go to https://docs.microsoft.com/en-us/power-bi/report-server/whats-new and search for (Ctrl + F) "automatic" and you'll find them. Hope that helps!

[2021-03-22 18:55] mattfloydgm commented on #2915
I realize it says it in the document. Those features are not in that release. That is my point. I am trying to point out that the release does not include the features and they should not be in your document.

From: Maggie Sparkman ***@***.***>
Sent: Monday, March 22, 2021 1:39 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Matthew Floyd ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] R

[2021-03-22 19:38] tbindas opened #2917 "Usage Metrics Report"
Having issues with the flow of this report. When you go to view usage is filters to a particular report. I am not getting the option to reset to default and the only way to get all of the reports in the workspace to show up are to save a copy of the report and remove the reportid from the filter pane.

![image](https://user-images.githubusercontent.com/47673380/112048103-1275fe80-8b1c-11eb-8040-42

[2021-03-22 19:38] tbindas commented on #2917
https://app.powerbi.com/groups/37e62c22-6657-4047-9163-d1471a11f108/reports/e74cb80b-312b-4c0a-82f9-52c9c88af793/ReportSection141b0c0f1a8c475cab54?noSignUpCheck=1

[2021-03-22 20:02] maggiesMSFT commented on #2915
@mattfloydgm -- ah ha, sorry! Investigating.

[2021-03-22 20:29] mihart commented on #2916
Thanks for your comment, @Didierma92 . This issue has been assigned to the doc author for review.

[2021-03-22 20:30] mihart commented on #2917
Thanks for your comment, @tbindas . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-22 20:30] #2917 closed

[2021-03-22 20:53] mihart commented on #2654
Thanks for your comment, @skiwii . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-22 20:59] mihart commented on #2898
Hi @GitWesDone  ,
Thank you for your question. According to the product team, the reason this doesn't work for GCC is that the endpoints are different and hence the "Try It" button in the REST documentation would not work.  What those endpoints are, would be a question to GCC folks as we normally don't have access to those.
All the best,
The DOCS team

[2021-03-22 20:59] #2898 closed

[2021-03-22 21:06] mihart commented on #2858
Hi @sanshan20 ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-22 21:06] #2858 closed

[2021-03-22 22:23] mihart commented on #2913
Hi @ThomasKwakman ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-22 22:23] #2913 closed

[2021-03-22 22:24] mihart commented on #2910
Thanks for your comment, @plapic . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-22 22:24] #2910 closed

[2021-03-22 22:48] maggiesMSFT commented on #2910
Hi, @plapic -- great timing! The video is live now, and so is the documentation about paginated reports in deployment pipelines! See https://docs.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-get-started?tabs=paginated-reports for details.
Thanks!

[2021-03-22 22:52] chrisweis opened #2918 "Page content seems stale"
Hi,

I'm trying to find a dependable location for Power BI Desktop version history and release notes, but this page seems to be stale.  Is there a better resource we should be using?  Example: This page shows the latest version is older than the current version of Power BI Desktop (2.91.701.0).

Thanks,
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-03-22 23:31] plapic commented on #2910
Thanks for the info. However when I try to create a new pipeline and select a workspace that contains paginated reports I get
***@***.***D71FC7.48975830]

Regards
Peter Lapic

From: Maggie Sparkman ***@***.***>
Sent: Tuesday, 23 March 2021 8:49 AM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: plapic ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] March 2021 Update (2

[2021-03-22 23:41] maggiesMSFT commented on #2910
Hi, @plapic -- The feature is just releasing today. I recommend trying again tomorrow. Otherwise, you might find a solution in the Power BI Community, at https://community.powerbi.com, or you can get support by going to https://support.powerbi.com.
Thanks!

[2021-03-23 02:09] GitWesDone commented on #2898
URLs are posted here: https://docs.microsoft.com/en-us/power-bi/admin/service-govus-overview#sign-in-to-power-bi-for-us-government

[2021-03-23 08:18] PowerShellToday opened #2919 "Unclear definition"
The point about access needed for the preview are to me unclear.

The term "Azure Administrator roles" what does that refer to?
* Azure Ad Admins
* Azure Subscription Admins
* Azure Ea Admins (and if so would it work with department admins)
* Azure PowerBi Admins

Please clarify exactly what "Azure Administrator roles" are needed.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-03-23 16:03] mihart commented on #2250
Hi @bilukjak ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-23 16:05] mihart commented on #2250
Hi @bilukjak
The PM wanted to pass along this info:
We provide some flexibility to segregate data to enable use cases where raw data can be prepped, transformed, and shared across workspaces either including access to to that raw data or just to the prepped /transformed layers. In this scenario folks who have the right access to earlier stages of data can preserve control and add data they have ac

[2021-03-23 16:05] #2250 closed

[2021-03-23 16:08] mihart commented on #2574
Hi @elsdestickere ,
Thank you for your suggestion.  We've captured your feedback and will include it in the next update of this article.  Here is the comment from the dataflows PM:  I am working on updated docs that elaborate more on the ADLS Gen 2 attach feature and this is good feedback to include in that, since it is about working with the data and access management is an important concept.
Tha

[2021-03-23 16:10] mihart commented on #2574
Hi again @elsdestickere
Forgot to add this additional comment from the PM:
As owner is the required scope, this is not needed necessarily. We are actually just storing the data backing your dataflows in a bring your own storage model. If you want access to this data, you can build your own capabilities.
Hope this helps answer your question.  Let us know if you have any additional questions.
the DO

[2021-03-23 16:10] #2574 closed

[2021-03-23 18:42] mihart commented on #2829
Hi @nstraw ,
Thank you for your question. I spoke with one of the PMs and the answer is "Yes, same tenant and same region."  We've made the update and set the article to republish later this week.
All the best,
The DOCS team

[2021-03-23 18:42] #2829 closed

[2021-03-23 18:49] mihart commented on #2840
Hi @fred31330 ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-23 18:49] #2840 closed

[2021-03-23 19:29] JayPat65 commented on #2878
Hey @mihart, Any update on this? Thanks, Jay

[2021-03-23 19:34] mihart commented on #2782
Hi @PancoCheong ,
I see that there has been no response on this GitIssue for a couple of months, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-23 19:34] #2782 closed

[2021-03-23 23:50] dgosbell opened #2920 "Direct Query Automatic Page Refresh - not listed as a Service only feature"
If I am not mistaken Power BI Report Server does not support automatic page refresh for Direct Query models since this setting is not visible when authoring a Direct Query based report in Power BI Desktop for Report Server. This should probably be highlighted here as one of the features only available in the Service.

![image](https://user-images.githubusercontent.com/8241830/112233510-b089d600-8c

[2021-03-24 00:10] maggiesMSFT commented on #2920
Thanks, @dgosbell ! I'll confirm and update.

[2021-03-24 08:43] Ghassan-Alrajeh opened #2921 "Power BI or Python?"
"Power BI visuals and R visuals aren't currently supported."

Do you mean "Python visuals and R visuals aren't currently supported."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87c556b-b1da-0b24-606b-89c371c6bae8
* Version Independent ID: 20141574-acfa-f5f8-b6cf-6b32b3c55b4f
* Content: [Export data from a Power BI

[2021-03-24 14:27] TMXemily opened #2923 "Change verbiage from "View" to "Filter""
Under the "What to do if individuals have already used self-service" section, in step 3, there isn't a "Views" section in the admin center under **Users** > **Active Users**. It appears this is now a "Filter" menu because I can create a new filter with the details that the step contains. It just needs updated to reflect Filter instead of View.

It would also be helpful to note how to locate what l

[2021-03-24 15:13] chrisweis opened #2924 "Power BI Premium per User not mentioned"
Hello,

It seems this page needs an update based upon the recent announcement of Power BI Premium per User.  One example, the item "The XMLA endpoint can be enabled on both Power BI Premium and Power BI Embedded capacities."

Thanks,
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 942d342d-b542-100b-2eb2-a4aa305da

[2021-03-24 15:42] mansfjc opened #2925 "Personal Bookmarks Limit"
I cannot find in the documentation how many personal bookmarks you can have. I thought the limit was initially 20. I am trying to train users and would like to instruct them on how many personal bookmarks they can have. Is there a limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869a2312-ba01-b3ff-16b3-358ad4d00f5

[2021-03-24 16:21] dlomara921 opened #2926 "Should you be able to drill down in a dashboard?"
Should you be able to drill down in a dashboard?  This particular functionality isn't addressed on the doc page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91935bb2-c486-cb9f-be71-ae18ad28cf96
* Version Independent ID: 761de430-9bc7-4d7d-4c56-d14e6354194c
* Content: [Intro to dashboards for Power BI designers - Pow

[2021-03-24 17:00] maggiesMSFT commented on #2926
Hi, @dlomara921 -- good question! You can't drill down in a visual that's pinned as a regular tile, but you can drill down in a visual if it's part of an entire pinned report page.
https://docs.microsoft.com/en-us/power-bi/create-reports/service-dashboard-pin-live-tile-from-report
I can add that info. Thanks!

[2021-03-24 19:06] karee-ms opened #2927 "Page not valid for desktop app"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede58367-a9ed-f468-5568-71963321d653
* Version Independent ID: 3e599aaa-0931-6680-45f0-a725d177ee22
* Content: [Opt in for preview features - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-preview-features)
* Content Source: [po

[2021-03-24 23:34] DaniilMaslyuk opened #2928 "Avoid using RLS"
The _Avoid using RLS_ section ought to be altered to clarify which approach should be the default one.

Currently it sounds like by default, people should avoid RLS. In my view, unless you've got extremely large data models or complicated RLS conditions, then the benefits of RLS far outweigh the disadvantages.

Maintaining multiple workspaces and reports, as well as inability to view everything at

[2021-03-24 23:47] DaniilMaslyuk commented on #2426
@hugotoledo just in case you still would like to understand what's going on -- the expression can be re-written in the following way:

    IF(
        USERNAME() = "Worker",
        IF(
            [Type] = "Internal",
            TRUE(),
            FALSE()
        ),
        IF(
            USERNAME() = "Manager",
            TRUE(),
            FALSE()
        )
    )

So the logic becomes:
Is

[2021-03-25 00:02] ellisjm74 opened #2929 "February 2021 Links Named Incorrectly"
Hi! At the bottom of the February 2021 update section, there are links to the 32 & 64 bit downloads.  The URLs point to the correct files, but the labels of the URLs are:

**December 2020** version of Power BI Desktop - 32-bit
**December 2020** version of Power BI Desktop - 64-bit

When the URLs should be labeled:

**February 2021** version of Power BI Desktop - 32-bit
**February 2021** version of

[2021-03-25 01:08] maggiesMSFT commented on #2918
Hi, @chrisweis -- thanks for asking! I'll check and see if we can get the update.

[2021-03-25 01:39] canberra2002 commented on #2895
Do we have any update about this issue? We also got confused about this part and it was updated from 'No' to 'Yes' in last December if Azure SQL Database really requires gateway a lot of our existing customer will be impacted.

[2021-03-25 01:45] maggiesMSFT commented on #2926
Thanks! I've added drill-down to the table.

[2021-03-25 01:45] #2926 closed

[2021-03-25 01:56] maggiesMSFT commented on #2928
Hi, @DaniilMaslyuk -- thanks for your feedback! Assigning to the author for consideration.

[2021-03-25 02:03] maggiesMSFT commented on #2929
Hi, @ellisjm74 -- good catch! updating now. Update will be live tomorrow afternoon, 25 March.

[2021-03-25 02:03] #2929 closed

[2021-03-25 07:47] KesemSharabi commented on #2919
Thanks for your comment, @[github person who posted].

I've assigned this issue to the doc author for review.

[2021-03-25 07:50] KesemSharabi commented on #2921
Thanks for your comment, @Ghassan-Alrajeh.

I've assigned this issue to the doc author for review.

[2021-03-25 07:57] KesemSharabi commented on #2923
Thanks for your comment, @TMXemily.

I've assigned this issue to the doc author for review.

[2021-03-25 07:59] KesemSharabi commented on #2924
Thanks for your comment, @chrisweis.

I've assigned this issue to the doc author for review.

[2021-03-25 08:01] KesemSharabi commented on #2925
Thanks for your comment, @mansfjc.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-03-25 08:03] KesemSharabi commented on #2927
Thanks for your comment, @karee-ms.

I've assigned this issue to the doc author for review.

[2021-03-25 10:48] bartoszwmalec opened #2930 "Outdated workspace experience"
Could you please provide updated graphics which refers to the New Workspace Look?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0feb8663-445d-8536-37ae-068672c7a5b9
* Version Independent ID: 4818af9e-c69b-0fbe-a106-0d1d711b9f0d
* Content: [Publish a paginated report to the Power BI service - Power BI](https://docs.mic

[2021-03-25 15:05] mihart commented on #2930
Thanks for your comment, @bartoszwmalec . This issue has been assigned to the doc author for review.

[2021-03-25 15:32] mihart commented on #2211
Hi @elcu,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-25 15:32] #2211 closed

[2021-03-25 15:43] mihart commented on #2291
Hi @kr10n1 ,
Thank you for your suggestion.  We are currently working on replacing all such mentions with Azure Synapse.  All Power BI documents will reflect this name change in the next month.
All the best,
The DOCS team

[2021-03-25 15:43] #2291 closed

[2021-03-25 15:57] mihart commented on #2423
Thanks for your comment, @NJarZe . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-25 15:58] mihart commented on #2434
Hi @,
I see that this Git issue is a bit old and there has been no activity, so I'm going to close it.  I hope that you were able to get your questions answered. If not, another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-25 15:58] #2434 closed

[2021-03-25 15:59] mihart commented on #2435
Hi @ryancthomas ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-25 15:59] #2435 closed

[2021-03-25 16:33] mihart commented on #2721
Hi @asocorro ,
I see that this Git issue is a bit old and there hasn't been activity for a while, so I'm going to close it.  I hope that you were able to get your questions answered. If not, another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-25 16:33] #2721 closed

[2021-03-25 16:34] Minewiskan commented on #2924
@chrisweis - Thanks for pointing it out.
Addressed in https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/5406
#please-close

[2021-03-25 16:34] #2924 closed

[2021-03-25 16:55] mihart commented on #2895
Hi @canberra2002 @vtitte2020
Thank you for your feedback.  I've updated the article and set it to republish.  Gateway is recommended but not required.
All the best
the DOCS team

[2021-03-25 16:55] #2895 closed

[2021-03-25 18:11] NJarZe commented on #2423
Hi @mihart - Agreed, and with the latest version of Power BI this has been solved. Thank you!

[2021-03-25 18:24] maggiesMSFT commented on #2920
Hi, @dgosbell -- adding it to the table in this article. Change will be live this afternoon, 25 March. Thanks!

[2021-03-25 18:24] #2920 closed

[2021-03-25 18:31] edhans opened #2932 "URL Broken in Next Steps sectoin"
![image](https://user-images.githubusercontent.com/45298358/112524871-8b17cd80-8d5d-11eb-9caa-dc0951c15c06.png)

You can see in the image attached the Excel workbook URL isn't formatted properly so nothing is clickable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08345191-caf2-6c56-cf95-ecd009dae438
* Version Indepe

[2021-03-25 19:41] Bhavik-MSFT commented on #2901
Hi @buildbod , there should not be any differences in the history available. When you connect to the usage metrics report dataset from Power BI Desktop, you are using the same data model that powers the in-product reports.

[2021-03-25 22:16] mihart commented on #2921
Hi @Ghassan-Alrajeh ,
Thank you for your Question.  We've made the update and set the article to republish. I agree it's confusing, but "custom visuals" are sometimes simply referred to as "Power BI visuals".  I've added the word "custom" and set it to republish tomorrow.
All the best,
The DOCS team

[2021-03-25 22:16] #2921 closed

[2021-03-25 22:20] mihart commented on #2925
Hi @mansfjc ,
Thank you for your question.  Yes, the max is 20.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-25 22:20] #2925 closed

[2021-03-25 22:23] mihart commented on #2927
Hi @karee-ms,
That is correct. The "end-user" consumer content applies to the Power BI service.  Did I answer your question? If not, reply and I'll reopen this Git Issue.
All the best,
The DOCS team

[2021-03-25 22:23] #2927 closed

[2021-03-25 22:25] mihart commented on #2872
Hi @nielsvdc ,
Thank you for your suggestion.  You are absolutely correct, and we are updating the entire Power BI document set to refer to "Azure Synapse".  We've already started and hope to get through all the updates in a few weeks.  If you find any lingering references to the data warehouse, let us know.
All the best,
The DOCS team

[2021-03-25 22:25] #2872 closed

[2021-03-25 22:27] mihart commented on #2873
Hi @nielsvdc ,
I just sent you a response on your other similar Git Issue. :-) We truly appreciate the input and we are making these updates over the next few weeks.
All the best,
Michele

[2021-03-25 22:27] #2873 closed

[2021-03-25 22:33] mihart commented on #2705
Hi @pawarbi ,
Thank you for your suggestion and the great links.  I've added a link to Tony Xing's post, as you suggested. The article will republish early next week.
All the best,
the DOCS team

[2021-03-25 22:33] #2705 closed

[2021-03-25 22:36] mihart commented on #2723
Hi @guissebr ,
Thank you for your suggestion.  We've updated the page.  I believe there is a plan in the works to combine the Power BI service and Power BI Desktop "What's new" articles in the near future.
All the best,
The DOCS team

[2021-03-25 22:36] #2723 closed

[2021-03-25 22:43] mihart commented on #2732
Hi @itsnotaboutthecell ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-25 22:43] #2732 closed

[2021-03-25 23:12] plapic commented on #2910
It appears the updated service version 13.0.15751.56 now supports the paginated reports in Deployment Pipelines.

[2021-03-25 23:34] jeroenterheerdt commented on #1791
@marcosqlbi glad to report we have updated the documentation https://docs.microsoft.com/en-us/power-bi/transform-model/desktop-relationships-understand#performance-preference. Thanks for reporting and your work and patience is appreciated, as always. We will keep a closer eye on this for any future changes.

[2021-03-25 23:34] jeroenterheerdt commented on #1791
#please-close

[2021-03-25 23:34] #1791 closed

[2021-03-25 23:44] maggiesMSFT commented on #2910
@plapic -- great, glad to hear it!

[2021-03-26 01:08] #2901 closed

[2021-03-26 01:17] asocorro commented on #2721
Hi Michele, I don’t understand why issues are closed without a reply.  This is about the third email I get about issues being closed because they are “old.”

Thanks,
Adolfo

From: Michele Hart ***@***.***>
Sent: Thursday, March 25, 2021 12:34 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Adolfo J. Socorro, Ph.D. ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Pers

[2021-03-26 04:28] marcosqlbi commented on #1791
Thanks!

[2021-03-26 06:38] zhenfangyan opened #2934 "Download link broken"
[Enter feedback here]
The download link doesn't work and returning 404. Please update the link as this version is only compatible to Dynamics 365 FNO which is supposed to available in this page..
https://download.microsoft.com/download/8/8/0/880BCA75-79DD-466A-927D-1ABF1F5454B0/PBIDesktopSetup-2020-08_x64.exe
![image](https://user-images.githubusercontent.com/18294106/112592389-d951cd00-8e40-11eb-

[2021-03-26 14:36] yahorsi opened #2935 "DirectQuery for MySql and MariaDb"
Hi Guys,

MariaDb uses the same binary protocol as MySql, but, the MySql direct mode is not supported but for the MariaDb it is.
Is that actually true or just a mistake? Could you please double-check and maybe if it is true and some notes on why and how support for these 2 very similar databases that are using the same client binary protocol is different.

Additionally, please review Gateway suppo

[2021-03-26 18:12] weblorin opened #2936 "Broken link for how to find your administrator"
Where it says You need to find one of these people  the link is broken (takes to a 404 page).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc005634-24c6-15c4-4352-e1455d63f4f3
* Version Independent ID: 577c460a-08cc-892e-c5f9-e6106958f856
* Content: [Publish to web from Power BI - Power BI](https://docs.microsoft.com

[2021-03-26 19:06] maggiesMSFT commented on #2936
Hi, @weblorin -- good catch! Fixing the link now. Update will be live later this afternoon, 26 March.

[2021-03-26 19:06] #2936 closed

[2021-03-26 19:26] maggiesMSFT commented on #2932
Hi, @edhans -- good catch, thanks! Fixing now. Update will be live later today, 26 March.

[2021-03-26 19:27] #2932 closed

[2021-03-26 19:35] maggiesMSFT commented on #2934
Hi, @zhenfangyan -- thanks for asking! Assigning to the author to investigate.

[2021-03-26 19:54] maggiesMSFT commented on #2935
Hi, @yahorsi -- thanks for asking! Assigning to the author to investigate. You can also try asking in the Power BI Community, https://community.powerbi.com/.

[2021-03-26 20:53] mihart commented on #2737
Hi @Krzysztof-Hyla ,
Thank you for your question.  However, I am unable to replicate it, so I am going to close this Git Issue.  Perhaps the broken link has already been updated?  If you still have problems, just let us know.
Take care,
the DOCS team

[2021-03-26 20:53] #2737 closed

[2021-03-26 20:55] mihart commented on #2742
Hi @bosschgn ,
You can always drag-select and "lasso" together more than one item -- such as visuals on a report page. But I do not know of any other way to multiselect other than these 2 methods - CTRL and lasso.

All the best,
the DOCS team

[2021-03-26 20:55] #2742 closed

[2021-03-26 21:00] Bhavik-MSFT commented on #2897
Hi @GitWesDone , thanks for the suggestion. I assume you are talking about the Troubleshooting steps for refresh issues. You are correct that Power Automate can perform a refresh which can force the Report Usage model to reload data. Please note that this option may not resolve all refresh issues, for example if an older version is stuck in the workspace.

[2021-03-26 21:02] mihart commented on #2752
Hi @xo9agq46a8k ,
Thank you for your suggestion.  We've made the update and set the article to republish in the next few days.
All the best,
The DOCS team

[2021-03-26 21:02] #2752 closed

[2021-03-26 21:07] edhans opened #2937 "Article links to an old version of Enterprise Deployment whitepaper"
The "Planning an Enterprise Deployment Whitepaper" link at the bottom of this article points to an old July 2018 v2 file.

The newer May 2020 v3.1 that you can get at this URL. https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-enterprise-deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea1a

[2021-03-26 21:13] mihart commented on #2639
Hi @SPIMS
Thank you for your suggestion.  I could not find a way to freeze the header row.  Instead, I broke up the loooonnnnggg table into  alphabetical chunks :-)
All the best,
the DOCS team

[2021-03-26 21:13] #2639 closed

[2021-03-26 21:23] mihart commented on #2937
Hi @edhans,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-26 21:23] #2937 closed

[2021-03-28 20:09] emkutuk opened #2938 "Link doesnt work on "Get samples for Power BI""
The link to Power BI Report(.pbix file) on the Sales & Returns Sample Report unfortunately doesn't work.

Link: https://github.com/microsoft/powerbi-desktop-samples/raw/master/Sample%20Reports/Sales%20%26%20Returns%20Sample%20v201912.pbix

[2021-03-29 04:15] mihart commented on #2938
Thanks for your comment, @emkutuk . This issue has been assigned to the doc author for review.

[2021-03-29 15:11] mihart commented on #2938
Hi @emkutuk,
Thank you for your question.  I checked the file and it appears that the link has already been fixed by the author.  Please check and let me know if you are still getting an error.
All the best,
The DOCS team

[2021-03-29 15:11] #2938 closed

[2021-03-29 16:54] mihart commented on #2765
Hi @kasavin,
Thank you for your suggestion.  We've made the update and set the article to republish in the next few days.
All the best,
The DOCS team

[2021-03-29 16:54] #2765 closed

[2021-03-29 17:27] russellw999 opened #2939 "A suggested imrovement"
[Enter feedback here]

A nice tutorial.
May i suggest in the data preparation step for the data transforming the source data to transform the existing values to extact the 3 character Month name and    MonthOfYear sort column to ensure the Month name  displays in sorted month order within the Fiscal Year- Month slicer.   Currently from the Source data the contents of the Month column is full date

[2021-03-29 20:28] mihart commented on #2903
Hi @VitalyMCT ,
Thank you for your suggestion.  We've removed the reference and set the article to republish in the next few days.
All the best,
The DOCS team

[2021-03-29 20:28] #2903 closed

[2021-03-29 20:33] mihart commented on #2857
Thanks for your comment, @vlado101 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-29 20:33] #2857 closed

[2021-03-29 20:37] mihart commented on #2839
Thanks for your comment, @targetpharma . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-03-29 20:37] #2839 closed

[2021-03-29 20:42] mihart commented on #2783
Hi @spontello ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-03-29 20:42] #2783 closed

[2021-03-29 21:20] maggiesMSFT commented on #2897
Thanks, @GitWesDone and @Bhavik-MSFT ! I've updated the article with a note about Power Automate. Change should be live later today, 29 Mar 21.
Thanks!

[2021-03-29 21:20] #2897 closed

[2021-03-30 16:05] mihart commented on #2630
Hi @fpk3 ,
I reached out to the Product team and here is their response.
The limitations are documented on our Dataflows limitation doc (see link below). Currently the lineage view scope for dataflows is limited to what exists in the current workspace.

https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-features-limitations

I've ensured that there is a link from this do

[2021-03-30 16:05] #2630 closed

[2021-03-30 16:30] RichdiMSFT commented on #2934
Hi @zhenfangyan ,

Please use the version which is installed into the Dynamics 365 Finance and Operations Dev VHD. That version is compatible. I am looking for other options for F&O customers as well. But using the version in the VHD is the best way.

[2021-03-30 16:57] mihart commented on #2719
Hi @kthejoker,
Thank you for your suggestion.  I contacted the Product team and received the following answer to your question.

The validation and refresh processes inform dataflows of the model schema. To set schema, you use the PowerQuery Online Editor and set data types.

If this didn't answer your question, I suggest posting to the community forum: community.powerbi.com.
All the best,
The DOC

[2021-03-30 16:57] #2719 closed

[2021-03-30 20:01] mihart commented on #2807
Hi @bimwood ,
Thank you for your suggestion.  We've made the update and set the article to republish in the next few days.
All the best,
The DOCS team

[2021-03-30 23:18] mihart commented on #2870
Hi @learnd-online ,
I see that this Git issue is a bit old and there hasn't been any recent activity, so I'm going to close it.  I hope that you were able to get your questions answered.I did update the source article to make it a bit more clear that only the designer of the report can make the changes necessary to allow / fix sorting issues.  Because the designer has edit permissions to the data,

[2021-03-30 23:18] #2870 closed

[2021-03-30 23:40] mihart commented on #2855
Hi @Hikmer ,
Thank you for your suggestion.  Would you please clarify what you mean by "workspace settings" for ArcGIS? If an ArcGIS map is one of the visuals on a page in a report in a workspace, the "workspace settings" are the same as the settings for the rest of the pages in the report.  If I'm not understanding your questions, please let me know.
Take care,
the DOCS team

[2021-03-31 00:51] mihart commented on #2852
Hi @Dan1480 ,
Thank you for your suggestion.  You are correct! We've made the update and set the article to republish in the next few days.
All the best,
The DOCS team

[2021-03-31 00:51] #2852 closed

[2021-03-31 01:01] mihart commented on #2821
Hi @rosscouldrey ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-03-31 01:01] #2821 closed

[2021-03-31 01:08] mihart commented on #2759
Hi @Hikmer ,
Thank you for your suggestion. I'm not sure I understand the question.  What do you mean by "workspace settings"? If I add an ArcGIS visual to a page in a report, and that report is in a workspace, then the workspace settings are set at the workspace level.  Those  same settings would apply to all report pages in that workspace.

If I'm not understanding your question, please let me k

[2021-03-31 06:11] thomasbibin opened #2941 "Cancelling Dataset refresh"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8122662c-44c4-317d-ef45-44bd3f204487
* Content: [Data refresh in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/refresh-data)
* Content Source: [powerbi-docs/c

[2021-03-31 06:12] thomasbibin commented on #2941
Dataset refresh cannot be cancelled in the middle, as of now right. Can we expect this feature?

[2021-03-31 06:24] gvggvg opened #2942 "How to delete from Recents?"
Hi,
Isn't really a shame that one can not delete anything from Recents ? Even deleted reports keep showing here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e1e445-7f15-0f2a-f71a-1cc2bdd97fca
* Version Independent ID: a96c4c4e-0d4f-060e-1b67-5b60c2652259
* Content: [Favorites in the Power BI service (dashboards, r

[2021-03-31 14:00] ErjunQ opened #2943 "missing shared dataset icon"
Hi,
I notice in "Save a copy of a report in a workspace", no.4 Select Save:

[Power BI automatically creates a copy of the report, and an entry in the list of datasets if the report is based on a dataset outside of the workspace. The icon for this dataset is different from the icon for datasets in the workspace: Shared dataset icon

That way, members of the workspace can tell which reports and das

[2021-03-31 14:20] Hikmer commented on #2759
There is no mention of the workspace level checkbox that enables/disables
ArcGIS.  Many miss this step and open support tickets.

On Tue, Mar 30, 2021 at 6:08 PM Michele Hart ***@***.***>
wrote:

[2021-03-31 14:54] mihart commented on #2698
Thanks for your comment, @Saltzmea . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. I did hear back from the product PM and she requested that you submit this as a product bug so that they can investig

[2021-03-31 14:54] #2698 closed

[2021-03-31 16:20] #2934 closed

[2021-03-31 18:38] mihart commented on #2941
Thanks for your comment, @thomasbibin . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.
All the best,
the DOCS team

[2021-03-31 18:38] #2941 closed

[2021-03-31 23:24] abnermusonda opened #2944 "possible extra word"
![21](https://user-images.githubusercontent.com/31890948/113223142-8455f280-9256-11eb-9e34-a978a1a58ed2.PNG)
 "Refreshes are not restricted this at this time."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4810006b-6245-ccd5-0d2d-9b1089eb06ab
* Version Independent ID: fe970573-f765-75dc-048e-40ef64cf4285
* Content: [P

[2021-04-01 16:46] sergeigms opened #2945 "Need clarity for BYOK protection and workbook import"
This doc bullet:

Excel workbooks (unless data is first imported into Power BI Desktop)

may need to be expanded for 2 modes of Excel workbooks uploads: Connect and Import.  Per research done Import creates service side dataset with API reporting ABF storage mode for that dataset.  This implies Azure storage which should be protected by BYOK.  Note that this clarification if proven to be correct s

[2021-04-04 08:29] #2863 closed

[2021-04-04 15:19] paulinbar commented on #2942
Thanks for your comment, @gvggvg. This looks more like product rather than documentation feedback. You can submit product feedback or ideas for features by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi). You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2021-04-04 15:19] #2942 closed

[2021-04-04 15:24] paulinbar commented on #2944
Hi @abnermusonda, thanks for reaching out to us. It looks like right after you submitted your feedback the article underwent a significant update, and the issue you pointed out seems to have been resolved. Check out the new article - it's substantially different. Thanks again!

[2021-04-04 15:24] #2944 closed

[2021-04-04 15:40] paulinbar commented on #2943
Hi @ErjunQ, thanks for your question. I am checking with the product team and will get back to you. Thanks!

[2021-04-04 15:41] paulinbar commented on #2945
Thanks Sergei, let me look into this. Thanks!

[2021-04-04 15:49] paulinbar commented on #2116
Hi @psiservices-rfeiock. I realize it's been a LONG time..  but the template apps have undergone lots of changes, and it is now much easier to remove the whole template app, workspace and all, once it's been installed. I suggest trying the whole thing again and see if you run into the same issues. If you have an opportunity to do this, but still run into problems. please reopen this issue. Thanks!

[2021-04-04 15:49] #2116 closed

[2021-04-05 15:23] ThomasKwakman opened #2948 "Illustration do not reflect current Power BI servce layout"
Hi,

The illustration do not showcase the current Power BI layout and are thus outdated, aren't they?

Thank you for your time
Best regards,
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47
* Content: [Copy reports

[2021-04-05 15:40] paulinbar commented on #2948
Hi @ThomasKwakman, thanks for your feedback. You are indeed correct. The state of this article just came to my attention the other day when someone asked why external datasets are no longer indicated in a workspace when you save a copy of a report from another workspace. In the course of checking that out I saw how terribly out of date the page is. Anyway, it's on my to do list for the coming mont

[2021-04-05 15:53] ThomasKwakman opened #2949 "Prerequisites for copying a report seem incomplete"
Hi

The prerequisites doesn't seem to be complete, are they?
To copy a report, having build permission is not enough. I have tried it and couldn't copy the report. It seems that the contributor role in the workspace where the report resides is needed to copy a report from one workspace to another (as explained in the video: https://www.youtube.com/watch?v=8bA737rur_M&ab_channel=GuyinaCube)

_**Pre

[2021-04-05 15:59] paulinbar commented on #2949
Hi @ThomasKwakman. According to what I know, build permissions should be enough, since that is supposedly what is required to build a new report on top of a dataset. But I will check that out when I go over the content there. Thanks for pointing this out. I'm adding your comment to the work item.

[2021-04-05 19:08] prashant1380 opened #2950 "Block selected data sources"
Is there any possibility to block certain data sources to be used by users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca836d9-2353-3725-f4ae-73e8d1ca34ba
* Version Independent ID: 80ff9e5a-772f-b1ec-61f0-de544ae9e959
* Content: [Data sources in Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-b

[2021-04-05 19:54] mansfjc opened #2951 "Subscription to reports filtered"
There has been an idea with over 900 votes to allow subscriptions from report pages filtered. It has been marked as "planned" for over three years. Is it ever going to be updated to allow this feature?

![image](https://user-images.githubusercontent.com/48630140/113619549-1b3ff780-9627-11eb-88c8-b679542a5c8e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-04-05 22:45] paulinbar commented on #2943
Hi @ErjunQ,
Indeed it seems that in the new look of workspaces (with list view and lineage view), external datasets are no longer shown in list view. External datasets are shown in lineage view however, and are indicated by a different kind of icon. I can imagine that that might not be the most convenient way to see the external datasets, but that's the way it is now.

The article you mentioned is

[2021-04-05 22:45] #2943 closed

[2021-04-06 00:50] msftrien commented on #2534
mercytum found a different way to do the tutorial prerequisite, but the instructions in the doc aren't wrong or unclear. It sounds to me like the major disconnect here is that mercytum was on Service, not Desktop? And so was looking at the wrong screens while trying to follow the instructions. Recommend closing the issue (but not sure how to do this)

[2021-04-06 01:10] msftrien commented on #1998
@mihart , I don't think I'm the right assignee here -- export underlying data is a Service-only feature, and I'm not aware of what error is being shown. So I can add a line indicating the above into the doc, but don't know how to verify and don't see any other mention of AS besides version.

[2021-04-06 01:17] msftrien commented on #2905
Adding "active" to the doc under limitations/considerations.

[2021-04-06 01:24] msftrien commented on #2877
This step is not absolutely critical, but does point the user toward a resource from which they can get map data in the case where they don't have any and just want to test the shape map visual. I'll re-word the note to make this clearer: "To get sample map data you can use to test the Shape Map visual, see the section titled Getting Map Data below."

[2021-04-06 01:39] msftrien commented on #2522
I don't know what the "App permission" is. I imagine it might mean "access" permission? But build permission is a requirement to export underlying data (to be clear, there are other forms of exporting data that don't require build permission). @mihart I don't think this warrants any changes to docs

[2021-04-06 01:43] msftrien commented on #2568
Yeah, I've no idea why that line is there. I'm deleting the "not available" sentence.

[2021-04-06 01:51] msftrien commented on #2685
Edited to make it more clear. Now it reads: "When you copy a static image of a visual, you get a copy of the visual, including filters applied to it, along with its metadata."

[2021-04-06 01:58] msftrien commented on #2825
Adding to limitations to docs. @mihart I think that should close this?

[2021-04-06 02:58] mihart commented on #2950
Thanks for your comment, @prashant1380 . This issue has been assigned to the doc author for review.

[2021-04-06 02:59] mihart commented on #2951
Thanks for your comment, @mansfjc . This looks like a product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com.

[2021-04-06 02:59] #2951 closed

[2021-04-06 03:41] mihart commented on #2825
@msftrien @lucazav ,
Thank you both!  Closing this now.

[2021-04-06 03:41] #2825 closed

[2021-04-06 03:42] mihart commented on #2685
@msftrien @JosefPrakljacic
Thank you both :-)  Closing this git issue now.

[2021-04-06 03:42] #2685 closed

[2021-04-06 03:44] mihart commented on #2905
Hi @msftrien @ShannenR
Thank you both for your suggestion and update.  Closing this Git Issue now.

[2021-04-06 03:44] #2905 closed

[2021-04-06 03:45] mihart commented on #2877
@msftrien @kmkaczmarek  Hi,
Thank you both for working to update the documentation.

[2021-04-06 03:45] #2877 closed

[2021-04-06 03:47] mihart commented on #2568
@msftrien thank you for the update!
@itsnotaboutthecell , thank you for your suggestion.

[2021-04-06 03:47] #2568 closed

[2021-04-06 03:52] mihart commented on #2534
Hi @mercytum ,
Thank you for your suggestion.  I spoke with the product PM. You've discovered a different way to complete the tutorial, but the instructions in the doc are also valid.  There are some differences in the UI when you use Power BI service versus Power BI Desktop.  This article used Desktop and we believe that you were using the service and that was one of the reasons that you had a di

[2021-04-06 03:52] #2534 closed

[2021-04-06 04:46] mihart commented on #2007
Hi @haider392 ,
I noticed that this issue is old, so I'm going to close this.  The article you reference is no longer live.
All the best,
The DOCS team

[2021-04-06 04:46] #2007 closed

[2021-04-06 04:49] mihart commented on #2032
Hi @,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 04:49] #2032 closed

[2021-04-06 04:57] mihart commented on #2090
Thanks for your comment, @alohaninja . I noticed that this Git Issue is a bit old and there has been no activity.  I hope that you were able to get an answer to your question.  This forum is designed to answer questions about the documentation and your question looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community,

[2021-04-06 04:57] #2090 closed

[2021-04-06 04:59] mihart commented on #2108
Hi @marclelijveld ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 04:59] #2108 closed

[2021-04-06 05:02] mihart commented on #2132
Hi @glasody ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:02] #2132 closed

[2021-04-06 05:09] mihart commented on #2171
Hi @mparowski ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:09] #2171 closed

[2021-04-06 05:12] mihart commented on #2177
Hi @PeterGrahamJersey ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:12] #2177 closed

[2021-04-06 05:50] mihart commented on #2190
Hi @,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:50] #2190 closed

[2021-04-06 05:51] mihart commented on #2196
Hi @NiranjansaikrishnaC ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:51] #2196 closed

[2021-04-06 05:55] mihart commented on #2227
Hi @gkens ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:55] #2227 closed

[2021-04-06 05:57] mihart commented on #2299
Hi @Mholsen ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. Your question does sound like a product question rather than a documentation option, so you may get a response by submitting your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:57] #2299 closed

[2021-04-06 05:59] mihart commented on #2303
Hi @logic-based ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 05:59] #2303 closed

[2021-04-06 06:02] mihart commented on #2346
Hi @elfohl ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 06:02] #2346 closed

[2021-04-06 06:14] mihart commented on #2380
Hi @jorgeek830 ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 06:14] #2380 closed

[2021-04-06 06:23] mihart commented on #2476
Hi @DaxelCA ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 06:23] #2476 closed

[2021-04-06 06:25] mihart commented on #2483
Hi @djpirra ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please let us know.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 06:25] #2483 closed

[2021-04-06 08:05] kmarspence opened #2952 "Export personalised visuals"
Are there any plans to make this feature work when you export?

We are currently trying to release a standard report to 200 users which they will then go onto personalise, however if we are unable to do this will we have to go  back to square 1 or worse have to write 200 bespoke reports

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-06 13:41] kmkaczmarek commented on #2877
I think the proposed update will work fine and avoid confusion so thank you so much for handling!

[2021-04-06 17:22] StacyRacks opened #2953 "server resources seem low"
[Enter feedback here]Those memory requirements seem a bit low for a power bi server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f20394b-f5b1-2924-3670-932dba073875
* Version Independent ID: 71ec4d31-53e6-16d4-c250-c38f1bba2ba6
* Content: [Hardware and software requirements for installing Power BI Report Server - Po

[2021-04-06 18:19] mihart commented on #2952
Thanks for your comment, @kmarspence . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-06 18:19] #2952 closed

[2021-04-06 18:24] mihart commented on #2953
Thanks for your comment, @StacyRacks . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-06 18:24] #2953 closed

[2021-04-06 18:24] mihart commented on #2950
Thanks for your comment, @prashant1380 . This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2021-04-06 18:24] #2950 closed

[2021-04-06 18:25] mihart commented on #2002
Hi @Mike-Honey ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2021-04-06 18:25] #2002 closed

[2021-04-06 18:44] StacyRacks commented on #2953
The post says that Windows Server 2019, should have a minimum memory assignment of 1 whopping gigabyte and that 4 is recommended.

4 is the minimum, but really to perform optimally the server that runs bi server should have at least 32 GB

[Rackspace]<https://www.rackspace.com/>
Stacy Simpkins
[Facebook]<https://facebook.com/rackspacetechnology>
[Twitter]<https://twitter.com/Rackspace>
[Linkedin]<

[2021-04-06 21:38] mihart commented on #2661
Hi @christianb7 ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2021-04-06 21:38] #2661 closed

[2021-04-07 05:12] ThomasKwakman opened #2954 "Contributor cannot share unless they have reshare permission"
Hi,

"You can share dashboards and reports from many places in the Power BI service: Favorites, Recent, My Workspace. You can share from other workspaces, too, if you have the **Admin, Member, or Contributor** role in the workspace. And you can share dashboards and reports in Shared with me, if the owner allows it."

To my understanding, this is slightly off as a Contributor cannot use the share f

[2021-04-07 13:03] KesemSharabi commented on #2954
Thanks for your comment, @ThomasKwakman.

I've assigned this issue to the doc author for review.

In the meantime, you might find an answer in the [Power BI Community]( https://community.powerbi.com).

[2021-04-07 22:43] msftrien commented on #2759
It's mentioned under the "Manage the use of ArcGIS for Power BI within your organization" section in the doc.

[2021-04-07 22:43] msftrien commented on #2855
This is mentioned in the "Manage the use of ArcGIS for Power BI within your organization" section of the doc. Also this is a duplicate (or the other is a duplicate)

[2021-04-07 22:53] Hikmer commented on #2759
The workspace setting is not mentioned in this article

[image: image.png]

On Wed, Apr 7, 2021 at 3:43 PM msftrien ***@***.***> wrote:

[2021-04-07 22:54] Hikmer commented on #2855
This is missing from the documentation

[image: image.png]

On Wed, Apr 7, 2021 at 3:44 PM msftrien ***@***.***> wrote:

[2021-04-07 22:56] msftrien commented on #2759
I'm getting [image: image.png] from your message -- can't actually see the attachment, for some reason? Do you mind trying again?

[2021-04-07 23:05] Hikmer commented on #2759
Sure, here it is as an attachment

On Wed, Apr 7, 2021 at 3:56 PM msftrien ***@***.***> wrote:

[2021-04-07 23:39] msftrien commented on #2759
Can you just email me directly rien@microsoft.com

still can't see it :(

[2021-04-08 00:21] #2522 closed

[2021-04-08 00:43] mihart commented on #2834
Hi @,
Thank you for your question.  Some anomaly points won't return explanations, because there simply isn't enough information to explain that point with confidence. There is a Community thread called "Share your thoughts on the new Anomaly detection feature (preview)".  You may find a more detailed answer there....or, you can post your own question which is read by the Product team.
https://com

[2021-04-08 00:43] #2834 closed

[2021-04-08 05:42] KJLive opened #2956 "Power BI Admin API REST call to obtain activity log event results in not authorized error"
Despite having set the required Admin API permissions as per this [guide](https://docs.microsoft.com/en-us/power-bi/admin/read-only-apis-service-principal-authentication), I kept getting not authorized errors.
After a call with Support, the recommendation is to change the Service Principal's API permissions type from "Application" to "Delegated" AND waiting for a considerable amount of time for th

[2021-04-08 05:51] paulinbar commented on #2956
Hi @KJLive, this is valuable feedback. I will check out the details and update the doc as necessary. Thanks!

[2021-04-08 14:40] alan-at-microsoft opened #2957 "Missing features of Premium"
Why aren't [deployment pipelines](https://docs.microsoft.com/en-us/power-bi/create-reports/deployment-pipelines-overview)  or [Premium features unique to dataflows](https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-premium-features) even referenced in this document?

This document is great for answering the "what does Premium give me?" question--and these two topics sho

[2021-04-08 19:41] ThomasKwakman opened #2959 "linked table or dataflow"
Hi,

In this excerpt:
Only referenced tables are refreshed when triggered by a source refresh completion. To schedule all the tables, you should set a **schedule refresh on the linked table as well**. Avoid setting a refresh schedule on linked dataflows to avoid double refresh.

The refresh is at the dataflow level, isn't it ?
So the schedule refresh should be set on the dataflow instead of the "l

[2021-04-08 20:21] valenciajdev opened #2960 "Is this article related to the following capability announced on 2021 release wave 1?"
Hi, is this article related to the following capability announced on 2021 release wave 1? [https://docs.microsoft.com/en-us/power-platform-release-plan/2021wave1/power-bi/advanced-network-isolation-ga?source=docs#feature-details](url)

If it's, the article is missing the Service Tags. Please clarify.

[2021-04-08 22:07] maggiesMSFT commented on #2770
Thanks for the question, @nicheplayer -- updating the article with the info today.

[2021-04-08 22:07] #2770 closed

[2021-04-08 23:15] mihart commented on #2302
Hi @pawarbi ,
I see that this Git issue is a bit old, so I'm going to close it.  We took your suggestion and did a freshness pass on the article so it should be completely up-to-date now.  I've also added some of your shortcuts -- thank you so much for sending those along.
All the best,
the DOCS team

[2021-04-08 23:15] #2302 closed

[2021-04-09 11:04] MartinMcAndrew opened #2961 "really badly written"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19b40b2-9df7-adf8-3f9b-c6c7b188f3c1
* Version Independent ID: 70e043bb-c04e-2c5f-a121-3cf4368b0c49
* Content: [Use a relative date slicer or filter in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/desktop-slicer-filter-date-r

[2021-04-09 15:31] kasavin opened #2962 "Missing noun"
Hi - this sentence is missing a noun between "only" and "for":

"The only for Power BI Premium is a 24-hour refresh per dataflow."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ec2a31-ae63-38f7-00e8-234bcedd571d
* Version Independent ID: ff4d4e25-80f5-cac3-49c8-a85b7cf1c476
* Content: [Dataflows Limitations, restric

[2021-04-09 17:44] maggiesMSFT commented on #2510
Hi, @thierryhouy -- great point! Just fixed that section, clarifying exactly what you bring up. Change will be live this afternoon 9 April 2021. Thanks@

[2021-04-09 17:44] #2510 closed

[2021-04-09 17:55] maggiesMSFT commented on #2957
Hi, @alan-at-microsoft and @MattRudy -- I've assigned this Issue and related PR to the author for review.
Thanks to you both!

[2021-04-09 17:58] maggiesMSFT commented on #2959
Hi, @ThomasKwakman -- thanks for asking! Assigning to the author to review.

[2021-04-09 18:02] maggiesMSFT commented on #2960
Hi, @valenciajdev -- could you clarify which article you're referring to? Unfortunately that info didn't come through with your question.
Thanks!

[2021-04-09 18:18] maggiesMSFT commented on #2961
Hi, @MartinMcAndrew -- sorry to hear that! Could you provide more guidance on what you'd like to see improved? I realize that some of the screen shots are out of date. We are working through the backlog of updating them.

[2021-04-09 18:22] maggiesMSFT commented on #2962
Hi, @kasavin -- good catch! Assigning to the author to fill in the missing word. I suspect it's "limit" -- "The only *limit* for Power BI Premium is a 24-hour refresh per dataflow." but I'm checking with the author to be sure.

[2021-04-09 21:22] davidiseminger commented on #2957
Thanks for your work on this!

[2021-04-09 21:22] #2957 closed

[2021-04-09 21:27] davidiseminger commented on #2962
Thanks for the close read. I've added that missing word, and the change should be live later today. Thanks!

[2021-04-09 21:27] #2962 closed

[2021-04-09 23:12] valenciajdev commented on #2960
Hi Maggie,

Here is the link to the document I was referring to: Advanced network isolation (general availability) - Power Platform Release Plan | Microsoft Docs<https://docs.microsoft.com/en-us/power-platform-release-plan/2021wave1/power-bi/advanced-network-isolation-ga>
Feedback from page: Private endpoints for accessing Power BI - Power BI | Microsoft Docs<https://docs.microsoft.com/en-us/power

[2021-04-11 01:40] orange-copilot opened #2963 "Slicer - in fields, no Date drop down is available"
Hello. Ive been trying to follow the tutorial but cannot get the dax table based date slicer to work - in the visualisations pane, in the Fields section, Date is displayed with a drop down arrow next to it, but when I select that arrow the options are Remove field, Rename this visual, new quick measure, show items with no date, and new group. There is nothing that lets me remove 'day' and 'quarter

[2021-04-11 16:49] MattRudy commented on #2963
Hey @orange-copilot , this sounds like an issue with the data type of the column you are using. The list options you mentioned are what show for certain data types like 'Text', whereas you would see the options of 'Date' and 'Date Hierarchy' listed at the bottom of that menu if the column was of type date.

To check a column's type:

1. First select the column by clicking the column name in the Fi

[2021-04-11 20:37] orange-copilot commented on #2963
Thanks for your reply! Will give it a go tonight

On Mon, 12 Apr 2021 at 4:49 AM, Matt Rudy ***@***.***> wrote:

--
Sarah Sent on the go

[2021-04-12 14:51] rstephensBT opened #2964 "This entire page is useless"
Without the actual links to download these previous versions, all this information is pretty much useless.

Versions as of September 2020 and newer completely break compatibility with Dynamics 365 for Operations, and the only way to fix it is download an older version of PowerBI Desktop. (https://fix.lcs.dynamics.com/Issue/Details?bugId=482564&dbType=3&qc=fb519ad5018dd8d206badcba5c54558eb866803a1a

[2021-04-13 07:00] WhiteyC opened #2965 "Please fix table for IBM DB2 connector"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources)
* Content Source: [powerbi-

[2021-04-13 13:32] zafaralam commented on #1881
Is there an update on when this content on unit testing power bi custom visuals will be updated?

[2021-04-13 13:58] kdvis opened #2966 "SQL Server + gateway supported in AppOwnsData?"
I am following the [tutorial](https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-paginated-reports-customers) for embedding a paginated report into an application for your customers. I understand that Power BI datasets and SSO datasources are not supported for AppOwnsData. Are SQL Server datasources (accessed through an on-prem gateway) supported for AppOwnsData? By following the d

[2021-04-13 16:07] gmeronek opened #2967 "Salesforce Template Apps using implicit measures, inactive relationships?"
I appreciate anytime there's available PBIX templates we can download, but I was very surprised that when I downloaded the Salesforce template apps from [https://docs.microsoft.com/en-us/power-bi/connect-data/service-template-apps-samples](url), I saw a number of puzzling choices.

- When I looked at the model for the SalesforceSalesManager PBIX, I saw a ton of inactive relationships. I thought th

[2021-04-13 18:12] ChiliGuy opened #2968 "Dynamic Titles Using the Tab Name"
I would like to create a dynamic title for each tab in my PBI report using the name I've entered on the tab. For instance, if I've named a tab "Sales by Category" I want to build a title in the report that pulls from the tab name so the title displays as "Sales by Category". I can then use the values selected in the slicer on that tab so the title will update. For instance, if I have a slicer for

[2021-04-13 19:48] markvsql opened #2969 "Confused by "business user" and "designer" use on this page. Not clear what is meant by those as neither are references to a particular type of Power BI license."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6b635cd-366c-c336-bc9f-ed164a92f966
* Version Independent ID: 5399c905-cef4-a156-3e76-e211a3c1945a
* Content: [What is a dashboard and how do I open it? - Power BI](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-dashboards)
* Content Sou

[2021-04-13 21:36] erickpolsky opened #2970 "Why is all this necessary?"
This is a GREAT workaround.  I'm a little sad that we have to jump through so many hack-like hoops to connect Microsoft Excel data stored in Microsoft OneDrive to a Microsoft Power BI dataset.  Isn't this a pretty common pattern they would expect customers to need?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a1e2f