[2019-01-03 10:54] markingmyname commented on #545
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-03 10:54] #545 closed

[2019-01-03 16:58] atxjd opened #554 "Add information to connect to Pay-as-you-go"
Just shows instructions for EA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d95443-afbf-fadd-6932-1edef039548f
* Version Independent ID: b5a9d263-4b72-e566-a53f-5c5e0bebafae
* Content: [Connect to Microsoft Azure Consumption Insights with Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/service-connec

[2019-01-04 00:28] bibinbastian opened #555 "Mixed Storage Mode"
https://docs.microsoft.com/en-us/power-bi/desktop-directquery-about#limited-to-a-single-source
This portion needs updating, with Mixed Storage Mode multiple sources can be connected along with DirectQuery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-5962-2959-696188711efe
* Version Independent ID: d8796

[2019-01-04 06:39] abhi-debuginside opened #556 "A small typo in text"
There is a small typo in below highlighted sentence under the [Granting access to reports](https://docs.microsoft.com/en-us/power-bi/service-embed-report-spo#granting-access-to-reports) section.

---
thanks
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc5abbd-e082-d1e1-109d-6f6cec8854a1
* Version Independent ID: f8affce3

[2019-01-04 11:47] lehmus opened #557 "Possibility to change the associated Data Lake"
In the CDM & Data Services Tutorial (https://github.com/Azure-Samples/cdm-azure-data-services-integration/blob/master/Tutorial/CDM-Azure-Data-Services-Integration-Tutorial.md), it is said that "the ADLS Gen2 account you associate with your Power BI account cannot be changed later so consider this step carefully if you are doing this with an important Power BI account". I think this very important

[2019-01-04 12:35] nujcharee opened #558 "Doesnt work when refreshing on personal gateway"
Hi there
I have downloaded this sample file, all successfully refreshed on desktop but not via personal gateway December 2018 release. I raised this on community forum and also raised a ticket with the product team. I understand it is a bug? Would appreciate alternative solution for the time being please.

Thank you so much :)
Nujcharee

[2019-01-04 16:10] mgblythe commented on #552
Thanks @chrisweis, adding @arthiriyer to see if she has info on these.

[2019-01-04 16:23] mgblythe commented on #554
Thanks for your comment, @atxjd. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. In the meantime, can you provide a little more detail on the issue you raised?

[2019-01-04 16:33] mgblythe commented on #555
Thanks for your comment, @bibinbastian. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-04 16:34] mgblythe commented on #557
Thanks for your comment, @lehmus. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-04 16:38] mgblythe commented on #558
Thanks @nujcharee, I think support and community are the right channels for this, but what sample are you referring to?

[2019-01-04 16:43] markingmyname commented on #556
Thanks, @abhi-debuginside for spotting this.  I noticed it yesterday myself.  This should be corrected by early next week.

[2019-01-04 16:43] markingmyname commented on #556
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-04 16:43] #556 closed

[2019-01-04 18:18] gpetersOB opened #559 "Auto refresh in presentation mode"
Is there a way to configure reports to auto-refresh when in presentation mode? We have Power BI reports displayed on wall monitors today and we have to use Google Chrome refresh extension to do this currently. Would be much nicer to configure auto-refresh within Power BI itself, and particularly in presentation mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-01-04 21:47] njolee opened #560 "Inspection of DataView object in Visual Studio Code"
I modified capabilities.json for circleCard to read data from an .xlsx spreadsheet. I basically want to copy a few columns of numbers in my spreadsheet into arrays (the dataView object?) in Power BI and then perform mathematical operations on them (i.e. the dataView object).

I can see all of my data in the table view of Power BI after loading my spreadsheet and Power BI app. I am however only abl

[2019-01-04 23:30] arthiriyer commented on #552
@chisweis Currently the non-documented information in the logs is more  for internal diagnostics and troubleshooting- and hence is not widely publicized.
That being said, in this semester, we are working on improving our documentation and as part of that we will take this as feedback and check if we can add any additionally details which may be useful to the customers.

[2019-01-04 23:31] kfile commented on #560
Hi @njolee and thanks for your comment/question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.  Thank you.

[2019-01-04 23:31] #560 closed

[2019-01-07 09:13] tripleacoder opened #561 ""app owns data" with app secret/service principal"
Is it possible to authorize an "app owns data" application with a service principal instead of a user (by using an app secret instead of a password)?
I have tried to do it, but I get 401 errors when I try to push data to Power BI.

If it's not possible, then I think this documentation should mention it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-07 09:37] sjkp opened #562 "Unable to register AdlsFileSystemNotPreparedForAttachException"
After having done all the prerequisites I get the following bad request response when I try to finishing setting up the connection in the PowerBI admin portal.

I use
Subscription:
5e343fdd-7565-4568-adc1-251121cbf6b5
Resource Group:
Delegate.DataLake
Storage Account:
dgdatalake

{"error":{"code":"AdlsFileSystemNotPreparedForAttachException","pbi.error":{"code":"AdlsFileSystemNotPreparedForAttachE

[2019-01-07 12:55] thommck opened #563 "What is "large""
In the "Premium capacity nodes" section you write: "Having sufficient memory becomes especially important when dealing with large data models or with a large number of active datasets."
Can you clarify what you mean by "large data models". We have 10 datasets in P1 where the dataset size is between 0.5-1GB and they struggle with constant memory evictions. There seems to be no way to easily or accu

[2019-01-07 16:52] thommck opened #564 "Does this flush all the memory & cpu?"
It's not clear from the docs if a restart completely clears out all datasets or just the in-memory version (with a version still in storage). i.e. If I restart the Premium Capacity, will all my reports be blank until the next scheduled refresh, or will they just show out of date data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-07 16:59] drew5251 opened #565 "OneDrive for Business Issue - this process didn't work"
I tried following this documentation and it was very frustrating because I would not get the Access web content screen to show up anymore.  It would just jump right to the error message: Unable to connect.  We encountered an error while trying to connect. Details "Access to the resource is forbidden."
I believe I would get the Access web content screen the first time I tried to connect, but if I c

[2019-01-07 22:54] nujcharee commented on #558
Hi there, I contacted them and got some correspondence thank you for your reply :)
I got a copy of September 2018 release which seemed to work again so I think I will stick with that version. Many thanks again

[2019-01-07 22:54] #558 closed

[2019-01-07 23:51] davidiseminger commented on #561
Thanks for your comment, @tripleacoder. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

If you find the definitive answer, and would like us to update the docs with your findings, feel free to open this PR back up w

[2019-01-07 23:51] #561 closed

[2019-01-07 23:53] davidiseminger commented on #562
Thanks for your comment, @sjkp, and sorry for the trouble you're having. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

Meanwhile, I've assigned this thread to someone who may be able to respond to your issue.

[2019-01-07 23:54] davidiseminger commented on #563
Thanks for your comment, @thommck, and sorry for the ambiguity. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-07 23:55] davidiseminger commented on #564
Thanks for your comment, @thommck. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

Note that you might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-07 23:56] davidiseminger commented on #564
Added author.

[2019-01-08 00:41] davidiseminger commented on #565
Hello @drew5251, thanks for your comments, and for the workaround! We'll update the steps in that article, so everyone else can benefit from your work, and your contribution here. Thanks!

[2019-01-08 02:50] drew5251 commented on #565
Thanks. I found out though that it doesn't really work for the service...
once you publish, it can't find the file for refreshes. I'll try to update
my notes tomorrow.

On Mon, Jan 7, 2019, 6:41 PM David Iseminger <notifications@github.com>
wrote:

[2019-01-08 09:10] cborovac opened #566 "Location of custom visual source code in GitHub"
Hi - Can you let me know if the source code is also available for PowerBI's standard visuals? This would be useful to use as a template when I am developing custom visuals. Can you please also provide a link to the custom visual source code referenced in this article located within GitHub?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-01-08 21:46] sonyadelger opened #567 "Timeline for read-only Viewer role for new Workspaces?"
Is there a time frame regarding the following item?

"Read-only workspaces: Instead of granting users read-only access to a workspace, you'll assign users to a forthcoming Viewer role, which allows similar read-only access to the content in a workspace."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf

[2019-01-09 02:50] themagiccog opened #568 "Misunderstanding"
Hi, I am having trouble understanding this line: "Filter specification will flow from CompanyProject to CompanyEmployee (as shown in the image below) but, it won’t flow up to CompanyEmployee. However, if you set the cross filtering direction to Both it will work. The Both setting allows the filter specification to flow up to Employee." when talking about Both vs Single Cross Filter Direction.

Cou

[2019-01-09 04:54] mihart commented on #566
Hello @cborovac
Thank you for contacting us.  I've forwarded your question to the author of the article, who will respond soon.
Best regards,
Microsoft DOCS International Team

[2019-01-09 04:57] mihart commented on #567
Hello @sonyadelger ,
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly submit your product question by using the button "Give Product Feedback" at the bottom of the DOCS page.
Kind regards,
Microsoft DOCS International Team

[2019-01-09 04:57] #567 closed

[2019-01-09 04:59] mihart commented on #568
Hello @themagiccog
Your contribution is much appreciated. I've assigned this to the author of the article and he will respond soon.
Kind regards,
Microsoft DOCS International Team

[2019-01-09 15:13] BM4291 opened #569 "Data Source Compatibility with Pagniated Reports"
Currently paginated reports can't be hooked up to SharePoint Online data sources; is there any ambition for this in the near future?

Also, is functionality planned to allow access to published data models?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5d0507-1ff2-46ed-8563-e80b19644f26
* Version Independent ID: 415

[2019-01-09 18:04] DeanGross commented on #369
This document is getting more and more out of date. Please update it incorporate new features and functionality

[2019-01-09 18:10] mihart commented on #482
Got it.  I'm going to defer to the Product team on this one, since it's a product-reated issue and not a docs issue.  I've copied/pasted this conversation into a post on https://community.powerbi.com.  The PMs and Devs who monitor the forums are pretty quick to answer.
HTH,
Michele

[2019-01-09 18:10] #482 closed

[2019-01-09 20:40] drew5251 commented on #565
Hi @davidiseminger, I found out that there is a way to clear the setting.  You need to go to Edit Queries > Data source settings.  This was an easy fix to my problem.  But it was really unclear where this data was being saved, and it's a little bid maddening that it was hidden under Edit Queries.  I wouldn't have thought I'd need an Edit Queries option when I couldn't even connect to start a query

[2019-01-09 23:06] chriskuech opened #570 "Only works in chrome"
This page has no mention of Chrome, but I've found that out of Firefox, Edge, and Chrome, that the Developer Visual can only connect to the service in Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de943
* Content: [De

[2019-01-10 01:42] gsacavdm opened #571 "Is this supposed to work for the Power BI Service?"
Show items with no data works just fine on Power BI Desktop however when I publish the report, the rows with those "no data" columns don't show up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f1d303-a1ee-766e-dac0-d68dad08080c
* Version Independent ID: 053d3adb-90c2-03ce-87c7-47d441a1a79e
* Content: [Show items wi

[2019-01-10 04:50] rahulunlimited commented on #557
We have a similar scenario where we have on PowerBI tenant and would still like to isolate the DEV/TEST/PROD environments.

[2019-01-10 07:44] kitobotucatu commented on #449
Good Morning, I think that this flexibilities and dinamismi is important in this case, example, I need to classify the range, <0 = delay; >=0 e <=30 = next; >30 = futuro.

[2019-01-10 14:56] asocorro opened #572 "Invalid ReportId Values"
I am able to query the audit log but in some cases I am getting two ReportId values for the same report in the same workspace.  I ruled out that the report was deleted and created again as the ReportId values are intermixed in time.   Also, I am getting workspace names that don't exist (or ever existed).  Any clues?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-01-10 17:57] mgblythe commented on #571
Thanks for your comment, @gsacavdm. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com

[2019-01-10 17:58] mgblythe commented on #570
Thanks for your comment, @chriskuech. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-10 17:59] mgblythe commented on #569
Thanks for your comment, @BM4291. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-01-10 17:59] #569 closed

[2019-01-10 18:17] mgblythe commented on #572
Thanks @maggiesMSFT. @asocorro - I'm not sure what would cause this, so I would follow Maggie's suggestion to try community or support.

[2019-01-10 18:17] #572 closed

[2019-01-10 19:22] maggiesMSFT commented on #569
Also, @BM4291, I recommend checking the Summary of Planned Features doc for what's planned in upcoming releases. https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/planned-features.
If you don't find an answer there, try searching in https://ideas.powerbi.com/forums/265200-power-bi to see if anyone else has suggested it and it's already in progress

[2019-01-10 19:34] fishnexj opened #573 "When does this feature activate?"
We saw this post and got SUPER EXCITED to use this feature... but we can't see the option in our Power BI Service tenant. Our version is 13.0.7840.225.

Do we just need to wait a day or two? Or is there an item in the Admin Portal we need to turn on? (not seeing the option as yet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-10 20:58] gsacavdm commented on #571
Hmmm this is also documentation feedback if you rephrase it as:
"Can you please document whether this works or not on the Power BI Service?"

This is done in the [Power BI Desktop Privacy Levels](https://docs.microsoft.com/en-us/power-bi/desktop-privacy-levels) documentation which has the following blurb:

Based on [this](https://community.powerbi.com/t5/Issues/quot-Show-Items-with-no-data-quot-op

[2019-01-10 21:08] mgblythe commented on #571
Thanks @gsacavdm - I took your initial post to mean that it was supported but just not working. Assigning to a writer to review.

[2019-01-10 21:48] yzhong94 opened #574 "GA date for this feature?"
When can we expect this feature to GA?  I'm using this on PowerBI desktop and would like to publish it as a dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 477d54a5-8a27-ae63-9887-9801639962e8
* Version Independent ID: 8a2c56c0-cf25-bd2d-8de9-207ccc1e83d1
* Content: [Many-to-many relationships in Power BI Des

[2019-01-10 21:57] maggiesMSFT commented on #574
Thanks for your question, @yzhong94  I recommend checking the Summary of Planned Features doc for what's planned in upcoming releases. https://docs.microsoft.com/en-us/business-applications-release-notes/october18/intelligence-platform/planned-features.

[2019-01-10 21:57] #574 closed

[2019-01-10 22:01] maggiesMSFT commented on #573
Hi, @fishnexj -- thanks for asking, and glad you're excited! I'm forwarding your question to the author, who may be able to clarify. Otherwise, you can check https://ideas.powerbi.com, https://community.powerbi.com, or the Summary of Planned Features doc for what's planned in upcoming releases. https://aka.ms/powerbireleasenotes  https://docs.microsoft.com/en-us/business-applications-release-notes

[2019-01-10 22:07] mganeshphani opened #575 "Does PowerBI and Azure egress apply for gateway scenarios?"
This document is missing explicit mention of following aspects
-&gt; Does egress charges apply in context of gateway taking care of pulling data from azure and pumping to powerbi
-&gt; What does the charges of egress look like.. any link is much appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0577c02-6c3e-8

[2019-01-10 22:15] yzhong94 commented on #574
I cannot find many-to-many relatinoships or composite model in that table. @maggiesMSFT

[2019-01-10 22:46] apfenech opened #576 "Firefox Not the Best"
Firefox is technically supported, but has issues with styling and can remove some features of visuals - it's probably worth mentioning.  See [here](https://community.powerbi.com/t5/Mobile-Apps/Scrolling-issue-in-mobile-layout-of-report/td-p/395272).

[2019-01-10 22:49] apfenech commented on #576
It's in relation to this but I don't know how to link it to this page.

https://docs.microsoft.com/en-us/power-bi/consumer/end-user-browsers

[2019-01-10 22:51] apfenech opened #577 "Firefox Not the Best"
Firefox is technically supported, but has issues with styling and can remove some features of visuals - it's probably worth mentioning.  See here:
https://community.powerbi.com/t5/Desktop/Fonts-changed-in-Firefox-compared-to-IE-and-Desktop/td-p/567953

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 753770c6-5424-85a6-1b

[2019-01-10 22:51] #576 closed

[2019-01-10 22:51] apfenech commented on #576
Closed, figured out how to add it to the doc page.

[2019-01-11 00:21] maggiesMSFT commented on #577
Thanks for your comment, @apfenech -- I've assigned this issue to the author, who'll get back to you soon. Thanks!

[2019-01-11 00:31] DavidMagarMS commented on #563
Hi @thommck, 0.5Gb to 1Gb models are by no means considered large. evictions are perfectly normal behaviour and don't indicate anything wrong. capacity planning should be informed by both concurrency requirements of datasets (how often do reports based on these get used, by how many users), dataset size, complexity and refresh requirements.
is there a specific effect you refer to when you say "we

[2019-01-11 03:09] markingmyname commented on #570
@chriskuech Thanks for your comment! Sounds like this is a product question, so please use the Product Feedback button in this article, or try the community, https://community.powerbi.com/.

However, let me discuss this with parties involved and see what is going on here.

[2019-01-11 03:16] markingmyname commented on #566
Hi @cborovac, thank you for your comment.  We cannot release the source code for the standard visuals, but there is a link in the article that references the custom visual source code.

https://github.com/Microsoft/PowerBI-visuals-circlecard

Hope this help.

Thank you.

[2019-01-11 03:17] markingmyname commented on #566
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 03:17] #566 closed

[2019-01-11 03:20] markingmyname commented on #551
@SaurabhSharma-MSFT Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2019-01-11 03:59] markingmyname commented on #551
@SaurabhSharma-MSFT I hope this explanation helps.

Use Native app for apps that run on client devices. Choose Native app if you are embedding content for your customers regardless of what is the application, even for web applications.

Use Server-side Web app for web apps or web APIs.

[2019-01-11 04:17] mganeshphani commented on #575
@maggiesMSFT I am suggesting to update the documentation with the information I asked here.. that is how the azure docs work.. are PowerBI docs having their own rules?

[2019-01-11 07:08] uve commented on #570
@chriskuech, please make sure you've installed local certificate properly. Dev visual should work in any browser.
Please check also [this workaround](https://github.com/Microsoft/PowerBI-visuals-tools/issues/20#issuecomment-303056535).

[2019-01-11 15:47] darthwalsh opened #579 "Gateway troublingshooting link /fwlink/?LinkId=627089 doesn't find content 404"
I hit an error updating the On-premises data gateway, and on the error dialog there is a link https://go.microsoft.com/fwlink/?LinkId=627089 that forwards to https://powerbi.microsoft.com/en-us/documentation/powerbi-gateway-enterprise-tshoot/ which throws a 404 error because the content doesn't exist.

I think the FWLink should point to https://docs.microsoft.com/en-us/power-bi/service-gateway-onp

[2019-01-11 16:01] buildbod opened #580 "Only one Live Connection is supported per model"
Missing from the limitations and considerations is that once you have added a Live Connection you cannot add in other datasources nor can you have multiple Live Connections in the same PBIX file. It is limited to one connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Versi

[2019-01-11 16:45] adaltons opened #581 "SharePoint: Request failed: Unable to connect to the remote server"
Hi All,

I am getting this same error message after connecting my datasources to the On-premise Gateway for other sources in the report.

The SharePoint datasource is giving me the error "SharePoint: Request failed: Unable to connect to the remote server" when I initialize a refresh from the Power BI service or when i schedule a refresh through the Gateway.

If i initialize a refresh through the P

[2019-01-11 17:22] annaye2010 opened #582 "Power BI premium"
I am really interested to know if the Power BI premium license is available in the G cloud?  If not, when will it be available?  We love Power BI but it really does not make a lot of sense to buy G5 license for every employee in the government. This is preventing  the cool Power BI tool from growing inside government. The power Bi premium seems to be a solution.

---
#### Document Details

⚠ *Do n

[2019-01-11 17:30] chriskuech commented on #570
@uve Are you guys able to use Firefox or Edge?  I do believe I installed the cert correctly--is there a specific reason why bad TLS would work on Chrome?

@markingmyname If there are additional steps to configure TLS in Firefox/Edge vs Chrome I believe these should be reflected in the docs.

[2019-01-11 18:40] gtageek opened #583 "What role / privilege do you need to install the app?"
Hello - What role do you need to install the Power BI Premium Capacity Metrics app?
Do you need to be a Global Admin or Power BI Pro Admin or is it sufficient to only be a Premium Capacity Admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3451b495-3af0-170e-a93c-d7360bf6b8cd
* Version Independent ID: 5e964973-a536-

[2019-01-11 21:01] BenWarden opened #584 "How to specify role"
Is there any way to specify the snowflake user role to use? We're having issues with sharing cross functional reports due to PowerBI only showing whatever is visible to their default role regardless of whether they have permission to use a cross functional db role for reporting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-11 21:36] markingmyname commented on #570
@chriskuech There should not be a different process for creating the cert for Edge/Firefox.  There is a different process if you use OSX as your OS.

Please contact - pbicvsupport@microsoft.com - for additional support and questions.

[2019-01-11 21:37] markingmyname commented on #551
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 21:37] #551 closed

[2019-01-11 21:43] maggiesMSFT commented on #575
Hi, @mganeshphani -- It'll be great to update the docs when we get the answers. I was just suggesting that if you need the info quicker than the author can provide it, you can try those other sources.
thanks!

[2019-01-11 23:21] BoilingPointIce opened #585 ""Roles in the new workspaces" link does not work"
looks like the link "Roles in the new workspaces" in the https://docs.microsoft.com/en-us/power-bi/service-create-the-new-workspaces page is not working or not implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d
* Version Independent ID: 51900b79-f5ed-25b8-ee89-9078129bdb15

[2019-01-11 23:42] markingmyname commented on #510
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 23:43] #510 closed

[2019-01-11 23:51] markingmyname commented on #493
@gunna025 Thank you again for this feedback.  Due to some changes in the app registration tool and process, I will be updating that section in the embed for your customers and embed for you organization articles by the end of the month.

Please note that your PR was closed since I am going to make internal changes to the article and that would cause merge conflicts.

[2019-01-11 23:51] markingmyname commented on #493
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 23:52] #493 closed

[2019-01-11 23:52] markingmyname commented on #361
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-11 23:52] #361 closed

[2019-01-11 23:54] markingmyname commented on #521
@peterhel Sorry for the delayed response.

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2019-01-12 00:30] maggiesMSFT commented on #585
Great catch, @BoilingPointIce! Fixing it now. Update will be live in the next build, which will be next Monday afternoon.

[2019-01-12 00:33] maggiesMSFT commented on #584
Hi, @BenWarden -- thanks for your question.! I've forwarded your feedback to the writer, who should respond soon. In the meantime, you can also check the Power BI Community, found at https://community.powerbi.com, or go to https://support.powerbi.com.

[2019-01-12 00:34] maggiesMSFT commented on #583
Hi, @gtageek -- thanks for your question! I've forwarded your feedback to the writer, who should respond soon. In the meantime, you can also check the Power BI Community, found at https://community.powerbi.com, or go to https://support.powerbi.com.

[2019-01-12 00:35] maggiesMSFT commented on #582
Hi, @annaye2010 -- thanks for your question! I've forwarded your feedback to the writer, who should respond soon. In the meantime, you can also check the Power BI Community, found at https://community.powerbi.com, or go to https://support.powerbi.com.

[2019-01-12 00:36] maggiesMSFT commented on #581
Thanks for your comment, @adaltons. Sorry to hear it!  This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-12 00:37] #581 closed

[2019-01-13 02:18] annaye2010 commented on #582
Hi Maggie:
Thank you for your response.
I have found the answer on another post at Microsoft website:
https://blogs.msdn.microsoft.com/azuregov/2017/09/28/power-bi-premium-generally-available-for-u-s-government-users/
Power BI Premium generally available for U.S. government users – Microsoft Azure Government - blogs.msdn.microsoft.com<https://blogs.msdn.microsoft.com/azuregov/2017/09/28/power-bi-p

[2019-01-14 02:31] vquang92 commented on #573
Hi  @markingmyname , I have checked 2 different accounts of Power BI Sevices and have not yet seen this feature? Has it been released completely or is it still being processed?

[2019-01-14 05:20] rubeshd opened #586 "Typo"
Hi,
There is a typo in the doc powerbi-docs/powerbi-docs/report-server/migrate-report-server.md @ section "Migrateing from one Power BI Report Server to another".
Migrateing => Migrating
Regards,
Rubesh

[2019-01-14 05:23] rubeshd opened #587 "Typo"
Hi,
There is a typo for this doc:
powerbi-docs/powerbi-docs/report-server/migrate-report-server.md
@Migrating from one Power BI Reprot Server is the same process as migrating from SSRS (Native-mode)
Regards,
Rubesh

[2019-01-14 13:48] #536 closed

[2019-01-14 13:57] jeroenhabets commented on #536
Closed and logged: https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/36518479-workspace-preview-quickwin-improve-access-set-up

[2019-01-14 14:18] thommck commented on #563
The struggle is with all the things you mention!
We know the size of our data models and how many people are expected to interact with the dashboards and reports at certain points in the day.
If Microsoft could provide a tool or even a spreadsheet that helps calculate capacity requirements then it would help immensely

From: DavidMagarMS
Sent: Friday 11 January, 00:31
Subject: Re: [MicrosoftDocs/p

[2019-01-14 17:05] dejadee opened #588 "For Published Apps, URL Filter only works for IE 11"
Using URL parameters to filter a report works for reports in workspaces--where the URL is in the form of:
https://app.powerbi.com/groups/___/reports/___/ReportSection?filter=____

However, when the URL is for a published app, the filtered URL only works in the IE 11 browser. It does not work in Chrome or Microsoft Edge. That is, when the URL looks like:
https://app.powerbi.com/groups/me/apps/___/r

[2019-01-14 17:31] ChipDale66 opened #589 "direct query runs a query for each visual"
The above article does not explicitly state that there will be one query for every single visualization, even if the fields are coming from the same query. So your query might be :

SELECT student-id, forename, surname, address, gender, ethnicity, nationality, etc... from dimStudent join factTutortutee... where employeeID  = currentuser()

And then you use a synced slicer to choose a student and d

[2019-01-14 18:41] elelement opened #590 "Properties at .config files for PowerBI Gateway"
Hi,

I've been trying to figure out how to get a complete list of properties that can be configured in the gateway config files, located at:
`C:\Program Files\On-premises data gateway`

Looking at the gateway logs, I can see some of them, but not all are clear enough to me:
[code]

[code]

I can't find any file in the docs talking about this and where and how to set up these properties. What do th

[2019-01-14 18:59] rkostrzewa1 commented on #482
Thank you. Could you link me to the post? I am having a hard time locating it.

[2019-01-14 21:30] BenWarden commented on #584
thanks @maggiesMSFT ! I did check there, I also looked for documentation for the Snowflake.Databases function to see if I can pass role as a parameter in the advanced editor. I would expect the documentation to be here: https://docs.microsoft.com/en-us/powerquery-m/accessing-data-functions
but I haven't been able to find any documentation for what options are permitted in the third argument of the

[2019-01-14 21:32] BenWarden commented on #584
just trying `role="my_role"` inside the array as a swag didn't work

[2019-01-15 01:03] MTwem opened #591 "Loved the options"
Really appreciated having video alongside text so I can choose which one I want to use. i.e. I prefer video but when I've lost my headphones the text is better for a quiet office

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c7a5b0-75bd-3ba7-1fac-7557b790d511
* Version Independent ID: b89aefeb-6cc8-4874-e514-7a14286

[2019-01-15 10:57] RobertCazaciuc commented on #483
This is an important question - can anyone help with an answer on this?

[2019-01-15 16:19] mihart opened #592 "Test for Kathleen"
Test for Kathleen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0687089d-b79d-c566-35a5-9a03498cc168
* Version Independent ID: 30699f15-ec7a-6f19-9f86-99316656c099
* Content: [What is a Power BI ](https://docs.microsoft.com/en-us/power-bi/consumer/end-user-consumer)
* Content Source: [powerbi-docs/consumer/end-user-c

[2019-01-15 17:14] markingmyname commented on #405
@nicholas-brooks Thank you for bringing this to our attention.  The article is planned for a refresh by early next month and this suggestion should be addressed with the new updates.

[2019-01-15 17:15] #405 closed

[2019-01-15 17:20] t-val opened #593 "Clarification on external user scenarios"
Can you please provide clarification on whether it is possible to use Analyze in Excel with external (Azure AD B2B) users?  In my experience, you cannot get past the Forbidden message even if the external user has a Power BI Pro license.  Perhaps the issue is that the user is being redirected to the /common AAD login endpoint instead of the tenant specific one?  Since a datasest only lives in a si

[2019-01-15 17:39] davidiseminger commented on #586
Thanks for your comment and close read, @rubeshd. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:39] davidiseminger commented on #587
Thanks for your comment and close read, @rubeshd. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:41] davidiseminger commented on #588
Thanks for your comment, @dejadee . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:41] davidiseminger commented on #589
Thanks for your comment, @ChipDale66 . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:43] davidiseminger commented on #590
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2019-01-15 17:43] #590 closed

[2019-01-15 17:43] davidiseminger commented on #591
Great! Thanks for taking the time to comment @MTwem - much appreciated. Glad you liked the video!

[2019-01-15 17:43] #591 closed

[2019-01-15 17:44] davidiseminger commented on #593
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2019-01-15 17:44] #593 closed

[2019-01-15 17:46] davidiseminger commented on #579
Thanks for your comment, @darthwalsh. We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:46] davidiseminger commented on #580
Thanks for your comment, @buildbod . We’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-15 17:54] t-val commented on #593
Ok, then my feedback is the documentation is insufficient/incomplete because it does not discuss whether the feature is available to external users.

[2019-01-15 18:54] bbrown44 commented on #495
Documentation is out of date.

documentation after "Validating the role within the Power BI service" is no longer a function in power bi service portal.

[2019-01-16 12:49] ChipDale66 opened #594 "does dual storage mode work in Power BI Service?"
This article is about Power BI Desktop Client. I want to know if dual storage mode works in Power BI Service.

thanks
Andrew

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d807f76-0284-c917-4e56-b5c897c9ed61
* Version Independent ID: e837a12c-fa26-ea56-cfb3-46ac87a1843c
* Content: [Use storage mode in Power BI Desktop

[2019-01-16 13:32] markingmyname commented on #521
@peterhel can you try this version of the NuGet package? -https://www.nuget.org/packages/Microsoft.PowerBI.Api/2.1.1

[2019-01-16 18:46] #592 closed

[2019-01-16 18:49] mihart commented on #577
Hi @apfenech ,
I've updated the document with this information.  Thank you so much for letting me know.

[2019-01-16 18:49] #577 closed

[2019-01-17 04:41] eased commented on #177
Can you drill through to details with OOS?

[2019-01-17 06:23] ian-barker opened #595 "Missing semi-colon in code for step 10"
The code in step 10 that you can copy is missing the semi-colon on the max circleThickness which will mean the visual doesn't work when starting the visual in powershell.
Note that in the screenshot, it looks ok.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f573b62f-4028-ce65-b5ae-a4115ee1bcd1
* Version Independent I

[2019-01-17 08:50] SimonaMargarint opened #596 "Funnel with source"
Hi

Can writer help me to develop a funnel with source?
Thanks
SImona

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de943
* Content: [Developing a Power BI Custom Visual - Power BI](https://docs.microsoft.com/en-us/power-bi/d

[2019-01-17 10:00] Mholsen opened #597 "Make a video tutorial"
Hi,
You should make a video tutorial going through all the steps mentioned here, or get Guy in a Cube to do it.
Also, I really think that you should split these tutorials into multiple one depending on the system (eg. SAP BW or HANA etc.). Having them both/all in one guide adds to the confusion, and right now it's hard to follow along with all the jumping around.

---
#### Document details

⚠ *Do

[2019-01-17 11:02] keradin opened #601 "Barcode scanner for field, in android"
Can we expect the great functionality of mobile Power BI, also for android smartphones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a19d0436-4c82-5830-5ad6-3cc8b4281ff5
* Version Independent ID: fc73c232-b9a5-e0db-e013-838d955a22d0
* Content: [Scan a barcode with an iPhone from the Power BI mobile app - Power BI](ht

[2019-01-17 12:32] mshenhav commented on #601
This is under review currently.

[2019-01-17 16:49] mgblythe commented on #594
Thanks for your comment, @ChipDale66. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-17 16:50] mgblythe commented on #595
Thanks for catching that issue, @ian-barker! We’ve forwarded it to the writer, who should respond shortly.

For future reference - you can also edit articles directly. Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer, who will sign off and

[2019-01-17 16:52] mgblythe commented on #596
Thanks for your comment, @SimonaMargarint. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-17 16:52] #596 closed

[2019-01-17 16:53] mgblythe commented on #597
Thanks @Mholsen, we're planning some improvements to the gateway docs, and I'll keep this feedback in mind. @arthiriyer as FYI.

[2019-01-17 16:54] mgblythe commented on #601
Thanks for your comment, @keradin. This looks like a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-01-17 16:54] #601 closed

[2019-01-17 19:03] KMac0615 opened #602 "New Workspaces do not provide Usage Metrics"
Being able to pull usage metrics for reports is no longer an option with the new workspaces as a SharePoint site is not automatically created anymore. What can I do to enable this feature again? I have to be able to pull usage metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11357d2a-97f6-c5d6-2a62-0d5cae1a1c3d

[2019-01-17 19:58] mganeshphani opened #603 "Is there a silent install option available?"
Hello,

Can I install and configure gateway using command line?
can you specify the instructions to that end

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f5955-e5b8-9cff-873e-4a195a462e62
* Version Independent ID: 12a87ce1-0e1b-f21c-bad3-09963e628d99
* Content: [On-premises data gateway - Power BI](htt

[2019-01-17 22:13] morgangrobin opened #604 "Supported for ADX/Kusto queries?"
Is this feature supported for Azure Data Explorer/Kusto queries? When I try to use incremental refresh with an ADX query, the oldest row is always deleted if it no longer exists in the source database, even though I have only set incremental refresh to refresh the last 1 day

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-01-17 22:17] maggiesMSFT commented on #604
Hi, @morgangrobin -- Thanks for your comment.  I've assigned it to the author, but it looks more like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-17 22:19] maggiesMSFT commented on #603
Thanks for your comment, @mganeshphani. We’ve forwarded your question to the writer, who should respond soon. Thanks!

[2019-01-18 00:49] maggiesMSFT commented on #602
Hi @KMac0615 -- thanks for asking. Usage metrics are coming to the new workspaces. I don't have an exact date to share with you. Thanks --

[2019-01-18 00:49] #602 closed

[2019-01-18 01:34] maggiesMSFT commented on #586
Thanks, @rubeshd. Good catch! Fixing these now.

[2019-01-18 01:34] maggiesMSFT commented on #587
Thanks, @rubeshd -- good catch. Fixing this now.

[2019-01-18 02:03] mganeshphani opened #605 "API(Datasets - Get Gateway Datasources In Group) not working"
Hello,

Following API always returns 404
GET https://api.powerbi.com/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.GetBoundGatewayDatasources

If this is not right place to check.. please tell me the GitHub location I can log this issue on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eba56089-7634-454b-ae

[2019-01-18 02:05] mganeshphani opened #606 "Service Principal login for PowerBI API"
Hello,

I am very desperate about to make this work for admin scenarios in our organization... can someone provide an update on this issue
https://github.com/Microsoft/powerbi-powershell/issues/51

Looks like no one is committing on timeline when this would be released

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-01-18 02:14] maggiesMSFT commented on #606
Hi, @mganeshphani -- I'm assigning this to the author, but I see you're in contact with @CodeCyclone on another GitHub issue, https://github.com/Microsoft/powerbi-powershell/issues/51. I hope they can help you resolve it!

[2019-01-18 02:15] maggiesMSFT commented on #605
Hi, @mganeshphani -- I'm assigning to the author, who may have a suggestion.  This does look like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-18 04:55] mganeshphani commented on #606
@maggiesMSFT I am not in contact with codecyclone.. looks like the docs api referenced this automatically..  if I can get a answer from powerbi PG soon on the timeline of this implementation that would be helpful

[2019-01-18 11:37] JeroenTournierSubotic opened #608 "typo"
You can download Power BI Desktop direclty, or you can get it from the Microsoft Store.

should be "directly"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7499eea2-bb50-3b31-530a-fd92911f1f92
* Version Independent ID: 8eecfe46-e9bc-c78a-077f-1d048ef22a28
* Content: [Quickstart Connect to data - Power BI](https://docs

[2019-01-18 15:13] herrbpl opened #609 "Incredibly unoptimized preview data load for Azure Consumption Insights"
Azure Consumption Insights data preview is incredibly inefficient. For each step taken in query editor, PowerBI proceeds to download nealry 100MB of data. If you have query of any complexity, you download tens of gigabytes of data while moving at snail pace with development.

It make take hours to complete your query because of this VERY INFURIATING issue.

Can there be any kind of caching for thi

[2019-01-18 16:46] aaronboock opened #610 "cached settings"
I incorrectly selected oAuth for the authentication method.  The installation failed.  Whenever I retry the installation, I am not able to select authentication method.  It appears my selection is cached in a way I am unable to clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe108af-9a54-8fc1-ff18-7b9d141576eb
*

[2019-01-18 19:55] MiroslawK commented on #526
This optron is not available in the Polish language version.
The association of actions on the button also does not work (bookmark).

[2019-01-18 21:08] tomaskutac opened #611 "Using standard HANA CDS views in Power BI"
Hello, I am able to connect standard CDS views from SAP HANA database but it always return only empty table. I identified that it is because these CDS views are taking client ID from connection session. In SAP you provide client id when you are connecting to SAP. Is there any way how to specify client id for connection session so this views will work? This text in CDS view identify client handling

[2019-01-19 07:16] pottie08 opened #612 "Columns added during Power Query Mash-up"
While working with my PDF imported data I have found that "non-existent" columns are added while removing other columns. These columns are then referenced later when doing for example a columns re-order. For example: Columns 1 to 20 are loaded from a PDF import. When removing columns 7 to 13, a new column, column 21 is added at the end (which didn't exist in the original import). When reordering c

[2019-01-19 18:03] jakeyu22 commented on #449
Is there no current way in Power Bi to create custom bins as in kcmelbourne's example? Seems like a fairly simple request

[2019-01-21 05:41] devudu opened #613 "Y-Axis title"
I did not find any option to set the Y-Axis Title anywhere.  By default it is empty and I don't see any property to set this in any of the tabs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b02cab33-595c-5e4f-0f93-5a129198be4d
* Version Independent ID: 8e8609ea-6858-5b34-cb19-f8de8a0420e3
* Content: [Use ribbon charts

[2019-01-21 15:36] markingmyname commented on #608
Good eye, @JeroenTournierSubotic! We’ve forwarded it to the writer, who should respond soon. Thanks!

And @JeroenTournierSubotic, did you know: For minor things like typos, you yourself can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly

[2019-01-21 15:45] markingmyname commented on #609
Thanks for your comment, @herrbpl.

Your contribution is much appreciated. Our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.

If you have any feedback related to the documentation, please feel free to log in through this channel.

We truly appreciate your contribution t

[2019-01-21 15:45] markingmyname commented on #609
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 15:46] #609 closed

[2019-01-21 15:55] markingmyname commented on #610
@aaronboock Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

Thanks for your comment, @mortenf. I don't believe that requirement has changed, but we’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-21 15:58] markingmyname commented on #611
@tomaskutac Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

Thanks for your comment, @mortenf. I don't believe that requirement has changed, but we’ve forwarded your feedback to the writer, who should respond to this thread shortly. Thanks!

[2019-01-21 16:04] markingmyname commented on #612
Thanks for your comment, @pottie08. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com. Please keep in mind this is still a preview feature.

[2019-01-21 16:04] markingmyname commented on #612
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 16:04] #612 closed

[2019-01-21 16:05] markingmyname commented on #613
@devudu  Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thanks!

[2019-01-21 16:16] markingmyname commented on #586
@rubeshd This is now corrected.  Thank you again for bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-01-21 16:16] #586 closed

[2019-01-21 16:18] markingmyname commented on #587
@rubeshd This is now corrected. Thank you again for bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-01-21 16:18] #587 closed

[2019-01-21 16:23] markingmyname commented on #608
@JeroenTournierSubotic Again, thank you for bringing this to our attention. The update should be live in a few days.  Thank you.

[2019-01-21 16:24] markingmyname commented on #608
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 16:24] #608 closed

[2019-01-21 17:57] cfharp opened #614 "Access Token via pure JS"
As the title suggests, any recommendations on obtaining the access token via pure JS? I have a project where I'm working without real access to the backend. I could build another web service to retrieve an access token, but if there's a pure JS method to already do the same I would rather go with that. Any ideas?

[2019-01-21 18:32] epcastanza opened #615 "Share with external users in future with Azure business to business (B2B) ?"
This seems like a pretty good feature for us. Is there any plan to add support for external guest users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197c1f9-ff31-f86c-faf3-ab89e4ab9573
* Version Independent ID: f30cdf40-43c4-e0c3-4941-a02f5bb28fc1
* Content: [Embed a report in a secure portal or website - Power BI]

[2019-01-22 06:31] patrickbutler commented on #255
Hello, can we get an update on the EM1skus? How can we purchase these?

[2019-01-22 06:46] MattPWills opened #616 "Great resource"
Great resource on embedding all in one place, we've had to work out a lot of the above the hard way, really glad to see it all in one place this will be a great reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f5100bb-a81a-f5e1-bfb3-8c9c3226adde
* Version Independent ID: 5eeab31f-5955-8db8-2423-3f8cb2effab8
*

[2019-01-22 09:58] pottie08 commented on #612
Thank you Mark. Noted. Prinsloo

From: Mark Ghanayem <notifications@github.com>
Sent: Monday, 21 January 2019 18:04
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: Prinsloo Potgieter <ppotgieter@foxprojects.co.za>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Columns added during Power Query Mash-up (#612)

Thanks for your comment, @pottie08<h

[2019-01-22 12:08] Borfnog commented on #312
I second this comment - should we be able to select 1+ columns for relationships? The repeated use of column(s) plural is confusing.

[2019-01-22 14:29] LinkOps opened #617 "Typo"
4. Past the report URL into the property pane. This report URL is the URL you copied from the steps above. The report loads automatically.

Should read

4. Paste the report URL into the property pane. This report URL is the URL you copied from the steps above. The report loads automatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-22 15:37] Swimshow commented on #62
Same problem here... Grey screen of death.

[2019-01-22 23:10] markingmyname commented on #511
@ferrety2006 - Apologizes for the delayed response.

Please submit your feedback on the ideas page  -  https://ideas.powerbi.com and on the community page - https://community.powerbi.com, as referenced by Maggie earlier.

Also please reference the performance page about how to improve your Embedded experience - https://docs.microsoft.com/en-us/power-bi/developer/embedded-performance-best-practices

[2019-01-22 23:10] markingmyname commented on #511
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:12] markingmyname commented on #521
@peterhel The article is scheduled to be updated with this new information sometime in February.

Hope this helps.

Thank you.

[2019-01-22 23:12] markingmyname commented on #521
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:12] #521 closed

[2019-01-22 23:20] markingmyname commented on #606
@mganeshphani We are working on this exact issue.  There is another update planned for this topic sometime in the next month or two.  No exact date is known yet.  I apologize I do not have a more direct answer, but we are still discussing this topic.

[2019-01-22 23:22] markingmyname commented on #615
@epcastanza There is a plan to add support for external guest users, but no specifics yet.  I would check back around April if there are updates.  I apologize I do not have a more direct timeline for you.

Thank you.

[2019-01-22 23:22] markingmyname commented on #615
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 16:02] tcpaddock commented on #584
We also need this capability. I tried the following step in Advanced Editor with no luck:
`Role = Source{[Name=<Role Name>,Kind="Role"]}[Data],`

[2019-01-23 17:38] rkostrzewa1 commented on #482
Hi, could you link me to the post you created? I can't find it. @mihart

[2019-01-23 17:51] mihart commented on #617
Hi @LinkOps ,
Good eye!  Thank you for passing this along.  The article author will fix this asap.
Take care,
The Power BI DOCS team

[2019-01-23 19:51] nabjad commented on #266
any new update on this porblem? Im having it too

[2019-01-23 19:56] tofu001 commented on #363
Hi again @maggiesMSFT, have you heard anything about this?

[2019-01-24 11:35] tomgilmour opened #618 "Version History - January 2019 release"
Could the version history be updated with the January 2019 release please, as on: https://docs.microsoft.com/en-us/power-bi/report-server/changelog

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b388ff1b-9b08-2ac3-bb06-125115c96758
* Version Independent ID: f7b5f58c-9219-e9f8-2b3f-ae39b0c278f3
* Content: [Support timel

[2019-01-24 14:22] jvincke opened #619 "There is no option to specify tenant ID in a multitenant environment"
There is no option to specify tenant ID in a multitenant environment. Adding ?tenant=sometenantid to the URL does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd3eb8d-0f4f-e8cd-7ed3-5ceccc433ddd
* Version Independent ID: 2164905a-fae3-c9e8-a62f-08d9b7ac95de
* Content: [Connect to Microsoft Dynamics NAV wit

[2019-01-24 15:05] crathermel opened #620 "two-factor authentication"
Does this content pack support github two-factor authentication ? Doesn't seem to be working for me. The console log in chrome shows several 400 requests after the pop-up. But the pop-up just open to a white screen and then closes but doesn't log me in..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c027250-07bf-8656

[2019-01-24 15:41] crathermel commented on #620
Actually it doesn't look to be two factor related since my account is two factor but I just can't connect to my other organization.. What settings need to be set for this to work on the org/repo level?

[2019-01-24 17:06] maggiesMSFT commented on #618
Hi @tomgilmour -- right you are! I'll be updating it today or tomorrow. Thanks!

[2019-01-24 17:52] maggiesMSFT commented on #619
Thanks for your comment, @jvincke.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2019-01-24 18:01] maggiesMSFT commented on #620
Hi, @crathermel -- Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2019-01-24 18:02] ThomasDay opened #621 "Personal Bookmarks"
Users of a .pbix model on the power bi service who click "Learn More" about Personal Bookmarks will be baffled by the full documentation on this page.  I would recommend adding a section or a separate page for this spectacular new feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e579557-27e4-8a24-69b7-55189b0f4

[2019-01-24 18:07] maggiesMSFT commented on #621
Hi, @ThomasDay -- thanks for your suggestion. We’ve forwarded your feedback to the writer, who should respond shortly. Thanks!

[2019-01-24 18:52] ThomasDay commented on #621
Thanks...I'd suggest some or all of the announcement page
<https://powerbi.microsoft.com/en-us/blog/announcing-personal-bookmarks-in-the-power-bi-service/>
sent by Nikhil Gaekwad
<https://powerbi.microsoft.com/en-us/blog/author/nikhilga/>

On Thu, Jan 24, 2019 at 1:07 PM Maggie Sparkman <notifications@github.com>
wrote:

--
*The unity of freedom has never relied on the uniformity of opinion.  JFK

[2019-01-24 20:48] markus-zhang opened #622 "Numeric slicer unnecessarily shows values in between"
Hi experts,
I'm confused about this anti-feature, basically I have a column of fixed dates like this:
2018-11-01
2018-11-08
...
But if I put up a slicer on this column, all dates are shown.
Did I do anything wrong? Why would I want to see all values in between?
Thanks...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2019-01-25 14:04] timoleo23 opened #623 "How to change the API Key ?"
My data source is pluged on my enrollment and I need to change the API Key : how can I do that ?
I don't see we to change this property of the data source.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e71361e-a9bb-89ee-27ee-7e38a60914a0
* Version Independent ID: df5a9b26-4eb1-a396-1c84-9f3ec6232753
* Content:

[2019-01-25 14:06] nicolaslledo opened #624 "Applying user and role to an embed token sample is broken"
The example refering to Home\HomeController.cs line 76 and 77 .
The code has been refactored into Services\EmbedService.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61878b62-89e5-e60a-4995-74d9650ca3e6
* Version Independent ID: 378733df-8807-3274-dcf3-3e2aa40a78c0
* Content: [Use row-level security with Power BI e

[2019-01-25 16:47] wolfgangstrasser opened #625 ""in" is missing in data flows documentation"
[Enter feedback here]
Hi
in the sentence "Power BI can also connect to folders with schematized data in the Common Data Model format, which are stored your organization’s Azure Data Lake Storage account. " there is an IN missing
-> I think it should be

"

Power BI can also connect to folders with schematized data in the Common Data Model format, which are stored IN your organization’s Azure Data

[2019-01-25 16:58] jzagelbaum001 opened #626 "Google Analytics Data Connector for Data Flows"
I have tried setting up Google Analytics using the blank query method shown in the article. When trying to use organizational account, I receive "Unexpected Error GoogleAnalytics: GoogleAnalytics". Using basic / anonymous authentication does not work either. Here is the M query I am attempting to use:

let
    Source = GoogleAnalytics.Accounts(),
    #"39288188" = Source{[Id="39288188"]}[Data],

[2019-01-25 17:16] pcgeekus opened #627 "Needs updated to reflect Workspace 2.0"
Needs updated to reflect Workspace 2.0 where O365 Groups are not used and Edit screens change/differ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19005ba4-1b45-4a5e-2335-3408eaaffbf5
* Version Independent ID: 3587ce6f-8a2f-34c4-e00b-c28985833249
* Content: [Manage your app workspace in Power BI and Office 365 - Power

[2019-01-25 17:38] nicheplayer opened #628 "Desktop version"
As of this writing, the link above that supposedly goes to the Desktop version optimized for report server January 2019 actually goes to the optimized for August 2018 version. And trying to search the Download Center for these optimized desktop versions is a bit of a mess.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-25 18:39] maggiesMSFT commented on #627
Hi, @pcgeekus -- thanks for your comment! This article isn't updated yet because workspaces 2.0 are still in preview. That's why this article has that Note at the top linking to the article about the new workspaces. When the new workspaces are generally available (GA), we'll update all the docs to reflect that. I for one can't wait!
Thanks again!

[2019-01-25 18:39] #627 closed

[2019-01-25 19:13] almartinezos opened #629 "R package"
Hi. The R package smooth is very useful to forecast time series with mobile average model. Do you have planned to introduce it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df17e088-5cff-4882-79fc-cc7deb09843d
* Version Independent ID: 641ddc87-0314-47c4-bee7-684ebe7f8e6e
* Content: [Learn which R packages are suppor

[2019-01-25 19:23] kfile commented on #622
Hi @markus-zhang and thanks for your question. Thanks for your comment, @[github person who posted]. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-01-25 19:23] #622 closed

[2019-01-25 19:35] kfile commented on #623
Hi @timoleo23 and thanks for your question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-25 19:35] #623 closed

[2019-01-25 19:38] kfile commented on #624
Hi @nicolaslledo. Thanks for your comment. I've assigned it to the author, Mark. He will probably need to work with engineering to come up with improved sample data. Please be patient with our process. Thanks.

[2019-01-25 19:39] kfile commented on #625
Hi @wolfgangstrasser. Thanks for letting us know about the typo. Did you know that you can submit a public PR and make the change yourself in the future? I've assigned to the author, meanwhile.

[2019-01-25 19:41] kfile commented on #626
Hi @jzagelbaum001 and thanks for your question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-25 19:41] #626 closed

[2019-01-25 19:43] kfile commented on #629
Hi @almartinezos and thanks for the suggestion. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-01-25 19:43] #629 closed

[2019-01-25 20:45] jzagelbaum001 commented on #626
Well, if the feature doesn't work eventhough multiple people have tested trying to follow the documentation, then not entirely sure I would consider this closed.

[2019-01-25 22:33] mllopis commented on #626
Google Analytics works fine today – both with and without an On-prem gateway.

Here’s what you need to do:

1.	Select “Blank Query”.
2.	Paste in the query you created using Power BI Desktop.
3.	You will get an error “Specify how to connect” in the Power Query Editor if it is the first time you connect to Google Analytics. This error has a “Specify Credentials” button next to it.
4.	Within the Cred

[2019-01-26 13:59] pcgeekus commented on #627
Any idea when it will go GA?

On Friday, January 25, 2019, Maggie Sparkman <notifications@github.com>
wrote:

[2019-01-26 14:01] jainn4 commented on #539
Hi there,

I have noticed that the December desktop version doesn't have the same options as I can see in the service. You can see the screenshot below

**### Options in Service**
![filter_pane_service](https://user-images.githubusercontent.com/42496773/51788154-ad5c3380-2172-11e9-8682-0524e919b05e.PNG)

**### Options in Desktop**
![filter_pane_desktop](https://user-images.githubusercontent.com/42

[2019-01-26 14:03] jainn4 opened #630 "Different options in Service vs Desktop for "Filter Cards""
Hi there,

I have noticed that the December desktop version doesn't have the same options as I can see in the service. You can see the screenshot below

**### Options in Service**
![filter_pane_service](https://user-images.githubusercontent.com/42496773/51788154-ad5c3380-2172-11e9-8682-0524e919b05e.PNG)

**### Options in Desktop**
![filter_pane_desktop](https://user-images.githubusercontent.com/42

[2019-01-28 08:11] linhdh9 opened #631 "Error interacting with REST API using Google Bigquery connector"
I'm running into this error when trying to create a direct query connection to BigQuery using the built-in Google BigQuery connector

DataSource.Error: ODBC: ERROR [HY000] [Microsoft][BigQuery] (100) Error interacting with REST API: Not found: Job [project-id]:[job-id]
Details:
    DataSourceKind=GoogleBigQuery
    DataSourcePath=GoogleBigQuery
    OdbcErrors=Table

I follow the tutorial in this [

[2019-01-28 10:52] reza-h78 opened #632 "Cannot see Drillthrough filters"
I am on PowerBI Desktop (December 2018) and I cannot see the Drillthrough filters under FILTERS panel. Has this been removed in later updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8caeb04f-19a3-320d-2bfa-147c5377728e
* Version Independent ID: d3785a20-eeaa-a3a0-5198-b6a4c8fd475b
* Content: [Use drillthrough i

[2019-01-28 16:19] dilanarandara opened #633 "PowerBI rest API examples for Embedding report"
Could you please provide PowerBI rest API examples for Embedding report?

[2019-01-28 17:21] jzagelbaum001 commented on #626
Hi Miguel,

Not sure if you’re in a different tenant or what (have tested on both North Central US (Illinois) & Southeast Asia (Singapore) tenants), but when I follow those steps I continue to receive this error when trying to authenticate using an organizational account:

[cid:image001.jpg@01D4B6FB.A0C7C440]

Here is the M query that I am pasting in to the blank query window:

let
    Source = Go

[2019-01-28 21:31] jordanmills opened #634 "Need documentation on programmatically adding data sources"
I have a list of a few hundred data sources to add.  How do I do that without tippy-tapping every one of them in manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58eaf5cf-f2f4-785c-a766-38e1868bf820
* Version Independent ID: 5f8db39f-c5bd-c7ce-5258-c8b47cb83c7f
* Content: [Manage your data source - SQL - Power

[2019-01-29 10:11] sjkp commented on #562
I got it fixed now. Apparently as stated on this thread https://community.powerbi.com/t5/Service/Power-BI-Dataflow-to-Azure-Data-Lake-Gen2-Setup/td-p/583564/highlight/true/page/5 storage explorer 1.61 is buggy and cannot set the permissions correct :/

[2019-01-29 10:11] #562 closed

[2019-01-29 11:23] cbailiss commented on #486
@Simon999 For Power BI, it is part of the Service and does not need to be set up separately.  I suspect most users do not know it is being used / exists.

[2019-01-29 14:07] osmanerzinclioglu opened #635 "Couldn't get this working."
Sadly, we haven't gotten this app working yet. We keep getting a Marketo error related to the number of calls being made by Power BI to retrieve the data. (Error 606: The number of calls in the past 20 seconds was greater than 100.)

We let the app run for five days consecutively, having selected the minimum number of months (1). The app made between 23,000 to 43,000 API calls each day, but never

[2019-01-29 14:31] LisandroSu opened #637 "Notes tutorials custom visual"
@FANOUCHKA commented on [Tue Jan 29 2019](https://github.com/MicrosoftDocs/powerbi-docs.fr-fr/issues/8)

**Developing the visual elements**
Replace 9.In PowerShell, start the custom visual. "pbiviz" by "pbiviz start"

and

**Adding custom formatting options**
Missing a ";" in typescript code
10.In the update method, after the declaration of the radius variable, add the following code.
this.visualS

[2019-01-29 14:31] LisandroSu commented on #637
Hi team,

Please check on this issue.

Thanks!

[2019-01-29 14:44] jzagelbaum001 commented on #626
Hi Miguel,

Wondering if you would humor me and test it on either of the Power BI tenants that I listed?

Thank you,

Jared Zagelbaum
Senior Consultant | BlueGranite, Inc.<https://www.blue-granite.com/>
m: (651) 431-0035 | p: (877) 817-0736 ext. 717
jzagelbaum@blue-granite.com<mailto:jzagelbaum@blue-granite.com>

From: Jared Zagelbaum
Sent: Monday, January 28, 2019 11:22 AM
To: 'MicrosoftDocs/powe

[2019-01-29 16:18] tcpaddock commented on #584
Microsoft Support says Role is not supported. I've submitted a request to add here: [https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/36665524-add-support-for-role-in-snowflake-connector](https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/36665524-add-support-for-role-in-snowflake-connector)

[2019-01-29 18:01] mihart commented on #631
Hi @linhdh9 ,
Thank you for your feedback.  I've forwarded your question along to the author, who will respond as soon as possible. We appreciate your contribution to our documentation.
The DOCS team.

[2019-01-29 18:02] mihart commented on #632
Hi @reza-h78 ,
Thank you for your feedback.  I've forwarded your question along to the author, who will respond as soon as possible. We appreciate your contribution to our documentation.
The DOCS team.

[2019-01-29 18:03] mihart commented on #633
Hi @dilanarandara ,
Thank you for your input.  I've forwarded your question along to our "embedded" author.  He'll respond as soon as possible.  We appreciate your contribution to the Power BI docs.
- The DOCS team

[2019-01-29 18:06] mihart commented on #634
Hi @jordanmills ,
Thank you for your question.  I've forwarded it along to the article author, who will respond as soon as possible.  We really appreciate your contribution to our docs.
Take care,
The Power BI International DOCS team

[2019-01-29 18:11] mihart commented on #635
Hi @osmanerzinclioglu  and @SarinaJoan ,
Thank you for letting us know about this issue.  This sounds like a product issue and not a documentation issue.  Please post on the community forum for a quick response.  The URL for the forum is:
community.powerbi.com

Take care,
The international DOCS team

[2019-01-29 18:11] #635 closed

[2019-01-29 18:14] mihart commented on #637
Hi @LisandroSu and @Fanouchka,
Thank you for your documentation feedback.  I've forwarded this info along to the author, who will respond as soon as possible.
Take care,
The international DOCS team

[2019-01-29 18:16] mihart commented on #630
Dear @jainn4 ,
Thank you for your feedback and attention to detail.  I've forwarded your observational along to the doc author, who will respond as soon as possible.  We truly appreciate your contributions to the documentation.
Take care,
The international DOCS team

[2019-01-29 22:10] saurius commented on #533
Still not working :(

[2019-01-30 04:53] mihart commented on #613
Hi @devudu ,
I am not able to add a Y axis title either.  I was able to add data labels, which helps.
Since this seems to be a product issue (not a docs issue), please post this on the community forum:
community.powerbi.com.
Thanks,
The international DOCS team

[2019-01-30 04:53] #613 closed

[2019-01-30 05:30] jameskim1701 opened #638 "Unable to select time and day"
Hi, is there a reason I'm unable to set the Time as shown in the screetshots?
I'm able to set only Daily and Weekly frequency however the Time and day (Sunday - Saturday) is not available.
I have the Power Bi Pro edition and also can set only the standard subscription?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-01-30 07:39] lehmus commented on #557
Hello, any insights on this?

[2019-01-30 07:51] Mike-Honey opened #639 "New build silently released: 2.65.5313.1381 64-bit (December 2018)"
I just noticed there is a new build of Power BI Desktop that was silently released (not prompting to update, no info in blog).  It's dated 16 Jan 2019, but Options/Diagnostics shows: 2.65.5313.1381 64-bit (December 2018).  By my count that's at least the 4th build released labelled "December 2018" - some kind of record.

I haven't done much with it yet but it hasn't obviously broken (or fixed) any

[2019-01-30 16:33] mtzupan opened #640 "New documentation needed"
The directions for how to 'Manage Gateways' is now obsolete. The 'gear' graphic no longer exists in the latest released version of PowerBI.

Version: 2.65.5313.1381 64-bit (December 2018)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87176394-a2d4-7e3d-922e-d124d59fe9c5
* Version Independent ID: 99c3109b-b094-1300-86e

[2019-01-30 17:40] mihart commented on #638
Hi @jameskim1701
You can only set the days of the week if you choose Weekly.  Have you selected Weekly and still can't choose days of the week?
Thanks,
Michele

[2019-01-30 19:07] mtzupan commented on #640
Update - please specify in this document that the 'Manage gateways' option is through the PowerBI web app, not the Desktop app :)

[2019-01-30 19:17] guvijaya opened #641 "Fix the feedback email link"
pbicortanasg is no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01469f26-0e17-b9ac-851b-a19aa8f39fcf
* Version Independent ID: 17b3a3ce-0963-39dc-fc5b-cf8df728ce91
* Content: [Quickly find and view your reports and dashboards using Cortana - Power BI](https://docs.microsoft.com/en-us/power-bi/service-co

[2019-01-30 20:31] maggiesMSFT commented on #638
Hi @jameskim1701 -- also, the new functionality is still rolling out, so you may not be able to see it yet. Give it a day or so and try again.
Thanks!

[2019-01-30 23:23] SeaDude opened #642 "Relationship Link and Image of Final Result"
Hello,
Great tutorial, thank you. It would be very beneficial to have a link to the "faster" method (using relationships) in the Tip.
Also, would love to see a final view of the table. After reading all the way through the doc, I want to see the result, but its missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5

[2019-01-31 03:59] Tobeornottobethatisthequestion commented on #638
Hello, I have full admin rights and as of this morning don't have any daily/weekly or other time selection. All I get is a message saying " You will be sent an email whenever the data is updated, but no more than once per frequency selected". But there is no option to select any frequency and there always was up until yesterday. Is there something happening with the latest release that's a bug?

[2019-01-31 05:16] jameskim1701 commented on #638
Awesome. Found another article that says it will be rolled out on the 2nd Feb for everyone.
thanks!

[2019-01-31 11:17] alfatema opened #643 "Max Length"
Hi!

I try to fetch data from SAP BW, but I see only first 133 symobls or less.

Execution mode = BasXmlGzip
Batch size = 500000
Data Connectivity mode = Import
Implementation = 2.0 (requires SAP .NET Connector 3.0)

But I see full text when I connect to the cube throught Excel Analysis Services.

How can I fetch full text from SAP BW with Power BI?

---
#### Document Details

⚠ *Do not edit this

[2019-01-31 12:33] carps84 opened #644 "Disable refreshing of offline datasets"
So it looks like you have added a feature to disable the refreshing of certain datasets from within power query e.g. offline files, however, the power BI schedule refresh service ignores this and try to connect anyway resulting in a total failure. Is this a bug or a feature? Can Power BI scheduler not see the setting applied in the power query on power BI desktop?

---
#### Document Details

⚠ *Do

[2019-01-31 15:47] mgblythe commented on #639
Thanks for your comment, @Mike-Honey. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-31 15:48] mgblythe commented on #640
Thanks for your comment, @mtzupan. We're planning a gateway docs update, and we'll include this.

[2019-01-31 15:50] mgblythe commented on #642
Thanks for your comment, @SeaDude. We appreciate the positive feedback. We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-01-31 15:52] mgblythe commented on #643
Thanks for your comment, @alfatema. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-01-31 15:52] #643 closed

[2019-01-31 17:41] markingmyname commented on #606
@mganeshphani I will update this particular issue, but not the other one.  Please reach out to the Power BI Community, found at https://community.powerbi.com to see if there is a beta testing sample that can be shared. If not, you can get support by going to https://support.powerbi.com.

[2019-01-31 18:03] aroach337 opened #645 "Add MarkLogic to list of supported DirectQuery sources"
MarkLogic has been added to the list of DirectQuery drivers in the December release.  Can this source be added to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3332c2-1973-ba6d-8b13-20185f3178a8
* Version Independent ID: 09b16196-3c5e-8a12-edee-d1c095ebc6d0
* Content: [Data sources supported by Di

[2019-01-31 18:05] maggiesMSFT commented on #644
Hi, @carps84 -- Thanks for your comment. We’ve forwarded your feedback to the writer. In the meantime, you might find a solution in the Power BI Community, found at https://community.powerbi.com, or the support site, https://support.powerbi.com. Thanks!

[2019-01-31 18:08] maggiesMSFT commented on #641
The update is live now. Thanks again for pointing that out!

[2019-01-31 18:08] #641 closed

[2019-01-31 18:10] maggiesMSFT commented on #645
Thanks for your comment, @aroach337.  We’ve forwarded your feedback to the writer, who should respond soon. Thanks!

[2019-01-31 20:02] woodbridge commented on #554
hey, this is on the backlog but we're not sure when it'll land!  We're working on it though :)

[2019-01-31 21:21] jsh121988 opened #646 "Icons need to be updated"
The icons when for visual interactions have changed since the December 2018 update I believe. This document still contains images of the old icons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7c372d-539c-5857-01c5-8a8d835380a8
* Version Independent ID: 08d1564e-d1dc-ae37-8147-ef21c80feccc
* Content: [Change how vi

[2019-01-31 22:34] maggiesMSFT commented on #554
Thanks, @atxjd, for asking, and thanks, @woodbridge, for answering. I'll close this issue now.
cc @SarinaJoan

[2019-01-31 22:34] #554 closed

[2019-02-01 00:06] maggiesMSFT commented on #588
Hi, @dejadee -- I've checked with the product team. They point out a clarification I need to add to the article:
Links to reports in an app have a query parameter (ctid) that gets added to the URL. Query parameters need to be separated by &’s. So you need to append the query with “&filter=” (after the ctid parameter) instead of “?filter=”. Like this:
app.powerbi.com/groups/me/apps/<app-id>/reports

[2019-02-01 00:43] maggiesMSFT commented on #630
Hi, @jainn4 -- good eye! Yes, you're right, different options right now. They'll be the same soon, with the next release of Power BI Desktop.

[2019-02-01 00:43] #630 closed

[2019-02-01 00:47] maggiesMSFT commented on #646
Hi, @jsh121988 -- thanks for your comment! We've passed your feedback on to the author, who respond soon. Thanks again!

[2019-02-01 12:36] jainn4 opened #648 "Capability to rename the title"
Hi,

This is more of a feedback. Can we add the functionality of renaming the title of each filter to make it more meaningful for the end user (assuming you already don't have it on your roadmap 👍

Thanks
Nishant

[2019-02-01 14:18] DeanGross opened #649 "Page navigation suggestion"
When on this page, the is nothing highlighted on the left side navigation to indicate where this content is in the overall documentation hierarchy which is a little confusing. It would be helpful if this could be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f546db7-20fa-c87d-f7a4-a0a931f47e05
* Version Indepe

[2019-02-01 14:21] DeanGross opened #650 "Connection to other classification tools in O365"
Is this data classification connected to the Classification labels for SharePoint Sites, Office Groups and Teams? I don't think that it is, but it should be. Can you please confirm my assumption and let us know if there are any plans to make this type of connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460b976

[2019-02-01 14:30] chris586 opened #651 "Insufficient info"
This page is referenced in the community.powerbi  pages.  The info here is extremely simple and doesn't cover advanced sorting, e.g. how to change sorting to be based on anything other than alphabetically and by visible dimensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d720907-1bee-2523-b53b-a1f2ffad1bfc
* Ve

[2019-02-01 14:52] DeanGross opened #652 "Workspace State"
What are the State options in Workspaces table and how are they defined? I see some that are "Active" but they don't contain any content, which is confusing. I also see some that are "Removing", does this mean that the associated Office Group has been deleted, or something else. Please provide some additional information about the data in table shown on the Workspaces page

---
#### Document Detai

[2019-02-01 17:56] #588 closed

[2019-02-01 23:37] mhaarbrink opened #653 "CredSSP and Failed Deployment"
This doesn't seem to be working anymore.  Marketplace offering has been trying to deploy for almost 2 hours without success.
 Looks to be hung up on the REPORTVM/configureRSServer extension.

Deployed the VM's directly from their gallery image reference without the extensions to see what might be going on and ran into the CredSSP issue.  I was connecting from a patched Windows 10 system, so it loo

[2019-02-02 05:45] adarshmadrecha commented on #181
Bookmarks are also available in free version of Power BI Desktop.

[2019-02-03 10:08] johnz-bys commented on #126
@AnthonyBe , any luck in your searching? I ran into this page as well when I wanted to add onedrive excel file as one more source to an existing dataset, but cannot figure out how to do that in Power BI Desktop..

[2019-02-04 07:03] AnthonyBe commented on #126
Is it possible, but unfortunately given it was 6 months ago I can't remember how I did it, and I no longer have access to the environment where I set this up to back and validate.

[2019-02-04 08:42] Prezentter commented on #653
I was having the same issue. When I tried to login, it just said "An authentication error has occurred. The function request is not supported. This could be due to CredSSP encryption oracle remediation."

The steps to fix this were detailed at https://support.microsoft.com/en-au/help/4295591/credssp-encryption-oracle-remediation-error-when-to-rdp-to-azure-vm

The most common scenario is that the c

[2019-02-04 08:58] Prezentter commented on #653
Spoke too soon! I can connect to the VM, but the VM has nothing in it. The Desktop just has a recycle bin and a "SQL Server getting started" IE icon. It seems this VM needs updating as it doesn't work!!

[2019-02-04 10:11] subashsivaji opened #654 "App Access"
When publishing an App - under Access tab what methods of individuals we can add? Can you please explicitly mention the methods.
Azure Active Directory Security Groups (please clearly mention it must be mail enabled)
Individual Users
Office 365 Groups?
Distribution lists?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-04 14:42] mhaarbrink commented on #653
The fix you mentioned is what I did as well.  But that means I have to change the registry to allow my computer to connect to insecure systems.  Which means the gallery image used in this deployment is _not_ running the patch for this.

The reason the VM is empty, I believe, is because that final script that is kicked off by the last extension in the ARM template is failing.  The ARM template buil

[2019-02-04 15:38] kfile commented on #648
Hi @jainn4  and thanks for the feedback. You've reached the documentation team. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-02-04 15:38] #648 closed

[2019-02-04 15:41] kfile commented on #649
Hi @DeanGross and thanks for the suggestion. I've assigned this to one of my doc leads but he will need to take this up with the people who develop our docs platform to see if there is interest in enhancing it.

[2019-02-04 15:43] kfile commented on #650
Hi @DeanGross and thanks for your question. I've assigned it to Amanda, who is a product PM and who owns the doc page you listed. She's the best one to answer your question. Thanks.

[2019-02-04 15:44] sloggiz commented on #336
So point number 2 in official MS doc seems to be a complete BS. It never worked with either of the mentioned options so I tried using a full connection string from tnsnames.ora and it worked.
Basically you have to use this:
(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=your_hostname_here)(PORT=your_portnum_here))(CONNECT_DATA=(SERVICE_NAME=your_service_name_here)))

[2019-02-04 15:45] sloggiz opened #655 "Point number 2 is incorrect"
I couldn't connect using the provided connection string format. After some experimentation I was able to connect using this for a Server Name field:
(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=host_name)(PORT=port_num))(CONNECT_DATA=(SERVICE_NAME=service_name)))
Please correct the documentation!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-02-04 15:45] kfile commented on #651
Hi @chris586 and thanks for your question. I've assigned this to the owner of the document who can best address your question about enhancing the doc.

[2019-02-04 15:46] mhaarbrink commented on #653
For more reference, here is the error from the deployment:
{ "id": "/subscriptions/f91cf6ff-d439-414d-90cd-6e9e809d3f0b/resourceGroups/PowerBIReporting/providers/Microsoft.Resources/deployments/reportingservices.technical-preview-20190201144555/operations/B8BAB3356C173973", "operationId": "B8BAB3356C173973", "properties": { "provisioningOperation": "Create", "provisioningState": "Failed", "timesta

[2019-02-04 16:08] adamstigall opened #656 "CSE installation issue"
I've tried to deploy this several times and have found a couple issues with the SSRSAzureInstallation.ps1 script.

1) The command after Get-AzCopy command does not download any files. I can run this command on a local PC and get the same results. 0 files downloaded.

2) No scripts directory exists in the following command when trying to dot source some PS scripts:
   ` # Load all PowerShell script

[2019-02-04 17:05] tnewton42 commented on #336
I was so hopeful, but when I try this I get an error "Attempted to read or write protected memory. This is often an indication that other memory is corrupt."

Following your example, I made sure my connection string has no carriage returns or spaces.

Oracle version 12.1.

(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=###.###.###.###)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=MYDB)))

[2019-02-04 20:49] jzagelbaum001 commented on #626
Hi Miguel,

I still need assistance with this. Would you have some time available to real time troubleshoot this with me?

Jared Zagelbaum
Senior Consultant | BlueGranite, Inc.<https://www.blue-granite.com/>
m: (651) 431-0035 | p: (877) 817-0736 ext. 717
jzagelbaum@blue-granite.com<mailto:jzagelbaum@blue-granite.com>

From: Jared Zagelbaum
Sent: Tuesday, January 29, 2019 8:44 AM
To: 'MicrosoftDocs

[2019-02-04 21:00] jzagelbaum001 commented on #626
Current error message for reference:

[cid:image002.png@01D4BC9A.615D58C0]

Jared Zagelbaum
Senior Consultant | BlueGranite, Inc.<https://www.blue-granite.com/>
m: (651) 431-0035 | p: (877) 817-0736 ext. 717
jzagelbaum@blue-granite.com<mailto:jzagelbaum@blue-granite.com>

From: Jared Zagelbaum
Sent: Monday, February 4, 2019 2:49 PM
To: 'MicrosoftDocs/powerbi-docs' <reply@reply.github.com>; 'Micros

[2019-02-05 02:32] Prezentter commented on #653
Thanks for the info. Do you know if it's possible to manually kick off the extension that's failing?  Or is this something that MS needs to fix in their VM script? Thanks

[2019-02-05 03:59] vitaly-livshits opened #657 "Reporting Services mobile report samples"
Step #2 says "Tap Reporting Services samples". However, this option does not appear to be available in the current version of the Android app. Can you please investigate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f16a650-3781-bafb-88da-25ee12d688a1
* Version Independent ID: 4fc5c657-cbae-d49c-ce67-e8ae8b503164
*

[2019-02-05 05:36] jdfancke commented on #477
Hi @maggiesMSFT -- I have also tried to upload a report using Azure Analysis Services and am having issues as per the image below.
![641941b4-58cd-4548-8e6c-14483248fa8b](https://user-images.githubusercontent.com/20044040/52254557-73551380-2962-11e9-9abf-d37881e9e5a6.jpg)

I sent a quick [tweet](https://twitter.com/jdfancke/status/1092548433393549312) to Bhavik Merchant asking him because in his [

[2019-02-05 08:00] sloggiz commented on #336
Did Power BI crash after this error? This one seems like a PowerBI issue, rather then DB. I suggest you try re-installing PBI and make sure you have the latest stable version (I tested this on Aug 2018 and on the most recent one).

[2019-02-05 12:29] hopstar opened #658 "Power Bi API doc"
At Automation & operational complexity in Power BI workspace-based isolation [https://docs.microsoft.com/en-us/power-bi/developer/embed-multi-tenancy#automation--operational-complexity-1](url)

"For example, creating a workspace for a new tenant is a common task, which needs automation. With the Power BI REST API, you can achieve full automation when creating workspaces."

In the sentence it refer

[2019-02-05 14:09] NordinLars opened #659 "The 3 worst ways to create a historgram"
I'm sorry, but I'm very annoyed by this article as I can't think of worse ways of creating a histogram than the 3 suggestions you've provided. All three of them require an additional query!?!? Just imagine how cluttered any descent data model will be if an additional table (with relationships) is created every time a user wants a histogram. I have 3 other suggestions:
1. Bin the field you want to

[2019-02-05 16:34] benjamin-holcombe opened #660 "RLS section needs updating"
RLS section needs to be updated given the January 2019 release of Power BI Report Server.
https://powerbi.microsoft.com/en-us/blog/power-bi-report-server-update-january-2019/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e43027-f0e6-928a-8c16-4401ee8d0e52
* Version Independent ID: 51c87d50-4316-c0d9-a31c-3163d1557e1

[2019-02-05 17:38] maggiesMSFT commented on #653
Hi @mhaarbrink @Prezentter -- thanks for asking! I'm investigating and will reply back when I have an answer.
thanks again --

[2019-02-05 17:41] mhaarbrink commented on #653
@maggiesMSFT We have an email conversation going on with Matt Goswell of Microsoft also.  You may ping him internally and see if he's come up with anything yet.  We sent him the link to this document and open issue.

[2019-02-05 19:11] benschmucker commented on #631
Also seeing the same issue.

[2019-02-05 22:51] maggiesMSFT commented on #477
Hi, @vishalaj1 and @jdfancke -- Support for Azure Analysis Services is coming, but isn't here yet.
thanks for asking!

[2019-02-05 23:00] kfile commented on #650
Heard back from Amanda that she's not the right person. Trying Kay Unkroth.

[2019-02-06 02:21] madhuzode opened #661 "Uploading .rdl file to Power BI Web Service is not working"
Hi,
Is the paginated report option available in Power BI government cloud?
I tried to upload my .rdl file in premium workspace in Power BI service using the steps mentioned above but i get the error message saying "This file isn't supported".  Please let me know.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2019-02-06 02:33] chrisweis opened #662 "AI workload is missing"
There is a new Power BI Premium AI workload switch, but no documentation here about it.  Would be great if you could add that.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f09b043-ca4f-8d06-16b9-19f03e89b344
* Version Independent ID: 8166553d-853a-204d-b0bf-e7380d4042d6
* Content: [Manage capacities within

[2019-02-06 07:49] sloggiz commented on #336
Very strange. I'd try one last thing (if possible) before logging a MS support ticket: connecting to a different Oracle DB to see if the error is PBI related or not.
Hope you get to the bottom of this and resolve the issue!

[2019-02-06 17:02] adamtappis opened #663 "Link Typo"
"PowerShell untilies" should presumably read Utilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3889030d-38f1-8788-119d-3615f7487f73
* Version Independent ID: f6b4aecd-1fc0-2b39-d1ac-27735f36329e
* Content: [Developer handbook overview, Power BI Report Server - Power BI](https://docs.microsoft.com/en-us/power-bi/

[2019-02-06 17:27] maggiesMSFT commented on #663
Hi, @adamtappis -- good eye! I'm fixing it today.
And did you know: For minor things like typos, you yourself can edit the doc. Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into th

[2019-02-06 17:30] rbh1 commented on #336
I'm able to connect using the instructions but it seems to time out.  Is there a limitation on the number of rows that can be imported?

[2019-02-06 18:35] gcarder opened #664 "Add specifications for if or how Azure SQL Managed Instance could be used for PBI RS."
We are considering a new deployment and the documentation does not currently specify if the database component for the report server can be on Azure SQL PaaS or Azure SQL Managed Instance.   We would prefer to not build a custom IAAS SQL Server instance just for Report Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-02-07 03:04] maggiesMSFT commented on #663
@adamtappis -- fixed now. Thanks again!
cc @markingmyname

[2019-02-07 03:04] #663 closed

[2019-02-07 03:07] maggiesMSFT commented on #519
Hi @persefer -- sorry for the delay! Answers to your two questions:
Q; Can we still share our datasets/models or use others models with reports server installation?
A: No
Q: Or sharing via cloud in Power BI Online Services required?
A: Yes
Thanks for asking!

[2019-02-07 03:07] #519 closed

[2019-02-07 05:02] sagardafle commented on #653
Hi @mhaarbrink  and @Prezentter ,

So we tested against a new VM and we could log into it from a patched machine.
We pulled the logs- it goes through and installs the update too.
The extensions are what configure and domain join and set up the security patch so you can’t do this without the extensions, that is what caused you to have a non-patched machine.
The net time to deploy one machine from t

[2019-02-07 10:51] robrien6 opened #665 "Power BI report server version numbers don't match each other or the changelog versions"
In the changelog for the January release(s) of the report server component we have these versions/builds:

Version 1.4.6969.7395 (Build 15.0.1102.235), Released: January 30, 2019
Version 1.4.6960.38798 (Build 15.0.1102.222), Released: January 22, 2019

Neither of those are shown in my Report server configuration manager having applied the first Jan release.  Report Server configuration manager sho

[2019-02-07 15:20] aidatain opened #666 "The new filter experience in Power BI - Export Excel hide filters"
Hi folks!

Awesome this new feature, congrats!! I have a question, in all of my all reports I have hidden filters (not showing in filter pane) and works great, but, when I export my data to a excel file (.xlsx) all applied filters are showing in my header file (image). I believe this header in excel should show only filters that not set a hidden filter. Will be awesome, because exists filters that

[2019-02-07 15:42] jonaselreweny opened #667 "Pic #1 is tiny"
Hi,
The first picture in this article is so tiny that it is next to impossible to see what it is trying to illustrate.

Please zoom in or make the picture clickable to get a larger version of the picture.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f09b043-ca4f-8d06-16b9-19f03e89b344
* Version Independent I

[2019-02-07 16:41] mgblythe commented on #664
Thanks for your comment, @gcarder . We’ve forwarded your feedback to the writer, who should respond to this thread shortly.

[2019-02-07 17:13] mihart commented on #658
Hi @hopstar ,
Thank you for your feedback.  I've forwarded your comment along to the author, who will respond asap.
Take care
The Microsoft Power BI DOCS team.

[2019-02-07 17:19] mihart commented on #659
Hi @NordinLars ,
Thank you for your feedback and suggestions for ways to improve the article.  I'll take a look at the article and consider your suggestions.
Take care,
The Microsoft DOCS team

[2019-02-07 17:21] mihart commented on #660
Dear @benjamin-holcombe
Thank you for your feedback.  I've passed your suggestion along to the author who will respond asap.
Take care,
The Microsoft DOCS team

[2019-02-07 17:23] mihart commented on #661
Hi @madhuzode ,
That's a great question.  I've passed it along to the article author who will get back to you asap.
Take care,
The Microsoft DOCS team

[2019-02-07 17:25] mihart commented on #662
Hi @chrisweis
Good catch.  I'll pass this along to the article author and he'll get back to you asap.
We appreciate your contribution to the Power BI docs.
Take care,
The Power BI DOCS team

[2019-02-07 17:55] Minewiskan commented on #658
@hopstar - This https://docs.microsoft.com/en-us/rest/api/power-bi/ is an API reference that is automatically generated from swagger.json. Specific steps on how to complete a task using the APIs are not documented in API references. This applies to all API references, and is based on an industry standard.
#please-close

[2019-02-07 18:30] maggiesMSFT commented on #660
Hi, @benjamin-holcombe -- good eye! Guess what? I updated it yesterday. Check it out!

[2019-02-07 18:30] #660 closed

[2019-02-07 18:32] maggiesMSFT commented on #665
Hi, @robrien6 -- thanks for asking. I've assigned your question to the author, who will reply soon. Thanks!

[2019-02-07 18:35] maggiesMSFT commented on #666
Hi, @aidatain -- thanks for asking! I'll check and get back to you when I have an answer.

[2019-02-07 18:38] maggiesMSFT commented on #667
Hi, @jonaselreweny -- thanks for asking! I've assigned your question to the author.

[2019-02-07 18:40] Minewiskan commented on #667
@jonaselreweny - Agreed. Guidelines require this first image include the whole browser, which make it tough to get a large enough screen grab in an article like this, but I'll see what I can do.

[2019-02-07 22:03] hankluhring opened #668 "The menu options have changed since this article was written."
The article says that if you click on Get Data, that under Online Services, there is an item called Power BI service. This is not true now. Now, if you click Get Data, instead of Online Services, you should click on a new item called Power BI. Then you can do what you set out to do. There is no "Power BI service" item under Online Services anymore.

---
#### Document Details

⚠ *Do not edit this s

[2019-02-07 22:26] LarissaBoydston opened #669 "Embed reports - Warnings: Some of your markup was stripped out. Try using the Embed command."
I don't get the "click here to add new content" prompt when I add in a content editor.  This seems to be key because if I try to just edit source code from the format text menu, I will add the corect code, but then get an error message of;

Warning: Some of your markup was stripped out. Try using the Embed command.

Has anyone else seen this behavior? I've tried chrome and IE, as well as embedding

[2019-02-07 23:01] maggiesMSFT commented on #668
Thanks for pointing that out, @hankluhring. I'm forwarding your feedback to the writer, who should respond soon. Thanks!

[2019-02-08 04:16] mganeshphani opened #670 "Register an application speaks about delegated powerbi permissions"
Following section
https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal#get-started-with-a-service-principal
refers to
https://docs.microsoft.com/en-us/power-bi/developer/register-app
which further speaks about permissions to be granted... while the following blog says its not required
https://powerbi.microsoft.com/en-us/blog/use-power-bi-api-with-service-principal-preview/
"

[2019-02-08 04:17] mganeshphani commented on #670
you can close the issue.. looks like I was too fast in logging it before reading caution element

[2019-02-08 05:36] maggiesMSFT commented on #670
Thanks for letting us know, @mganeshphani! I'm glad you were able to resolve the issue. I'll close this now.

[2019-02-08 05:36] #670 closed

[2019-02-08 05:39] maggiesMSFT commented on #669
Hi, @LarissaBoydston -- Thanks for your comment. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.  Good luck resolving it!

[2019-02-08 05:39] #669 closed

[2019-02-08 08:26] hopstar commented on #658
@Minewiskan I found out what the problem was. In the article your talking about workspaces and in the api their called groups.

[2019-02-08 08:26] #658 closed

[2019-02-08 12:41] mamedca commented on #516
Hi,
I actually don't even know what time period is covered in the data. Any info to that?
Best
Martin

[2019-02-08 15:44] SteveWinward opened #671 "Power BI Report Server does not support custom visuals created in R"
The docs should be updated to say that only custom visuals created in TypeScript/JavaScript are supported with Power BI Report Server.  Custom visuals that are written in R are not supported with Power BI Report Server.

For example, the Clustering with Outliers visual will not work with Power BI Report Server.

https://appsource.microsoft.com/en-us/product/power-bi-visuals/WA104380889?tab=Overvie

[2019-02-09 04:23] #653 closed

[2019-02-10 10:19] kumbol opened #672 "Adding Service Principal as workspace admin via API - how exactly ?"
The documentation quickly runs through this, but it has been my blocker so far trying this new method.

"5. Add the service principal as an admin to the new workspace you created. You can manage this task through the APIs or with the Power BI service."

How do I actually do that when the exact API that is linked here (https://docs.microsoft.com/pl-pl/rest/api/power-bi/groups/addgroupuser) is requi

[2019-02-10 13:23] Oddjobe opened #673 "Update screenshot"
Hi, Just wanted to "ping" that the screenshot used is outdated.
https://dev.powerbi.com/Apps.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fdbb42-7ed0-af9a-6a4b-ba2829923d25
* Version Independent ID: ffe2d9fd-6517-ee61-b907-482560075083
* Content: [Register an app with Azure AD - Power BI](https://docs.mic

[2019-02-10 14:39] otravers opened #674 "Status of Streaming datasets in PBI Embedded?"
I can't find any mention of streaming datasets (push, streaming, hybrid) in the embedded documentation. Are they supported, and if yes, to what extent (i.e. dashboards, dashboard tiles, visuals)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a447889-379d-3ded-9ab9-313c4f55a667
* Version Independent ID: 4f8e3f79-5025-

[2019-02-11 00:30] Gabae commented on #516
Hi Martin,

What I suggested was to add a time slicer and customer ratings in the main
dashboard page.
I really appreciate that you are considering my suggestion.
[image: image.png]

[image: image.png]

Regards
Gabae

On Sat, 9 Feb 2019 at 01:41, mamedca <notifications@github.com> wrote:

--
<https://philandteds.com/>

<https://mountainbuggy.com/>

<https://www.mokopuna.com/>
Gabae Yang
see&believ

[2019-02-11 01:52] linhdh9 commented on #631
They say they're going to fix it in the March release.

[2019-02-11 15:06] DaveRuijter opened #732 "Update required! New PDF available."
Hi, please update this page as it contains a link to a document dated 2016.
There is a new document available called "Planning a Power BI Enterprise Deployment" via:
https://docs.microsoft.com/en-us/power-bi/whitepapers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba176b5-d050-3be8-cc69-d8534b7e1982
* Version Indepe

[2019-02-11 17:26] RickFoster opened #733 "Dashboard Usage does not have values"
The dashboard Paginated Report summary for views is blank however if I go to the Admin Portal is shows 480 views as the top report and though it does not show a total for the 115 reports, based on just adding up the top views it would be close to 10K, why doesn't the the dashboard show anything for usage?  It shows refresh data but not usage data.

---
#### Document Details

⚠ *Do not edit this se

[2019-02-11 18:27] Minewiskan commented on #667
@jonaselreweny - Updated this image. This is about the best we can do here. Thanks for letting us know.
#please-close

[2019-02-11 19:06] Hsankar commented on #200
instead of "UserCredential" use "UserPasswordCredential" which works for me

TokenCache TC = new TokenCache();
AuthenticationContext AC = new AuthenticationContext(authority, TC);
UserPasswordCredential UPC = new UserPasswordCredential(asptb_pbiusername.Text, asptb_password.Text);
AuthenticationResult AR = AC.AcquireTokenAsync(Settings.Default.PowerBiAPIResource, Settings.Default.PBiNativeAppID, U

[2019-02-11 19:08] Hsankar commented on #200
Note : authority = https://login.microsoftonline.com/{TenantGUID}

[2019-02-11 19:50] eligr commented on #672
Hi, we just updated the documentation and added a sample for service principal:
https://docs.microsoft.com/en-us/rest/api/power-bi/groups/addgroupuser#example_for_giving_admin_access_right_to_a_service_principal

[2019-02-11 19:58] Gabae commented on #516
Hi Martin,

Thanks for getting back to me.
I have no idea what time period is covered in the data.
That dashboard was created by Zendesk app, which I cannot edit the format.

I would appreciate if you (or you team) can add a period selector.
Data without time selector does not mean anything.

I will be looking forward to hearing from you.

Regards
Gabae

On Mon, 11 Feb 2019 at 21:45, mamedca <noti

[2019-02-11 21:19] kumbol commented on #672
Excellent, got it up & running now! Perfect! Thank you very much :-)

[2019-02-11 21:20] #672 closed

[2019-02-11 22:16] SheepieOz commented on #321
Is there any progress on this?  The lack of this functionality in the new workspaces is concerning.

[2019-02-12 03:35] #638 closed

[2019-02-12 03:56] mihart commented on #646
Hi @jsh121988
I checked the document, and the icons seem to be up-to-date.  Can you let me know which icon(s) specifically?

[2019-02-12 03:59] mihart commented on #651
Hi @chris586 ,
The articles in the /consumer section are intended for customers interacting with Power BI service, and in Reading view. The article is intentionally simple and does not describe the type of sorting that, say, a report designer can do.  If you send me a link to the community page, I can update with a better article for reference.

Thank you for your comment and suggestion!
Michele

[2019-02-12 03:59] #651 closed

[2019-02-12 08:01] AnirudhKishan opened #774 "New project creation location"
'Creating a custom visual' 'Step 3' should call out that the new project would be created at the current location of the prompt. Also, to cd to a new location, if required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4bae6e-72e1-e41c-4419-48a56423e81e
* Version Independent ID: 6d864495-b578-2d28-169d-edb5409de943

[2019-02-12 08:12] vishalaj1 commented on #477
Do we have some approximate time line? We have moved to azure and this is hurting us since we cannot connect the on prem report server to azure analysis services neither can we deploy the ssrs report on service to connect azure analysis service.

[2019-02-12 14:31] DaveStabilify opened #779 "Useless without the ability to analyze measures or simple aggregate dimensions"
Useless without the ability to analyze measures.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-v

[2019-02-12 15:00] asocorro opened #780 "Removal of anchor gateway"
What happens is the anchor gateway in a cluster is removed?  Will one of the other gateways be promoted to anchor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87176394-a2d4-7e3d-922e-d124d59fe9c5
* Version Independent ID: 99c3109b-b094-1300-86e2-0cebb4475169
* Content: [Manage a Power BI on-premises gateway - Power

[2019-02-12 17:08] mihart commented on #659
Hi @NordinLars ,
We're taking down the article until it can be rewritten.  Thank you for pointing out the issues with it.

[2019-02-12 17:08] #659 closed

[2019-02-12 17:10] mihart commented on #774
Hi @AnirudhKishan ,
Thank you for your suggestions.  I've forwarded this to the doc author who will respond asap.
We appreciate your input!
The DOCS team

[2019-02-12 17:13] mihart commented on #779
Hi @DaveStabilify ,
Thank you for your suggestion.  I believe the Product team is planning updates to this brand new feature. Please post product suggestions and questions in the Power BI forums:  community.powerbi.com.
Take care,
The DOCS team

[2019-02-12 17:13] #779 closed

[2019-02-12 17:15] mihart commented on #780
Hi @asocorro ,
Thank you for your question.  I've forwarded it to the doc owner who will respond asap.
I also suggest posting this question in the Power BI forums (community.powerbi.com), since this is more of a product question than a docs question.
Take care,
The DOCS team

[2019-02-12 17:20] mihart commented on #733
Hi @RickFoster ,
Thank you for your feedback.  I've assigned it to the doc author who will respond asap.
However, you may want to post this question in the Power BI forums (community.powerbi.com), since it is more of a product question than a docs question.
Take care,
The DOCS team

[2019-02-12 17:21] mihart commented on #673
Hi @Oddjobe
Thank you for your feedback.  I've passed it along to the page author who will get back to you asap.
We really appreciate your contribution to our docs.
The DOCS team

[2019-02-12 17:22] Minewiskan commented on #733
@mihart @RickFoster - I don't see any doc issue here. This is more of a support issue or forums question.
#please-close

[2019-02-12 18:51] SPowell42 opened #783 "Ability to stop users from "removing" a filter"
We'd like the ability to turn off the "X" icon in the top right of a filter pane that allows a user to completely delete a filter. They can either use the "clear" eraser icon or "select all"...but if they delete a filter, they have hard time figuring out how to get it back. Would be better if they could only "clear" the filter but not completely remove it.

Thanks,
Scott

---
#### Document Details

[2019-02-12 19:38] scooleo opened #784 "Oracle.DataAccess.Client is not installed"
Hi,
I have installed multiple Oracle drivers on multiple machines that all use PowerBi x64. Tableau, sqlplus and oracle SQL connect perfect. I followed the guide to the letter and spent way too many hours trouble shooting this now.  The current version of Oracle on my "virgin" home machine is ODAC122010Xcopy_x64. I installed from an Admin command screen using the following command c:\&gt; install.

[2019-02-13 06:02] aghonaim opened #786 "Suggestion and correction."
in the Top single factor influencing likelihood of a low rating definition, I suggest changing the wording from (difference between green bar and red dotted line) to (the green bar over/divided by the red dotted line).
Also in the Second single factor influencing likelihood of a low rating, the usability of the product were (2.21x) should be (2.55x) according to the visual.

---
#### Document Deta

[2019-02-13 09:53] maxdomico opened #787 "No checkbox about "Under Report settings, select Enable the updated filter pane, and show filters in the visual header for this report.""
I can't find the option "Under Report settings, select Enable the updated filter pane, and show filters in the visual header for this report." under the Report settings, is that issue?

[2019-02-13 13:36] viswanath-puttagunta opened #788 "Dataset being explained is not available in the explanation page."
Hi,

The videos and notes are awesome. But I want to follow along on my own Power BI desktop. So, I need the CSV files that the lesson is based on.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49462b9d-81da-e29a-f148-1fd95395a570
* Version Independent ID: 4ce1f7c2-0170-35b5-adca-c92c41fb7fc1
* Content: [Model

[2019-02-13 14:28] OskariNi opened #789 "Report cant display any visuals"
I have a few workspaces in premium capacity and I would like to monitor their performance. However, all of the visuals fail to display anything.

Could you take a look at this?

BR. Oskari

Couldn't load the data for this visual
The expression referenced a relationship between 'RefreshMetrics'[datasetId] and 'DatasetInfo'[id], which does not hold any data because it needs to be recalculated.
Pleas

[2019-02-13 15:11] aabundez opened #790 "Color saturation is obsolete"
This page still shows the Color Saturation option in column charts which is now called "Advanced controls" in the Data colors formatting option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3066fc06-cbb2-def8-1505-cccbb818c147
* Version Independent ID: aedfaa65-1253-f7f0-c0bd-2c89bc0a21f5
* Content: [Tips and tricks

[2019-02-13 18:48] mihart commented on #783
Hi @SPowell42 ,
Thank you for your feedback.  I've assigned your suggestion to the doc author who will respond asap.  I also suggest that you submit this as a question on the Power BI forum (community.powerbi.com) and/or suggest this as a new idea (ideas.powerbi.com).
Take care,
The DOCS team

[2019-02-13 18:51] mihart commented on #784
Hi @scooleo ,
Thank you for your question.  I've assigned this to the doc author, who will respond asap. I'm not an expert in this area, but this does sound like a Product question and not a Docs question.  So you may want to post this on the Power BI forum (community.powerbi.com) as well.
Take care,
The DOCS team

[2019-02-13 18:55] mihart commented on #786
Dear @aghonaim ,
Thank you for your feedback. I'll review the article and update per your suggestions.
I really appreciate your contribution to our docs.
Michele

[2019-02-13 19:24] Pulendarvadde opened #791 "Incremental Refresh - Issue"
I have SQL server data model. My fact table is not having date filed to declare getStartDate or end date. I only have a time dimension table which is connect to fact based on time key.
Please let me know, how can I use incremental refresh.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb026fd-1515-7484-1ac

[2019-02-13 23:09] ashika789 commented on #313
I currently have an Excel Spreadsheet i'm pulling data from. Is there a way to modify the data via a visual in Powerbi, and then somehow it will also update the excel spreadsheet? Any suggestions for a hacky way to do this if it's not implemented?

[2019-02-14 07:32] JustinGrote commented on #317
I can't figure out how to associate an O365 group either to a workspace, only users

[2019-02-14 10:55] Hansonaplane opened #793 "embedded?"
Does "embedded" in the bullet point "Consuming the visual in embedded" refer to Power BI Embedded? If yes, I would highly recommend to use the proper name of the service instead of shortening it in order to improve the clarity of the statement. At the moment, "embedded" is not even capitalized so it might be very distracting for new users since the sentence does not really make sense with "embedde

[2019-02-14 10:59] Hansonaplane commented on #793
(The same goes for "Power BI mobile" in the next bullet point where "mobile" should also be capitalized.)

[2019-02-14 13:46] MartinaPD opened #794 "GA date / Read Role in workspace"
Hi,
in one of your pages https://powerbi.microsoft.com/en-us/blog/enable-your-team-with-new-workspaces-experiences-preview/ I found that Viewer Role is available at GA(General Availability).  In the Closed comments section I found that  GA date is still not available ( 1-2 month ago).
Can you share expected timeline? Even if it would be "not for another 6 months".... Thank you.

---
#### Document

[2019-02-14 14:13] CeciAc opened #795 "Scrolling through model"
@Jasper8888 commented on [Thu Feb 14 2019](https://github.com/MicrosoftDocs/powerbi-docs.es-es/issues/19)

Hi,
It would be usefull if one can scroll through a model by left-click on the canvas and hold the button. Mouse movement will now navigate through the model.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.

[2019-02-14 14:14] CeciAc commented on #795
Hi team,
The user is making a suggestion on the functionality of the product.
best

[2019-02-14 14:51] #432 closed

[2019-02-14 14:54] mgblythe commented on #435
@jimblair -- sorry, we just realized that this issue was sitting around unassigned. In the meantime, we updated the article and there's a link out to the premium capacity article, which covers what that is.

[2019-02-14 14:54] #435 closed

[2019-02-14 14:58] mgblythe commented on #654
Thanks for your comment, @subashsivaji. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 14:59] mgblythe commented on #655
Thanks for your comment, @sloggiz. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 16:16] dejadee opened #796 "Licensing Section is incorrect"
When working with Microsoft support, we found out that having the content in a workspace that's in a Power BI Premium capacity was insufficient. If you have the "install app automatically" box checked, you ALSO have to make sure that all viewers have the "Power BI (free)" license. Otherwise they will see the "This content isn't available" screen.

See also this thread: https://community.powerbi.co

[2019-02-14 16:45] bcrosnier opened #797 "Adding Service Principal as workspace admin via API - Is the REST API syntax correct?"
On the [REST API syntax page](https://docs.microsoft.com/en-us/rest/api/power-bi/groups/addgroupuser#example_for_giving_admin_access_right_to_a_service_principal), section `example for giving Admin access right to a service principal`, it gives the following request and body:

[code]

Now, I'm trying to grant a SP on my PBI Workspace, so I execute the following with my own workspace ID and SP Obje

[2019-02-14 18:08] scooleo commented on #784
Thanks a million Michele, much appreciated!

From: Michele Hart <notifications@github.com>
Sent: 13 February 2019 18:52
To: MicrosoftDocs/powerbi-docs <powerbi-docs@noreply.github.com>
Cc: scooleo <scooley@medosync.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/powerbi-docs] Oracle.DataAccess.Client is not installed (#784)

Hi @scooleo <https://github.com/scooleo>  ,
Thank

[2019-02-14 18:51] maggiesMSFT commented on #793
Great questions, @Hansonaplane. I defer to the author for the question about 'embedded.'
For 'mobile,' it shouldn't be capped, but I'll suggest rephrasing it to:
"Consuming the visual in the Power BI mobile apps"
Thanks for the careful read!

[2019-02-14 18:53] mgblythe commented on #656
Thanks for your comment, @adamstigall. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-14 18:53] #656 closed

[2019-02-14 18:54] mgblythe commented on #657
Thanks for your comment, @vitaly-livshits. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 18:56] mgblythe commented on #671
Thanks for your comment, @SteveWinward ]. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 18:57] mgblythe commented on #671
@markingmyname - please route based on where an update/mention should go for this.

[2019-02-14 18:59] mgblythe commented on #674
Thanks for your comment, @otravers. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 19:00] mgblythe commented on #732
Thanks for your comment, @DaveRuijter. I’ll add this request to our docs backlog.

[2019-02-14 19:01] mgblythe commented on #787
Thanks for your comment, @maxdomico. We’ve forwarded your feedback to the writer, who should respond to this thread.

@maggiesMSFT - this is for power-bi-report-filter-preview.md

[2019-02-14 19:03] mgblythe commented on #788
Thanks for your comment, @viswanath-puttagunta. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 19:04] mgblythe commented on #789
Thanks for your comment, @OskariNi. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-14 19:04] #789 closed

[2019-02-14 19:05] mgblythe commented on #790
Thanks for your comment, @aabundez. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 19:07] mgblythe commented on #791
Thanks for your comment, @Pulendarvadde. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

CC: @christianwade @Minewiskan

[2019-02-14 19:07] #791 closed

[2019-02-14 19:10] mgblythe commented on #794
Hi @MartinaPD - based on the [release notes](https://docs.microsoft.com/business-applications-release-notes/April19/business-intelligence/planned-features), the current plan is May 2019.

[2019-02-14 19:10] #794 closed

[2019-02-14 19:12] mgblythe commented on #795
Thanks @CeciAc. @Jasper8888 - You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-02-14 19:12] #795 closed

[2019-02-14 19:13] mgblythe commented on #796
Thanks for your comment, @dejadee. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 19:14] mgblythe commented on #797
Thanks for your comment, @bcrosnier. We’ve forwarded your feedback to the writer, who should respond to this thread.

[2019-02-14 20:09] ianbruckner opened #798 "Please document odata version #"
Please document odata version #

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7de3f7-737b-cbbd-0911-e5535b198795
* Version Independent ID: 26615fdb-93ac-8d7f-f7cc-f7ebc436aa04
* Content: [Project Online: connect to data through Power BI Desktop - Power BI](https://docs.microsoft.com/en-us/power-bi/desktop-project-on

[2019-02-14 20:11] saket90 opened #799 "Article is outdated"
Hi,
The article states  - "The Export to PDF feature is only available with Power BI Desktop, and is not currently available in the Power BI service."
However, we do have the feature available in Power BI Service. Could you please update this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-71

[2019-02-14 20:42] tpdsl opened #800 "No documented relationship between Visual and Card"
Unless I'm missing something, there doesn't seem to be a documented relationship between Visual and Card when creating JSON for a customer theme.

In other words, given a Visual, how do you determine which cards can be set?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version In

[2019-02-14 22:40] JustinGrote opened #801 "New Workspaces not Sharable in Teams Tabs?"
Hello,

I created one of the new workspaces, but when I try to add a report to the corresponding teams site by clicking + and then PowerBI, the new workspace is not visible in the list, only my "classic" ones.

Is this a known preview limitation? I gave the team rights to view in PowerBI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-02-15 03:05] juluczni commented on #793
Great points, making the changes now.

[2019-02-15 07:29] Hansonaplane commented on #793
"Power BI Mobile" is actually a thing, see https://www.microsoft.com/en-us/p/power-bi-mobile/9nblgggzlxn1?activetab=pivot%3Aoverviewtab
I am just not sure if this was meant here or not, but I guess it is.

[2019-02-15 10:35] dsgg18 opened #802 "Power PI App icon image requirements"
Please provide detailed information regarding the app icon image requirements (size, accepted formats, other). This information should be included in the documentation.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54452a1b-613f-5718-a6bd-16429fdfc678
* Version Independent ID: 3352343d-b326-4f63-5c37-51403d8f6

[2019-02-15 12:11] Yaswanth-Goli commented on #632
I have 6 slicers, 3 donut chart visuals and a table with drillthrough on my report page. I selected options in the slicers and also filtered the other visuals on the page by selecting one section on the donut chart. When i click on back button in the drillthrough page after going to the drillthrough page by selecting drillthrough and drillthrough page name in the actual page, the selection i made

[2019-02-15 12:25] compkos opened #803 "Failed to resolve name 'AI.SAMPLESTRATIFIED'. It is not a valid table, variable, or function name"
Hello
I get this error on PowerBi Desktop February 2019 release when try above example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft

[2019-02-15 18:15] dmbeas12 opened #804 "How do you pass a query string parameter to an SSRS report published to Power BI?"
My SSRS RDL report displays correctly in Power BI, and I have a "PN" parameter built into the report. I need the ability to pass a unique PN number when the report first loads.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 829630fd-6378-a8d1-dee5-140b43ddb9b3
* Version Independent ID: 8e7790f6-2a6d-f68c-3969-b177548ba

[2019-02-15 19:00] #262 closed

[2019-02-15 19:02] viradu opened #805 "Premium licensing information missing"
I've received questions on this article from my customers. The article mentions requirements for a Pro license, however it is Possible for Free users to consume R visuals in reports hosted in Premium workspaces. So Managed tenant with free license / View visuals in report should be changed from Not Supported to Premium only (or something similar).

Thank you

---
#### Document Details

⚠ *Do not e

[2019-02-15 19:02] mgblythe commented on #299
@DieselAnalytics - article was updated, closing this now.

[2019-02-15 19:02] #299 closed

[2019-02-15 19:04] kfile commented on #799
Hi @saket90 and thanks for your comment. This has been assigned to the author for review.

[2019-02-15 19:05] kfile commented on #800
Hi @tpdsl. Thanks for your comment. The issue has been assigned to the author for review.

[2019-02-15 19:08] kfile commented on #801
Hi @JustinGrote and thanks for your comment. I've assigned this to the author of the doc but it may end up going to our product group to answer the question about functionality. Thanks in advance for your patience.

[2019-02-15 19:09] kfile commented on #802
Hi @dsgg18 and thanks for your comment. The issue has been assigned to the author for review.

[2019-02-15 19:11] kfile commented on #803
Hi @compkos and thanks for your comment. The issue has been assigned to the author but it may be a product issue - she will need to determine this and it may take additional time to troubleshoot.

[2019-02-15 19:14] kfile commented on #804
Hi @dmbeas12 and thanks for your comment. I've assigned this to the doc author but she may need to get help from engineering to address your question. Please be patient with our response. Thanks.

[2019-02-15 19:15] kfile commented on #805
HI @viradu and thanks for the question. This issue has been assigned to the doc author for review.

[2019-02-15 19:46] jsh121988 opened #806 "Preview Workspace: No "Files" option under the elipsis "...""
I'm not seeing an option to open the Workspaces SharePoint files. If Sharepoints are no longer being created with the Workspace then it will be a huge hassle to have to create a SharePoint in addition to every workspace. We currently use the SharePoint behind the Workspace to store all of our source pbix files, and manage version history.

It is a requirement that SP is enabled, and I'm deleting m

[2019-02-15 20:32] mgblythe commented on #389
@bakerm00 and @jordanmills - sorry for the delay on this. I added this sentence to the doc, which will publish today: "Power BI manages the Service Bus for you, so there are no additional costs or configuration steps required."

[2019-02-15 20:32] #389 closed

[2019-02-15 20:34] mgblythe commented on #406
@arthiriyer - can you answer the question in this issue? Thanks!

[2019-02-15 20:43] mgblythe commented on #411
I updated the screenshot to use "Email" which I believe is the correct value for this option. Feel free to reopen if there's a problem with this fix. Thanks!

[2019-02-15 20:43] #411 closed

[2019-02-15 20:44] mgblythe commented on #427
Closing b/c this is a service/support issue. I'll update the doc if I get any more guidance.

[2019-02-15 20:44] #427 closed

[2019-02-15 20:45] mgblythe commented on #442
Closing b/c this a product support issue. saiyash05 -- if you have any further issues with the app, please get support by going to https://support.powerbi.com.

[2019-02-15 20:45] #442 closed

[2019-02-15 20:46] mgblythe commented on #445
Adding @arthiriyer to address the question.

[2019-02-15 20:48] mgblythe commented on #579
Thanks @darthwalsh - I added a redirect from the old article, and we'll update the FWLink also.

[2019-02-15 20:48] #579 closed

[2019-02-15 20:53] mgblythe commented on #780
Thanks @asocorro, great to hear from you -- we cover this in https://docs.microsoft.com/en-us/power-bi/service-gateway-high-availability-clusters: "The Power BI service always uses the primary gateway in the cluster, unless it’s not available. In that case, the service switches to the next gateway in the cluster, and so on."

[2019-02-15 20:53] #780 closed

[2019-02-15 21:47] mgblythe commented on #583
Hi @gtageek - capacity admin perms are sufficient.

[2019-02-15 21:47] #583 closed

[2019-02-15 21:55] mgblythe commented on #662
Assigning to Minewiskan, who now owns this article.

[2019-02-15 22:14] mgblythe commented on #640
@mtzupan -- the intro to the doc has the following:

You can manage a gateway through the **Manage gateways** area of the Power BI service, in the gateway app on your local computer, and with PowerShell scripts. This article focuses on the Power BI service.

The first set of steps has this:

In the upper-right corner of the Power BI service, select the gear icon

I'll close for now, but feel free

[2019-02-15 22:14] #640 closed

[2019-02-15 22:15] mgblythe commented on #634
Adding @arthiriyer to comment on whether you can add datasources programmatically. Also adding @markingmyname in case we cover this in the dev docs.

[2019-02-15 22:17] mgblythe commented on #610
Thanks for your comment, @aaronboock. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-15 22:17] #610 closed

[2019-02-15 22:18] mgblythe commented on #603
Adding @arthiriyer to address this question.

[2019-02-15 22:19] mgblythe commented on #582
Thanks @annaye2010, @Minewiskan as FYI.

[2019-02-15 22:19] #582 closed

[2019-02-15 22:27] mgblythe commented on #564
@thommck -- they will just show out of date data.

[2019-02-15 22:27] #564 closed

[2019-02-15 22:31] mgblythe commented on #563
@thommck - closing this one out, but a few things to consider: if you're not already, use the monitoring app to understand capacity usage, suggest product improvements through https://ideas.powerbi.com/forums/265200-power-bi, and look out for some perf-related content in the next couple of weeks - we'll announce on the blog.

[2019-02-15 22:31] #563 closed

[2019-02-15 22:35] mgblythe commented on #486
I'm adding the following sentence to this article + another one that mentions Service Bus:

Power BI manages the Service Bus for you, so there are no additional costs or configuration steps required.

[2019-02-15 22:35] #486 closed

[2019-02-15 22:43] #497 closed

[2019-02-15 22:56] mgblythe commented on #495
Removing the Q&A reference. Leaving this issue open to address the validation info in the article

[2019-02-15 23:13] orygreg opened #807 "Important omission from Limitations and Considerations"
Certainly a great feature.  We took advantage of it so we wouldn't have many copies of the same data model, one for each report.  HOWEVER, when it came time to setup automated deployments using PBI's REST API from within Power Shell script, we were disappointed (understatement!) to learn that reports which share a dataset on the PBI service are NOT supported.  Please include this in the Limitation

[2019-02-15 23:13] mgblythe commented on #479
Adding @arthiriyer to clarify this one.

[2019-02-15 23:15] mgblythe commented on #458
Adding @arthiriyer to comment on this one, then I can add to the docs.

[2019-02-15 23:15] #454 closed

[2019-02-15 23:30] mganeshphani commented on #603
I am interested towards windows azure vm scale set image so that our enterprise gateway is scalable

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Blythe <notifications@github.com>
Sent: Friday, February 15, 2019 4:18:09 PM
To: MicrosoftDocs/powerbi-docs
Cc: Ganesh Phani Kumar Majeti; Mention
Subject: Re: [MicrosoftDocs/powerbi-docs] Is there a sile

[2019-02-15 23:36] mgblythe commented on #494
I removed the Q&A limitation. Thanks again for the feedback!

[2019-02-15 23:36] #494 closed

[2019-02-15 23:37] mgblythe commented on #649
Thanks for the feedback. The article now syncs correctly with the TOC.

[2019-02-15 23:37] #649 closed

[2019-02-15 23:37] mgblythe commented on #732
Updated the link, thanks!

[2019-02-15 23:37] #732 closed

[2019-02-16 01:41] jordanmills commented on #634
Okay, so I know you can create manage data sources programmatically.  If you waste enough time searching, you can eventually find incomplete documentation: https://docs.microsoft.com/en-us/rest/api/power-bi/gateways/createdatasource

I don't know if detail should go here or there.  A link to the REST API documentation might help here, but only if that REST API documentation is completed.  What I'v

[2019-02-16 02:33] markingmyname commented on #543
@ryanspletzer I apologize for the delayed response.

We will investigate and review if we need to change/add the information suggested.

I am in current talks with the parties involved.

Thank you for your feedback!

[2019-02-16 04:29] mgblythe commented on #652
@DeanGross -- here's the info you're looking for:

Active - a normal workspace. It doesn't indicate anything about usage or what's inside, only that the workspace itself is "normal".
Orphaned - a workspace that has no admin user.
Deleted - a workspace that has been deleted. We maintain enough metadata to restore the workspace if desired.
Removing - a workspace that is in the process of being delet

[2019-02-18 05:48] mihart commented on #805
Hi @viradu ,
Thank you for catching that.  I've updated the chart per your suggestion.
We really appreciate your contribution to our docs.
The DOCS team

[2019-02-18 05:48] #805 closed

[2019-02-18 05:55] mihart commented on #803
@juluczni
Hi Justyna, Can you help us with this?
Thanks,
Michele

[2019-02-18 06:01] mihart commented on #793
Hi @Hansonaplane and @juluczni ,
Made the 2 updates to the article.  Thanks everyone for the updates!
Michele

[2019-02-18 06:01] #793 closed

[2019-02-18 06:05] mihart commented on #786
Hi @juluczni ,
Would you please review this feedback?  Thanks,
@mihart

[2019-02-18 06:06] #646 closed

[2019-02-18 07:48] mpoeckl opened #808 "Direct Query limitation to one data source is outdated -> Composite Models"
Composite models (https://docs.microsoft.com/en-us/power-bi/desktop-composite-models) are allowing the combination of multiple direct queries or direct query with import. The documentation states the limitation to one data source für DQ on multiple pages!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed1625f-12a2-59

[2019-02-18 07:52] mpoeckl opened #809 "Limitation to one data source is outdated -> composite models"
A composite model (https://docs.microsoft.com/en-us/power-bi/desktop-composite-models) allow the combination of multiple direct querie data sources or direct query with import sources. The documentation states the limitation to one data source für DQ on multiple times!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563

[2019-02-18 11:08] N389ER opened #810 "Time filtration based on hours and minutes"
Hi! Is it possible to include a filter that you can filter down to hour or minute increments? From the example dataset: sales between 07:00-08:00 for example.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49462b9d-81da-e29a-f148-1fd95395a570
* Version Independent ID: 4ce1f7c2-0170-35b5-adca-c92c41fb7fc1
* Con

[2019-02-18 15:56] sbosell commented on #478
You closed this thread without proving any information, direction, timing, or help.  Can you re-open it and/or provide the code to achieve what this page documents using the core library?

[2019-02-18 16:09] jford369 opened #811 "Visualization Error"
I see an error message "The visual is not supported." I've tried multiple combinations of fields. What does this error message mean and what can I do to troubleshoot it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* C

[2019-02-18 18:37] bradfarley opened #812 "Issue with API Call."
My connection continually times out (Server 500 error). Looking more into it, the app's date_macro=all call is not valid. It works intermittently.

From intuit's documentation:

date_macro: (Optional) String

Predefined date range. Use if you want the report to cover a standard report date range; otherwise, use the start_date and end_date to cover an explicit report date range. Supported Values: T

[2019-02-18 18:52] rdgbrito commented on #783
@SPowell42, tottaly agree!!!

[2019-02-19 10:18] daveeasey opened #813 "Power View Link"
The link to enable the Power View add-in does not lead to anything about Power View.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e766e393-243c-51bf-59fc-6e08bcd3223f
* Version Independent ID: 5778a496-ab96-d567-0b55-e07b51ec9493
* Content: [Take a tour of the samples available with Power BI - Power BI](https://docs.

[2019-02-19 11:05] acldemac opened #814 "Typo"
Just finished the set of videos on MicrosoftDocs/Power BI/Guided Learning/"**_Introduction to DAX_**"
If I did understand the subjects correctly, I believe there is a typo on the page "Table relationships and DAX" (DAX5) that seems to be important to the correct understanding of this section.
--- Current text is: ---
For example, the **_TABLE_** function follows relationships and returns the value

[2019-02-19 13:49] DavidNightSA opened #815 "Looking forward to using this"
Ive just been through the tutorial, but I have to say im very excited to use this on some upcoming projects!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](

[2019-02-19 20:11] mihart commented on #813
Hi @daveeasey ,
Thank you for your feedback, we really appreciate it.  I've assigned this to the doc author who will respond asap.
Take care,
The DOCS team

[2019-02-19 20:13] Minewiskan commented on #733
@mihart
#please-close

[2019-02-19 20:14] mihart commented on #814
Hi @acldemac
Thank you for your feedback, we really appreciate it.  I've assigned this to the author of that article and she will respond asap.
Take care,
The DOCS team.

[2019-02-19 20:15] mihart commented on #815
Hi @DavidNightSA ,
I agree, it's a great new feature.
Thanks for your feedback,
The DOCS team.

[2019-02-19 20:15] #815 closed

[2019-02-19 20:17] mihart commented on #811
Hi @jford369 ,
Thank you for your feedback.  I've assigned this to the doc author and she will respond asap.
Take care,
The DOCS team

[2019-02-19 20:18] mihart commented on #809
Dear @mpoeckl ,
Thank you for your feedback.  I've assigned this issue to the author and he will respond asap.
Take care,
The DOCS team

[2019-02-19 22:35] hfulks commented on #537
Power BI Admin normally can determine which users can create workspaces, but the tenant admin can override and block workspace creation even for the Power BI Admin role.

[2019-02-19 23:23] nickcellini opened #816 "Flatten data feature"
Wish you could connect to the data source and get out flat data, not in a pivot table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 458afd24-a62a-7944-5cd4-de9a9290c308
* Version Independent ID: ed6a56f0-e067-9f92-5d54-6755b49f3bc0
* Content: [Using Power BI publisher for Excel - Power BI](https://docs.microsoft.com/

[2019-02-19 23:37] arthiriyer commented on #406
@erapade  This feature should be used along with the privacy settings for each data source to make sure the joins are handled in a secure manner.  However Privacy settings in Power BI desktop are not transferred to the service. You can set privacy settings for the On-prem data sources. For cloud data sources, it is set to “Private” by default in the service with an exception for the ones which are

[2019-02-19 23:46] mihart commented on #812
Hi @bradfarley
Thank you for this detailed feedback.  I've forwarded it to the author and she will be in tough asap.
Take care,
The DOCS team

[2019-02-19 23:48] mihart commented on #810
Hi @N389ER
Thank you for your feedback.  I've forwarded your question to the doc author and he will get in touch asap.
Take care,
The DOCS team

[2019-02-19 23:48] arthiriyer commented on #603
@mganeshphani We currently don't have a silent/auto install option. Please upvote it in ideas.powerbi.com

[2019-02-19 23:49] mihart commented on #808
Hi @mpoeckl
Thank you for your feedback.  I've forwarded it along to the article author and he will respond asap.
Take care,
The DOCS team

[2019-02-19 23:50] mihart commented on #807
Hi @orygreg,
Thank you for the feedback and the suggestion.  I've forwarded this along to the article author and he will get back to you asap.
Take care,
The DOCS team

[2019-02-19 23:51] arthiriyer commented on #634
@jordanmills thats correct- the APIs should help to create it programatically. Thanks for your feedback- we are working on enhancing the gateway documentation.

[2019-02-19 23:52] mihart commented on #816
Dear @nickcellini
Thank you for your feedback.  I've forwarded your comment on to the article author and he will respond asap.  This sounds like it may be a product issue, and not a doc issue.  If that is the case, I suggest posting this in the community forums:  community.powerbi.com or as a new idea ideas. powerbi.com.
Take care,
The DOCS team

[2019-02-20 04:26] mganeshphani commented on #603
Arthi, Can I have VMScaleset image then? I would like to deploy my
enterprise gateway in azure as vm scaleset to help with dynamic load of
refreshes resulting from thousands of  workspaces.

On Tue, Feb 19, 2019 at 5:48 PM Arthi Ramasubramanian Iyer <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-02-20 10:30] pvalli opened #817 "Unable to connect from Excel 2010"
Trying out the Power BI Excel Plugin. We have people running Excel 2010 and Excel 365. Based on the documentation (Excel 2007 or later) this should not make a difference.
However, after installing the plugin, people running Excel 2010 are not able to get the data (they are signed in). They get into a loop of additional Company sign-ins and eventually they get this error message:

<img width="526"

[2019-02-20 13:56] jiteshparwal93 commented on #476
@mgblythe: I still see document is not updated regarding dataset. However, we cant see dataset for usage metrics. Can you please ask user to update document

[2019-02-20 14:17] JayDoc386 opened #818 "Workspace Viewers"
There are currently three roles for Workspaces: admins; members; and, contributors.  What about creating a role called viewers?  These would be individuals that can view content inside of a workspace but cannot add, delete, or edit any of the content within the workspace.  They can download the files inside of the workspace to use in the desktop version of Power BI but that would be the extent of

[2019-02-20 15:28] calvinddls1 opened #819 "doesnt work on chrome"
I cant make the Page Viewer WP work on Chrome Browser? please advise

[2019-02-20 19:29] Minewiskan commented on #662
#in-progress

[2019-02-20 20:55] montydrei opened #820 "PowerShell snippet is badly formatted"
The script snippet in step 4 of Configuring delegation settings has syntax errors. Please correct this to the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89287a5d-f44b-6483-c79c-a0d0c83bc8c3
* Version Independent ID: f9766f6d-ec9e-3609-91bc-859e0c0eb76c
* Content: [Use Kerberos (resource-based) fo

[2019-02-20 21:57] nicheplayer opened #821 "Add "Implemented date""
It would be very helpful to have some mention in this (and all) documentation of when (in which version) the feature was added to Power BI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c379d7f1-f977-7906-c4ba-6f58ab47d785
* Version Independent ID: 088a4f2c-e571-1282-b265-9b90d4995505
* Content: [Using buttons in Powe

[2019-02-21 01:28] mgblythe commented on #820
Thanks for your comment, @montydrei. I’ll add this request to our docs backlog.

[2019-02-21 01:29] mgblythe commented on #819
Thanks for your comment, @calvinddls1. This looks like a support request or product question rather than documentation feedback. You might find a solution in the Power BI Community, at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com

[2019-02-21 01:29] #819 closed

[2019-02-21 01:30] mgblythe commented on #818
Thanks for your comment, @JayDoc386. This looks like product feedback, rather than documentation feedback. You can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, at https://community.powerbi.com.

[2019-02-21 01:30] #818 closed

[2019-02-21 01:51] mgblythe commented on #817
@pvalli -- do you have a doc page where the limitations are listed?

[2019-02-21 02:02] mgblythe commented on #821
Thanks for your comment, @nicheplayer. This issue has been assigned to the doc author for review.

[2019-02-21 02:03] #733 closed

[2019-02-21 02:03] #667 closed

[2019-02-21 13:23] CeciAc opened #822 "JSON not valid"
@ImkeF commented on [Wed Feb 20 2019](https://github.com/MicrosoftDocs/powerbi-docs.de-de/issues/4)

The JSON for "Properties within each card" is not valid.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-

[2019-02-21 13:42] CeciAc commented on #822
Hi team,
I'm moving this here since the user is reporting an issue on the example
best

[2019-02-21 15:39] Vasco10 opened #823 "Documentation is a "maze""
Despite knowing Power Query for Excel since its inception, I did not have so much interest in using it, except if some clients asked for it (actually very few).
But with Power BI, esp. the last improvements, woke up my interest.
Navigating your documentation, I got lost - the reason I mentioned is a "maze", esp. through your sublinks where I find some of the information repetitive.
You could combi

[2019-02-21 20:44] markingmyname commented on #806
@jsh121988 Thank you for the feedback.  Can you provide the exact article link, so we may assign this to the proper author?

Thank you.

[2019-02-21 20:55] markingmyname commented on #823
@Vasco10 Thanks for your comment. We’ve forwarded your feedback to the writer, who should respond to this thread. Thank you!

[2019-02-21 21:04] SenthuranSivananthan commented on #797
To add on, I'm getting the following error for POST https://api.powerbi.com/v1.0/myorg/groups/WORKSPACE_ID/users

[code]

[2019-02-21 21:58] hiteshgaur opened #824 "you will want to fine the Authentication/AuthenticationTypes section."
change to
you will want to find the Authentication/AuthenticationTypes section.

for file [powerbi-docs/powerbi-docs/report-server/configure-kerberos-powerbi-reports.md](https://github.com/MicrosoftDocs/powerbi-docs/blob/live/powerbi-docs/report-server/configure-kerberos-powerbi-reports.md)

[2019-02-21 22:11] JulieBABI opened #825 "More datacolors than fit on the Theme colors palette?"
If there are more than 8 datacolors in the JSON file, how can the report designer see and choose the other colors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9a8511-6ff9-78c6-5a8c-3f5ac68224d0
* Version Independent ID: f4fd28c7-71fa-a776-7154-e76eb9bd3649
* Content: [Use Report Themes in Power BI Desktop - Power

[2019-02-21 22:18] daniel-zrust commented on #631
This thing is currently not working as it used to. If you try to pull more than 1M rows from BigQuery, you may be out of luck. Datasets which have been refreshing with 0 issues for the past 2 years are now failing because of timeouts.

The issues started around 2019-02-13 and no resolution since. More about the issue here: https://community.powerbi.com/t5/Service/Timeout-expired-The-timeout-period

[2019-02-21 22:19] davidiseminger commented on #823
Thanks for your comments @Vasco10  - I'll try to keep the sublinks and other elements to an only-needed basis. Your feedback is appreciated.

[2019-02-21 22:19] #823 closed

[2019-02-21 22:20] davidiseminger commented on #296
Thanks for your input, the Desktop does get updated monthly, so some things do change. We update the screens as quickly as we can. Sorry for any inconvenience.

[2019-02-21 22:20] #296 closed

[2019-02-21 22:21] davidiseminger commented on #297
Thanks for your input, @DeanGross - much appreciated.

[2019-02-21 22:21] #297 closed

[2019-02-21 22:23] davidiseminger commented on #300
Thanks for your comments, and sorry for the inconvenience. The data is from an outside source, so we don't have control over that. I will put going over that tutorial onto my backlog, but I think the overall steps and learning are helpful to show folks how the flow works. Thanks!

[2019-02-21 22:23] #300 closed

[2019-02-21 22:24] davidiseminger commented on #307
Thanks for your comments - we'll go through that doc and see which elements are now available in theming.

[2019-02-21 22:27] davidiseminger commented on #311
Sorry for the delay, and thanks for your comment, @odeddror . This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

Sample Desktop files are available in the following link: https://github.com/Microsoft/powerbi-desktop-sa

[2019-02-21 22:27] #311 closed

[2019-02-21 22:28] davidiseminger commented on #312
Sorry for the confusion - I believe that's suggesting you select one column per table (thus, 2 tables is 2 columns). I'll see if I can make that clearer - thanks!

[2019-02-21 22:28] #312 closed

[2019-02-21 22:30] davidiseminger commented on #313
Thanks for your comments and feedback. When importing data, to make changes to that data you do need to go back to the underlying source. There's no two-way updates (in Power BI and round-tripping to the data source) at this point. Hope that helps.

[2019-02-21 22:30] #313 closed

[2019-02-21 22:32] SenthuranSivananthan opened #826 "How to do I add a service principal through PowerBI.com?"
5. Add the service principal as an admin to the new workspace you created. You can manage this task through the APIs or with the Power BI service.

I've followed through the steps but there's no way to add my service principal through the PBI.com portal.  The input field expects an email address and there's no way to add the GUID or the Service Principal Name.

---
#### Document Details

⚠ *Do not

[2019-02-21 22:32] davidiseminger commented on #318
In recent versions of Power BI Desktop, it's there - directly below R script in the Other category.

[2019-02-21 22:32] #318 closed

[2019-02-21 22:38] davidiseminger commented on #319
Yikes - you're right! In addition, it's _Microsoft_ Power BI Desktop (the Microsoft was missing in the key info). Sorry 'bout that, and thanks for pointing it out! Fixed in the article which will show up in the next couple of days. Thanks @sunk818 for pointing that out!

[2019-02-21 22:38] #319 closed

[2019-02-21 22:40] davidiseminger commented on #321
Sorry about the trouble you're having, and thanks for your comment, @renaudma . This may have cleared up, but looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-21 22:40] #321 closed

[2019-02-21 22:40] davidiseminger commented on #333
Hello @andymc123 - sorry for the delay getting back. There isn't a way to do that what I'm aware of, sorry.

[2019-02-21 22:40] #333 closed

[2019-02-21 22:42] davidiseminger commented on #336
There may be limitations to the rows, or the server itself may time out on the query. And overall, this looks like a support request rather than documentation feedback - and you'd likely get quicker answers using our support channels. You might also find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com

[2019-02-21 22:42] #336 closed

[2019-02-21 22:43] davidiseminger commented on #337
Thanks for your nice comments! Glad you enjoyed it, and hopefully we can keep creating great content that helps your online or data life be better!

[2019-02-21 22:43] #337 closed

[2019-02-21 22:45] davidiseminger commented on #338
Thanks for the close read! I've updated that, and will get it republished in the next day or so. Thanks!

[2019-02-21 22:45] #338 closed

[2019-02-21 22:45] #339 closed

[2019-02-21 22:46] davidiseminger commented on #342
Thanks for your question, @BarakAvrahami.  Note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedb

[2019-02-21 22:46] #342 closed

[2019-02-21 22:46] davidiseminger commented on #383
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-21 22:46] #383 closed

[2019-02-21 22:47] davidiseminger commented on #386
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-21 22:47] #386 closed

[2019-02-21 22:48] davidiseminger commented on #387
Re-assigning to the doc owner.

[2019-02-21 22:48] davidiseminger commented on #390
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-21 22:49] davidiseminger commented on #402
Thanks for your feedback, and we'll take that into account when we review or update that article.

[2019-02-21 22:49] #402 closed

[2019-02-21 22:50] davidiseminger commented on #407
That's a good point - sorry for any confusion. I'll look at changing the wording on that.

[2019-02-21 22:50] #407 closed

[2019-02-21 22:51] davidiseminger commented on #420
Sorry for any confusion, and I believe other customers do see that information. You might find help or a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-21 22:51] #420 closed

[2019-02-21 22:52] davidiseminger commented on #428
Thanks for your comment, @Swappy . Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

[2019-02-21 22:52] #428 closed

[2019-02-21 22:54] davidiseminger commented on #446
Thanks for your comment, @Liszet and @mdiscenza, and sorry for the delay. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-21 22:54] #446 closed

[2019-02-21 22:54] davidiseminger commented on #449
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-21 22:54] #449 closed

[2019-02-21 22:56] davidiseminger commented on #450
You're right, @jhauff77060 ! Thanks for the close read - I've fixed that, the update should go out in the next day or so. Thanks!

[2019-02-21 22:56] #450 closed

[2019-02-21 22:57] #460 closed

[2019-02-21 22:57] davidiseminger commented on #485
Sorry for the issue - it seems to be working properly now (I just checked).

[2019-02-21 22:57] #485 closed

[2019-02-21 22:58] davidiseminger commented on #498
Thanks for your comment, @Robby29 . This looks like a support request (for SAP, too) rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. Or you can check the SAP documentation or support channels.

[2019-02-21 22:58] #498 closed

[2019-02-21 22:59] davidiseminger commented on #502
Thanks for your comment, @cignum . This looks like a support request (or further explanation is required by a support engineer) rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-21 22:59] #502 closed

[2019-02-21 23:00] davidiseminger commented on #503
The Security whitepaper is correct as it's written; sorry that those two terms are so close.

[2019-02-21 23:00] #503 closed

[2019-02-21 23:02] davidiseminger commented on #507
Thanks for your feedback!

[2019-02-21 23:02] #507 closed

[2019-02-21 23:03] davidiseminger commented on #512
Thanks for your feedback, and sorry about the trouble you had.

[2019-02-21 23:03] #512 closed

[2019-02-22 01:42] rvadnai opened #827 "Custom Column vs Calculated Column"
Can you please explain whether there are any advantages or disadvantages associated with creating a Custom Column (through PQ) rather than a Calculated Column (through DAX)?

Calculated Column are created based on data that has already been loaded in the model.  So I guess (and please confirm) that would mean that using a Custom Column instead of Calculated Column would in some cases allow for the

[2019-02-22 12:21] DaveRuijter opened #828 "Comment on authentication to on-prem sources (DQ can use SSO)"
Just a small but important improvement for the info on this page.
You say: "A stored credential will be used to connect to on-premises data sources from the gateway except Analysis Services. Regardless of the individual user, the gateway uses the stored credential to connect.".
But, this is not taking into account the DirectQuery option, where the credential of the current user can be sent to the

[2019-02-22 17:25] davidiseminger commented on #518
Adding another assignee to help look into this request.

[2019-02-22 17:26] davidiseminger commented on #395
Adding another assignee to look into this question.

[2019-02-22 17:26] #522 closed

[2019-02-22 17:29] davidiseminger commented on #527
I think the content is correct and clear; if you have multiple tables, you lose one per table in the dataset. So if you had three tables, the max would be 16,000 minus 3.

[2019-02-22 17:29] #527 closed

[2019-02-22 17:30] davidiseminger commented on #533
That is correct, and an artifact of using a dark theme. Please use different colored images if you'll use a dark theme, to prevent them from disappearing / becoming non-visible.

[2019-02-22 17:30] #533 closed

[2019-02-22 17:31] davidiseminger commented on #535
Thanks for your comment @Aidan-Aoki - I believe that content is correct as-is, but if you have questions about how to use it, please take a look at https://community.powerbi.com.

[2019-02-22 17:31] #535 closed

[2019-02-22 17:32] davidiseminger commented on #540
Thanks for posting @anbuchelva  - we'll look into putting a tutorial for Essbase into our work planning.

[2019-02-22 17:32] #540 closed

[2019-02-22 17:33] davidiseminger commented on #541
Thanks for your comment, @tripleacoder. Looks like this is product feedback, rather than documentation feedback – you can submit product feedback or feature ideas by going to https://ideas.powerbi.com. You can also engage with the Power BI engineering team by being active in the Power BI Community, found at https://community.powerbi.com.

We'll also look at updating the docs, if they are not corre

[2019-02-22 17:33] #541 closed

[2019-02-22 17:33] davidiseminger commented on #550
You're welcome!

[2019-02-22 17:33] #550 closed

[2019-02-22 17:34] davidiseminger commented on #557
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-22 17:34] #557 closed

[2019-02-22 17:35] davidiseminger commented on #555
Adding another assignee to look into this - thanks!

[2019-02-22 17:36] davidiseminger commented on #565
Thanks for all your help on this, @drew5251  - we'll get the docs updated to reflect your insights and help.

[2019-02-22 17:36] davidiseminger commented on #568
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-22 17:36] #568 closed

[2019-02-22 17:37] davidiseminger commented on #571
Adding another assignee to help sort this out. Thanks!

[2019-02-22 17:39] davidiseminger commented on #575
Adding assignees to help clarify - thanks for your comments and questions.

[2019-02-22 17:39] davidiseminger commented on #580
Adding assignees to help clarify - thanks!

[2019-02-22 17:41] davidiseminger commented on #584
Sounds like you've added a request to support, so we'll close this. Thanks for adding the links, so others who come across this can follow your path to a resolution. Thanks!

[2019-02-22 17:41] #584 closed

[2019-02-22 17:42] davidiseminger commented on #589
We added clarification to that article about how DirectQuery operates. Thanks for your feedback!

[2019-02-22 17:42] #589 closed

[2019-02-22 17:42] davidiseminger commented on #594
Adding an assignee to help clarify.

[2019-02-22 17:43] davidiseminger commented on #611
Thanks for your comment, @tomaskutac. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-22 17:43] #611 closed

[2019-02-22 17:47] davidiseminger commented on #621
Great idea - I added a link to that blog post in the article, as a Tip. The updated article will show up in the next day or so. Thanks for your feedback!

[2019-02-22 17:47] #621 closed

[2019-02-22 17:48] davidiseminger commented on #625
You're absolutely right - thanks for the close read! I've fixed that, it'll show up in the updated/refreshed article in a day or so. Thanks @wolfgangstrasser for pointing that out!

[2019-02-22 17:48] #625 closed

[2019-02-22 17:50] davidiseminger commented on #631
Sorry for the trouble you're having. Please note we can't fix product issues (only doc issues), but you can always provide product feedback (or support/bug issues) in the following locations:
https://support.powerbi.com
https://ideas.powerbi.com
https://community.powerbi.com

[2019-02-22 17:50] #631 closed

[2019-02-22 17:51] davidiseminger commented on #632
Hi @Yaswanth-Goli - sorry for the trouble you're having.

Note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Giv

[2019-02-22 17:51] #632 closed

[2019-02-22 17:52] davidiseminger commented on #639
Well @Mike-Honey - that's probably an issue we need to look into. Adding another assignee to ferret that out and see what's happening. Thanks for posting!

[2019-02-22 17:53] davidiseminger commented on #642
Thanks for your feedback and nice comments. Let us look into adding that to the tutorial. Thanks!

[2019-02-22 17:53] #642 closed

[2019-02-22 17:54] davidiseminger commented on #644
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.
Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bott

[2019-02-22 17:54] #644 closed

[2019-02-22 17:55] davidiseminger commented on #645
Thanks for posting - adding an assignee to confirm.

[2019-02-22 18:00] davidiseminger commented on #655
Thanks for the help! I've added a note to that article, so others can benefit from your post. Thanks! Should show up in a day or so.

[2019-02-22 18:00] #655 closed

[2019-02-22 18:03] davidiseminger commented on #668
Okay - sorry about the inconvenience. We'll get that updated, and I'll leave this open until it's fixed. Thanks for submitting!

[2019-02-22 19:14] kfile commented on #822
Hi @CeciAc and thanks for posting your comment. Sorry you are having trouble with the JSON. I've assigned it to the author for triage. We get a lot of comments, so please be patient! Thanks.

[2019-02-22 19:16] kfile commented on #824
Thanks for your feedback, @hiteshgaur ! Did you know that because our docs are in GitHub, you can edit them yourself? For a fix like this, please select the Edit pencil at the top-right on this page, make the change yourself, and submit it. OK? Then the author can review it and accept it.
Thanks again for your help in improving the docs!

[2019-02-22 19:16] #824 closed

[2019-02-22 19:18] kfile commented on #825
Hi @JulieBABI and thanks for your question. It has been assigned to the author for triage. Please be patient as we receive many comments on Power BI. Thank you.

[2019-02-22 19:20] kfile commented on #826
Hi @SenthuranSivananthan and thanks for your question. It has been assigned to the author for triage. Service Principal is new, we appreciate you trying to use this feature.

[2019-02-22 19:22] kfile commented on #827
Hi @rvadnai and thanks for your question. This looks like a support request rather than documentation feedback. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com. Thanks.

[2019-02-22 19:22] #827 closed

[2019-02-22 19:24] kfile commented on #828
Hi @DaveRuijter and thanks for your suggestion. This has been assigned to the author for triage.

[2019-02-22 21:06] jebradfield opened #829 "Pivoting data to create new columns"
In the section that begins "In this example I pivoted my data to create new columns..." - After pivoting the data, I had to delete and then recreate the relationship between "Customer Table" and "Device" and then I had to close the pbix file and re-open it in order to fix the "A field in "Explain By" is not uniquely related..." error.  It's not immediately obvious that users have to go through the

[2019-02-22 21:39] hiteshgaur commented on #824
Thank you Kelly, I tried the pencil, but it forked out the repo for me. :)
Happy Friday !!

[2019-02-22 22:42] juluczni commented on #829
Thank you for the feedback! I will add the point about fixing the relationship as I agree it is not intuitive. The other point you mentioned is a caching bug and should be fixed in the next release of the Desktop.

[2019-02-23 00:36] agusbuhori commented on #828
Masih bingung

[2019-02-24 21:04] ozhug commented on #518
Thanks my transformation to add a date column from data is now working.

[2019-02-24 21:04] #518 closed

[2019-02-25 11:40] marklovejoy commented on #565
Hello,

this tutorial shows how to get data for Excel files, but what about txt files?

Regards

Mark

[2019-02-25 14:45] drew5251 commented on #565
Mark,
A web search came up with this: https://docs.microsoft.com/en-us/power-bi/service-get-data-from-files
I'd suggest googling for your reply, or posting a detailed post in the Power BI forum (https://community.powerbi.com/t5/Forums/ct-p/Forums)
Thanks,
Drew

[2019-02-25 14:45] #565 closed

[2019-02-25 16:26] mmarois123 opened #832 "Relative date filter not working the same in Service as in Desktop"
As a default state, I would like the Relative Date Filter to show "This Month (Calendar)" so that when the user selects "Next" it will continue to show "Next 1 Month (Calendar)". This was previously working for me and it appears to continue to work in my Power BI Desktop file. However, now when I load the report to Power BI Service, it changes the "This Month (Calendar)" to "This Month" regular wi

[2019-02-25 21:34] #806 closed

[2019-02-26 01:00] davidiseminger commented on #829
Thanks for the comment and update.

[2019-02-26 01:01] davidiseminger commented on #832
Thanks for your feedback @mmarois123. We'll let the author know about this, and they should get back to this when they have a chance to review.

[2019-02-26 11:17] 369Martin369 opened #835 "How to combine filter with ?rs:embed=true"
Hi, I have filters provided with URL and want to hide the black header with ?rs:embed=true. It seems to me that ?rs:embed=true cannot be combined with ?filters=......

Thanks
Matt

[2019-02-26 11:25] Vulpette commented on #62
I have the same problem, so basically we can not use this.

[2019-02-26 13:57] BrianHo888 opened #836 "How to use manage roles for column permission"
RlLS is great to grant row level permission. It would be nice to have column level permission for sensitive data like salary, costs, gross margin etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
* Version Independent ID: 34076b73-0ded-2111-ed44-2a31e07deb53
* Content: [Row-level

[2019-02-26 17:07] DarkSideOfTheBI opened #837 "Older versions of Office Don't work for Export"
I noticed it wasn't mentioned that really old versions of Office don't work for export.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df1c4c0-80f9-f71a-175f-8362a29ad597
* Version Independent ID: c2a64e2a-ce65-dfb7-588a-381c145ab193
* Content: [Export reports from Power BI to PowerPoint - Power BI](https://docs.micro

[2019-02-26 18:44] cevipu opened #838 "Live connection running against the cache when loading the report?"
Hi,
It's stated in the document that "the Live connection to a SSAS source can run against the cache, even upon loading a report". What does it mean? Which cache it will run against? How is RLS on Azure Analysis Services affected? Does the user always get fresh data when they open the report, or is refresh sometimes required?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-02-26 21:49] davidiseminger commented on #825
Adding another assignee to review.

[2019-02-26 21:50] davidiseminger commented on #822
Adding another assignee to help with resolution.

[2019-02-26 21:52] davidiseminger commented on #821
Thanks for your comment. We always recommend users run the most recent version of Power BI Desktop. Meanwhile, you can look through the latest updates article (and its friend, latest updates archive) to see about finding when a feature was released.

[2019-02-26 21:52] #821 closed

[2019-02-26 21:53] davidiseminger commented on #816
Thanks for your comment. Feel free to use ideas.powerbi.com to submit feature requests. Thanks.

[2019-02-26 21:53] #816 closed

[2019-02-26 21:54] davidiseminger commented on #814
Adding an assignee to look into resolution.

[2019-02-26 21:56] davidiseminger commented on #810
Hello @N389ER  - looks like this is a product question rather than docs feedback. You can get support from the community (community.powerbi.com) or support.powerbi.com to get an answer to your question.

[2019-02-26 21:56] #810 closed

[2019-02-26 22:01] nicheplayer commented on #821
Thanks for your reply. I've been told by my on-prem server admin that I need to be running the version of desktop that coincides with our on-prem server version; perhaps this isn't actually the case? I appreciate you taking the time to reply. Thanks again.

[2019-02-26 22:26] davidiseminger commented on #807
Adding another assignee to review.

[2019-02-26 22:31] davidiseminger commented on #809
Thanks - recent updates refreshed that article, and I don't see any more references to that limitation.

[2019-02-26 22:31] #809 closed

[2019-02-26 22:37] davidiseminger commented on #808
Thanks for pointing this out @mpoeckl - we reviewed and updated those articles recently with those changes, and I believe we got them all. Appreciate the close read!

[2019-02-26 22:37] #808 closed

[2019-02-26 22:40] davidiseminger commented on #800
Thanks for posting – note that we can only answer feedback related to the documentation, and can’t provide direct support or respond feature requests.

Your best venue for getting an answer or feedback on your question is from the community (https://community.powerbi.com) or from support at https://support.powerbi.com. You can also provide feedback using the Give Product Feedback button at the bot

[2019-02-26 22:40] #800 closed

[2019-02-26 22:42] davidiseminger commented on #799
Thanks for pointing this out @saket90 - I've updated that article, which should refresh in the next day or so. Thanks!

[2019-02-26 22:42] #799 closed

[2019-02-26 22:42] davidiseminger commented on #798
Adding another assignee to resolve.

[2019-02-26 22:43] davidiseminger commented on #788
Thanks for your nice comments @viswanath-puttagunta. The CSV files for that article aren't available, but when we update it, we'll make sure that we also include the file. Sorry for the inconvenience.

[2019-02-26 22:43] #788 closed

[2019-02-26 22:44] davidiseminger commented on #784
Thanks for your comment, @scooleo. This is a support request rather than documentation feedback, and I'm sorry but we can't support you in this format/forum. You might find a solution in the Power BI Community, found at https://community.powerbi.com. If not, you can get support by going to https://support.powerbi.com.

[2019-02-26 22:44] #784 closed

[2019-02-26 22:49] davidiseminger commented on #506
Thanks for pointing this out! I've updated the article, which will be republished in the next day or so. Thanks for the close read!

[2019-02-26 22:49] #506 closed

[2019-02-26 22:49] #390 closed

[2019-02-26 22:55] davidiseminger commented on #365
Great points and fixes - thanks! I've updated those articles, they'll refresh on the site in a day or so. Thanks!

[2019-02-26 22:55] #365 closed

[2019-02-26 23:52] nastassiar opened #839 "Missing Image?"
"Ben receives an error similar to the following image, because he was not authorized to the dataflow’s CDM folder in the lake"

What image is this referring to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adddb13a-811b-4fda-dcf8-98ce19492126
* Version Independent ID: cc52ac03-b68e-f8c1-aecc-af0b09ccafc4
* Content: [

[2019-02-27 00:02] saket90 commented on #799
Thanks David!

[2019-02-27 09:19] jainn4 opened #840 "Power BI Premium Capacity Metrics - No data for Models"
Hi, 
The Power BI Premium Capacity Metrics for my premium node is not showing any information for dataset. See screenshot below. Is there a bug in the app?

![capture](https://user-images.githubusercontent.com/42496773/53479324-b3df1300-3a70-11e9-91ce-bca3e72527b9.PNG)

Thanks
Nishant

[2019-02-27 19:30] bradfarley commented on #812
@mihart @SarinaJoan  Closing the loop: I've been in touch with the engineering team for the app. Sounds like an update is in the works. Have you made any headway or have any status from your efforts?

[2019-02-27 23:50] amandacofsky commented on #639
Hey @Mike-Honey usually when we release new builds but don't announce anything, it means the release has some minor bug fixes we didn't want to wait for the next month to ship. In the case of December, there was more than normal since we didn't do a Jan release of Power BI Desktop. You can always update if you want, but assuming you weren't hitting any issues, you don't HAVE to update. You could w

[2019-02-27 23:54] #639 closed

[2019-02-28 00:21] mihart commented on #835
Hello, @369Martin369
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
K

[2019-02-28 00:21] #835 closed

[2019-02-28 00:22] mihart commented on #836
Hi @BrianHo888 ,
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
Kind

[2019-02-28 00:22] #836 closed

[2019-02-28 00:23] mihart commented on #840
Hi @jainn4
Your contribution is much appreciated. Our team can only answer feedback related to the documentation.
Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page.
If you have any feedback related to the documentation, please feel free to log it through this channel.
We truly appreciate your contribution to our articles.
Kind regard

[2019-02-28 00:23] #840 closed

[2019-02-28 00:25] mihart commented on #839
Hi @nastassiar ,
Thank you for your documentation feedback.  I've forwarded your question on to the author and he will respond asap.
Take care,
The DOCS team

[2019-02-28 00:26] mihart commented on #838
Hi @cevipu ,
Thank you for your feedback.  I've forwarded your comment along to the doc author, and he'll respond as soon as he can.
Take care,
The DOCS team

[2019-02-28 00:47] mihart commented on #837
Hi @DarkSideOfTheBI
Thank you for your feedback.  I've updated the document with this limitation. We appreciate your contributions to our docs!
The Power BI DOCS team

[2019-02-28 00:47] #837 closed

[2019-02-28 01:33] maggiesMSFT commented on #813
Hi, @daveeasey -- Thanks for pointing that out! Looks like Excel moved their article about Power View. I found the link: https://support.office.com/en-us/article/power-view-overview-and-learning-5380e429-3ee0-4be2-97b7-64d7930020b6.
I'll update the article when I return from a business trip.
Thanks again!

[2019-02-28 15:02] 2materazzi3 commented on #602
Hi maggiesMSFT, your comment is 2 months old - anything new regarding this feature?
I used it a lot.

[2019-02-28 20:01] AttBa opened #841 "Step 5 unclear"
The statement

"Expand Values, locate URL icon, and turn it to On."

in Step 5 in unclear. I could not locate the URL icon - the point of visiting this page in the first place. Could you please add (a) screenshot(s) for this? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fbaf2eb-b0c1-6631-727f-f99d0ce28a97

[2019-02-28 20:35] otravers opened #842 "Can't download PBIX with data sourced from Dataflows"
Can the documentation clarify whether a dataset sourced from Power BI dataflows can be exported as a PBIX from the service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e091669c-6d15-1d87-9d1b-87720f50a908
* Version Independent ID: 2989dde3-eef4-28ea-4eec-846efc140735
* Content: [How to export a report from Power BI

[2019-02-28 21:26] amandacofsky commented on #822
It isn't supposed to be valid JSON.  It's just a list of available properties, their names, the formatting card they are under, their type, and a description. It's a reference list that just happens to be in a JSON-ish layout. You can use it to find the name of the properties you want to change and then build out your theme using those names and the layout we demonstrated earlier in the article.

[2019-02-28 21:29] amandacofsky commented on #825
Users can only manually choose from the first 8 colors, but the other colors will be automatically chosen by the visuals if they have more than 8 data points.

[2019-03-01 00:34] #604 closed

[2019-03-01 09:11] aivsim commented on #797
Got the same problem here as @SenthuranSivananthan. Did someone manage to solve this problem? Help will be appreciated.

[2019-03-01 18:22] skanthb commented on #826
I have done it though API

import requests

url = "https://api.powerbi.com/v1.0/myorg/groups/ef3ab46b-2566-4567-4r56-thfddfgd343/users"

payload = "{\r\n\"displayName\":\"testApp1\",\r\n\"emailAddress\":\"name.name@company.com\",\r\n\"groupUserAccessRight\":\"Admin\",\r\n\"identifier\":\"2rtyh624-3d6d-41cb-97d5-ghfshfhfdh\r\n\"principalType\":\"App\"\r\n}"
headers = {
    'Content-Type': "applicat

[2019-03-01 18:44] mgblythe commented on #811
@jford369 -- did you get anywhere with this problem? Were you able to use the visual at all?

[2019-03-01 18:59] mgblythe commented on #832
@mmarois123 - you might also find a solution in the Power BI Community, at https://community.powerbi.com.

[2019-03-01 19:03] mgblythe commented on #842
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

@davidiseminger in case he knows the answer to this one.

[2019-03-01 20:28] Saltzmea opened #844 "Clone Tile in Group fails for New Workspace"
I can't clone the tiles into a new workspace. I get the following error when using the clone tile in group api:

Microsoft.PowerShell.Commands.HttpResponseException: Response status code does not indicate success: 404 (Not Found).
   at System.Management.Automation.MshCommandRuntime.ThrowTerminatingError(ErrorRecord errorRecord)

[2019-03-01 20:53] markingmyname commented on #543
Hi @ryanspletzer,

Well, the API is called Groups but it applies to group-based and v2 workspaces.

I am thinking of adding a note to the article to clarify that a bit.

Thank you for your feedback.

[2019-03-01 20:53] #543 closed

[2019-03-01 21:10] markingmyname commented on #595
Good eye, @ian-barker!

Also, did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into the publishing queue.

For this ins

[2019-03-01 21:10] #595 closed

[2019-03-01 21:13] markingmyname commented on #617
Good eye, @LinkOps.

Also, did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click Propose file change. And voila! It's sent directly to the writer.
Then all the writer has to do is sign off and it goes into the publishing queue.

For this instan

[2019-03-01 21:13] #617 closed

[2019-03-01 22:39] markingmyname commented on #606
@mganeshphani Please look over article - https://docs.microsoft.com/en-us/power-bi/developer/embed-service-principal - for further details on using service principal with Power BI.

Thank you again for your feedback.