[2022-03-02 23:06] #3643 closed

[2022-03-03 01:43] v-maquay opened #3651 "Fields are Required"
Timepoint and Timepoint2 are required fields, though the default data works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcddef48-ab1d-cdd2-900a-9b9f3500a06f
* Version Independent ID: 42ce0182-3006-4271-7981-a9f8a984ca53
* Content: [Install the Premium Gen2 metrics app - Power BI](https://docs.microsoft.com/en-us/pow

[2022-03-03 03:19] vishnukatta opened #3652 "Update page according to the latest updates"
with the current update, this page information is no longer valid. Could you please update the information according to the latest updates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3066fc06-cbb2-def8-1505-cccbb818c147
* Version Independent ID: aedfaa65-1253-f7f0-c0bd-2c89bc0a21f5
* Content: [Tips and tricks for fo

[2022-03-03 06:09] peter-myers commented on #3614
Hi @JVerveer - thanks for your feedback that has helped us to improve the article. An update to the article has been published and should go live soon. #please-close

[2022-03-03 06:09] #3614 closed

[2022-03-03 08:36] KesemSharabi commented on #3651
Hi @v-maquay,

Good observation - thank you for this comment!

I'll fix the article shortly.

Thanks,

Kesem

[2022-03-03 08:41] KesemSharabi commented on #3649
Hi @mattwhitfield,

Thank you for spotting this typo and for letting us know. I will correct the document shortly.

Kesem

[2022-03-03 08:51] KesemSharabi commented on #3648
Hi @sqlchick,

You're correct - thank you for pointing this out!

I removed PPU from the *Unlimited content sharing* entry, and replaced it with Premium (Gen2 and the original version).

Thanks,

Kesem

[2022-03-03 08:51] #3648 closed

[2022-03-03 09:01] KesemSharabi commented on #3632
Hi @sergeig888,

I'm looking into this issue and will update you shortly.

Thanks,

Kesem

[2022-03-03 09:03] KesemSharabi commented on #3631
Hi @marclelijveld,

I'm looking into this and will update you shortly.

Thanks,

Kesem

[2022-03-03 09:12] KesemSharabi commented on #3524
Hi @Chris-Burgess-ACTGOV,

Updating the document is taking longer than expected. Please examine the [Operations available in the audit and activity logs](https://docs.microsoft.com/power-bi/admin/service-admin-auditing#operations-available-in-the-audit-and-activity-logs) section from time to time, as it will slowly get updated.

Thanks and apologies for the length of time these updates are taking.

[2022-03-03 09:12] #3524 closed

[2022-03-03 12:24] paulinbar commented on #3508
Hi @Andywareaus, the Xero template app has been deprecated. It looks like there are two other potential "Xero" related template apps in AppSource. If you go into Apps in Power BI, and the choose Get apps, you can search for Xero on the All apps tab. That returns two items. You might check those out. Good luck!

[2022-03-03 12:24] #3508 closed

[2022-03-03 22:32] Mike-Honey opened #3654 "More details needed on Database connections"
More details are needed on Database connections, from the perspective of a Power BI Desktop user. There are so many features, pop-ups and details to discuss, most of it is not documented here or elsewhere. There are already some separate pages in this section for specific databases, but not all kinds of databases are covered.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this se

[2022-03-04 00:41] huslayer opened #3655 "Is there a silent install option available?"
Hi, we have 17 Gateway servers for DEV, QA, Prod, and several Business units, on-prem and on EC2s, is there's a way we can use command prompt or PowerShell to upgrade this monthly?

[2022-03-04 17:41] davidiseminger commented on #3655
Hello there @huslayer -- can you point to the article you're referring to? That'll help us get you pointed in the right direction.

[2022-03-04 20:24] huslayer commented on #3655
Hi David, I mean for the enterprise on-premises gateway software, is there's a silent installation? instead of us going on each server and updating it every month manually.

[2022-03-04 21:57] awvala opened #3656 "Can you clarify"
Can you provide clarification on the note regarding the rate limit for PPU License?  I'm receiving conflicting information from Microsoft support reps concerning premium capacity and export limits from paginated reports.

"Note
You can also follow along if you have a [Power BI Premium Per User (PPU) license](https://docs.microsoft.com/en-us/power-bi/admin/service-premium-per-user-faq) but you will

[2022-03-06 09:20] KesemSharabi commented on #3651
Hi @v-maquay,

I updated *step 4* in [Run the app for the first time](https://docs.microsoft.com/power-bi/admin/service-premium-install-gen2-app?tabs=1st#run-the-app-for-the-first-time) to say *automatically populated* in the *Required* column of the Timepoint and Timepoint2 fields.

Thanks,

Kesem

[2022-03-06 09:20] #3651 closed

[2022-03-06 09:22] KesemSharabi commented on #3649
Hi @mattwhitfield,

This typo is no fixed, see [Types of gateways](https://docs.microsoft.com/power-bi/connect-data/service-gateway-onprem#types-of-gateways).

Kesem

[2022-03-06 09:22] #3649 closed

[2022-03-06 09:33] KesemSharabi commented on #3632
Hi @sergeig888,

It will take few more months until DPL will be tracked as part of the CPU consumption. Once this happens I'll consider adding DPL to [Which operations contribute to interactive utilization, and which to background utilization?](https://docs.microsoft.com/power-bi/admin/service-premium-gen2-faq#which-operations-contribute-to-interactive-utilization--and-which-to-background-utilizat

[2022-03-06 09:33] #3632 closed

[2022-03-06 09:42] KesemSharabi commented on #3656
Hi @awvala,

I just confirmed with the engineering department and the note in [Export Power BI paginated reports with Power Automate](https://docs.microsoft.com/power-bi/collaborate-share/service-automate-paginated-integration) > [Prerequisites](https://docs.microsoft.com/power-bi/collaborate-share/service-automate-paginated-integration#prerequisites) is correct. One export (of a paginated report)

[2022-03-06 09:42] #3656 closed

[2022-03-06 10:01] KesemSharabi commented on #3631
Hi @marclelijveld,

I just double checked this with the product team, and the documentation is correct. The note in [Purchase A SKUs for testing and other scenarios](https://docs.microsoft.com/power-bi/admin/service-admin-premium-testing?WT.mc_id=DP-MVP-5003435&#purchase-a-skus-for-testing-and-other-scenarios) is an A4 restriction that applies to both Premium (gen1) and Gen2.

Thanks,

Kesem

[2022-03-06 10:01] #3631 closed

[2022-03-07 10:02] MartinaPoddana opened #3658 "Add note to Microsoft's plan to automatically update all workspaces"
Can you please add a section that all V1 workspaces would be automatically updated as per the Blog ? https://powerbi.microsoft.com/en-us/blog/updated-timeline-for-upgrading-classic-workspaces/

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3645c7a6-ea10-3dc5-2120-aa17355278ec
* Version Independent ID: 2d13d

[2022-03-07 11:32] FelixPeckitt opened #3659 "typo in docs"
[Enter feedback here]
Typo in docs:

"Visualizations on dashboards can't be copied and pasted into Power BI reports or other dashboards.

Open a report that has at least one visualization.

Select the visualization and use Ctrl +C to copy, and Ctrl +V to paste."

"Can't" in this paragraph should be "can"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-07 23:25] Firefly82 opened #3660 "Mobile Visual Interactions"
I've found that the visuals in the Mobile View do **not** keep the interaction settings from the desktop. For example, if I disable the filter option on a table, that doesn't carry over to the Power BI App when I view the visual. I don't see any way to set that same interaction on the Mobile View in the desktop either. Is this a known issue being worked on, or am I just missing something on my end

[2022-03-08 17:56] jonwbstr opened #3662 "Export to PDF disabled?"
Hello, I am an administrator. Where do I learn how to check this setting you speak of?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267f-21d5-547b-b3d8614005fd
* Content: [Export reports to PDF - Power BI](https://docs.microsoft.com/en-us/power-b

[2022-03-08 23:32] Chris-Burgess-ACTGOV commented on #3524
Thanks @KesemSharabi appreciate your endeavours.

I do note however that the format of the tables in Ms docs (
Two eg https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources , https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-performance) appears to have changed and as such the web.browsercontents() connector cannot 'find' the embedded tables - so can n

[2022-03-09 00:48] mihart commented on #3659
Hi @FelixPeckitt ,
Thank you for your feedback. While you can copy/paste a visual from a report, you can't do the same for a visual on a dashboard.
All the best,
The DOCS team

[2022-03-09 00:48] #3659 closed

[2022-03-09 00:53] mihart commented on #3662
Hi @jonwbstr,
Thank you for contributing to the quality of our docs.
In the Power BI service, open the Admin portal and select Tenant settings.  Scroll down to the setting for PDF.
All the best,
The DOCS team

[2022-03-09 00:53] #3662 closed

[2022-03-09 00:55] mihart commented on #3652
Thanks for your comment, @vishnukatta . This issue has been assigned to the doc author for review.

[2022-03-09 01:07] mihart commented on #3625
Hi @Hyamyam
That's bizarre.  The en-us page doesn't have the strange bolding.  This looks like a support request for the DOCS platform.  Please open a new Git Issue at this location:  https://github.com/MicrosoftDocs/feedback/issues
Thank you,
the DOCS team

[2022-03-09 01:07] #3625 closed

[2022-03-09 01:08] mihart commented on #3615
Hi @vtheresaz ,
Thank you for your feedback.  I've updated the page to include the missing information :-)
All the best,
the DOCS team

[2022-03-09 01:08] #3615 closed

[2022-03-09 01:20] mihart commented on #3530
Hi @welyson1 ,
I heard back from the PM and the short answer is "no."  Report authors cannot force a data limit on Table rows when exporting data to Excel. And here is additional data he supplied:
As a brief background on data limits, Table visual has a limit of 500 rows at a time (aka. Windowing). This allows the Table to “load more data” by scrolling beyond the first 500 rows. Other Visuals have

[2022-03-09 01:20] #3530 closed

[2022-03-09 01:49] mihart commented on #3302
Hi @TarekSalha ,
Thank you for this insight from your training class.  I've made some updates to the article that I hope will make it easier to understand for new users.  And I've added the limitations for RLS, DirectQuery, etc... as well.
Thank you for your suggestions!
the DOCS team

[2022-03-09 01:49] #3302 closed

[2022-03-09 01:50] #3201 closed

[2022-03-09 07:11] vertig00bg opened #3663 "Order of words issue"
It is a order of words issue. The following"
''Across the Format pane, we’ve merged font family and font size onto a single line. Again, we want to reduce vertical space and better to align with Office.'' should be ''Across the Format pane, we’ve merged font family and font size onto a single line. Again, we want to reduce vertical space and TO better align with Office.''

---
#### Document Detail

[2022-03-09 11:49] asocorro opened #3664 "This is suddenlty failing for several people"
Please see the issue reported in the community:

https://t.co/5hU0ijUVjT

This error now pops up in flows that were working until yesterday:

"Exporting a paginated report requires permissions in both report and dataset workspaces"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cfa98bb-e9d6-a46f-2c37-6d47b010ac8c
* Ve

[2022-03-09 14:40] KesemSharabi commented on #3664
Hi @asocorro,

Thank you for your comment. I'm looking into this and will get back to you.

Kesem

[2022-03-09 14:42] jonwbstr commented on #3662
The purpose of this ticket is to update the documentation, has a pull request been created?

[2022-03-09 14:44] KesemSharabi commented on #3660
Hi @Firefly82,

Thank you for your comment. @paulinbar - can you please take a look at this?

Kesem

[2022-03-09 14:53] KesemSharabi commented on #3658
Hi @MartinaPoddana,

I started an email thread for this and will close the GitHub issue.

Thanks,

Kesem

[2022-03-09 14:54] KesemSharabi commented on #3654
Hi @Mike-Honey,

Thanks you for your comment. @davidiseminger - can you please take a look at this?

Kesem

[2022-03-09 15:02] KesemSharabi commented on #3650
Hi @prvillal,

Thanks you for your comment. @paulinbar - is this something you're familiar with?

Kesem

[2022-03-09 15:03] #3628 closed

[2022-03-09 15:03] KesemSharabi commented on #3663
Hi @vertig00bg,

Thank you for pointing this out, I'll fix it shortly.

Kesem

[2022-03-09 17:29] KesemSharabi commented on #3664
Hi @asocorro,

Can you please verify that the user that calls the API is a viewer/contributor/member/admin in the dataset’s workspace?

Thanks,

Kesem

[2022-03-09 17:55] asocorro commented on #3664
Yes, an admin in both.  I even moved the report to the same workspace as the dataset.

Like others that have posted in the Community link I sent, that flow had been working fine for months.

Thanks,
Adolfo

________________________________
***@***.***

Adolfo J. Socorro, Ph.D.
President
eSolutions, Inc.

eSolutionsPR.com <http://www.esolutionspr.com/>
LinkedIn Profile<https://www.linkedin.com/in/a

[2022-03-10 13:38] TimoRiikonen opened #3665 "How to delete PowerBI files that prevent Power BI Desktop from starting"
[Enter feedback here]
I believe that a problematic report prevents Desktop from starting at all.
I might have enabled logs, but where can I find them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533d0cd5-b457-863c-f862-49fac672332c
* Version Independent ID: f5df6cb3-049a-eff0-4d7b-3c3843927a5e
* Content: [Resolve is

[2022-03-10 14:55] KesemSharabi commented on #3665
Thanks for your comment, @TimoRiikonen.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-03-10 14:55] #3665 closed

[2022-03-10 15:05] KesemSharabi commented on #3664
Hi @asocorro,

Thanks for confirming and for pointing out that others are experiencing the same problem. I'll carry on looking into this and will update you as soon as I get some answers.

Thanks,

Kesem

[2022-03-10 15:10] KesemSharabi commented on #3663
Hi @vertig00bg,

Thanks again for pointing out this error which I have now fixed - see [Merged font settings](https://docs.microsoft.com/power-bi/fundamentals/desktop-format-pane#merged-font-settings).

![image](https://user-images.githubusercontent.com/54834915/157691220-b57f17ee-abf7-43df-b918-10361daac47a.png)

Kesem

[2022-03-10 15:10] #3663 closed

[2022-03-10 20:12] jonwbstr opened #3666 "Considerations and limitations"
Hello,

Under the "considerations and limitations" section, please add "Exporting a Power BI report to file using the exporToFile API, is not supported for [Premium Per User (PPU)](https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-per-user-faq)"

The limitations currently say the only consideration and limitation is the report must be in a premium workspace and makes no mention

[2022-03-10 20:16] jonwbstr opened #3667 "#3662 closed without any doc improvements"
The ticket was submitted to improve the documentation, please reopen #3662 and respond to the request for documentation improvement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7dd54f0-efd3-c6df-7129-e2affa3ae942
* Version Independent ID: cc7bd663-267f-21d5-547b-b3d8614005fd
* Content: [Export reports to PDF - Powe

[2022-03-10 20:20] jonwbstr opened #3668 "Feature comparison for REST API and export to file support"
Hello,

According to the article referenced in the doc issue below, the ExportToFile REST API is not available with PPU. If that is accurate the table in this article should include that differentiation. The note from the other document references this page. However, I can't find any indication why it was referenced, this page does not appear to support that statement in the current version.

http

[2022-03-10 21:04] paulinbar commented on #3667
HI @jonwbstr, I added a note for administrators in the limitation that you mentioned. Should be live in a few hours.

[2022-03-10 21:05] #3667 closed

[2022-03-10 21:06] paulinbar commented on #3662
Hi @jonwbstr, I added a note for administrators to the limitation that you mentioned.

[2022-03-11 05:01] SimonSeez opened #3669 "With Power BI Report Server"
Hello,

How would I be able to achieve this using Power BI Report Server

 Best Regards,
Simon
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92e4209-59ef-2aed-dd62-b38c443d96d3
* Version Independent ID: ba65faca-8ef1-3cb3-3a32-bc23fbb1e64c
* Content: [Export and email a report with Power Automat

[2022-03-11 19:04] dhruvinushah opened #3670 "Oracle Installation - Explanation"
[Enter Feedback Here]
The Oracle driver's path and directory set up is a very important step that would assure that all UWP applications like Power BI Desktop do not face an error when trying to perform a simple connection to an Oracle db. Please provide a better explanation for the steps concerning adding or registering the Oracle Driver / Connector during installation. The PATH provided does not

[2022-03-11 21:16] v-edgardoc opened #3671 "Additional Snowflake AAD with SSO and Data Gateway user roles setup steps"
When connecting Power BI Desktop to Snowflake with Azure Active Directory authentication (AAD) Single Sign-on (SSO), Power BI Snowflake connector requires a role to be granted to the user in Snowflake database settings.

If using Data Gateway with this configuration, an additional configuration step is required, pe:

https://eng.ms/docs/cloud-ai-platform/digital-transformation-platform/azure-data-

[2022-03-12 15:34] Kboentkuri2 commented on #3646
Well

[2022-03-13 11:18] KesemSharabi commented on #3664
Hi @asocorro,

After further investigation, I was asked to let you know that you'll need to open a [support ticket](https://support.powerbi.com) for this, so that the engineering team can further investigate.

Thanks,

Kesem

[2022-03-13 11:18] #3664 closed

[2022-03-13 18:40] blackpjotr opened #3672 "Chesss"

[2022-03-14 09:28] mberdugo commented on #3666
Thanks for pointing this out, @jonwbstr  I added this limitation to the *considerations and limitations* section and it should go live in the next few days.

[2022-03-14 09:28] #3666 closed

[2022-03-14 13:08] #3672 closed

[2022-03-14 15:14] russ-ashman opened #3673 "How to delete a dataset?"
Article mentions it is possible to delete a dataset but does not cover how to get it done. When I click on the "..." delete is not an option. How to remove old datasets that I own that will never be used?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01ab260-aec3-2f8f-af82-1def43e55196
* Versio

[2022-03-14 19:19] AnkitKukreja19 opened #3674 "New Sign in UI."
Hi Team,
I wanted to share a feedback and just wanted to make sure that we can make the changes for the users.
I see a new UI while logging in a new private window. This generally happens only if you are using in private for first time or if I'll clear all the browser history and cache from my browser or If I'm logging it for the first time.
This is a page I see when signing in for 1st time(Pic -1

[2022-03-14 20:06] mihart commented on #3412
Hi @mukhijasahib ,
Thank you for your suggestion.  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-03-14 21:00] mihart commented on #3674
Thanks for your comment, @AnkitKukreja19 . This issue has been assigned to the doc author for review.

[2022-03-15 03:45] haysonba opened #3676 "The screenshot and the text are not talking about the same field to group by."
The text on the page says group by this field:
Agency ID - NCES Assigned [District] Latest available year

The screenshot on the other hand says group by this field:
State Abbr[District] Latest available year

Its confusing when you try to follow along.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ca589e-10e9-3924-

[2022-03-15 03:54] haysonba opened #3677 "Where do I get the data for Pivot Column example"
The page talks about a different data set for Pivot column. But, it doesn't tell me where to get this data so I can follow along.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ca589e-10e9-3924-a3ac-c774368cdec6
* Version Independent ID: 2c7f64d7-8306-1622-6ca3-912b805acf0c
* Content: [Perform common query tasks in P

[2022-03-15 05:55] haysonba opened #3678 "Previous quarter and current year sales chart didn't work"
I followed along with the Previous Quarter Sales measure. I copied and pasted the code for the measure. Then I tried to create the clustered column chart with this measure and with the SalesAmount field.

However, in my chart, it only showed one bar instead of two.

![image](https://user-images.githubusercontent.com/39141000/158315842-8bbc3b42-b2c0-4443-afa9-b0c37f91aeaf.png)

---
#### Document De

[2022-03-15 15:15] RuiRomano opened #3679 "Mention that "DirectQuery/Live connection (per second)" is per capacity and not per dataset"
Its not 100% clear that "DirectQuery/Live connection (per second)" is a per capacity metric and not per dataset. A customer planning for a Premium Capacity deployment with DirectQuery its a very important measure to consider and I believe we should make it clearer:

I would recommend changing to:

"2 These limits only apply to the datasets workload per Capacity"

---
#### Document Details

⚠ *Do n

[2022-03-15 19:01] paulinbar commented on #3660
Hi @Firefly82 and @camilafragoso, Let me look into this and I will get back to you. Thanks!

[2022-03-16 09:07] paulinbar commented on #3673
Hi @russ-ashman, thanks for your feedback! You have indeed stumbled upon a bug. I checked with the product team and they said they are aware of this and are working to fix it. Basically, the list of available options a particular user sees is not consistent - it depends on where you open the options menu from. Do you recall where opened the menu from? To start with, to delete a dataset, you must h

[2022-03-16 10:26] paulinbar commented on #3660
Hi @Firefly82, I checked with the product team and they told me that they recently discovered this issue and the fix should be out in the April Desktop release. In the meantime they have provided comments about this in the community at the following links.

- https://community.powerbi.com/t5/Desktop/Visual-interaction-setting-not-taken-into-account-in-Mobile-view/m-p/2369578#M852434

- https://com

[2022-03-16 10:26] #3660 closed

[2022-03-16 13:15] nstraw opened #3681 "Trying to understand how exactly background operations contribute to resource utilization in Gen 2"
[Enter feedback here]
Hi the doc team,
we're trying to understand how exactly background operations contribute to resource utilization in Gen 2.
We understand that a dataset refresh for example, that consumes 30 minutes of CPU, will contribute on a 1/2880 ratio for the next 24 hours, is it right ? Would it be possible to explain with an precise example ?
Or does this one works : a dataset refresh

[2022-03-16 19:13] nstraw opened #3682 "Trying to understand Performance Delta"
[Enter feedback here]
Hi doc team,
Is it possible to have details on the calculation of the Performance Delta ?
The doc says "For example, 20 suggests that there's a 20% improvement today, compared with the same metric taken a week ago." => What metric ? Is it CPU, Duration, Users, all the 3 ? I tried to redo the computation but no success...
Thanks for the help!
Nicolas

![image](https://user-ima

[2022-03-16 19:37] nstraw opened #3683 "Missing Dataflow parameters"
[Enter feedback here]
Hello,
I have checked with several customers, none of them have the Dataflow Workload settings displayed in the Admin Portal (like %memory or container size). Is it an anticipation for future release ?
Thanks!!
Nicolas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74987f4b-691c-9816-f600-e0cbbb2d

[2022-03-17 08:56] rraveend opened #3684 "Regarding the limitation of max 50 reports per minute"
1.  is this fixed window like if i send 50 request in 11:30:53 , i can send additional 50 in 10:31:01 ?
or is sliding window - if i send 50 request in 11:30:53 , i can end additional 50 in 10:31:53 ?
2.  Is the limits of 50 a minute per capacity purely on the report execution i.e. that is the step when a report export request is imitated OR does it also include the actual report processing?
3. whe

[2022-03-17 11:53] paulinbar commented on #3560
Hi @GitWesDone, thanks for calling this out. I am adding a section for this in the integrations settings article (https://docs.microsoft.com/en-us/power-bi/admin/service-admin-portal-integration). Update should be out tomorrow. It won't have much content besides what's included in the switch itself, but we'll see what else there is to provide. Thanks!

[2022-03-17 11:53] #3560 closed

[2022-03-17 20:06] ToddChitt opened #3685 "Incremental Refresh is for PREMIUM ONLY, but the content states that it is available for PRO"
You make this statement:
Supported plans
Incremental refresh is supported for Power BI Premium, Premium per user, **Power BI Pro**, and Power BI Embedded datasets.

But when I try to set this up on a PRO Workspace, I get this message:
This dataflow contains tables with active incremental refresh policies, which require Premium to refresh. To enable refresh, **upgrade this workspace to Premium capa

[2022-03-17 22:22] Minewiskan commented on #3685
@ToddChitt - Are you trying to setup IR for a _dataflow_ or a _dataset_? The article you reference is IR for a dataset.

[2022-03-17 22:36] ToddChitt commented on #3685
Data flow

On Thu, Mar 17, 2022 at 6:22 PM Owen Duncan ***@***.***>
wrote:

[2022-03-18 16:05] Minewiskan commented on #3685
@ToddChitt - IR for dataflows is described in [Using incremental refresh with dataflows](https://docs.microsoft.com/en-us/power-query/dataflows/incremental-refresh#incremental-refresh-implementation-details), while it is a bit obscured, "Using incremental refresh in dataflows created in Power BI requires that the dataflow reside in a workspace in Premium capacity. Incremental refresh in Power Apps

[2022-03-18 16:05] #3685 closed

[2022-03-18 16:37] ToddChitt commented on #3685
Do me a favor:

Use BING search engine for the term: “power bi data flow incremental refresh”

Look at the top results. It is a Microsoft Doc with the phrase “Dataflow”. THAT is the article that started all this.

If THAT article does NOT pertain to DATA FLOWS, there please go fix THAT.

From: Owen Duncan ***@***.***>
Sent: Friday, March 18, 2022 12:06 PM
To: MicrosoftDocs/powerbi-docs ***@***.***

[2022-03-18 20:19] kpraeger opened #3687 "Inaccurate licensing info."
In the Prerequisites section of this article is says "You need a Power BI Pro or Premium Per User (PPU) license to publish a report to the service.". I believe that is not accurate, because don't you need a Power BI Premium (per user or per capacity) license to publish paginated reports? I don't believe paginated reports work at all with Power BI Pro.

[Enter feedback here]

---
#### Document Deta

[2022-03-19 02:37] maggiesMSFT commented on #3609
Hi @BNN-Darren -- agreed, that makes it clearer. I've updated the article; change will be live Mon afternoon Mar 21 Pacific time.
Thanks!

[2022-03-19 02:37] #3609 closed

[2022-03-21 07:57] mberdugo commented on #3684
Thanks for your questions, @rraveend. I’ll contact the developers and see I can get answers for you.

[2022-03-21 11:21] timabell opened #3688 "Code example throws away all exceptions"
https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-service-principal-certificate#step-4---get-the-certificate-from-azure-key-vault
[code]
Please don't ever put something like this in examples. People *will* copy paste it into production code making it extremely hard to troubleshoot & support. Not everyone knows just what incredibly bad practice this is.

---
#### Document Details

[2022-03-21 16:02] williamlooney opened #3690 "The Call Quality Data Connector is targeting CY22H2 not CY22H1"
Call Quality Data Connector is targeting CY22H2 not CY22H1, the table needs to be updated. I'm the PM owner for the infra work to enable this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d017bc96-49d4-7b63-9394-1739cdf7528d
* Version Independent ID: 1e70d724-121d-feea-471e-307c2f27dd24
* Content: [Power BI for US gov

[2022-03-21 17:22] kfollis commented on #3690
Thanks for the feedback, @williamlooney. This update has been made. Did you know that you can make these types of changes yourself? Check out aka.ms/contribute for details.

[2022-03-21 17:22] #3690 closed

[2022-03-21 17:24] williamlooney commented on #3690
I am aware that it is possible, just haven’t invested the time to learn how. May be FHL is the time 😊

From: Kate Follis ***@***.***>
Sent: Monday, March 21, 2022 10:22 AM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: William Looney ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] The Call Quality Data Connector is targeting CY22H2 not CY22H1 (Issue #3690)

Thanks for

[2022-03-21 19:47] bishalgoswami opened #3691 "[Test Issue]"
[No doc metadata available]

[2022-03-21 20:16] bishalgoswami commented on #3691
Thanks for your comment, @bishalgoswami. This issue has been assigned to the doc author for review.

[2022-03-21 20:16] #3691 closed

[2022-03-21 21:07] kfollis commented on #3362
@bdgszepesi - unfortunately we are unable to provide a direct link to the Power BI webinars that bypasses registration. However, we do have free online learning available, such as this course on data modeling: https://docs.microsoft.com/en-us/learn/paths/model-power-bi/. I will close this issue now, as it's not related to the documentation. Thank you for providing feedback!

[2022-03-21 21:07] #3362 closed

[2022-03-21 21:37] kfollis commented on #3687
@kpraeger - thank you for the feedback! I have removed that bullet point from the paginated reports articles. The prerequisite of having a workspace in Premium capacity actually covers any licensing requirements so that line item was a bit redundant and added more confusion than clarification. I'll close this issue now.

[2022-03-21 21:37] #3687 closed

[2022-03-21 21:44] kfollis commented on #3669
Hi @SimonSeez - thanks for the feedback on our documentation. I see that you are asking that our docs be expanded to include an additional scenario - using Power Automate with Power BI Report Server. We'll verify whether the scenario is actually viable first - if so, we'll add your suggestion to our writing backlog.

[2022-03-22 08:08] mberdugo commented on #3688
Thanks for pointing this out, @timabell . I asked the developers to provide an alternative code snippet. In the meantime, if you have any suggestions for what to put instead, I'd love to hear them.
Thanks again.

[2022-03-22 09:03] KesemSharabi commented on #3452
Hi @georgedarakji,

I'm looking into this issue and will get back to you as soon as I have an answer.

Thanks,

Kesem

[2022-03-22 10:17] Michael-Morrissey opened #3692 "Data Source Headings"
The table of data sources contains the headings:

1. Data Source
2. Connect from Desktop
3. Connect and Refresh from Service
4. DirectQuery / Live connection
5. Gateway (supported)
6. Gateway (required)
7. Power BI Dataflows

For the Intune Data Warehouse entry, 3. Connect and refresh from service is a Yes.

What does this mean? Power BI Service? the Intune DW SaaS? It states that Gateway is not s

[2022-03-22 11:00] bishalgoswami commented on #3692
Thanks for your comment, @Michael-Morrissey. This issue has been assigned to the doc author for review.

[2022-03-23 06:45] ZdenekSoldan opened #3693 "Global date filter"
In the Capacity Metrics App there is no global date filter. Filtering in each visual is nice but global date slicer synced for all three pages would be much more useful.

[2022-03-23 06:50] ZdenekSoldan opened #3694 "Refresh by Artifact: top N"
The visual Refresh by Artifact is very useful but for bigger tenant it doesn't show relevant output. When there is more artifacts than the visual can show it shows first N artifact in alphabetical order which doesn't make any sense. Changing the visual to show top N (20 or 30) artifacts by the value would be much more better.

[2022-03-23 07:00] bishalgoswami commented on #3694
Thanks for your comment, @ZdenekSoldan. This issue has been assigned to the doc author for review.

[2022-03-23 07:00] bishalgoswami commented on #3693
Thanks for your comment, @ZdenekSoldan. This issue has been assigned to the doc author for review.

[2022-03-23 12:24] KesemSharabi commented on #3694
Thanks for your comment, @ZdenekSoldan.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2022-03-23 12:24] #3694 closed

[2022-03-23 12:25] KesemSharabi commented on #3693
Thanks for your comment, @ZdenekSoldan.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2022-03-23 12:25] #3693 closed

[2022-03-23 12:27] KesemSharabi commented on #3692
Hi @Michael-Morrissey,

Can you please indicate which document you're referring to?

Thanks,

Kesem

[2022-03-23 12:28] KesemSharabi commented on #3683
Thanks for your comment, @nstraw.

This looks like product feedback or a product question, rather than documentation feedback. You can submit product feedback or feature ideas by going to [Power BI Ideas](https://ideas.powerbi.com/forums/265200-power-bi).

You can also engage with the Power BI engineering team by being active in the [Power BI Community](https://community.powerbi.com).

[2022-03-23 12:28] #3683 closed

[2022-03-23 14:16] nstraw commented on #3683
Hello @KesemSharabi,

thank you for your response.

I did not explain clearly the issue in the documentation, sorry about that, I will try to explain more.

Actually the section #dataflows in this documentation provides information on parameters like Max Memory (%), Container Size that are not (yet?) exposed in the Gen2 capacity admin page.

So I would expect those parameters either to be removed

[2022-03-23 16:01] Nata-y opened #3695 "Are Dashborads available in Power BI service only?"
The tutorial https://docs.microsoft.com/en-us/power-bi/create-reports/ contains phrase: "Dashboards are a feature of the **Power BI service** only. They're not available in **Power BI Desktop**".
Is it correct? Because I have just created a dashboard, using **Power BI Desktop**...
This is very confusing for me. I would like to know if I understand all things correctly. Please, help!

---
#### Docu

[2022-03-23 17:29] tessdcotton opened #3696 "MS customer asking for support on Emissions Dashboard"
Got help - please close this

[2022-03-23 18:00] bishalgoswami commented on #3696
Thanks for your comment, @tessdcotton. This issue has been assigned to the doc author for review.

[2022-03-23 19:47] tessdcotton commented on #3696
Thank you - I have found what I needed.

Terry Cotton

From: Bishal Goswami ***@***.***>
Sent: Wednesday, March 23, 2022 1:01 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Terry Cotton (SHE/HER) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] MS customer asking for support on Emissions Dashboard (Issue #3696)

Thanks for your comment, @tessdcotton<https://nam06.sa

[2022-03-23 22:14] maggiesMSFT commented on #3695
Hi @Nata-y - yes, the article is correct as written. A *dashboard* is a specific content type in Power BI.
It's sort of a semantic issue though. You can create a page in a report that acts as a dashboard.
if you download one of the built-in samples (see https://docs.microsoft.com/en-us/power-bi/create-reports/sample-datasets#install-built-in-samples), you see you end up with a dashboard, a report,

[2022-03-23 22:14] #3695 closed

[2022-03-24 00:55] Michael-Morrissey commented on #3692
Hi Kesem,

This is the document: Power BI data sources - Power BI | Microsoft Docs<https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources>
Regards,

Michael.

From: Kesem Sharabi ***@***.***>
Sent: Wednesday, 23 March 2022 8:28 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Morrissey, Michael (IST-FULLCIRCLEPARTNERS) ***@***.***>; Mention ***@***.***>
Subject: [External]

[2022-03-24 18:17] denglishbi opened #3697 "PBI Dataflows multi geo support differences in documentation"
According to this documentation it states that Dataflows workspaces can be configured for multi geo support and ability to place storage accounts outside of the region the tenant is located in https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-develop-solutions#multi-geo-support

But if you look at the actual configuration documentation for ADLS as well as try this in th

[2022-03-24 19:00] bishalgoswami commented on #3697
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-03-25 00:00] eparker-ipSCAPE opened #3699 "Location for custom connector is incorrect"
The page states that the custom connector should be placed in [Documents]\Power BI Desktop\Custom Connectors

This folder does not exist, however there is this path:
[Documents]\PowerBI\

But creating a Custom Connector folder in neither locations actually works. Does this need an update? Cannot find any reference to any other location.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-03-25 00:17] eparker-ipSCAPE commented on #3699
Never mind -- This works when using the "Documents" folder which in my environment was in a different path behind a OneDrive folder.

This is apparently different from the %my username%\Documents path that happens to also sync to OneDrive.... very confusing but I got there in the end.

[2022-03-25 00:17] #3699 closed

[2022-03-26 02:25] rootsmusic commented on #3579
@ronssssss Power Query's data sources has an [Excel doc](https://support.microsoft.com/en-us/office/power-query-data-sources-in-excel-versions-e9332067-8e49-46fc-97ff-f2e1bfa0cb16) and a [Power BI doc](https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources)

[2022-03-26 02:34] rootsmusic opened #3702 "Graph Security API deprecated"
[May 2021 release update](https://powerquery.microsoft.com/en-us/blog/power-query-updates-in-power-bi-desktop-may-2021-release/) announced "This update will remove the connector from the “Get Data” experience in Power BI Desktop".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Ver

[2022-03-26 03:00] bishalgoswami commented on #3702
Thanks for your comment, @rootsmusic. This issue has been assigned to the doc author for review.

[2022-03-26 12:32] ronssssss commented on #3579
Yes, that is my point exactly. The Excel page is a P.O.C. The Excel page only lists a couple of dozen, while the PowerBI page lists hundreds.
.
WHY THE DIFFERENCE?!?
.
Is PQ in Excel dumbed down, or the same as in PowerBI?
________________________________
From: rootsmusic ***@***.***>
Sent: March 25, 2022 9:25 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: ronssssss ***@***.***>; Mention ***@*

[2022-03-26 12:44] ronssssss commented on #3579
And here is another page:
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-sources
.
If PowerQuery is the same, the list of external data sources should be the same. The simplest way to keep it the same is to redirect the various entries to a single page.
________________________________
From: rootsmusic ***@***.***>
Sent: March 25, 2022 9:25 PM
To: MicrosoftDocs/powerbi-docs **

[2022-03-26 16:01] rootsmusic commented on #3579
No @ronssssss, PQ supports different connectors in every product and even between different versions of a product.

[2022-03-26 18:20] ronssssss commented on #3579
Fine, but it really would help to clarify the issue if you put ALL the connectors on one page in One table. Base the table on the grid for Excel 2016 Win -2019, 2021, 365 on this page.
https://support.microsoft.com/en-us/office/power-query-data-sources-in-excel-versions-e9332067-8e49-46fc-97ff-f2e1bfa0cb16
.
Put ALL of the versions on the page into a SINGLE grid, add PQ in the various PowerBI opti

[2022-03-26 22:27] rootsmusic commented on #3123
@bkinnan2 See issue at https://github.com/MicrosoftDocs/powerquery-docs/issues/231

[2022-03-27 09:46] mberdugo commented on #3688
Thanks again, @timabell, for pointing out this problem. The code has been updated and should be live in a day or so.

[2022-03-27 09:46] #3688 closed

[2022-03-27 11:07] bslattz opened #3703 "PowerPlatform.Dataflows vs PowerBI.Dataflows"
[Enter feedback here]
Query folding works in datasets for `PowerPlatform.Dataflows`, connector so it is preferred in that context.  In dataflows however, when accessing another dataflow in the same workspace, `PowerPlatform.Dataflows` do not support linked entities properly.  The `PowerBI.Dataflows` connector needs to be used in this case in order to support automatic orchestration.  I suggest it

[2022-03-27 12:30] paulinbar commented on #3696
Closing as per customer request.

[2022-03-27 12:30] #3696 closed

[2022-03-27 12:33] paulinbar commented on #3650
@davidiseminger, are you familiar with this?

[2022-03-27 13:00] bishalgoswami commented on #3703
Thanks for your comment, @bslattz. This issue has been assigned to the doc author for review.

[2022-03-29 11:06] AnkitKukreja19 commented on #3674
Hi! Any updates or ETA on this?

[2022-03-29 12:22] KarstenTrautmann opened #3704 "JSON with 2 asterisks"
Hi
we find ** bei JASON for using the gateway. What do the 2 asterisks mean?
I have not found any explanation on the web page.
Regards
Karsten

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sour

[2022-03-29 13:00] bishalgoswami commented on #3704
Thanks for your comment, @KarstenTrautmann. This issue has been assigned to the doc author for review.

[2022-03-29 15:55] elkhalafy0 commented on #3674
Okay

On Tue, Mar 29, 2022, 1:06 PM AnkitKukreja19 ***@***.***>
wrote:

[2022-03-29 18:23] mberdugo commented on #3684
Hi @rraveend,
Here are the answers to your questions from the developers:
1.	To the best of my knowledge is sliding as a any DOS throttle in power bi
2.	Is not per capacity is per user, is how many export calls can be initiated
3.	No, it's not tied to the size of the capacity
I hope this helps.

[2022-03-30 06:09] KesemSharabi commented on #1852
Hi @TravisKale,

`DeleteDatasetRows` Indicates that the [Push Datasets - Datasets DeleteRows](https://docs.microsoft.com/rest/api/power-bi/push-datasets/datasets-delete-rows) API was called.

I added this information to [Operations available in the audit and activity logs](https://docs.microsoft.com/power-bi/admin/service-admin-auditing#operations-available-in-the-audit-and-activity-logs).

Thank

[2022-03-30 06:09] #1852 closed

[2022-03-30 06:10] KesemSharabi commented on #3452
Hi @georgedarakji,

`DeleteDatasetRows` Indicates that the [Push Datasets - Datasets DeleteRows](https://docs.microsoft.com/rest/api/power-bi/push-datasets/datasets-delete-rows) API was called.

I added this information to [Operations available in the audit and activity logs](https://docs.microsoft.com/power-bi/admin/service-admin-auditing#operations-available-in-the-audit-and-activity-logs).

Tha

[2022-03-30 06:10] #3452 closed

[2022-03-30 06:41] #3684 closed

[2022-03-30 17:01] MartinaPoddana opened #3705 "Add info on deletion of upgraded Ws and impact on O365"
Hi,

I would like to suggest a change in the Consideration and Limitation section - 4th bullet point
https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-upgrade-workspaces?msclkid=d9ad9d54b01b11ec8c5b288952471257#upgrade-considerations-and-limitations)

From:
The Microsoft 365 group for your classic workspace isn't affected by the workspace upgrade in Power BI. Any Teams, SharePoin

[2022-03-30 17:58] elkhalafy0 commented on #3684
Thank you for your response

On Wed, Mar 30, 2022, 8:41 AM Mona Berdugo ***@***.***> wrote:

[2022-03-30 19:00] bishalgoswami commented on #3705
Thanks for your comment, @MartinaPoddana. This issue has been assigned to the doc author for review.

[2022-03-31 04:59] KerryWang94 opened #3707 "Dashboard Refresh - need add one more limitation"
In scenario of Dashboard having tile against AS Server where the specific model in AS is using Direct Query Model, the dashboard won't be able to trigger auto refresh, This is because Power BI Read Data_modified coulmn from AS DBschema_Catalogs using Adom function to determine whether dashboard refresh need to be triggered .

However that particular column only updated when the date that the catal

[2022-03-31 05:00] bishalgoswami commented on #3707
Thanks for your comment, @KerryWang94. This issue has been assigned to the doc author for review.

[2022-03-31 07:47] AldrinL opened #3708 "will this(secure embed) support OLS?"
It is mentioned that this secure embed option will respect RLS setting, can you please confirm whether OLS will also be supported?
we are asking this becasue we are getting an error trying to get embed token for a report with OLS:
"generating embed token for model with OLS defined is not supported"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-03-31 09:00] bishalgoswami commented on #3708
Thanks for your comment, @AldrinL. This issue has been assigned to the doc author for review.

[2022-04-02 02:47] Hyamyam opened #3709 "[Request] Why don't you add the Symmetry shading and Ratio line?"
Hi Authors,

I'm wondering why there is no information about Symmetry shading and Ratio line in Power BI Docs.
This is new feature but in 2017.
https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-august-2017-feature-summary/#symmetryShading

Why don't you add the Symmetry shading and Ratio line?

![image](https://user-images.githubusercontent.com/73410575/161362870-4c7a0f1e-9084-4bee-8044-62

[2022-04-02 03:00] bishalgoswami commented on #3709
Thanks for your comment, @Hyamyam. This issue has been assigned to the doc author for review.

[2022-04-03 10:06] terenceltl opened #3710 "Categories are assigned to subcategories?"
In the section for snowflake schema, it said:

"Categories are assigned to subcategories, and products are in turn assigned to subcategories."

Shouldn't it be "Subcategories are assigned to categories, ..." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ca67d-ed62-fbe0-85b2-6b1604f9f946
* Version Independent ID:

[2022-04-03 11:00] bishalgoswami commented on #3710
Thanks for your comment, @terenceltl. This issue has been assigned to the doc author for review.

[2022-04-03 13:55] KesemSharabi commented on #3710
@peter-myers can you please review the customer's suggestion in this GitHub issue?

[2022-04-03 14:02] KesemSharabi commented on #3708
Hi @AldrinL,

I'm looking into your question and will get back to you shortly.

Thanks,

Kesem

[2022-04-03 14:04] KesemSharabi commented on #3707
Hi @KerryWang94,

I didn't understand your question - can you please explain what you're after?

Thanks,

Kesem

[2022-04-03 14:14] KesemSharabi commented on #3705
Hi @MartinaPoddana,

I moved this discussion to an email thread.

Thanks,

Kesem

[2022-04-03 14:14] #3705 closed

[2022-04-03 14:23] KesemSharabi commented on #3692
Hi @Michael-Morrissey,

Thanks for confirming the document you're referring to. I'm looking into this issue and will update you when I get an answer.

Kesem

[2022-04-03 14:31] KesemSharabi commented on #3682
Hi @nstraw,

Thanks for getting involved and for your question!

Performance delta refers to CPU usage, which is what Power BI uses to measure performance.

Hope this helps,

Kesem

[2022-04-03 14:31] #3682 closed

[2022-04-03 14:45] nstraw commented on #3682
Hi @KesemSharabi,

as you can see on the image, CPU diff does not match : there's a difference of 216% between day 1 and and 7 and Performance Delta says -25, how is it calculated ?

Thanks to take the time to look at my question.

Nicolas

PS : I'm gonna create another issue as it looks like you don't follow up on issue you closed

![158668796-47358710-899a-41cd-99eb-c1a19b7f7ad5](https://user-im

[2022-04-03 14:49] nstraw opened #3711 "Performance Delta Correct formula"
Hi,

Is it possible to have details on the calculation of the Performance Delta ?

The doc says "For example, 20 suggests that there's a 20% improvement today, compared with the same metric taken a week ago."

As you can see on the image, CPU diff does not match : there's a difference of 216% between day 1 and and 7 and Performance Delta says -25, how is it calculated ? What is the exact formula ?

[2022-04-03 14:56] nstraw opened #3712 "Wrong Dataflow parameters"
Hi,

the section #dataflows in this documentation provides information on parameters like Max Memory (%), Container Size, Enhanced Compute Engine that do not appear in the Gen2 capacity admin page.

This section should be removed.

Thanks,
Nicolas

![Screenshot_8](https://user-images.githubusercontent.com/35227452/161433935-c0f022a9-ea25-4400-83f9-40d52fc3bfb1.png)

![159720071-d000028e-3855-4405-

[2022-04-03 15:00] bishalgoswami commented on #3712
Thanks for your comment, @nstraw. This issue has been assigned to the doc author for review.

[2022-04-03 15:00] bishalgoswami commented on #3711
Thanks for your comment, @nstraw. This issue has been assigned to the doc author for review.

[2022-04-04 06:59] KesemSharabi commented on #3681
Hi @nstraw,

We're working on improving the documentation for the Gen2 app. I'll check with the product team to see what information I can share with you.

Thanks,

Kesem

[2022-04-04 07:20] KesemSharabi commented on #3679
Hi @RuiRomano,

I started an email thread for this.

Thanks,

Kesem

[2022-04-04 07:20] #3679 closed

[2022-04-04 07:24] KesemSharabi commented on #3668
Hi @jonwbstr,

Thank you for your comment. I'm looking into this and will update the document shortly if needed.

Kesem

[2022-04-04 10:45] zincob opened #3713 "Prerequisite are not clear"
[[Enter feedback here]](https://docs.microsoft.com/en-us/power-bi/connect-data/service-connect-to-emissions-impact-dashboard#prerequisites) here is it mentioned: "An admin role with read/write permissions on your Azure tenant."

Is it possible to mention some roles? Admin role is very generic
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-04-04 13:19] waltheed opened #3714 "Power BI Adoption Framework vs Roadmap"
What are the main differences between the Power BI Adoption Framework vs the Power BI Adoption Roadmap?
Are they the same? Do the pptx files and you tube videos from the framework also apply to the roadmap?

Many thanks for explaining,

Edgar Walther

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-04-04 15:00] bishalgoswami commented on #3714
Thanks for your comment, @waltheed. This issue has been assigned to the doc author for review.

[2022-04-04 15:38] dogbite1337 opened #3715 "Sample landing page code may have error"
I believe that there is an error in the sample code provided in the **Example of a visual with a landing page** section of this page. The first line of the HandleLandingPage function is as follows.

`if(!options.dataViews || !options.dataViews.length) { ...`

This didn't work for me as the options.dataView.length column is always > 0, even without any columns added (at least in my custom visual).

[2022-04-04 16:53] mihart commented on #3674
Hi @elkhalafy0 @AnkitKukreja19 ,
No update yet.  We are making other changes to login and will be updating the docs with all changes at the same time.
Thanks
@mihart

[2022-04-04 17:45] rosscouldrey opened #3716 "incorrect reference to another section of the paper??"
In the Dataflows architecture section we have the following sentence:

When data is transferred from the gateway to the cloud service, it is encrypted. See the [Data in Processing](https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-security#data-in-processing) section above.

should we not be pointing to the [data in transit](https://docs.microsoft.com/en-us/power-bi/guidance/wh

[2022-04-04 19:00] bishalgoswami commented on #3716
Thanks for your comment, @rosscouldrey. This issue has been assigned to the doc author for review.

[2022-04-04 19:17] morcinim opened #3717 "This feature is available to Per User Premium users"
Hello team, Is my understanding correct that PPU users should have ALL features related to Azure ML Service available ?
If so can we add PPU licensed users to this paragraph:

[Use Machine Learning and Cognitive Services with dataflows – Power BI | Microsoft Docs](https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-machine-learning-integration#automated-machine-learning-i

[2022-04-04 21:00] bishalgoswami commented on #3717
Thanks for your comment, @morcinim. This issue has been assigned to the doc author for review.

[2022-04-04 21:38] peter-myers commented on #3714
Hi @waltheed - thanks for your question. There are three different sets of Power BI guidance content that are in a state of development. For a good description of them, see this article: https://docs.microsoft.com/power-bi/guidance/powerbi-implementation-planning-introduction

[2022-04-04 21:38] #3714 closed

[2022-04-04 23:28] Hyamyam opened #3718 "Update request | Scatter chart can use trend line without time data"
Hi Authors,

We've confirmed that the Scatter chart can use trend line with any numeric x-axis (mean without time data)
Could you please check and update this?

![image](https://user-images.githubusercontent.com/73410575/161648588-e1bcb716-646b-4976-a007-4929602572d2.png)

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-04-05 04:37] erapade opened #3719 "Suggest bridge table"
In the data model with 4 tables you have a manny to many relationship. Wouldn’t it be god to comment on this an suggest a bridge table for better performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e49a178-5b5e-ae62-b12c-be846eb6ce40
* Version Independent ID: 8372b4a0-75e5-dc84-cdbf-e1c2d76331a7
* Content: [Ro

[2022-04-05 05:00] bishalgoswami commented on #3719
Thanks for your comment, @erapade. This issue has been assigned to the doc author for review.

[2022-04-05 06:10] mberdugo commented on #3715
Thanks for your comment, @dogbite1337. I’ll look into this and get back to you as soon as I can.

[2022-04-05 09:26] AnkitKukreja19 commented on #3674
Hi! @mihart

Thank you for your reply. Do we have an ETA for this?

[2022-04-05 11:11] KesemSharabi commented on #3711
@Hi nstraw,

As you can see from the documentation, the word 'suggest' from the line you quoted implies that this is not a straightforward calculation. The *Performance delta* calculation is supposed to be a representation of the change in performance over a seven day period.

Thanks,

Kesem

[2022-04-05 22:44] peter-myers commented on #3710
Hi @terenceltl - thanks for helping us improve our documentation by raising concern about that sentence. The sentence has since been revised to become more accurate and clear.

[2022-04-05 22:44] #3710 closed

[2022-04-06 06:31] anna907 opened #3720 "Power BI data retention policy link missing"
The following text in the document - data retention policy is mentioned with a link to Power BI Service Agreement. The linked document does not contain any information on the data retention policy.
Would you be able to check this and provide another link - the data retention policy link for Power BI is valuable for the doc content.

"Also, as it states in the data retention policy in the [Power BI

[2022-04-06 07:00] bishalgoswami commented on #3720
Thanks for your comment, @anna907. This issue has been assigned to the doc author for review.

[2022-04-06 13:59] napbarnes opened #3721 "There is no mention I can see of a catastrophic limitation with using shared datasets. If you have contributor or admin permissions on a customer's tenant it is impossible to publish directly. Further, if a dataset you have access to in the portal is in a customer's tenant it is impossible to connect to it to develop PowerBI reports in the desktop version. I'd say that'a a pretty good reason for NOT using shared datasets when you are a developer team working for a customer"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1cce347-2064-d2b3-d7dd-008ecdb36013
* Version Independent ID: 6abb84b5-1657-c8b1-62ef-641883c0e4b9
* Content: [Connect to datasets in the Power BI service from Power BI Desktop - Power BI](https://docs.microsoft.com/en-gb/power-bi/connect-data/deskto

[2022-04-06 14:20] ivilasboas opened #3722 "link for odac versions"
[customers are requesting to have the link for odac versions download updated because that link is only showing older versions for odac. this new link seems to have all recent ones: https://www.oracle.com/database/technologies/dotnet-odacdeploy-downloads.html]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dda0898-54f

[2022-04-06 15:00] bishalgoswami commented on #3722
Thanks for your comment, @ivilasboas. This issue has been assigned to the doc author for review.

[2022-04-06 15:20] mathiasekz opened #3723 "Need more detail about the Performance Delta Calculation"
[Within the Power BI Premium Metrics App, the Performance delta column which indicates the performance evolution per artifact between the last 7 and the 7 previous one is interesting but the documentation does not contain any explanation about the calculation formula (is it based on CPU ? query duration ? number of queries/users ? combination ?)

---
#### Document Details

⚠ *Do not edit this sect

[2022-04-06 17:21] Cornan opened #3724 "Sentence out of place"
Immediately above the "Reports" section is this sentence:

On to the next building block -- visualizations

"visualizations" is NOT the next section, "Reports" is the next section in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-

[2022-04-07 08:26] nstraw commented on #3711
Hi @KesemSharabi,,

I can understand that it is just a suggestion, but it really feels like having a red light blinking on my car's dashboard without knowing what the problem is exactly and most of all, what I should do about it...

Does it refer to refresh CPU consumption, user query CPU consumption ?
Is -25 a big number ? Is it a percentage ? What is the scale ?

It is used by admin to point out

[2022-04-07 11:42] AnkitKukreja19 commented on #3674
Hi! @KesemSharabi @mihart

Can you please provide us with an ETA for this?

Also, can you add additional details like what are the scenarios in which this sign-in UI would be seen? I've identified few and sharing them for your reference.

1) If the user is login app.powerbi.com the very first time.
2) Clearing browser history or cookies.
3) Opening in private or incognito mode of the browser.

[2022-04-07 12:25] MartinaPoddana opened #3725 "Wipe out timing for transition to Gen2"
Hi,

Just under the title in the Important box, there is timing March.
![image](https://user-images.githubusercontent.com/98977972/162196713-23ca6902-a5b6-44ca-9a37-d16b3cb6bc40.png)

Discussed with Roy R that timing is being finalized.
I would like to say something like
"Microsoft will transition all Premium (original version) capacities to modern Premium Gen2 platform. Admins will be notified 60

[2022-04-07 13:00] filipalai opened #3726 "Customized tooltips not available for Table or Matrix visuals"
In the section Customize Tooltips (or similar), the below text is found:
_To create a customized tooltip, in the Fields well of the Visualizations pane, drag a field into the Tooltips bucket, shown in the following image. In the following image, three fields have been placed into the Tooltips bucket_.

It does not mention anything that the visual cannot be a Table or Matrix for this to work. The T

[2022-04-07 13:00] bishalgoswami commented on #3726
Thanks for your comment, @filipalai. This issue has been assigned to the doc author for review.

[2022-04-07 16:27] mobicycle opened #3727 "workspace id says me"
[Enter feedback here]

My workspace id says "me".
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your Power BI embedded analytics application - Power BI](https://docs.microsoft.com/en-us/power

[2022-04-07 16:32] mobicycle opened #3728 "workspace id moved"
[Enter feedback here]

My workspace id says "me".

I found an id in Settings - Admin Portal - Workspaces - Select Workspace - Details
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54016cab-2de5-0d30-2dfa-ee386dcfb881
* Version Independent ID: 4e464b91-bc16-270d-cd51-9bfa396c0326
* Content: [Embed content in your Power

[2022-04-07 17:00] bishalgoswami commented on #3728
Thanks for your comment, @mobicycle. This issue has been assigned to the doc author for review.

[2022-04-07 20:30] npherson opened #3729 ""Export" settings have changed, doc needs updating"
There is no longer an "Export data" section like the documentation shows - it has been split out into multiple new settings like "Export to .CSV", "Export to Excel"
]https://docs.microsoft.com/en-us/power-bi/guidance/admin-tenant-settings#export-data)

![image](https://user-images.githubusercontent.com/22797301/162290627-591762ec-21d7-4451-97c9-054b0808210f.png)

---
#### Document Details

⚠ *Do n

[2022-04-07 20:50] paulinbar commented on #3729
Hi @npherson, thanks for providing the feedback. Yes, the export settings are not much more granular, and we haven't managed to update all the documentation. Moving up that priority. Thanks for taking the time to reach out!

[2022-04-07 20:57] npherson commented on #3729
Glad to help! If I felt like more of an expert, I would have just submitted a pull request with the changes...  Power BI is at the edge of my wheelhouse!

[2022-04-07 21:13] stinethebean opened #3730 "Alternative language samples"
Hey team,  I'm a PM in Microsoft Philanthropies. We're looking for sample PowerBIs in Spanish, German, French, Arabic, and Japanese. Do we have those available? If so, can we link them on the site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e766e393-243c-51bf-59fc-6e08bcd3223f
* Version Independent ID: 5778a496-ab9

[2022-04-07 22:30] djurecic0 opened #3731 "Not able to add map type"
I have followed the instructions below, but the option "Add a map type" is greyed out.
![image](https://user-images.githubusercontent.com/76531789/162330079-9b1e015d-b44d-4550-9124-0ee5c8fc111b.png)

_To use a TopoJSON map file, add a Shape map visual to your report and add some data to the Location and Color saturation buckets. Then, in the Format section, expand Shape, and select + Add map.

Ope

[2022-04-07 22:32] djurecic0 commented on #3731
Seems like you need to change the Map Type to "Custom Map" first.

![image](https://user-images.githubusercontent.com/76531789/162330280-09bb1007-72d3-4821-8f90-a136e4227302.png)

[2022-04-07 23:00] bishalgoswami commented on #3731
Thanks for your comment, @djurecic0. This issue has been assigned to the doc author for review.

[2022-04-07 23:00] bishalgoswami commented on #3730
Thanks for your comment, @stinethebean. This issue has been assigned to the doc author for review.

[2022-04-10 11:34] mberdugo commented on #3728
Hi. @mobicycle, I'm glad you figured this out. I'll look into this to see if it's something I need to add to the docs.

[2022-04-10 15:09] mberdugo commented on #3728
Hi @mobicycle, I updated the doc to include this as an alternative method of finding the workspace ID. Thanks for pointing it out.

[2022-04-10 15:09] #3728 closed

[2022-04-10 15:11] mberdugo commented on #3727
Hi @mobicycle, thanks for this question. The doc was updated.

[2022-04-10 15:11] #3727 closed

[2022-04-10 19:02] ashfaqdawood commented on #1881
I agree to the other comments here, the reference code in the doc is old, the referenced bar-chart git library itself does not have the tests incorporated and is a bit confusing with half baked information about imports and such.

[2022-04-11 04:35] h-vetinari opened #3732 "Describe execution context / runtime for python in PowerBI service"
I need to point to a reference how python models published to PowerBI service are being executed - currently, the only information to this effect that I've found has been in a [blog post](https://powerbi.microsoft.com/de-de/blog/python-visualizations-in-power-bi-service/):

Note that the above quote is the absolute _barest_ minimum of the information that would be necessary for any enterprise cust

[2022-04-11 05:00] bishalgoswami commented on #3732
Thanks for your comment, @h-vetinari. This issue has been assigned to the doc author for review.

[2022-04-11 08:19] mberdugo commented on #3715
Thanks again, @dogbite1337. I updated the code and it should be live in a day or so.

[2022-04-11 08:19] #3715 closed

[2022-04-11 12:58] KesemSharabi commented on #3681
Hi @nstraw,

After speaking to the marketing team, I can confirm that we're not planning to make documentation changes at present. However, this may change in the future.

Your calculation which I believe is based on the information from the docs, is correct.

Hope this helps,

Kesem

[2022-04-11 12:58] #3681 closed

[2022-04-11 13:24] KesemSharabi commented on #3730
Hi @stinethebean,

I started an email thread for your request.

Thanks,

Kesem

[2022-04-11 13:24] #3730 closed

[2022-04-11 13:32] KesemSharabi commented on #3725
Hi @MartinaPoddana,

Thank you for your comment - good call!

I amended the note in [Power BI Premium features](https://docs.microsoft.com/power-bi/enterprise/service-premium-features) to look like this:

![image](https://user-images.githubusercontent.com/54834915/162750487-6b9289b0-3fba-4e1c-80e4-e33bb150b049.png)

This note is now aligned with the third paragraph in [Plan your transition to Powe

[2022-04-11 13:32] #3725 closed

[2022-04-11 13:51] #3712 closed

[2022-04-11 19:51] Cornan opened #3733 "Can't hear the audio on the Tooltips video"
I turned up the audio volume on both my laptop and in the video itself and still could not hear the voice well enough to understand it.

I could hear a very faint female voice, and I have been using the audio on this system, but on this page and this video, very, very quiet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-04-11 21:00] bishalgoswami commented on #3733
Thanks for your comment, @Cornan. This issue has been assigned to the doc author for review.

[2022-04-11 23:04] h-vetinari commented on #3732
Hello @KesemSharabi, thank you for your response.

I don't really appreciate you closing this right away, before I even had a chance to respond.

I strongly disagree on this - it's deployed functionality that's severely underdocumented (by several measures, including how extensively other functionality is documented), not a product feedback.

It's impossible for me to understand from the current d

[2022-04-12 19:06] denglishbi opened #3735 "Screenshot still shows "(Preview)""
Is it possible to get the screenshot updated to no longer show the "(Preview)"? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 813551b0-a4ad-51a1-1d1d-f95815fed880
* Version Independent ID: 813551b0-a4ad-51a1-1d1d-f95815fed880
* Content: [Sensitivity label change enforcement - Power BI](https://docs.microsoft.c

[2022-04-12 21:00] bishalgoswami commented on #3735
Thanks for your comment, @denglishbi. This issue has been assigned to the doc author for review.

[2022-04-13 08:41] jmarindi opened #3736 "Auto Refresh visuals"
Kindly use the latest Microsoft power BI version to update the tutorials. They dont make sense anymore with the new versions of power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fedb7099-554f-0eed-eaa6-fc13851eb3b1
* Version Independent ID: 8beddbbe-5ebc-60e4-ab28-fd130283a8c1
* Content: [Automatic page refresh i

[2022-04-13 10:08] gmuenster opened #3737 "VNet public preview?"
The document says that VNet will be in public preview soon. To my understanding VNet already is in public preview and GA is planned for September 2022. Should this be adjusted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0a5167-9181-bcb4-091c-9e603d2cf296
* Version Independent ID: a8cbde60-5bb8-875f-3b8c-75dac8a25

[2022-04-13 10:22] gmuenster opened #3738 "VNet preview state and date for Preview features release plan"
The document says that VNet will be in public preview soon. To my understanding VNet already is in public preview and GA is planned for September 2022. Should this be adjusted?

Also, the Preview features section refers to features planned for release in March 2021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0a51

[2022-04-13 13:01] bishalgoswami commented on #3738
Thanks for your comment, @gmuenster. This issue has been assigned to the doc author for review.

[2022-04-13 13:01] bishalgoswami commented on #3737
Thanks for your comment, @gmuenster. This issue has been assigned to the doc author for review.

[2022-04-13 13:01] bishalgoswami commented on #3736
Thanks for your comment, @jmarindi. This issue has been assigned to the doc author for review.

[2022-04-13 19:33] stevenoig opened #3739 "Power BI change log"
Why is the "What's new in Power BI?" web page not updated when new versions are released?  Only the first monthly update is listed, not subsequent updates.  Example: v2.103.881.0 has been released, but the "What's new in Power BI?" doesn't show the changes in that version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-04-13 21:00] bishalgoswami commented on #3739
Thanks for your comment, @stevenoig. This issue has been assigned to the doc author for review.

[2022-04-13 22:58] akangsha121 opened #3740 "Article Addition- Resolve issues related to creating and rendering visuals while connecting to Power BI dataset with live connection"
[When you attempt to create a new connection or connect to Power BI dataset, you may experience Power BI Desktop stall and timing out, there is no error message displayed on the visuals and the wheel keeps spinning indicating that it is busy and never loads.
Check if your machine has a security product (e.g. Digital Guardian) installed and running on your machine. In some cases security product su

[2022-04-13 23:00] bishalgoswami commented on #3740
Thanks for your comment, @akangsha121. This issue has been assigned to the doc author for review.

[2022-04-14 13:40] Robert-Kostecki opened #3741 "Service interruption - is Autoscale with Power BI Premium online or offline operation?"
The article does not prescribe if the Power BI Service goes down during the autoscaling (i.e. offline operation) or whether it stays online (no service interruption). Could you please clarify?

Many thanks,
Rob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 045fc571-5d81-0179-a69b-58a43d5b8ab6
* Version Independent ID:

[2022-04-14 19:13] braddarwin opened #3742 "Clunky sample data from Microsoft"
[Enter feedback here]
1) First you download a zip file from Microsoft site (instead of linking to individual excel files).  Not terrible but not as easy as simply selecting an individual excel I want and pulling just that file.  This wouldn't be as bad if the actual excel files worked (see comment below).

2) Excel files require extra stuff to even get them to work and I was still unsuccessful.  W

[2022-04-14 21:00] bishalgoswami commented on #3742
Thanks for your comment, @braddarwin. This issue has been assigned to the doc author for review.

[2022-04-15 04:47] pebarrer opened #3743 "Permissions Prerequisite for Emissions Dashboard is unclear."
Hi there...

The Perquisites specify "An admin role with read/write permissions on your Azure tenant."   I am assuming someone who has Owner or Contributor level to the subscriptions in the Azure tenant.  Can we scope this read/write admin to an Azure Management Group?  Or...  Are we talking about an EA administrator role?  In the case of an EA Administrator, can they just have Read Access or must

[2022-04-15 05:00] bishalgoswami commented on #3743
Thanks for your comment, @pebarrer. This issue has been assigned to the doc author for review.

[2022-04-16 18:26] sqlchick opened #3745 "Adding a mention of OLS"
Hello there.

One of the Q&A items towards the end currently reads as follows:
Question: Can I use RLS to limit the columns or measures accessible by my users?
Answer: No, if a user has access to a particular row of data, they can see all the columns of data for that row.

It would be nice to see this answer updated to acknowledge object-level security (even though it needs to be managed with a to

[2022-04-16 19:00] bishalgoswami commented on #3745
Thanks for your comment, @sqlchick. This issue has been assigned to the doc author for review.

[2022-04-18 13:00] NishantRanjan opened #3746 "Users with PPU subscriptions cannot share content with users who have a Pro or free license?"
[Enter feedback here]
Users with PPU subscriptions cannot share content with users who have a Pro or free license?

I am not sure what it means? Somewhere it mentioned user with "free/pro" can be added as a viewer role. Also, the content will be shared as APP.

Now both users (Free & Pro) are getting alert to "go with PPU trail for 60 days to access". What purpose does PPU  if all user has to get

[2022-04-18 15:00] bishalgoswami commented on #3746
Thanks for your comment, @NishantRanjan. This issue has been assigned to the doc author for review.

[2022-04-19 08:45] PU-101 opened #3747 "Check 'Data Connectivity Mode' When Using Dynamic Query"
Hi team,
I created a new source with **Blank Query** and followed other steps shown in this page. But the graph wasn't be updated when I reselected the slicer. Finally I figure out that it is because the default value of Data Connectivity Mode is '**Import**', not 'DirectQuery'. Dynamic  m query parameters only take effects when the mode is '**DirectQuery**'. I think it's important for a newcomer

[2022-04-19 09:00] bishalgoswami commented on #3747
Thanks for your comment, @PU-101. This issue has been assigned to the doc author for review.

[2022-04-19 09:59] WOLF-WARG opened #3748 "old code?"
regarding:
this.svg.on('contextmenu', ()

to me, it seems that this needs updating since
the "on" method now  looks like
on(typenames: string, listener: (this: GElement, event: any, d: Datum)
and the d3.event is no longer accesible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b233a19f-82a7-f7e6-a22b-ea3f68f723be
* V

[2022-04-19 11:00] bishalgoswami commented on #3748
Thanks for your comment, @WOLF-WARG. This issue has been assigned to the doc author for review.

[2022-04-20 12:17] chrisgmbishop opened #3750 "Misleading text regarding PPU license features"
This line is misleading "With a PPU license, you do not need a separate Power BI Pro license, as all Pro license capabilities are included in PPU" as further down it stipulates that PPU users can't share with Pro users. If there were feature parity (as I have already tested this and with my PPU _add-on_ to a Pro license, it is not sharable to Pro users) PPU Users would be able to share with Pro us

[2022-04-20 12:37] mberdugo commented on #3748
Thanks for your comment, @WOLF-WARG, I’ll look into this and update the code if necessary.

[2022-04-20 12:41] djurecic0 opened #3751 "Grammar/Meaning unclear"
"in workspace" does not make sense to me. Which workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c63999-09de-cccf-ae53-ef7fcfbc1186
* Version Independent ID: 39407557-14d4-f78b-bfcb-ea95cf501c47
* Content: [Copy reports from other apps or workspaces - Power BI](https://docs.microsoft.com/en-us/power-bi/conne

[2022-04-20 14:00] GMedlin opened #3752 "Incorrect Page Title Referencing ALM"
The page title that is showing for links on this page and its troubleshooting page don't match the header title. The page title should be "Automate your deployment pipeline using APIs and Azure DevOps" rather than "Automate your deployment pipeline, the Power BI Application lifecycle management (ALM) tool".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-20 14:42] justinrr07 opened #3753 "Missing condition for "I can't create a report attachment, full report attachment greyed out""
I believe for this section; a 4th condition is required. Only a report owner can use this feature. Please let me know if I'm wrong but this was the only solution I could find when working with a customer on this issue. All other conditions listed in the documentation were met.

https://docs.microsoft.com/en-us/power-bi/consumer/service-troubleshoot-subscribe#i-can-t-create-a-report-attachment--ful

[2022-04-20 15:00] bishalgoswami commented on #3753
Thanks for your comment, @justinrr07. This issue has been assigned to the doc author for review.

[2022-04-20 15:00] bishalgoswami commented on #3752
Thanks for your comment, @GMedlin. This issue has been assigned to the doc author for review.

[2022-04-20 16:04] mfloyd65 commented on #3753
Just leaving this supporting documentation. Including an attachment is a Premium only feature. https://docs.microsoft.com/en-us/power-bi/consumer/end-user-subscribe?tabs=creator#:~:text=Full%20report%20attachment%20as%20(for,and%20less%20than%2025%20MB.

[2022-04-20 16:07] justinrr07 commented on #3753
That is correct. However, in addition to that, only the owner of the report can use the feature. It is an additional requirement.

Justin Rister
Cloud Solution Architect - Data & AI
***@***.******@***.***>

[Microsoft Logo]

________________________________
From: mfloyd65 ***@***.***>
Sent: Wednesday, April 20, 2022 12:04:33 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Justin Rister ***@***.

[2022-04-20 16:30] mfloyd65 commented on #3753
Correct but can we list it as a Premium only feature on the document (with the additional guidance provided)?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Justin ***@***.***>
Sent: Wednesday, April 20, 2022 11:07:36 AM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: mfloyd65 ***@***.***>; Comment ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Missi

[2022-04-20 16:42] justinrr07 commented on #3753
Sounds good.

Thank you,

Justin Rister
Cloud Solution Architect - Data & AI
***@***.******@***.***>
[Microsoft Logo]

From: mfloyd65 ***@***.***>
Sent: Wednesday, April 20, 2022 12:30 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Justin Rister ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Missing condition for "I can't create a report attachment, full report at

[2022-04-20 19:44] Melsize opened #3754 "Tracking Composite Models"
Is there a way to track which datasets are using a composite model and the lineage of those?  This will be most useful when changes need to be made.  At time, we are using composite models with additional data, which creates a new dataset, making the lineage difficult to trace.

[2022-04-20 21:00] bishalgoswami commented on #3754
Thanks for your comment, @Melsize. This issue has been assigned to the doc author for review.

[2022-04-20 22:00] jasonhorner opened #3755 "Document Alternate Publishing methods from visual studio or API"
it looks like the documentation provides no indication on publishing paginated reports from visual studio. if this isn't a supported option it should be called out explicitly it would also be nice to show an example or provide a link to the documentation for publishing rdl files via powershell or the API  / CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-04-20 23:00] bishalgoswami commented on #3755
Thanks for your comment, @jasonhorner. This issue has been assigned to the doc author for review.

[2022-04-20 23:55] jopebeni opened #3757 "Developer settings part confusing"
the placement of the paragraph "This setting applies to streaming and PUSH datasets. If disabled, users will not be allowed send data to streaming and PUSH datasets using the API with a resource key." makes it confusing to the readers. Does this statement only apply to the tenant settings: Block ResourceKey Authentication (disabled by default)*

or does this statement apply to all the developer te

[2022-04-21 01:00] bishalgoswami commented on #3757
Thanks for your comment, @jopebeni. This issue has been assigned to the doc author for review.

[2022-04-21 07:39] merwynpaulose opened #3758 "Unable to create a responsive slicer as the option to enable Responsive is disabled(greyed out) under Visualizations pane/Format visual tab/General tab/Properties/Advanced options"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed3feb5-5b30-8f94-9a3d-7a9574490d9c
* Version Independent ID: 85862cdb-9e39-2427-22de-430080febee9
* Content: [Create a responsive slicer you can resize in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-slicer-

[2022-04-21 07:40] merwynpaulose commented on #3758
![image](https://user-images.githubusercontent.com/98316542/164404278-16b25504-0fad-4115-b557-e2278481e26e.png)

[2022-04-21 09:00] bishalgoswami commented on #3758
Thanks for your comment, @merwynpaulose. This issue has been assigned to the doc author for review.

[2022-04-21 10:29] b77uw771b opened #3759 "Doesn’t mention anything about managing subscriptions for report published through an app"
The document on managing report subscriptions in power BI does not mention anything about how to manage a report subscription created by another user in a published app as opposed to a workspace. We suspect it is not even possible. But this must be listed as a limitation if that is the case.  This ambiguity has caused a lot of confusion in the community. You can reference the post on the Power BI

[2022-04-21 11:00] bishalgoswami commented on #3759
Thanks for your comment, @b77uw771b. This issue has been assigned to the doc author for review.

[2022-04-21 13:29] MarkHaggett opened #3760 "Excel mentioned rather than DAX"
In the fourth bullet-point of [Implicit and explicit data type conversion in DAX formulas](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-data-types#implicit-and-explicit-data-type-conversion-in-dax-formulas), it mentions Excel rather than DAX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83479d4-0fb

[2022-04-21 17:29] bernatagulloesbrina opened #3761 "Missing known issue"
Conditional formatting for datalabel text color is still not being evaluated for each data point
see this tweet for reference
https://twitter.com/AgulloBernat/status/1463993479579713543

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f647b6e3-c651-b39b-56d5-f919184c92c1
* Version Independent ID: f647b6e3-c651-b39b-56d5-

[2022-04-21 19:00] bishalgoswami commented on #3761
Thanks for your comment, @bernatagulloesbrina. This issue has been assigned to the doc author for review.

[2022-04-22 00:06] Grantglass opened #3762 "Connect app to multiple repos through an organization?"
The GitHub app is really useful! However, it requires you to enter in a repository in order for it to work. What if I wanted a picture of a whole organization or user? Is there a way to configure the app to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c027250-07bf-8656-c8a1-fa3267172003
* Version Independen

[2022-04-22 06:19] JeKlSt opened #3763 "Are streaming dataflows also affected?"
Are streaming dataflows also affected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383d7653-8bb3-5e12-976d-b7b591aa098b
* Version Independent ID: 383d7653-8bb3-5e12-976d-b7b591aa098b
* Content: [Known issue - Long running, failed or stuck dataflow in Premium Gen2 - Power BI](https://docs.microsoft.com/en-us/power-bi

[2022-04-22 07:00] bishalgoswami commented on #3763
Thanks for your comment, @JeKlSt. This issue has been assigned to the doc author for review.

[2022-04-22 18:32] phil-lgr opened #3764 "There is an error in the JSON (Properties within each card)"
In https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#properties-within-each-card

the JSON is not valid, there is a missing closing bracket after `legend`

[code]

WE NEED this whole JSON and the others to be published as a schema and possibly TypeScript definitions files, thanks!

Please follow up on my idea: https://ideas.powerbi.com/ideas/idea/?ideaid=cead8d13-67c2-

[2022-04-22 19:00] bishalgoswami commented on #3764
Thanks for your comment, @phil-lgr. This issue has been assigned to the doc author for review.

[2022-04-22 19:59] phil-lgr commented on #3764
@maggiesMSFT @KesemSharabi if you could shine a light on the issue with having no schema or type definitions for the Theme JSON I would really appreciate

I started writing my own types around the raw JSON, obviously we should not have to do this to have basic autocomplete

![image](https://user-images.githubusercontent.com/9644867/164785285-58859479-52df-4065-a85f-85b114efde06.png)

[2022-04-23 23:55] bobert13581 opened #3765 "Axes or Axis?"
PowerBI itself uses Axis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3229b52a-44a8-a65a-be24-103fd317b6e8
* Version Independent ID: 45eaf33e-42d4-919e-8031-dbefc04d6685
* Content: [Tips to manage axes in Power BI reports - Power BI](https://docs.microsoft.com/en-us/power-bi/guidance/report-design-tips-axes)
* Conte

[2022-04-24 01:00] bishalgoswami commented on #3765
Thanks for your comment, @bobert13581. This issue has been assigned to the doc author for review.

[2022-04-24 10:19] peter-myers commented on #3765
Hi @bobert13581 - thanks for your feedback. I'm unclear about your message. The plural of axis is axes.

[2022-04-24 10:19] #3765 closed

[2022-04-25 07:39] levalencia opened #3767 "UserWarning: mkl-service package failed to import, therefore Intel(R) MKL initialization ensuring its correct out-of-the box operation under condition when Gnu OpenMP had already been loaded by Python process is not assured"
Hello

I am trying to run a python script from PowerBI to create an easy visualization.
However I get this error when I click on see details on the visual.

Feedback Type:
Frown (Error)

Timestamp:
2022-04-25T07:35:46.8544060Z

Local Time:
2022-04-25T09:35:46.8544060+02:00

Session ID:
755634ac-4894-4177-a1c7-a7bf83fff43e

Release:
February 2022

Product Version:
2.102.845.0 (22.02) (x64)

Error M

[2022-04-25 09:00] bishalgoswami commented on #3767
Thanks for your comment, @levalencia. This issue has been assigned to the doc author for review.

[2022-04-25 09:30] levalencia opened #3768 "Question: Python visuals Publish To Power bi Service"
I was able to create a Python Visual with matplotlib and it works on Power BI Desktop.
I had to manually install some python packages in the corresponding directory selected in config: eg: pandas, nltk, matplotlib.  But it works.

However when I publish to Power BI Service I get this error:
 No module named 'nltk'

Is there any way to install our own python modules in Power BI Service? Or is this

[2022-04-25 09:34] mansohrstrom opened #3769 "External sharing setting"
The setting **External sharing** under **Export and sharing settings** in tenant settings is not clearly documented. There's no help text and it's not available on the documentation page. Trying to figure out combination of settings is really hard. This particular setting adds a lot of confusion since it's not explicitly mentioned anywhere.

---
#### Document Details

⚠ *Do not edit this section.

[2022-04-25 11:00] bishalgoswami commented on #3769
Thanks for your comment, @mansohrstrom. This issue has been assigned to the doc author for review.

[2022-04-25 11:00] bishalgoswami commented on #3768
Thanks for your comment, @levalencia. This issue has been assigned to the doc author for review.

[2022-04-25 12:57] mansohrstrom commented on #3769
Thanks! Specifically we're confused with the two settings:

- Invite external users to your organization - Set to Enabled for entire org
- External sharing - Set to Enabled for specific group

In relation to the **Guest Inviter** role. We can invite people to our tenant using AAD New guest. But whenever we try to do it from Power BI we get:

One or more e-mail addresses with the following domains

[2022-04-25 14:13] bernatagulloesbrina opened #3770 "Dataflow fails and no error is shown in log file"
see this tweet
https://twitter.com/AgulloBernat/status/1518220705875255296

Today I checked with the issue team and they told me it's a known issue
TrackingID#2204240050000307

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f647b6e3-c651-b39b-56d5-f919184c92c1
* Version Independent ID: f647b6e3-c651-b39b-56d5-f919184c92

[2022-04-25 15:00] bishalgoswami commented on #3770
Thanks for your comment, @bernatagulloesbrina. This issue has been assigned to the doc author for review.

[2022-04-25 17:25] otarb commented on #3768
hello @levalencia, you can find list of supported Python packages here - [Python packages that are supported in Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-python-packages-support)

You will not be able to install your own Python packages in the service, this is not supported

[2022-04-25 17:30] otarb commented on #3767
hello @levalencia, this could happen when using custom Python distribution (eg: Anaconda3) which requires extra steps to initialize environment, and since PowerBI directly invokes Python executable those initialization steps are missed. As a possible solution, you can start PowerBI Desktop from your custom Python environment prompt

This is also called out by our documentation - [Using custom Pyth

[2022-04-25 18:50] savoy9 opened #3771 "OneDrive refresh is only relevant to service created datasets."
This document needs to be updated to make clear that it is only relevant to creating a dataset/report in the service and not when creating reports from power bi desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc35788c-900b-1902-db56-c38ae1fd7bf2
* Version Independent ID: 7f045fe8-3ac6-29ae-10c5-69e7564dcbe5
* C

[2022-04-25 20:18] davidiseminger commented on #3740
Thanks, I've updated this in the docs.

[2022-04-25 20:18] #3740 closed

[2022-04-26 07:35] levalencia commented on #3767
Thank you for the response, I also found out about this and wrote about it. https://medium.com/@luisevalencia/using-powerbi-with-python-visuals-1d6734fb6ad1

[2022-04-26 07:35] #3767 closed

[2022-04-26 13:00] abishek-Rajasegar opened #3772 "Multi-select option is turning off automatically when tables are refreshed - dynamic m query parameter"
[Enter feedback here]
Hi ,

The multi select option is automatically turning off when tables are refreshed in power bi. The state changes from multi select to single select automatically. Please can you help me to come out of this issue.

Thanks,
Abishek R.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc66475d-11b3-ba

[2022-04-26 15:08] b77uw771b opened #3773 "Are subscriptions created from a Workspace's app manageable by the Workspace's admin????"
@mibruhje Please clarify if it is possible to manage a workspace's app's subscriptions as an admin of that workspace. It appears to be impossible. Need an ETA on this missing functionality.
https://powerbi.microsoft.com/en-us/blog/managing-power-bi-subscriptions-just-got-easier/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-26 15:08] b77uw771b commented on #3773
https://powerbi.microsoft.com/en-us/blog/managing-power-bi-subscriptions-just-got-easier/

[2022-04-26 21:51] mihart commented on #3759
Hi @b77uw771b ,
Thank you for your suggestion.  I've updated the document to reflect the current functionality.  It should go live by tomorrow. Admins do not have access to subscriptions created in apps in My workspace.
All the best,
Michele

[2022-04-26 21:51] #3759 closed

[2022-04-26 22:04] mihart commented on #3770
Hi @bernatagulloesbrina ,
Thank you for bringing this known issue to my attention.  I've passed along the information to the known issues authors and if they concur that it is a known issue then we will add it to the list/site asap.
All the best,
Michele

[2022-04-26 22:04] #3770 closed

[2022-04-26 22:20] mihart commented on #3731
Hi,
Thank you for your suggestion @djurecic0 and for your solution @djurecic0!  We've made the update and set the article to republish.
All the best,
The DOCS team

[2022-04-26 22:20] #3731 closed

[2022-04-26 22:29] mihart commented on #3724
Hi @Cornan ,
Great catch!  Thank you.  The doc has been updated and set to republish.

[2022-04-26 22:29] #3724 closed

[2022-04-26 23:42] bslattz opened #3774 "Its resort, not resource"
[Enter feedback here]
Change prose from

As a last _resource_, you can try swapping the workspace out of Premium to Pro and wait a few minutes. Then switch the workspace back to Premium. This solution may help to provide relief, but the issue could reoccur.

To

As a last _resort_, you can try swapping the workspace out of Premium to Pro and wait a few minutes. Then switch the workspace back to Pr

[2022-04-27 03:51] FengLing007 opened #3775 "Scaling operation will not cause downtime issue with Embedded Gen2"
Hi Team,

As said in this [document](https://docs.microsoft.com/en-us/power-bi/developer/embedded/power-bi-embedded-generation-2#autoscaling-in-embedded-gen2), with Embedded Gen2, we can scale Power BI Embedded resource **without experiencing any downtime**. Is that correct? If true, then there is a conflict between the current page with that document.

---
#### Document Details

⚠ *Do not edit th

[2022-04-27 06:25] KesemSharabi commented on #3764
Hi @phil-lgr,

Thank you for your comment and for getting involved!

You're right about the JSON example, something doesn't look right after 'legend'. I have a feeling that perhaps 'show' needs a square bracket instead of a curly one. I'll check this with the dev team and fix the document accordingly.

As for your idea, this is really for the product team to decide upon. I'm glad you already engag

[2022-04-27 07:29] #3768 closed

[2022-04-27 07:49] KesemSharabi commented on #3758
Thanks for your comment, @merwynpaulose.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

[2022-04-27 07:49] #3758 closed

[2022-04-27 08:03] #3755 closed

[2022-04-27 08:13] marshal115 opened #3776 "Considerations and limitations - The dataflows feature is not supported on Multi-GEO at this time"
I've found the following sentence really confusing and please revise it or add asterisk next to it.

Source:
https://staticsint.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html
**The dataflows feature is not supported on Multi-GEO at this time**

Some customers have been confused by this single line because it's not clearly stated. Please take a look at the following link for w

[2022-04-27 08:30] KesemSharabi commented on #3754
Hi @Melsize,

As far as I'm aware, there isn't a way to track the lineage of composite models (see [Considerations and limitations](https://docs.microsoft.com/power-bi/collaborate-share/service-data-lineage#considerations-and-limitations)).

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community](https://commu

[2022-04-27 08:30] #3754 closed

[2022-04-27 08:41] paulinbar commented on #3769
Hi @mansohrstrom, Good question. I know B2B is being worked on. Let me see if I can get some clarity.

[2022-04-27 08:49] mberdugo commented on #3775
Thanks for your question, @FengLing007. I see the contradiction in the documentation. I'll look into it and try to clarify it as soon as I can.

[2022-04-27 09:00] KesemSharabi commented on #3752
Hi @GMedlin,

Thank you for your comment and for getting involved.

Every article has a page title (header title) and a metadata title. The page title is the name of the page as it's displayed when you read the article. The metadata title is used by search engines to position the article in the right place among your search results.

In the case of [Automate your deployment pipeline using APIs and

[2022-04-27 09:07] KesemSharabi commented on #3750
Hi @chrisgmbishop,

Can you please quote the sentence that talks about PPU users can't share with Pro users?

I'd like to get the full picture before I make changes to the article.

Thanks,

Kesem

[2022-04-27 09:16] KesemSharabi commented on #3742
Hi @braddarwin,

I'm sorry that you had a bad experience with our excel samples. I'm looking onto ways we can improve this experience and will get back to you shortly.

Thanks,

Kesem

[2022-04-27 09:18] KesemSharabi commented on #3741
Hi @Robert-Kostecki,

Good question, I'll look into it and get back to you shortly.

Thanks,

Kesem

[2022-04-27 09:31] KesemSharabi commented on #3733
Hi @Cornan,

I just tested this [video](https://docs.microsoft.com/power-bi/create-reports/desktop-visual-tooltips?tabs=desktop-new%2Cpowerbi-desktop#video) on both Edge and Chrome, and it worked well with a good volume level.

Perhaps the problem is elsewhere? It could be your browser's settings for example. You can also try to download the video and open it in another application.

Hope this hel

[2022-04-27 09:34] KesemSharabi commented on #3723
Hi @mathiasekz,

Thank you for identifying this gap. I'm currently working with the product team to improve the performance delta explanation. I'll let you know as soon as the revamped explanation is published.

Thanks,

Kesem

[2022-04-27 09:40] KesemSharabi commented on #3711
Hi @nstraw,

Thanks for the feedback. I'm working with the product team to update the performance delta explanation. I'll let you know as soon as it's published.

Thanks,

Kesem

[2022-04-27 12:07] mberdugo commented on #3775
Hi @FengLing007.
In Gen1 scaling can involve a short downtime. With Gen2 there is no downtime. The documentation will be updated to clarify that information. Thanks again for pointing this out.

[2022-04-27 12:29] mberdugo commented on #3748
Hi, @WOLF-WARG, it seems that the code here is indeed outdated. Our team is working on updating it. Thanks for bringing this to our attention.

[2022-04-27 13:02] MartinaPoddana opened #3778 "Capacity Metric App - Refresh tab & refresh detail"
Hi

I would like to add for this section [https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-gen2-metrics-app#refresh] what the Timestamp represents.
- when CPU & Duration is 0 then it is the START of a refresh
- when the CPU & Duration has a value then it is the END of a refresh

The reason is that CX is comparing this against the Refresh history from Service and is confused abo

[2022-04-27 14:26] jasonhorner commented on #3755
Not looking for support on this issue. just want to be sure that if an approach isn't supported ie (VS Studio publishing) it is documented.

[2022-04-27 14:54] justinrr07 commented on #3753
Hi,

Is the documentation going to include the suggestion I made below?

Thank you,

Justin Rister
Cloud Solution Architect - Data & AI
***@***.******@***.***>
[Microsoft Logo]

From: Justin Rister
Sent: Wednesday, April 20, 2022 4:03 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>; MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [MicrosoftDocs/powerbi-docs] Missing co

[2022-04-27 16:14] davidiseminger commented on #3692
Hello @Michael-Morrissey, that third column refers to the Power BI service, and whether that data connector can be connected from the Power BI service and refreshed from there as well. A report that works on Power BI Desktop can indeed be published to the service using that connector. If you need to use a gateway to access the data for that connector, it's not supported.

If you need further help,

[2022-04-27 16:14] #3692 closed

[2022-04-27 16:29] phil-lgr commented on #3764
@KesemSharabi thank you, if you have any other insight, please let us know :)

[2022-04-27 17:48] chrisgmbishop commented on #3750
No trouble. It is under the End User Experience heading with this text and table. This has also been true as we have tried with Pro users to access my PPU report and they could only see it after they upgraded to PPU.
![Screen Shot 2022-04-27 at 15 16 53](https://user-images.githubusercontent.com/16527614/165588158-22f0256b-fcbc-4921-8e46-75c57bc58f13.png)

[2022-04-27 21:50] mscottsewell opened #3780 "Microsoft 365 / Dataverse name updates"
The list of connectors needs an update for the Microsoft 365 and Dataverse connectors:

The line for the "Microsoft 365 (Online)" connector is out of date - That connector has been renamed to "Dynamics 365 Online (legacy)"
![image](https://user-images.githubusercontent.com/6276300/165636992-d8fefb7c-a4d9-4f22-8d23-960314ccdc99.png)

The "Microsoft Dataverse" connector is now named both "Dataverse"

[2022-04-28 08:40] nstraw commented on #3711
Hi Kesem,

thanks for the follow up, very much appreciated.

I'll stay tuned.

Nicolas

Le mer. 27 avr. 2022 à 05:40, Kesem Sharabi ***@***.***> a
écrit :

[2022-04-28 16:30] #3775 closed

[2022-04-28 17:35] mihart commented on #3746
Hi @NishantRanjan ,
Thank you for your question.  What you write is correct.  Content in workspaces that are not hosted in Premium capacity can only be shared with users who have a Pro or Premium Per User license, and content in workspaces hosted in Premium Per User capacity can only be shared with users who also have Premium Per User Licenses. It sounds as if you created an app in a workspace hos

[2022-04-28 17:35] #3746 closed

[2022-04-28 18:57] jessicammoss commented on #3763
Hello @JeKlSt.  No, streaming dataflows are not affected by this issue.  Thank you.

[2022-04-28 19:29] jessicammoss commented on #3763
Reassigning to @mihart for closure.

[2022-04-28 20:29] maggiesMSFT commented on #3764
Hi, @phil-lgr --thanks for your comment! Turns out it wasn't a missing bracket; the indentation was wrong. We've fixed that; update will be live this afternoon. Thanks!
I'm going to close this issue. Thanks for creating your idea, https://ideas.powerbi.com/ideas/idea/?ideaid=cead8d13-67c2-ec11-bea1-501ac50a5d5c. That's the right place for it!

[2022-04-28 20:29] #3764 closed

[2022-04-28 22:26] akangsha121 opened #3781 "Revise the external document to provide clear understanding of permissions in Power BI to download the .pbix from dataset & report"
[The Current Statement under limitations section of download .pbix from a report "You can download a file in either Reading view or Editing view, but you must at minimum have Write access to the report or be a Contributor to the workspace" has to be revised as ["You can download a file in either Reading view or Editing view, you must be a Contributor to the workspace"
Also the current statement un

[2022-04-28 23:48] jcbendernh opened #3782 "Add a note for the Power BI Web Service privacy level."
In order for the data sources to return data through the AML model in the web service, all privacy levels for all data sources within the dataset must be set to either Organizational or Public.  When it is set to Private for any data source within the dataset, the AML model does not return any data.

This affects the wording the following paragraph of the document...

Follow the instructions for b

[2022-04-29 00:20] Qbit-joe opened #3783 "Sparklines - more details pls"
Would be good to get more details on how to read the actual trendline with examples please i.e. based on various dates or other examples :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563a8bf4-617f-844d-bfe4-1b9261ef518d
* Version Independent ID: 563a8bf4-617f-844d-bfe4-1b9261ef518d
* Content: [Create sparklines in

[2022-04-29 01:50] maggiesMSFT commented on #3774
good catch! Fixed, update will be live tomorrow afternoon April 29 Pacific time

[2022-04-29 01:50] #3774 closed

[2022-04-29 01:59] maggiesMSFT commented on #3783
@Qbit-joe -- thanks for the suggestion! I'll see what we can do.

[2022-04-29 03:42] kathleenlgo opened #3784 "Clarity on support for reports created in the Power BI service"
Hi,

May I clarify the 2 highlighted points below please:
![image](https://user-images.githubusercontent.com/22525477/165881483-6f3a53e1-1661-48e2-9597-31b929cf32b6.png)

My understanding of the 1st highlighted bullet point is --> in general, reports created in the Power BI service can be downloaded.

My understanding of the 2nd highlighted bullet point is --> only reports created in the Power BI

[2022-04-29 18:02] maggiesMSFT commented on #3781
got it, thanks! change will be live this afternoon April 29 Pacific time

[2022-04-29 18:02] #3781 closed

[2022-04-29 19:09] LuciannaFG opened #3785 "Dynamic M Query after loading dataset from Power BI dataflow"
Dear Microsoft Team. First, thank you for this useful article.
I would like to ask if it is possible for you to add more information in this article about using the Dynamic M Query when loading data from other sources. In this article, you presented very clearly how to do it when we are loading data from SQL.database and AzureDataExplore.Contents. I am struggling on adding the dynamic parameters w

[2022-05-02 11:37] KesemSharabi commented on #3711
Hi @nstraw,

I updated the **performance delta** text - see last bullet in [Matrix by artifact and operation](https://docs.microsoft.com/power-bi/enterprise/service-premium-gen2-metrics-app#matrix-by-artifact-and-operation).

Hope this helps,

Kesem

[2022-05-02 11:37] #3711 closed

[2022-05-02 11:38] KesemSharabi commented on #3723
Hi @mathiasekz,

I updated the **performance delta** text - see last bullet in [Matrix by artifact and operation](https://docs.microsoft.com/power-bi/enterprise/service-premium-gen2-metrics-app#matrix-by-artifact-and-operation).

Hope this helps,

Kesem

[2022-05-02 11:38] #3723 closed

[2022-05-02 11:58] mathiasekz commented on #3723
Hi Kesem,
Thank you for this documentation update, that is great !

[2022-05-02 13:39] nstraw commented on #3711
Hi Kesem,

very clear, very detailed, very very insightful !

Thanks for the update, very much appreciated around here :)

Have a great week!

Nicolas

Le lun. 2 mai 2022 à 07:37, Kesem Sharabi ***@***.***> a
écrit :

[2022-05-03 06:33] rcfoyn opened #3787 "Please update video"
The video should be updated as it is no longer matching the product GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110f9fbe-8e10-9cfc-ea1e-ea6e6a0b210e
* Version Independent ID: 653f794f-5d32-3034-0d26-8cbf5d42e020
* Content: [Control chart gridlines in Power BI reports - Power BI](https://docs.microsoft.com/en-us

[2022-05-03 15:14] BKColts88 opened #3788 "Planning a Power BI Enterprise Deployment Whitepaper Outdated"
Title says it all. The "Planning a Power BI Enterprise Deployment Whitepaper" link references and outdated version (2018). I found the newest version with a separate search (May 2020)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86beb6b6-cc13-ca11-8caa-ddd4b0c0fe29
* Version Independent ID: 86beb6b6-cc13-ca11-8caa-dd

[2022-05-04 00:09] billinkc opened #3789 "Add the word sample to the directions to align with the text of PBI Desktop"
Under the section "Get the sample in Power BI Desktop" the paragraph concludes with "go ahead and choose **Load data**."

The text in PBI Desktop is **Load sample data**. The documentation should mirror the application text to reduce the opportunity for confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423bed63

[2022-05-04 11:48] vlpchiara commented on #3678
Hi, I have the same problem as [haysonba]
Can someone support me?
![Capture](https://user-images.githubusercontent.com/104903918/166675304-ba4585ee-f053-4859-9601-4362987e824c.JPG)

[2022-05-04 13:03] morcinim opened #3790 "Please clarify licensing requirements"
The information on licensing requirements is not clear
"A Power BI Pro or Premium Per User (PPU) license or a [Power BI Premium capacity (EM or P SKU)](https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-what-is) with a Power BI license"

We need to clarify "with Power BI license" at the end of the sentence - what type of Power BI license?

I think following is correct:
If report

[2022-05-04 13:29] mansohrstrom commented on #3769
We never managed to make this work. In the end we figured out it had to do with the AAD setting:

Enable guest self-service sign up via user flows

on https://portal.azure.com/#blade/Microsoft_AAD_IAM/AllowlistPolicyBlade.

We have this set to No and couldn't make ad-hoc flow work for us.

[2022-05-04 14:57] phil-lgr opened #3791 "Missing documentation on supported props for text styles"
In [https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#setting-formatted-text-defaults](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-report-themes#setting-formatted-text-defaults)

the documentation states that those are the supported properties:

[code]

![image](https://user-images.githubusercontent.com/9644867/166708939-a82df09a-5dd4-4b54-a96f-bd1

[2022-05-04 19:43] phil-lgr commented on #3791
There is also nothing specified for line height... can we set the line height directly in this style object?

[2022-05-04 21:25] mscottsewell opened #3792 "Replace "Microsoft Dynamics CRM Online" with "Dataverse""
In the paragraph:
`Data sources that use AAD OAuth include Microsoft Dynamics CRM Online, SharePoint Online (SPO), and others. If you’re connecting to such data sources, and get a credentials failure when loading data takes more than an hour, this may be the reason.`

"Microsoft Dynamics CRM Online" is the outdated name for the "Dynamics 365 for Customer Engagement" product.  - However, the most c

[2022-05-05 14:23] phil-lgr commented on #3791
There is also NO document on how to style textBoxe

see https://community.powerbi.com/t5/Desktop/JSON-Theme-Code-for-Text-Box/m-p/437973

[2022-05-05 23:22] maggiesMSFT commented on #3790
Hi, @morcinim - thanks for your feedback! I've updated the language. Changes will be live tomorrow afternoon May 6 Pacific time.

[2022-05-05 23:32] #3790 closed

[2022-05-06 06:09] Chris-Burgess-ACTGOV opened #3796 "Change the icons in table?"
Hey Team
any chance you could change the rendered Workspace Role table to have True/false or some text in the Role column (rather than an image) ? - can then web.contents the html table as a consumable artefact and provide to new contributors/viewers of workspaces as part of an onboarding functional allowance :)
Cant consume in its current format as the powerbi web.contents does not recognise imag

[2022-05-06 11:56] bishalgoswami commented on #3796
Thanks for your comment, @Chris-Burgess-ACTGOV. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3792
Thanks for your comment, @mscottsewell. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3791
Thanks for your comment, @phil-lgr. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3789
Thanks for your comment, @billinkc. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3788
Thanks for your comment, @BKColts88. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3787
Thanks for your comment, @rcfoyn. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3785
Thanks for your comment, @LuciannaFG. This issue has been assigned to the doc author for review.

[2022-05-06 11:56] bishalgoswami commented on #3784
Thanks for your comment, @kathleenlgo. This issue has been assigned to the doc author for review.

[2022-05-06 11:57] bishalgoswami commented on #3782
Thanks for your comment, @jcbendernh. This issue has been assigned to the doc author for review.

[2022-05-06 11:57] bishalgoswami commented on #3780
Thanks for your comment, @mscottsewell. This issue has been assigned to the doc author for review.

[2022-05-06 11:57] bishalgoswami commented on #3778
Thanks for your comment, @MartinaPoddana. This issue has been assigned to the doc author for review.

[2022-05-06 11:57] bishalgoswami commented on #3776
Thanks for your comment, @marshal115. This issue has been assigned to the doc author for review.

[2022-05-06 11:57] bishalgoswami commented on #3772
Thanks for your comment, @abishek-Rajasegar. This issue has been assigned to the doc author for review.

[2022-05-06 12:35] PracticalCode opened #3798 "Missing Connector Option in Software Referenced in Documentation"
https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-connect-graph-security#using-the-microsoft-graph-security-connector
#3) Select Microsoft Graph Security (Beta).
... this option (beta or not) doesn't exist in Power BI Desktop Version 2.102.683.0 32-bit (February 2022)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-05-06 13:00] bishalgoswami commented on #3798
Thanks for your comment, @PracticalCode. This issue has been assigned to the doc author for review.

[2022-05-06 20:58] jeremiah1119 opened #3799 "Section regarding ways to format differences between addresses that are mapped and those that aren't"
I'm not sure if it's possible, but it might be nice to show a way to handle when the address search simply doesn't work. For example working with dirty data it could be nice to conditionally format a table based on whether or not Bing Maps was able to find an address and plot it on the map. Quick at-a-glance way to see those which have issues if you do not have detailed data like longitude and lat

[2022-05-06 21:00] bishalgoswami commented on #3799
Thanks for your comment, @jeremiah1119. This issue has been assigned to the doc author for review.

[2022-05-06 22:20] braddarwin commented on #3742
Great thank you

On Wed, Apr 27, 2022, 4:16 AM Kesem Sharabi ***@***.***>
wrote:

[2022-05-06 22:30] maggiesMSFT commented on #3742
Hey, @braddarwin -- I own these, and I know they're clunky in Excel. I'm going to strip out the Power View sheets so you won't be asked to install Sliverlight, but you will still have to enable Power Pivot, because that's where the data is.

Note though, for your last parenthetical remark, "(after all these are simply going to be pulled into the PowerBI tool for further use)." -- If you're just go

[2022-05-09 09:20] RuiRomano opened #3800 "Mention to enable the Power BI Tenant Setting: 'Azure AD Single Sign-On (SSO) for Gateway'"
For Azure AD SSO to work with on-prem gateway its necessary to enable the Power BI Tenant Setting 'Azure AD Single Sign-On (SSO) for Gateway' on the Admin Portal. For example for Azure Data Explorer the checkbox for SSO enablement dont appear if this option is not enabled.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-09 10:22] KesemSharabi commented on #3741
Hi @Robert-Kostecki,

As autoscale runs on our servers, it will run regardless of your online/offline experience. Autoscale kicks in if it is enabled, and your capacity is overused (runs out of CPU).

Does that answer your question?

Thanks,

Kesem

[2022-05-09 11:00] bishalgoswami commented on #3800
Thanks for your comment, @RuiRomano. This issue has been assigned to the doc author for review.

[2022-05-09 11:26] Robert-Kostecki commented on #3741
Hi @KesemSharabi, I think you might be answering a different question. The question that requires clarifying was: "Is Power BI autoscale offline or online operation?"  Specifically "will there be any service interruption during PBI autoscale", e.g.:

1. Already running reports failing or being cancelled during autoscale and/or
2. New report requests refused during the autoscale

Can you please cla

[2022-05-09 14:43] karthikk24 opened #3801 "This New Feature is Scary! What if we use service account and some one other than PBI Admin swaps it with personal auth?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e0c038-1195-d758-ccf4-903b689139ca
* Version Independent ID: 181904c0-1ec5-0a1d-4cbf-a5a639bbdfeb
* Content: [Add or remove a gateway data source - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-data-sources)
* Cont

[2022-05-09 14:46] karthikk24 commented on #3801
The New Feature of moving Gateway Datasources from Admin Portal to general will lead to lots of confusion and problems , https://docs.microsoft.com/en-us/power-bi/connect-data/service-gateway-data-sources - updated 05/06.
Why was this removed from Admin Portal?

[2022-05-09 15:00] bishalgoswami commented on #3801
Thanks for your comment, @karthikk24. This issue has been assigned to the doc author for review.

[2022-05-09 15:55] gmuenster opened #3803 "Section out of date"
The description and screenshot in the Datasets in DirectQuery/LiveConnect mode section is not up to date. There is no separation between Scheduled Refresh and Optimize Performance any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce280443-0aa3-da51-f71d-ff7c1704b268
* Version Independent ID: 8122662c-44c4-317d

[2022-05-09 17:00] bishalgoswami commented on #3803
Thanks for your comment, @gmuenster. This issue has been assigned to the doc author for review.

[2022-05-09 17:29] Minewiskan commented on #3678
@haysonba, @vlpchiara  - Thanks for pointing out this wasn't clear. We added some additional clarification on how you can create that chart.

[2022-05-09 17:29] #3678 closed

[2022-05-10 01:17] vhjy123 opened #3804 "Need screenshot for connecting power bi report server in power bi report builder to save report"
Step 4 state that "On the File menu, select Save as, and save it to the report server.", but there is no guide on how to connect to the power bi report server on power bi report builder. Appreciate if this can be added in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bbba956-a7bf-d125-6db5-07ce9c44

[2022-05-10 03:00] bishalgoswami commented on #3804
Thanks for your comment, @vhjy123. This issue has been assigned to the doc author for review.

[2022-05-10 15:47] lukeschwenke opened #3805 "PowerBI KPI documentation outdated?"
Hello, I am trying to implement a KPI on the April 2022 version of PowerBI and the parameters are: Value, Trend Axis, and Trend. This is different from the November 2021 version of PowerBI and the current KPI documentation that shows these as the parameters: Indicator, Trend Axis, and Target Goals.

Do you have updated documentation that I can reference on how to create a KPI?

---
#### Document D

[2022-05-10 17:00] bishalgoswami commented on #3805
Thanks for your comment, @lukeschwenke. This issue has been assigned to the doc author for review.

[2022-05-10 21:12] Melsize opened #3806 "Threshold setting for % Metric"
When setting an alert for a metric that is a percentage, you are not able to enter a whole number for the threshold like the documentation shows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85f64d2d-e9b8-59f1-afc1-8d94e2f3c1bd
* Version Independent ID: 565fdc0b-2462-806c-7c17-d189d2378ba4
* Content: [Tutorial:Set da

[2022-05-10 22:08] patilpappmodz1 opened #3807 "Tenant migration"
[Enter feedback here]
This page suggests that tenant migration (migrate PowerBI reports, datasets, etc) can be accomplished using the backup restore method. Can this page or other content be updated to reflect the procedures? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79d603e3-ad07-3500-f035-188baaa305ce
* V

[2022-05-10 23:00] bishalgoswami commented on #3807
Thanks for your comment, @patilpappmodz1. This issue has been assigned to the doc author for review.

[2022-05-10 23:00] bishalgoswami commented on #3806
Thanks for your comment, @Melsize. This issue has been assigned to the doc author for review.

[2022-05-11 12:24] rosscouldrey opened #3808 "Clarification on placement of Service Bus"
I have a question to clarify the premium architecture - in our diagram on the whitepaper site [here](https://docs.microsoft.com/en-us/power-bi/guidance/whitepaper-powerbi-security?msclkid=18184d7cd12411eca0ec3d2f9e697d3c#power-bi-premium-infrastructure) we show the service bus inside the premium cluster which is inside the premium region.

However, on our [Multi Geo page](https://docs.microsoft.co

[2022-05-11 13:00] bishalgoswami commented on #3808
Thanks for your comment, @rosscouldrey. This issue has been assigned to the doc author for review.

[2022-05-12 12:58] pthoor commented on #3380
@rosode I also have customers wanting this, do we have any ETA for this?

[2022-05-12 15:44] JoelLeichty commented on #3567
Would be good to get this sorted. I bet a lot of people deal with the "Access Denied" error.

[2022-05-12 23:18] maggiesMSFT commented on #3796
Hi, @Chris-Burgess-ACTGOV -- what about emojis? Would they work? I'd happily replace the images with this emoji: ✔️
Would that solve your problem?

[2022-05-13 01:45] Hyamyam opened #3811 "Which is correct about empty classic workspace?"
There is description:

"To reduce the impact of maintaining empty classic workspaces that were automatically created, empty classic workspaces are deleted by default as part of the upgrade process. However, admins can prevent deleting empty workspaces by enabling the following setting in the Admin portal."

![image](https://user-images.githubusercontent.com/73410575/168194477-391bdc03-ff1d-4ef2-91

[2022-05-13 02:38] mihart commented on #3029
Hi @,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2022-05-13 02:38] #3029 closed

[2022-05-13 02:39] mihart commented on #3125
Hi @danmyhre ,
I see that this Git issue is a bit old, so I'm going to close it.  I hope that you were able to get your questions answered. If not, please revisit the article since it has been updated several times since this Git Issue was submitted.  Another option is to submit your question to the Power BI community (community.powerbi.com).
All the best,
the DOCS team

[2022-05-13 02:39] #3125 closed

[2022-05-13 03:00] bishalgoswami commented on #3811
Thanks for your comment, @Hyamyam. This issue has been assigned to the doc author for review.

[2022-05-13 05:03] ArunNitin opened #3812 "Direct query fetching the Stored procedures with parameters in power BI"
[Enter feedback here]

---Can you tell us how to get the Stored procedures using parameters in SQL server. How to get those Stored Procedures in the PowerBI using Direct Query?
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563a1b09-bcdc-2638-d9a0-6801b44d3cb0
* Version Independent ID: dea2c705-c2f7-3f2d-798b-ee41857e0ca2
*

[2022-05-13 07:00] bishalgoswami commented on #3812
Thanks for your comment, @ArunNitin. This issue has been assigned to the doc author for review.

[2022-05-13 09:41] Chris-Burgess-ACTGOV commented on #3796
Hi Maggie
Maybe! If that actually puts a value in the table cell (regardless of format/interpretation) then you could be on to something.

Basically I’m pointing powerquery at the url and scraping the table contents. An image doesn’t provide a mineable value.

Could try a webding?

Let me know if you have a test/prototype and will see how that renders 😀

Thanks for follow up

Cheers
Chris

Chris B

[2022-05-13 16:57] Castillomarcos opened #3813 "incorrect syntax for URL filters in embed pages"
The sign changed from “?” to “$” according to embed documentation.
And in the end, that’s not even correct, we actually had to use “&”.

---
<img width="308" alt="Correct sintax for URL filters in embed pages" src="https://user-images.githubusercontent.com/105510152/168332237-b1e53ba3-6e07-47d3-a899-e2f0e8bb9113.PNG">

#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-05-13 17:00] bishalgoswami commented on #3813
Thanks for your comment, @Castillomarcos. This issue has been assigned to the doc author for review.

[2022-05-13 18:28] maggiesMSFT commented on #3796
Hi @Chris-Burgess-ACTGOV -- OK I tried it. I replaced all the images with the checkmark emoji. Should be live this afternoon 3:30 PM Pacific time. Let me know if that works!

[2022-05-13 19:22] maggiesMSFT commented on #3811
Hi, @Hyamyam -- you're right! It should read:
"However, admins can prevent deleting empty workspaces by _disabling_ the following setting in the Admin portal."
I've made the change. Thanks!

[2022-05-13 19:22] #3811 closed

[2022-05-13 23:17] kellytdunn opened #3815 "Down arrow does not always appear on slicers"
The page says to "Select the down-arrow in the upper-right corner of the numeric range slicer and a menu appears." This down-arrow does not always appear. Furthermore, sometimes the slicer changes to a different format (drop-down, list, etc) after being set one way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc558

[2022-05-13 23:19] kellytdunn commented on #3815
Found answer here: https://community.powerbi.com/t5/Desktop/Slicer-drop-down/m-p/98650

[2022-05-13 23:19] #3815 closed

[2022-05-13 23:34] maggiesMSFT commented on #3815
Thanks, @kellytdunn! I'll add that note to the article. Change will be live Mon May 16 afternoon Pacific time.

[2022-05-15 01:46] triggerfishmartech opened #3816 "Update the goal tracking cycle feature does not exist, screenshot is incorrect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ac2aa1-b899-184c-10c3-7909aa32bff8
* Version Independent ID: 17e2b2b8-02c5-fcf0-32ab-7f3ef2eb271f
* Content: [Create scorecards and manual goals (preview) - Power BI](https://docs.microsoft.com/en-us/power-bi/create-reports/service-goals-create)
* C

[2022-05-15 03:00] bishalgoswami commented on #3816
Thanks for your comment, @triggerfishmartech. This issue has been assigned to the doc author for review.

[2022-05-15 09:27] #3707 closed

[2022-05-15 13:19] KesemSharabi commented on #3750
Hi @chrisgmbishop,

Thanks for sharing the table.

The sentence 'With a PPU license, you do not need a separate Power BI Pro license, as all Pro license capabilities are included in PPU' refers to what you can do in Power BI with both licenses, as listed in the table in the [Using Premium Per User (PPU)](https://docs.microsoft.com/power-bi/enterprise/service-premium-per-user-faq#using-premium-per-

[2022-05-15 13:23] KesemSharabi commented on #3776
Hi @marshal115,

Thank you for pointing this out. I'll do some further checks and correct the document shortly.

Kesem

[2022-05-15 13:33] KesemSharabi commented on #3778
Hi @MartinaPoddana,

I'm starting an internal email for your request.

Thanks,

Kesem

[2022-05-15 13:33] #3778 closed

[2022-05-16 01:37] Chris-Burgess-ACTGOV commented on #3796
Hi Maggie
works for me.
Thanks for the quick response and win/win solution.

Cheers

Chris

Chris Burgess | 620 55438 | 0403472887

***@***.***

From: Maggie Sparkman ***@***.***>
Sent: Saturday, 14 May 2022 4:29 AM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Burgess, Chris ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/powerbi-docs] Change the icons in table? (Issue #3796)

Ca

[2022-05-16 19:45] nicheplayer opened #3817 "Mail-enabled security group as sole Admin in a workspace?"
I have a V2 workspace in premium capacity that has only 1 mail-enabled security group listed as the admin; when I do this, the workspace become orphaned. Is this expected behavior? Must I list at least one "individual" user as a workspace admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220c2a2b-9a3e-3bdf-5fcd-ac2

[2022-05-16 21:00] bishalgoswami commented on #3817
Thanks for your comment, @nicheplayer. This issue has been assigned to the doc author for review.

[2022-05-16 22:02] SueStankus opened #3818 "Instructions Need to be Updated"
The instructions for adding a data source to a gateway don't look anything like what I see on Power BI service.  When I log in, I click on the cog and choose Manage Gateways.  In your instructions, you say to choose the new at the top of the ribbon.  However, I just see a list of gateways with no way of choosing one and no new button to select.

---
#### Document Details

⚠ *Do not edit this secti

[2022-05-16 23:00] bishalgoswami commented on #3818
Thanks for your comment, @SueStankus. This issue has been assigned to the doc author for review.

[2022-05-17 00:18] MikeAinOz opened #3819 "Instructions to update PowrBI Visuals"
Hi Hopefully I will have solved my problem by the time you update the doco. What I can't find is how to update an existing Power BI Visual in the marketplace. It would be good to have a page for it with a few pictures. We used to get a package from support but that has changed; we need to know the new procedure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-05-17 00:37] maggiesMSFT commented on #3817
Hi, @nicheplayer -- Good question! I'm checking and will get back to you.

[2022-05-17 01:00] bishalgoswami commented on #3819
Thanks for your comment, @MikeAinOz. This issue has been assigned to the doc author for review.

[2022-05-17 09:46] morcinim opened #3820 "Prerequisites clarification"
[Enter feedback here]
I believe the statement in Prerequisite is incorrect: "To publish a Power BI paginated report to the Power BI service, you need a [Power BI Pro](https://docs.microsoft.com/en-us/power-bi/fundamentals/service-self-service-signup-for-power-bi) license, or [Premium Per User (PPU)](https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-per-user-faq) license, and wri

[2022-05-17 10:30] albegouws opened #3821 "Supported data sources"
Hi

Can you please add supported data sources on this page?  It doesn't look like the feature works with Analysis Services as a data source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5221841f-f47d-838f-7dae-a4b5a94cefa2
* Version Independent ID: 5221841f-f47d-838f-7dae-a4b5a94cefa2
* Content: [Let report readers u

[2022-05-17 11:00] bishalgoswami commented on #3821
Thanks for your comment, @albegouws. This issue has been assigned to the doc author for review.

[2022-05-17 11:00] bishalgoswami commented on #3820
Thanks for your comment, @morcinim. This issue has been assigned to the doc author for review.

[2022-05-17 11:26] KesemSharabi commented on #3741
Hi @Robert-Kostecki,

Power BI doesn't fail reports. Regardless of whether autoscale is turned on or off, reports will run to completion. This is true even in a scenario that involves turning autoscale on or off during a report's execution.

What I don't understand is your online/offline reference. As far as I know the concept of online/offline operations doesn't exist in Power BI. Perhaps you're

[2022-05-17 12:58] erdrick22 opened #3822 "Trouble with using Power BI Desktop: Cost Management Connector"
This page has a broken link:

https://docs.microsoft.com/en-us/microsoft-365/commerce/billing-and-payments/manage-billing-profiles&preserve-view=true

The steps under "Connect to a Microsoft Customer Agreement account" are too ambiguous:
This section describes the steps necessary to connect to a Microsoft Customer Agreement account.

How do I know which to choose between these three?

1.Connect to

[2022-05-17 14:50] donsvensen opened #3823 "Power BI desktop freezes when connected to Power BI data set or Azure AS"
There is a known issue missing.

Power BI Desktop freezes if you use it against at Power BI Dataset or Azure AS - if you don't work with the file for a while.

Can you provide some idea of when this is fixed ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f647b6e3-c651-b39b-56d5-f919184c92c1
* Version Independent ID:

[2022-05-17 15:00] bishalgoswami commented on #3823
Thanks for your comment, @donsvensen. This issue has been assigned to the doc author for review.

[2022-05-17 21:35] HymieHo opened #3824 "The article should include link to source repo on Github"
The source PBIT for the template app described in the article is available from Github. This article should point to it, here is the link:  https://github.com/microsoft/PowerBI-LogAnalytics-Template-Reports

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9479fdb1-6f65-d80b-30d7-768ff7749a0d
* Version Independen

[2022-05-17 22:18] MikeAinOz commented on #3819
Hi here are my notes from working out how to do and update, please note the glitch in review and publish:
Updating a Power BI Visual

Step 1: Goto technical configuration and remove existing packages using the remove indicator at the end of each package

Step 2: Drag and drop the updated pbix and pbiviz files to the page

Step 3: Save Draft

Step 4. Update any Properties and the offer listing

Ste

[2022-05-17 23:00] bishalgoswami commented on #3824
Thanks for your comment, @HymieHo. This issue has been assigned to the doc author for review.

[2022-05-18 06:11] otykier opened #3825 "Field parameters cannot be used with "Analyze in Excel""
See title - perhaps this should be added as a limitation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5221841f-f47d-838f-7dae-a4b5a94cefa2
* Version Independent ID: 5221841f-f47d-838f-7dae-a4b5a94cefa2
* Content: [Let report readers use field parameters to change visuals (preview) - Power BI](https://docs.microsoft.

[2022-05-18 06:52] cfaagaard opened #3826 "Is it possible to "Build" documentation locally?"
How can I "build" the documentation locally to see the change I have made before making a PR?

With for example mkdocs I can write "mkdocs serve" in the terminal (in Visual studio code) and then see website.

[2022-05-18 07:00] bishalgoswami commented on #3826
Thanks for your comment, @cfaagaard. This issue has been assigned to the doc author for review.

[2022-05-18 07:00] bishalgoswami commented on #3825
Thanks for your comment, @otykier. This issue has been assigned to the doc author for review.

[2022-05-18 07:07] mberdugo commented on #3819
Thanks for your question, @MikeAinOz. And thanks even more for your answer!
I'll work on incorporating this information into the docs to make it easier in the future.

[2022-05-18 07:28] mc-de opened #3827 "Set the Sort Order at Parameter level"
What a fantastic feature! I did notice that you're unable to sort properly as it will forget your sort order when you change your selection from the field parameter. Would be good if the sort order can be set for the parameter (as was the case under the old workaround solution to this problem).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-18 11:14] cfaagaard commented on #3826
... and I know that you are using fxdocs (of some sort) and tried the "fxdoc build"/"fxdoc serve", but get a bunch of errors (16 Error(s), 850 Warning(s), 503 Suggestion(s))
Examples:
liquid-not-found ./developer/visuals/develop-circle-card.md(1,1): Liquid template is not found for mime type 'Conceptual', the output HTML will not be generated.

schema-not-found ./developer/index.yml(1,1): Unknown

[2022-05-18 12:00] nstraw opened #3828 "Deleted dataflow's datasources"
Hi,

I would also mention the known issue where the list of datasources displayed for a Dataflow is not accurate as it keeps forever old deleted datasources. Same behavior using API.

https://docs.microsoft.com/en-us/power-bi/transform-model/dataflows/dataflows-features-limitations

It is said to be a limitation, it feels more like a bug or an issue, a security issue in fact as we're not able to h

[2022-05-18 12:33] moatazasd opened #3829 "instructions are unclear AS ALWAYS"
[Enter feedback here]
microsoft instruction have never been clear to me ... from step one you say go to navigation panel and click this and that.. i cant even see the navigation panel .. i googled it and it only showed for web power bi.. i looked in the settings maybe it was hidden .. and ofc i cant even confirm or change that...
use clear images when explaining steps so we can follow along!!

---

[2022-05-18 13:00] bishalgoswami commented on #3828
Thanks for your comment, @nstraw. This issue has been assigned to the doc author for review.

[2022-05-18 13:25] ChristopheST opened #3830 "How refresh the connection to a updated sharepoint list on powerbi (intergrate->powerbi->visualize the list)?"
Hello,

I'm using sharepoint list and I create Powerbi dashboard with the integrate->powerbi->visualize the list.
It seems that the creation of the field list is done once when we use the first time the integrate->powerbi->visualize the list.
If I update the list add column remove ones ,it seems that the field list is not updated .
How update it without duplicate the list and redo a integrate->pow

[2022-05-18 14:16] jank22 opened #3831 "Using 2+ parameters in one Matrix"
Amazing feature! Love it! I see, however, a big limitation while using parameters in matrix. If matrix contains more parameters on rows (or combination of field(s) and parameter on rows), changing parameter in slicer results into collapsing (drilling up) all fields and user has to click on "Expand All" every time there is a change in parameter slicer.

---
#### Document Details

⚠ *Do not edit thi

[2022-05-18 15:00] bishalgoswami commented on #3831
Thanks for your comment, @jank22. This issue has been assigned to the doc author for review.

[2022-05-18 18:39] mihart commented on #3763
Hi @JeKlSt ,
Thank you for your question.  Please reach out again if you need additional clarification.
All the best,
The DOCS team

[2022-05-18 18:39] #3763 closed

[2022-05-18 20:57] danmyhre opened #3832 "Missing details on "Upload your Excel file to Power BI""
Please add details on the option to "Upload your Excel file to Power BI"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2b088da-d833-fba7-a07d-3a1a07ff557d
* Version Independent ID: 8c423288-260e-386a-4c75-4e39f7be6ff1
* Content: [Get data from Excel workbook files - Power BI](https://docs.microsoft.com/en-us/power-bi/

[2022-05-18 20:59] danmyhre commented on #3832
never mind, found details, but they aren't searchable because it isn't in the text

[2022-05-18 20:59] #3832 closed

[2022-05-19 18:29] rhalabi opened #3833 "Any Update?"
Any update when the Try It button will be restored? It's been almost a month.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f336bd62-6922-b6ce-f839-a164ad7134ad
* Version Independent ID: f336bd62-6922-b6ce-f839-a164ad7134ad
* Content: [Known issue - Try it button missing on REST API pages - Power BI](https://docs.micr

[2022-05-20 10:01] Robert-Kostecki commented on #3741
Perfect - thank you for the confirmation @KesemSharabi ,

The online operation refers to a capability of a component to be able to provide uninterrupted service during the operation. This is a generic concept rather than specific to any technology.
For example, Azure Synapse Dedicated Pool capacity scaling at present requires service interruption and is therefore offline operation. Specifically, a

[2022-05-20 12:21] wynhopkins opened #3835 "Technique works with SharePoint the same as OneDrive for Business"
Under "considerations" the page suggests this won't work for SharePoint,  but it appears to work in exactly the same way as for OneDrive for Business

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c1e555-9595-d043-0d5c-fa405c3d0a85
* Version Independent ID: 79411df3-c3d2-3b63-ed5d-aec0b69ed68f
* Content: [Display ima

[2022-05-20 19:51] GeorgeYinICF opened #3836 "Confusing description regarding limitations"
Please clafify the "consideration and Limitation" section of the page. It states there is a limit of 100 users or groups on the access list.  One first read/glance, it implies a published app can only support 100 users.  In our testing, we are able to add more than 100 users .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-05-20 21:00] bishalgoswami commented on #3836
Thanks for your comment, @GeorgeYinICF. This issue has been assigned to the doc author for review.

[2022-05-23 04:27] wynhopkins commented on #3835
Now I've tested it out sharing the reports I can't get it to work for anyone other than the owner of the OneDrive / SharePoint account.

[2022-05-23 12:24] arcus4 opened #3837 "PBIRS Services Account is a group managed Service Account?"
very helpful, thank you! In case that your Power BI reporting Services Account is a gMSA, have a look to the following first
https://docs.microsoft.com/en-us/windows-server/security/group-managed-service-accounts/configure-kerberos-delegation-group-managed-service-accounts
and then configure your AD attribute(s) and afterwards, re-start your PBIRS service to bring your Constrained Delegation / AD

[2022-05-23 13:00] bishalgoswami commented on #3837
Thanks for your comment, @arcus4. This issue has been assigned to the doc author for review.

[2022-05-23 15:07] mberdugo commented on #3748
Hi, @WOLF-WARG. Sorry it took so long to get back to you. The code has been updated and should be live in a couple of days.
Thanks again for pointing out the issue to us.

[2022-05-23 16:37] Rickmaurinus opened #3838 "Old content: Disable copy as an image for a specific visual"
[Enter feedback here]
Hi there,

I have two items of feedback for this page:

1. The content on the below page is outdated. Currently the 'Visual Header' section has been discontinued and replaced by the header icons section. This makes the "Disable copy as an image for a specific visual" outdated.

2. There is a bug. In a Power BI report, when you turn off all items in the header icons -> Icons s

[2022-05-23 17:00] bishalgoswami commented on #3838
Thanks for your comment, @Rickmaurinus. This issue has been assigned to the doc author for review.

[2022-05-24 01:51] maggiesMSFT commented on #3835
Hi, @wynhopkins -- would you suggest updating the language in the Considerations section? https://docs.microsoft.com/en-us/power-bi/create-reports/power-bi-images-tables#considerations

[2022-05-24 02:54] wynhopkins commented on #3835
Hi Maggie

I’ve been trying this out with images from SharePoint and OneDrive (for business), and thought it was working the same on both – hence my original comment.

However, I then realised that when I share the report with someone else it doesn’t work for them regardless of OneDrive or SharePoint and regardless of what sharing options I set.

Is there some tenant setting I need to enable,  or

[2022-05-24 18:42] otravers opened #3840 "Differences between Power BI datamarts and PowerApps dataverse?"
Microsoft already has a no-code abstracted Azure SQL resource with built-in Power Query ETL that can be fed into a Power BI dataset called PowerApps Dataverse (and its little sibling in Teams). It would be useful to see a comparison between Dataverse and Datamart, especially as it pertains to their respective SQL capabilities and limitations (I understand that Datamart has some Power BI-specific d

[2022-05-24 19:00] bishalgoswami commented on #3840
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-05-24 22:41] Hyamyam opened #3841 "Images are incorrect"
Hi authors,

I think the images are little bit old.
(Actually the size of workspace is 10GB)

![image](https://user-images.githubusercontent.com/73410575/170010509-f1e7857e-2c0b-41a1-9719-764ca6447c44.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0947245-d1c6-486a-94a1-f8622a4f7efc
* Version Independent ID: c837

[2022-05-24 23:00] bishalgoswami commented on #3841
Thanks for your comment, @Hyamyam. This issue has been assigned to the doc author for review.

[2022-05-25 13:17] PrismaHans opened #3844 "Security tab in Power BI service"
[In the document, there is a reference to the "Security" menu in "more options" on a given data set. This is no longer in the list of menu items. Do I have to go to groups through Admin tab to alter members in a given security group?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5505062-94f3-e15d-a52f-ce1ac7f8cb69
*

[2022-05-25 14:59] gmuenster opened #3845 "Incorrect information?"
In the section https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-capacity-manage-gen2#creating-and-managing-capacities we have a list of changeable information:
Power BI service administrators and Global Administrators can modify Premium capacities. Specifically, they can:

Change the capacity size to scale-up or scale-down resources.
Add or remove Capacity Admins.
Add or remove

[2022-05-25 16:01] preston-reynolds opened #3846 "Overwrite, not override"
4 times on this page the phrase "override" is used. I believe the correct word needed in these scenarios is "overwrite"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c40e327-d8c8-3011-e68b-7694d0ed2b04
* Version Independent ID: 3947ee9f-58b0-763c-8b56-b21cfdcbaac1
* Content: [Troubleshoot deployment pipelines, the Po

[2022-05-26 12:27] KesemSharabi commented on #3826
Thanks for your comment, @cfaagaard.

This looks like a support request or product question rather than documentation feedback.

You might find a solution in the [Power BI Community]( https://community.powerbi.com). If not, try our [support page](https://support.powerbi.com).

If you think this is a documentation request, please let us know which document you're referring to.

Thanks,

Kesem

[2022-05-26 12:28] KesemSharabi commented on #3816
Thank you for your comment, @triggerfishmartech.

@maggiesMSFT can you please take a look at this and update the screenshot if needed?

Thanks,

Kesem

[2022-05-26 13:01] bishalgoswami commented on #3846
Thanks for your comment, @preston-reynolds. This issue has been assigned to the doc author for review.

[2022-05-26 13:01] bishalgoswami commented on #3845
Thanks for your comment, @gmuenster. This issue has been assigned to the doc author for review.

[2022-05-26 14:03] KesemSharabi commented on #3804
Hi @vhjy123,

I believe that after you save your report using 'save as' you can open it with the report server.

@maggiesMSFT, can you please confirm? Perhaps this isn't clear in [Step 4: Save your report to the report server](https://docs.microsoft.com/power-bi/report-server/quickstart-create-paginated-report#step-4-save-your-report-to-the-report-server) and we need to reword something..?

Thanks

[2022-05-26 14:13] KesemSharabi commented on #3791
Thanks for your comment, @phil-lgr.

In the future we may document all the JSON team properties. Until then I suggest that you look for a solution in the [Power BI Community]( https://community.powerbi.com) or our [support page](https://support.powerbi.com).

Thanks,

Kesem

[2022-05-26 14:13] #3791 closed

[2022-05-26 14:38] KesemSharabi commented on #3788
Hi @BKColts88,

Thank you for your comment and for getting involved. I fixed the whitepaper link - now it's linked to the 2020 version.

To get the latest whitepapers, you can visit the [White papers for Power BI](https://docs.microsoft.com/power-bi/guidance/whitepapers) page.

Thanks,

Kesem

[2022-05-26 14:38] #3788 closed

[2022-05-26 14:42] KesemSharabi commented on #3784
Hi @kathleenlgo,

I believe your assumptions are correct. @maggiesMSFT, is there anything I'm missing?

Thanks,

Kesem

[2022-05-26 14:50] #3741 closed

[2022-05-26 18:13] Castillomarcos commented on #3813
Hi @KesemSharabi

Thanks for your comment.
Review the documentation and the error is still found.
The issue is inside "Filter report content using URL filters" section.
At the end of the documentation, it shows the URL with the filter added. Where it still tarts with the "$" sign.

![image](https://user-images.githubusercontent.com/105510152/170550163-7eabbe8d-4bfa-4566-9322-d03d6ddee6ca.png)

Reg

[2022-05-26 18:46] maggiesMSFT commented on #3791
Hi, @phil-lgr -- I just wanted to add, I've been working with the engineers to get answers to your questions. It's taking longer than expected...

[2022-05-26 19:19] maggiesMSFT commented on #3816
Hi, @triggerfishmartech -- thanks for your feedback! Screenshot is updated. Change will be live this afternoon May 26 Pacific time.

[2022-05-26 19:19] #3816 closed

[2022-05-27 00:21] maggiesMSFT commented on #3813
Hi, @castillomarcos -- I'm checking with the devs and will get back to you. Thanks!

[2022-05-27 01:47] maggiesMSFT commented on #3784
Hi, @kathleenlgo -- good questions! I've clarified in the Considerations section, https://docs.microsoft.com/en-us/power-bi/create-reports/service-export-to-pbix#limitations-downloading-a-pbix-from-a-report.
CHanges will be live tomorrow May 27 afternoon, Pacific time.

[2022-05-27 01:47] #3784 closed

[2022-05-27 06:22] mathiasekz opened #3848 "customdata DAX function for RLS not supported with Power BI RS"
Hi,

Can you please specificy if customdata() DAX function is supported or not with Power BI Report Server (probably not supported) because it can be confusing.
Can you also detail a little bit more how customer can assign end users individually to roles, and detail if we can however use username and userprincipalname dax functions with custom authentication, otherwise dynamic RLS would not be pos

[2022-05-27 12:48] craiginscotland opened #3849 "Adding new sources"
It would have been nice if this page included links for developers to find out how to go about adding their products as data sources.  That is certainly why I clicked the link.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34

[2022-05-27 13:01] bishalgoswami commented on #3849
Thanks for your comment, @craiginscotland. This issue has been assigned to the doc author for review.

[2022-05-27 13:01] bishalgoswami commented on #3848
Thanks for your comment, @mathiasekz. This issue has been assigned to the doc author for review.

[2022-05-27 20:14] maggiesMSFT commented on #3200
Hi, @pawarbi -- I finally fixed the Excel samples! I deleted the Power View sheets and added an explanation of how to view the data in Power Pivot. I saved the updated versions to GitHub,
https://github.com/microsoft/powerbi-desktop-samples/tree/main/powerbi-service-samples

[2022-05-27 20:14] #3200 closed

[2022-05-27 20:14] maggiesMSFT commented on #3585
Hi, @marclelijveld -- I finally fixed the Excel samples! I deleted the Power View sheets and added an explanation of how to view the data in Power Pivot. I saved the updated versions to GitHub,
https://github.com/microsoft/powerbi-desktop-samples/tree/main/powerbi-service-samples

[2022-05-27 20:14] #3585 closed

[2022-05-27 20:15] pawarbi commented on #3200
Awesome, thanks Maggie. Have a great holiday weekend

[2022-05-27 20:16] maggiesMSFT commented on #3742
Hi, @braddarwin -- I finally fixed the Excel samples! I deleted the Power View sheets and added an explanation of how to view the data in Power Pivot. I saved the updated versions to GitHub,
https://github.com/microsoft/powerbi-desktop-samples/tree/main/powerbi-service-samples

[2022-05-27 20:16] #3742 closed

[2022-05-28 01:18] peter-myers commented on #3787
Hi @rcfoyn - thanks for bringing your concern to our attention. We have reviewed the article and decided to remove it.

[2022-05-28 01:18] #3787 closed

[2022-05-28 22:39] Supergran opened #3850 "Pbix file not as described: Tab missing?"
Visualisations different to the related Microsoft docs article. Looks like a dashboard tab may be missing? There are no card visuals as described and shown in the article.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aebea8d-720c-4df0-b543-67f95ff1368c
* Version Independent ID: de96c5d7-0c83-c3

[2022-05-28 23:00] bishalgoswami commented on #3850
Thanks for your comment, @Supergran. This issue has been assigned to the doc author for review.

[2022-05-29 08:42] KesemSharabi commented on #3845
Hi @gmuenster,

Thank you for your comment and for getting involved.

I'm checking with the product team whether a capacity's region can be changed, and will update you once I gent an answer. If needed, I'll also amend the article.

Thanks,

Kesem

[2022-05-29 09:01] KesemSharabi commented on #3789
Hi @billinkc,

Thanks for pointing out this error. Following your request, I fixed the wording and it now says **Load sample data**. See [Get the sample in Power BI Desktop](https://docs.microsoft.com/power-bi/create-reports/sample-financial-download#get-the-sample-in-power-bi-desktop).

Thanks,

Kesem

[2022-05-29 09:01] #3789 closed

[2022-05-30 05:43] cfaagaard commented on #3826
Thank you for your reply @KesemSharabi.
You are right. This is not a documentation feedback for a specific topic or document.
This is rather a QA question: when I want to PR a change in the documentation I would like to see how the change looks in the "website" rather in just markdown. So I would like to build/serve the website locally (on my pc) before submitting the PR.
So my question is: is it

[2022-06-01 03:28] duncan-health opened #3851 "Power BI visuals interactivity utils: how to import getEvent()"
The following code is given in section 6 of this page.

What import or definition is required as getEvent() is not recognised?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d211e63f-7300-55bc-3e19-2e48b11afd7d
* Version Independent ID: fc3890a9-de8b-cda4-8f8c-823663b37a42
* Content: [Power BI visuals interacti

[2022-06-01 11:53] paulinbar commented on #3769
Hi Eduard,
Thanks for adding to this thread. I have contacted the feature owner and hope to be able to update the documentation in the next few days.
@ekoekkoek

[2022-06-01 12:42] collinq987 opened #3852 "Incorrect Documentation"
I believe that there is more than 100 users (not groups, users) that can be added.  Read this thread:
https://community.powerbi.com/t5/Service/Add-more-than-100-Users-to-App/m-p/2551721

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff3e88-8793-8e2b-bdb2-0e3d09372b93
* Version Independent ID: 0e1245cb-d7af-c73c-39c4-

[2022-06-01 13:01] bishalgoswami commented on #3852
Thanks for your comment, @collinq987. This issue has been assigned to the doc author for review.

[2022-06-01 13:01] bishalgoswami commented on #3851
Thanks for your comment, @duncan-health. This issue has been assigned to the doc author for review.

[2022-06-01 13:34] alexisworking404 opened #3853 "Q&A for Power BI"
Can you use the Q&A for Power BI in a custom website? or can you only use it in Power BI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2521838-3589-eb9e-b0b7-ed49fa6657dc
* Version Independent ID: 069373ae-dfbe-823a-6423-e1a81ebe3f72
* Content: [Q&A tutorial for Power BI business users - Power BI](https://docs.micro

[2022-06-01 14:22] KesemSharabi commented on #3826
Hi @cfaagaard,

After you create a PR, you can  click the **View** button in GitHub. You'll be redirected to a draft of the article you editted.
![image](https://user-images.githubusercontent.com/54834915/171427162-f79640be-b92e-49b9-a587-c4a221fe82cc.png)
Is this what you're after?

Thanks,

Kesem

[2022-06-01 15:00] bishalgoswami commented on #3853
Thanks for your comment, @alexisworking404. This issue has been assigned to the doc author for review.

[2022-06-01 16:54] paulinbar commented on #3769
Hi @mansohrstrom and @ekoekkoek,
I heard back from the feature team. It turns out that this switch is an old switch that now has no code behind it and it does nothing, no matter how it's set. It just hasn't been removed because of priorities. I will at least update the documentation with this information.
Thanks for bringing this up, and @mansohrstrom , thanks for your patience!

[2022-06-01 16:54] #3769 closed

[2022-06-02 01:56] fengjackling opened #3854 "OneDrive Refresh Not Working for Report with Live Connection Dataset"
We create a report with live connection dataset in power BI service, then store the report in OneDrive and import it to Power BI Service but seems like Power BI cannot automatically sync the updates of report stored in OneDrive. Is it an expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3090a14-7c69-f5

[2022-06-02 02:51] ayumito opened #3855 "Dashboard - Export tile to Excel"
I believe "Export tiles to CSV" is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c4b038-e61f-691f-f155-333e271e611c
* Version Independent ID: 3e653013-5cf2-269f-aa6e-d617d7607de6
* Content: [Feature availability for users with Free licenses in the Power BI service - Power BI](https://docs.microsoft.com/en-u

[2022-06-02 05:32] bslattz opened #3856 "Incremental Refresh for staging queries"
[Enter feedback here]
Please include an explanaition for handling inc refresh for queries in a dependency chain.  e.g. if queries A is a transformation of query B, do we set inc refresh on both?  If A is not loaded, can we still do incrimental refresh from query B and get partitioning on thable A?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-06-02 11:23] KesemSharabi commented on #3846
Hi @preston-reynolds,

Thank you for catching this error and for letting us know!

I've replaced 'override' with 'overwrite' in [Deployment pipelines troubleshooting](https://docs.microsoft.com/power-bi/create-reports/deployment-pipelines-troubleshooting).

Thanks again,

Kesem

[2022-06-02 11:23] #3846 closed

[2022-06-02 12:01] mberdugo commented on #3851
Hi, @duncan-health, it looks like you need to add these lines to your code:

// d3
import { Selection } from 'd3-selection';
const getEvent = () => require("d3-selection").event;

You can see it in context here: https://github.com/microsoft/powerbi-visuals-chord/blob/main/src/interactiveBehavior.ts#L29
Thanks for pointing out this hole in the documentation. I'll add it.

[2022-06-02 13:00] bishalgoswami commented on #3854
Thanks for your comment, @fengjackling. This issue has been assigned to the doc author for review.

[2022-06-02 15:10] #3851 closed

[2022-06-02 19:49] howardsu1 opened #3857 "Power View deprecated"
Power view has been deprecated. We should remove all references to Power view. Reach out to Olivia Thomas at Microsoft for any additional details.

-Howard Su

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d15b3b2-c33a-9293-a6f2-749d164d1f1c
* Version Independent ID: 5bafb24c-0e82-7b95-1bc5-468debe8111a
* Content: [Pu

[2022-06-02 21:00] bishalgoswami commented on #3857
Thanks for your comment, @howardsu1. This issue has been assigned to the doc author for review.

[2022-06-03 23:33] maggiesMSFT commented on #3857
Hi, @howardsu1 -- thanks for reaching out. I updated this article but there are several others. I'll work with Olivia to resolve the rest.
Thanks!
cc @davidiseminger

[2022-06-03 23:33] #3857 closed

[2022-06-06 14:38] Cornan opened #3858 "What is meant by "Unicode" on this page? UCS-2, or a more current version of Unicode?"
The .NET framework and SQL Server do a pretty good job of documenting which versions of Unicode (or UCS-2) are supported by various data types:

See _Strings and the Unicode Standard_ in:
https://docs.microsoft.com/en-us/dotnet/api/system.string?view=net-6.0
and
_Collation and Unicode Support_ in:
https://docs.microsoft.com/en-us/sql/relational-databases/collations/collation-and-unicode-support?vi

[2022-06-06 15:00] bishalgoswami commented on #3858
Thanks for your comment, @Cornan. This issue has been assigned to the doc author for review.

[2022-06-07 20:32] dhruvinushah opened #3861 "Symmetry Shading paragraph - Correction needed."
[

In the 'Add a Symmetry Shading' paragraph there is an example using a chart for the symmetry shading used. The example however has a **navy blue** box, but the paragraph says that it is a **green** box in the pink area. Please review / fix. Thank you!

]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5668e4cf-3837-c2

[2022-06-07 21:00] bishalgoswami commented on #3861
Thanks for your comment, @dhruvinushah. This issue has been assigned to the doc author for review.

[2022-06-08 08:35] James-Noble opened #3862 "Information "Finding your company’s Microsoft 365 Tenant ID" is provided in the wrong place"
When following through this document I get to step 6 of "Install the App" and then I'm left trying to figure out what a TenantID is and where to get it from.  I did eventually work this out for myself after spending a while looking around and searching on google, then carried on through the instructions.  Then when reading through the rest of the page I find the section "Finding your company’s Mic

[2022-06-08 09:22] paulinbar commented on #3862
Hi James, this is an excellent suggestion and I don't know why it wasn't done as you suggested in the first place. Making the change and it'll be online tomorrow. Thanks for taking the time to point this out!
@James-Noble

[2022-06-08 09:22] #3862 closed

[2022-06-08 11:00] AlinaKapshyk opened #3863 "With what type of license is it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5192cd8b-545c-5b98-6491-46d5097fcad8
* Version Independent ID: 5e70ae61-72a5-7203-c061-c1d747105ecc
* Content: [Tutorial: Build a Machine Learning model in Power BI - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-tutorial-bu

[2022-06-08 11:00] bishalgoswami commented on #3863
Thanks for your comment, @AlinaKapshyk. This issue has been assigned to the doc author for review.

[2022-06-08 15:20] Shuwi75 opened #3864 "** is not explained"
[Enter feedback here]
There is a remark ** in the line JSON, Gateway (supported) Yes**. The ** doesn't seem to be explained in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c34c249-033f-4156-0abc-8d16cbe355a0
* Version Independent ID: 20dc29c2-9cb7-2322-e80b-3f801bc34cfe
* Content: [Power BI data sources

[2022-06-08 17:12] #3845 closed

[2022-06-08 18:58] v-racpai opened #3866 "Conflicting Info for PPU features vs Capacity"
[The table on this page under "Using Premium Per User (PPU) shows that "Power BI reports on-premises is not available for PER USER and is available for CAPACITY. However, other PPU documentation such as https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-features#power-bi-premium-feature-list states that Power BI Report is available for PPU and not CAPACITY. Am I missing something

[2022-06-08 19:00] bishalgoswami commented on #3866
Thanks for your comment, @v-racpai. This issue has been assigned to the doc author for review.

[2022-06-08 19:35] v-racpai commented on #3866
Hello Team,

I would like to retract my submission since I've realize these are different products: Power BI Premium and Power BI Premium Per User - Power BI Premium VS Power BI Premium Per User - Microsoft Power BI Community<https://community.powerbi.com/t5/Community-Blog/Power-BI-Premium-VS-Power-BI-Premium-Per-User/ba-p/2202692>

Regards,

Rachel Paige| Licensing Concierge| ***@***.******@***.*

[2022-06-08 19:36] v-racpai commented on #3866
Actually, I've learned that these are two different products so there is no conflict of information -https://community.powerbi.com/t5/Community-Blog/Power-BI-Premium-VS-Power-BI-Premium-Per-User/ba-p/2202692

Please disregard my submission and I apologize for any inconvenience.

[2022-06-09 08:46] azharmobinok opened #3867 "how update HTTPS URL as this seems to be HTTP API URL"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e2c100-ccb2-a69b-cd7c-f564441c573d
* Version Independent ID: f37af593-9e1f-9bb4-e5d8-b5500505f6a5
* Content: [Tutorial: Import and analyze data from a webpage - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-tutorial-import

[2022-06-09 13:45] willz06jw opened #3868 "Power BI Professional is stated to be the highest licensing level (actually Power BI Premium Per User is)"
This page inaccurately refers to Power BI Professional as the highest license level.  Currently, Power BI Premium-Per-User is the highest licensing level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95dbd95-1d7f-0ef8-34da-dc8bb4a0a26a
* Version Independent ID: e95dbd95-1d7f-0ef8-34da-dc8bb4a0a26a
* Content: [View a

[2022-06-09 15:00] bishalgoswami commented on #3868
Thanks for your comment, @willz06jw. This issue has been assigned to the doc author for review.

[2022-06-09 19:18] MartinaPoddana opened #3869 "Update Refresh section"
Hi,

As the "Try It" buttons are still missing on MS pages, please add to the Refresh section two steps how to trigger a refresh
[https://docs.microsoft.com/en-us/power-bi/collaborate-share/service-modern-usage-metrics#troubleshoot-refresh-issues](url)

in the highlighted box, please add
Use trigger: **Scheduled Cloud flow** - select starting time and run every hour,
add Next step: **Refresh a dat

[2022-06-09 21:00] bishalgoswami commented on #3869
Thanks for your comment, @MartinaPoddana. This issue has been assigned to the doc author for review.

[2022-06-10 14:17] jonwbstr opened #3871 "How does Power BI Pro compare to the Premium SKUs?"
It would be very useful if the [Capacity nodes chart](https://docs.microsoft.com/en-us/power-bi/enterprise/service-premium-what-is#capacity-nodes) included capacity for Power BI Pro. Does pro have higher limits in some areas? I am specifically interested in "Max memory per query" today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-06-10 15:00] bishalgoswami commented on #3871
Thanks for your comment, @jonwbstr. This issue has been assigned to the doc author for review.

[2022-06-10 15:58] v-racpai commented on #3866
Hello Team,

I closed this request prematurely. Therefore, I would like to reopen this submission and ask that the original question be reviewed and clarified to confirm:

1) is Power BI Premium and Power BI Premium per User two separate products?
2) is **Power Bi Report Server** available for both Premium (capacity) and Premium Per User as shown on the following link - https://docs.microsoft.com/

[2022-06-11 09:06] timabell commented on #3688
Amazing, diff looks good to me :+1:  https://github.com/MicrosoftDocs/powerbi-docs/commit/29a731f1f3b6db47030e93d2be459de7a7cacf96

[2022-06-12 11:41] #3750 closed

[2022-06-12 13:10] KesemSharabi commented on #3871
Hi @jonwbstr,

The Power BI Pro license is intended for individual use. You can see a list of the features it supports in the [Power BI pricing](https://powerbi.microsoft.com/en-us/pricing/#features-compare-charts) page. There's also some more information here:

* [Power BI service features by license type](https://docs.microsoft.com/power-bi/fundamentals/service-features-license-type)

* [Purchas

[2022-06-12 15:13] jonwbstr commented on #3871
Read the question, how does power bi pro max mem per query compare, compare
compare to the roof sku's

You just said pro doesn't have a max mem than any of the premium sku's.
Does it have a lower max mem? Is it the same as any of the premium sku's?

What about the other resource limits?

It would be nice to know!

On Sun, Jun 12, 2022, 9:10 AM Kesem Sharabi ***@***.***>
wrote:

[2022-06-13 10:54] MathewWest opened #3872 "Missing details"
[It seems rather odd, that that there are a lot of functions in the model view not explained - one of them being "Key Column" how to organise fields on a table using folders etc... is there a full document on all Power BI functions like this?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f402391-8dfc-cfa4-89b1-335f7

[2022-06-13 11:00] bishalgoswami commented on #3872
Thanks for your comment, @MathewWest. This issue has been assigned to the doc author for review.

[2022-06-13 14:03] rocdong opened #3873 "Question about the wording of "multiple Gigabit network adapters"?"
From the document, it says:
**Initial sizing**
It can be difficult to accurately estimate the right size. We recommend that you start with a machine with at least 8 CPU cores, 8 GB of RAM, and **multiple Gigabit network adapters**. You can then measure a typical gateway workload by logging CPU and memory system counters.

Is it referring to multiple adapters for the gateway VM?
If it's YES, what's

[2022-06-13 14:18] v-racpai commented on #3866
Hello Team,

Is there an update on this submission?

Regards,

Rachel Paige| Licensing Concierge| ***@***.******@***.***>
[Machine generated alternative text: r Microsoft I Volume Licensing]

From: Bishal Goswami ***@***.***>
Sent: Wednesday, June 8, 2022 2:01 PM
To: MicrosoftDocs/powerbi-docs ***@***.***>
Cc: Rachel Paige (Capgemini US) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDo

[2022-06-13 15:00] bishalgoswami commented on #3873
Thanks for your comment, @rocdong. This issue has been assigned to the doc author for review.

[2022-06-13 17:45] phil-lgr commented on #3791
We def need PowerBI's theming feature to be fully documented, IMO, without that, it makes it much harder to create complete themes. Please consider prioritizing this. Thanks.

[2022-06-13 17:59] dbrownems opened #3874 "Data Source credentials need to be set in the service after publishing."
After publishing the pbix to the service the OAuth2 credentials need to be set by the user to enable refresh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a1e2f2-6f7a-06ab-77a5-efff8aedabe3
* Version Independent ID: 67d3cd28-51ec-07d9-ed36-840097415f56
* Content: [Use OneDrive for Business links in Power BI Desktop

[2022-06-13 19:00] bishalgoswami commented on #3874
Thanks for your comment, @dbrownems. This issue has been assigned to the doc author for review.

[2022-06-15 14:05] KesemSharabi commented on #3866
Starting an email thread for this.

[2022-06-15 15:14] stangeh opened #3875 "Q&A works with DirectQuery now"
[Enter feedback here]

This page says Q&A is not supported with DirectQuery... but I've read in other official Power BI documentation that it is indeed supported. See below.

**This needs to be corrected or deleted:**
'For example, the QuickInsights and Q&A features aren't available on a model if any of the tables within it has a storage mode of DirectQuery.'

**Proof from other Power BI documenta

[2022-06-15 17:01] bishalgoswami commented on #3875
Thanks for your comment, @stangeh. This issue has been assigned to the doc author for review.

[2022-06-15 19:30] jlmnn opened #3876 "Typo in first bullet point on governance decisions section"
Recommendations and requirements for [content ownership and ownership](https://docs.microsoft.com/en-us/power-bi/guidance/powerbi-adoption-roadmap-content-ownership-and-management).

Should be:

Recommendations and requirements for [content ownership and management](https://docs.microsoft.com/en-us/power-bi/guidance/powerbi-adoption-roadmap-content-ownership-and-management).

in this section: http

[2022-06-15 21:00] bishalgoswami commented on #3876
Thanks for your comment, @jlmnn. This issue has been assigned to the doc author for review.

[2022-06-15 22:36] peter-myers commented on #3876
Hi @jlmnn - thanks for pointing out the typo. I've fixed the error and an updated article should be published soon.

[2022-06-15 22:36] #3876 closed

[2022-06-15 22:37] dbeavon opened #3877 "Near efficient?"
"...deliver near efficient.."?

I think the "near" was supposed to be bound to the word real-time.  Never heard of anything being nearly efficient before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf7d5280-8744-92db-82b6-a89ad6f3d696
* Version Independent ID: cf7d5280-8744-92db-82b6-a89ad6f3d696
* Content: [Migrat

[2022-06-15 22:50] peter-myers commented on #3877
Hi @dbeavon - thanks for pointing out the typo. I've fixed the error and an updated article should be published soon.

[2022-06-15 22:50] #3877 closed

[2022-06-16 06:30] PetjaS opened #3878 "."
[Enter feedback here]
There is no such button in the dashboard view (edit theme).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b534707-1253-6a56-5b6e-d69edf32e1ab
* Version Independent ID: 34be0bef-858c-658f-4bbd-dc4da405759c
* Content: [Use dashboard themes in the Power BI service - Power BI](https://docs.microsoft

[2022-06-16 07:00] bishalgoswami commented on #3878
Thanks for your comment, @PetjaS. This issue has been assigned to the doc author for review.

[2022-06-16 10:02] KesemSharabi commented on #3807
Hi @patilpappmodz1,

I'm assuming you're trying to do the following:
* Backup existing datasets from Tenant A
* And restore the datasets to a capacity on Tenant B

If so, I'm afraid we don't have these steps documented.

Also, note that in the scenario described above, your reports will break and you'll need to re-published/re-bound them to the new dataset IDs.

Hope this helps,

Kesem

[2022-06-16 10:55] mansohrstrom opened #3879 "Refresh summary Gen2"
The refresh schedule booked vs available seems to be based on Gen1 limits (which is 6 for P1 vs Gen2 which has 40 concurrent refreshes). For a P1 Gen2 it uses 30 x 6 = 180 mins for calculation.

https://docs.microsoft.com/en-us/power-bi/connect-data/refresh-summaries#refresh-schedule

Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-06-16 11:01] bishalgoswami commented on #3879
Thanks for your comment, @mansohrstrom. This issue has been assigned to the doc author for review.

[2022-06-16 14:24] KesemSharabi commented on #3871
Hi @jonwbstr,

After checking with the engineering team, I can confirm that the 'Max memory per query' for Pro, is 1GB.

Hope this helps,

Kesem

[2022-06-16 14:58] james-tw opened #3880 "Duplicate page in documentation"
In the Power BI docsite sidebar, there is both a "Let users personalize visuals" and "Let consumers personalize visuals." They take you to the same place.

(Bonus feedback: It's not clear to me whether this feature lets users personalize visuals within embedded reports.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2022-06-16 15:04] james-tw opened #3881 "Duplicate page in documentation"
In the Power BI docsite sidebar, there is both a "Let users personalize visuals" and "Let consumers personalize visuals." They take you to the same place.

(Bonus feedback: It's not clear to me whether this feature lets users personalize visuals within embedded reports.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2022-06-16 15:05] james-tw commented on #3881
Apologies for the duplicate issue.

[2022-06-16 17:00] bishalgoswami commented on #3881
Thanks for your comment, @james-tw. This issue has been assigned to the doc author for review.

[2022-06-16 21:49] jonwbstr commented on #3871
Hi Kesem, the purpose of this ticket is to help improve the article.

My feedback is that the article would benefit from including the resource limits of Power BI Pro, or some sort of language that commutates to the reader what to expect when moving their reports from a Pro workspace to a Premium workspace.
When the information is added to the article is when it reaches its peak helpfulness.

Ques

[2022-06-16 21:53] maggiesMSFT commented on #3881
Hi, @james-tw -- good catch on the duplicate title in the table of contents -- oops! I'll remove one of them.

Re your bonus question: Don't know yet. I'll ask and get back to you, and put it in the article. Thanks!

[2022-06-16 23:00] cclarktax opened #3882 "Both screenshots show unsupported (later) version of R in Desktop"
### Two instructional pics on this page show the unsupported version of R (4.0.0) in the R scripting options menubox.  In reference, see pages [/en-us/power-bi/create-reports/desktop-r-visuals](https://docs.microsoft.com/en-us/power-bi/create-reports/desktop-r-visuals#enable-r-visuals-in-power-bi-desktop) and [/en-us/power-bi/visuals/service-r-visuals](https://docs.microsoft.com/en-us/power-bi/vis

[2022-06-16 23:00] bishalgoswami commented on #3882
Thanks for your comment, @cclarktax. This issue has been assigned to the doc author for review.

[2022-06-17 06:55] khybercat opened #3884 "Columnar data mismatch in suggested URL example"
I am trying to follow along with the example quoted in the web page below,
but the data referenced in the URL link does not match:

"From [Getting Started with Power BI Desktop](https://docs.microsoft.com/en-us/power-bi/fundamentals/desktop-getting-started), let's use the retirement data, which we found by connecting to a web data source, to shape that data to fit our needs."

That URL referred to

[2022-06-17 07:00] bishalgoswami commented on #3884
Thanks for your comment, @khybercat. This issue has been assigned to the doc author for review.

[2022-06-17 18:22] tatamoreira11 opened #3885 "Maybe Updated Concept? Report comes from one dataset?"
The section under reports reads: "All of the visualizations in a report come from a single dataset"
A report can be made up of multiple datasets.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e6d45d-17cd-6e69-cdf8-2b1d58bb4889
* Version Independent ID: 058458dd-4115-4dc0-c87e-0ed659bd0d60
* Con

[2022-06-17 19:00] bishalgoswami commented on #3885
Thanks for your comment, @tatamoreira11. This issue has been assigned to the doc author for review.

[2022-06-17 19:57] wiegelman opened #3886 "Web.Contents failed to get contents from 'https://api.tiingo.com/tiingo/daily/FB' (404): Not Found."
[Enter feedback here]
How can I edit this App so I can fix what appears to broken ticker - I believe FB changed to META recently and this has been broken for a few days now:

Web.Contents failed to get contents from 'https://api.tiingo.com/tiingo/daily/FB' (404): Not Found.

![image](https://user-images.githubusercontent.com/6857798/174392990-dc2a936a-d787-473d-82c0-4299da23a1ac.png)

---
#### Doc

[2022-06-17 21:01] bishalgoswami commented on #3886
Thanks for your comment, @wiegelman. This issue has been assigned to the doc author for review.

[2022-06-18 00:10] maggiesMSFT commented on #3880
Hi, @james-tw -- closing because this is a duplicate of https://github.com/MicrosoftDocs/powerbi-docs/issues/3881 -- how ironic 😁

[2022-06-18 00:10] #3880 closed

[2022-06-18 13:55] otravers opened #3888 "It's possible for guest users to publish from Power BI Desktop"
There's a roundabout way to login as an AAD guest as explained by Adam Saxton here:
https://guyinacube.com/2022/06/16/publish-from-power-bi-desktop-for-external-users/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 725c3bff-b250-c882-6f2b-1f2cb7f00341
* Version Independent ID: f48832e7-8fc5-498a-8522-435a8ce42129
* Con

[2022-06-18 15:00] bishalgoswami commented on #3888
Thanks for your comment, @otravers. This issue has been assigned to the doc author for review.

[2022-06-19 10:27] KesemSharabi commented on #3776
Hi @marshal115,

After checking this issue with the product and engineering teams, I can confirm that the documentation is correct.

[Considerations and limitations](https://docs.microsoft.com/power-bi/admin/service-admin-premium-multi-geo#considerations-and-limitations) (7th bullet) states that dataflows aren’t supported on Multi-GEO. That's correct, when using the Power BI managed storage, you d

[2022-06-19 16:25] mmahomar opened #3889 "Links to templates not working"
None of the links to the templates are working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b777f61-d4cf-bc8e-64b5-43c2e695051b
* Version Independent ID: 20c2b71c-b805-b5e1-4de3-f5bc51de91e5
* Content: [Template apps samples - Power BI](https://docs.microsoft.com/en-us/power-bi/connect-data/service-template-apps-sa

[2022-06-19 17:01] bishalgoswami commented on #3889
Thanks for your comment, @mmahomar. This issue has been assigned to the doc author for review.

[2022-06-19 20:28] tatamoreira11 opened #3890 ""Export data to Excel" has PowerPoint picture instead"
[Enter feedback here]
Under the Export data to Excel heading, a picture of a PowerPoint presentation shows up instead of Excel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cece6cf-53cd-6704-7c50-d03007f60a96
* Version Independent ID: 439ed96c-e946-d8d5-1943-82fb4b2c41b0
* Content: [Power BI consumer capabilities in

[2022-06-19 21:00] bishalgoswami commented on #3890
Thanks for your comment, @tatamoreira11. This issue has been assigned to the doc author for review.

[2022-06-20 05:48] khybercat commented on #3884
Hi David (@davidiseminger),

Have you managed to look at this query?
Regards
Malcolm

[2022-06-20 14:00] yaniv-intlock opened #3891 "Issue: Republishing when RLS is configured"
Could you please clarify what is the error in more technical details? - [Issue: Republishing when RLS is configured](https://docs.microsoft.com/en-us/power-bi/enterprise/service-admin-rls#issue-republishing-when-rls-is-configured)

Is it during publish? or is it after the pbix has been published and while trying to view the report?

Is it related to losing the members of a role after republishing?

[2022-06-20 16:38] jsh121988 opened #3892 "Document contradicts itself in 'GET /refreshes'"
Under 'GET /refreshes', the example response body does not match the content just below it for 'Response Properties'.

1. The status values in 'GET /refreshes' doesn't match 'Response Properties'.
2. The status values in 'GET /refreshes' are actually for a new column extendedStatus.
3. The status values for extendedStatus do not match the actual values I'm getting. ie: Docs say 'notStarted', API r

[2022-06-20 17:01] bishalgoswami commented on #3892
Thanks for your comment, @jsh121988. This issue has been assigned to the doc author for review.

[2022-06-20 18:37] Didierma92 commented on #1372
Any News for that important matter ? Thsi function is enlisted in the DAX documentation and does not work.

[2022-06-20 20:14] mercer2000 opened #3893 "Add link to creating a Calculated Table"
The **Generate with DAX** section doesn't provide any details how to create a calculated table. It would be helpful to add the steps needed to add a calculated table using DAX.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e837063b-c36b-6bac-5c6b-10534146325c
* Version Independent ID: 7dcf1114-8

[2022-06-20 21:00] bishalgoswami commented on #3893
Thanks for your comment, @mercer2000. This issue has been assigned to the doc author for review.

[2022-06-20 21:09] Minewiskan commented on #3892
#in-progress

[2022-06-21 10:14] b3rntsen opened #3895 "gateway seems required now on power bi service"
We tried creating a dataset on powerbi desktop connecting directly to a sql server online. When we upload the data set to power bi service, it notes that the data sources has been deleted and the controls for datasource has been deleted. It's only possible to add a gateway. This seems to be in discrepancy with what is expressed in this document.

---
#### Document Details

⚠ *Do not edit this sect

[2022-06-21 11:01] bishalgoswami commented on #3895
Thanks for your comment, @b3rntsen. This issue has been assigned to the doc author for review.

[2022-06-22 03:56] ctako opened #3897 "DataSource.Error: The table has no visible columns and cannot be queried."
Hi there, I encountered the above error when I tried to connect to a table in Amazon Redshift. Any idea why? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886f5a19-b68e-777d-670a-99f8dd7e3cac
* Version Independent ID: c5731857-58ec-de4c-785c-f412e097805a
* Content: [Connect to an Amazon Redshift database in Po

[2022-06-22 05:01] bishalgoswami commented on #3897
Thanks for your comment, @ctako. This issue has been assigned to the doc author for review.

[2022-06-22 06:21] genevievekoens opened #3898 "Power BI report Server VM not working"
A new version has rolled out. The description does not match the new version and I cannot get it to work anymore. Very frustrating since tomorrow I have to demo it  for the Dutch government and now I can't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c7b5d6-c9a4-3445-81c1-41dc41ae0929
* Version Independent ID: a45

[2022-06-22 07:01] bishalgoswami commented on #3898
Thanks for your comment, @genevievekoens. This issue has been assigned to the doc author for review.

[2022-06-22 11:51] pawarbi opened #3899 "Update browser Requirements"
Under minimum requirements, the page suggests that the minimum requirements for the browser are IE11 or later. Now that IE has been deprecated, should the browser min requirements be updated ?

[2022-06-22 13:01] bishalgoswami commented on #3899
Thanks for your comment, @pawarbi. This issue has been assigned to the doc author for review.

[2022-06-22 13:14] KesemSharabi commented on #3899
Hi @pawarbi,

Can you please state which document you're referring to?

Thanks,

Kesem

[2022-06-22 13:24] KesemSharabi commented on #3871
Hi @jonwbstr,

Thank you for your feedback and for getting involved.

In the future we'll consider adding Pro to this table. As explained before, the Pro vs Premium is more of a feature comparison rather than a resource and limitations comparison. In any case, we'll add that to our list and talk to the product team about adding additional information regarding the Pro licesne.

Thanks again and ho

[2022-06-22 13:24] #3871 closed

[2022-06-22 13:24] #3826 closed

[2022-06-22 13:26] #3804 closed

[2022-06-22 15:07] akhil25mani opened #3900 "Share Functionality within an App vs. Workspace"
I have been testing the ability to share a report with filters and I see that the "Share" option is available in the workspace (Staging & Production) but not once a report is published to an app. Do you know if the "Share" feature can be added to the app as well?

Share Option in Workspace:
![Share](https://user-images.githubusercontent.com/108012218/175064687-96aaf3ec-874c-49db-a2f8-e4e40ba4fce0.

[2022-06-22 20:05] JamesDBartlett3 opened #3901 "Stale data in COVID-19 US Tracking Report template app"
The COVID-19 US Tracking Report template app is set to retrieve its data from these two CSV files:

- [covid_confirmed_usafacts.csv (usafactsstatic.blob.core.windows.net)](https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv)
- [covid_deaths_usafacts.csv (usafactsstatic.blob.core.windows.net)](https://usafactsstatic.blob.core.windows.net/public/data/covid-

[2022-06-22 20:21] maggiesMSFT commented on #3804
Hi, @vhjy123 -- guess what? You're right! You can't upload from Power BI Report Builder. But you can still upload your paginated reports. Here's what I added to the article:
You can start in the report server and upload it, or you can start in Microsoft Report Builder, and save it.

However, you can't start in Power BI Report Builder and save it. Use the upload to the report server option instead.

[2022-06-22 23:28] maggiesMSFT commented on #3900
HI, @akhil25mani -- interesting observation! I'll check with the product team. Meanwhile, I suggest checking https://ideas.powerbi.com/ideas/ to see if anyone else has suggested it. If not, you can suggest it!

[2022-06-23 00:50] maggiesMSFT commented on #3898
@genevievekoens -- I am so sorry! The VM is indeed not working. Here's a link to a VM with Power BI Report Server:
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoftpowerbi.pbirs?tab=overview
I don't know if that's helpful. It doesn't have all the samples installed, so you can't follow along in the tutorial. I don't have a timeline for recreating the VM, so I think I have to r

[2022-06-23 06:17] genevievekoens commented on #3898
So sad ☹ It was a great solution. I hope they get it up and running again!

Met vriendelijke groet,

Genevieve Koens
06 1611 5283

Van: Maggie ***@***.***>
Verzonden: donderdag 23 juni 2022 02:51
Aan: ***@***.***>
CC: ***@***.***>; ***@***.***>
Onderwerp: Re: [MicrosoftDocs/powerbi-docs] Power BI report Server VM not working (Issue #3898)

@genevievekoens<https://nam12.safelinks.protection.outlook

[2022-06-23 15:07] pianoboy-rishul opened #3903 "Feedback"
Informative page...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200dd45-15ab-ee4a-9818-10cc81475f64
* Version Independent ID: 0b96ac28-e2a2-41c9-eff0-efd864fc0529
* Content: [Key influencers visualizations tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-influencers)
* C

[2022-06-23 15:08] pianoboy-rishul opened #3904 "Feedback"
Informative page about Power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da6c49a-f7cc-213c-adc3-5b33b76716dd
* Version Independent ID: 2be2786b-c764-c142-0821-24f6a28b2459
* Content: [Smart narratives tutorial - Power BI](https://docs.microsoft.com/en-us/power-bi/visuals/power-bi-visualization-smart-narrative)
*

[2022-06-23 15:21] mkke2000 opened #3905 "SharePoint List virtualization"
[Enter feedback here]

I have created an PowerBI report using SharePoint Online list Integrate/virtualization and published to this list. Does the viewer who has the permission to this list needs a license to view the report?

Thanks,
Meng

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7b35f1-76fc-3c6c-b97c-42b9724c7

[2022-06-23 17:01] bishalgoswami commented on #3905
Thanks for your comment, @mkke2000. This issue has been assigned to the doc author for review.

[2022-06-23 17:01] bishalgoswami commented on #3904
Thanks for your comment, @pianoboy-rishul. This issue has been assigned to the doc author for review.

[2022-06-23 17:25] ibTnJohn opened #3906 "Incorrect sentence"
"With A SKUs, all users who consume content also require Pro licenses."

The entire point of an A SKU is to embed for users without a Pro license.  Licensing is confusing enough for this product.  Please correct this sentence or clarify its meaning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c351d62-f45d-908e-bbc5

[2022-06-23 18:15] maggiesMSFT commented on #3900
Hi, @akhil25mani -- you're right, that is the current behavior. The workaround is to have the app owner share the report with that person. but it wouldn't be filtered...
Definitely suggest it at https://ideas.powerbi.com/ideas/! The product team pays a lot of attention to what customers ask for.

[2022-06-23 18:15] #3900 closed

[2022-06-23 19:01] bishalgoswami commented on #3906
Thanks for your comment, @ibTnJohn. This issue has been assigned to the doc author for review.

[2022-06-24 01:37] maggiesMSFT commented on #3820
Hi, @morcinim -- I see what you mean, it's not clear. I've updated the Prereqs section to this:

**Prerequisites**
- To publish a Power BI paginated report to the Power BI service, you need at least a Contributor role in a workspace. Read more about [roles in the new workspaces](../collaborate-share/service-roles-new-workspaces).
- You also need either a [Premium Per User (PPU)](../enterprise/serv

[2022-06-24 01:37] #3820 closed

[2022-06-24 12:59] primetimeai3000 opened #3908 "Power BI Template App Samples - Page Not Found"
I'm trying to access template app samples Template app samples from the link below

https://docs.microsoft.com/en-us/power-bi/connect-data/service-template-apps-samples

I'm looking for the QBO Power BI template app specifically. I keep getting a "Page not found" error when clicking the link.

![This site cannot be reached](https://user-images.githubusercontent.com/108133825/175540774-c45fa245-e56